{
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "PerformDiskShrinkContext": {
      "properties": {
        "targetSizeGb": {
          "format": "int64",
          "description": "The target disk shrink size in GigaBytes.",
          "type": "string"
        }
      },
      "id": "PerformDiskShrinkContext",
      "description": "Perform disk shrink context.",
      "type": "object"
    },
    "InstancesRotateServerCertificateRequest": {
      "description": "Rotate server certificate request.",
      "type": "object",
      "id": "InstancesRotateServerCertificateRequest",
      "properties": {
        "rotateServerCertificateContext": {
          "description": "Optional. Contains details about the rotate server certificate operation.",
          "$ref": "RotateServerCertificateContext"
        }
      }
    },
    "DenyMaintenancePeriod": {
      "id": "DenyMaintenancePeriod",
      "description": "Deny maintenance Periods. This specifies a date range during when all CSA rollout will be denied.",
      "type": "object",
      "properties": {
        "endDate": {
          "description": "\"deny maintenance period\" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the no maintenance interval recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        },
        "startDate": {
          "description": "\"deny maintenance period\" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the deny maintenance period recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01",
          "type": "string"
        },
        "time": {
          "description": "Time in UTC when the \"deny maintenance period\" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00",
          "type": "string"
        }
      }
    },
    "InstancesPreCheckMajorVersionUpgradeRequest": {
      "properties": {
        "preCheckMajorVersionUpgradeContext": {
          "description": "Required. Contains details about the pre-check major version upgrade operation.",
          "$ref": "PreCheckMajorVersionUpgradeContext"
        }
      },
      "description": "Request for Pre-checks for MVU",
      "type": "object",
      "id": "InstancesPreCheckMajorVersionUpgradeRequest"
    },
    "CloneContext": {
      "id": "CloneContext",
      "description": "Database instance clone context.",
      "type": "object",
      "properties": {
        "pointInTime": {
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "type": "string",
          "format": "google-datetime"
        },
        "destinationInstanceName": {
          "description": "Required. Name of the Cloud SQL instance to be created as a clone.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#cloneContext`.",
          "type": "string"
        },
        "databaseNames": {
          "items": {
            "type": "string"
          },
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty.",
          "type": "array"
        },
        "preferredZone": {
          "description": "Optional. Copy clone and point-in-time recovery clone of an instance to the specified zone. If no zone is specified, clone to the same primary zone as the source instance. This field applies to all DB types.",
          "type": "string"
        },
        "sourceInstanceDeletionTime": {
          "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "binLogCoordinates": {
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.",
          "$ref": "BinLogCoordinates"
        },
        "pitrTimestampMs": {
          "format": "int64",
          "description": "Reserved for future use.",
          "type": "string"
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "destinationProject": {
          "description": "Optional. The project ID of the destination project where the cloned instance will be created. To perform a cross-project clone, this field is required. If not specified, the clone is created in the same project as the source instance.",
          "type": "string"
        },
        "destinationNetwork": {
          "description": "Optional. The fully qualified URI of the VPC network to which the cloned instance will be connected via Private Services Access for private IP. For example:`projects/my-network-project/global/networks/my-network`. This field is only required for cross-project cloning.",
          "type": "string"
        },
        "preferredSecondaryZone": {
          "description": "Optional. Copy clone and point-in-time recovery clone of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field. This field applies to all DB types.",
          "type": "string"
        }
      }
    },
    "BinLogCoordinates": {
      "description": "Binary log coordinates.",
      "type": "object",
      "id": "BinLogCoordinates",
      "properties": {
        "binLogPosition": {
          "description": "Position (offset) within the binary log file.",
          "type": "string",
          "format": "int64"
        },
        "binLogFileName": {
          "description": "Name of the binary log file for a Cloud SQL instance.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#binLogCoordinates`.",
          "type": "string"
        }
      }
    },
    "InstancesImportRequest": {
      "properties": {
        "importContext": {
          "description": "Contains details about the import operation.",
          "$ref": "ImportContext"
        }
      },
      "description": "Database instance import request.",
      "type": "object",
      "id": "InstancesImportRequest"
    },
    "Message": {
      "id": "Message",
      "description": "Represents a notice or warning message from the database.",
      "type": "object",
      "properties": {
        "message": {
          "description": "The full message string. For PostgreSQL, this is a formatted string that may include severity, code, and the notice/warning message. For MySQL, this contains the warning message.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the message (e.g., \"NOTICE\" for PostgreSQL, \"WARNING\" for MySQL).",
          "type": "string"
        }
      }
    },
    "PoolNodeConfig": {
      "id": "PoolNodeConfig",
      "description": "Details of a single read pool node of a read pool.",
      "type": "object",
      "properties": {
        "dnsName": {
          "description": "Output only. The DNS name of the read pool node.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ],
          "description": "Output only. The current state of the read pool node.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the read pool node, to be used for retrieving metrics and logs.",
          "type": "string"
        },
        "pscServiceAttachmentLink": {
          "readOnly": true,
          "description": "Output only. The Private Service Connect (PSC) service attachment of the read pool node.",
          "type": "string"
        },
        "pscAutoConnections": {
          "readOnly": true,
          "description": "Output only. The list of settings for requested automatically-setup Private Service Connect (PSC) consumer endpoints that can be used to connect to this read pool node.",
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          }
        },
        "ipAddresses": {
          "readOnly": true,
          "items": {
            "$ref": "IpMapping"
          },
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "type": "array"
        },
        "gceZone": {
          "readOnly": true,
          "description": "Output only. The zone of the read pool node.",
          "type": "string"
        },
        "dnsNames": {
          "readOnly": true,
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this read pool node.",
          "type": "array"
        }
      }
    },
    "InstancesRestoreBackupRequest": {
      "id": "InstancesRestoreBackupRequest",
      "description": "Database instance restore backup request.",
      "type": "object",
      "properties": {
        "restoreInstanceSettings": {
          "description": "Optional. By using this parameter, Cloud SQL overrides any instance settings stored in the backup you are restoring from. You can't change the instance's major database version and you can only increase the disk size. You can use this field to restore new instances only. This field is not applicable for restore to existing instances.",
          "$ref": "DatabaseInstance"
        },
        "backup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: projects/{project-id}/backups/{backup-uid}. Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        },
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        },
        "backupdrBackup": {
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: \"projects/{project-id}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}/backups/{backup-uid}\". Only one of restore_backup_context, backup, backupdr_backup can be passed to the input.",
          "type": "string"
        },
        "restoreInstanceClearOverridesFieldNames": {
          "description": "Optional. This field has the same purpose as restore_instance_settings, changes any instance settings stored in the backup you are restoring from. With the difference that these fields are cleared in the settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ConnectPoolNodeConfig": {
      "description": "Details of a single read pool node of a read pool.",
      "type": "object",
      "id": "ConnectPoolNodeConfig",
      "properties": {
        "ipAddresses": {
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          },
          "readOnly": true
        },
        "dnsName": {
          "readOnly": true,
          "description": "Output only. The DNS name of the read pool node.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the read pool node. Doesn't include the project ID.",
          "type": "string",
          "readOnly": true
        },
        "dnsNames": {
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this read pool node.",
          "type": "array",
          "readOnly": true
        }
      }
    },
    "SqlInstancesAcquireSsrsLeaseResponse": {
      "properties": {
        "operationId": {
          "description": "The unique identifier for this operation.",
          "type": "string"
        }
      },
      "id": "SqlInstancesAcquireSsrsLeaseResponse",
      "description": "Response for the acquire SSRS lease request.",
      "type": "object"
    },
    "ExternalSyncSelectedObject": {
      "properties": {
        "database": {
          "description": "The name of the database that Cloud SQL migrates.",
          "type": "string"
        }
      },
      "id": "ExternalSyncSelectedObject",
      "description": "The selected object that Cloud SQL migrates.",
      "type": "object"
    },
    "InstancesAcquireSsrsLeaseRequest": {
      "properties": {
        "acquireSsrsLeaseContext": {
          "description": "Contains details about the acquire SSRS lease operation.",
          "$ref": "AcquireSsrsLeaseContext"
        }
      },
      "id": "InstancesAcquireSsrsLeaseRequest",
      "description": "Request to acquire a lease for SSRS.",
      "type": "object"
    },
    "SqlServerDatabaseDetails": {
      "properties": {
        "compatibilityLevel": {
          "format": "int32",
          "description": "The version of SQL Server with which the database is to be made compatible",
          "type": "integer"
        },
        "recoveryModel": {
          "description": "The recovery model of a SQL Server database",
          "type": "string"
        }
      },
      "id": "SqlServerDatabaseDetails",
      "description": "Represents a Sql Server database on the Cloud SQL instance.",
      "type": "object"
    },
    "SqlServerEntraIdConfig": {
      "properties": {
        "tenantId": {
          "description": "Optional. The tenant ID for the Entra ID configuration.",
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. This is always sql#sqlServerEntraIdConfig",
          "type": "string"
        },
        "applicationId": {
          "description": "Optional. The application ID for the Entra ID configuration.",
          "type": "string"
        }
      },
      "id": "SqlServerEntraIdConfig",
      "description": "SQL Server Entra ID configuration.",
      "type": "object"
    },
    "IpMapping": {
      "id": "IpMapping",
      "description": "Database instance IP mapping",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported.",
          "type": "string",
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ],
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ]
        },
        "ipAddress": {
          "description": "The IP address assigned.",
          "type": "string"
        },
        "timeToRetire": {
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Backup": {
      "description": "A backup resource.",
      "type": "object",
      "id": "Backup",
      "properties": {
        "kmsKeyVersion": {
          "description": "Output only. This output contains the encryption status for a backup and the version of the KMS key that's used to encrypt the Cloud SQL instance.",
          "type": "string",
          "readOnly": true
        },
        "location": {
          "description": "The storage location of the backups. The location can be multi-regional.",
          "type": "string"
        },
        "kmsKey": {
          "readOnly": true,
          "description": "Output only. This output contains the encryption configuration for a backup and the resource name of the KMS key for disk encryption.",
          "type": "string"
        },
        "instanceDeletionTime": {
          "readOnly": true,
          "description": "Optional. Output only. Timestamp in UTC of when the instance associated with this backup is deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "description": {
          "description": "The description of this backup.",
          "type": "string"
        },
        "ttlDays": {
          "format": "int64",
          "description": "Input only. The time-to-live (TTL) interval for this resource (in days). For example: ttlDays:7, means 7 days from the current time. The expiration time can't exceed 365 days from the time that the backup is created.",
          "type": "string"
        },
        "kind": {
          "description": "Output only. This is always `sql#backup`.",
          "type": "string",
          "readOnly": true
        },
        "backupKind": {
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ],
          "description": "Output only. Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "type": "string"
        },
        "backupInterval": {
          "readOnly": true,
          "description": "Output only. This output contains the following values: start_time: All database writes up to this time are available. end_time: Any database writes after this time aren't available.",
          "$ref": "Interval"
        },
        "satisfiesPzi": {
          "description": "Output only. This status indicates whether the backup satisfies PZI. The status is reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "type": {
          "readOnly": true,
          "enumDescriptions": [
            "This is an unknown backup type.",
            "The backup schedule triggers a backup automatically.",
            "The user triggers a backup manually.",
            "The backup created when instance is deleted."
          ],
          "enum": [
            "SQL_BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND",
            "FINAL"
          ],
          "description": "Output only. The type of this backup. The type can be \"AUTOMATED\", \"ON_DEMAND\" or “FINAL”.",
          "type": "string"
        },
        "error": {
          "description": "Output only. Information about why the backup operation fails (for example, when the backup state fails).",
          "$ref": "OperationError",
          "readOnly": true
        },
        "maxChargeableBytes": {
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "instance": {
          "description": "The name of the source database instance.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
          "type": "string",
          "readOnly": true
        },
        "timeZone": {
          "description": "Output only. This output contains a backup time zone. If a Cloud SQL for SQL Server instance has a different time zone from the backup's time zone, then the restore to the instance doesn't happen.",
          "type": "string",
          "readOnly": true
        },
        "instanceSettings": {
          "description": "Optional. Output only. The instance setting of the source instance that's associated with this backup.",
          "$ref": "DatabaseInstance",
          "readOnly": true
        },
        "backupRun": {
          "description": "Output only. The mapping to backup run resource used for IAM validations.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The status of this backup.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup that's added to a queue.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup is successful.",
            "The backup is being deleted.",
            "Deletion of the backup failed."
          ],
          "enum": [
            "SQL_BACKUP_STATE_UNSPECIFIED",
            "ENQUEUED",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "DELETING",
            "DELETION_FAILED"
          ]
        },
        "databaseVersion": {
          "description": "Output only. The database version of the instance of at the time this backup was made.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ]
        },
        "satisfiesPzs": {
          "description": "Output only. This status indicates whether the backup satisfies PZS. The status is reserved for future use.",
          "type": "boolean",
          "readOnly": true
        },
        "selfLink": {
          "description": "Output only. The URI of this resource.",
          "type": "string",
          "readOnly": true
        },
        "expiryTime": {
          "format": "google-datetime",
          "description": "Backup expiration time. A UTC timestamp of when this backup expired.",
          "type": "string"
        }
      }
    },
    "GenerateEphemeralCertResponse": {
      "description": "Ephemeral certificate creation request.",
      "type": "object",
      "id": "GenerateEphemeralCertResponse",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      }
    },
    "SslCertsListResponse": {
      "properties": {
        "items": {
          "description": "List of client certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        },
        "kind": {
          "description": "This is always `sql#sslCertsList`.",
          "type": "string"
        }
      },
      "description": "SslCerts list response.",
      "type": "object",
      "id": "SslCertsListResponse"
    },
    "Database": {
      "properties": {
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "collation": {
          "description": "The Cloud SQL collation value.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "name": {
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#database`.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "charset": {
          "description": "The Cloud SQL charset value.",
          "type": "string"
        }
      },
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "type": "object",
      "id": "Database"
    },
    "LocationPreference": {
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "type": "object",
      "id": "LocationPreference",
      "properties": {
        "kind": {
          "description": "This is always `sql#locationPreference`.",
          "type": "string"
        },
        "followGaeApplication": {
          "deprecated": true,
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "zone": {
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "secondaryZone": {
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). To disable this field, set it to 'no_secondary_zone'.",
          "type": "string"
        }
      }
    },
    "FinalBackupConfig": {
      "id": "FinalBackupConfig",
      "description": "Config used to determine the final backup settings for the instance.",
      "type": "object",
      "properties": {
        "enabled": {
          "description": "Whether the final backup is enabled for the instance.",
          "type": "boolean"
        },
        "retentionDays": {
          "format": "int32",
          "description": "The number of days to retain the final backup after the instance deletion. The final backup will be purged at (time_of_instance_deletion + retention_days).",
          "type": "integer"
        }
      }
    },
    "ImportContext": {
      "properties": {
        "tdeImportOptions": {
          "description": "Optional. Import parameters specific to SQL Server TDE certificates",
          "type": "object",
          "properties": {
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPath": {
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            },
            "name": {
              "description": "Required. Certificate name. Applicable only for SQL Server instances.",
              "type": "string"
            }
          }
        },
        "bakImportOptions": {
          "properties": {
            "bakType": {
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ],
              "description": "Type of the bak content, FULL or DIFF",
              "type": "string",
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ]
            },
            "striped": {
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "stopAt": {
              "format": "google-datetime",
              "description": "Optional. The timestamp when the import should stop. This timestamp is in the [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`). This field is equivalent to the STOPAT keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string"
            },
            "encryptionOptions": {
              "type": "object",
              "properties": {
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "keepEncrypted": {
                  "description": "Optional. Whether the imported file remains encrypted.",
                  "type": "boolean"
                },
                "certPath": {
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                }
              }
            },
            "noRecovery": {
              "description": "Whether or not the backup importing will restore database with NORECOVERY option. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "recoveryOnly": {
              "description": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "stopAtMark": {
              "description": "Optional. The marked transaction where the import should stop. This field is equivalent to the STOPATMARK keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string"
            }
          },
          "description": "Import parameters specific to SQL Server .BAK files",
          "type": "object"
        },
        "fileType": {
          "description": "The file type for the specified uri.\\`SQL`: The file contains SQL statements. \\`CSV`: The file contains CSV data.",
          "type": "string",
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ],
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ]
        },
        "database": {
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. For entire instance parallel import operations, the database is overridden by the database name stored in subdirectory name. If `fileType` is `CSV`, one database must be specified.",
          "type": "string"
        },
        "sqlImportOptions": {
          "description": "Optional. Options for importing data from SQL statements.",
          "type": "object",
          "properties": {
            "threads": {
              "format": "int32",
              "description": "Optional. The number of threads to use for parallel import.",
              "type": "integer"
            },
            "parallel": {
              "description": "Optional. Whether or not the import should be parallel.",
              "type": "boolean"
            },
            "postgresImportOptions": {
              "description": "Optional. Options for importing from a Cloud SQL for PostgreSQL instance.",
              "type": "object",
              "properties": {
                "ifExists": {
                  "description": "Optional. The --if-exists flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel.",
                  "type": "boolean"
                },
                "clean": {
                  "description": "Optional. The --clean flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel.",
                  "type": "boolean"
                }
              }
            }
          }
        },
        "kind": {
          "description": "This is always `sql#importContext`.",
          "type": "string"
        },
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        },
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "csvImportOptions": {
          "properties": {
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            },
            "columns": {
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            },
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            }
          },
          "description": "Options for importing data as CSV.",
          "type": "object"
        }
      },
      "id": "ImportContext",
      "description": "Database instance import context.",
      "type": "object"
    },
    "SslCertsInsertRequest": {
      "properties": {
        "commonName": {
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance.",
          "type": "string"
        }
      },
      "description": "SslCerts insert request.",
      "type": "object",
      "id": "SslCertsInsertRequest"
    },
    "SqlServerUserDetails": {
      "properties": {
        "serverRoles": {
          "description": "The server roles for this user",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "disabled": {
          "description": "If the user has been disabled",
          "type": "boolean"
        }
      },
      "id": "SqlServerUserDetails",
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "type": "object"
    },
    "Row": {
      "properties": {
        "values": {
          "description": "The values for the row.",
          "type": "array",
          "items": {
            "$ref": "Value"
          }
        }
      },
      "description": "Contains the values for a row.",
      "type": "object",
      "id": "Row"
    },
    "SslCertDetail": {
      "properties": {
        "certPrivateKey": {
          "description": "The private key for the client cert, in pem format. Keep private in order to protect your security.",
          "type": "string"
        },
        "certInfo": {
          "description": "The public information about the cert.",
          "$ref": "SslCert"
        }
      },
      "id": "SslCertDetail",
      "description": "SslCertDetail.",
      "type": "object"
    },
    "OnPremisesConfiguration": {
      "properties": {
        "dumpFilePath": {
          "description": "The dump file to create the Cloud SQL replica.",
          "type": "string"
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "selectedObjects": {
          "description": "Optional. A list of objects that the user selects for replication from an external source instance.",
          "type": "array",
          "items": {
            "$ref": "SelectedObjects"
          }
        },
        "kind": {
          "description": "This is always `sql#onPremisesConfiguration`.",
          "type": "string"
        },
        "hostPort": {
          "description": "The host and port of the on-premises instance in host:port format",
          "type": "string"
        },
        "username": {
          "description": "The username for connecting to on-premises instance.",
          "type": "string"
        },
        "clientKey": {
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate.",
          "type": "string"
        },
        "sourceInstance": {
          "description": "The reference to Cloud SQL instance if the source is Cloud SQL.",
          "$ref": "InstanceReference"
        },
        "password": {
          "description": "The password for connecting to on-premises instance.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        },
        "sslOption": {
          "description": "Optional. SSL option for replica connection to the on-premises source.",
          "type": "string",
          "enum": [
            "SSL_OPTION_UNSPECIFIED",
            "DISABLE",
            "REQUIRE",
            "VERIFY_CA"
          ],
          "enumDescriptions": [
            "Unknown SSL option i.e. SSL option not specified by user.",
            "SSL is not used for replica connection to the on-premises source.",
            "SSL is required for replica connection to the on-premises source.",
            "Verify CA is required for replica connection to the on-premises source."
          ]
        }
      },
      "description": "On-premises instance configuration.",
      "type": "object",
      "id": "OnPremisesConfiguration"
    },
    "SslCert": {
      "description": "SslCerts Resource",
      "type": "object",
      "id": "SslCert",
      "properties": {
        "expirationTime": {
          "description": "The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "certSerialNumber": {
          "description": "Serial number, as extracted from the certificate.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`",
          "type": "string"
        },
        "sha1Fingerprint": {
          "description": "Sha1 Fingerprint.",
          "type": "string"
        },
        "cert": {
          "description": "PEM representation.",
          "type": "string"
        },
        "commonName": {
          "description": "User supplied name. Constrained to [a-zA-Z.-_ ]+.",
          "type": "string"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#sslCert`.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        }
      }
    },
    "SqlScheduledMaintenance": {
      "properties": {
        "canReschedule": {
          "description": "If the scheduled maintenance can be rescheduled.",
          "type": "boolean"
        },
        "canDefer": {
          "type": "boolean",
          "deprecated": true
        },
        "scheduleDeadlineTime": {
          "description": "Maintenance cannot be rescheduled to start beyond this deadline.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "SqlScheduledMaintenance",
      "description": "Any scheduled maintenance for this instance.",
      "type": "object"
    },
    "DatabaseFlags": {
      "description": "Database flags for Cloud SQL instances.",
      "type": "object",
      "id": "DatabaseFlags",
      "properties": {
        "name": {
          "description": "The name of the flag. These flags are passed at instance startup, so include both server options and system variables. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](https://cloud.google.com/sql/docs/mysql/flags) in the Cloud SQL documentation.",
          "type": "string"
        },
        "value": {
          "description": "The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        }
      }
    },
    "InstancesListServerCasResponse": {
      "id": "InstancesListServerCasResponse",
      "description": "Instances ListServerCas response.",
      "type": "object",
      "properties": {
        "activeVersion": {
          "type": "string"
        },
        "certs": {
          "description": "List of server CA certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        },
        "kind": {
          "description": "This is always `sql#instancesListServerCas`.",
          "type": "string"
        }
      }
    },
    "ConnectionPoolConfig": {
      "id": "ConnectionPoolConfig",
      "description": "The managed connection pooling configuration.",
      "type": "object",
      "properties": {
        "poolerCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. Number of connection poolers.",
          "type": "integer"
        },
        "flags": {
          "items": {
            "$ref": "ConnectionPoolFlags"
          },
          "description": "Optional. List of connection pool configuration flags.",
          "type": "array"
        },
        "connectionPoolingEnabled": {
          "description": "Whether managed connection pooling is enabled.",
          "type": "boolean"
        }
      }
    },
    "BackupRetentionSettings": {
      "description": "We currently only support backup retention by specifying the number of backups we will retain.",
      "type": "object",
      "id": "BackupRetentionSettings",
      "properties": {
        "retainedBackups": {
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.",
          "type": "integer",
          "format": "int32"
        },
        "retentionUnit": {
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ],
          "description": "The unit that 'retained_backups' represents.",
          "type": "string",
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ]
        }
      }
    },
    "TiersListResponse": {
      "id": "TiersListResponse",
      "description": "Tiers list response.",
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "Tier"
          },
          "description": "List of tiers.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `sql#tiersList`.",
          "type": "string"
        }
      }
    },
    "ExecuteSqlPayload": {
      "properties": {
        "user": {
          "description": "Optional. The name of an existing database user to connect to the database. When `auto_iam_authn` is set to true, this field is ignored and the API caller's IAM user is used.",
          "type": "string"
        },
        "application": {
          "description": "Optional. Specifies the name of the application that is making the request. This field is used for telemetry. Only alphanumeric characters, dashes, and underscores are allowed. The maximum length is 32 characters.",
          "type": "string"
        },
        "autoIamAuthn": {
          "description": "Optional. When set to true, the API caller identity associated with the request is used for database authentication. The API caller must be an IAM user in the database.",
          "type": "boolean"
        },
        "sqlStatement": {
          "description": "Required. SQL statements to run on the database. It can be a single statement or a sequence of statements separated by semicolons.",
          "type": "string"
        },
        "rowLimit": {
          "format": "int64",
          "description": "Optional. The maximum number of rows returned per SQL statement.",
          "type": "string"
        },
        "database": {
          "description": "Optional. Name of the database on which the statement will be executed.",
          "type": "string"
        },
        "partialResultMode": {
          "description": "Optional. Controls how the API should respond when the SQL execution result is incomplete due to the size limit or another error. The default mode is to throw an error.",
          "type": "string",
          "enum": [
            "PARTIAL_RESULT_MODE_UNSPECIFIED",
            "FAIL_PARTIAL_RESULT",
            "ALLOW_PARTIAL_RESULT"
          ],
          "enumDescriptions": [
            "Unspecified mode, effectively the same as `FAIL_PARTIAL_RESULT`.",
            "Throw an error if the result exceeds 10 MB or if only a partial result can be retrieved. Don't return the result.",
            "Return a truncated result and set `partial_result` to true if the result exceeds 10 MB or if only a partial result can be retrieved due to error. Don't throw an error."
          ]
        }
      },
      "id": "ExecuteSqlPayload",
      "description": "The request payload used to execute SQL statements.",
      "type": "object"
    },
    "DatabaseInstance": {
      "id": "DatabaseInstance",
      "description": "A Cloud SQL instance resource.",
      "type": "object",
      "properties": {
        "maintenanceVersion": {
          "description": "The current software version on the instance.",
          "type": "string"
        },
        "serviceAccountEmailAddress": {
          "description": "The service account email address assigned to the instance.\\This property is read-only.",
          "type": "string"
        },
        "ipAddresses": {
          "description": "The assigned IP addresses for the instance.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "outOfDiskReport": {
          "description": "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "$ref": "SqlOutOfDiskReport"
        },
        "name": {
          "description": "Name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as primary in the replication setup.",
          "type": "string"
        },
        "replicaConfiguration": {
          "description": "Configuration specific to failover replicas and read replicas.",
          "$ref": "ReplicaConfiguration"
        },
        "diskEncryptionConfiguration": {
          "description": "Disk encryption configuration specific to an instance.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "secondaryGceZone": {
          "description": "The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone.",
          "type": "string"
        },
        "nodeCount": {
          "format": "int32",
          "description": "The number of read pool nodes in a read pool.",
          "type": "integer"
        },
        "replicaNames": {
          "items": {
            "type": "string"
          },
          "description": "The replicas of the instance.",
          "type": "array"
        },
        "availableMaintenanceVersions": {
          "description": "Output only. List all maintenance versions applicable on the instance",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "dnsNames": {
          "readOnly": true,
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this instance.",
          "type": "array"
        },
        "scheduledMaintenance": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "$ref": "SqlScheduledMaintenance"
        },
        "pscServiceAttachmentLink": {
          "readOnly": true,
          "description": "Output only. The link to service attachment of PSC instance.",
          "type": "string"
        },
        "primaryDnsName": {
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. DEPRECATED: please use write_endpoint instead.",
          "type": "string"
        },
        "instanceType": {
          "description": "The instance type.",
          "type": "string",
          "enum": [
            "SQL_INSTANCE_TYPE_UNSPECIFIED",
            "CLOUD_SQL_INSTANCE",
            "ON_PREMISES_INSTANCE",
            "READ_REPLICA_INSTANCE",
            "READ_POOL_INSTANCE"
          ],
          "enumDescriptions": [
            "This is an unknown Cloud SQL instance type.",
            "A regular Cloud SQL instance that is not replicating from a primary instance.",
            "An instance running on the customer's premises that is not managed by Cloud SQL.",
            "A Cloud SQL instance acting as a read-replica.",
            "A Cloud SQL read pool."
          ]
        },
        "state": {
          "description": "The current serving state of the Cloud SQL instance.",
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ]
        },
        "databaseVersion": {
          "description": "The database engine type and version. The `databaseVersion` field cannot be changed after instance creation.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ]
        },
        "currentDiskSize": {
          "deprecated": true,
          "description": "The current disk usage of the instance in bytes. This property has been deprecated. Use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see [this announcement](https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ) for details.",
          "type": "string",
          "format": "int64"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time when the instance was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "backendType": {
          "enumDescriptions": [
            "This is an unknown backend type for instance.",
            "V1 speckle instance.",
            "V2 speckle instance.",
            "On premises instance."
          ],
          "enumDeprecated": [
            false,
            true,
            false,
            false
          ],
          "enum": [
            "SQL_BACKEND_TYPE_UNSPECIFIED",
            "FIRST_GEN",
            "SECOND_GEN",
            "EXTERNAL"
          ],
          "description": "The backend type. `SECOND_GEN`: Cloud SQL database instance. `EXTERNAL`: A database server that is not managed by Google. This property is read-only; use the `tier` property in the `settings` object to determine the database type.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API. Use the `settings.settingsVersion` field instead.",
          "type": "string"
        },
        "diskEncryptionStatus": {
          "description": "Disk encryption status specific to an instance.",
          "$ref": "DiskEncryptionStatus"
        },
        "failoverReplica": {
          "properties": {
            "name": {
              "description": "The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID.",
              "type": "string"
            },
            "available": {
              "description": "The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true.",
              "type": "boolean"
            }
          },
          "description": "The name and status of the failover replica.",
          "type": "object"
        },
        "suspensionReason": {
          "items": {
            "type": "string",
            "enum": [
              "SQL_SUSPENSION_REASON_UNSPECIFIED",
              "BILLING_ISSUE",
              "LEGAL_ISSUE",
              "OPERATIONAL_ISSUE",
              "KMS_KEY_ISSUE"
            ],
            "enumDescriptions": [
              "This is an unknown suspension reason.",
              "The instance is suspended due to billing issues (for example:, account issue)",
              "The instance is suspended due to illegal content (for example:, child pornography, copyrighted material, etc.).",
              "The instance is causing operational issues (for example:, causing the database to crash).",
              "The KMS key used by the instance is either revoked or denied access to"
            ]
          },
          "description": "If the instance state is SUSPENDED, the reason for the suspension.",
          "type": "array"
        },
        "maxDiskSize": {
          "description": "The maximum disk size of the instance in bytes.",
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "upgradableDatabaseVersions": {
          "readOnly": true,
          "items": {
            "$ref": "AvailableDatabaseVersion"
          },
          "description": "Output only. All database versions that are available for upgrade.",
          "type": "array"
        },
        "satisfiesPzs": {
          "description": "This status indicates whether the instance satisfies PZS. The status is reserved for future use.",
          "type": "boolean"
        },
        "includeReplicasForMajorVersionUpgrade": {
          "description": "Input only. Determines whether an in-place major version upgrade of replicas happens when an in-place major version upgrade of a primary instance is initiated.",
          "type": "boolean"
        },
        "writeEndpoint": {
          "description": "Output only. The dns name of the primary instance in a replication group.",
          "type": "string",
          "readOnly": true
        },
        "onPremisesConfiguration": {
          "description": "Configuration specific to on-premises instances.",
          "$ref": "OnPremisesConfiguration"
        },
        "kind": {
          "description": "This is always `sql#instance`.",
          "type": "string"
        },
        "gceZone": {
          "description": "The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone. WARNING: Changing this might restart the instance.",
          "type": "string"
        },
        "sqlNetworkArchitecture": {
          "type": "string",
          "enum": [
            "SQL_NETWORK_ARCHITECTURE_UNSPECIFIED",
            "NEW_NETWORK_ARCHITECTURE",
            "OLD_NETWORK_ARCHITECTURE"
          ],
          "enumDescriptions": [
            "",
            "The instance uses the new network architecture.",
            "The instance uses the old network architecture."
          ]
        },
        "nodes": {
          "description": "Output only. Entries containing information about each read pool node of the read pool.",
          "type": "array",
          "items": {
            "$ref": "PoolNodeConfig"
          },
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys and tag values that are bound to this instance. You must represent each item in the map as: `\"\" : \"\"`. For example, a single resource can have the following tags: ``` \"123/environment\": \"production\", \"123/costCenter\": \"marketing\", ``` For more information on tag creation and management, see https://cloud.google.com/resource-manager/docs/tags/tags-overview.",
          "type": "object"
        },
        "rootPassword": {
          "description": "Initial root password. Use only on creation. You must set root passwords before you can connect to PostgreSQL instances.",
          "type": "string"
        },
        "settings": {
          "description": "The user settings.",
          "$ref": "Settings"
        },
        "region": {
          "description": "The geographical region of the Cloud SQL instance. It can be one of the [regions](https://cloud.google.com/sql/docs/mysql/locations#location-r) where Cloud SQL operates: For example, `asia-east1`, `europe-west1`, and `us-central1`. The default value is `us-central1`.",
          "type": "string"
        },
        "switchTransactionLogsToCloudStorageEnabled": {
          "description": "Input only. Whether Cloud SQL is enabled to switch storing point-in-time recovery log files from a data disk to Cloud Storage.",
          "type": "boolean"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "serverCaCert": {
          "description": "SSL configuration.",
          "$ref": "SslCert"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "dnsName": {
          "readOnly": true,
          "description": "Output only. The dns name of the instance.",
          "type": "string"
        },
        "geminiConfig": {
          "description": "Gemini instance configuration.",
          "$ref": "GeminiInstanceConfig"
        },
        "ipv6Address": {
          "description": "The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances.",
          "type": "string",
          "deprecated": true
        },
        "connectionName": {
          "description": "Connection name of the Cloud SQL instance used in connection strings.",
          "type": "string"
        },
        "satisfiesPzi": {
          "readOnly": true,
          "description": "Output only. This status indicates whether the instance satisfies PZI. The status is reserved for future use.",
          "type": "boolean"
        },
        "databaseInstalledVersion": {
          "readOnly": true,
          "description": "Output only. Stores the current database version running on the instance including minor version such as `MYSQL_8_0_18`.",
          "type": "string"
        },
        "replicationCluster": {
          "description": "Optional. A primary instance and disaster recovery (DR) replica pair. A DR replica is a cross-region replica that you designate for failover in the event that the primary instance experiences regional failure. Applicable to MySQL and PostgreSQL.",
          "$ref": "ReplicationCluster"
        }
      }
    },
    "Operation": {
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "operationType": {
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance. If a user with the specified username doesn't exist, a new user is created.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery.",
            "Re-encrypts CMEK instances with latest key version.",
            "Switches the roles of the primary and replica pair. The target instance should be the replica.",
            "Update a backup.",
            "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Reconfigures old primary after a promote replica operation. Effect of a promote operation to the old primary is executed in this operation, asynchronously from the promote replica operation executed to the replica.",
            "Indicates that the instance, its read replicas, and its cascading replicas are in maintenance. Maintenance typically gets initiated on groups of replicas first, followed by the primary instance. For each instance, maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Indicates that the instance (and any of its replicas) are currently in maintenance. This is initiated as a self-service request by using SSM. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Switches a primary instance to a replica. This operation runs as part of a switchover operation to the original primary instance.",
            "Updates the major version of a Cloud SQL instance.",
            "Deprecated: ADVANCED_BACKUP is deprecated. Use ENHANCED_BACKUP instead.",
            "Changes the BackupTier of a Cloud SQL instance.",
            "Creates a backup for an Enhanced BackupTier Cloud SQL instance.",
            "Repairs entire read pool or specified read pool nodes in the read pool.",
            "Creates a Cloud SQL read pool instance."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART",
            "REENCRYPT",
            "SWITCHOVER",
            "UPDATE_BACKUP",
            "ACQUIRE_SSRS_LEASE",
            "RELEASE_SSRS_LEASE",
            "RECONFIGURE_OLD_PRIMARY",
            "CLUSTER_MAINTENANCE",
            "SELF_SERVICE_MAINTENANCE",
            "SWITCHOVER_TO_REPLICA",
            "MAJOR_VERSION_UPGRADE",
            "ADVANCED_BACKUP",
            "MANAGE_BACKUP",
            "ENHANCED_BACKUP",
            "REPAIR_READ_POOL",
            "CREATE_READ_POOL"
          ],
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "type": "string"
        },
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be populated.",
          "$ref": "OperationErrors"
        },
        "targetLink": {
          "type": "string"
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "acquireSsrsLeaseContext": {
          "description": "The context for acquire SSRS lease operation, if applicable.",
          "$ref": "AcquireSsrsLeaseContext"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "preCheckMajorVersionUpgradeContext": {
          "description": "This field is only populated when the operation_type is PRE_CHECK_MAJOR_VERSION_UPGRADE. The PreCheckMajorVersionUpgradeContext message itself contains the details for that pre-check, such as the target database version for the upgrade and the results of the check (including any warnings or errors found).",
          "$ref": "PreCheckMajorVersionUpgradeContext"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "subOperationType": {
          "description": "Optional. The sub operation based on the operation type.",
          "$ref": "SqlSubOperationType"
        },
        "targetId": {
          "description": "Name of the resource on which this operation runs.",
          "type": "string"
        },
        "apiWarning": {
          "description": "An Admin API warning message.",
          "$ref": "ApiWarning"
        },
        "status": {
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ],
          "description": "The status of an operation.",
          "type": "string",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ]
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        },
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "backupContext": {
          "description": "The context for backup operation, if applicable.",
          "$ref": "BackupContext"
        },
        "startTime": {
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "importContext": {
          "description": "The context for import operation, if applicable.",
          "$ref": "ImportContext"
        },
        "kind": {
          "description": "This is always `sql#operation`.",
          "type": "string"
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        }
      }
    },
    "InstancesListEntraIdCertificatesResponse": {
      "id": "InstancesListEntraIdCertificatesResponse",
      "description": "Instances ListEntraIdCertificates response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#instancesListEntraIdCertificates`.",
          "type": "string"
        },
        "certs": {
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of Entra ID certificates for the instance.",
          "type": "array"
        },
        "activeVersion": {
          "description": "The `sha1_fingerprint` of the active certificate from `certs`.",
          "type": "string"
        }
      }
    },
    "Reschedule": {
      "type": "object",
      "id": "Reschedule",
      "properties": {
        "rescheduleType": {
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ],
          "description": "Required. The type of the reschedule.",
          "type": "string",
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ]
        },
        "scheduleTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        }
      }
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "properties": {
        "errors": {
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          },
          "description": "List of migration violations.",
          "type": "array"
        },
        "kind": {
          "description": "This is always `sql#migrationSettingErrorList`.",
          "type": "string"
        },
        "warnings": {
          "description": "List of migration warnings.",
          "type": "array",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        }
      },
      "description": "Instance verify external sync settings response.",
      "type": "object",
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse"
    },
    "SqlInstancesReleaseSsrsLeaseResponse": {
      "properties": {
        "operationId": {
          "description": "The unique identifier for this operation.",
          "type": "string"
        }
      },
      "id": "SqlInstancesReleaseSsrsLeaseResponse",
      "description": "Response for the release SSRS lease request.",
      "type": "object"
    },
    "PasswordStatus": {
      "id": "PasswordStatus",
      "description": "Read-only password status.",
      "type": "object",
      "properties": {
        "locked": {
          "description": "If true, user does not have login privileges.",
          "type": "boolean"
        },
        "passwordExpirationTime": {
          "description": "The expiration time of the current password.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Metadata": {
      "properties": {
        "sqlStatementExecutionTime": {
          "format": "google-duration",
          "description": "The time taken to execute the SQL statements.",
          "type": "string"
        }
      },
      "description": "The additional metadata information regarding the execution of the SQL statements.",
      "type": "object",
      "id": "Metadata"
    },
    "DnsNameMapping": {
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The DNS name.",
          "type": "string"
        },
        "connectionType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown connection type.",
            "Public IP.",
            "Private services access (private IP).",
            "Private Service Connect."
          ],
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRIVATE_SERVICES_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "description": "Output only. The connection type of the DNS name.",
          "type": "string"
        },
        "dnsScope": {
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "DNS scope not set. This value should not be used.",
            "Indicates an instance-level DNS name.",
            "Indicates a cluster-level DNS name."
          ],
          "description": "Output only. The scope that the DNS name applies to.",
          "type": "string"
        },
        "recordManager": {
          "description": "Output only. The manager for this DNS record.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Record manager not set. This value should not be used.",
            "The record may be managed by the customer. It is not automatically managed by Cloud SQL automation.",
            "The record is managed by Cloud SQL, which will create, update, and delete the DNS records for the zone automatically when the Cloud SQL database instance is created or updated."
          ],
          "enum": [
            "RECORD_MANAGER_UNSPECIFIED",
            "CUSTOMER",
            "CLOUD_SQL_AUTOMATION"
          ]
        }
      },
      "id": "DnsNameMapping",
      "description": "DNS metadata.",
      "type": "object"
    },
    "GeminiInstanceConfig": {
      "properties": {
        "activeQueryEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the active query is enabled.",
          "type": "boolean"
        },
        "entitled": {
          "description": "Output only. Whether Gemini is enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "indexAdvisorEnabled": {
          "description": "Output only. Whether the index advisor is enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "oomSessionCancelEnabled": {
          "readOnly": true,
          "description": "Output only. Whether canceling the out-of-memory (OOM) session is enabled.",
          "type": "boolean"
        },
        "googleVacuumMgmtEnabled": {
          "description": "Output only. Whether the vacuum management is enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "flagRecommenderEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the flag recommender is enabled.",
          "type": "boolean"
        }
      },
      "id": "GeminiInstanceConfig",
      "description": "Gemini instance configuration.",
      "type": "object"
    },
    "DiskEncryptionStatus": {
      "description": "Disk encryption status for an instance.",
      "type": "object",
      "id": "DiskEncryptionStatus",
      "properties": {
        "kind": {
          "description": "This is always `sql#diskEncryptionStatus`.",
          "type": "string"
        },
        "kmsKeyVersionName": {
          "description": "KMS key version used to encrypt the Cloud SQL instance resource",
          "type": "string"
        }
      }
    },
    "AvailableDatabaseVersion": {
      "description": "An available database version. It can be a major or a minor version.",
      "type": "object",
      "id": "AvailableDatabaseVersion",
      "properties": {
        "name": {
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version.",
          "type": "string"
        },
        "majorVersion": {
          "description": "The version's major version name.",
          "type": "string"
        },
        "displayName": {
          "description": "The database version's display name.",
          "type": "string"
        }
      }
    },
    "InstancesCloneRequest": {
      "properties": {
        "cloneContext": {
          "description": "Required. Contains details about the clone operation.",
          "$ref": "CloneContext"
        }
      },
      "description": "Database instance clone request.",
      "type": "object",
      "id": "InstancesCloneRequest"
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "description": "Read-replica configuration specific to MySQL databases.",
[...]
