{
  "discoveryVersion": "v1",
  "schemas": {
    "BackupRun": {
      "id": "BackupRun",
      "description": "A BackupRun resource.",
      "properties": {
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "status": {
          "description": "The status of this run.",
          "type": "string",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ],
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ]
        },
        "error": {
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status.",
          "$ref": "OperationError"
        },
        "timeZone": {
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The description of this run, only applicable to on-demand backups."
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxChargeableBytes": {
          "type": "string",
          "format": "int64",
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "readOnly": true
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests."
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "backupKind": {
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ],
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ]
        },
        "windowStartTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup."
        },
        "id": {
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "type": "string",
          "format": "int64"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupRun`."
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "description": "Output only. The instance database version at the time this backup was made."
        },
        "enqueuedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`."
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        }
      },
      "type": "object"
    },
    "GeminiInstanceConfig": {
      "type": "object",
      "id": "GeminiInstanceConfig",
      "description": "Gemini instance configuration.",
      "properties": {
        "googleVacuumMgmtEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the vacuum management is enabled."
        },
        "activeQueryEnabled": {
          "description": "Output only. Whether the active query is enabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "oomSessionCancelEnabled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether canceling the out-of-memory (OOM) session is enabled."
        },
        "indexAdvisorEnabled": {
          "description": "Output only. Whether the index advisor is enabled.",
          "readOnly": true,
          "type": "boolean"
        },
        "entitled": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether Gemini is enabled."
        },
        "flagRecommenderEnabled": {
          "description": "Output only. Whether the flag recommender is enabled.",
          "readOnly": true,
          "type": "boolean"
        }
      }
    },
    "DnsNameMapping": {
      "type": "object",
      "id": "DnsNameMapping",
      "description": "DNS metadata.",
      "properties": {
        "connectionType": {
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRIVATE_SERVICES_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown connection type.",
            "Public IP.",
            "Private services access (private IP).",
            "Private Service Connect."
          ],
          "description": "Output only. The connection type of the DNS name."
        },
        "recordManager": {
          "description": "Output only. The manager for this DNS record.",
          "type": "string",
          "enumDescriptions": [
            "Record manager not set. This value should not be used.",
            "The record may be managed by the customer. It is not automatically managed by Cloud SQL automation.",
            "The record is managed by Cloud SQL, which will create, update, and delete the DNS records for the zone automatically when the Cloud SQL database instance is created or updated."
          ],
          "readOnly": true,
          "enum": [
            "RECORD_MANAGER_UNSPECIFIED",
            "CUSTOMER",
            "CLOUD_SQL_AUTOMATION"
          ]
        },
        "name": {
          "description": "Output only. The DNS name.",
          "readOnly": true,
          "type": "string"
        },
        "dnsScope": {
          "description": "Output only. The scope that the DNS name applies to.",
          "type": "string",
          "enumDescriptions": [
            "DNS scope not set. This value should not be used.",
            "Indicates an instance-level DNS name.",
            "Indicates a cluster-level DNS name."
          ],
          "readOnly": true,
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER"
          ]
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. API version used to start the operation.",
          "type": "string"
        },
        "statusDetail": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "cancelRequested": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        }
      }
    },
    "TargetMetric": {
      "type": "object",
      "id": "TargetMetric",
      "description": "Target metric for read pool auto scaling.",
      "properties": {
        "metric": {
          "description": "The metric name to be used for auto scaling.",
          "type": "string"
        },
        "targetValue": {
          "description": "The target value for the metric.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "SqlInstancesReleaseSsrsLeaseResponse": {
      "type": "object",
      "id": "SqlInstancesReleaseSsrsLeaseResponse",
      "description": "Response for the release SSRS lease request.",
      "properties": {
        "operationId": {
          "description": "The unique identifier for this operation.",
          "type": "string"
        }
      }
    },
    "RotateServerCertificateContext": {
      "type": "object",
      "id": "RotateServerCertificateContext",
      "description": "Instance rotate server certificate context.",
      "properties": {
        "kind": {
          "description": "Optional. This is always `sql#rotateServerCertificateContext`.",
          "type": "string"
        },
        "nextVersion": {
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version.",
          "type": "string"
        }
      }
    },
    "PerformanceCaptureConfig": {
      "type": "object",
      "id": "PerformanceCaptureConfig",
      "description": "Performance capture configuration.",
      "properties": {
        "enabled": {
          "description": "Optional. Enables or disables the performance capture feature.",
          "type": "boolean"
        },
        "runningThreadsThreshold": {
          "description": "Optional. Specifies the minimum number of MySQL `Threads_running` to trigger the performance capture on the primary instance.",
          "type": "integer",
          "format": "int32"
        },
        "probeThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the minimum number of consecutive probe threshold that triggers performance capture."
        },
        "probingIntervalSeconds": {
          "description": "Optional. Specifies the interval in seconds between consecutive probes that check if any trigger condition thresholds have been reached.",
          "type": "integer",
          "format": "int32"
        },
        "secondsBehindSourceThreshold": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies the minimum number of seconds replica must be lagging behind primary instance to trigger the performance capture on replica."
        },
        "transactionDurationThreshold": {
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts recording it.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Column": {
      "id": "Column",
      "description": "Contains the name and datatype of a column.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Name of the column."
        },
        "type": {
          "type": "string",
          "description": "Datatype of the column."
        }
      },
      "type": "object"
    },
    "AdvancedMachineFeatures": {
      "type": "object",
      "id": "AdvancedMachineFeatures",
      "description": "Specifies options for controlling advanced machine features.",
      "properties": {
        "threadsPerCore": {
          "type": "integer",
          "format": "int32",
          "description": "The number of threads per physical core."
        }
      }
    },
    "SqlExternalSyncSettingError": {
      "id": "SqlExternalSyncSettingError",
      "description": "External primary instance migration setting error/warning.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "The replication user is missing privileges that are required.",
            "Unsupported migration type.",
            "No pglogical extension installed on databases, applicable for postgres.",
            "pglogical node already exists on databases, applicable for postgres.",
            "The value of parameter wal_level is not set to logical.",
            "The value of parameter shared_preload_libraries does not include pglogical.",
            "The value of parameter max_replication_slots is not sufficient.",
            "The value of parameter max_wal_senders is not sufficient.",
            "The value of parameter max_worker_processes is not sufficient.",
            "Extensions installed are either not supported or having unsupported versions.",
            "The value of parameter rds.logical_replication is not set to 1.",
            "The primary instance logging setup doesn't allow EM sync.",
            "The primary instance database parameter setup doesn't allow EM sync.",
            "The gtid_mode is not supported, applicable for MySQL.",
            "SQL Server Agent is not running.",
            "The table definition is not support due to missing primary key or replica identity, applicable for postgres. Note that this is a warning and won't block the migration.",
            "The customer has a definer that will break EM setup.",
            "SQL Server @@SERVERNAME does not match actual host name.",
            "The primary instance has been setup and will fail the setup.",
            "The primary instance has unsupported binary log format.",
            "The primary instance's binary log retention setting.",
            "The primary instance has tables with unsupported storage engine.",
            "Source has tables with limited support eg: PostgreSQL tables without primary keys.",
            "The replica instance contains existing data.",
            "The replication user is missing privileges that are optional.",
            "Additional BACKUP_ADMIN privilege is granted to the replication user which may lock source MySQL 8 instance for DDLs during initial sync.",
            "The Cloud Storage bucket is missing necessary permissions.",
            "The Cloud Storage bucket has an error in the file or contains invalid file information.",
            "The source instance has unsupported database settings for migration.",
            "The replication user is missing parallel import specific privileges. (e.g. LOCK TABLES) for MySQL.",
            "The global variable local_infile is off on external server replica.",
            "This code instructs customers to turn on point-in-time recovery manually for the instance after promoting the Cloud SQL for PostgreSQL instance.",
            "The minor version of replica database is incompatible with the source.",
            "This warning message indicates that Cloud SQL uses the maximum number of subscriptions to migrate data from the source to the destination.",
            "Unable to verify definers on the source for MySQL.",
            "If a time out occurs while the subscription counts are calculated, then this value is set to 1. Otherwise, this value is set to 2.",
            "Count of subscriptions needed to sync source data for PostgreSQL database.",
            "Final parallel level that is used to do migration.",
            "The disk size of the replica instance is smaller than the data size of the source instance.",
            "The data size of the source instance is greater than 1 TB, the number of cores of the replica instance is less than 8, and the memory of the replica is less than 32 GB.",
            "The warning message indicates the unsupported extensions will not be migrated to the destination.",
            "The warning message indicates the pg_cron extension and settings will not be migrated to the destination.",
            "The error message indicates that pg_cron flags are enabled on the destination which is not supported during the migration.",
            "This error message indicates that the specified extensions are not enabled on destination instance. For example, before you can migrate data to the destination instance, you must enable the PGAudit extension on the instance.",
            "The source database has generated columns that can't be migrated. Please change them to regular columns before migration.",
            "The source database has users that aren't created in the replica. First, create all users, which are in the pg_user_mappings table of the source database, in the destination instance. Then, perform the migration.",
            "The selected objects include system objects that aren't supported for migration.",
            "The source database has tables with the FULL or NOTHING replica identity. Before starting your migration, either remove the identity or change it to DEFAULT. Note that this is an error and will block the migration.",
            "The selected objects don't exist on the source instance.",
            "PSC only destination instance does not have a network attachment URI.",
            "Selected objects reference unselected objects. Based on their object type (foreign key constraint or view), selected objects will fail during migration.",
            "The migration will delete existing data in the replica; set replica_overwrite_enabled in the request to acknowledge this. This is an error. MySQL only.",
            "The migration will delete existing data in the replica; replica_overwrite_enabled was set in the request acknowledging this. This is a warning rather than an error. MySQL only.",
            "The replication user is missing specific privileges to setup DDL replication. (e.g. CREATE EVENT TRIGGER, CREATE SCHEMA) for PostgreSQL."
          ],
          "enum": [
            "SQL_EXTERNAL_SYNC_SETTING_ERROR_TYPE_UNSPECIFIED",
            "CONNECTION_FAILURE",
            "BINLOG_NOT_ENABLED",
            "INCOMPATIBLE_DATABASE_VERSION",
            "REPLICA_ALREADY_SETUP",
            "INSUFFICIENT_PRIVILEGE",
            "UNSUPPORTED_MIGRATION_TYPE",
            "NO_PGLOGICAL_INSTALLED",
            "PGLOGICAL_NODE_ALREADY_EXISTS",
            "INVALID_WAL_LEVEL",
            "INVALID_SHARED_PRELOAD_LIBRARY",
            "INSUFFICIENT_MAX_REPLICATION_SLOTS",
            "INSUFFICIENT_MAX_WAL_SENDERS",
            "INSUFFICIENT_MAX_WORKER_PROCESSES",
            "UNSUPPORTED_EXTENSIONS",
            "INVALID_RDS_LOGICAL_REPLICATION",
            "INVALID_LOGGING_SETUP",
            "INVALID_DB_PARAM",
            "UNSUPPORTED_GTID_MODE",
            "SQLSERVER_AGENT_NOT_RUNNING",
            "UNSUPPORTED_TABLE_DEFINITION",
            "UNSUPPORTED_DEFINER",
            "SQLSERVER_SERVERNAME_MISMATCH",
            "PRIMARY_ALREADY_SETUP",
            "UNSUPPORTED_BINLOG_FORMAT",
            "BINLOG_RETENTION_SETTING",
            "UNSUPPORTED_STORAGE_ENGINE",
            "LIMITED_SUPPORT_TABLES",
            "EXISTING_DATA_IN_REPLICA",
            "MISSING_OPTIONAL_PRIVILEGES",
            "RISKY_BACKUP_ADMIN_PRIVILEGE",
            "INSUFFICIENT_GCS_PERMISSIONS",
            "INVALID_FILE_INFO",
            "UNSUPPORTED_DATABASE_SETTINGS",
            "MYSQL_PARALLEL_IMPORT_INSUFFICIENT_PRIVILEGE",
            "LOCAL_INFILE_OFF",
            "TURN_ON_PITR_AFTER_PROMOTE",
            "INCOMPATIBLE_DATABASE_MINOR_VERSION",
            "SOURCE_MAX_SUBSCRIPTIONS",
            "UNABLE_TO_VERIFY_DEFINERS",
            "SUBSCRIPTION_CALCULATION_STATUS",
            "PG_SUBSCRIPTION_COUNT",
            "PG_SYNC_PARALLEL_LEVEL",
            "INSUFFICIENT_DISK_SIZE",
            "INSUFFICIENT_MACHINE_TIER",
            "UNSUPPORTED_EXTENSIONS_NOT_MIGRATED",
            "EXTENSIONS_NOT_MIGRATED",
            "PG_CRON_FLAG_ENABLED_IN_REPLICA",
            "EXTENSIONS_NOT_ENABLED_IN_REPLICA",
            "UNSUPPORTED_COLUMNS",
            "USERS_NOT_CREATED_IN_REPLICA",
            "UNSUPPORTED_SYSTEM_OBJECTS",
            "UNSUPPORTED_TABLES_WITH_REPLICA_IDENTITY",
            "SELECTED_OBJECTS_NOT_EXIST_ON_SOURCE",
            "PSC_ONLY_INSTANCE_WITH_NO_NETWORK_ATTACHMENT_URI",
            "SELECTED_OBJECTS_REFERENCE_UNSELECTED_OBJECTS",
            "PROMPT_DELETE_EXISTING",
            "WILL_DELETE_EXISTING",
            "PG_DDL_REPLICATION_INSUFFICIENT_PRIVILEGE"
          ],
          "description": "Identifies the specific error that occurred."
        },
        "kind": {
          "description": "Can be `sql#externalSyncSettingError` or `sql#externalSyncSettingWarning`.",
          "type": "string"
        },
        "detail": {
          "type": "string",
          "description": "Additional information about the error encountered."
        }
      },
      "type": "object"
    },
    "InstancesRotateServerCertificateRequest": {
      "id": "InstancesRotateServerCertificateRequest",
      "description": "Rotate server certificate request.",
      "properties": {
        "rotateServerCertificateContext": {
          "$ref": "RotateServerCertificateContext",
          "description": "Optional. Contains details about the rotate server certificate operation."
        }
      },
      "type": "object"
    },
    "SslCertsInsertResponse": {
      "type": "object",
      "id": "SslCertsInsertResponse",
      "description": "SslCert insert response.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#sslCertsInsert`."
        },
        "operation": {
          "description": "The operation to track the ssl certs insert request.",
          "$ref": "Operation"
        },
        "serverCaCert": {
          "description": "The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.",
          "$ref": "SslCert"
        },
        "clientCert": {
          "$ref": "SslCertDetail",
          "description": "The new client certificate and private key."
        }
      }
    },
    "IpMapping": {
      "type": "object",
      "id": "IpMapping",
      "description": "Database instance IP mapping",
      "properties": {
        "timeToRetire": {
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired.",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ]
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address assigned."
        }
      }
    },
    "SqlServerAuditConfig": {
      "id": "SqlServerAuditConfig",
      "description": "SQL Server specific audit configuration.",
      "properties": {
        "retentionInterval": {
          "description": "How long to keep generated audit files.",
          "type": "string",
          "format": "google-duration"
        },
        "uploadInterval": {
          "type": "string",
          "format": "google-duration",
          "description": "How often to upload generated audit files."
        },
        "bucket": {
          "description": "The name of the destination bucket (e.g., gs://mybucket).",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always sql#sqlServerAuditConfig"
        }
      },
      "type": "object"
    },
    "RotateEntraIdCertificateContext": {
      "id": "RotateEntraIdCertificateContext",
      "description": "Instance rotate Entra ID certificate context.",
      "properties": {
        "kind": {
          "description": "Optional. This is always `sql#rotateEntraIdCertificateContext`.",
          "type": "string"
        },
        "nextVersion": {
          "type": "string",
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server certificate version."
        }
      },
      "type": "object"
    },
    "AvailableDatabaseVersion": {
      "id": "AvailableDatabaseVersion",
      "description": "An available database version. It can be a major or a minor version.",
      "properties": {
        "majorVersion": {
          "description": "The version's major version name.",
          "type": "string"
        },
        "displayName": {
          "description": "The database version's display name.",
          "type": "string"
        },
        "name": {
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Flag": {
      "type": "object",
      "id": "Flag",
      "description": "A flag resource.",
      "properties": {
        "type": {
          "description": "The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`, `INTEGER` or `NONE`. `NONE` is used for flags that do not take a value, such as `skip_grant_tables`.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ],
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ]
        },
        "maxValue": {
          "type": "string",
          "format": "int64",
          "description": "For `INTEGER` flags, the maximum allowed value."
        },
        "allowedStringValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For `STRING` flags, a list of strings that the value can be set to."
        },
        "inBeta": {
          "description": "Whether or not the flag is considered in beta.",
          "type": "boolean"
        },
        "recommendedIntValue": {
          "type": "string",
          "format": "int64",
          "description": "Recommended int value in integer format for UI display."
        },
        "appliesTo": {
          "description": "The database version this flag applies to. Can be MySQL instances: `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12`. SQL Server instances: `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is MySQL 8.",
              "The database major version is MySQL 8.0 and the minor version is 18.",
              "The database major version is MySQL 8.0 and the minor version is 26.",
              "The database major version is MySQL 8.0 and the minor version is 27.",
              "The database major version is MySQL 8.0 and the minor version is 28.",
              "The database major version is MySQL 8.0 and the minor version is 29.",
              "The database major version is MySQL 8.0 and the minor version is 30.",
              "The database major version is MySQL 8.0 and the minor version is 31.",
              "The database major version is MySQL 8.0 and the minor version is 32.",
              "The database major version is MySQL 8.0 and the minor version is 33.",
              "The database major version is MySQL 8.0 and the minor version is 34.",
              "The database major version is MySQL 8.0 and the minor version is 35.",
              "The database major version is MySQL 8.0 and the minor version is 36.",
              "The database major version is MySQL 8.0 and the minor version is 37.",
              "The database major version is MySQL 8.0 and the minor version is 39.",
              "The database major version is MySQL 8.0 and the minor version is 40.",
              "The database major version is MySQL 8.0 and the minor version is 41.",
              "The database major version is MySQL 8.0 and the minor version is 42.",
              "The database major version is MySQL 8.0 and the minor version is 43.",
              "The database major version is MySQL 8.0 and the minor version is 44.",
              "The database major version is MySQL 8.0 and the minor version is 45.",
              "The database major version is MySQL 8.0 and the minor version is 46.",
              "The database version is MySQL 8.4.",
              "The database version is MySQL 9.7.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 11.",
              "The database version is PostgreSQL 12.",
              "The database version is PostgreSQL 13.",
              "The database version is PostgreSQL 14.",
              "The database version is PostgreSQL 15.",
              "The database version is PostgreSQL 16.",
              "The database version is PostgreSQL 17.",
              "The database version is PostgreSQL 18.",
              "The database version is PostgreSQL 19.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web.",
              "The database version is SQL Server 2022 Standard.",
              "The database version is SQL Server 2022 Enterprise.",
              "The database version is SQL Server 2022 Express.",
              "The database version is SQL Server 2022 Web.",
              "The database version is SQL Server 2025 Standard.",
              "The database version is SQL Server 2025 Enterprise.",
              "The database version is SQL Server 2025 Express."
            ],
            "enumDeprecated": [
              false,
              true,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "MYSQL_8_0",
              "MYSQL_8_0_18",
              "MYSQL_8_0_26",
              "MYSQL_8_0_27",
              "MYSQL_8_0_28",
              "MYSQL_8_0_29",
              "MYSQL_8_0_30",
              "MYSQL_8_0_31",
              "MYSQL_8_0_32",
              "MYSQL_8_0_33",
              "MYSQL_8_0_34",
              "MYSQL_8_0_35",
              "MYSQL_8_0_36",
              "MYSQL_8_0_37",
              "MYSQL_8_0_39",
              "MYSQL_8_0_40",
              "MYSQL_8_0_41",
              "MYSQL_8_0_42",
              "MYSQL_8_0_43",
              "MYSQL_8_0_44",
              "MYSQL_8_0_45",
              "MYSQL_8_0_46",
              "MYSQL_8_4",
              "MYSQL_9_7",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_9_6",
              "POSTGRES_10",
              "POSTGRES_11",
              "POSTGRES_12",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18",
              "POSTGRES_19",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB",
              "SQLSERVER_2022_STANDARD",
              "SQLSERVER_2022_ENTERPRISE",
              "SQLSERVER_2022_EXPRESS",
              "SQLSERVER_2022_WEB",
              "SQLSERVER_2025_STANDARD",
              "SQLSERVER_2025_ENTERPRISE",
              "SQLSERVER_2025_EXPRESS"
            ]
          }
        },
        "flagScope": {
          "type": "string",
          "enumDescriptions": [
            "Assume database flags if unspecified",
            "database flags",
            "connection pool configuration flags"
          ],
          "enum": [
            "SQL_FLAG_SCOPE_UNSPECIFIED",
            "SQL_FLAG_SCOPE_DATABASE",
            "SQL_FLAG_SCOPE_CONNECTION_POOL"
          ],
          "description": "Scope of flag."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#flag`."
        },
        "recommendedStringValue": {
          "description": "Recommended string value in string format for UI display.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: `max_allowed_packet`"
        },
        "allowedIntValues": {
          "type": "array",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values."
        },
        "requiresRestart": {
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances.",
          "type": "boolean"
        },
        "minValue": {
          "description": "For `INTEGER` flags, the minimum allowed value.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ConnectionPoolConfig": {
      "type": "object",
      "id": "ConnectionPoolConfig",
      "description": "The managed connection pooling configuration.",
      "properties": {
        "poolerCount": {
          "readOnly": true,
          "description": "Output only. Number of connection poolers.",
          "type": "integer",
          "format": "int32"
        },
        "connectionPoolingEnabled": {
          "type": "boolean",
          "description": "Whether managed connection pooling is enabled."
        },
        "flags": {
          "type": "array",
          "items": {
            "$ref": "ConnectionPoolFlags"
          },
          "description": "Optional. List of connection pool configuration flags."
        }
      }
    },
    "AcquireSsrsLeaseContext": {
      "id": "AcquireSsrsLeaseContext",
      "description": "Acquire SSRS lease context.",
      "properties": {
        "serviceLogin": {
          "type": "string",
          "description": "The username to be used as the service login to connect to the report database for SSRS setup."
        },
        "duration": {
          "description": "Lease duration needed for SSRS setup.",
          "type": "string",
          "format": "google-duration"
        },
        "setupLogin": {
          "type": "string",
          "description": "The username to be used as the setup login to connect to the database server for SSRS setup."
        },
        "reportDatabase": {
          "type": "string",
          "description": "The report database to be used for SSRS setup."
        }
      },
      "type": "object"
    },
    "SqlScheduledMaintenance": {
      "type": "object",
      "id": "SqlScheduledMaintenance",
      "description": "Any scheduled maintenance for this instance.",
      "properties": {
        "startTime": {
          "description": "The start time of any upcoming scheduled maintenance for this instance.",
          "type": "string",
          "format": "google-datetime"
        },
        "canReschedule": {
          "type": "boolean",
          "description": "If the scheduled maintenance can be rescheduled."
        },
        "canDefer": {
          "type": "boolean",
          "deprecated": true
        },
        "scheduleDeadlineTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Maintenance cannot be rescheduled to start beyond this deadline."
        }
      }
    },
    "PoolNodeConfig": {
      "type": "object",
      "id": "PoolNodeConfig",
      "description": "Details of a single read pool node of a read pool.",
      "properties": {
        "dnsName": {
          "description": "Output only. The DNS name of the read pool node.",
          "readOnly": true,
          "type": "string"
        },
        "ipAddresses": {
          "readOnly": true,
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          }
        },
        "state": {
          "description": "Output only. The current state of the read pool node.",
          "type": "string",
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "readOnly": true,
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ]
        },
        "gceZone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The zone of the read pool node."
        },
        "pscServiceAttachmentLink": {
          "readOnly": true,
          "description": "Output only. The Private Service Connect (PSC) service attachment of the read pool node.",
          "type": "string"
        },
        "pscAutoConnections": {
          "readOnly": true,
          "description": "Output only. The list of settings for requested automatically-setup Private Service Connect (PSC) consumer endpoints that can be used to connect to this read pool node.",
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          }
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the read pool node, to be used for retrieving metrics and logs.",
          "readOnly": true
        },
        "dnsNames": {
          "type": "array",
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this read pool node.",
          "readOnly": true
        }
      }
    },
    "BackupRetentionSettings": {
      "type": "object",
      "id": "BackupRetentionSettings",
      "description": "We currently only support backup retention by specifying the number of backups we will retain.",
      "properties": {
        "retainedBackups": {
          "type": "integer",
          "format": "int32",
          "description": "Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups."
        },
        "retentionUnit": {
          "description": "The unit that 'retained_backups' represents.",
          "type": "string",
          "enumDescriptions": [
            "Backup retention unit is unspecified, will be treated as COUNT.",
            "Retention will be by count, eg. \"retain the most recent 7 backups\"."
          ],
          "enum": [
            "RETENTION_UNIT_UNSPECIFIED",
            "COUNT"
          ]
        }
      }
    },
    "SqlOutOfDiskReport": {
      "id": "SqlOutOfDiskReport",
      "description": "This message wraps up the information written by out-of-disk detection job.",
      "properties": {
        "sqlOutOfDiskState": {
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "type": "string",
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ]
        },
        "sqlMinRecommendedIncreaseSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:"
        }
      },
      "type": "object"
    },
    "Value": {
      "type": "object",
      "id": "Value",
      "description": "The cell value of the table.",
      "properties": {
        "value": {
          "type": "string",
          "description": "The cell value in string format."
        },
        "nullValue": {
          "description": "If cell value is null, then this flag will be set to true.",
          "type": "boolean"
        }
      }
    },
    "InstancesPreCheckMajorVersionUpgradeRequest": {
      "id": "InstancesPreCheckMajorVersionUpgradeRequest",
      "description": "Request for Pre-checks for MVU",
      "properties": {
        "preCheckMajorVersionUpgradeContext": {
          "$ref": "PreCheckMajorVersionUpgradeContext",
          "description": "Required. Contains details about the pre-check major version upgrade operation."
        }
      },
      "type": "object"
    },
    "DataCacheConfig": {
      "id": "DataCacheConfig",
      "description": "Data cache configurations.",
      "properties": {
        "dataCacheEnabled": {
          "description": "Whether data cache is enabled for the instance.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListBackupsResponse": {
      "type": "object",
      "id": "ListBackupsResponse",
      "description": "The response payload containing a list of the backups.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, then there aren't subsequent pages.",
          "type": "string"
        },
        "backups": {
          "description": "A list of backups.",
          "type": "array",
          "items": {
            "$ref": "Backup"
          }
        },
        "warnings": {
          "description": "If a region isn't unavailable or if an unknown error occurs, then a warning message is returned.",
          "type": "array",
          "items": {
            "$ref": "ApiWarning"
          }
        }
      }
    },
    "ApiWarning": {
      "id": "ApiWarning",
      "description": "An Admin API warning message.",
      "properties": {
        "code": {
          "type": "string",
          "enumDescriptions": [
            "An unknown or unset warning type from Cloud SQL API.",
            "Warning when one or more regions are not reachable. The returned result set may be incomplete.",
            "Warning when user provided maxResults parameter exceeds the limit. The returned result set may be incomplete.",
            "Warning when user tries to create/update a user with credentials that have previously been compromised by a public data breach.",
            "Warning when the operation succeeds but some non-critical workflow state failed."
          ],
          "enum": [
            "SQL_API_WARNING_CODE_UNSPECIFIED",
            "REGION_UNREACHABLE",
            "MAX_RESULTS_EXCEEDS_LIMIT",
            "COMPROMISED_CREDENTIALS",
            "INTERNAL_STATE_FAILURE"
          ],
          "description": "Code to uniquely identify the warning type."
        },
        "message": {
          "description": "The warning message.",
          "type": "string"
        },
        "region": {
          "description": "The region name for REGION_UNREACHABLE warning.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AclEntry": {
      "id": "AclEntry",
      "description": "An entry for an Access Control list.",
      "properties": {
        "expirationTime": {
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "Optional. A label to identify this entry.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#aclEntry`.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The allowlisted value for the access control list."
        }
      },
      "type": "object"
    },
    "TiersListResponse": {
      "id": "TiersListResponse",
      "description": "Tiers list response.",
      "properties": {
        "kind": {
          "description": "This is always `sql#tiersList`.",
          "type": "string"
        },
        "items": {
          "description": "List of tiers.",
          "type": "array",
          "items": {
            "$ref": "Tier"
          }
        }
      },
      "type": "object"
    },
    "FlagsListResponse": {
      "id": "FlagsListResponse",
      "description": "Flags list response.",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Flag"
          },
          "description": "List of flags."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#flagsList`."
        }
      },
      "type": "object"
    },
    "Metadata": {
      "type": "object",
      "id": "Metadata",
      "description": "The additional metadata information regarding the execution of the SQL statements.",
      "properties": {
        "sqlStatementExecutionTime": {
          "type": "string",
          "format": "google-duration",
          "description": "The time taken to execute the SQL statements."
        }
      }
    },
    "IpConfiguration": {
      "type": "object",
      "id": "IpConfiguration",
      "description": "IP Management configuration.",
      "properties": {
        "ipv4Enabled": {
          "description": "Whether the instance is assigned a public IP address or not.",
          "type": "boolean"
        },
        "serverCertificateRotationMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified: no automatic server certificate rotation.",
            "No automatic server certificate rotation. The user must [manage server certificate rotation](/sql/docs/mysql/manage-ssl-instance#rotate-server-certificate-cas) on their side.",
            "Automatic server certificate rotation during Cloud SQL scheduled maintenance or self-service maintenance updates. Requires `server_ca_mode` to be `GOOGLE_MANAGED_CAS_CA` or `CUSTOMER_MANAGED_CAS_CA`."
          ],
          "enum": [
            "SERVER_CERTIFICATE_ROTATION_MODE_UNSPECIFIED",
            "NO_AUTOMATIC_ROTATION",
            "AUTOMATIC_ROTATION_DURING_MAINTENANCE"
          ],
          "description": "Optional. Controls the automatic server certificate rotation feature. This feature is disabled by default. When enabled, the server certificate will be automatically rotated during Cloud SQL scheduled maintenance or self-service maintenance updates up to six months before it expires. This setting can only be set if server_ca_mode is either GOOGLE_MANAGED_CAS_CA or CUSTOMER_MANAGED_CAS_CA."
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`"
        },
        "serverCaMode": {
          "type": "string",
          "enumDescriptions": [
            "CA mode is unspecified. It is effectively the same as `GOOGLE_MANAGED_INTERNAL_CA`.",
            "Google-managed self-signed internal CA.",
            "Google-managed regional CA part of root CA hierarchy hosted on Google Cloud's Certificate Authority Service (CAS).",
            "Customer-managed CA hosted on Google Cloud's Certificate Authority Service (CAS)."
          ],
          "enum": [
            "CA_MODE_UNSPECIFIED",
            "GOOGLE_MANAGED_INTERNAL_CA",
            "GOOGLE_MANAGED_CAS_CA",
            "CUSTOMER_MANAGED_CAS_CA"
          ],
          "description": "Specify what type of CA is used for the server certificate."
        },
        "requireSsl": {
          "type": "boolean",
          "description": "Use `ssl_mode` instead. Whether SSL/TLS connections over IP are enforced. If set to false, then allow both non-SSL/non-TLS and SSL/TLS connections. For SSL/TLS connections, the client certificate won't be verified. If set to true, then only allow connections encrypted with SSL/TLS and with valid client certificates. If you want to enforce SSL/TLS without enforcing the requirement for valid client certificates, then use the `ssl_mode` flag instead of the `require_ssl` flag."
        },
        "enablePrivatePathForGoogleCloudServices": {
          "type": "boolean",
          "description": "Controls connectivity to private IP instances from Google services, such as BigQuery."
        },
        "sslMode": {
          "description": "Specify how SSL/TLS is enforced in database connections. If you must use the `require_ssl` flag for backward compatibility, then only the following value pairs are valid: For PostgreSQL and MySQL: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false` * `ssl_mode=TRUSTED_CLIENT_CERTIFICATE_REQUIRED` and `require_ssl=true` For SQL Server: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=true` The value of `ssl_mode` has priority over the value of `require_ssl`. For example, for the pair `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false`, `ssl_mode=ENCRYPTED_ONLY` means accept only SSL connections, while `require_ssl=false` means accept both non-SSL and SSL connections. In this case, MySQL and PostgreSQL databases respect `ssl_mode` and accepts only SSL connections.",
          "type": "string",
          "enumDescriptions": [
            "The SSL mode is unknown.",
            "Allow non-SSL/non-TLS and SSL/TLS connections. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS and with valid client certificates. When this value is used, the legacy `require_ssl` flag must be true or cleared to avoid the conflict between values of two flags. PostgreSQL clients or users that connect using IAM database authentication must use either the [Cloud SQL Auth Proxy](https://cloud.google.com/sql/docs/postgres/connect-auth-proxy) or [Cloud SQL Connectors](https://cloud.google.com/sql/docs/postgres/connect-connectors) to enforce client identity verification. Only applicable to MySQL and PostgreSQL. Not applicable to SQL Server."
          ],
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY",
            "TRUSTED_CLIENT_CERTIFICATE_REQUIRED"
          ]
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "PSC settings for this instance."
        },
        "customSubjectAlternativeNames": {
          "description": "Optional. Custom Subject Alternative Name(SAN)s for a Cloud SQL instance.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "privateNetwork": {
          "type": "string",
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set."
        },
        "serverCaPool": {
          "type": "string",
          "description": "Optional. The resource name of the server CA pool for an instance with `CUSTOMER_MANAGED_CAS_CA` as the `server_ca_mode`. Format: projects/{PROJECT}/locations/{REGION}/caPools/{CA_POOL_ID}"
        },
        "authorizedNetworks": {
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: `157.197.200.0/24`).",
          "type": "array",
          "items": {
            "$ref": "AclEntry"
          }
        }
      }
    },
    "BackupConfiguration": {
      "id": "BackupConfiguration",
      "description": "Database instance backup configuration.",
      "properties": {
        "binaryLogEnabled": {
          "type": "boolean",
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well."
        },
        "replicationLogArchivingEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "pointInTimeRecoveryEnabled": {
          "type": "boolean",
          "description": "Whether point in time recovery is enabled."
        },
        "location": {
          "description": "Location of the backup",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#backupConfiguration`."
        },
        "transactionLogRetentionDays": {
          "type": "integer",
          "format": "int32",
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7."
        },
        "transactionalLogStorageState": {
          "description": "Output only. This value contains the storage location of transactional logs used to perform point-in-time recovery (PITR) for the database.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "The transaction logs used for PITR for the instance are stored on a data disk.",
            "The transaction logs used for PITR for the instance are switching from being stored on a data disk to being stored in Cloud Storage. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are now stored in Cloud Storage. Previously, they were stored on a data disk. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are stored in Cloud Storage. Only applicable to MySQL and PostgreSQL."
          ],
          "readOnly": true,
          "enum": [
            "TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED",
            "DISK",
            "SWITCHING_TO_CLOUD_STORAGE",
            "SWITCHED_TO_CLOUD_STORAGE",
            "CLOUD_STORAGE"
          ]
        },
        "backupTier": {
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "enum": [
            "BACKUP_TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED",
            "ENHANCED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Instance is managed by Cloud SQL.",
            "Deprecated: ADVANCED is deprecated. Please use ENHANCED instead.",
            "Instance is managed by Google Cloud Backup and DR Service."
          ],
          "description": "Output only. Backup tier that manages the backups for the instance."
        },
        "startTime": {
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`.",
          "type": "string"
        },
        "backupRetentionSettings": {
          "description": "Backup retention settings.",
          "$ref": "BackupRetentionSettings"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether this configuration is enabled."
        }
      },
      "type": "object"
    },
    "Backup": {
      "type": "object",
      "id": "Backup",
      "description": "A backup resource.",
      "properties": {
        "satisfiesPzi": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. This status indicates whether the backup satisfies PZI. The status is reserved for future use."
        },
        "instance": {
          "type": "string",
          "description": "The name of the source database instance."
        },
        "expiryTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Backup expiration time. A UTC timestamp of when this backup expired."
        },
        "backupKind": {
          "readOnly": true,
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "description": "Output only. Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ]
        },
        "state": {
          "enum": [
            "SQL_BACKUP_STATE_UNSPECIFIED",
            "ENQUEUED",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "DELETING",
            "DELETION_FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state of the backup is unknown.",
            "The backup that's added to a queue.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup is successful.",
            "The backup is being deleted.",
            "Deletion of the backup failed."
          ],
          "description": "Output only. The status of this backup."
        },
        "description": {
          "type": "string",
          "description": "The description of this backup."
        },
        "maxChargeableBytes": {
          "readOnly": true,
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "type": "string",
          "format": "int64"
        },
        "instanceSettings": {
          "readOnly": true,
          "description": "Optional. Output only. The instance setting of the source instance that's associated with this backup.",
          "$ref": "DatabaseInstance"
        },
        "type": {
          "description": "Output only. The type of this backup. The type can be \"AUTOMATED\", \"ON_DEMAND\" or “FINAL”.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown backup type.",
            "The backup schedule triggers a backup automatically.",
            "The user triggers a backup manually.",
            "The backup created when instance is deleted."
          ],
          "readOnly": true,
          "enum": [
            "SQL_BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND",
            "FINAL"
          ]
        },
        "instanceDeletionTime": {
          "readOnly": true,
          "description": "Optional. Output only. Timestamp in UTC of when the instance associated with this backup is deleted.",
          "type": "string",
          "format": "google-datetime"
        },
        "satisfiesPzs": {
          "description": "Output only. This status indicates whether the backup satisfies PZS. The status is reserved for future use.",
          "readOnly": true,
          "type": "boolean"
        },
        "location": {
          "description": "The storage location of the backups. The location can be multi-regional.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "readOnly": true,
          "description": "Output only. Information about why the backup operation fails (for example, when the backup state fails)."
        },
        "timeZone": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. This output contains a backup time zone. If a Cloud SQL for SQL Server instance has a different time zone from the backup's time zone, then the restore to the instance doesn't happen."
        },
        "backupInterval": {
          "description": "Output only. This output contains the following values: start_time: All database writes up to this time are available. end_time: Any database writes after this time aren't available.",
          "readOnly": true,
          "$ref": "Interval"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the backup. Format: projects/{project}/backups/{backup}.",
          "readOnly": true
        },
        "backupRun": {
          "type": "string",
          "description": "Output only. The mapping to backup run resource used for IAM validations.",
          "readOnly": true
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. The URI of this resource.",
          "readOnly": true
        },
        "kmsKeyVersion": {
          "description": "Output only. This output contains the encryption status for a backup and the version of the KMS key that's used to encrypt the Cloud SQL instance.",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. This is always `sql#backup`.",
          "type": "string"
        },
        "databaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "description": "Output only. The database version of the instance of at the time this backup was made."
        },
        "kmsKey": {
          "description": "Output only. This output contains the encryption configuration for a backup and the resource name of the KMS key for disk encryption.",
          "readOnly": true,
          "type": "string"
        },
        "ttlDays": {
          "description": "Input only. The time-to-live (TTL) interval for this resource (in days). For example: ttlDays:7, means 7 days from the current time. The expiration time can't exceed 365 days from the time that the backup is created.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "BackupContext": {
      "type": "object",
      "id": "BackupContext",
      "description": "Backup context.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the backup. Format: projects/{project}/backups/{backup}"
        },
        "backupId": {
          "type": "string",
          "format": "int64",
          "description": "The identifier of the backup."
        },
        "kind": {
          "description": "This is always `sql#backupContext`.",
          "type": "string"
        }
      }
    },
    "InstancesExportRequest": {
      "id": "InstancesExportRequest",
      "description": "Database instance export request.",
      "properties": {
        "exportContext": {
          "description": "Contains details about the export operation.",
          "$ref": "ExportContext"
        }
      },
      "type": "object"
    },
    "OperationError": {
      "type": "object",
      "id": "OperationError",
      "description": "Database instance operation error.",
      "properties": {
        "code": {
          "type": "string",
          "description": "Identifies the specific error that occurred."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#operationError`."
        },
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        }
      }
    },
    "PreCheckMajorVersionUpgradeContext": {
      "id": "PreCheckMajorVersionUpgradeContext",
      "description": "Pre-check major version upgrade context.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`."
        },
        "targetDatabaseVersion": {
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "description": "Required. The target database version to upgrade to.",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ]
        },
        "preCheckResponse": {
          "readOnly": true,
          "description": "Output only. The responses from the precheck operation.",
          "type": "array",
          "items": {
            "$ref": "PreCheckResponse"
          }
        }
      },
      "type": "object"
    },
    "CloneContext": {
      "id": "CloneContext",
      "description": "Database instance clone context.",
      "properties": {
        "pointInTime": {
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "type": "string",
          "format": "google-datetime"
        },
        "preferredSecondaryZone": {
          "description": "Optional. Copy clone and point-in-time recovery clone of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field. This field applies to all DB types.",
          "type": "string"
        },
        "sourceInstanceDeletionTime": {
          "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "databaseNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty."
        },
        "destinationNetwork": {
          "type": "string",
          "description": "Optional. The fully qualified URI of the VPC network to which the cloned instance will be connected via Private Services Access for private IP. For example:`projects/my-network-project/global/networks/my-network`. This field is only required for cross-project cloning."
        },
        "preferredZone": {
          "type": "string",
          "description": "Optional. Copy clone and point-in-time recovery clone of an instance to the specified zone. If no zone is specified, clone to the same primary zone as the source instance. This field applies to all DB types."
        },
        "kind": {
          "description": "This is always `sql#cloneContext`.",
          "type": "string"
        },
        "pitrTimestampMs": {
          "description": "Reserved for future use.",
          "type": "string",
          "format": "int64"
        },
        "destinationProject": {
          "type": "string",
          "description": "Optional. The project ID of the destination project where the cloned instance will be created. To perform a cross-project clone, this field is required. If not specified, the clone is created in the same project as the source instance."
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "destinationInstanceName": {
          "type": "string",
          "description": "Required. Name of the Cloud SQL instance to be created as a clone."
        }
      },
      "type": "object"
    },
    "InstancesListEntraIdCertificatesResponse": {
      "id": "InstancesListEntraIdCertificatesResponse",
      "description": "Instances ListEntraIdCertificates response.",
      "properties": {
        "certs": {
          "type": "array",
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of Entra ID certificates for the instance."
        },
        "kind": {
          "description": "This is always `sql#instancesListEntraIdCertificates`.",
          "type": "string"
        },
        "activeVersion": {
          "description": "The `sha1_fingerprint` of the active certificate from `certs`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "properties": {
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of week - `MONDAY`, `TUESDAY`, `WEDNESDAY`, `THURSDAY`, `FRIDAY`, `SATURDAY`, or `SUNDAY`. Specify in the UTC time zone. Returned in output as an integer, 1 to 7, where `1` equals Monday."
        },
        "hour": {
          "description": "Hour of day - 0 to 23. Specify in the UTC time zone.",
          "type": "integer",
          "format": "int32"
        },
        "updateTrack": {
          "description": "Maintenance timing settings: `canary`, `stable`, or `week5`. For more information, see [About maintenance on Cloud SQL instances](https://cloud.google.com/sql/docs/mysql/maintenance).",
          "type": "string",
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 7 to 14 days after the notification is sent out. Also referred to as `Week 1` (Console) and `preview` (gcloud CLI).",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 15 to 21 days after the notification is sent out. Also referred to as `Week 2` (Console) and `production` (gcloud CLI).",
            "For instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 35 to 42 days after the notification is sent out."
          ],
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable",
            "week5"
          ]
        },
        "kind": {
          "description": "This is always `sql#maintenanceWindow`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Tier": {
      "id": "Tier",
      "description": "A Google Cloud SQL service tier resource.",
      "properties": {
        "DiskQuota": {
          "type": "string",
          "format": "int64",
          "description": "The maximum disk size of this tier in bytes."
        },
        "region": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The applicable regions for this tier."
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        },
        "RAM": {
          "type": "string",
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes."
        },
        "kind": {
          "description": "This is always `sql#tier`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FailoverContext": {
      "type": "object",
      "id": "FailoverContext",
      "description": "Database instance failover context.",
      "properties": {
        "kind": {
          "description": "This is always `sql#failoverContext`.",
          "type": "string"
        },
        "settingsVersion": {
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
          "type": "string",
          "format": "int64"
        }
      }
    },
[...]
