{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "revision": "20260510",
  "kind": "discovery#restDescription",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/sql/docs",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "description": "API for Cloud SQL database instance management",
  "discoveryVersion": "v1",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "version": "v1",
  "endpoints": [
    {
      "location": "us-east7",
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-northeast1"
    },
    {
      "location": "northamerica-northeast2",
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north1"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-east2",
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east1"
    },
    {
      "location": "asia-east1",
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast2",
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central1"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "northamerica-south1"
    },
    {
      "location": "us-west8",
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "me-west1",
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west1",
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west9"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-southeast3"
    },
    {
      "location": "europe-west1",
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast1",
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west4"
    },
    {
      "location": "europe-west12",
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south2"
    },
    {
      "location": "australia-southeast1",
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west6"
    },
    {
      "location": "us-east4",
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-southeast2",
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-southwest1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west8"
    },
    {
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "africa-south1"
    },
    {
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "me-central2"
    },
    {
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-north2"
    },
    {
      "location": "asia-northeast1",
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west2"
    },
    {
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-east1"
    },
    {
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "asia-south1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west4"
    },
    {
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west3"
    },
    {
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "australia-southeast2"
    },
    {
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "southamerica-west1"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "europe-west10"
    }
  ],
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "servicePath": "",
  "title": "Cloud SQL Admin API",
  "schemas": {
    "PasswordValidationPolicy": {
      "id": "PasswordValidationPolicy",
      "description": "Database instance local user password validation policy. This message defines the password policy for local database users. When enabled, it enforces constraints on password complexity, length, and reuse. Keep this policy enabled to help prevent unauthorized access.",
      "type": "object",
      "properties": {
        "complexity": {
          "description": "The complexity of the password.",
          "type": "string",
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ],
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ]
        },
        "passwordChangeInterval": {
          "description": "Minimum interval after which the password can be changed. This flag is only supported for PostgreSQL.",
          "type": "string",
          "format": "google-duration"
        },
        "reuseInterval": {
          "format": "int32",
          "description": "Number of previous passwords that cannot be reused.",
          "type": "integer"
        },
        "disallowUsernameSubstring": {
          "description": "Disallow username as a part of the password.",
          "type": "boolean"
        },
        "disallowCompromisedCredentials": {
          "description": "This field is deprecated and will be removed in a future version of the API.",
          "type": "boolean",
          "deprecated": true
        },
        "enablePasswordPolicy": {
          "description": "Whether to enable the password policy or not. When enabled, passwords must meet complexity requirements. Keep this policy enabled to help prevent unauthorized access. Disabling this policy allows weak passwords.",
          "type": "boolean"
        },
        "minLength": {
          "description": "Minimum number of characters allowed.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Reschedule": {
      "id": "Reschedule",
      "type": "object",
      "properties": {
        "scheduleTime": {
          "format": "google-datetime",
          "description": "Optional. Timestamp when the maintenance shall be rescheduled to if reschedule_type=SPECIFIC_TIME, in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "rescheduleType": {
          "enumDescriptions": [
            "",
            "Reschedules maintenance to happen now (within 5 minutes).",
            "Reschedules maintenance to occur within one week from the originally scheduled day and time.",
            "Reschedules maintenance to a specific time and day."
          ],
          "enum": [
            "RESCHEDULE_TYPE_UNSPECIFIED",
            "IMMEDIATE",
            "NEXT_AVAILABLE_WINDOW",
            "SPECIFIC_TIME"
          ],
          "description": "Required. The type of the reschedule.",
          "type": "string"
        }
      }
    },
    "InstancesListEntraIdCertificatesResponse": {
      "id": "InstancesListEntraIdCertificatesResponse",
      "description": "Instances ListEntraIdCertificates response.",
      "type": "object",
      "properties": {
        "activeVersion": {
          "description": "The `sha1_fingerprint` of the active certificate from `certs`.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#instancesListEntraIdCertificates`.",
          "type": "string"
        },
        "certs": {
          "items": {
            "$ref": "SslCert"
          },
          "description": "List of Entra ID certificates for the instance.",
          "type": "array"
        }
      }
    },
    "TiersListResponse": {
      "id": "TiersListResponse",
      "description": "Tiers list response.",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of tiers.",
          "type": "array",
          "items": {
            "$ref": "Tier"
          }
        },
        "kind": {
          "description": "This is always `sql#tiersList`.",
          "type": "string"
        }
      }
    },
    "ImportContext": {
      "id": "ImportContext",
      "description": "Database instance import context.",
      "type": "object",
      "properties": {
        "uri": {
          "description": "Path to the import file in Cloud Storage, in the form `gs://bucketName/fileName`. Compressed gzip files (.gz) are supported when `fileType` is `SQL`. The instance must have write permissions to the bucket and read access to the file.",
          "type": "string"
        },
        "database": {
          "description": "The target database for the import. If `fileType` is `SQL`, this field is required only if the import file does not specify a database, and is overridden by any database specification in the import file. For entire instance parallel import operations, the database is overridden by the database name stored in subdirectory name. If `fileType` is `CSV`, one database must be specified.",
          "type": "string"
        },
        "bakImportOptions": {
          "description": "Import parameters specific to SQL Server .BAK files",
          "type": "object",
          "properties": {
            "striped": {
              "description": "Whether or not the backup set being restored is striped. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "encryptionOptions": {
              "type": "object",
              "properties": {
                "certPath": {
                  "description": "Path to the Certificate (.cer) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "pvkPassword": {
                  "description": "Password that encrypts the private key",
                  "type": "string"
                },
                "pvkPath": {
                  "description": "Path to the Certificate Private Key (.pvk) in Cloud Storage, in the form `gs://bucketName/fileName`. The instance must have write permissions to the bucket and read access to the file.",
                  "type": "string"
                },
                "keepEncrypted": {
                  "description": "Optional. Whether the imported file remains encrypted.",
                  "type": "boolean"
                }
              }
            },
            "recoveryOnly": {
              "description": "Whether or not the backup importing request will just bring database online without downloading Bak content only one of \"no_recovery\" and \"recovery_only\" can be true otherwise error will return. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "bakType": {
              "description": "Type of the bak content, FULL or DIFF",
              "type": "string",
              "enumDescriptions": [
                "Default type.",
                "Full backup.",
                "Differential backup.",
                "Transaction Log backup"
              ],
              "enum": [
                "BAK_TYPE_UNSPECIFIED",
                "FULL",
                "DIFF",
                "TLOG"
              ]
            },
            "stopAtMark": {
              "description": "Optional. The marked transaction where the import should stop. This field is equivalent to the STOPATMARK keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string"
            },
            "noRecovery": {
              "description": "Whether or not the backup importing will restore database with NORECOVERY option. Applies only to Cloud SQL for SQL Server.",
              "type": "boolean"
            },
            "stopAt": {
              "description": "Optional. The timestamp when the import should stop. This timestamp is in the [RFC 3339](https://tools.ietf.org/html/rfc3339) format (for example, `2023-10-01T16:19:00.094`). This field is equivalent to the STOPAT keyword and applies to Cloud SQL for SQL Server only.",
              "type": "string",
              "format": "google-datetime"
            }
          }
        },
        "tdeImportOptions": {
          "description": "Optional. Import parameters specific to SQL Server TDE certificates",
          "type": "object",
          "properties": {
            "name": {
              "description": "Required. Certificate name. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPath": {
              "description": "Required. Path to the TDE certificate private key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "certificatePath": {
              "description": "Required. Path to the TDE certificate public key in the form gs://bucketName/fileName. The instance must have read access to the file. Applicable only for SQL Server instances.",
              "type": "string"
            },
            "privateKeyPassword": {
              "description": "Required. Password that encrypts the private key.",
              "type": "string"
            }
          }
        },
        "csvImportOptions": {
          "description": "Options for importing data as CSV.",
          "type": "object",
          "properties": {
            "linesTerminatedBy": {
              "description": "This is used to separate lines. If a line does not contain all fields, the rest of the columns are set to their default values.",
              "type": "string"
            },
            "table": {
              "description": "The table to which CSV data is imported.",
              "type": "string"
            },
            "columns": {
              "items": {
                "type": "string"
              },
              "description": "The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.",
              "type": "array"
            },
            "quoteCharacter": {
              "description": "Specifies the quoting character to be used when a data value is quoted.",
              "type": "string"
            },
            "fieldsTerminatedBy": {
              "description": "Specifies the character that separates columns within each row (line) of the file.",
              "type": "string"
            },
            "escapeCharacter": {
              "description": "Specifies the character that should appear before a data character that needs to be escaped.",
              "type": "string"
            }
          }
        },
        "importUser": {
          "description": "The PostgreSQL user for this import operation. PostgreSQL instances only.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#importContext`.",
          "type": "string"
        },
        "fileType": {
          "description": "The file type for the specified uri.\\`SQL`: The file contains SQL statements. \\`CSV`: The file contains CSV data.",
          "type": "string",
          "enumDescriptions": [
            "Unknown file type.",
            "File containing SQL statements.",
            "File in CSV format.",
            "",
            "TDE certificate."
          ],
          "enum": [
            "SQL_FILE_TYPE_UNSPECIFIED",
            "SQL",
            "CSV",
            "BAK",
            "TDE"
          ]
        },
        "sqlImportOptions": {
          "description": "Optional. Options for importing data from SQL statements.",
          "type": "object",
          "properties": {
            "postgresImportOptions": {
              "description": "Optional. Options for importing from a Cloud SQL for PostgreSQL instance.",
              "type": "object",
              "properties": {
                "clean": {
                  "description": "Optional. The --clean flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel.",
                  "type": "boolean"
                },
                "ifExists": {
                  "description": "Optional. The --if-exists flag for the pg_restore utility. This flag applies only if you enabled Cloud SQL to import files in parallel.",
                  "type": "boolean"
                }
              }
            },
            "threads": {
              "description": "Optional. The number of threads to use for parallel import.",
              "type": "integer",
              "format": "int32"
            },
            "parallel": {
              "description": "Optional. Whether or not the import should be parallel.",
              "type": "boolean"
            }
          }
        }
      }
    },
    "FlagsListResponse": {
      "id": "FlagsListResponse",
      "description": "Flags list response.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#flagsList`.",
          "type": "string"
        },
        "items": {
          "description": "List of flags.",
          "type": "array",
          "items": {
            "$ref": "Flag"
          }
        }
      }
    },
    "ConnectionPoolFlags": {
      "id": "ConnectionPoolFlags",
      "description": "Connection pool flags for Cloud SQL instances managed connection pool configuration.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the flag.",
          "type": "string"
        },
        "value": {
          "description": "Required. The value of the flag. Boolean flags are set to `on` for true and `off` for false. This field must be omitted if the flag doesn't take a value.",
          "type": "string"
        }
      }
    },
    "RestoreBackupContext": {
      "id": "RestoreBackupContext",
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#restoreBackupContext`.",
          "type": "string"
        },
        "project": {
          "description": "The full project ID of the source instance.",
          "type": "string"
        },
        "instanceId": {
          "description": "The ID of the instance that the backup was taken from.",
          "type": "string"
        },
        "backupRunId": {
          "description": "The ID of the backup run to restore from.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "PscConfig": {
      "id": "PscConfig",
      "description": "PSC settings for a Cloud SQL instance.",
      "type": "object",
      "properties": {
        "pscEnabled": {
          "description": "Whether PSC connectivity is enabled for this instance.",
          "type": "boolean"
        },
        "pscWriteEndpointDnsEnabled": {
          "description": "Optional. Indicates whether PSC write endpoint DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal global DNS record across all networks configured with Private Service Connect (PSC) auto-connections that always points to the cluster primary instance. This feature is only supported for Enterprise Plus edition. This will default to true for new Enterprise Plus instances when `psc_auto_dns_enabled` is enabled.",
          "type": "boolean"
        },
        "allowedConsumerProjects": {
          "description": "Optional. The list of consumer projects that are allow-listed for PSC connections to this instance. This instance can be connected to with PSC from any network in these projects. Each consumer project in this list may be represented by a project number (numeric) or by a project id (alphanumeric).",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "pscAutoConnections": {
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "description": "Optional. The list of settings for requested Private Service Connect consumer endpoints that can be used to connect to this Cloud SQL instance.",
          "type": "array"
        },
        "networkAttachmentUri": {
          "description": "Optional. The network attachment of the consumer network that the Private Service Connect enabled Cloud SQL instance is authorized to connect via PSC interface. format: projects/PROJECT/regions/REGION/networkAttachments/ID",
          "type": "string"
        },
        "pscAutoDnsEnabled": {
          "description": "Optional. Indicates whether PSC DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal DNS record across all networks configured with Private Service Connect (PSC) auto-connections. This will default to true for new instances when Private Service Connect is enabled.",
          "type": "boolean"
        }
      }
    },
    "ReadPoolAutoScaleConfig": {
      "id": "ReadPoolAutoScaleConfig",
      "description": "The read pool auto-scale configuration.",
      "type": "object",
      "properties": {
        "scaleOutCooldownSeconds": {
          "format": "int32",
          "description": "The cooldown period for scale-out operations.",
          "type": "integer"
        },
        "disableScaleIn": {
          "description": "Indicates whether read pool auto scaling supports scale in operations (removing nodes).",
          "type": "boolean"
        },
        "minNodeCount": {
          "format": "int32",
          "description": "Minimum number of read pool nodes to be maintained.",
          "type": "integer"
        },
        "enabled": {
          "description": "Indicates whether read pool auto scaling is enabled.",
          "type": "boolean"
        },
        "maxNodeCount": {
          "format": "int32",
          "description": "Maximum number of read pool nodes to be maintained.",
          "type": "integer"
        },
        "targetMetrics": {
          "description": "Optional. Target metrics for read pool auto scaling.",
          "type": "array",
          "items": {
            "$ref": "TargetMetric"
          }
        },
        "scaleInCooldownSeconds": {
          "description": "The cooldown period for scale-in operations.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "DatabasesListResponse": {
      "id": "DatabasesListResponse",
      "description": "Database list response.",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of database resources in the instance.",
          "type": "array",
          "items": {
            "$ref": "Database"
          }
        },
        "kind": {
          "description": "This is always `sql#databasesList`.",
          "type": "string"
        }
      }
    },
    "Database": {
      "id": "Database",
      "description": "Represents a SQL database on the Cloud SQL instance.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#database`.",
          "type": "string"
        },
        "etag": {
          "description": "This field is deprecated and will be removed from a future version of the API.",
          "type": "string"
        },
        "collation": {
          "description": "The Cloud SQL collation value.",
          "type": "string"
        },
        "sqlserverDatabaseDetails": {
          "$ref": "SqlServerDatabaseDetails"
        },
        "name": {
          "description": "The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.",
          "type": "string"
        },
        "charset": {
          "description": "The Cloud SQL charset value.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID.",
          "type": "string"
        }
      }
    },
    "IpConfiguration": {
      "id": "IpConfiguration",
      "description": "IP Management configuration.",
      "type": "object",
      "properties": {
        "serverCertificateRotationMode": {
          "enumDescriptions": [
            "Unspecified: no automatic server certificate rotation.",
            "No automatic server certificate rotation. The user must [manage server certificate rotation](/sql/docs/mysql/manage-ssl-instance#rotate-server-certificate-cas) on their side.",
            "Automatic server certificate rotation during Cloud SQL scheduled maintenance or self-service maintenance updates. Requires `server_ca_mode` to be `GOOGLE_MANAGED_CAS_CA` or `CUSTOMER_MANAGED_CAS_CA`."
          ],
          "enum": [
            "SERVER_CERTIFICATE_ROTATION_MODE_UNSPECIFIED",
            "NO_AUTOMATIC_ROTATION",
            "AUTOMATIC_ROTATION_DURING_MAINTENANCE"
          ],
          "description": "Optional. Controls the automatic server certificate rotation feature. This feature is disabled by default. When enabled, the server certificate will be automatically rotated during Cloud SQL scheduled maintenance or self-service maintenance updates up to six months before it expires. This setting can only be set if server_ca_mode is either GOOGLE_MANAGED_CAS_CA or CUSTOMER_MANAGED_CAS_CA.",
          "type": "string"
        },
        "allocatedIpRange": {
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression `[a-z]([-a-z0-9]*[a-z0-9])?.`",
          "type": "string"
        },
        "requireSsl": {
          "description": "Use `ssl_mode` instead. Whether SSL/TLS connections over IP are enforced. If set to false, then allow both non-SSL/non-TLS and SSL/TLS connections. For SSL/TLS connections, the client certificate won't be verified. If set to true, then only allow connections encrypted with SSL/TLS and with valid client certificates. If you want to enforce SSL/TLS without enforcing the requirement for valid client certificates, then use the `ssl_mode` flag instead of the `require_ssl` flag.",
          "type": "boolean"
        },
        "authorizedNetworks": {
          "items": {
            "$ref": "AclEntry"
          },
          "description": "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: `157.197.200.0/24`).",
          "type": "array"
        },
        "privateNetwork": {
          "description": "The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`. This setting can be updated, but it cannot be removed after it is set.",
          "type": "string"
        },
        "enablePrivatePathForGoogleCloudServices": {
          "description": "Controls connectivity to private IP instances from Google services, such as BigQuery.",
          "type": "boolean"
        },
        "customSubjectAlternativeNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Custom Subject Alternative Name(SAN)s for a Cloud SQL instance.",
          "type": "array"
        },
        "sslMode": {
          "enum": [
            "SSL_MODE_UNSPECIFIED",
            "ALLOW_UNENCRYPTED_AND_ENCRYPTED",
            "ENCRYPTED_ONLY",
            "TRUSTED_CLIENT_CERTIFICATE_REQUIRED"
          ],
          "enumDescriptions": [
            "The SSL mode is unknown.",
            "Allow non-SSL/non-TLS and SSL/TLS connections. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS. For SSL connections to MySQL and PostgreSQL, the client certificate isn't verified. When this value is used, the legacy `require_ssl` flag must be false or cleared to avoid a conflict between the values of the two flags.",
            "Only allow connections encrypted with SSL/TLS and with valid client certificates. When this value is used, the legacy `require_ssl` flag must be true or cleared to avoid the conflict between values of two flags. PostgreSQL clients or users that connect using IAM database authentication must use either the [Cloud SQL Auth Proxy](https://cloud.google.com/sql/docs/postgres/connect-auth-proxy) or [Cloud SQL Connectors](https://cloud.google.com/sql/docs/postgres/connect-connectors) to enforce client identity verification. Only applicable to MySQL and PostgreSQL. Not applicable to SQL Server."
          ],
          "description": "Specify how SSL/TLS is enforced in database connections. If you must use the `require_ssl` flag for backward compatibility, then only the following value pairs are valid: For PostgreSQL and MySQL: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false` * `ssl_mode=TRUSTED_CLIENT_CERTIFICATE_REQUIRED` and `require_ssl=true` For SQL Server: * `ssl_mode=ALLOW_UNENCRYPTED_AND_ENCRYPTED` and `require_ssl=false` * `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=true` The value of `ssl_mode` has priority over the value of `require_ssl`. For example, for the pair `ssl_mode=ENCRYPTED_ONLY` and `require_ssl=false`, `ssl_mode=ENCRYPTED_ONLY` means accept only SSL connections, while `require_ssl=false` means accept both non-SSL and SSL connections. In this case, MySQL and PostgreSQL databases respect `ssl_mode` and accepts only SSL connections.",
          "type": "string"
        },
        "pscConfig": {
          "$ref": "PscConfig",
          "description": "PSC settings for this instance."
        },
        "ipv4Enabled": {
          "description": "Whether the instance is assigned a public IP address or not.",
          "type": "boolean"
        },
        "serverCaMode": {
          "enum": [
            "CA_MODE_UNSPECIFIED",
            "GOOGLE_MANAGED_INTERNAL_CA",
            "GOOGLE_MANAGED_CAS_CA",
            "CUSTOMER_MANAGED_CAS_CA"
          ],
          "enumDescriptions": [
            "CA mode is unspecified. It is effectively the same as `GOOGLE_MANAGED_INTERNAL_CA`.",
            "Google-managed self-signed internal CA.",
            "Google-managed regional CA part of root CA hierarchy hosted on Google Cloud's Certificate Authority Service (CAS).",
            "Customer-managed CA hosted on Google Cloud's Certificate Authority Service (CAS)."
          ],
          "description": "Specify what type of CA is used for the server certificate.",
          "type": "string"
        },
        "serverCaPool": {
          "description": "Optional. The resource name of the server CA pool for an instance with `CUSTOMER_MANAGED_CAS_CA` as the `server_ca_mode`. Format: projects/{PROJECT}/locations/{REGION}/caPools/{CA_POOL_ID}",
          "type": "string"
        }
      }
    },
    "Tier": {
      "id": "Tier",
      "description": "A Google Cloud SQL service tier resource.",
      "type": "object",
      "properties": {
        "DiskQuota": {
          "format": "int64",
          "description": "The maximum disk size of this tier in bytes.",
          "type": "string"
        },
        "RAM": {
          "format": "int64",
          "description": "The maximum RAM usage of this tier in bytes.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#tier`.",
          "type": "string"
        },
        "region": {
          "items": {
            "type": "string"
          },
          "description": "The applicable regions for this tier.",
          "type": "array"
        },
        "tier": {
          "description": "An identifier for the machine type, for example, `db-custom-1-3840`. For related information, see [Pricing](/sql/pricing).",
          "type": "string"
        }
      }
    },
    "SslCertsInsertRequest": {
      "id": "SslCertsInsertRequest",
      "description": "SslCerts insert request.",
      "type": "object",
      "properties": {
        "commonName": {
          "description": "User supplied name. Must be a distinct name from the other certificates for this instance.",
          "type": "string"
        }
      }
    },
    "SqlSubOperationType": {
      "id": "SqlSubOperationType",
      "description": "The sub operation type based on the operation type.",
      "type": "object",
      "properties": {
        "maintenanceType": {
          "description": "The type of maintenance to be performed on the instance.",
          "type": "string",
          "enum": [
            "SQL_MAINTENANCE_TYPE_UNSPECIFIED",
            "INSTANCE_MAINTENANCE",
            "REPLICA_INCLUDED_MAINTENANCE",
            "INSTANCE_SELF_SERVICE_MAINTENANCE",
            "REPLICA_INCLUDED_SELF_SERVICE_MAINTENANCE"
          ],
          "enumDescriptions": [
            "Maintenance type is unspecified.",
            "Indicates that a standalone instance is undergoing maintenance. The instance can be either a primary instance or a replica.",
            "Indicates that the primary instance and all of its replicas, including cascading replicas, are undergoing maintenance. Maintenance is performed on groups of replicas first, followed by the primary instance.",
            "Indicates that the standalone instance is undergoing maintenance, initiated by self-service. The instance can be either a primary instance or a replica.",
            "Indicates that the primary instance and all of its replicas are undergoing maintenance, initiated by self-service. Maintenance is performed on groups of replicas first, followed by the primary instance."
          ]
        }
      }
    },
    "MaintenanceWindow": {
      "id": "MaintenanceWindow",
      "description": "Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.",
      "type": "object",
      "properties": {
        "hour": {
          "format": "int32",
          "description": "Hour of day - 0 to 23. Specify in the UTC time zone.",
          "type": "integer"
        },
        "updateTrack": {
          "description": "Maintenance timing settings: `canary`, `stable`, or `week5`. For more information, see [About maintenance on Cloud SQL instances](https://cloud.google.com/sql/docs/mysql/maintenance).",
          "type": "string",
          "enum": [
            "SQL_UPDATE_TRACK_UNSPECIFIED",
            "canary",
            "stable",
            "week5"
          ],
          "enumDescriptions": [
            "This is an unknown maintenance timing preference.",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 7 to 14 days after the notification is sent out. Also referred to as `Week 1` (Console) and `preview` (gcloud CLI).",
            "For an instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 15 to 21 days after the notification is sent out. Also referred to as `Week 2` (Console) and `production` (gcloud CLI).",
            "For instance with a scheduled maintenance window, this maintenance timing indicates that the maintenance update is scheduled 35 to 42 days after the notification is sent out."
          ]
        },
        "day": {
          "format": "int32",
          "description": "Day of week - `MONDAY`, `TUESDAY`, `WEDNESDAY`, `THURSDAY`, `FRIDAY`, `SATURDAY`, or `SUNDAY`. Specify in the UTC time zone. Returned in output as an integer, 1 to 7, where `1` equals Monday.",
          "type": "integer"
        },
        "kind": {
          "description": "This is always `sql#maintenanceWindow`.",
          "type": "string"
        }
      }
    },
    "OperationError": {
      "id": "OperationError",
      "description": "Database instance operation error.",
      "type": "object",
      "properties": {
        "code": {
          "description": "Identifies the specific error that occurred.",
          "type": "string"
        },
        "message": {
          "description": "Additional information about the error encountered.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#operationError`.",
          "type": "string"
        }
      }
    },
    "Settings": {
      "id": "Settings",
      "description": "Database instance settings.",
      "type": "object",
      "properties": {
        "storageAutoResize": {
          "description": "Configuration to increase storage size automatically. The default value is true.",
          "type": "boolean"
        },
        "locationPreference": {
          "$ref": "LocationPreference",
          "description": "The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or Compute Engine zone for better performance. App Engine co-location was only applicable to First Generation instances."
        },
        "dataDiskType": {
          "enum": [
            "SQL_DATA_DISK_TYPE_UNSPECIFIED",
            "PD_SSD",
            "PD_HDD",
            "OBSOLETE_LOCAL_SSD",
            "HYPERDISK_BALANCED"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false
          ],
          "type": "string",
          "enumDescriptions": [
            "This is an unknown data disk type.",
            "An SSD data disk.",
            "An HDD data disk.",
            "This field is deprecated and will be removed from a future version of the API.",
            "A Hyperdisk Balanced data disk."
          ],
          "description": "The type of data disk: `PD_SSD` (default) or `PD_HDD`. Not used for First Generation instances."
        },
        "deletionProtectionEnabled": {
          "description": "Configuration to protect against accidental instance deletion.",
          "type": "boolean"
        },
        "dataCacheConfig": {
          "description": "Configuration for data cache.",
          "$ref": "DataCacheConfig"
        },
        "acceleratedReplicaMode": {
          "description": "Optional. Whether the replica is in accelerated mode. This feature is in private preview and requires allowlisting to take effect.",
          "type": "boolean"
        },
        "userLabels": {
          "description": "User-provided labels, represented as a dictionary where each label is a single key value pair.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "pricingPlan": {
          "enumDescriptions": [
            "This is an unknown pricing plan for this instance.",
            "The instance is billed at a monthly flat rate.",
            "The instance is billed per usage."
          ],
          "enum": [
            "SQL_PRICING_PLAN_UNSPECIFIED",
            "PACKAGE",
            "PER_USE"
          ],
          "description": "The pricing plan for this instance. This can be either `PER_USE` or `PACKAGE`. Only `PER_USE` is supported for Second Generation instances.",
          "type": "string"
        },
        "backupConfiguration": {
          "$ref": "BackupConfiguration",
          "description": "The daily backup configuration for the instance."
        },
        "dataDiskProvisionedThroughput": {
          "description": "Optional. Provisioned throughput measured in MiB per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "type": "string",
          "format": "int64"
        },
        "maintenanceWindow": {
          "$ref": "MaintenanceWindow",
          "description": "The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes."
        },
        "performanceCaptureConfig": {
          "description": "Optional. Configuration for Performance Capture, provides diagnostic metrics during high load situations.",
          "$ref": "PerformanceCaptureConfig"
        },
        "replicationLagMaxSeconds": {
          "format": "int32",
          "description": "Optional. Configuration value for recreation of replica after certain replication lag",
          "type": "integer"
        },
        "availabilityType": {
          "description": "Availability type. Potential values: * `ZONAL`: The instance serves data from only one zone. Outages in that zone affect data accessibility. * `REGIONAL`: The instance can serve data from more than one zone in a region (it is highly available)./ For more information, see [Overview of the High Availability Configuration](https://cloud.google.com/sql/docs/mysql/high-availability).",
          "type": "string",
          "enum": [
            "SQL_AVAILABILITY_TYPE_UNSPECIFIED",
            "ZONAL",
            "REGIONAL"
          ],
          "enumDescriptions": [
            "This is an unknown Availability type.",
            "Zonal available instance.",
            "Regional available instance."
          ]
        },
        "dataDiskProvisionedIops": {
          "description": "Optional. Provisioned number of I/O operations per second for the data disk. This field is only used for hyperdisk-balanced disk types.",
          "type": "string",
          "format": "int64"
        },
        "readPoolAutoScaleConfig": {
          "$ref": "ReadPoolAutoScaleConfig",
          "description": "Optional. The read pool auto-scale configuration for the instance."
        },
        "finalBackupConfig": {
          "description": "Optional. The final backup configuration for the instance.",
          "$ref": "FinalBackupConfig"
        },
        "ipConfiguration": {
          "$ref": "IpConfiguration",
          "description": "The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances."
        },
        "advancedMachineFeatures": {
          "$ref": "AdvancedMachineFeatures",
          "description": "Specifies advanced machine configuration for the instances relevant only for SQL Server."
        },
        "dataDiskSizeGb": {
          "format": "int64",
          "description": "The size of data disk, in GB. The data disk size minimum is 10GB.",
          "type": "string"
        },
        "timeZone": {
          "description": "Server timezone, relevant only for Cloud SQL for SQL Server.",
          "type": "string"
        },
        "storageAutoResizeLimit": {
          "description": "The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.",
          "type": "string",
          "format": "int64"
        },
        "connectorEnforcement": {
          "description": "Specifies if connections must use Cloud SQL connectors. Option values include the following: `NOT_REQUIRED` (Cloud SQL instances can be connected without Cloud SQL Connectors) and `REQUIRED` (Only allow connections that use Cloud SQL Connectors). Note that using REQUIRED disables all existing authorized networks. If this field is not specified when creating a new instance, NOT_REQUIRED is used. If this field is not specified when patching or updating an existing instance, it is left unchanged in the instance.",
          "type": "string",
          "enumDescriptions": [
            "The requirement for Cloud SQL connectors is unknown.",
            "Do not require Cloud SQL connectors.",
            "Require all connections to use Cloud SQL connectors, including the Cloud SQL Auth Proxy and Cloud SQL Java, Python, and Go connectors. Note: This disables all existing authorized networks."
          ],
          "enum": [
            "CONNECTOR_ENFORCEMENT_UNSPECIFIED",
            "NOT_REQUIRED",
            "REQUIRED"
          ]
        },
        "edition": {
          "description": "Optional. The edition type of the Cloud SQL instance.",
          "type": "string",
          "enum": [
            "EDITION_UNSPECIFIED",
            "ENTERPRISE",
            "ENTERPRISE_PLUS",
            "DEVELOPER"
          ],
          "enumDescriptions": [
            "The instance did not specify the edition.",
            "The instance is an enterprise edition.",
            "The instance is an Enterprise Plus edition.",
            "This instance is a Cloud SQL developer edition instance."
          ]
        },
        "enableGoogleMlIntegration": {
          "description": "Optional. When this parameter is set to true, Cloud SQL instances can connect to Vertex AI to pass requests for real-time predictions and insights to the AI. The default value is false. This applies only to Cloud SQL for MySQL and Cloud SQL for PostgreSQL instances.",
          "type": "boolean"
        },
        "tier": {
          "description": "The tier (or machine type) for this instance, for example `db-custom-1-3840`. WARNING: Changing this restarts the instance.",
          "type": "string"
        },
        "insightsConfig": {
          "description": "Insights configuration, for now relevant only for Postgres.",
          "$ref": "InsightsConfig"
        },
        "databaseReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether replication is enabled or not. WARNING: Changing this restarts the instance.",
          "type": "boolean"
        },
        "crashSafeReplicationEnabled": {
          "description": "Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.",
          "type": "boolean",
          "deprecated": true
        },
        "entraidConfig": {
          "$ref": "SqlServerEntraIdConfig",
          "description": "Optional. The Microsoft Entra ID configuration for the SQL Server instance."
        },
        "dataApiAccess": {
          "description": "This parameter controls whether to allow using ExecuteSql API to connect to the instance. Not allowed by default.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified, effectively the same as `DISALLOW_DATA_API`.",
            "Disallow using ExecuteSql API to connect to the instance.",
            "Allow using ExecuteSql API to connect to the instance. For private IP instances, this allows authorized users to access the instance from the public internet using ExecuteSql API."
          ],
          "enum": [
            "DATA_API_ACCESS_UNSPECIFIED",
            "DISALLOW_DATA_API",
            "ALLOW_DATA_API"
          ]
        },
        "sqlServerAuditConfig": {
          "$ref": "SqlServerAuditConfig",
          "description": "SQL Server specific audit configuration."
        },
        "replicationType": {
          "description": "The type of replication this instance uses. This can be either `ASYNCHRONOUS` or `SYNCHRONOUS`. (Deprecated) This property was only applicable to First Generation instances.",
          "deprecated": true,
          "enumDescriptions": [
            "This is an unknown replication type for a Cloud SQL instance.",
            "The synchronous replication mode for First Generation instances. It is the default value.",
            "The asynchronous replication mode for First Generation instances. It provides a slight performance gain, but if an outage occurs while this option is set to asynchronous, you can lose up to a few seconds of updates to your data."
          ],
          "type": "string",
          "enum": [
            "SQL_REPLICATION_TYPE_UNSPECIFIED",
            "SYNCHRONOUS",
            "ASYNCHRONOUS"
          ]
        },
        "activationPolicy": {
          "enumDescriptions": [
            "Unknown activation plan.",
            "The instance is always up and running.",
            "The instance never starts.",
            "The instance starts upon receiving requests."
          ],
          "description": "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: * `ALWAYS`: The instance is on, and remains so even in the absence of connection requests. * `NEVER`: The instance is off; it is not activated, even if a connection request arrives.",
          "enum": [
            "SQL_ACTIVATION_POLICY_UNSPECIFIED",
            "ALWAYS",
            "NEVER",
            "ON_DEMAND"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true
          ],
          "type": "string"
        },
        "denyMaintenancePeriods": {
          "description": "Deny maintenance periods",
          "type": "array",
          "items": {
            "$ref": "DenyMaintenancePeriod"
          }
        },
        "autoUpgradeEnabled": {
          "description": "Optional. Cloud SQL for MySQL auto-upgrade configuration. When this parameter is set to true, auto-upgrade is enabled for MySQL 8.0 minor versions. The MySQL version must be 8.0.35 or higher.",
          "type": "boolean"
        },
        "activeDirectoryConfig": {
          "description": "Active Directory configuration, relevant only for Cloud SQL for SQL Server.",
          "$ref": "SqlActiveDirectoryConfig"
        },
        "kind": {
          "description": "This is always `sql#settings`.",
          "type": "string"
        },
        "retainBackupsOnDelete": {
          "description": "Optional. When this parameter is set to true, Cloud SQL retains backups of the instance even after the instance is deleted. The ON_DEMAND backup will be retained until customer deletes the backup or the project. The AUTOMATED backup will be retained based on the backups retention setting.",
          "type": "boolean"
        },
        "enableDataplexIntegration": {
          "description": "Optional. By default, Cloud SQL instances have schema extraction disabled for Dataplex. When this parameter is set to true, schema extraction for Dataplex on Cloud SQL instances is activated.",
          "type": "boolean"
        },
        "settingsVersion": {
          "description": "The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.",
          "type": "string",
          "format": "int64"
        },
        "authorizedGaeApplications": {
          "deprecated": true,
          "items": {
            "type": "string"
          },
          "description": "The App Engine app IDs that can access this instance. (Deprecated) Applied to First Generation instances only.",
          "type": "array"
        },
        "passwordValidationPolicy": {
          "description": "The local user password validation policy of the instance.",
          "$ref": "PasswordValidationPolicy"
        },
        "connectionPoolConfig": {
          "$ref": "ConnectionPoolConfig",
          "description": "Optional. The managed connection pooling configuration for the instance."
        },
        "databaseFlags": {
          "items": {
            "$ref": "DatabaseFlags"
          },
          "description": "The database flags passed to the instance at startup.",
          "type": "array"
        },
        "collation": {
          "description": "The name of server Instance collation.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "type": "object",
      "properties": {
        "apiWarning": {
          "$ref": "ApiWarning",
          "description": "An Admin API warning message."
        },
        "targetLink": {
          "type": "string"
        },
        "backupContext": {
          "$ref": "BackupContext",
          "description": "The context for backup operation, if applicable."
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#operation`.",
          "type": "string"
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "subOperationType": {
          "description": "Optional. The sub operation based on the operation type.",
          "$ref": "SqlSubOperationType"
        },
        "targetId": {
          "description": "Name of the resource on which this operation runs.",
          "type": "string"
        },
        "status": {
          "description": "The status of an operation.",
          "type": "string",
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ]
        },
        "importContext": {
          "description": "The context for import operation, if applicable.",
          "$ref": "ImportContext"
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "acquireSsrsLeaseContext": {
          "description": "The context for acquire SSRS lease operation, if applicable.",
          "$ref": "AcquireSsrsLeaseContext"
        },
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "targetProject": {
          "description": "The project ID of the target instance related to this operation.",
          "type": "string"
        },
        "startTime": {
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "operationType": {
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance. If a user with the specified username doesn't exist, a new user is created.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery.",
            "Re-encrypts CMEK instances with latest key version.",
            "Switches the roles of the primary and replica pair. The target instance should be the replica.",
            "Update a backup.",
            "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Reconfigures old primary after a promote replica operation. Effect of a promote operation to the old primary is executed in this operation, asynchronously from the promote replica operation executed to the replica.",
            "Indicates that the instance, its read replicas, and its cascading replicas are in maintenance. Maintenance typically gets initiated on groups of replicas first, followed by the primary instance. For each instance, maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Indicates that the instance (and any of its replicas) are currently in maintenance. This is initiated as a self-service request by using SSM. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Switches a primary instance to a replica. This operation runs as part of a switchover operation to the original primary instance.",
            "Updates the major version of a Cloud SQL instance.",
            "Deprecated: ADVANCED_BACKUP is deprecated. Use ENHANCED_BACKUP instead.",
            "Changes the BackupTier of a Cloud SQL instance.",
            "Creates a backup for an Enhanced BackupTier Cloud SQL instance.",
            "Repairs entire read pool or specified read pool nodes in the read pool.",
            "Creates a Cloud SQL read pool instance.",
            "Pre-checks the major version upgrade operation."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string",
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART",
            "REENCRYPT",
            "SWITCHOVER",
            "UPDATE_BACKUP",
            "ACQUIRE_SSRS_LEASE",
            "RELEASE_SSRS_LEASE",
            "RECONFIGURE_OLD_PRIMARY",
            "CLUSTER_MAINTENANCE",
            "SELF_SERVICE_MAINTENANCE",
            "SWITCHOVER_TO_REPLICA",
            "MAJOR_VERSION_UPGRADE",
            "ADVANCED_BACKUP",
            "MANAGE_BACKUP",
            "ENHANCED_BACKUP",
            "REPAIR_READ_POOL",
            "CREATE_READ_POOL",
            "PRE_CHECK_MAJOR_VERSION_UPGRADE"
          ]
        },
        "preCheckMajorVersionUpgradeContext": {
          "description": "This field is only populated when the operation_type is PRE_CHECK_MAJOR_VERSION_UPGRADE. The PreCheckMajorVersionUpgradeContext message itself contains the details for that pre-check, such as the target database version for the upgrade and the results of the check (including any warnings or errors found).",
          "$ref": "PreCheckMajorVersionUpgradeContext"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationErrors",
          "description": "If errors occurred during processing of this operation, this field will be populated."
        }
      }
    },
    "BackupRun": {
      "id": "BackupRun",
      "description": "A BackupRun resource.",
      "type": "object",
      "properties": {
        "error": {
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status.",
          "$ref": "OperationError"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "enqueuedTime": {
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "instance": {
          "description": "Name of the database instance.",
          "type": "string"
        },
        "timeZone": {
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server.",
          "type": "string"
        },
        "description": {
          "description": "The description of this run, only applicable to on-demand backups.",
          "type": "string"
        },
        "databaseVersion": {
          "readOnly": true,
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ],
          "description": "Output only. The instance database version at the time this backup was made.",
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "type": "string"
        },
        "diskEncryptionConfiguration": {
          "$ref": "DiskEncryptionConfiguration",
          "description": "Encryption configuration specific to a backup."
        },
        "id": {
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "type": "string",
          "format": "int64"
        },
        "status": {
          "description": "The status of this run.",
          "type": "string",
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ]
        },
        "windowStartTime": {
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "type": "string",
          "format": "google-datetime"
        },
        "maxChargeableBytes": {
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "location": {
          "description": "Location of the backups.",
          "type": "string"
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "backupKind": {
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ],
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ],
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#backupRun`.",
          "type": "string"
        },
        "type": {
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "type": "string"
        }
      }
    },
    "OperationErrors": {
      "id": "OperationErrors",
      "description": "Database instance operation errors list wrapper.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#operationErrors`.",
          "type": "string"
        },
        "errors": {
          "items": {
            "$ref": "OperationError"
          },
          "description": "The list of errors encountered while processing this operation.",
          "type": "array"
        }
      }
    },
    "ListBackupsResponse": {
      "id": "ListBackupsResponse",
      "description": "The response payload containing a list of the backups.",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "If a region isn't unavailable or if an unknown error occurs, then a warning message is returned.",
          "type": "array",
          "items": {
            "$ref": "ApiWarning"
          }
        },
        "backups": {
          "items": {
            "$ref": "Backup"
          },
          "description": "A list of backups.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, then there aren't subsequent pages.",
          "type": "string"
        }
      }
    },
    "ReplicationCluster": {
      "id": "ReplicationCluster",
      "description": "A primary instance and disaster recovery (DR) replica pair. A DR replica is a cross-region replica that you designate for failover in the event that the primary instance experiences regional failure. Applicable to MySQL and PostgreSQL.",
      "type": "object",
      "properties": {
        "drReplica": {
          "description": "Output only. Read-only field that indicates whether the replica is a DR replica. This field is not set if the instance is a primary instance.",
          "type": "boolean",
          "readOnly": true
        },
        "psaWriteEndpoint": {
          "description": "Output only. If set, this field indicates this instance has a private service access (PSA) DNS endpoint that is pointing to the primary instance of the cluster. If this instance is the primary, then the DNS endpoint points to this instance. After a switchover or replica failover operation, this DNS endpoint points to the promoted instance. This is a read-only field, returned to the user as information. This field can exist even if a standalone instance doesn't have a DR replica yet or the DR replica is deleted.",
          "type": "string",
          "readOnly": true
        },
        "failoverDrReplicaName": {
          "description": "Optional. If the instance is a primary instance, then this field identifies the disaster recovery (DR) replica. A DR replica is an optional configuration for Enterprise Plus edition instances. If the instance is a read replica, then the field is not set. Set this field to a replica name to designate a DR replica for a primary instance. Remove the replica name to remove the DR replica designation.",
          "type": "string"
        }
      }
    },
    "SqlServerUserDetails": {
      "id": "SqlServerUserDetails",
      "description": "Represents a Sql Server user on the Cloud SQL instance.",
      "type": "object",
      "properties": {
        "disabled": {
          "description": "If the user has been disabled",
          "type": "boolean"
        },
        "serverRoles": {
          "items": {
            "type": "string"
          },
          "description": "The server roles for this user",
          "type": "array"
        }
      }
    },
    "AvailableDatabaseVersion": {
      "id": "AvailableDatabaseVersion",
      "description": "An available database version. It can be a major or a minor version.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The database version's display name.",
          "type": "string"
        },
        "name": {
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version.",
          "type": "string"
        },
        "majorVersion": {
          "description": "The version's major version name.",
          "type": "string"
        }
      }
    },
    "SqlInstancesAcquireSsrsLeaseResponse": {
      "id": "SqlInstancesAcquireSsrsLeaseResponse",
      "description": "Response for the acquire SSRS lease request.",
      "type": "object",
      "properties": {
        "operationId": {
          "description": "The unique identifier for this operation.",
          "type": "string"
        }
      }
    },
    "BackupContext": {
      "id": "BackupContext",
      "description": "Backup context.",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#backupContext`.",
          "type": "string"
        },
        "backupId": {
          "description": "The identifier of the backup.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "description": "The name of the backup. Format: projects/{project}/backups/{backup}",
          "type": "string"
        }
      }
    },
    "SqlInstancesExecuteSqlResponse": {
      "id": "SqlInstancesExecuteSqlResponse",
      "description": "Execute SQL statements response.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "The additional metadata information regarding the execution of the SQL statements.",
          "$ref": "Metadata"
        },
        "status": {
          "$ref": "Status",
          "description": "Contains the error from the database if the SQL execution failed."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "A list of notices and warnings generated during query execution. For PostgreSQL, this includes all notices and warnings. For MySQL, this includes warnings generated by the last executed statement. To retrieve all warnings for a multi-statement query, `SHOW WARNINGS` must be executed after each statement.",
          "type": "array"
        },
        "results": {
          "items": {
            "$ref": "QueryResult"
          },
          "description": "The list of results after executing all the SQL statements.",
          "type": "array"
        }
      }
    },
    "DemoteMasterContext": {
      "id": "DemoteMasterContext",
      "description": "Database instance demote primary instance context.",
      "type": "object",
      "properties": {
        "skipReplicationSetup": {
          "description": "Flag to skip replication setup on the instance.",
          "type": "boolean"
        },
        "masterInstanceName": {
          "description": "The name of the instance which will act as on-premises primary instance in the replication setup.",
          "type": "string"
        },
        "replicaConfiguration": {
          "$ref": "DemoteMasterConfiguration",
          "description": "Configuration specific to read-replicas replicating from the on-premises primary instance."
        },
        "verifyGtidConsistency": {
          "description": "Verify the GTID consistency for demote operation. Default value: `True`. Setting this flag to `false` enables you to bypass the GTID consistency check between on-premises primary instance and Cloud SQL instance during the demotion operation but also exposes you to the risk of future replication failures. Change the value only if you know the reason for the GTID divergence and are confident that doing so will not cause any replication issues.",
          "type": "boolean"
        },
        "kind": {
          "description": "This is always `sql#demoteMasterContext`.",
          "type": "string"
        }
      }
    },
    "DnsNameMapping": {
      "id": "DnsNameMapping",
      "description": "DNS metadata.",
      "type": "object",
      "properties": {
        "dnsScope": {
          "enum": [
            "DNS_SCOPE_UNSPECIFIED",
            "INSTANCE",
            "CLUSTER"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "DNS scope not set. This value should not be used.",
            "Indicates an instance-level DNS name.",
            "Indicates a cluster-level DNS name."
          ],
          "description": "Output only. The scope that the DNS name applies to."
        },
        "connectionType": {
          "enum": [
            "CONNECTION_TYPE_UNSPECIFIED",
            "PUBLIC",
            "PRIVATE_SERVICES_ACCESS",
            "PRIVATE_SERVICE_CONNECT"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unknown connection type.",
            "Public IP.",
            "Private services access (private IP).",
            "Private Service Connect."
          ],
          "description": "Output only. The connection type of the DNS name."
        },
        "name": {
          "description": "Output only. The DNS name.",
          "type": "string",
          "readOnly": true
        },
        "recordManager": {
          "readOnly": true,
          "enumDescriptions": [
            "Record manager not set. This value should not be used.",
            "The record may be managed by the customer. It is not automatically managed by Cloud SQL automation.",
            "The record is managed by Cloud SQL, which will create, update, and delete the DNS records for the zone automatically when the Cloud SQL database instance is created or updated."
          ],
          "description": "Output only. The manager for this DNS record.",
          "enum": [
            "RECORD_MANAGER_UNSPECIFIED",
            "CUSTOMER",
            "CLOUD_SQL_AUTOMATION"
          ],
          "type": "string"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "BackupConfiguration": {
      "id": "BackupConfiguration",
      "description": "Database instance backup configuration.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "Start time for the daily backup configuration in UTC timezone in the 24 hour format - `HH:MM`.",
          "type": "string"
        },
        "pointInTimeRecoveryEnabled": {
          "description": "Whether point in time recovery is enabled.",
          "type": "boolean"
        },
        "backupTier": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "Instance is managed by Cloud SQL.",
            "Deprecated: ADVANCED is deprecated. Please use ENHANCED instead.",
            "Instance is managed by Google Cloud Backup and DR Service."
          ],
          "description": "Output only. Backup tier that manages the backups for the instance.",
          "enum": [
            "BACKUP_TIER_UNSPECIFIED",
            "STANDARD",
            "ADVANCED",
            "ENHANCED"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false
          ],
          "type": "string"
        },
        "transactionLogRetentionDays": {
          "description": "The number of days of transaction logs we retain for point in time restore, from 1-7.",
          "type": "integer",
          "format": "int32"
        },
        "location": {
          "description": "Location of the backup",
          "type": "string"
        },
        "enabled": {
          "description": "Whether this configuration is enabled.",
          "type": "boolean"
        },
        "binaryLogEnabled": {
          "description": "(MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.",
          "type": "boolean"
        },
        "backupRetentionSettings": {
          "$ref": "BackupRetentionSettings",
          "description": "Backup retention settings."
        },
        "replicationLogArchivingEnabled": {
          "description": "Reserved for future use.",
          "type": "boolean"
        },
        "transactionalLogStorageState": {
          "type": "string",
          "enum": [
            "TRANSACTIONAL_LOG_STORAGE_STATE_UNSPECIFIED",
            "DISK",
            "SWITCHING_TO_CLOUD_STORAGE",
            "SWITCHED_TO_CLOUD_STORAGE",
            "CLOUD_STORAGE"
          ],
          "description": "Output only. This value contains the storage location of transactional logs used to perform point-in-time recovery (PITR) for the database.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified.",
            "The transaction logs used for PITR for the instance are stored on a data disk.",
            "The transaction logs used for PITR for the instance are switching from being stored on a data disk to being stored in Cloud Storage. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are now stored in Cloud Storage. Previously, they were stored on a data disk. Only applicable to MySQL.",
            "The transaction logs used for PITR for the instance are stored in Cloud Storage. Only applicable to MySQL and PostgreSQL."
          ]
        },
        "kind": {
          "description": "This is always `sql#backupConfiguration`.",
          "type": "string"
        }
      }
    },
    "PoolNodeConfig": {
      "id": "PoolNodeConfig",
      "description": "Details of a single read pool node of a read pool.",
      "type": "object",
      "properties": {
        "gceZone": {
          "description": "Output only. The zone of the read pool node.",
          "type": "string",
          "readOnly": true
        },
        "pscServiceAttachmentLink": {
          "readOnly": true,
          "description": "Output only. The Private Service Connect (PSC) service attachment of the read pool node.",
          "type": "string"
        },
        "pscAutoConnections": {
          "description": "Output only. The list of settings for requested automatically-setup Private Service Connect (PSC) consumer endpoints that can be used to connect to this read pool node.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "PscAutoConnectionConfig"
          }
        },
        "name": {
          "description": "Output only. The name of the read pool node, to be used for retrieving metrics and logs.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "SQL_INSTANCE_STATE_UNSPECIFIED",
            "RUNNABLE",
            "SUSPENDED",
            "PENDING_DELETE",
            "PENDING_CREATE",
            "MAINTENANCE",
            "FAILED",
            "ONLINE_MAINTENANCE",
            "REPAIRING"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state of the instance is unknown.",
            "The instance is running, or has been stopped by owner.",
            "The instance is not available, for example due to problems with billing.",
            "The instance is being deleted.",
            "The instance is being created.",
            "The instance is down for maintenance.",
            "The creation of the instance failed or a fatal error occurred during maintenance.",
            "Deprecated",
            "(Applicable to read pool nodes only.) The read pool node needs to be repaired. The database might be unavailable."
          ],
          "description": "Output only. The current state of the read pool node."
        },
        "dnsNames": {
          "readOnly": true,
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this read pool node.",
          "type": "array"
        },
        "ipAddresses": {
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "IpMapping"
          }
        },
        "dnsName": {
          "description": "Output only. The DNS name of the read pool node.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "RotateServerCertificateContext": {
      "id": "RotateServerCertificateContext",
      "description": "Instance rotate server certificate context.",
      "type": "object",
[...]
