{
  "revision": "20260510",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://sqladmin.mtls.googleapis.com/",
  "name": "sqladmin",
  "rootUrl": "https://sqladmin.googleapis.com/",
  "title": "Cloud SQL Admin API",
  "baseUrl": "https://sqladmin.googleapis.com/",
  "version": "v1beta4",
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/sql/docs",
  "basePath": "",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-east7",
      "endpointUrl": "https://sqladmin.us-east7.rep.googleapis.com/"
    },
    {
      "location": "northamerica-northeast1",
      "endpointUrl": "https://sqladmin.northamerica-northeast1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.northamerica-northeast2.rep.googleapis.com/",
      "location": "northamerica-northeast2"
    },
    {
      "endpointUrl": "https://sqladmin.europe-north1.rep.googleapis.com/",
      "location": "europe-north1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-west2",
      "endpointUrl": "https://sqladmin.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.asia-east2.rep.googleapis.com/",
      "location": "asia-east2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west3.rep.googleapis.com/",
      "location": "europe-west3"
    },
    {
      "endpointUrl": "https://sqladmin.us-east1.rep.googleapis.com/",
      "location": "us-east1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-east1.rep.googleapis.com/",
      "location": "asia-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "asia-northeast2",
      "endpointUrl": "https://sqladmin.asia-northeast2.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-central1",
      "endpointUrl": "https://sqladmin.me-central1.rep.googleapis.com/"
    },
    {
      "location": "europe-central2",
      "endpointUrl": "https://sqladmin.europe-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "location": "northamerica-south1",
      "endpointUrl": "https://sqladmin.northamerica-south1.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west8",
      "endpointUrl": "https://sqladmin.us-west8.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "location": "me-west1",
      "endpointUrl": "https://sqladmin.me-west1.rep.googleapis.com/"
    },
    {
      "location": "asia-northeast3",
      "endpointUrl": "https://sqladmin.asia-northeast3.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-west1.rep.googleapis.com/",
      "location": "us-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "europe-west9",
      "endpointUrl": "https://sqladmin.europe-west9.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.asia-southeast3.rep.googleapis.com/",
      "location": "asia-southeast3",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west1.rep.googleapis.com/",
      "location": "europe-west1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-southeast1.rep.googleapis.com/",
      "location": "asia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.us-west4.rep.googleapis.com/",
      "location": "us-west4"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west12.rep.googleapis.com/",
      "location": "europe-west12",
      "description": "Regional Endpoint"
    },
    {
      "location": "asia-south2",
      "endpointUrl": "https://sqladmin.asia-south2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.australia-southeast1.rep.googleapis.com/",
      "location": "australia-southeast1"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west6.rep.googleapis.com/",
      "location": "europe-west6"
    },
    {
      "endpointUrl": "https://sqladmin.us-east4.rep.googleapis.com/",
      "location": "us-east4",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.asia-southeast2.rep.googleapis.com/",
      "location": "asia-southeast2"
    },
    {
      "endpointUrl": "https://sqladmin.europe-southwest1.rep.googleapis.com/",
      "location": "europe-southwest1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west8.rep.googleapis.com/",
      "location": "europe-west8",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.africa-south1.rep.googleapis.com/",
      "location": "africa-south1"
    },
    {
      "location": "me-central2",
      "endpointUrl": "https://sqladmin.me-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "location": "us-central2",
      "endpointUrl": "https://sqladmin.us-central2.rep.googleapis.com/",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-north2.rep.googleapis.com/",
      "location": "europe-north2"
    },
    {
      "endpointUrl": "https://sqladmin.asia-northeast1.rep.googleapis.com/",
      "location": "asia-northeast1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://sqladmin.europe-west2.rep.googleapis.com/",
      "location": "europe-west2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.southamerica-east1.rep.googleapis.com/",
      "location": "southamerica-east1"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-east5",
      "endpointUrl": "https://sqladmin.us-east5.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.asia-south1.rep.googleapis.com/",
      "location": "asia-south1",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west4.rep.googleapis.com/",
      "location": "europe-west4"
    },
    {
      "description": "Regional Endpoint",
      "location": "us-west3",
      "endpointUrl": "https://sqladmin.us-west3.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://sqladmin.australia-southeast2.rep.googleapis.com/",
      "location": "australia-southeast2",
      "description": "Regional Endpoint"
    },
    {
      "description": "Regional Endpoint",
      "location": "southamerica-west1",
      "endpointUrl": "https://sqladmin.southamerica-west1.rep.googleapis.com/"
    },
    {
      "description": "Regional Endpoint",
      "endpointUrl": "https://sqladmin.europe-west10.rep.googleapis.com/",
      "location": "europe-west10"
    }
  ],
  "id": "sqladmin:v1beta4",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/sqlservice.admin": {
          "description": "Manage your Google SQL Service instances"
        }
      }
    }
  },
  "description": "API for Cloud SQL database instance management",
  "servicePath": "",
  "parameters": {
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "schemas": {
    "RotateEntraIdCertificateContext": {
      "description": "Instance rotate Entra ID certificate context.",
      "id": "RotateEntraIdCertificateContext",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Optional. This is always `sql#rotateEntraIdCertificateContext`."
        },
        "nextVersion": {
          "type": "string",
          "description": "Optional. The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added Entra ID certificate version."
        }
      }
    },
    "DiskEncryptionStatus": {
      "description": "Disk encryption status for an instance.",
      "id": "DiskEncryptionStatus",
      "type": "object",
      "properties": {
        "kmsKeyVersionName": {
          "description": "KMS key version used to encrypt the Cloud SQL instance resource",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#diskEncryptionStatus`."
        }
      }
    },
    "ReplicaConfiguration": {
      "id": "ReplicaConfiguration",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#replicaConfiguration`."
        },
        "failoverTarget": {
          "description": "Specifies if the replica is the failover target. If the field is set to `true` the replica will be designated as a failover replica. In case the primary instance fails, the replica instance will be promoted as the new primary instance. Only one replica can be specified as failover target, and the replica has to be in different zone with the primary instance.",
          "type": "boolean"
        },
        "cascadableReplica": {
          "description": "Optional. Specifies if a SQL Server replica is a cascadable replica. A cascadable replica is a SQL Server cross region replica that supports replica(s) under it.",
          "type": "boolean"
        },
        "mysqlReplicaConfiguration": {
          "description": "MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named `master.info` in the data directory.",
          "$ref": "MySqlReplicaConfiguration"
        }
      },
      "description": "Read-replica configuration for connecting to the primary instance."
    },
    "Message": {
      "description": "Represents a notice or warning message from the database.",
      "id": "Message",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "The full message string. For PostgreSQL, this is a formatted string that may include severity, code, and the notice/warning message. For MySQL, this contains the warning message."
        },
        "severity": {
          "description": "The severity of the message (e.g., \"NOTICE\" for PostgreSQL, \"WARNING\" for MySQL).",
          "type": "string"
        }
      }
    },
    "SqlOutOfDiskReport": {
      "id": "SqlOutOfDiskReport",
      "type": "object",
      "properties": {
        "sqlMinRecommendedIncreaseSizeGb": {
          "description": "The minimum recommended increase size in GigaBytes This field is consumed by the frontend * Writers: * the proactive database wellness job for OOD. * Readers:",
          "format": "int32",
          "type": "integer"
        },
        "sqlOutOfDiskState": {
          "type": "string",
          "description": "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. * Writers: * the proactive database wellness job for OOD. * Readers: * the proactive database wellness job",
          "enumDescriptions": [
            "Unspecified state",
            "The instance has plenty space on data disk",
            "Data disk is almost used up. It is shutdown to prevent data corruption."
          ],
          "enum": [
            "SQL_OUT_OF_DISK_STATE_UNSPECIFIED",
            "NORMAL",
            "SOFT_SHUTDOWN"
          ]
        }
      },
      "description": "This message wraps up the information written by out-of-disk detection job."
    },
    "IpMapping": {
      "id": "IpMapping",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of this IP address. A `PRIMARY` address is a public address that can accept incoming connections. A `PRIVATE` address is a private address that can accept incoming connections. An `OUTGOING` address is the source address of connections originating from the instance, if supported.",
          "enumDescriptions": [
            "This is an unknown IP address type.",
            "IP address the customer is supposed to connect to. Usually this is the load balancer's IP address",
            "Source IP address of the connection a read replica establishes to its external primary instance. This IP address can be allowlisted by the customer in case it has a firewall that filters incoming connection to its on premises primary instance.",
            "Private IP used when using private IPs and network peering.",
            "V1 IP of a migrated instance. We want the user to decommission this IP as soon as the migration is complete. Note: V1 instances with V1 ip addresses will be counted as PRIMARY."
          ],
          "type": "string",
          "enum": [
            "SQL_IP_ADDRESS_TYPE_UNSPECIFIED",
            "PRIMARY",
            "OUTGOING",
            "PRIVATE",
            "MIGRATED_1ST_GEN"
          ]
        },
        "timeToRetire": {
          "type": "string",
          "description": "The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`. This field is only available when the IP is scheduled to be retired.",
          "format": "google-datetime"
        },
        "ipAddress": {
          "type": "string",
          "description": "The IP address assigned."
        }
      },
      "description": "Database instance IP mapping"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "PasswordStatus": {
      "description": "Read-only password status.",
      "id": "PasswordStatus",
      "type": "object",
      "properties": {
        "passwordExpirationTime": {
          "description": "The expiration time of the current password.",
          "format": "google-datetime",
          "type": "string"
        },
        "locked": {
          "type": "boolean",
          "description": "If true, user does not have login privileges."
        }
      }
    },
    "RotateServerCaContext": {
      "id": "RotateServerCaContext",
      "type": "object",
      "properties": {
        "nextVersion": {
          "type": "string",
          "description": "The fingerprint of the next version to be rotated to. If left unspecified, will be rotated to the most recently added server CA version."
        },
        "kind": {
          "description": "This is always `sql#rotateServerCaContext`.",
          "type": "string"
        }
      },
      "description": "Instance rotate server CA context."
    },
    "SqlInstancesGetLatestRecoveryTimeResponse": {
      "id": "SqlInstancesGetLatestRecoveryTimeResponse",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#getLatestRecoveryTime`.",
          "type": "string"
        },
        "earliestRecoveryTime": {
          "description": "Timestamp, identifies the earliest recovery time of the source instance.",
          "format": "google-datetime",
          "type": "string"
        },
        "latestRecoveryTime": {
          "description": "Timestamp, identifies the latest recovery time of the source instance.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Instance get latest recovery time response."
    },
    "SyncFlags": {
      "description": "Initial sync flags for certain Cloud SQL APIs. Currently used for the MySQL external server initial dump.",
      "id": "SyncFlags",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the flag.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The value of the flag. This field must be omitted if the flag doesn't take a value."
        }
      }
    },
    "DemoteMasterMySqlReplicaConfiguration": {
      "id": "DemoteMasterMySqlReplicaConfiguration",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This is always `sql#demoteMasterMysqlReplicaConfiguration`.",
          "type": "string"
        },
        "username": {
          "description": "The username for the replication connection.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "The password for the replication connection."
        },
        "clientKey": {
          "type": "string",
          "description": "PEM representation of the replica's private key. The corresponding public key is encoded in the client's certificate. The format of the replica's private key can be either PKCS #1 or PKCS #8."
        },
        "caCertificate": {
          "description": "PEM representation of the trusted CA's x509 certificate.",
          "type": "string"
        },
        "clientCertificate": {
          "description": "PEM representation of the replica's x509 certificate.",
          "type": "string"
        }
      },
      "description": "Read-replica configuration specific to MySQL databases."
    },
    "InstancesRestoreBackupRequest": {
      "description": "Database instance restore backup request.",
      "id": "InstancesRestoreBackupRequest",
      "type": "object",
      "properties": {
        "restoreInstanceSettings": {
          "description": "Optional. By using this parameter, Cloud SQL overrides any instance settings stored in the backup you are restoring from. You can't change the instance's major database version and you can only increase the disk size. You can use this field to restore new instances only. This field is not applicable for restore to existing instances.",
          "$ref": "DatabaseInstance"
        },
        "restoreBackupContext": {
          "description": "Parameters required to perform the restore backup operation.",
          "$ref": "RestoreBackupContext"
        },
        "backupdrBackup": {
          "type": "string",
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: \"projects/{project-id}/locations/{location}/backupVaults/{backupvault}/dataSources/{datasource}/backups/{backup-uid}\". Only one of restore_backup_context, backup, backupdr_backup can be passed to the input."
        },
        "backup": {
          "type": "string",
          "description": "The name of the backup that's used to restore a Cloud SQL instance: Format: projects/{project-id}/backups/{backup-uid}. Only one of restore_backup_context, backup, backupdr_backup can be passed to the input."
        },
        "restoreInstanceClearOverridesFieldNames": {
          "description": "Optional. This field has the same purpose as restore_instance_settings, changes any instance settings stored in the backup you are restoring from. With the difference that these fields are cleared in the settings.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DemoteContext": {
      "id": "DemoteContext",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#demoteContext`."
        },
        "sourceRepresentativeInstanceName": {
          "description": "Required. The name of the instance which acts as an on-premises primary instance in the replication setup.",
          "type": "string"
        }
      },
      "description": "This context is used to demote an existing standalone instance to be a Cloud SQL read replica for an external database server."
    },
    "AclEntry": {
      "id": "AclEntry",
      "type": "object",
      "properties": {
        "expirationTime": {
          "description": "The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "value": {
          "description": "The allowlisted value for the access control list.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. A label to identify this entry."
        },
        "kind": {
          "description": "This is always `sql#aclEntry`.",
          "type": "string"
        }
      },
      "description": "An entry for an Access Control list."
    },
    "SqlInstancesVerifyExternalSyncSettingsResponse": {
      "id": "SqlInstancesVerifyExternalSyncSettingsResponse",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#migrationSettingErrorList`."
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          },
          "description": "List of migration violations."
        },
        "warnings": {
          "description": "List of migration warnings.",
          "type": "array",
          "items": {
            "$ref": "SqlExternalSyncSettingError"
          }
        }
      },
      "description": "Instance verify external sync settings response."
    },
    "InsightsConfig": {
      "id": "InsightsConfig",
      "type": "object",
      "properties": {
        "queryStringLength": {
          "description": "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query lengths greater than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database.",
          "format": "int32",
          "type": "integer"
        },
        "enhancedQueryInsightsEnabled": {
          "description": "Optional. Whether enhanced query insights feature is enabled.",
          "type": "boolean"
        },
        "queryInsightsEnabled": {
          "type": "boolean",
          "description": "Whether Query Insights feature is enabled."
        },
        "queryPlansPerMinute": {
          "description": "Number of query execution plans captured by Insights per minute for all queries combined. Default is 5.",
          "format": "int32",
          "type": "integer"
        },
        "recordApplicationTags": {
          "description": "Whether Query Insights will record application tags from query when enabled.",
          "type": "boolean"
        },
        "recordClientAddress": {
          "description": "Whether Query Insights will record client address when enabled.",
          "type": "boolean"
        }
      },
      "description": "Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration."
    },
    "Operation": {
      "description": "An Operation resource. For successful operations that return an Operation resource, only the fields relevant to the operation are populated in the resource.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "importContext": {
          "$ref": "ImportContext",
          "description": "The context for import operation, if applicable."
        },
        "backupContext": {
          "$ref": "BackupContext",
          "description": "The context for backup operation, if applicable."
        },
        "startTime": {
          "type": "string",
          "description": "The time this operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "exportContext": {
          "description": "The context for export operation, if applicable.",
          "$ref": "ExportContext"
        },
        "targetLink": {
          "type": "string"
        },
        "insertTime": {
          "description": "The time this operation was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "selfLink": {
          "description": "The URI of this resource.",
          "type": "string"
        },
        "targetProject": {
          "type": "string",
          "description": "The project ID of the target instance related to this operation."
        },
        "endTime": {
          "type": "string",
          "description": "The time this operation finished in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "status": {
          "enum": [
            "SQL_OPERATION_STATUS_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "DONE"
          ],
          "type": "string",
          "description": "The status of an operation.",
          "enumDescriptions": [
            "The state of the operation is unknown.",
            "The operation has been queued, but has not started yet.",
            "The operation is running.",
            "The operation completed."
          ]
        },
        "name": {
          "description": "An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.",
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#operation`.",
          "type": "string"
        },
        "apiWarning": {
          "description": "An Admin API warning message.",
          "$ref": "ApiWarning"
        },
        "user": {
          "description": "The email address of the user who initiated this operation.",
          "type": "string"
        },
        "error": {
          "description": "If errors occurred during processing of this operation, this field will be populated.",
          "$ref": "OperationErrors"
        },
        "subOperationType": {
          "description": "Optional. The sub operation based on the operation type.",
          "$ref": "SqlSubOperationType"
        },
        "acquireSsrsLeaseContext": {
          "$ref": "AcquireSsrsLeaseContext",
          "description": "The context for acquire SSRS lease operation, if applicable."
        },
        "operationType": {
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            true,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "The type of the operation. Valid values are: * `CREATE` * `DELETE` * `UPDATE` * `RESTART` * `IMPORT` * `EXPORT` * `BACKUP_VOLUME` * `RESTORE_VOLUME` * `CREATE_USER` * `DELETE_USER` * `CREATE_DATABASE` * `DELETE_DATABASE`",
          "enumDescriptions": [
            "Unknown operation type.",
            "Imports data into a Cloud SQL instance.",
            "Exports data from a Cloud SQL instance to a Cloud Storage bucket.",
            "Creates a new Cloud SQL instance.",
            "Updates the settings of a Cloud SQL instance.",
            "Deletes a Cloud SQL instance.",
            "Restarts the Cloud SQL instance.",
            "",
            "",
            "Performs instance backup.",
            "Deletes an instance backup.",
            "Restores an instance backup.",
            "Injects a privileged user in mysql for MOB instances.",
            "Clones a Cloud SQL instance.",
            "Stops replication on a Cloud SQL read replica instance.",
            "Starts replication on a Cloud SQL read replica instance.",
            "Promotes a Cloud SQL replica instance.",
            "Creates a Cloud SQL replica instance.",
            "Creates a new user in a Cloud SQL instance.",
            "Deletes a user from a Cloud SQL instance.",
            "Updates an existing user in a Cloud SQL instance. If a user with the specified username doesn't exist, a new user is created.",
            "Creates a database in the Cloud SQL instance.",
            "Deletes a database in the Cloud SQL instance.",
            "Updates a database in the Cloud SQL instance.",
            "Performs failover of an HA-enabled Cloud SQL failover replica.",
            "Deletes the backup taken by a backup run.",
            "",
            "Truncates a general or slow log table in MySQL.",
            "Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.",
            "Indicates that the instance is currently in maintenance. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "This field is deprecated, and will be removed in future version of API.",
            "",
            "Creates clone instance.",
            "Reschedule maintenance to another time.",
            "Starts external sync of a Cloud SQL EM replica to an external primary instance.",
            "Recovers logs from an instance's old data disk.",
            "Performs auto-restart of an HA-enabled Cloud SQL database for auto recovery.",
            "Re-encrypts CMEK instances with latest key version.",
            "Switches the roles of the primary and replica pair. The target instance should be the replica.",
            "Update a backup.",
            "Acquire a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Release a lease for the setup of SQL Server Reporting Services (SSRS).",
            "Reconfigures old primary after a promote replica operation. Effect of a promote operation to the old primary is executed in this operation, asynchronously from the promote replica operation executed to the replica.",
            "Indicates that the instance, its read replicas, and its cascading replicas are in maintenance. Maintenance typically gets initiated on groups of replicas first, followed by the primary instance. For each instance, maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Indicates that the instance (and any of its replicas) are currently in maintenance. This is initiated as a self-service request by using SSM. Maintenance typically causes the instance to be unavailable for 1-3 minutes.",
            "Switches a primary instance to a replica. This operation runs as part of a switchover operation to the original primary instance.",
            "Updates the major version of a Cloud SQL instance.",
            "Deprecated: ADVANCED_BACKUP is deprecated. Use ENHANCED_BACKUP instead.",
            "Changes the BackupTier of a Cloud SQL instance.",
            "Creates a backup for an Enhanced BackupTier Cloud SQL instance.",
            "Repairs entire read pool or specified read pool nodes in the read pool.",
            "Creates a Cloud SQL read pool instance.",
            "Pre-checks for major version upgrade.",
            "Creates a new Blue-Green deployment.",
            "Switches over a Blue-Green deployment.",
            "Deletes a Blue-Green deployment."
          ],
          "enum": [
            "SQL_OPERATION_TYPE_UNSPECIFIED",
            "IMPORT",
            "EXPORT",
            "CREATE",
            "UPDATE",
            "DELETE",
            "RESTART",
            "BACKUP",
            "SNAPSHOT",
            "BACKUP_VOLUME",
            "DELETE_VOLUME",
            "RESTORE_VOLUME",
            "INJECT_USER",
            "CLONE",
            "STOP_REPLICA",
            "START_REPLICA",
            "PROMOTE_REPLICA",
            "CREATE_REPLICA",
            "CREATE_USER",
            "DELETE_USER",
            "UPDATE_USER",
            "CREATE_DATABASE",
            "DELETE_DATABASE",
            "UPDATE_DATABASE",
            "FAILOVER",
            "DELETE_BACKUP",
            "RECREATE_REPLICA",
            "TRUNCATE_LOG",
            "DEMOTE_MASTER",
            "MAINTENANCE",
            "ENABLE_PRIVATE_IP",
            "DEFER_MAINTENANCE",
            "CREATE_CLONE",
            "RESCHEDULE_MAINTENANCE",
            "START_EXTERNAL_SYNC",
            "LOG_CLEANUP",
            "AUTO_RESTART",
            "REENCRYPT",
            "SWITCHOVER",
            "UPDATE_BACKUP",
            "ACQUIRE_SSRS_LEASE",
            "RELEASE_SSRS_LEASE",
            "RECONFIGURE_OLD_PRIMARY",
            "CLUSTER_MAINTENANCE",
            "SELF_SERVICE_MAINTENANCE",
            "SWITCHOVER_TO_REPLICA",
            "MAJOR_VERSION_UPGRADE",
            "ADVANCED_BACKUP",
            "MANAGE_BACKUP",
            "ENHANCED_BACKUP",
            "REPAIR_READ_POOL",
            "CREATE_READ_POOL",
            "PRE_CHECK_MAJOR_VERSION_UPGRADE",
            "CREATE_BLUE_GREEN_DEPLOYMENT",
            "SWITCHOVER_BLUE_GREEN_DEPLOYMENT",
            "DELETE_BLUE_GREEN_DEPLOYMENT"
          ]
        },
        "preCheckMajorVersionUpgradeContext": {
          "$ref": "PreCheckMajorVersionUpgradeContext",
          "description": "The context for pre-check major version upgrade operation, if applicable. This field is only populated when the operation_type is PRE_CHECK_MAJOR_VERSION_UPGRADE. The PreCheckMajorVersionUpgradeContext message itself contains the details for that pre-check, such as the target database version for the upgrade and the results of the check (including any warnings or errors found)."
        },
        "targetId": {
          "description": "Name of the resource on which this operation runs.",
          "type": "string"
        }
      }
    },
    "Flag": {
      "description": "A flag resource.",
      "id": "Flag",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#flag`."
        },
        "name": {
          "description": "This is the name of the flag. Flag names always use underscores, not hyphens, for example: `max_allowed_packet`",
          "type": "string"
        },
        "appliesTo": {
          "description": "The database version this flag applies to. Can be MySQL instances: `MYSQL_8_0`, `MYSQL_8_0_18`, `MYSQL_8_0_26`, `MYSQL_5_7`, or `MYSQL_5_6`. PostgreSQL instances: `POSTGRES_9_6`, `POSTGRES_10`, `POSTGRES_11` or `POSTGRES_12`. SQL Server instances: `SQLSERVER_2017_STANDARD`, `SQLSERVER_2017_ENTERPRISE`, `SQLSERVER_2017_EXPRESS`, `SQLSERVER_2017_WEB`, `SQLSERVER_2019_STANDARD`, `SQLSERVER_2019_ENTERPRISE`, `SQLSERVER_2019_EXPRESS`, or `SQLSERVER_2019_WEB`. See [the complete list](/sql/docs/mysql/admin-api/rest/v1/SqlDatabaseVersion).",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "This is an unknown database version.",
              "The database version is MySQL 5.1.",
              "The database version is MySQL 5.5.",
              "The database version is MySQL 5.6.",
              "The database version is MySQL 5.7.",
              "The database version is MySQL 8.",
              "The database major version is MySQL 8.0 and the minor version is 18.",
              "The database major version is MySQL 8.0 and the minor version is 26.",
              "The database major version is MySQL 8.0 and the minor version is 27.",
              "The database major version is MySQL 8.0 and the minor version is 28.",
              "The database major version is MySQL 8.0 and the minor version is 29.",
              "The database major version is MySQL 8.0 and the minor version is 30.",
              "The database major version is MySQL 8.0 and the minor version is 31.",
              "The database major version is MySQL 8.0 and the minor version is 32.",
              "The database major version is MySQL 8.0 and the minor version is 33.",
              "The database major version is MySQL 8.0 and the minor version is 34.",
              "The database major version is MySQL 8.0 and the minor version is 35.",
              "The database major version is MySQL 8.0 and the minor version is 36.",
              "The database major version is MySQL 8.0 and the minor version is 37.",
              "The database major version is MySQL 8.0 and the minor version is 39.",
              "The database major version is MySQL 8.0 and the minor version is 40.",
              "The database major version is MySQL 8.0 and the minor version is 41.",
              "The database major version is MySQL 8.0 and the minor version is 42.",
              "The database major version is MySQL 8.0 and the minor version is 43.",
              "The database major version is MySQL 8.0 and the minor version is 44.",
              "The database major version is MySQL 8.0 and the minor version is 45.",
              "The database major version is MySQL 8.0 and the minor version is 46.",
              "The database version is MySQL 8.4.",
              "The database version is MySQL 9.7.",
              "The database version is SQL Server 2017 Standard.",
              "The database version is SQL Server 2017 Enterprise.",
              "The database version is SQL Server 2017 Express.",
              "The database version is SQL Server 2017 Web.",
              "The database version is PostgreSQL 9.6.",
              "The database version is PostgreSQL 10.",
              "The database version is PostgreSQL 11.",
              "The database version is PostgreSQL 12.",
              "The database version is PostgreSQL 13.",
              "The database version is PostgreSQL 14.",
              "The database version is PostgreSQL 15.",
              "The database version is PostgreSQL 16.",
              "The database version is PostgreSQL 17.",
              "The database version is PostgreSQL 18.",
              "The database version is PostgreSQL 19.",
              "The database version is SQL Server 2019 Standard.",
              "The database version is SQL Server 2019 Enterprise.",
              "The database version is SQL Server 2019 Express.",
              "The database version is SQL Server 2019 Web.",
              "The database version is SQL Server 2022 Standard.",
              "The database version is SQL Server 2022 Enterprise.",
              "The database version is SQL Server 2022 Express.",
              "The database version is SQL Server 2022 Web.",
              "The database version is SQL Server 2025 Standard.",
              "The database version is SQL Server 2025 Enterprise.",
              "The database version is SQL Server 2025 Express."
            ],
            "type": "string",
            "enumDeprecated": [
              false,
              true,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enum": [
              "SQL_DATABASE_VERSION_UNSPECIFIED",
              "MYSQL_5_1",
              "MYSQL_5_5",
              "MYSQL_5_6",
              "MYSQL_5_7",
              "MYSQL_8_0",
              "MYSQL_8_0_18",
              "MYSQL_8_0_26",
              "MYSQL_8_0_27",
              "MYSQL_8_0_28",
              "MYSQL_8_0_29",
              "MYSQL_8_0_30",
              "MYSQL_8_0_31",
              "MYSQL_8_0_32",
              "MYSQL_8_0_33",
              "MYSQL_8_0_34",
              "MYSQL_8_0_35",
              "MYSQL_8_0_36",
              "MYSQL_8_0_37",
              "MYSQL_8_0_39",
              "MYSQL_8_0_40",
              "MYSQL_8_0_41",
              "MYSQL_8_0_42",
              "MYSQL_8_0_43",
              "MYSQL_8_0_44",
              "MYSQL_8_0_45",
              "MYSQL_8_0_46",
              "MYSQL_8_4",
              "MYSQL_9_7",
              "SQLSERVER_2017_STANDARD",
              "SQLSERVER_2017_ENTERPRISE",
              "SQLSERVER_2017_EXPRESS",
              "SQLSERVER_2017_WEB",
              "POSTGRES_9_6",
              "POSTGRES_10",
              "POSTGRES_11",
              "POSTGRES_12",
              "POSTGRES_13",
              "POSTGRES_14",
              "POSTGRES_15",
              "POSTGRES_16",
              "POSTGRES_17",
              "POSTGRES_18",
              "POSTGRES_19",
              "SQLSERVER_2019_STANDARD",
              "SQLSERVER_2019_ENTERPRISE",
              "SQLSERVER_2019_EXPRESS",
              "SQLSERVER_2019_WEB",
              "SQLSERVER_2022_STANDARD",
              "SQLSERVER_2022_ENTERPRISE",
              "SQLSERVER_2022_EXPRESS",
              "SQLSERVER_2022_WEB",
              "SQLSERVER_2025_STANDARD",
              "SQLSERVER_2025_ENTERPRISE",
              "SQLSERVER_2025_EXPRESS"
            ]
          }
        },
        "allowedStringValues": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For `STRING` flags, a list of strings that the value can be set to."
        },
        "requiresRestart": {
          "description": "Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances.",
          "type": "boolean"
        },
        "allowedIntValues": {
          "description": "Use this field if only certain integers are accepted. Can be combined with min_value and max_value to add additional values.",
          "type": "array",
          "items": {
            "format": "int64",
            "type": "string"
          }
        },
        "maxValue": {
          "type": "string",
          "description": "For `INTEGER` flags, the maximum allowed value.",
          "format": "int64"
        },
        "type": {
          "type": "string",
          "description": "The type of the flag. Flags are typed to being `BOOLEAN`, `STRING`, `INTEGER` or `NONE`. `NONE` is used for flags which do not take a value, such as `skip_grant_tables`.",
          "enumDescriptions": [
            "This is an unknown flag type.",
            "Boolean type flag.",
            "String type flag.",
            "Integer type flag.",
            "Flag type used for a server startup option.",
            "Type introduced specially for MySQL TimeZone offset. Accept a string value with the format [-12:59, 13:00].",
            "Float type flag.",
            "Comma-separated list of the strings in a SqlFlagType enum."
          ],
          "enum": [
            "SQL_FLAG_TYPE_UNSPECIFIED",
            "BOOLEAN",
            "STRING",
            "INTEGER",
            "NONE",
            "MYSQL_TIMEZONE_OFFSET",
            "FLOAT",
            "REPEATED_STRING"
          ]
        },
        "recommendedStringValue": {
          "description": "Recommended flag value in string format for UI display.",
          "type": "string"
        },
        "recommendedIntValue": {
          "type": "string",
          "description": "Recommended flag value in integer format for UI display.",
          "format": "int64"
        },
        "flagScope": {
          "enum": [
            "SQL_FLAG_SCOPE_UNSPECIFIED",
            "SQL_FLAG_SCOPE_DATABASE",
            "SQL_FLAG_SCOPE_CONNECTION_POOL"
          ],
          "description": "Scope of flag.",
          "enumDescriptions": [
            "Assume database flags if unspecified",
            "database flags",
            "connection pool configuration flags"
          ],
          "type": "string"
        },
        "inBeta": {
          "description": "Whether or not the flag is considered in beta.",
          "type": "boolean"
        },
        "minValue": {
          "type": "string",
          "description": "For `INTEGER` flags, the minimum allowed value.",
          "format": "int64"
        }
      }
    },
    "InstancesPreCheckMajorVersionUpgradeRequest": {
      "description": "Request for Pre-checks for MVU",
      "id": "InstancesPreCheckMajorVersionUpgradeRequest",
      "type": "object",
      "properties": {
        "preCheckMajorVersionUpgradeContext": {
          "$ref": "PreCheckMajorVersionUpgradeContext",
          "description": "Required. Contains details about the pre-check major version upgrade operation."
        }
      }
    },
    "SqlInstancesRescheduleMaintenanceRequestBody": {
      "description": "Reschedule options for maintenance windows.",
      "id": "SqlInstancesRescheduleMaintenanceRequestBody",
      "type": "object",
      "properties": {
        "reschedule": {
          "$ref": "Reschedule",
          "description": "Required. The type of the reschedule the user wants."
        }
      }
    },
    "ConnectPoolNodeConfig": {
      "description": "Details of a single read pool node of a read pool.",
      "id": "ConnectPoolNodeConfig",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the read pool node. Doesn't include the project ID.",
          "type": "string"
        },
        "ipAddresses": {
          "description": "Output only. Mappings containing IP addresses that can be used to connect to the read pool node.",
          "type": "array",
          "items": {
            "$ref": "IpMapping"
          },
          "readOnly": true
        },
        "dnsName": {
          "description": "Output only. The DNS name of the read pool node.",
          "type": "string",
          "readOnly": true
        },
        "dnsNames": {
          "type": "array",
          "items": {
            "$ref": "DnsNameMapping"
          },
          "description": "Output only. The list of DNS names used by this read pool node.",
          "readOnly": true
        }
      }
    },
    "GeminiInstanceConfig": {
      "id": "GeminiInstanceConfig",
      "type": "object",
      "properties": {
        "entitled": {
          "type": "boolean",
          "description": "Output only. Whether Gemini is enabled.",
          "readOnly": true
        },
        "oomSessionCancelEnabled": {
          "type": "boolean",
          "description": "Output only. Whether canceling the out-of-memory (OOM) session is enabled.",
          "readOnly": true
        },
        "googleVacuumMgmtEnabled": {
          "description": "Output only. Whether the vacuum management is enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "activeQueryEnabled": {
          "description": "Output only. Whether the active query is enabled.",
          "type": "boolean",
          "readOnly": true
        },
        "indexAdvisorEnabled": {
          "type": "boolean",
          "description": "Output only. Whether the index advisor is enabled.",
          "readOnly": true
        },
        "flagRecommenderEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the flag recommender is enabled.",
          "type": "boolean"
        }
      },
      "description": "Gemini instance configuration."
    },
    "FinalBackupConfig": {
      "description": "Config used to determine the final backup settings for the instance.",
      "id": "FinalBackupConfig",
      "type": "object",
      "properties": {
        "retentionDays": {
          "type": "integer",
          "description": "The number of days to retain the final backup after the instance deletion. The final backup will be purged at (time_of_instance_deletion + retention_days).",
          "format": "int32"
        },
        "enabled": {
          "type": "boolean",
          "description": "Whether the final backup is enabled for the instance."
        }
      }
    },
    "SqlServerUserDetails": {
      "id": "SqlServerUserDetails",
      "type": "object",
      "properties": {
        "disabled": {
          "type": "boolean",
          "description": "If the user has been disabled"
        },
        "serverRoles": {
          "description": "The server roles for this user",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Represents a Sql Server user on the Cloud SQL instance."
    },
    "ReadPoolAutoScaleConfig": {
      "description": "The read pool auto-scale configuration.",
      "id": "ReadPoolAutoScaleConfig",
      "type": "object",
      "properties": {
        "maxNodeCount": {
          "description": "Maximum number of read pool nodes to be maintained.",
          "format": "int32",
          "type": "integer"
        },
        "disableScaleIn": {
          "description": "Indicates whether read pool auto scaling supports scale in operations (removing nodes).",
          "type": "boolean"
        },
        "enabled": {
          "type": "boolean",
          "description": "Indicates whether read pool auto scaling is enabled."
        },
        "scaleInCooldownSeconds": {
          "description": "The cooldown period for scale in operations.",
          "format": "int32",
          "type": "integer"
        },
        "scaleOutCooldownSeconds": {
          "description": "The cooldown period for scale out operations.",
          "format": "int32",
          "type": "integer"
        },
        "targetMetrics": {
          "type": "array",
          "items": {
            "$ref": "TargetMetric"
          },
          "description": "Optional. Target metrics for read pool auto scaling."
        },
        "minNodeCount": {
          "type": "integer",
          "description": "Minimum number of read pool nodes to be maintained.",
          "format": "int32"
        }
      }
    },
    "InstancesRotateServerCertificateRequest": {
      "description": "Rotate Server Certificate request.",
      "id": "InstancesRotateServerCertificateRequest",
      "type": "object",
      "properties": {
        "rotateServerCertificateContext": {
          "$ref": "RotateServerCertificateContext",
          "description": "Optional. Contains details about the rotate server CA operation."
        }
      }
    },
    "PointInTimeRestoreContext": {
      "description": "Context to perform a point-in-time restore of an instance managed by Backup and Disaster Recovery (DR) Service.",
      "id": "PointInTimeRestoreContext",
      "type": "object",
      "properties": {
        "targetInstance": {
          "description": "Target instance name.",
          "type": "string"
        },
        "region": {
          "type": "string",
          "description": "Optional. The region of the target instance where the datasource will be restored. For example: \"us-central1\"."
        },
        "datasource": {
          "description": "The Backup and Disaster Recovery (DR) Service Datasource URI. Format: projects/{project}/locations/{region}/backupVaults/{backupvault}/dataSources/{datasource}.",
          "type": "string"
        },
        "privateNetwork": {
          "description": "Optional. The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, `/projects/myProject/global/networks/default`.",
          "type": "string"
        },
        "preferredSecondaryZone": {
          "type": "string",
          "description": "Optional. Point-in-time recovery of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field."
        },
        "pointInTime": {
          "type": "string",
          "description": "Required. The date and time to which you want to restore the instance.",
          "format": "google-datetime"
        },
        "targetInstanceClearSettingsFieldNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Specifies the instance settings that will be cleared from the source instance. This field is only applicable for cross project PITRs."
        },
        "preferredZone": {
          "description": "Optional. Point-in-time recovery of an instance to the specified zone. If no zone is specified, then clone to the same primary zone as the source instance.",
          "type": "string"
        },
        "allocatedIpRange": {
          "description": "Optional. The name of the allocated IP range for the internal IP Cloud SQL instance. For example: \"google-managed-services-default\". If you set this, then Cloud SQL creates the IP address for the cloned instance in the allocated range. This range must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035) standards. Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use.",
          "type": "string"
        },
        "targetInstanceSettings": {
          "$ref": "DatabaseInstance",
          "description": "Optional. Specifies the instance settings that will be overridden from the source instance. This field is only applicable for cross project PITRs."
        }
      }
    },
    "DataCacheConfig": {
      "description": "Data cache configurations.",
      "id": "DataCacheConfig",
      "type": "object",
      "properties": {
        "dataCacheEnabled": {
          "type": "boolean",
          "description": "Whether data cache is enabled for the instance."
        }
      }
    },
    "RestoreBackupContext": {
      "id": "RestoreBackupContext",
      "type": "object",
      "properties": {
        "backupRunId": {
          "type": "string",
          "description": "The ID of the backup run to restore from.",
          "format": "int64"
        },
        "kind": {
          "description": "This is always `sql#restoreBackupContext`.",
          "type": "string"
        },
        "instanceId": {
          "description": "The ID of the instance that the backup was taken from.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The full project ID of the source instance."
        }
      },
      "description": "Database instance restore from backup context. Backup context contains source instance id and project id."
    },
    "InstancesListServerCasResponse": {
      "description": "Instances ListServerCas response.",
      "id": "InstancesListServerCasResponse",
      "type": "object",
      "properties": {
        "certs": {
          "description": "List of server CA certificates for the instance.",
          "type": "array",
          "items": {
            "$ref": "SslCert"
          }
        },
        "activeVersion": {
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesListServerCas`."
        }
      }
    },
    "PerformDiskShrinkContext": {
      "id": "PerformDiskShrinkContext",
      "type": "object",
      "properties": {
        "targetSizeGb": {
          "type": "string",
          "description": "The target disk shrink size in GigaBytes.",
          "format": "int64"
        }
      },
      "description": "Perform disk shrink context."
    },
    "InstancesDemoteMasterRequest": {
      "id": "InstancesDemoteMasterRequest",
      "type": "object",
      "properties": {
        "demoteMasterContext": {
          "$ref": "DemoteMasterContext",
          "description": "Contains details about the demoteMaster operation."
        }
      },
      "description": "Database demote primary instance request."
    },
    "PerformanceCaptureConfig": {
      "id": "PerformanceCaptureConfig",
      "type": "object",
      "properties": {
        "probingIntervalSeconds": {
          "type": "integer",
          "description": "Optional. Specifies the interval in seconds between consecutive probes that check if any trigger condition thresholds have been reached.",
          "format": "int32"
        },
        "transactionDurationThreshold": {
          "description": "Optional. Specifies the amount of time in seconds that a transaction needs to have been open before the watcher starts recording it.",
          "format": "int32",
          "type": "integer"
        },
        "enabled": {
          "type": "boolean",
          "description": "Optional. Enables or disables the performance capture feature."
        },
        "secondsBehindSourceThreshold": {
          "description": "Optional. Specifies the minimum number of seconds replica must be lagging behind primary instance to trigger the performance capture on replica.",
          "format": "int32",
          "type": "integer"
        },
        "runningThreadsThreshold": {
          "description": "Optional. Specifies the minimum number of MySQL `Threads_running` to trigger the performance capture on the primary instance.",
          "format": "int32",
          "type": "integer"
        },
        "probeThreshold": {
          "description": "Optional. Specifies the minimum number of consecutive probe threshold that triggers performance capture.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Performance capture configuration."
    },
    "UsersListResponse": {
      "description": "User list response.",
      "id": "UsersListResponse",
      "type": "object",
      "properties": {
        "items": {
          "description": "List of user resources in the instance.",
          "type": "array",
          "items": {
            "$ref": "User"
          }
        },
        "nextPageToken": {
          "description": "Unused.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "description": "This is always *sql#usersList*.",
          "type": "string"
        }
      }
    },
    "CloneContext": {
      "id": "CloneContext",
      "type": "object",
      "properties": {
        "destinationNetwork": {
          "type": "string",
          "description": "Optional. The fully qualified URI of the VPC network to which the cloned instance will be connected via Private Services Access for private IP. For example:`projects/my-network-project/global/networks/my-network`. This field is only required for cross-project cloning."
        },
        "preferredZone": {
          "type": "string",
          "description": "Optional. Copy clone and point-in-time recovery clone of an instance to the specified zone. If no zone is specified, clone to the same primary zone as the source instance."
        },
        "allocatedIpRange": {
          "type": "string",
          "description": "The name of the allocated ip range for the private ip Cloud SQL instance. For example: \"google-managed-services-default\". If set, the cloned instance ip will be created in the allocated range. The range name must comply with [RFC 1035](https://tools.ietf.org/html/rfc1035). Specifically, the name must be 1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?. Reserved for future use."
        },
        "sourceInstanceDeletionTime": {
          "type": "string",
          "description": "The timestamp used to identify the time when the source instance is deleted. If this instance is deleted, then you must set the timestamp.",
          "format": "google-datetime"
        },
        "pitrTimestampMs": {
          "type": "string",
          "description": "Reserved for future use.",
          "format": "int64"
        },
        "binLogCoordinates": {
          "$ref": "BinLogCoordinates",
          "description": "Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates."
        },
        "destinationProject": {
          "type": "string",
          "description": "Optional. The project ID of the destination project where the cloned instance will be created. To perform a cross-project clone, this field is required. If not specified, the clone is created in the same project as the source instance."
        },
        "pointInTime": {
          "type": "string",
          "description": "Timestamp, if specified, identifies the time to which the source instance is cloned.",
          "format": "google-datetime"
        },
        "databaseNames": {
          "description": "(SQL Server only) Clone only the specified databases from the source instance. Clone all databases if empty.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "preferredSecondaryZone": {
          "type": "string",
          "description": "Optional. Copy clone and point-in-time recovery clone of a regional instance in the specified zones. If not specified, clone to the same secondary zone as the source instance. This value cannot be the same as the preferred_zone field."
        },
        "destinationInstanceName": {
          "type": "string",
          "description": "Name of the Cloud SQL instance to be created as a clone."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#cloneContext`."
        }
      },
      "description": "Database instance clone context."
    },
    "FailoverContext": {
      "id": "FailoverContext",
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This is always `sql#failoverContext`."
        },
        "settingsVersion": {
          "type": "string",
          "description": "The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.",
          "format": "int64"
        }
      },
      "description": "Database instance failover context."
    },
    "BackupReencryptionConfig": {
      "description": "Backup Reencryption Config",
      "id": "BackupReencryptionConfig",
      "type": "object",
      "properties": {
        "backupLimit": {
          "type": "integer",
          "description": "Backup re-encryption limit",
          "format": "int32"
        },
        "backupType": {
          "enum": [
            "BACKUP_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "Type of backups users want to re-encrypt.",
          "enumDescriptions": [
            "Unknown backup type, will be defaulted to AUTOMATIC backup type",
            "Reencrypt automatic backups",
            "Reencrypt on-demand backups"
          ],
          "type": "string"
        }
      }
    },
    "LocationPreference": {
      "description": "Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.",
      "id": "LocationPreference",
      "type": "object",
      "properties": {
        "followGaeApplication": {
          "type": "string",
          "description": "The App Engine application to follow, it must be in the same region as the Cloud SQL instance. WARNING: Changing this might restart the instance.",
          "deprecated": true
        },
        "secondaryZone": {
          "description": "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). To disable this field, set it to 'no_secondary_zone'.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.). WARNING: Changing this might restart the instance."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#locationPreference`."
        }
      }
    },
    "PreCheckMajorVersionUpgradeContext": {
      "id": "PreCheckMajorVersionUpgradeContext",
      "type": "object",
      "properties": {
        "targetDatabaseVersion": {
          "enum": [
            "SQL_DATABASE_VERSION_UNSPECIFIED",
            "MYSQL_5_1",
            "MYSQL_5_5",
            "MYSQL_5_6",
            "MYSQL_5_7",
            "MYSQL_8_0",
            "MYSQL_8_0_18",
            "MYSQL_8_0_26",
            "MYSQL_8_0_27",
            "MYSQL_8_0_28",
            "MYSQL_8_0_29",
            "MYSQL_8_0_30",
            "MYSQL_8_0_31",
            "MYSQL_8_0_32",
            "MYSQL_8_0_33",
            "MYSQL_8_0_34",
            "MYSQL_8_0_35",
            "MYSQL_8_0_36",
            "MYSQL_8_0_37",
            "MYSQL_8_0_39",
            "MYSQL_8_0_40",
            "MYSQL_8_0_41",
            "MYSQL_8_0_42",
            "MYSQL_8_0_43",
            "MYSQL_8_0_44",
            "MYSQL_8_0_45",
            "MYSQL_8_0_46",
            "MYSQL_8_4",
            "MYSQL_9_7",
            "SQLSERVER_2017_STANDARD",
            "SQLSERVER_2017_ENTERPRISE",
            "SQLSERVER_2017_EXPRESS",
            "SQLSERVER_2017_WEB",
            "POSTGRES_9_6",
            "POSTGRES_10",
            "POSTGRES_11",
            "POSTGRES_12",
            "POSTGRES_13",
            "POSTGRES_14",
            "POSTGRES_15",
            "POSTGRES_16",
            "POSTGRES_17",
            "POSTGRES_18",
            "POSTGRES_19",
            "SQLSERVER_2019_STANDARD",
            "SQLSERVER_2019_ENTERPRISE",
            "SQLSERVER_2019_EXPRESS",
            "SQLSERVER_2019_WEB",
            "SQLSERVER_2022_STANDARD",
            "SQLSERVER_2022_ENTERPRISE",
            "SQLSERVER_2022_EXPRESS",
            "SQLSERVER_2022_WEB",
            "SQLSERVER_2025_STANDARD",
            "SQLSERVER_2025_ENTERPRISE",
            "SQLSERVER_2025_EXPRESS"
          ],
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Required. The target database version to upgrade to.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
            "The database version is SQL Server 2019 Web.",
            "The database version is SQL Server 2022 Standard.",
            "The database version is SQL Server 2022 Enterprise.",
            "The database version is SQL Server 2022 Express.",
            "The database version is SQL Server 2022 Web.",
            "The database version is SQL Server 2025 Standard.",
            "The database version is SQL Server 2025 Enterprise.",
            "The database version is SQL Server 2025 Express."
          ]
        },
        "kind": {
          "description": "Optional. This is always `sql#preCheckMajorVersionUpgradeContext`.",
          "type": "string"
        },
        "preCheckResponse": {
          "description": "Output only. The responses from the precheck operation.",
          "type": "array",
          "items": {
            "$ref": "PreCheckResponse"
          },
          "readOnly": true
        }
      },
      "description": "Pre-check major version upgrade context."
    },
    "InstancesExportRequest": {
      "description": "Database instance export request.",
      "id": "InstancesExportRequest",
      "type": "object",
      "properties": {
        "exportContext": {
          "$ref": "ExportContext",
          "description": "Contains details about the export operation."
        }
      }
    },
    "InstancesListResponse": {
      "description": "Database instances list response.",
      "id": "InstancesListResponse",
      "type": "object",
      "properties": {
        "warnings": {
          "description": "List of warnings that occurred while handling the request.",
          "type": "array",
          "items": {
            "$ref": "ApiWarning"
          }
        },
        "items": {
          "description": "List of database instance resources.",
          "type": "array",
          "items": {
            "$ref": "DatabaseInstance"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#instancesList`."
        }
      }
    },
    "User": {
      "description": "A Cloud SQL user resource.",
      "id": "User",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the user in the Cloud SQL instance. Can be omitted for `update` because it is already specified in the URL.",
          "type": "string"
        },
        "host": {
          "type": "string",
          "description": "Optional. The host from which the user can connect. For `insert` operations, host defaults to an empty string. For `update` operations, host is specified as part of the request URL. The host name cannot be updated after insertion. For a MySQL instance, it's required; for a PostgreSQL or SQL Server instance, it's optional."
        },
        "passwordPolicy": {
          "$ref": "UserPasswordValidationPolicy",
          "description": "User level password validation policy."
        },
        "password": {
          "description": "The password for the user.",
          "type": "string"
        },
        "databaseRoles": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Role memberships of the user"
        },
        "dualPasswordType": {
          "enum": [
            "DUAL_PASSWORD_TYPE_UNSPECIFIED",
            "NO_MODIFY_DUAL_PASSWORD",
            "NO_DUAL_PASSWORD",
            "DUAL_PASSWORD"
          ],
          "description": "Dual password status for the user.",
          "enumDescriptions": [
            "The default value.",
            "Do not update the user's dual password status.",
            "No dual password usable for connecting using this user.",
            "Dual password usable for connecting using this user."
          ],
          "type": "string"
        },
        "kind": {
          "description": "This is always `sql#user`.",
          "type": "string"
        },
        "project": {
          "description": "The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for *update* because it is already specified on the URL.",
          "type": "string"
        },
        "instance": {
          "description": "The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for *update* because it is already specified on the URL.",
          "type": "string"
        },
        "type": {
          "description": "The user type. It determines the method to authenticate the user during login. The default is the database's built-in user type.",
          "enumDescriptions": [
            "The database's built-in user type.",
            "Cloud IAM user.",
            "Cloud IAM service account.",
            "Cloud IAM group. Not used for login.",
            "Read-only. Login for a user that belongs to the Cloud IAM group.",
            "Read-only. Login for a service account that belongs to the Cloud IAM group.",
            "Microsoft Entra ID user."
          ],
          "type": "string",
          "enum": [
            "BUILT_IN",
            "CLOUD_IAM_USER",
            "CLOUD_IAM_SERVICE_ACCOUNT",
            "CLOUD_IAM_GROUP",
            "CLOUD_IAM_GROUP_USER",
            "CLOUD_IAM_GROUP_SERVICE_ACCOUNT",
            "ENTRAID_USER"
          ]
        },
        "etag": {
          "type": "string",
          "description": "This field is deprecated and will be removed from a future version of the API."
        },
        "sqlserverUserDetails": {
          "$ref": "SqlServerUserDetails"
        },
        "iamStatus": {
          "description": "Indicates if a group is active or inactive for IAM database authentication.",
          "enumDescriptions": [
            "The default value for users that are not of type CLOUD_IAM_GROUP. Only CLOUD_IAM_GROUP users will be inactive or active. Users with an IamStatus of IAM_STATUS_UNSPECIFIED will not display whether they are active or inactive as that is not applicable to them.",
            "INACTIVE indicates a group is not available for IAM database authentication.",
            "ACTIVE indicates a group is available for IAM database authentication."
          ],
          "type": "string",
          "enum": [
            "IAM_STATUS_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE"
          ]
        },
        "iamEmail": {
          "type": "string",
          "description": "Optional. The full email for an IAM user. For normal database users, this will not be filled. Only applicable to MySQL database users."
        }
      }
    },
    "PasswordValidationPolicy": {
      "id": "PasswordValidationPolicy",
      "type": "object",
      "properties": {
        "disallowUsernameSubstring": {
          "description": "Disallow username as a part of the password.",
          "type": "boolean"
        },
        "passwordChangeInterval": {
          "type": "string",
          "description": "Minimum interval after which the password can be changed. This flag is only supported for PostgreSQL.",
          "format": "google-duration"
        },
        "minLength": {
          "type": "integer",
          "description": "Minimum number of characters allowed.",
          "format": "int32"
        },
        "disallowCompromisedCredentials": {
          "type": "boolean",
          "description": "This field is deprecated and will be removed in a future version of the API.",
          "deprecated": true
        },
        "complexity": {
          "type": "string",
          "description": "The complexity of the password.",
          "enumDescriptions": [
            "Complexity check is not specified.",
            "A combination of lowercase, uppercase, numeric, and non-alphanumeric characters."
          ],
          "enum": [
            "COMPLEXITY_UNSPECIFIED",
            "COMPLEXITY_DEFAULT"
          ]
        },
        "reuseInterval": {
          "type": "integer",
          "description": "Number of previous passwords that cannot be reused.",
          "format": "int32"
        },
        "enablePasswordPolicy": {
          "description": "Whether to enable the password policy or not. When enabled, passwords must meet complexity requirements. Keep this policy enabled to help prevent unauthorized access. Disabling this policy allows weak passwords.",
          "type": "boolean"
        }
      },
      "description": "Database instance local user password validation policy. This message defines the password policy for local database users. When enabled, it enforces constraints on password complexity, length, and reuse. Keep this policy enabled to help prevent unauthorized access."
    },
    "PscConfig": {
      "description": "PSC settings for a Cloud SQL instance.",
      "id": "PscConfig",
      "type": "object",
      "properties": {
        "pscAutoDnsEnabled": {
          "description": "Optional. Indicates whether PSC DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal DNS record across all networks configured with Private Service Connect (PSC) auto-connections. This will default to true for new instances when Private Service Connect is enabled.",
          "type": "boolean"
        },
        "pscEnabled": {
          "type": "boolean",
          "description": "Whether PSC connectivity is enabled for this instance."
        },
        "allowedConsumerProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of consumer projects that are allow-listed for PSC connections to this instance. This instance can be connected to with PSC from any network in these projects. Each consumer project in this list may be represented by a project number (numeric) or by a project id (alphanumeric)."
        },
        "pscAutoConnections": {
          "type": "array",
          "items": {
            "$ref": "PscAutoConnectionConfig"
          },
          "description": "Optional. The list of settings for requested Private Service Connect consumer endpoints that can be used to connect to this Cloud SQL instance."
        },
        "networkAttachmentUri": {
          "description": "Optional. The network attachment of the consumer network that the Private Service Connect enabled Cloud SQL instance is authorized to connect via PSC interface. format: projects/PROJECT/regions/REGION/networkAttachments/ID",
          "type": "string"
        },
        "pscWriteEndpointDnsEnabled": {
          "description": "Optional. Indicates whether PSC write endpoint DNS automation is enabled for this instance. When enabled, Cloud SQL provisions a universal global DNS record across all networks configured with Private Service Connect (PSC) auto-connections that always points to the cluster primary instance. This feature is only supported for Enterprise Plus edition. This will default to true for new enterprise plus instances when `psc_auto_dns_enabled` is enabled.",
          "type": "boolean"
        }
      }
    },
    "GenerateEphemeralCertResponse": {
      "description": "Ephemeral certificate creation request.",
      "id": "GenerateEphemeralCertResponse",
      "type": "object",
      "properties": {
        "ephemeralCert": {
          "description": "Generated cert",
          "$ref": "SslCert"
        }
      }
    },
    "DiskEncryptionConfiguration": {
      "description": "Disk encryption configuration for an instance.",
      "id": "DiskEncryptionConfiguration",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "Resource name of KMS key for disk encryption"
        },
        "kind": {
          "type": "string",
          "description": "This is always `sql#diskEncryptionConfiguration`."
        }
      }
    },
    "InstancesCloneRequest": {
      "id": "InstancesCloneRequest",
      "type": "object",
      "properties": {
        "cloneContext": {
          "$ref": "CloneContext",
          "description": "Contains details about the clone operation."
        }
      },
      "description": "Database instance clone request."
    },
    "SqlServerDatabaseDetails": {
      "id": "SqlServerDatabaseDetails",
      "type": "object",
      "properties": {
        "compatibilityLevel": {
          "description": "The version of SQL Server with which the database is to be made compatible",
          "format": "int32",
          "type": "integer"
        },
        "recoveryModel": {
          "description": "The recovery model of a SQL Server database",
          "type": "string"
        }
      },
      "description": "Represents a Sql Server database on the Cloud SQL instance."
    },
    "AvailableDatabaseVersion": {
      "description": "An available database version. It can be a major or a minor version.",
      "id": "AvailableDatabaseVersion",
      "type": "object",
      "properties": {
        "majorVersion": {
          "type": "string",
          "description": "The version's major version name."
        },
        "displayName": {
          "type": "string",
          "description": "The database version's display name."
        },
        "name": {
          "type": "string",
          "description": "The database version name. For MySQL 8.0, this string provides the database major and minor version."
        }
      }
    },
    "BackupRun": {
      "id": "BackupRun",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time the backup operation actually started in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "selfLink": {
          "type": "string",
          "description": "The URI of this resource."
        },
        "enqueuedTime": {
          "description": "The time the run was enqueued in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the backup operation completed in UTC timezone in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "diskEncryptionConfiguration": {
          "description": "Encryption configuration specific to a backup.",
          "$ref": "DiskEncryptionConfiguration"
        },
        "description": {
          "type": "string",
          "description": "The description of this run, only applicable to on-demand backups."
        },
        "type": {
          "enum": [
            "SQL_BACKUP_RUN_TYPE_UNSPECIFIED",
            "AUTOMATED",
            "ON_DEMAND"
          ],
          "description": "The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\" or \"FINAL\". This field defaults to \"ON_DEMAND\" and is ignored, when specified for insert requests.",
          "enumDescriptions": [
            "This is an unknown BackupRun type.",
            "The backup schedule automatically triggers a backup.",
            "The user manually triggers a backup."
          ],
          "type": "string"
        },
        "instance": {
          "type": "string",
          "description": "Name of the database instance."
        },
        "location": {
          "type": "string",
          "description": "Location of the backups."
        },
        "id": {
          "description": "The identifier for this backup run. Unique only for a specific Cloud SQL instance.",
          "format": "int64",
          "type": "string"
        },
        "windowStartTime": {
          "type": "string",
          "description": "The start time of the backup window during which this the backup was attempted in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example `2012-11-15T16:19:00.094Z`.",
          "format": "google-datetime"
        },
        "timeZone": {
          "type": "string",
          "description": "Backup time zone to prevent restores to an instance with a different time zone. Now relevant only for SQL Server."
        },
        "maxChargeableBytes": {
          "description": "Output only. The maximum chargeable bytes for the backup.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "backupKind": {
          "type": "string",
          "description": "Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.",
          "enumDescriptions": [
            "This is an unknown BackupKind.",
            "Snapshot-based backups.",
            "Physical backups."
          ],
          "enum": [
            "SQL_BACKUP_KIND_UNSPECIFIED",
            "SNAPSHOT",
            "PHYSICAL"
          ]
        },
        "diskEncryptionStatus": {
          "description": "Encryption status specific to a backup.",
          "$ref": "DiskEncryptionStatus"
        },
        "status": {
          "enum": [
            "SQL_BACKUP_RUN_STATUS_UNSPECIFIED",
            "ENQUEUED",
            "OVERDUE",
            "RUNNING",
            "FAILED",
            "SUCCESSFUL",
            "SKIPPED",
            "DELETION_PENDING",
            "DELETION_FAILED",
            "DELETED"
          ],
          "type": "string",
          "description": "The status of this run.",
          "enumDescriptions": [
            "The status of the run is unknown.",
            "The backup operation was enqueued.",
            "The backup is overdue across a given backup window. Indicates a problem. Example: Long-running operation in progress during the whole window.",
            "The backup is in progress.",
            "The backup failed.",
            "The backup was successful.",
            "The backup was skipped (without problems) for a given backup window. Example: Instance was idle.",
            "The backup is about to be deleted.",
            "The backup deletion failed.",
            "The backup has been deleted."
          ]
        },
        "kind": {
          "description": "This is always `sql#backupRun`.",
          "type": "string"
        },
        "error": {
          "$ref": "OperationError",
          "description": "Information about why the backup operation failed. This is only present if the run has the FAILED status."
        },
        "databaseVersion": {
          "type": "string",
          "enumDeprecated": [
            false,
            true,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false,
            false
          ],
          "description": "Output only. The instance database version at the time this backup was made.",
          "enumDescriptions": [
            "This is an unknown database version.",
            "The database version is MySQL 5.1.",
            "The database version is MySQL 5.5.",
            "The database version is MySQL 5.6.",
            "The database version is MySQL 5.7.",
            "The database version is MySQL 8.",
            "The database major version is MySQL 8.0 and the minor version is 18.",
            "The database major version is MySQL 8.0 and the minor version is 26.",
            "The database major version is MySQL 8.0 and the minor version is 27.",
            "The database major version is MySQL 8.0 and the minor version is 28.",
            "The database major version is MySQL 8.0 and the minor version is 29.",
            "The database major version is MySQL 8.0 and the minor version is 30.",
            "The database major version is MySQL 8.0 and the minor version is 31.",
            "The database major version is MySQL 8.0 and the minor version is 32.",
            "The database major version is MySQL 8.0 and the minor version is 33.",
            "The database major version is MySQL 8.0 and the minor version is 34.",
            "The database major version is MySQL 8.0 and the minor version is 35.",
            "The database major version is MySQL 8.0 and the minor version is 36.",
            "The database major version is MySQL 8.0 and the minor version is 37.",
            "The database major version is MySQL 8.0 and the minor version is 39.",
            "The database major version is MySQL 8.0 and the minor version is 40.",
            "The database major version is MySQL 8.0 and the minor version is 41.",
            "The database major version is MySQL 8.0 and the minor version is 42.",
            "The database major version is MySQL 8.0 and the minor version is 43.",
            "The database major version is MySQL 8.0 and the minor version is 44.",
            "The database major version is MySQL 8.0 and the minor version is 45.",
            "The database major version is MySQL 8.0 and the minor version is 46.",
            "The database version is MySQL 8.4.",
            "The database version is MySQL 9.7.",
            "The database version is SQL Server 2017 Standard.",
            "The database version is SQL Server 2017 Enterprise.",
            "The database version is SQL Server 2017 Express.",
            "The database version is SQL Server 2017 Web.",
            "The database version is PostgreSQL 9.6.",
            "The database version is PostgreSQL 10.",
            "The database version is PostgreSQL 11.",
            "The database version is PostgreSQL 12.",
            "The database version is PostgreSQL 13.",
            "The database version is PostgreSQL 14.",
            "The database version is PostgreSQL 15.",
            "The database version is PostgreSQL 16.",
            "The database version is PostgreSQL 17.",
            "The database version is PostgreSQL 18.",
            "The database version is PostgreSQL 19.",
            "The database version is SQL Server 2019 Standard.",
            "The database version is SQL Server 2019 Enterprise.",
            "The database version is SQL Server 2019 Express.",
[...]
