{
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "discoveryVersion": "v1",
  "baseUrl": "https://storagebatchoperations.googleapis.com/",
  "batchPath": "batch",
  "version": "v1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://storagebatchoperations.googleapis.com/",
  "version_module": true,
  "title": "Storage Batch Operations API",
  "basePath": "",
  "documentationLink": "https://cloud.google.com/storage/docs/batch-operations/overview",
  "revision": "20260304",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "mtlsRootUrl": "https://storagebatchoperations.mtls.googleapis.com/",
  "description": "",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "storagebatchoperations.projects.locations.list"
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "id": "storagebatchoperations.projects.locations.get",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "jobs": {
              "resources": {
                "bucketOperations": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/bucketOperations",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "storagebatchoperations.projects.locations.jobs.bucketOperations.list",
                      "response": {
                        "$ref": "ListBucketOperationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Filters results as defined by https://google.aip.dev/160."
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. Supported fields are name, create_time."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                          "required": true,
                          "location": "path",
                          "description": "Required. Format: projects/{project_id}/locations/global/jobs/{job_id}.",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. The list page size. Default page size is 100.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. The list page token."
                        }
                      },
                      "path": "v1/{+parent}/bucketOperations",
                      "description": "Lists BucketOperations in a given project and job."
                    },
                    "get": {
                      "id": "storagebatchoperations.projects.locations.jobs.bucketOperations.get",
                      "response": {
                        "$ref": "BucketOperation"
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/bucketOperations/{bucketOperationsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Gets a BucketOperation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/bucketOperations/[^/]+$",
                          "location": "path",
                          "description": "Required. `name` of the bucket operation to retrieve. Format: projects/{project_id}/locations/global/jobs/{job_id}/bucketOperations/{bucket_operation_id}.",
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets a batch job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. `name` of the job to retrieve. Format: projects/{project_id}/locations/global/jobs/{job_id} .",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path"
                    }
                  },
                  "id": "storagebatchoperations.projects.locations.jobs.get",
                  "response": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "id": "storagebatchoperations.projects.locations.jobs.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a batch job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, any child bucket operations of the job will also be deleted. Highly recommended to be set to true by all clients. Users cannot mutate bucket operations directly, so only the jobs.delete permission is required to delete a job (and its child bucket operations).",
                      "location": "query",
                      "type": "boolean"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` will be ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "description": "Required. The `name` of the job to delete. Format: projects/{project_id}/locations/global/jobs/{job_id} .",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true
                    }
                  }
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The `name` of the job to cancel. Format: projects/{project_id}/locations/global/jobs/{job_id}.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "description": "Cancels a batch job.",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:cancel",
                  "request": {
                    "$ref": "CancelJobRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.jobs.cancel",
                  "response": {
                    "$ref": "CancelJobResponse"
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "storagebatchoperations.projects.locations.jobs.list",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. Format: projects/{project_id}/locations/global."
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The list page size. default page size is 100.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The list page token."
                    },
                    "filter": {
                      "description": "Optional. Filters results as defined by https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Field to sort by. Supported fields are name, create_time."
                    }
                  },
                  "path": "v1/{+parent}/jobs",
                  "description": "Lists Jobs in a given project."
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "storagebatchoperations.projects.locations.jobs.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/jobs",
                  "description": "Creates a batch job.",
                  "parameters": {
                    "parent": {
                      "description": "Required. Value for parent.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "jobId": {
                      "location": "query",
                      "type": "string",
                      "description": "Required. The optional `job_id` for this Job . If not specified, an id is generated. `job_id` should be no more than 128 characters and must include only characters available in DNS names, as defined by RFC-1123."
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` will be ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "list": {
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "storagebatchoperations.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET"
                }
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "schemas": {
    "ErrorLogEntry": {
      "type": "object",
      "properties": {
        "objectUri": {
          "description": "Required. Output only. Object URL. e.g. gs://my_bucket/object.txt",
          "readOnly": true,
          "type": "string"
        },
        "errorDetails": {
          "description": "Optional. Output only. At most 5 error log entries are recorded for a given error code for a job.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "An entry describing an error that has occurred.",
      "id": "ErrorLogEntry"
    },
    "CustomContextUpdates": {
      "properties": {
        "updates": {
          "description": "Optional. Insert or update the existing custom contexts.",
          "additionalProperties": {
            "$ref": "ObjectCustomContextPayload"
          },
          "type": "object"
        },
        "keysToClear": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Custom contexts to clear by key. A key cannot be present in both `updates` and `keys_to_clear`."
        }
      },
      "type": "object",
      "id": "CustomContextUpdates",
      "description": "Describes a collection of updates to apply to custom contexts identified by key."
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "type": "object",
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "Bucket": {
      "properties": {
        "manifest": {
          "description": "Specifies objects in a manifest file.",
          "$ref": "Manifest"
        },
        "bucket": {
          "description": "Required. Bucket name for the objects to be transformed.",
          "type": "string"
        },
        "prefixList": {
          "description": "Specifies objects matching a prefix set.",
          "$ref": "PrefixList"
        }
      },
      "type": "object",
      "id": "Bucket",
      "description": "Describes configuration of a single bucket and its objects to be transformed."
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "Counters": {
      "id": "Counters",
      "description": "Describes details about the progress of the job.",
      "properties": {
        "totalObjectCount": {
          "format": "int64",
          "description": "Output only. Number of objects listed.",
          "readOnly": true,
          "type": "string"
        },
        "succeededObjectCount": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of objects completed."
        },
        "totalBytesFound": {
          "format": "int64",
          "description": "Output only. Number of bytes found from source. This field is only populated for jobs with a prefix list object configuration.",
          "readOnly": true,
          "type": "string"
        },
        "failedObjectCount": {
          "format": "int64",
          "description": "Output only. Number of objects failed.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "BucketList": {
      "properties": {
        "buckets": {
          "type": "array",
          "items": {
            "$ref": "Bucket"
          },
          "description": "Required. List of buckets and their objects to be transformed. Currently, only one bucket configuration is supported. If multiple buckets are specified, an error will be returned."
        }
      },
      "type": "object",
      "id": "BucketList",
      "description": "Describes list of buckets and their objects to be transformed."
    },
    "PrefixList": {
      "type": "object",
      "properties": {
        "includedObjectPrefixes": {
          "description": "Optional. Include prefixes of the objects to be transformed. * Supports full object name * Supports prefix of the object name * Wildcards are not supported * Supports empty string for all objects in a bucket.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Describes prefixes of objects to be transformed.",
      "id": "PrefixList"
    },
    "UpdateObjectCustomContext": {
      "description": "Describes options to update object custom contexts.",
      "id": "UpdateObjectCustomContext",
      "type": "object",
      "properties": {
        "clearAll": {
          "description": "If set, must be set to true and all existing object custom contexts will be deleted.",
          "type": "boolean"
        },
        "customContextUpdates": {
          "description": "A collection of updates to apply to specific custom contexts. Use this to add, update or delete individual contexts by key.",
          "$ref": "CustomContextUpdates"
        }
      }
    },
    "ListBucketOperationsResponse": {
      "properties": {
        "bucketOperations": {
          "type": "array",
          "items": {
            "$ref": "BucketOperation"
          },
          "description": "A list of storage batch bucket operations."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListBucketOperationsResponse",
      "description": "Message for response to listing BucketOperations"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Manifest": {
      "id": "Manifest",
      "description": "Describes list of objects to be transformed.",
      "properties": {
        "manifestLocation": {
          "description": "Required. `manifest_location` must contain the manifest source file that is a CSV file in a Google Cloud Storage bucket. Each row in the file must include the object details i.e. BucketId and Name. Generation may optionally be specified. When it is not specified the live object is acted upon. `manifest_location` should either be 1) An absolute path to the object in the format of `gs://bucket_name/path/file_name.csv`. 2) An absolute path with a single wildcard character in the file name, for example `gs://bucket_name/path/file_name*.csv`. If manifest location is specified with a wildcard, objects in all manifest files matching the pattern will be acted upon.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListJobsResponse": {
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jobs": {
          "description": "A list of storage batch jobs.",
          "type": "array",
          "items": {
            "$ref": "Job"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListJobsResponse",
      "description": "Message for response to listing Jobs"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object"
    },
    "CancelJobRequest": {
      "description": "Message for Job to Cancel",
      "id": "CancelJobRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` will be ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "DeleteObject": {
      "id": "DeleteObject",
      "description": "Describes options to delete an object.",
      "properties": {
        "permanentObjectDeletionEnabled": {
          "description": "Required. Controls deletion behavior when versioning is enabled for the object's bucket. If true both live and noncurrent objects will be permanently deleted. Otherwise live objects in versioned buckets will become noncurrent and objects that were already noncurrent will be skipped. This setting doesn't have any impact on the Soft Delete feature. All objects deleted by this service can be be restored for the duration of the Soft Delete retention duration if enabled. If enabled and the manifest doesn't specify an object's generation, a GetObjectMetadata call (a Class B operation) will be made to determine the live object generation.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "PutObjectHold": {
      "description": "Describes options to update object hold.",
      "id": "PutObjectHold",
      "type": "object",
      "properties": {
        "temporaryHold": {
          "description": "Required. Updates object temporary holds state. When object temporary hold is set, object cannot be deleted or replaced.",
          "enumDescriptions": [
            "Default value, Object hold status will not be changed.",
            "Places the hold.",
            "Releases the hold."
          ],
          "enum": [
            "HOLD_STATUS_UNSPECIFIED",
            "SET",
            "UNSET"
          ],
          "type": "string"
        },
        "eventBasedHold": {
          "type": "string",
          "description": "Required. Updates object event based holds state. When object event based hold is set, object cannot be deleted or replaced. Resets object's time in the bucket for the purposes of the retention period.",
          "enumDescriptions": [
            "Default value, Object hold status will not be changed.",
            "Places the hold.",
            "Releases the hold."
          ],
          "enum": [
            "HOLD_STATUS_UNSPECIFIED",
            "SET",
            "UNSET"
          ]
        }
      }
    },
    "PutMetadata": {
      "description": "Describes options for object metadata update.",
      "id": "PutMetadata",
      "type": "object",
      "properties": {
        "contentEncoding": {
          "description": "Optional. Updates objects Content-Encoding fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Refer to documentation in https://cloud.google.com/storage/docs/metadata#content-encoding.",
          "type": "string"
        },
        "cacheControl": {
          "description": "Optional. Updates objects Cache-Control fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Additionally, the value for Custom-Time cannot decrease. Refer to documentation in https://cloud.google.com/storage/docs/metadata#caching_data.",
          "type": "string"
        },
        "objectRetention": {
          "description": "Optional. Updates objects retention lock configuration. Unset values will be ignored. Set empty values to clear the retention for the object with existing `Unlocked` retention mode. Object with existing `Locked` retention mode cannot be cleared or reduce retain_until_time. Refer to documentation in https://cloud.google.com/storage/docs/object-lock",
          "$ref": "ObjectRetention"
        },
        "contentType": {
          "description": "Optional. Updates objects Content-Type fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Refer to documentation in https://cloud.google.com/storage/docs/metadata#content-type",
          "type": "string"
        },
        "contentDisposition": {
          "description": "Optional. Updates objects Content-Disposition fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Refer https://cloud.google.com/storage/docs/metadata#content-disposition for additional documentation.",
          "type": "string"
        },
        "customTime": {
          "description": "Optional. Updates objects Custom-Time fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Refer to documentation in https://cloud.google.com/storage/docs/metadata#custom-time.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Optional. Updates objects Content-Language fixed metadata. Refer to ISO 639-1 language codes for typical values of this metadata. Max length 100 characters. Unset values will be ignored. Set empty values to clear the metadata. Refer to documentation in https://cloud.google.com/storage/docs/metadata#content-language.",
          "type": "string"
        },
        "customMetadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Updates objects custom metadata. Adds or sets individual custom metadata key value pairs on objects. Keys that are set with empty custom metadata values will have its value cleared. Existing custom metadata not specified with this flag is not changed. Refer to documentation in https://cloud.google.com/storage/docs/metadata#custom-metadata"
        }
      }
    },
    "LoggingConfig": {
      "type": "object",
      "properties": {
        "logActions": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "The corresponding transform action in this job."
            ],
            "enum": [
              "LOGGABLE_ACTION_UNSPECIFIED",
              "TRANSFORM"
            ],
            "type": "string"
          },
          "description": "Required. Specifies the actions to be logged."
        },
        "logActionStates": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "`LoggableAction` completed successfully. `SUCCEEDED` actions are logged as INFO.",
              "`LoggableAction` terminated in an error state. `FAILED` actions are logged as ERROR."
            ],
            "enum": [
              "LOGGABLE_ACTION_STATE_UNSPECIFIED",
              "SUCCEEDED",
              "FAILED"
            ]
          },
          "description": "Required. States in which Action are logged.If empty, no logs are generated."
        }
      },
      "description": "Specifies the Cloud Logging behavior.",
      "id": "LoggingConfig"
    },
    "RewriteObject": {
      "id": "RewriteObject",
      "description": "Describes options for object rewrite.",
      "properties": {
        "kmsKey": {
          "description": "Required. Resource name of the Cloud KMS key that will be used to encrypt the object. The Cloud KMS key must be located in same location as the object. Refer to https://cloud.google.com/storage/docs/encryption/using-customer-managed-keys#add-object-key for additional documentation. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key} For example: \"projects/123456/locations/us-central1/keyRings/my-keyring/cryptoKeys/my-key\". The object will be rewritten and set with the specified KMS key.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Job": {
      "properties": {
        "updateObjectCustomContext": {
          "description": "Update object custom context.",
          "$ref": "UpdateObjectCustomContext"
        },
        "counters": {
          "readOnly": true,
          "$ref": "Counters",
          "description": "Output only. Information about the progress of the job."
        },
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time that the job was completed."
        },
        "deleteObject": {
          "description": "Delete objects.",
          "$ref": "DeleteObject"
        },
        "putMetadata": {
          "description": "Updates object metadata. Allows updating fixed-key and custom metadata and fixed-key metadata i.e. Cache-Control, Content-Disposition, Content-Encoding, Content-Language, Content-Type, Custom-Time.",
          "$ref": "PutMetadata"
        },
        "putObjectHold": {
          "description": "Changes object hold status.",
          "$ref": "PutObjectHold"
        },
        "dryRun": {
          "description": "Optional. If true, the job will run in dry run mode, returning the total object count and, if the object configuration is a prefix list, the bytes found from source. No transformations will be performed.",
          "type": "boolean"
        },
        "scheduleTime": {
          "description": "Output only. The time that the job was scheduled.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "errorSummaries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ErrorSummary"
          },
          "description": "Output only. Summarizes errors encountered with sample error log entries."
        },
        "description": {
          "description": "Optional. A description provided by the user for the job. Its max length is 1024 bytes when Unicode-encoded.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time that the job was created."
        },
        "loggingConfig": {
          "description": "Optional. Logging configuration.",
          "$ref": "LoggingConfig"
        },
        "rewriteObject": {
          "description": "Rewrite the object and updates metadata like KMS key.",
          "$ref": "RewriteObject"
        },
        "name": {
          "description": "Identifier. The resource name of the Job. job_id is unique within the project, that is either set by the customer or defined by the service. Format: projects/{project}/locations/global/jobs/{job_id} . For example: \"projects/123456/locations/global/jobs/job01\".",
          "type": "string"
        },
        "bucketList": {
          "description": "Specifies a list of buckets and their objects to be transformed.",
          "$ref": "BucketList"
        },
        "state": {
          "description": "Output only. State of the job.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "In progress.",
            "Completed successfully.",
            "Cancelled by the user.",
            "Terminated due to an unrecoverable failure.",
            "Queued but not yet started."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELED",
            "FAILED",
            "QUEUED"
          ]
        },
        "isMultiBucketJob": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. If true, this Job operates on multiple buckets. Multibucket jobs are subject to different quota limits than single-bucket jobs."
        }
      },
      "type": "object",
      "id": "Job",
      "description": "The Storage Batch Operations Job description."
    },
    "ObjectCustomContextPayload": {
      "properties": {
        "value": {
          "description": "The value of the object custom context. If set, `value` must NOT be an empty string since it is a required field in custom context. If unset, `value` will be ignored and no changes will be made to the `value` field of the custom context payload.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ObjectCustomContextPayload",
      "description": "Describes the payload of a user defined object custom context."
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse"
    },
    "ErrorSummary": {
      "properties": {
        "errorCount": {
          "type": "string",
          "description": "Required. Number of errors encountered per `error_code`.",
          "format": "int64"
        },
        "errorCode": {
          "type": "string",
          "description": "Required. The canonical error code.",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        },
        "errorLogEntries": {
          "description": "Required. Sample error logs.",
          "type": "array",
          "items": {
            "$ref": "ErrorLogEntry"
          }
        }
      },
      "type": "object",
      "id": "ErrorSummary",
      "description": "A summary of errors by error code, plus a count and sample error log entries."
    },
    "BucketOperation": {
      "description": "BucketOperation represents a bucket-level breakdown of a Job.",
      "id": "BucketOperation",
      "type": "object",
      "properties": {
        "completeTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time that the BucketOperation was completed.",
          "format": "google-datetime"
        },
        "updateObjectCustomContext": {
          "description": "Update object custom context.",
          "$ref": "UpdateObjectCustomContext"
        },
        "counters": {
          "readOnly": true,
          "$ref": "Counters",
          "description": "Output only. Information about the progress of the bucket operation."
        },
        "putMetadata": {
          "description": "Updates object metadata. Allows updating fixed-key and custom metadata and fixed-key metadata i.e. Cache-Control, Content-Disposition, Content-Encoding, Content-Language, Content-Type, Custom-Time.",
          "$ref": "PutMetadata"
        },
        "deleteObject": {
          "description": "Delete objects.",
          "$ref": "DeleteObject"
        },
        "putObjectHold": {
          "description": "Changes object hold status.",
          "$ref": "PutObjectHold"
        },
        "bucketName": {
          "description": "The bucket name of the objects to be transformed in the BucketOperation.",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time that the BucketOperation was started.",
          "readOnly": true,
          "type": "string"
        },
        "manifest": {
          "description": "Specifies objects in a manifest file.",
          "$ref": "Manifest"
        },
        "errorSummaries": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ErrorSummary"
          },
          "description": "Output only. Summarizes errors encountered with sample error log entries."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time that the BucketOperation was created."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELED",
            "FAILED"
          ],
          "description": "Output only. State of the BucketOperation.",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Created but not yet started.",
            "In progress.",
            "Completed successfully.",
            "Cancelled by the user.",
            "Terminated due to an unrecoverable failure."
          ],
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the BucketOperation. This is defined by the service. Format: projects/{project}/locations/global/jobs/{job_id}/bucketOperations/{bucket_operation}.",
          "type": "string"
        },
        "rewriteObject": {
          "description": "Rewrite the object and updates metadata like KMS key.",
          "$ref": "RewriteObject"
        },
        "prefixList": {
          "description": "Specifies objects matching a prefix set.",
          "$ref": "PrefixList"
        }
      }
    },
    "CancelJobResponse": {
      "description": "Message for response to cancel Job.",
      "id": "CancelJobResponse",
      "type": "object",
      "properties": {}
    },
    "OperationMetadata": {
      "properties": {
        "operation": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The unique operation resource name. Format: projects/{project}/locations/global/operations/{operation}."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "job": {
          "description": "Output only. The Job associated with the operation.",
          "readOnly": true,
          "$ref": "Job"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        }
      },
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation."
    },
    "ObjectRetention": {
      "type": "object",
      "properties": {
        "retainUntilTime": {
          "description": "Required. The time when the object will be retained until. UNSET will clear the retention. Must be specified in RFC 3339 format e.g. YYYY-MM-DD'T'HH:MM:SS.SS'Z' or YYYY-MM-DD'T'HH:MM:SS'Z'.",
          "type": "string"
        },
        "retentionMode": {
          "type": "string",
          "description": "Required. The retention mode of the object.",
          "enumDescriptions": [
            "If set and retain_until_time is empty, clears the retention.",
            "Sets the retention mode to locked.",
            "Sets the retention mode to unlocked."
          ],
          "enum": [
            "RETENTION_MODE_UNSPECIFIED",
            "LOCKED",
            "UNLOCKED"
          ]
        }
      },
      "description": "Describes options for object retention update.",
      "id": "ObjectRetention"
    }
  },
  "canonicalName": "Storage Batch Operations",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "storagebatchoperations",
  "id": "storagebatchoperations:v1"
}