{
  "rootUrl": "https://storagebatchoperations.googleapis.com/",
  "version_module": true,
  "baseUrl": "https://storagebatchoperations.googleapis.com/",
  "revision": "20260408",
  "documentationLink": "https://cloud.google.com/storage/docs/batch-operations/overview",
  "mtlsRootUrl": "https://storagebatchoperations.mtls.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "description": "",
  "id": "storagebatchoperations:v1",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "title": "Storage Batch Operations API",
  "schemas": {
    "Manifest": {
      "properties": {
        "manifestLocation": {
          "description": "Required. `manifest_location` must contain the manifest source file that is a CSV file in a Google Cloud Storage bucket. Each row in the file must include the object details i.e. BucketId and Name. Generation may optionally be specified. When it is not specified the live object is acted upon. `manifest_location` should either be 1) An absolute path to the object in the format of `gs://bucket_name/path/file_name.csv`. 2) An absolute path with a single wildcard character in the file name, for example `gs://bucket_name/path/file_name*.csv`. If manifest location is specified with a wildcard, objects in all manifest files matching the pattern will be acted upon.",
          "type": "string"
        }
      },
      "description": "Describes list of objects to be transformed.",
      "type": "object",
      "id": "Manifest"
    },
    "PutMetadata": {
      "id": "PutMetadata",
      "description": "Describes options for object metadata update.",
      "type": "object",
      "properties": {
        "contentEncoding": {
          "description": "Optional. Updates objects Content-Encoding fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Refer to documentation in https://cloud.google.com/storage/docs/metadata#content-encoding.",
          "type": "string"
        },
        "contentDisposition": {
          "description": "Optional. Updates objects Content-Disposition fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Refer https://cloud.google.com/storage/docs/metadata#content-disposition for additional documentation.",
          "type": "string"
        },
        "cacheControl": {
          "description": "Optional. Updates objects Cache-Control fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Additionally, the value for Custom-Time cannot decrease. Refer to documentation in https://cloud.google.com/storage/docs/metadata#caching_data.",
          "type": "string"
        },
        "contentType": {
          "description": "Optional. Updates objects Content-Type fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Refer to documentation in https://cloud.google.com/storage/docs/metadata#content-type",
          "type": "string"
        },
        "customTime": {
          "description": "Optional. Updates objects Custom-Time fixed metadata. Unset values will be ignored. Set empty values to clear the metadata. Refer to documentation in https://cloud.google.com/storage/docs/metadata#custom-time.",
          "type": "string"
        },
        "contentLanguage": {
          "description": "Optional. Updates objects Content-Language fixed metadata. Refer to ISO 639-1 language codes for typical values of this metadata. Max length 100 characters. Unset values will be ignored. Set empty values to clear the metadata. Refer to documentation in https://cloud.google.com/storage/docs/metadata#content-language.",
          "type": "string"
        },
        "customMetadata": {
          "description": "Optional. Updates objects custom metadata. Adds or sets individual custom metadata key value pairs on objects. Keys that are set with empty custom metadata values will have its value cleared. Existing custom metadata not specified with this flag is not changed. Refer to documentation in https://cloud.google.com/storage/docs/metadata#custom-metadata",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "objectRetention": {
          "$ref": "ObjectRetention",
          "description": "Optional. Updates objects retention lock configuration. Unset values will be ignored. Set empty values to clear the retention for the object with existing `Unlocked` retention mode. Object with existing `Locked` retention mode cannot be cleared or reduce retain_until_time. Refer to documentation in https://cloud.google.com/storage/docs/object-lock"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have google.longrunning.Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "job": {
          "$ref": "Job",
          "description": "Output only. The Job associated with the operation.",
          "readOnly": true
        },
        "operation": {
          "readOnly": true,
          "description": "Output only. The unique operation resource name. Format: projects/{project}/locations/global/operations/{operation}.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "BucketList": {
      "description": "Describes list of buckets and their objects to be transformed.",
      "type": "object",
      "id": "BucketList",
      "properties": {
        "buckets": {
          "description": "Required. List of buckets and their objects to be transformed. Currently, only one bucket configuration is supported. If multiple buckets are specified, an error will be returned.",
          "type": "array",
          "items": {
            "$ref": "Bucket"
          }
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "ErrorLogEntry": {
      "description": "An entry describing an error that has occurred.",
      "type": "object",
      "id": "ErrorLogEntry",
      "properties": {
        "objectUri": {
          "readOnly": true,
          "description": "Required. Output only. Object URL. e.g. gs://my_bucket/object.txt",
          "type": "string"
        },
        "errorDetails": {
          "description": "Optional. Output only. At most 5 error log entries are recorded for a given error code for a job.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        }
      }
    },
    "UpdateObjectCustomContext": {
      "properties": {
        "clearAll": {
          "description": "If set, must be set to true and all existing object custom contexts will be deleted.",
          "type": "boolean"
        },
        "customContextUpdates": {
          "description": "A collection of updates to apply to specific custom contexts. Use this to add, update or delete individual contexts by key.",
          "$ref": "CustomContextUpdates"
        }
      },
      "id": "UpdateObjectCustomContext",
      "description": "Describes options to update object custom contexts.",
      "type": "object"
    },
    "DeleteObject": {
      "properties": {
        "permanentObjectDeletionEnabled": {
          "description": "Required. Controls deletion behavior when versioning is enabled for the object's bucket. If true both live and noncurrent objects will be permanently deleted. Otherwise live objects in versioned buckets will become noncurrent and objects that were already noncurrent will be skipped. This setting doesn't have any impact on the Soft Delete feature. All objects deleted by this service can be be restored for the duration of the Soft Delete retention duration if enabled. If enabled and the manifest doesn't specify an object's generation, a GetObjectMetadata call (a Class B operation) will be made to determine the live object generation.",
          "type": "boolean"
        }
      },
      "id": "DeleteObject",
      "description": "Describes options to delete an object.",
      "type": "object"
    },
    "CancelJobRequest": {
      "description": "Message for Job to Cancel",
      "type": "object",
      "id": "CancelJobRequest",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` will be ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "Counters": {
      "properties": {
        "failedObjectCount": {
          "readOnly": true,
          "description": "Output only. The number of objects that failed due to user errors or service errors.",
          "type": "string",
          "format": "int64"
        },
        "objectCustomContextsDeleted": {
          "readOnly": true,
          "description": "Output only. Number of object custom contexts deleted. This field is only populated for jobs with the UpdateObjectCustomContext transformation.",
          "type": "string",
          "format": "int64"
        },
        "totalBytesFound": {
          "readOnly": true,
          "description": "Output only. Number of bytes found from source. This field is only populated for jobs with a prefix list object configuration.",
          "type": "string",
          "format": "int64"
        },
        "succeededObjectCount": {
          "description": "Output only. Number of objects completed.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "objectCustomContextsCreated": {
          "description": "Output only. Number of object custom contexts created. This field is only populated for jobs with the UpdateObjectCustomContext transformation.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "objectCustomContextsUpdated": {
          "description": "Output only. Number of object custom contexts updated. This counter tracks custom contexts where the key already existed, but the payload was modified. This field is only populated for jobs with the UpdateObjectCustomContext transformation.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "totalObjectCount": {
          "readOnly": true,
          "description": "Output only. Number of objects listed.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Counters",
      "description": "Describes details about the progress of the job.",
      "type": "object"
    },
    "ErrorSummary": {
      "id": "ErrorSummary",
      "description": "A summary of errors by error code, plus a count and sample error log entries.",
      "type": "object",
      "properties": {
        "errorLogEntries": {
          "items": {
            "$ref": "ErrorLogEntry"
          },
          "description": "Required. Sample error logs.",
          "type": "array"
        },
        "errorCode": {
          "description": "Required. The canonical error code.",
          "type": "string",
          "enumDescriptions": [
            "Not an error; returned on success. HTTP Mapping: 200 OK",
            "The operation was cancelled, typically by the caller. HTTP Mapping: 499 Client Closed Request",
            "Unknown error. For example, this error may be returned when a `Status` value received from another address space belongs to an error space that is not known in this address space. Also errors raised by APIs that do not return enough error information may be converted to this error. HTTP Mapping: 500 Internal Server Error",
            "The client specified an invalid argument. Note that this differs from `FAILED_PRECONDITION`. `INVALID_ARGUMENT` indicates arguments that are problematic regardless of the state of the system (e.g., a malformed file name). HTTP Mapping: 400 Bad Request",
            "The deadline expired before the operation could complete. For operations that change the state of the system, this error may be returned even if the operation has completed successfully. For example, a successful response from a server could have been delayed long enough for the deadline to expire. HTTP Mapping: 504 Gateway Timeout",
            "Some requested entity (e.g., file or directory) was not found. Note to server developers: if a request is denied for an entire class of users, such as gradual feature rollout or undocumented allowlist, `NOT_FOUND` may be used. If a request is denied for some users within a class of users, such as user-based access control, `PERMISSION_DENIED` must be used. HTTP Mapping: 404 Not Found",
            "The entity that a client attempted to create (e.g., file or directory) already exists. HTTP Mapping: 409 Conflict",
            "The caller does not have permission to execute the specified operation. `PERMISSION_DENIED` must not be used for rejections caused by exhausting some resource (use `RESOURCE_EXHAUSTED` instead for those errors). `PERMISSION_DENIED` must not be used if the caller can not be identified (use `UNAUTHENTICATED` instead for those errors). This error code does not imply the request is valid or the requested entity exists or satisfies other pre-conditions. HTTP Mapping: 403 Forbidden",
            "The request does not have valid authentication credentials for the operation. HTTP Mapping: 401 Unauthorized",
            "Some resource has been exhausted, perhaps a per-user quota, or perhaps the entire file system is out of space. HTTP Mapping: 429 Too Many Requests",
            "The operation was rejected because the system is not in a state required for the operation's execution. For example, the directory to be deleted is non-empty, an rmdir operation is applied to a non-directory, etc. Service implementors can use the following guidelines to decide between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`: (a) Use `UNAVAILABLE` if the client can retry just the failing call. (b) Use `ABORTED` if the client should retry at a higher level. For example, when a client-specified test-and-set fails, indicating the client should restart a read-modify-write sequence. (c) Use `FAILED_PRECONDITION` if the client should not retry until the system state has been explicitly fixed. For example, if an \"rmdir\" fails because the directory is non-empty, `FAILED_PRECONDITION` should be returned since the client should not retry unless the files are deleted from the directory. HTTP Mapping: 400 Bad Request",
            "The operation was aborted, typically due to a concurrency issue such as a sequencer check failure or transaction abort. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 409 Conflict",
            "The operation was attempted past the valid range. E.g., seeking or reading past end-of-file. Unlike `INVALID_ARGUMENT`, this error indicates a problem that may be fixed if the system state changes. For example, a 32-bit file system will generate `INVALID_ARGUMENT` if asked to read at an offset that is not in the range [0,2^32-1], but it will generate `OUT_OF_RANGE` if asked to read from an offset past the current file size. There is a fair bit of overlap between `FAILED_PRECONDITION` and `OUT_OF_RANGE`. We recommend using `OUT_OF_RANGE` (the more specific error) when it applies so that callers who are iterating through a space can easily look for an `OUT_OF_RANGE` error to detect when they are done. HTTP Mapping: 400 Bad Request",
            "The operation is not implemented or is not supported/enabled in this service. HTTP Mapping: 501 Not Implemented",
            "Internal errors. This means that some invariants expected by the underlying system have been broken. This error code is reserved for serious errors. HTTP Mapping: 500 Internal Server Error",
            "The service is currently unavailable. This is most likely a transient condition, which can be corrected by retrying with a backoff. Note that it is not always safe to retry non-idempotent operations. See the guidelines above for deciding between `FAILED_PRECONDITION`, `ABORTED`, and `UNAVAILABLE`. HTTP Mapping: 503 Service Unavailable",
            "Unrecoverable data loss or corruption. HTTP Mapping: 500 Internal Server Error"
          ],
          "enum": [
            "OK",
            "CANCELLED",
            "UNKNOWN",
            "INVALID_ARGUMENT",
            "DEADLINE_EXCEEDED",
            "NOT_FOUND",
            "ALREADY_EXISTS",
            "PERMISSION_DENIED",
            "UNAUTHENTICATED",
            "RESOURCE_EXHAUSTED",
            "FAILED_PRECONDITION",
            "ABORTED",
            "OUT_OF_RANGE",
            "UNIMPLEMENTED",
            "INTERNAL",
            "UNAVAILABLE",
            "DATA_LOSS"
          ]
        },
        "errorCount": {
          "description": "Required. Number of errors encountered per `error_code`.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ObjectRetention": {
      "description": "Describes options for object retention update.",
      "type": "object",
      "id": "ObjectRetention",
      "properties": {
        "retainUntilTime": {
          "description": "Required. The time when the object will be retained until. UNSET will clear the retention. Must be specified in RFC 3339 format e.g. YYYY-MM-DD'T'HH:MM:SS.SS'Z' or YYYY-MM-DD'T'HH:MM:SS'Z'.",
          "type": "string"
        },
        "retentionMode": {
          "description": "Required. The retention mode of the object.",
          "type": "string",
          "enumDescriptions": [
            "If set and retain_until_time is empty, clears the retention.",
            "Sets the retention mode to locked.",
            "Sets the retention mode to unlocked."
          ],
          "enum": [
            "RETENTION_MODE_UNSPECIFIED",
            "LOCKED",
            "UNLOCKED"
          ]
        }
      }
    },
    "Status": {
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "CancelOperationRequest": {
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object"
    },
    "Bucket": {
      "properties": {
        "bucket": {
          "description": "Required. Bucket name for the objects to be transformed.",
          "type": "string"
        },
        "prefixList": {
          "description": "Specifies objects matching a prefix set.",
          "$ref": "PrefixList"
        },
        "manifest": {
          "description": "Specifies objects in a manifest file.",
          "$ref": "Manifest"
        }
      },
      "description": "Describes configuration of a single bucket and its objects to be transformed.",
      "type": "object",
      "id": "Bucket"
    },
    "PrefixList": {
      "properties": {
        "includedObjectPrefixes": {
          "description": "Optional. Include prefixes of the objects to be transformed. * Supports full object name * Supports prefix of the object name * Wildcards are not supported * Supports empty string for all objects in a bucket.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PrefixList",
      "description": "Describes prefixes of objects to be transformed.",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        }
      }
    },
    "CustomContextUpdates": {
      "properties": {
        "updates": {
          "additionalProperties": {
            "$ref": "ObjectCustomContextPayload"
          },
          "description": "Optional. Insert or update the existing custom contexts.",
          "type": "object"
        },
        "keysToClear": {
          "description": "Optional. Custom contexts to clear by key. A key cannot be present in both `updates` and `keys_to_clear`.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomContextUpdates",
      "description": "Describes a collection of updates to apply to custom contexts identified by key.",
      "type": "object"
    },
    "BucketOperation": {
      "id": "BucketOperation",
      "description": "BucketOperation represents a bucket-level breakdown of a Job.",
      "type": "object",
      "properties": {
        "putMetadata": {
          "description": "Updates object metadata. Allows updating fixed-key and custom metadata and fixed-key metadata i.e. Cache-Control, Content-Disposition, Content-Encoding, Content-Language, Content-Type, Custom-Time.",
          "$ref": "PutMetadata"
        },
        "errorSummaries": {
          "readOnly": true,
          "description": "Output only. Summarizes errors encountered with sample error log entries.",
          "type": "array",
          "items": {
            "$ref": "ErrorSummary"
          }
        },
        "putObjectHold": {
          "$ref": "PutObjectHold",
          "description": "Changes object hold status."
        },
        "deleteObject": {
          "description": "Delete objects.",
          "$ref": "DeleteObject"
        },
        "rewriteObject": {
          "description": "Rewrite the object and updates metadata like KMS key.",
          "$ref": "RewriteObject"
        },
        "startTime": {
          "readOnly": true,
          "description": "Output only. The time that the BucketOperation was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "completeTime": {
          "description": "Output only. The time that the BucketOperation was completed.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "manifest": {
          "description": "Specifies objects in a manifest file.",
          "$ref": "Manifest"
        },
        "prefixList": {
          "description": "Specifies objects matching a prefix set.",
          "$ref": "PrefixList"
        },
        "updateObjectCustomContext": {
          "description": "Update object custom context.",
          "$ref": "UpdateObjectCustomContext"
        },
        "name": {
          "description": "Identifier. The resource name of the BucketOperation. This is defined by the service. Format: projects/{project}/locations/global/jobs/{job_id}/bucketOperations/{bucket_operation}.",
          "type": "string"
        },
        "bucketName": {
          "description": "The bucket name of the objects to be transformed in the BucketOperation.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the BucketOperation.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Created but not yet started.",
            "In progress.",
            "Completed successfully.",
            "Cancelled by the user.",
            "Terminated due to an unrecoverable failure."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "QUEUED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELED",
            "FAILED"
          ]
        },
        "counters": {
          "readOnly": true,
          "description": "Output only. Information about the progress of the bucket operation.",
          "$ref": "Counters"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time that the BucketOperation was created.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "CancelJobResponse": {
      "description": "Message for response to cancel Job.",
      "type": "object",
      "id": "CancelJobResponse",
      "properties": {}
    },
    "LoggingConfig": {
      "description": "Specifies the Cloud Logging behavior.",
      "type": "object",
      "id": "LoggingConfig",
      "properties": {
        "logActionStates": {
          "items": {
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "`LoggableAction` completed successfully. `SUCCEEDED` actions are logged as INFO.",
              "`LoggableAction` terminated in an error state. `FAILED` actions are logged as ERROR."
            ],
            "enum": [
              "LOGGABLE_ACTION_STATE_UNSPECIFIED",
              "SUCCEEDED",
              "FAILED"
            ],
            "type": "string"
          },
          "description": "Required. States in which Action are logged.If empty, no logs are generated.",
          "type": "array"
        },
        "logActions": {
          "items": {
            "enumDescriptions": [
              "Illegal value, to avoid allowing a default.",
              "The corresponding transform action in this job."
            ],
            "enum": [
              "LOGGABLE_ACTION_UNSPECIFIED",
              "TRANSFORM"
            ],
            "type": "string"
          },
          "description": "Required. Specifies the actions to be logged.",
          "type": "array"
        }
      }
    },
    "ObjectCustomContextPayload": {
      "properties": {
        "value": {
          "description": "The value of the object custom context. If set, `value` must NOT be an empty string since it is a required field in custom context. If unset, `value` will be ignored and no changes will be made to the `value` field of the custom context payload.",
          "type": "string"
        }
      },
      "id": "ObjectCustomContextPayload",
      "description": "Describes the payload of a user defined object custom context.",
      "type": "object"
    },
    "PutObjectHold": {
      "properties": {
        "eventBasedHold": {
          "enumDescriptions": [
            "Default value, Object hold status will not be changed.",
            "Places the hold.",
            "Releases the hold."
          ],
          "enum": [
            "HOLD_STATUS_UNSPECIFIED",
            "SET",
            "UNSET"
          ],
          "description": "Required. Updates object event based holds state. When object event based hold is set, object cannot be deleted or replaced. Resets object's time in the bucket for the purposes of the retention period.",
          "type": "string"
        },
        "temporaryHold": {
          "description": "Required. Updates object temporary holds state. When object temporary hold is set, object cannot be deleted or replaced.",
          "type": "string",
          "enumDescriptions": [
            "Default value, Object hold status will not be changed.",
            "Places the hold.",
            "Releases the hold."
          ],
          "enum": [
            "HOLD_STATUS_UNSPECIFIED",
            "SET",
            "UNSET"
          ]
        }
      },
      "id": "PutObjectHold",
      "description": "Describes options to update object hold.",
      "type": "object"
    },
    "Operation": {
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object"
    },
    "RewriteObject": {
      "description": "Describes options for object rewrite.",
      "type": "object",
      "id": "RewriteObject",
      "properties": {
        "kmsKey": {
          "description": "Required. Resource name of the Cloud KMS key that will be used to encrypt the object. The Cloud KMS key must be located in same location as the object. Refer to https://cloud.google.com/storage/docs/encryption/using-customer-managed-keys#add-object-key for additional documentation. Format: projects/{project}/locations/{location}/keyRings/{keyring}/cryptoKeys/{key} For example: \"projects/123456/locations/us-central1/keyRings/my-keyring/cryptoKeys/my-key\". The object will be rewritten and set with the specified KMS key.",
          "type": "string"
        }
      }
    },
    "Job": {
      "properties": {
        "dryRun": {
          "description": "Optional. If true, the job will run in dry run mode, returning the total object count and, if the object configuration is a prefix list, the bytes found from source. No transformations will be performed.",
          "type": "boolean"
        },
        "putMetadata": {
          "description": "Updates object metadata. Allows updating fixed-key and custom metadata and fixed-key metadata i.e. Cache-Control, Content-Disposition, Content-Encoding, Content-Language, Content-Type, Custom-Time.",
          "$ref": "PutMetadata"
        },
        "bucketList": {
          "description": "Specifies a list of buckets and their objects to be transformed.",
          "$ref": "BucketList"
        },
        "isMultiBucketJob": {
          "description": "Output only. If true, this Job operates on multiple buckets. Multibucket jobs are subject to different quota limits than single-bucket jobs.",
          "type": "boolean",
          "readOnly": true
        },
        "errorSummaries": {
          "description": "Output only. Summarizes errors encountered with sample error log entries.",
          "type": "array",
          "items": {
            "$ref": "ErrorSummary"
          },
          "readOnly": true
        },
        "putObjectHold": {
          "$ref": "PutObjectHold",
          "description": "Changes object hold status."
        },
        "deleteObject": {
          "$ref": "DeleteObject",
          "description": "Delete objects."
        },
        "rewriteObject": {
          "$ref": "RewriteObject",
          "description": "Rewrite the object and updates metadata like KMS key."
        },
        "completeTime": {
          "description": "Output only. The time that the job was completed.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "Optional. A description provided by the user for the job. Its max length is 1024 bytes when Unicode-encoded.",
          "type": "string"
        },
        "updateObjectCustomContext": {
          "$ref": "UpdateObjectCustomContext",
          "description": "Update object custom context."
        },
        "name": {
          "description": "Identifier. The resource name of the Job. job_id is unique within the project, that is either set by the customer or defined by the service. Format: projects/{project}/locations/global/jobs/{job_id} . For example: \"projects/123456/locations/global/jobs/job01\".",
          "type": "string"
        },
        "scheduleTime": {
          "description": "Output only. The time that the job was scheduled.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Default value. This value is unused.",
            "In progress.",
            "Completed successfully.",
            "Cancelled by the user.",
            "Terminated due to an unrecoverable failure.",
            "Queued but not yet started."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "CANCELED",
            "FAILED",
            "QUEUED"
          ],
          "readOnly": true,
          "description": "Output only. State of the job.",
          "type": "string"
        },
        "counters": {
          "readOnly": true,
          "$ref": "Counters",
          "description": "Output only. Information about the progress of the job."
        },
        "loggingConfig": {
          "description": "Optional. Logging configuration.",
          "$ref": "LoggingConfig"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time that the job was created.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Job",
      "description": "The Storage Batch Operations Job description.",
      "type": "object"
    },
    "ListBucketOperationsResponse": {
      "properties": {
        "bucketOperations": {
          "items": {
            "$ref": "BucketOperation"
          },
          "description": "A list of storage batch bucket operations.",
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results.",
          "type": "string"
        }
      },
      "id": "ListBucketOperationsResponse",
      "description": "Message for response to listing BucketOperations",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "ListJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "A list of storage batch jobs.",
          "type": "array"
        }
      },
      "id": "ListJobsResponse",
      "description": "Message for response to listing Jobs",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "storagebatchoperations.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            },
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "location": "query",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "storagebatchoperations.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              }
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET"
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "path": "v1/{+name}/operations"
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "DELETE",
                  "id": "storagebatchoperations.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}"
                }
              }
            },
            "jobs": {
              "methods": {
                "get": {
                  "id": "storagebatchoperations.projects.locations.jobs.get",
                  "response": {
                    "$ref": "Job"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. `name` of the job to retrieve. Format: projects/{project_id}/locations/global/jobs/{job_id} .",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Gets a batch job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Value for parent.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "jobId": {
                      "description": "Required. The optional `job_id` for this Job . If not specified, an id is generated. `job_id` should be no more than 128 characters and must include only characters available in DNS names, as defined by RFC-1123.",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` will be ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "id": "storagebatchoperations.projects.locations.jobs.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a batch job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/jobs",
                  "request": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs"
                },
                "cancel": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}:cancel",
                  "request": {
                    "$ref": "CancelJobRequest"
                  },
                  "path": "v1/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Cancels a batch job.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "storagebatchoperations.projects.locations.jobs.cancel",
                  "response": {
                    "$ref": "CancelJobResponse"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The `name` of the job to cancel. Format: projects/{project_id}/locations/global/jobs/{job_id}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Jobs in a given project.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "path": "v1/{+parent}/jobs",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filters results as defined by https://google.aip.dev/160.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. The list page size. default page size is 100.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "Optional. Field to sort by. Supported fields are name, create_time.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Format: projects/{project_id}/locations/global.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "storagebatchoperations.projects.locations.jobs.list",
                  "response": {
                    "$ref": "ListJobsResponse"
                  }
                },
                "delete": {
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "description": "Deletes a batch job.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "storagebatchoperations.projects.locations.jobs.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID in case you need to retry your request. Requests with same `request_id` will be ignored for at least 60 minutes since the first request. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, any child bucket operations of the job will also be deleted. Highly recommended to be set to true by all clients. Users cannot mutate bucket operations directly, so only the jobs.delete permission is required to delete a job (and its child bucket operations).",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The `name` of the job to delete. Format: projects/{project_id}/locations/global/jobs/{job_id} .",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE"
                }
              },
              "resources": {
                "bucketOperations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. `name` of the bucket operation to retrieve. Format: projects/{project_id}/locations/global/jobs/{job_id}/bucketOperations/{bucket_operation_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+/bucketOperations/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "id": "storagebatchoperations.projects.locations.jobs.bucketOperations.get",
                      "response": {
                        "$ref": "BucketOperation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a BucketOperation.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/bucketOperations/{bucketOperationsId}"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists BucketOperations in a given project and job.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}/bucketOperations",
                      "path": "v1/{+parent}/bucketOperations",
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "description": "Required. Format: projects/{project_id}/locations/global/jobs/{job_id}.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Optional. The list page token.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "Optional. The list page size. Default page size is 100.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "orderBy": {
                          "location": "query",
                          "description": "Optional. Field to sort by. Supported fields are name, create_time.",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filters results as defined by https://google.aip.dev/160.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "storagebatchoperations.projects.locations.jobs.bucketOperations.list",
                      "response": {
                        "$ref": "ListBucketOperationsResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "canonicalName": "Storage Batch Operations",
  "batchPath": "batch",
  "name": "storagebatchoperations",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "version": "v1"
}