{
  "protocol": "rest",
  "ownerName": "Google",
  "version": "v1",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "title": "Tag Manager API",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "revision": "20260304",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "batchPath": "batch",
  "servicePath": "",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "schemas": {
    "Parameter": {
      "properties": {
        "map": {
          "type": "array",
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "items": {
            "$ref": "Parameter"
          }
        },
        "key": {
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type."
        },
        "type": {
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "enumDescriptions": [
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "type": "string"
        },
        "list": {
          "type": "array",
          "description": "This list parameter's parameters (keys will be ignored).",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Parameter.",
      "id": "Parameter"
    },
    "Variable": {
      "type": "object",
      "properties": {
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "format": "int64",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this variable in the container.",
          "type": "string"
        },
        "scheduleStartMs": {
          "type": "string",
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "format": "int64"
        },
        "enablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "type": {
          "type": "string",
          "description": "GTM Variable Type."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "name": {
          "type": "string",
          "description": "Variable display name."
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "parameter": {
          "type": "array",
          "description": "The variable's parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "variableId": {
          "description": "The Variable ID uniquely identifies the GTM Variable.",
          "type": "string"
        }
      },
      "id": "Variable",
      "description": "Represents a Google Tag Manager Variable."
    },
    "PublishContainerVersionResponse": {
      "description": "Publish container version response.",
      "id": "PublishContainerVersionResponse",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        }
      },
      "type": "object"
    },
    "AccountAccess": {
      "id": "AccountAccess",
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object",
      "properties": {
        "permission": {
          "type": "array",
          "description": "List of Account permissions. Valid account permissions are read and manage.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "type": "string"
          }
        }
      }
    },
    "Container": {
      "type": "object",
      "properties": {
        "publicId": {
          "description": "Container Public ID.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "The Container ID uniquely identifies the GTM Container."
        },
        "name": {
          "description": "Container display name.",
          "type": "string"
        },
        "timeZoneCountryId": {
          "description": "Container Country ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "usageContext": {
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, ios.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "enabledBuiltInVariable": {
          "type": "array",
          "description": "List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "For web or mobile.",
              "",
              "For web or mobile.",
              "For web or mobile.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "pageUrl",
              "pageHostname",
              "pagePath",
              "referrer",
              "event",
              "clickElement",
              "clickClasses",
              "clickId",
              "clickTarget",
              "clickUrl",
              "clickText",
              "firstPartyServingUrl",
              "formElement",
              "formClasses",
              "formId",
              "formTarget",
              "formUrl",
              "formText",
              "environmentName",
              "errorMessage",
              "errorUrl",
              "errorLine",
              "newHistoryUrl",
              "oldHistoryUrl",
              "newHistoryFragment",
              "oldHistoryFragment",
              "newHistoryState",
              "oldHistoryState",
              "historySource",
              "containerVersion",
              "debugMode",
              "randomNumber",
              "containerId",
              "appId",
              "appName",
              "appVersionCode",
              "appVersionName",
              "language",
              "osVersion",
              "platform",
              "sdkVersion",
              "deviceName",
              "resolution",
              "advertiserId",
              "advertisingTrackingEnabled",
              "htmlId",
              "ampBrowserLanguage",
              "ampCanonicalPath",
              "ampCanonicalUrl",
              "ampCanonicalHost",
              "ampReferrer",
              "ampTitle",
              "ampClientId",
              "ampClientTimezone",
              "ampClientTimestamp",
              "ampClientScreenWidth",
              "ampClientScreenHeight",
              "ampClientScrollX",
              "ampClientScrollY",
              "ampClientMaxScrollX",
              "ampClientMaxScrollY",
              "ampTotalEngagedTime",
              "ampPageViewId",
              "ampPageLoadTime",
              "ampPageDownloadTime",
              "ampGtmEvent",
              "eventName",
              "firebaseEventParameterCampaign",
              "firebaseEventParameterCampaignAclid",
              "firebaseEventParameterCampaignAnid",
              "firebaseEventParameterCampaignClickTimestamp",
              "firebaseEventParameterCampaignContent",
              "firebaseEventParameterCampaignCp1",
              "firebaseEventParameterCampaignGclid",
              "firebaseEventParameterCampaignSource",
              "firebaseEventParameterCampaignTerm",
              "firebaseEventParameterCurrency",
              "firebaseEventParameterDynamicLinkAcceptTime",
              "firebaseEventParameterDynamicLinkLinkid",
              "firebaseEventParameterNotificationMessageDeviceTime",
              "firebaseEventParameterNotificationMessageId",
              "firebaseEventParameterNotificationMessageName",
              "firebaseEventParameterNotificationMessageTime",
              "firebaseEventParameterNotificationTopic",
              "firebaseEventParameterPreviousAppVersion",
              "firebaseEventParameterPreviousOsVersion",
              "firebaseEventParameterPrice",
              "firebaseEventParameterProductId",
              "firebaseEventParameterQuantity",
              "firebaseEventParameterValue",
              "videoProvider",
              "videoUrl",
              "videoTitle",
              "videoDuration",
              "videoPercent",
              "videoVisible",
              "videoStatus",
              "videoCurrentTime",
              "scrollDepthThreshold",
              "scrollDepthUnits",
              "scrollDepthDirection",
              "elementVisibilityRatio",
              "elementVisibilityTime",
              "elementVisibilityFirstTime",
              "elementVisibilityRecentTime",
              "analyticsClientId",
              "analyticsSessionId",
              "analyticsSessionNumber"
            ],
            "type": "string"
          }
        },
        "timeZoneId": {
          "type": "string",
          "description": "Container Time Zone ID."
        },
        "domainName": {
          "description": "Optional list of domain names associated with the Container.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Container",
      "description": "Represents a Google Tag Manager Container."
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "description": "List Tags Response.",
      "type": "object",
      "properties": {
        "tags": {
          "description": "All GTM Tags of a GTM Container.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      }
    },
    "Account": {
      "type": "object",
      "properties": {
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others.",
          "type": "boolean"
        },
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        },
        "name": {
          "type": "string",
          "description": "Account display name."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
        }
      },
      "id": "Account",
      "description": "Represents a Google Tag Manager Account."
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "id": "Trigger",
      "properties": {
        "eventName": {
          "$ref": "Parameter",
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers."
        },
        "autoEventFilter": {
          "type": "array",
          "description": "Used in the case of auto event tracking.",
          "items": {
            "$ref": "Condition"
          }
        },
        "intervalSeconds": {
          "$ref": "Parameter",
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger."
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "waitForTags": {
          "$ref": "Parameter",
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers."
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "type": {
          "description": "Defines the data layer event that causes this trigger.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Trigger display name."
        },
        "verticalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          },
          "type": "array"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "filter": {
          "description": "The trigger will only fire iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          },
          "type": "array"
        },
        "interval": {
          "$ref": "Parameter",
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers."
        },
        "visibilitySelector": {
          "$ref": "Parameter",
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger."
        },
        "visiblePercentageMin": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger."
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "description": "Additional parameters.",
          "items": {
            "$ref": "Parameter"
          }
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        }
      },
      "type": "object"
    },
    "ContainerVersionHeader": {
      "properties": {
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "numTags": {
          "type": "string",
          "description": "Number of tags in the container version."
        },
        "numTriggers": {
          "type": "string",
          "description": "Number of triggers in the container version."
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Container Version Header.",
      "id": "ContainerVersionHeader"
    },
    "Environment": {
      "id": "Environment",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "type": "object",
      "properties": {
        "enableDebug": {
          "description": "Whether or not to enable debug by default on for the environment.",
          "type": "boolean"
        },
        "type": {
          "description": "The type of this environment.",
          "enumDescriptions": [
            "Used for user defined environments.",
            "Used for Live environment, which points to the live published container version.",
            "Used for Latest environment, which points to the latest created container version.",
            "Used for Draft environment, which points to the single draft in the container."
          ],
          "enum": [
            "user",
            "live",
            "latest",
            "draft"
          ],
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments."
        },
        "authorizationTimestampMs": {
          "description": "The last update time-stamp for the authorization code.",
          "format": "int64",
          "type": "string"
        },
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified."
        },
        "containerVersionId": {
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "The environment description. Can be set or changed only on USER type environments."
        },
        "environmentId": {
          "type": "string",
          "description": "GTM Environment ID uniquely identifies the GTM Environment."
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        }
      }
    },
    "ListFoldersResponse": {
      "id": "ListFoldersResponse",
      "description": "List Folders Response.",
      "type": "object",
      "properties": {
        "folders": {
          "description": "All GTM Folders of a GTM Container.",
          "items": {
            "$ref": "Folder"
          },
          "type": "array"
        }
      }
    },
    "CreateContainerVersionRequestVersionOptions": {
      "type": "object",
      "properties": {
        "notes": {
          "type": "string",
          "description": "The notes of the container version to be created."
        },
        "quickPreview": {
          "type": "boolean",
          "description": "The creation of this version may be for quick preview and shouldn't be saved."
        },
        "name": {
          "type": "string",
          "description": "The name of the container version to be created."
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions",
      "description": "Options for new container versions."
    },
    "ListVariablesResponse": {
      "description": "List Variables Response.",
      "id": "ListVariablesResponse",
      "properties": {
        "variables": {
          "description": "All GTM Variables of a GTM Container.",
          "items": {
            "$ref": "Variable"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CreateContainerVersionResponse": {
      "properties": {
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        }
      },
      "type": "object",
      "description": "Create container versions response.",
      "id": "CreateContainerVersionResponse"
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "description": "List Environments Response.",
      "type": "object",
      "properties": {
        "environments": {
          "type": "array",
          "description": "All Environments of a GTM Container.",
          "items": {
            "$ref": "Environment"
          }
        }
      }
    },
    "FolderEntities": {
      "id": "FolderEntities",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object",
      "properties": {
        "variable": {
          "description": "The list of variables inside the folder.",
          "items": {
            "$ref": "Variable"
          },
          "type": "array"
        },
        "trigger": {
          "type": "array",
          "description": "The list of triggers inside the folder.",
          "items": {
            "$ref": "Trigger"
          }
        },
        "tag": {
          "description": "The list of tags inside the folder.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      }
    },
    "ListContainerVersionsResponse": {
      "type": "object",
      "properties": {
        "containerVersionHeader": {
          "description": "All container version headers of a GTM Container.",
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "type": "array"
        },
        "containerVersion": {
          "description": "All versions of a GTM Container.",
          "items": {
            "$ref": "ContainerVersion"
          },
          "type": "array"
        }
      },
      "id": "ListContainerVersionsResponse",
      "description": "List container versions response."
    },
    "Folder": {
      "id": "Folder",
      "description": "Represents a Google Tag Manager Folder.",
      "type": "object",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "description": "Folder display name.",
          "type": "string"
        }
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "scheduleEndMs": {
          "type": "string",
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "format": "int64"
        },
        "priority": {
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
          "$ref": "Parameter"
        },
        "tagFiringOption": {
          "enumDescriptions": [
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ],
          "enum": [
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "description": "Option to fire this tag.",
          "type": "string"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this tag in the container."
        },
        "tagId": {
          "type": "string",
          "description": "The Tag ID uniquely identifies the GTM Tag."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a tag.",
          "format": "int64",
          "type": "string"
        },
        "firingTriggerId": {
          "type": "array",
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string",
          "description": "GTM Tag Type."
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
          "type": "boolean"
        },
        "paused": {
          "description": "True if the tag is paused.",
          "type": "boolean"
        },
        "teardownTag": {
          "type": "array",
          "description": "The list of teardown tags. Currently we only allow one.",
          "items": {
            "$ref": "TeardownTag"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "blockingTriggerId": {
          "type": "array",
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "items": {
            "type": "string"
          }
        },
        "parameter": {
          "description": "The tag's parameters.",
          "items": {
            "$ref": "Parameter"
          },
          "type": "array"
        },
        "setupTag": {
          "type": "array",
          "description": "The list of setup tags. Currently we only allow one.",
          "items": {
            "$ref": "SetupTag"
          }
        }
      },
      "id": "Tag",
      "description": "Represents a Google Tag Manager Tag."
    },
    "ListAccountsResponse": {
      "type": "object",
      "properties": {
        "accounts": {
          "type": "array",
          "description": "List of GTM Accounts that a user has access to.",
          "items": {
            "$ref": "Account"
          }
        }
      },
      "id": "ListAccountsResponse",
      "description": "List Accounts Response."
    },
    "SetupTag": {
      "type": "object",
      "properties": {
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
        },
        "tagName": {
          "type": "string",
          "description": "The name of the setup tag."
        }
      },
      "id": "SetupTag"
    },
    "ListAccountUsersResponse": {
      "properties": {
        "userAccess": {
          "description": "All GTM AccountUsers of a GTM Account.",
          "items": {
            "$ref": "UserAccess"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "List AccountUsers Response.",
      "id": "ListAccountUsersResponse"
    },
    "TeardownTag": {
      "type": "object",
      "properties": {
        "stopTeardownOnFailure": {
          "type": "boolean",
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status."
        },
        "tagName": {
          "type": "string",
          "description": "The name of the teardown tag."
        }
      },
      "id": "TeardownTag"
    },
    "UserAccess": {
      "description": "Represents a user's permissions to an account and its container.",
      "id": "UserAccess",
      "properties": {
        "permissionId": {
          "description": "Account Permission ID.",
          "type": "string"
        },
        "accountAccess": {
          "$ref": "AccountAccess",
          "description": "GTM Account access permissions."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "emailAddress": {
          "description": "User's email address.",
          "type": "string"
        },
        "containerAccess": {
          "type": "array",
          "description": "GTM Container access permissions.",
          "items": {
            "$ref": "ContainerAccess"
          }
        }
      },
      "type": "object"
    },
    "Condition": {
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "description": "The type of operator for this condition."
        },
        "parameter": {
          "type": "array",
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "type": "object",
      "description": "Represents a predicate.",
      "id": "Condition"
    },
    "ListTriggersResponse": {
      "properties": {
        "triggers": {
          "description": "All GTM Triggers of a GTM Container.",
          "items": {
            "$ref": "Trigger"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "List triggers response.",
      "id": "ListTriggersResponse"
    },
    "ListContainersResponse": {
      "description": "List Containers Response.",
      "id": "ListContainersResponse",
      "properties": {
        "containers": {
          "description": "All Containers of a GTM Account.",
          "items": {
            "$ref": "Container"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "ContainerAccess": {
      "description": "Defines the Google Tag Manager Container access permissions.",
      "id": "ContainerAccess",
      "properties": {
        "permission": {
          "type": "array",
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish.",
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "type": "string"
          }
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        }
      },
      "type": "object"
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "id": "ContainerVersion",
      "properties": {
        "folder": {
          "description": "The folders in the container that this version was taken from.",
          "items": {
            "$ref": "Folder"
          },
          "type": "array"
        },
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "tag": {
          "description": "The tags in the container that this version was taken from.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "items": {
            "$ref": "Variable"
          },
          "type": "array"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "trigger": {
          "description": "The triggers in the container that this version was taken from.",
          "items": {
            "$ref": "Trigger"
          },
          "type": "array"
        },
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        }
      },
      "type": "object"
    }
  },
  "basePath": "",
  "name": "tagmanager",
  "documentationLink": "https://developers.google.com/tag-manager",
  "kind": "discovery#restDescription",
  "resources": {
    "accounts": {
      "resources": {
        "containers": {
          "resources": {
            "folders": {
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "parameters": {
                        "folderId": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "description": "The GTM Folder ID."
                        },
                        "accountId": {
                          "location": "path",
                          "type": "string",
                          "description": "The GTM Account ID.",
                          "required": true
                        },
                        "containerId": {
                          "description": "The GTM Container ID.",
                          "required": true,
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "description": "List all entities in a GTM Folder.",
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "description": "Gets a GTM Folder.",
                  "response": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "folderId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Folder ID."
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.get"
                },
                "update": {
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Folder"
                  },
                  "id": "tagmanager.accounts.containers.folders.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage."
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "response": {
                    "$ref": "Folder"
                  },
                  "description": "Updates a GTM Folder.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ]
                },
                "list": {
                  "description": "Lists all GTM Folders of a Container.",
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "id": "tagmanager.accounts.containers.folders.list"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Folder.",
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "folderId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Folder ID."
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "create": {
                  "id": "tagmanager.accounts.containers.folders.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "Folder"
                  },
                  "description": "Creates a GTM Folder."
                }
              }
            },
            "versions": {
              "methods": {
                "undelete": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "description": "Undeletes a Container Version."
                },
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "description": "Lists all Container Versions of a GTM Container.",
                  "id": "tagmanager.accounts.containers.versions.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "headers": {
                      "description": "Retrieve headers only when true.",
                      "default": "false",
                      "location": "query",
                      "type": "boolean"
                    },
                    "includeDeleted": {
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "default": "false",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version."
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "description": "Gets a Container Version.",
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                },
                "update": {
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "description": "Updates a Container Version.",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "publish": {
                  "description": "Publishes a Container Version.",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container Version ID."
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "id": "tagmanager.accounts.containers.versions.publish"
                },
                "restore": {
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "parameters": {
                    "containerVersionId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container Version ID."
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "description": "Creates a Container Version."
                },
                "delete": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "description": "Deletes a Container Version.",
                  "httpMethod": "DELETE"
                }
              }
            },
            "triggers": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "description": "Lists all GTM Triggers of a Container.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers"
                },
                "get": {
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "response": {
                    "$ref": "Trigger"
                  },
                  "description": "Gets a GTM Trigger."
                },
                "update": {
                  "response": {
                    "$ref": "Trigger"
                  },
                  "description": "Updates a GTM Trigger.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "request": {
                    "$ref": "Trigger"
                  },
                  "httpMethod": "PUT",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage."
                    },
                    "triggerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Trigger ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}"
                },
                "create": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Creates a GTM Trigger.",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Trigger"
                  }
                },
                "delete": {
                  "description": "Deletes a GTM Trigger.",
                  "httpMethod": "DELETE",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "triggerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Trigger ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ]
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "request": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "PUT",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "parameters": {
                    "environmentId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Environment ID.",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update"
                }
              }
            },
            "tags": {
              "methods": {
                "list": {
                  "description": "Lists all GTM Tags of a Container.",
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "id": "tagmanager.accounts.containers.tags.list"
                },
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "description": "Gets a GTM Tag.",
                  "response": {
                    "$ref": "Tag"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "tagId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Tag ID.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.get",
                  "httpMethod": "GET"
                },
                "update": {
                  "httpMethod": "PUT",
                  "request": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "id": "tagmanager.accounts.containers.tags.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "tagId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Tag ID.",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "description": "Updates a GTM Tag.",
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ]
                },
                "create": {
                  "request": {
                    "$ref": "Tag"
                  },
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.tags.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "response": {
                    "$ref": "Tag"
                  },
                  "description": "Creates a GTM Tag.",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Tag.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    },
                    "tagId": {
                      "description": "The GTM Tag ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}"
                }
              }
            },
            "environments": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Environment.",
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.environments.create",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "request": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Creates a GTM Environment."
                },
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Gets a GTM Environment.",
                  "id": "tagmanager.accounts.containers.environments.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "environmentId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Environment ID.",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.environments.update",
                  "request": {
                    "$ref": "Environment"
                  },
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "description": "Updates a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  }
                },
                "list": {
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "httpMethod": "GET",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "id": "tagmanager.accounts.containers.environments.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Container ID."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                }
              }
            },
            "variables": {
              "methods": {
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.variables.get",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "response": {
                    "$ref": "Variable"
                  },
                  "description": "Gets a GTM Variable."
                },
                "update": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "variableId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Variable ID.",
                      "required": true
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.variables.update",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "request": {
                    "$ref": "Variable"
                  },
                  "httpMethod": "PUT",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "response": {
                    "$ref": "Variable"
                  },
                  "description": "Updates a GTM Variable."
                },
                "list": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "description": "Lists all GTM Variables of a Container.",
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "id": "tagmanager.accounts.containers.variables.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Variable.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "variableId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Variable ID.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
[...]
