{
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query"
    }
  },
  "baseUrl": "https://tagmanager.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "documentationLink": "https://developers.google.com/tag-manager",
  "version": "v2",
  "kind": "discovery#restDescription",
  "id": "tagmanager:v2",
  "title": "Tag Manager API",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "servicePath": "",
  "ownerName": "Google",
  "revision": "20260420",
  "discoveryVersion": "v1",
  "resources": {
    "accounts": {
      "resources": {
        "user_permissions": {
          "methods": {
            "get": {
              "id": "tagmanager.accounts.user_permissions.get",
              "httpMethod": "GET",
              "description": "Gets a user's Account & Container access.",
              "parameterOrder": [
                "path"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "response": {
                "$ref": "UserPermission"
              },
              "parameters": {
                "path": {
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM UserPermission's API relative path.",
                  "location": "path"
                }
              },
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}"
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "response": {
                "$ref": "UserPermission"
              },
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "description": "GTM Account's API relative path.",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "UserPermission"
              },
              "httpMethod": "POST",
              "description": "Creates a user's Account & Container access.",
              "id": "tagmanager.accounts.user_permissions.create"
            },
            "update": {
              "id": "tagmanager.accounts.user_permissions.update",
              "httpMethod": "PUT",
              "description": "Updates a user's Account & Container access.",
              "request": {
                "$ref": "UserPermission"
              },
              "parameters": {
                "path": {
                  "description": "GTM UserPermission's API relative path.",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "response": {
                "$ref": "UserPermission"
              },
              "parameterOrder": [
                "path"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "delete": {
              "parameterOrder": [
                "path"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "path": {
                  "location": "path",
                  "description": "GTM UserPermission's API relative path.",
                  "type": "string",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true
                }
              },
              "id": "tagmanager.accounts.user_permissions.delete",
              "httpMethod": "DELETE",
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "path": "tagmanager/v2/{+path}",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}"
            },
            "list": {
              "response": {
                "$ref": "ListUserPermissionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM Account's API relative path."
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                }
              },
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "id": "tagmanager.accounts.user_permissions.list",
              "httpMethod": "GET",
              "description": "List all users that have access to the account along with Account and Container user access granted to each of them."
            }
          }
        },
        "containers": {
          "resources": {
            "version_headers": {
              "methods": {
                "latest": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ContainerVersionHeader"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM Container's API relative path.",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+parent}/version_headers:latest",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/version_headers:latest",
                  "id": "tagmanager.accounts.containers.version_headers.latest",
                  "httpMethod": "GET",
                  "description": "Gets the latest container version header"
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all Container Versions of a GTM Container.",
                  "id": "tagmanager.accounts.containers.version_headers.list",
                  "path": "tagmanager/v2/{+parent}/version_headers",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/version_headers",
                  "parameters": {
                    "includeDeleted": {
                      "location": "query",
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "type": "boolean"
                    },
                    "parent": {
                      "location": "path",
                      "description": "GTM Container's API relative path.",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Continuation token for fetching the next page of results.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                }
              }
            },
            "environments": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a GTM Environment.",
                  "id": "tagmanager.accounts.containers.environments.get",
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "Environment"
                  },
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                  "parameters": {
                    "path": {
                      "type": "string",
                      "description": "GTM Environment's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "path": "tagmanager/v2/{+parent}/environments",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments",
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM Container's API relative path.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a GTM Environment.",
                  "id": "tagmanager.accounts.containers.environments.create",
                  "request": {
                    "$ref": "Environment"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "description": "GTM Container's API relative path.",
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query"
                    }
                  },
                  "path": "tagmanager/v2/{+parent}/environments",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments",
                  "id": "tagmanager.accounts.containers.environments.list",
                  "httpMethod": "GET",
                  "description": "Lists all GTM Environments of a GTM Container."
                },
                "reauthorize": {
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "required": true,
                      "description": "GTM Environment's API relative path.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+path}:reauthorize",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}:reauthorize",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "id": "tagmanager.accounts.containers.environments.reauthorize",
                  "httpMethod": "POST",
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "request": {
                    "$ref": "Environment"
                  }
                },
                "update": {
                  "request": {
                    "$ref": "Environment"
                  },
                  "id": "tagmanager.accounts.containers.environments.update",
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Environment.",
                  "response": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "location": "query"
                    },
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "required": true,
                      "description": "GTM Environment's API relative path.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}"
                },
                "delete": {
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/environments/[^/]+$",
                      "required": true,
                      "description": "GTM Environment's API relative path.",
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/environments/{environmentsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a GTM Environment."
                }
              }
            },
            "destinations": {
              "methods": {
                "list": {
                  "path": "tagmanager/v2/{+parent}/destinations",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/destinations",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM parent Container's API relative path."
                    }
                  },
                  "response": {
                    "$ref": "ListDestinationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "description": "Lists all Destinations linked to a GTM Container.",
                  "id": "tagmanager.accounts.containers.destinations.list"
                },
                "link": {
                  "path": "tagmanager/v2/{+parent}/destinations:link",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/destinations:link",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "GTM parent Container's API relative path.",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true
                    },
                    "allowUserPermissionFeatureUpdate": {
                      "type": "boolean",
                      "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.",
                      "location": "query"
                    },
                    "destinationId": {
                      "location": "query",
                      "description": "Destination ID to be linked to the current container.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Destination"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "description": "Adds a Destination to this Container and removes it from the Container to which it is currently linked.",
                  "id": "tagmanager.accounts.containers.destinations.link"
                },
                "get": {
                  "id": "tagmanager.accounts.containers.destinations.get",
                  "httpMethod": "GET",
                  "description": "Gets a Destination.",
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "Destination"
                  },
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/destinations/[^/]+$",
                      "required": true,
                      "description": "Google Tag Destination's API relative path.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/destinations/{destinationsId}"
                }
              }
            },
            "versions": {
              "methods": {
                "live": {
                  "parameters": {
                    "parent": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "description": "GTM Container's API relative path.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+parent}/versions:live",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions:live",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.versions.live",
                  "httpMethod": "GET",
                  "description": "Gets the live (i.e. published) container version"
                },
                "update": {
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "httpMethod": "PUT",
                  "description": "Updates a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.update",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    },
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM ContainerVersion's API relative path.",
                      "location": "path"
                    }
                  }
                },
                "delete": {
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "GTM ContainerVersion's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "publish": {
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "httpMethod": "POST",
                  "description": "Publishes a Container Version.",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM ContainerVersion's API relative path."
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage."
                    }
                  },
                  "path": "tagmanager/v2/{+path}:publish",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:publish",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ]
                },
                "set_latest": {
                  "id": "tagmanager.accounts.containers.versions.set_latest",
                  "httpMethod": "POST",
                  "description": "Sets the latest version used for synchronization of workspaces when detecting conflicts and errors.",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "path": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM ContainerVersion's API relative path."
                    }
                  },
                  "path": "tagmanager/v2/{+path}:set_latest",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:set_latest"
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.get",
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM ContainerVersion's API relative path.",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "required": true
                    },
                    "containerVersionId": {
                      "location": "query",
                      "description": "The GTM ContainerVersion ID. Specify published to retrieve the currently published version.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                },
                "undelete": {
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/versions/[^/]+$",
                      "required": true,
                      "description": "GTM ContainerVersion's API relative path.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+path}:undelete",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/versions/{versionsId}:undelete",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "httpMethod": "POST",
                  "description": "Undeletes a Container Version."
                }
              }
            },
            "workspaces": {
              "methods": {
                "create_version": {
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "id": "tagmanager.accounts.containers.workspaces.create_version",
                  "httpMethod": "POST",
                  "description": "Creates a Container Version from the entities present in the workspace, deletes the workspace, and sets the base container version to the newly created version.",
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "description": "GTM Workspace's API relative path.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+path}:create_version",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:create_version"
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists all Workspaces that belong to a GTM Container.",
                  "id": "tagmanager.accounts.containers.workspaces.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "ListWorkspacesResponse"
                  },
                  "path": "tagmanager/v2/{+parent}/workspaces",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "parameters": {
                    "parent": {
                      "description": "GTM parent Container's API relative path.",
                      "type": "string",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query"
                    }
                  }
                },
                "bulk_update": {
                  "response": {
                    "$ref": "BulkUpdateWorkspaceResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v2/{+path}/bulk_update",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/bulk_update",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "ProposedChange"
                  },
                  "httpMethod": "POST",
                  "description": "Applies multiple entity changes to a workspace in one call. When creating new entities, their entity IDs must be unique and in correct format. That is, they must start with \"new_\" and followed by number, e.g. \"new_1\", \"new_2\". Example body snippet to create myNewTag under myNewFolder is: ``` \"changes\": [ { \"folder\": { \"folderId\": \"new_1\", \"name\": \"myNewFolder\", ... }, \"changeStatus\": \"added\" }, { \"tag\": { \"tagId\": \"new_2\", \"name\": \"myNewTag\", \"parentFolderId\": \"new_1\", ... }, \"changeStatus\": \"added\" } ] ```",
                  "id": "tagmanager.accounts.containers.workspaces.bulk_update"
                },
                "resolve_conflict": {
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v2/{+path}:resolve_conflict",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:resolve_conflict",
                  "parameters": {
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the entity_in_workspace in the merge conflict."
                    },
                    "path": {
                      "location": "path",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "description": "GTM Workspace's API relative path.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "Entity"
                  },
                  "httpMethod": "POST",
                  "description": "Resolves a merge conflict for a workspace entity by updating it to the resolved entity passed in the request.",
                  "id": "tagmanager.accounts.containers.workspaces.resolve_conflict"
                },
                "create": {
                  "response": {
                    "$ref": "Workspace"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "GTM parent Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+parent}/workspaces",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "request": {
                    "$ref": "Workspace"
                  },
                  "id": "tagmanager.accounts.containers.workspaces.create",
                  "httpMethod": "POST",
                  "description": "Creates a Workspace."
                },
                "sync": {
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "description": "GTM Workspace's API relative path.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+path}:sync",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:sync",
                  "response": {
                    "$ref": "SyncWorkspaceResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.workspaces.sync",
                  "httpMethod": "POST",
                  "description": "Syncs a workspace to the latest container version by updating all unmodified workspace entities and displaying conflicts for modified entities."
                },
                "delete": {
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.delete.containers"
                  ],
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "description": "GTM Workspace's API relative path.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.workspaces.delete",
                  "httpMethod": "DELETE",
                  "description": "Deletes a Workspace.",
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}"
                },
                "update": {
                  "id": "tagmanager.accounts.containers.workspaces.update",
                  "httpMethod": "PUT",
                  "description": "Updates a Workspace.",
                  "request": {
                    "$ref": "Workspace"
                  },
                  "parameters": {
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the workspace in storage.",
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "response": {
                    "$ref": "Workspace"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets a Workspace.",
                  "id": "tagmanager.accounts.containers.workspaces.get",
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "response": {
                    "$ref": "Workspace"
                  },
                  "path": "tagmanager/v2/{+path}",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "description": "GTM Workspace's API relative path.",
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "getStatus": {
                  "httpMethod": "GET",
                  "description": "Finds conflicting and modified entities in the workspace.",
                  "id": "tagmanager.accounts.containers.workspaces.getStatus",
                  "path": "tagmanager/v2/{+path}/status",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/status",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GetWorkspaceStatusResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "quick_preview": {
                  "path": "tagmanager/v2/{+path}:quick_preview",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:quick_preview",
                  "parameters": {
                    "path": {
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "QuickPreviewResponse"
                  },
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "httpMethod": "POST",
                  "description": "Quick previews a workspace by creating a fake container version from all entities in the provided workspace.",
                  "id": "tagmanager.accounts.containers.workspaces.quick_preview"
                }
              },
              "resources": {
                "tags": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Tag"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}",
                      "parameters": {
                        "path": {
                          "description": "GTM Tag's API relative path.",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/tags/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Gets a GTM Tag.",
                      "id": "tagmanager.accounts.containers.workspaces.tags.get"
                    },
                    "create": {
                      "response": {
                        "$ref": "Tag"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "description": "GTM Workspace's API relative path.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+parent}/tags",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags",
                      "request": {
                        "$ref": "Tag"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.tags.create",
                      "httpMethod": "POST",
                      "description": "Creates a GTM Tag."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists all GTM Tags of a Container.",
                      "id": "tagmanager.accounts.containers.workspaces.tags.list",
                      "path": "tagmanager/v2/{+parent}/tags",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListTagsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "revert": {
                      "id": "tagmanager.accounts.containers.workspaces.tags.revert",
                      "httpMethod": "POST",
                      "description": "Reverts changes to a GTM Tag in a GTM Workspace.",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/tags/[^/]+$",
                          "required": true,
                          "description": "GTM Tag's API relative path.",
                          "type": "string"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of thetag in storage.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}:revert",
                      "response": {
                        "$ref": "RevertTagResponse"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "update": {
                      "response": {
                        "$ref": "Tag"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "path": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Tag's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/tags/[^/]+$",
                          "required": true
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}",
                      "request": {
                        "$ref": "Tag"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.tags.update",
                      "httpMethod": "PUT",
                      "description": "Updates a GTM Tag."
                    },
                    "delete": {
                      "parameters": {
                        "path": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Tag's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/tags/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.tags.delete",
                      "httpMethod": "DELETE",
                      "description": "Deletes a GTM Tag.",
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    }
                  }
                },
                "folders": {
                  "methods": {
                    "create": {
                      "request": {
                        "$ref": "Folder"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a GTM Folder.",
                      "id": "tagmanager.accounts.containers.workspaces.folders.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "Folder"
                      },
                      "path": "tagmanager/v2/{+parent}/folders",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                      "parameters": {
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "description": "GTM Workspace's API relative path.",
                          "type": "string",
                          "location": "path"
                        }
                      }
                    },
                    "get": {
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "description": "GTM Folder's API relative path.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "Folder"
                      },
                      "httpMethod": "GET",
                      "description": "Gets a GTM Folder.",
                      "id": "tagmanager.accounts.containers.workspaces.folders.get"
                    },
                    "entities": {
                      "httpMethod": "POST",
                      "description": "List all entities in a GTM Folder.",
                      "id": "tagmanager.accounts.containers.workspaces.folders.entities",
                      "path": "tagmanager/v2/{+path}:entities",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:entities",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        },
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "description": "GTM Folder's API relative path.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "FolderEntities"
                      }
                    },
                    "move_entities_to_folder": {
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "triggerId": {
                          "description": "The triggers to be moved to the folder.",
                          "type": "string",
                          "location": "query",
                          "repeated": true
                        },
                        "path": {
                          "type": "string",
                          "description": "GTM Folder's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "tagId": {
                          "description": "The tags to be moved to the folder.",
                          "type": "string",
                          "location": "query",
                          "repeated": true
                        },
                        "variableId": {
                          "repeated": true,
                          "location": "query",
                          "type": "string",
                          "description": "The variables to be moved to the folder."
                        }
                      },
                      "path": "tagmanager/v2/{+path}:move_entities_to_folder",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:move_entities_to_folder",
                      "request": {
                        "$ref": "Folder"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.folders.move_entities_to_folder",
                      "httpMethod": "POST",
                      "description": "Moves entities to a GTM Folder. If {folder_id} in the request path equals 0, this will instead move entities out of the folder they currently belong to."
                    },
                    "update": {
                      "request": {
                        "$ref": "Folder"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.folders.update",
                      "httpMethod": "PUT",
                      "description": "Updates a GTM Folder.",
                      "response": {
                        "$ref": "Folder"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "fingerprint": {
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                          "type": "string"
                        },
                        "path": {
                          "description": "GTM Folder's API relative path.",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}"
                    },
                    "delete": {
                      "id": "tagmanager.accounts.containers.workspaces.folders.delete",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Folder's API relative path.",
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a GTM Folder.",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists all GTM Folders of a Container.",
                      "id": "tagmanager.accounts.containers.workspaces.folders.list",
                      "path": "tagmanager/v2/{+parent}/folders",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results."
                        }
                      },
                      "response": {
                        "$ref": "ListFoldersResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "revert": {
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "RevertFolderResponse"
                      },
                      "parameters": {
                        "fingerprint": {
                          "location": "query",
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the tag in storage."
                        },
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/folders/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Folder's API relative path.",
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/folders/{foldersId}:revert",
                      "id": "tagmanager.accounts.containers.workspaces.folders.revert",
                      "httpMethod": "POST",
                      "description": "Reverts changes to a GTM Folder in a GTM Workspace."
                    }
                  }
                },
                "zones": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Zone"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "path": "tagmanager/v2/{+parent}/zones",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Workspace's API relative path."
                        }
                      },
                      "request": {
                        "$ref": "Zone"
                      },
                      "httpMethod": "POST",
                      "description": "Creates a GTM Zone.",
                      "id": "tagmanager.accounts.containers.workspaces.zones.create"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "description": "Gets a GTM Zone.",
                      "id": "tagmanager.accounts.containers.workspaces.zones.get",
                      "response": {
                        "$ref": "Zone"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}",
                      "parameters": {
                        "path": {
                          "description": "GTM Zone's API relative path.",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "ListZonesResponse"
                      },
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "tagmanager/v2/{+parent}/zones",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones",
                      "id": "tagmanager.accounts.containers.workspaces.zones.list",
                      "httpMethod": "GET",
                      "description": "Lists all GTM Zones of a GTM container workspace."
                    },
                    "revert": {
                      "id": "tagmanager.accounts.containers.workspaces.zones.revert",
                      "httpMethod": "POST",
                      "description": "Reverts changes to a GTM Zone in a GTM Workspace.",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "RevertZoneResponse"
                      },
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Zone's API relative path."
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the zone in storage.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}:revert"
                    },
                    "update": {
                      "httpMethod": "PUT",
                      "description": "Updates a GTM Zone.",
                      "id": "tagmanager.accounts.containers.workspaces.zones.update",
                      "request": {
                        "$ref": "Zone"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}",
                      "parameters": {
                        "fingerprint": {
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the zone in storage.",
                          "location": "query"
                        },
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "required": true,
                          "description": "GTM Zone's API relative path.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Zone"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "id": "tagmanager.accounts.containers.workspaces.zones.delete",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Zone's API relative path."
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a GTM Zone.",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    }
                  }
                },
                "transformations": {
                  "methods": {
                    "get": {
                      "id": "tagmanager.accounts.containers.workspaces.transformations.get",
                      "httpMethod": "GET",
                      "description": "Gets a GTM Transformation.",
                      "response": {
                        "$ref": "Transformation"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameters": {
                        "path": {
                          "type": "string",
                          "description": "GTM Transformation's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}"
                    },
                    "create": {
                      "httpMethod": "POST",
                      "description": "Creates a GTM Transformation.",
                      "id": "tagmanager.accounts.containers.workspaces.transformations.create",
                      "request": {
                        "$ref": "Transformation"
                      },
                      "path": "tagmanager/v2/{+parent}/transformations",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "Transformation"
                      }
                    },
                    "list": {
                      "id": "tagmanager.accounts.containers.workspaces.transformations.list",
                      "httpMethod": "GET",
                      "description": "Lists all GTM Transformations of a GTM container workspace.",
                      "response": {
                        "$ref": "ListTransformationsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Workspace's API relative path."
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        }
                      },
                      "path": "tagmanager/v2/{+parent}/transformations",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations"
                    },
                    "revert": {
                      "id": "tagmanager.accounts.containers.workspaces.transformations.revert",
                      "httpMethod": "POST",
                      "description": "Reverts changes to a GTM Transformation in a GTM Workspace.",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "RevertTransformationResponse"
                      },
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Transformation's API relative path."
                        },
                        "fingerprint": {
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the transformation in storage.",
                          "type": "string"
                        }
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}:revert"
                    },
                    "update": {
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "Transformation"
                      },
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Transformation's API relative path."
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the transformation in storage.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}",
                      "request": {
                        "$ref": "Transformation"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.transformations.update",
                      "httpMethod": "PUT",
                      "description": "Updates a GTM Transformation."
                    },
                    "delete": {
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.transformations.delete",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Transformation's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "required": true
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}",
                      "httpMethod": "DELETE",
                      "description": "Deletes a GTM Transformation."
                    }
                  }
                },
                "variables": {
                  "methods": {
                    "create": {
                      "response": {
                        "$ref": "Variable"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path.",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+parent}/variables",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables",
                      "request": {
                        "$ref": "Variable"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.variables.create",
                      "httpMethod": "POST",
                      "description": "Creates a GTM Variable."
                    },
                    "get": {
                      "id": "tagmanager.accounts.containers.workspaces.variables.get",
                      "httpMethod": "GET",
                      "description": "Gets a GTM Variable.",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "Variable"
                      },
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true,
                          "description": "GTM Variable's API relative path.",
                          "type": "string"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}"
                    },
                    "update": {
                      "httpMethod": "PUT",
                      "description": "Updates a GTM Variable.",
                      "id": "tagmanager.accounts.containers.workspaces.variables.update",
                      "request": {
                        "$ref": "Variable"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "parameters": {
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                          "type": "string",
                          "location": "query"
                        },
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true,
                          "description": "GTM Variable's API relative path.",
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Variable"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "description": "Deletes a GTM Variable.",
                      "path": "tagmanager/v2/{+path}",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Variable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.variables.delete",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "description": "Lists all GTM Variables of a Container.",
                      "id": "tagmanager.accounts.containers.workspaces.variables.list",
                      "response": {
                        "$ref": "ListVariablesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "path": "tagmanager/v2/{+parent}/variables",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "description": "GTM Workspace's API relative path.",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        }
                      }
                    },
                    "revert": {
                      "parameters": {
                        "path": {
                          "location": "path",
                          "type": "string",
                          "description": "GTM Variable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                          "location": "query"
                        }
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}:revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "response": {
                        "$ref": "RevertVariableResponse"
                      },
                      "id": "tagmanager.accounts.containers.workspaces.variables.revert",
                      "httpMethod": "POST",
                      "description": "Reverts changes to a GTM Variable in a GTM Workspace."
                    }
                  }
                },
                "built_in_variables": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListEnabledBuiltInVariablesResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "path": "tagmanager/v2/{+parent}/built_in_variables",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/built_in_variables",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "description": "Lists all the enabled Built-In Variables of a GTM Container.",
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.list"
                    },
                    "revert": {
                      "id": "tagmanager.accounts.containers.workspaces.built_in_variables.revert",
                      "httpMethod": "POST",
                      "description": "Reverts changes to a GTM Built-In Variables in a GTM Workspace.",
                      "response": {
                        "$ref": "RevertBuiltInVariableResponse"
                      },
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM BuiltInVariable's API relative path.",
                          "type": "string",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "location": "path"
                        },
                        "type": {
                          "enumDescriptions": [
                            "",
                            "",
                            "",
                            "",
                            "",
                            "For web or mobile.",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "For web or mobile.",
                            "",
                            "For web or mobile.",
                            "For web or mobile.",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
                            "",
[...]
