{
  "title": "Tag Manager API",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "canonicalName": "Tag Manager",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "kind": "discovery#restDescription",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "revision": "20260311",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerDomain": "google.com",
  "basePath": "",
  "documentationLink": "https://developers.google.com/tag-manager",
  "resources": {
    "accounts": {
      "resources": {
        "permissions": {
          "methods": {
            "create": {
              "request": {
                "$ref": "UserAccess"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "description": "Creates a user's Account & Container Permissions.",
              "response": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "tagmanager.accounts.permissions.create",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "update": {
              "response": {
                "$ref": "UserAccess"
              },
              "request": {
                "$ref": "UserAccess"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "description": "Updates a user's Account & Container Permissions.",
              "id": "tagmanager.accounts.permissions.update",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "permissionId": {
                  "location": "path",
                  "description": "The GTM User ID.",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "description": "Gets a user's Account & Container Permissions.",
              "response": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "parameters": {
                "permissionId": {
                  "required": true,
                  "description": "The GTM User ID.",
                  "type": "string",
                  "location": "path"
                },
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "id": "tagmanager.accounts.permissions.get",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "list": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "response": {
                "$ref": "ListAccountUsersResponse"
              },
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.permissions.list",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ]
            },
            "delete": {
              "id": "tagmanager.accounts.permissions.delete",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "permissionId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM User ID.",
                  "type": "string"
                }
              },
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}"
            }
          }
        },
        "containers": {
          "resources": {
            "versions": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "description": "Gets a Container Version.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.versions.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a Container Version.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "description": "Lists all Container Versions of a GTM Container.",
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "headers": {
                      "location": "query",
                      "description": "Retrieve headers only when true.",
                      "type": "boolean",
                      "default": "false"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "includeDeleted": {
                      "default": "false",
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "id": "tagmanager.accounts.containers.versions.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                },
                "create": {
                  "id": "tagmanager.accounts.containers.versions.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "description": "Creates a Container Version.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions"
                },
                "undelete": {
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "description": "Undeletes a Container Version.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "httpMethod": "POST",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerVersionId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container Version ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ]
                },
                "restore": {
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "httpMethod": "POST",
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                },
                "publish": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "description": "Publishes a Container Version.",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "httpMethod": "POST"
                },
                "update": {
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "id": "tagmanager.accounts.containers.versions.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "PUT",
                  "description": "Updates a Container Version.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                }
              }
            },
            "triggers": {
              "methods": {
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "description": "Lists all GTM Triggers of a Container.",
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "triggerId": {
                      "required": true,
                      "description": "The GTM Trigger ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes a GTM Trigger.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ]
                },
                "get": {
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Trigger"
                  },
                  "description": "Gets a GTM Trigger.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}"
                },
                "update": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "description": "Updates a GTM Trigger.",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "response": {
                    "$ref": "Trigger"
                  },
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "type": "string"
                    },
                    "triggerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Trigger ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "PUT"
                },
                "create": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "request": {
                    "$ref": "Trigger"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "description": "Creates a GTM Trigger.",
                  "response": {
                    "$ref": "Trigger"
                  }
                }
              }
            },
            "environments": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Gets a GTM Environment.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.environments.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "environmentId": {
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ]
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.environments.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "GET"
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "environmentId": {
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a GTM Environment.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Creates a GTM Environment.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "request": {
                    "$ref": "Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.environments.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "POST",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "update": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "description": "Updates a GTM Environment.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "request": {
                    "$ref": "Environment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.environments.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "PUT",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ]
                }
              }
            },
            "move_folders": {
              "methods": {
                "update": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "httpMethod": "PUT",
                  "parameters": {
                    "variableId": {
                      "repeated": true,
                      "location": "query",
                      "description": "The variables to be moved to the folder.",
                      "type": "string"
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "tagId": {
                      "repeated": true,
                      "location": "query",
                      "description": "The tags to be moved to the folder.",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "triggerId": {
                      "location": "query",
                      "description": "The triggers to be moved to the folder.",
                      "type": "string",
                      "repeated": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "description": "Moves entities to a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "request": {
                    "$ref": "Folder"
                  }
                }
              }
            },
            "variables": {
              "methods": {
                "get": {
                  "id": "tagmanager.accounts.containers.variables.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "variableId": {
                      "location": "path",
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Variable"
                  },
                  "description": "Gets a GTM Variable.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}"
                },
                "list": {
                  "description": "Lists all GTM Variables of a Container.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.variables.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "httpMethod": "GET"
                },
                "delete": {
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "description": "Deletes a GTM Variable."
                },
                "create": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.variables.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "request": {
                    "$ref": "Variable"
                  },
                  "description": "Creates a GTM Variable.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "response": {
                    "$ref": "Variable"
                  }
                },
                "update": {
                  "response": {
                    "$ref": "Variable"
                  },
                  "description": "Updates a GTM Variable.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "request": {
                    "$ref": "Variable"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.variables.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "httpMethod": "PUT",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "variableId": {
                      "description": "The GTM Variable ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ]
                }
              }
            },
            "tags": {
              "methods": {
                "create": {
                  "description": "Creates a GTM Tag.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "request": {
                    "$ref": "Tag"
                  },
                  "response": {
                    "$ref": "Tag"
                  },
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.tags.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "POST"
                },
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "tagId": {
                      "required": true,
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                      "type": "string",
                      "location": "query"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "id": "tagmanager.accounts.containers.tags.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "request": {
                    "$ref": "Tag"
                  },
                  "description": "Updates a GTM Tag.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "response": {
                    "$ref": "Tag"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "description": "Gets a GTM Tag.",
                  "id": "tagmanager.accounts.containers.tags.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "tagId": {
                      "location": "path",
                      "description": "The GTM Tag ID.",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.tags.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "description": "Lists all GTM Tags of a Container."
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "tagId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Tag ID.",
                      "type": "string"
                    }
                  },
                  "description": "Deletes a GTM Tag.",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ]
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "request": {
                    "$ref": "Environment"
                  },
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    },
                    "environmentId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Environment ID.",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    }
                  }
                }
              }
            },
            "folders": {
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "parameters": {
                        "accountId": {
                          "required": true,
                          "location": "path",
                          "description": "The GTM Account ID.",
                          "type": "string"
                        },
                        "containerId": {
                          "description": "The GTM Container ID.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "folderId": {
                          "description": "The GTM Folder ID.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "description": "List all entities in a GTM Folder."
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Folder"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "description": "Gets a GTM Folder.",
                  "id": "tagmanager.accounts.containers.folders.get",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    },
                    "folderId": {
                      "required": true,
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Account ID.",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "description": "Lists all GTM Folders of a Container.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.folders.list",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "GET",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "folderId": {
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Deletes a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "create": {
                  "id": "tagmanager.accounts.containers.folders.create",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path"
                    },
                    "containerId": {
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Folder"
                  },
                  "request": {
                    "$ref": "Folder"
                  },
                  "description": "Creates a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders"
                },
                "update": {
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage.",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Container ID.",
                      "type": "string"
                    },
                    "folderId": {
                      "required": true,
                      "location": "path",
                      "description": "The GTM Folder ID.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.folders.update",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "PUT",
                  "description": "Updates a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "request": {
                    "$ref": "Folder"
                  },
                  "response": {
                    "$ref": "Folder"
                  }
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "id": "tagmanager.accounts.containers.create",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "httpMethod": "POST",
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "description": "Creates a Container.",
              "request": {
                "$ref": "Container"
              },
              "response": {
                "$ref": "Container"
              }
            },
            "update": {
              "request": {
                "$ref": "Container"
              },
              "description": "Updates a Container.",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "parameters": {
                "containerId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Container ID.",
                  "type": "string"
                },
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "fingerprint": {
                  "location": "query",
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                  "type": "string"
                }
              },
              "id": "tagmanager.accounts.containers.update",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ]
            },
            "get": {
              "description": "Gets a Container.",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "response": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string"
                },
                "containerId": {
                  "description": "The GTM Container ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "tagmanager.accounts.containers.get",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            },
            "list": {
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "id": "tagmanager.accounts.containers.list",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "description": "Lists all Containers that belongs to a GTM Account.",
              "response": {
                "$ref": "ListContainersResponse"
              }
            },
            "delete": {
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "description": "The GTM Account ID.",
                  "type": "string",
                  "required": true
                },
                "containerId": {
                  "required": true,
                  "description": "The GTM Container ID.",
                  "type": "string",
                  "location": "path"
                }
              },
              "description": "Deletes a Container.",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "id": "tagmanager.accounts.containers.delete",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "DELETE"
            }
          }
        }
      },
      "methods": {
        "update": {
          "parameterOrder": [
            "accountId"
          ],
          "parameters": {
            "accountId": {
              "location": "path",
              "description": "The GTM Account ID.",
              "type": "string",
              "required": true
            },
            "fingerprint": {
              "location": "query",
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "type": "string"
            }
          },
          "id": "tagmanager.accounts.update",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "request": {
            "$ref": "Account"
          },
          "path": "tagmanager/v1/accounts/{accountId}",
          "description": "Updates a GTM Account.",
          "response": {
            "$ref": "Account"
          }
        },
        "list": {
          "parameters": {},
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "id": "tagmanager.accounts.list",
          "flatPath": "tagmanager/v1/accounts",
          "httpMethod": "GET",
          "path": "tagmanager/v1/accounts",
          "description": "Lists all GTM Accounts that a user has access to.",
          "response": {
            "$ref": "ListAccountsResponse"
          }
        },
        "get": {
          "response": {
            "$ref": "Account"
          },
          "path": "tagmanager/v1/accounts/{accountId}",
          "description": "Gets a GTM Account.",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "id": "tagmanager.accounts.get",
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "GET",
          "parameters": {
            "accountId": {
              "description": "The GTM Account ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "accountId"
          ]
        }
      }
    }
  },
  "name": "tagmanager",
  "id": "tagmanager:v1",
  "version": "v1",
  "protocol": "rest",
  "ownerName": "Google",
  "schemas": {
    "PublishContainerVersionResponse": {
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "id": "PublishContainerVersionResponse",
      "description": "Publish container version response.",
      "type": "object"
    },
    "Folder": {
      "description": "Represents a Google Tag Manager Folder.",
      "type": "object",
      "id": "Folder",
      "properties": {
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        }
      }
    },
    "ListFoldersResponse": {
      "description": "List Folders Response.",
      "type": "object",
      "id": "ListFoldersResponse",
      "properties": {
        "folders": {
          "description": "All GTM Folders of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        }
      }
    },
    "CreateContainerVersionResponse": {
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      },
      "id": "CreateContainerVersionResponse",
      "description": "Create container versions response.",
      "type": "object"
    },
    "AccountAccess": {
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object",
      "properties": {
        "permission": {
          "description": "List of Account permissions. Valid account permissions are read and manage.",
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ]
          }
        }
      },
      "id": "AccountAccess"
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "type": "object",
      "properties": {
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "folder": {
          "description": "The folders in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this container version in the container.",
          "type": "string"
        },
        "variable": {
          "description": "The variables in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        },
        "trigger": {
          "description": "The triggers in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        },
        "tag": {
          "description": "The tags in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "id": "ContainerVersion"
    },
    "SetupTag": {
      "id": "SetupTag",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ListContainersResponse": {
      "description": "List Containers Response.",
      "type": "object",
      "id": "ListContainersResponse",
      "properties": {
        "containers": {
          "description": "All Containers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      }
    },
    "Tag": {
      "description": "Represents a Google Tag Manager Tag.",
      "type": "object",
      "id": "Tag",
      "properties": {
        "parameter": {
          "description": "The tag's parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "teardownTag": {
          "description": "The list of teardown tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "TeardownTag"
          }
        },
        "blockingTriggerId": {
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a tag.",
          "type": "string",
          "format": "int64"
        },
        "tagFiringOption": {
          "enum": [
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ],
          "description": "Option to fire this tag.",
          "type": "string",
          "enumDescriptions": [
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ]
        },
        "type": {
          "description": "GTM Tag Type.",
          "type": "string"
        },
        "scheduleEndMs": {
          "format": "int64",
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "type": "string"
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
          "type": "boolean"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "tagId": {
          "description": "The Tag ID uniquely identifies the GTM Tag.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified.",
          "type": "string"
        },
        "paused": {
          "description": "True if the tag is paused.",
          "type": "boolean"
        },
        "priority": {
          "$ref": "Parameter",
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0."
        },
        "firingTriggerId": {
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "setupTag": {
          "description": "The list of setup tags. Currently we only allow one.",
          "type": "array",
          "items": {
            "$ref": "SetupTag"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        }
      }
    },
    "ListVariablesResponse": {
      "description": "List Variables Response.",
      "type": "object",
      "id": "ListVariablesResponse",
      "properties": {
        "variables": {
          "description": "All GTM Variables of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      }
    },
    "CreateContainerVersionRequestVersionOptions": {
      "description": "Options for new container versions.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the container version to be created.",
          "type": "string"
        },
        "quickPreview": {
          "description": "The creation of this version may be for quick preview and shouldn't be saved.",
          "type": "boolean"
        },
        "notes": {
          "description": "The notes of the container version to be created.",
          "type": "string"
        }
      },
      "id": "CreateContainerVersionRequestVersionOptions"
    },
    "Trigger": {
      "properties": {
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "visiblePercentageMax": {
          "$ref": "Parameter",
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger."
        },
        "eventName": {
          "$ref": "Parameter",
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers."
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "continuousTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger."
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "intervalSeconds": {
          "$ref": "Parameter",
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger."
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "customEventFilter": {
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "interval": {
          "$ref": "Parameter",
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers."
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "horizontalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "filter": {
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "checkValidation": {
          "$ref": "Parameter",
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers."
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "autoEventFilter": {
          "description": "Used in the case of auto event tracking.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        },
        "type": {
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "description": "Defines the data layer event that causes this trigger.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "totalTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger."
        },
        "parameter": {
          "description": "Additional parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      },
      "id": "Trigger",
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object"
    },
    "Condition": {
      "description": "Represents a predicate.",
      "type": "object",
      "id": "Condition",
      "properties": {
        "type": {
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "description": "The type of operator for this condition.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      }
    },
    "FolderEntities": {
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object",
      "id": "FolderEntities",
      "properties": {
        "trigger": {
          "description": "The list of triggers inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "tag": {
          "description": "The list of tags inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "variable": {
          "description": "The list of variables inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Variable"
          }
        }
      }
    },
    "Container": {
      "properties": {
        "publicId": {
          "description": "Container Public ID.",
          "type": "string"
        },
        "containerId": {
          "description": "The Container ID uniquely identifies the GTM Container.",
          "type": "string"
        },
        "notes": {
          "description": "Container Notes.",
          "type": "string"
        },
        "fingerprint": {
[...]
