{
  "revision": "20260408",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "discoveryVersion": "v1",
  "canonicalName": "Tag Manager",
  "ownerName": "Google",
  "version": "v2",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "batchPath": "batch",
  "name": "tagmanager",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "accounts": {
      "resources": {
        "user_permissions": {
          "methods": {
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "id": "tagmanager.accounts.user_permissions.get",
              "description": "Gets a user's Account & Container access.",
              "httpMethod": "GET",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "parameters": {
                "path": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM UserPermission's API relative path."
                }
              },
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "UserPermission"
              }
            },
            "update": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "id": "tagmanager.accounts.user_permissions.update",
              "description": "Updates a user's Account & Container access.",
              "httpMethod": "PUT",
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "parameters": {
                "path": {
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM UserPermission's API relative path.",
                  "location": "path"
                }
              },
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ],
              "request": {
                "$ref": "UserPermission"
              },
              "response": {
                "$ref": "UserPermission"
              }
            },
            "list": {
              "id": "tagmanager.accounts.user_permissions.list",
              "description": "List all users that have access to the account along with Account and Container user access granted to each of them.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListUserPermissionsResponse"
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM Account's API relative path."
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "create": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "httpMethod": "POST",
              "id": "tagmanager.accounts.user_permissions.create",
              "description": "Creates a user's Account & Container access.",
              "parameters": {
                "parent": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM Account's API relative path."
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "request": {
                "$ref": "UserPermission"
              },
              "response": {
                "$ref": "UserPermission"
              },
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "parameterOrder": [
                "parent"
              ]
            },
            "delete": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "parameters": {
                "path": {
                  "location": "path",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM UserPermission's API relative path."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ],
              "id": "tagmanager.accounts.user_permissions.delete",
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "httpMethod": "DELETE"
            }
          }
        },
        "containers": {
          "methods": {
            "move_tag_id": {
              "parameters": {
                "copyTermsOfService": {
                  "description": "Must be set to true to accept all terms of service agreements copied from the current tag to the newly created tag. If this bit is false, the operation will fail.",
                  "location": "query",
                  "type": "boolean"
                },
                "path": {
                  "location": "path",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "copySettings": {
                  "location": "query",
                  "description": "Whether or not to copy tag settings from this tag to the new tag.",
                  "type": "boolean"
                },
                "copyUsers": {
                  "description": "Whether or not to copy users from this tag to the new tag.",
                  "location": "query",
                  "type": "boolean"
                },
                "allowUserPermissionFeatureUpdate": {
                  "location": "query",
                  "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.",
                  "type": "boolean"
                },
                "tagName": {
                  "type": "string",
                  "location": "query",
                  "description": "The name for the newly created tag."
                },
                "tagId": {
                  "location": "query",
                  "description": "Tag ID to be removed from the current Container.",
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:move_tag_id",
              "response": {
                "$ref": "Container"
              },
              "path": "tagmanager/v2/{+path}:move_tag_id",
              "parameterOrder": [
                "path"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "httpMethod": "POST",
              "id": "tagmanager.accounts.containers.move_tag_id",
              "description": "Move Tag ID out of a Container."
            },
            "combine": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:combine",
              "parameters": {
                "path": {
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM Container's API relative path.",
                  "location": "path"
                },
                "settingSource": {
                  "type": "string",
                  "enum": [
                    "settingSourceUnspecified",
                    "current",
                    "other"
                  ],
                  "description": "Specify the source of config setting after combine",
                  "enumDescriptions": [
                    "",
                    "Keep the current container config setting after combine",
                    "Use config setting from the other tag after combine"
                  ],
                  "location": "query"
                },
                "containerId": {
                  "description": "ID of container that will be merged into the current container.",
                  "location": "query",
                  "type": "string"
                },
                "allowUserPermissionFeatureUpdate": {
                  "type": "boolean",
                  "description": "Must be set to true to allow features.user_permissions to change from false to true. If this operation causes an update but this bit is false, the operation will fail.",
                  "location": "query"
                }
              },
              "path": "tagmanager/v2/{+path}:combine",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "Container"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "id": "tagmanager.accounts.containers.combine",
              "description": "Combines Containers.",
              "httpMethod": "POST"
            },
            "delete": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "parameters": {
                "path": {
                  "location": "path",
                  "description": "GTM Container's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "id": "tagmanager.accounts.containers.delete",
              "description": "Deletes a Container.",
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ],
              "httpMethod": "DELETE"
            },
            "update": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "parameters": {
                "path": {
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM Container's API relative path.",
                  "location": "path"
                },
                "fingerprint": {
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ],
              "request": {
                "$ref": "Container"
              },
              "response": {
                "$ref": "Container"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "id": "tagmanager.accounts.containers.update",
              "description": "Updates a Container.",
              "httpMethod": "PUT"
            },
            "get": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}",
              "parameters": {
                "path": {
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "type": "string",
                  "description": "GTM Container's API relative path.",
                  "location": "path"
                }
              },
              "path": "tagmanager/v2/{+path}",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "Container"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "id": "tagmanager.accounts.containers.get",
              "description": "Gets a Container.",
              "httpMethod": "GET"
            },
            "create": {
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
              "parameters": {
                "parent": {
                  "description": "GTM Account's API relative path.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "tagmanager/v2/{+parent}/containers",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "Container"
              },
              "response": {
                "$ref": "Container"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "id": "tagmanager.accounts.containers.create",
              "description": "Creates a Container.",
              "httpMethod": "POST"
            },
            "snippet": {
              "id": "tagmanager.accounts.containers.snippet",
              "description": "Gets the tagging snippet for a Container.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "path": "tagmanager/v2/{+path}:snippet",
              "parameterOrder": [
                "path"
              ],
              "response": {
                "$ref": "GetContainerSnippetResponse"
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}:snippet",
              "parameters": {
                "path": {
                  "location": "path",
                  "description": "Container snippet's API relative path.",
                  "pattern": "^accounts/[^/]+/containers/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "lookup": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "id": "tagmanager.accounts.containers.lookup",
              "description": "Looks up a Container by destination ID or tag ID.",
              "httpMethod": "GET",
              "flatPath": "tagmanager/v2/accounts/containers:lookup",
              "parameters": {
                "destinationId": {
                  "type": "string",
                  "location": "query",
                  "description": "Destination ID linked to a GTM Container, e.g. AW-123456789. Only one of destination_id or tag_id should be set."
                },
                "tagId": {
                  "description": "Tag ID for a GTM Container, e.g. GTM-123456789. Only one of destination_id or tag_id should be set.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "tagmanager/v2/accounts/containers:lookup",
              "parameterOrder": [],
              "response": {
                "$ref": "Container"
              }
            },
            "list": {
              "response": {
                "$ref": "ListContainersResponse"
              },
              "path": "tagmanager/v2/{+parent}/containers",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "GTM Account's API relative path.",
                  "pattern": "^accounts/[^/]+$",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageToken": {
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query",
                  "type": "string"
                }
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/containers",
              "httpMethod": "GET",
              "id": "tagmanager.accounts.containers.list",
              "description": "Lists all Containers that belongs to a GTM Account.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            }
          },
          "resources": {
            "workspaces": {
              "methods": {
                "update": {
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the workspace in storage.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "request": {
                    "$ref": "Workspace"
                  },
                  "response": {
                    "$ref": "Workspace"
                  },
                  "path": "tagmanager/v2/{+path}",
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "PUT",
                  "id": "tagmanager.accounts.containers.workspaces.update",
                  "description": "Updates a Workspace."
                },
                "get": {
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}",
                  "response": {
                    "$ref": "Workspace"
                  },
                  "path": "tagmanager/v2/{+path}",
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.workspaces.get",
                  "description": "Gets a Workspace."
                },
                "sync": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.sync",
                  "description": "Syncs a workspace to the latest container version by updating all unmodified workspace entities and displaying conflicts for modified entities.",
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:sync",
                  "response": {
                    "$ref": "SyncWorkspaceResponse"
                  },
                  "path": "tagmanager/v2/{+path}:sync",
                  "parameterOrder": [
                    "path"
                  ]
                },
                "quick_preview": {
                  "response": {
                    "$ref": "QuickPreviewResponse"
                  },
                  "path": "tagmanager/v2/{+path}:quick_preview",
                  "parameterOrder": [
                    "path"
                  ],
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:quick_preview",
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.quick_preview",
                  "description": "Quick previews a workspace by creating a fake container version from all entities in the provided workspace.",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ]
                },
                "list": {
                  "parameters": {
                    "parent": {
                      "description": "GTM parent Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "Continuation token for fetching the next page of results.",
                      "location": "query"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "response": {
                    "$ref": "ListWorkspacesResponse"
                  },
                  "path": "tagmanager/v2/{+parent}/workspaces",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "httpMethod": "GET",
                  "id": "tagmanager.accounts.containers.workspaces.list",
                  "description": "Lists all Workspaces that belong to a GTM Container."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.workspaces.create",
                  "description": "Creates a Workspace.",
                  "httpMethod": "POST",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "GTM parent Container's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "tagmanager/v2/{+parent}/workspaces",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Workspace"
                  },
                  "response": {
                    "$ref": "Workspace"
                  }
                },
                "resolve_conflict": {
                  "id": "tagmanager.accounts.containers.workspaces.resolve_conflict",
                  "description": "Resolves a merge conflict for a workspace entity by updating it to the resolved entity passed in the request.",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v2/{+path}:resolve_conflict",
                  "parameterOrder": [
                    "path"
                  ],
                  "request": {
                    "$ref": "Entity"
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:resolve_conflict",
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "fingerprint": {
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the entity_in_workspace in the merge conflict.",
                      "location": "query"
                    }
                  }
                },
                "create_version": {
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "location": "path"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}:create_version",
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "path": "tagmanager/v2/{+path}:create_version",
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.create_version",
                  "description": "Creates a Container Version from the entities present in the workspace, deletes the workspace, and sets the base container version to the newly created version."
                },
                "bulk_update": {
                  "parameters": {
                    "path": {
                      "location": "path",
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/bulk_update",
                  "request": {
                    "$ref": "ProposedChange"
                  },
                  "response": {
                    "$ref": "BulkUpdateWorkspaceResponse"
                  },
                  "path": "tagmanager/v2/{+path}/bulk_update",
                  "parameterOrder": [
                    "path"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "httpMethod": "POST",
                  "id": "tagmanager.accounts.containers.workspaces.bulk_update",
                  "description": "Applies multiple entity changes to a workspace in one call. When creating new entities, their entity IDs must be unique and in correct format. That is, they must start with \"new_\" and followed by number, e.g. \"new_1\", \"new_2\". Example body snippet to create myNewTag under myNewFolder is: ``` \"changes\": [ { \"folder\": { \"folderId\": \"new_1\", \"name\": \"myNewFolder\", ... }, \"changeStatus\": \"added\" }, { \"tag\": { \"tagId\": \"new_2\", \"name\": \"myNewTag\", \"parentFolderId\": \"new_1\", ... }, \"changeStatus\": \"added\" } ] ```"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "path": "tagmanager/v2/{+path}",
                  "parameterOrder": [
                    "path"
                  ],
                  "id": "tagmanager.accounts.containers.workspaces.delete",
                  "description": "Deletes a Workspace.",
                  "parameters": {
                    "path": {
                      "description": "GTM Workspace's API relative path.",
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.delete.containers"
                  ],
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}"
                },
                "getStatus": {
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "id": "tagmanager.accounts.containers.workspaces.getStatus",
                  "description": "Finds conflicting and modified entities in the workspace.",
                  "httpMethod": "GET",
                  "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/status",
                  "parameters": {
                    "path": {
                      "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "GTM Workspace's API relative path.",
                      "location": "path"
                    }
                  },
                  "path": "tagmanager/v2/{+path}/status",
                  "parameterOrder": [
                    "path"
                  ],
                  "response": {
                    "$ref": "GetWorkspaceStatusResponse"
                  }
                }
              },
              "resources": {
                "zones": {
                  "methods": {
                    "revert": {
                      "id": "tagmanager.accounts.containers.workspaces.zones.revert",
                      "description": "Reverts changes to a GTM Zone in a GTM Workspace.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "path": "tagmanager/v2/{+path}:revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "RevertZoneResponse"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}:revert",
                      "parameters": {
                        "path": {
                          "description": "GTM Zone's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the zone in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "create": {
                      "path": "tagmanager/v2/{+parent}/zones",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Zone"
                      },
                      "response": {
                        "$ref": "Zone"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.zones.create",
                      "description": "Creates a GTM Zone.",
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.zones.delete",
                      "description": "Deletes a GTM Zone.",
                      "httpMethod": "DELETE",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}",
                      "parameters": {
                        "path": {
                          "description": "GTM Zone's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.zones.list",
                      "description": "Lists all GTM Zones of a GTM container workspace.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "ListZonesResponse"
                      },
                      "path": "tagmanager/v2/{+parent}/zones",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones"
                    },
                    "get": {
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.zones.get",
                      "description": "Gets a GTM Zone.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "response": {
                        "$ref": "Zone"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Zone's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}"
                    },
                    "update": {
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "request": {
                        "$ref": "Zone"
                      },
                      "response": {
                        "$ref": "Zone"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/zones/{zonesId}",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/zones/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Zone's API relative path."
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the zone in storage.",
                          "location": "query"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.zones.update",
                      "description": "Updates a GTM Zone.",
                      "httpMethod": "PUT",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    }
                  }
                },
                "tags": {
                  "methods": {
                    "revert": {
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/tags/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Tag's API relative path.",
                          "location": "path"
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of thetag in storage.",
                          "location": "query"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}:revert",
                      "response": {
                        "$ref": "RevertTagResponse"
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.tags.revert",
                      "description": "Reverts changes to a GTM Tag in a GTM Workspace."
                    },
                    "list": {
                      "path": "tagmanager/v2/{+parent}/tags",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTagsResponse"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Workspace's API relative path."
                        },
                        "pageToken": {
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.tags.list",
                      "description": "Lists all GTM Tags of a Container.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags",
                      "request": {
                        "$ref": "Tag"
                      },
                      "response": {
                        "$ref": "Tag"
                      },
                      "path": "tagmanager/v2/{+parent}/tags",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.tags.create",
                      "description": "Creates a GTM Tag."
                    },
                    "delete": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/tags/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Tag's API relative path."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.tags.delete",
                      "description": "Deletes a GTM Tag.",
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "httpMethod": "DELETE"
                    },
                    "get": {
                      "response": {
                        "$ref": "Tag"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "description": "GTM Tag's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/tags/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.tags.get",
                      "description": "Gets a GTM Tag.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "update": {
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.tags.update",
                      "description": "Updates a GTM Tag.",
                      "httpMethod": "PUT",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/tags/{tagsId}",
                      "parameters": {
                        "path": {
                          "description": "GTM Tag's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/tags/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the tag in storage.",
                          "location": "query"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "request": {
                        "$ref": "Tag"
                      },
                      "response": {
                        "$ref": "Tag"
                      }
                    }
                  }
                },
                "templates": {
                  "methods": {
                    "import_from_gallery": {
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.templates.import_from_gallery",
                      "description": "Imports a GTM Custom Template from Gallery.",
                      "httpMethod": "POST",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates:import_from_gallery",
                      "parameters": {
                        "gallerySha": {
                          "location": "query",
                          "description": "SHA version of the Gallery template to import. Defaulted to the latest SHA version if not provided.",
                          "type": "string"
                        },
                        "galleryOwner": {
                          "description": "Owner of the Gallery template to import",
                          "location": "query",
                          "type": "string"
                        },
                        "acknowledgePermissions": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Must be set to true to allow Gallery template to be imported into the workspace. If this bit is false, the import operation will fail."
                        },
                        "galleryRepository": {
                          "description": "Repository of the Gallery template to import",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+parent}/templates:import_from_gallery",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "CustomTemplate"
                      }
                    },
                    "revert": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}:revert",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Custom Template's API relative path."
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the template in storage.",
                          "location": "query"
                        }
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "RevertTemplateResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.templates.revert",
                      "description": "Reverts changes to a GTM Template in a GTM Workspace.",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListTemplatesResponse"
                      },
                      "path": "tagmanager/v2/{+parent}/templates",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results."
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Workspace's API relative path."
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.templates.list",
                      "description": "Lists all GTM Templates of a GTM container workspace.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.templates.create",
                      "description": "Creates a GTM Custom Template.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "request": {
                        "$ref": "CustomTemplate"
                      },
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "path": "tagmanager/v2/{+parent}/templates",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates"
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.templates.delete",
                      "description": "Deletes a GTM Template.",
                      "parameters": {
                        "path": {
                          "description": "GTM Custom Template's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}"
                    },
                    "get": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Custom Template's API relative path.",
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.templates.get",
                      "description": "Gets a GTM Template.",
                      "httpMethod": "GET"
                    },
                    "update": {
                      "httpMethod": "PUT",
                      "id": "tagmanager.accounts.containers.workspaces.templates.update",
                      "description": "Updates a GTM Template.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "request": {
                        "$ref": "CustomTemplate"
                      },
                      "response": {
                        "$ref": "CustomTemplate"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/templates/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Custom Template's API relative path.",
                          "location": "path"
                        },
                        "fingerprint": {
                          "type": "string",
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the templates in storage."
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/templates/{templatesId}"
                    }
                  }
                },
                "gtag_config": {
                  "methods": {
                    "update": {
                      "httpMethod": "PUT",
                      "id": "tagmanager.accounts.containers.workspaces.gtag_config.update",
                      "description": "Updates a Google tag config.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "request": {
                        "$ref": "GtagConfig"
                      },
                      "response": {
                        "$ref": "GtagConfig"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/gtag_config/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Google tag config's API relative path."
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the config in storage.",
                          "location": "query"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/gtag_config/{gtag_configId}"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.gtag_config.get",
                      "description": "Gets a Google tag config.",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "Google tag config's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/gtag_config/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/gtag_config/{gtag_configId}",
                      "response": {
                        "$ref": "GtagConfig"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "parent": {
                          "description": "Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Continuation token for fetching the next page of results.",
                          "location": "query"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/gtag_config",
                      "response": {
                        "$ref": "ListGtagConfigResponse"
                      },
                      "path": "tagmanager/v2/{+parent}/gtag_config",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.gtag_config.list",
                      "description": "Lists all Google tag configs in a Container."
                    },
                    "create": {
                      "request": {
                        "$ref": "GtagConfig"
                      },
                      "response": {
                        "$ref": "GtagConfig"
                      },
                      "path": "tagmanager/v2/{+parent}/gtag_config",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/gtag_config",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.gtag_config.create",
                      "description": "Creates a Google tag config.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.gtag_config.delete",
                      "description": "Deletes a Google tag config.",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/gtag_config/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Google tag config's API relative path."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/gtag_config/{gtag_configId}"
                    }
                  }
                },
                "clients": {
                  "methods": {
                    "get": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/clients/{clientsId}",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Client's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/clients/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Client"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.clients.get",
                      "description": "Gets a GTM Client.",
                      "httpMethod": "GET"
                    },
                    "update": {
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "request": {
                        "$ref": "Client"
                      },
                      "response": {
                        "$ref": "Client"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/clients/{clientsId}",
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/clients/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Client's API relative path.",
                          "location": "path"
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the client in storage.",
                          "location": "query"
                        }
                      },
                      "id": "tagmanager.accounts.containers.workspaces.clients.update",
                      "description": "Updates a GTM Client.",
                      "httpMethod": "PUT",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "revert": {
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Client's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/clients/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "fingerprint": {
                          "type": "string",
                          "description": "When provided, this fingerprint must match the fingerprint of the client in storage.",
                          "location": "query"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/clients/{clientsId}:revert",
                      "response": {
                        "$ref": "RevertClientResponse"
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.clients.revert",
                      "description": "Reverts changes to a GTM Client in a GTM Workspace."
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.clients.create",
                      "description": "Creates a GTM Client.",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/clients",
                      "request": {
                        "$ref": "Client"
                      },
                      "response": {
                        "$ref": "Client"
                      },
                      "path": "tagmanager/v2/{+parent}/clients",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "path": {
                          "description": "GTM Client's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/clients/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/clients/{clientsId}",
                      "httpMethod": "DELETE",
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.clients.delete",
                      "description": "Deletes a GTM Client."
                    },
                    "list": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/clients",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results."
                        },
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+parent}/clients",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListClientsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.clients.list",
                      "description": "Lists all GTM Clients of a GTM container workspace.",
                      "httpMethod": "GET"
                    }
                  }
                },
                "transformations": {
                  "methods": {
                    "revert": {
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.transformations.revert",
                      "description": "Reverts changes to a GTM Transformation in a GTM Workspace.",
                      "parameters": {
                        "path": {
                          "description": "GTM Transformation's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "fingerprint": {
                          "type": "string",
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the transformation in storage."
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}:revert",
                      "response": {
                        "$ref": "RevertTransformationResponse"
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "create": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Workspace's API relative path."
                        }
                      },
                      "path": "tagmanager/v2/{+parent}/transformations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "Transformation"
                      },
                      "response": {
                        "$ref": "Transformation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.transformations.create",
                      "description": "Creates a GTM Transformation.",
                      "httpMethod": "POST"
                    },
                    "delete": {
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Transformation's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}",
                      "httpMethod": "DELETE",
                      "id": "tagmanager.accounts.containers.workspaces.transformations.delete",
                      "description": "Deletes a GTM Transformation.",
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.transformations.list",
                      "description": "Lists all GTM Transformations of a GTM container workspace.",
                      "httpMethod": "GET",
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "location": "path"
                        }
                      },
                      "path": "tagmanager/v2/{+parent}/transformations",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListTransformationsResponse"
                      }
                    },
                    "get": {
                      "id": "tagmanager.accounts.containers.workspaces.transformations.get",
                      "description": "Gets a GTM Transformation.",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "Transformation"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Transformation's API relative path."
                        }
                      }
                    },
                    "update": {
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "httpMethod": "PUT",
                      "id": "tagmanager.accounts.containers.workspaces.transformations.update",
                      "description": "Updates a GTM Transformation.",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/transformations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Transformation's API relative path."
                        },
                        "fingerprint": {
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the transformation in storage.",
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/transformations/{transformationsId}",
                      "request": {
                        "$ref": "Transformation"
                      },
                      "response": {
                        "$ref": "Transformation"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ]
                    }
                  }
                },
                "triggers": {
                  "methods": {
                    "create": {
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.triggers.create",
                      "description": "Creates a GTM Trigger.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "request": {
                        "$ref": "Trigger"
                      },
                      "response": {
                        "$ref": "Trigger"
                      },
                      "path": "tagmanager/v2/{+parent}/triggers",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "GTM Workspace's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/triggers"
                    },
                    "delete": {
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/triggers/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Trigger's API relative path."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/triggers/{triggersId}",
                      "httpMethod": "DELETE",
                      "id": "tagmanager.accounts.containers.workspaces.triggers.delete",
                      "description": "Deletes a GTM Trigger.",
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "description": "Continuation token for fetching the next page of results.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Workspace's API relative path.",
                          "location": "path"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/triggers",
                      "response": {
                        "$ref": "ListTriggersResponse"
                      },
                      "path": "tagmanager/v2/{+parent}/triggers",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.triggers.list",
                      "description": "Lists all GTM Triggers of a Container."
                    },
                    "revert": {
                      "response": {
                        "$ref": "RevertTriggerResponse"
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/triggers/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Trigger's API relative path.",
                          "location": "path"
                        },
                        "fingerprint": {
                          "type": "string",
                          "location": "query",
                          "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage."
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/triggers/{triggersId}:revert",
                      "httpMethod": "POST",
                      "id": "tagmanager.accounts.containers.workspaces.triggers.revert",
                      "description": "Reverts changes to a GTM Trigger in a GTM Workspace.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ]
                    },
                    "update": {
                      "id": "tagmanager.accounts.containers.workspaces.triggers.update",
                      "description": "Updates a GTM Trigger.",
                      "httpMethod": "PUT",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "request": {
                        "$ref": "Trigger"
                      },
                      "response": {
                        "$ref": "Trigger"
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/triggers/{triggersId}",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/triggers/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Trigger's API relative path."
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "response": {
                        "$ref": "Trigger"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "location": "path",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/triggers/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "GTM Trigger's API relative path."
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/triggers/{triggersId}",
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.triggers.get",
                      "description": "Gets a GTM Trigger.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ]
                    }
                  }
                },
                "variables": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "httpMethod": "GET",
                      "id": "tagmanager.accounts.containers.workspaces.variables.get",
                      "description": "Gets a GTM Variable.",
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Variable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}",
                      "response": {
                        "$ref": "Variable"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ]
                    },
                    "update": {
                      "httpMethod": "PUT",
                      "id": "tagmanager.accounts.containers.workspaces.variables.update",
                      "description": "Updates a GTM Variable.",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "request": {
                        "$ref": "Variable"
                      },
                      "response": {
                        "$ref": "Variable"
                      },
                      "path": "tagmanager/v2/{+path}",
                      "parameterOrder": [
                        "path"
                      ],
                      "parameters": {
                        "path": {
                          "location": "path",
                          "description": "GTM Variable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true,
                          "type": "string"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}"
                    },
                    "revert": {
                      "flatPath": "tagmanager/v2/accounts/{accountsId}/containers/{containersId}/workspaces/{workspacesId}/variables/{variablesId}:revert",
                      "parameters": {
                        "path": {
                          "description": "GTM Variable's API relative path.",
                          "pattern": "^accounts/[^/]+/containers/[^/]+/workspaces/[^/]+/variables/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "fingerprint": {
                          "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "tagmanager/v2/{+path}:revert",
                      "parameterOrder": [
                        "path"
                      ],
                      "response": {
                        "$ref": "RevertVariableResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.variables.revert",
                      "description": "Reverts changes to a GTM Variable in a GTM Workspace.",
                      "httpMethod": "POST"
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "id": "tagmanager.accounts.containers.workspaces.variables.list",
                      "description": "Lists all GTM Variables of a Container.",
                      "httpMethod": "GET",
[...]
