{
  "baseUrl": "https://tagmanager.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "revision": "20260304",
  "title": "Tag Manager API",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "id": "tagmanager:v2",
  "batchPath": "batch",
  "schemas": {
    "ZoneTypeRestriction": {
      "id": "ZoneTypeRestriction",
      "properties": {
        "enable": {
          "description": "True if type restrictions have been enabled for this Zone.",
          "type": "boolean"
        },
        "whitelistedTypeId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of type public ids that have been whitelisted for use in this Zone."
        }
      },
      "type": "object",
      "description": "Represents a Zone's type restrictions."
    },
    "ListFoldersResponse": {
      "description": "List Folders Response.",
      "type": "object",
      "id": "ListFoldersResponse",
      "properties": {
        "folder": {
          "description": "All GTM Folders of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "properties": {
        "tag": {
          "description": "All GTM Tags of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "List Tags Response.",
      "type": "object"
    },
    "ListEnabledBuiltInVariablesResponse": {
      "id": "ListEnabledBuiltInVariablesResponse",
      "properties": {
        "builtInVariable": {
          "description": "All GTM BuiltInVariables of a GTM container.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "A list of enabled built-in variables.",
      "type": "object"
    },
    "ContainerVersion": {
      "description": "Represents a Google Tag Manager Container Version.",
      "type": "object",
      "id": "ContainerVersion",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Container Version as computed at storage time. This value is recomputed whenever the container version is modified.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "builtInVariable": {
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          },
          "description": "The built-in variables in the container that this version was taken from."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "customTemplate": {
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          },
          "description": "The custom templates in the container that this version was taken from."
        },
        "tag": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags in the container that this version was taken from."
        },
        "folder": {
          "description": "The folders in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Folder"
          }
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "container": {
          "description": "The container that this version was taken from.",
          "$ref": "Container"
        },
        "zone": {
          "description": "The zones in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Zone"
          }
        },
        "transformation": {
          "description": "The transformations in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Transformation"
          }
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "description": {
          "description": "Container version description.",
          "type": "string"
        },
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "client": {
          "description": "The clients in the container that this version was taken from.",
          "type": "array",
          "items": {
            "$ref": "Client"
          }
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "trigger": {
          "type": "array",
          "items": {
            "$ref": "Trigger"
          },
          "description": "The triggers in the container that this version was taken from."
        },
        "gtagConfig": {
          "type": "array",
          "items": {
            "$ref": "GtagConfig"
          },
          "description": "The Google tag configs in the container that this version was taken from."
        },
        "variable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "The variables in the container that this version was taken from."
        }
      }
    },
    "Trigger": {
      "type": "object",
      "description": "Represents a Google Tag Manager Trigger",
      "id": "Trigger",
      "properties": {
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "waitForTagsTimeout": {
          "$ref": "Parameter",
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers."
        },
        "horizontalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers."
        },
        "parameter": {
          "description": "Additional parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "autoEventFilter": {
          "description": "Used in the case of auto event tracking.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "selector": {
          "$ref": "Parameter",
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger."
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "totalTimeMinMilliseconds": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger."
        },
        "verticalScrollPercentageList": {
          "$ref": "Parameter",
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers."
        },
        "waitForTags": {
          "$ref": "Parameter",
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers."
        },
        "name": {
          "description": "Trigger display name.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this trigger in the container.",
          "type": "string"
        },
        "customEventFilter": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "Used in the case of custom event, which is fired iff all Conditions are true."
        },
        "filter": {
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified.",
          "type": "string"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "type": {
          "description": "Defines the data layer event that causes this trigger.",
          "enum": [
            "eventTypeUnspecified",
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "init",
            "consentInit",
            "serverPageview",
            "always",
            "firebaseAppException",
            "firebaseAppUpdate",
            "firebaseCampaign",
            "firebaseFirstOpen",
            "firebaseInAppPurchase",
            "firebaseNotificationDismiss",
            "firebaseNotificationForeground",
            "firebaseNotificationOpen",
            "firebaseNotificationReceive",
            "firebaseOsUpdate",
            "firebaseSessionStart",
            "firebaseUserEngagement",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "checkValidation": {
          "$ref": "Parameter",
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers."
        },
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "visiblePercentageMin": {
          "$ref": "Parameter",
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger."
        },
        "limit": {
          "$ref": "Parameter",
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "intervalSeconds": {
          "$ref": "Parameter",
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger."
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "path": {
          "description": "GTM Trigger's API relative path.",
          "type": "string"
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        }
      }
    },
    "CreateBuiltInVariableResponse": {
      "type": "object",
      "id": "CreateBuiltInVariableResponse",
      "properties": {
        "builtInVariable": {
          "description": "List of created built-in variables.",
          "type": "array",
          "items": {
            "$ref": "BuiltInVariable"
          }
        }
      }
    },
    "FolderEntities": {
      "type": "object",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "id": "FolderEntities",
      "properties": {
        "tag": {
          "description": "The list of tags inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "trigger": {
          "description": "The list of triggers inside the folder.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "variable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "The list of variables inside the folder."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "Destination": {
      "type": "object",
      "description": "Represents a Google Tag Destination.",
      "id": "Destination",
      "properties": {
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "destinationLinkId": {
          "type": "string",
          "description": "The Destination link ID uniquely identifies the Destination."
        },
        "name": {
          "type": "string",
          "description": "Destination display name."
        },
        "destinationId": {
          "type": "string",
          "description": "Destination ID."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the Google Tag Destination as computed at storage time. This value is recomputed whenever the destination is modified."
        },
        "path": {
          "description": "Destination's API relative path.",
          "type": "string"
        }
      }
    },
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "properties": {
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        },
        "newWorkspacePath": {
          "description": "Auto generated workspace path created as a result of version creation. This field should only be populated if the created version was not a quick preview.",
          "type": "string"
        },
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The container version created."
        },
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Whether version creation failed when syncing the workspace to the latest container version."
        }
      },
      "description": "Create container versions response.",
      "type": "object"
    },
    "SetupTag": {
      "id": "SetupTag",
      "properties": {
        "tagName": {
          "description": "The name of the setup tag.",
          "type": "string"
        },
        "stopOnSetupFailure": {
          "type": "boolean",
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status."
        }
      },
      "type": "object",
      "description": "Represents a reference to atag that fires before another tag in order to set up dependencies."
    },
    "UserPermission": {
      "id": "UserPermission",
      "properties": {
        "emailAddress": {
          "type": "string",
          "description": "User's email address."
        },
        "path": {
          "description": "GTM UserPermission's API relative path.",
          "type": "string"
        },
        "accountAccess": {
          "$ref": "AccountAccess",
          "description": "GTM Account access permissions."
        },
        "containerAccess": {
          "description": "GTM Container access permissions.",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        },
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        }
      },
      "type": "object",
      "description": "Represents a user's permissions to an account and its container."
    },
    "ListZonesResponse": {
      "id": "ListZonesResponse",
      "properties": {
        "zone": {
          "type": "array",
          "items": {
            "$ref": "Zone"
          },
          "description": "All GTM Zones of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object"
    },
    "CustomTemplate": {
      "description": "Represents a Google Tag Manager Custom Template's contents.",
      "type": "object",
      "id": "CustomTemplate",
      "properties": {
        "fingerprint": {
          "description": "The fingerprint of the GTM Custom Template as computed at storage time. This value is recomputed whenever the template is modified.",
          "type": "string"
        },
        "templateData": {
          "type": "string",
          "description": "The custom template in text format."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "name": {
          "description": "Custom Template display name.",
          "type": "string"
        },
        "path": {
          "description": "GTM Custom Template's API relative path.",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "templateId": {
          "description": "The Custom Template ID uniquely identifies the GTM custom template.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "galleryReference": {
          "$ref": "GalleryReference",
          "description": "A reference to the Community Template Gallery entry."
        }
      }
    },
    "RevertTemplateResponse": {
      "description": "The result of reverting a template in a workspace.",
      "type": "object",
      "id": "RevertTemplateResponse",
      "properties": {
        "template": {
          "description": "Template as it appears in the latest container version since the last workspace synchronization operation. If no template is present, that means the template was deleted in the latest container version.",
          "$ref": "CustomTemplate"
        }
      }
    },
    "TeardownTag": {
      "id": "TeardownTag",
      "properties": {
        "tagName": {
          "description": "The name of the teardown tag.",
          "type": "string"
        },
        "stopTeardownOnFailure": {
          "description": "If true, fire the teardown tag if and only if the main tag fires successfully. If false, fire the teardown tag regardless of main tag firing status.",
          "type": "boolean"
        }
      },
      "description": "Represents a tag that fires after another tag in order to tear down dependencies.",
      "type": "object"
    },
    "ContainerAccess": {
      "type": "object",
      "description": "Defines the Google Tag Manager Container access permissions.",
      "id": "ContainerAccess",
      "properties": {
        "permission": {
          "description": "List of Container permissions.",
          "enum": [
            "containerPermissionUnspecified",
            "noAccess",
            "read",
            "edit",
            "approve",
            "publish"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      }
    },
    "ListWorkspacesResponse": {
      "description": "A list of workspaces in a container.",
      "type": "object",
      "id": "ListWorkspacesResponse",
      "properties": {
        "workspace": {
          "type": "array",
          "items": {
            "$ref": "Workspace"
          },
          "description": "All Workspaces of a GTM Container."
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "GtagConfig": {
      "id": "GtagConfig",
      "properties": {
        "accountId": {
          "description": "Google tag account ID.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The Google tag config's parameters."
        },
        "workspaceId": {
          "description": "Google tag workspace ID. Only used by GTM containers. Set to 0 otherwise.",
          "type": "string"
        },
        "path": {
          "description": "Google tag config's API relative path.",
          "type": "string"
        },
        "gtagConfigId": {
          "description": "The ID uniquely identifies the Google tag config.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Google tag config type."
        },
        "containerId": {
          "type": "string",
          "description": "Google tag container ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the Google tag config as computed at storage time. This value is recomputed whenever the config is modified.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Google tag configuration."
    },
    "CreateContainerVersionRequestVersionOptions": {
      "id": "CreateContainerVersionRequestVersionOptions",
      "properties": {
        "notes": {
          "type": "string",
          "description": "The notes of the container version to be created."
        },
        "name": {
          "type": "string",
          "description": "The name of the container version to be created."
        }
      },
      "description": "Options for new container versions.",
      "type": "object"
    },
    "ListContainerVersionsResponse": {
      "description": "List container versions response.",
      "type": "object",
      "id": "ListContainerVersionsResponse",
      "properties": {
        "containerVersionHeader": {
          "description": "All container version headers of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "ContainerVersionHeader"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      }
    },
    "ListTriggersResponse": {
      "id": "ListTriggersResponse",
      "properties": {
        "trigger": {
          "description": "All GTM Triggers of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Trigger"
          }
        },
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        }
      },
      "description": "List triggers response.",
      "type": "object"
    },
    "ListContainersResponse": {
      "id": "ListContainersResponse",
      "properties": {
        "container": {
          "type": "array",
          "items": {
            "$ref": "Container"
          },
          "description": "All Containers of a GTM Account."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object",
      "description": "List Containers Response."
    },
    "Variable": {
      "type": "object",
      "description": "Represents a Google Tag Manager Variable.",
      "id": "Variable",
      "properties": {
        "type": {
          "type": "string",
          "description": "GTM Variable Type."
        },
        "variableId": {
          "type": "string",
          "description": "The Variable ID uniquely identifies the GTM Variable."
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The variable's parameters."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Variable as computed at storage time. This value is recomputed whenever the variable is modified."
        },
        "enablingTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "For mobile containers only: A list of trigger IDs for enabling conditional variables; the variable is enabled if one of the enabling triggers is true while all the disabling triggers are false. Treated as an unordered set."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        },
        "formatValue": {
          "description": "Option to convert a variable value to other value.",
          "$ref": "VariableFormatValue"
        },
        "scheduleStartMs": {
          "description": "The start timestamp in milliseconds to schedule a variable.",
          "type": "string",
          "format": "int64"
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a variable.",
          "type": "string",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Variable display name."
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "path": {
          "type": "string",
          "description": "GTM Variable's API relative path."
        },
        "disablingTriggerId": {
          "description": "For mobile containers only: A list of trigger IDs for disabling conditional variables; the variable is enabled if one of the enabling trigger is true while all the disabling trigger are false. Treated as an unordered set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this variable in the container."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      }
    },
    "Account": {
      "type": "object",
      "description": "Represents a Google Tag Manager Account.",
      "id": "Account",
      "properties": {
        "features": {
          "$ref": "AccountFeatures",
          "description": "Read-only Account feature set"
        },
        "name": {
          "type": "string",
          "description": "Account display name."
        },
        "path": {
          "type": "string",
          "description": "GTM Account's API relative path."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "accountId": {
          "description": "The Account ID uniquely identifies the GTM Account.",
          "type": "string"
        },
        "shareData": {
          "description": "Whether the account shares data anonymously with Google and others. This flag enables benchmarking by sharing your data in an anonymous form. Google will remove all identifiable information about your website, combine the data with hundreds of other anonymous sites and report aggregate trends in the benchmarking service.",
          "type": "boolean"
        }
      }
    },
    "RevertFolderResponse": {
      "description": "The result of reverting folder changes in a workspace.",
      "type": "object",
      "id": "RevertFolderResponse",
      "properties": {
        "folder": {
          "description": "Folder as it appears in the latest container version since the last workspace synchronization operation. If no folder is present, that means the folder was deleted in the latest container version.",
          "$ref": "Folder"
        }
      }
    },
    "Parameter": {
      "id": "Parameter",
      "properties": {
        "type": {
          "description": "The parameter type. Valid values are: - boolean: The value represents a boolean, represented as 'true' or 'false' - integer: The value represents a 64-bit signed integer value, in base 10 - list: A list of parameters should be specified - map: A map of parameters should be specified - template: The value represents any text; this can include variable references (even variable references that might return non-string types) - trigger_reference: The value represents a trigger, represented as the trigger id - tag_reference: The value represents a tag, represented as the tag name ",
          "enum": [
            "typeUnspecified",
            "template",
            "integer",
            "boolean",
            "list",
            "map",
            "triggerReference",
            "tagReference"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "May include variable references.",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "key": {
          "description": "The named key that uniquely identifies a parameter. Required for top-level parameters, as well as map values. Ignored for list values.",
          "type": "string"
        },
        "value": {
          "description": "A parameter's value (may contain variable references). as appropriate to the specified type.",
          "type": "string"
        },
        "map": {
          "description": "This map parameter's parameters (must have keys; keys must be unique).",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "isWeakReference": {
          "description": "Whether or not a reference type parameter is strongly or weakly referenced. Only used by Transformations.",
          "type": "boolean"
        },
        "list": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "This list parameter's parameters (keys will be ignored)."
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Parameter."
    },
    "BuiltInVariable": {
      "description": "Built-in variables are a special category of variables that are pre-created and non-customizable. They provide common functionality like accessing properties of the gtm data layer, monitoring clicks, or accessing elements of a page URL.",
      "type": "object",
      "id": "BuiltInVariable",
      "properties": {
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "path": {
          "type": "string",
          "description": "GTM BuiltInVariable's API relative path."
        },
        "workspaceId": {
          "type": "string",
          "description": "GTM Workspace ID."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "For web or mobile.",
            "",
            "For web or mobile.",
            "For web or mobile.",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Type of built-in variable.",
          "enum": [
            "builtInVariableTypeUnspecified",
            "pageUrl",
            "pageHostname",
            "pagePath",
            "referrer",
            "event",
            "clickElement",
            "clickClasses",
            "clickId",
            "clickTarget",
            "clickUrl",
            "clickText",
            "firstPartyServingUrl",
            "formElement",
            "formClasses",
            "formId",
            "formTarget",
            "formUrl",
            "formText",
            "errorMessage",
            "errorUrl",
            "errorLine",
            "newHistoryUrl",
            "oldHistoryUrl",
            "newHistoryFragment",
            "oldHistoryFragment",
            "newHistoryState",
            "oldHistoryState",
            "historySource",
            "containerVersion",
            "debugMode",
            "randomNumber",
            "containerId",
            "appId",
            "appName",
            "appVersionCode",
            "appVersionName",
            "language",
            "osVersion",
            "platform",
            "sdkVersion",
            "deviceName",
            "resolution",
            "advertiserId",
            "advertisingTrackingEnabled",
            "htmlId",
            "environmentName",
            "ampBrowserLanguage",
            "ampCanonicalPath",
            "ampCanonicalUrl",
            "ampCanonicalHost",
            "ampReferrer",
            "ampTitle",
            "ampClientId",
            "ampClientTimezone",
            "ampClientTimestamp",
            "ampClientScreenWidth",
            "ampClientScreenHeight",
            "ampClientScrollX",
            "ampClientScrollY",
            "ampClientMaxScrollX",
            "ampClientMaxScrollY",
            "ampTotalEngagedTime",
            "ampPageViewId",
            "ampPageLoadTime",
            "ampPageDownloadTime",
            "ampGtmEvent",
            "eventName",
            "firebaseEventParameterCampaign",
            "firebaseEventParameterCampaignAclid",
            "firebaseEventParameterCampaignAnid",
            "firebaseEventParameterCampaignClickTimestamp",
            "firebaseEventParameterCampaignContent",
            "firebaseEventParameterCampaignCp1",
            "firebaseEventParameterCampaignGclid",
            "firebaseEventParameterCampaignSource",
            "firebaseEventParameterCampaignTerm",
            "firebaseEventParameterCurrency",
            "firebaseEventParameterDynamicLinkAcceptTime",
            "firebaseEventParameterDynamicLinkLinkid",
            "firebaseEventParameterNotificationMessageDeviceTime",
            "firebaseEventParameterNotificationMessageId",
            "firebaseEventParameterNotificationMessageName",
            "firebaseEventParameterNotificationMessageTime",
            "firebaseEventParameterNotificationTopic",
            "firebaseEventParameterPreviousAppVersion",
            "firebaseEventParameterPreviousOsVersion",
            "firebaseEventParameterPrice",
            "firebaseEventParameterProductId",
            "firebaseEventParameterQuantity",
            "firebaseEventParameterValue",
            "videoProvider",
            "videoUrl",
            "videoTitle",
            "videoDuration",
            "videoPercent",
            "videoVisible",
            "videoStatus",
            "videoCurrentTime",
            "scrollDepthThreshold",
            "scrollDepthUnits",
            "scrollDepthDirection",
            "elementVisibilityRatio",
            "elementVisibilityTime",
            "elementVisibilityFirstTime",
            "elementVisibilityRecentTime",
            "requestPath",
            "requestMethod",
            "clientName",
            "queryString",
            "serverPageLocationUrl",
            "serverPageLocationPath",
            "serverPageLocationHostname",
            "visitorRegion",
            "analyticsClientId",
            "analyticsSessionId",
            "analyticsSessionNumber"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of the built-in variable to be used to refer to the built-in variable."
        }
      }
    },
    "Transformation": {
      "id": "Transformation",
      "properties": {
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "path": {
          "description": "GTM transformation's API relative path.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Transformation display name."
        },
        "type": {
          "description": "Transformation type.",
          "type": "string"
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The transformation's parameters."
        },
        "notes": {
          "description": "User notes on how to apply this transformation in the container.",
          "type": "string"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Transformation as computed at storage time. This value is recomputed whenever the transformation is modified."
        },
        "transformationId": {
          "description": "The Transformation ID uniquely identifies the GTM transformation.",
          "type": "string"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents a Google Tag Manager Transformation."
    },
    "BulkUpdateWorkspaceResponse": {
      "id": "BulkUpdateWorkspaceResponse",
      "properties": {
        "changes": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "The entities that were added or updated during the bulk-update. Does not include entities that were deleted or updated by the system."
        }
      },
      "type": "object"
    },
    "ContainerVersionHeader": {
      "description": "Represents a Google Tag Manager Container Version Header.",
      "type": "object",
      "id": "ContainerVersionHeader",
      "properties": {
        "numVariables": {
          "type": "string",
          "description": "Number of variables in the container version."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "numTriggers": {
          "description": "Number of triggers in the container version.",
          "type": "string"
        },
        "path": {
          "description": "GTM Container Version's API relative path.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "A value of true indicates this container version has been deleted."
        },
        "name": {
          "description": "Container version display name.",
          "type": "string"
        },
        "numTags": {
          "type": "string",
          "description": "Number of tags in the container version."
        },
        "numCustomTemplates": {
          "type": "string",
          "description": "Number of custom templates in the container version."
        },
        "numClients": {
          "description": "Number of clients in the container version.",
          "type": "string"
        },
        "numGtagConfigs": {
          "type": "string",
          "description": "Number of Google tag configs in the container version."
        },
        "numTransformations": {
          "description": "Number of transformations in the container version.",
          "type": "string"
        },
        "containerVersionId": {
          "description": "The Container Version ID uniquely identifies the GTM Container Version.",
          "type": "string"
        },
        "numZones": {
          "description": "Number of zones in the container version.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        }
      }
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "properties": {
        "account": {
          "type": "array",
          "items": {
            "$ref": "Account"
          },
          "description": "List of GTM Accounts that a user has access to."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "List Accounts Response.",
      "type": "object"
    },
    "VariableFormatValue": {
      "id": "VariableFormatValue",
      "properties": {
        "convertNullToValue": {
          "description": "The value to convert if a variable value is null.",
          "$ref": "Parameter"
        },
        "convertTrueToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is true."
        },
        "caseConversionType": {
          "description": "The option to convert a string-type variable value to either lowercase or uppercase.",
          "enum": [
            "none",
            "lowercase",
            "uppercase"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to lowercase.",
            "The option to convert a variable value to uppercase."
          ]
        },
        "convertUndefinedToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is undefined."
        },
        "convertToNumber": {
          "description": "The option to convert a variable value to a number.",
          "enum": [
            "decimalSeparatorTypeUnspecified",
            "period",
            "comma"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The option to convert a variable value to a number with a period as the decimal separator.",
            "The option to convert a variable value to a number with a comma as the decimal separator."
          ]
        },
        "convertToBoolean": {
          "type": "boolean",
          "description": "The option to convert a variable value to a boolean."
        },
        "convertFalseToValue": {
          "$ref": "Parameter",
          "description": "The value to convert if a variable value is false."
        }
      },
      "type": "object"
    },
    "GetWorkspaceStatusResponse": {
      "description": "The changes that have occurred in the workspace since the base container version.",
      "type": "object",
      "id": "GetWorkspaceStatusResponse",
      "properties": {
        "workspaceChange": {
          "type": "array",
          "items": {
            "$ref": "Entity"
          },
          "description": "Entities that have been changed in the workspace."
        },
        "mergeConflict": {
          "description": "The merge conflict after sync.",
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          }
        }
      }
    },
    "ListTransformationsResponse": {
      "id": "ListTransformationsResponse",
      "properties": {
        "transformation": {
          "description": "All GTM Transformations of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Transformation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object"
    },
    "AccountAccess": {
      "id": "AccountAccess",
      "properties": {
        "permission": {
          "description": "Whether the user has no access, user access, or admin access to an account.",
          "enum": [
            "accountPermissionUnspecified",
            "noAccess",
            "user",
            "admin"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "description": "Defines the Google Tag Manager Account access permissions."
    },
    "PublishContainerVersionResponse": {
      "id": "PublishContainerVersionResponse",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        }
      },
      "description": "Publish container version response.",
      "type": "object"
    },
    "ListGtagConfigResponse": {
      "type": "object",
      "id": "ListGtagConfigResponse",
      "properties": {
        "gtagConfig": {
          "type": "array",
          "items": {
            "$ref": "GtagConfig"
          },
          "description": "All Google tag configs in a Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "ListClientsResponse": {
      "type": "object",
      "id": "ListClientsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Continuation token for fetching the next page of results.",
          "type": "string"
        },
        "client": {
          "description": "All GTM Clients of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Client"
          }
        }
      }
    },
    "RevertTransformationResponse": {
      "description": "The result of reverting a transformation in a workspace.",
      "type": "object",
      "id": "RevertTransformationResponse",
      "properties": {
        "transformation": {
          "$ref": "Transformation",
          "description": "Transformation as it appears in the latest container version since the last workspace synchronization operation. If no transformation is present, that means the transformation was deleted in the latest container version."
        }
      }
    },
    "QuickPreviewResponse": {
      "description": "Response to quick previewing a workspace.",
      "type": "object",
      "id": "QuickPreviewResponse",
      "properties": {
        "containerVersion": {
          "$ref": "ContainerVersion",
          "description": "The quick previewed container version."
        },
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Whether quick previewing failed when syncing the workspace to the latest container version."
        },
        "compilerError": {
          "description": "Were there compiler errors or not.",
          "type": "boolean"
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Represents a Google Tag Manager Tag.",
      "id": "Tag",
      "properties": {
        "setupTag": {
          "type": "array",
          "items": {
            "$ref": "SetupTag"
          },
          "description": "The list of setup tags. Currently we only allow one."
        },
        "tagFiringOption": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Tag can be fired multiple times per event.",
            "Tag can only be fired per event but can be fired multiple times per load (e.g., app load or page load).",
            "Tag can only be fired per load (e.g., app load or page load)."
          ],
          "description": "Option to fire this tag.",
          "enum": [
            "tagFiringOptionUnspecified",
            "unlimited",
            "oncePerEvent",
            "oncePerLoad"
          ]
        },
        "path": {
          "type": "string",
          "description": "GTM Tag's API relative path."
        },
        "priority": {
          "description": "User defined numeric priority of the tag. Tags are fired asynchronously in order of priority. Tags with higher numeric value fire first. A tag's priority can be a positive or negative value. The default value is 0.",
          "$ref": "Parameter"
        },
        "teardownTag": {
          "type": "array",
          "items": {
            "$ref": "TeardownTag"
          },
          "description": "The list of teardown tags. Currently we only allow one."
        },
        "parentFolderId": {
          "type": "string",
          "description": "Parent folder id."
        },
        "scheduleEndMs": {
          "description": "The end timestamp in milliseconds to schedule a tag.",
          "type": "string",
          "format": "int64"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Tag as computed at storage time. This value is recomputed whenever the tag is modified."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "liveOnly": {
          "description": "If set to true, this tag will only fire in the live environment (e.g. not in preview or debug mode).",
          "type": "boolean"
        },
        "tagId": {
          "type": "string",
          "description": "The Tag ID uniquely identifies the GTM Tag."
        },
        "firingTriggerId": {
          "description": "Firing trigger IDs. A tag will fire when any of the listed triggers are true and all of its blockingTriggerIds (if any specified) are false.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "blockingTriggerId": {
          "description": "Blocking trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "paused": {
          "type": "boolean",
          "description": "Indicates whether the tag is paused, which prevents the tag from firing."
        },
        "monitoringMetadata": {
          "$ref": "Parameter",
          "description": "A map of key-value pairs of tag metadata to be included in the event data for tag monitoring. Notes: - This parameter must be type MAP. - Each parameter in the map are type TEMPLATE, however cannot contain variable references. "
        },
        "type": {
          "type": "string",
          "description": "GTM Tag Type."
        },
        "consentSettings": {
          "description": "Consent settings of a tag.",
          "$ref": "TagConsentSetting"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "monitoringMetadataTagNameKey": {
          "description": "If non-empty, then the tag display name will be included in the monitoring metadata map using the key specified.",
          "type": "string"
        },
        "notes": {
          "description": "User notes on how to apply this tag in the container.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "name": {
          "description": "Tag display name.",
          "type": "string"
        },
        "scheduleStartMs": {
          "type": "string",
          "format": "int64",
          "description": "The start timestamp in milliseconds to schedule a tag."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The tag's parameters."
        }
      }
    },
    "Condition": {
      "description": "Represents a predicate.",
      "type": "object",
      "id": "Condition",
      "properties": {
        "type": {
          "description": "The type of operator for this condition.",
          "enum": [
            "conditionTypeUnspecified",
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "parameter": {
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. ",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        }
      }
    },
    "ListEnvironmentsResponse": {
      "type": "object",
      "description": "List Environments Response.",
      "id": "ListEnvironmentsResponse",
      "properties": {
        "environment": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    },
    "RevertBuiltInVariableResponse": {
      "type": "object",
      "description": "The result of reverting a built-in variable in a workspace.",
      "id": "RevertBuiltInVariableResponse",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Whether the built-in variable is enabled after reversion."
        }
      }
    },
    "GalleryReference": {
      "id": "GalleryReference",
      "properties": {
        "repository": {
          "type": "string",
          "description": "The name of the repository for the community gallery template."
        },
        "templateDeveloperId": {
          "type": "string",
          "description": "The developer id of the community gallery template. This value is set whenever the template is created from the gallery."
        },
        "isModified": {
          "type": "boolean",
          "description": "If a user has manually edited the community gallery template."
        },
        "galleryTemplateId": {
          "description": "ID for the gallery template that is generated once during first sync and travels with the template redirects.",
          "type": "string"
        },
        "owner": {
          "type": "string",
          "description": "The name of the owner for the community gallery template."
        },
        "signature": {
          "type": "string",
          "description": "The signature of the community gallery template as computed at import time. This value is recomputed whenever the template is updated from the gallery."
        },
        "version": {
          "type": "string",
          "description": "The version of the community gallery template."
        },
        "host": {
          "type": "string",
          "description": "The name of the host for the community gallery template."
        }
      },
      "type": "object",
      "description": "Represents the link between a custom template and an entry on the Community Template Gallery site."
    },
    "ListVariablesResponse": {
      "id": "ListVariablesResponse",
      "properties": {
        "variable": {
          "type": "array",
          "items": {
            "$ref": "Variable"
          },
          "description": "All GTM Variables of a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "description": "List Variables Response.",
      "type": "object"
    },
    "RevertTagResponse": {
      "description": "The result of reverting a tag in a workspace.",
      "type": "object",
      "id": "RevertTagResponse",
      "properties": {
        "tag": {
          "description": "Tag as it appears in the latest container version since the last workspace synchronization operation. If no tag is present, that means the tag was deleted in the latest container version.",
          "$ref": "Tag"
        }
      }
    },
    "Container": {
      "description": "Represents a Google Tag Manager Container, which specifies the platform tags will run on, manages workspaces, and retains container versions.",
      "type": "object",
      "id": "Container",
      "properties": {
        "name": {
          "type": "string",
          "description": "Container display name."
        },
        "path": {
          "description": "GTM Container's API relative path.",
          "type": "string"
        },
        "domainName": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of domain names associated with the Container."
        },
        "notes": {
          "type": "string",
          "description": "Container Notes."
        },
        "containerId": {
          "type": "string",
          "description": "The Container ID uniquely identifies the GTM Container."
        },
        "tagIds": {
          "description": "All Tag IDs that refer to this Container.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "features": {
          "description": "Read-only Container feature set.",
          "$ref": "ContainerFeatures"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "taggingServerUrls": {
          "description": "List of server-side container URLs for the Container. If multiple URLs are provided, all URL paths must match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "publicId": {
          "description": "Container Public ID.",
          "type": "string"
        },
        "usageContext": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "usageContextUnspecified",
              "web",
              "android",
              "ios",
              "androidSdk5",
              "iosSdk5",
              "amp",
              "server"
            ]
          },
          "description": "List of Usage Contexts for the Container. Valid values include: web, android, or ios."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.",
          "type": "string"
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        }
      }
    },
    "Folder": {
      "description": "Represents a Google Tag Manager Folder.",
      "type": "object",
      "id": "Folder",
      "properties": {
        "folderId": {
          "description": "The Folder ID uniquely identifies the GTM Folder.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this folder in the container."
        },
        "name": {
          "description": "Folder display name.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "path": {
          "description": "GTM Folder's API relative path.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Folder as computed at storage time. This value is recomputed whenever the folder is modified.",
          "type": "string"
        }
      }
    },
    "Zone": {
      "description": "Represents a Google Tag Manager Zone's contents.",
      "type": "object",
      "id": "Zone",
      "properties": {
        "name": {
          "type": "string",
          "description": "Zone display name."
        },
        "path": {
          "type": "string",
          "description": "GTM Zone's API relative path."
        },
        "boundary": {
          "description": "This Zone's boundary.",
          "$ref": "ZoneBoundary"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this zone in the container."
        },
        "childContainer": {
          "type": "array",
          "items": {
            "$ref": "ZoneChildContainer"
          },
          "description": "Containers that are children of this Zone."
        },
        "zoneId": {
          "description": "The Zone ID uniquely identifies the GTM Zone.",
          "type": "string"
        },
        "typeRestriction": {
          "$ref": "ZoneTypeRestriction",
          "description": "This Zone's type restrictions."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Zone as computed at storage time. This value is recomputed whenever the zone is modified."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        }
      }
    },
    "RevertTriggerResponse": {
      "id": "RevertTriggerResponse",
      "properties": {
        "trigger": {
          "$ref": "Trigger",
          "description": "Trigger as it appears in the latest container version since the last workspace synchronization operation. If no trigger is present, that means the trigger was deleted in the latest container version."
        }
      },
      "type": "object",
      "description": "The result of reverting a trigger in a workspace."
    },
    "Environment": {
      "type": "object",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "id": "Environment",
      "properties": {
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "enableDebug": {
          "type": "boolean",
          "description": "Whether or not to enable debug by default for the environment."
        },
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments."
        },
        "workspaceId": {
          "type": "string",
          "description": "Represents a link to a quick preview of a workspace."
        },
        "path": {
          "type": "string",
          "description": "GTM Environment's API relative path."
        },
        "description": {
          "type": "string",
          "description": "The environment description. Can be set or changed only on USER type environments."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "url": {
          "type": "string",
          "description": "Default preview page url for the environment."
        },
        "type": {
          "description": "The type of this environment.",
          "enum": [
            "user",
            "live",
            "latest",
            "workspace"
          ],
          "type": "string",
          "enumDescriptions": [
            "Points to a user defined environment.",
            "Points to the current live container version.",
            "Points to the latest container version.",
            "Automatically managed environment that points to a workspace preview or version created by a workspace."
          ]
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "authorizationTimestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "The last update time-stamp for the authorization code."
        },
        "containerVersionId": {
          "type": "string",
          "description": "Represents a link to a container version."
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        }
      }
    },
    "RevertClientResponse": {
      "id": "RevertClientResponse",
      "properties": {
        "client": {
          "$ref": "Client",
          "description": "Client as it appears in the latest container version since the last workspace synchronization operation. If no client is present, that means the client was deleted in the latest container version."
        }
      },
      "description": "The result of reverting a client in a workspace.",
      "type": "object"
    },
    "ListDestinationsResponse": {
      "id": "ListDestinationsResponse",
      "properties": {
        "destination": {
          "type": "array",
          "items": {
            "$ref": "Destination"
          },
          "description": "All Destinations linked to a GTM Container."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object"
    },
    "ListUserPermissionsResponse": {
      "id": "ListUserPermissionsResponse",
      "properties": {
        "userPermission": {
          "description": "All GTM UserPermissions of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "UserPermission"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      },
      "type": "object",
      "description": "List user permissions response."
    },
    "RevertVariableResponse": {
      "id": "RevertVariableResponse",
      "properties": {
        "variable": {
          "description": "Variable as it appears in the latest container version since the last workspace synchronization operation. If no variable is present, that means the variable was deleted in the latest container version.",
          "$ref": "Variable"
        }
      },
      "description": "The result of reverting a variable in a workspace.",
      "type": "object"
    },
    "MergeConflict": {
      "type": "object",
      "description": "Represents a merge conflict.",
      "id": "MergeConflict",
      "properties": {
        "entityInWorkspace": {
          "$ref": "Entity",
          "description": "The workspace entity that has conflicting changes compared to the base version. If an entity is deleted in a workspace, it will still appear with a deleted change status."
        },
        "entityInBaseVersion": {
          "description": "The base version entity (since the latest sync operation) that has conflicting changes compared to the workspace. If this field is missing, it means the workspace entity is deleted from the base version.",
          "$ref": "Entity"
        }
      }
    },
    "AccountFeatures": {
      "type": "object",
      "id": "AccountFeatures",
      "properties": {
        "supportMultipleContainers": {
          "type": "boolean",
          "description": "Whether this Account supports multiple Containers."
        },
        "supportUserPermissions": {
          "type": "boolean",
          "description": "Whether this Account supports user permissions managed by GTM."
        }
      }
    },
    "SyncStatus": {
      "description": "The status of a workspace after synchronization.",
      "type": "object",
      "id": "SyncStatus",
      "properties": {
        "syncError": {
          "description": "An error occurred during the synchronization operation.",
          "type": "boolean"
        },
        "mergeConflict": {
          "description": "Synchornization operation detected a merge conflict.",
          "type": "boolean"
        }
      }
    },
    "ProposedChange": {
      "id": "ProposedChange",
      "properties": {
        "changes": {
          "description": "The list of workspace changes to be applied.",
          "type": "array",
          "items": {
            "$ref": "Entity"
          }
        }
      },
      "type": "object"
    },
    "Client": {
      "id": "Client",
      "properties": {
        "tagManagerUrl": {
          "description": "Auto generated link to the tag manager UI",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Client as computed at storage time. This value is recomputed whenever the client is modified.",
          "type": "string"
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "parameter": {
          "type": "array",
          "items": {
            "$ref": "Parameter"
          },
          "description": "The client's parameters."
        },
        "clientId": {
          "description": "The Client ID uniquely identifies the GTM client.",
          "type": "string"
        },
        "type": {
          "description": "Client type.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "notes": {
          "type": "string",
          "description": "User notes on how to apply this tag in the container."
        },
        "name": {
          "description": "Client display name.",
          "type": "string"
        },
        "priority": {
          "description": "Priority determines relative firing order.",
          "type": "integer",
          "format": "int32"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "workspaceId": {
          "description": "GTM Workspace ID.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM client's API relative path."
        }
      },
      "type": "object"
    },
    "RevertZoneResponse": {
      "id": "RevertZoneResponse",
      "properties": {
        "zone": {
          "description": "Zone as it appears in the latest container version since the last workspace synchronization operation. If no zone is present, that means the zone was deleted in the latest container version.",
          "$ref": "Zone"
        }
      },
      "description": "The result of reverting a zone in a workspace.",
      "type": "object"
    },
    "Workspace": {
      "description": "Represents a Google Tag Manager Container Workspace.",
      "type": "object",
      "id": "Workspace",
      "properties": {
        "workspaceId": {
          "description": "The Workspace ID uniquely identifies the GTM Workspace.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM Workspace as computed at storage time. This value is recomputed whenever the workspace is modified.",
          "type": "string"
        },
        "path": {
          "type": "string",
          "description": "GTM Workspace's API relative path."
        },
        "name": {
          "description": "Workspace display name.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "description": {
          "type": "string",
          "description": "Workspace description."
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "tagManagerUrl": {
          "type": "string",
          "description": "Auto generated link to the tag manager UI"
        }
      }
    },
    "Entity": {
      "type": "object",
      "description": "A workspace entity that may represent a tag, trigger, variable, or folder in addition to its status in the workspace.",
      "id": "Entity",
      "properties": {
        "changeStatus": {
          "description": "Represents how the entity has been changed in the workspace.",
          "enum": [
            "changeStatusUnspecified",
            "none",
            "added",
            "deleted",
            "updated"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The entity has never been changed.",
            "The entity is added to the workspace.",
            "The entity is deleted from the workspace.",
            "The entity has been updated in the workspace."
          ]
        },
        "builtInVariable": {
          "$ref": "BuiltInVariable",
          "description": "The built in variable being represented by the entity."
        },
        "transformation": {
          "description": "The transformation being represented by the entity.",
          "$ref": "Transformation"
        },
        "zone": {
          "description": "The zone being represented by the entity.",
          "$ref": "Zone"
        },
        "variable": {
          "description": "The variable being represented by the entity.",
          "$ref": "Variable"
        },
        "customTemplate": {
          "$ref": "CustomTemplate",
          "description": "The custom template being represented by the entity."
        },
        "tag": {
          "description": "The tag being represented by the entity.",
          "$ref": "Tag"
        },
        "trigger": {
          "description": "The trigger being represented by the entity.",
          "$ref": "Trigger"
        },
        "folder": {
          "$ref": "Folder",
          "description": "The folder being represented by the entity."
        },
        "gtagConfig": {
          "$ref": "GtagConfig",
          "description": "The gtag config being represented by the entity."
        },
        "client": {
          "$ref": "Client",
          "description": "The client being represented by the entity."
        }
      }
    },
    "TagConsentSetting": {
      "type": "object",
      "id": "TagConsentSetting",
      "properties": {
        "consentStatus": {
          "description": "The tag's consent status. If set to NEEDED, the runtime will check that the consent types specified by the consent_type field have been granted.",
          "enum": [
            "notSet",
            "notNeeded",
            "needed"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value where user has not specified any setting on it.",
            "Tag doesn't require any additional consent settings.",
            "Tag requires additional consent settings."
          ]
        },
        "consentType": {
          "description": "The type of consents to check for during tag firing if in the consent NEEDED state. This parameter must be of type LIST where each list item is of type STRING.",
          "$ref": "Parameter"
        }
      }
    },
    "GetContainerSnippetResponse": {
      "type": "object",
      "id": "GetContainerSnippetResponse",
      "properties": {
        "containerConfig": {
          "type": "string",
          "description": "Server container config param for manually provisioning a tagging server."
        },
        "snippet": {
          "type": "string",
          "description": "Tagging snippet for a Container."
        }
      }
    },
    "ContainerFeatures": {
      "id": "ContainerFeatures",
      "properties": {
        "supportTags": {
          "description": "Whether this Container supports tags.",
          "type": "boolean"
        },
        "supportEnvironments": {
          "type": "boolean",
          "description": "Whether this Container supports environments."
        },
        "supportTemplates": {
          "type": "boolean",
          "description": "Whether this Container supports templates."
        },
        "supportWorkspaces": {
          "type": "boolean",
          "description": "Whether this Container supports workspaces."
        },
        "supportTriggers": {
          "type": "boolean",
          "description": "Whether this Container supports triggers."
        },
        "supportBuiltInVariables": {
          "description": "Whether this Container supports built-in variables",
          "type": "boolean"
        },
        "supportGtagConfigs": {
          "type": "boolean",
          "description": "Whether this Container supports Google tag config."
        },
        "supportClients": {
          "type": "boolean",
          "description": "Whether this Container supports clients."
        },
        "supportTransformations": {
          "description": "Whether this Container supports transformations.",
          "type": "boolean"
        },
        "supportFolders": {
          "type": "boolean",
          "description": "Whether this Container supports folders."
        },
        "supportVersions": {
          "description": "Whether this Container supports Container versions.",
          "type": "boolean"
        },
        "supportZones": {
          "description": "Whether this Container supports zones.",
          "type": "boolean"
        },
        "supportUserPermissions": {
          "type": "boolean",
          "description": "Whether this Container supports user permissions managed by GTM."
        },
        "supportVariables": {
          "type": "boolean",
          "description": "Whether this Container supports variables."
        }
      },
      "type": "object"
    },
    "SyncWorkspaceResponse": {
      "id": "SyncWorkspaceResponse",
      "properties": {
        "syncStatus": {
          "$ref": "SyncStatus",
          "description": "Indicates whether synchronization caused a merge conflict or sync error."
        },
        "mergeConflict": {
          "type": "array",
          "items": {
            "$ref": "MergeConflict"
          },
          "description": "The merge conflict after sync. If this field is not empty, the sync is still treated as successful. But a version cannot be created until all conflicts are resolved."
        }
      },
      "type": "object",
      "description": "A response after synchronizing the workspace to the latest container version."
    },
    "ZoneChildContainer": {
      "description": "Represents a child container of a Zone.",
      "type": "object",
      "id": "ZoneChildContainer",
      "properties": {
        "nickname": {
          "type": "string",
          "description": "The zone's nickname for the child container."
        },
        "publicId": {
          "description": "The child container's public id.",
          "type": "string"
        }
      }
    },
    "ZoneBoundary": {
      "id": "ZoneBoundary",
      "properties": {
        "customEvaluationTriggerId": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Custom evaluation trigger IDs. A zone will evaluate its boundary conditions when any of the listed triggers are true."
        },
        "condition": {
          "type": "array",
          "items": {
            "$ref": "Condition"
          },
          "description": "The conditions that, when conjoined, make up the boundary."
        }
      },
      "description": "Represents a Zone's boundaries.",
      "type": "object"
    },
    "ListTemplatesResponse": {
      "type": "object",
      "id": "ListTemplatesResponse",
      "properties": {
        "template": {
          "description": "All GTM Custom Templates of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "CustomTemplate"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Continuation token for fetching the next page of results."
        }
      }
    }
  },
  "description": "This API allows clients to access and modify container and tag configuration.",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v2",
  "basePath": "",
  "kind": "discovery#restDescription",
  "name": "tagmanager",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "rootUrl": "https://tagmanager.googleapis.com/",
  "documentationLink": "https://developers.google.com/tag-manager",
  "servicePath": "",
  "canonicalName": "Tag Manager",
  "resources": {
    "accounts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "flatPath": "tagmanager/v2/accounts",
          "parameterOrder": [],
          "path": "tagmanager/v2/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "parameters": {
            "includeGoogleTags": {
              "description": "Also retrieve accounts associated with Google Tag when true.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "Continuation token for fetching the next page of results.",
              "location": "query"
            }
          },
          "description": "Lists all GTM Accounts that a user has access to.",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "id": "tagmanager.accounts.list"
        },
        "get": {
          "id": "tagmanager.accounts.get",
          "parameters": {
            "path": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "GTM Account's API relative path."
            }
          },
          "description": "Gets a GTM Account.",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "parameterOrder": [
            "path"
          ],
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "path": "tagmanager/v2/{+path}",
          "response": {
            "$ref": "Account"
          },
          "httpMethod": "GET"
        },
        "update": {
          "path": "tagmanager/v2/{+path}",
          "response": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "path"
          ],
          "flatPath": "tagmanager/v2/accounts/{accountsId}",
          "httpMethod": "PUT",
          "id": "tagmanager.accounts.update",
          "request": {
            "$ref": "Account"
          },
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "parameters": {
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "location": "query",
              "type": "string"
            },
            "path": {
              "pattern": "^accounts/[^/]+$",
              "location": "path",
              "type": "string",
              "required": true,
              "description": "GTM Account's API relative path."
            }
          },
          "description": "Updates a GTM Account."
        }
      },
      "resources": {
        "user_permissions": {
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "parent": {
                  "description": "GTM Account's API relative path.",
                  "required": true,
                  "pattern": "^accounts/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Continuation token for fetching the next page of results.",
                  "location": "query"
                }
              },
              "description": "List all users that have access to the account along with Account and Container user access granted to each of them.",
              "id": "tagmanager.accounts.user_permissions.list",
              "httpMethod": "GET",
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "response": {
                "$ref": "ListUserPermissionsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions"
            },
            "create": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions",
              "path": "tagmanager/v2/{+parent}/user_permissions",
              "response": {
                "$ref": "UserPermission"
              },
              "parameters": {
                "parent": {
                  "description": "GTM Account's API relative path.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Creates a user's Account & Container access.",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "request": {
                "$ref": "UserPermission"
              },
              "id": "tagmanager.accounts.user_permissions.create"
            },
            "get": {
              "httpMethod": "GET",
              "path": "tagmanager/v2/{+path}",
              "response": {
                "$ref": "UserPermission"
              },
              "parameterOrder": [
                "path"
              ],
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "path": {
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "location": "path",
                  "description": "GTM UserPermission's API relative path."
                }
              },
              "description": "Gets a user's Account & Container access.",
              "id": "tagmanager.accounts.user_permissions.get"
            },
            "update": {
              "path": "tagmanager/v2/{+path}",
              "response": {
                "$ref": "UserPermission"
              },
              "flatPath": "tagmanager/v2/accounts/{accountsId}/user_permissions/{user_permissionsId}",
              "parameterOrder": [
                "path"
              ],
              "httpMethod": "PUT",
              "id": "tagmanager.accounts.user_permissions.update",
              "request": {
                "$ref": "UserPermission"
              },
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "path": {
                  "description": "GTM UserPermission's API relative path.",
                  "required": true,
                  "type": "string",
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "location": "path"
                }
              },
              "description": "Updates a user's Account & Container access."
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "path": {
                  "description": "GTM UserPermission's API relative path.",
                  "required": true,
                  "pattern": "^accounts/[^/]+/user_permissions/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
[...]
