{
  "documentationLink": "https://developers.google.com/tag-manager",
  "title": "Tag Manager API",
  "mtlsRootUrl": "https://tagmanager.mtls.googleapis.com/",
  "protocol": "rest",
  "servicePath": "",
  "id": "tagmanager:v1",
  "discoveryVersion": "v1",
  "description": "This API allows clients to access and modify container and tag configuration.",
  "parameters": {
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "version": "v1",
  "baseUrl": "https://tagmanager.googleapis.com/",
  "name": "tagmanager",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "accounts": {
      "methods": {
        "update": {
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.manage.accounts"
          ],
          "path": "tagmanager/v1/accounts/{accountId}",
          "response": {
            "$ref": "Account"
          },
          "id": "tagmanager.accounts.update",
          "request": {
            "$ref": "Account"
          },
          "parameterOrder": [
            "accountId"
          ],
          "parameters": {
            "fingerprint": {
              "description": "When provided, this fingerprint must match the fingerprint of the account in storage.",
              "location": "query",
              "type": "string"
            },
            "accountId": {
              "description": "The GTM Account ID.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Updates a GTM Account."
        },
        "list": {
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "flatPath": "tagmanager/v1/accounts",
          "response": {
            "$ref": "ListAccountsResponse"
          },
          "path": "tagmanager/v1/accounts",
          "parameterOrder": [],
          "id": "tagmanager.accounts.list",
          "description": "Lists all GTM Accounts that a user has access to.",
          "parameters": {}
        },
        "get": {
          "response": {
            "$ref": "Account"
          },
          "path": "tagmanager/v1/accounts/{accountId}",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/tagmanager.edit.containers",
            "https://www.googleapis.com/auth/tagmanager.manage.accounts",
            "https://www.googleapis.com/auth/tagmanager.readonly"
          ],
          "flatPath": "tagmanager/v1/accounts/{accountId}",
          "description": "Gets a GTM Account.",
          "parameters": {
            "accountId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The GTM Account ID."
            }
          },
          "parameterOrder": [
            "accountId"
          ],
          "id": "tagmanager.accounts.get"
        }
      },
      "resources": {
        "permissions": {
          "methods": {
            "create": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "response": {
                "$ref": "UserAccess"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Creates a user's Account & Container Permissions.",
              "id": "tagmanager.accounts.permissions.create",
              "request": {
                "$ref": "UserAccess"
              },
              "parameterOrder": [
                "accountId"
              ]
            },
            "get": {
              "response": {
                "$ref": "UserAccess"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "description": "Gets a user's Account & Container Permissions.",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "permissionId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM User ID.",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "id": "tagmanager.accounts.permissions.get"
            },
            "update": {
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "response": {
                "$ref": "UserAccess"
              },
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameterOrder": [
                "accountId",
                "permissionId"
              ],
              "request": {
                "$ref": "UserAccess"
              },
              "id": "tagmanager.accounts.permissions.update",
              "description": "Updates a user's Account & Container Permissions.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                },
                "permissionId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM User ID.",
                  "required": true
                }
              }
            },
            "delete": {
              "path": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                },
                "permissionId": {
                  "required": true,
                  "description": "The GTM User ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "Removes a user from the account, revoking access to it and all of its containers.",
              "id": "tagmanager.accounts.permissions.delete",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions/{permissionId}",
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "parameterOrder": [
                "accountId",
                "permissionId"
              ]
            },
            "list": {
              "id": "tagmanager.accounts.permissions.list",
              "parameterOrder": [
                "accountId"
              ],
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                }
              },
              "description": "List all users that have access to the account along with Account and Container Permissions granted to each of them.",
              "flatPath": "tagmanager/v1/accounts/{accountId}/permissions",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.manage.users"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/permissions",
              "response": {
                "$ref": "ListAccountUsersResponse"
              }
            }
          }
        },
        "containers": {
          "methods": {
            "list": {
              "description": "Lists all Containers that belongs to a GTM Account.",
              "parameters": {
                "accountId": {
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "id": "tagmanager.accounts.containers.list",
              "response": {
                "$ref": "ListContainersResponse"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers"
            },
            "update": {
              "response": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "PUT",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Updates a Container.",
              "parameters": {
                "accountId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID.",
                  "required": true
                },
                "containerId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Container ID."
                },
                "fingerprint": {
                  "description": "When provided, this fingerprint must match the fingerprint of the container in storage.",
                  "location": "query",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "Container"
              },
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "id": "tagmanager.accounts.containers.update"
            },
            "delete": {
              "httpMethod": "DELETE",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.delete.containers"
              ],
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "id": "tagmanager.accounts.containers.delete",
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "description": "Deletes a Container.",
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "parameters": {
                "accountId": {
                  "required": true,
                  "description": "The GTM Account ID.",
                  "location": "path",
                  "type": "string"
                },
                "containerId": {
                  "required": true,
                  "description": "The GTM Container ID.",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "get": {
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID."
                },
                "containerId": {
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Container ID.",
                  "required": true
                }
              },
              "description": "Gets a Container.",
              "id": "tagmanager.accounts.containers.get",
              "parameterOrder": [
                "accountId",
                "containerId"
              ],
              "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "response": {
                "$ref": "Container"
              },
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers",
                "https://www.googleapis.com/auth/tagmanager.readonly"
              ]
            },
            "create": {
              "response": {
                "$ref": "Container"
              },
              "path": "tagmanager/v1/accounts/{accountId}/containers",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/tagmanager.edit.containers"
              ],
              "flatPath": "tagmanager/v1/accounts/{accountId}/containers",
              "description": "Creates a Container.",
              "parameters": {
                "accountId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The GTM Account ID."
                }
              },
              "parameterOrder": [
                "accountId"
              ],
              "request": {
                "$ref": "Container"
              },
              "id": "tagmanager.accounts.containers.create"
            }
          },
          "resources": {
            "move_folders": {
              "methods": {
                "update": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/move_folders/{folderId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameters": {
                    "tagId": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The tags to be moved to the folder."
                    },
                    "triggerId": {
                      "description": "The triggers to be moved to the folder.",
                      "location": "query",
                      "repeated": true,
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "variableId": {
                      "location": "query",
                      "repeated": true,
                      "type": "string",
                      "description": "The variables to be moved to the folder."
                    }
                  },
                  "description": "Moves entities to a GTM Folder.",
                  "id": "tagmanager.accounts.containers.move_folders.update",
                  "request": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ]
                }
              }
            },
            "environments": {
              "methods": {
                "get": {
                  "id": "tagmanager.accounts.containers.environments.get",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Gets a GTM Environment.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "response": {
                    "$ref": "Environment"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "response": {
                    "$ref": "Environment"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.environments.create",
                  "description": "Creates a GTM Environment.",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListEnvironmentsResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments",
                  "description": "Lists all GTM Environments of a GTM Container.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.environments.list"
                },
                "update": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "description": "Updates a GTM Environment.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "environmentId": {
                      "required": true,
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the environment in storage."
                    }
                  },
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "id": "tagmanager.accounts.containers.environments.update"
                },
                "delete": {
                  "description": "Deletes a GTM Environment.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}",
                  "parameters": {
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "environmentId": {
                      "description": "The GTM Environment ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.environments.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/environments/{environmentId}"
                }
              }
            },
            "triggers": {
              "methods": {
                "update": {
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "triggerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Trigger ID."
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the trigger in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Updates a GTM Trigger.",
                  "id": "tagmanager.accounts.containers.triggers.update",
                  "request": {
                    "$ref": "Trigger"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "delete": {
                  "description": "Deletes a GTM Trigger.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "triggerId": {
                      "description": "The GTM Trigger ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "id": "tagmanager.accounts.containers.triggers.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}"
                },
                "list": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "response": {
                    "$ref": "ListTriggersResponse"
                  },
                  "id": "tagmanager.accounts.containers.triggers.list",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Lists all GTM Triggers of a Container."
                },
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "id": "tagmanager.accounts.containers.triggers.create",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Trigger"
                  },
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "description": "Creates a GTM Trigger."
                },
                "get": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/triggers/{triggerId}",
                  "response": {
                    "$ref": "Trigger"
                  },
                  "id": "tagmanager.accounts.containers.triggers.get",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "triggerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "triggerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Trigger ID.",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "description": "Gets a GTM Trigger."
                }
              }
            },
            "folders": {
              "methods": {
                "update": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "request": {
                    "$ref": "Folder"
                  },
                  "id": "tagmanager.accounts.containers.folders.update",
                  "description": "Updates a GTM Folder.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "folderId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Folder ID."
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the folder in storage."
                    }
                  },
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "response": {
                    "$ref": "Folder"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "id": "tagmanager.accounts.containers.folders.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "description": "Deletes a GTM Folder.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "parameters": {
                    "folderId": {
                      "description": "The GTM Folder ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "response": {
                    "$ref": "ListFoldersResponse"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "description": "Lists all GTM Folders of a Container.",
                  "id": "tagmanager.accounts.containers.folders.list",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "create": {
                  "id": "tagmanager.accounts.containers.folders.create",
                  "request": {
                    "$ref": "Folder"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    }
                  },
                  "description": "Creates a GTM Folder.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders",
                  "response": {
                    "$ref": "Folder"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Folder"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}",
                  "description": "Gets a GTM Folder.",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "folderId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Folder ID.",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "folderId"
                  ],
                  "id": "tagmanager.accounts.containers.folders.get"
                }
              },
              "resources": {
                "entities": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/tagmanager.edit.containers",
                        "https://www.googleapis.com/auth/tagmanager.readonly"
                      ],
                      "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "response": {
                        "$ref": "FolderEntities"
                      },
                      "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities",
                      "parameterOrder": [
                        "accountId",
                        "containerId",
                        "folderId"
                      ],
                      "id": "tagmanager.accounts.containers.folders.entities.list",
                      "description": "List all entities in a GTM Folder.",
                      "parameters": {
                        "accountId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The GTM Account ID."
                        },
                        "folderId": {
                          "required": true,
                          "description": "The GTM Folder ID.",
                          "location": "path",
                          "type": "string"
                        },
                        "containerId": {
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "The GTM Container ID."
                        }
                      }
                    }
                  }
                }
              }
            },
            "versions": {
              "methods": {
                "update": {
                  "request": {
                    "$ref": "ContainerVersion"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.update",
                  "description": "Updates a Container Version.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}"
                },
                "delete": {
                  "id": "tagmanager.accounts.containers.versions.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "parameters": {
                    "containerVersionId": {
                      "required": true,
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    }
                  },
                  "description": "Deletes a Container Version."
                },
                "undelete": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "id": "tagmanager.accounts.containers.versions.undelete",
                  "description": "Undeletes a Container Version.",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete"
                },
                "restore": {
                  "parameters": {
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    }
                  },
                  "description": "Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).",
                  "id": "tagmanager.accounts.containers.versions.restore",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "response": {
                    "$ref": "ContainerVersion"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ]
                },
                "list": {
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "response": {
                    "$ref": "ListContainerVersionsResponse"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "headers": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Retrieve headers only when true.",
                      "default": "false"
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "includeDeleted": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Also retrieve deleted (archived) versions when true.",
                      "default": "false"
                    }
                  },
                  "description": "Lists all Container Versions of a GTM Container.",
                  "id": "tagmanager.accounts.containers.versions.list",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ]
                },
                "publish": {
                  "parameters": {
                    "containerVersionId": {
                      "description": "The GTM Container Version ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the container version in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    }
                  },
                  "description": "Publishes a Container Version.",
                  "id": "tagmanager.accounts.containers.versions.publish",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "response": {
                    "$ref": "PublishContainerVersionResponse"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "CreateContainerVersionResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions",
                  "description": "Creates a Container Version.",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "CreateContainerVersionRequestVersionOptions"
                  },
                  "id": "tagmanager.accounts.containers.versions.create"
                },
                "get": {
                  "id": "tagmanager.accounts.containers.versions.get",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "containerVersionId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerVersionId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container Version ID. Specify published to retrieve the currently published version."
                    }
                  },
                  "description": "Gets a Container Version.",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.edit.containerversions",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}",
                  "response": {
                    "$ref": "ContainerVersion"
                  }
                }
              }
            },
            "variables": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "response": {
                    "$ref": "Variable"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.get",
                  "description": "Gets a GTM Variable.",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "variableId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Variable ID."
                    }
                  }
                },
                "create": {
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "request": {
                    "$ref": "Variable"
                  },
                  "id": "tagmanager.accounts.containers.variables.create",
                  "description": "Creates a GTM Variable.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "response": {
                    "$ref": "Variable"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables"
                },
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "response": {
                    "$ref": "ListVariablesResponse"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "id": "tagmanager.accounts.containers.variables.list",
                  "description": "Lists all GTM Variables of a Container.",
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  }
                },
                "update": {
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "response": {
                    "$ref": "Variable"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "request": {
                    "$ref": "Variable"
                  },
                  "id": "tagmanager.accounts.containers.variables.update",
                  "description": "Updates a GTM Variable.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "variableId": {
                      "required": true,
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "description": "When provided, this fingerprint must match the fingerprint of the variable in storage.",
                      "location": "query",
                      "type": "string"
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "description": "Deletes a GTM Variable.",
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}",
                  "parameters": {
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    },
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "variableId": {
                      "description": "The GTM Variable ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "variableId"
                  ],
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "id": "tagmanager.accounts.containers.variables.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/variables/{variableId}"
                }
              }
            },
            "tags": {
              "methods": {
                "create": {
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "response": {
                    "$ref": "Tag"
                  },
                  "id": "tagmanager.accounts.containers.tags.create",
                  "request": {
                    "$ref": "Tag"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "Creates a GTM Tag."
                },
                "get": {
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "id": "tagmanager.accounts.containers.tags.get",
                  "description": "Gets a GTM Tag.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "tagId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Tag ID.",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "response": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}"
                },
                "update": {
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "response": {
                    "$ref": "Tag"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "request": {
                    "$ref": "Tag"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "id": "tagmanager.accounts.containers.tags.update",
                  "description": "Updates a GTM Tag.",
                  "parameters": {
                    "accountId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID.",
                      "required": true
                    },
                    "tagId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Tag ID."
                    },
                    "containerId": {
                      "required": true,
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string"
                    },
                    "fingerprint": {
                      "location": "query",
                      "type": "string",
                      "description": "When provided, this fingerprint must match the fingerprint of the tag in storage."
                    }
                  }
                },
                "delete": {
                  "id": "tagmanager.accounts.containers.tags.delete",
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers"
                  ],
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "tagId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags/{tagId}",
                  "parameters": {
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    },
                    "tagId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Tag ID."
                    },
                    "containerId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID."
                    }
                  },
                  "description": "Deletes a GTM Tag."
                },
                "list": {
                  "parameters": {
                    "accountId": {
                      "description": "The GTM Account ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "containerId": {
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Container ID.",
                      "required": true
                    }
                  },
                  "description": "Lists all GTM Tags of a Container.",
                  "id": "tagmanager.accounts.containers.tags.list",
                  "parameterOrder": [
                    "accountId",
                    "containerId"
                  ],
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "response": {
                    "$ref": "ListTagsResponse"
                  },
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/tags",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.edit.containers",
                    "https://www.googleapis.com/auth/tagmanager.readonly"
                  ]
                }
              }
            },
            "reauthorize_environments": {
              "methods": {
                "update": {
                  "response": {
                    "$ref": "Environment"
                  },
                  "path": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "httpMethod": "PUT",
                  "scopes": [
                    "https://www.googleapis.com/auth/tagmanager.publish"
                  ],
                  "flatPath": "tagmanager/v1/accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}",
                  "description": "Re-generates the authorization code for a GTM Environment.",
                  "parameters": {
                    "containerId": {
                      "description": "The GTM Container ID.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "environmentId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Environment ID."
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The GTM Account ID."
                    }
                  },
                  "request": {
                    "$ref": "Environment"
                  },
                  "parameterOrder": [
                    "accountId",
                    "containerId",
                    "environmentId"
                  ],
                  "id": "tagmanager.accounts.containers.reauthorize_environments.update"
                }
              }
            }
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "canonicalName": "Tag Manager",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tagmanager.readonly": {
          "description": "View your Google Tag Manager container and its subcomponents"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containerversions": {
          "description": "Manage your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.delete.containers": {
          "description": "Delete your Google Tag Manager containers"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.users": {
          "description": "Manage user permissions of your Google Tag Manager account and container"
        },
        "https://www.googleapis.com/auth/tagmanager.publish": {
          "description": "Publish your Google Tag Manager container versions"
        },
        "https://www.googleapis.com/auth/tagmanager.edit.containers": {
          "description": "Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"
        },
        "https://www.googleapis.com/auth/tagmanager.manage.accounts": {
          "description": "View and manage your Google Tag Manager accounts"
        }
      }
    }
  },
  "rootUrl": "https://tagmanager.googleapis.com/",
  "schemas": {
    "CreateContainerVersionResponse": {
      "id": "CreateContainerVersionResponse",
      "description": "Create container versions response.",
      "type": "object",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "description": "Compiler errors or not.",
          "type": "boolean"
        }
      }
    },
    "ContainerVersionHeader": {
      "type": "object",
      "properties": {
        "containerVersionId": {
          "type": "string",
          "description": "The Container Version ID uniquely identifies the GTM Container Version."
        },
        "deleted": {
          "description": "A value of true indicates this container version has been deleted.",
          "type": "boolean"
        },
        "numTriggers": {
          "type": "string",
          "description": "Number of triggers in the container version."
        },
        "numVariables": {
          "description": "Number of variables in the container version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Container version display name."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "numTags": {
          "description": "Number of tags in the container version.",
          "type": "string"
        }
      },
      "description": "Represents a Google Tag Manager Container Version Header.",
      "id": "ContainerVersionHeader"
    },
    "ListContainersResponse": {
      "type": "object",
      "properties": {
        "containers": {
          "description": "All Containers of a GTM Account.",
          "type": "array",
          "items": {
            "$ref": "Container"
          }
        }
      },
      "description": "List Containers Response.",
      "id": "ListContainersResponse"
    },
    "Environment": {
      "id": "Environment",
      "description": "Represents a Google Tag Manager Environment. Note that a user can create, delete and update environments of type USER, but can only update the enable_debug and url fields of environments of other types.",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "The environment description. Can be set or changed only on USER type environments."
        },
        "enableDebug": {
          "description": "Whether or not to enable debug by default on for the environment.",
          "type": "boolean"
        },
        "authorizationTimestampMs": {
          "description": "The last update time-stamp for the authorization code.",
          "format": "int64",
          "type": "string"
        },
        "type": {
          "description": "The type of this environment.",
          "type": "string",
          "enumDescriptions": [
            "Used for user defined environments.",
            "Used for Live environment, which points to the live published container version.",
            "Used for Latest environment, which points to the latest created container version.",
            "Used for Draft environment, which points to the single draft in the container."
          ],
          "enum": [
            "user",
            "live",
            "latest",
            "draft"
          ]
        },
        "accountId": {
          "type": "string",
          "description": "GTM Account ID."
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        },
        "authorizationCode": {
          "description": "The environment authorization code.",
          "type": "string"
        },
        "containerVersionId": {
          "type": "string"
        },
        "url": {
          "description": "Default preview page url for the environment.",
          "type": "string"
        },
        "environmentId": {
          "description": "GTM Environment ID uniquely identifies the GTM Environment.",
          "type": "string"
        },
        "fingerprint": {
          "description": "The fingerprint of the GTM environment as computed at storage time. This value is recomputed whenever the environment is modified.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The environment display name. Can be set or changed only on USER type environments."
        }
      }
    },
    "ListVariablesResponse": {
      "id": "ListVariablesResponse",
      "type": "object",
      "properties": {
        "variables": {
          "items": {
            "$ref": "Variable"
          },
          "description": "All GTM Variables of a GTM Container.",
          "type": "array"
        }
      },
      "description": "List Variables Response."
    },
    "ListEnvironmentsResponse": {
      "id": "ListEnvironmentsResponse",
      "type": "object",
      "properties": {
        "environments": {
          "description": "All Environments of a GTM Container.",
          "type": "array",
          "items": {
            "$ref": "Environment"
          }
        }
      },
      "description": "List Environments Response."
    },
    "UserAccess": {
      "type": "object",
      "properties": {
        "accountAccess": {
          "description": "GTM Account access permissions.",
          "$ref": "AccountAccess"
        },
        "emailAddress": {
          "type": "string",
          "description": "User's email address."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "permissionId": {
          "type": "string",
          "description": "Account Permission ID."
        },
        "containerAccess": {
          "description": "GTM Container access permissions.",
          "type": "array",
          "items": {
            "$ref": "ContainerAccess"
          }
        }
      },
      "description": "Represents a user's permissions to an account and its container.",
      "id": "UserAccess"
    },
    "Trigger": {
      "description": "Represents a Google Tag Manager Trigger",
      "type": "object",
      "properties": {
        "triggerId": {
          "description": "The Trigger ID uniquely identifies the GTM Trigger.",
          "type": "string"
        },
        "visiblePercentageMax": {
          "description": "A visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "totalTimeMinMilliseconds": {
          "description": "A visibility trigger minimum total visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "parentFolderId": {
          "description": "Parent folder id.",
          "type": "string"
        },
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "pageview",
            "domReady",
            "windowLoaded",
            "customEvent",
            "triggerGroup",
            "always",
            "formSubmission",
            "click",
            "linkClick",
            "jsError",
            "historyChange",
            "timer",
            "ampClick",
            "ampTimer",
            "ampScroll",
            "ampVisibility",
            "youTubeVideo",
            "scrollDepth",
            "elementVisibility"
          ],
          "type": "string",
          "description": "Defines the data layer event that causes this trigger."
        },
        "interval": {
          "description": "Time between triggering recurring Timer Events (in milliseconds). Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "customEventFilter": {
          "type": "array",
          "description": "Used in the case of custom event, which is fired iff all Conditions are true.",
          "items": {
            "$ref": "Condition"
          }
        },
        "autoEventFilter": {
          "items": {
            "$ref": "Condition"
          },
          "type": "array",
          "description": "Used in the case of auto event tracking."
        },
        "waitForTags": {
          "description": "Whether or not we should delay the form submissions or link opening until all of the tags have fired (by preventing the default action and later simulating the default action). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "parameter": {
          "description": "Additional parameters.",
          "type": "array",
          "items": {
            "$ref": "Parameter"
          }
        },
        "waitForTagsTimeout": {
          "description": "How long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates to true. Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "visibilitySelector": {
          "description": "A visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "checkValidation": {
          "description": "Whether or not we should only fire tags if the form submit or link click event is not cancelled by some other event handler (e.g. because of validation). Only valid for Form Submission and Link Click triggers.",
          "$ref": "Parameter"
        },
        "filter": {
          "description": "The trigger will only fire iff all Conditions are true.",
          "type": "array",
          "items": {
            "$ref": "Condition"
          }
        },
        "maxTimerLengthSeconds": {
          "description": "Max time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "limit": {
          "description": "Limit of the number of GTM events this Timer Trigger will fire. If no limit is set, we will continue to fire GTM events until the user leaves the page. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "uniqueTriggerId": {
          "description": "Globally unique id of the trigger that auto-generates this (a Form Submit, Link Click or Timer listener) if any. Used to make incompatible auto-events work together with trigger filtering based on trigger ids. This value is populated during output generation since the tags implied by triggers don't exist until then. Only valid for Form Submit, Link Click and Timer triggers.",
          "$ref": "Parameter"
        },
        "continuousTimeMinMilliseconds": {
          "description": "A visibility trigger minimum continuous visible time (in milliseconds). Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Trigger as computed at storage time. This value is recomputed whenever the trigger is modified."
        },
        "eventName": {
          "description": "Name of the GTM event that is fired. Only valid for Timer triggers.",
          "$ref": "Parameter"
        },
        "intervalSeconds": {
          "description": "Time between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.",
          "$ref": "Parameter"
        },
        "visiblePercentageMin": {
          "description": "A visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.",
          "$ref": "Parameter"
        },
        "horizontalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled horizontally. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "verticalScrollPercentageList": {
          "description": "List of integer percentage values for scroll triggers. The trigger will fire when each percentage is reached when the view is scrolled vertically. Only valid for AMP scroll triggers.",
          "$ref": "Parameter"
        },
        "name": {
          "type": "string",
          "description": "Trigger display name."
        },
        "accountId": {
          "description": "GTM Account ID.",
          "type": "string"
        },
        "containerId": {
          "type": "string",
          "description": "GTM Container ID."
        },
        "selector": {
          "description": "A click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click trigger.",
          "$ref": "Parameter"
        }
      },
      "id": "Trigger"
    },
    "SetupTag": {
      "id": "SetupTag",
      "type": "object",
      "properties": {
        "tagName": {
          "type": "string",
          "description": "The name of the setup tag."
        },
        "stopOnSetupFailure": {
          "description": "If true, fire the main tag if and only if the setup tag fires successfully. If false, fire the main tag regardless of setup tag firing status.",
          "type": "boolean"
        }
      }
    },
    "CreateContainerVersionRequestVersionOptions": {
      "type": "object",
      "properties": {
        "quickPreview": {
          "description": "The creation of this version may be for quick preview and shouldn't be saved.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The name of the container version to be created."
        },
        "notes": {
          "type": "string",
          "description": "The notes of the container version to be created."
        }
      },
      "description": "Options for new container versions.",
      "id": "CreateContainerVersionRequestVersionOptions"
    },
    "Account": {
      "id": "Account",
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The Account ID uniquely identifies the GTM Account."
        },
        "shareData": {
          "type": "boolean",
          "description": "Whether the account shares data anonymously with Google and others."
        },
        "name": {
          "type": "string",
          "description": "Account display name."
        },
        "fingerprint": {
          "type": "string",
          "description": "The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified."
        }
      },
      "description": "Represents a Google Tag Manager Account."
    },
    "ContainerAccess": {
      "type": "object",
      "properties": {
        "permission": {
          "items": {
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "read",
              "edit",
              "publish",
              "delete",
              "manage",
              "editWorkspace"
            ],
            "type": "string"
          },
          "description": "List of Container permissions. Valid container permissions are: read, edit, delete, publish.",
          "type": "array"
        },
        "containerId": {
          "description": "GTM Container ID.",
          "type": "string"
        }
      },
      "description": "Defines the Google Tag Manager Container access permissions.",
      "id": "ContainerAccess"
    },
    "ListContainerVersionsResponse": {
      "id": "ListContainerVersionsResponse",
      "type": "object",
      "properties": {
        "containerVersion": {
          "items": {
            "$ref": "ContainerVersion"
          },
          "type": "array",
          "description": "All versions of a GTM Container."
        },
        "containerVersionHeader": {
          "items": {
            "$ref": "ContainerVersionHeader"
          },
          "type": "array",
          "description": "All container version headers of a GTM Container."
        }
      },
      "description": "List container versions response."
    },
    "PublishContainerVersionResponse": {
      "id": "PublishContainerVersionResponse",
      "description": "Publish container version response.",
      "type": "object",
      "properties": {
        "containerVersion": {
          "description": "The container version created.",
          "$ref": "ContainerVersion"
        },
        "compilerError": {
          "type": "boolean",
          "description": "Compiler errors or not."
        }
      }
    },
    "FolderEntities": {
      "id": "FolderEntities",
      "description": "Represents a Google Tag Manager Folder's contents.",
      "type": "object",
      "properties": {
        "tag": {
          "items": {
            "$ref": "Tag"
          },
          "type": "array",
          "description": "The list of tags inside the folder."
        },
        "variable": {
          "items": {
            "$ref": "Variable"
          },
          "type": "array",
          "description": "The list of variables inside the folder."
        },
        "trigger": {
          "type": "array",
          "description": "The list of triggers inside the folder.",
          "items": {
            "$ref": "Trigger"
          }
        }
      }
    },
    "ListTagsResponse": {
      "id": "ListTagsResponse",
      "description": "List Tags Response.",
      "type": "object",
      "properties": {
        "tags": {
          "type": "array",
          "description": "All GTM Tags of a GTM Container.",
          "items": {
            "$ref": "Tag"
          }
        }
      }
    },
    "Condition": {
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "equals",
            "contains",
            "startsWith",
            "endsWith",
            "matchRegex",
            "greater",
            "greaterOrEquals",
            "less",
            "lessOrEquals",
            "cssSelector",
            "urlMatches"
          ],
          "type": "string",
          "description": "The type of operator for this condition."
        },
        "parameter": {
          "items": {
            "$ref": "Parameter"
          },
          "type": "array",
          "description": "A list of named parameters (key/value), depending on the condition's type. Notes: - For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. - At this time, the left operand (arg0) must be a reference to a variable. - For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. - To negate an operator, include a boolean parameter named negate boolean parameter that is set to true. "
        }
      },
      "description": "Represents a predicate.",
      "id": "Condition"
    },
    "ListAccountsResponse": {
      "id": "ListAccountsResponse",
      "type": "object",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "Account"
          },
          "description": "List of GTM Accounts that a user has access to.",
          "type": "array"
        }
      },
      "description": "List Accounts Response."
    },
    "AccountAccess": {
      "description": "Defines the Google Tag Manager Account access permissions.",
      "type": "object",
      "properties": {
        "permission": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "enum": [
              "read",
              "edit",
[...]
