{
  "canonicalName": "Tasks",
  "discoveryVersion": "v1",
  "rootUrl": "https://tasks.googleapis.com/",
  "title": "Google Tasks API",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "baseUrl": "https://tasks.googleapis.com/",
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "ownerDomain": "google.com",
  "revision": "20260407",
  "batchPath": "batch",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "basePath": "",
  "resources": {
    "tasks": {
      "methods": {
        "delete": {
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            },
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there.",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "id": "tasks.tasks.delete"
        },
        "update": {
          "description": "Updates the specified task.",
          "id": "tasks.tasks.update",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "request": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "task": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task identifier."
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameters": {
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "id": "tasks.tasks.get",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Task"
          },
          "description": "Returns the specified task."
        },
        "list": {
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameters": {
            "dueMax": {
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query",
              "type": "string"
            },
            "showHidden": {
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "completedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date."
            },
            "dueMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100)."
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "showCompleted": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True."
            },
            "completedMax": {
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "location": "query",
              "type": "boolean",
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False."
            },
            "updatedMin": {
              "location": "query",
              "type": "string",
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time."
            },
            "showAssigned": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying the result page to return. Optional."
            }
          },
          "id": "tasks.tasks.list",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "httpMethod": "GET",
          "response": {
            "$ref": "Tasks"
          },
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time."
        },
        "clear": {
          "id": "tasks.tasks.clear",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "httpMethod": "POST",
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list.",
          "path": "tasks/v1/lists/{tasklist}/clear",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          }
        },
        "insert": {
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "previous": {
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "httpMethod": "POST",
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.insert"
        },
        "move": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "httpMethod": "POST",
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.move",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "task": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task identifier."
            },
            "previous": {
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "location": "query",
              "type": "string"
            },
            "destinationTasklist": {
              "location": "query",
              "type": "string",
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists."
            },
            "parent": {
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "location": "query",
              "type": "string"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task."
        },
        "patch": {
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            },
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          },
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "request": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.patch",
          "description": "Updates the specified task. This method supports patch semantics."
        }
      }
    },
    "tasklists": {
      "methods": {
        "patch": {
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "TaskList"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "id": "tasks.tasklists.patch",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "insert": {
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "id": "tasks.tasklists.insert",
          "parameterOrder": [],
          "request": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists",
          "httpMethod": "POST",
          "response": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "parameters": {}
        },
        "get": {
          "description": "Returns the authenticated user's specified task list.",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "GET",
          "response": {
            "$ref": "TaskList"
          },
          "id": "tasks.tasklists.get",
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "list": {
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "id": "tasks.tasklists.list",
          "flatPath": "tasks/v1/users/@me/lists",
          "httpMethod": "GET",
          "response": {
            "$ref": "TaskLists"
          },
          "parameterOrder": [],
          "parameters": {
            "maxResults": {
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Token specifying the result page to return. Optional."
            }
          },
          "path": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ]
        },
        "update": {
          "description": "Updates the authenticated user's specified task list.",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasklists.update",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "TaskList"
          },
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "TaskList"
          }
        },
        "delete": {
          "id": "tasks.tasklists.delete",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "tasklist"
          ],
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "parameters": {
            "tasklist": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "Task list identifier."
            }
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        }
      }
    }
  },
  "schemas": {
    "Tasks": {
      "type": "object",
      "id": "Tasks",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "description": "Collection of tasks.",
          "items": {
            "$ref": "Task"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#tasks\"."
        }
      }
    },
    "TaskList": {
      "type": "object",
      "properties": {
        "updated": {
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "readOnly": true,
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Title of the task list. Maximum length allowed: 1024 characters."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "selfLink": {
          "type": "string",
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "readOnly": true
        },
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        }
      },
      "id": "TaskList"
    },
    "SpaceInfo": {
      "type": "object",
      "id": "SpaceInfo",
      "description": "Information about the Chat Space where a task was assigned from.",
      "properties": {
        "space": {
          "type": "string",
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
          "readOnly": true
        }
      }
    },
    "TaskLists": {
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "items": {
            "$ref": "TaskList"
          },
          "type": "array",
          "description": "Collection of task lists."
        },
        "kind": {
          "type": "string",
          "description": "Type of the resource. This is always \"tasks#taskLists\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token that can be used to request the next page of this result."
        }
      },
      "id": "TaskLists",
      "type": "object"
    },
    "AssignmentInfo": {
      "type": "object",
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "properties": {
        "driveResourceInfo": {
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only.",
          "readOnly": true,
          "$ref": "DriveResourceInfo"
        },
        "surfaceType": {
          "readOnly": true,
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "type": "string"
        },
        "linkToTask": {
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "readOnly": true,
          "type": "string"
        },
        "spaceInfo": {
          "$ref": "SpaceInfo",
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only.",
          "readOnly": true
        }
      },
      "id": "AssignmentInfo"
    },
    "Task": {
      "type": "object",
      "properties": {
        "selfLink": {
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "readOnly": true,
          "type": "string"
        },
        "notes": {
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
          "type": "string"
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "deleted": {
          "type": "boolean",
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False."
        },
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "position": {
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
          "readOnly": true,
          "type": "string"
        },
        "parent": {
          "type": "string",
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "readOnly": true
        },
        "links": {
          "items": {
            "properties": {
              "description": {
                "type": "string",
                "description": "The description (might be empty)."
              },
              "type": {
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                "type": "string"
              },
              "link": {
                "type": "string",
                "description": "The URL."
              }
            },
            "type": "object"
          },
          "type": "array",
          "description": "Output only. Collection of links. This collection is read-only.",
          "readOnly": true
        },
        "due": {
          "type": "string",
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API."
        },
        "assignmentInfo": {
          "$ref": "AssignmentInfo",
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only.",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Title of the task. Maximum length allowed: 1024 characters."
        },
        "kind": {
          "type": "string",
          "description": "Output only. Type of the resource. This is always \"tasks#task\".",
          "readOnly": true
        },
        "webViewLink": {
          "type": "string",
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "readOnly": true
        },
        "completed": {
          "type": "string",
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed."
        },
        "updated": {
          "type": "string",
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "readOnly": true
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "description": "Status of the task. This is either \"needsAction\" or \"completed\"."
        }
      },
      "id": "Task"
    },
    "DriveResourceInfo": {
      "id": "DriveResourceInfo",
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
      "properties": {
        "driveFileId": {
          "description": "Output only. Identifier of the file in the Drive API.",
          "readOnly": true,
          "type": "string"
        },
        "resourceKey": {
          "type": "string",
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
          "readOnly": true
        }
      },
      "type": "object"
    }
  },
  "version": "v1",
  "id": "tasks:v1",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "name": "tasks",
  "servicePath": ""
}