{
  "basePath": "",
  "batchPath": "batch",
  "servicePath": "",
  "canonicalName": "Tasks",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/workspace/tasks/",
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "id": "tasks:v1",
  "baseUrl": "https://tasks.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/tasks": {
          "description": "Create, edit, organize, and delete all your tasks"
        },
        "https://www.googleapis.com/auth/tasks.readonly": {
          "description": "View your tasks"
        }
      }
    }
  },
  "description": "The Google Tasks API lets you manage your tasks and task lists.",
  "mtlsRootUrl": "https://tasks.mtls.googleapis.com/",
  "ownerName": "Google",
  "version": "v1",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "rootUrl": "https://tasks.googleapis.com/",
  "resources": {
    "tasklists": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns the authenticated user's specified task list.",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "TaskList"
          },
          "id": "tasks.tasklists.get",
          "httpMethod": "GET",
          "path": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "insert": {
          "flatPath": "tasks/v1/users/@me/lists",
          "parameterOrder": [],
          "request": {
            "$ref": "TaskList"
          },
          "description": "Creates a new task list and adds it to the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "path": "tasks/v1/users/@me/lists",
          "id": "tasks.tasklists.insert",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "TaskList"
          }
        },
        "patch": {
          "description": "Updates the authenticated user's specified task list. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "TaskList"
          },
          "path": "tasks/v1/users/@me/lists/{tasklist}"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "Maximum number of task lists returned on one page. Optional. The default is 1000 (max allowed: 1000).",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TaskLists"
          },
          "id": "tasks.tasklists.list",
          "httpMethod": "GET",
          "path": "tasks/v1/users/@me/lists",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns all the authenticated user's task lists. A user can have up to 2000 lists at a time.",
          "parameterOrder": [],
          "flatPath": "tasks/v1/users/@me/lists"
        },
        "update": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "id": "tasks.tasklists.update",
          "httpMethod": "PUT",
          "parameters": {
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TaskList"
          },
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "request": {
            "$ref": "TaskList"
          },
          "description": "Updates the authenticated user's specified task list.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "delete": {
          "path": "tasks/v1/users/@me/lists/{tasklist}",
          "flatPath": "tasks/v1/users/@me/lists/{tasklist}",
          "parameterOrder": [
            "tasklist"
          ],
          "id": "tasks.tasklists.delete",
          "httpMethod": "DELETE",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes the authenticated user's specified task list. If the list contains assigned tasks, both the assigned tasks and the original tasks in the assignment surface (Docs, Chat Spaces) are deleted.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        }
      }
    },
    "tasks": {
      "methods": {
        "get": {
          "parameters": {
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "location": "path",
              "type": "string"
            },
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "Task"
          },
          "id": "tasks.tasks.get",
          "httpMethod": "GET",
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns the specified task.",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "insert": {
          "id": "tasks.tasks.insert",
          "httpMethod": "POST",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "parent": {
              "description": "Parent task identifier. If the task is created at the top level, this parameter is omitted. An assigned task cannot be a parent task, nor can it have a parent. Setting the parent to an assigned task results in failure of the request. Optional.",
              "location": "query",
              "type": "string"
            },
            "previous": {
              "description": "Previous sibling task identifier. If the task is created at the first position among its siblings, this parameter is omitted. Optional.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "request": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks",
          "parameterOrder": [
            "tasklist"
          ],
          "description": "Creates a new task on the specified task list. Tasks assigned from Docs or Chat Spaces cannot be inserted from Tasks Public API; they can only be created by assigning them from Docs or Chat Spaces. A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ]
        },
        "patch": {
          "request": {
            "$ref": "Task"
          },
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "description": "Updates the specified task. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "id": "tasks.tasks.patch",
          "httpMethod": "PATCH",
          "parameters": {
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "location": "path",
              "type": "string"
            },
            "task": {
              "required": true,
              "description": "Task identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}"
        },
        "move": {
          "id": "tasks.tasks.move",
          "httpMethod": "POST",
          "parameters": {
            "previous": {
              "description": "Optional. New previous sibling task identifier. If the task is moved to the first position among its siblings, this parameter is omitted. The task set as previous must exist in the task list and can not be hidden. Exceptions: 1. Tasks that are both completed and hidden can only be moved to position 0, so the previous field must be empty.",
              "location": "query",
              "type": "string"
            },
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "parent": {
              "description": "Optional. New parent task identifier. If the task is moved to the top level, this parameter is omitted. The task set as parent must exist in the task list and can not be hidden. Exceptions: 1. Assigned and repeating tasks cannot be set as parent tasks (have subtasks), or be moved under a parent task (become subtasks). 2. Tasks that are both completed and hidden cannot be nested, so the parent field must be empty.",
              "location": "query",
              "type": "string"
            },
            "destinationTasklist": {
              "description": "Optional. Destination task list identifier. If set, the task is moved from tasklist to the destinationTasklist list. Otherwise the task is moved within its current list. Recurrent tasks cannot currently be moved between lists.",
              "location": "query",
              "type": "string"
            },
            "task": {
              "required": true,
              "description": "Task identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "description": "Moves the specified task to another position in the destination task list. If the destination list is not specified, the task is moved within its current list. This can include putting it as a child task under a new parent and/or move it to a different position among its sibling tasks. A user can have up to 2,000 subtasks per task.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}/move",
          "parameterOrder": [
            "tasklist",
            "task"
          ]
        },
        "update": {
          "description": "Updates the specified task.",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "request": {
            "$ref": "Task"
          },
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "id": "tasks.tasks.update",
          "httpMethod": "PUT",
          "parameters": {
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "location": "path",
              "type": "string"
            },
            "task": {
              "required": true,
              "description": "Task identifier.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Task"
          }
        },
        "clear": {
          "parameterOrder": [
            "tasklist"
          ],
          "path": "tasks/v1/lists/{tasklist}/clear",
          "flatPath": "tasks/v1/lists/{tasklist}/clear",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "tasks.tasks.clear",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Clears all completed tasks from the specified task list. The affected tasks will be marked as 'hidden' and no longer be returned by default when retrieving all tasks for a task list."
        },
        "delete": {
          "parameterOrder": [
            "tasklist",
            "task"
          ],
          "path": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "flatPath": "tasks/v1/lists/{tasklist}/tasks/{task}",
          "parameters": {
            "tasklist": {
              "description": "Task list identifier.",
              "location": "path",
              "type": "string",
              "required": true
            },
            "task": {
              "description": "Task identifier.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "tasks.tasks.delete",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/tasks"
          ],
          "description": "Deletes the specified task from the task list. If the task is assigned, both the assigned task and the original task (in Docs, Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there."
        },
        "list": {
          "parameters": {
            "showCompleted": {
              "description": "Flag indicating whether completed tasks are returned in the result. Note that showHidden must also be True to show tasks completed in first party clients, such as the web UI and Google's mobile apps. Optional. The default is True.",
              "location": "query",
              "type": "boolean"
            },
            "completedMax": {
              "description": "Upper bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query",
              "type": "string"
            },
            "completedMin": {
              "description": "Lower bound for a task's completion date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by completion date.",
              "location": "query",
              "type": "string"
            },
            "updatedMin": {
              "description": "Lower bound for a task's last modification time (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by last modification time.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Maximum number of tasks returned on one page. Optional. The default is 20 (max allowed: 100).",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "showAssigned": {
              "description": "Optional. Flag indicating whether tasks assigned to the current user are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "description": "Token specifying the result page to return. Optional.",
              "location": "query",
              "type": "string"
            },
            "dueMax": {
              "description": "Upper bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query",
              "type": "string"
            },
            "showDeleted": {
              "description": "Flag indicating whether deleted tasks are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            },
            "dueMin": {
              "description": "Lower bound for a task's due date (as a RFC 3339 timestamp) to filter by. Optional. The default is not to filter by due date.",
              "location": "query",
              "type": "string"
            },
            "tasklist": {
              "required": true,
              "description": "Task list identifier.",
              "location": "path",
              "type": "string"
            },
            "showHidden": {
              "description": "Flag indicating whether hidden tasks are returned in the result. Optional. The default is False.",
              "location": "query",
              "type": "boolean"
            }
          },
          "response": {
            "$ref": "Tasks"
          },
          "id": "tasks.tasks.list",
          "httpMethod": "GET",
          "path": "tasks/v1/lists/{tasklist}/tasks",
          "scopes": [
            "https://www.googleapis.com/auth/tasks",
            "https://www.googleapis.com/auth/tasks.readonly"
          ],
          "description": "Returns all tasks in the specified task list. Doesn't return assigned tasks by default (from Docs, Chat Spaces). A user can have up to 20,000 non-hidden tasks per list and up to 100,000 tasks in total at a time.",
          "parameterOrder": [
            "tasklist"
          ],
          "flatPath": "tasks/v1/lists/{tasklist}/tasks"
        }
      }
    }
  },
  "title": "Google Tasks API",
  "schemas": {
    "DriveResourceInfo": {
      "properties": {
        "resourceKey": {
          "readOnly": true,
          "description": "Output only. Resource key required to access files shared via a shared link. Not required for all files. See also developers.google.com/drive/api/guides/resource-keys.",
          "type": "string"
        },
        "driveFileId": {
          "readOnly": true,
          "description": "Output only. Identifier of the file in the Drive API.",
          "type": "string"
        }
      },
      "description": "Information about the Drive resource where a task was assigned from (the document, sheet, etc.).",
      "type": "object",
      "id": "DriveResourceInfo"
    },
    "SpaceInfo": {
      "description": "Information about the Chat Space where a task was assigned from.",
      "type": "object",
      "properties": {
        "space": {
          "description": "Output only. The Chat space where this task originates from. The format is \"spaces/{space}\".",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "SpaceInfo"
    },
    "TaskList": {
      "id": "TaskList",
      "type": "object",
      "properties": {
        "id": {
          "description": "Task list identifier.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "updated": {
          "description": "Output only. Last modification time of the task list (as a RFC 3339 timestamp).",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "readOnly": true,
          "description": "Output only. Type of the resource. This is always \"tasks#taskList\".",
          "type": "string"
        },
        "title": {
          "description": "Title of the task list. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "selfLink": {
          "readOnly": true,
          "description": "Output only. URL pointing to this task list. Used to retrieve, update, or delete this task list.",
          "type": "string"
        }
      }
    },
    "Task": {
      "id": "Task",
      "properties": {
        "deleted": {
          "description": "Flag indicating whether the task has been deleted. For assigned tasks this field is read-only. They can only be deleted by calling tasks.delete, in which case both the assigned task and the original task (in Docs or Chat Spaces) are deleted. To delete the assigned task only, navigate to the assignment surface and unassign the task from there. The default is False.",
          "type": "boolean"
        },
        "selfLink": {
          "description": "Output only. URL pointing to this task. Used to retrieve, update, or delete this task.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "description": "Title of the task. Maximum length allowed: 1024 characters.",
          "type": "string"
        },
        "hidden": {
          "description": "Flag indicating whether the task is hidden. This is the case if the task had been marked completed when the task list was last cleared. The default is False. This field is read-only.",
          "type": "boolean"
        },
        "status": {
          "description": "Status of the task. This is either \"needsAction\" or \"completed\".",
          "type": "string"
        },
        "due": {
          "description": "Scheduled date for the task (as an RFC 3339 timestamp). Optional. This represents the day that the task should be done, or that the task is visible on the calendar grid. It doesn't represent the deadline of the task. Only date information is recorded; the time portion of the timestamp is discarded when setting this field. It isn't possible to read or write the time that a task is scheduled for using the API.",
          "type": "string"
        },
        "completed": {
          "description": "Completion date of the task (as a RFC 3339 timestamp). This field is omitted if the task has not been completed.",
          "type": "string"
        },
        "notes": {
          "description": "Notes describing the task. Tasks assigned from Google Docs cannot have notes. Optional. Maximum length allowed: 8192 characters.",
          "type": "string"
        },
        "updated": {
          "description": "Output only. Last modification time of the task (as a RFC 3339 timestamp).",
          "type": "string",
          "readOnly": true
        },
        "webViewLink": {
          "description": "Output only. An absolute link to the task in the Google Tasks Web UI.",
          "type": "string",
          "readOnly": true
        },
        "position": {
          "description": "Output only. String indicating the position of the task among its sibling tasks under the same parent task or at the top level. If this string is greater than another task's corresponding position string according to lexicographical ordering, the task is positioned after the other task under the same parent task (or at the top level). Use the \"move\" method to move the task to another position.",
          "type": "string",
          "readOnly": true
        },
        "links": {
          "readOnly": true,
          "description": "Output only. Collection of links. This collection is read-only.",
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "link": {
                "description": "The URL.",
                "type": "string"
              },
              "type": {
                "description": "Type of the link, e.g. \"email\", \"generic\", \"chat_message\", \"keep_note\".",
                "type": "string"
              },
              "description": {
                "description": "The description (might be empty).",
                "type": "string"
              }
            }
          }
        },
        "parent": {
          "description": "Output only. Parent task identifier. This field is omitted if it is a top-level task. Use the \"move\" method to move the task under a different parent or to the top level. A parent task can never be an assigned task (from Chat Spaces, Docs). This field is read-only.",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. Type of the resource. This is always \"tasks#task\".",
          "type": "string",
          "readOnly": true
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "id": {
          "description": "Task identifier.",
          "type": "string"
        },
        "assignmentInfo": {
          "readOnly": true,
          "$ref": "AssignmentInfo",
          "description": "Output only. Context information for assigned tasks. A task can be assigned to a user, currently possible from surfaces like Docs and Chat Spaces. This field is populated for tasks assigned to the current user and identifies where the task was assigned from. This field is read-only."
        }
      },
      "type": "object"
    },
    "Tasks": {
      "id": "Tasks",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token used to access the next page of this result.",
          "type": "string"
        },
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#tasks\".",
          "type": "string"
        },
        "items": {
          "description": "Collection of tasks.",
          "type": "array",
          "items": {
            "$ref": "Task"
          }
        }
      }
    },
    "TaskLists": {
      "properties": {
        "etag": {
          "description": "ETag of the resource.",
          "type": "string"
        },
        "kind": {
          "description": "Type of the resource. This is always \"tasks#taskLists\".",
          "type": "string"
        },
        "items": {
          "description": "Collection of task lists.",
          "type": "array",
          "items": {
            "$ref": "TaskList"
          }
        },
        "nextPageToken": {
          "description": "Token that can be used to request the next page of this result.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TaskLists"
    },
    "AssignmentInfo": {
      "properties": {
        "linkToTask": {
          "readOnly": true,
          "description": "Output only. An absolute link to the original task in the surface of assignment (Docs, Chat spaces, etc.).",
          "type": "string"
        },
        "spaceInfo": {
          "readOnly": true,
          "$ref": "SpaceInfo",
          "description": "Output only. Information about the Chat Space where this task originates from. This field is read-only."
        },
        "driveResourceInfo": {
          "readOnly": true,
          "$ref": "DriveResourceInfo",
          "description": "Output only. Information about the Drive file where this task originates from. Currently, the Drive file can only be a document. This field is read-only."
        },
        "surfaceType": {
          "enumDescriptions": [
            "Unknown value for this task's context.",
            "The task is created from Gmail.",
            "The task is assigned from a document.",
            "The task is assigned from a Chat Space."
          ],
          "description": "Output only. The type of surface this assigned task originates from. Currently limited to DOCUMENT or SPACE.",
          "enum": [
            "CONTEXT_TYPE_UNSPECIFIED",
            "GMAIL",
            "DOCUMENT",
            "SPACE"
          ],
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Information about the source of the task assignment (Document, Chat Space).",
      "type": "object",
      "id": "AssignmentInfo"
    }
  },
  "revision": "20260426",
  "name": "tasks"
}