{
  "ownerName": "Google",
  "rootUrl": "https://testing.googleapis.com/",
  "description": "Allows developers to run automated tests for their mobile applications on Google infrastructure.",
  "protocol": "rest",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-platform.read-only": {
          "description": "View your data across Google Cloud services and see the email address of your Google Account"
        }
      }
    }
  },
  "title": "Cloud Testing API",
  "discoveryVersion": "v1",
  "revision": "20260501",
  "mtlsRootUrl": "https://testing.mtls.googleapis.com/",
  "id": "testing:v1",
  "resources": {
    "applicationDetailService": {
      "methods": {
        "getApkDetails": {
          "parameterOrder": [],
          "description": "Gets the details of an Android application APK.",
          "path": "v1/applicationDetailService/getApkDetails",
          "request": {
            "$ref": "FileReference"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "bundleLocation.gcsPath": {
              "type": "string",
              "location": "query",
              "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)"
            }
          },
          "response": {
            "$ref": "GetApkDetailsResponse"
          },
          "flatPath": "v1/applicationDetailService/getApkDetails",
          "id": "testing.applicationDetailService.getApkDetails"
        }
      }
    },
    "projects": {
      "resources": {
        "deviceSessions": {
          "methods": {
            "create": {
              "id": "testing.projects.deviceSessions.create",
              "flatPath": "v1/projects/{projectsId}/deviceSessions",
              "response": {
                "$ref": "DeviceSession"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. The Compute Engine project under which this device will be allocated. \"projects/{project_id}\""
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "DeviceSession"
              },
              "path": "v1/{+parent}/deviceSessions",
              "description": "POST /v1/projects/{project_id}/deviceSessions",
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "response": {
                "$ref": "ListDeviceSessionsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The name of the parent to request, e.g. \"projects/{project_id}\"",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. The maximum number of DeviceSessions to return.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. A continuation token for paging."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. If specified, responses will be filtered by the given filter. Allowed fields are: session_state."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "testing.projects.deviceSessions.list",
              "flatPath": "v1/projects/{projectsId}/deviceSessions",
              "path": "v1/{+parent}/deviceSessions",
              "description": "GET /v1/projects/{project_id}/deviceSessions Lists device Sessions owned by the project user.",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET"
            },
            "cancel": {
              "id": "testing.projects.deviceSessions.cancel",
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}:cancel",
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "location": "path",
                  "description": "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "CancelDeviceSessionRequest"
              },
              "path": "v1/{+name}:cancel",
              "description": "POST /v1/projects/{project_id}/deviceSessions/{device_session_id}:cancel Changes the DeviceSession to state FINISHED and terminates all connections. Canceled sessions are not deleted and can be retrieved or listed by the user until they expire based on the 28 day deletion policy.",
              "parameterOrder": [
                "name"
              ]
            },
            "patch": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "location": "path"
                },
                "updateMask": {
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask",
                  "description": "Required. The list of fields to update."
                }
              },
              "response": {
                "$ref": "DeviceSession"
              },
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}",
              "id": "testing.projects.deviceSessions.patch",
              "parameterOrder": [
                "name"
              ],
              "description": "PATCH /v1/projects/{projectId}/deviceSessions/deviceSessionId}:updateDeviceSession Updates the current device session to the fields described by the update_mask.",
              "path": "v1/{+name}",
              "request": {
                "$ref": "DeviceSession"
              },
              "httpMethod": "PATCH"
            },
            "get": {
              "flatPath": "v1/projects/{projectsId}/deviceSessions/{deviceSessionsId}",
              "id": "testing.projects.deviceSessions.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\"",
                  "pattern": "^projects/[^/]+/deviceSessions/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "DeviceSession"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "description": "GET /v1/projects/{project_id}/deviceSessions/{device_session_id} Return a DeviceSession, which documents the allocation status and whether the device is allocated. Clients making requests from this API must poll GetDeviceSession.",
              "path": "v1/{+name}"
            }
          }
        },
        "testMatrices": {
          "methods": {
            "get": {
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}",
              "description": "Checks the status of a test matrix and the executions once they are created. The test matrix will contain the list of test executions to run if and only if the resultStorage.toolResultsExecution fields have been populated. Note: Flaky test executions may be added to the matrix at a later stage. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "TestMatrix"
              },
              "parameters": {
                "projectId": {
                  "description": "Cloud project that owns the test matrix.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "testMatrixId": {
                  "description": "Unique test matrix id which was assigned by the service.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-platform.read-only"
              ],
              "id": "testing.projects.testMatrices.get",
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}"
            },
            "cancel": {
              "httpMethod": "POST",
              "parameterOrder": [
                "projectId",
                "testMatrixId"
              ],
              "description": "Cancels unfinished test executions in a test matrix. This call returns immediately and cancellation proceeds asynchronously. If the matrix is already final, this operation will have no effect. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Test Matrix does not exist",
              "path": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "flatPath": "v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel",
              "id": "testing.projects.testMatrices.cancel",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "projectId": {
                  "description": "Cloud project that owns the test.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "testMatrixId": {
                  "description": "Test matrix that will be canceled.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "response": {
                "$ref": "CancelTestMatrixResponse"
              }
            },
            "create": {
              "parameters": {
                "projectId": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "description": "The GCE project under which this job will run."
                },
                "requestId": {
                  "type": "string",
                  "location": "query",
                  "description": "A string id used to detect duplicated requests. Ids are automatically scoped to a project, so users should ensure the ID is unique per-project. A UUID is recommended. Optional, but strongly recommended."
                }
              },
              "response": {
                "$ref": "TestMatrix"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "testing.projects.testMatrices.create",
              "flatPath": "v1/projects/{projectId}/testMatrices",
              "path": "v1/projects/{projectId}/testMatrices",
              "parameterOrder": [
                "projectId"
              ],
              "description": "Creates and runs a matrix of tests according to the given specifications. Unsupported environments will be returned in the state UNSUPPORTED. A test matrix is limited to use at most 2000 devices in parallel. The returned matrix will not yet contain the executions that will be created for this matrix. Execution creation happens later on and will require a call to GetTestMatrix. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed or if the matrix tries to use too many simultaneous devices.",
              "request": {
                "$ref": "TestMatrix"
              },
              "httpMethod": "POST"
            }
          }
        }
      }
    },
    "testEnvironmentCatalog": {
      "methods": {
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-platform.read-only"
          ],
          "response": {
            "$ref": "TestEnvironmentCatalog"
          },
          "parameters": {
            "projectId": {
              "location": "query",
              "type": "string",
              "description": "For authorization, the cloud project requesting the TestEnvironmentCatalog."
            },
            "environmentType": {
              "required": true,
              "enum": [
                "ENVIRONMENT_TYPE_UNSPECIFIED",
                "ANDROID",
                "IOS",
                "NETWORK_CONFIGURATION",
                "PROVIDED_SOFTWARE",
                "DEVICE_IP_BLOCKS"
              ],
              "description": "Required. The type of environment that should be listed.",
              "type": "string",
              "location": "path",
              "enumDescriptions": [
                "Do not use. For proto versioning only.",
                "A device running a version of the Android OS.",
                "A device running a version of iOS.",
                "A network configuration to use when running a test.",
                "The software environment provided by TestExecutionService.",
                "The IP blocks used by devices in the test environment."
              ]
            },
            "includeViewableModels": {
              "location": "query",
              "type": "boolean",
              "description": "Optional. Whether to include viewable only models in the response. This is only applicable for Android models."
            }
          },
          "flatPath": "v1/testEnvironmentCatalog/{environmentType}",
          "id": "testing.testEnvironmentCatalog.get",
          "description": "Gets the catalog of supported test environments. May return any of the following canonical error codes: - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the environment type does not exist - INTERNAL - if an internal error occurred",
          "parameterOrder": [
            "environmentType"
          ],
          "path": "v1/testEnvironmentCatalog/{environmentType}",
          "httpMethod": "GET"
        }
      }
    }
  },
  "version": "v1",
  "servicePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "name": "testing",
  "basePath": "",
  "kind": "discovery#restDescription",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://testing.googleapis.com/",
  "schemas": {
    "Distribution": {
      "description": "Data about the relative number of devices running a given configuration of the Android platform.",
      "properties": {
        "measurementTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this distribution was measured."
        },
        "marketShare": {
          "description": "Output only. The estimated fraction (0-1) of the total market with this configuration.",
          "type": "number",
          "format": "double"
        }
      },
      "type": "object",
      "id": "Distribution"
    },
    "ToolResultsStep": {
      "description": "Represents a tool results step resource. This has the results of a TestExecution.",
      "properties": {
        "stepId": {
          "type": "string",
          "description": "Output only. A tool results step ID."
        },
        "projectId": {
          "type": "string",
          "description": "Output only. The cloud project that owns the tool results step."
        },
        "historyId": {
          "description": "Output only. A tool results history ID.",
          "type": "string"
        },
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        }
      },
      "type": "object",
      "id": "ToolResultsStep"
    },
    "DirectAccessVersionInfo": {
      "type": "object",
      "id": "DirectAccessVersionInfo",
      "description": "Denotes whether Direct Access is supported, and by which client versions. DirectAccessService is currently available as a preview to select developers. You can register today on behalf of you and your team at https://developer.android.com/studio/preview/android-device-streaming",
      "properties": {
        "directAccessSupported": {
          "type": "boolean",
          "description": "Whether direct access is supported at all. Clients are expected to filter down the device list to only android models and versions which support Direct Access when that is the user intent."
        },
        "minimumAndroidStudioVersion": {
          "type": "string",
          "description": "Output only. Indicates client-device compatibility, where a device is known to work only with certain workarounds implemented in the Android Studio client. Expected format \"major.minor.micro.patch\", e.g. \"5921.22.2211.8881706\"."
        }
      }
    },
    "IosDeviceList": {
      "description": "A list of iOS device configurations in which the test is to be executed.",
      "properties": {
        "iosDevices": {
          "description": "Required. A list of iOS devices.",
          "items": {
            "$ref": "IosDevice"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "IosDeviceList"
    },
    "UsesFeature": {
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-feature-element.html",
      "properties": {
        "isRequired": {
          "type": "boolean",
          "description": "The android:required value"
        },
        "name": {
          "description": "The android:name value",
          "type": "string"
        }
      },
      "id": "UsesFeature",
      "type": "object"
    },
    "TestExecution": {
      "type": "object",
      "id": "TestExecution",
      "description": "A single test executed in a single environment.",
      "properties": {
        "testSpecification": {
          "description": "Output only. How to run the test.",
          "$ref": "TestSpecification"
        },
        "shard": {
          "description": "Output only. Details about the shard.",
          "$ref": "Shard"
        },
        "environment": {
          "description": "Output only. How the host machine(s) are configured.",
          "$ref": "Environment"
        },
        "id": {
          "description": "Output only. Unique id set by the service.",
          "type": "string"
        },
        "timestamp": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time this test execution was initially created."
        },
        "testDetails": {
          "description": "Output only. Additional details about the running test.",
          "$ref": "TestDetails"
        },
        "projectId": {
          "type": "string",
          "description": "Output only. The cloud project that owns the test execution."
        },
        "state": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "Output only. Indicates the current progress of the test execution (e.g., FINISHED).",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "type": "string"
        },
        "toolResultsStep": {
          "description": "Output only. Where the results for this execution are written.",
          "$ref": "ToolResultsStep"
        },
        "matrixId": {
          "type": "string",
          "description": "Output only. Id of the containing TestMatrix."
        }
      }
    },
    "NetworkConfigurationCatalog": {
      "properties": {
        "configurations": {
          "items": {
            "$ref": "NetworkConfiguration"
          },
          "type": "array"
        }
      },
      "id": "NetworkConfigurationCatalog",
      "type": "object"
    },
    "EnvironmentVariable": {
      "description": "A key-value pair passed as an environment variable to the test.",
      "properties": {
        "key": {
          "type": "string",
          "description": "Key for the environment variable."
        },
        "value": {
          "type": "string",
          "description": "Value for the environment variable."
        }
      },
      "id": "EnvironmentVariable",
      "type": "object"
    },
    "PerIosVersionInfo": {
      "type": "object",
      "id": "PerIosVersionInfo",
      "description": "A version-specific information of an iOS model.",
      "properties": {
        "deviceCapacity": {
          "enum": [
            "DEVICE_CAPACITY_UNSPECIFIED",
            "DEVICE_CAPACITY_HIGH",
            "DEVICE_CAPACITY_MEDIUM",
            "DEVICE_CAPACITY_LOW",
            "DEVICE_CAPACITY_NONE"
          ],
          "description": "The number of online devices for an iOS version.",
          "enumDescriptions": [
            "The value of device capacity is unknown or unset.",
            "Devices that are high in capacity (The lab has a large number of these devices). These devices are generally suggested for running a large number of simultaneous tests (e.g. more than 100 tests). Please note that high capacity devices do not guarantee short wait times due to several factors: 1. Traffic (how heavily they are used at any given moment) 2. High capacity devices are prioritized for certain usages, which may cause user tests to be slower than selecting other similar device types.",
            "Devices that are medium in capacity (The lab has a decent number of these devices, though not as many as high capacity devices). These devices are suitable for fewer test runs (e.g. fewer than 100 tests) and only for low shard counts (e.g. less than 10 shards).",
            "Devices that are low in capacity (The lab has a small number of these devices). These devices may be used if users need to test on this specific device model and version. Please note that due to low capacity, the tests may take much longer to finish, especially if a large number of tests are invoked at once. These devices are not suitable for test sharding.",
            "Devices that are completely missing from the lab. These devices are unavailable either temporarily or permanently and should not be requested. If the device is also marked as deprecated, this state is very likely permanent."
          ],
          "type": "string"
        },
        "versionId": {
          "description": "An iOS version.",
          "type": "string"
        }
      }
    },
    "ResultStorage": {
      "type": "object",
      "id": "ResultStorage",
      "description": "Locations where the results of running the test are stored.",
      "properties": {
        "googleCloudStorage": {
          "description": "Required.",
          "$ref": "GoogleCloudStorage"
        },
        "toolResultsExecution": {
          "description": "Output only. The tool results execution that results are written to.",
          "$ref": "ToolResultsExecution"
        },
        "resultsUrl": {
          "description": "Output only. URL to the results in the Firebase Web Console.",
          "type": "string"
        },
        "toolResultsHistory": {
          "description": "The tool results history that contains the tool results execution that results are written to. If not provided, the service will choose an appropriate value.",
          "$ref": "ToolResultsHistory"
        }
      }
    },
    "AndroidRuntimeConfiguration": {
      "description": "Android configuration that can be selected at the time a test is run.",
      "properties": {
        "locales": {
          "type": "array",
          "description": "The set of available locales.",
          "items": {
            "$ref": "Locale"
          }
        },
        "orientations": {
          "description": "The set of available orientations.",
          "items": {
            "$ref": "Orientation"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AndroidRuntimeConfiguration"
    },
    "IosTestSetup": {
      "description": "A description of how to set up an iOS device prior to running the test.",
      "properties": {
        "additionalIpas": {
          "type": "array",
          "description": "iOS apps to install in addition to those being directly tested.",
          "items": {
            "$ref": "FileReference"
          }
        },
        "pushFiles": {
          "type": "array",
          "description": "List of files to push to the device before starting the test.",
          "items": {
            "$ref": "IosDeviceFile"
          }
        },
        "networkProfile": {
          "type": "string",
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog."
        },
        "pullDirectories": {
          "type": "array",
          "description": "List of directories on the device to upload to Cloud Storage at the end of the test. Directories should either be in a shared directory (such as /private/var/mobile/Media) or within an accessible directory inside the app's filesystem (such as /Documents) by specifying the bundle ID.",
          "items": {
            "$ref": "IosDeviceFile"
          }
        }
      },
      "id": "IosTestSetup",
      "type": "object"
    },
    "RoboStartingIntent": {
      "id": "RoboStartingIntent",
      "type": "object",
      "description": "Message for specifying the start activities to crawl.",
      "properties": {
        "timeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Timeout in seconds for each intent."
        },
        "launcherActivity": {
          "description": "An intent that starts the main launcher activity.",
          "$ref": "LauncherActivityIntent"
        },
        "noActivity": {
          "description": "Skips the starting activity",
          "$ref": "NoActivityIntent"
        },
        "startActivity": {
          "description": "An intent that starts an activity with specific details.",
          "$ref": "StartActivityIntent"
        }
      }
    },
    "IosXcTest": {
      "description": "A test of an iOS application that uses the XCTest framework. Xcode supports the option to \"build for testing\", which generates an .xctestrun file that contains a test specification (arguments, test methods, etc). This test type accepts a zip file containing the .xctestrun file and the corresponding contents of the Build/Products directory that contains all the binaries needed to run the tests.",
      "properties": {
        "appBundleId": {
          "description": "Output only. The bundle id for the application under test.",
          "type": "string"
        },
        "testSpecialEntitlements": {
          "description": "The option to test special app entitlements. Setting this would re-sign the app having special entitlements with an explicit application-identifier. Currently supports testing aps-environment entitlement.",
          "type": "boolean"
        },
        "xctestrun": {
          "description": "An .xctestrun file that will override the .xctestrun file in the tests zip. Because the .xctestrun file contains environment variables along with test methods to run and/or ignore, this can be useful for sharding tests. Default is taken from the tests zip.",
          "$ref": "FileReference"
        },
        "testsZip": {
          "description": "Required. The .zip containing the .xctestrun file and the contents of the DerivedData/Build/Products directory. The .xctestrun file in this zip is ignored if the xctestrun field is specified.",
          "$ref": "FileReference"
        },
        "xcodeVersion": {
          "type": "string",
          "description": "The Xcode version that should be used for the test. Use the TestEnvironmentDiscoveryService to get supported options. Defaults to the latest Xcode version Firebase Test Lab supports."
        }
      },
      "type": "object",
      "id": "IosXcTest"
    },
    "Apk": {
      "description": "An Android package file to install.",
      "properties": {
        "location": {
          "description": "The path to an APK to be installed on the device before the test begins.",
          "$ref": "FileReference"
        },
        "packageName": {
          "type": "string",
          "description": "The java package for the APK to be installed. Value is determined by examining the application's manifest."
        }
      },
      "id": "Apk",
      "type": "object"
    },
    "AndroidDevice": {
      "description": "A single Android device.",
      "properties": {
        "androidVersionId": {
          "description": "Required. The id of the Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "orientation": {
          "type": "string",
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "androidModelId": {
          "description": "Required. The id of the Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      },
      "id": "AndroidDevice",
      "type": "object"
    },
    "Service": {
      "id": "Service",
      "type": "object",
      "description": "The section of an tag. https://developer.android.com/guide/topics/manifest/service-element",
      "properties": {
        "name": {
          "type": "string",
          "description": "The android:name value"
        },
        "intentFilter": {
          "type": "array",
          "description": "Intent filters in the service",
          "items": {
            "$ref": "IntentFilter"
          }
        }
      }
    },
    "TestDetails": {
      "type": "object",
      "id": "TestDetails",
      "description": "Additional details about the progress of the running test.",
      "properties": {
        "errorMessage": {
          "description": "Output only. If the TestState is ERROR, then this string will contain human-readable details about the error.",
          "type": "string"
        },
        "progressMessages": {
          "description": "Output only. Human-readable, detailed descriptions of the test's progress. For example: \"Provisioning a device\", \"Starting Test\". During the course of execution new data may be appended to the end of progress_messages.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TestSpecification": {
      "id": "TestSpecification",
      "type": "object",
      "description": "A description of how to run the test.",
      "properties": {
        "iosTestSetup": {
          "description": "Test setup requirements for iOS.",
          "$ref": "IosTestSetup"
        },
        "iosXcTest": {
          "description": "An iOS XCTest, via an .xctestrun file.",
          "$ref": "IosXcTest"
        },
        "testTimeout": {
          "description": "Max time a test execution is allowed to run before it is automatically cancelled. The default value is 5 min.",
          "type": "string",
          "format": "google-duration"
        },
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "testSetup": {
          "description": "Test setup requirements for Android e.g. files to install, bootstrap scripts.",
          "$ref": "TestSetup"
        },
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "iosTestLoop": {
          "description": "An iOS application with a test loop.",
          "$ref": "IosTestLoop"
        },
        "disableVideoRecording": {
          "description": "Disables video recording. May reduce test latency.",
          "type": "boolean"
        },
        "androidTestLoop": {
          "description": "An Android Application with a Test Loop.",
          "$ref": "AndroidTestLoop"
        },
        "disablePerformanceMetrics": {
          "type": "boolean",
          "description": "Disables performance metrics recording. May reduce test latency."
        }
      }
    },
    "RegularFile": {
      "id": "RegularFile",
      "type": "object",
      "description": "A file or directory to install on the device before the test starts.",
      "properties": {
        "devicePath": {
          "type": "string",
          "description": "Required. Where to put the content on the device. Must be an absolute, allowlisted path. If the file exists, it will be replaced. The following device-side directories and any of their subdirectories are allowlisted: ${EXTERNAL_STORAGE}, /sdcard ${ANDROID_DATA}/local/tmp, or /data/local/tmp Specifying a path outside of these directory trees is invalid. The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device and copy the file there. It is strongly advised to use the Environment API in app and test code to access files on the device in a portable way."
        },
        "content": {
          "description": "Required. The source file.",
          "$ref": "FileReference"
        }
      }
    },
    "FileReference": {
      "type": "object",
      "id": "FileReference",
      "description": "A reference to a file, used for user inputs.",
      "properties": {
        "gcsPath": {
          "description": "A path to a file in Google Cloud Storage. Example: gs://build-app-1414623860166/app%40debug-unaligned.apk These paths are expected to be url encoded (percent encoding)",
          "type": "string"
        }
      }
    },
    "ApkDetail": {
      "type": "object",
      "id": "ApkDetail",
      "description": "Android application details based on application manifest and archive contents.",
      "properties": {
        "apkManifest": {
          "$ref": "ApkManifest"
        }
      }
    },
    "TestSetup": {
      "id": "TestSetup",
      "type": "object",
      "description": "A description of how to set up the Android device prior to running the test.",
      "properties": {
        "directoriesToPull": {
          "description": "List of directories on the device to upload to GCS at the end of the test; they must be absolute paths under /sdcard, /storage or /data/local/tmp. Path names are restricted to characters a-z A-Z 0-9 _ - . + and / Note: The paths /sdcard and /data will be made available and treated as implicit path substitutions. E.g. if /sdcard on a particular device does not map to external storage, the system will replace it with the external storage path prefix for that device.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "networkProfile": {
          "type": "string",
          "description": "The network traffic profile used for running the test. Available network profiles can be queried by using the NETWORK_CONFIGURATION environment type when calling TestEnvironmentDiscoveryService.GetTestEnvironmentCatalog."
        },
        "environmentVariables": {
          "type": "array",
          "description": "Environment variables to set for the test (only applicable for instrumentation tests).",
          "items": {
            "$ref": "EnvironmentVariable"
          }
        },
        "additionalApks": {
          "type": "array",
          "description": "APKs to install in addition to those being directly tested. These will be installed after the app under test. Limited to a combined total of 100 initial setup and additional files.",
          "items": {
            "$ref": "Apk"
          }
        },
        "dontAutograntPermissions": {
          "description": "Whether to prevent all runtime permissions to be granted at app install",
          "type": "boolean"
        },
        "filesToPush": {
          "description": "List of files to push to the device before starting the test.",
          "items": {
            "$ref": "DeviceFile"
          },
          "type": "array"
        },
        "systrace": {
          "description": "Systrace configuration for the run. Deprecated: Systrace used Python 2 which was sunsetted on 2020-01-01. Systrace is no longer supported in the Cloud Testing API, and no Systrace file will be provided in the results.",
          "$ref": "SystraceSetup",
          "deprecated": true
        },
        "initialSetupApks": {
          "description": "Optional. Initial setup APKs to install before the app under test is installed. Limited to a combined total of 100 initial setup and additional files.",
          "items": {
            "$ref": "Apk"
          },
          "type": "array"
        },
        "account": {
          "description": "The device will be logged in on this account for the duration of the test.",
          "$ref": "Account"
        }
      }
    },
    "DeviceSession": {
      "id": "DeviceSession",
      "type": "object",
      "description": "Protobuf message describing the device message, used from several RPCs.",
      "properties": {
        "androidDevice": {
          "description": "Required. The requested device",
          "$ref": "AndroidDevice"
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "description": "Output only. Current state of the DeviceSession.",
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ]
        },
        "stateHistories": {
          "description": "Output only. The historical state transitions of the session_state message including the current session state.",
          "readOnly": true,
          "items": {
            "$ref": "SessionStateEvent"
          },
          "type": "array"
        },
        "activeStartTime": {
          "description": "Output only. The timestamp that the session first became ACTIVE.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time that the Session was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the DeviceSession, e.g. \"projects/{project_id}/deviceSessions/{session_id}\""
        },
        "displayName": {
          "type": "string",
          "description": "Output only. The title of the DeviceSession to be presented in the UI.",
          "readOnly": true
        },
        "ttl": {
          "description": "Optional. The amount of time that a device will be initially allocated for. This can eventually be extended with the UpdateDeviceSession RPC. Default: 15 minutes.",
          "type": "string",
          "format": "google-duration"
        },
        "inactivityTimeout": {
          "type": "string",
          "format": "google-duration",
          "description": "Output only. The interval of time that this device must be interacted with before it transitions from ACTIVE to TIMEOUT_INACTIVITY.",
          "readOnly": true
        },
        "expireTime": {
          "description": "Optional. If the device is still in use at this time, any connections will be ended and the SessionState will transition from ACTIVE to FINISHED.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "IosDeviceCatalog": {
      "description": "The currently supported iOS devices.",
      "properties": {
        "xcodeVersions": {
          "type": "array",
          "description": "The set of supported Xcode versions.",
          "items": {
            "$ref": "XcodeVersion"
          }
        },
        "models": {
          "description": "The set of supported iOS device models.",
          "items": {
            "$ref": "IosModel"
          },
          "type": "array"
        },
        "versions": {
          "description": "The set of supported iOS software versions.",
          "items": {
            "$ref": "IosVersion"
          },
          "type": "array"
        },
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "IosRuntimeConfiguration"
        }
      },
      "id": "IosDeviceCatalog",
      "type": "object"
    },
    "ObbFile": {
      "type": "object",
      "id": "ObbFile",
      "description": "An opaque binary blob file to install on the device before the test starts.",
      "properties": {
        "obbFileName": {
          "type": "string",
          "description": "Required. OBB file name which must conform to the format as specified by Android e.g. [main|patch].0300110.com.example.android.obb which will be installed into \\/Android/obb/\\/ on the device."
        },
        "obb": {
          "description": "Required. Opaque Binary Blob (OBB) file(s) to install on the device.",
          "$ref": "FileReference"
        }
      }
    },
    "IosTestLoop": {
      "description": "A test of an iOS application that implements one or more game loop scenarios. This test type accepts an archived application (.ipa file) and a list of integer scenarios that will be executed on the app sequentially.",
      "properties": {
        "scenarios": {
          "type": "array",
          "description": "The list of scenarios that should be run during the test. Defaults to the single scenario 0 if unspecified.",
          "items": {
            "type": "integer",
            "format": "int32"
          }
        },
        "appIpa": {
          "description": "Required. The .ipa of the application to test.",
          "$ref": "FileReference"
        },
        "appBundleId": {
          "type": "string",
          "description": "Output only. The bundle id for the application under test."
        }
      },
      "id": "IosTestLoop",
      "type": "object"
    },
    "EnvironmentMatrix": {
      "id": "EnvironmentMatrix",
      "type": "object",
      "description": "The matrix of environments in which the test is to be executed.",
      "properties": {
        "iosDeviceList": {
          "description": "A list of iOS devices.",
          "$ref": "IosDeviceList"
        },
        "androidDeviceList": {
          "description": "A list of Android devices; the test will be run only on the specified devices.",
          "$ref": "AndroidDeviceList"
        },
        "androidMatrix": {
          "description": "A matrix of Android devices.",
          "$ref": "AndroidMatrix"
        }
      }
    },
    "AndroidInstrumentationTest": {
      "description": "A test of an Android application that can control an Android component independently of its normal lifecycle. Android instrumentation tests run an application APK and test APK inside the same process on a virtual or physical AndroidDevice. They also specify a test runner class, such as com.google.GoogleTestRunner, which can vary on the specific instrumentation framework chosen. See for more information on types of Android tests.",
      "properties": {
        "orchestratorOption": {
          "type": "string",
          "enum": [
            "ORCHESTRATOR_OPTION_UNSPECIFIED",
            "USE_ORCHESTRATOR",
            "DO_NOT_USE_ORCHESTRATOR"
          ],
          "description": "The option of whether running each test within its own invocation of instrumentation with Android Test Orchestrator or not. ** Orchestrator is only compatible with AndroidJUnitRunner version 1.1 or higher! ** Orchestrator offers the following benefits: - No shared state - Crashes are isolated - Logs are scoped per test See for more information about Android Test Orchestrator. If not set, the test will be run without the orchestrator.",
          "enumDescriptions": [
            "Default value: the server will choose the mode. Currently implies that the test will run without the orchestrator. In the future, all instrumentation tests will be run with the orchestrator. Using the orchestrator is highly encouraged because of all the benefits it offers.",
            "Run test using orchestrator. ** Only compatible with AndroidJUnitRunner version 1.1 or higher! ** Recommended.",
            "Run test without using orchestrator."
          ]
        },
        "testRunnerClass": {
          "description": "The InstrumentationTestRunner class. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "testTargets": {
          "type": "array",
          "description": "Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\" If empty, all targets in the module will be run.",
          "items": {
            "type": "string"
          }
        },
        "shardingOption": {
          "description": "The option to run tests in multiple shards in parallel.",
          "$ref": "ShardingOption"
        },
        "appPackageId": {
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "testPackageId": {
          "description": "The java package for the test to be executed. The default value is determined by examining the application's manifest.",
          "type": "string"
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "testApk": {
          "description": "Required. The APK containing the test code to be executed.",
          "$ref": "FileReference"
        }
      },
      "type": "object",
      "id": "AndroidInstrumentationTest"
    },
    "AndroidModel": {
      "description": "A description of an Android device tests may be run on.",
      "properties": {
        "thumbnailUrl": {
          "type": "string",
          "description": "URL of a thumbnail image (photo) of the device."
        },
        "lowFpsVideoRecording": {
          "description": "True if and only if tests with this model are recorded by stitching together screenshots. See use_low_spec_video_recording in device config.",
          "type": "boolean"
        },
        "name": {
          "description": "The human-readable marketing name for this device model. Examples: \"Nexus 5\", \"Galaxy S5\".",
          "type": "string"
        },
        "supportedVersionIds": {
          "description": "The set of Android versions this device supports.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "perVersionInfo": {
          "description": "Version-specific information of an Android model.",
          "items": {
            "$ref": "PerAndroidVersionInfo"
          },
          "type": "array"
        },
        "screenX": {
          "type": "integer",
          "format": "int32",
          "description": "Screen size in the horizontal (X) dimension measured in pixels."
        },
        "supportedAbis": {
          "type": "array",
          "description": "The list of supported ABIs for this device. This corresponds to either android.os.Build.SUPPORTED_ABIS (for API level 21 and above) or android.os.Build.CPU_ABI/CPU_ABI2. The most preferred ABI is the first element in the list. Elements are optionally prefixed by \"version_id:\" (where version_id is the id of an AndroidVersion), denoting an ABI that is supported only on a particular version.",
          "items": {
            "type": "string"
          }
        },
        "codename": {
          "description": "The name of the industrial design. This corresponds to android.os.Build.DEVICE.",
          "type": "string"
        },
        "screenDensity": {
          "description": "Screen density in DPI. This corresponds to ro.sf.lcd_density",
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "type": "array",
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          }
        },
        "brand": {
          "description": "The company that this device is branded with. Example: \"Google\", \"Samsung\".",
          "type": "string"
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "labInfo": {
          "description": "Output only. Lab info of this device.",
          "readOnly": true,
          "$ref": "LabInfo"
        },
        "formFactor": {
          "type": "string",
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ],
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ]
        },
        "screenY": {
          "type": "integer",
          "format": "int32",
          "description": "Screen size in the vertical (Y) dimension measured in pixels."
        },
        "accessDeniedReasons": {
          "description": "Reasons for access denial. This model is accessible if this list is empty, otherwise the model is viewable only.",
          "items": {
            "enumDescriptions": [
              "Do not use. For proto versioning only.",
              "The model is for viewing purposes only. Access and utilization require acceptance of an End User License Agreement (EULA)."
            ],
            "enum": [
              "ACCESS_DENIED_REASON_UNSPECIFIED",
              "EULA_NOT_ACCEPTED"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "manufacturer": {
          "type": "string",
          "description": "The manufacturer of this device."
        },
        "form": {
          "type": "string",
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "description": "Whether this device is virtual or physical.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ]
        }
      },
      "type": "object",
      "id": "AndroidModel"
    },
    "IosModel": {
      "id": "IosModel",
      "type": "object",
      "description": "A description of an iOS device tests may be run on.",
      "properties": {
        "perVersionInfo": {
          "description": "Version-specific information of an iOS model.",
          "items": {
            "$ref": "PerIosVersionInfo"
          },
          "type": "array"
        },
        "screenX": {
          "description": "Screen size in the horizontal (X) dimension measured in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "screenDensity": {
          "type": "integer",
          "format": "int32",
          "description": "Screen density in DPI."
        },
        "id": {
          "description": "The unique opaque id for this model. Use this for invoking the TestExecutionService.",
          "type": "string"
        },
        "deviceCapabilities": {
          "type": "array",
          "description": "Device capabilities. Copied from https://developer.apple.com/library/archive/documentation/DeviceInformation/Reference/iOSDeviceCompatibility/DeviceCompatibilityMatrix/DeviceCompatibilityMatrix.html",
          "items": {
            "type": "string"
          }
        },
        "screenY": {
          "description": "Screen size in the vertical (Y) dimension measured in pixels.",
          "type": "integer",
          "format": "int32"
        },
        "formFactor": {
          "type": "string",
          "description": "Whether this device is a phone, tablet, wearable, etc.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "This device has the shape of a phone.",
            "This device has the shape of a tablet.",
            "This device has the shape of a watch or other wearable.",
            "This device has a television form factor.",
            "This device has an automotive form factor.",
            "This device has a desktop form factor.",
            "This device has an Extended Reality form factor."
          ],
          "enum": [
            "DEVICE_FORM_FACTOR_UNSPECIFIED",
            "PHONE",
            "TABLET",
            "WEARABLE",
            "TV",
            "AUTOMOTIVE",
            "DESKTOP",
            "XR"
          ]
        },
        "name": {
          "description": "The human-readable name for this device model. Examples: \"iPhone 4s\", \"iPad Mini 2\".",
          "type": "string"
        },
        "supportedVersionIds": {
          "description": "The set of iOS major software versions this device supports.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "TestEnvironmentCatalog": {
      "id": "TestEnvironmentCatalog",
      "type": "object",
      "description": "A description of a test environment.",
      "properties": {
        "networkConfigurationCatalog": {
          "description": "Supported network configurations.",
          "$ref": "NetworkConfigurationCatalog"
        },
        "deviceIpBlockCatalog": {
          "description": "The IP blocks used by devices in the test environment.",
          "$ref": "DeviceIpBlockCatalog"
        },
        "iosDeviceCatalog": {
          "description": "Supported iOS devices.",
          "$ref": "IosDeviceCatalog"
        },
        "softwareCatalog": {
          "description": "The software test environment provided by TestExecutionService.",
          "$ref": "ProvidedSoftwareCatalog"
        },
        "androidDeviceCatalog": {
          "description": "Supported Android devices.",
          "$ref": "AndroidDeviceCatalog"
        }
      }
    },
    "LauncherActivityIntent": {
      "description": "Specifies an intent that starts the main launcher activity.",
      "properties": {},
      "type": "object",
      "id": "LauncherActivityIntent"
    },
    "IosVersion": {
      "type": "object",
      "id": "IosVersion",
      "description": "An iOS version.",
      "properties": {
        "minorVersion": {
          "description": "An integer representing the minor iOS version. Examples: \"1\", \"2\".",
          "type": "integer",
          "format": "int32"
        },
        "majorVersion": {
          "type": "integer",
          "format": "int32",
          "description": "An integer representing the major iOS version. Examples: \"8\", \"9\"."
        },
        "supportedXcodeVersionIds": {
          "description": "The available Xcode versions for this version.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tags": {
          "type": "array",
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          }
        },
        "id": {
          "type": "string",
          "description": "An opaque id for this iOS version. Use this id to invoke the TestExecutionService."
        }
      }
    },
    "TestTargetsForShard": {
      "id": "TestTargetsForShard",
      "type": "object",
      "description": "Test targets for a shard.",
      "properties": {
        "testTargets": {
          "type": "array",
          "description": "Group of packages, classes, and/or test methods to be run for each shard. The targets need to be specified in AndroidJUnitRunner argument format. For example, \"package com.my.packages\" \"class com.my.package.MyClass\". The number of test_targets must be greater than 0.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Account": {
      "description": "Identifies an account and how to log into it.",
      "properties": {
        "googleAuto": {
          "description": "An automatic google login account.",
          "$ref": "GoogleAuto"
        }
      },
      "id": "Account",
      "type": "object"
    },
    "AndroidDeviceList": {
      "description": "A list of Android device configurations in which the test is to be executed.",
      "properties": {
        "androidDevices": {
          "type": "array",
          "description": "Required. A list of Android devices.",
          "items": {
            "$ref": "AndroidDevice"
          }
        }
      },
      "type": "object",
      "id": "AndroidDeviceList"
    },
    "ToolResultsHistory": {
      "type": "object",
      "id": "ToolResultsHistory",
      "description": "Represents a tool results history resource.",
      "properties": {
        "projectId": {
          "description": "Required. The cloud project that owns the tool results history.",
          "type": "string"
        },
        "historyId": {
          "description": "Required. A tool results history ID.",
          "type": "string"
        }
      }
    },
    "SystraceSetup": {
      "properties": {
        "durationSeconds": {
          "description": "Systrace duration in seconds. Should be between 1 and 30 seconds. 0 disables systrace.",
          "deprecated": true,
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "SystraceSetup",
      "type": "object"
    },
    "UsesPermissionTag": {
      "type": "object",
      "id": "UsesPermissionTag",
      "description": "The tag within a manifest. https://developer.android.com/guide/topics/manifest/uses-permission-element.html",
      "properties": {
        "maxSdkVersion": {
          "description": "The android:name value",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The android:name value",
          "type": "string"
        }
      }
    },
    "CancelTestMatrixResponse": {
      "description": "Response containing the current state of the specified test matrix.",
      "properties": {
        "testState": {
          "enum": [
            "TEST_STATE_UNSPECIFIED",
            "VALIDATING",
            "PENDING",
            "RUNNING",
            "FINISHED",
            "ERROR",
            "UNSUPPORTED_ENVIRONMENT",
            "INCOMPATIBLE_ENVIRONMENT",
            "INCOMPATIBLE_ARCHITECTURE",
            "CANCELLED",
            "INVALID"
          ],
          "description": "The current rolled-up state of the test matrix. If this state is already final, then the cancelation request will have no effect.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The execution or matrix is being validated.",
            "The execution or matrix is waiting for resources to become available.",
            "The execution is currently being processed. Can only be set on an execution.",
            "The execution or matrix has terminated normally. On a matrix this means that the matrix level processing completed normally, but individual executions may be in an ERROR state.",
            "The execution or matrix has stopped because it encountered an infrastructure failure.",
            "The execution was not run because it corresponds to a unsupported environment. Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested environment. Example: requested AndroidVersion is lower than APK's minSdkVersion Can only be set on an execution.",
            "The execution was not run because the provided inputs are incompatible with the requested architecture. Example: requested device does not support running the native code in the supplied APK Can only be set on an execution.",
            "The user cancelled the execution. Can only be set on an execution.",
            "The execution or matrix was not run because the provided inputs are not valid. Examples: input file is not of the expected type, is malformed/corrupt, or was flagged as malware"
          ],
          "type": "string"
        }
      },
      "id": "CancelTestMatrixResponse",
      "type": "object"
    },
    "XcodeVersion": {
      "id": "XcodeVersion",
      "type": "object",
      "description": "An Xcode version that an iOS version is compatible with.",
      "properties": {
        "version": {
          "type": "string",
          "description": "The id for this version. Example: \"9.2\"."
        },
        "tags": {
          "type": "array",
          "description": "Tags for this Xcode version. Example: \"default\".",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AndroidRoboTest": {
      "description": "A test of an android application that explores the application on a virtual or physical Android Device, finding culprits and crashes as it goes.",
      "properties": {
        "maxSteps": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "The max number of steps Robo can execute. Default is no limit."
        },
        "roboDirectives": {
          "description": "A set of directives Robo should apply during the crawl. This allows users to customize the crawl. For example, the username and password for a test account can be provided.",
          "items": {
            "$ref": "RoboDirective"
          },
          "type": "array"
        },
        "appApk": {
          "description": "The APK for the application under test.",
          "$ref": "FileReference"
        },
        "maxDepth": {
          "deprecated": true,
          "type": "integer",
          "format": "int32",
          "description": "The max depth of the traversal stack Robo can explore. Needs to be at least 2 to make Robo explore the app beyond the first activity. Default is 50."
        },
        "roboMode": {
          "enum": [
            "ROBO_MODE_UNSPECIFIED",
            "ROBO_VERSION_1",
            "ROBO_VERSION_2"
          ],
          "description": "The mode in which Robo should run. Most clients should allow the server to populate this field automatically.",
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enumDescriptions": [
            "This means that the server should choose the mode. Recommended.",
            "Runs Robo in UIAutomator-only mode without app resigning",
            "Deprecated: Use ROBO_VERSION_1 instead for all use cases. Runs Robo in standard Espresso with UIAutomator fallback"
          ],
          "type": "string"
        },
        "appPackageId": {
          "type": "string",
          "description": "The java package for the application under test. The default value is determined by examining the application's manifest."
        },
        "startingIntents": {
          "type": "array",
          "description": "The intents used to launch the app for the crawl. If none are provided, then the main launcher activity is launched. If some are provided, then only those provided are launched (the main launcher activity must be provided explicitly).",
          "items": {
            "$ref": "RoboStartingIntent"
          }
        },
        "appBundle": {
          "description": "A multi-apk app bundle for the application under test.",
          "$ref": "AppBundle"
        },
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app.",
          "type": "string"
        },
        "roboScript": {
          "description": "A JSON file with a sequence of actions Robo should perform as a prologue for the crawl.",
          "$ref": "FileReference"
        }
      },
      "type": "object",
      "id": "AndroidRoboTest"
    },
    "GoogleCloudStorage": {
      "id": "GoogleCloudStorage",
      "type": "object",
      "description": "A storage location within Google cloud storage (GCS).",
      "properties": {
        "gcsPath": {
          "type": "string",
          "description": "Required. The path to a directory in GCS that will eventually contain the results for this test. The requesting user must have write access on the bucket in the supplied path."
        }
      }
    },
    "SessionStateEvent": {
      "description": "A message encapsulating a series of Session states and the time that the DeviceSession first entered those states.",
      "properties": {
        "eventTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time that the session_state first encountered that state.",
          "readOnly": true
        },
        "sessionState": {
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Initial state of a session request. The session is being validated for correctness and a device is not yet requested.",
            "The session has been validated and is in the queue for a device.",
            "The session has been granted and the device is accepting connections.",
            "The session duration exceeded the device’s reservation time period and timed out automatically.",
            "The user is finished with the session and it was canceled by the user while the request was still getting allocated or after allocation and during device usage period.",
            "Unable to complete the session because the device was unavailable and it failed to allocate through the scheduler. For example, a device not in the catalog was requested or the request expired in the allocation queue.",
            "Unable to complete the session for an internal reason, such as an infrastructure failure."
          ],
          "type": "string",
          "description": "Output only. The session_state tracked by this event",
          "enum": [
            "SESSION_STATE_UNSPECIFIED",
            "REQUESTED",
            "PENDING",
            "ACTIVE",
            "EXPIRED",
            "FINISHED",
            "UNAVAILABLE",
            "ERROR"
          ]
        },
        "stateMessage": {
          "type": "string",
          "description": "Output only. A human-readable message to explain the state.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "SessionStateEvent"
    },
    "DeviceIpBlockCatalog": {
      "description": "List of IP blocks used by the Firebase Test Lab",
      "properties": {
        "ipBlocks": {
          "description": "The device IP blocks used by Firebase Test Lab",
          "items": {
            "$ref": "DeviceIpBlock"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "DeviceIpBlockCatalog"
    },
    "RoboDirective": {
      "description": "Directs Robo to interact with a specific UI element if it is encountered during the crawl. Currently, Robo can perform text entry or element click.",
      "properties": {
        "actionType": {
          "type": "string",
          "description": "Required. The type of action that Robo should perform on the specified element.",
          "enumDescriptions": [
            "DO NOT USE. For proto versioning only.",
            "Direct Robo to click on the specified element. No-op if specified element is not clickable.",
            "Direct Robo to enter text on the specified element. No-op if specified element is not enabled or does not allow text entry.",
            "Direct Robo to ignore interactions with a specific element."
          ],
          "enum": [
            "ACTION_TYPE_UNSPECIFIED",
            "SINGLE_CLICK",
            "ENTER_TEXT",
            "IGNORE"
          ]
        },
        "resourceName": {
          "description": "Required. The android resource name of the target UI element. For example, in Java: R.string.foo in xml: @string/foo Only the \"foo\" part is needed. Reference doc: https://developer.android.com/guide/topics/resources/accessing-resources.html",
          "type": "string"
        },
        "inputText": {
          "description": "The text that Robo is directed to set. If left empty, the directive will be treated as a CLICK on the element matching the resource_name.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "RoboDirective"
    },
    "NetworkConfiguration": {
      "type": "object",
      "id": "NetworkConfiguration",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique opaque id for this network traffic configuration."
        },
        "upRule": {
          "description": "The emulation rule applying to the upload traffic.",
          "$ref": "TrafficRule"
        },
        "downRule": {
          "description": "The emulation rule applying to the download traffic.",
          "$ref": "TrafficRule"
        }
      }
    },
    "ToolResultsExecution": {
      "description": "Represents a tool results execution resource. This has the results of a TestMatrix.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Output only. The cloud project that owns the tool results execution."
        },
        "historyId": {
          "type": "string",
          "description": "Output only. A tool results history ID."
        },
        "executionId": {
          "type": "string",
          "description": "Output only. A tool results execution ID."
        }
      },
      "type": "object",
      "id": "ToolResultsExecution"
    },
    "IosDevice": {
      "type": "object",
      "id": "IosDevice",
      "description": "A single iOS device.",
      "properties": {
        "iosVersionId": {
          "type": "string",
          "description": "Required. The id of the iOS major software version to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "iosModelId": {
          "type": "string",
          "description": "Required. The id of the iOS device to be used. Use the TestEnvironmentDiscoveryService to get supported options."
        },
        "locale": {
          "description": "Required. The locale the test device used for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        },
        "orientation": {
          "description": "Required. How the device is oriented during the test. Use the TestEnvironmentDiscoveryService to get supported options.",
          "type": "string"
        }
      }
    },
    "AndroidVersion": {
      "description": "A version of the Android OS.",
      "properties": {
        "versionString": {
          "description": "A string representing this version of the Android OS. Examples: \"4.3\", \"4.4\".",
          "type": "string"
        },
        "codeName": {
          "type": "string",
          "description": "The code name for this Android version. Examples: \"JellyBean\", \"KitKat\"."
        },
        "distribution": {
          "description": "Market share for this version.",
          "$ref": "Distribution"
        },
        "id": {
          "description": "An opaque id for this Android version. Use this id to invoke the TestExecutionService.",
          "type": "string"
        },
        "releaseDate": {
          "description": "The date this Android version became available in the market.",
          "$ref": "Date"
        },
        "apiLevel": {
          "type": "integer",
          "format": "int32",
          "description": "The API level for this Android version. Examples: 18, 19."
        },
        "tags": {
          "description": "Tags for this dimension. Examples: \"default\", \"preview\", \"deprecated\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "id": "AndroidVersion"
    },
    "ProvidedSoftwareCatalog": {
      "description": "The currently provided software environment on the devices under test.",
      "properties": {
        "orchestratorVersion": {
          "description": "Deprecated: Use AndroidX Test Orchestrator going forward. A string representing the current version of Android Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#com.android.support.test:orchestrator.",
          "deprecated": true,
          "type": "string"
        },
        "androidxOrchestratorVersion": {
          "description": "A string representing the current version of AndroidX Test Orchestrator that is used in the environment. The package is available at https://maven.google.com/web/index.html#androidx.test:orchestrator.",
          "type": "string"
        }
      },
      "id": "ProvidedSoftwareCatalog",
      "type": "object"
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "description": "The environment in which the test is run.",
      "properties": {
        "androidDevice": {
          "description": "An Android device which must be used with an Android test.",
          "$ref": "AndroidDevice"
        },
        "iosDevice": {
          "description": "An iOS device which must be used with an iOS test.",
          "$ref": "IosDevice"
        }
      }
    },
    "ApkSplits": {
      "description": "A single dynamic feature apk.",
      "properties": {
        "bundleSplits": {
          "description": "A list of .apk files generated by bundletool to install to the device under test as a single android app with adb install-multiple. If specified, requires one or more bundle_splits. The first split specified represents the base APK, while subsequent splits represent feature apks.",
          "items": {
            "$ref": "FileReference"
          },
          "type": "array"
        }
      },
      "id": "ApkSplits",
      "type": "object"
    },
    "GetApkDetailsResponse": {
      "description": "Response containing the details of the specified Android application.",
      "properties": {
        "apkDetail": {
          "description": "Details of the Android App.",
          "$ref": "ApkDetail"
        }
      },
      "type": "object",
      "id": "GetApkDetailsResponse"
    },
    "Date": {
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Date",
      "type": "object"
    },
    "ClientInfo": {
      "id": "ClientInfo",
      "type": "object",
      "description": "Information about the client which invoked the test.",
      "properties": {
        "name": {
          "description": "Required. Client name, such as gcloud.",
          "type": "string"
        },
        "clientInfoDetails": {
          "type": "array",
          "description": "The list of detailed information about client.",
          "items": {
            "$ref": "ClientInfoDetail"
          }
        }
      }
    },
    "Locale": {
      "id": "Locale",
      "type": "object",
      "description": "A location/region designation for language.",
      "properties": {
        "id": {
          "description": "The id for this locale. Example: \"en_US\".",
          "type": "string"
        },
        "name": {
          "description": "A human-friendly name for this language/locale. Example: \"English\".",
          "type": "string"
        },
        "region": {
          "description": "A human-friendly string representing the region for this locale. Example: \"United States\". Not present for every locale.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Tags for this dimension. Example: \"default\".",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IosRoboTest": {
      "description": "A test that explores an iOS application on an iOS device.",
      "properties": {
        "appBundleId": {
          "type": "string",
          "description": "The bundle ID for the app-under-test. This is determined by examining the application's \"Info.plist\" file."
        },
        "roboScript": {
          "description": "An optional Roboscript to customize the crawl. See https://firebase.google.com/docs/test-lab/android/robo-scripts-reference for more information about Roboscripts. The maximum allowed file size of the roboscript is 10MiB.",
          "$ref": "FileReference"
        },
        "appIpa": {
          "description": "Required. The ipa stored at this file should be used to run the test.",
          "$ref": "FileReference"
        }
      },
      "id": "IosRoboTest",
      "type": "object"
    },
    "TrafficRule": {
      "description": "Network emulation parameters.",
      "properties": {
        "packetLossRatio": {
          "description": "Packet loss ratio (0.0 - 1.0).",
          "type": "number",
          "format": "float"
        },
        "burst": {
          "type": "number",
          "format": "float",
          "description": "Burst size in kbits."
        },
        "delay": {
          "type": "string",
          "format": "google-duration",
          "description": "Packet delay, must be >= 0."
        },
        "packetDuplicationRatio": {
          "type": "number",
          "format": "float",
          "description": "Packet duplication ratio (0.0 - 1.0)."
        },
        "bandwidth": {
          "description": "Bandwidth in kbits/second.",
          "type": "number",
          "format": "float"
        }
      },
      "id": "TrafficRule",
      "type": "object"
    },
    "AppBundle": {
      "type": "object",
      "id": "AppBundle",
      "description": "An Android App Bundle file format, containing a BundleConfig.pb file, a base module directory, zero or more dynamic feature module directories. See https://developer.android.com/guide/app-bundle/build for guidance on building App Bundles.",
      "properties": {
        "bundleLocation": {
          "description": ".aab file representing the app bundle under test.",
          "$ref": "FileReference"
        },
        "apks": {
          "description": ".apk files generated by bundletool to install as a single android app.",
          "$ref": "ApkSplits"
        }
      }
    },
    "UniformSharding": {
      "type": "object",
      "id": "UniformSharding",
      "description": "Uniformly shards test cases given a total number of shards. For instrumentation tests, it will be translated to \"-e numShard\" and \"-e shardIndex\" AndroidJUnitRunner arguments. With uniform sharding enabled, specifying either of these sharding arguments via `environment_variables` is invalid. Based on the sharding mechanism AndroidJUnitRunner uses, there is no guarantee that test cases will be distributed uniformly across all shards.",
      "properties": {
        "numShards": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The total number of shards to create. This must always be a positive number that is no greater than the total number of test cases. When you select one or more physical devices, the number of shards must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500."
        }
      }
    },
    "ManualSharding": {
      "type": "object",
      "id": "ManualSharding",
      "description": "Shards test cases into the specified groups of packages, classes, and/or methods. With manual sharding enabled, specifying test targets via environment_variables or in InstrumentationTest is invalid.",
      "properties": {
        "testTargetsForShard": {
          "type": "array",
          "description": "Required. Group of packages, classes, and/or test methods to be run for each manually-created shard. You must specify at least one shard if this field is present. When you select one or more physical devices, the number of repeated test_targets_for_shard must be <= 50. When you select one or more ARM virtual devices, it must be <= 200. When you select only x86 virtual devices, it must be <= 500.",
          "items": {
            "$ref": "TestTargetsForShard"
          }
        }
      }
    },
    "Metadata": {
      "description": "A tag within a manifest. https://developer.android.com/guide/topics/manifest/meta-data-element.html",
      "properties": {
        "name": {
          "description": "The android:name value",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "The android:value value"
        }
      },
      "id": "Metadata",
      "type": "object"
    },
    "ShardingOption": {
      "type": "object",
      "id": "ShardingOption",
      "description": "Options for enabling sharding.",
      "properties": {
        "manualSharding": {
          "description": "Shards test cases into the specified groups of packages, classes, and/or methods.",
          "$ref": "ManualSharding"
        },
        "smartSharding": {
          "description": "Shards test based on previous test case timing records.",
          "$ref": "SmartSharding"
        },
        "uniformSharding": {
          "description": "Uniformly shards test cases given a total number of shards.",
          "$ref": "UniformSharding"
        }
      }
    },
    "ListDeviceSessionsResponse": {
      "id": "ListDeviceSessionsResponse",
      "type": "object",
      "description": "A list of device sessions.",
      "properties": {
        "deviceSessions": {
          "type": "array",
          "description": "The sessions matching the specified filter in the given cloud project.",
          "items": {
            "$ref": "DeviceSession"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "AndroidDeviceCatalog": {
      "description": "The currently supported Android devices.",
      "properties": {
        "models": {
          "description": "The set of supported Android device models.",
          "items": {
            "$ref": "AndroidModel"
          },
          "type": "array"
        },
        "versions": {
          "type": "array",
          "description": "The set of supported Android OS versions.",
          "items": {
            "$ref": "AndroidVersion"
          }
        },
        "runtimeConfiguration": {
          "description": "The set of supported runtime configurations.",
          "$ref": "AndroidRuntimeConfiguration"
        }
      },
      "type": "object",
      "id": "AndroidDeviceCatalog"
    },
    "AndroidMatrix": {
      "id": "AndroidMatrix",
      "type": "object",
      "description": "A set of Android device configuration permutations is defined by the the cross-product of the given axes. Internally, the given AndroidMatrix will be expanded into a set of AndroidDevices. Only supported permutations will be instantiated. Invalid permutations (e.g., incompatible models/versions) are ignored.",
      "properties": {
        "locales": {
          "description": "Required. The set of locales the test device will enable for testing. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "androidModelIds": {
          "type": "array",
          "description": "Required. The ids of the set of Android device to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          }
        },
        "androidVersionIds": {
          "description": "Required. The ids of the set of Android OS version to be used. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "orientations": {
          "description": "Required. The set of orientations to test with. Use the TestEnvironmentDiscoveryService to get supported options.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "IosDeviceFile": {
      "id": "IosDeviceFile",
      "type": "object",
      "description": "A file or directory to install on the device before the test starts.",
      "properties": {
        "content": {
          "description": "The source file",
          "$ref": "FileReference"
        },
        "bundleId": {
          "type": "string",
          "description": "The bundle id of the app where this file lives. iOS apps sandbox their own filesystem, so app files must specify which app installed on the device."
        },
        "devicePath": {
          "type": "string",
          "description": "Location of the file on the device, inside the app's sandboxed filesystem"
        }
      }
    },
    "DeviceIpBlock": {
      "id": "DeviceIpBlock",
      "type": "object",
      "description": "A single device IP block",
      "properties": {
        "form": {
          "description": "Whether this block is used by physical or virtual devices",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "Android virtual device using Compute Engine native virtualization. Firebase Test Lab only.",
            "Actual hardware.",
            "Android virtual device using emulator in nested virtualization. Equivalent to Android Studio."
          ],
          "enum": [
            "DEVICE_FORM_UNSPECIFIED",
            "VIRTUAL",
            "PHYSICAL",
            "EMULATOR"
          ],
          "type": "string"
        },
        "block": {
          "type": "string",
          "description": "An IP address block in CIDR notation eg: 34.68.194.64/29"
        },
        "addedDate": {
          "description": "The date this block was added to Firebase Test Lab",
          "$ref": "Date"
        }
      }
    },
    "IosRuntimeConfiguration": {
      "description": "iOS configuration that can be selected at the time a test is run.",
      "properties": {
        "locales": {
          "description": "The set of available locales.",
          "items": {
            "$ref": "Locale"
          },
          "type": "array"
        },
        "orientations": {
          "description": "The set of available orientations.",
          "items": {
            "$ref": "Orientation"
          },
          "type": "array"
        }
      },
      "id": "IosRuntimeConfiguration",
      "type": "object"
    },
    "ApkManifest": {
      "description": "An Android app manifest. See http://developer.android.com/guide/topics/manifest/manifest-intro.html",
      "properties": {
        "services": {
          "description": "Services contained in the tag.",
          "items": {
            "$ref": "Service"
          },
          "type": "array"
        },
        "versionName": {
          "type": "string",
          "description": "Version number shown to users."
        },
        "usesPermissionTags": {
          "type": "array",
          "description": "Permissions declared to be used by the application",
          "items": {
            "$ref": "UsesPermissionTag"
          }
        },
        "usesFeature": {
          "description": "Feature usage tags defined in the manifest.",
          "items": {
            "$ref": "UsesFeature"
          },
          "type": "array"
        },
        "versionCode": {
          "type": "string",
          "format": "int64",
          "description": "Version number used internally by the app."
        },
        "applicationLabel": {
          "description": "User-readable name for the application.",
          "type": "string"
        },
        "intentFilters": {
          "items": {
            "$ref": "IntentFilter"
          },
          "type": "array"
        },
        "packageName": {
          "type": "string",
          "description": "Full Java-style package name for this application, e.g. \"com.example.foo\"."
        },
        "metadata": {
          "type": "array",
          "description": "Meta-data tags defined in the manifest.",
          "items": {
            "$ref": "Metadata"
          }
        },
        "targetSdkVersion": {
          "description": "Specifies the API Level on which the application is designed to run.",
          "type": "integer",
[...]
