{
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "description": "Gets a specific document associated with an alert.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "location": "path"
                    }
                  },
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1beta/{+name}"
                }
              }
            }
          },
          "methods": {
            "list": {
              "path": "v1beta/{+parent}/alerts",
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "description": "Get a list of alerts that meet the filter criteria.",
              "id": "threatintelligence.projects.alerts.list",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "location": "path",
                  "type": "string",
                  "required": true
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              }
            },
            "read": {
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as read - READ.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.alerts.read",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:read",
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "escalate": {
              "path": "v1beta/{+name}:escalate",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.escalate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Marks an alert as escalated - ESCALATED."
            },
            "notActionable": {
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:notActionable",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "id": "threatintelligence.projects.alerts.notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "response": {
                "$ref": "Alert"
              }
            },
            "duplicate": {
              "path": "v1beta/{+name}:duplicate",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.duplicate",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE."
            },
            "get": {
              "description": "Get an alert by name.",
              "id": "threatintelligence.projects.alerts.get",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            },
            "enumerateFacets": {
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts.",
                  "location": "path"
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.alerts.enumerateFacets"
            },
            "triage": {
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:triage",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "id": "threatintelligence.projects.alerts.triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "response": {
                "$ref": "Alert"
              }
            },
            "trackExternally": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:trackExternally",
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.alerts.trackExternally"
            },
            "falsePositive": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:falsePositive",
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Alert"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.alerts.falsePositive",
              "description": "Marks an alert as a false positive - FALSE_POSITIVE."
            },
            "resolve": {
              "path": "v1beta/{+name}:resolve",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "description": "Marks an alert to closed state - RESOLVED.",
              "id": "threatintelligence.projects.alerts.resolve",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "benign": {
              "path": "v1beta/{+name}:benign",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "id": "threatintelligence.projects.alerts.benign",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "location": "path"
                }
              },
              "description": "Marks an alert as benign - BENIGN."
            }
          }
        },
        "findings": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the findings.",
                  "location": "path"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                }
              },
              "id": "threatintelligence.projects.findings.list",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/findings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "search": {
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "location": "path",
                  "pattern": "^projects/[^/]+$"
                },
                "query": {
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                }
              },
              "id": "threatintelligence.projects.findings.search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1beta/{+parent}/findings:search"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "description": "Required. Name of the finding to get.",
                  "location": "path"
                }
              },
              "id": "threatintelligence.projects.findings.get",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "response": {
                "$ref": "Finding"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}"
            }
          }
        },
        "configurations": {
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1beta/{+parent}/revisions",
                  "description": "List configuration revisions that meet the filter criteria.",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Optional. Specify ordering of response",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. An AIP-160 filter string",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Page Size",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/configurations",
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "threatintelligence.projects.configurations.list",
              "parameters": {
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "location": "path"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                }
              },
              "description": "Get a list of configurations that meet the filter criteria.",
              "response": {
                "$ref": "ListConfigurationsResponse"
              }
            },
            "get": {
              "response": {
                "$ref": "Configuration"
              },
              "id": "threatintelligence.projects.configurations.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "location": "path",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$"
                }
              },
              "description": "Get a configuration by name.",
              "path": "v1beta/{+name}",
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "upsert": {
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "id": "threatintelligence.projects.configurations.upsert",
              "parameters": {
                "parent": {
                  "description": "Required. Parent of the configuration.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "publishTime": {
                  "type": "string",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query",
                  "format": "google-datetime"
                }
              },
              "description": "Creates or updates a configuration.",
              "path": "v1beta/{+parent}/configurations:upsert",
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Configuration"
              }
            }
          }
        }
      },
      "methods": {
        "generateOrgProfile": {
          "id": "threatintelligence.projects.generateOrgProfile",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "location": "path",
              "pattern": "^projects/[^/]+$"
            }
          },
          "description": "Triggers the generation of a Customer Profile for a project.",
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "path": "v1beta/{+name}:generateOrgProfile",
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ]
        }
      }
    }
  },
  "basePath": "",
  "ownerDomain": "google.com",
  "description": "threatintelligence.googleapis.com API.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "name": "threatintelligence",
  "ownerName": "Google",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "version_module": true,
  "version": "v1beta",
  "endpoints": [
    {
      "location": "us-central1",
      "description": "Regional Endpoint",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://threatintelligence.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://threatintelligence.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "location": "us",
      "description": "Regional Endpoint",
      "endpointUrl": "https://threatintelligence.us.rep.googleapis.com/"
    }
  ],
  "canonicalName": "Threat Intelligence Service",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "id": "threatintelligence:v1beta",
  "revision": "20260407",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "schemas": {
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "type": "object",
      "id": "Operation"
    },
    "ListConfigurationRevisionsResponse": {
      "type": "object",
      "description": "Response message for ListConfigurationRevisions.",
      "properties": {
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListConfigurationRevisionsResponse"
    },
    "SeverityAnalysis": {
      "id": "SeverityAnalysis",
      "type": "object",
      "description": "Structured severity analysis for a threat.",
      "properties": {
        "severityLevel": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "description": "The level of severity."
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        }
      }
    },
    "MarkAlertAsDuplicateRequest": {
      "description": "Request message for MarkAlertAsDuplicate.",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "type": "object",
      "id": "MarkAlertAsDuplicateRequest"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status"
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "description": "Response message for ListFindings.",
      "properties": {
        "findings": {
          "type": "array",
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CustomerProfileLocation": {
      "id": "CustomerProfileLocation",
      "type": "object",
      "description": "Location information for the customer profile.",
      "properties": {
        "facilityType": {
          "type": "string",
          "description": "Optional. The type of location."
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        }
      }
    },
    "CustomerProfileConfig": {
      "id": "CustomerProfileConfig",
      "type": "object",
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "properties": {
        "parentCompanies": {
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array"
        },
        "org": {
          "type": "string",
          "description": "Required. The name of the organization."
        },
        "products": {
          "type": "array",
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          },
          "type": "array"
        },
        "industries": {
          "type": "array",
          "description": "Optional. The industries the organization is involved in.",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array"
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "technologyPresence": {
          "type": "string",
          "description": "Optional. Technology presence of the organization."
        },
        "contactInfo": {
          "type": "array",
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          }
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "citations": {
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array"
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "type": "array"
        }
      }
    },
    "CustomerProfilePerson": {
      "type": "object",
      "description": "Person information for the customer profile.",
      "properties": {
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "title": {
          "type": "string",
          "description": "Optional. The title of the person."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfilePerson"
    },
    "Configuration": {
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "description": "Optional. State of the configuration."
        },
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        },
        "name": {
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}",
          "type": "string"
        },
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the configuration."
        },
        "displayName": {
          "description": "Output only. Human readable name for the configuration.",
          "type": "string",
          "readOnly": true
        },
        "audit": {
          "readOnly": true,
          "description": "Output only. Audit information for the configuration.",
          "$ref": "Audit"
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        }
      },
      "type": "object",
      "id": "Configuration"
    },
    "FacetCount": {
      "id": "FacetCount",
      "description": "FacetCount represents a count of records with each facet value.",
      "properties": {
        "count": {
          "description": "Count of records with the value.",
          "format": "int32",
          "type": "integer"
        },
        "value": {
          "type": "string",
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339."
        }
      },
      "type": "object"
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "description": "Captures the specific details of Data Leak alert.",
      "properties": {
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "description": "Required. Data Leak specific severity This will be the string representation of the DataLeakFindingDetail.Severityenum. (e.g., \"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\")",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Audit": {
      "id": "Audit",
      "description": "Tracks basic CRUD facts.",
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time of creation.",
          "format": "google-datetime",
          "type": "string"
        },
        "updater": {
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "type": "string",
          "readOnly": true
        },
        "creator": {
          "type": "string",
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "EnumerateAlertFacetsResponse": {
      "type": "object",
      "description": "Response message for EnumerateAlertFacets.",
      "properties": {
        "facets": {
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          },
          "type": "array"
        }
      },
      "id": "EnumerateAlertFacetsResponse"
    },
    "MarkAlertAsBenignRequest": {
      "id": "MarkAlertAsBenignRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsBenign.",
      "properties": {}
    },
    "FindingDetail": {
      "type": "object",
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "properties": {
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string",
          "readOnly": true
        },
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat finding detail type.",
          "$ref": "InsiderThreatFindingDetail"
        }
      },
      "id": "FindingDetail"
    },
    "ConfigurationDetail": {
      "type": "object",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "properties": {
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        },
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        }
      },
      "id": "ConfigurationDetail"
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsTrackedExternallyRequest"
    },
    "AlertDetail": {
      "type": "object",
      "description": "Container for different types of alert details.",
      "properties": {
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        }
      },
      "id": "AlertDetail"
    },
    "Evidence": {
      "id": "Evidence",
      "type": "object",
      "description": "Details the evidence used to determine the relevance verdict.",
      "properties": {
        "commonThemes": {
          "type": "array",
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "items": {
            "type": "string"
          }
        },
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "type": "object",
      "description": "Structured relevance analysis for a threat.",
      "properties": {
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "relevanceLevel": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "description": "The level of relevance."
        },
        "confidence": {
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict."
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        }
      }
    },
    "InitialAccessBrokerAlertDetail": {
      "id": "InitialAccessBrokerAlertDetail",
      "type": "object",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "properties": {
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        },
        "severity": {
          "type": "string",
          "description": "Required. IAB specific severity"
        }
      }
    },
    "GenerateOrgProfileConfigurationRequest": {
      "id": "GenerateOrgProfileConfigurationRequest",
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain of the organization to generate the profile for."
        },
        "displayName": {
          "description": "Required. The display name of the organization to generate the profile for.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SearchFindingsResponse": {
      "id": "SearchFindingsResponse",
      "type": "object",
      "description": "Response message for SearchFindings.",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "MarkAlertAsFalsePositiveRequest": {
      "id": "MarkAlertAsFalsePositiveRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsFalsePositive.",
      "properties": {}
    },
    "CustomerProfileCitedString": {
      "id": "CustomerProfileCitedString",
      "type": "object",
      "description": "A string with citation ids.",
      "properties": {
        "value": {
          "description": "Required. The value of the string.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CustomerProfileIndustry": {
      "id": "CustomerProfileIndustry",
      "description": "Industry information for the customer profile.",
      "properties": {
        "industry": {
          "type": "string",
          "description": "Required. The name of the industry."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "InitialAccessBrokerFindingDetail": {
      "id": "InitialAccessBrokerFindingDetail",
      "type": "object",
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "properties": {
        "severity": {
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        }
      }
    },
    "InsiderThreatAlertDetail": {
      "id": "InsiderThreatAlertDetail",
      "description": "Captures the specific details of InsiderThreat alert.",
      "properties": {
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "severity": {
          "type": "string",
          "description": "Required. InsiderThreat specific severity This will be the string representation of the InsiderThreatFindingDetail.Severityenum. (e.g., \"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\")"
        }
      },
      "type": "object"
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "properties": {
        "maxValue": {
          "type": "string",
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
        },
        "facet": {
          "type": "string",
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression."
        },
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64",
          "type": "string"
        },
        "facetCounts": {
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          },
          "type": "array"
        },
        "facetType": {
          "type": "string",
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string."
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "Facet"
    },
    "MarkAlertAsEscalatedRequest": {
      "id": "MarkAlertAsEscalatedRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsEscalated.",
      "properties": {}
    },
    "CustomerProfileCitation": {
      "type": "object",
      "description": "Citation information for the customer profile.",
      "properties": {
        "uri": {
          "description": "Optional. The url of the citation.",
          "type": "string"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "citationId": {
          "type": "string",
          "description": "Required. The citation id for the citation. Should be unique within the profile."
        },
        "retrievalTime": {
          "description": "The time the citation was retrieved.",
          "format": "google-datetime",
          "type": "string"
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        }
      },
      "id": "CustomerProfileCitation"
    },
    "DataLeakFindingDetail": {
      "id": "DataLeakFindingDetail",
      "description": "A detail object for a Data Leak finding.",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat."
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Alert": {
      "type": "object",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "properties": {
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "$ref": "SeverityAnalysis",
          "readOnly": true
        },
        "configurations": {
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "findings": {
          "readOnly": true,
          "description": "Output only. Findings that are covered by this alert.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "findingCount": {
          "readOnly": true,
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Output only. A short title for the alert.",
          "readOnly": true
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "$ref": "RelevanceAnalysis"
        },
        "detail": {
          "readOnly": true,
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail"
        },
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "$ref": "PriorityAnalysis",
          "readOnly": true
        },
        "externalId": {
          "readOnly": true,
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "type": "string"
        },
        "audit": {
          "description": "Output only. Audit information for the alert.",
          "$ref": "Audit",
          "readOnly": true
        },
        "duplicatedBy": {
          "type": "array",
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the alert.",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ]
        },
        "duplicateOf": {
          "type": "string",
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "readOnly": true
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        }
      },
      "id": "Alert"
    },
    "MarkAlertAsResolvedRequest": {
      "description": "Request message for MarkAlertAsResolved.",
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsResolvedRequest"
    },
    "CustomerProfileSummary": {
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "properties": {
        "founded": {
          "description": "Optional. The date the customer was founded.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "description": "Optional. The headquarters of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "description": "Optional. A narrative summary of products.",
          "$ref": "CustomerProfileCitedString"
        }
      },
      "type": "object",
      "id": "CustomerProfileSummary"
    },
    "ListConfigurationsResponse": {
      "type": "object",
      "description": "Response message for ListConfigurations.",
      "properties": {
        "configurations": {
          "type": "array",
          "description": "List of configurations.",
          "items": {
            "$ref": "Configuration"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "id": "ListConfigurationsResponse"
    },
    "InsiderThreatFindingDetail": {
      "id": "InsiderThreatFindingDetail",
      "description": "A detail object for a InsiderThreat finding.",
      "properties": {
        "severity": {
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat."
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "CustomerProfileWebPresence": {
      "id": "CustomerProfileWebPresence",
      "type": "object",
      "description": "Web presence information for the customer profile.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain name of the web presence."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the web presence.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CustomerProfileContactInfo": {
      "type": "object",
      "description": "Contact information for the customer profile.",
      "properties": {
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The phone number of the contact."
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the contact information.",
          "items": {
            "type": "string"
          }
        },
        "address": {
          "type": "string",
          "description": "The address of the contact."
        }
      },
      "id": "CustomerProfileContactInfo"
    },
    "AlertDocumentTranslation": {
      "id": "AlertDocumentTranslation",
      "type": "object",
      "description": "The translation of an alert document.",
      "properties": {
        "translatedContent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated content of the document."
        },
        "translatedTitle": {
          "readOnly": true,
          "description": "Output only. The translated title of the document.",
          "type": "string"
        }
      }
    },
    "CustomerProfileProduct": {
      "id": "CustomerProfileProduct",
      "description": "Product information for the customer profile.",
      "properties": {
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "product": {
          "type": "string",
          "description": "Required. The name of the product."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "MarkAlertAsNotActionableRequest": {
      "id": "MarkAlertAsNotActionableRequest",
      "description": "Request message for MarkAlertAsNotActionable.",
      "properties": {},
      "type": "object"
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "type": "object",
      "description": "Structured priority analysis for a threat.",
      "properties": {
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "priorityLevel": {
          "description": "The level of Priority.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ]
        },
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority."
        }
      }
    },
    "MarkAlertAsTriagedRequest": {
      "description": "Request message for MarkAlertAsTriaged.",
      "properties": {},
      "type": "object",
      "id": "MarkAlertAsTriagedRequest"
    },
    "CustomerProfileCompany": {
      "type": "object",
      "description": "Company information for the customer profile.",
      "properties": {
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfileCompany"
    },
    "UpsertConfigurationResponse": {
      "id": "UpsertConfigurationResponse",
      "description": "Response message for UpsertConfiguration.",
      "properties": {
        "configuration": {
          "description": "Output only. Created configuration ID with server assigned id.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AlertDocument": {
      "id": "AlertDocument",
      "type": "object",
      "description": "A document that is associated with an alert.",
      "properties": {
        "aiSummary": {
          "description": "Output only. AI summary of the finding.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the document was created.",
          "format": "google-datetime"
        },
        "languageCode": {
          "readOnly": true,
          "description": "Output only. The language code of the document.",
          "type": "string"
        },
        "content": {
          "readOnly": true,
          "description": "Output only. The content of the document.",
          "type": "string"
        },
        "sourceUpdateTime": {
          "type": "string",
          "description": "Output only. Time when the intel was last updated by the source.",
          "format": "google-datetime",
          "readOnly": true
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the document.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket.",
          "readOnly": true
        },
        "ingestTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time when GTI received the intel.",
          "format": "google-datetime"
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "type": "string",
          "readOnly": true
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "type": "string",
          "description": "Output only. The title of the document, if available.",
          "readOnly": true
        },
        "translation": {
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        }
      }
    },
    "CustomerProfileSecurityConsiderations": {
      "id": "CustomerProfileSecurityConsiderations",
      "description": "Security considerations for the customer profile.",
      "properties": {
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        },
        "considerations": {
          "type": "array",
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "ListAlertsResponse": {
      "description": "Response message for ListAlerts.",
      "properties": {
        "alerts": {
          "type": "array",
          "description": "List of alerts.",
          "items": {
            "$ref": "Alert"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "type": "object",
      "id": "ListAlertsResponse"
    },
    "Finding": {
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "properties": {
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "items": {
            "type": "string",
            "format": "google-datetime"
          },
          "type": "array",
          "readOnly": true
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "audit": {
          "description": "Output only. Audit data about the finding.",
          "$ref": "Audit",
          "readOnly": true
        },
        "alert": {
          "description": "Optional. Name of the alert that this finding is bound to.",
          "type": "string"
        },
        "severity": {
          "type": "number",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float",
          "deprecated": true
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\"."
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "$ref": "SeverityAnalysis",
          "readOnly": true
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        }
      },
      "type": "object",
      "id": "Finding"
    },
    "MarkAlertAsReadRequest": {
      "id": "MarkAlertAsReadRequest",
      "type": "object",
      "description": "Request message for MarkAlertAsRead.",
      "properties": {}
    },
    "ConfigurationRevision": {
      "type": "object",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the Revision was created",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        }
      },
      "id": "ConfigurationRevision"
    }
  },
  "protocol": "rest",
  "title": "Threat Intelligence API"
}