{
  "id": "threatintelligence:v1beta",
  "endpoints": [
    {
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-central1"
    },
    {
      "endpointUrl": "https://threatintelligence.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://threatintelligence.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://threatintelligence.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    }
  ],
  "discoveryVersion": "v1",
  "basePath": "",
  "name": "threatintelligence",
  "description": "threatintelligence.googleapis.com API.",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "canonicalName": "Threat Intelligence Service",
  "revision": "20260407",
  "parameters": {
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "title": "Threat Intelligence API",
  "protocol": "rest",
  "version": "v1beta",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v1beta/{+name}:generateOrgProfile",
          "id": "threatintelligence.projects.generateOrgProfile",
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "description": "Triggers the generation of a Customer Profile for a project.",
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          }
        }
      },
      "resources": {
        "configurations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "description": "Get a list of configurations that meet the filter criteria.",
              "path": "v1beta/{+parent}/configurations",
              "id": "threatintelligence.projects.configurations.list",
              "parameters": {
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria."
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.configurations.get",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "description": "Get a configuration by name."
            },
            "upsert": {
              "request": {
                "$ref": "Configuration"
              },
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "description": "Creates or updates a configuration.",
              "path": "v1beta/{+parent}/configurations:upsert",
              "id": "threatintelligence.projects.configurations.upsert",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the configuration."
                },
                "publishTime": {
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "format": "google-datetime",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "description": "List configuration revisions that meet the filter criteria.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "path": "v1beta/{+parent}/revisions",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Configuration to retrieve Revisions for"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Page Size",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An AIP-160 filter string"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Specify ordering of response"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "get": {
              "response": {
                "$ref": "Finding"
              },
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the finding to get.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/findings/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.findings.get"
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "id": "threatintelligence.projects.findings.list",
              "path": "v1beta/{+parent}/findings",
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the findings.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "search": {
              "parameters": {
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                },
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/findings:search",
              "id": "threatintelligence.projects.findings.search",
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ]
            }
          }
        },
        "alerts": {
          "methods": {
            "duplicate": {
              "id": "threatintelligence.projects.alerts.duplicate",
              "path": "v1beta/{+name}:duplicate",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "response": {
                "$ref": "Alert"
              }
            },
            "trackExternally": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.trackExternally",
              "path": "v1beta/{+name}:trackExternally",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              }
            },
            "get": {
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "description": "Get an alert by name.",
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.alerts.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "triage": {
              "id": "threatintelligence.projects.alerts.triage",
              "path": "v1beta/{+name}:triage",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "falsePositive": {
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:falsePositive",
              "id": "threatintelligence.projects.alerts.falsePositive"
            },
            "benign": {
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "description": "Marks an alert as benign - BENIGN.",
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:benign",
              "id": "threatintelligence.projects.alerts.benign"
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria."
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the alerts. Format: projects/{project}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.list",
              "path": "v1beta/{+parent}/alerts",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "description": "Get a list of alerts that meet the filter criteria.",
              "response": {
                "$ref": "ListAlertsResponse"
              }
            },
            "enumerateFacets": {
              "parameters": {
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the alerts.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet."
            },
            "resolve": {
              "id": "threatintelligence.projects.alerts.resolve",
              "path": "v1beta/{+name}:resolve",
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "description": "Marks an alert to closed state - RESOLVED.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              }
            },
            "escalate": {
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "description": "Marks an alert as escalated - ESCALATED.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}:escalate",
              "id": "threatintelligence.projects.alerts.escalate",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "read": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "description": "Marks an alert as read - READ.",
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.read",
              "path": "v1beta/{+name}:read"
            },
            "notActionable": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.notActionable",
              "path": "v1beta/{+name}:notActionable"
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "description": "Gets a specific document associated with an alert.",
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "path": "v1beta/{+name}"
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "UpsertConfigurationResponse": {
      "type": "object",
      "properties": {
        "configuration": {
          "readOnly": true,
          "description": "Output only. Created configuration ID with server assigned id.",
          "type": "string"
        }
      },
      "id": "UpsertConfigurationResponse",
      "description": "Response message for UpsertConfiguration."
    },
    "CustomerProfileIndustry": {
      "id": "CustomerProfileIndustry",
      "description": "Industry information for the customer profile.",
      "type": "object",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        }
      }
    },
    "DataLeakFindingDetail": {
      "type": "object",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "id": "DataLeakFindingDetail",
      "description": "A detail object for a Data Leak finding."
    },
    "SeverityAnalysis": {
      "id": "SeverityAnalysis",
      "description": "Structured severity analysis for a threat.",
      "type": "object",
      "properties": {
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "severityLevel": {
          "type": "string",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "description": "The level of severity.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        }
      }
    },
    "ListConfigurationsResponse": {
      "id": "ListConfigurationsResponse",
      "description": "Response message for ListConfigurations.",
      "type": "object",
      "properties": {
        "configurations": {
          "description": "List of configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "ListConfigurationRevisionsResponse": {
      "type": "object",
      "properties": {
        "revisions": {
          "type": "array",
          "description": "The Configuration Revisions associated with the specified Configuration",
          "items": {
            "$ref": "ConfigurationRevision"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListConfigurationRevisionsResponse",
      "description": "Response message for ListConfigurationRevisions."
    },
    "FacetCount": {
      "id": "FacetCount",
      "description": "FacetCount represents a count of records with each facet value.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339."
        },
        "count": {
          "type": "integer",
          "description": "Count of records with the value.",
          "format": "int32"
        }
      }
    },
    "Evidence": {
      "type": "object",
      "properties": {
        "commonThemes": {
          "type": "array",
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "items": {
            "type": "string"
          }
        },
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "Evidence",
      "description": "Details the evidence used to determine the relevance verdict."
    },
    "InitialAccessBrokerAlertDetail": {
      "id": "InitialAccessBrokerAlertDetail",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "type": "object",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. IAB specific severity"
        },
        "discoveryDocumentIds": {
          "type": "array",
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "MarkAlertAsResolvedRequest": {
      "id": "MarkAlertAsResolvedRequest",
      "description": "Request message for MarkAlertAsResolved.",
      "type": "object",
      "properties": {}
    },
    "InitialAccessBrokerFindingDetail": {
      "type": "object",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      },
      "id": "InitialAccessBrokerFindingDetail",
      "description": "A detail object for an Initial Access Broker (IAB) finding."
    },
    "AlertDocument": {
      "type": "object",
      "properties": {
        "content": {
          "description": "Output only. The content of the document.",
          "type": "string",
          "readOnly": true
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "sourceUpdateTime": {
          "description": "Output only. Time when the intel was last updated by the source.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the document was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket."
        },
        "author": {
          "readOnly": true,
          "description": "Output only. The author of the document.",
          "type": "string"
        },
        "aiSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. AI summary of the finding."
        },
        "translation": {
          "readOnly": true,
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation"
        },
        "sourceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the intel item from the source."
        },
        "languageCode": {
          "description": "Output only. The language code of the document.",
          "type": "string",
          "readOnly": true
        },
        "title": {
          "readOnly": true,
          "description": "Output only. The title of the document, if available.",
          "type": "string"
        },
        "ingestTime": {
          "description": "Output only. Time when GTI received the intel.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        }
      },
      "id": "AlertDocument",
      "description": "A document that is associated with an alert."
    },
    "SearchFindingsResponse": {
      "id": "SearchFindingsResponse",
      "description": "Response message for SearchFindings.",
      "type": "object",
      "properties": {
        "findings": {
          "type": "array",
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      }
    },
    "InsiderThreatAlertDetail": {
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. InsiderThreat specific severity This will be the string representation of the InsiderThreatFindingDetail.Severityenum. (e.g., \"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\")",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "InsiderThreatAlertDetail",
      "description": "Captures the specific details of InsiderThreat alert."
    },
    "CustomerProfileConfig": {
      "type": "object",
      "properties": {
        "products": {
          "type": "array",
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "parentCompanies": {
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "type": "array"
        },
        "locations": {
          "type": "array",
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "executives": {
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "type": "array"
        },
        "industries": {
          "type": "array",
          "description": "Optional. The industries the organization is involved in.",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        },
        "contactInfo": {
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array"
        },
        "citations": {
          "type": "array",
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          }
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "orgSummary": {
          "description": "Optional. A summary of the organization.",
          "type": "string"
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfileConfig",
      "description": "CustomerProfileConfig is the configuration for the customer profile."
    },
    "CustomerProfileCitation": {
      "type": "object",
      "properties": {
        "citationId": {
          "type": "string",
          "description": "Required. The citation id for the citation. Should be unique within the profile."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The url of the citation."
        },
        "retrievalTime": {
          "type": "string",
          "description": "The time the citation was retrieved.",
          "format": "google-datetime"
        },
        "source": {
          "type": "string",
          "description": "Required. The source of the citation."
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        }
      },
      "id": "CustomerProfileCitation",
      "description": "Citation information for the customer profile."
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "description": "Captures the specific details of Data Leak alert.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. Data Leak specific severity This will be the string representation of the DataLeakFindingDetail.Severityenum. (e.g., \"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\")",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "MarkAlertAsBenignRequest": {
      "id": "MarkAlertAsBenignRequest",
      "description": "Request message for MarkAlertAsBenign.",
      "type": "object",
      "properties": {}
    },
    "CustomerProfileLocation": {
      "type": "object",
      "properties": {
        "brand": {
          "type": "string",
          "description": "Required. The brand of the location."
        },
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "Required. The address of the location."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfileLocation",
      "description": "Location information for the customer profile."
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "description": "Response message for ListFindings.",
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "CustomerProfileCompany": {
      "id": "CustomerProfileCompany",
      "description": "Company information for the customer profile.",
      "type": "object",
      "properties": {
        "company": {
          "type": "string",
          "description": "Required. The name of the company."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Configuration": {
      "type": "object",
      "properties": {
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human readable name for the configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
        },
        "audit": {
          "description": "Output only. Audit information for the configuration.",
          "$ref": "Audit",
          "readOnly": true
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Required. Name of the service that provides the configuration."
        },
        "state": {
          "description": "Optional. State of the configuration.",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        }
      },
      "id": "Configuration",
      "description": "A configuration represents a behavior an engine should follow when producing new findings."
    },
    "AlertDocumentTranslation": {
      "type": "object",
      "properties": {
        "translatedContent": {
          "readOnly": true,
          "description": "Output only. The translated content of the document.",
          "type": "string"
        },
        "translatedTitle": {
          "type": "string",
          "description": "Output only. The translated title of the document.",
          "readOnly": true
        }
      },
      "id": "AlertDocumentTranslation",
      "description": "The translation of an alert document."
    },
    "InsiderThreatFindingDetail": {
      "id": "InsiderThreatFindingDetail",
      "description": "A detail object for a InsiderThreat finding.",
      "type": "object",
      "properties": {
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis."
        }
      }
    },
    "MarkAlertAsFalsePositiveRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive."
    },
    "CustomerProfilePerson": {
      "id": "CustomerProfilePerson",
      "description": "Person information for the customer profile.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. The name of the person."
        },
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CustomerProfileCitedString": {
      "id": "CustomerProfileCitedString",
      "description": "A string with citation ids.",
      "type": "object",
      "properties": {
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          }
        },
        "value": {
          "type": "string",
          "description": "Required. The value of the string."
        }
      }
    },
    "Alert": {
      "id": "Alert",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "type": "object",
      "properties": {
        "externalId": {
          "readOnly": true,
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "type": "string"
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "$ref": "SeverityAnalysis",
          "readOnly": true
        },
        "detail": {
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail",
          "readOnly": true
        },
        "duplicatedBy": {
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "etag": {
          "type": "string",
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned."
        },
        "findingCount": {
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        },
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "$ref": "PriorityAnalysis",
          "readOnly": true
        },
        "configurations": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "items": {
            "type": "string"
          }
        },
        "audit": {
          "readOnly": true,
          "description": "Output only. Audit information for the alert.",
          "$ref": "Audit"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}"
        },
        "duplicateOf": {
          "readOnly": true,
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "findings": {
          "description": "Output only. Findings that are covered by this alert.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "description": "Output only. State of the alert.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Output only. A short title for the alert.",
          "readOnly": true
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "$ref": "RelevanceAnalysis"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        }
      }
    },
    "FindingDetail": {
      "type": "object",
      "properties": {
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat finding detail type.",
          "$ref": "InsiderThreatFindingDetail"
        },
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        }
      },
      "id": "FindingDetail",
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes."
    },
    "GenerateOrgProfileConfigurationRequest": {
      "type": "object",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Required. The domain of the organization to generate the profile for."
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the organization to generate the profile for."
        }
      },
      "id": "GenerateOrgProfileConfigurationRequest",
      "description": "Request message for GenerateOrgProfileConfiguration."
    },
    "MarkAlertAsReadRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsReadRequest",
      "description": "Request message for MarkAlertAsRead."
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "description": "Response message for ListAlerts.",
      "type": "object",
      "properties": {
        "alerts": {
          "type": "array",
          "description": "List of alerts.",
          "items": {
            "$ref": "Alert"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      }
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "id": "MarkAlertAsTrackedExternallyRequest",
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object",
      "properties": {}
    },
    "CustomerProfileSecurityConsiderations": {
      "id": "CustomerProfileSecurityConsiderations",
      "description": "Security considerations for the customer profile.",
      "type": "object",
      "properties": {
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        },
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CustomerProfileContactInfo": {
      "id": "CustomerProfileContactInfo",
      "description": "Contact information for the customer profile.",
      "type": "object",
      "properties": {
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The phone number of the contact."
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "label": {
          "description": "Optional. The name of the contact.",
          "type": "string"
        },
        "address": {
          "description": "The address of the contact.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the contact information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "Facet": {
      "id": "Facet",
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "properties": {
        "maxValue": {
          "type": "string",
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
        },
        "totalCount": {
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64",
          "type": "string"
        },
        "facetCounts": {
          "type": "array",
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          }
        },
        "facet": {
          "type": "string",
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression."
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        }
      }
    },
    "MarkAlertAsDuplicateRequest": {
      "type": "object",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      },
      "id": "MarkAlertAsDuplicateRequest",
      "description": "Request message for MarkAlertAsDuplicate."
    },
    "CustomerProfileSummary": {
      "type": "object",
      "properties": {
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "description": "Optional. The headquarters of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "description": "Optional. A narrative summary of products.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "founded": {
          "description": "Optional. The date the customer was founded.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        }
      },
      "id": "CustomerProfileSummary",
      "description": "A summarized version of the customer profile. Generated by the backend."
    },
    "MarkAlertAsTriagedRequest": {
      "id": "MarkAlertAsTriagedRequest",
      "description": "Request message for MarkAlertAsTriaged.",
      "type": "object",
      "properties": {}
    },
    "Finding": {
      "id": "Finding",
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest.",
      "type": "object",
      "properties": {
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "audit": {
          "description": "Output only. Audit data about the finding.",
          "$ref": "Audit",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}"
        },
        "severity": {
          "deprecated": true,
          "type": "number",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float"
        },
        "severityAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "$ref": "SeverityAnalysis"
        },
        "provider": {
          "type": "string",
          "description": "Required. Logical source of this finding (name of the sub-engine)."
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "reoccurrenceTimes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        },
        "displayName": {
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\".",
          "type": "string"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis"
        },
        "alert": {
          "type": "string",
          "description": "Optional. Name of the alert that this finding is bound to."
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        }
      }
    },
    "AlertDetail": {
      "id": "AlertDetail",
      "description": "Container for different types of alert details.",
      "type": "object",
      "properties": {
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string",
          "readOnly": true
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        }
      }
    },
    "Audit": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Time of creation.",
          "format": "google-datetime"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime",
          "type": "string"
        },
        "creator": {
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "type": "string",
          "readOnly": true
        },
        "updater": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId."
        }
      },
      "id": "Audit",
      "description": "Tracks basic CRUD facts."
    },
    "CustomerProfileWebPresence": {
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the web presence.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileWebPresence",
      "description": "Web presence information for the customer profile."
    },
    "ConfigurationDetail": {
      "id": "ConfigurationDetail",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "type": "object",
      "properties": {
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        }
      }
    },
    "MarkAlertAsNotActionableRequest": {
      "id": "MarkAlertAsNotActionableRequest",
      "description": "Request message for MarkAlertAsNotActionable.",
      "type": "object",
      "properties": {}
    },
    "CustomerProfileProduct": {
      "id": "CustomerProfileProduct",
      "description": "Product information for the customer profile.",
      "type": "object",
      "properties": {
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the product.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "EnumerateAlertFacetsResponse": {
      "id": "EnumerateAlertFacetsResponse",
      "description": "Response message for EnumerateAlertFacets.",
      "type": "object",
      "properties": {
        "facets": {
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          },
          "type": "array"
        }
      }
    },
    "ConfigurationRevision": {
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the Revision was created",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        }
      }
    },
    "MarkAlertAsEscalatedRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsEscalatedRequest",
      "description": "Request message for MarkAlertAsEscalated."
    },
    "RelevanceAnalysis": {
      "type": "object",
      "properties": {
        "relevant": {
          "type": "boolean",
          "description": "Indicates whether the threat is considered relevant."
        },
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        },
        "relevanceLevel": {
          "description": "The level of relevance.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ]
        }
      },
      "id": "RelevanceAnalysis",
      "description": "Structured relevance analysis for a threat."
    },
    "PriorityAnalysis": {
      "type": "object",
      "properties": {
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority."
        },
        "priorityLevel": {
          "type": "string",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "description": "The level of Priority.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ]
        },
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        }
      },
      "id": "PriorityAnalysis",
      "description": "Structured priority analysis for a threat."
    }
  },
  "version_module": true
}