{
  "discoveryVersion": "v1",
  "endpoints": [
    {
      "description": "Regional Endpoint",
      "location": "us-central1",
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/"
    },
    {
      "endpointUrl": "https://threatintelligence.us-east5.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-east5"
    },
    {
      "endpointUrl": "https://threatintelligence.us-west2.rep.googleapis.com/",
      "description": "Regional Endpoint",
      "location": "us-west2"
    },
    {
      "description": "Regional Endpoint",
      "location": "us",
      "endpointUrl": "https://threatintelligence.us.rep.googleapis.com/"
    }
  ],
  "id": "threatintelligence:v1beta",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "description": "threatintelligence.googleapis.com API.",
  "ownerName": "Google",
  "name": "threatintelligence",
  "basePath": "",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "revision": "20260407",
  "canonicalName": "Threat Intelligence Service",
  "title": "Threat Intelligence API",
  "resources": {
    "projects": {
      "methods": {
        "generateOrgProfile": {
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "response": {
            "$ref": "Operation"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "name"
          ],
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "description": "Triggers the generation of a Customer Profile for a project.",
          "path": "v1beta/{+name}:generateOrgProfile",
          "id": "threatintelligence.projects.generateOrgProfile",
          "parameters": {
            "name": {
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      },
      "resources": {
        "alerts": {
          "methods": {
            "falsePositive": {
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.falsePositive",
              "path": "v1beta/{+name}:falsePositive"
            },
            "benign": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.benign",
              "path": "v1beta/{+name}:benign",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "description": "Marks an alert as benign - BENIGN.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              }
            },
            "list": {
              "parameters": {
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "format": "int32"
                },
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts. Format: projects/{project}",
                  "location": "path",
                  "type": "string"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.list",
              "path": "v1beta/{+parent}/alerts",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "description": "Get a list of alerts that meet the filter criteria.",
              "response": {
                "$ref": "ListAlertsResponse"
              }
            },
            "trackExternally": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:trackExternally",
              "id": "threatintelligence.projects.alerts.trackExternally",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.get",
              "path": "v1beta/{+name}",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "description": "Get an alert by name.",
              "response": {
                "$ref": "Alert"
              }
            },
            "triage": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.triage",
              "path": "v1beta/{+name}:triage",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "description": "Marks an alert as triaged - TRIAGED.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              }
            },
            "duplicate": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:duplicate",
              "id": "threatintelligence.projects.alerts.duplicate",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              }
            },
            "read": {
              "path": "v1beta/{+name}:read",
              "id": "threatintelligence.projects.alerts.read",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "description": "Marks an alert as read - READ."
            },
            "notActionable": {
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}:notActionable",
              "id": "threatintelligence.projects.alerts.notActionable",
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE.",
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              }
            },
            "escalate": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "description": "Marks an alert as escalated - ESCALATED.",
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.alerts.escalate",
              "path": "v1beta/{+name}:escalate"
            },
            "enumerateFacets": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "id": "threatintelligence.projects.alerts.enumerateFacets",
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts.",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "resolve": {
              "path": "v1beta/{+name}:resolve",
              "id": "threatintelligence.projects.alerts.resolve",
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "description": "Marks an alert to closed state - RESOLVED."
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "path": "v1beta/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "description": "Gets a specific document associated with an alert.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "AlertDocument"
                  }
                }
              }
            }
          }
        },
        "configurations": {
          "methods": {
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "format": "int32"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                },
                "parent": {
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.configurations.list",
              "path": "v1beta/{+parent}/configurations",
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "description": "Get a list of configurations that meet the filter criteria.",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListConfigurationsResponse"
              }
            },
            "get": {
              "parameters": {
                "name": {
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/configurations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.configurations.get",
              "response": {
                "$ref": "Configuration"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "description": "Get a configuration by name."
            },
            "upsert": {
              "id": "threatintelligence.projects.configurations.upsert",
              "path": "v1beta/{+parent}/configurations:upsert",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the configuration."
                },
                "publishTime": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "format": "google-datetime"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "request": {
                "$ref": "Configuration"
              },
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "description": "Creates or updates a configuration.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "UpsertConfigurationResponse"
              }
            }
          },
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "description": "List configuration revisions that meet the filter criteria.",
                  "path": "v1beta/{+parent}/revisions",
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Page Size",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An AIP-160 filter string"
                    },
                    "orderBy": {
                      "description": "Optional. Specify ordering of response",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "get": {
              "id": "threatintelligence.projects.findings.get",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "description": "Required. Name of the finding to get.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+/findings/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Finding"
              }
            },
            "list": {
              "path": "v1beta/{+parent}/findings",
              "id": "threatintelligence.projects.findings.list",
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the findings.",
                  "location": "path",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Filter criteria."
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "Optional. Page size.",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}"
            },
            "search": {
              "parameters": {
                "query": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Page token."
                },
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "orderBy": {
                  "location": "query",
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\"."
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "threatintelligence.projects.findings.search",
              "path": "v1beta/{+parent}/findings:search",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "response": {
                "$ref": "SearchFindingsResponse"
              }
            }
          }
        }
      }
    }
  },
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "version": "v1beta",
  "protocol": "rest",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "version_module": true,
  "schemas": {
    "GenerateOrgProfileConfigurationRequest": {
      "id": "GenerateOrgProfileConfigurationRequest",
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the organization to generate the profile for."
        }
      }
    },
    "MarkAlertAsReadRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsReadRequest",
      "description": "Request message for MarkAlertAsRead."
    },
    "FindingDetail": {
      "type": "object",
      "properties": {
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat finding detail type.",
          "$ref": "InsiderThreatFindingDetail"
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string",
          "readOnly": true
        },
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        }
      },
      "id": "FindingDetail",
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes."
    },
    "Alert": {
      "id": "Alert",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet.",
      "type": "object",
      "properties": {
        "findings": {
          "type": "array",
          "description": "Output only. Findings that are covered by this alert.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ],
          "description": "Output only. State of the alert.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "readOnly": true
        },
        "configurations": {
          "type": "array",
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "duplicateOf": {
          "type": "string",
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}",
          "readOnly": true
        },
        "audit": {
          "readOnly": true,
          "description": "Output only. Audit information for the alert.",
          "$ref": "Audit"
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "$ref": "RelevanceAnalysis",
          "readOnly": true
        },
        "displayName": {
          "description": "Output only. A short title for the alert.",
          "type": "string",
          "readOnly": true
        },
        "detail": {
          "readOnly": true,
          "description": "Output only. Details object for the alert, not all alerts will have a details object.",
          "$ref": "AlertDetail"
        },
        "duplicatedBy": {
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        },
        "severityAnalysis": {
          "description": "Output only. High-Precision Severity Analysis for the alert.",
          "$ref": "SeverityAnalysis",
          "readOnly": true
        },
        "externalId": {
          "type": "string",
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true
        },
        "priorityAnalysis": {
          "description": "Output only. High-Precision Priority Analysis for the alert.",
          "$ref": "PriorityAnalysis",
          "readOnly": true
        },
        "findingCount": {
          "type": "string",
          "description": "Output only. The number of findings associated with this alert.",
          "format": "int64",
          "readOnly": true
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        }
      }
    },
    "CustomerProfilePerson": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfilePerson",
      "description": "Person information for the customer profile."
    },
    "CustomerProfileCitedString": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the string."
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the string.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "CustomerProfileCitedString",
      "description": "A string with citation ids."
    },
    "CustomerProfileSummary": {
      "type": "object",
      "properties": {
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "entityType": {
          "description": "Optional. The entity type of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "description": "Optional. The headquarters of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "servicesSummary": {
          "description": "Optional. A narrative summary of services.",
          "$ref": "CustomerProfileCitedString"
        },
        "productsSummary": {
          "description": "Optional. A narrative summary of products.",
          "$ref": "CustomerProfileCitedString"
        },
        "areaServed": {
          "description": "Optional. The area the customer serves.",
          "$ref": "CustomerProfileCitedString"
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "title": {
          "description": "Optional. The official name of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "industry": {
          "description": "Optional. The industry the customer is in.",
          "$ref": "CustomerProfileCitedString"
        },
        "founded": {
          "description": "Optional. The date the customer was founded.",
          "$ref": "CustomerProfileCitedString"
        },
        "keyPeopleSummary": {
          "description": "Optional. A narrative summary of key people.",
          "$ref": "CustomerProfileCitedString"
        },
        "primaryWebsite": {
          "description": "Optional. The primary website of the customer.",
          "$ref": "CustomerProfileCitedString"
        }
      },
      "id": "CustomerProfileSummary",
      "description": "A summarized version of the customer profile. Generated by the backend."
    },
    "MarkAlertAsTriagedRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsTriagedRequest",
      "description": "Request message for MarkAlertAsTriaged."
    },
    "MarkAlertAsDuplicateRequest": {
      "id": "MarkAlertAsDuplicateRequest",
      "description": "Request message for MarkAlertAsDuplicate.",
      "type": "object",
      "properties": {
        "duplicateOf": {
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}",
          "type": "string"
        }
      }
    },
    "Facet": {
      "id": "Facet",
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "properties": {
        "maxValue": {
          "type": "string",
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
        },
        "totalCount": {
          "type": "string",
          "description": "Total number of records that contain this facet with ANY value.",
          "format": "int64"
        },
        "facetCounts": {
          "type": "array",
          "description": "List of counts for the facet (if categorical).",
          "items": {
            "$ref": "FacetCount"
          }
        },
        "facet": {
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression.",
          "type": "string"
        },
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "minValue": {
          "type": "string",
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339."
        }
      }
    },
    "CustomerProfileContactInfo": {
      "type": "object",
      "properties": {
        "label": {
          "type": "string",
          "description": "Optional. The name of the contact."
        },
        "address": {
          "type": "string",
          "description": "The address of the contact."
        },
        "citationIds": {
          "description": "Optional. The citation ids for the contact information.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "other": {
          "description": "The other contact information.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "phone": {
          "type": "string",
          "description": "The phone number of the contact."
        }
      },
      "id": "CustomerProfileContactInfo",
      "description": "Contact information for the customer profile."
    },
    "CustomerProfileSecurityConsiderations": {
      "type": "object",
      "properties": {
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        },
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "CustomerProfileSecurityConsiderations",
      "description": "Security considerations for the customer profile."
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "id": "MarkAlertAsTrackedExternallyRequest",
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object",
      "properties": {}
    },
    "ListAlertsResponse": {
      "type": "object",
      "properties": {
        "alerts": {
          "description": "List of alerts.",
          "items": {
            "$ref": "Alert"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "id": "ListAlertsResponse",
      "description": "Response message for ListAlerts."
    },
    "Audit": {
      "id": "Audit",
      "description": "Tracks basic CRUD facts.",
      "type": "object",
      "properties": {
        "creator": {
          "readOnly": true,
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId.",
          "type": "string"
        },
        "updater": {
          "type": "string",
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. Time of creation.",
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. Time of creation or last update.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CustomerProfileWebPresence": {
      "id": "CustomerProfileWebPresence",
      "description": "Web presence information for the customer profile.",
      "type": "object",
      "properties": {
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the web presence.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AlertDetail": {
      "type": "object",
      "properties": {
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "insiderThreat": {
          "description": "Insider Threat alert detail type.",
          "$ref": "InsiderThreatAlertDetail"
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "dataLeak": {
          "description": "Data Leak alert detail type.",
          "$ref": "DataLeakAlertDetail"
        }
      },
      "id": "AlertDetail",
      "description": "Container for different types of alert details."
    },
    "Finding": {
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "severity": {
          "deprecated": true,
          "type": "number",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source.",
          "format": "float"
        },
        "severityAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Severity Analysis verdict for the finding.",
          "$ref": "SeverityAnalysis"
        },
        "audit": {
          "readOnly": true,
          "description": "Output only. Audit data about the finding.",
          "$ref": "Audit"
        },
        "configurations": {
          "type": "array",
          "description": "Optional. Configuration names that are bound to this finding.",
          "items": {
            "type": "string"
          }
        },
        "reoccurrenceTimes": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        },
        "provider": {
          "type": "string",
          "description": "Required. Logical source of this finding (name of the sub-engine)."
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding.",
          "$ref": "RelevanceAnalysis"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\"."
        },
        "aiSummary": {
          "type": "string",
          "description": "Optional. AI summary of the finding."
        },
        "alert": {
          "type": "string",
          "description": "Optional. Name of the alert that this finding is bound to."
        }
      },
      "id": "Finding",
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest."
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "description": "Structured relevance analysis for a threat.",
      "type": "object",
      "properties": {
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "relevanceLevel": {
          "description": "The level of relevance.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "type": "string",
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        }
      }
    },
    "PriorityAnalysis": {
      "type": "object",
      "properties": {
        "priorityLevel": {
          "type": "string",
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "description": "The level of Priority.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ]
        },
        "confidence": {
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        }
      },
      "id": "PriorityAnalysis",
      "description": "Structured priority analysis for a threat."
    },
    "ConfigurationRevision": {
      "id": "ConfigurationRevision",
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/",
          "type": "string"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "createTime": {
          "description": "Output only. The time the Revision was created",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "MarkAlertAsEscalatedRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsEscalatedRequest",
      "description": "Request message for MarkAlertAsEscalated."
    },
    "EnumerateAlertFacetsResponse": {
      "type": "object",
      "properties": {
        "facets": {
          "description": "List of facets and the counts.",
          "items": {
            "$ref": "Facet"
          },
          "type": "array"
        }
      },
      "id": "EnumerateAlertFacetsResponse",
      "description": "Response message for EnumerateAlertFacets."
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "CustomerProfileProduct": {
      "type": "object",
      "properties": {
        "citationIds": {
          "description": "Optional. The citation ids for the product.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "product": {
          "type": "string",
          "description": "Required. The name of the product."
        },
        "brand": {
          "type": "string",
          "description": "Required. The brand of the product."
        }
      },
      "id": "CustomerProfileProduct",
      "description": "Product information for the customer profile."
    },
    "ConfigurationDetail": {
      "id": "ConfigurationDetail",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "type": "object",
      "properties": {
        "detailType": {
          "readOnly": true,
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "type": "string"
        },
        "customerProfile": {
          "description": "Customer Profile detail config.",
          "$ref": "CustomerProfileConfig"
        }
      }
    },
    "MarkAlertAsNotActionableRequest": {
      "id": "MarkAlertAsNotActionableRequest",
      "description": "Request message for MarkAlertAsNotActionable.",
      "type": "object",
      "properties": {}
    },
    "Evidence": {
      "type": "object",
      "properties": {
        "distinctThemes": {
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "commonThemes": {
          "type": "array",
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Evidence",
      "description": "Details the evidence used to determine the relevance verdict."
    },
    "ListConfigurationsResponse": {
      "type": "object",
      "properties": {
        "configurations": {
          "description": "List of configurations.",
          "items": {
            "$ref": "Configuration"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        }
      },
      "id": "ListConfigurationsResponse",
      "description": "Response message for ListConfigurations."
    },
    "ListConfigurationRevisionsResponse": {
      "id": "ListConfigurationRevisionsResponse",
      "description": "Response message for ListConfigurationRevisions.",
      "type": "object",
      "properties": {
        "revisions": {
          "description": "The Configuration Revisions associated with the specified Configuration",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "FacetCount": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "count": {
          "description": "Count of records with the value.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "FacetCount",
      "description": "FacetCount represents a count of records with each facet value."
    },
    "SeverityAnalysis": {
      "type": "object",
      "properties": {
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "type": "string",
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "severityLevel": {
          "description": "The level of severity.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "type": "string",
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity."
        }
      },
      "id": "SeverityAnalysis",
      "description": "Structured severity analysis for a threat."
    },
    "DataLeakFindingDetail": {
      "type": "object",
      "properties": {
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis."
        },
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float",
          "type": "number"
        },
        "severity": {
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ]
        }
      },
      "id": "DataLeakFindingDetail",
      "description": "A detail object for a Data Leak finding."
    },
    "CustomerProfileIndustry": {
      "type": "object",
      "properties": {
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the industry.",
          "items": {
            "type": "string"
          }
        },
        "industry": {
          "type": "string",
          "description": "Required. The name of the industry."
        }
      },
      "id": "CustomerProfileIndustry",
      "description": "Industry information for the customer profile."
    },
    "UpsertConfigurationResponse": {
      "type": "object",
      "properties": {
        "configuration": {
          "type": "string",
          "description": "Output only. Created configuration ID with server assigned id.",
          "readOnly": true
        }
      },
      "id": "UpsertConfigurationResponse",
      "description": "Response message for UpsertConfiguration."
    },
    "MarkAlertAsResolvedRequest": {
      "id": "MarkAlertAsResolvedRequest",
      "description": "Request message for MarkAlertAsResolved.",
      "type": "object",
      "properties": {}
    },
    "Operation": {
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "InitialAccessBrokerAlertDetail": {
      "id": "InitialAccessBrokerAlertDetail",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert.",
      "type": "object",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. IAB specific severity"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "description": "Captures the specific details of Data Leak alert.",
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. Data Leak specific severity This will be the string representation of the DataLeakFindingDetail.Severityenum. (e.g., \"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\")",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "CustomerProfileCitation": {
      "id": "CustomerProfileCitation",
      "description": "Citation information for the customer profile.",
      "type": "object",
      "properties": {
        "citationId": {
          "type": "string",
          "description": "Required. The citation id for the citation. Should be unique within the profile."
        },
        "source": {
          "description": "Required. The source of the citation.",
          "type": "string"
        },
        "document": {
          "description": "Required. The name of the document the citation is from.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "Optional. The url of the citation."
        },
        "retrievalTime": {
          "description": "The time the citation was retrieved.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "CustomerProfileConfig": {
      "id": "CustomerProfileConfig",
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "type": "object",
      "properties": {
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "contactInfo": {
          "description": "Optional. Contact information for the organization.",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "type": "array"
        },
        "citations": {
          "description": "Optional. Citations for the organization profile.",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "type": "array"
        },
        "orgSummary": {
          "type": "string",
          "description": "Optional. A summary of the organization."
        },
        "webPresences": {
          "type": "array",
          "description": "Optional. Web presence of the organization.",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          }
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "items": {
            "$ref": "CustomerProfileLocation"
          },
          "type": "array"
        },
        "executives": {
          "type": "array",
          "description": "Optional. Executives of the organization.",
          "items": {
            "$ref": "CustomerProfilePerson"
          }
        },
        "industries": {
          "type": "array",
          "description": "Optional. The industries the organization is involved in.",
          "items": {
            "$ref": "CustomerProfileIndustry"
          }
        },
        "parentCompanies": {
          "type": "array",
          "description": "Optional. The parent companies of the organization.",
          "items": {
            "$ref": "CustomerProfileCompany"
          }
        },
        "products": {
          "description": "Optional. Product information for the organization.",
          "items": {
            "$ref": "CustomerProfileProduct"
          },
          "type": "array"
        },
        "technologyPresence": {
          "type": "string",
          "description": "Optional. Technology presence of the organization."
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        }
      }
    },
    "SearchFindingsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "findings": {
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        }
      },
      "id": "SearchFindingsResponse",
      "description": "Response message for SearchFindings."
    },
    "InsiderThreatAlertDetail": {
      "type": "object",
      "properties": {
        "severity": {
          "description": "Required. InsiderThreat specific severity This will be the string representation of the InsiderThreatFindingDetail.Severityenum. (e.g., \"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\")",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "InsiderThreatAlertDetail",
      "description": "Captures the specific details of InsiderThreat alert."
    },
    "AlertDocument": {
      "id": "AlertDocument",
      "description": "A document that is associated with an alert.",
      "type": "object",
      "properties": {
        "aiSummary": {
          "description": "Output only. AI summary of the finding.",
          "type": "string",
          "readOnly": true
        },
        "translation": {
          "readOnly": true,
          "description": "Output only. The translation of the document, if available.",
          "$ref": "AlertDocumentTranslation"
        },
        "sourceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. URI of the intel item from the source."
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The language code of the document."
        },
        "title": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The title of the document, if available."
        },
        "ingestTime": {
          "type": "string",
          "description": "Output only. Time when GTI received the intel.",
          "format": "google-datetime",
          "readOnly": true
        },
        "name": {
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}",
          "type": "string"
        },
        "content": {
          "description": "Output only. The content of the document.",
          "type": "string",
          "readOnly": true
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "sourceUpdateTime": {
          "description": "Output only. Time when the intel was last updated by the source.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the document was created.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket."
        },
        "author": {
          "description": "Output only. The author of the document.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "InitialAccessBrokerFindingDetail": {
      "id": "InitialAccessBrokerFindingDetail",
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "type": "object",
      "properties": {
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "severity": {
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      }
    },
    "MarkAlertAsFalsePositiveRequest": {
      "type": "object",
      "properties": {},
      "id": "MarkAlertAsFalsePositiveRequest",
      "description": "Request message for MarkAlertAsFalsePositive."
    },
    "InsiderThreatFindingDetail": {
      "id": "InsiderThreatFindingDetail",
      "description": "A detail object for a InsiderThreat finding.",
      "type": "object",
      "properties": {
        "matchScore": {
          "type": "number",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "format": "float"
        },
        "severity": {
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      }
    },
    "AlertDocumentTranslation": {
      "id": "AlertDocumentTranslation",
      "description": "The translation of an alert document.",
      "type": "object",
      "properties": {
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "type": "string",
          "readOnly": true
        },
        "translatedContent": {
          "description": "Output only. The translated content of the document.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Configuration": {
      "type": "object",
      "properties": {
        "provider": {
          "description": "Required. Name of the service that provides the configuration.",
          "type": "string"
        },
        "state": {
          "description": "Optional. State of the configuration.",
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ]
        },
        "detail": {
          "description": "Required. Domain specific details for the configuration.",
          "$ref": "ConfigurationDetail"
        },
        "version": {
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format",
          "type": "string"
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human readable name for the configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
        },
        "audit": {
          "description": "Output only. Audit information for the configuration.",
          "$ref": "Audit",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Optional. A description of the configuration."
        }
      },
      "id": "Configuration",
      "description": "A configuration represents a behavior an engine should follow when producing new findings."
    },
    "CustomerProfileCompany": {
      "id": "CustomerProfileCompany",
      "description": "Company information for the customer profile.",
      "type": "object",
      "properties": {
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the company.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "description": "Response message for ListFindings.",
      "type": "object",
      "properties": {
        "findings": {
          "description": "List of findings.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "CustomerProfileLocation": {
      "id": "CustomerProfileLocation",
      "description": "Location information for the customer profile.",
      "type": "object",
      "properties": {
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "description": "Optional. The citation ids for the location.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MarkAlertAsBenignRequest": {
      "id": "MarkAlertAsBenignRequest",
      "description": "Request message for MarkAlertAsBenign.",
      "type": "object",
      "properties": {}
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch"
}