{
  "canonicalName": "Threat Intelligence Service",
  "baseUrl": "https://threatintelligence.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "description": "threatintelligence.googleapis.com API.",
  "batchPath": "batch",
  "revision": "20260407",
  "basePath": "",
  "id": "threatintelligence:v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "threatintelligence",
  "resources": {
    "projects": {
      "resources": {
        "alerts": {
          "methods": {
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get an alert by name.",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the alert to get. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.get",
              "path": "v1beta/{+name}"
            },
            "falsePositive": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:falsePositive",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as a false positive - FALSE_POSITIVE.",
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsFalsePositiveRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "description": "Required. Name of the alert to mark as a false positive. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.falsePositive",
              "path": "v1beta/{+name}:falsePositive"
            },
            "benign": {
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a benign. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "MarkAlertAsBenignRequest"
              },
              "id": "threatintelligence.projects.alerts.benign",
              "path": "v1beta/{+name}:benign",
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:benign",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as benign - BENIGN."
            },
            "duplicate": {
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:duplicate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as a duplicate of another alert. - DUPLICATE.",
              "id": "threatintelligence.projects.alerts.duplicate",
              "path": "v1beta/{+name}:duplicate",
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a duplicate. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "MarkAlertAsDuplicateRequest"
              }
            },
            "trackExternally": {
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:trackExternally",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as tracked externally - TRACKED_EXTERNALLY.",
              "id": "threatintelligence.projects.alerts.trackExternally",
              "path": "v1beta/{+name}:trackExternally",
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Required. Name of the alert to mark as tracked externally. Format: projects/{project}/alerts/{alert}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "MarkAlertAsTrackedExternallyRequest"
              }
            },
            "list": {
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/alerts",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of alerts that meet the filter criteria.",
              "id": "threatintelligence.projects.alerts.list",
              "path": "v1beta/{+parent}/alerts",
              "response": {
                "$ref": "ListAlertsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Required. Parent of the alerts. Format: projects/{project}"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "location": "query"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                }
              }
            },
            "resolve": {
              "request": {
                "$ref": "MarkAlertAsResolvedRequest"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Name of the alert to mark as resolved. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$"
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.resolve",
              "path": "v1beta/{+name}:resolve",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:resolve",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert to closed state - RESOLVED.",
              "httpMethod": "POST"
            },
            "read": {
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:read",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as read - READ.",
              "httpMethod": "POST",
              "request": {
                "$ref": "MarkAlertAsReadRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to mark as read. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:read",
              "id": "threatintelligence.projects.alerts.read"
            },
            "enumerateFacets": {
              "flatPath": "v1beta/projects/{projectsId}/alerts:enumerateFacets",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "EnumerateAlertFacets returns the facets and the number of alerts that meet the filter criteria and have that value for each facet.",
              "httpMethod": "GET",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the alerts.",
                  "type": "string"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter on what alerts will be enumerated.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "EnumerateAlertFacetsResponse"
              },
              "path": "v1beta/{+parent}/alerts:enumerateFacets",
              "id": "threatintelligence.projects.alerts.enumerateFacets"
            },
            "notActionable": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "description": "Required. Name of the alert to mark as a not actionable. Format: projects/{project}/alerts/{alert}",
                  "type": "string"
                }
              },
              "request": {
                "$ref": "MarkAlertAsNotActionableRequest"
              },
              "path": "v1beta/{+name}:notActionable",
              "id": "threatintelligence.projects.alerts.notActionable",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "httpMethod": "POST",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:notActionable",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as not actionable - NOT_ACTIONABLE."
            },
            "triage": {
              "request": {
                "$ref": "MarkAlertAsTriagedRequest"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "type": "string",
                  "description": "Required. Name of the alert to mark as a triaged. Format: projects/{project}/alerts/{alert}",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "Alert"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "threatintelligence.projects.alerts.triage",
              "path": "v1beta/{+name}:triage",
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:triage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as triaged - TRIAGED.",
              "httpMethod": "POST"
            },
            "escalate": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Alert"
              },
              "path": "v1beta/{+name}:escalate",
              "id": "threatintelligence.projects.alerts.escalate",
              "request": {
                "$ref": "MarkAlertAsEscalatedRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the alert to mark as escalated. Format: projects/{project}/alerts/{alert}",
                  "pattern": "^projects/[^/]+/alerts/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}:escalate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Marks an alert as escalated - ESCALATED.",
              "httpMethod": "POST"
            }
          },
          "resources": {
            "documents": {
              "methods": {
                "get": {
                  "flatPath": "v1beta/projects/{projectsId}/alerts/{alertsId}/documents/{documentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a specific document associated with an alert.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the alert document to get. Format: projects/{project}/alerts/{alert}/documents/{document}",
                      "type": "string",
                      "pattern": "^projects/[^/]+/alerts/[^/]+/documents/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "AlertDocument"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "threatintelligence.projects.alerts.documents.get",
                  "path": "v1beta/{+name}"
                }
              }
            }
          }
        },
        "findings": {
          "methods": {
            "get": {
              "flatPath": "v1beta/projects/{projectsId}/findings/{findingsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a finding by name. The `name` field should have the format: `projects/{project}/findings/{finding}`",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Finding"
              },
              "path": "v1beta/{+name}",
              "id": "threatintelligence.projects.findings.get",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. Name of the finding to get.",
                  "pattern": "^projects/[^/]+/findings/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            },
            "search": {
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/findings:search",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "SearchFindings is a more powerful version of ListFindings that supports complex queries like \"findings for alerts\" using functions such as `has_alert` in the query string. The `parent` field in SearchFindingsRequest should have the format: projects/{project} Example to search for findings for a specific issue: `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
              "parameters": {
                "query": {
                  "description": "Optional. Query on what findings will be returned. This supports the same filter criteria as FindingService.ListFindings as well as the following relationship query `has_alert`. Example: - `has_alert(\"name=\\\"projects/gti-12345/alerts/alert-12345\\\"\")`",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the findings. Format: vaults/{vault}",
                  "type": "string"
                }
              },
              "id": "threatintelligence.projects.findings.search",
              "path": "v1beta/{+parent}/findings:search",
              "response": {
                "$ref": "SearchFindingsResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "flatPath": "v1beta/projects/{projectsId}/findings",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of findings that meet the filter criteria. The `parent` field in ListFindingsRequest should have the format: projects/{project}",
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListFindingsResponse"
              },
              "path": "v1beta/{+parent}/findings",
              "id": "threatintelligence.projects.findings.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "description": "Optional. Page token.",
                  "location": "query"
                },
                "pageSize": {
                  "description": "Optional. Page size.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "orderBy": {
                  "type": "string",
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query"
                },
                "filter": {
                  "type": "string",
                  "description": "Optional. Filter criteria.",
                  "location": "query"
                },
                "parent": {
                  "description": "Required. Parent of the findings.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true
                }
              }
            }
          }
        },
        "configurations": {
          "resources": {
            "revisions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListConfigurationRevisionsResponse"
                  },
                  "path": "v1beta/{+parent}/revisions",
                  "id": "threatintelligence.projects.configurations.revisions.list",
                  "parameters": {
                    "filter": {
                      "description": "Optional. An AIP-160 filter string",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The name of the Configuration to retrieve Revisions for",
                      "type": "string",
                      "pattern": "^projects/[^/]+/configurations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "description": "Optional. A page token provided by the API",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Page Size",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Optional. Specify ordering of response",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}/revisions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List configuration revisions that meet the filter criteria.",
                  "httpMethod": "GET"
                }
              }
            }
          },
          "methods": {
            "get": {
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/configurations/{configurationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a configuration by name.",
              "parameters": {
                "name": {
                  "description": "Required. Name of the configuration to get. Format: vaults/{vault}/configurations/{configuration}",
                  "type": "string",
                  "pattern": "^projects/[^/]+/configurations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "id": "threatintelligence.projects.configurations.get",
              "path": "v1beta/{+name}",
              "response": {
                "$ref": "Configuration"
              },
              "parameterOrder": [
                "name"
              ]
            },
            "upsert": {
              "flatPath": "v1beta/projects/{projectsId}/configurations:upsert",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates or updates a configuration.",
              "httpMethod": "POST",
              "request": {
                "$ref": "Configuration"
              },
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "Required. Parent of the configuration.",
                  "pattern": "^projects/[^/]+$"
                },
                "publishTime": {
                  "type": "string",
                  "format": "google-datetime",
                  "description": "Optional. Time that the configuration should be considered to have been published. This is an advanced feature used when onboarding and bulk loading data from other systems. Do not set this field without consulting with the API team.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "UpsertConfigurationResponse"
              },
              "path": "v1beta/{+parent}/configurations:upsert",
              "id": "threatintelligence.projects.configurations.upsert"
            },
            "list": {
              "id": "threatintelligence.projects.configurations.list",
              "path": "v1beta/{+parent}/configurations",
              "response": {
                "$ref": "ListConfigurationsResponse"
              },
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. Parent of the configuration. Format: vaults/{vault}",
                  "type": "string"
                },
                "filter": {
                  "description": "Optional. Filter criteria.",
                  "location": "query",
                  "type": "string"
                },
                "orderBy": {
                  "description": "Optional. Order by criteria in the csv format: \"field1,field2 desc\" or \"field1,field2\" or \"field1 asc, field2\".",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Page size.",
                  "location": "query"
                },
                "pageToken": {
                  "description": "Optional. Page token.",
                  "location": "query",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/configurations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Get a list of configurations that meet the filter criteria."
            }
          }
        }
      },
      "methods": {
        "generateOrgProfile": {
          "parameters": {
            "name": {
              "pattern": "^projects/[^/]+$",
              "description": "Required. The name of the project to generate the profile for. Format: projects/{project}",
              "type": "string",
              "location": "path",
              "required": true
            }
          },
          "request": {
            "$ref": "GenerateOrgProfileConfigurationRequest"
          },
          "id": "threatintelligence.projects.generateOrgProfile",
          "path": "v1beta/{+name}:generateOrgProfile",
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "name"
          ],
          "httpMethod": "POST",
          "flatPath": "v1beta/projects/{projectsId}:generateOrgProfile",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Triggers the generation of a Customer Profile for a project."
        }
      }
    }
  },
  "version": "v1beta",
  "schemas": {
    "InsiderThreatFindingDetail": {
      "type": "object",
      "description": "A detail object for a InsiderThreat finding.",
      "id": "InsiderThreatFindingDetail",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the InsiderThreat finding. This indicates the potential impact of the threat.",
          "type": "string"
        },
        "matchScore": {
          "type": "number",
          "format": "float",
          "description": "Required. Reference to the match score of the InsiderThreat finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the InsiderThreat finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        }
      }
    },
    "CustomerProfileContactInfo": {
      "id": "CustomerProfileContactInfo",
      "properties": {
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the contact information."
        },
        "phone": {
          "description": "The phone number of the contact.",
          "type": "string"
        },
        "email": {
          "description": "The email address of the contact.",
          "type": "string"
        },
        "address": {
          "type": "string",
          "description": "The address of the contact."
        },
        "label": {
          "type": "string",
          "description": "Optional. The name of the contact."
        },
        "other": {
          "type": "string",
          "description": "The other contact information."
        }
      },
      "description": "Contact information for the customer profile.",
      "type": "object"
    },
    "CustomerProfileCompany": {
      "id": "CustomerProfileCompany",
      "properties": {
        "company": {
          "description": "Required. The name of the company.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the company."
        }
      },
      "description": "Company information for the customer profile.",
      "type": "object"
    },
    "AlertDetail": {
      "type": "object",
      "description": "Container for different types of alert details.",
      "id": "AlertDetail",
      "properties": {
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        },
        "insiderThreat": {
          "$ref": "InsiderThreatAlertDetail",
          "description": "Insider Threat alert detail type."
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker alert detail type.",
          "$ref": "InitialAccessBrokerAlertDetail"
        },
        "dataLeak": {
          "$ref": "DataLeakAlertDetail",
          "description": "Data Leak alert detail type."
        }
      }
    },
    "MarkAlertAsEscalatedRequest": {
      "description": "Request message for MarkAlertAsEscalated.",
      "type": "object",
      "id": "MarkAlertAsEscalatedRequest",
      "properties": {}
    },
    "MarkAlertAsDuplicateRequest": {
      "id": "MarkAlertAsDuplicateRequest",
      "properties": {
        "duplicateOf": {
          "type": "string",
          "description": "Optional. Name of the alert to mark as a duplicate of. Format: projects/{project}/alerts/{alert}"
        }
      },
      "type": "object",
      "description": "Request message for MarkAlertAsDuplicate."
    },
    "AlertDocumentTranslation": {
      "id": "AlertDocumentTranslation",
      "properties": {
        "translatedTitle": {
          "description": "Output only. The translated title of the document.",
          "readOnly": true,
          "type": "string"
        },
        "translatedContent": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translated content of the document."
        }
      },
      "type": "object",
      "description": "The translation of an alert document."
    },
    "ListConfigurationRevisionsResponse": {
      "id": "ListConfigurationRevisionsResponse",
      "properties": {
        "revisions": {
          "type": "array",
          "items": {
            "$ref": "ConfigurationRevision"
          },
          "description": "The Configuration Revisions associated with the specified Configuration"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for ListConfigurationRevisions.",
      "type": "object"
    },
    "ListConfigurationsResponse": {
      "type": "object",
      "description": "Response message for ListConfigurations.",
      "id": "ListConfigurationsResponse",
      "properties": {
        "configurations": {
          "type": "array",
          "items": {
            "$ref": "Configuration"
          },
          "description": "List of configurations."
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      }
    },
    "ListFindingsResponse": {
      "type": "object",
      "description": "Response message for ListFindings.",
      "id": "ListFindingsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        },
        "findings": {
          "description": "List of findings.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        }
      }
    },
    "CustomerProfileSecurityConsiderations": {
      "id": "CustomerProfileSecurityConsiderations",
      "properties": {
        "note": {
          "type": "string",
          "description": "Optional. A note about the security considerations."
        },
        "considerations": {
          "description": "Optional. A series of considerations for the security of the organization, such as \"high risk of compromise\" or \"vulnerable to cyberbullying\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Security considerations for the customer profile."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      }
    },
    "MarkAlertAsResolvedRequest": {
      "id": "MarkAlertAsResolvedRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsResolved.",
      "type": "object"
    },
    "DataLeakAlertDetail": {
      "id": "DataLeakAlertDetail",
      "properties": {
        "severity": {
          "description": "Required. Data Leak specific severity This will be the string representation of the DataLeakFindingDetail.Severityenum. (e.g., \"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\")",
          "type": "string"
        },
        "discoveryDocumentIds": {
          "description": "Required. Array of ids to accommodate multiple discovery documents",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "Captures the specific details of Data Leak alert."
    },
    "UpsertConfigurationResponse": {
      "id": "UpsertConfigurationResponse",
      "properties": {
        "configuration": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Created configuration ID with server assigned id."
        }
      },
      "description": "Response message for UpsertConfiguration.",
      "type": "object"
    },
    "Evidence": {
      "id": "Evidence",
      "properties": {
        "commonThemes": {
          "description": "A list of semantic themes or concepts found to be common, related, or aligned between the sources, supporting the verdict.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "distinctThemes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of semantic themes or descriptions unique to one source or semantically distant."
        }
      },
      "description": "Details the evidence used to determine the relevance verdict.",
      "type": "object"
    },
    "ConfigurationDetail": {
      "type": "object",
      "description": "Wrapper class that contains the union struct for all the various configuration detail specific classes.",
      "id": "ConfigurationDetail",
      "properties": {
        "customerProfile": {
          "$ref": "CustomerProfileConfig",
          "description": "Customer Profile detail config."
        },
        "detailType": {
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "RelevanceAnalysis": {
      "id": "RelevanceAnalysis",
      "properties": {
        "reasoning": {
          "description": "Human-readable explanation from the matcher, detailing why a particular result is considered relevant or not relevant.",
          "type": "string"
        },
        "evidence": {
          "description": "Evidence supporting the verdict, including matched and unmatched items.",
          "$ref": "Evidence"
        },
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "type": "string",
          "description": "The level of confidence in the given verdict."
        },
        "relevant": {
          "description": "Indicates whether the threat is considered relevant.",
          "type": "boolean"
        },
        "relevanceLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Relevance.",
            "Medium Relevance.",
            "High Relevance."
          ],
          "enum": [
            "RELEVANCE_LEVEL_UNSPECIFIED",
            "RELEVANCE_LEVEL_LOW",
            "RELEVANCE_LEVEL_MEDIUM",
            "RELEVANCE_LEVEL_HIGH"
          ],
          "type": "string",
          "description": "The level of relevance."
        }
      },
      "description": "Structured relevance analysis for a threat.",
      "type": "object"
    },
    "CustomerProfileIndustry": {
      "type": "object",
      "description": "Industry information for the customer profile.",
      "id": "CustomerProfileIndustry",
      "properties": {
        "industry": {
          "description": "Required. The name of the industry.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the industry."
        }
      }
    },
    "MarkAlertAsNotActionableRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsNotActionable.",
      "id": "MarkAlertAsNotActionableRequest",
      "properties": {}
    },
    "CustomerProfileLocation": {
      "id": "CustomerProfileLocation",
      "properties": {
        "facilityType": {
          "description": "Optional. The type of location.",
          "type": "string"
        },
        "brand": {
          "description": "Required. The brand of the location.",
          "type": "string"
        },
        "address": {
          "description": "Required. The address of the location.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the location."
        }
      },
      "type": "object",
      "description": "Location information for the customer profile."
    },
    "CustomerProfileCitedString": {
      "description": "A string with citation ids.",
      "type": "object",
      "id": "CustomerProfileCitedString",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. The value of the string."
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the string."
        }
      }
    },
    "InsiderThreatAlertDetail": {
      "type": "object",
      "description": "Captures the specific details of InsiderThreat alert.",
      "id": "InsiderThreatAlertDetail",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. InsiderThreat specific severity This will be the string representation of the InsiderThreatFindingDetail.Severityenum. (e.g., \"LOW\", \"MEDIUM\", \"HIGH\", \"CRITICAL\")"
        },
        "discoveryDocumentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents"
        }
      }
    },
    "MarkAlertAsFalsePositiveRequest": {
      "id": "MarkAlertAsFalsePositiveRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsFalsePositive.",
      "type": "object"
    },
    "DataLeakFindingDetail": {
      "id": "DataLeakFindingDetail",
      "properties": {
        "matchScore": {
          "description": "Required. Reference to the match score of the Data Leak finding. This is a float value greater than 0 and less than or equal to 1 calculated by the matching engine based on the similarity of the document and the user provided configurations.",
          "type": "number",
          "format": "float"
        },
        "documentId": {
          "description": "Required. The unique identifier of the document that triggered the Data Leak finding. This ID can be used to retrieve the content of the document for further analysis.",
          "type": "string"
        },
        "severity": {
          "description": "Required. The severity of the Data Leak finding. This indicates the potential impact of the threat.",
          "type": "string",
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low severity.",
            "Medium severity.",
            "High severity.",
            "Critical severity."
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ]
        }
      },
      "type": "object",
      "description": "A detail object for a Data Leak finding."
    },
    "InitialAccessBrokerFindingDetail": {
      "id": "InitialAccessBrokerFindingDetail",
      "properties": {
        "severity": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "LOW",
            "MEDIUM",
            "HIGH",
            "CRITICAL"
          ],
          "description": "Required. The severity of the IAB finding. This indicates the potential impact of the threat.",
          "type": "string"
        },
        "matchScore": {
          "type": "number",
          "format": "float",
          "description": "Required. Reference to the match score of the IAB finding. This is a float value between 0 and 1 calculated by the matching engine based on the similarity of the document and the user provided configurations."
        },
        "documentId": {
          "type": "string",
          "description": "Required. The unique identifier of the document that triggered the IAB finding. This ID can be used to retrieve the content of the document for further analysis."
        }
      },
      "description": "A detail object for an Initial Access Broker (IAB) finding.",
      "type": "object"
    },
    "Configuration": {
      "description": "A configuration represents a behavior an engine should follow when producing new findings.",
      "type": "object",
      "id": "Configuration",
      "properties": {
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the configuration."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the configuration. format is projects/{project}/configurations/{configuration}"
        },
        "detail": {
          "$ref": "ConfigurationDetail",
          "description": "Required. Domain specific details for the configuration."
        },
        "state": {
          "enumDescriptions": [
            "Configuration state is unspecified. This is not expected to occur.",
            "Configuration is enabled for the customer.",
            "Configuration is disabled for the customer.",
            "Configuration is deprecated, no new configs are allowed to be created."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ENABLED",
            "DISABLED",
            "DEPRECATED"
          ],
          "description": "Optional. State of the configuration.",
          "type": "string"
        },
        "displayName": {
          "description": "Output only. Human readable name for the configuration.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "Optional. A user-manipulatable version. Does not adhere to a specific format"
        },
        "description": {
          "description": "Optional. A description of the configuration.",
          "type": "string"
        },
        "provider": {
          "type": "string",
          "description": "Required. Name of the service that provides the configuration."
        }
      }
    },
    "CustomerProfileConfig": {
      "description": "CustomerProfileConfig is the configuration for the customer profile.",
      "type": "object",
      "id": "CustomerProfileConfig",
      "properties": {
        "contactInfo": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileContactInfo"
          },
          "description": "Optional. Contact information for the organization."
        },
        "industries": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileIndustry"
          },
          "description": "Optional. The industries the organization is involved in."
        },
        "orgSummary": {
          "type": "string",
          "description": "Optional. A summary of the organization."
        },
        "parentCompanies": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCompany"
          },
          "description": "Optional. The parent companies of the organization."
        },
        "securityConsiderations": {
          "description": "Optional. Security considerations for the organization.",
          "$ref": "CustomerProfileSecurityConsiderations"
        },
        "locations": {
          "description": "Optional. Locations the organization is present or conducts business in.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileLocation"
          }
        },
        "executives": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfilePerson"
          },
          "description": "Optional. Executives of the organization."
        },
        "citations": {
          "type": "array",
          "items": {
            "$ref": "CustomerProfileCitation"
          },
          "description": "Optional. Citations for the organization profile."
        },
        "technologyPresence": {
          "description": "Optional. Technology presence of the organization.",
          "type": "string"
        },
        "summary": {
          "description": "Optional. A summarized version of the customer profile.",
          "$ref": "CustomerProfileSummary"
        },
        "org": {
          "description": "Required. The name of the organization.",
          "type": "string"
        },
        "webPresences": {
          "description": "Optional. Web presence of the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileWebPresence"
          }
        },
        "products": {
          "description": "Optional. Product information for the organization.",
          "type": "array",
          "items": {
            "$ref": "CustomerProfileProduct"
          }
        }
      }
    },
    "Facet": {
      "description": "Facet represents a sub element of a resource for filtering. The results from this method are used to populate the filterable facets in the UI.",
      "type": "object",
      "id": "Facet",
      "properties": {
        "facetType": {
          "description": "The type of the facet. Options include \"string\", \"int\", \"float\", \"bool\", \"enum\", \"timestamp\", \"user\" and are useful to show the right sort of UI controls when building a AIP-160 style filtering string.",
          "type": "string"
        },
        "maxValue": {
          "type": "string",
          "description": "Max value of the facet stringified based on type. Will be populated and formatted the same as min_value."
        },
        "facetCounts": {
          "type": "array",
          "items": {
            "$ref": "FacetCount"
          },
          "description": "List of counts for the facet (if categorical)."
        },
        "facet": {
          "type": "string",
          "description": "Name of the facet. This is also the string that needs to be used in the filtering expression."
        },
        "minValue": {
          "description": "Min value of the facet stringified based on type. This is only populated for facets that have a clear ordering, for types like enum it will be left empty. Timestamps will be formatted using RFC3339.",
          "type": "string"
        },
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of records that contain this facet with ANY value."
        }
      }
    },
    "ConfigurationRevision": {
      "id": "ConfigurationRevision",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The name of the ConfigurationRevision Format: projects//configurations//revisions/"
        },
        "snapshot": {
          "description": "The snapshot of the configuration",
          "$ref": "Configuration"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the Revision was created"
        }
      },
      "description": "A ConfigurationRevision is a snapshot of a Configuration at a point in time. It is immutable.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Alert": {
      "id": "Alert",
      "properties": {
        "duplicatedBy": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. alert names of the alerts that are duplicates of this alert. Format: projects/{project}/alerts/{alert}"
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "severityAnalysis": {
          "readOnly": true,
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis for the alert."
        },
        "name": {
          "description": "Identifier. Server generated name for the alert. format is projects/{project}/alerts/{alert}",
          "type": "string"
        },
        "priorityAnalysis": {
          "readOnly": true,
          "$ref": "PriorityAnalysis",
          "description": "Output only. High-Precision Priority Analysis for the alert."
        },
        "findingCount": {
          "description": "Output only. The number of findings associated with this alert.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "findings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Findings that are covered by this alert."
        },
        "etag": {
          "description": "Optional. If included when updating an alert, this should be set to the current etag of the alert. If the etags do not match, the update will be rejected and an ABORTED error will be returned.",
          "type": "string"
        },
        "relevanceAnalysis": {
          "description": "Output only. High-Precision Relevance Analysis verdict for the alert.",
          "readOnly": true,
          "$ref": "RelevanceAnalysis"
        },
        "configurations": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The resource names of the Configurations bound to this alert. Format: projects/{project}/configurations/{configuration}"
        },
        "detail": {
          "readOnly": true,
          "$ref": "AlertDetail",
          "description": "Output only. Details object for the alert, not all alerts will have a details object."
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A short title for the alert."
        },
        "duplicateOf": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. alert name of the alert this alert is a duplicate of. Format: projects/{project}/alerts/{alert}"
        },
        "audit": {
          "readOnly": true,
          "$ref": "Audit",
          "description": "Output only. Audit information for the alert."
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the alert.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value, should never be set.",
            "alert is new.",
            "alert was read by a human.",
            "alert has been triaged.",
            "alert has been escalated.",
            "alert has been resolved.",
            "alert is a duplicate of another alert.",
            "alert is a false positive and should be ignored.",
            "alert is not actionable.",
            "alert is benign.",
            "alert is tracked externally."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "NEW",
            "READ",
            "TRIAGED",
            "ESCALATED",
            "RESOLVED",
            "DUPLICATE",
            "FALSE_POSITIVE",
            "NOT_ACTIONABLE",
            "BENIGN",
            "TRACKED_EXTERNALLY"
          ]
        },
        "externalId": {
          "description": "Output only. External ID for the alert. This is used internally to provide protection against out of order updates.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Stateful object representing a group of Findings. Key feature to an Alert is that it expresses the user's intent towards the findings of that group, even those that haven't occurred yet."
    },
    "AlertDocument": {
      "id": "AlertDocument",
      "properties": {
        "ingestTime": {
          "description": "Output only. Time when GTI received the intel.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "collectionTime": {
          "description": "Output only. Time when the origin source collected the intel.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The language code of the document."
        },
        "sourceUpdateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time when the intel was last updated by the source."
        },
        "title": {
          "description": "Output only. The title of the document, if available.",
          "readOnly": true,
          "type": "string"
        },
        "translation": {
          "readOnly": true,
          "$ref": "AlertDocumentTranslation",
          "description": "Output only. The translation of the document, if available."
        },
        "author": {
          "description": "Output only. The author of the document.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. Server generated name for the alert document. format is projects/{project}/alerts/{alert}/documents/{document}"
        },
        "content": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The content of the document."
        },
        "source": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Source of the intel item, e.g. DarkMarket."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the document was created."
        },
        "aiSummary": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. AI summary of the finding."
        },
        "sourceUri": {
          "description": "Output only. URI of the intel item from the source.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "A document that is associated with an alert."
    },
    "CustomerProfileWebPresence": {
      "description": "Web presence information for the customer profile.",
      "type": "object",
      "id": "CustomerProfileWebPresence",
      "properties": {
        "domain": {
          "description": "Required. The domain name of the web presence.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the web presence."
        }
      }
    },
    "ListAlertsResponse": {
      "id": "ListAlertsResponse",
      "properties": {
        "alerts": {
          "description": "List of alerts.",
          "type": "array",
          "items": {
            "$ref": "Alert"
          }
        },
        "nextPageToken": {
          "description": "Page token.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for ListAlerts."
    },
    "InitialAccessBrokerAlertDetail": {
      "id": "InitialAccessBrokerAlertDetail",
      "properties": {
        "severity": {
          "type": "string",
          "description": "Required. IAB specific severity"
        },
        "discoveryDocumentIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Array of ids to accommodate multiple discovery documents"
        }
      },
      "type": "object",
      "description": "Captures the specific details of InitialAccessBroker (IAB) alert."
    },
    "EnumerateAlertFacetsResponse": {
      "id": "EnumerateAlertFacetsResponse",
      "properties": {
        "facets": {
          "description": "List of facets and the counts.",
          "type": "array",
          "items": {
            "$ref": "Facet"
          }
        }
      },
      "description": "Response message for EnumerateAlertFacets.",
      "type": "object"
    },
    "Audit": {
      "description": "Tracks basic CRUD facts.",
      "type": "object",
      "id": "Audit",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time of creation or last update."
        },
        "updater": {
          "description": "Output only. Agent that last updated the record, could be a UserId or a JobId.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Time of creation."
        },
        "creator": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Agent that created or updated the record, could be a UserId or a JobId."
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "properties": {
        "severityAnalysis": {
          "readOnly": true,
          "$ref": "SeverityAnalysis",
          "description": "Output only. High-Precision Severity Analysis verdict for the finding."
        },
        "aiSummary": {
          "description": "Optional. AI summary of the finding.",
          "type": "string"
        },
        "relevanceAnalysis": {
          "readOnly": true,
          "$ref": "RelevanceAnalysis",
          "description": "Output only. High-Precision Relevance Analysis verdict for the finding."
        },
        "alert": {
          "type": "string",
          "description": "Optional. Name of the alert that this finding is bound to."
        },
        "configurations": {
          "description": "Optional. Configuration names that are bound to this finding.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Server generated name for the finding (leave clear during creation). Format: projects/{project}/findings/{finding}",
          "type": "string"
        },
        "detail": {
          "description": "Required. Holder of the domain specific details of the finding.",
          "$ref": "FindingDetail"
        },
        "severity": {
          "deprecated": true,
          "type": "number",
          "format": "float",
          "description": "Optional. Deprecated: Use the `severity_analysis` field instead. Base severity score from the finding source."
        },
        "provider": {
          "description": "Required. Logical source of this finding (name of the sub-engine).",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. A short descriptive title for the finding <= 250 chars. EX: \"Actor 'baddy' offering $1000 for credentials of 'goodguy'\"."
        },
        "reoccurrenceTimes": {
          "description": "Output only. When identical finding (same labels and same details) has re-occurred.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "format": "google-datetime"
          }
        },
        "audit": {
          "description": "Output only. Audit data about the finding.",
          "readOnly": true,
          "$ref": "Audit"
        }
      },
      "type": "object",
      "description": "A ‘stateless’ and a point in time event that a check produced a result of interest."
    },
    "CustomerProfileSummary": {
      "description": "A summarized version of the customer profile. Generated by the backend.",
      "type": "object",
      "id": "CustomerProfileSummary",
      "properties": {
        "productsSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of products."
        },
        "entityType": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The entity type of the customer."
        },
        "industry": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The industry the customer is in."
        },
        "title": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The official name of the customer."
        },
        "founded": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The date the customer was founded."
        },
        "keyPeopleSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of key people."
        },
        "primaryWebsite": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The primary website of the customer."
        },
        "areaServed": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. The area the customer serves."
        },
        "parentCompany": {
          "description": "Optional. The parent company of the customer.",
          "$ref": "CustomerProfileCitedString"
        },
        "servicesSummary": {
          "$ref": "CustomerProfileCitedString",
          "description": "Optional. A narrative summary of services."
        },
        "brands": {
          "description": "Optional. A narrative summary of brands.",
          "$ref": "CustomerProfileCitedString"
        },
        "headquarters": {
          "description": "Optional. The headquarters of the customer.",
          "$ref": "CustomerProfileCitedString"
        }
      }
    },
    "MarkAlertAsTrackedExternallyRequest": {
      "description": "Request message for MarkAlertAsTrackedExternally.",
      "type": "object",
      "id": "MarkAlertAsTrackedExternallyRequest",
      "properties": {}
    },
    "PriorityAnalysis": {
      "id": "PriorityAnalysis",
      "properties": {
        "confidence": {
          "description": "The level of confidence in the given verdict.",
          "type": "string",
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ]
        },
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain priority.",
          "type": "string"
        },
        "priorityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Priority.",
            "Medium Priority.",
            "High Priority.",
            "Critical Priority."
          ],
          "enum": [
            "PRIORITY_LEVEL_UNSPECIFIED",
            "PRIORITY_LEVEL_LOW",
            "PRIORITY_LEVEL_MEDIUM",
            "PRIORITY_LEVEL_HIGH",
            "PRIORITY_LEVEL_CRITICAL"
          ],
          "type": "string",
          "description": "The level of Priority."
        }
      },
      "description": "Structured priority analysis for a threat.",
      "type": "object"
    },
    "FacetCount": {
      "type": "object",
      "description": "FacetCount represents a count of records with each facet value.",
      "id": "FacetCount",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the facet stringified. Timestamps will be formatted using RFC3339."
        },
        "count": {
          "type": "integer",
          "format": "int32",
          "description": "Count of records with the value."
        }
      }
    },
    "MarkAlertAsReadRequest": {
      "id": "MarkAlertAsReadRequest",
      "properties": {},
      "description": "Request message for MarkAlertAsRead.",
      "type": "object"
    },
    "MarkAlertAsTriagedRequest": {
      "type": "object",
      "description": "Request message for MarkAlertAsTriaged.",
      "id": "MarkAlertAsTriagedRequest",
      "properties": {}
    },
    "CustomerProfilePerson": {
      "description": "Person information for the customer profile.",
      "type": "object",
      "id": "CustomerProfilePerson",
      "properties": {
        "name": {
          "description": "Required. The name of the person.",
          "type": "string"
        },
        "citationIds": {
          "description": "Optional. The citation ids for the person.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "title": {
          "description": "Optional. The title of the person.",
          "type": "string"
        }
      }
    },
    "FindingDetail": {
      "id": "FindingDetail",
      "properties": {
        "insiderThreat": {
          "$ref": "InsiderThreatFindingDetail",
          "description": "Insider Threat finding detail type."
        },
        "detailType": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the detail type. Will be set by the server during creation to the name of the field that is set in the detail union."
        },
        "dataLeak": {
          "description": "Data Leak finding detail type.",
          "$ref": "DataLeakFindingDetail"
        },
        "initialAccessBroker": {
          "description": "Initial Access Broker finding detail type.",
          "$ref": "InitialAccessBrokerFindingDetail"
        }
      },
      "description": "Wrapper class that contains the union struct for all the various findings detail specific classes.",
      "type": "object"
    },
    "SearchFindingsResponse": {
      "description": "Response message for SearchFindings.",
      "type": "object",
      "id": "SearchFindingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Page token."
        },
        "findings": {
          "description": "List of findings.",
          "type": "array",
          "items": {
            "$ref": "Finding"
          }
        }
      }
    },
    "CustomerProfileProduct": {
      "id": "CustomerProfileProduct",
      "properties": {
        "brand": {
          "description": "Required. The brand of the product.",
          "type": "string"
        },
        "product": {
          "description": "Required. The name of the product.",
          "type": "string"
        },
        "citationIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The citation ids for the product."
        }
      },
      "type": "object",
      "description": "Product information for the customer profile."
    },
    "CustomerProfileCitation": {
      "id": "CustomerProfileCitation",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Optional. The url of the citation."
        },
        "document": {
          "type": "string",
          "description": "Required. The name of the document the citation is from."
        },
        "retrievalTime": {
          "description": "The time the citation was retrieved.",
          "type": "string",
          "format": "google-datetime"
        },
        "citationId": {
          "description": "Required. The citation id for the citation. Should be unique within the profile.",
          "type": "string"
        },
        "source": {
          "type": "string",
          "description": "Required. The source of the citation."
        }
      },
      "type": "object",
      "description": "Citation information for the customer profile."
    },
    "SeverityAnalysis": {
      "type": "object",
      "description": "Structured severity analysis for a threat.",
      "id": "SeverityAnalysis",
      "properties": {
        "reasoning": {
          "description": "Human-readable explanation from the model, detailing why a particular result is considered to have a certain severity.",
          "type": "string"
        },
        "confidence": {
          "enumDescriptions": [
            "Default value. Confidence level is not specified.",
            "Low confidence in the verdict.",
            "Medium confidence in the verdict.",
            "High confidence in the verdict."
          ],
          "enum": [
            "CONFIDENCE_LEVEL_UNSPECIFIED",
            "CONFIDENCE_LEVEL_LOW",
            "CONFIDENCE_LEVEL_MEDIUM",
            "CONFIDENCE_LEVEL_HIGH"
          ],
          "type": "string",
          "description": "The level of confidence in the given verdict."
        },
        "severityLevel": {
          "enumDescriptions": [
            "Default value, should never be set.",
            "Low Severity.",
            "Medium Severity.",
            "High Severity."
          ],
          "enum": [
            "SEVERITY_LEVEL_UNSPECIFIED",
            "SEVERITY_LEVEL_LOW",
            "SEVERITY_LEVEL_MEDIUM",
            "SEVERITY_LEVEL_HIGH"
          ],
          "type": "string",
          "description": "The level of severity."
        }
      }
    },
    "MarkAlertAsBenignRequest": {
      "id": "MarkAlertAsBenignRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for MarkAlertAsBenign."
    },
    "GenerateOrgProfileConfigurationRequest": {
      "id": "GenerateOrgProfileConfigurationRequest",
      "properties": {
        "domain": {
          "description": "Required. The domain of the organization to generate the profile for.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The display name of the organization to generate the profile for."
        }
      },
      "description": "Request message for GenerateOrgProfileConfiguration.",
      "type": "object"
    }
  },
  "servicePath": "",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "title": "Threat Intelligence API",
  "mtlsRootUrl": "https://threatintelligence.mtls.googleapis.com/",
  "documentationLink": "https://docs.cloud.google.com/threatintelligence/",
  "ownerDomain": "google.com",
  "rootUrl": "https://threatintelligence.googleapis.com/",
  "endpoints": [
    {
      "endpointUrl": "https://threatintelligence.us-central1.rep.googleapis.com/",
      "location": "us-central1",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://threatintelligence.us-east5.rep.googleapis.com/",
      "location": "us-east5",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://threatintelligence.us-west2.rep.googleapis.com/",
      "location": "us-west2",
      "description": "Regional Endpoint"
    },
    {
      "endpointUrl": "https://threatintelligence.us.rep.googleapis.com/",
      "location": "us",
      "description": "Regional Endpoint"
    }
  ],
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}