{
  "protocol": "rest",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "description": "API to publish and access results from developer tools.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "title": "Cloud Tool Results API",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "baseUrl": "https://toolresults.googleapis.com/",
  "basePath": "",
  "name": "toolresults",
  "resources": {
    "projects": {
      "methods": {
        "getSettings": {
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "id": "toolresults.projects.getSettings",
          "parameterOrder": [
            "projectId"
          ],
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "A Project id. Required.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "response": {
            "$ref": "ProjectSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings"
        },
        "initializeSettings": {
          "parameterOrder": [
            "projectId"
          ],
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 60 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "id": "toolresults.projects.initializeSettings",
          "httpMethod": "POST",
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "response": {
            "$ref": "ProjectSettings"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "description": "A Project id. Required.",
              "location": "path"
            }
          }
        }
      },
      "resources": {
        "histories": {
          "methods": {
            "create": {
              "id": "toolresults.projects.histories.create",
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "request": {
                "$ref": "History"
              },
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "requestId": {
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "type": "string",
                  "location": "query"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "A Project id. Required.",
                  "location": "path"
                }
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories"
            },
            "get": {
              "id": "toolresults.projects.histories.get",
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "parameters": {
                "projectId": {
                  "description": "A Project id. Required.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "historyId": {
                  "description": "A History id. Required.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "response": {
                "$ref": "History"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}"
            },
            "list": {
              "id": "toolresults.projects.histories.list",
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "parameterOrder": [
                "projectId"
              ],
              "parameters": {
                "filterByName": {
                  "location": "query",
                  "description": "If set, only return histories with the given name. Optional.",
                  "type": "string"
                },
                "projectId": {
                  "required": true,
                  "type": "string",
                  "description": "A Project id. Required.",
                  "location": "path"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional.",
                  "format": "int32"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A continuation token to resume the query at the next item. Optional.",
                  "location": "query"
                }
              },
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            }
          },
          "resources": {
            "executions": {
              "methods": {
                "patch": {
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string"
                    },
                    "executionId": {
                      "location": "path",
                      "description": "Required.",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query"
                    },
                    "historyId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required."
                    }
                  },
                  "httpMethod": "PATCH",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "id": "toolresults.projects.histories.executions.patch",
                  "request": {
                    "$ref": "Execution"
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ]
                },
                "list": {
                  "parameters": {
                    "historyId": {
                      "required": true,
                      "type": "string",
                      "description": "A History id. Required.",
                      "location": "path"
                    },
                    "pageToken": {
                      "description": "A continuation token to resume the query at the next item. Optional.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "projectId": {
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "GET",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "id": "toolresults.projects.histories.executions.list",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ]
                },
                "get": {
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "description": "A Project id. Required.",
                      "location": "path"
                    },
                    "historyId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "A History id. Required."
                    },
                    "executionId": {
                      "description": "An Execution id. Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "id": "toolresults.projects.histories.executions.get",
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist"
                },
                "create": {
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "request": {
                    "$ref": "Execution"
                  },
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "id": "toolresults.projects.histories.executions.create",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "POST",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "response": {
                    "$ref": "Execution"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "projectId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "A Project id. Required."
                    },
                    "historyId": {
                      "description": "A History id. Required.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "requestId": {
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "type": "string",
                      "location": "query"
                    }
                  }
                }
              },
              "resources": {
                "steps": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "A Project id. Required.",
                          "location": "path"
                        },
                        "stepId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Step id. Required."
                        },
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Execution id. Required."
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "response": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ]
                    },
                    "list": {
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required.",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item. Optional.",
                          "type": "string",
                          "location": "query"
                        },
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "description": "A Project id. Required.",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "response": {
                        "$ref": "ListStepsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps"
                    },
                    "getPerfMetricsSummary": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "description": "A tool results history ID.",
                          "location": "path"
                        },
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "A tool results execution ID.",
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "The cloud project",
                          "required": true,
                          "type": "string"
                        },
                        "stepId": {
                          "description": "A tool results step ID.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary"
                    },
                    "patch": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "response": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "PATCH",
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "A Execution id. Required.",
                          "location": "path"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "stepId": {
                          "location": "path",
                          "description": "A Step id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "request": {
                        "$ref": "Step"
                      },
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist"
                    },
                    "publishXunitXmlFiles": {
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A Execution id. Required."
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "stepId": {
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "response": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      }
                    },
                    "accessibilityClusters": {
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "locale": {
                          "location": "query",
                          "type": "string",
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters"
                    },
                    "create": {
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "request": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string",
                          "location": "query"
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. A History id."
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. A Project id."
                        }
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "response": {
                        "$ref": "Step"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps"
                    }
                  },
                  "resources": {
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist",
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "parameters": {
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Project id. Required."
                            },
                            "stepId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Step id. Required."
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "An Execution id. Required."
                            },
                            "pageToken": {
                              "location": "query",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32",
                              "type": "integer",
                              "location": "query"
                            },
                            "historyId": {
                              "location": "path",
                              "description": "A History id. Required.",
                              "required": true,
                              "type": "string"
                            }
                          },
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails"
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "get": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.testCases.get",
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "response": {
                            "$ref": "TestCase"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "parameters": {
                            "testCaseId": {
                              "location": "path",
                              "description": "A Test Case id. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "description": "A Execution id Required.",
                              "location": "path"
                            },
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Project id. Required."
                            },
                            "stepId": {
                              "location": "path",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "historyId": {
                              "location": "path",
                              "description": "A History id. Required.",
                              "required": true,
                              "type": "string"
                            }
                          }
                        },
                        "list": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "parameters": {
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Project id. Required."
                            },
                            "stepId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query"
                            },
                            "executionId": {
                              "description": "A Execution id Required.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A History id. Required."
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32"
                            }
                          }
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "methods": {
                        "create": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "parameters": {
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "description": "The cloud project",
                              "location": "path"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "historyId": {
                              "location": "path",
                              "description": "A tool results history ID.",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results execution ID."
                            }
                          },
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist"
                        },
                        "get": {
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "parameters": {
                            "historyId": {
                              "location": "path",
                              "description": "A tool results history ID.",
                              "required": true,
                              "type": "string"
                            },
                            "sampleSeriesId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A sample series id"
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "projectId": {
                              "description": "The cloud project",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "stepId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results step ID."
                            }
                          }
                        },
                        "list": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "description": "A tool results history ID.",
                              "location": "path"
                            },
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "The cloud project"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "required": true,
                              "type": "string",
                              "location": "path"
                            },
                            "executionId": {
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "required": true,
                              "type": "string"
                            },
                            "filter": {
                              "location": "query",
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ],
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result",
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "type": "string",
                              "repeated": true
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list"
                        }
                      },
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "parameters": {
                                "projectId": {
                                  "location": "path",
                                  "description": "The cloud project",
                                  "required": true,
                                  "type": "string"
                                },
                                "stepId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results step ID.",
                                  "location": "path"
                                },
                                "executionId": {
                                  "location": "path",
                                  "description": "A tool results execution ID.",
                                  "required": true,
                                  "type": "string"
                                },
                                "sampleSeriesId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A sample series id",
                                  "location": "path"
                                },
                                "historyId": {
                                  "location": "path",
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results history ID."
                                }
                              },
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "httpMethod": "POST",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ]
                            },
                            "list": {
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "httpMethod": "GET",
                              "parameters": {
                                "executionId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results execution ID.",
                                  "location": "path"
                                },
                                "pageToken": {
                                  "location": "query",
                                  "type": "string",
                                  "description": "Optional, the next_page_token returned in the previous response"
                                },
                                "projectId": {
                                  "location": "path",
                                  "description": "The cloud project",
                                  "required": true,
                                  "type": "string"
                                },
                                "stepId": {
                                  "required": true,
                                  "type": "string",
                                  "description": "A tool results step ID.",
                                  "location": "path"
                                },
                                "pageSize": {
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000",
                                  "format": "int32",
                                  "type": "integer",
                                  "location": "query"
                                },
                                "historyId": {
                                  "description": "A tool results history ID.",
                                  "required": true,
                                  "type": "string",
                                  "location": "path"
                                },
                                "sampleSeriesId": {
                                  "location": "path",
                                  "description": "A sample series id",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist"
                            }
                          }
                        }
                      }
                    },
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "parameters": {
                            "projectId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "The cloud project"
                            },
                            "stepId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results step ID."
                            },
                            "executionId": {
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "required": true,
                              "type": "string"
                            },
                            "historyId": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "A tool results history ID."
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "clusters": {
                  "methods": {
                    "get": {
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "parameters": {
                        "projectId": {
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "clusterId": {
                          "location": "path",
                          "description": "A Cluster id Required.",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "executionId": {
                          "location": "path",
                          "description": "An Execution id. Required.",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "parameters": {
                        "projectId": {
                          "location": "path",
                          "description": "A Project id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "A History id. Required."
                        },
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "description": "An Execution id. Required.",
                          "location": "path"
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ]
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "get": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "response": {
                        "$ref": "Environment"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "projectId": {
                          "description": "Required. A Project id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "historyId": {
                          "description": "Required. A History id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "environmentId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. An Environment id.",
                          "location": "path"
                        },
                        "executionId": {
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist",
                      "id": "toolresults.projects.histories.executions.environments.get"
                    },
                    "list": {
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist",
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "description": "Required. A History id.",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "projectId": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. A Project id."
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item.",
                          "type": "string",
                          "location": "query"
                        },
                        "executionId": {
                          "description": "Required. An Execution id.",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1beta3",
  "schemas": {
    "TestExecutionStep": {
      "description": "A step that represents running tests. It accepts ant-junit xml files which will be parsed into structured test results by the service. Xml file paths are updated in order to append more files, however they can't be deleted. Users can also add test results manually by using the test_result field.",
      "id": "TestExecutionStep",
      "type": "object",
      "properties": {
        "testSuiteOverviews": {
          "items": {
            "$ref": "TestSuiteOverview"
          },
          "description": "List of test suite overview contents. This could be parsed from xUnit XML log by server, or uploaded directly by user. This references should only be called when test suites are fully parsed or uploaded. The maximum allowed number of test suite overviews per step is 1000. - In response: always set - In create request: optional - In update request: never (use publishXunitXmlFiles custom method instead)",
          "type": "array"
        },
        "testTiming": {
          "description": "The timing break down of the test execution. - In response: present if set by create or update - In create/update request: optional",
          "$ref": "TestTiming"
        },
        "toolExecution": {
          "description": "Represents the execution of the test runner. The exit code of this tool will be used to determine if the test passed. - In response: always set - In create/update request: optional",
          "$ref": "ToolExecution"
        },
        "testIssues": {
          "description": "Issues observed during the test execution. For example, if the mobile app under test crashed during the test, the error message and the stack trace content can be recorded here to assist debugging. - In response: present if set by create or update - In create/update request: optional",
          "type": "array",
          "items": {
            "$ref": "TestIssue"
          }
        }
      }
    },
    "SuccessDetail": {
      "id": "SuccessDetail",
      "type": "object",
      "properties": {
        "otherNativeCrash": {
          "description": "If a native process other than the app crashed.",
          "type": "boolean"
        }
      },
      "description": "Details for an outcome with a SUCCESS outcome summary. LINT.IfChange"
    },
    "IosTestLoop": {
      "description": "A game loop test of an iOS application.",
      "id": "IosTestLoop",
      "type": "object",
      "properties": {
        "bundleId": {
          "type": "string",
          "description": "Bundle ID of the app."
        }
      }
    },
    "Environment": {
      "id": "Environment",
      "type": "object",
      "properties": {
        "historyId": {
          "type": "string",
          "description": "Output only. A History id."
        },
        "environmentResult": {
          "description": "Merged result of the environment.",
          "$ref": "MergedResult"
        },
        "displayName": {
          "type": "string",
          "description": "A short human-readable name to display in the UI. Maximum of 100 characters. For example: Nexus 5, API 27."
        },
        "executionId": {
          "description": "Output only. An Execution id.",
          "type": "string"
        },
        "dimensionValue": {
          "items": {
            "$ref": "EnvironmentDimensionValueEntry"
          },
          "type": "array",
          "description": "Dimension values describing the environment. Dimension values always consist of \"Model\", \"Version\", \"Locale\", and \"Orientation\". - In response: always set - In create request: always set - In update request: never set"
        },
        "completionTime": {
          "description": "Output only. The time when the Environment status was set to complete. This value will be set automatically when state transitions to COMPLETE.",
          "$ref": "Timestamp"
        },
        "resultsStorage": {
          "description": "The location where output files are stored in the user bucket.",
          "$ref": "ResultsStorage"
        },
        "projectId": {
          "description": "Output only. A Project id.",
          "type": "string"
        },
        "environmentId": {
          "description": "Output only. An Environment id.",
          "type": "string"
        },
        "shardSummaries": {
          "description": "Output only. Summaries of shards. Only one shard will present unless sharding feature is enabled in TestExecutionService.",
          "type": "array",
          "items": {
            "$ref": "ShardSummary"
          }
        },
        "creationTime": {
          "description": "Output only. The time when the Environment was created.",
          "$ref": "Timestamp"
        }
      },
      "description": "An Environment represents the set of test runs (Steps) from the parent Execution that are configured with the same set of dimensions (Model, Version, Locale, and Orientation). Multiple such runs occur particularly because of features like sharding (splitting up a test suite to run in parallel across devices) and reruns (running a test multiple times to check for different outcomes)."
    },
    "Screen": {
      "id": "Screen",
      "type": "object",
      "properties": {
        "fileReference": {
          "description": "File reference of the png file. Required.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "OS version of the device that the screenshot was taken on. Required."
        },
        "locale": {
          "type": "string",
          "description": "Locale of the device that the screenshot was taken on. Required."
        },
        "model": {
          "type": "string",
          "description": "Model of the device that the screenshot was taken on. Required."
        }
      }
    },
    "StartActivityNotFound": {
      "description": "User provided intent failed to resolve to an activity.",
      "id": "StartActivityNotFound",
      "type": "object",
      "properties": {
        "action": {
          "type": "string"
        },
        "uri": {
          "type": "string"
        }
      }
    },
    "MultiStep": {
      "id": "MultiStep",
      "type": "object",
      "properties": {
        "multistepNumber": {
          "type": "integer",
          "description": "Unique int given to each step. Ranges from 0(inclusive) to total number of steps(exclusive). The primary step is 0.",
          "format": "int32"
        },
        "primaryStep": {
          "description": "Present if it is a primary (original) step.",
          "$ref": "PrimaryStep"
        },
        "primaryStepId": {
          "type": "string",
          "description": "Step Id of the primary (original) step, which might be this step."
        }
      },
      "description": "Details when multiple steps are run with the same configuration as a group."
    },
    "UnspecifiedWarning": {
      "description": "Default unspecified warning.",
      "id": "UnspecifiedWarning",
      "type": "object",
      "properties": {}
    },
    "AndroidTest": {
      "description": "An Android mobile test specification.",
      "id": "AndroidTest",
      "type": "object",
      "properties": {
        "androidRoboTest": {
          "description": "An Android robo test.",
          "$ref": "AndroidRoboTest"
        },
        "androidInstrumentationTest": {
          "description": "An Android instrumentation test.",
          "$ref": "AndroidInstrumentationTest"
        },
        "androidAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "AndroidAppInfo"
        },
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        },
        "androidTestLoop": {
          "description": "An Android test loop.",
          "$ref": "AndroidTestLoop"
        }
      }
    },
    "Outcome": {
      "id": "Outcome",
      "type": "object",
      "properties": {
        "skippedDetail": {
          "description": "More information about a SKIPPED outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SKIPPED. Optional",
          "$ref": "SkippedDetail"
        },
        "summary": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "type": "string",
          "description": "The simplest way to interpret a result. Required",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ]
        },
        "successDetail": {
          "description": "More information about a SUCCESS outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not SUCCESS. Optional",
          "$ref": "SuccessDetail"
        },
        "inconclusiveDetail": {
          "description": "More information about an INCONCLUSIVE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not INCONCLUSIVE. Optional",
          "$ref": "InconclusiveDetail"
        },
        "failureDetail": {
          "description": "More information about a FAILURE outcome. Returns INVALID_ARGUMENT if this field is set but the summary is not FAILURE. Optional",
          "$ref": "FailureDetail"
        }
      },
      "description": "Interprets a result so that humans and machines can act on it."
    },
    "ToolExitCode": {
      "description": "Exit code from a tool execution.",
      "id": "ToolExitCode",
      "type": "object",
      "properties": {
        "number": {
          "description": "Tool execution exit code. A value of 0 means that the execution was successful. - In response: always set - In create/update request: always set",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "History": {
      "id": "History",
      "type": "object",
      "properties": {
        "historyId": {
          "type": "string",
          "description": "A unique identifier within a project for this History. Returns INVALID_ARGUMENT if this field is set or overwritten by the caller. - In response always set - In create request: never set"
        },
        "displayName": {
          "type": "string",
          "description": "A short human-readable (plain text) name to display in the UI. Maximum of 100 characters. - In response: present if set during create. - In create request: optional"
        },
        "name": {
          "type": "string",
          "description": "A name to uniquely identify a history within a project. Maximum of 200 characters. - In response always set - In create request: always set"
        },
        "testPlatform": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "description": "The platform of the test history. - In response: always set. Returns the platform of the last execution if unknown.",
          "enum": [
            "unknownPlatform",
            "android",
            "ios"
          ]
        }
      },
      "description": "A History represents a sorted list of Executions ordered by the start_timestamp_millis field (descending). It can be used to group all the Executions of a continuous build. Note that the ordering only operates on one-dimension. If a repository has multiple branches, it means that multiple histories will need to be used in order to order Executions per branch."
    },
    "CrashDialogError": {
      "description": "Crash dialog was detected during the test execution",
      "id": "CrashDialogError",
      "type": "object",
      "properties": {
        "crashPackage": {
          "description": "The name of the package that caused the dialog.",
          "type": "string"
        }
      }
    },
    "PrimaryStep": {
      "description": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step.",
      "id": "PrimaryStep",
      "type": "object",
      "properties": {
        "rollUp": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ],
          "description": "Rollup test status of multiple steps that were run with the same configuration as a group.",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "type": "string"
        },
        "individualOutcome": {
          "description": "Step Id and outcome of each individual step.",
          "type": "array",
          "items": {
            "$ref": "IndividualOutcome"
          }
        }
      }
    },
    "TestCaseReference": {
      "description": "A reference to a test case. Test case references are canonically ordered lexicographically by these three factors: * First, by test_suite_name. * Second, by class_name. * Third, by name.",
      "id": "TestCaseReference",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the test case. Required."
        },
        "className": {
          "description": "The name of the class.",
          "type": "string"
        },
        "testSuiteName": {
          "description": "The name of the test suite to which this test case belongs.",
          "type": "string"
        }
      }
    },
    "UpgradeInsight": {
      "description": "This insight is a recommendation to upgrade a given library to the specified version, in order to avoid dependencies on non-SDK APIs.",
      "id": "UpgradeInsight",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "The name of the package to be upgraded.",
          "type": "string"
        },
        "upgradeToVersion": {
          "description": "The suggested version to upgrade to. Optional: In case we are not sure which version solves this problem",
          "type": "string"
        }
      }
    },
    "UsedRoboDirective": {
      "id": "UsedRoboDirective",
      "type": "object",
      "properties": {
        "resourceName": {
          "type": "string",
          "description": "The name of the resource that was used."
        }
      },
      "description": "Additional details of a used Robo directive."
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "ListStepThumbnailsResponse": {
      "description": "A response containing the thumbnails in a step.",
      "id": "ListStepThumbnailsResponse",
      "type": "object",
      "properties": {
        "thumbnails": {
          "items": {
            "$ref": "Image"
          },
          "description": "A list of image data. Images are returned in a deterministic order; they are ordered by these factors, in order of importance: * First, by their associated test case. Images without a test case are considered greater than images with one. * Second, by their creation time. Images without a creation time are greater than images with one. * Third, by the order in which they were added to the step (by calls to CreateStep or UpdateStep).",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A continuation token to resume the query at the next item. If set, indicates that there are more thumbnails to read, by calling list again with this value in the page_token field."
        }
      }
    },
    "IosTest": {
      "description": "A iOS mobile test specification",
      "id": "IosTest",
      "type": "object",
      "properties": {
        "iosXcTest": {
          "description": "An iOS XCTest.",
          "$ref": "IosXcTest"
        },
        "iosAppInfo": {
          "description": "Information about the application under test.",
          "$ref": "IosAppInfo"
        },
        "iosTestLoop": {
          "description": "An iOS test loop.",
          "$ref": "IosTestLoop"
        },
        "iosRoboTest": {
          "description": "An iOS Robo test.",
          "$ref": "IosRoboTest"
        },
        "testTimeout": {
          "description": "Max time a test is allowed to run before it is automatically cancelled.",
          "$ref": "Duration"
        }
      }
    },
    "BasicPerfSampleSeries": {
      "description": "Encapsulates the metadata for basic sample series represented by a line chart",
      "id": "BasicPerfSampleSeries",
      "type": "object",
      "properties": {
        "perfMetricType": {
          "enum": [
            "perfMetricTypeUnspecified",
            "memory",
            "cpu",
            "network",
            "graphics"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "perfUnit": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "perfUnitUnspecified",
            "kibibyte",
            "percent",
            "bytesPerSecond",
            "framesPerSecond",
            "byte"
          ]
        },
        "sampleSeriesLabel": {
          "enum": [
            "sampleSeriesTypeUnspecified",
            "memoryRssPrivate",
            "memoryRssShared",
            "memoryRssTotal",
            "memoryTotal",
            "cpuUser",
            "cpuKernel",
            "cpuTotal",
            "ntBytesTransferred",
            "ntBytesReceived",
            "networkSent",
            "networkReceived",
            "graphicsFrameRate"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Memory sample series",
            "",
            "",
            "",
            "CPU sample series",
            "",
            "",
            "Network sample series",
            "",
            "",
            "",
            "Graphics sample series"
          ]
        }
      }
    },
    "TestCase": {
      "id": "TestCase",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The start time of the test case.",
          "$ref": "Timestamp"
        },
        "status": {
          "type": "string",
          "description": "The status of the test case. Required.",
          "enum": [
            "passed",
            "failed",
            "error",
            "skipped",
            "flaky"
          ],
          "enumDescriptions": [
            "Test passed.",
            "Test failed.",
            "Test encountered an error",
            "Test skipped",
            "Test flaked. Present only for rollup test cases; test cases from steps that were run with the same configuration had both failure and success outcomes."
          ]
        },
        "endTime": {
          "description": "The end time of the test case.",
          "$ref": "Timestamp"
        },
        "stackTraces": {
          "description": "The stack trace details if the test case failed or encountered an error. The maximum size of the stack traces is 100KiB, beyond which the stack track will be truncated. Zero if the test case passed.",
          "type": "array",
          "items": {
            "$ref": "StackTrace"
          }
        },
        "toolOutputs": {
          "items": {
            "$ref": "ToolOutputReference"
          },
          "type": "array",
          "description": "References to opaque files of any format output by the tool execution. @OutputOnly"
        },
        "testCaseId": {
          "type": "string",
          "description": "A unique identifier within a Step for this Test Case."
        },
        "skippedMessage": {
          "description": "Why the test case was skipped. Present only for skipped test case",
          "type": "string"
        },
        "testCaseReference": {
          "description": "Test case reference, e.g. name, class name and test suite name. Required.",
          "$ref": "TestCaseReference"
        },
        "elapsedTime": {
          "description": "The elapsed run time of the test case. Required.",
          "$ref": "Duration"
        }
      }
    },
    "DetectedAppSplashScreen": {
      "id": "DetectedAppSplashScreen",
      "type": "object",
      "properties": {},
      "description": "A notification that Robo detected a splash screen provided by app (vs. Android OS splash screen)."
    },
    "ListScreenshotClustersResponse": {
      "id": "ListScreenshotClustersResponse",
      "type": "object",
      "properties": {
        "clusters": {
          "description": "The set of clusters associated with an execution Always set",
          "type": "array",
          "items": {
            "$ref": "ScreenshotCluster"
          }
        }
      }
    },
    "InsufficientCoverage": {
      "description": "A warning that Robo did not crawl potentially important parts of the app.",
      "id": "InsufficientCoverage",
      "type": "object",
      "properties": {}
    },
    "Timestamp": {
      "id": "Timestamp",
      "type": "object",
      "properties": {
        "seconds": {
          "description": "Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z inclusive.",
          "format": "int64",
          "type": "string"
        },
        "nanos": {
          "description": "Non-negative fractions of a second at nanosecond resolution. Negative second values with fractions must still have non-negative nanos values that count forward in time. Must be from 0 to 999,999,999 inclusive.",
[...]
