{
  "mtlsRootUrl": "https://toolresults.mtls.googleapis.com/",
  "baseUrl": "https://toolresults.googleapis.com/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "canonicalName": "Tool Results",
  "documentationLink": "https://firebase.google.com/docs/test-lab/",
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "rootUrl": "https://toolresults.googleapis.com/",
  "description": "API to publish and access results from developer tools.",
  "discoveryVersion": "v1",
  "basePath": "",
  "id": "toolresults:v1beta3",
  "resources": {
    "projects": {
      "methods": {
        "getSettings": {
          "path": "toolresults/v1beta3/projects/{projectId}/settings",
          "httpMethod": "GET",
          "response": {
            "$ref": "ProjectSettings"
          },
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Gets the Tool Results settings for a project. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from project",
          "flatPath": "toolresults/v1beta3/projects/{projectId}/settings",
          "id": "toolresults.projects.getSettings",
          "parameters": {
            "projectId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "A Project id. Required."
            }
          }
        },
        "initializeSettings": {
          "parameterOrder": [
            "projectId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "description": "Creates resources for settings which have not yet been set. Currently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 60 days. The bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details. If there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created. May return any canonical error codes, including the following: - PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage",
          "flatPath": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "id": "toolresults.projects.initializeSettings",
          "parameters": {
            "projectId": {
              "location": "path",
              "description": "A Project id. Required.",
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "path": "toolresults/v1beta3/projects/{projectId}:initializeSettings",
          "response": {
            "$ref": "ProjectSettings"
          }
        }
      },
      "resources": {
        "histories": {
          "methods": {
            "create": {
              "parameterOrder": [
                "projectId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Creates a History. The returned History will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist",
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "id": "toolresults.projects.histories.create",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "A Project id. Required.",
                  "location": "path"
                },
                "requestId": {
                  "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "httpMethod": "POST",
              "request": {
                "$ref": "History"
              },
              "response": {
                "$ref": "History"
              }
            },
            "get": {
              "id": "toolresults.projects.histories.get",
              "parameters": {
                "projectId": {
                  "location": "path",
                  "description": "A Project id. Required.",
                  "required": true,
                  "type": "string"
                },
                "historyId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "A History id. Required."
                }
              },
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets a History. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "parameterOrder": [
                "projectId",
                "historyId"
              ],
              "response": {
                "$ref": "History"
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}",
              "httpMethod": "GET"
            },
            "list": {
              "id": "toolresults.projects.histories.list",
              "parameters": {
                "projectId": {
                  "type": "string",
                  "required": true,
                  "description": "A Project id. Required.",
                  "location": "path"
                },
                "filterByName": {
                  "type": "string",
                  "location": "query",
                  "description": "If set, only return histories with the given name. Optional."
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of Histories to fetch. Default value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100. Optional.",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A continuation token to resume the query at the next item. Optional."
                }
              },
              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists Histories for a given Project. The histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist",
              "parameterOrder": [
                "projectId"
              ],
              "response": {
                "$ref": "ListHistoriesResponse"
              },
              "path": "toolresults/v1beta3/projects/{projectId}/histories",
              "httpMethod": "GET"
            }
          },
          "resources": {
            "executions": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Executions for a given History. The executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "id": "toolresults.projects.histories.executions.list",
                  "parameters": {
                    "projectId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "A Project id. Required."
                    },
                    "historyId": {
                      "description": "A History id. Required.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "description": "The maximum number of Executions to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A continuation token to resume the query at the next item. Optional.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListExecutionsResponse"
                  }
                },
                "get": {
                  "id": "toolresults.projects.histories.executions.get",
                  "parameters": {
                    "executionId": {
                      "description": "An Execution id. Required.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "projectId": {
                      "location": "path",
                      "description": "A Project id. Required.",
                      "required": true,
                      "type": "string"
                    },
                    "historyId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "A History id. Required."
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets an Execution. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist",
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "httpMethod": "GET",
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}"
                },
                "create": {
                  "id": "toolresults.projects.histories.executions.create",
                  "parameters": {
                    "historyId": {
                      "type": "string",
                      "required": true,
                      "description": "A History id. Required.",
                      "location": "path"
                    },
                    "projectId": {
                      "description": "A Project id. Required.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query"
                    }
                  },
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates an Execution. The returned Execution will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist",
                  "parameterOrder": [
                    "projectId",
                    "historyId"
                  ],
                  "response": {
                    "$ref": "Execution"
                  },
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Execution"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions"
                },
                "patch": {
                  "parameterOrder": [
                    "projectId",
                    "historyId",
                    "executionId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing Execution with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist",
                  "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "id": "toolresults.projects.histories.executions.patch",
                  "parameters": {
                    "executionId": {
                      "description": "Required.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "requestId": {
                      "type": "string",
                      "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                      "location": "query"
                    },
                    "projectId": {
                      "description": "A Project id. Required.",
                      "location": "path",
                      "type": "string",
                      "required": true
                    },
                    "historyId": {
                      "location": "path",
                      "description": "Required.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Execution"
                  },
                  "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}",
                  "response": {
                    "$ref": "Execution"
                  }
                }
              },
              "resources": {
                "steps": {
                  "methods": {
                    "list": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListStepsResponse"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Steps for a given Execution. The steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "id": "toolresults.projects.histories.executions.steps.list",
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of Steps to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0. Optional.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A continuation token to resume the query at the next item. Optional."
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A History id. Required."
                        }
                      }
                    },
                    "create": {
                      "response": {
                        "$ref": "Step"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Step"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "id": "toolresults.projects.histories.executions.steps.create",
                      "parameters": {
                        "executionId": {
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string"
                        },
                        "projectId": {
                          "location": "path",
                          "description": "Required. A Project id.",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. A History id."
                        }
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a Step. The returned Step will have the id set. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ]
                    },
                    "accessibilityClusters": {
                      "flatPath": "toolresults/v1beta3/projects/{projectsId}/histories/{historiesId}/executions/{executionsId}/steps/{stepsId}:accessibilityClusters",
                      "id": "toolresults.projects.histories.executions.steps.accessibilityClusters",
                      "parameters": {
                        "locale": {
                          "type": "string",
                          "location": "query",
                          "description": "The accepted format is the canonical Unicode format with hyphen as a delimiter. Language must be lowercase, Language Script - Capitalized, Region - UPPERCASE. See http://www.unicode.org/reports/tr35/#Unicode_locale_identifier for details. Required."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/histories/[^/]+/executions/[^/]+/steps/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "A full resource name of the step. For example, projects/my-project/histories/bh.1234567890abcdef/executions/ 1234567890123456789/steps/bs.1234567890abcdef Required.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists accessibility clusters for a given Step May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if the locale format is incorrect - NOT_FOUND - if the containing Step does not exist",
                      "response": {
                        "$ref": "ListStepAccessibilityClustersResponse"
                      },
                      "path": "toolresults/v1beta3/{+name}:accessibilityClusters",
                      "httpMethod": "GET"
                    },
                    "publishXunitXmlFiles": {
                      "response": {
                        "$ref": "Step"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "PublishXunitXmlFilesRequest"
                      },
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles",
                      "id": "toolresults.projects.histories.executions.steps.publishXunitXmlFiles",
                      "parameters": {
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A Execution id. Required."
                        },
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "A Project id. Required.",
                          "location": "path"
                        },
                        "stepId": {
                          "type": "string",
                          "required": true,
                          "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                          "location": "path"
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "description": "A History id. Required.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Publish xml files to an existing Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g. try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist"
                    },
                    "getPerfMetricsSummary": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "PerfMetricsSummary"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieves a PerfMetricsSummary. May return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                      "id": "toolresults.projects.histories.executions.steps.getPerfMetricsSummary",
                      "parameters": {
                        "executionId": {
                          "description": "A tool results execution ID.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "description": "The cloud project",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "stepId": {
                          "description": "A tool results step ID.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A tool results history ID.",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "get": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "id": "toolresults.projects.histories.executions.steps.get",
                      "parameters": {
                        "projectId": {
                          "type": "string",
                          "required": true,
                          "description": "A Project id. Required.",
                          "location": "path"
                        },
                        "executionId": {
                          "description": "A Execution id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A History id. Required."
                        },
                        "stepId": {
                          "type": "string",
                          "required": true,
                          "description": "A Step id. Required.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets a Step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist",
                      "response": {
                        "$ref": "Step"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "httpMethod": "GET"
                    },
                    "patch": {
                      "httpMethod": "PATCH",
                      "request": {
                        "$ref": "Step"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "response": {
                        "$ref": "Step"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "stepId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates an existing Step with the supplied partial entity. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}",
                      "id": "toolresults.projects.histories.executions.steps.patch",
                      "parameters": {
                        "stepId": {
                          "type": "string",
                          "required": true,
                          "description": "A Step id. Required.",
                          "location": "path"
                        },
                        "executionId": {
                          "location": "path",
                          "description": "A Execution id. Required.",
                          "required": true,
                          "type": "string"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "A unique request ID for server to detect duplicated requests. For example, a UUID. Optional, but strongly recommended.",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "A Project id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "historyId": {
                          "description": "A History id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      }
                    }
                  },
                  "resources": {
                    "perfMetricsSummary": {
                      "methods": {
                        "create": {
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "response": {
                            "$ref": "PerfMetricsSummary"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created. May return any of the following error code(s): - NOT_FOUND - The containing Step does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary",
                          "id": "toolresults.projects.histories.executions.steps.perfMetricsSummary.create",
                          "parameters": {
                            "stepId": {
                              "description": "A tool results step ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "historyId": {
                              "description": "A tool results history ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "required": true,
                              "type": "string"
                            },
                            "projectId": {
                              "location": "path",
                              "description": "The cloud project",
                              "required": true,
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "perfSampleSeries": {
                      "methods": {
                        "create": {
                          "httpMethod": "POST",
                          "request": {
                            "$ref": "PerfSampleSeries"
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a PerfSampleSeries. May return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.create",
                          "parameters": {
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "The cloud project"
                            },
                            "executionId": {
                              "location": "path",
                              "description": "A tool results execution ID.",
                              "required": true,
                              "type": "string"
                            },
                            "historyId": {
                              "description": "A tool results history ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          }
                        },
                        "get": {
                          "response": {
                            "$ref": "PerfSampleSeries"
                          },
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}",
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.get",
                          "parameters": {
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A tool results step ID."
                            },
                            "sampleSeriesId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A sample series id"
                            },
                            "executionId": {
                              "description": "A tool results execution ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "description": "The cloud project",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A tool results history ID."
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "sampleSeriesId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets a PerfSampleSeries. May return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist"
                        },
                        "list": {
                          "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.list",
                          "parameters": {
                            "filter": {
                              "description": "Specify one or more PerfMetricType values such as CPU to filter the result",
                              "repeated": true,
                              "enumDescriptions": [
                                "",
                                "",
                                "",
                                "",
                                ""
                              ],
                              "type": "string",
                              "enum": [
                                "perfMetricTypeUnspecified",
                                "memory",
                                "cpu",
                                "network",
                                "graphics"
                              ],
                              "location": "query"
                            },
                            "historyId": {
                              "type": "string",
                              "required": true,
                              "description": "A tool results history ID.",
                              "location": "path"
                            },
                            "stepId": {
                              "description": "A tool results step ID.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A tool results execution ID."
                            },
                            "projectId": {
                              "description": "The cloud project",
                              "location": "path",
                              "type": "string",
                              "required": true
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists PerfSampleSeries for a given Step. The request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids. May return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "response": {
                            "$ref": "ListPerfSampleSeriesResponse"
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries",
                          "httpMethod": "GET"
                        }
                      },
                      "resources": {
                        "samples": {
                          "methods": {
                            "batchCreate": {
                              "response": {
                                "$ref": "BatchCreatePerfSamplesResponse"
                              },
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "httpMethod": "POST",
                              "request": {
                                "$ref": "BatchCreatePerfSamplesRequest"
                              },
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate",
                              "parameters": {
                                "historyId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results history ID."
                                },
                                "stepId": {
                                  "description": "A tool results step ID.",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                },
                                "sampleSeriesId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A sample series id"
                                },
                                "projectId": {
                                  "type": "string",
                                  "required": true,
                                  "description": "The cloud project",
                                  "location": "path"
                                },
                                "executionId": {
                                  "location": "path",
                                  "description": "A tool results execution ID.",
                                  "required": true,
                                  "type": "string"
                                }
                              },
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database). May return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ]
                            },
                            "list": {
                              "id": "toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list",
                              "parameters": {
                                "historyId": {
                                  "location": "path",
                                  "description": "A tool results history ID.",
                                  "required": true,
                                  "type": "string"
                                },
                                "stepId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A tool results step ID."
                                },
                                "sampleSeriesId": {
                                  "required": true,
                                  "type": "string",
                                  "location": "path",
                                  "description": "A sample series id"
                                },
                                "pageToken": {
                                  "type": "string",
                                  "location": "query",
                                  "description": "Optional, the next_page_token returned in the previous response"
                                },
                                "pageSize": {
                                  "description": "The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000",
                                  "format": "int32",
                                  "location": "query",
                                  "type": "integer"
                                },
                                "executionId": {
                                  "type": "string",
                                  "required": true,
                                  "description": "A tool results execution ID.",
                                  "location": "path"
                                },
                                "projectId": {
                                  "description": "The cloud project",
                                  "location": "path",
                                  "type": "string",
                                  "required": true
                                }
                              },
                              "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "scopes": [
                                "https://www.googleapis.com/auth/cloud-platform"
                              ],
                              "description": "Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit May return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist",
                              "parameterOrder": [
                                "projectId",
                                "historyId",
                                "executionId",
                                "stepId",
                                "sampleSeriesId"
                              ],
                              "response": {
                                "$ref": "ListPerfSamplesResponse"
                              },
                              "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples",
                              "httpMethod": "GET"
                            }
                          }
                        }
                      }
                    },
                    "testCases": {
                      "methods": {
                        "get": {
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "TestCase"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets details of a Test Case for a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Test Case does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId",
                            "testCaseId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.testCases.get",
                          "parameters": {
                            "historyId": {
                              "location": "path",
                              "description": "A History id. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "testCaseId": {
                              "type": "string",
                              "required": true,
                              "description": "A Test Case id. Required.",
                              "location": "path"
                            },
                            "stepId": {
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A Execution id Required."
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases/{testCaseId}"
                        },
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists Test Cases attached to a Step. Experimental test cases API. Still in active development. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Step does not exist",
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "id": "toolresults.projects.histories.executions.steps.testCases.list",
                          "parameters": {
                            "pageSize": {
                              "type": "integer",
                              "description": "The maximum number of TestCases to fetch. Default value: 100. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32",
                              "location": "query"
                            },
                            "stepId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A Step id. Note: This step must include a TestExecutionStep. Required."
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A continuation token to resume the query at the next item. Optional.",
                              "location": "query"
                            },
                            "projectId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A Project id. Required."
                            },
                            "executionId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A Execution id Required."
                            },
                            "historyId": {
                              "required": true,
                              "type": "string",
                              "location": "path",
                              "description": "A History id. Required."
                            }
                          },
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "httpMethod": "GET",
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/testCases",
                          "response": {
                            "$ref": "ListTestCasesResponse"
                          }
                        }
                      }
                    },
                    "thumbnails": {
                      "methods": {
                        "list": {
                          "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "id": "toolresults.projects.histories.executions.steps.thumbnails.list",
                          "parameters": {
                            "historyId": {
                              "location": "path",
                              "description": "A History id. Required.",
                              "required": true,
                              "type": "string"
                            },
                            "executionId": {
                              "description": "An Execution id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "projectId": {
                              "description": "A Project id. Required.",
                              "location": "path",
                              "type": "string",
                              "required": true
                            },
                            "stepId": {
                              "type": "string",
                              "required": true,
                              "description": "A Step id. Required.",
                              "location": "path"
                            },
                            "pageToken": {
                              "type": "string",
                              "location": "query",
                              "description": "A continuation token to resume the query at the next item. Optional."
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "The maximum number of thumbnails to fetch. Default value: 50. The server will use this default if the field is not set or has a value of 0. Optional.",
                              "format": "int32",
                              "type": "integer"
                            }
                          },
                          "parameterOrder": [
                            "projectId",
                            "historyId",
                            "executionId",
                            "stepId"
                          ],
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Lists thumbnails of images attached to a step. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist",
                          "response": {
                            "$ref": "ListStepThumbnailsResponse"
                          },
                          "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails",
                          "httpMethod": "GET"
                        }
                      }
                    }
                  }
                },
                "clusters": {
                  "methods": {
                    "get": {
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ScreenshotCluster"
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "clusterId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Retrieves a single screenshot cluster by its ID",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}",
                      "id": "toolresults.projects.histories.executions.clusters.get",
                      "parameters": {
                        "executionId": {
                          "description": "An Execution id. Required.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A Project id. Required."
                        },
                        "clusterId": {
                          "location": "path",
                          "description": "A Cluster id Required.",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "location": "path",
                          "description": "A History id. Required.",
                          "required": true,
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters",
                      "id": "toolresults.projects.histories.executions.clusters.list",
                      "parameters": {
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "description": "A History id. Required.",
                          "location": "path"
                        },
                        "executionId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "An Execution id. Required."
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "A Project id. Required."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Screenshot Clusters Returns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.",
                      "response": {
                        "$ref": "ListScreenshotClustersResponse"
                      },
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/clusters"
                    }
                  }
                },
                "environments": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Environment"
                      },
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "httpMethod": "GET",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments/{environmentId}",
                      "id": "toolresults.projects.histories.executions.environments.get",
                      "parameters": {
                        "historyId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. A History id."
                        },
                        "executionId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. An Execution id.",
                          "location": "path"
                        },
                        "environmentId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. An Environment id."
                        },
                        "projectId": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. A Project id."
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId",
                        "environmentId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets an Environment. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Environment does not exist"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListEnvironmentsResponse"
                      },
                      "httpMethod": "GET",
                      "path": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "flatPath": "toolresults/v1beta3/projects/{projectId}/histories/{historyId}/executions/{executionId}/environments",
                      "id": "toolresults.projects.histories.executions.environments.list",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of Environments to fetch. Default value: 25. The server will use this default if the field is not set or has a value of 0.",
                          "format": "int32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A continuation token to resume the query at the next item.",
                          "location": "query",
                          "type": "string"
                        },
                        "projectId": {
                          "description": "Required. A Project id.",
                          "location": "path",
                          "type": "string",
                          "required": true
                        },
                        "executionId": {
                          "location": "path",
                          "description": "Required. An Execution id.",
                          "required": true,
                          "type": "string"
                        },
                        "historyId": {
                          "type": "string",
                          "required": true,
                          "description": "Required. A History id.",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "projectId",
                        "historyId",
                        "executionId"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Lists Environments for a given Execution. The Environments are sorted by display name. May return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing Execution does not exist"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1beta3",
  "title": "Cloud Tool Results API",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260407",
  "schemas": {
    "FatalException": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the fatal exception. Optional.",
          "$ref": "StackTrace"
        }
      },
      "id": "FatalException",
      "description": "Additional details for a fatal exception."
    },
    "NonSdkApiUsageViolationReport": {
      "type": "object",
      "properties": {
        "uniqueApis": {
          "description": "Total number of unique Non-SDK API's accessed.",
          "format": "int32",
          "type": "integer"
        },
        "minSdkVersion": {
          "type": "integer",
          "description": "Minimum API level required for the application to run.",
          "format": "int32"
        },
        "targetSdkVersion": {
          "type": "integer",
          "description": "Specifies the API Level on which the application is designed to run.",
          "format": "int32"
        },
        "exampleApis": {
          "type": "array",
          "items": {
            "$ref": "NonSdkApi"
          },
          "description": "Examples of the detected API usages."
        }
      },
      "description": "Contains a summary and examples of non-sdk API usage violations.",
      "id": "NonSdkApiUsageViolationReport"
    },
    "StackTrace": {
      "type": "object",
      "properties": {
        "exception": {
          "description": "The stack trace message. Required",
          "type": "string"
        }
      },
      "description": "A stacktrace.",
      "id": "StackTrace"
    },
    "IosRoboTest": {
      "description": "A Robo test for an iOS application.",
      "id": "IosRoboTest",
      "type": "object",
      "properties": {}
    },
    "PerfSampleSeries": {
      "id": "PerfSampleSeries",
      "description": "Resource representing a collection of performance samples (or data points)",
      "type": "object",
      "properties": {
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        },
        "stepId": {
          "description": "A tool results step ID. @OutputOnly",
          "type": "string"
        },
        "sampleSeriesId": {
          "description": "A sample series id @OutputOnly",
          "type": "string"
        },
        "projectId": {
          "description": "The cloud project @OutputOnly",
          "type": "string"
        },
        "executionId": {
          "description": "A tool results execution ID. @OutputOnly",
          "type": "string"
        },
        "basicPerfSampleSeries": {
          "description": "Basic series represented by a line chart",
          "$ref": "BasicPerfSampleSeries"
        }
      }
    },
    "PrimaryStep": {
      "type": "object",
      "properties": {
        "rollUp": {
          "type": "string",
          "enum": [
            "unset",
            "success",
            "failure",
            "inconclusive",
            "skipped",
            "flaky"
          ],
          "description": "Rollup test status of multiple steps that were run with the same configuration as a group.",
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
            "A group of steps that were run with the same configuration had both failure and success outcomes."
          ]
        },
        "individualOutcome": {
          "type": "array",
          "items": {
            "$ref": "IndividualOutcome"
          },
          "description": "Step Id and outcome of each individual step."
        }
      },
      "id": "PrimaryStep",
      "description": "Stores rollup test status of multiple steps that were run as a group and outcome of each individual step."
    },
    "Image": {
      "type": "object",
      "properties": {
        "sourceImage": {
          "description": "A reference to the full-size, original image. This is the same as the tool_outputs entry for the image under its Step. Always set.",
          "$ref": "ToolOutputReference"
        },
        "thumbnail": {
          "description": "The thumbnail.",
          "$ref": "Thumbnail"
        },
        "error": {
          "description": "An error explaining why the thumbnail could not be rendered.",
          "$ref": "Status"
        },
        "stepId": {
          "description": "The step to which the image is attached. Always set.",
          "type": "string"
        }
      },
      "id": "Image",
      "description": "An image, with a link to the main image and a thumbnail."
    },
    "TestTiming": {
      "id": "TestTiming",
      "description": "Testing timing break down to know phases.",
      "type": "object",
      "properties": {
        "testProcessDuration": {
          "description": "How long it took to run the test process. - In response: present if previously set. - In create/update request: optional",
          "$ref": "Duration"
        }
      }
    },
    "UsedRoboIgnoreDirective": {
      "type": "object",
      "properties": {
        "resourceName": {
          "description": "The name of the resource that was ignored.",
          "type": "string"
        }
      },
      "id": "UsedRoboIgnoreDirective",
      "description": "Additional details of a used Robo directive with an ignore action. Note: This is a different scenario than unused directive."
    },
    "UpgradeInsight": {
      "id": "UpgradeInsight",
      "description": "This insight is a recommendation to upgrade a given library to the specified version, in order to avoid dependencies on non-SDK APIs.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "The name of the package to be upgraded.",
          "type": "string"
        },
        "upgradeToVersion": {
          "description": "The suggested version to upgrade to. Optional: In case we are not sure which version solves this problem",
          "type": "string"
        }
      }
    },
    "ToolExecutionStep": {
      "id": "ToolExecutionStep",
      "description": "Generic tool step to be used for binaries we do not explicitly support. For example: running cp to copy artifacts from one location to another.",
      "type": "object",
      "properties": {
        "toolExecution": {
          "description": "A Tool execution. - In response: present if set by create/update request - In create/update request: optional",
          "$ref": "ToolExecution"
        }
      }
    },
    "ScreenshotCluster": {
      "type": "object",
      "properties": {
        "clusterId": {
          "description": "A unique identifier for the cluster. @OutputOnly",
          "type": "string"
        },
        "keyScreen": {
          "description": "A singular screen that represents the cluster as a whole. This screen will act as the \"cover\" of the entire cluster. When users look at the clusters, only the key screen from each cluster will be shown. Which screen is the key screen is determined by the ClusteringAlgorithm",
          "$ref": "Screen"
        },
        "screens": {
          "type": "array",
          "items": {
            "$ref": "Screen"
          },
          "description": "Full list of screens."
        },
        "activity": {
          "description": "A string that describes the activity of every screen in the cluster.",
          "type": "string"
        }
      },
      "id": "ScreenshotCluster"
    },
    "AndroidRoboTest": {
      "type": "object",
      "properties": {
        "bootstrapPackageId": {
          "description": "The java package for the bootstrap. Optional",
          "type": "string"
        },
        "appInitialActivity": {
          "description": "The initial activity that should be used to start the app. Optional",
          "type": "string"
        },
        "maxSteps": {
          "type": "integer",
          "description": "The max number of steps/actions Robo can execute. Default is no limit (0). Optional",
          "format": "int32"
        },
        "maxDepth": {
          "type": "integer",
          "description": "The max depth of the traversal stack Robo can explore. Optional",
          "format": "int32"
        },
        "bootstrapRunnerClass": {
          "description": "The runner class for the bootstrap. Optional",
          "type": "string"
        }
      },
      "id": "AndroidRoboTest",
      "description": "A test of an android application that explores the application on a virtual or physical Android device, finding culprits and crashes as it goes."
    },
    "GraphicsStats": {
      "description": "Graphics statistics for the App. The information is collected from 'adb shell dumpsys graphicsstats'. For more info see: https://developer.android.com/training/testing/performance.html Statistics will only be present for API 23+.",
      "id": "GraphicsStats",
      "type": "object",
      "properties": {
        "buckets": {
          "description": "Histogram of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms, infinity)",
          "type": "array",
          "items": {
            "$ref": "GraphicsStatsBucket"
          }
        },
        "p99Millis": {
          "description": "99th percentile frame render time in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "missedVsyncCount": {
          "type": "string",
          "description": "Total \"missed vsync\" events.",
          "format": "int64"
        },
        "p95Millis": {
          "type": "string",
          "description": "95th percentile frame render time in milliseconds.",
          "format": "int64"
        },
        "slowBitmapUploadCount": {
          "description": "Total \"slow bitmap upload\" events.",
          "format": "int64",
          "type": "string"
        },
        "highInputLatencyCount": {
          "description": "Total \"high input latency\" events.",
          "format": "int64",
          "type": "string"
        },
        "jankyFrames": {
          "type": "string",
          "description": "Total frames with slow render time. Should be <= total_frames.",
          "format": "int64"
        },
        "p50Millis": {
          "description": "50th percentile frame render time in milliseconds.",
          "format": "int64",
          "type": "string"
        },
        "slowUiThreadCount": {
          "description": "Total \"slow UI thread\" events.",
          "format": "int64",
          "type": "string"
        },
        "slowDrawCount": {
          "type": "string",
          "description": "Total \"slow draw\" events.",
          "format": "int64"
        },
        "p90Millis": {
          "type": "string",
          "description": "90th percentile frame render time in milliseconds.",
          "format": "int64"
        },
        "totalFrames": {
          "description": "Total frames rendered by package.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "ListHistoriesResponse": {
      "description": "Response message for HistoryService.List",
      "id": "ListHistoriesResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A continuation token to resume the query at the next item. Will only be set if there are more histories to fetch. Tokens are valid for up to one hour from the time of the first list request. For instance, if you make a list request at 1PM and use the token from this first request 10 minutes later, the token from this second response will only be valid for 50 minutes.",
          "type": "string"
        },
        "histories": {
          "type": "array",
          "items": {
            "$ref": "History"
          },
          "description": "Histories."
        }
      }
    },
    "PerformedMonkeyActions": {
      "type": "object",
      "properties": {
        "totalActions": {
          "type": "integer",
          "description": "The total number of monkey actions performed during the crawl.",
          "format": "int32"
        }
      },
      "id": "PerformedMonkeyActions",
      "description": "A notification that Robo performed some monkey actions."
    },
    "SuggestionClusterProto": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string",
          "enum": [
            "unknownCategory",
            "contentLabeling",
            "touchTargetSize",
            "lowContrast",
            "implementation"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "Category in which these types of suggestions should appear. Always set."
        },
        "suggestions": {
          "description": "A sequence of suggestions. All of the suggestions within a cluster must have the same SuggestionPriority and belong to the same SuggestionCategory. Suggestions with the same screenshot URL should be adjacent.",
          "type": "array",
          "items": {
            "$ref": "SuggestionProto"
          }
        }
      },
      "description": "A set of similar suggestions that we suspect are closely related. This proto and most of the nested protos are branched from foxandcrown.prelaunchreport.service.SuggestionClusterProto, replacing PLR's dependencies with FTL's.",
      "id": "SuggestionClusterProto"
    },
    "MatrixDimensionDefinition": {
      "type": "object",
      "properties": {},
      "id": "MatrixDimensionDefinition",
      "description": "One dimension of the matrix of different runs of a step."
    },
    "IosAppCrashed": {
      "id": "IosAppCrashed",
      "description": "Additional details for an iOS app crash.",
      "type": "object",
      "properties": {
        "stackTrace": {
          "description": "The stack trace, if one is available. Optional.",
          "$ref": "StackTrace"
        }
      }
    },
    "InconclusiveDetail": {
      "id": "InconclusiveDetail",
      "description": "Details for an outcome with an INCONCLUSIVE outcome summary.",
      "type": "object",
      "properties": {
        "abortedByUser": {
          "description": "If the end user aborted the test execution before a pass or fail could be determined. For example, the user pressed ctrl-c which sent a kill signal to the test runner while the test was running.",
          "type": "boolean"
        },
        "hasErrorLogs": {
          "description": "If results are being provided to the user in certain cases of infrastructure failures",
          "type": "boolean"
        },
        "infrastructureFailure": {
          "description": "If the test runner could not determine success or failure because the test depends on a component other than the system under test which failed. For example, a mobile test requires provisioning a device where the test executes, and that provisioning can fail.",
          "type": "boolean"
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "NativeCrash": {
      "type": "object",
      "properties": {
        "stackTrace": {
          "description": "The stack trace of the native crash. Optional.",
          "$ref": "StackTrace"
        }
      },
      "id": "NativeCrash",
      "description": "Additional details for a native crash."
    },
    "FailureDetail": {
      "description": "Details for an outcome with a FAILURE outcome summary.",
      "id": "FailureDetail",
      "type": "object",
      "properties": {
        "otherNativeCrash": {
          "description": "If a native process (including any other than the app) crashed.",
          "type": "boolean"
        },
        "unableToCrawl": {
          "description": "If the robo was unable to crawl the app; perhaps because the app did not start.",
          "type": "boolean"
        },
        "timedOut": {
          "description": "If the test overran some time limit, and that is why it failed.",
          "type": "boolean"
        },
        "deviceOutOfMemory": {
          "description": "If the device ran out of memory during a test, causing the test to crash.",
          "type": "boolean"
        },
        "notInstalled": {
          "description": "If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.",
          "type": "boolean"
        },
        "crashed": {
          "description": "If the failure was severe because the system (app) under test crashed.",
          "type": "boolean"
        },
        "failedRoboscript": {
          "description": "If the Roboscript failed to complete successfully, e.g., because a Roboscript action or assertion failed or a Roboscript action could not be matched during the entire crawl.",
          "type": "boolean"
        }
      }
    },
    "PerfMetricsSummary": {
      "type": "object",
      "properties": {
        "stepId": {
          "description": "A tool results step ID. @OutputOnly",
          "type": "string"
        },
        "executionId": {
          "description": "A tool results execution ID. @OutputOnly",
          "type": "string"
        },
        "graphicsStats": {
          "$ref": "GraphicsStats",
          "deprecated": true,
          "description": "Graphics statistics for the entire run. Statistics are reset at the beginning of the run and collected at the end of the run."
        },
        "projectId": {
          "description": "The cloud project @OutputOnly",
          "type": "string"
        },
        "appStartTime": {
          "$ref": "AppStartTime"
        },
        "historyId": {
          "description": "A tool results history ID. @OutputOnly",
          "type": "string"
        },
        "perfMetrics": {
          "description": "Set of resource collected",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "perfMetricTypeUnspecified",
              "memory",
              "cpu",
              "network",
              "graphics"
            ],
            "enumDescriptions": [
              "",
              "",
              "",
              "",
              ""
            ]
          }
        },
        "perfEnvironment": {
          "description": "Describes the environment in which the performance metrics were collected",
          "$ref": "PerfEnvironment"
        }
      },
      "description": "A summary of perf metrics collected and performance environment info",
      "id": "PerfMetricsSummary"
    },
    "ProjectSettings": {
      "id": "ProjectSettings",
      "description": "Per-project settings for the Tool Results service.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the project's settings. Always of the form: projects/{project-id}/settings In update request: never set In response: always set",
          "type": "string"
        },
        "defaultBucket": {
          "description": "The name of the Google Cloud Storage bucket to which results are written. By default, this is unset. In update request: optional In response: optional",
          "type": "string"
        }
      }
    },
    "IosXcTest": {
      "description": "A test of an iOS application that uses the XCTest framework.",
      "id": "IosXcTest",
      "type": "object",
      "properties": {
        "xcodeVersion": {
          "description": "Xcode version that the test was run with.",
          "type": "string"
        },
        "bundleId": {
          "description": "Bundle ID of the app.",
          "type": "string"
        }
      }
    },
    "NonSdkApi": {
      "type": "object",
      "properties": {
        "invocationCount": {
          "type": "integer",
          "description": "The total number of times this API was observed to have been called.",
          "format": "int32"
        },
        "list": {
          "type": "string",
          "enum": [
            "NONE",
            "WHITE",
            "BLACK",
            "GREY",
            "GREY_MAX_O",
            "GREY_MAX_P",
            "GREY_MAX_Q",
            "GREY_MAX_R",
            "GREY_MAX_S"
          ],
          "description": "Which list this API appears on",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "deprecated": true
        },
        "apiSignature": {
          "description": "The signature of the Non-SDK API",
          "type": "string"
        },
        "exampleStackTraces": {
          "description": "Example stack traces of this API being called.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "insights": {
          "description": "Optional debugging insights for non-SDK API violations.",
          "type": "array",
          "items": {
            "$ref": "NonSdkApiInsight"
          }
        }
      },
      "description": "A non-sdk API and examples of it being called along with other metadata See https://developer.android.com/distribute/best-practices/develop/restrictions-non-sdk-interfaces",
      "id": "NonSdkApi"
    },
    "IndividualOutcome": {
      "type": "object",
      "properties": {
        "stepId": {
          "type": "string"
        },
        "runDuration": {
          "description": "How long it took for this step to run.",
          "$ref": "Duration"
        },
        "outcomeSummary": {
          "enumDescriptions": [
            "Do not use. For proto versioning only.",
            "The test matrix run was successful, for instance: - All the test cases passed. - Robo did not detect a crash of the application under test.",
            "A run failed, for instance: - One or more test case failed. - A test timed out. - The application under test crashed.",
            "Something unexpected happened. The run should still be considered unsuccessful but this is likely a transient problem and re-running the test might be successful.",
            "All tests were skipped, for instance: - All device configurations were incompatible.",
[...]
