{
  "batchPath": "batch",
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    }
  },
  "documentationLink": "https://cloud.google.com/tpu/",
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "description": "TPU API provides customers with access to Google TPU technology.",
  "name": "tpu",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "revision": "20260127",
  "title": "Cloud TPU API",
  "servicePath": "",
  "rootUrl": "https://tpu.googleapis.com/",
  "version": "v2",
  "canonicalName": "TPU",
  "protocol": "rest",
  "schemas": {
    "GenerateServiceIdentityRequest": {
      "type": "object",
      "properties": {},
      "id": "GenerateServiceIdentityRequest",
      "description": "Request for GenerateServiceIdentity."
    },
    "ListNodesResponse": {
      "id": "ListNodesResponse",
      "description": "Response for ListNodes.",
      "type": "object",
      "properties": {
        "nodes": {
          "type": "array",
          "items": {
            "$ref": "Node"
          },
          "description": "The listed nodes."
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "ServiceAccount": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the service account. If empty, default Compute service account will be used."
        },
        "scope": {
          "type": "array",
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "A service account.",
      "id": "ServiceAccount"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "id": "Status",
      "type": "object",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "CreatingData": {
      "type": "object",
      "properties": {},
      "id": "CreatingData",
      "description": "Further data for the creating state."
    },
    "DeletingData": {
      "type": "object",
      "properties": {},
      "id": "DeletingData",
      "description": "Further data for the deleting state."
    },
    "SuspendingData": {
      "type": "object",
      "properties": {},
      "description": "Further data for the suspending state.",
      "id": "SuspendingData"
    },
    "ResetQueuedResourceRequest": {
      "type": "object",
      "properties": {},
      "id": "ResetQueuedResourceRequest",
      "description": "Request for ResetQueuedResource."
    },
    "CustomerEncryptionKey": {
      "description": "Defines the customer encryption key for disk encryption.",
      "id": "CustomerEncryptionKey",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "type": "string",
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 "
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "format": "google-datetime",
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        }
      },
      "description": "Metadata describing an Operation",
      "id": "OperationMetadata"
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    },
    "SuspendedData": {
      "type": "object",
      "properties": {},
      "id": "SuspendedData",
      "description": "Further data for the suspended state."
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation"
    },
    "ListRuntimeVersionsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "runtimeVersions": {
          "type": "array",
          "items": {
            "$ref": "RuntimeVersion"
          },
          "description": "The listed nodes."
        }
      },
      "id": "ListRuntimeVersionsResponse",
      "description": "Response for ListRuntimeVersions."
    },
    "GetGuestAttributesRequest": {
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The guest attributes path to be queried.",
          "type": "string"
        },
        "workerIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned."
        }
      },
      "description": "Request for GetGuestAttributes.",
      "id": "GetGuestAttributesRequest"
    },
    "Symptom": {
      "id": "Symptom",
      "description": "A Symptom instance.",
      "type": "object",
      "properties": {
        "symptomType": {
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ],
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "description": "Type of the Symptom.",
          "type": "string"
        },
        "workerId": {
          "description": "A string used to uniquely distinguish a worker within a TPU node.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Timestamp when the Symptom is created."
        },
        "details": {
          "description": "Detailed information of the current Symptom.",
          "type": "string"
        }
      }
    },
    "StartNodeRequest": {
      "description": "Request for StartNode.",
      "id": "StartNodeRequest",
      "type": "object",
      "properties": {}
    },
    "RuntimeVersion": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "version": {
          "description": "The runtime version.",
          "type": "string"
        }
      },
      "description": "A runtime version that a Node can be configured with.",
      "id": "RuntimeVersion"
    },
    "NetworkEndpoint": {
      "description": "A network endpoint over which a TPU worker can be reached.",
      "id": "NetworkEndpoint",
      "type": "object",
      "properties": {
        "ipAddress": {
          "type": "string",
          "description": "The internal IP address of this network endpoint."
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "The port of this network endpoint."
        },
        "accessConfig": {
          "description": "The access config for the TPU worker.",
          "$ref": "AccessConfig"
        }
      }
    },
    "GenerateServiceIdentityResponse": {
      "description": "Response for GenerateServiceIdentity.",
      "id": "GenerateServiceIdentityResponse",
      "type": "object",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      }
    },
    "GuestAttributes": {
      "type": "object",
      "properties": {
        "queryValue": {
          "description": "The value of the requested queried path.",
          "$ref": "GuestAttributesValue"
        },
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        }
      },
      "description": "A guest attributes.",
      "id": "GuestAttributes"
    },
    "QueuedResourceState": {
      "type": "object",
      "properties": {
        "provisioningData": {
          "$ref": "ProvisioningData",
          "readOnly": true,
          "description": "Output only. Further data for the provisioning state."
        },
        "deletingData": {
          "$ref": "DeletingData",
          "description": "Output only. Further data for the deleting state.",
          "readOnly": true
        },
        "suspendedData": {
          "description": "Output only. Further data for the suspended state.",
          "readOnly": true,
          "$ref": "SuspendedData"
        },
        "creatingData": {
          "$ref": "CreatingData",
          "description": "Output only. Further data for the creating state.",
          "readOnly": true
        },
        "activeData": {
          "readOnly": true,
          "description": "Output only. Further data for the active state.",
          "$ref": "ActiveData"
        },
        "failedData": {
          "readOnly": true,
          "description": "Output only. Further data for the failed state.",
          "$ref": "FailedData"
        },
        "stateInitiator": {
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ]
        },
        "acceptedData": {
          "description": "Output only. Further data for the accepted state.",
          "readOnly": true,
          "$ref": "AcceptedData"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ],
          "description": "Output only. State of the QueuedResource request.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ]
        },
        "suspendingData": {
          "$ref": "SuspendingData",
          "readOnly": true,
          "description": "Output only. Further data for the suspending state."
        }
      },
      "id": "QueuedResourceState",
      "description": "QueuedResourceState defines the details of the QueuedResource request."
    },
    "AcceptedData": {
      "type": "object",
      "properties": {},
      "description": "Further data for the accepted state.",
      "id": "AcceptedData"
    },
    "ProvisioningData": {
      "type": "object",
      "properties": {},
      "id": "ProvisioningData",
      "description": "Further data for the provisioning state."
    },
    "FailedData": {
      "id": "FailedData",
      "description": "Further data for the failed state.",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Output only. The error that caused the queued resource to enter the FAILED state.",
          "readOnly": true
        }
      }
    },
    "Node": {
      "id": "Node",
      "description": "A TPU instance.",
      "type": "object",
      "properties": {
        "multisliceNode": {
          "description": "Output only. Whether the Node belongs to a Multislice group.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "description": "Output only. Immutable. The name of the TPU.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user-provided metadata.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "networkEndpoints": {
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "readOnly": true,
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "type": "array"
        },
        "acceleratorConfig": {
          "description": "The AccleratorConfig for the TPU Node.",
          "$ref": "AcceleratorConfig"
        },
        "acceleratorType": {
          "type": "string",
          "description": "Optional. The type of hardware accelerators associated with this node."
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ],
          "description": "Output only. The current state for the TPU Node.",
          "type": "string"
        },
        "apiVersion": {
          "description": "Output only. The API version that created this Node.",
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1",
            "V2"
          ],
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version.",
            "TPU API V2 version."
          ]
        },
        "networkConfig": {
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "$ref": "NetworkConfig"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "type": "array"
        },
        "upcomingMaintenance": {
          "$ref": "UpcomingMaintenance",
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "readOnly": true
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "description": {
          "type": "string",
          "description": "The user-supplied description of the TPU. Maximum of 512 characters."
        },
        "queuedResource": {
          "readOnly": true,
          "description": "Output only. The qualified name of the QueuedResource that requested this Node.",
          "type": "string"
        },
        "bootDiskConfig": {
          "description": "Optional. Boot disk configuration.",
          "$ref": "BootDiskConfig"
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        },
        "healthDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy."
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the node was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "networkConfigs": {
          "type": "array",
          "items": {
            "$ref": "NetworkConfig"
          },
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned."
        },
        "runtimeVersion": {
          "type": "string",
          "description": "Required. The runtime version running in the Node."
        },
        "symptoms": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Symptom"
          },
          "description": "Output only. The Symptoms that have occurred to the TPU Node."
        },
        "health": {
          "type": "string",
          "description": "The health status of the TPU node.",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ]
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used.",
          "$ref": "ServiceAccount"
        },
        "dataDisks": {
          "items": {
            "$ref": "AttachedDisk"
          },
          "description": "The additional data disks for the Node.",
          "type": "array"
        },
        "id": {
          "readOnly": true,
          "description": "Output only. The unique identifier for the TPU Node.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListQueuedResourcesResponse": {
      "description": "Response for ListQueuedResources.",
      "id": "ListQueuedResourcesResponse",
      "type": "object",
      "properties": {
        "queuedResources": {
          "type": "array",
          "description": "The listed queued resources.",
          "items": {
            "$ref": "QueuedResource"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Interval": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "id": "Interval"
    },
    "AccessConfig": {
      "type": "object",
      "properties": {
        "externalIp": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. An external IP address associated with the TPU worker."
        }
      },
      "id": "AccessConfig",
      "description": "An access config attached to the TPU worker."
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "Spot": {
      "type": "object",
      "properties": {},
      "description": "Spot tier definition.",
      "id": "Spot"
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "description": "A node-attached disk resource. Next ID: 8;",
      "type": "object",
      "properties": {
        "sourceDisk": {
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\".",
          "type": "string"
        },
        "mode": {
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "type": "string"
        }
      }
    },
    "AcceleratorConfig": {
      "id": "AcceleratorConfig",
      "description": "A TPU accelerator configuration.",
      "type": "object",
      "properties": {
        "topology": {
          "type": "string",
          "description": "Required. Topology of TPU in chips."
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5p.",
            "TPU v6e."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ],
          "description": "Required. Type of TPU."
        }
      }
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "Network related configurations.",
      "type": "object",
      "properties": {
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used."
        },
        "enableExternalIps": {
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled.",
          "type": "boolean"
        },
        "queueCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface."
        },
        "network": {
          "type": "string",
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used."
        }
      }
    },
    "Tpu": {
      "id": "Tpu",
      "description": "Details of the TPU resource(s) being requested.",
      "type": "object",
      "properties": {
        "nodeSpec": {
          "type": "array",
          "description": "Optional. The TPU node(s) being requested.",
          "items": {
            "$ref": "NodeSpec"
          }
        }
      }
    },
    "AcceleratorType": {
      "description": "A accelerator type that a Node can be configured with.",
      "id": "AcceleratorType",
      "type": "object",
      "properties": {
        "acceleratorConfigs": {
          "type": "array",
          "description": "The accelerator config.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "type": {
          "description": "The accelerator type.",
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location"
    },
    "GetGuestAttributesResponse": {
      "type": "object",
      "properties": {
        "guestAttributes": {
          "type": "array",
          "items": {
            "$ref": "GuestAttributes"
          },
          "description": "The guest attributes for the TPU workers."
        }
      },
      "id": "GetGuestAttributesResponse",
      "description": "Response for GetGuestAttributes."
    },
    "ActiveData": {
      "id": "ActiveData",
      "description": "Further data for the active state.",
      "type": "object",
      "properties": {}
    },
    "Guaranteed": {
      "id": "Guaranteed",
      "description": "Guaranteed tier definition.",
      "type": "object",
      "properties": {
        "minDuration": {
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "ShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options.",
      "id": "ShieldedInstanceConfig",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      }
    },
    "GuestAttributesEntry": {
      "id": "GuestAttributesEntry",
      "description": "A guest attributes namespace/key/value entry.",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value for the guest attribute entry."
        },
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        },
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        }
      }
    },
    "MultisliceParams": {
      "type": "object",
      "properties": {
        "nodeIdPrefix": {
          "type": "string",
          "description": "Optional. Prefix of node_ids in case of multislice request. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix."
        },
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provision \"node_count\" nodes as part of the request. This needs to be > 1.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "MultisliceParams",
      "description": "Parameters to specify for multislice QueuedResource requests. This message must be populated in case of multislice requests instead of node_id."
    },
    "UpcomingMaintenance": {
      "id": "UpcomingMaintenance",
      "description": "Upcoming Maintenance notification information.",
      "type": "object",
      "properties": {
        "windowStartTime": {
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "latestWindowStartTime": {
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "canReschedule": {
          "type": "boolean",
          "description": "Indicates if the maintenance can be customer triggered."
        },
        "maintenanceStatus": {
          "type": "string",
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ],
          "description": "The status of the maintenance."
        },
        "type": {
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ],
          "description": "Defines the type of maintenance.",
          "type": "string"
        },
        "windowEndTime": {
          "type": "string",
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format."
        }
      }
    },
    "NodeSpec": {
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name."
        },
        "multisliceParams": {
          "description": "Optional. Fields to specify in case of multislice request.",
          "$ref": "MultisliceParams"
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        },
        "nodeId": {
          "type": "string",
          "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multislice requests, multislice_params must be populated instead."
        }
      },
      "id": "NodeSpec",
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created."
    },
    "BootDiskConfig": {
      "type": "object",
      "properties": {
        "customerEncryptionKey": {
          "description": "Optional. Customer encryption key for boot disk.",
          "$ref": "CustomerEncryptionKey"
        }
      },
      "description": "Sets the boot disk configuration for the TPU node.",
      "id": "BootDiskConfig"
    },
    "ServiceIdentity": {
      "id": "ServiceIdentity",
      "description": "The per-product per-project service identity for Cloud TPU service.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      }
    },
    "ListAcceleratorTypesResponse": {
      "id": "ListAcceleratorTypesResponse",
      "description": "Response for ListAcceleratorTypes.",
      "type": "object",
      "properties": {
        "acceleratorTypes": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorType"
          },
          "description": "The listed nodes."
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "SchedulingConfig": {
      "type": "object",
      "properties": {
        "preemptible": {
          "type": "boolean",
          "description": "Defines whether the node is preemptible."
        },
        "spot": {
          "description": "Optional. Defines whether the node is Spot VM.",
          "type": "boolean"
        },
        "reserved": {
          "type": "boolean",
          "description": "Whether the node is created under a reservation."
        }
      },
      "id": "SchedulingConfig",
      "description": "Sets the scheduling options for this node."
    },
    "StopNodeRequest": {
      "type": "object",
      "properties": {},
      "id": "StopNodeRequest",
      "description": "Request for StopNode."
    },
    "GuestAttributesValue": {
      "type": "object",
      "properties": {
        "items": {
          "items": {
            "$ref": "GuestAttributesEntry"
          },
          "description": "The list of guest attributes entries.",
          "type": "array"
        }
      },
      "description": "Array of guest attribute namespace/key/value tuples.",
      "id": "GuestAttributesValue"
    },
    "QueueingPolicy": {
      "id": "QueueingPolicy",
      "description": "Defines the policy of the QueuedRequest.",
      "type": "object",
      "properties": {
        "validUntilDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        },
        "validAfterDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. A relative time after which resources may be created."
        },
        "validInterval": {
          "description": "Optional. An absolute time interval within which resources may be created.",
          "$ref": "Interval"
        },
        "validUntilTime": {
          "description": "Optional. An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "format": "google-datetime",
          "type": "string"
        },
        "validAfterTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. An absolute time after which resources may be created."
        }
      }
    },
    "QueuedResource": {
      "type": "object",
      "properties": {
        "reservationName": {
          "type": "string",
          "description": "Optional. Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}"
        },
        "tpu": {
          "description": "Optional. Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "spot": {
          "description": "Optional. The Spot tier.",
          "$ref": "Spot"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the QueuedResource was created.",
          "readOnly": true
        },
        "guaranteed": {
          "description": "Optional. The Guaranteed tier",
          "$ref": "Guaranteed"
        },
        "queueingPolicy": {
          "description": "Optional. The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "state": {
          "$ref": "QueuedResourceState",
          "readOnly": true,
          "description": "Output only. State of the QueuedResource request."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The name of the QueuedResource.",
          "type": "string"
        }
      },
      "id": "QueuedResource",
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available."
    }
  },
  "id": "tpu:v2",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "description": "Gets information about a location.",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "tpu.projects.locations.get",
              "response": {
                "$ref": "Location"
              },
              "path": "v2/{+name}",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "generateServiceIdentity": {
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "description": "Generates the Cloud TPU service identity for the project.",
              "parameterOrder": [
                "parent"
              ],
              "id": "tpu.projects.locations.generateServiceIdentity",
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "httpMethod": "POST",
              "path": "v2/{+parent}:generateServiceIdentity",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "description": "Required. The parent resource name.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "path": "v2/{+name}/locations",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "id": "tpu.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "flatPath": "v2/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project."
            }
          },
          "resources": {
            "runtimeVersions": {
              "methods": {
                "list": {
                  "path": "v2/{+parent}/runtimeVersions",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "List filter."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists runtime versions supported by this API.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "description": "Gets a runtime version."
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "id": "tpu.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v2/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v2/{+name}/operations",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.operations.list",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                }
              }
            },
            "nodes": {
              "methods": {
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.create",
                  "request": {
                    "$ref": "Node"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a node.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes",
                  "path": "v2/{+parent}/nodes",
                  "parameters": {
                    "nodeId": {
                      "description": "The unqualified resource name.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.nodes.get",
                  "response": {
                    "$ref": "Node"
                  },
                  "httpMethod": "GET",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "description": "Gets the details of a node."
                },
                "patch": {
                  "description": "Updates the configurations of a node.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "httpMethod": "PATCH",
                  "id": "tpu.projects.locations.nodes.patch",
                  "request": {
                    "$ref": "Node"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Output only. Immutable. The name of the TPU.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "location": "query",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips]."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "getGuestAttributes": {
                  "path": "v2/{+name}:getGuestAttributes",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "description": "Retrieves the guest attributes for the node.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes"
                },
                "delete": {
                  "id": "tpu.projects.locations.nodes.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "description": "Deletes a node.",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "stop": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.stop",
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "path": "v2/{+name}:stop",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "start": {
                  "id": "tpu.projects.locations.nodes.start",
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "description": "Starts a node.",
                  "path": "v2/{+name}:start",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "tpu.projects.locations.nodes.list",
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes",
                  "description": "Lists nodes.",
                  "path": "v2/{+parent}/nodes",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "list": {
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "description": "Lists accelerator types supported by this API.",
                  "path": "v2/{+parent}/acceleratorTypes",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    },
                    "orderBy": {
                      "description": "Sort results.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "List filter."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "response": {
                    "$ref": "AcceleratorType"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "description": "Gets AcceleratorType.",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "queuedResources": {
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.queuedResources.get",
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Gets details of a queued resource.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "id": "tpu.projects.locations.queuedResources.create",
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "description": "Creates a QueuedResource TPU instance.",
                  "path": "v2/{+parent}/queuedResources",
                  "parameters": {
                    "queuedResourceId": {
                      "location": "query",
                      "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. Idempotent request UUID.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "path": "v2/{+parent}/queuedResources",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "Optional. The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists queued resources.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.queuedResources.list",
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a QueuedResource TPU instance.",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "path": "v2/{+name}",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "location": "query",
                      "description": "Optional. If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "type": "boolean"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. Idempotent request UUID.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "reset": {
                  "path": "v2/{+name}:reset",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the queued resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "description": "Resets a QueuedResource TPU instance"
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "baseUrl": "https://tpu.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}