{
  "title": "Cloud TPU API",
  "name": "tpu",
  "documentationLink": "https://cloud.google.com/tpu/",
  "canonicalName": "TPU",
  "batchPath": "batch",
  "basePath": "",
  "servicePath": "",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "generateServiceIdentity": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2/{+parent}:generateServiceIdentity",
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. The parent resource name.",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "description": "Generates the Cloud TPU service identity for the project.",
              "httpMethod": "POST",
              "id": "tpu.projects.locations.generateServiceIdentity",
              "parameterOrder": [
                "parent"
              ]
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "id": "tpu.projects.locations.get",
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32",
                  "type": "integer"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "tpu.projects.locations.list",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2/projects/{projectsId}/locations",
              "path": "v2/{+name}/locations"
            }
          },
          "resources": {
            "runtimeVersions": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$"
                    }
                  },
                  "description": "Gets a runtime version.",
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "location": "path"
                    },
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    }
                  },
                  "description": "Lists runtime versions supported by this API.",
                  "path": "v2/{+parent}/runtimeVersions",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "nodes": {
              "methods": {
                "delete": {
                  "description": "Deletes a node.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Required. The resource name.",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.nodes.delete",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "path": "v2/{+name}"
                },
                "getGuestAttributes": {
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "path": "v2/{+name}:getGuestAttributes",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Retrieves the guest attributes for the node."
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.nodes.list",
                  "description": "Lists nodes.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes",
                  "path": "v2/{+parent}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "stop": {
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.stop",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "path": "v2/{+name}:stop",
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "description": "Required. The resource name.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Node"
                  },
                  "description": "Gets the details of a node.",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.nodes.get",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "start": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}:start",
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Starts a node.",
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.start",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
                      "location": "query"
                    },
                    "name": {
                      "description": "Output only. Immutable. The name of the TPU.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Updates the configurations of a node.",
                  "id": "tpu.projects.locations.nodes.patch",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Node"
                  },
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}"
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "nodeId": {
                      "description": "The unqualified resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a node.",
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+parent}/nodes",
                  "request": {
                    "$ref": "Node"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes"
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "path": "v2/{+parent}/acceleratorTypes",
                  "description": "Lists accelerator types supported by this API.",
                  "parameters": {
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Sort results.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.acceleratorTypes.list"
                },
                "get": {
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "description": "Gets AcceleratorType.",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "AcceleratorType"
                  }
                }
              }
            },
            "queuedResources": {
              "methods": {
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "path": "v2/{+parent}/queuedResources",
                  "description": "Lists queued resources.",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. The maximum number of items to return.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The parent resource name.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.queuedResources.list"
                },
                "get": {
                  "id": "tpu.projects.locations.queuedResources.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "description": "Gets details of a queued resource.",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "path": "v2/{+name}",
                  "description": "Deletes a QueuedResource TPU instance.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "description": "Optional. Idempotent request UUID.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "httpMethod": "DELETE"
                },
                "reset": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "description": "Resets a QueuedResource TPU instance",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The name of the queued resource.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "path": "v2/{+name}:reset",
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "path": "v2/{+parent}/queuedResources",
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "description": "Creates a QueuedResource TPU instance.",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. Idempotent request UUID.",
                      "location": "query"
                    },
                    "queuedResourceId": {
                      "type": "string",
                      "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "location": "query"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.queuedResources.create"
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "tpu.projects.locations.operations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "path": "v2/{+name}",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.operations.get",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation's parent resource.",
                      "location": "path"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "tpu.projects.locations.operations.list",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2/{+name}/operations",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "cancel": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "path": "v2/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.operations.cancel"
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "schemas": {
    "ServiceAccount": {
      "id": "ServiceAccount",
      "type": "object",
      "description": "A service account.",
      "properties": {
        "scope": {
          "type": "array",
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "items": {
            "type": "string"
          }
        },
        "email": {
          "description": "Email address of the service account. If empty, default Compute service account will be used.",
          "type": "string"
        }
      }
    },
    "RuntimeVersion": {
      "id": "RuntimeVersion",
      "type": "object",
      "description": "A runtime version that a Node can be configured with.",
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "version": {
          "description": "The runtime version.",
          "type": "string"
        }
      }
    },
    "Node": {
      "description": "A TPU instance.",
      "properties": {
        "networkEndpoints": {
          "type": "array",
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "readOnly": true,
          "items": {
            "$ref": "NetworkEndpoint"
          }
        },
        "multisliceNode": {
          "description": "Output only. Whether the Node belongs to a Multislice group.",
          "readOnly": true,
          "type": "boolean"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "runtimeVersion": {
          "description": "Required. The runtime version running in the Node.",
          "type": "string"
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned."
        },
        "description": {
          "description": "The user-supplied description of the TPU. Maximum of 512 characters.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "items": {
            "type": "string"
          }
        },
        "dataDisks": {
          "items": {
            "$ref": "AttachedDisk"
          },
          "description": "The additional data disks for the Node.",
          "type": "array"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used."
        },
        "acceleratorType": {
          "description": "Optional. The type of hardware accelerators associated with this node.",
          "type": "string"
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. The API version that created this Node.",
          "type": "string",
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version.",
            "TPU API V2 version."
          ],
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1",
            "V2"
          ]
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the node was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "schedulingConfig": {
          "$ref": "SchedulingConfig",
          "description": "The scheduling options for this node."
        },
        "symptoms": {
          "type": "array",
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "readOnly": true,
          "items": {
            "$ref": "Symptom"
          }
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "healthDescription": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy."
        },
        "labels": {
          "description": "Resource labels to represent user-provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bootDiskConfig": {
          "description": "Optional. Boot disk configuration.",
          "$ref": "BootDiskConfig"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. Immutable. The name of the TPU.",
          "type": "string"
        },
        "networkConfigs": {
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array"
        },
        "health": {
          "type": "string",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ],
          "description": "The health status of the TPU node."
        },
        "acceleratorConfig": {
          "description": "The AccleratorConfig for the TPU Node.",
          "$ref": "AcceleratorConfig"
        },
        "upcomingMaintenance": {
          "readOnly": true,
          "$ref": "UpcomingMaintenance",
          "description": "Output only. Upcoming maintenance on this TPU node."
        },
        "id": {
          "format": "int64",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The unique identifier for the TPU Node."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state for the TPU Node.",
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ],
          "type": "string"
        },
        "queuedResource": {
          "type": "string",
          "description": "Output only. The qualified name of the QueuedResource that requested this Node.",
          "readOnly": true
        }
      },
      "id": "Node",
      "type": "object"
    },
    "ListAcceleratorTypesResponse": {
      "description": "Response for ListAcceleratorTypes.",
      "properties": {
        "acceleratorTypes": {
          "items": {
            "$ref": "AcceleratorType"
          },
          "description": "The listed nodes.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListAcceleratorTypesResponse",
      "type": "object"
    },
    "AcceleratorType": {
      "description": "A accelerator type that a Node can be configured with.",
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "type": {
          "description": "The accelerator type.",
          "type": "string"
        },
        "acceleratorConfigs": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "description": "The accelerator config."
        }
      },
      "id": "AcceleratorType",
      "type": "object"
    },
    "DeletingData": {
      "description": "Further data for the deleting state.",
      "properties": {},
      "id": "DeletingData",
      "type": "object"
    },
    "ListQueuedResourcesResponse": {
      "id": "ListQueuedResourcesResponse",
      "type": "object",
      "description": "Response for ListQueuedResources.",
      "properties": {
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "queuedResources": {
          "items": {
            "$ref": "QueuedResource"
          },
          "description": "The listed queued resources.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      }
    },
    "ServiceIdentity": {
      "id": "ServiceIdentity",
      "type": "object",
      "description": "The per-product per-project service identity for Cloud TPU service.",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      }
    },
    "ListNodesResponse": {
      "description": "Response for ListNodes.",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "nodes": {
          "items": {
            "$ref": "Node"
          },
          "description": "The listed nodes.",
          "type": "array"
        }
      },
      "id": "ListNodesResponse",
      "type": "object"
    },
    "GenerateServiceIdentityResponse": {
      "id": "GenerateServiceIdentityResponse",
      "type": "object",
      "description": "Response for GenerateServiceIdentity.",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      }
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "type": "object",
      "description": "An access config attached to the TPU worker.",
      "properties": {
        "externalIp": {
          "description": "Output only. An external IP address associated with the TPU worker.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "GuestAttributesEntry": {
      "id": "GuestAttributesEntry",
      "type": "object",
      "description": "A guest attributes namespace/key/value entry.",
      "properties": {
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        },
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        },
        "value": {
          "description": "Value for the guest attribute entry.",
          "type": "string"
        }
      }
    },
    "AcceptedData": {
      "id": "AcceptedData",
      "type": "object",
      "description": "Further data for the accepted state.",
      "properties": {}
    },
    "NodeSpec": {
      "id": "NodeSpec",
      "type": "object",
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created.",
      "properties": {
        "parent": {
          "description": "Required. The parent resource name.",
          "type": "string"
        },
        "nodeId": {
          "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multislice requests, multislice_params must be populated instead.",
          "type": "string"
        },
        "node": {
          "$ref": "Node",
          "description": "Required. The node."
        },
        "multisliceParams": {
          "$ref": "MultisliceParams",
          "description": "Optional. Fields to specify in case of multislice request."
        }
      }
    },
    "CreatingData": {
      "description": "Further data for the creating state.",
      "properties": {},
      "id": "CreatingData",
      "type": "object"
    },
    "QueuedResourceState": {
      "id": "QueuedResourceState",
      "type": "object",
      "description": "QueuedResourceState defines the details of the QueuedResource request.",
      "properties": {
        "activeData": {
          "description": "Output only. Further data for the active state.",
          "readOnly": true,
          "$ref": "ActiveData"
        },
        "creatingData": {
          "readOnly": true,
          "$ref": "CreatingData",
          "description": "Output only. Further data for the creating state."
        },
        "acceptedData": {
          "readOnly": true,
          "$ref": "AcceptedData",
          "description": "Output only. Further data for the accepted state."
        },
        "suspendingData": {
          "readOnly": true,
          "$ref": "SuspendingData",
          "description": "Output only. Further data for the suspending state."
        },
        "state": {
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ],
          "type": "string",
          "description": "Output only. State of the QueuedResource request.",
          "readOnly": true
        },
        "provisioningData": {
          "readOnly": true,
          "$ref": "ProvisioningData",
          "description": "Output only. Further data for the provisioning state."
        },
        "failedData": {
          "description": "Output only. Further data for the failed state.",
          "readOnly": true,
          "$ref": "FailedData"
        },
        "stateInitiator": {
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ],
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "type": "string",
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "readOnly": true
        },
        "deletingData": {
          "description": "Output only. Further data for the deleting state.",
          "readOnly": true,
          "$ref": "DeletingData"
        },
        "suspendedData": {
          "readOnly": true,
          "$ref": "SuspendedData",
          "description": "Output only. Further data for the suspended state."
        }
      }
    },
    "FailedData": {
      "description": "Further data for the failed state.",
      "properties": {
        "error": {
          "description": "Output only. The error that caused the queued resource to enter the FAILED state.",
          "readOnly": true,
          "$ref": "Status"
        }
      },
      "id": "FailedData",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "type": "object"
    },
    "SchedulingConfig": {
      "id": "SchedulingConfig",
      "type": "object",
      "description": "Sets the scheduling options for this node.",
      "properties": {
        "preemptible": {
          "description": "Defines whether the node is preemptible.",
          "type": "boolean"
        },
        "spot": {
          "description": "Optional. Defines whether the node is Spot VM.",
          "type": "boolean"
        },
        "reserved": {
          "description": "Whether the node is created under a reservation.",
          "type": "boolean"
        }
      }
    },
    "Guaranteed": {
      "id": "Guaranteed",
      "type": "object",
      "description": "Guaranteed tier definition.",
      "properties": {
        "minDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration."
        }
      }
    },
    "GuestAttributesValue": {
      "description": "Array of guest attribute namespace/key/value tuples.",
      "properties": {
        "items": {
          "description": "The list of guest attributes entries.",
          "items": {
            "$ref": "GuestAttributesEntry"
          },
          "type": "array"
        }
      },
      "id": "GuestAttributesValue",
      "type": "object"
    },
    "ListRuntimeVersionsResponse": {
      "description": "Response for ListRuntimeVersions.",
      "properties": {
        "runtimeVersions": {
          "type": "array",
          "description": "The listed nodes.",
          "items": {
            "$ref": "RuntimeVersion"
          }
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListRuntimeVersionsResponse",
      "type": "object"
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "type": "object",
      "description": "A set of Shielded Instance options.",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      }
    },
    "SuspendingData": {
      "description": "Further data for the suspending state.",
      "properties": {},
      "id": "SuspendingData",
      "type": "object"
    },
    "QueueingPolicy": {
      "id": "QueueingPolicy",
      "type": "object",
      "description": "Defines the policy of the QueuedRequest.",
      "properties": {
        "validInterval": {
          "$ref": "Interval",
          "description": "Optional. An absolute time interval within which resources may be created."
        },
        "validAfterDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Optional. A relative time after which resources may be created."
        },
        "validAfterTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. An absolute time after which resources may be created."
        },
        "validUntilDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        },
        "validUntilTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        }
      }
    },
    "MultisliceParams": {
      "id": "MultisliceParams",
      "type": "object",
      "description": "Parameters to specify for multislice QueuedResource requests. This message must be populated in case of multislice requests instead of node_id.",
      "properties": {
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provision \"node_count\" nodes as part of the request. This needs to be > 1.",
          "format": "int32",
          "type": "integer"
        },
        "nodeIdPrefix": {
          "description": "Optional. Prefix of node_ids in case of multislice request. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Symptom": {
      "description": "A Symptom instance.",
      "properties": {
        "createTime": {
          "description": "Timestamp when the Symptom is created.",
          "format": "google-datetime",
          "type": "string"
        },
        "details": {
          "description": "Detailed information of the current Symptom.",
          "type": "string"
        },
        "workerId": {
          "description": "A string used to uniquely distinguish a worker within a TPU node.",
          "type": "string"
        },
        "symptomType": {
          "description": "Type of the Symptom.",
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ],
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "type": "string"
        }
      },
      "id": "Symptom",
      "type": "object"
    },
    "Spot": {
      "description": "Spot tier definition.",
      "properties": {},
      "id": "Spot",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      }
    },
    "UpcomingMaintenance": {
      "id": "UpcomingMaintenance",
      "type": "object",
      "description": "Upcoming Maintenance notification information.",
      "properties": {
        "maintenanceStatus": {
          "type": "string",
          "description": "The status of the maintenance.",
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ]
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ],
          "description": "Defines the type of maintenance."
        },
        "windowStartTime": {
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "latestWindowStartTime": {
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "canReschedule": {
          "description": "Indicates if the maintenance can be customer triggered.",
          "type": "boolean"
        },
        "windowEndTime": {
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "Interval": {
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        }
      }
    },
    "GetGuestAttributesRequest": {
      "description": "Request for GetGuestAttributes.",
      "properties": {
        "workerIds": {
          "items": {
            "type": "string"
          },
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned.",
          "type": "array"
        },
        "queryPath": {
          "description": "The guest attributes path to be queried.",
          "type": "string"
        }
      },
      "id": "GetGuestAttributesRequest",
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "GetGuestAttributesResponse": {
      "id": "GetGuestAttributesResponse",
      "type": "object",
      "description": "Response for GetGuestAttributes.",
      "properties": {
        "guestAttributes": {
          "type": "array",
          "items": {
            "$ref": "GuestAttributes"
          },
          "description": "The guest attributes for the TPU workers."
        }
      }
    },
    "CustomerEncryptionKey": {
      "id": "CustomerEncryptionKey",
      "type": "object",
      "description": "Defines the customer encryption key for disk encryption.",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 ",
          "type": "string"
        }
      }
    },
    "Tpu": {
      "description": "Details of the TPU resource(s) being requested.",
      "properties": {
        "nodeSpec": {
          "items": {
            "$ref": "NodeSpec"
          },
          "description": "Optional. The TPU node(s) being requested.",
          "type": "array"
        }
      },
      "id": "Tpu",
      "type": "object"
    },
    "GenerateServiceIdentityRequest": {
      "id": "GenerateServiceIdentityRequest",
      "type": "object",
      "description": "Request for GenerateServiceIdentity.",
      "properties": {}
    },
    "NetworkEndpoint": {
      "description": "A network endpoint over which a TPU worker can be reached.",
      "properties": {
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port of this network endpoint."
        },
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "The access config for the TPU worker."
        },
        "ipAddress": {
          "description": "The internal IP address of this network endpoint.",
          "type": "string"
        }
      },
      "id": "NetworkEndpoint",
      "type": "object"
    },
    "StartNodeRequest": {
      "id": "StartNodeRequest",
      "type": "object",
      "description": "Request for StartNode.",
      "properties": {}
    },
    "GuestAttributes": {
      "description": "A guest attributes.",
      "properties": {
        "queryValue": {
          "$ref": "GuestAttributesValue",
          "description": "The value of the requested queried path."
        },
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        }
      },
      "id": "GuestAttributes",
      "type": "object"
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "type": "object",
      "description": "Network related configurations.",
      "properties": {
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "queueCount": {
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface.",
          "format": "int32",
          "type": "integer"
        },
        "network": {
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "enableExternalIps": {
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled.",
          "type": "boolean"
        }
      }
    },
    "ProvisioningData": {
      "description": "Further data for the provisioning state.",
      "properties": {},
      "id": "ProvisioningData",
      "type": "object"
    },
    "BootDiskConfig": {
      "description": "Sets the boot disk configuration for the TPU node.",
      "properties": {
        "customerEncryptionKey": {
          "description": "Optional. Customer encryption key for boot disk.",
          "$ref": "CustomerEncryptionKey"
        }
      },
      "id": "BootDiskConfig",
      "type": "object"
    },
    "ResetQueuedResourceRequest": {
      "description": "Request for ResetQueuedResource.",
      "properties": {},
      "id": "ResetQueuedResourceRequest",
      "type": "object"
    },
    "StopNodeRequest": {
      "id": "StopNodeRequest",
      "type": "object",
      "description": "Request for StopNode.",
      "properties": {}
    },
    "QueuedResource": {
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available.",
      "properties": {
        "reservationName": {
          "description": "Optional. Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        },
        "tpu": {
          "$ref": "Tpu",
          "description": "Optional. Defines a TPU resource."
        },
        "state": {
          "description": "Output only. State of the QueuedResource request.",
          "readOnly": true,
          "$ref": "QueuedResourceState"
        },
        "spot": {
          "$ref": "Spot",
          "description": "Optional. The Spot tier."
        },
        "name": {
          "description": "Output only. Immutable. The name of the QueuedResource.",
          "readOnly": true,
          "type": "string"
        },
        "queueingPolicy": {
          "description": "Optional. The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time when the QueuedResource was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "guaranteed": {
          "description": "Optional. The Guaranteed tier",
          "$ref": "Guaranteed"
        }
      },
      "id": "QueuedResource",
      "type": "object"
    },
    "ActiveData": {
      "id": "ActiveData",
      "type": "object",
      "description": "Further data for the active state.",
      "properties": {}
    },
    "SuspendedData": {
      "description": "Further data for the suspended state.",
      "properties": {},
      "id": "SuspendedData",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Metadata describing an Operation",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation was created."
        },
        "statusDetail": {
          "description": "Human-readable status of the operation, if any.",
          "type": "string"
        },
        "cancelRequested": {
          "description": "Specifies if cancellation was requested for the operation.",
          "type": "boolean"
        },
        "target": {
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1",
          "type": "string"
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "Location",
      "type": "object"
    },
    "AttachedDisk": {
      "description": "A node-attached disk resource. Next ID: 8;",
      "properties": {
        "sourceDisk": {
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\".",
          "type": "string"
        },
        "mode": {
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "type": "string"
        }
      },
      "id": "AttachedDisk",
      "type": "object"
    },
    "AcceleratorConfig": {
      "description": "A TPU accelerator configuration.",
      "properties": {
        "topology": {
          "description": "Required. Topology of TPU in chips.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. Type of TPU.",
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5p.",
            "TPU v6e."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ]
        }
      },
      "id": "AcceleratorConfig",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "id": "tpu:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://tpu.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260127",
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "protocol": "rest",
  "version": "v2",
  "baseUrl": "https://tpu.googleapis.com/",
  "description": "TPU API provides customers with access to Google TPU technology."
}