{
  "baseUrl": "https://tpu.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "rootUrl": "https://tpu.googleapis.com/",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/tpu/",
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "revision": "20260127",
  "servicePath": "",
  "canonicalName": "TPU",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "runtimeVersions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "orderBy": {
                      "description": "Sort results.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "List filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "description": "Lists runtime versions supported by this API.",
                  "path": "v2/{+parent}/runtimeVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "description": "Gets a runtime version.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                }
              }
            },
            "nodes": {
              "methods": {
                "stop": {
                  "path": "v2/{+name}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.stop",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopNodeRequest"
                  }
                },
                "start": {
                  "id": "tpu.projects.locations.nodes.start",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "description": "Starts a node.",
                  "path": "v2/{+name}:start",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.nodes.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes",
                  "description": "Lists nodes.",
                  "path": "v2/{+parent}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    }
                  },
                  "response": {
                    "$ref": "ListNodesResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "description": "Gets the details of a node.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Node"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "description": "Deletes a node."
                },
                "getGuestAttributes": {
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name."
                    }
                  },
                  "path": "v2/{+name}:getGuestAttributes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "description": "Retrieves the guest attributes for the node.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  }
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips]."
                    },
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Output only. Immutable. The name of the TPU."
                    }
                  },
                  "id": "tpu.projects.locations.nodes.patch",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "description": "Updates the configurations of a node.",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "PATCH",
                  "request": {
                    "$ref": "Node"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "nodeId": {
                      "description": "The unqualified resource name.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.create",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/nodes",
                  "description": "Creates a node.",
                  "path": "v2/{+parent}/nodes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Node"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "queuedResources": {
              "methods": {
                "create": {
                  "path": "v2/{+parent}/queuedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.queuedResources.create",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "description": "Creates a QueuedResource TPU instance.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "queuedResourceId": {
                      "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Idempotent request UUID."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "QueuedResource"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "description": "Deletes a QueuedResource TPU instance.",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    },
                    "force": {
                      "description": "Optional. If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "reset": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "description": "Required. The name of the queued resource.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "path": "v2/{+name}:reset",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "description": "Resets a QueuedResource TPU instance",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  }
                },
                "get": {
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.queuedResources.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "description": "Gets details of a queued resource.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "tpu.projects.locations.queuedResources.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "description": "Lists queued resources.",
                  "path": "v2/{+parent}/queuedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "Optional. The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. The next_page_token value returned from a previous List request, if any."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.operations.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "id": "tpu.projects.locations.operations.delete",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ]
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2/{+name}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.operations.cancel",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.operations.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v2/{+parent}/acceleratorTypes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "description": "Lists accelerator types supported by this API.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "filter": {
                      "description": "List filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Sort results.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "flatPath": "v2/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "description": "Gets AcceleratorType.",
                  "path": "v2/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name."
                    }
                  },
                  "response": {
                    "$ref": "AcceleratorType"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "tpu.projects.locations.list",
              "flatPath": "v2/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "path": "v2/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              }
            },
            "generateServiceIdentity": {
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                }
              },
              "path": "v2/{+parent}:generateServiceIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "tpu.projects.locations.generateServiceIdentity",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "description": "Generates the Cloud TPU service identity for the project.",
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              }
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true,
                  "description": "Resource name for the location."
                }
              },
              "id": "tpu.projects.locations.get",
              "flatPath": "v2/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "path": "v2/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "description": "TPU API provides customers with access to Google TPU technology.",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "schemas": {
    "ListQueuedResourcesResponse": {
      "id": "ListQueuedResourcesResponse",
      "description": "Response for ListQueuedResources.",
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "queuedResources": {
          "type": "array",
          "items": {
            "$ref": "QueuedResource"
          },
          "description": "The listed queued resources."
        }
      }
    },
    "Tpu": {
      "id": "Tpu",
      "description": "Details of the TPU resource(s) being requested.",
      "type": "object",
      "properties": {
        "nodeSpec": {
          "items": {
            "$ref": "NodeSpec"
          },
          "description": "Optional. The TPU node(s) being requested.",
          "type": "array"
        }
      }
    },
    "Node": {
      "type": "object",
      "properties": {
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "healthDescription": {
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy.",
          "readOnly": true,
          "type": "string"
        },
        "acceleratorType": {
          "type": "string",
          "description": "Optional. The type of hardware accelerators associated with this node."
        },
        "dataDisks": {
          "description": "The additional data disks for the Node.",
          "items": {
            "$ref": "AttachedDisk"
          },
          "type": "array"
        },
        "acceleratorConfig": {
          "description": "The AccleratorConfig for the TPU Node.",
          "$ref": "AcceleratorConfig"
        },
        "description": {
          "description": "The user-supplied description of the TPU. Maximum of 512 characters.",
          "type": "string"
        },
        "networkEndpoints": {
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "type": "array",
          "readOnly": true
        },
        "queuedResource": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The qualified name of the QueuedResource that requested this Node."
        },
        "health": {
          "description": "The health status of the TPU node.",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ],
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "items": {
            "type": "string"
          }
        },
        "upcomingMaintenance": {
          "readOnly": true,
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "$ref": "UpcomingMaintenance"
        },
        "metadata": {
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "multisliceNode": {
          "description": "Output only. Whether the Node belongs to a Multislice group.",
          "readOnly": true,
          "type": "boolean"
        },
        "bootDiskConfig": {
          "description": "Optional. Boot disk configuration.",
          "$ref": "BootDiskConfig"
        },
        "createTime": {
          "description": "Output only. The time when the node was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. The current state for the TPU Node.",
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ],
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "description": "Resource labels to represent user-provided metadata.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "apiVersion": {
          "description": "Output only. The API version that created this Node.",
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version.",
            "TPU API V2 version."
          ],
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1",
            "V2"
          ],
          "readOnly": true,
          "type": "string"
        },
        "networkConfigs": {
          "type": "array",
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "items": {
            "$ref": "NetworkConfig"
          }
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Immutable. The name of the TPU.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used.",
          "$ref": "ServiceAccount"
        },
        "id": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The unique identifier for the TPU Node."
        },
        "runtimeVersion": {
          "type": "string",
          "description": "Required. The runtime version running in the Node."
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        },
        "networkConfig": {
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "$ref": "NetworkConfig"
        },
        "symptoms": {
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "items": {
            "$ref": "Symptom"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "Node",
      "description": "A TPU instance."
    },
    "SuspendedData": {
      "type": "object",
      "properties": {},
      "id": "SuspendedData",
      "description": "Further data for the suspended state."
    },
    "QueueingPolicy": {
      "type": "object",
      "properties": {
        "validUntilTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        },
        "validAfterTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. An absolute time after which resources may be created."
        },
        "validUntilDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed."
        },
        "validAfterDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. A relative time after which resources may be created."
        },
        "validInterval": {
          "description": "Optional. An absolute time interval within which resources may be created.",
          "$ref": "Interval"
        }
      },
      "id": "QueueingPolicy",
      "description": "Defines the policy of the QueuedRequest."
    },
    "ServiceIdentity": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      },
      "id": "ServiceIdentity",
      "description": "The per-product per-project service identity for Cloud TPU service."
    },
    "CreatingData": {
      "id": "CreatingData",
      "description": "Further data for the creating state.",
      "type": "object",
      "properties": {}
    },
    "RuntimeVersion": {
      "id": "RuntimeVersion",
      "description": "A runtime version that a Node can be configured with.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "version": {
          "description": "The runtime version.",
          "type": "string"
        }
      }
    },
    "GuestAttributes": {
      "id": "GuestAttributes",
      "description": "A guest attributes.",
      "type": "object",
      "properties": {
        "queryPath": {
          "type": "string",
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')"
        },
        "queryValue": {
          "description": "The value of the requested queried path.",
          "$ref": "GuestAttributesValue"
        }
      }
    },
    "GetGuestAttributesResponse": {
      "type": "object",
      "properties": {
        "guestAttributes": {
          "type": "array",
          "items": {
            "$ref": "GuestAttributes"
          },
          "description": "The guest attributes for the TPU workers."
        }
      },
      "id": "GetGuestAttributesResponse",
      "description": "Response for GetGuestAttributes."
    },
    "Location": {
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      }
    },
    "ServiceAccount": {
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Email address of the service account. If empty, default Compute service account will be used."
        },
        "scope": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed."
        }
      },
      "id": "ServiceAccount",
      "description": "A service account."
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "type": "string",
          "description": "API version."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation finished running."
        },
        "verb": {
          "description": "Name of the verb executed by the operation.",
          "type": "string"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        }
      },
      "id": "OperationMetadata",
      "description": "Metadata describing an Operation"
    },
    "GenerateServiceIdentityResponse": {
      "type": "object",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      },
      "id": "GenerateServiceIdentityResponse",
      "description": "Response for GenerateServiceIdentity."
    },
    "StopNodeRequest": {
      "type": "object",
      "properties": {},
      "id": "StopNodeRequest",
      "description": "Request for StopNode."
    },
    "NetworkConfig": {
      "id": "NetworkConfig",
      "description": "Network related configurations.",
      "type": "object",
      "properties": {
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used."
        },
        "queueCount": {
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface.",
          "format": "int32",
          "type": "integer"
        },
        "network": {
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "enableExternalIps": {
          "type": "boolean",
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled."
        }
      }
    },
    "GetGuestAttributesRequest": {
      "id": "GetGuestAttributesRequest",
      "description": "Request for GetGuestAttributes.",
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The guest attributes path to be queried.",
          "type": "string"
        },
        "workerIds": {
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AcceleratorConfig": {
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. Type of TPU.",
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5p.",
            "TPU v6e."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ]
        },
        "topology": {
          "type": "string",
          "description": "Required. Topology of TPU in chips."
        }
      },
      "id": "AcceleratorConfig",
      "description": "A TPU accelerator configuration."
    },
    "GuestAttributesEntry": {
      "id": "GuestAttributesEntry",
      "description": "A guest attributes namespace/key/value entry.",
      "type": "object",
      "properties": {
        "value": {
          "description": "Value for the guest attribute entry.",
          "type": "string"
        },
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key for the guest attribute entry."
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Guaranteed": {
      "id": "Guaranteed",
      "description": "Guaranteed tier definition.",
      "type": "object",
      "properties": {
        "minDuration": {
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration.",
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "ListAcceleratorTypesResponse": {
      "id": "ListAcceleratorTypesResponse",
      "description": "Response for ListAcceleratorTypes.",
      "type": "object",
      "properties": {
        "acceleratorTypes": {
          "type": "array",
          "items": {
            "$ref": "AcceleratorType"
          },
          "description": "The listed nodes."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ListNodesResponse": {
      "id": "ListNodesResponse",
      "description": "Response for ListNodes.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached."
        },
        "nodes": {
          "type": "array",
          "description": "The listed nodes.",
          "items": {
            "$ref": "Node"
          }
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      }
    },
    "ListRuntimeVersionsResponse": {
      "id": "ListRuntimeVersionsResponse",
      "description": "Response for ListRuntimeVersions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "runtimeVersions": {
          "description": "The listed nodes.",
          "items": {
            "$ref": "RuntimeVersion"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "AcceptedData": {
      "id": "AcceptedData",
      "description": "Further data for the accepted state.",
      "type": "object",
      "properties": {}
    },
    "Spot": {
      "type": "object",
      "properties": {},
      "id": "Spot",
      "description": "Spot tier definition."
    },
    "ResetQueuedResourceRequest": {
      "id": "ResetQueuedResourceRequest",
      "description": "Request for ResetQueuedResource.",
      "type": "object",
      "properties": {}
    },
    "Interval": {
      "type": "object",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "QueuedResource": {
      "id": "QueuedResource",
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available.",
      "type": "object",
      "properties": {
        "tpu": {
          "description": "Optional. Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "createTime": {
          "description": "Output only. The time when the QueuedResource was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the QueuedResource request.",
          "$ref": "QueuedResourceState",
          "readOnly": true
        },
        "reservationName": {
          "description": "Optional. Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Immutable. The name of the QueuedResource."
        },
        "spot": {
          "description": "Optional. The Spot tier.",
          "$ref": "Spot"
        },
        "queueingPolicy": {
          "description": "Optional. The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "guaranteed": {
          "description": "Optional. The Guaranteed tier",
          "$ref": "Guaranteed"
        }
      }
    },
    "AcceleratorType": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "acceleratorConfigs": {
          "type": "array",
          "description": "The accelerator config.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "type": {
          "description": "The accelerator type.",
          "type": "string"
        }
      },
      "id": "AcceleratorType",
      "description": "A accelerator type that a Node can be configured with."
    },
    "FailedData": {
      "type": "object",
      "properties": {
        "error": {
          "readOnly": true,
          "description": "Output only. The error that caused the queued resource to enter the FAILED state.",
          "$ref": "Status"
        }
      },
      "id": "FailedData",
      "description": "Further data for the failed state."
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "description": "A set of Shielded Instance options.",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      }
    },
    "NetworkEndpoint": {
      "type": "object",
      "properties": {
        "ipAddress": {
          "description": "The internal IP address of this network endpoint.",
          "type": "string"
        },
        "port": {
          "description": "The port of this network endpoint.",
          "format": "int32",
          "type": "integer"
        },
        "accessConfig": {
          "description": "The access config for the TPU worker.",
          "$ref": "AccessConfig"
        }
      },
      "id": "NetworkEndpoint",
      "description": "A network endpoint over which a TPU worker can be reached."
    },
    "GenerateServiceIdentityRequest": {
      "type": "object",
      "properties": {},
      "id": "GenerateServiceIdentityRequest",
      "description": "Request for GenerateServiceIdentity."
    },
    "SchedulingConfig": {
      "type": "object",
      "properties": {
        "spot": {
          "description": "Optional. Defines whether the node is Spot VM.",
          "type": "boolean"
        },
        "preemptible": {
          "type": "boolean",
          "description": "Defines whether the node is preemptible."
        },
        "reserved": {
          "description": "Whether the node is created under a reservation.",
          "type": "boolean"
        }
      },
      "id": "SchedulingConfig",
      "description": "Sets the scheduling options for this node."
    },
    "BootDiskConfig": {
      "id": "BootDiskConfig",
      "description": "Sets the boot disk configuration for the TPU node.",
      "type": "object",
      "properties": {
        "customerEncryptionKey": {
          "description": "Optional. Customer encryption key for boot disk.",
          "$ref": "CustomerEncryptionKey"
        }
      }
    },
    "UpcomingMaintenance": {
      "type": "object",
      "properties": {
        "latestWindowStartTime": {
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "windowEndTime": {
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "The status of the maintenance.",
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ],
          "type": "string"
        },
        "windowStartTime": {
          "type": "string",
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format."
        },
        "type": {
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ],
          "description": "Defines the type of maintenance.",
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ]
        },
        "canReschedule": {
          "type": "boolean",
          "description": "Indicates if the maintenance can be customer triggered."
        }
      },
      "id": "UpcomingMaintenance",
      "description": "Upcoming Maintenance notification information."
    },
    "DeletingData": {
      "id": "DeletingData",
      "description": "Further data for the deleting state.",
      "type": "object",
      "properties": {}
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "description": "An access config attached to the TPU worker.",
      "type": "object",
      "properties": {
        "externalIp": {
          "description": "Output only. An external IP address associated with the TPU worker.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "StartNodeRequest": {
      "type": "object",
      "properties": {},
      "id": "StartNodeRequest",
      "description": "Request for StartNode."
    },
    "Symptom": {
      "id": "Symptom",
      "description": "A Symptom instance.",
      "type": "object",
      "properties": {
        "workerId": {
          "description": "A string used to uniquely distinguish a worker within a TPU node.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Timestamp when the Symptom is created."
        },
        "symptomType": {
          "description": "Type of the Symptom.",
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ],
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "type": "string"
        },
        "details": {
          "description": "Detailed information of the current Symptom.",
          "type": "string"
        }
      }
    },
    "ProvisioningData": {
      "type": "object",
      "properties": {},
      "id": "ProvisioningData",
      "description": "Further data for the provisioning state."
    },
    "QueuedResourceState": {
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ],
          "description": "Output only. State of the QueuedResource request.",
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ]
        },
        "activeData": {
          "description": "Output only. Further data for the active state.",
          "$ref": "ActiveData",
          "readOnly": true
        },
        "suspendedData": {
          "readOnly": true,
          "description": "Output only. Further data for the suspended state.",
          "$ref": "SuspendedData"
        },
        "creatingData": {
          "description": "Output only. Further data for the creating state.",
          "$ref": "CreatingData",
          "readOnly": true
        },
        "stateInitiator": {
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ],
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "readOnly": true,
          "type": "string"
        },
        "suspendingData": {
          "description": "Output only. Further data for the suspending state.",
          "$ref": "SuspendingData",
          "readOnly": true
        },
        "failedData": {
          "readOnly": true,
          "description": "Output only. Further data for the failed state.",
          "$ref": "FailedData"
        },
        "acceptedData": {
          "description": "Output only. Further data for the accepted state.",
          "$ref": "AcceptedData",
          "readOnly": true
        },
        "deletingData": {
          "description": "Output only. Further data for the deleting state.",
          "$ref": "DeletingData",
          "readOnly": true
        },
        "provisioningData": {
          "readOnly": true,
          "description": "Output only. Further data for the provisioning state.",
          "$ref": "ProvisioningData"
        }
      },
      "id": "QueuedResourceState",
      "description": "QueuedResourceState defines the details of the QueuedResource request."
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "AttachedDisk": {
      "type": "object",
      "properties": {
        "sourceDisk": {
          "type": "string",
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\"."
        },
        "mode": {
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "type": "string"
        }
      },
      "id": "AttachedDisk",
      "description": "A node-attached disk resource. Next ID: 8;"
    },
    "SuspendingData": {
      "id": "SuspendingData",
      "description": "Further data for the suspending state.",
      "type": "object",
      "properties": {}
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "MultisliceParams": {
      "type": "object",
      "properties": {
        "nodeIdPrefix": {
          "type": "string",
          "description": "Optional. Prefix of node_ids in case of multislice request. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix."
        },
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provision \"node_count\" nodes as part of the request. This needs to be > 1.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "MultisliceParams",
      "description": "Parameters to specify for multislice QueuedResource requests. This message must be populated in case of multislice requests instead of node_id."
    },
    "GuestAttributesValue": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "GuestAttributesEntry"
          },
          "description": "The list of guest attributes entries."
        }
      },
      "id": "GuestAttributesValue",
      "description": "Array of guest attribute namespace/key/value tuples."
    },
    "NodeSpec": {
      "type": "object",
      "properties": {
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name."
        },
        "multisliceParams": {
          "description": "Optional. Fields to specify in case of multislice request.",
          "$ref": "MultisliceParams"
        },
        "nodeId": {
          "type": "string",
          "description": "Optional. The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multislice requests, multislice_params must be populated instead."
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        }
      },
      "id": "NodeSpec",
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created."
    },
    "CustomerEncryptionKey": {
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 ",
          "type": "string"
        }
      },
      "id": "CustomerEncryptionKey",
      "description": "Defines the customer encryption key for disk encryption."
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ActiveData": {
      "id": "ActiveData",
      "description": "Further data for the active state.",
      "type": "object",
      "properties": {}
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    }
  },
  "title": "Cloud TPU API",
  "ownerName": "Google",
  "version": "v2",
  "name": "tpu",
  "id": "tpu:v2",
  "batchPath": "batch",
  "basePath": ""
}