{
  "mtlsRootUrl": "https://tpu.mtls.googleapis.com/",
  "version_module": true,
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/tpu/",
  "servicePath": "",
  "parameters": {
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    }
  },
  "baseUrl": "https://tpu.googleapis.com/",
  "description": "TPU API provides customers with access to Google TPU technology.",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "id": "tpu:v2alpha1",
  "schemas": {
    "NodeUpcomingMaintenanceInfo": {
      "properties": {
        "nodeUid": {
          "description": "UID of this node.",
          "type": "string",
          "format": "int64"
        },
        "upcomingMaintenance": {
          "description": "Upcoming maintenance info for this node.",
          "$ref": "UpcomingMaintenance"
        },
        "nodeName": {
          "type": "string",
          "description": "Unqualified node name."
        }
      },
      "id": "NodeUpcomingMaintenanceInfo",
      "description": "A tuple containing node name / ID and maintenance info.",
      "type": "object"
    },
    "DeletingData": {
      "description": "Further data for the deleting state.",
      "type": "object",
      "properties": {},
      "id": "DeletingData"
    },
    "NetworkEndpoint": {
      "id": "NetworkEndpoint",
      "properties": {
        "ipAddress": {
          "description": "The internal IP address of this network endpoint.",
          "type": "string"
        },
        "accessConfig": {
          "description": "The access config for the TPU worker.",
          "$ref": "AccessConfig"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "The port of this network endpoint."
        }
      },
      "type": "object",
      "description": "A network endpoint over which a TPU worker can be reached."
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "properties": {
        "externalIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An external IP address associated with the TPU worker."
        }
      },
      "type": "object",
      "description": "An access config attached to the TPU worker."
    },
    "BootDiskConfig": {
      "type": "object",
      "description": "Boot disk configurations.",
      "id": "BootDiskConfig",
      "properties": {
        "customerEncryptionKey": {
          "description": "Optional. Customer encryption key for boot disk.",
          "$ref": "CustomerEncryptionKey"
        },
        "diskSizeGb": {
          "format": "int64",
          "description": "Optional. Size of the boot disk in GB. It must be larger than or equal to the size of the image.",
          "type": "string"
        },
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Whether the boot disk will be created with confidential compute mode."
        },
        "sourceImage": {
          "description": "Optional. Image from which boot disk is to be created. If not specified, the default image for the runtime version will be used. Example: `projects/$PROJECT_ID/global/images/$IMAGE_NAME`.",
          "type": "string"
        },
        "provisionedIops": {
          "description": "Optional. Indicates how many IOPS to provision for the disk. This sets the number of I/O operations per second that the disk can handle. To learn more about IOPS, see [Provisioning persistent disk performance](https://cloud.google.com/compute/docs/disks/performance#provisioned-iops).",
          "type": "string",
          "format": "int64"
        },
        "provisionedThroughput": {
          "format": "int64",
          "type": "string",
          "description": "Optional. Indicates how much throughput to provision for the disk. This sets the number of throughput MB per second that the disk can handle."
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool in which the boot disk is created. You can provide this as a partial or full URL to the resource."
        }
      }
    },
    "Symptom": {
      "type": "object",
      "description": "A Symptom instance.",
      "id": "Symptom",
      "properties": {
        "workerId": {
          "type": "string",
          "description": "A string used to uniquely distinguish a worker within a TPU node."
        },
        "createTime": {
          "description": "Timestamp when the Symptom is created.",
          "type": "string",
          "format": "google-datetime"
        },
        "symptomType": {
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ],
          "type": "string",
          "description": "Type of the Symptom.",
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ]
        },
        "details": {
          "type": "string",
          "description": "Detailed information of the current Symptom."
        }
      }
    },
    "StartNodeRequest": {
      "type": "object",
      "description": "Request for StartNode.",
      "id": "StartNodeRequest",
      "properties": {}
    },
    "Reservation": {
      "description": "A reservation describes the amount of a resource 'allotted' for a defined period of time.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The state of the Reservation.",
          "enumDescriptions": [
            "The Reservation state is unspecified.",
            "The Reservation has been approved.",
            "The Reservation is being provisioned.",
            "The Reservation is active.",
            "The Reservation is being deprovisioned.",
            "The Reservation is past its end date.",
            "The Reservation encountered a failure during mutation."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "EXPIRED",
            "FAILED"
          ]
        },
        "name": {
          "type": "string",
          "description": "The reservation name with the format: projects/{projectID}/locations/{location}/reservations/{reservationID}"
        },
        "standard": {
          "description": "A standard reservation.",
          "$ref": "Standard"
        }
      },
      "id": "Reservation"
    },
    "GenerateServiceIdentityRequest": {
      "type": "object",
      "description": "Request for GenerateServiceIdentity.",
      "id": "GenerateServiceIdentityRequest",
      "properties": {}
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        }
      }
    },
    "ShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options.",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      },
      "id": "ShieldedInstanceConfig"
    },
    "ListQueuedResourcesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "queuedResources": {
          "type": "array",
          "description": "The listed queued resources.",
          "items": {
            "$ref": "QueuedResource"
          }
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListQueuedResourcesResponse",
      "description": "Response for ListQueuedResources.",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "QueuedResource": {
      "id": "QueuedResource",
      "properties": {
        "runDuration": {
          "description": "Optional. The duration of the requested resource.",
          "$ref": "RunDuration"
        },
        "provisioningModel": {
          "type": "string",
          "description": "Optional. The provisioning model for the resource.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation.",
            "Provisioning with DWS Flex Start with max run duration."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND",
            "FLEX_START"
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Immutable. The name of the QueuedResource.",
          "readOnly": true
        },
        "spot": {
          "description": "Optional. The Spot tier.",
          "$ref": "Spot"
        },
        "reservationName": {
          "type": "string",
          "description": "Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}"
        },
        "guaranteed": {
          "description": "The Guaranteed tier.",
          "$ref": "Guaranteed"
        },
        "state": {
          "description": "Output only. State of the QueuedResource request.",
          "readOnly": true,
          "$ref": "QueuedResourceState"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the QueuedResource was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "tpu": {
          "description": "Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "queueingPolicy": {
          "description": "The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "bestEffort": {
          "description": "The BestEffort tier.",
          "$ref": "BestEffort"
        }
      },
      "type": "object",
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available."
    },
    "QueueingPolicy": {
      "properties": {
        "validAfterDuration": {
          "type": "string",
          "description": "A relative time after which resources may be created.",
          "format": "google-duration"
        },
        "validAfterTime": {
          "format": "google-datetime",
          "description": "An absolute time at which resources may be created.",
          "type": "string"
        },
        "validUntilDuration": {
          "type": "string",
          "description": "A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "format": "google-duration"
        },
        "validInterval": {
          "description": "An absolute time interval within which resources may be created.",
          "$ref": "Interval"
        },
        "validUntilTime": {
          "format": "google-datetime",
          "description": "An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "type": "string"
        }
      },
      "id": "QueueingPolicy",
      "description": "Defines the policy of the QueuedRequest.",
      "type": "object"
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "SchedulingConfig": {
      "type": "object",
      "description": "Sets the scheduling options for this node.",
      "id": "SchedulingConfig",
      "properties": {
        "preemptible": {
          "description": "Defines whether the node is preemptible.",
          "type": "boolean"
        },
        "terminationTimestamp": {
          "type": "string",
          "description": "Output only. The time at which the node will be terminated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "reserved": {
          "type": "boolean",
          "description": "Whether the node is created under a reservation."
        },
        "spot": {
          "type": "boolean",
          "description": "Optional. Defines whether the node is Spot VM."
        },
        "reservationName": {
          "type": "string",
          "description": "Optional. Name of the reservation in which the node should be provisioned."
        },
        "provisioningModel": {
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND"
          ],
          "description": "Optional. Defines the provisioning model for the node.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation."
          ],
          "type": "string"
        }
      }
    },
    "AttachedDisk": {
      "id": "AttachedDisk",
      "properties": {
        "sourceDisk": {
          "type": "string",
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\"."
        },
        "mode": {
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "type": "string"
        },
        "workerIds": {
          "description": "Optional. The list of worker IDs this disk is attached to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A node-attached disk resource."
    },
    "QueuedResourceState": {
      "description": "QueuedResourceState defines the details of the QueuedResource request.",
      "type": "object",
      "properties": {
        "failedData": {
          "description": "Further data for the failed state.",
          "$ref": "FailedData"
        },
        "provisioningData": {
          "description": "Further data for the provisioning state.",
          "$ref": "ProvisioningData"
        },
        "creatingData": {
          "description": "Further data for the creating state.",
          "$ref": "CreatingData"
        },
        "deletingData": {
          "description": "Further data for the deleting state.",
          "$ref": "DeletingData"
        },
        "state": {
          "type": "string",
          "description": "State of the QueuedResource request.",
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ]
        },
        "acceptedData": {
          "description": "Further data for the accepted state.",
          "$ref": "AcceptedData"
        },
        "stateInitiator": {
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ]
        },
        "activeData": {
          "description": "Further data for the active state.",
          "$ref": "ActiveData"
        },
        "suspendedData": {
          "description": "Further data for the suspended state.",
          "$ref": "SuspendedData"
        },
        "suspendingData": {
          "description": "Further data for the suspending state.",
          "$ref": "SuspendingData"
        }
      },
      "id": "QueuedResourceState"
    },
    "ListNodesResponse": {
      "type": "object",
      "description": "Response for ListNodes.",
      "id": "ListNodesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nodes": {
          "description": "The listed nodes.",
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      }
    },
    "CustomerEncryptionKey": {
      "properties": {
        "kmsKeyName": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 ",
          "type": "string"
        }
      },
      "id": "CustomerEncryptionKey",
      "description": "Customer's encryption key.",
      "type": "object"
    },
    "ActiveData": {
      "type": "object",
      "description": "Further data for the active state.",
      "id": "ActiveData",
      "properties": {}
    },
    "MultiNodeParams": {
      "properties": {
        "nodeCount": {
          "description": "Required. Number of nodes with this spec. The system will attempt to provison \"node_count\" nodes as part of the request. This needs to be > 1.",
          "type": "integer",
          "format": "int32"
        },
        "nodeIdPrefix": {
          "description": "Prefix of node_ids in case of multi-node request Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix.",
          "type": "string"
        },
        "workloadType": {
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "THROUGHPUT_OPTIMIZED",
            "AVAILABILITY_OPTIMIZED"
          ],
          "description": "Optional. The workload type for the multi-node request.",
          "enumDescriptions": [
            "Not specified.",
            "All of the nodes are available most of the time. Recommended for training workloads.",
            "Most of the nodes are available all of the time. Recommended for serving workloads."
          ],
          "type": "string"
        }
      },
      "id": "MultiNodeParams",
      "description": "Parameters to specify for multi-node QueuedResource requests. This field must be populated in case of multi-node requests instead of node_id. It's an error to specify both node_id and multi_node_params.",
      "type": "object"
    },
    "Standard": {
      "description": "Details of a standard reservation.",
      "type": "object",
      "properties": {
        "usage": {
          "description": "The current usage of the reservation.",
          "$ref": "Usage"
        },
        "size": {
          "format": "int32",
          "description": "The size of the reservation, in the units specified in the 'capacity_units' field.",
          "type": "integer"
        },
        "capacityUnits": {
          "description": "Capacity units this reservation is measured in.",
          "enumDescriptions": [
            "The capacity units is not known/set.",
            "The capacity unit is set to CORES.",
            "The capacity unit is set to CHIPS."
          ],
          "type": "string",
          "enum": [
            "CAPACITY_UNITS_UNSPECIFIED",
            "CORES",
            "CHIPS"
          ]
        },
        "resourceType": {
          "type": "string",
          "description": "The resource type of the reservation."
        },
        "interval": {
          "description": "The start and end time of the reservation.",
          "$ref": "Interval"
        }
      },
      "id": "Standard"
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object"
    },
    "Usage": {
      "type": "object",
      "description": "Usage details of a reservation.",
      "id": "Usage",
      "properties": {
        "total": {
          "description": "The real-time value of usage within the reservation, with the unit specified in field capacity_units.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GetMaintenanceInfoResponse": {
      "description": "Response for GetMaintenanceInfo.",
      "type": "object",
      "properties": {
        "nodeUpcomingMaintenances": {
          "description": "The list of upcoming maintenance entries.",
          "items": {
            "$ref": "NodeUpcomingMaintenanceInfo"
          },
          "type": "array"
        }
      },
      "id": "GetMaintenanceInfoResponse"
    },
    "AcceleratorType": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "acceleratorConfigs": {
          "type": "array",
          "description": "The accelerator config.",
          "items": {
            "$ref": "AcceleratorConfig"
          }
        },
        "type": {
          "type": "string",
          "description": "The accelerator type."
        }
      },
      "id": "AcceleratorType",
      "description": "A accelerator type that a Node can be configured with.",
      "type": "object"
    },
    "Guaranteed": {
      "type": "object",
      "description": "Guaranteed tier definition.",
      "id": "Guaranteed",
      "properties": {
        "minDuration": {
          "type": "string",
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration.",
          "format": "google-duration"
        },
        "reserved": {
          "description": "Optional. Specifies the request should be scheduled on reserved capacity.",
          "type": "boolean"
        }
      }
    },
    "AcceptedData": {
      "type": "object",
      "description": "Further data for the accepted state.",
      "id": "AcceptedData",
      "properties": {}
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Status"
    },
    "GuestAttributesValue": {
      "description": "Array of guest attribute namespace/key/value tuples.",
      "type": "object",
      "properties": {
        "items": {
          "description": "The list of guest attributes entries.",
          "items": {
            "$ref": "GuestAttributesEntry"
          },
          "type": "array"
        }
      },
      "id": "GuestAttributesValue"
    },
    "GuestAttributesEntry": {
      "type": "object",
      "description": "A guest attributes namespace/key/value entry.",
      "id": "GuestAttributesEntry",
      "properties": {
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        },
        "value": {
          "description": "Value for the guest attribute entry.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Key for the guest attribute entry."
        }
      }
    },
    "CreatingData": {
      "properties": {},
      "id": "CreatingData",
      "description": "Further data for the creating state.",
      "type": "object"
    },
    "Node": {
      "id": "Node",
      "properties": {
        "description": {
          "description": "The user-supplied description of the TPU. Maximum of 512 characters.",
          "type": "string"
        },
        "multisliceNode": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the Node belongs to a Multislice group."
        },
        "serviceAccount": {
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used.",
          "$ref": "ServiceAccount"
        },
        "health": {
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ],
          "type": "string",
          "description": "The health status of the TPU node.",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ]
        },
        "upcomingMaintenance": {
          "readOnly": true,
          "$ref": "UpcomingMaintenance",
          "description": "Output only. Upcoming maintenance on this TPU node."
        },
        "runtimeVersion": {
          "description": "Required. The runtime version running in the Node.",
          "type": "string"
        },
        "autocheckpointEnabled": {
          "type": "boolean",
          "description": "Optional. Whether Autocheckpoint is enabled."
        },
        "networkConfigs": {
          "type": "array",
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "items": {
            "$ref": "NetworkConfig"
          }
        },
        "apiVersion": {
          "readOnly": true,
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1"
          ],
          "type": "string",
          "description": "Output only. The API version that created this Node.",
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version."
          ]
        },
        "acceleratorConfig": {
          "description": "The AccleratorConfig for the TPU Node.",
          "$ref": "AcceleratorConfig"
        },
        "cidrBlock": {
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block.",
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "description": "Shielded Instance options.",
          "$ref": "ShieldedInstanceConfig"
        },
        "id": {
          "type": "string",
          "description": "Output only. The unique identifier for the TPU Node.",
          "readOnly": true,
          "format": "int64"
        },
        "networkConfig": {
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "$ref": "NetworkConfig"
        },
        "queuedResource": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The qualified name of the QueuedResource that requested this Node."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Resource labels to represent user-provided metadata.",
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script",
          "additionalProperties": {
            "type": "string"
          }
        },
        "symptoms": {
          "readOnly": true,
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "items": {
            "$ref": "Symptom"
          },
          "type": "array"
        },
        "schedulingConfig": {
          "description": "The scheduling options for this node.",
          "$ref": "SchedulingConfig"
        },
        "dataDisks": {
          "description": "The additional data disks for the Node.",
          "items": {
            "$ref": "AttachedDisk"
          },
          "type": "array"
        },
        "state": {
          "description": "Output only. The current state for the TPU Node.",
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ]
        },
        "name": {
          "description": "Output only. Immutable. The name of the TPU.",
          "type": "string",
          "readOnly": true
        },
        "networkEndpoints": {
          "readOnly": true,
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "type": "array"
        },
        "healthDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy."
        },
        "acceleratorType": {
          "description": "The type of hardware accelerators associated with this node.",
          "type": "string"
        },
        "bootDiskConfig": {
          "description": "Optional. Boot disk configuration.",
          "$ref": "BootDiskConfig"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time when the node was created."
        },
        "tags": {
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object",
      "description": "A TPU instance."
    },
    "ListRuntimeVersionsResponse": {
      "description": "Response for ListRuntimeVersions.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "runtimeVersions": {
          "description": "The listed nodes.",
          "items": {
            "$ref": "RuntimeVersion"
          },
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListRuntimeVersionsResponse"
    },
    "GetGuestAttributesResponse": {
      "properties": {
        "guestAttributes": {
          "type": "array",
          "description": "The guest attributes for the TPU workers.",
          "items": {
            "$ref": "GuestAttributes"
          }
        }
      },
      "id": "GetGuestAttributesResponse",
      "description": "Response for GetGuestAttributes.",
      "type": "object"
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "properties": {
        "email": {
          "description": "Email address of the service account. If empty, default Compute service account will be used.",
          "type": "string"
        },
        "scope": {
          "type": "array",
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "description": "A service account."
    },
    "BestEffort": {
      "description": "BestEffort tier definition.",
      "type": "object",
      "properties": {},
      "id": "BestEffort"
    },
    "Tpu": {
      "properties": {
        "nodeSpec": {
          "description": "The TPU node(s) being requested.",
          "items": {
            "$ref": "NodeSpec"
          },
          "type": "array"
        }
      },
      "id": "Tpu",
      "description": "Details of the TPU resource(s) being requested.",
      "type": "object"
    },
    "NetworkConfig": {
      "type": "object",
      "description": "Network related configurations.",
      "id": "NetworkConfig",
      "properties": {
        "enableExternalIps": {
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled.",
          "type": "boolean"
        },
        "subnetwork": {
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used."
        },
        "canIpForward": {
          "type": "boolean",
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes."
        },
        "queueCount": {
          "format": "int32",
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface.",
          "type": "integer"
        }
      }
    },
    "UpcomingMaintenance": {
      "description": "Upcoming Maintenance notification information.",
      "type": "object",
      "properties": {
        "windowEndTime": {
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "canReschedule": {
          "description": "Indicates if the maintenance can be customer triggered.",
          "type": "boolean"
        },
        "windowStartTime": {
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format.",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "The status of the maintenance.",
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ]
        },
        "type": {
          "description": "Defines the type of maintenance.",
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ]
        },
        "latestWindowStartTime": {
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format.",
          "type": "string"
        }
      },
      "id": "UpcomingMaintenance"
    },
    "Interval": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "type": "object"
    },
    "PerformMaintenanceQueuedResourceRequest": {
      "type": "object",
      "description": "Request for PerformMaintenanceQueuedResource.",
      "id": "PerformMaintenanceQueuedResourceRequest",
      "properties": {
        "nodeNames": {
          "description": "The names of the nodes to perform maintenance on.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "RuntimeVersion": {
      "id": "RuntimeVersion",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name."
        },
        "version": {
          "type": "string",
          "description": "The runtime version."
        }
      },
      "type": "object",
      "description": "A runtime version that a Node can be configured with."
    },
    "ListReservationsResponse": {
      "description": "Response for ListReservations.",
      "type": "object",
      "properties": {
        "reservations": {
          "description": "The listed reservations.",
          "items": {
            "$ref": "Reservation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      },
      "id": "ListReservationsResponse"
    },
    "FailedData": {
      "properties": {
        "error": {
          "description": "The error that caused the queued resource to enter the FAILED state.",
          "$ref": "Status"
        }
      },
      "id": "FailedData",
      "description": "Further data for the failed state.",
      "type": "object"
    },
    "SuspendingData": {
      "id": "SuspendingData",
      "properties": {},
      "type": "object",
      "description": "Further data for the suspending state."
    },
    "ServiceIdentity": {
      "type": "object",
      "description": "The per-product per-project service identity for Cloud TPU service.",
      "id": "ServiceIdentity",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      }
    },
    "PerformMaintenanceRequest": {
      "type": "object",
      "description": "Request for PerformMaintenance.",
      "id": "PerformMaintenanceRequest",
      "properties": {}
    },
    "Operation": {
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        }
      }
    },
    "GetGuestAttributesRequest": {
      "description": "Request for GetGuestAttributes.",
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The guest attributes path to be queried.",
          "type": "string"
        },
        "workerIds": {
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "GetGuestAttributesRequest"
    },
    "SimulateMaintenanceEventRequest": {
      "type": "object",
      "description": "Request for SimulateMaintenanceEvent.",
      "id": "SimulateMaintenanceEventRequest",
      "properties": {
        "workerIds": {
          "type": "array",
          "description": "The 0-based worker ID. If it is empty, worker ID 0 will be selected for maintenance event simulation. A maintenance event will only be fired on the first specified worker ID. Future implementations may support firing on multiple workers.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AcceleratorConfig": {
      "description": "A TPU accelerator configuration.",
      "type": "object",
      "properties": {
        "type": {
          "description": "Required. Type of TPU.",
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5.",
            "TPU v6e."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ]
        },
        "topology": {
          "type": "string",
          "description": "Required. Topology of TPU in chips."
        }
      },
      "id": "AcceleratorConfig"
    },
    "Spot": {
      "id": "Spot",
      "properties": {},
      "type": "object",
      "description": "Spot tier definition."
    },
    "ProvisioningData": {
      "type": "object",
      "description": "Further data for the provisioning state.",
      "id": "ProvisioningData",
      "properties": {}
    },
    "NodeSpec": {
      "id": "NodeSpec",
      "properties": {
        "parent": {
          "description": "Required. The parent resource name.",
          "type": "string"
        },
        "nodeId": {
          "type": "string",
          "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multi-node requests, multi_node_params must be populated instead. It's an error to specify both node_id and multi_node_params."
        },
        "node": {
          "description": "Required. The node.",
          "$ref": "Node"
        },
        "multiNodeParams": {
          "description": "Optional. Fields to specify in case of multi-node request.",
          "$ref": "MultiNodeParams"
        }
      },
      "type": "object",
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created."
    },
    "ResetQueuedResourceRequest": {
      "properties": {},
      "id": "ResetQueuedResourceRequest",
      "description": "Request for ResetQueuedResource.",
      "type": "object"
    },
    "StopNodeRequest": {
      "properties": {},
      "id": "StopNodeRequest",
      "description": "Request for StopNode.",
      "type": "object"
    },
    "GenerateServiceIdentityResponse": {
      "description": "Response for GenerateServiceIdentity.",
      "type": "object",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      },
      "id": "GenerateServiceIdentityResponse"
    },
    "ListAcceleratorTypesResponse": {
      "description": "Response for ListAcceleratorTypes.",
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        },
        "acceleratorTypes": {
          "type": "array",
          "description": "The listed nodes.",
          "items": {
            "$ref": "AcceleratorType"
          }
        }
      },
      "id": "ListAcceleratorTypesResponse"
    },
    "GuestAttributes": {
      "description": "A guest attributes.",
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        },
        "queryValue": {
          "description": "The value of the requested queried path.",
          "$ref": "GuestAttributesValue"
        }
      },
      "id": "GuestAttributes"
    },
    "OperationMetadata": {
      "description": "Metadata describing an Operation",
      "type": "object",
      "properties": {
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        },
        "apiVersion": {
          "type": "string",
          "description": "API version."
        },
        "createTime": {
          "type": "string",
          "description": "The time the operation was created.",
          "format": "google-datetime"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the operation finished running."
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        }
      },
      "id": "OperationMetadata"
    },
    "RunDuration": {
      "properties": {
        "terminationTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the requested resource will be terminated."
        },
        "maxRunDuration": {
          "type": "string",
          "description": "The maximum duration of the requested resource.",
          "format": "google-duration"
        }
      },
      "id": "RunDuration",
      "description": "Defines the maximum lifetime of the requested resource.",
      "type": "object"
    },
    "SuspendedData": {
      "type": "object",
      "description": "Further data for the suspended state.",
      "id": "SuspendedData",
      "properties": {}
    }
  },
  "version": "v2alpha1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "generateServiceIdentity": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. The parent resource name.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "path": "v2alpha1/{+parent}:generateServiceIdentity",
              "httpMethod": "POST",
              "description": "Generates the Cloud TPU service identity for the project.",
              "id": "tpu.projects.locations.generateServiceIdentity",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "parameterOrder": [
                "parent"
              ]
            },
            "list": {
              "id": "tpu.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v2alpha1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "name": {
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "format": "int32"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                }
              },
              "httpMethod": "GET",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "path": "v2alpha1/{+name}/locations"
            },
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "path": "v2alpha1/{+name}",
              "httpMethod": "GET",
              "description": "Gets information about a location.",
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}",
              "id": "tpu.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "tpu.projects.locations.operations.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "tpu.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be deleted.",
                      "type": "string"
                    }
                  }
                },
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "tpu.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "path": "v2alpha1/{+name}:cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "path": "v2alpha1/{+name}/operations",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The standard list page token.",
                      "type": "string"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "id": "tpu.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations"
                }
              }
            },
            "queuedResources": {
              "methods": {
                "list": {
                  "id": "tpu.projects.locations.queuedResources.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "type": "string"
                    }
                  },
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "httpMethod": "GET",
                  "description": "Lists queued resources."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true
                    },
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state."
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Idempotent request UUID.",
                      "location": "query"
                    }
                  },
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "DELETE",
                  "description": "Deletes a QueuedResource TPU instance.",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "id": "tpu.projects.locations.queuedResources.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a QueuedResource TPU instance.",
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Idempotent request UUID.",
                      "type": "string"
                    },
                    "queuedResourceId": {
                      "location": "query",
                      "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format.",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a queued resource.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.queuedResources.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}"
                },
                "reset": {
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the queued resource.",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$"
                    }
                  },
                  "path": "v2alpha1/{+name}:reset",
                  "httpMethod": "POST",
                  "description": "Resets a QueuedResource TPU instance"
                },
                "performMaintenanceQueuedResource": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:performMaintenanceQueuedResource",
                  "id": "tpu.projects.locations.queuedResources.performMaintenanceQueuedResource",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "PerformMaintenanceQueuedResourceRequest"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The name of the QueuedResource which holds the nodes to perform maintenance on.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Perform manual maintenance on specific nodes of a QueuedResource.",
                  "path": "v2alpha1/{+name}:performMaintenanceQueuedResource"
                },
                "getMaintenanceInfo": {
                  "httpMethod": "GET",
                  "description": "Gets the maintenance info for a queued resource.",
                  "path": "v2alpha1/{+name}:getMaintenanceInfo",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "location": "path",
                      "description": "Required. The QueuedResource name.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GetMaintenanceInfoResponse"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:getMaintenanceInfo",
                  "id": "tpu.projects.locations.queuedResources.getMaintenanceInfo",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "nodes": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "id": "tpu.projects.locations.nodes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "httpMethod": "GET",
                  "description": "Lists nodes.",
                  "path": "v2alpha1/{+parent}/nodes",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "location": "path"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    }
                  }
                },
                "stop": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "id": "tpu.projects.locations.nodes.stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "path": "v2alpha1/{+name}:stop",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  }
                },
                "performMaintenance": {
                  "id": "tpu.projects.locations.nodes.performMaintenance",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:performMaintenance",
                  "request": {
                    "$ref": "PerformMaintenanceRequest"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "path": "v2alpha1/{+name}:performMaintenance",
                  "httpMethod": "POST",
                  "description": "Perform manual maintenance on a node."
                },
                "simulateMaintenanceEvent": {
                  "request": {
                    "$ref": "SimulateMaintenanceEventRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.nodes.simulateMaintenanceEvent",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:simulateMaintenanceEvent",
                  "httpMethod": "POST",
                  "description": "Simulates a maintenance event.",
                  "path": "v2alpha1/{+name}:simulateMaintenanceEvent",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The resource name."
                    }
                  }
                },
                "patch": {
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "PATCH",
                  "description": "Updates the configurations of a node.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "description": "Output only. Immutable. The name of the TPU.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Node"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "id": "tpu.projects.locations.nodes.patch",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name.",
                      "location": "path"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Idempotent request UUID."
                    }
                  },
                  "httpMethod": "DELETE",
                  "description": "Deletes a node.",
                  "path": "v2alpha1/{+name}",
                  "id": "tpu.projects.locations.nodes.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "getGuestAttributes": {
                  "httpMethod": "POST",
                  "description": "Retrieves the guest attributes for the node.",
                  "path": "v2alpha1/{+name}:getGuestAttributes",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "id": "tpu.projects.locations.nodes.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "Node"
                  },
                  "parameters": {
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name.",
                      "type": "string",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    },
                    "nodeId": {
                      "location": "query",
                      "description": "The unqualified resource name.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Creates a node.",
                  "path": "v2alpha1/{+parent}/nodes"
                },
                "start": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "description": "Required. The resource name.",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "POST",
                  "description": "Starts a node.",
                  "path": "v2alpha1/{+name}:start",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "id": "tpu.projects.locations.nodes.start",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "StartNodeRequest"
                  }
                },
                "get": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "id": "tpu.projects.locations.nodes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Node"
                  },
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets the details of a node.",
                  "path": "v2alpha1/{+name}"
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "description": "Lists accelerator types supported by this API.",
                  "path": "v2alpha1/{+parent}/acceleratorTypes",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "List filter."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Sort results.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "id": "tpu.projects.locations.acceleratorTypes.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "AcceleratorType"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "path": "v2alpha1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets AcceleratorType.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name.",
                      "location": "path"
                    }
                  }
                }
              }
            },
            "runtimeVersions": {
              "methods": {
                "list": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "description": "Required. The parent resource name."
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Sort results.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The maximum number of items to return."
                    },
                    "filter": {
                      "type": "string",
                      "description": "List filter.",
                      "location": "query"
                    }
                  },
                  "path": "v2alpha1/{+parent}/runtimeVersions",
                  "httpMethod": "GET",
                  "description": "Lists runtime versions supported by this API.",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
[...]
