{
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "TPU",
  "kind": "discovery#restDescription",
  "servicePath": "",
  "revision": "20260127",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "documentationLink": "https://cloud.google.com/tpu/",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "runtimeVersions": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListRuntimeVersionsResponse"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "List filter."
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Sort results.",
                      "type": "string"
                    }
                  },
                  "description": "Lists runtime versions supported by this API.",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.runtimeVersions.list",
                  "path": "v2alpha1/{+parent}/runtimeVersions",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/runtimeVersions/{runtimeVersionsId}",
                  "response": {
                    "$ref": "RuntimeVersion"
                  },
                  "id": "tpu.projects.locations.runtimeVersions.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/runtimeVersions/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets a runtime version.",
                  "httpMethod": "GET",
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "queuedResources": {
              "methods": {
                "list": {
                  "id": "tpu.projects.locations.queuedResources.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent resource name.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return."
                    },
                    "pageToken": {
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists queued resources.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "response": {
                    "$ref": "ListQueuedResourcesResponse"
                  }
                },
                "delete": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}",
                  "id": "tpu.projects.locations.queuedResources.delete",
                  "httpMethod": "DELETE",
                  "parameters": {
                    "requestId": {
                      "type": "string",
                      "location": "query",
                      "description": "Idempotent request UUID."
                    },
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name."
                    },
                    "force": {
                      "description": "If set to true, all running nodes belonging to this queued resource will be deleted first and then the queued resource will be deleted. Otherwise (i.e. force=false), the queued resource will only be deleted if its nodes have already been deleted or the queued resource is in the ACCEPTED, FAILED, or SUSPENDED state.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Deletes a QueuedResource TPU instance."
                },
                "getMaintenanceInfo": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "GetMaintenanceInfoResponse"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:getMaintenanceInfo",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "location": "path",
                      "description": "Required. The QueuedResource name.",
                      "required": true
                    }
                  },
                  "description": "Gets the maintenance info for a queued resource.",
                  "id": "tpu.projects.locations.queuedResources.getMaintenanceInfo",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:getMaintenanceInfo"
                },
                "reset": {
                  "request": {
                    "$ref": "ResetQueuedResourceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:reset",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the queued resource.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Resets a QueuedResource TPU instance",
                  "id": "tpu.projects.locations.queuedResources.reset",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:reset"
                },
                "performMaintenanceQueuedResource": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "PerformMaintenanceQueuedResourceRequest"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}:performMaintenanceQueuedResource",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.queuedResources.performMaintenanceQueuedResource",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the QueuedResource which holds the nodes to perform maintenance on.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Perform manual maintenance on specific nodes of a QueuedResource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:performMaintenanceQueuedResource"
                },
                "create": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "QueuedResource"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "tpu.projects.locations.queuedResources.create",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Idempotent request UUID.",
                      "type": "string"
                    },
                    "queuedResourceId": {
                      "type": "string",
                      "location": "query",
                      "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format."
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The parent resource name."
                    }
                  },
                  "description": "Creates a QueuedResource TPU instance.",
                  "httpMethod": "POST",
                  "path": "v2alpha1/{+parent}/queuedResources",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/queuedResources/{queuedResourcesId}",
                  "response": {
                    "$ref": "QueuedResource"
                  },
                  "id": "tpu.projects.locations.queuedResources.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/queuedResources/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name.",
                      "location": "path"
                    }
                  },
                  "description": "Gets details of a queued resource.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}"
                }
              }
            },
            "acceleratorTypes": {
              "methods": {
                "get": {
                  "id": "tpu.projects.locations.acceleratorTypes.get",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/acceleratorTypes/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name.",
                      "required": true
                    }
                  },
                  "description": "Gets AcceleratorType.",
                  "httpMethod": "GET",
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes/{acceleratorTypesId}",
                  "response": {
                    "$ref": "AcceleratorType"
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListAcceleratorTypesResponse"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/acceleratorTypes",
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+parent}/acceleratorTypes",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "List filter."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Sort results.",
                      "location": "query"
                    }
                  },
                  "description": "Lists accelerator types supported by this API.",
                  "id": "tpu.projects.locations.acceleratorTypes.list"
                }
              }
            },
            "nodes": {
              "methods": {
                "get": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "response": {
                    "$ref": "Node"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}",
                  "id": "tpu.projects.locations.nodes.get",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Gets the details of a node."
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+parent}/nodes",
                  "httpMethod": "POST",
                  "parameters": {
                    "nodeId": {
                      "type": "string",
                      "location": "query",
                      "description": "The unqualified resource name."
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The parent resource name.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Idempotent request UUID.",
                      "location": "query"
                    }
                  },
                  "description": "Creates a node.",
                  "id": "tpu.projects.locations.nodes.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "request": {
                    "$ref": "Node"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "stop": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:stop",
                  "request": {
                    "$ref": "StopNodeRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:stop",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name."
                    }
                  },
                  "description": "Stops a node. This operation is only available with single TPU nodes.",
                  "id": "tpu.projects.locations.nodes.stop"
                },
                "performMaintenance": {
                  "request": {
                    "$ref": "PerformMaintenanceRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:performMaintenance",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name.",
                      "location": "path"
                    }
                  },
                  "description": "Perform manual maintenance on a node.",
                  "id": "tpu.projects.locations.nodes.performMaintenance",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:performMaintenance"
                },
                "simulateMaintenanceEvent": {
                  "id": "tpu.projects.locations.nodes.simulateMaintenanceEvent",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name."
                    }
                  },
                  "description": "Simulates a maintenance event.",
                  "httpMethod": "POST",
                  "path": "v2alpha1/{+name}:simulateMaintenanceEvent",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "SimulateMaintenanceEventRequest"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:simulateMaintenanceEvent",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "parameters": {
                    "requestId": {
                      "description": "Idempotent request UUID.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "description": "Deletes a node.",
                  "httpMethod": "DELETE",
                  "id": "tpu.projects.locations.nodes.delete",
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "start": {
                  "request": {
                    "$ref": "StartNodeRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:start",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Starts a node.",
                  "httpMethod": "POST",
                  "id": "tpu.projects.locations.nodes.start",
                  "path": "v2alpha1/{+name}:start",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}",
                  "id": "tpu.projects.locations.nodes.patch",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Mask of fields from Node to update. Supported fields: [description, tags, labels, metadata, network_config.enable_external_ips].",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "description": "Output only. Immutable. The name of the TPU.",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$"
                    }
                  },
                  "description": "Updates the configurations of a node.",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Node"
                  }
                },
                "getGuestAttributes": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:getGuestAttributes",
                  "id": "tpu.projects.locations.nodes.getGuestAttributes",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "description": "Required. The resource name.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/nodes/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Retrieves the guest attributes for the node.",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes/{nodesId}:getGuestAttributes",
                  "response": {
                    "$ref": "GetGuestAttributesResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "GetGuestAttributesRequest"
                  }
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+parent}/nodes",
                  "id": "tpu.projects.locations.nodes.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent resource name.",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token value returned from a previous List request, if any."
                    }
                  },
                  "description": "Lists nodes.",
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/nodes",
                  "response": {
                    "$ref": "ListNodesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "cancel": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "id": "tpu.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+name}:cancel"
                },
                "list": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "tpu.projects.locations.operations.list",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "location": "query",
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "id": "tpu.projects.locations.operations.delete",
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v2alpha1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "id": "tpu.projects.locations.operations.get"
                }
              }
            },
            "reservations": {
              "methods": {
                "list": {
                  "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}/reservations",
                  "response": {
                    "$ref": "ListReservationsResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v2alpha1/{+parent}/reservations",
                  "id": "tpu.projects.locations.reservations.list",
                  "httpMethod": "GET",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "The next_page_token value returned from a previous List request, if any.",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The parent for reservations.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return. Defaults to 0 if not specified, which means no limit.",
                      "location": "query"
                    }
                  },
                  "description": "Retrieves the reservations for the given project in the given location."
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v2alpha1/projects/{projectsId}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "repeated": true
                },
                "name": {
                  "required": true,
                  "location": "path",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string"
                }
              },
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "httpMethod": "GET",
              "id": "tpu.projects.locations.list",
              "path": "v2alpha1/{+name}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2alpha1/{+name}",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "description": "Gets information about a location.",
              "id": "tpu.projects.locations.get"
            },
            "generateServiceIdentity": {
              "response": {
                "$ref": "GenerateServiceIdentityResponse"
              },
              "flatPath": "v2alpha1/projects/{projectsId}/locations/{locationsId}:generateServiceIdentity",
              "request": {
                "$ref": "GenerateServiceIdentityRequest"
              },
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v2alpha1/{+parent}:generateServiceIdentity",
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. The parent resource name.",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Generates the Cloud TPU service identity for the project.",
              "id": "tpu.projects.locations.generateServiceIdentity"
            }
          }
        }
      }
    }
  },
  "schemas": {
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse"
    },
    "GuestAttributesValue": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "description": "The list of guest attributes entries.",
          "items": {
            "$ref": "GuestAttributesEntry"
          }
        }
      },
      "id": "GuestAttributesValue",
      "description": "Array of guest attribute namespace/key/value tuples."
    },
    "AccessConfig": {
      "id": "AccessConfig",
      "type": "object",
      "properties": {
        "externalIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. An external IP address associated with the TPU worker."
        }
      },
      "description": "An access config attached to the TPU worker."
    },
    "GuestAttributes": {
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The path to be queried. This can be the default namespace ('/') or a nested namespace ('/\\/') or a specified key ('/\\/\\')",
          "type": "string"
        },
        "queryValue": {
          "description": "The value of the requested queried path.",
          "$ref": "GuestAttributesValue"
        }
      },
      "id": "GuestAttributes",
      "description": "A guest attributes."
    },
    "Standard": {
      "type": "object",
      "properties": {
        "resourceType": {
          "description": "The resource type of the reservation.",
          "type": "string"
        },
        "usage": {
          "description": "The current usage of the reservation.",
          "$ref": "Usage"
        },
        "capacityUnits": {
          "description": "Capacity units this reservation is measured in.",
          "enumDescriptions": [
            "The capacity units is not known/set.",
            "The capacity unit is set to CORES.",
            "The capacity unit is set to CHIPS."
          ],
          "enum": [
            "CAPACITY_UNITS_UNSPECIFIED",
            "CORES",
            "CHIPS"
          ],
          "type": "string"
        },
        "interval": {
          "$ref": "Interval",
          "description": "The start and end time of the reservation."
        },
        "size": {
          "description": "The size of the reservation, in the units specified in the 'capacity_units' field.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "Standard",
      "description": "Details of a standard reservation."
    },
    "SchedulingConfig": {
      "description": "Sets the scheduling options for this node.",
      "id": "SchedulingConfig",
      "type": "object",
      "properties": {
        "reservationName": {
          "description": "Optional. Name of the reservation in which the node should be provisioned.",
          "type": "string"
        },
        "provisioningModel": {
          "type": "string",
          "description": "Optional. Defines the provisioning model for the node.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND"
          ]
        },
        "terminationTimestamp": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time at which the node will be terminated."
        },
        "reserved": {
          "description": "Whether the node is created under a reservation.",
          "type": "boolean"
        },
        "spot": {
          "type": "boolean",
          "description": "Optional. Defines whether the node is Spot VM."
        },
        "preemptible": {
          "description": "Defines whether the node is preemptible.",
          "type": "boolean"
        }
      }
    },
    "AcceleratorConfig": {
      "description": "A TPU accelerator configuration.",
      "type": "object",
      "properties": {
        "type": {
          "type": "string",
          "description": "Required. Type of TPU.",
          "enumDescriptions": [
            "Unspecified version.",
            "TPU v2.",
            "TPU v3.",
            "TPU v4.",
            "TPU v5lite pod.",
            "TPU v5.",
            "TPU v6e."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "V2",
            "V3",
            "V4",
            "V5LITE_POD",
            "V5P",
            "V6E"
          ]
        },
        "topology": {
          "type": "string",
          "description": "Required. Topology of TPU in chips."
        }
      },
      "id": "AcceleratorConfig"
    },
    "PerformMaintenanceRequest": {
      "description": "Request for PerformMaintenance.",
      "id": "PerformMaintenanceRequest",
      "type": "object",
      "properties": {}
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Usage": {
      "id": "Usage",
      "type": "object",
      "properties": {
        "total": {
          "description": "The real-time value of usage within the reservation, with the unit specified in field capacity_units.",
          "type": "string",
          "format": "int64"
        }
      },
      "description": "Usage details of a reservation."
    },
    "Tpu": {
      "type": "object",
      "properties": {
        "nodeSpec": {
          "type": "array",
          "description": "The TPU node(s) being requested.",
          "items": {
            "$ref": "NodeSpec"
          }
        }
      },
      "id": "Tpu",
      "description": "Details of the TPU resource(s) being requested."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "id": "Operation",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      }
    },
    "GenerateServiceIdentityRequest": {
      "type": "object",
      "properties": {},
      "id": "GenerateServiceIdentityRequest",
      "description": "Request for GenerateServiceIdentity."
    },
    "NetworkConfig": {
      "description": "Network related configurations.",
      "id": "NetworkConfig",
      "type": "object",
      "properties": {
        "network": {
          "description": "The name of the network for the TPU node. It must be a preexisting Google Compute Engine network. If none is provided, \"default\" will be used.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "The name of the subnetwork for the TPU node. It must be a preexisting Google Compute Engine subnetwork. If none is provided, \"default\" will be used."
        },
        "enableExternalIps": {
          "description": "Indicates that external IP addresses would be associated with the TPU workers. If set to false, the specified subnetwork or network should have Private Google Access enabled.",
          "type": "boolean"
        },
        "canIpForward": {
          "description": "Allows the TPU node to send and receive packets with non-matching destination or source IPs. This is required if you plan to use the TPU workers to forward routes.",
          "type": "boolean"
        },
        "queueCount": {
          "description": "Optional. Specifies networking queue count for TPU VM instance's network interface.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Node": {
      "type": "object",
      "properties": {
        "dataDisks": {
          "type": "array",
          "description": "The additional data disks for the Node.",
          "items": {
            "$ref": "AttachedDisk"
          }
        },
        "state": {
          "description": "Output only. The current state for the TPU Node.",
          "readOnly": true,
          "enumDescriptions": [
            "TPU node state is not known/set.",
            "TPU node is being created.",
            "TPU node has been created.",
            "TPU node is restarting.",
            "TPU node is undergoing reimaging.",
            "TPU node is being deleted.",
            "TPU node is being repaired and may be unusable. Details can be found in the 'help_description' field.",
            "TPU node is stopped.",
            "TPU node is currently stopping.",
            "TPU node is currently starting.",
            "TPU node has been preempted. Only applies to Preemptible TPU Nodes.",
            "TPU node has been terminated due to maintenance or has reached the end of its life cycle (for preemptible nodes).",
            "TPU node is currently hiding.",
            "TPU node has been hidden.",
            "TPU node is currently unhiding.",
            "TPU node has unknown state after a failed repair."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "READY",
            "RESTARTING",
            "REIMAGING",
            "DELETING",
            "REPAIRING",
            "STOPPED",
            "STOPPING",
            "STARTING",
            "PREEMPTED",
            "TERMINATED",
            "HIDING",
            "HIDDEN",
            "UNHIDING",
            "UNKNOWN"
          ],
          "type": "string"
        },
        "name": {
          "description": "Output only. Immutable. The name of the TPU.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Resource labels to represent user-provided metadata.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "description": "Custom metadata to apply to the TPU Node. Can set startup-script and shutdown-script",
          "additionalProperties": {
            "type": "string"
          }
        },
        "queuedResource": {
          "description": "Output only. The qualified name of the QueuedResource that requested this Node.",
          "readOnly": true,
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Shielded Instance options."
        },
        "healthDescription": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. If this field is populated, it contains a description of why the TPU Node is unhealthy."
        },
        "networkConfig": {
          "$ref": "NetworkConfig",
          "description": "Network configurations for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned."
        },
        "health": {
          "description": "The health status of the TPU node.",
          "enumDescriptions": [
            "Health status is unknown: not initialized or failed to retrieve.",
            "The resource is healthy.",
            "The resource is unresponsive.",
            "The in-guest ML stack is unhealthy.",
            "The node is under maintenance/priority boost caused rescheduling and will resume running once rescheduled."
          ],
          "enum": [
            "HEALTH_UNSPECIFIED",
            "HEALTHY",
            "TIMEOUT",
            "UNHEALTHY_TENSORFLOW",
            "UNHEALTHY_MAINTENANCE"
          ],
          "type": "string"
        },
        "upcomingMaintenance": {
          "description": "Output only. Upcoming maintenance on this TPU node.",
          "$ref": "UpcomingMaintenance",
          "readOnly": true
        },
        "id": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The unique identifier for the TPU Node."
        },
        "acceleratorConfig": {
          "$ref": "AcceleratorConfig",
          "description": "The AccleratorConfig for the TPU Node."
        },
        "description": {
          "description": "The user-supplied description of the TPU. Maximum of 512 characters.",
          "type": "string"
        },
        "multisliceNode": {
          "description": "Output only. Whether the Node belongs to a Multislice group.",
          "readOnly": true,
          "type": "boolean"
        },
        "symptoms": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The Symptoms that have occurred to the TPU Node.",
          "items": {
            "$ref": "Symptom"
          }
        },
        "schedulingConfig": {
          "$ref": "SchedulingConfig",
          "description": "The scheduling options for this node."
        },
        "apiVersion": {
          "readOnly": true,
          "description": "Output only. The API version that created this Node.",
          "type": "string",
          "enumDescriptions": [
            "API version is unknown.",
            "TPU API V1Alpha1 version.",
            "TPU API V1 version.",
            "TPU API V2Alpha1 version."
          ],
          "enum": [
            "API_VERSION_UNSPECIFIED",
            "V1_ALPHA1",
            "V1",
            "V2_ALPHA1"
          ]
        },
        "tags": {
          "description": "Tags to apply to the TPU Node. Tags are used to identify valid sources or targets for network firewalls.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cidrBlock": {
          "type": "string",
          "description": "The CIDR block that the TPU node will use when selecting an IP address. This CIDR block must be a /29 block; the Compute Engine networks API forbids a smaller block, and using a larger block would be wasteful (a node can only consume one IP address). Errors will occur if the CIDR block has already been used for a currently existing TPU node, the CIDR block conflicts with any subnetworks in the user's provided network, or the provided network is peered with another network that is using that CIDR block."
        },
        "acceleratorType": {
          "type": "string",
          "description": "The type of hardware accelerators associated with this node."
        },
        "networkEndpoints": {
          "description": "Output only. The network endpoints where TPU workers can be accessed and sent work. It is recommended that runtime clients of the node reach out to the 0th entry in this map first.",
          "items": {
            "$ref": "NetworkEndpoint"
          },
          "readOnly": true,
          "type": "array"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the node was created."
        },
        "networkConfigs": {
          "description": "Optional. Repeated network configurations for the TPU node. This field is used to specify multiple networks configs for the TPU node. network_config and network_configs are mutually exclusive, you can only specify one of them. If both are specified, an error will be returned.",
          "items": {
            "$ref": "NetworkConfig"
          },
          "type": "array"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "The Google Cloud Platform Service Account to be used by the TPU node VMs. If None is specified, the default compute service account will be used."
        },
        "bootDiskConfig": {
          "$ref": "BootDiskConfig",
          "description": "Optional. Boot disk configuration."
        },
        "runtimeVersion": {
          "type": "string",
          "description": "Required. The runtime version running in the Node."
        },
        "autocheckpointEnabled": {
          "description": "Optional. Whether Autocheckpoint is enabled.",
          "type": "boolean"
        }
      },
      "id": "Node",
      "description": "A TPU instance."
    },
    "DeletingData": {
      "description": "Further data for the deleting state.",
      "id": "DeletingData",
      "type": "object",
      "properties": {}
    },
    "SuspendingData": {
      "description": "Further data for the suspending state.",
      "type": "object",
      "properties": {},
      "id": "SuspendingData"
    },
    "ResetQueuedResourceRequest": {
      "description": "Request for ResetQueuedResource.",
      "id": "ResetQueuedResourceRequest",
      "type": "object",
      "properties": {}
    },
    "OperationMetadata": {
      "description": "Metadata describing an Operation",
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was created."
        },
        "target": {
          "type": "string",
          "description": "Target of the operation - for example projects/project-1/connectivityTests/test-1"
        },
        "cancelRequested": {
          "type": "boolean",
          "description": "Specifies if cancellation was requested for the operation."
        },
        "apiVersion": {
          "description": "API version.",
          "type": "string"
        },
        "endTime": {
          "description": "The time the operation finished running.",
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Name of the verb executed by the operation."
        },
        "statusDetail": {
          "type": "string",
          "description": "Human-readable status of the operation, if any."
        }
      }
    },
    "QueuedResource": {
      "description": "A QueuedResource represents a request for resources that will be placed in a queue and fulfilled when the necessary resources are available.",
      "type": "object",
      "properties": {
        "spot": {
          "$ref": "Spot",
          "description": "Optional. The Spot tier."
        },
        "tpu": {
          "description": "Defines a TPU resource.",
          "$ref": "Tpu"
        },
        "runDuration": {
          "$ref": "RunDuration",
          "description": "Optional. The duration of the requested resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Immutable. The name of the QueuedResource."
        },
        "guaranteed": {
          "description": "The Guaranteed tier.",
          "$ref": "Guaranteed"
        },
        "queueingPolicy": {
          "description": "The queueing policy of the QueuedRequest.",
          "$ref": "QueueingPolicy"
        },
        "state": {
          "readOnly": true,
          "$ref": "QueuedResourceState",
          "description": "Output only. State of the QueuedResource request."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time when the QueuedResource was created."
        },
        "reservationName": {
          "description": "Name of the reservation in which the resource should be provisioned. Format: projects/{project}/locations/{zone}/reservations/{reservation}",
          "type": "string"
        },
        "provisioningModel": {
          "type": "string",
          "description": "Optional. The provisioning model for the resource.",
          "enumDescriptions": [
            "Provisioning model is unknown.",
            "Standard provisioning with user controlled runtime.",
            "Spot provisioning with no guaranteed runtime.",
            "Reservation provisioning with runtime bound to the lifetime of the consumed reservation.",
            "Provisioning with DWS Flex Start with max run duration."
          ],
          "enum": [
            "PROVISIONING_MODEL_UNSPECIFIED",
            "STANDARD",
            "SPOT",
            "RESERVATION_BOUND",
            "FLEX_START"
          ]
        },
        "bestEffort": {
          "description": "The BestEffort tier.",
          "$ref": "BestEffort"
        }
      },
      "id": "QueuedResource"
    },
    "CustomerEncryptionKey": {
      "description": "Customer's encryption key.",
      "type": "object",
      "properties": {
        "kmsKeyName": {
          "description": "The name of the encryption key that is stored in Google Cloud KMS. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY The fully-qualifed key name may be returned for resource GET requests. For example: \"kmsKeyName\": \"projects/KMS_PROJECT_ID/locations/REGION/keyRings/KEY_REGION/cryptoKeys/KEY/cryptoKeyVersions/1 ",
          "type": "string"
        }
      },
      "id": "CustomerEncryptionKey"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "PerformMaintenanceQueuedResourceRequest": {
      "type": "object",
      "properties": {
        "nodeNames": {
          "type": "array",
          "description": "The names of the nodes to perform maintenance on.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "PerformMaintenanceQueuedResourceRequest",
      "description": "Request for PerformMaintenanceQueuedResource."
    },
    "Guaranteed": {
      "type": "object",
      "properties": {
        "minDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "Optional. Defines the minimum duration of the guarantee. If specified, the requested resources will only be provisioned if they can be allocated for at least the given duration."
        },
        "reserved": {
          "type": "boolean",
          "description": "Optional. Specifies the request should be scheduled on reserved capacity."
        }
      },
      "id": "Guaranteed",
      "description": "Guaranteed tier definition."
    },
    "SimulateMaintenanceEventRequest": {
      "description": "Request for SimulateMaintenanceEvent.",
      "id": "SimulateMaintenanceEventRequest",
      "type": "object",
      "properties": {
        "workerIds": {
          "description": "The 0-based worker ID. If it is empty, worker ID 0 will be selected for maintenance event simulation. A maintenance event will only be fired on the first specified worker ID. Future implementations may support firing on multiple workers.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "AcceleratorType": {
      "description": "A accelerator type that a Node can be configured with.",
      "id": "AcceleratorType",
      "type": "object",
      "properties": {
        "type": {
          "description": "The accelerator type.",
          "type": "string"
        },
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "acceleratorConfigs": {
          "description": "The accelerator config.",
          "items": {
            "$ref": "AcceleratorConfig"
          },
          "type": "array"
        }
      }
    },
    "Spot": {
      "id": "Spot",
      "type": "object",
      "properties": {},
      "description": "Spot tier definition."
    },
    "NetworkEndpoint": {
      "type": "object",
      "properties": {
        "accessConfig": {
          "$ref": "AccessConfig",
          "description": "The access config for the TPU worker."
        },
        "ipAddress": {
          "description": "The internal IP address of this network endpoint.",
          "type": "string"
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "The port of this network endpoint."
        }
      },
      "id": "NetworkEndpoint",
      "description": "A network endpoint over which a TPU worker can be reached."
    },
    "NodeUpcomingMaintenanceInfo": {
      "description": "A tuple containing node name / ID and maintenance info.",
      "id": "NodeUpcomingMaintenanceInfo",
      "type": "object",
      "properties": {
        "upcomingMaintenance": {
          "$ref": "UpcomingMaintenance",
          "description": "Upcoming maintenance info for this node."
        },
        "nodeName": {
          "description": "Unqualified node name.",
          "type": "string"
        },
        "nodeUid": {
          "description": "UID of this node.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GenerateServiceIdentityResponse": {
      "type": "object",
      "properties": {
        "identity": {
          "description": "ServiceIdentity that was created or retrieved.",
          "$ref": "ServiceIdentity"
        }
      },
      "id": "GenerateServiceIdentityResponse",
      "description": "Response for GenerateServiceIdentity."
    },
    "AcceptedData": {
      "description": "Further data for the accepted state.",
      "id": "AcceptedData",
      "type": "object",
      "properties": {}
    },
    "Symptom": {
      "description": "A Symptom instance.",
      "id": "Symptom",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Timestamp when the Symptom is created.",
          "type": "string",
          "format": "google-datetime"
        },
        "workerId": {
          "description": "A string used to uniquely distinguish a worker within a TPU node.",
          "type": "string"
        },
        "details": {
          "type": "string",
          "description": "Detailed information of the current Symptom."
        },
        "symptomType": {
          "type": "string",
          "description": "Type of the Symptom.",
          "enumDescriptions": [
            "Unspecified symptom.",
            "TPU VM memory is low.",
            "TPU runtime is out of memory.",
            "TPU runtime execution has timed out.",
            "TPU runtime fails to construct a mesh that recognizes each TPU device's neighbors.",
            "TPU HBM is out of memory.",
            "Abusive behaviors have been identified on the current project."
          ],
          "enum": [
            "SYMPTOM_TYPE_UNSPECIFIED",
            "LOW_MEMORY",
            "OUT_OF_MEMORY",
            "EXECUTE_TIMED_OUT",
            "MESH_BUILD_FAIL",
            "HBM_OUT_OF_MEMORY",
            "PROJECT_ABUSE"
          ]
        }
      }
    },
    "RuntimeVersion": {
      "id": "RuntimeVersion",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name.",
          "type": "string"
        },
        "version": {
          "description": "The runtime version.",
          "type": "string"
        }
      },
      "description": "A runtime version that a Node can be configured with."
    },
    "BestEffort": {
      "type": "object",
      "properties": {},
      "id": "BestEffort",
      "description": "BestEffort tier definition."
    },
    "GuestAttributesEntry": {
      "description": "A guest attributes namespace/key/value entry.",
      "id": "GuestAttributesEntry",
      "type": "object",
      "properties": {
        "key": {
          "description": "Key for the guest attribute entry.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Value for the guest attribute entry."
        },
        "namespace": {
          "description": "Namespace for the guest attribute entry.",
          "type": "string"
        }
      }
    },
    "GetMaintenanceInfoResponse": {
      "description": "Response for GetMaintenanceInfo.",
      "id": "GetMaintenanceInfoResponse",
      "type": "object",
      "properties": {
        "nodeUpcomingMaintenances": {
          "type": "array",
          "description": "The list of upcoming maintenance entries.",
          "items": {
            "$ref": "NodeUpcomingMaintenanceInfo"
          }
        }
      }
    },
    "QueuedResourceState": {
      "id": "QueuedResourceState",
      "type": "object",
      "properties": {
        "deletingData": {
          "description": "Further data for the deleting state.",
          "$ref": "DeletingData"
        },
        "suspendedData": {
          "$ref": "SuspendedData",
          "description": "Further data for the suspended state."
        },
        "suspendingData": {
          "description": "Further data for the suspending state.",
          "$ref": "SuspendingData"
        },
        "acceptedData": {
          "$ref": "AcceptedData",
          "description": "Further data for the accepted state."
        },
        "provisioningData": {
          "description": "Further data for the provisioning state.",
          "$ref": "ProvisioningData"
        },
        "stateInitiator": {
          "description": "Output only. The initiator of the QueuedResources's current state. Used to indicate whether the SUSPENDING/SUSPENDED state was initiated by the user or the service.",
          "readOnly": true,
          "enumDescriptions": [
            "The state initiator is unspecified.",
            "The current QueuedResource state was initiated by the user.",
            "The current QueuedResource state was initiated by the service."
          ],
          "enum": [
            "STATE_INITIATOR_UNSPECIFIED",
            "USER",
            "SERVICE"
          ],
          "type": "string"
        },
        "state": {
          "description": "State of the QueuedResource request.",
          "enumDescriptions": [
            "State of the QueuedResource request is not known/set.",
            "The QueuedResource request has been received. We're still working on determining if we will be able to honor this request.",
            "The QueuedResource request has passed initial validation/admission control and has been persisted in the queue.",
            "The QueuedResource request has been selected. The associated resources are currently being provisioned (or very soon will begin provisioning).",
            "The request could not be completed. This may be due to some late-discovered problem with the request itself, or due to unavailability of resources within the constraints of the request (e.g., the 'valid until' start timing constraint expired).",
            "The QueuedResource is being deleted.",
            "The resources specified in the QueuedResource request have been provisioned and are ready for use by the end-user/consumer.",
            "The resources specified in the QueuedResource request are being deleted. This may have been initiated by the user, or the Cloud TPU service. Inspect the state data for more details.",
            "The resources specified in the QueuedResource request have been deleted.",
            "The QueuedResource request has passed initial validation and has been persisted in the queue. It will remain in this state until there are sufficient free resources to begin provisioning your request. Wait times will vary significantly depending on demand levels. When demand is high, not all requests can be immediately provisioned. If you need more reliable obtainability of TPUs consider purchasing a reservation. To put a limit on how long you are willing to wait, use [timing constraints](https://cloud.google.com/tpu/docs/queued-resources#request_a_queued_resource_before_a_specified_time)."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACCEPTED",
            "PROVISIONING",
            "FAILED",
            "DELETING",
            "ACTIVE",
            "SUSPENDING",
            "SUSPENDED",
            "WAITING_FOR_RESOURCES"
          ],
          "type": "string"
        },
        "activeData": {
          "$ref": "ActiveData",
          "description": "Further data for the active state."
        },
        "creatingData": {
          "$ref": "CreatingData",
          "description": "Further data for the creating state."
        },
        "failedData": {
          "$ref": "FailedData",
          "description": "Further data for the failed state."
        }
      },
      "description": "QueuedResourceState defines the details of the QueuedResource request."
    },
    "ProvisioningData": {
      "description": "Further data for the provisioning state.",
      "id": "ProvisioningData",
      "type": "object",
      "properties": {}
    },
    "RunDuration": {
      "id": "RunDuration",
      "type": "object",
      "properties": {
        "maxRunDuration": {
          "description": "The maximum duration of the requested resource.",
          "type": "string",
          "format": "google-duration"
        },
        "terminationTime": {
          "description": "The time at which the requested resource will be terminated.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Defines the maximum lifetime of the requested resource."
    },
    "ActiveData": {
      "description": "Further data for the active state.",
      "type": "object",
      "properties": {},
      "id": "ActiveData"
    },
    "ListNodesResponse": {
      "type": "object",
      "properties": {
        "nodes": {
          "description": "The listed nodes.",
          "items": {
            "$ref": "Node"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      },
      "id": "ListNodesResponse",
      "description": "Response for ListNodes."
    },
    "ServiceIdentity": {
      "description": "The per-product per-project service identity for Cloud TPU service.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the service identity.",
          "type": "string"
        }
      },
      "id": "ServiceIdentity"
    },
    "ShieldedInstanceConfig": {
      "description": "A set of Shielded Instance options.",
      "id": "ShieldedInstanceConfig",
      "type": "object",
      "properties": {
        "enableSecureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled.",
          "type": "boolean"
        }
      }
    },
    "ServiceAccount": {
      "description": "A service account.",
      "type": "object",
      "properties": {
        "email": {
          "description": "Email address of the service account. If empty, default Compute service account will be used.",
          "type": "string"
        },
        "scope": {
          "description": "The list of scopes to be made available for this service account. If empty, access to all Cloud APIs will be allowed.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ServiceAccount"
    },
    "CreatingData": {
      "id": "CreatingData",
      "type": "object",
      "properties": {},
      "description": "Further data for the creating state."
    },
    "ListRuntimeVersionsResponse": {
      "id": "ListRuntimeVersionsResponse",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "runtimeVersions": {
          "type": "array",
          "description": "The listed nodes.",
          "items": {
            "$ref": "RuntimeVersion"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      },
      "description": "Response for ListRuntimeVersions."
    },
    "Interval": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Interval",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "Reservation": {
      "id": "Reservation",
      "type": "object",
      "properties": {
        "standard": {
          "$ref": "Standard",
          "description": "A standard reservation."
        },
        "state": {
          "enumDescriptions": [
            "The Reservation state is unspecified.",
            "The Reservation has been approved.",
            "The Reservation is being provisioned.",
            "The Reservation is active.",
            "The Reservation is being deprovisioned.",
            "The Reservation is past its end date.",
            "The Reservation encountered a failure during mutation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "APPROVED",
            "PROVISIONING",
            "ACTIVE",
            "DEPROVISIONING",
            "EXPIRED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. The state of the Reservation.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The reservation name with the format: projects/{projectID}/locations/{location}/reservations/{reservationID}"
        }
      },
      "description": "A reservation describes the amount of a resource 'allotted' for a defined period of time."
    },
    "MultiNodeParams": {
      "description": "Parameters to specify for multi-node QueuedResource requests. This field must be populated in case of multi-node requests instead of node_id. It's an error to specify both node_id and multi_node_params.",
      "type": "object",
      "properties": {
        "nodeCount": {
          "type": "integer",
          "format": "int32",
          "description": "Required. Number of nodes with this spec. The system will attempt to provison \"node_count\" nodes as part of the request. This needs to be > 1."
        },
        "workloadType": {
          "description": "Optional. The workload type for the multi-node request.",
          "enumDescriptions": [
            "Not specified.",
            "All of the nodes are available most of the time. Recommended for training workloads.",
            "Most of the nodes are available all of the time. Recommended for serving workloads."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "THROUGHPUT_OPTIMIZED",
            "AVAILABILITY_OPTIMIZED"
          ],
          "type": "string"
        },
        "nodeIdPrefix": {
          "description": "Prefix of node_ids in case of multi-node request Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. If node_count = 3 and node_id_prefix = \"np\", node ids of nodes created will be \"np-0\", \"np-1\", \"np-2\". If this field is not provided we use queued_resource_id as the node_id_prefix.",
          "type": "string"
        }
      },
      "id": "MultiNodeParams"
    },
    "AttachedDisk": {
      "type": "object",
      "properties": {
        "sourceDisk": {
          "description": "Specifies the full path to an existing disk. For example: \"projects/my-project/zones/us-central1-c/disks/my-disk\".",
          "type": "string"
        },
        "mode": {
          "description": "The mode in which to attach this disk. If not specified, the default is READ_WRITE mode. Only applicable to data_disks.",
          "enumDescriptions": [
            "The disk mode is not known/set.",
            "Attaches the disk in read-write mode. Only one TPU node can attach a disk in read-write mode at a time.",
            "Attaches the disk in read-only mode. Multiple TPU nodes can attach a disk in read-only mode at a time."
          ],
          "enum": [
            "DISK_MODE_UNSPECIFIED",
            "READ_WRITE",
            "READ_ONLY"
          ],
          "type": "string"
        },
        "workerIds": {
          "description": "Optional. The list of worker IDs this disk is attached to.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "AttachedDisk",
      "description": "A node-attached disk resource."
    },
    "StartNodeRequest": {
      "description": "Request for StartNode.",
      "type": "object",
      "properties": {},
      "id": "StartNodeRequest"
    },
    "GetGuestAttributesRequest": {
      "id": "GetGuestAttributesRequest",
      "type": "object",
      "properties": {
        "queryPath": {
          "description": "The guest attributes path to be queried.",
          "type": "string"
        },
        "workerIds": {
          "type": "array",
          "description": "The 0-based worker ID. If it is empty, all workers' GuestAttributes will be returned.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Request for GetGuestAttributes."
    },
    "ListAcceleratorTypesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "acceleratorTypes": {
          "type": "array",
          "description": "The listed nodes.",
          "items": {
            "$ref": "AcceleratorType"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        }
      },
      "id": "ListAcceleratorTypesResponse",
      "description": "Response for ListAcceleratorTypes."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "id": "Location",
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      }
    },
    "QueueingPolicy": {
      "description": "Defines the policy of the QueuedRequest.",
      "type": "object",
      "properties": {
        "validAfterDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "A relative time after which resources may be created."
        },
        "validAfterTime": {
          "description": "An absolute time at which resources may be created.",
          "type": "string",
          "format": "google-datetime"
        },
        "validInterval": {
          "description": "An absolute time interval within which resources may be created.",
          "$ref": "Interval"
        },
        "validUntilDuration": {
          "description": "A relative time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "type": "string",
          "format": "google-duration"
        },
        "validUntilTime": {
          "description": "An absolute time after which resources should not be created. If the request cannot be fulfilled by this time the request will be failed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "QueueingPolicy"
    },
    "FailedData": {
      "type": "object",
      "properties": {
        "error": {
          "description": "The error that caused the queued resource to enter the FAILED state.",
          "$ref": "Status"
        }
      },
      "id": "FailedData",
      "description": "Further data for the failed state."
    },
    "ListQueuedResourcesResponse": {
      "id": "ListQueuedResourcesResponse",
      "type": "object",
      "properties": {
        "queuedResources": {
          "description": "The listed queued resources.",
          "items": {
            "$ref": "QueuedResource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The next page token or empty if none."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response for ListQueuedResources."
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "UpcomingMaintenance": {
      "type": "object",
      "properties": {
        "maintenanceStatus": {
          "description": "The status of the maintenance.",
          "enumDescriptions": [
            "Unknown maintenance status. Do not use this value.",
            "There is pending maintenance.",
            "There is ongoing maintenance on this VM."
          ],
          "enum": [
            "UNKNOWN",
            "PENDING",
            "ONGOING"
          ],
          "type": "string"
        },
        "canReschedule": {
          "type": "boolean",
          "description": "Indicates if the maintenance can be customer triggered."
        },
        "latestWindowStartTime": {
          "type": "string",
          "description": "The latest time for the planned maintenance window to start. This timestamp value is in RFC3339 text format."
        },
        "windowEndTime": {
          "type": "string",
          "description": "The time by which the maintenance disruption will be completed. This timestamp value is in RFC3339 text format."
        },
        "type": {
          "description": "Defines the type of maintenance.",
          "enumDescriptions": [
            "No type specified. Do not use this value.",
            "Scheduled maintenance (e.g. maintenance after uptime guarantee is complete).",
            "Unscheduled maintenance (e.g. emergency maintenance during uptime guarantee)."
          ],
          "enum": [
            "UNKNOWN_TYPE",
            "SCHEDULED",
            "UNSCHEDULED"
          ],
          "type": "string"
        },
        "windowStartTime": {
          "description": "The current start time of the maintenance window. This timestamp value is in RFC3339 text format.",
          "type": "string"
        }
      },
      "id": "UpcomingMaintenance",
      "description": "Upcoming Maintenance notification information."
    },
    "NodeSpec": {
      "id": "NodeSpec",
      "type": "object",
      "properties": {
        "node": {
          "$ref": "Node",
          "description": "Required. The node."
        },
        "nodeId": {
          "description": "The unqualified resource name. Should follow the `^[A-Za-z0-9_.~+%-]+$` regex format. This is only specified when requesting a single node. In case of multi-node requests, multi_node_params must be populated instead. It's an error to specify both node_id and multi_node_params.",
          "type": "string"
        },
        "multiNodeParams": {
          "$ref": "MultiNodeParams",
          "description": "Optional. Fields to specify in case of multi-node request."
        },
        "parent": {
          "type": "string",
          "description": "Required. The parent resource name."
        }
      },
      "description": "Details of the TPU node(s) being requested. Users can request either a single node or multiple nodes. NodeSpec provides the specification for node(s) to be created."
    },
    "GetGuestAttributesResponse": {
      "type": "object",
      "properties": {
        "guestAttributes": {
          "description": "The guest attributes for the TPU workers.",
          "items": {
            "$ref": "GuestAttributes"
          },
          "type": "array"
        }
      },
      "id": "GetGuestAttributesResponse",
      "description": "Response for GetGuestAttributes."
    },
    "SuspendedData": {
      "id": "SuspendedData",
      "type": "object",
      "properties": {},
      "description": "Further data for the suspended state."
    },
    "ListReservationsResponse": {
      "description": "Response for ListReservations.",
      "id": "ListReservationsResponse",
      "type": "object",
      "properties": {
        "reservations": {
          "type": "array",
          "description": "The listed reservations.",
          "items": {
            "$ref": "Reservation"
          }
        },
        "nextPageToken": {
          "description": "The next page token or empty if none.",
          "type": "string"
        }
      }
    },
    "StopNodeRequest": {
      "description": "Request for StopNode.",
      "id": "StopNodeRequest",
      "type": "object",
      "properties": {}
    },
    "BootDiskConfig": {
      "description": "Boot disk configurations.",
      "id": "BootDiskConfig",
      "type": "object",
      "properties": {
        "diskSizeGb": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Size of the boot disk in GB. It must be larger than or equal to the size of the image."
        },
        "customerEncryptionKey": {
          "description": "Optional. Customer encryption key for boot disk.",
          "$ref": "CustomerEncryptionKey"
        },
        "storagePool": {
          "description": "Optional. The storage pool in which the boot disk is created. You can provide this as a partial or full URL to the resource.",
          "type": "string"
        },
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Whether the boot disk will be created with confidential compute mode."
        },
        "provisionedIops": {
          "type": "string",
          "format": "int64",
[...]
