{
  "protocol": "rest",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "name": "transcoder",
  "discoveryVersion": "v1",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string"
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "canonicalName": "Transcoder",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/transcoder/docs/",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://transcoder.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobTemplates": {
              "methods": {
                "list": {
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "path": "v1/{+parent}/jobTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists job templates in the specified region.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "location": "query"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`"
                    },
                    "orderBy": {
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "required": true,
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a job template.",
                  "id": "transcoder.projects.locations.jobTemplates.delete"
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "jobTemplateId": {
                      "location": "query",
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`.",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "path": "v1/{+parent}/jobTemplates",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a job template in the specified region.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates"
                },
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the job template data.",
                  "id": "transcoder.projects.locations.jobTemplates.get"
                }
              }
            },
            "jobs": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Job"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "path": "v1/{+parent}/jobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a job in the specified region.",
                  "id": "transcoder.projects.locations.jobs.create"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "id": "transcoder.projects.locations.jobs.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the job data.",
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path",
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Job"
                  }
                },
                "list": {
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "description": "The maximum number of items to return.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160.",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "description": "Required. Format: `projects/{project}/locations/{location}`",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "id": "transcoder.projects.locations.jobs.list",
                  "path": "v1/{+parent}/jobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists jobs in the specified region."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "id": "transcoder.projects.locations.jobs.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a job."
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Transcoder API",
  "revision": "20260408",
  "basePath": "",
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "schemas": {
    "Pad": {
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution.",
      "type": "object",
      "properties": {
        "bottomPixels": {
          "description": "The number of pixels to add to the bottom. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "topPixels": {
          "description": "The number of pixels to add to the top. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "leftPixels": {
          "description": "The number of pixels to add to the left. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "rightPixels": {
          "format": "int32",
          "description": "The number of pixels to add to the right. The default is 0.",
          "type": "integer"
        }
      },
      "id": "Pad"
    },
    "H265CodecSettings": {
      "properties": {
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "gopFrameCount": {
          "format": "int32",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer"
        },
        "hlg": {
          "$ref": "H265ColorFormatHLG",
          "description": "Optional. HLG color format setting for H265."
        },
        "bFrameCount": {
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H265CodecSettings.gop_frame_count if set. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "sdr": {
          "$ref": "H265ColorFormatSDR",
          "description": "Optional. SDR color format setting for H265."
        },
        "hdr10": {
          "$ref": "H265ColorFormatHDR10",
          "description": "Optional. HDR10 color format setting for H265."
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer",
          "format": "int32"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "vbvFullnessBits": {
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H265CodecSettings.vbv_size_bits.",
          "type": "integer"
        },
        "vbvSizeBits": {
          "format": "int32",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "type": "integer"
        },
        "frameRateConversionStrategy": {
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "type": "string"
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number",
          "format": "double"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "gopDuration": {
          "format": "google-duration",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string"
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H265CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        }
      },
      "id": "H265CodecSettings",
      "description": "H265 codec settings.",
      "type": "object"
    },
    "H265ColorFormatSDR": {
      "properties": {},
      "id": "H265ColorFormatSDR",
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "id": "Status"
    },
    "BwdifConfig": {
      "properties": {
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        },
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        }
      },
      "id": "BwdifConfig",
      "description": "Bob Weaver Deinterlacing Filter Configuration.",
      "type": "object"
    },
    "AudioStream": {
      "description": "Audio stream resource.",
      "type": "object",
      "id": "AudioStream",
      "properties": {
        "codec": {
          "description": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3` - `vorbis`",
          "type": "string"
        },
        "sampleRateHertz": {
          "format": "int32",
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz.",
          "type": "integer"
        },
        "displayName": {
          "description": "The name for this particular audio stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        },
        "bitrateBps": {
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "channelCount": {
          "format": "int32",
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2.",
          "type": "integer"
        },
        "channelLayout": {
          "items": {
            "type": "string"
          },
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency",
          "type": "array"
        },
        "mapping": {
          "items": {
            "$ref": "AudioMapping"
          },
          "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
          "type": "array"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files.",
          "type": "string"
        }
      }
    },
    "Crop": {
      "id": "Crop",
      "properties": {
        "bottomPixels": {
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "topPixels": {
          "description": "The number of pixels to crop from the top. The default is 0.",
          "type": "integer",
          "format": "int32"
        },
        "leftPixels": {
          "format": "int32",
          "description": "The number of pixels to crop from the left. The default is 0.",
          "type": "integer"
        },
        "rightPixels": {
          "description": "The number of pixels to crop from the right. The default is 0.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "type": "object"
    },
    "Color": {
      "properties": {
        "contrast": {
          "format": "double",
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0.",
          "type": "number"
        },
        "brightness": {
          "format": "double",
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0.",
          "type": "number"
        },
        "saturation": {
          "format": "double",
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0.",
          "type": "number"
        }
      },
      "id": "Color",
      "description": "Color preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object"
    },
    "SegmentSettings": {
      "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
      "type": "object",
      "id": "SegmentSettings",
      "properties": {
        "segmentDuration": {
          "description": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream).",
          "type": "string",
          "format": "google-duration"
        },
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        }
      }
    },
    "Overlay": {
      "properties": {
        "image": {
          "description": "Image overlay.",
          "$ref": "Image"
        },
        "animations": {
          "items": {
            "$ref": "Animation"
          },
          "description": "List of animations. The list should be chronological, without any time overlap.",
          "type": "array"
        }
      },
      "id": "Overlay",
      "description": "Overlay configuration.",
      "type": "object"
    },
    "Output": {
      "id": "Output",
      "properties": {
        "uri": {
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. Must be a directory and not a top-level bucket. If empty, the value is populated from Job.output_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      },
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "type": "object"
    },
    "InputAttributes": {
      "properties": {
        "trackDefinitions": {
          "description": "Optional. A list of track definitions for the input asset.",
          "type": "array",
          "items": {
            "$ref": "TrackDefinition"
          }
        }
      },
      "id": "InputAttributes",
      "description": "Input attributes that provide additional information about the input asset.",
      "type": "object"
    },
    "Image": {
      "description": "Overlaid image.",
      "type": "object",
      "properties": {
        "resolution": {
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`.",
          "$ref": "NormalizedCoordinate"
        },
        "uri": {
          "description": "Required. URI of the image in Cloud Storage. For example, `gs://bucket/inputs/image.png`. Only PNG and JPEG images are supported.",
          "type": "string"
        },
        "alpha": {
          "description": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "Image"
    },
    "Vp9ColorFormatSDR": {
      "id": "Vp9ColorFormatSDR",
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object"
    },
    "ListJobsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of regions that could not be reached.",
          "type": "array"
        },
        "jobs": {
          "items": {
            "$ref": "Job"
          },
          "description": "List of jobs in the specified region.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        }
      },
      "id": "ListJobsResponse",
      "description": "Response message for `TranscoderService.ListJobs`.",
      "type": "object"
    },
    "Job": {
      "description": "Transcoding job resource.",
      "type": "object",
      "id": "Job",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job. You can use these to organize and group your jobs.",
          "type": "object"
        },
        "optimization": {
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "AUTODETECT",
            "DISABLED"
          ],
          "enumDescriptions": [
            "The optimization strategy is not specified.",
            "Prioritize job processing speed.",
            "Disable all optimizations."
          ],
          "description": "Optional. The optimization strategy of the job. The default is `AUTODETECT`.",
          "type": "string"
        },
        "fillContentGaps": {
          "description": "Optional. Insert silence and duplicate frames when timestamp gaps are detected in a given stream.",
          "type": "boolean"
        },
        "outputUri": {
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "config": {
          "$ref": "JobConfig",
          "description": "The configuration for this job."
        },
        "inputUri": {
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the job was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "mode": {
          "description": "The processing mode of the job. The default is `PROCESSING_MODE_INTERACTIVE`.",
          "type": "string",
          "enum": [
            "PROCESSING_MODE_UNSPECIFIED",
            "PROCESSING_MODE_INTERACTIVE",
            "PROCESSING_MODE_BATCH"
          ],
          "enumDescriptions": [
            "The job processing mode is not specified.",
            "The job processing mode is interactive mode. Interactive job will either be ran or rejected if quota does not allow for it.",
            "The job processing mode is batch mode. Batch mode allows queuing of jobs."
          ]
        },
        "templateId": {
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`, which is the only supported preset. User defined JobTemplate: `{job_template_id}`",
          "type": "string"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time the transcoding started.",
          "type": "string",
          "readOnly": true
        },
        "ttlAfterCompletionDays": {
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. An error object that describes the reason for the failure. This property is always present when ProcessingState is `FAILED`."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. The current state of the job.",
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see [Troubleshooting](https://cloud.google.com/transcoder/docs/troubleshooting)."
          ]
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the transcoding finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "batchModePriority": {
          "format": "int32",
          "description": "The processing priority of a batch job. This field can only be set for batch mode jobs. The default value is 0. This value cannot be negative. Higher values correspond to higher priorities for the job.",
          "type": "integer"
        }
      }
    },
    "TextMapping": {
      "properties": {
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "inputTrack": {
          "format": "int32",
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer"
        },
        "atomKey": {
          "description": "Required. The EditAtom.key that references atom with text inputs in the JobConfig.edit_list.",
          "type": "string"
        }
      },
      "id": "TextMapping",
      "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
      "type": "object"
    },
    "TrackDefinition": {
      "description": "Track definition for the input asset.",
      "type": "object",
      "id": "TrackDefinition",
      "properties": {
        "inputTrack": {
          "format": "int32",
          "description": "The input track.",
          "type": "integer"
        },
        "detectLanguages": {
          "description": "Optional. Whether to automatically detect the languages present in the track. If true, the system will attempt to identify all the languages present in the track and populate the languages field.",
          "type": "boolean"
        },
        "languages": {
          "description": "Optional. A list of languages spoken in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "detectedLanguages": {
          "description": "Output only. A list of languages detected in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. This field is only populated if the detect_languages field is set to true.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VideoStream": {
      "id": "VideoStream",
      "properties": {
        "h264": {
          "$ref": "H264CodecSettings",
          "description": "H264 codec settings."
        },
        "h265": {
          "$ref": "H265CodecSettings",
          "description": "H265 codec settings."
        },
        "vp9": {
          "$ref": "Vp9CodecSettings",
          "description": "VP9 codec settings."
        }
      },
      "description": "Video stream resource.",
      "type": "object"
    },
    "Input": {
      "properties": {
        "key": {
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists.",
          "type": "string"
        },
        "preprocessingConfig": {
          "description": "Preprocessing configurations.",
          "$ref": "PreprocessingConfig"
        },
        "uri": {
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from Job.input_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "attributes": {
          "description": "Optional. Input Attributes.",
          "$ref": "InputAttributes"
        }
      },
      "id": "Input",
      "description": "Input asset.",
      "type": "object"
    },
    "YadifConfig": {
      "description": "Yet Another Deinterlacing Filter Configuration.",
      "type": "object",
      "id": "YadifConfig",
      "properties": {
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        },
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "disableSpatialInterlacing": {
          "description": "Disable spacial interlacing. The default is `false`.",
          "type": "boolean"
        }
      }
    },
    "Manifest": {
      "properties": {
        "type": {
          "description": "Required. Type of the manifest.",
          "type": "string",
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create an HLS manifest. The corresponding file extension is `.m3u8`.",
            "Create an MPEG-DASH manifest. The corresponding file extension is `.mpd`."
          ]
        },
        "muxStreams": {
          "items": {
            "type": "string"
          },
          "description": "Required. List of user supplied MuxStream.key values that should appear in this manifest. When Manifest.type is `HLS`, a media manifest with name MuxStream.key and `.m3u8` extension is generated for each element in this list.",
          "type": "array"
        },
        "fileName": {
          "description": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the Manifest.type.",
          "type": "string"
        },
        "dash": {
          "$ref": "DashConfig",
          "description": "`DASH` manifest configuration."
        }
      },
      "id": "Manifest",
      "description": "Manifest configuration.",
      "type": "object"
    },
    "H265ColorFormatHLG": {
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "type": "object",
      "properties": {},
      "id": "H265ColorFormatHLG"
    },
    "Aes128Encryption": {
      "id": "Aes128Encryption",
      "properties": {},
      "description": "Configuration for AES-128 encryption.",
      "type": "object"
    },
    "NormalizedCoordinate": {
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`",
      "type": "object",
      "id": "NormalizedCoordinate",
      "properties": {
        "x": {
          "description": "Normalized x coordinate.",
          "type": "number",
          "format": "double"
        },
        "y": {
          "format": "double",
          "description": "Normalized y coordinate.",
          "type": "number"
        }
      }
    },
    "SecretManagerSource": {
      "id": "SecretManagerSource",
      "properties": {
        "secretVersion": {
          "description": "Required. The name of the Secret Version containing the encryption key in the following format: `projects/{project}/secrets/{secret_id}/versions/{version_number}` Note that only numbered versions are supported. Aliases like \"latest\" are not supported.",
          "type": "string"
        }
      },
      "description": "Configuration for secrets stored in Google Secret Manager.",
      "type": "object"
    },
    "ElementaryStream": {
      "properties": {
        "key": {
          "description": "A unique key for this elementary stream.",
          "type": "string"
        },
        "textStream": {
          "$ref": "TextStream",
          "description": "Encoding of a text stream. For example, closed captions or subtitles."
        },
        "audioStream": {
          "description": "Encoding of an audio stream.",
          "$ref": "AudioStream"
        },
        "videoStream": {
          "description": "Encoding of a video stream.",
          "$ref": "VideoStream"
        }
      },
      "id": "ElementaryStream",
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats.",
      "type": "object"
    },
    "H264ColorFormatHLG": {
      "properties": {},
      "id": "H264ColorFormatHLG",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "type": "object"
    },
    "AnimationStatic": {
      "properties": {
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "The time to start displaying the overlay object, in seconds. Default: 0",
          "type": "string"
        }
      },
      "id": "AnimationStatic",
      "description": "Display static overlay object.",
      "type": "object"
    },
    "ListJobTemplatesResponse": {
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        },
        "jobTemplates": {
          "items": {
            "$ref": "JobTemplate"
          },
          "description": "List of job templates in the specified region.",
          "type": "array"
        },
        "unreachable": {
          "description": "List of regions that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListJobTemplatesResponse"
    },
    "PubsubDestination": {
      "description": "A Pub/Sub destination.",
      "type": "object",
      "id": "PubsubDestination",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      }
    },
    "EditAtom": {
      "description": "Edit atom.",
      "type": "object",
      "id": "EditAtom",
      "properties": {
        "key": {
          "description": "A unique key for this atom. Must be specified when using advanced mapping.",
          "type": "string"
        },
        "inputs": {
          "description": "List of Input.key values identifying files that should be used in this atom. The listed `inputs` must have the same timeline.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "type": "string"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`.",
          "type": "string"
        }
      }
    },
    "Animation": {
      "properties": {
        "animationEnd": {
          "$ref": "AnimationEnd",
          "description": "End previous animation."
        },
        "animationStatic": {
          "$ref": "AnimationStatic",
          "description": "Display static overlay object."
        },
        "animationFade": {
          "$ref": "AnimationFade",
          "description": "Display overlay object with fade animation."
        }
      },
      "id": "Animation",
      "description": "Animation types.",
      "type": "object"
    },
    "DrmSystems": {
      "description": "Defines configuration for DRM systems in use.",
      "type": "object",
      "id": "DrmSystems",
      "properties": {
        "fairplay": {
          "$ref": "Fairplay",
          "description": "Fairplay configuration."
        },
        "clearkey": {
          "description": "Clearkey configuration.",
          "$ref": "Clearkey"
        },
        "widevine": {
          "$ref": "Widevine",
          "description": "Widevine configuration."
        },
        "playready": {
          "$ref": "Playready",
          "description": "Playready configuration."
        }
      }
    },
    "Encryption": {
      "description": "Encryption settings.",
      "type": "object",
      "id": "Encryption",
      "properties": {
        "drmSystems": {
          "$ref": "DrmSystems",
          "description": "Required. DRM system(s) to use; at least one must be specified. If a DRM system is omitted, it is considered disabled."
        },
        "aes128": {
          "description": "Configuration for AES-128 encryption.",
          "$ref": "Aes128Encryption"
        },
        "sampleAes": {
          "description": "Configuration for SAMPLE-AES encryption.",
          "$ref": "SampleAesEncryption"
        },
        "id": {
          "description": "Required. Identifier for this set of encryption options.",
          "type": "string"
        },
        "secretManagerKeySource": {
          "$ref": "SecretManagerSource",
          "description": "Keys are stored in Google Secret Manager."
        },
        "mpegCenc": {
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
          "$ref": "MpegCommonEncryption"
        }
      }
    },
    "MpegCommonEncryption": {
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
      "type": "object",
      "properties": {
        "scheme": {
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - `cenc` - `cbcs`",
          "type": "string"
        }
      },
      "id": "MpegCommonEncryption"
    },
    "Deblock": {
      "id": "Deblock",
      "properties": {
        "strength": {
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "enabled": {
          "description": "Enable deblocker. The default is `false`.",
          "type": "boolean"
        }
      },
      "description": "Deblock preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object"
    },
    "AudioMapping": {
      "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
      "type": "object",
      "id": "AudioMapping",
      "properties": {
        "atomKey": {
          "description": "Required. The EditAtom.key that references the atom with audio inputs in the JobConfig.edit_list.",
          "type": "string"
        },
        "outputChannel": {
          "format": "int32",
          "description": "Required. The zero-based index of the channel in the output audio stream.",
          "type": "integer"
        },
        "gainDb": {
          "format": "double",
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "type": "number"
        },
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "inputChannel": {
          "format": "int32",
          "description": "Required. The zero-based index of the channel in the input audio stream.",
          "type": "integer"
        },
        "inputTrack": {
          "description": "Required. The zero-based index of the track in the input file.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Vp9ColorFormatHLG": {
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "type": "object",
      "id": "Vp9ColorFormatHLG",
      "properties": {}
    },
    "Fmp4Config": {
      "description": "`fmp4` container configuration.",
      "type": "object",
      "id": "Fmp4Config",
      "properties": {
        "codecTag": {
          "description": "Optional. Specify the codec tag string that will be used in the media bitstream. When not specified, the codec appropriate value is used. Supported H265 codec tags: - `hvc1` (default) - `hev1`",
          "type": "string"
        }
      }
    },
    "DashConfig": {
      "id": "DashConfig",
      "properties": {
        "segmentReferenceScheme": {
          "enumDescriptions": [
            "The segment reference scheme is not specified.",
            "Explicitly lists the URLs of media files for each segment. For example, if SegmentSettings.individual_segments is `true`, then the manifest contains fields similar to the following: ```xml ... ```",
            "SegmentSettings.individual_segments must be set to `true` to use this segment reference scheme. Uses the DASH specification `` tag to determine the URLs of media files for each segment. For example: ```xml ... ```"
          ],
          "enum": [
            "SEGMENT_REFERENCE_SCHEME_UNSPECIFIED",
            "SEGMENT_LIST",
            "SEGMENT_TEMPLATE_NUMBER"
          ],
          "description": "The segment reference scheme for a `DASH` manifest. The default is `SEGMENT_LIST`.",
          "type": "string"
        }
      },
      "description": "`DASH` manifest configuration.",
      "type": "object"
    },
    "Denoise": {
      "description": "Denoise preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object",
      "id": "Denoise",
      "properties": {
        "strength": {
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "tune": {
          "description": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`",
          "type": "string"
        }
      }
    },
    "TextStream": {
      "properties": {
        "displayName": {
          "description": "The name for this particular text stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        },
        "codec": {
          "description": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files.",
          "type": "string"
        },
        "mapping": {
          "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
          "type": "array",
          "items": {
            "$ref": "TextMapping"
          }
        }
      },
      "id": "TextStream",
      "description": "Encoding of a text stream. For example, closed captions or subtitles.",
      "type": "object"
    },
    "MuxStream": {
      "properties": {
        "elementaryStreams": {
          "items": {
            "type": "string"
          },
          "description": "List of ElementaryStream.key values multiplexed in this stream.",
          "type": "array"
        },
        "fileName": {
          "description": "The name of the generated file. The default is MuxStream.key with the extension suffix corresponding to the MuxStream.container. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`.",
          "type": "string"
        },
        "encryptionId": {
          "description": "Identifier of the encryption configuration to use. If omitted, output will be unencrypted.",
          "type": "string"
        },
        "fmp4": {
          "description": "Optional. `fmp4` container configuration.",
          "$ref": "Fmp4Config"
        },
        "container": {
          "description": "The container format. The default is `mp4` Supported streaming formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` Supported standalone file formats: - `mp4` - `mp3` - `ogg` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)",
          "type": "string"
        },
        "key": {
          "description": "A unique key for this multiplexed stream.",
          "type": "string"
        },
        "segmentSettings": {
          "$ref": "SegmentSettings",
          "description": "Segment settings for `ts`, `fmp4` and `vtt`."
        }
      },
      "id": "MuxStream",
      "description": "Multiplexing settings for output stream.",
      "type": "object"
    },
    "AnimationEnd": {
      "id": "AnimationEnd",
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "description": "The time to end overlay object, in seconds. Default: 0",
          "type": "string"
        }
      },
      "description": "End previous overlay animation from the video. Without `AnimationEnd`, the overlay object will keep the state of previous animation until the end of the video.",
      "type": "object"
    },
    "Vp9CodecSettings": {
      "properties": {
        "gopFrameCount": {
          "format": "int32",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for VP9.",
          "$ref": "Vp9ColorFormatHLG"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for VP9.",
          "$ref": "Vp9ColorFormatSDR"
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported.",
          "type": "integer",
          "format": "int32"
        },
        "frameRateConversionStrategy": {
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "type": "string"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message.",
          "type": "string"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate",
          "type": "string"
        },
        "heightPixels": {
          "format": "int32",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number",
          "format": "double"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "gopDuration": {
          "format": "google-duration",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string"
        }
      },
      "id": "Vp9CodecSettings",
      "description": "VP9 codec settings.",
      "type": "object"
    },
    "H265ColorFormatHDR10": {
      "id": "H265ColorFormatHDR10",
      "properties": {},
      "description": "Convert the input video to a High Dynamic Range 10 (HDR10) video.",
      "type": "object"
    },
    "SpriteSheet": {
      "description": "Sprite sheet configuration.",
      "type": "object",
      "id": "SpriteSheet",
      "properties": {
        "format": {
          "description": "Format type. The default is `jpeg`. Supported formats: - `jpeg`",
          "type": "string"
        },
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`.",
          "type": "string"
        },
        "interval": {
          "format": "google-duration",
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds.",
          "type": "string"
        },
        "spriteHeightPixels": {
          "format": "int32",
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "endTimeOffset": {
          "format": "google-duration",
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "type": "string"
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100.",
          "type": "integer",
          "format": "int32"
        },
        "quality": {
          "format": "int32",
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio.",
          "type": "integer"
        },
        "columnCount": {
          "format": "int32",
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit.",
          "type": "integer"
        },
        "spriteWidthPixels": {
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "rowCount": {
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "H264ColorFormatSDR": {
      "id": "H264ColorFormatSDR",
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object"
    },
    "Playready": {
      "description": "Playready configuration.",
      "type": "object",
      "id": "Playready",
      "properties": {}
    },
    "Fairplay": {
      "properties": {},
      "id": "Fairplay",
      "description": "Fairplay configuration.",
      "type": "object"
    },
    "AdBreak": {
      "description": "Ad break.",
      "type": "object",
      "properties": {
        "startTimeOffset": {
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "AdBreak"
    },
    "JobTemplate": {
      "description": "Transcoding job template resource.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`",
          "type": "string"
        },
        "config": {
          "description": "The configuration for this template.",
          "$ref": "JobConfig"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job template. You can use these to organize and group your job templates.",
          "type": "object"
        }
      },
      "id": "JobTemplate"
    },
    "Clearkey": {
      "description": "Clearkey configuration.",
      "type": "object",
      "properties": {},
      "id": "Clearkey"
    },
    "Widevine": {
      "id": "Widevine",
      "properties": {},
      "description": "Widevine configuration.",
      "type": "object"
    },
    "Audio": {
      "description": "Audio preprocessing configuration.",
      "type": "object",
      "properties": {
        "lufs": {
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization",
          "type": "number",
          "format": "double"
        },
        "lowBoost": {
          "description": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        },
        "highBoost": {
          "description": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        }
      },
      "id": "Audio"
    },
    "JobConfig": {
      "properties": {
        "adBreaks": {
          "items": {
            "$ref": "AdBreak"
          },
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "type": "array"
        },
        "spriteSheets": {
          "description": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig.",
          "type": "array",
          "items": {
            "$ref": "SpriteSheet"
          }
        },
        "pubsubDestination": {
          "description": "Destination on Pub/Sub.",
          "$ref": "PubsubDestination"
        },
        "editList": {
          "description": "List of edit atoms. Defines the ultimate timeline of the resulting file or manifest.",
          "type": "array",
          "items": {
            "$ref": "EditAtom"
          }
        },
        "output": {
          "$ref": "Output",
          "description": "Output configuration."
        },
        "elementaryStreams": {
          "description": "List of elementary streams.",
          "type": "array",
          "items": {
            "$ref": "ElementaryStream"
          }
        },
        "manifests": {
          "description": "List of output manifests.",
          "type": "array",
          "items": {
            "$ref": "Manifest"
          }
        },
        "inputs": {
          "items": {
            "$ref": "Input"
          },
          "description": "List of input assets stored in Cloud Storage.",
          "type": "array"
        },
        "encryptions": {
          "description": "List of encryption configurations for the content. Each configuration has an ID. Specify this ID in the MuxStream.encryption_id field to indicate the configuration to use for that `MuxStream` output.",
          "type": "array",
          "items": {
            "$ref": "Encryption"
          }
        },
        "overlays": {
          "items": {
            "$ref": "Overlay"
          },
          "description": "List of overlays on the output video, in descending Z-order.",
          "type": "array"
        },
        "muxStreams": {
          "description": "List of multiplexing settings for output streams.",
          "type": "array",
          "items": {
            "$ref": "MuxStream"
          }
        }
      },
      "id": "JobConfig",
      "description": "Job configuration",
      "type": "object"
    },
    "Deinterlace": {
      "description": "Deinterlace configuration for input video.",
      "type": "object",
      "properties": {
        "yadif": {
          "$ref": "YadifConfig",
          "description": "Specifies the Yet Another Deinterlacing Filter Configuration."
        },
        "bwdif": {
          "description": "Specifies the Bob Weaver Deinterlacing Filter Configuration.",
          "$ref": "BwdifConfig"
        }
      },
      "id": "Deinterlace"
    },
    "H264CodecSettings": {
      "properties": {
        "widthPixels": {
          "format": "int32",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "type": "number",
          "format": "double"
        },
        "frameRateConversionStrategy": {
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "type": "string"
        },
        "vbvSizeBits": {
          "format": "int32",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to H264CodecSettings.bitrate_bps.",
          "type": "integer"
        },
        "vbvFullnessBits": {
          "format": "int32",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H264CodecSettings.vbv_size_bits.",
          "type": "integer"
        },
        "crfLevel": {
          "format": "int32",
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "type": "integer"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "bFrameCount": {
          "format": "int32",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H264CodecSettings.gop_frame_count if set. The default is 0.",
          "type": "integer"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for H264.",
          "$ref": "H264ColorFormatSDR"
        },
        "gopFrameCount": {
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "type": "integer",
          "format": "int32"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H264.",
          "$ref": "H264ColorFormatHLG"
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H264CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "type": "string",
          "format": "google-duration"
        },
        "frameRate": {
          "format": "double",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "type": "number"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "type": "integer",
          "format": "int32"
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "type": "integer",
          "format": "int32"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "entropyCoder": {
          "description": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`",
          "type": "string"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        }
      },
      "id": "H264CodecSettings",
      "description": "H264 codec settings.",
      "type": "object"
    },
    "SampleAesEncryption": {
      "description": "Configuration for SAMPLE-AES encryption.",
      "type": "object",
      "properties": {},
      "id": "SampleAesEncryption"
    },
    "PreprocessingConfig": {
      "properties": {
        "color": {
          "description": "Color preprocessing configuration.",
          "$ref": "Color"
        },
        "denoise": {
          "$ref": "Denoise",
          "description": "Denoise preprocessing configuration."
        },
        "deblock": {
          "$ref": "Deblock",
          "description": "Deblock preprocessing configuration."
        },
        "deinterlace": {
          "description": "Specify the video deinterlace configuration.",
          "$ref": "Deinterlace"
        },
        "audio": {
          "$ref": "Audio",
          "description": "Audio preprocessing configuration."
        },
        "crop": {
          "$ref": "Crop",
          "description": "Specify the video cropping configuration."
        },
        "pad": {
          "description": "Specify the video pad filter configuration.",
          "$ref": "Pad"
        }
      },
      "id": "PreprocessingConfig",
      "description": "Preprocessing configurations.",
      "type": "object"
    },
    "AnimationFade": {
      "description": "Display overlay object with fade animation.",
      "type": "object",
      "properties": {
        "fadeType": {
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "type": "string",
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ],
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ]
        },
        "xy": {
          "$ref": "NormalizedCoordinate",
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video."
        },
        "startTimeOffset": {
          "format": "google-duration",
          "description": "The time to start the fade animation, in seconds. Default: 0",
          "type": "string"
        },
        "endTimeOffset": {
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "AnimationFade"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    }
  },
  "batchPath": "batch",
  "id": "transcoder:v1",
  "description": "This API converts video files into formats suitable for consumer distribution. For more information, see the Transcoder API overview. ",
  "rootUrl": "https://transcoder.googleapis.com/"
}