{
  "name": "translate",
  "parameters": {
    "$.xgafv": {
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ]
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided."
    },
    "pp": {
      "type": "boolean",
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "bearer_token": {
      "type": "string",
      "description": "OAuth bearer token.",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    }
  },
  "discoveryVersion": "v1",
  "schemas": {
    "DetectionsListResponse": {
      "id": "DetectionsListResponse",
      "type": "object",
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "type": "array",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      }
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "description": "The request message for discovering supported languages.",
      "id": "GetSupportedLanguagesRequest"
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "type": "array",
      "items": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "type": "number",
            "format": "float"
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          }
        }
      }
    },
    "DetectLanguageRequest": {
      "type": "object",
      "properties": {
        "q": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs."
        }
      },
      "description": "The request message for language detection.",
      "id": "DetectLanguageRequest"
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "type": "object",
      "properties": {
        "languages": {
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "type": "array",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
      }
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      }
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        }
      },
      "type": "object"
    },
    "TranslationsListResponse": {
      "properties": {
        "translations": {
          "description": "Translations contains list of translation results of given text",
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "type": "object",
      "id": "TranslationsListResponse",
      "description": "The main language translation response message."
    },
    "TranslateTextRequest": {
      "properties": {
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "q": {
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object",
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API."
    }
  },
  "title": "Google Cloud Translation API",
  "ownerDomain": "google.com",
  "canonicalName": "Translate",
  "rootUrl": "https://translation.googleapis.com/",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "version": "v2",
  "basePath": "/language/translate/",
  "batchPath": "batch/translate",
  "servicePath": "language/translate/",
  "ownerName": "Google",
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "id": "language.languages.list",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "description": "Returns a list of supported languages for translation.",
          "parameters": {
            "target": {
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query"
            },
            "model": {
              "location": "query",
              "description": "The model type for which supported languages should be returned.",
              "type": "string"
            }
          },
          "httpMethod": "GET",
          "path": "v2/languages"
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "id": "language.translations.list",
          "parameterOrder": [
            "q",
            "target"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "description": "Translates input text, returning translated text.",
          "parameters": {
            "format": {
              "enum": [
                "html",
                "text"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "type": "string",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query"
            },
            "source": {
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query"
            },
            "model": {
              "location": "query",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "type": "string"
            },
            "cid": {
              "location": "query",
              "description": "The customization id for translate",
              "type": "string",
              "repeated": true
            },
            "q": {
              "required": true,
              "location": "query",
              "type": "string",
              "repeated": true,
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
            },
            "target": {
              "type": "string",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "required": true,
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "path": "v2"
        },
        "translate": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "id": "language.translations.translate",
          "description": "Translates input text, returning translated text.",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "httpMethod": "POST",
          "parameterOrder": []
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "v2/detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "description": "Detects the language of text within a request.",
          "parameters": {
            "q": {
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "type": "string",
              "repeated": true,
              "required": true,
              "location": "query"
            }
          },
          "parameterOrder": [
            "q"
          ],
          "id": "language.detections.list"
        },
        "detect": {
          "id": "language.detections.detect",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "path": "v2/detect",
          "httpMethod": "POST",
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectionsListResponse"
          }
        }
      }
    }
  },
  "revision": "20170525",
  "id": "translate:v2",
  "kind": "discovery#restDescription",
  "features": [
    "dataWrapper"
  ],
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "protocol": "rest",
  "baseUrl": "https://translation.googleapis.com/language/translate/"
}