{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "canonicalName": "Translate",
  "name": "translate",
  "revision": "20260312",
  "rootUrl": "https://translation.googleapis.com/",
  "discoveryVersion": "v1",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "description": "Integrates text translation into your website or application.",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v3",
  "id": "translate:v3",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/translate/docs/quickstarts",
  "schemas": {
    "GlossaryTermsPair": {
      "id": "GlossaryTermsPair",
      "description": "Represents a single entry for an unidirectional glossary.",
      "properties": {
        "sourceTerm": {
          "description": "The source term is the term that will get match in the text,",
          "$ref": "GlossaryTerm"
        },
        "targetTerm": {
          "description": "The term that will replace the match source term.",
          "$ref": "GlossaryTerm"
        }
      },
      "type": "object"
    },
    "BatchDocumentInputConfig": {
      "type": "object",
      "properties": {
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.docx`) or a wildcard (for example, `gs://translation-test/*`). File mime type is determined based on extension. Supported mime type includes: - `pdf`, application/pdf - `docx`, application/vnd.openxmlformats-officedocument.wordprocessingml.document - `pptx`, application/vnd.openxmlformats-officedocument.presentationml.presentation - `xlsx`, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet The max file size to support for `.docx`, `.pptx` and `.xlsx` is 100MB. The max file size to support for `.pdf` is 1GB and the max page limit is 1000 pages. The max file size to support for all input documents is 1GB."
        }
      },
      "id": "BatchDocumentInputConfig",
      "description": "Input configuration for BatchTranslateDocument request."
    },
    "GlossaryTermsSet": {
      "properties": {
        "terms": {
          "description": "Each term in the set represents a term that can be replaced by the other terms.",
          "type": "array",
          "items": {
            "$ref": "GlossaryTerm"
          }
        }
      },
      "id": "GlossaryTermsSet",
      "description": "Represents a single entry for an equivalent term set glossary. This is used for equivalent term sets where each term can be replaced by the other terms in the set.",
      "type": "object"
    },
    "ListOperationsResponse": {
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "DetectedLanguage": {
      "properties": {
        "languageCode": {
          "type": "string",
          "description": "The ISO-639 language code of the source content in the request, detected automatically."
        },
        "confidence": {
          "description": "The confidence of the detection result for this language.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "DetectedLanguage",
      "description": "The response message for language detection.",
      "type": "object"
    },
    "InputFile": {
      "properties": {
        "usage": {
          "description": "Optional. Usage of the file contents. Options are TRAIN|VALIDATION|TEST, or UNASSIGNED (by default) for auto split.",
          "type": "string"
        },
        "gcsSource": {
          "$ref": "GcsInputSource",
          "description": "Google Cloud Storage file source."
        }
      },
      "id": "InputFile",
      "description": "An input file.",
      "type": "object"
    },
    "Romanization": {
      "type": "object",
      "properties": {
        "romanizedText": {
          "description": "Romanized text. If an error occurs during romanization, this field might be excluded from the response.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        }
      },
      "id": "Romanization",
      "description": "A single romanization response."
    },
    "Glossary": {
      "id": "Glossary",
      "description": "Represents a glossary built from user-provided data.",
      "properties": {
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the glossary."
        },
        "languagePair": {
          "description": "Used with unidirectional glossaries.",
          "$ref": "LanguageCodePair"
        },
        "endTime": {
          "description": "Output only. When the glossary creation was finished.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "inputConfig": {
          "description": "Required. Provides examples to build the glossary from. Total glossary must not exceed 10M Unicode codepoints.",
          "$ref": "GlossaryInputConfig"
        },
        "languageCodesSet": {
          "$ref": "LanguageCodesSet",
          "description": "Used with equivalent term set glossaries."
        },
        "submitTime": {
          "description": "Output only. When CreateGlossary was called.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`."
        },
        "entryCount": {
          "description": "Output only. The number of entries defined in the glossary.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "GlossaryTerm": {
      "properties": {
        "languageCode": {
          "description": "The language for this glossary term.",
          "type": "string"
        },
        "text": {
          "description": "The text for the glossary term.",
          "type": "string"
        }
      },
      "id": "GlossaryTerm",
      "description": "Represents a single glossary term",
      "type": "object"
    },
    "Translation": {
      "type": "object",
      "properties": {
        "translatedText": {
          "type": "string",
          "description": "Text translated into the target language. If an error occurs during translation, this field might be excluded from the response."
        },
        "model": {
          "description": "Only present when `model` is present in the request. `model` here is normalized to have project number. For example: If the `model` requested in TranslationTextRequest is `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "type": "string",
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        },
        "glossaryConfig": {
          "description": "The `glossary_config` used for this translation.",
          "$ref": "TranslateTextGlossaryConfig"
        }
      },
      "id": "Translation",
      "description": "A single translation response."
    },
    "DetectLanguageResponse": {
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "$ref": "DetectedLanguage"
          },
          "description": "The most probable language detected by the Translation API. For each request, the Translation API will always return only one result."
        }
      },
      "id": "DetectLanguageResponse",
      "description": "The response message for language detection.",
      "type": "object"
    },
    "ListGlossaryEntriesResponse": {
      "type": "object",
      "properties": {
        "glossaryEntries": {
          "type": "array",
          "items": {
            "$ref": "GlossaryEntry"
          },
          "description": "Optional. The Glossary Entries"
        },
        "nextPageToken": {
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListGLossaryEntriesRequest.page_token] field in the subsequent calls.",
          "type": "string"
        }
      },
      "id": "ListGlossaryEntriesResponse",
      "description": "Response message for ListGlossaryEntries"
    },
    "ReferenceSentenceConfig": {
      "properties": {
        "referenceSentencePairLists": {
          "type": "array",
          "items": {
            "$ref": "ReferenceSentencePairList"
          },
          "description": "Reference sentences pair lists. Each list will be used as the references to translate the sentence under \"content\" field at the corresponding index. Length of the list is required to be equal to the length of \"content\" field."
        },
        "sourceLanguageCode": {
          "description": "Source language code.",
          "type": "string"
        },
        "targetLanguageCode": {
          "description": "Target language code.",
          "type": "string"
        }
      },
      "id": "ReferenceSentenceConfig",
      "description": "Message of caller-provided reference configuration.",
      "type": "object"
    },
    "AdaptiveMtTranslation": {
      "type": "object",
      "properties": {
        "translatedText": {
          "type": "string",
          "description": "Output only. The translated text.",
          "readOnly": true
        }
      },
      "id": "AdaptiveMtTranslation",
      "description": "An AdaptiveMt translation."
    },
    "Dataset": {
      "type": "object",
      "properties": {
        "validateExampleCount": {
          "type": "integer",
          "description": "Output only. Number of validation examples (sentence pairs).",
          "readOnly": true,
          "format": "int32"
        },
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "trainExampleCount": {
          "description": "Output only. Number of training examples (sentence pairs).",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
        },
        "targetLanguageCode": {
          "description": "The BCP-47 language code of the target language.",
          "type": "string"
        },
        "sourceLanguageCode": {
          "description": "The BCP-47 language code of the source language.",
          "type": "string"
        },
        "exampleCount": {
          "description": "Output only. The number of examples in the dataset.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "createTime": {
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "testExampleCount": {
          "type": "integer",
          "description": "Output only. Number of test examples (sentence pairs).",
          "readOnly": true,
          "format": "int32"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this dataset was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "Dataset",
      "description": "A dataset that hosts the examples (sentence pairs) used for translation models."
    },
    "ExportDataRequest": {
      "id": "ExportDataRequest",
      "description": "Request message for ExportData.",
      "properties": {
        "outputConfig": {
          "description": "Required. The config for the output content.",
          "$ref": "DatasetOutputConfig"
        }
      },
      "type": "object"
    },
    "AdaptiveMtTranslateRequest": {
      "type": "object",
      "properties": {
        "referenceSentenceConfig": {
          "$ref": "ReferenceSentenceConfig",
          "description": "Configuration for caller provided reference sentences."
        },
        "content": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The content of the input in string format."
        },
        "dataset": {
          "type": "string",
          "description": "Required. The resource name for the dataset to use for adaptive MT translation. `projects/{project}/locations/{location-id}/adaptiveMtDatasets/{dataset}`"
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "GlossaryConfig"
        }
      },
      "id": "AdaptiveMtTranslateRequest",
      "description": "The request for sending an AdaptiveMt translation query."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation."
    },
    "DocumentTranslation": {
      "type": "object",
      "properties": {
        "detectedLanguageCode": {
          "type": "string",
          "description": "The detected language for the input document. If the user did not provide the source language for the input document, this field will have the language code automatically detected. If the source language was passed, auto-detection of the language does not occur and this field is empty."
        },
        "byteStreamOutputs": {
          "description": "The array of translated documents. It is expected to be size 1 for now. We may produce multiple translated documents in the future for other type of file formats.",
          "type": "array",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "mimeType": {
          "type": "string",
          "description": "The translated document's mime type."
        }
      },
      "id": "DocumentTranslation",
      "description": "A translated document message."
    },
    "LanguageCodesSet": {
      "id": "LanguageCodesSet",
      "description": "Used with equivalent term set glossaries.",
      "properties": {
        "languageCodes": {
          "description": "Optional. The ISO-639 language code(s) for terms defined in the glossary. All entries are unique. The list contains at least two entries. Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GcsInputSource": {
      "id": "GcsInputSource",
      "description": "The Google Cloud Storage location for the input content.",
      "properties": {
        "inputUri": {
          "type": "string",
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`."
        }
      },
      "type": "object"
    },
    "AdaptiveMtFile": {
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this file was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The file's display name.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
          "type": "string"
        },
        "entryCount": {
          "description": "The number of entries that the file contains.",
          "format": "int32",
          "type": "integer"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. Timestamp when this file was last updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "id": "AdaptiveMtFile",
      "description": "An AdaptiveMtFile.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "GcsSource": {
      "properties": {
        "inputUri": {
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`.",
          "type": "string"
        }
      },
      "id": "GcsSource",
      "description": "The Google Cloud Storage location for the input content.",
      "type": "object"
    },
    "InputConfig": {
      "id": "InputConfig",
      "description": "Input configuration for BatchTranslateText request.",
      "properties": {
        "mimeType": {
          "description": "Optional. Can be \"text/plain\" or \"text/html\". For `.tsv`, \"text/html\" is used if mime_type is missing. For `.html`, this field must be \"text/html\" or empty. For `.txt`, this field must be \"text/plain\" or empty.",
          "type": "string"
        },
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Required. Google Cloud Storage location for the source input. This can be a single file (for example, `gs://translation-test/input.tsv`) or a wildcard (for example, `gs://translation-test/*`). If a file extension is `.tsv`, it can contain either one or two columns. The first column (optional) is the id of the text request. If the first column is missing, we use the row number (0-based) from the input file as the ID in the output file. The second column is the actual text to be translated. We recommend each row be <= 10K Unicode codepoints, otherwise an error might be returned. Note that the input tsv must be RFC 4180 compliant. You could use https://github.com/Clever/csvlint to check potential formatting errors in your tsv file. csvlint --delimiter='\\t' your_input_file.tsv The other supported file extensions are `.txt` or `.html`, which is treated as a single large chunk of text."
        }
      },
      "type": "object"
    },
    "ListAdaptiveMtFilesResponse": {
      "id": "ListAdaptiveMtFilesResponse",
      "description": "The response for listing all AdaptiveMt files under a given dataset.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the ListAdaptiveMtFilesRequest.page_token field in the subsequent call to `ListAdaptiveMtFiles` method to retrieve the next page of results."
        },
        "adaptiveMtFiles": {
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtFile"
          },
          "description": "Output only. The Adaptive MT files.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "AdaptiveMtTranslateResponse": {
      "properties": {
        "translations": {
          "description": "Output only. The translation.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          }
        },
        "languageCode": {
          "description": "Output only. The translation's language code.",
          "readOnly": true,
          "type": "string"
        },
        "glossaryTranslations": {
          "description": "Text translation response if a glossary is provided in the request. This could be the same as 'translation' above if no terms apply.",
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          }
        }
      },
      "id": "AdaptiveMtTranslateResponse",
      "description": "An AdaptiveMtTranslate response.",
      "type": "object"
    },
    "ListDatasetsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListDatasetsRequest to obtain the corresponding page.",
          "type": "string"
        },
        "datasets": {
          "type": "array",
          "items": {
            "$ref": "Dataset"
          },
          "description": "The datasets read."
        }
      },
      "id": "ListDatasetsResponse",
      "description": "Response message for ListDatasets."
    },
    "TranslateDocumentRequest": {
      "type": "object",
      "id": "TranslateDocumentRequest",
      "description": "A document translation request.",
      "properties": {
        "customizedAttribution": {
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos",
          "type": "string"
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        },
        "sourceLanguageCode": {
          "description": "Optional. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response. Source language must be specified if the request contains a glossary or a custom model.",
          "type": "string"
        },
        "enableRotationCorrection": {
          "type": "boolean",
          "description": "Optional. If true, enable auto rotation correction in DVS."
        },
        "model": {
          "type": "string",
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If not provided, the default Google model (NMT) will be used for translation."
        },
        "documentInputConfig": {
          "description": "Required. Input configurations.",
          "$ref": "DocumentInputConfig"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code to use for translation of the input document, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "documentOutputConfig": {
          "$ref": "DocumentOutputConfig",
          "description": "Optional. Output configurations. Defines if the output file should be stored within Cloud Storage as well as the desired output format. If not provided the translated file will only be returned through a byte-stream and its output mime type will be the same as the input file's mime type."
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "isTranslateNativePdfOnly": {
          "type": "boolean",
          "description": "Optional. is_translate_native_pdf_only field for external customers. If true, the page limit of online native pdf translation is 300 and only native pdf pages will be translated."
        }
      }
    },
    "ReferenceSentencePair": {
      "type": "object",
      "id": "ReferenceSentencePair",
      "description": "A pair of sentences used as reference in source and target languages.",
      "properties": {
        "targetSentence": {
          "type": "string",
          "description": "Target sentence in the sentence pair."
        },
        "sourceSentence": {
          "description": "Source sentence in the sentence pair.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "GlossaryInputConfig": {
      "properties": {
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Required. Google Cloud Storage location of glossary data. File format is determined based on the filename extension. API returns [google.rpc.Code.INVALID_ARGUMENT] for unsupported URI-s and file formats. Wildcards are not allowed. This must be a single file in one of the following formats: For unidirectional glossaries: - TSV/CSV (`.tsv`/`.csv`): Two column file, tab- or comma-separated. The first column is source text. The second column is target text. No headers in this file. The first row contains data and not column names. - TMX (`.tmx`): TMX file with parallel data defining source/target term pairs. For equivalent term sets glossaries: - CSV (`.csv`): Multi-column CSV file defining equivalent glossary terms in multiple languages. See documentation for more information - [glossaries](https://cloud.google.com/translate/docs/advanced/glossary)."
        }
      },
      "id": "GlossaryInputConfig",
      "description": "Input configuration for glossaries.",
      "type": "object"
    },
    "AdaptiveMtDataset": {
      "id": "AdaptiveMtDataset",
      "description": "An Adaptive MT Dataset.",
      "properties": {
        "updateTime": {
          "description": "Output only. Timestamp when this dataset was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset_id}`"
        },
        "targetLanguageCode": {
          "description": "The BCP-47 language code of the target language.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "exampleCount": {
          "type": "integer",
          "description": "The number of examples in the dataset.",
          "format": "int32"
        },
        "createTime": {
          "description": "Output only. Timestamp when this dataset was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "The BCP-47 language code of the source language."
        }
      },
      "type": "object"
    },
    "Location": {
      "type": "object",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location."
    },
    "DetectLanguageRequest": {
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection.",
      "properties": {
        "content": {
          "type": "string",
          "description": "The content of the input stored as a string."
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\"."
        },
        "model": {
          "type": "string",
          "description": "Optional. The language detection model to be used. Format: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/{model-id}` Only one language detection model is currently supported: `projects/{project-number-or-id}/locations/{location-id}/models/language-detection/default`. If not specified, the default model is used."
        },
        "documentInputConfig": {
          "description": "Optional. The document configuration of the input.",
          "$ref": "DocumentInputConfig"
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "BatchDocumentOutputConfig": {
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination for output content. For every single input document (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateDocumentRequest). While the input documents are being processed, we write/update an index file `index.csv` under `gcs_destination.output_uri_prefix` (for example, gs://translation_output/index.csv) The index file is generated/updated as new files are being translated. The format is: input_document,target_language_code,translation_output,error_output, glossary_translation_output,glossary_error_output `input_document` is one file we matched using gcs_source.input_uri. `target_language_code` is provided in the request. `translation_output` contains the translations. (details provided below) `error_output` contains the error message during processing of the file. Both translations_file and errors_file could be empty strings if we have no content to output. `glossary_translation_output` and `glossary_error_output` are the translated output/error when we apply glossaries. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The naming format of translation output files follows (for target language code [trg]): `translation_output`: `gs://translation_output/a_b_c_[trg]_translation.[extension]` `glossary_translation_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.[extension]`. The output document will maintain the same file format as the input document. The naming format of error output files follows (for target language code [trg]): `error_output`: `gs://translation_test/a_b_c_[trg]_errors.txt` `glossary_error_output`: `gs://translation_test/a_b_c_[trg]_glossary_translation.txt`. The error output is a txt file containing error details.",
          "$ref": "GcsDestination"
        }
      },
      "id": "BatchDocumentOutputConfig",
      "description": "Output configuration for BatchTranslateDocument request.",
      "type": "object"
    },
    "TranslateTextGlossaryConfig": {
      "properties": {
        "ignoreCase": {
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing.",
          "type": "boolean"
        },
        "contextualTranslationEnabled": {
          "description": "Optional. If set to true, the glossary will be used for contextual translation.",
          "type": "boolean"
        },
        "glossary": {
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`",
          "type": "string"
        }
      },
      "id": "TranslateTextGlossaryConfig",
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "type": "object"
    },
    "TranslateTextResponse": {
      "id": "TranslateTextResponse",
      "properties": {
        "glossaryTranslations": {
          "type": "array",
          "items": {
            "$ref": "Translation"
          },
          "description": "Text translation responses if a glossary is provided in the request. This can be the same as `translations` if no terms apply. This field has the same length as `contents`."
        },
        "translations": {
          "type": "array",
          "items": {
            "$ref": "Translation"
          },
          "description": "Text translation responses with no glossary applied. This field has the same length as `contents`."
        }
      },
      "type": "object"
    },
    "DocumentInputConfig": {
      "properties": {
        "content": {
          "type": "string",
          "description": "Document's content represented as a stream of bytes.",
          "format": "byte"
        },
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Google Cloud Storage location. This must be a single file. For example: gs://example_bucket/example_file.pdf"
        },
        "mimeType": {
          "type": "string",
          "description": "Specifies the input document's mime_type. If not specified it will be determined using the file extension for gcs_source provided files. For a file provided through bytes content the mime_type must be provided. Currently supported mime types are: - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        }
      },
      "id": "DocumentInputConfig",
      "description": "A document translation request input config.",
      "type": "object"
    },
    "TransliterationConfig": {
      "id": "TransliterationConfig",
      "description": "Configures transliteration feature on top of translation.",
      "properties": {
        "enableTransliteration": {
          "description": "If true, source text in romanized form can be translated to the target language.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "RefineTextRequest": {
      "type": "object",
      "id": "RefineTextRequest",
      "description": "Request message for RefineText.",
      "properties": {
        "refinementEntries": {
          "description": "Required. The source texts and original translations in the source and target languages.",
          "type": "array",
          "items": {
            "$ref": "RefinementEntry"
          }
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code of the source text in the request, for example, \"en-US\"."
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The BCP-47 language code for translation output, for example, \"zh-CN\"."
        }
      }
    },
    "ImportAdaptiveMtFileRequest": {
      "properties": {
        "fileInputSource": {
          "$ref": "FileInputSource",
          "description": "Inline file source."
        },
        "gcsInputSource": {
          "$ref": "GcsInputSource",
          "description": "Google Cloud Storage file source."
        }
      },
      "id": "ImportAdaptiveMtFileRequest",
      "description": "The request for importing an AdaptiveMt file along with its sentences.",
      "type": "object"
    },
    "ListAdaptiveMtDatasetsResponse": {
      "properties": {
        "adaptiveMtDatasets": {
          "description": "Output only. A list of Adaptive MT datasets.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtDataset"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. A token to retrieve a page of results. Pass this value in the [ListAdaptiveMtDatasetsRequest.page_token] field in the subsequent call to `ListAdaptiveMtDatasets` method to retrieve the next page of results."
        }
      },
      "id": "ListAdaptiveMtDatasetsResponse",
      "description": "A list of AdaptiveMtDatasets.",
      "type": "object"
    },
    "TranslateDocumentResponse": {
      "id": "TranslateDocumentResponse",
      "description": "A translated document response message.",
      "properties": {
        "glossaryDocumentTranslation": {
          "$ref": "DocumentTranslation",
          "description": "The document's translation output if a glossary is provided in the request. This can be the same as [TranslateDocumentResponse.document_translation] if no glossary terms apply."
        },
        "documentTranslation": {
          "description": "Translated document.",
          "$ref": "DocumentTranslation"
        },
        "glossaryConfig": {
          "description": "The `glossary_config` used for this translation.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "model": {
          "type": "string",
          "description": "Only present when 'model' is present in the request. 'model' is normalized to have a project number. For example: If the 'model' field in TranslateDocumentRequest is: `projects/{project-id}/locations/{location-id}/models/general/nmt` then `model` here would be normalized to `projects/{project-number}/locations/{location-id}/models/general/nmt`."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "BatchTranslateDocumentRequest": {
      "type": "object",
      "properties": {
        "pdfNativeOnly": {
          "type": "boolean",
          "description": "Optional. If true, only native pdf pages will be translated."
        },
        "inputConfigs": {
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size to translate should be <= 100M Unicode codepoints. The files must use UTF-8 encoding.",
          "type": "array",
          "items": {
            "$ref": "BatchDocumentInputConfig"
          }
        },
        "models": {
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is the model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "targetLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The ISO-639 language code to use for translation of the input document. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "formatConversions": {
          "type": "object",
          "description": "Optional. The file format conversion map that is applied to all input files. The map key is the original mime_type. The map value is the target mime_type of translated documents. Supported file format conversion includes: - `application/pdf` to `application/vnd.openxmlformats-officedocument.wordprocessingml.document` If nothing specified, output files will be in the same format as the original file.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "customizedAttribution": {
          "description": "Optional. This flag is to support user customized attribution. If not provided, the default is `Machine Translated by Google`. Customized attribution should follow rules in https://cloud.google.com/translate/attribution#attribution_and_logos",
          "type": "string"
        },
        "enableShadowRemovalNativePdf": {
          "description": "Optional. If true, use the text removal server to remove the shadow text on background image for native pdf translation. Shadow removal feature can only be enabled when is_translate_native_pdf_only: false && pdf_native_only: false",
          "type": "boolean"
        },
        "sourceLanguageCode": {
          "description": "Required. The ISO-639 language code of the input document if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "outputConfig": {
          "$ref": "BatchDocumentOutputConfig",
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs."
        },
        "enableRotationCorrection": {
          "type": "boolean",
          "description": "Optional. If true, enable auto rotation correction in DVS."
        },
        "glossaries": {
          "type": "object",
          "description": "Optional. Glossaries to be applied. It's keyed by target language code.",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          }
        }
      },
      "id": "BatchTranslateDocumentRequest",
      "description": "The BatchTranslateDocument request."
    },
    "ListModelsResponse": {
      "id": "ListModelsResponse",
      "description": "Response message for ListModels.",
      "properties": {
        "models": {
          "type": "array",
          "items": {
            "$ref": "Model"
          },
          "description": "The models read."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListModelsRequest to obtain the corresponding page."
        }
      },
      "type": "object"
    },
    "OutputConfig": {
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Google Cloud Storage destination for output content. For every single input file (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateTextRequest). Output files (tsv) generated are compliant with RFC 4180 except that record delimiters are '\\n' instead of '\\r\\n'. We don't provide any way to change record delimiters. While the input files are being processed, we write/update an index file 'index.csv' under 'output_uri_prefix' (for example, gs://translation-test/index.csv) The index file is generated/updated as new files are being translated. The format is: input_file,target_language_code,translations_file,errors_file, glossary_translations_file,glossary_errors_file input_file is one file we matched using gcs_source.input_uri. target_language_code is provided in the request. translations_file contains the translations. (details provided below) errors_file contains the errors during processing of the file. (details below). Both translations_file and errors_file could be empty strings if we have no content to output. glossary_translations_file and glossary_errors_file are always empty strings if the input_file is tsv. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The format of translations_file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_translations.[extension]` If the input file extension is tsv, the output has the following columns: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: translation without applying a glossary. Empty string if there is an error. Column 4 (only present if a glossary is provided in the request): translation after applying the glossary. Empty string if there is an error applying the glossary. Could be same string as column 3 if there is no glossary applied. If input file extension is a txt or html, the translation is directly written to the output file. If glossary is requested, a separate glossary_translations_file has format of `gs://translation_test/a_b_c_'trg'_glossary_translations.[extension]` The format of errors file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_errors.[extension]` If the input file extension is tsv, errors_file contains the following: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: Error detail for the translation. Could be empty. Column 4 (only present if a glossary is provided in the request): Error when applying the glossary. If the input file extension is txt or html, glossary_error_file will be generated that contains error details. glossary_error_file has format of `gs://translation_test/a_b_c_'trg'_glossary_errors.[extension]`"
        }
      },
      "id": "OutputConfig",
      "description": "Output configuration for BatchTranslateText request.",
      "type": "object"
    },
    "WaitOperationRequest": {
      "type": "object",
      "properties": {
        "timeout": {
          "description": "The maximum duration to wait before timing out. If left blank, the wait will be at most the time permitted by the underlying HTTP/RPC protocol. If RPC context deadline is also specified, the shorter one will be used.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "WaitOperationRequest",
      "description": "The request message for Operations.WaitOperation."
    },
    "TranslateTextRequest": {
      "type": "object",
      "properties": {
        "targetLanguageCode": {
          "type": "string",
          "description": "Required. The ISO-639 language code to use for translation of the input text, set to one of the language codes listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "glossaryConfig": {
          "description": "Optional. Glossary to be applied. The glossary must be within the same region (have the same location-id) as the model, otherwise an INVALID_ARGUMENT (400) error is returned.",
          "$ref": "TranslateTextGlossaryConfig"
        },
        "transliterationConfig": {
          "description": "Optional. Transliteration to be applied.",
          "$ref": "TransliterationConfig"
        },
        "model": {
          "description": "Optional. The `model` type requested for this translation. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, - Translation LLM models: `projects/{project-number-or-id}/locations/{location-id}/models/general/translation-llm`, For global (non-regionalized) requests, use `location-id` `global`. For example, `projects/{project-number-or-id}/locations/global/models/general/nmt`. If not provided, the default Google model (NMT) will be used",
          "type": "string"
        },
        "mimeType": {
          "type": "string",
          "description": "Optional. The format of the source text, for example, \"text/html\", \"text/plain\". If left blank, the MIME type defaults to \"text/html\"."
        },
        "sourceLanguageCode": {
          "type": "string",
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"en-US\" or \"sr-Latn\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language within the response."
        },
        "labels": {
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "contents": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The content of the input in string format. We recommend the total content be less than 30,000 codepoints. The max length of this field is 1024. Use BatchTranslateText for larger text."
        }
      },
      "id": "TranslateTextRequest",
      "description": "The request message for synchronous translation."
    },
    "GlossaryEntry": {
      "type": "object",
      "id": "GlossaryEntry",
      "description": "Represents a single entry in a glossary.",
      "properties": {
        "termsPair": {
          "description": "Used for an unidirectional glossary.",
          "$ref": "GlossaryTermsPair"
        },
        "description": {
          "description": "Describes the glossary entry.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`"
        },
        "termsSet": {
          "$ref": "GlossaryTermsSet",
          "description": "Used for an equivalent term sets glossary."
        }
      }
    },
    "Model": {
      "id": "Model",
      "description": "A trained translation model.",
      "properties": {
        "testExampleCount": {
          "type": "integer",
          "description": "Output only. Number of examples (sentence pairs) used to test the model.",
          "readOnly": true,
          "format": "int32"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this model was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sourceLanguageCode": {
          "description": "Output only. The BCP-47 language code of the source language.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when the model resource was created, which is also when the training started.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the model, in form of `projects/{project-number-or-id}/locations/{location_id}/models/{model_id}`"
        },
        "targetLanguageCode": {
          "type": "string",
          "description": "Output only. The BCP-47 language code of the target language.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The name of the model to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9."
        },
        "trainExampleCount": {
          "type": "integer",
          "description": "Output only. Number of examples (sentence pairs) used to train the model.",
          "readOnly": true,
          "format": "int32"
        },
        "validateExampleCount": {
          "type": "integer",
          "description": "Output only. Number of examples (sentence pairs) used to validate the model.",
          "readOnly": true,
          "format": "int32"
        },
        "dataset": {
          "type": "string",
          "description": "Required. The dataset from which the model is trained, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
        }
      },
      "type": "object"
    },
    "ReferenceSentencePairList": {
      "id": "ReferenceSentencePairList",
      "description": "A list of reference sentence pairs.",
      "properties": {
        "referenceSentencePairs": {
          "type": "array",
          "items": {
            "$ref": "ReferenceSentencePair"
          },
          "description": "Reference sentence pairs."
        }
      },
      "type": "object"
    },
    "ListAdaptiveMtSentencesResponse": {
      "id": "ListAdaptiveMtSentencesResponse",
      "description": "List AdaptiveMt sentences response.",
      "properties": {
        "nextPageToken": {
          "description": "Optional. ",
          "type": "string"
        },
        "adaptiveMtSentences": {
          "description": "Output only. The list of AdaptiveMtSentences.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AdaptiveMtSentence"
          }
        }
      },
      "type": "object"
    },
    "AdaptiveMtSentence": {
      "type": "object",
      "id": "AdaptiveMtSentence",
      "description": "An AdaptiveMt sentence entry.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}/adaptiveMtSentences/{sentence}`"
        },
        "targetSentence": {
          "type": "string",
          "description": "Required. The target sentence."
        },
        "sourceSentence": {
          "description": "Required. The source sentence.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Timestamp when this sentence was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. Timestamp when this sentence was created.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "FileInputSource": {
      "type": "object",
      "id": "FileInputSource",
      "description": "An inlined file.",
      "properties": {
        "displayName": {
          "description": "Required. The file's display name.",
          "type": "string"
        },
        "mimeType": {
          "description": "Required. The file's mime type.",
          "type": "string"
        },
        "content": {
          "description": "Required. The file's byte contents.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "LanguageCodePair": {
      "id": "LanguageCodePair",
      "description": "Used with unidirectional glossaries.",
      "properties": {
        "sourceLanguageCode": {
          "description": "Required. The ISO-639 language code of the input text, for example, \"en-US\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code for translation output, for example, \"zh-CN\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Example": {
      "id": "Example",
      "description": "A sentence pair.",
      "properties": {
        "targetText": {
          "description": "Sentence in target language.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the example, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}/examples/{example_id}`",
          "readOnly": true,
          "type": "string"
        },
        "sourceText": {
          "description": "Sentence in source language.",
          "type": "string"
        },
        "usage": {
          "type": "string",
          "description": "Output only. Usage of the sentence pair. Options are TRAIN|VALIDATION|TEST.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RomanizeTextResponse": {
      "type": "object",
      "properties": {
        "romanizations": {
          "description": "Text romanization responses. This field has the same length as `contents`.",
          "type": "array",
          "items": {
            "$ref": "Romanization"
          }
        }
      },
      "id": "RomanizeTextResponse",
      "description": "The response message for synchronous romanization."
    },
    "RefinementEntry": {
      "id": "RefinementEntry",
      "description": "A single refinement entry for RefineTextRequest.",
      "properties": {
        "originalTranslation": {
          "description": "Required. The original translation of the source text.",
          "type": "string"
        },
        "sourceText": {
          "description": "Required. The source text to be refined.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GcsDestination": {
      "id": "GcsDestination",
      "description": "The Google Cloud Storage location for the output content.",
      "properties": {
        "outputUriPrefix": {
          "description": "Required. The bucket used in 'output_uri_prefix' must exist and there must be no files under 'output_uri_prefix'. 'output_uri_prefix' must end with \"/\" and start with \"gs://\". One 'output_uri_prefix' can only be used by one batch translation job at a time. Otherwise an INVALID_ARGUMENT (400) error is returned.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "RomanizeTextRequest": {
      "id": "RomanizeTextRequest",
      "description": "The request message for synchronous romanization.",
      "properties": {
        "sourceLanguageCode": {
          "type": "string",
          "description": "Optional. The ISO-639 language code of the input text if known, for example, \"hi\" or \"zh\". Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages#roman). If the source language isn't specified, the API attempts to identify the source language automatically and returns the source language for each content in the response."
        },
        "contents": {
          "description": "Required. The content of the input in string format.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "GcsOutputDestination": {
      "type": "object",
      "properties": {
        "outputUriPrefix": {
          "description": "Required. Google Cloud Storage URI to output directory. For example, `gs://bucket/directory`. The requesting user must have write permission to the bucket. The directory will be created if it doesn't exist.",
          "type": "string"
        }
      },
      "id": "GcsOutputDestination",
      "description": "The Google Cloud Storage location for the output content."
    },
    "ListGlossariesResponse": {
      "properties": {
        "glossaries": {
          "description": "The list of glossaries for a project.",
          "type": "array",
          "items": {
            "$ref": "Glossary"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token to retrieve a page of results. Pass this value in the [ListGlossariesRequest.page_token] field in the subsequent call to `ListGlossaries` method to retrieve the next page of results."
        }
      },
      "id": "ListGlossariesResponse",
      "description": "Response message for ListGlossaries.",
      "type": "object"
    },
    "ListExamplesResponse": {
      "type": "object",
      "properties": {
        "examples": {
          "type": "array",
          "items": {
            "$ref": "Example"
          },
          "description": "The sentence pairs."
        },
        "nextPageToken": {
          "description": "A token to retrieve next page of results. Pass this token to the page_token field in the ListExamplesRequest to obtain the corresponding page.",
          "type": "string"
        }
      },
      "id": "ListExamplesResponse",
      "description": "Response message for ListExamples."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "BatchTranslateTextRequest": {
      "type": "object",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter. See https://cloud.google.com/translate/docs/advanced/labels for more information.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceLanguageCode": {
          "description": "Required. Source language code. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages).",
          "type": "string"
        },
        "outputConfig": {
          "$ref": "OutputConfig",
          "description": "Required. Output configuration. If 2 input configs match to the same file (that is, same input path), we don't generate output for duplicate inputs."
        },
        "glossaries": {
          "description": "Optional. Glossaries to be applied for translation. It's keyed by target language code.",
          "additionalProperties": {
            "$ref": "TranslateTextGlossaryConfig"
          },
          "type": "object"
        },
        "models": {
          "description": "Optional. The models to use for translation. Map's key is target language code. Map's value is model name. Value can be a built-in general model, or an AutoML Translation model. The value format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, If the map is empty or a specific model is not requested for a language pair, then default google model (nmt) is used.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "targetLanguageCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. Specify up to 10 language codes here. Supported language codes are listed in [Language Support](https://cloud.google.com/translate/docs/languages)."
        },
        "inputConfigs": {
          "type": "array",
          "items": {
            "$ref": "InputConfig"
          },
          "description": "Required. Input configurations. The total number of files matched should be <= 100. The total content size should be <= 100M Unicode codepoints. The files must use UTF-8 encoding."
        }
      },
      "id": "BatchTranslateTextRequest",
      "description": "The batch translation request."
    },
    "GlossaryConfig": {
      "type": "object",
      "id": "GlossaryConfig",
      "description": "Configures which glossary is used for a specific target language and defines options for applying that glossary.",
      "properties": {
        "ignoreCase": {
          "description": "Optional. Indicates match is case insensitive. The default value is `false` if missing.",
          "type": "boolean"
        },
        "contextualTranslationEnabled": {
          "description": "Optional. If set to true, the glossary will be used for contextual translation.",
          "type": "boolean"
        },
        "glossary": {
          "type": "string",
          "description": "Required. The `glossary` to be applied for this translation. The format depends on the glossary: - User-provided custom glossary: `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`"
        }
      }
    },
    "ImportDataRequest": {
      "type": "object",
      "properties": {
        "inputConfig": {
          "$ref": "DatasetInputConfig",
          "description": "Required. The config for the input content."
        }
      },
      "id": "ImportDataRequest",
      "description": "Request message for ImportData."
    },
    "ImportAdaptiveMtFileResponse": {
      "type": "object",
      "properties": {
        "adaptiveMtFile": {
          "description": "Output only. The Adaptive MT file that was imported.",
          "readOnly": true,
          "$ref": "AdaptiveMtFile"
        }
      },
      "id": "ImportAdaptiveMtFileResponse",
      "description": "The response for importing an AdaptiveMtFile"
    },
    "SupportedLanguages": {
      "id": "SupportedLanguages",
      "description": "The response message for discovering supported languages.",
      "properties": {
        "languages": {
          "type": "array",
          "items": {
            "$ref": "SupportedLanguage"
          },
          "description": "A list of supported language responses. This list contains an entry for each language the Translation API supports."
        }
      },
      "type": "object"
    },
    "DocumentOutputConfig": {
      "type": "object",
      "properties": {
        "mimeType": {
          "type": "string",
          "description": "Optional. Specifies the translated document's mime_type. If not specified, the translated file's mime type will be the same as the input file's mime type. Currently only support the output mime type to be the same as input mime type. - application/pdf - application/vnd.openxmlformats-officedocument.wordprocessingml.document - application/vnd.openxmlformats-officedocument.presentationml.presentation - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
        },
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Optional. Google Cloud Storage destination for the translation output, e.g., `gs://my_bucket/my_directory/`. The destination directory provided does not have to be empty, but the bucket must exist. If a file with the same name as the output file already exists in the destination an error will be returned. For a DocumentInputConfig.contents provided document, the output file will have the name \"output_[trg]_translations.[ext]\", where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. For a DocumentInputConfig.gcs_uri provided document, the output file will have a name according to its URI. For example: an input file with URI: `gs://a/b/c.[extension]` stored in a gcs_destination bucket with name \"my_bucket\" will have an output URI: `gs://my_bucket/a_b_c_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If the document was directly provided through the request, then the output document will have the format: `gs://my_bucket/translated_document_[trg]_translations.[ext]`, where - [trg] corresponds to the translated file's language code, - [ext] corresponds to the translated file's extension according to its mime type. If a glossary was provided, then the output URI for the glossary translation will be equal to the default output URI but have `glossary_translations` instead of `translations`. For the previous example, its glossary URI would be: `gs://my_bucket/a_b_c_[trg]_glossary_translations.[ext]`. Thus the max number of output files will be 2 (Translated document, Glossary translated document). Callers should expect no partial outputs. If there is any error during document translation, no output will be stored in the Cloud Storage bucket."
        }
      },
      "id": "DocumentOutputConfig",
      "description": "A document translation request output config."
    },
    "SupportedLanguage": {
      "properties": {
        "supportSource": {
          "type": "boolean",
          "description": "Can be used as a source language."
        },
        "languageCode": {
          "description": "Supported language code, generally consisting of its ISO 639-1 identifier, for example, 'en', 'ja'. In certain cases, ISO-639 codes including language and region identifiers are returned (for example, 'zh-TW' and 'zh-CN').",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "Human-readable name of the language localized in the display language specified in the request."
        },
        "supportTarget": {
          "description": "Can be used as a target language.",
          "type": "boolean"
        }
      },
      "id": "SupportedLanguage",
      "description": "A single supported language response corresponds to information related to one supported language.",
      "type": "object"
    },
    "RefineTextResponse": {
      "id": "RefineTextResponse",
      "description": "Response message for RefineText.",
      "properties": {
        "refinedTranslations": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The refined translations obtained from the original translations."
        }
      },
      "type": "object"
    },
    "DatasetOutputConfig": {
      "properties": {
        "gcsDestination": {
          "description": "Google Cloud Storage destination to write the output.",
          "$ref": "GcsOutputDestination"
        }
      },
      "id": "DatasetOutputConfig",
      "description": "Output configuration for datasets.",
      "type": "object"
    },
    "DatasetInputConfig": {
      "type": "object",
      "properties": {
        "inputFiles": {
          "type": "array",
          "items": {
            "$ref": "InputFile"
          },
          "description": "Files containing the sentence pairs to be imported to the dataset."
        }
      },
      "id": "DatasetInputConfig",
      "description": "Input configuration for datasets."
    }
  },
  "title": "Cloud Translation API",
  "version_module": true,
  "baseUrl": "https://translation.googleapis.com/",
  "protocol": "rest",
  "resources": {
    "projects": {
      "methods": {
        "romanizeText": {
          "path": "v3/{+parent}:romanizeText",
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "id": "translate.projects.romanizeText",
          "httpMethod": "POST",
          "request": {
            "$ref": "RomanizeTextRequest"
          },
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Romanize input text written in non-Latin scripts to Latin text.",
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "parameters": {
            "parent": {
              "type": "string",
              "required": true,
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
              "pattern": "^projects/[^/]+$",
              "location": "path"
            }
          }
        },
        "getSupportedLanguages": {
          "parameters": {
            "parent": {
              "type": "string",
              "required": true,
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
              "pattern": "^projects/[^/]+$",
              "location": "path"
            },
            "displayLanguageCode": {
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
              "location": "query",
              "type": "string"
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model."
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Returns a list of supported languages for translation.",
          "response": {
            "$ref": "SupportedLanguages"
          },
          "path": "v3/{+parent}/supportedLanguages",
          "flatPath": "v3/projects/{projectsId}/supportedLanguages",
          "id": "translate.projects.getSupportedLanguages",
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ]
        },
        "detectLanguage": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectLanguageResponse"
          },
          "path": "v3/{+parent}:detectLanguage",
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "id": "translate.projects.detectLanguage",
          "httpMethod": "POST",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "location": "path"
            }
          }
        },
        "translateText": {
          "description": "Translates input text and returns translated text.",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "response": {
            "$ref": "TranslateTextResponse"
          },
          "id": "translate.projects.translateText",
          "httpMethod": "POST",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "path": "v3/{+parent}:translateText",
          "flatPath": "v3/projects/{projectsId}:translateText",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "location": "path",
              "required": true,
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
              "type": "string"
            }
          }
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "translateText": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "path": "v3/{+parent}:translateText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateText",
              "id": "translate.projects.locations.translateText",
              "httpMethod": "POST",
              "request": {
                "$ref": "TranslateTextRequest"
              },
              "response": {
                "$ref": "TranslateTextResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates input text and returns translated text."
            },
            "adaptiveMtTranslate": {
              "response": {
                "$ref": "AdaptiveMtTranslateResponse"
              },
              "description": "Translate text using Adaptive MT.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.adaptiveMtTranslate",
              "httpMethod": "POST",
              "request": {
                "$ref": "AdaptiveMtTranslateRequest"
              },
              "path": "v3/{+parent}:adaptiveMtTranslate",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`.",
                  "required": true
                }
              }
            },
            "get": {
              "id": "translate.projects.locations.get",
              "httpMethod": "GET",
              "path": "v3/{+name}",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "batchTranslateText": {
              "id": "translate.projects.locations.batchTranslateText",
              "httpMethod": "POST",
              "request": {
                "$ref": "BatchTranslateTextRequest"
              },
              "path": "v3/{+parent}:batchTranslateText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateText",
              "parameterOrder": [
                "parent"
              ],
              "description": "Translates a large volume of text in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "response": {
                "$ref": "Operation"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path"
                }
              }
            },
            "refineText": {
              "response": {
                "$ref": "RefineTextResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Refines the input translated text to improve the quality.",
              "parameterOrder": [
                "parent"
              ],
              "path": "v3/{+parent}:refineText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:refineText",
              "id": "translate.projects.locations.refineText",
              "httpMethod": "POST",
              "request": {
                "$ref": "RefineTextRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`."
                }
              }
            },
            "romanizeText": {
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.romanizeText",
              "httpMethod": "POST",
              "request": {
                "$ref": "RomanizeTextRequest"
              },
              "path": "v3/{+parent}:romanizeText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:romanizeText",
              "response": {
                "$ref": "RomanizeTextResponse"
              },
              "description": "Romanize input text written in non-Latin scripts to Latin text.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string"
                }
              }
            },
            "translateDocument": {
              "parameterOrder": [
                "parent"
              ],
              "path": "v3/{+parent}:translateDocument",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateDocument",
              "id": "translate.projects.locations.translateDocument",
              "httpMethod": "POST",
              "request": {
                "$ref": "TranslateDocumentRequest"
              },
              "response": {
                "$ref": "TranslateDocumentResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates documents in synchronous mode.",
              "parameters": {
                "parent": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have the same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true
                }
              }
            },
            "list": {
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "pageToken": {
[...]
