{
  "id": "translate:v3",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "version_module": true,
  "discoveryVersion": "v1",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "name": "translate",
  "baseUrl": "https://translation.googleapis.com/",
  "servicePath": "",
  "protocol": "rest",
  "batchPath": "batch",
  "ownerName": "Google",
  "rootUrl": "https://translation.googleapis.com/",
  "basePath": "",
  "canonicalName": "Translate",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/translate/docs/quickstarts",
  "mtlsRootUrl": "https://translation.mtls.googleapis.com/",
  "revision": "20260312",
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "glossaries": {
              "resources": {
                "glossaryEntries": {
                  "methods": {
                    "delete": {
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the glossary entry to delete",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "required": true
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "path": "v3/{+name}",
                      "description": "Deletes a single entry from the glossary",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.delete",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the glossary entry to get",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "translate.projects.locations.glossaries.glossaryEntries.get",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "path": "v3/{+name}",
                      "description": "Gets a single glossary entry by the given id."
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                          "description": "Required. The parent glossary resource name for listing the glossary's entries.",
                          "location": "path",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. Requested page size. The server may return fewer glossary entries than requested. If unspecified, the server picks an appropriate default.",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossaryEntriesResponse.next_page_token] returned from the previous call. The first page is returned if `page_token`is empty or missing.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "translate.projects.locations.glossaries.glossaryEntries.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListGlossaryEntriesResponse"
                      },
                      "path": "v3/{+parent}/glossaryEntries",
                      "description": "List the entries for the glossary."
                    },
                    "create": {
                      "httpMethod": "POST",
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "path": "v3/{+parent}/glossaryEntries",
                      "description": "Creates a glossary entry.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.create",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                          "description": "Required. The resource name of the glossary to create the entry under.",
                          "location": "path"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    },
                    "patch": {
                      "path": "v3/{+name}",
                      "description": "Updates a glossary entry.",
                      "httpMethod": "PATCH",
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.patch",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "parameters": {
                        "name": {
                          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "path": "v3/{+name}",
                  "description": "Deletes a glossary, or cancels glossary construction if the glossary isn't created yet. Returns NOT_FOUND, if the glossary doesn't exist.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "translate.projects.locations.glossaries.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the glossary to delete.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "create": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+parent}/glossaries",
                  "description": "Creates a glossary and returns the long-running operation. Returns NOT_FOUND, if the project doesn't exist.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Glossary"
                  },
                  "id": "translate.projects.locations.glossaries.create",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project name.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossariesResponse.next_page_token] returned from the previous call to `ListGlossaries` method. The first page is returned if `page_token`is empty or missing.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the project from which to list all of the glossaries.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. The server may return fewer glossaries than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filter specifying constraints of a list operation. Specify the constraint by the format of \"key=value\", where key must be \"src\" or \"tgt\", and the value must be a valid language code. For multiple restrictions, concatenate them by \"AND\" (uppercase only), such as: \"src=en-US AND tgt=zh-CN\". Notice that the exact match is used here, which means using 'en-US' and 'en' can lead to different results, which depends on the language code you used when you create the glossary. For the unidirectional glossaries, the \"src\" and \"tgt\" add restrictions on the source and target language code separately. For the equivalent term set glossaries, the \"src\" and/or \"tgt\" add restrictions on the term set. For example: \"src=en-US AND tgt=zh-CN\" will only pick the unidirectional glossaries which exactly match the source language code as \"en-US\" and the target language code \"zh-CN\", but all equivalent term set glossaries which contain \"en-US\" and \"zh-CN\" in their language set will be picked. If missing, no filtering is performed.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+parent}/glossaries",
                  "description": "Lists glossaries in a project. Returns NOT_FOUND, if the project doesn't exist.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListGlossariesResponse"
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.glossaries.list"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "description": "Required. The name of the glossary to retrieve.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.glossaries.get",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Glossary"
                  },
                  "path": "v3/{+name}",
                  "description": "Gets a glossary. Returns NOT_FOUND, if the glossary doesn't exist."
                },
                "patch": {
                  "id": "translate.projects.locations.glossaries.patch",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Glossary"
                  },
                  "path": "v3/{+name}",
                  "description": "Updates a glossary. A LRO is used since the update can be async if the glossary's entry file is updated.",
                  "httpMethod": "PATCH",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "updateMask": {
                      "description": "The list of fields to be updated. Currently, only `display_name` and `input_config` are supported.",
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$"
                    }
                  }
                }
              }
            },
            "models": {
              "methods": {
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The project name, in form of `projects/{project}/locations/{location}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "id": "translate.projects.locations.models.create",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Model"
                  },
                  "path": "v3/{+parent}/models",
                  "description": "Creates a Model.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "id": "translate.projects.locations.models.list",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3/{+parent}/models",
                  "description": "Lists models.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListModelsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the models that will be returned. Supported filter: `dataset_id=${dataset_id}`",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListModels call.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.models.get",
                  "path": "v3/{+name}",
                  "description": "Gets a model.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Model"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "description": "Required. The resource name of the model to retrieve.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "path": "v3/{+name}",
                  "description": "Deletes a model.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "translate.projects.locations.models.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the model to delete.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.operations.delete",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v3/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.operations.get",
                  "path": "v3/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v3/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "translate.projects.locations.operations.list",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+name}:wait",
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WaitOperationRequest"
                  },
                  "id": "translate.projects.locations.operations.wait"
                },
                "cancel": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "id": "translate.projects.locations.operations.cancel",
                  "path": "v3/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  }
                }
              }
            },
            "datasets": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "Required. The resource name of the dataset to retrieve.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Dataset"
                  },
                  "path": "v3/{+name}",
                  "description": "Gets a Dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "translate.projects.locations.datasets.get"
                },
                "importData": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:importData",
                  "parameterOrder": [
                    "dataset"
                  ],
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "id": "translate.projects.locations.datasets.importData",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+dataset}:importData",
                  "description": "Import sentence pairs into translation Dataset.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "dataset": {
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "location": "path"
                    }
                  }
                },
                "create": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The project name.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "translate.projects.locations.datasets.create",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Dataset"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+parent}/datasets",
                  "description": "Creates a Dataset."
                },
                "list": {
                  "id": "translate.projects.locations.datasets.list",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v3/{+parent}/datasets",
                  "description": "Lists datasets.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListDatasetsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "location": "query",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListDatasets call.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "id": "translate.projects.locations.datasets.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "description": "Deletes a dataset and all of its contents.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The name of the dataset to delete.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "exportData": {
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:exportData",
                  "parameterOrder": [
                    "dataset"
                  ],
                  "request": {
                    "$ref": "ExportDataRequest"
                  },
                  "id": "translate.projects.locations.datasets.exportData",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+dataset}:exportData",
                  "description": "Exports dataset's data to the provided output location.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "dataset": {
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              },
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListExamples call.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "description": "Required. Name of the parent dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. An expression for filtering the examples that will be returned. Example filter: * `usage=TRAIN`",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. The server can return fewer results than requested.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "path": "v3/{+parent}/examples",
                      "description": "Lists sentence pairs in the dataset.",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/examples",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "translate.projects.locations.datasets.examples.list"
                    }
                  }
                }
              }
            },
            "adaptiveMtDatasets": {
              "resources": {
                "adaptiveMtFiles": {
                  "methods": {
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtFilesResponse.next_page_token returned from the previous call to `ListAdaptiveMtFiles` method. The first page is returned if `page_token`is empty or missing.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The resource name of the dataset from which to list the Adaptive MT files. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. ",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.list",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListAdaptiveMtFilesResponse"
                      },
                      "path": "v3/{+parent}/adaptiveMtFiles",
                      "description": "Lists all AdaptiveMtFiles associated to an AdaptiveMtDataset."
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$"
                        }
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.get",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "description": "Gets and AdaptiveMtFile",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "AdaptiveMtFile"
                      }
                    },
                    "delete": {
                      "path": "v3/{+name}",
                      "description": "Deletes an AdaptiveMtFile along with its sentences.",
                      "httpMethod": "DELETE",
                      "response": {
                        "$ref": "Empty"
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.delete",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the file to delete, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  },
                  "resources": {
                    "adaptiveMtSentences": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-translation"
                          ],
                          "parameters": {
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                              "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}/adaptiveMtSentences",
                          "parameterOrder": [
                            "parent"
                          ],
                          "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.adaptiveMtSentences.list",
                          "path": "v3/{+parent}/adaptiveMtSentences",
                          "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                          "httpMethod": "GET",
                          "response": {
                            "$ref": "ListAdaptiveMtSentencesResponse"
                          }
                        }
                      }
                    }
                  }
                },
                "adaptiveMtSentences": {
                  "methods": {
                    "list": {
                      "path": "v3/{+parent}/adaptiveMtSentences",
                      "description": "Lists all AdaptiveMtSentences under a given file/dataset.",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListAdaptiveMtSentencesResponse"
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtSentences.list",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtSentences",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "location": "path",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v3/{+name}",
                  "description": "Deletes an Adaptive MT dataset, including all its entries and associated metadata.",
                  "id": "translate.projects.locations.adaptiveMtDatasets.delete",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "importAdaptiveMtFile": {
                  "id": "translate.projects.locations.adaptiveMtDatasets.importAdaptiveMtFile",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}:importAdaptiveMtFile",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ImportAdaptiveMtFileRequest"
                  },
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ImportAdaptiveMtFileResponse"
                  },
                  "path": "v3/{+parent}:importAdaptiveMtFile",
                  "description": "Imports an AdaptiveMtFile and adds all of its sentences into the AdaptiveMtDataset.",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "description": "Creates an Adaptive MT dataset.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.create"
                },
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListAdaptiveMtDatasetsResponse"
                  },
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "description": "Lists all Adaptive MT datasets for which the caller has read permission.",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "translate.projects.locations.adaptiveMtDatasets.list",
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtDatasetsResponse.next_page_token returned from the previous call to `ListAdaptiveMtDatasets` method. The first page is returned if `page_token`is empty or missing.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. The resource name of the project from which to list the Adaptive MT datasets. `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. The server may return fewer results than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. Filter is not supported yet.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ]
                },
                "get": {
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "path": "v3/{+name}",
                  "description": "Gets the Adaptive MT dataset.",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.get",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "translate.projects.locations.list",
              "flatPath": "v3/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "path": "v3/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project.",
              "httpMethod": "GET",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string",
                  "repeated": true
                }
              }
            },
            "batchTranslateText": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateText",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchTranslateTextRequest"
              },
              "id": "translate.projects.locations.batchTranslateText",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              },
              "path": "v3/{+parent}:batchTranslateText",
              "description": "Translates a large volume of text in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call."
            },
            "refineText": {
              "httpMethod": "POST",
              "response": {
                "$ref": "RefineTextResponse"
              },
              "path": "v3/{+parent}:refineText",
              "description": "Refines the input translated text to improve the quality.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:refineText",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "RefineTextRequest"
              },
              "id": "translate.projects.locations.refineText",
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "translateText": {
              "httpMethod": "POST",
              "response": {
                "$ref": "TranslateTextResponse"
              },
              "path": "v3/{+parent}:translateText",
              "description": "Translates input text and returns translated text.",
              "id": "translate.projects.locations.translateText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateText",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "TranslateTextRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "batchTranslateDocument": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "parent": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateDocument",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchTranslateDocumentRequest"
              },
              "id": "translate.projects.locations.batchTranslateDocument",
              "path": "v3/{+parent}:batchTranslateDocument",
              "description": "Translates a large volume of document in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "httpMethod": "POST",
              "response": {
                "$ref": "Operation"
              }
            },
            "detectLanguage": {
              "path": "v3/{+parent}:detectLanguage",
              "description": "Detects the language of text within a request.",
              "httpMethod": "POST",
              "response": {
                "$ref": "DetectLanguageResponse"
              },
              "id": "translate.projects.locations.detectLanguage",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:detectLanguage",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "DetectLanguageRequest"
              },
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "romanizeText": {
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:romanizeText",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "RomanizeTextRequest"
              },
              "id": "translate.projects.locations.romanizeText",
              "httpMethod": "POST",
              "response": {
                "$ref": "RomanizeTextResponse"
              },
              "path": "v3/{+parent}:romanizeText",
              "description": "Romanize input text written in non-Latin scripts to Latin text.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "parent": {
                  "type": "string",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "required": true
                }
              }
            },
            "adaptiveMtTranslate": {
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "translate.projects.locations.adaptiveMtTranslate",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AdaptiveMtTranslateRequest"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "AdaptiveMtTranslateResponse"
              },
              "path": "v3/{+parent}:adaptiveMtTranslate",
              "description": "Translate text using Adaptive MT."
            },
            "getSupportedLanguages": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                },
                "model": {
                  "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
                  "location": "query",
                  "type": "string"
                },
                "displayLanguageCode": {
                  "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
                  "location": "query",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "httpMethod": "GET",
              "response": {
                "$ref": "SupportedLanguages"
              },
              "path": "v3/{+parent}/supportedLanguages",
              "description": "Returns a list of supported languages for translation.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages",
              "parameterOrder": [
                "parent"
              ],
              "id": "translate.projects.locations.getSupportedLanguages"
            },
            "get": {
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "path": "v3/{+name}",
              "description": "Gets information about a location.",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "id": "translate.projects.locations.get",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ]
            },
            "translateDocument": {
              "parameters": {
                "parent": {
                  "type": "string",
                  "required": true,
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have the same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/locations/[^/]+$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "httpMethod": "POST",
              "response": {
                "$ref": "TranslateDocumentResponse"
              },
              "path": "v3/{+parent}:translateDocument",
              "description": "Translates documents in synchronous mode.",
              "id": "translate.projects.locations.translateDocument",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateDocument",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "TranslateDocumentRequest"
              }
            }
          }
        }
      },
      "methods": {
        "detectLanguage": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
              "location": "path"
            }
          },
          "id": "translate.projects.detectLanguage",
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "path": "v3/{+parent}:detectLanguage",
          "description": "Detects the language of text within a request.",
          "httpMethod": "POST",
          "response": {
            "$ref": "DetectLanguageResponse"
          }
        },
        "getSupportedLanguages": {
          "parameters": {
            "displayLanguageCode": {
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
              "location": "query",
              "type": "string"
            },
            "parent": {
              "type": "string",
              "required": true,
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
              "location": "path",
              "pattern": "^projects/[^/]+$"
            },
            "model": {
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
              "location": "query",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "path": "v3/{+parent}/supportedLanguages",
          "description": "Returns a list of supported languages for translation.",
          "httpMethod": "GET",
          "response": {
            "$ref": "SupportedLanguages"
          },
          "id": "translate.projects.getSupportedLanguages",
          "flatPath": "v3/projects/{projectsId}/supportedLanguages",
          "parameterOrder": [
            "parent"
          ]
        },
        "translateText": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "id": "translate.projects.translateText",
          "flatPath": "v3/projects/{projectsId}:translateText",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TranslateTextResponse"
          },
          "path": "v3/{+parent}:translateText",
          "description": "Translates input text and returns translated text."
        },
        "romanizeText": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "parameters": {
            "parent": {
              "type": "string",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
              "location": "path",
              "pattern": "^projects/[^/]+$",
              "required": true
            }
          },
          "id": "translate.projects.romanizeText",
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "RomanizeTextRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "path": "v3/{+parent}:romanizeText",
          "description": "Romanize input text written in non-Latin scripts to Latin text."
        }
      }
    }
  },
  "description": "Integrates text translation into your website or application.",
  "schemas": {
    "GlossaryInputConfig": {
      "description": "Input configuration for glossaries.",
      "type": "object",
      "id": "GlossaryInputConfig",
      "properties": {
        "gcsSource": {
          "$ref": "GcsSource",
          "description": "Required. Google Cloud Storage location of glossary data. File format is determined based on the filename extension. API returns [google.rpc.Code.INVALID_ARGUMENT] for unsupported URI-s and file formats. Wildcards are not allowed. This must be a single file in one of the following formats: For unidirectional glossaries: - TSV/CSV (`.tsv`/`.csv`): Two column file, tab- or comma-separated. The first column is source text. The second column is target text. No headers in this file. The first row contains data and not column names. - TMX (`.tmx`): TMX file with parallel data defining source/target term pairs. For equivalent term sets glossaries: - CSV (`.csv`): Multi-column CSV file defining equivalent glossary terms in multiple languages. See documentation for more information - [glossaries](https://cloud.google.com/translate/docs/advanced/glossary)."
        }
      }
    },
    "GcsOutputDestination": {
      "properties": {
        "outputUriPrefix": {
          "description": "Required. Google Cloud Storage URI to output directory. For example, `gs://bucket/directory`. The requesting user must have write permission to the bucket. The directory will be created if it doesn't exist.",
          "type": "string"
        }
      },
      "id": "GcsOutputDestination",
      "description": "The Google Cloud Storage location for the output content.",
      "type": "object"
    },
    "OutputConfig": {
      "id": "OutputConfig",
      "properties": {
        "gcsDestination": {
          "$ref": "GcsDestination",
          "description": "Google Cloud Storage destination for output content. For every single input file (for example, gs://a/b/c.[extension]), we generate at most 2 * n output files. (n is the # of target_language_codes in the BatchTranslateTextRequest). Output files (tsv) generated are compliant with RFC 4180 except that record delimiters are '\\n' instead of '\\r\\n'. We don't provide any way to change record delimiters. While the input files are being processed, we write/update an index file 'index.csv' under 'output_uri_prefix' (for example, gs://translation-test/index.csv) The index file is generated/updated as new files are being translated. The format is: input_file,target_language_code,translations_file,errors_file, glossary_translations_file,glossary_errors_file input_file is one file we matched using gcs_source.input_uri. target_language_code is provided in the request. translations_file contains the translations. (details provided below) errors_file contains the errors during processing of the file. (details below). Both translations_file and errors_file could be empty strings if we have no content to output. glossary_translations_file and glossary_errors_file are always empty strings if the input_file is tsv. They could also be empty if we have no content to output. Once a row is present in index.csv, the input/output matching never changes. Callers should also expect all the content in input_file are processed and ready to be consumed (that is, no partial output file is written). Since index.csv will be keeping updated during the process, please make sure there is no custom retention policy applied on the output bucket that may avoid file updating. (https://cloud.google.com/storage/docs/bucket-lock#retention-policy) The format of translations_file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_translations.[extension]` If the input file extension is tsv, the output has the following columns: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: translation without applying a glossary. Empty string if there is an error. Column 4 (only present if a glossary is provided in the request): translation after applying the glossary. Empty string if there is an error applying the glossary. Could be same string as column 3 if there is no glossary applied. If input file extension is a txt or html, the translation is directly written to the output file. If glossary is requested, a separate glossary_translations_file has format of `gs://translation_test/a_b_c_'trg'_glossary_translations.[extension]` The format of errors file (for target language code 'trg') is: `gs://translation_test/a_b_c_'trg'_errors.[extension]` If the input file extension is tsv, errors_file contains the following: Column 1: ID of the request provided in the input, if it's not provided in the input, then the input row number is used (0-based). Column 2: source sentence. Column 3: Error detail for the translation. Could be empty. Column 4 (only present if a glossary is provided in the request): Error when applying the glossary. If the input file extension is txt or html, glossary_error_file will be generated that contains error details. glossary_error_file has format of `gs://translation_test/a_b_c_'trg'_glossary_errors.[extension]`"
        }
      },
      "description": "Output configuration for BatchTranslateText request.",
      "type": "object"
    },
    "ExportDataRequest": {
      "properties": {
        "outputConfig": {
          "$ref": "DatasetOutputConfig",
          "description": "Required. The config for the output content."
        }
      },
      "id": "ExportDataRequest",
      "description": "Request message for ExportData.",
      "type": "object"
    },
    "Romanization": {
      "description": "A single romanization response.",
      "type": "object",
      "id": "Romanization",
      "properties": {
        "romanizedText": {
          "description": "Romanized text. If an error occurs during romanization, this field might be excluded from the response.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "description": "The ISO-639 language code of source text in the initial request, detected automatically, if no source language was passed within the initial request. If the source language was passed, auto-detection of the language does not occur and this field is empty.",
          "type": "string"
        }
      }
    },
    "AdaptiveMtDataset": {
      "description": "An Adaptive MT Dataset.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Identifier. The resource name of the dataset, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset_id}`",
          "type": "string"
        },
        "sourceLanguageCode": {
          "description": "The BCP-47 language code of the source language.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Timestamp when this dataset was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this dataset was last updated.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the dataset to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9.",
          "type": "string"
        },
        "targetLanguageCode": {
          "description": "The BCP-47 language code of the target language.",
          "type": "string"
        },
        "exampleCount": {
          "format": "int32",
          "description": "The number of examples in the dataset.",
          "type": "integer"
        }
      },
      "id": "AdaptiveMtDataset"
    },
    "FileInputSource": {
      "description": "An inlined file.",
      "type": "object",
      "properties": {
        "mimeType": {
          "description": "Required. The file's mime type.",
          "type": "string"
        },
        "displayName": {
          "description": "Required. The file's display name.",
          "type": "string"
        },
        "content": {
          "format": "byte",
          "description": "Required. The file's byte contents.",
          "type": "string"
        }
      },
      "id": "FileInputSource"
    },
    "GcsInputSource": {
      "description": "The Google Cloud Storage location for the input content.",
      "type": "object",
      "id": "GcsInputSource",
      "properties": {
        "inputUri": {
          "description": "Required. Source data URI. For example, `gs://my_bucket/my_object`.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "GlossaryTermsPair": {
      "id": "GlossaryTermsPair",
      "properties": {
        "targetTerm": {
          "$ref": "GlossaryTerm",
          "description": "The term that will replace the match source term."
        },
        "sourceTerm": {
          "description": "The source term is the term that will get match in the text,",
          "$ref": "GlossaryTerm"
        }
      },
      "description": "Represents a single entry for an unidirectional glossary.",
      "type": "object"
    },
    "RefineTextRequest": {
      "description": "Request message for RefineText.",
      "type": "object",
      "properties": {
        "targetLanguageCode": {
          "description": "Required. The BCP-47 language code for translation output, for example, \"zh-CN\".",
          "type": "string"
        },
        "refinementEntries": {
          "items": {
            "$ref": "RefinementEntry"
          },
          "description": "Required. The source texts and original translations in the source and target languages.",
          "type": "array"
        },
        "sourceLanguageCode": {
[...]
