{
  "ownerDomain": "google.com",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "canonicalName": "Translate",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "rootUrl": "https://translation.googleapis.com/",
  "servicePath": "language/translate/",
  "schemas": {
    "LanguagesResource": {
      "id": "LanguagesResource",
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      }
    },
    "TranslateTextRequest": {
      "properties": {
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "q": {
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        }
      },
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object"
    },
    "DetectLanguageRequest": {
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection.",
      "type": "object",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "type": "array",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "confidence": {
            "type": "number",
            "description": "The confidence of the detection result of this language.",
            "format": "float"
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          }
        }
      }
    },
    "DetectionsListResponse": {
      "id": "DetectionsListResponse",
      "type": "object",
      "properties": {
        "detections": {
          "type": "array",
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          }
        }
      }
    },
    "LanguagesListResponse": {
      "id": "LanguagesListResponse",
      "type": "object",
      "properties": {
        "languages": {
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
      }
    },
    "TranslationsListResponse": {
      "properties": {
        "translations": {
          "type": "array",
          "description": "Translations contains list of translation results of given text",
          "items": {
            "$ref": "TranslationsResource"
          }
        }
      },
      "id": "TranslationsListResponse",
      "type": "object",
      "description": "The main language translation response message."
    },
    "GetSupportedLanguagesRequest": {
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages.",
      "type": "object",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      }
    },
    "TranslationsResource": {
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        }
      },
      "id": "TranslationsResource",
      "type": "object"
    }
  },
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "default": "json"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "revision": "20170525",
  "id": "translate:v2",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "name": "translate",
  "features": [
    "dataWrapper"
  ],
  "resources": {
    "detections": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameters": {
            "q": {
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "type": "string",
              "repeated": true,
              "location": "query",
              "required": true
            }
          },
          "id": "language.detections.list",
          "description": "Detects the language of text within a request.",
          "path": "v2/detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "q"
          ]
        },
        "detect": {
          "httpMethod": "POST",
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "path": "v2/detect",
          "description": "Detects the language of text within a request.",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "parameters": {},
          "id": "language.detections.detect"
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "path": "v2",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [
            "q",
            "target"
          ],
          "parameters": {
            "cid": {
              "type": "string",
              "description": "The customization id for translate",
              "repeated": true,
              "location": "query"
            },
            "model": {
              "type": "string",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "location": "query"
            },
            "format": {
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "type": "string",
              "location": "query"
            },
            "q": {
              "required": true,
              "type": "string",
              "repeated": true,
              "location": "query",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
            },
            "source": {
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query"
            },
            "target": {
              "required": true,
              "type": "string",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "location": "query"
            }
          },
          "id": "language.translations.list",
          "description": "Translates input text, returning translated text.",
          "httpMethod": "GET",
          "response": {
            "$ref": "TranslationsListResponse"
          }
        },
        "translate": {
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "id": "language.translations.translate",
          "parameters": {},
          "httpMethod": "POST",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "path": "v2",
          "description": "Translates input text, returning translated text."
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "id": "language.languages.list",
          "description": "Returns a list of supported languages for translation.",
          "parameters": {
            "target": {
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query"
            },
            "model": {
              "type": "string",
              "description": "The model type for which supported languages should be returned.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/languages",
          "httpMethod": "GET",
          "response": {
            "$ref": "LanguagesListResponse"
          }
        }
      }
    }
  },
  "title": "Google Cloud Translation API",
  "batchPath": "batch/translate",
  "version": "v2",
  "basePath": "/language/translate/"
}