{
  "name": "translate",
  "id": "translate:v3",
  "baseUrl": "https://translation.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "revision": "20260312",
  "batchPath": "batch",
  "basePath": "",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "alt": {
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "title": "Cloud Translation API",
  "canonicalName": "Translate",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/translate/docs/quickstarts",
  "resources": {
    "projects": {
      "methods": {
        "detectLanguage": {
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
              "required": true
            }
          },
          "id": "translate.projects.detectLanguage",
          "response": {
            "$ref": "DetectLanguageResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "path": "v3/{+parent}:detectLanguage",
          "flatPath": "v3/projects/{projectsId}:detectLanguage",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Detects the language of text within a request."
        },
        "romanizeText": {
          "request": {
            "$ref": "RomanizeTextRequest"
          },
          "path": "v3/{+parent}:romanizeText",
          "flatPath": "v3/projects/{projectsId}:romanizeText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Romanize input text written in non-Latin scripts to Latin text.",
          "response": {
            "$ref": "RomanizeTextResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`."
            }
          },
          "id": "translate.projects.romanizeText"
        },
        "getSupportedLanguages": {
          "path": "v3/{+parent}/supportedLanguages",
          "flatPath": "v3/projects/{projectsId}/supportedLanguages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Returns a list of supported languages for translation.",
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ],
          "response": {
            "$ref": "SupportedLanguages"
          },
          "id": "translate.projects.getSupportedLanguages",
          "parameters": {
            "displayLanguageCode": {
              "location": "query",
              "type": "string",
              "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response."
            },
            "parent": {
              "pattern": "^projects/[^/]+$",
              "type": "string",
              "required": true,
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned."
            },
            "model": {
              "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "translateText": {
          "response": {
            "$ref": "TranslateTextResponse"
          },
          "httpMethod": "POST",
          "parameterOrder": [
            "parent"
          ],
          "parameters": {
            "parent": {
              "location": "path",
              "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
              "required": true,
              "pattern": "^projects/[^/]+$",
              "type": "string"
            }
          },
          "id": "translate.projects.translateText",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "path": "v3/{+parent}:translateText",
          "flatPath": "v3/projects/{projectsId}:translateText",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-translation"
          ],
          "description": "Translates input text and returns translated text."
        }
      },
      "resources": {
        "locations": {
          "methods": {
            "romanizeText": {
              "id": "translate.projects.locations.romanizeText",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "location": "path",
                  "required": true
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "RomanizeTextResponse"
              },
              "path": "v3/{+parent}:romanizeText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:romanizeText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Romanize input text written in non-Latin scripts to Latin text.",
              "request": {
                "$ref": "RomanizeTextRequest"
              }
            },
            "translateText": {
              "request": {
                "$ref": "TranslateTextRequest"
              },
              "path": "v3/{+parent}:translateText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates input text and returns translated text.",
              "response": {
                "$ref": "TranslateTextResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "parameters": {
                "parent": {
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "id": "translate.projects.locations.translateText"
            },
            "adaptiveMtTranslate": {
              "path": "v3/{+parent}:adaptiveMtTranslate",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:adaptiveMtTranslate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translate text using Adaptive MT.",
              "request": {
                "$ref": "AdaptiveMtTranslateRequest"
              },
              "id": "translate.projects.locations.adaptiveMtTranslate",
              "parameters": {
                "parent": {
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "AdaptiveMtTranslateResponse"
              }
            },
            "batchTranslateDocument": {
              "id": "translate.projects.locations.batchTranslateDocument",
              "parameters": {
                "parent": {
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v3/{+parent}:batchTranslateDocument",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateDocument",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates a large volume of document in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "request": {
                "$ref": "BatchTranslateDocumentRequest"
              }
            },
            "batchTranslateText": {
              "path": "v3/{+parent}:batchTranslateText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:batchTranslateText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates a large volume of text in asynchronous batch mode. This function provides real-time output as the inputs are being processed. If caller cancels a request, the partial results (for an input file, it's all or nothing) may still be available on the specified output location. This call returns immediately and you can use google.longrunning.Operation.name to poll the status of the call.",
              "request": {
                "$ref": "BatchTranslateTextRequest"
              },
              "id": "translate.projects.locations.batchTranslateText",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. The `global` location is not supported for batch translation. Only AutoML Translation models or glossaries within the same region (have the same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "parameters": {
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer"
                }
              },
              "id": "translate.projects.locations.list",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v3/{+name}/locations",
              "flatPath": "v3/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project."
            },
            "detectLanguage": {
              "request": {
                "$ref": "DetectLanguageRequest"
              },
              "path": "v3/{+parent}:detectLanguage",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:detectLanguage",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Detects the language of text within a request.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}` or `projects/{project-number-or-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Only models within the same region (has same location-id) can be used. Otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "required": true
                }
              },
              "id": "translate.projects.locations.detectLanguage",
              "response": {
                "$ref": "DetectLanguageResponse"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ]
            },
            "getSupportedLanguages": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "SupportedLanguages"
              },
              "id": "translate.projects.locations.getSupportedLanguages",
              "parameters": {
                "displayLanguageCode": {
                  "description": "Optional. The language to use to return localized, human readable names of supported languages. If missing, then display names are not returned in a response.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}` or `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for AutoML models. Only models within the same region (have same location-id) can be used, otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "location": "path",
                  "required": true
                },
                "model": {
                  "description": "Optional. Get supported languages of this model. The format depends on model type: - AutoML Translation models: `projects/{project-number-or-id}/locations/{location-id}/models/{model-id}` - General (built-in) models: `projects/{project-number-or-id}/locations/{location-id}/models/general/nmt`, Returns languages supported by the specified model. If missing, we get supported languages of Google general NMT model.",
                  "location": "query",
                  "type": "string"
                }
              },
              "path": "v3/{+parent}/supportedLanguages",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/supportedLanguages",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Returns a list of supported languages for translation."
            },
            "get": {
              "path": "v3/{+name}",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "id": "translate.projects.locations.get"
            },
            "translateDocument": {
              "path": "v3/{+parent}:translateDocument",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:translateDocument",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Translates documents in synchronous mode.",
              "request": {
                "$ref": "TranslateDocumentRequest"
              },
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "TranslateDocumentResponse"
              },
              "id": "translate.projects.locations.translateDocument",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. Location to make a regional call. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`. Non-global location is required for requests using AutoML models or custom glossaries. Models and glossaries must be within the same region (have the same location-id), otherwise an INVALID_ARGUMENT (400) error is returned.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              }
            },
            "refineText": {
              "httpMethod": "POST",
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "RefineTextResponse"
              },
              "id": "translate.projects.locations.refineText",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. Project or location to make a call. Must refer to a caller's project. Format: `projects/{project-number-or-id}/locations/{location-id}`. For global calls, use `projects/{project-number-or-id}/locations/global` or `projects/{project-number-or-id}`.",
                  "required": true
                }
              },
              "path": "v3/{+parent}:refineText",
              "flatPath": "v3/projects/{projectsId}/locations/{locationsId}:refineText",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-translation"
              ],
              "description": "Refines the input translated text to improve the quality.",
              "request": {
                "$ref": "RefineTextRequest"
              }
            }
          },
          "resources": {
            "glossaries": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "description": "Required. The name of the glossary to delete.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.glossaries.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Deletes a glossary, or cancels glossary construction if the glossary isn't created yet. Returns NOT_FOUND, if the glossary doesn't exist."
                },
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListGlossariesResponse"
                  },
                  "id": "translate.projects.locations.glossaries.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter specifying constraints of a list operation. Specify the constraint by the format of \"key=value\", where key must be \"src\" or \"tgt\", and the value must be a valid language code. For multiple restrictions, concatenate them by \"AND\" (uppercase only), such as: \"src=en-US AND tgt=zh-CN\". Notice that the exact match is used here, which means using 'en-US' and 'en' can lead to different results, which depends on the language code you used when you create the glossary. For the unidirectional glossaries, the \"src\" and \"tgt\" add restrictions on the source and target language code separately. For the equivalent term set glossaries, the \"src\" and/or \"tgt\" add restrictions on the term set. For example: \"src=en-US AND tgt=zh-CN\" will only pick the unidirectional glossaries which exactly match the source language code as \"en-US\" and the target language code \"zh-CN\", but all equivalent term set glossaries which contain \"en-US\" and \"zh-CN\" in their language set will be picked. If missing, no filtering is performed."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossariesResponse.next_page_token] returned from the previous call to `ListGlossaries` method. The first page is returned if `page_token`is empty or missing."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the project from which to list all of the glossaries.",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Requested page size. The server may return fewer glossaries than requested. If unspecified, the server picks an appropriate default."
                    }
                  },
                  "path": "v3/{+parent}/glossaries",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Lists glossaries in a project. Returns NOT_FOUND, if the project doesn't exist."
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Glossary"
                  },
                  "id": "translate.projects.locations.glossaries.get",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the glossary to retrieve.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Gets a glossary. Returns NOT_FOUND, if the glossary doesn't exist."
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project name.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.glossaries.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Glossary"
                  },
                  "path": "v3/{+parent}/glossaries",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Creates a glossary and returns the long-running operation. Returns NOT_FOUND, if the project doesn't exist."
                },
                "patch": {
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Updates a glossary. A LRO is used since the update can be async if the glossary's entry file is updated.",
                  "request": {
                    "$ref": "Glossary"
                  },
                  "id": "translate.projects.locations.glossaries.patch",
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string",
                      "description": "The list of fields to be updated. Currently, only `display_name` and `input_config` are supported."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Identifier. The resource name of the glossary. Glossary names have the form `projects/{project-number-or-id}/locations/{location-id}/glossaries/{glossary-id}`.",
                      "required": true
                    }
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "glossaryEntries": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.get",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the glossary entry to get",
                          "location": "path"
                        }
                      },
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Gets a single glossary entry by the given id."
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the glossary to create the entry under.",
                          "location": "path",
                          "required": true
                        }
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.create",
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "path": "v3/{+parent}/glossaryEntries",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Creates a glossary entry."
                    },
                    "patch": {
                      "request": {
                        "$ref": "GlossaryEntry"
                      },
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Updates a glossary entry.",
                      "response": {
                        "$ref": "GlossaryEntry"
                      },
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Identifier. The resource name of the entry. Format: `projects/*/locations/*/glossaries/*/glossaryEntries/*`",
                          "location": "path"
                        }
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.patch"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "required": true,
                          "description": "Required. The resource name of the glossary entry to delete",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+/glossaryEntries/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries/{glossaryEntriesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Deletes a single entry from the glossary"
                    },
                    "list": {
                      "path": "v3/{+parent}/glossaryEntries",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/glossaries/{glossariesId}/glossaryEntries",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "List the entries for the glossary.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListGlossaryEntriesResponse"
                      },
                      "id": "translate.projects.locations.glossaries.glossaryEntries.list",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/glossaries/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent glossary resource name for listing the glossary's entries."
                        },
                        "pageSize": {
                          "description": "Optional. Requested page size. The server may return fewer glossary entries than requested. If unspecified, the server picks an appropriate default.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of [ListGlossaryEntriesResponse.next_page_token] returned from the previous call. The first page is returned if `page_token`is empty or missing."
                        }
                      }
                    }
                  }
                }
              }
            },
            "models": {
              "methods": {
                "get": {
                  "id": "translate.projects.locations.models.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name of the model to retrieve.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Model"
                  },
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Gets a model."
                },
                "create": {
                  "path": "v3/{+parent}/models",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Creates a Model.",
                  "request": {
                    "$ref": "Model"
                  },
                  "id": "translate.projects.locations.models.create",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The project name, in form of `projects/{project}/locations/{location}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/models/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the model to delete.",
                      "location": "path"
                    }
                  },
                  "id": "translate.projects.locations.models.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models/{modelsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Deletes a model."
                },
                "list": {
                  "path": "v3/{+parent}/models",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/models",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Lists models.",
                  "id": "translate.projects.locations.models.list",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "required": true
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListModels call.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the models that will be returned. Supported filter: `dataset_id=${dataset_id}`",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListModelsResponse"
                  }
                }
              }
            },
            "adaptiveMtDatasets": {
              "methods": {
                "list": {
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Lists all Adaptive MT datasets for which the caller has read permission.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListAdaptiveMtDatasetsResponse"
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtDatasetsResponse.next_page_token returned from the previous call to `ListAdaptiveMtDatasets` method. The first page is returned if `page_token`is empty or missing."
                    },
                    "filter": {
                      "description": "Optional. An expression for filtering the results of the request. Filter is not supported yet.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource name of the project from which to list the Adaptive MT datasets. `projects/{project-number-or-id}/locations/{location-id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. The server may return fewer results than requested. If unspecified, the server picks an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "delete": {
                  "id": "translate.projects.locations.adaptiveMtDatasets.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Deletes an Adaptive MT dataset, including all its entries and associated metadata."
                },
                "importAdaptiveMtFile": {
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.importAdaptiveMtFile",
                  "response": {
                    "$ref": "ImportAdaptiveMtFileResponse"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ImportAdaptiveMtFileRequest"
                  },
                  "path": "v3/{+parent}:importAdaptiveMtFile",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}:importAdaptiveMtFile",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Imports an AdaptiveMtFile and adds all of its sentences into the AdaptiveMtDataset."
                },
                "create": {
                  "request": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "path": "v3/{+parent}/adaptiveMtDatasets",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Creates an Adaptive MT dataset.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.create",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "get": {
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Gets the Adaptive MT dataset.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the dataset. In the form of `projects/{project-number-or-id}/locations/{location-id}/adaptiveMtDatasets/{adaptive-mt-dataset-id}`",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.adaptiveMtDatasets.get",
                  "response": {
                    "$ref": "AdaptiveMtDataset"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                }
              },
              "resources": {
                "adaptiveMtFiles": {
                  "methods": {
                    "get": {
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Gets and AdaptiveMtFile",
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the file, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                          "type": "string"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "AdaptiveMtFile"
                      }
                    },
                    "delete": {
                      "path": "v3/{+name}",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Deletes an AdaptiveMtFile along with its sentences.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "description": "Required. The resource name of the file to delete, in form of `projects/{project-number-or-id}/locations/{location_id}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}`",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.delete",
                      "response": {
                        "$ref": "Empty"
                      },
                      "httpMethod": "DELETE",
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "path": "v3/{+parent}/adaptiveMtFiles",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Lists all AdaptiveMtFiles associated to an AdaptiveMtDataset.",
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.list",
                      "parameters": {
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtFilesResponse.next_page_token returned from the previous call to `ListAdaptiveMtFiles` method. The first page is returned if `page_token`is empty or missing."
                        },
                        "parent": {
                          "required": true,
                          "description": "Required. The resource name of the dataset from which to list the Adaptive MT files. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "description": "Optional. ",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListAdaptiveMtFilesResponse"
                      }
                    }
                  },
                  "resources": {
                    "adaptiveMtSentences": {
                      "methods": {
                        "list": {
                          "parameters": {
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+/adaptiveMtFiles/[^/]+$",
                              "type": "string",
                              "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                              "location": "path",
                              "required": true
                            },
                            "pageSize": {
                              "format": "int32",
                              "location": "query",
                              "type": "integer"
                            }
                          },
                          "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtFiles.adaptiveMtSentences.list",
                          "response": {
                            "$ref": "ListAdaptiveMtSentencesResponse"
                          },
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v3/{+parent}/adaptiveMtSentences",
                          "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtFiles/{adaptiveMtFilesId}/adaptiveMtSentences",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform",
                            "https://www.googleapis.com/auth/cloud-translation"
                          ],
                          "description": "Lists all AdaptiveMtSentences under a given file/dataset."
                        }
                      }
                    }
                  }
                },
                "adaptiveMtSentences": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListAdaptiveMtSentencesResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/adaptiveMtDatasets/[^/]+$",
                          "type": "string",
                          "required": true,
                          "description": "Required. The resource name of the Adaptive MT file from which to list the sentences. The following format lists all sentences under a file. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}/adaptiveMtFiles/{file}` The following format lists all sentences within a dataset. `projects/{project}/locations/{location}/adaptiveMtDatasets/{dataset}`",
                          "location": "path"
                        },
                        "pageSize": {
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return. Typically, this is the value of ListAdaptiveMtSentencesRequest.next_page_token returned from the previous call to `ListTranslationMemories` method. The first page is returned if `page_token` is empty or missing.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "id": "translate.projects.locations.adaptiveMtDatasets.adaptiveMtSentences.list",
                      "path": "v3/{+parent}/adaptiveMtSentences",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/adaptiveMtDatasets/{adaptiveMtDatasetsId}/adaptiveMtSentences",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Lists all AdaptiveMtSentences under a given file/dataset."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "The name of the operation resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.operations.get",
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                },
                "list": {
                  "id": "translate.projects.locations.operations.list",
                  "parameters": {
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "name": {
                      "location": "path",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    }
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v3/{+name}/operations",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
                },
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "id": "translate.projects.locations.operations.delete",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "id": "translate.projects.locations.operations.cancel",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "path": "v3/{+name}:cancel",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "wait": {
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to wait on.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.operations.wait",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "WaitOperationRequest"
                  },
                  "path": "v3/{+name}:wait",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:wait",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Waits until the specified long-running operation is done or reaches at most a specified timeout, returning the latest state. If the operation is already done, the latest state is immediately returned. If the timeout specified is greater than the default HTTP/RPC timeout, the HTTP/RPC timeout is used. If the server does not support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Note that this method is on a best-effort basis. It may return the latest state before the specified timeout (including immediately), meaning even an immediate response is no guarantee that the operation is done."
                }
              }
            },
            "datasets": {
              "methods": {
                "delete": {
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Deletes a dataset and all of its contents.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. The name of the dataset to delete.",
                      "location": "path"
                    }
                  },
                  "id": "translate.projects.locations.datasets.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "path": "v3/{+parent}/datasets",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Lists datasets.",
                  "response": {
                    "$ref": "ListDatasetsResponse"
                  },
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "description": "Required. Name of the parent project. In form of `projects/{project-number-or-id}/locations/{location-id}`",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. The server can return fewer results than requested.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListDatasets call.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "id": "translate.projects.locations.datasets.list"
                },
                "create": {
                  "path": "v3/{+parent}/datasets",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Creates a Dataset.",
                  "request": {
                    "$ref": "Dataset"
                  },
                  "id": "translate.projects.locations.datasets.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "location": "path",
                      "description": "Required. The project name.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "importData": {
                  "path": "v3/{+dataset}:importData",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:importData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Import sentence pairs into translation Dataset.",
                  "request": {
                    "$ref": "ImportDataRequest"
                  },
                  "id": "translate.projects.locations.datasets.importData",
                  "parameters": {
                    "dataset": {
                      "required": true,
                      "location": "path",
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string"
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "dataset"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "exportData": {
                  "id": "translate.projects.locations.datasets.exportData",
                  "parameters": {
                    "dataset": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                      "required": true
                    }
                  },
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "dataset"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v3/{+dataset}:exportData",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}:exportData",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Exports dataset's data to the provided output location.",
                  "request": {
                    "$ref": "ExportDataRequest"
                  }
                },
                "get": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Dataset"
                  },
                  "id": "translate.projects.locations.datasets.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The resource name of the dataset to retrieve."
                    }
                  },
                  "path": "v3/{+name}",
                  "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-translation"
                  ],
                  "description": "Gets a Dataset."
                }
              },
              "resources": {
                "examples": {
                  "methods": {
                    "list": {
                      "path": "v3/{+parent}/examples",
                      "flatPath": "v3/projects/{projectsId}/locations/{locationsId}/datasets/{datasetsId}/examples",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-translation"
                      ],
                      "description": "Lists sentence pairs in the dataset.",
                      "parameters": {
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results for the server to return. Typically obtained from next_page_token field in the response of a ListExamples call.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An expression for filtering the examples that will be returned. Example filter: * `usage=TRAIN`"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/datasets/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the parent dataset. In form of `projects/{project-number-or-id}/locations/{location-id}/datasets/{dataset-id}`",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Requested page size. The server can return fewer results than requested.",
                          "format": "int32"
                        }
                      },
                      "id": "translate.projects.locations.datasets.examples.list",
                      "response": {
                        "$ref": "ListExamplesResponse"
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v3",
  "schemas": {
    "ListGlossariesResponse": {
      "description": "Response message for ListGlossaries.",
      "id": "ListGlossariesResponse",
      "type": "object",
      "properties": {
        "glossaries": {
          "items": {
            "$ref": "Glossary"
          },
          "type": "array",
          "description": "The list of glossaries for a project."
        },
        "nextPageToken": {
          "description": "A token to retrieve a page of results. Pass this value in the [ListGlossariesRequest.page_token] field in the subsequent call to `ListGlossaries` method to retrieve the next page of results.",
          "type": "string"
        }
      }
    },
    "DocumentTranslation": {
      "properties": {
        "byteStreamOutputs": {
          "type": "array",
          "description": "The array of translated documents. It is expected to be size 1 for now. We may produce multiple translated documents in the future for other type of file formats.",
          "items": {
            "type": "string",
            "format": "byte"
          }
        },
        "mimeType": {
          "description": "The translated document's mime type.",
          "type": "string"
        },
        "detectedLanguageCode": {
          "description": "The detected language for the input document. If the user did not provide the source language for the input document, this field will have the language code automatically detected. If the source language was passed, auto-detection of the language does not occur and this field is empty.",
          "type": "string"
        }
      },
      "id": "DocumentTranslation",
      "type": "object",
      "description": "A translated document message."
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "type": "object"
    },
    "TranslateTextResponse": {
      "properties": {
        "translations": {
          "items": {
            "$ref": "Translation"
          },
          "type": "array",
          "description": "Text translation responses with no glossary applied. This field has the same length as `contents`."
        },
        "glossaryTranslations": {
          "type": "array",
          "description": "Text translation responses if a glossary is provided in the request. This can be the same as `translations` if no terms apply. This field has the same length as `contents`.",
          "items": {
            "$ref": "Translation"
          }
        }
      },
      "id": "TranslateTextResponse",
      "type": "object"
    },
    "LanguageCodePair": {
      "properties": {
        "sourceLanguageCode": {
          "description": "Required. The ISO-639 language code of the input text, for example, \"en-US\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        },
        "targetLanguageCode": {
          "description": "Required. The ISO-639 language code for translation output, for example, \"zh-CN\". Expected to be an exact match for GlossaryTerm.language_code.",
          "type": "string"
        }
      },
      "description": "Used with unidirectional glossaries.",
      "id": "LanguageCodePair",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "type": "object"
    },
    "AdaptiveMtTranslateResponse": {
      "id": "AdaptiveMtTranslateResponse",
      "type": "object",
      "description": "An AdaptiveMtTranslate response.",
      "properties": {
        "languageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The translation's language code."
        },
        "translations": {
          "description": "Output only. The translation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AdaptiveMtTranslation"
          }
        },
        "glossaryTranslations": {
          "type": "array",
          "description": "Text translation response if a glossary is provided in the request. This could be the same as 'translation' above if no terms apply.",
          "items": {
            "$ref": "AdaptiveMtTranslation"
          }
        }
      }
    },
    "GlossaryTerm": {
      "properties": {
        "languageCode": {
          "description": "The language for this glossary term.",
          "type": "string"
        },
        "text": {
          "description": "The text for the glossary term.",
          "type": "string"
        }
      },
      "id": "GlossaryTerm",
      "type": "object",
      "description": "Represents a single glossary term"
    },
    "ExportDataRequest": {
      "id": "ExportDataRequest",
      "type": "object",
      "description": "Request message for ExportData.",
      "properties": {
        "outputConfig": {
          "$ref": "DatasetOutputConfig",
          "description": "Required. The config for the output content."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "Operation": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "Model": {
      "properties": {
        "validateExampleCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of examples (sentence pairs) used to validate the model.",
          "type": "integer"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. Timestamp when this model was last updated.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name of the model to show in the interface. The name can be up to 32 characters long and can consist only of ASCII Latin letters A-Z and a-z, underscores (_), and ASCII digits 0-9."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the model, in form of `projects/{project-number-or-id}/locations/{location_id}/models/{model_id}`"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp when the model resource was created, which is also when the training started."
        },
        "dataset": {
          "type": "string",
          "description": "Required. The dataset from which the model is trained, in form of `projects/{project-number-or-id}/locations/{location_id}/datasets/{dataset_id}`"
        },
        "sourceLanguageCode": {
          "readOnly": true,
          "description": "Output only. The BCP-47 language code of the source language.",
          "type": "string"
        },
        "targetLanguageCode": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The BCP-47 language code of the target language."
        },
        "testExampleCount": {
          "format": "int32",
          "readOnly": true,
          "description": "Output only. Number of examples (sentence pairs) used to test the model.",
          "type": "integer"
        },
        "trainExampleCount": {
          "description": "Output only. Number of examples (sentence pairs) used to train the model.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        }
      },
      "id": "Model",
      "type": "object",
      "description": "A trained translation model."
    },
    "Romanization": {
      "description": "A single romanization response.",
      "id": "Romanization",
      "type": "object",
      "properties": {
        "romanizedText": {
          "type": "string",
          "description": "Romanized text. If an error occurs during romanization, this field might be excluded from the response."
        },
        "detectedLanguageCode": {
[...]
