{
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "batchPath": "batch/translate",
  "id": "translate:v2",
  "canonicalName": "Translate",
  "revision": "20170525",
  "title": "Google Cloud Translation API",
  "schemas": {
    "LanguagesResource": {
      "id": "LanguagesResource",
      "properties": {
        "language": {
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')",
          "type": "string"
        },
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TranslationsListResponse": {
      "id": "TranslationsListResponse",
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "type": "array",
          "items": {
            "$ref": "TranslationsResource"
          },
          "description": "Translations contains list of translation results of given text"
        }
      },
      "type": "object"
    },
    "GetSupportedLanguagesRequest": {
      "type": "object",
      "description": "The request message for discovering supported languages.",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest"
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "items": {
        "properties": {
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "type": "number",
            "format": "float"
          },
          "language": {
            "description": "The language we detected.",
            "type": "string"
          },
          "isReliable": {
            "description": "A boolean to indicate is the language detection result reliable.",
            "type": "boolean"
          }
        },
        "type": "object"
      },
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "type": "array"
    },
    "DetectionsListResponse": {
      "type": "object",
      "properties": {
        "detections": {
          "description": "A detections contains detection results of several text",
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array"
        }
      },
      "id": "DetectionsListResponse"
    },
    "LanguagesListResponse": {
      "type": "object",
      "id": "LanguagesListResponse",
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "type": "array"
        }
      }
    },
    "DetectLanguageRequest": {
      "type": "object",
      "description": "The request message for language detection.",
      "properties": {
        "q": {
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "DetectLanguageRequest"
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "TranslateTextRequest": {
      "type": "object",
      "description": "The main translation request message for the Cloud Translation API.",
      "properties": {
        "format": {
          "type": "string",
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text."
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "q": {
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TranslateTextRequest"
    }
  },
  "ownerDomain": "google.com",
  "rootUrl": "https://translation.googleapis.com/",
  "features": [
    "dataWrapper"
  ],
  "discoveryVersion": "v1",
  "basePath": "/language/translate/",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "description": "Returns a list of supported languages for translation.",
          "parameters": {
            "target": {
              "location": "query",
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages."
            },
            "model": {
              "type": "string",
              "location": "query",
              "description": "The model type for which supported languages should be returned."
            }
          },
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "path": "v2/languages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "language.languages.list",
          "httpMethod": "GET"
        }
      }
    },
    "detections": {
      "methods": {
        "detect": {
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "description": "Detects the language of text within a request.",
          "parameterOrder": [],
          "path": "v2/detect",
          "id": "language.detections.detect",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        },
        "list": {
          "id": "language.detections.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/detect",
          "parameterOrder": [
            "q"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "description": "Detects the language of text within a request.",
          "parameters": {
            "q": {
              "type": "string",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "required": true,
              "location": "query"
            }
          }
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "parameterOrder": [
            "q",
            "target"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "description": "Translates input text, returning translated text.",
          "parameters": {
            "q": {
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "repeated": true,
              "type": "string",
              "location": "query",
              "required": true
            },
            "target": {
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "location": "query",
              "type": "string",
              "required": true
            },
            "cid": {
              "type": "string",
              "location": "query",
              "description": "The customization id for translate",
              "repeated": true
            },
            "format": {
              "location": "query",
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "type": "string"
            },
            "source": {
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "type": "string",
              "location": "query"
            },
            "model": {
              "location": "query",
              "type": "string",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
            }
          },
          "id": "language.translations.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2"
        },
        "translate": {
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [],
          "path": "v2",
          "id": "language.translations.translate",
          "httpMethod": "POST",
          "parameters": {},
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ]
        }
      }
    }
  },
  "servicePath": "language/translate/",
  "protocol": "rest",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "name": "translate",
  "version": "v2",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        },
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        }
      }
    }
  },
  "icons": {
    "x32": "https://www.google.com/images/icons/product/translate-32.png",
    "x16": "https://www.google.com/images/icons/product/translate-16.png"
  },
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "bearer_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth bearer token."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "pp": {
      "description": "Pretty-print response.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  }
}