{
  "canonicalName": "Transcoder",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://transcoder.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "name": "transcoder",
  "parameters": {
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json"
    },
    "$.xgafv": {
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "servicePath": "",
  "title": "Transcoder API",
  "revision": "20260401",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "batchPath": "batch",
  "schemas": {
    "Fairplay": {
      "type": "object",
      "id": "Fairplay",
      "properties": {},
      "description": "Fairplay configuration."
    },
    "Deblock": {
      "id": "Deblock",
      "properties": {
        "strength": {
          "type": "number",
          "description": "Set strength of the deblocker. Enter a value between 0 and 1. The higher the value, the stronger the block removal. 0 is no deblocking. The default is 0.",
          "format": "double"
        },
        "enabled": {
          "description": "Enable deblocker. The default is `false`.",
          "type": "boolean"
        }
      },
      "description": "Deblock preprocessing configuration. **Note:** This configuration is not supported.",
      "type": "object"
    },
    "Vp9ColorFormatHLG": {
      "type": "object",
      "id": "Vp9ColorFormatHLG",
      "properties": {},
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video."
    },
    "MpegCommonEncryption": {
      "type": "object",
      "id": "MpegCommonEncryption",
      "properties": {
        "scheme": {
          "description": "Required. Specify the encryption scheme. Supported encryption schemes: - `cenc` - `cbcs`",
          "type": "string"
        }
      },
      "description": "Configuration for MPEG Common Encryption (MPEG-CENC)."
    },
    "JobTemplate": {
      "type": "object",
      "description": "Transcoding job template resource.",
      "id": "JobTemplate",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job template. You can use these to organize and group your job templates.",
          "type": "object"
        },
        "name": {
          "description": "The resource name of the job template. Format: `projects/{project_number}/locations/{location}/jobTemplates/{job_template}`",
          "type": "string"
        },
        "config": {
          "description": "The configuration for this template.",
          "$ref": "JobConfig"
        }
      }
    },
    "YadifConfig": {
      "id": "YadifConfig",
      "properties": {
        "disableSpatialInterlacing": {
          "description": "Disable spacial interlacing. The default is `false`.",
          "type": "boolean"
        },
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        }
      },
      "description": "Yet Another Deinterlacing Filter Configuration.",
      "type": "object"
    },
    "TextMapping": {
      "id": "TextMapping",
      "properties": {
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "atomKey": {
          "description": "Required. The EditAtom.key that references atom with text inputs in the JobConfig.edit_list.",
          "type": "string"
        },
        "inputTrack": {
          "type": "integer",
          "description": "Required. The zero-based index of the track in the input file.",
          "format": "int32"
        }
      },
      "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
      "type": "object"
    },
    "Image": {
      "type": "object",
      "id": "Image",
      "properties": {
        "alpha": {
          "description": "Target image opacity. Valid values are from `1.0` (solid, default) to `0.0` (transparent), exclusive. Set this to a value greater than `0.0`.",
          "format": "double",
          "type": "number"
        },
        "resolution": {
          "description": "Normalized image resolution, based on output video resolution. Valid values: `0.0`–`1.0`. To respect the original image aspect ratio, set either `x` or `y` to `0.0`. To use the original image resolution, set both `x` and `y` to `0.0`.",
          "$ref": "NormalizedCoordinate"
        },
        "uri": {
          "description": "Required. URI of the image in Cloud Storage. For example, `gs://bucket/inputs/image.png`. Only PNG and JPEG images are supported.",
          "type": "string"
        }
      },
      "description": "Overlaid image."
    },
    "Crop": {
      "type": "object",
      "description": "Video cropping configuration for the input video. The cropped input video is scaled to match the output resolution.",
      "id": "Crop",
      "properties": {
        "leftPixels": {
          "type": "integer",
          "description": "The number of pixels to crop from the left. The default is 0.",
          "format": "int32"
        },
        "bottomPixels": {
          "description": "The number of pixels to crop from the bottom. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "topPixels": {
          "description": "The number of pixels to crop from the top. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "rightPixels": {
          "type": "integer",
          "description": "The number of pixels to crop from the right. The default is 0.",
          "format": "int32"
        }
      }
    },
    "Pad": {
      "id": "Pad",
      "properties": {
        "leftPixels": {
          "description": "The number of pixels to add to the left. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "bottomPixels": {
          "description": "The number of pixels to add to the bottom. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "topPixels": {
          "description": "The number of pixels to add to the top. The default is 0.",
          "format": "int32",
          "type": "integer"
        },
        "rightPixels": {
          "description": "The number of pixels to add to the right. The default is 0.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Pad filter configuration for the input video. The padded input video is scaled after padding with black to match the output resolution.",
      "type": "object"
    },
    "SecretManagerSource": {
      "type": "object",
      "id": "SecretManagerSource",
      "properties": {
        "secretVersion": {
          "description": "Required. The name of the Secret Version containing the encryption key in the following format: `projects/{project}/secrets/{secret_id}/versions/{version_number}` Note that only numbered versions are supported. Aliases like \"latest\" are not supported.",
          "type": "string"
        }
      },
      "description": "Configuration for secrets stored in Google Secret Manager."
    },
    "Output": {
      "type": "object",
      "description": "Location of output file(s) in a Cloud Storage bucket.",
      "id": "Output",
      "properties": {
        "uri": {
          "description": "URI for the output file(s). For example, `gs://my-bucket/outputs/`. Must be a directory and not a top-level bucket. If empty, the value is populated from Job.output_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        }
      }
    },
    "BwdifConfig": {
      "id": "BwdifConfig",
      "properties": {
        "parity": {
          "description": "The picture field parity assumed for the input interlaced video. The default is `auto`. Supported values: - `tff`: Assume the top field is first - `bff`: Assume the bottom field is first - `auto`: Enable automatic detection of field parity",
          "type": "string"
        },
        "deinterlaceAllFrames": {
          "description": "Deinterlace all frames rather than just the frames identified as interlaced. The default is `false`.",
          "type": "boolean"
        },
        "mode": {
          "description": "Specifies the deinterlacing mode to adopt. The default is `send_frame`. Supported values: - `send_frame`: Output one frame for each frame - `send_field`: Output one frame for each field",
          "type": "string"
        }
      },
      "description": "Bob Weaver Deinterlacing Filter Configuration.",
      "type": "object"
    },
    "Input": {
      "id": "Input",
      "properties": {
        "key": {
          "description": "A unique key for this input. Must be specified when using advanced mapping and edit lists.",
          "type": "string"
        },
        "uri": {
          "description": "URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). If empty, the value is populated from Job.input_uri. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "preprocessingConfig": {
          "description": "Preprocessing configurations.",
          "$ref": "PreprocessingConfig"
        },
        "attributes": {
          "description": "Optional. Input Attributes.",
          "$ref": "InputAttributes"
        }
      },
      "description": "Input asset.",
      "type": "object"
    },
    "DrmSystems": {
      "id": "DrmSystems",
      "properties": {
        "widevine": {
          "description": "Widevine configuration.",
          "$ref": "Widevine"
        },
        "playready": {
          "description": "Playready configuration.",
          "$ref": "Playready"
        },
        "clearkey": {
          "description": "Clearkey configuration.",
          "$ref": "Clearkey"
        },
        "fairplay": {
          "description": "Fairplay configuration.",
          "$ref": "Fairplay"
        }
      },
      "description": "Defines configuration for DRM systems in use.",
      "type": "object"
    },
    "EditAtom": {
      "type": "object",
      "id": "EditAtom",
      "properties": {
        "key": {
          "description": "A unique key for this atom. Must be specified when using advanced mapping.",
          "type": "string"
        },
        "inputs": {
          "description": "List of Input.key values identifying files that should be used in this atom. The listed `inputs` must have the same timeline.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "startTimeOffset": {
          "description": "Start time in seconds for the atom, relative to the input file timeline. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        },
        "endTimeOffset": {
          "description": "End time in seconds for the atom, relative to the input file timeline. When `end_time_offset` is not specified, the `inputs` are used until the end of the atom.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Edit atom."
    },
    "Clearkey": {
      "description": "Clearkey configuration.",
      "id": "Clearkey",
      "properties": {},
      "type": "object"
    },
    "Job": {
      "description": "Transcoding job resource.",
      "id": "Job",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the job was created.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the transcoding finished.",
          "format": "google-datetime"
        },
        "startTime": {
          "description": "Output only. The time the transcoding started.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "config": {
          "description": "The configuration for this job.",
          "$ref": "JobConfig"
        },
        "error": {
          "description": "Output only. An error object that describes the reason for the failure. This property is always present when ProcessingState is `FAILED`.",
          "$ref": "Status",
          "readOnly": true
        },
        "fillContentGaps": {
          "description": "Optional. Insert silence and duplicate frames when timestamp gaps are detected in a given stream.",
          "type": "boolean"
        },
        "templateId": {
          "description": "Input only. Specify the `template_id` to use for populating `Job.config`. The default is `preset/web-hd`, which is the only supported preset. User defined JobTemplate: `{job_template_id}`",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the job. Format: `projects/{project_number}/locations/{location}/jobs/{job}`",
          "type": "string"
        },
        "mode": {
          "description": "The processing mode of the job. The default is `PROCESSING_MODE_INTERACTIVE`.",
          "enum": [
            "PROCESSING_MODE_UNSPECIFIED",
            "PROCESSING_MODE_INTERACTIVE",
            "PROCESSING_MODE_BATCH"
          ],
          "type": "string",
          "enumDescriptions": [
            "The job processing mode is not specified.",
            "The job processing mode is interactive mode. Interactive job will either be ran or rejected if quota does not allow for it.",
            "The job processing mode is batch mode. Batch mode allows queuing of jobs."
          ]
        },
        "batchModePriority": {
          "description": "The processing priority of a batch job. This field can only be set for batch mode jobs. The default value is 0. This value cannot be negative. Higher values correspond to higher priorities for the job.",
          "format": "int32",
          "type": "integer"
        },
        "inputUri": {
          "description": "Input only. Specify the `input_uri` to populate empty `uri` fields in each element of `Job.config.inputs` or `JobTemplate.config.inputs` when using template. URI of the media. Input files must be at least 5 seconds in duration and stored in Cloud Storage (for example, `gs://bucket/inputs/file.mp4`). See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "outputUri": {
          "description": "Input only. Specify the `output_uri` to populate an empty `Job.config.output.uri` or `JobTemplate.config.output.uri` when using template. URI for the output file(s). For example, `gs://my-bucket/outputs/`. See [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats).",
          "type": "string"
        },
        "state": {
          "enum": [
            "PROCESSING_STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. The current state of the job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The processing state is not specified.",
            "The job is enqueued and will be picked up for processing soon.",
            "The job is being processed.",
            "The job has been completed successfully.",
            "The job has failed. For additional information, see [Troubleshooting](https://cloud.google.com/transcoder/docs/troubleshooting)."
          ]
        },
        "optimization": {
          "type": "string",
          "enumDescriptions": [
            "The optimization strategy is not specified.",
            "Prioritize job processing speed.",
            "Disable all optimizations."
          ],
          "description": "Optional. The optimization strategy of the job. The default is `AUTODETECT`.",
          "enum": [
            "OPTIMIZATION_STRATEGY_UNSPECIFIED",
            "AUTODETECT",
            "DISABLED"
          ]
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels associated with this job. You can use these to organize and group your jobs.",
          "type": "object"
        },
        "ttlAfterCompletionDays": {
          "type": "integer",
          "description": "Job time to live value in days, which will be effective after job completion. Job should be deleted automatically after the given TTL. Enter a value between 1 and 90. The default is 30.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "MuxStream": {
      "id": "MuxStream",
      "properties": {
        "fileName": {
          "description": "The name of the generated file. The default is MuxStream.key with the extension suffix corresponding to the MuxStream.container. Individual segments also have an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `mux_stream0000000123.ts`.",
          "type": "string"
        },
        "fmp4": {
          "description": "Optional. `fmp4` container configuration.",
          "$ref": "Fmp4Config"
        },
        "elementaryStreams": {
          "description": "List of ElementaryStream.key values multiplexed in this stream.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "container": {
          "description": "The container format. The default is `mp4` Supported streaming formats: - `ts` - `fmp4`- the corresponding file extension is `.m4s` Supported standalone file formats: - `mp4` - `mp3` - `ogg` - `vtt` See also: [Supported input and output formats](https://cloud.google.com/transcoder/docs/concepts/supported-input-and-output-formats)",
          "type": "string"
        },
        "segmentSettings": {
          "description": "Segment settings for `ts`, `fmp4` and `vtt`.",
          "$ref": "SegmentSettings"
        },
        "encryptionId": {
          "description": "Identifier of the encryption configuration to use. If omitted, output will be unencrypted.",
          "type": "string"
        },
        "key": {
          "description": "A unique key for this multiplexed stream.",
          "type": "string"
        }
      },
      "description": "Multiplexing settings for output stream.",
      "type": "object"
    },
    "PreprocessingConfig": {
      "type": "object",
      "id": "PreprocessingConfig",
      "properties": {
        "crop": {
          "description": "Specify the video cropping configuration.",
          "$ref": "Crop"
        },
        "color": {
          "description": "Color preprocessing configuration.",
          "$ref": "Color"
        },
        "pad": {
          "description": "Specify the video pad filter configuration.",
          "$ref": "Pad"
        },
        "denoise": {
          "description": "Denoise preprocessing configuration.",
          "$ref": "Denoise"
        },
        "audio": {
          "description": "Audio preprocessing configuration.",
          "$ref": "Audio"
        },
        "deblock": {
          "description": "Deblock preprocessing configuration.",
          "$ref": "Deblock"
        },
        "deinterlace": {
          "description": "Specify the video deinterlace configuration.",
          "$ref": "Deinterlace"
        }
      },
      "description": "Preprocessing configurations."
    },
    "H264ColorFormatHLG": {
      "type": "object",
      "id": "H264ColorFormatHLG",
      "properties": {},
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video."
    },
    "SampleAesEncryption": {
      "description": "Configuration for SAMPLE-AES encryption.",
      "id": "SampleAesEncryption",
      "properties": {},
      "type": "object"
    },
    "Fmp4Config": {
      "id": "Fmp4Config",
      "properties": {
        "codecTag": {
          "description": "Optional. Specify the codec tag string that will be used in the media bitstream. When not specified, the codec appropriate value is used. Supported H265 codec tags: - `hvc1` (default) - `hev1`",
          "type": "string"
        }
      },
      "description": "`fmp4` container configuration.",
      "type": "object"
    },
    "AdBreak": {
      "type": "object",
      "id": "AdBreak",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "description": "Start time in seconds for the ad break, relative to the output file timeline. The default is `0s`.",
          "format": "google-duration"
        }
      },
      "description": "Ad break."
    },
    "Encryption": {
      "type": "object",
      "id": "Encryption",
      "properties": {
        "sampleAes": {
          "description": "Configuration for SAMPLE-AES encryption.",
          "$ref": "SampleAesEncryption"
        },
        "secretManagerKeySource": {
          "description": "Keys are stored in Google Secret Manager.",
          "$ref": "SecretManagerSource"
        },
        "aes128": {
          "description": "Configuration for AES-128 encryption.",
          "$ref": "Aes128Encryption"
        },
        "mpegCenc": {
          "description": "Configuration for MPEG Common Encryption (MPEG-CENC).",
          "$ref": "MpegCommonEncryption"
        },
        "id": {
          "description": "Required. Identifier for this set of encryption options.",
          "type": "string"
        },
        "drmSystems": {
          "description": "Required. DRM system(s) to use; at least one must be specified. If a DRM system is omitted, it is considered disabled.",
          "$ref": "DrmSystems"
        }
      },
      "description": "Encryption settings."
    },
    "Denoise": {
      "type": "object",
      "id": "Denoise",
      "properties": {
        "strength": {
          "description": "Set strength of the denoise. Enter a value between 0 and 1. The higher the value, the smoother the image. 0 is no denoising. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "tune": {
          "description": "Set the denoiser mode. The default is `standard`. Supported denoiser modes: - `standard` - `grain`",
          "type": "string"
        }
      },
      "description": "Denoise preprocessing configuration. **Note:** This configuration is not supported."
    },
    "H265ColorFormatSDR": {
      "id": "H265ColorFormatSDR",
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object"
    },
    "TextStream": {
      "type": "object",
      "description": "Encoding of a text stream. For example, closed captions or subtitles.",
      "id": "TextStream",
      "properties": {
        "codec": {
          "description": "The codec for this text stream. The default is `webvtt`. Supported text codecs: - `srt` - `ttml` - `cea608` - `cea708` - `webvtt`",
          "type": "string"
        },
        "languageCode": {
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files.",
          "type": "string"
        },
        "mapping": {
          "type": "array",
          "description": "The mapping for the JobConfig.edit_list atoms with text EditAtom.inputs.",
          "items": {
            "$ref": "TextMapping"
          }
        },
        "displayName": {
          "description": "The name for this particular text stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        }
      }
    },
    "Deinterlace": {
      "description": "Deinterlace configuration for input video.",
      "id": "Deinterlace",
      "properties": {
        "yadif": {
          "description": "Specifies the Yet Another Deinterlacing Filter Configuration.",
          "$ref": "YadifConfig"
        },
        "bwdif": {
          "description": "Specifies the Bob Weaver Deinterlacing Filter Configuration.",
          "$ref": "BwdifConfig"
        }
      },
      "type": "object"
    },
    "AnimationStatic": {
      "type": "object",
      "id": "AnimationStatic",
      "properties": {
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        },
        "startTimeOffset": {
          "description": "The time to start displaying the overlay object, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Display static overlay object."
    },
    "PubsubDestination": {
      "description": "A Pub/Sub destination.",
      "id": "PubsubDestination",
      "properties": {
        "topic": {
          "description": "The name of the Pub/Sub topic to publish job completion notification to. For example: `projects/{project}/topics/{topic}`.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Color": {
      "type": "object",
      "id": "Color",
      "properties": {
        "contrast": {
          "description": "Control black and white contrast of the video. Enter a value between -1 and 1, where -1 is minimum contrast and 1 is maximum contrast. 0 is no change. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "brightness": {
          "description": "Control brightness of the video. Enter a value between -1 and 1, where -1 is minimum brightness and 1 is maximum brightness. 0 is no change. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "saturation": {
          "description": "Control color saturation of the video. Enter a value between -1 and 1, where -1 is fully desaturated and 1 is maximum saturation. 0 is no change. The default is 0.",
          "format": "double",
          "type": "number"
        }
      },
      "description": "Color preprocessing configuration. **Note:** This configuration is not supported."
    },
    "ElementaryStream": {
      "type": "object",
      "description": "Encoding of an input file such as an audio, video, or text track. Elementary streams must be packaged before mapping and sharing between different output formats.",
      "id": "ElementaryStream",
      "properties": {
        "textStream": {
          "description": "Encoding of a text stream. For example, closed captions or subtitles.",
          "$ref": "TextStream"
        },
        "key": {
          "description": "A unique key for this elementary stream.",
          "type": "string"
        },
        "videoStream": {
          "description": "Encoding of a video stream.",
          "$ref": "VideoStream"
        },
        "audioStream": {
          "description": "Encoding of an audio stream.",
          "$ref": "AudioStream"
        }
      }
    },
    "Audio": {
      "type": "object",
      "description": "Audio preprocessing configuration.",
      "id": "Audio",
      "properties": {
        "highBoost": {
          "description": "Enable boosting high frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        },
        "lufs": {
          "type": "number",
          "description": "Specify audio loudness normalization in loudness units relative to full scale (LUFS). Enter a value between -24 and 0 (the default), where: * -24 is the Advanced Television Systems Committee (ATSC A/85) standard * -23 is the EU R128 broadcast standard * -19 is the prior standard for online mono audio * -18 is the ReplayGain standard * -16 is the prior standard for stereo audio * -14 is the new online audio standard recommended by Spotify, as well as Amazon Echo * 0 disables normalization",
          "format": "double"
        },
        "lowBoost": {
          "description": "Enable boosting low frequency components. The default is `false`. **Note:** This field is not supported.",
          "type": "boolean"
        }
      }
    },
    "NormalizedCoordinate": {
      "id": "NormalizedCoordinate",
      "properties": {
        "x": {
          "description": "Normalized x coordinate.",
          "format": "double",
          "type": "number"
        },
        "y": {
          "type": "number",
          "description": "Normalized y coordinate.",
          "format": "double"
        }
      },
      "description": "2D normalized coordinates. Default: `{0.0, 0.0}`",
      "type": "object"
    },
    "H264CodecSettings": {
      "description": "H264 codec settings.",
      "id": "H264CodecSettings",
      "properties": {
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Preset). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "format": "int32",
          "type": "integer"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for H264.",
          "$ref": "H264ColorFormatSDR"
        },
        "vbvFullnessBits": {
          "type": "integer",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H264CodecSettings.vbv_size_bits.",
          "format": "int32"
        },
        "aqStrength": {
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double",
          "type": "number"
        },
        "frameRateConversionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`."
        },
        "frameRate": {
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "format": "double",
          "type": "number"
        },
        "gopFrameCount": {
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32"
        },
        "entropyCoder": {
          "description": "The entropy coder to use. The default is `cabac`. Supported entropy coders: - `cavlc` - `cabac`",
          "type": "string"
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "vbvSizeBits": {
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to H264CodecSettings.bitrate_bps.",
          "format": "int32",
          "type": "integer"
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32",
          "type": "integer"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H264.",
          "$ref": "H264ColorFormatHLG"
        },
        "bFrameCount": {
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H264CodecSettings.gop_frame_count if set. The default is 0.",
          "format": "int32"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `baseline` * `main` * `high` (default) The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.264#Tune). Note that certain values for this field may cause the transcoder to override other fields you set in the `H264CodecSettings` message.",
          "type": "string"
        },
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H264CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "heightPixels": {
          "type": "integer",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SpriteSheet": {
      "description": "Sprite sheet configuration.",
      "id": "SpriteSheet",
      "properties": {
        "filePrefix": {
          "description": "Required. File name prefix for the generated sprite sheets. Each sprite sheet has an incremental 10-digit zero-padded suffix starting from 0 before the extension, such as `sprite_sheet0000000123.jpeg`.",
          "type": "string"
        },
        "quality": {
          "description": "The quality of the generated sprite sheet. Enter a value between 1 and 100, where 1 is the lowest quality and 100 is the highest quality. The default is 100. A high quality value corresponds to a low image data compression ratio.",
          "format": "int32",
          "type": "integer"
        },
        "format": {
          "description": "Format type. The default is `jpeg`. Supported formats: - `jpeg`",
          "type": "string"
        },
        "totalCount": {
          "description": "Total number of sprites. Create the specified number of sprites distributed evenly across the timeline of the output media. The default is 100.",
          "format": "int32",
          "type": "integer"
        },
        "rowCount": {
          "type": "integer",
          "description": "The maximum number of rows per sprite sheet. When the sprite sheet is full, a new sprite sheet is created. The default is 0, which indicates no maximum limit.",
          "format": "int32"
        },
        "columnCount": {
          "description": "The maximum number of sprites per row in a sprite sheet. The default is 0, which indicates no maximum limit.",
          "format": "int32",
          "type": "integer"
        },
        "endTimeOffset": {
          "description": "End time in seconds, relative to the output file timeline. When `end_time_offset` is not specified, the sprites are generated until the end of the output file.",
          "format": "google-duration",
          "type": "string"
        },
        "spriteWidthPixels": {
          "type": "integer",
          "description": "Required. The width of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_width_pixels field or the SpriteSheet.sprite_height_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "interval": {
          "description": "Starting from `0s`, create sprites at regular intervals. Specify the interval value in seconds.",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Start time in seconds, relative to the output file timeline. Determines the first sprite to pick. The default is `0s`.",
          "format": "google-duration",
          "type": "string"
        },
        "spriteHeightPixels": {
          "type": "integer",
          "description": "Required. The height of sprite in pixels. Must be an even integer. To preserve the source aspect ratio, set the SpriteSheet.sprite_height_pixels field or the SpriteSheet.sprite_width_pixels field, but not both (the API will automatically calculate the missing field). For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "H265CodecSettings": {
      "type": "object",
      "description": "H265 codec settings.",
      "id": "H265CodecSettings",
      "properties": {
        "enableTwoPass": {
          "description": "Use two-pass encoding strategy to achieve better video quality. H265CodecSettings.rate_control_mode must be `vbr`. The default is `false`.",
          "type": "boolean"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * 8-bit profiles * `main` (default) * `main-intra` * `mainstillpicture` * 10-bit profiles * `main10` (default) * `main10-intra` * `main422-10` * `main422-10-intra` * `main444-10` * `main444-10-intra` * 12-bit profiles * `main12` (default) * `main12-intra` * `main422-12` * `main422-12-intra` * `main444-12` * `main444-12-intra` The available options are [FFmpeg-compatible](https://x265.readthedocs.io/). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "bFrameCount": {
          "type": "integer",
          "description": "The number of consecutive B-frames. Must be greater than or equal to zero. Must be less than H265CodecSettings.gop_frame_count if set. The default is 0.",
          "format": "int32"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for H265.",
          "$ref": "H265ColorFormatHLG"
        },
        "gopDuration": {
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration",
          "type": "string"
        },
        "heightPixels": {
          "type": "integer",
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "bPyramid": {
          "description": "Allow B-pyramid for reference frame selection. This may not be supported on all decoders. The default is `false`.",
          "type": "boolean"
        },
        "frameRate": {
          "type": "number",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "format": "double"
        },
        "gopFrameCount": {
          "type": "integer",
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32"
        },
        "frameRateConversionStrategy": {
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ]
        },
        "vbvFullnessBits": {
          "type": "integer",
          "description": "Initial fullness of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to 90% of H265CodecSettings.vbv_size_bits.",
          "format": "int32"
        },
        "aqStrength": {
          "type": "number",
          "description": "Specify the intensity of the adaptive quantizer (AQ). Must be between 0 and 1, where 0 disables the quantizer and 1 maximizes the quantizer. A higher value equals a lower bitrate but smoother image. The default is 0.",
          "format": "double"
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21.",
          "format": "int32",
          "type": "integer"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for H265.",
          "$ref": "H265ColorFormatSDR"
        },
        "preset": {
          "description": "Enforces the specified codec preset. The default is `veryfast`. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "widthPixels": {
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32",
          "type": "integer"
        },
        "tune": {
          "description": "Enforces the specified codec tune. The available options are [FFmpeg-compatible](https://trac.ffmpeg.org/wiki/Encode/H.265). Note that certain values for this field may cause the transcoder to override other fields you set in the `H265CodecSettings` message.",
          "type": "string"
        },
        "vbvSizeBits": {
          "type": "integer",
          "description": "Size of the Video Buffering Verifier (VBV) buffer in bits. Must be greater than zero. The default is equal to `VideoStream.bitrate_bps`.",
          "format": "int32"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate - `crf` - constant rate factor",
          "type": "string"
        },
        "hdr10": {
          "description": "Optional. HDR10 color format setting for H265.",
          "$ref": "H265ColorFormatHDR10"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "allowOpenGop": {
          "description": "Specifies whether an open Group of Pictures (GOP) structure should be allowed or not. The default is `false`.",
          "type": "boolean"
        },
        "bitrateBps": {
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 800,000,000.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Aes128Encryption": {
      "type": "object",
      "id": "Aes128Encryption",
      "properties": {},
      "description": "Configuration for AES-128 encryption."
    },
    "AnimationEnd": {
      "type": "object",
      "id": "AnimationEnd",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "description": "The time to end overlay object, in seconds. Default: 0",
          "format": "google-duration"
        }
      },
      "description": "End previous overlay animation from the video. Without `AnimationEnd`, the overlay object will keep the state of previous animation until the end of the video."
    },
    "AnimationFade": {
      "type": "object",
      "id": "AnimationFade",
      "properties": {
        "fadeType": {
          "description": "Required. Type of fade animation: `FADE_IN` or `FADE_OUT`.",
          "enum": [
            "FADE_TYPE_UNSPECIFIED",
            "FADE_IN",
            "FADE_OUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "The fade type is not specified.",
            "Fade the overlay object into view.",
            "Fade the overlay object out of view."
          ]
        },
        "xy": {
          "description": "Normalized coordinates based on output video resolution. Valid values: `0.0`–`1.0`. `xy` is the upper-left coordinate of the overlay object. For example, use the x and y coordinates {0,0} to position the top-left corner of the overlay animation in the top-left corner of the output video.",
          "$ref": "NormalizedCoordinate"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "The time to end the fade animation, in seconds. Default: `start_time_offset` + 1s",
          "format": "google-duration"
        },
        "startTimeOffset": {
          "description": "The time to start the fade animation, in seconds. Default: 0",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Display overlay object with fade animation."
    },
    "TrackDefinition": {
      "type": "object",
      "id": "TrackDefinition",
      "properties": {
        "inputTrack": {
          "description": "The input track.",
          "format": "int32",
          "type": "integer"
        },
        "detectLanguages": {
          "description": "Optional. Whether to automatically detect the languages present in the track. If true, the system will attempt to identify all the languages present in the track and populate the languages field.",
          "type": "boolean"
        },
        "detectedLanguages": {
          "type": "array",
          "description": "Output only. A list of languages detected in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. This field is only populated if the detect_languages field is set to true.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "languages": {
          "type": "array",
          "description": "Optional. A list of languages spoken in the input asset, represented by a BCP 47 language code, such as \"en-US\" or \"sr-Latn\". For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Track definition for the input asset."
    },
    "H265ColorFormatHLG": {
      "type": "object",
      "description": "Convert the input video to a Hybrid Log Gamma (HLG) video.",
      "id": "H265ColorFormatHLG",
      "properties": {}
    },
    "VideoStream": {
      "id": "VideoStream",
      "properties": {
        "vp9": {
          "description": "VP9 codec settings.",
          "$ref": "Vp9CodecSettings"
        },
        "h264": {
          "description": "H264 codec settings.",
          "$ref": "H264CodecSettings"
        },
        "h265": {
          "description": "H265 codec settings.",
          "$ref": "H265CodecSettings"
        }
      },
      "description": "Video stream resource.",
      "type": "object"
    },
    "H264ColorFormatSDR": {
      "id": "H264ColorFormatSDR",
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object"
    },
    "ListJobTemplatesResponse": {
      "id": "ListJobTemplatesResponse",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        },
        "jobTemplates": {
          "type": "array",
          "description": "List of job templates in the specified region.",
          "items": {
            "$ref": "JobTemplate"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "List of regions that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for `TranscoderService.ListJobTemplates`.",
      "type": "object"
    },
    "Vp9ColorFormatSDR": {
      "id": "Vp9ColorFormatSDR",
      "properties": {},
      "description": "Convert the input video to a Standard Dynamic Range (SDR) video.",
      "type": "object"
    },
    "ListJobsResponse": {
      "type": "object",
      "id": "ListJobsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The pagination token.",
          "type": "string"
        },
        "jobs": {
          "type": "array",
          "description": "List of jobs in the specified region.",
          "items": {
            "$ref": "Job"
          }
        },
        "unreachable": {
          "description": "List of regions that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for `TranscoderService.ListJobs`."
    },
    "JobConfig": {
      "description": "Job configuration",
      "id": "JobConfig",
      "properties": {
        "overlays": {
          "type": "array",
          "description": "List of overlays on the output video, in descending Z-order.",
          "items": {
            "$ref": "Overlay"
          }
        },
        "spriteSheets": {
          "description": "List of output sprite sheets. Spritesheets require at least one VideoStream in the Jobconfig.",
          "items": {
            "$ref": "SpriteSheet"
          },
          "type": "array"
        },
        "editList": {
          "description": "List of edit atoms. Defines the ultimate timeline of the resulting file or manifest.",
          "items": {
            "$ref": "EditAtom"
          },
          "type": "array"
        },
        "elementaryStreams": {
          "type": "array",
          "description": "List of elementary streams.",
          "items": {
            "$ref": "ElementaryStream"
          }
        },
        "encryptions": {
          "type": "array",
          "description": "List of encryption configurations for the content. Each configuration has an ID. Specify this ID in the MuxStream.encryption_id field to indicate the configuration to use for that `MuxStream` output.",
          "items": {
            "$ref": "Encryption"
          }
        },
        "output": {
          "description": "Output configuration.",
          "$ref": "Output"
        },
        "adBreaks": {
          "description": "List of ad breaks. Specifies where to insert ad break tags in the output manifests.",
          "items": {
            "$ref": "AdBreak"
          },
          "type": "array"
        },
        "pubsubDestination": {
          "description": "Destination on Pub/Sub.",
          "$ref": "PubsubDestination"
        },
        "inputs": {
          "description": "List of input assets stored in Cloud Storage.",
          "items": {
            "$ref": "Input"
          },
          "type": "array"
        },
        "muxStreams": {
          "type": "array",
          "description": "List of multiplexing settings for output streams.",
          "items": {
            "$ref": "MuxStream"
          }
        },
        "manifests": {
          "type": "array",
          "description": "List of output manifests.",
          "items": {
            "$ref": "Manifest"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "InputAttributes": {
      "type": "object",
      "id": "InputAttributes",
      "properties": {
        "trackDefinitions": {
          "type": "array",
          "description": "Optional. A list of track definitions for the input asset.",
          "items": {
            "$ref": "TrackDefinition"
          }
        }
      },
      "description": "Input attributes that provide additional information about the input asset."
    },
    "Playready": {
      "type": "object",
      "description": "Playready configuration.",
      "id": "Playready",
      "properties": {}
    },
    "H265ColorFormatHDR10": {
      "type": "object",
      "id": "H265ColorFormatHDR10",
      "properties": {},
      "description": "Convert the input video to a High Dynamic Range 10 (HDR10) video."
    },
    "Vp9CodecSettings": {
      "description": "VP9 codec settings.",
      "id": "Vp9CodecSettings",
      "properties": {
        "widthPixels": {
          "type": "integer",
          "description": "The width of the video in pixels. Must be an even integer. When not specified, the width is adjusted to match the specified height and input aspect ratio. If both are omitted, the input width is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the width, in pixels, per the horizontal ASR. The API calculates the height per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32"
        },
        "rateControlMode": {
          "description": "Specify the mode. The default is `vbr`. Supported rate control modes: - `vbr` - variable bitrate",
          "type": "string"
        },
        "pixelFormat": {
          "description": "Pixel format to use. The default is `yuv420p`. Supported pixel formats: - `yuv420p` pixel format - `yuv422p` pixel format - `yuv444p` pixel format - `yuv420p10` 10-bit HDR pixel format - `yuv422p10` 10-bit HDR pixel format - `yuv444p10` 10-bit HDR pixel format - `yuv420p12` 12-bit HDR pixel format - `yuv422p12` 12-bit HDR pixel format - `yuv444p12` 12-bit HDR pixel format",
          "type": "string"
        },
        "bitrateBps": {
          "type": "integer",
          "description": "Required. The video bitrate in bits per second. The minimum value is 1,000. The maximum value is 480,000,000.",
          "format": "int32"
        },
        "frameRate": {
          "type": "number",
          "description": "Required. The target video frame rate in frames per second (FPS). Must be less than or equal to 120.",
          "format": "double"
        },
        "gopFrameCount": {
          "description": "Select the GOP size based on the specified frame count. Must be greater than zero.",
          "format": "int32",
          "type": "integer"
        },
        "frameRateConversionStrategy": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified frame rate conversion strategy.",
            "Selectively retain frames to reduce the output frame rate. Every _n_ th frame is kept, where `n = ceil(input frame rate / target frame rate)`. When _n_ = 1 (that is, the target frame rate is greater than the input frame rate), the output frame rate matches the input frame rate. When _n_ > 1, frames are dropped and the output frame rate is equal to `(input frame rate / n)`. For more information, see [Calculate frame rate](https://cloud.google.com/transcoder/docs/concepts/frame-rate).",
            "Drop or duplicate frames to match the specified frame rate."
          ],
          "description": "Optional. Frame rate conversion strategy for desired frame rate. The default is `DOWNSAMPLE`.",
          "enum": [
            "FRAME_RATE_CONVERSION_STRATEGY_UNSPECIFIED",
            "DOWNSAMPLE",
            "DROP_DUPLICATE"
          ]
        },
        "crfLevel": {
          "description": "Target CRF level. Must be between 10 and 36, where 10 is the highest quality and 36 is the most efficient compression. The default is 21. **Note:** This field is not supported.",
          "format": "int32",
          "type": "integer"
        },
        "sdr": {
          "description": "Optional. SDR color format setting for VP9.",
          "$ref": "Vp9ColorFormatSDR"
        },
        "gopDuration": {
          "type": "string",
          "description": "Select the GOP size based on the specified duration. The default is `3s`. Note that `gopDuration` must be less than or equal to [`segmentDuration`](#SegmentSettings), and [`segmentDuration`](#SegmentSettings) must be divisible by `gopDuration`.",
          "format": "google-duration"
        },
        "heightPixels": {
          "description": "The height of the video in pixels. Must be an even integer. When not specified, the height is adjusted to match the specified width and input aspect ratio. If both are omitted, the input height is used. For portrait videos that contain horizontal ASR and rotation metadata, provide the height, in pixels, per the horizontal ASR. The API calculates the width per the horizontal ASR. The API detects any rotation metadata and swaps the requested height and width for the output.",
          "format": "int32",
          "type": "integer"
        },
        "profile": {
          "description": "Enforces the specified codec profile. The following profiles are supported: * `profile0` (default) * `profile1` * `profile2` * `profile3` The available options are [WebM-compatible](https://www.webmproject.org/vp9/profiles/). Note that certain values for this field may cause the transcoder to override other fields you set in the `Vp9CodecSettings` message.",
          "type": "string"
        },
        "hlg": {
          "description": "Optional. HLG color format setting for VP9.",
          "$ref": "Vp9ColorFormatHLG"
        }
      },
      "type": "object"
    },
    "Manifest": {
      "id": "Manifest",
      "properties": {
        "fileName": {
          "description": "The name of the generated file. The default is `manifest` with the extension suffix corresponding to the Manifest.type.",
          "type": "string"
        },
        "dash": {
          "description": "`DASH` manifest configuration.",
          "$ref": "DashConfig"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "The manifest type is not specified.",
            "Create an HLS manifest. The corresponding file extension is `.m3u8`.",
            "Create an MPEG-DASH manifest. The corresponding file extension is `.mpd`."
          ],
          "enum": [
            "MANIFEST_TYPE_UNSPECIFIED",
            "HLS",
            "DASH"
          ],
          "description": "Required. Type of the manifest."
        },
        "muxStreams": {
          "type": "array",
          "description": "Required. List of user supplied MuxStream.key values that should appear in this manifest. When Manifest.type is `HLS`, a media manifest with name MuxStream.key and `.m3u8` extension is generated for each element in this list.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Manifest configuration.",
      "type": "object"
    },
    "AudioStream": {
      "type": "object",
      "description": "Audio stream resource.",
      "id": "AudioStream",
      "properties": {
        "languageCode": {
          "description": "The BCP-47 language code, such as `en-US` or `sr-Latn`. For more information, see https://www.unicode.org/reports/tr35/#Unicode_locale_identifier. Not supported in MP4 files.",
          "type": "string"
        },
        "channelLayout": {
          "description": "A list of channel names specifying layout of the audio channels. This only affects the metadata embedded in the container headers, if supported by the specified format. The default is `[\"fl\", \"fr\"]`. Supported channel names: - `fl` - Front left channel - `fr` - Front right channel - `sl` - Side left channel - `sr` - Side right channel - `fc` - Front center channel - `lfe` - Low frequency",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "channelCount": {
          "description": "Number of audio channels. Must be between 1 and 6. The default is 2.",
          "format": "int32",
          "type": "integer"
        },
        "sampleRateHertz": {
          "type": "integer",
          "description": "The audio sample rate in Hertz. The default is 48000 Hertz.",
          "format": "int32"
        },
        "bitrateBps": {
          "description": "Required. Audio bitrate in bits per second. Must be between 1 and 10,000,000.",
          "format": "int32",
          "type": "integer"
        },
        "codec": {
          "description": "The codec for this audio stream. The default is `aac`. Supported audio codecs: - `aac` - `aac-he` - `aac-he-v2` - `mp3` - `ac3` - `eac3` - `vorbis`",
          "type": "string"
        },
        "mapping": {
          "type": "array",
          "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
          "items": {
            "$ref": "AudioMapping"
          }
        },
        "displayName": {
          "description": "The name for this particular audio stream that will be added to the HLS/DASH manifest. Not supported in MP4 files.",
          "type": "string"
        }
      }
    },
    "DashConfig": {
      "type": "object",
      "description": "`DASH` manifest configuration.",
      "id": "DashConfig",
      "properties": {
        "segmentReferenceScheme": {
          "type": "string",
          "enumDescriptions": [
            "The segment reference scheme is not specified.",
            "Explicitly lists the URLs of media files for each segment. For example, if SegmentSettings.individual_segments is `true`, then the manifest contains fields similar to the following: ```xml ... ```",
            "SegmentSettings.individual_segments must be set to `true` to use this segment reference scheme. Uses the DASH specification `` tag to determine the URLs of media files for each segment. For example: ```xml ... ```"
          ],
          "description": "The segment reference scheme for a `DASH` manifest. The default is `SEGMENT_LIST`.",
          "enum": [
            "SEGMENT_REFERENCE_SCHEME_UNSPECIFIED",
            "SEGMENT_LIST",
            "SEGMENT_TEMPLATE_NUMBER"
          ]
        }
      }
    },
    "Widevine": {
      "description": "Widevine configuration.",
      "id": "Widevine",
      "properties": {},
      "type": "object"
    },
    "Animation": {
      "id": "Animation",
      "properties": {
        "animationEnd": {
          "description": "End previous animation.",
          "$ref": "AnimationEnd"
        },
        "animationStatic": {
          "description": "Display static overlay object.",
          "$ref": "AnimationStatic"
        },
        "animationFade": {
          "description": "Display overlay object with fade animation.",
          "$ref": "AnimationFade"
        }
      },
      "description": "Animation types.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Overlay": {
      "type": "object",
      "description": "Overlay configuration.",
      "id": "Overlay",
      "properties": {
        "image": {
          "description": "Image overlay.",
          "$ref": "Image"
        },
        "animations": {
          "description": "List of animations. The list should be chronological, without any time overlap.",
          "items": {
            "$ref": "Animation"
          },
          "type": "array"
        }
      }
    },
    "AudioMapping": {
      "type": "object",
      "description": "The mapping for the JobConfig.edit_list atoms with audio EditAtom.inputs.",
      "id": "AudioMapping",
      "properties": {
        "inputTrack": {
          "description": "Required. The zero-based index of the track in the input file.",
          "format": "int32",
          "type": "integer"
        },
        "atomKey": {
          "description": "Required. The EditAtom.key that references the atom with audio inputs in the JobConfig.edit_list.",
          "type": "string"
        },
        "inputChannel": {
          "type": "integer",
          "description": "Required. The zero-based index of the channel in the input audio stream.",
          "format": "int32"
        },
        "outputChannel": {
          "description": "Required. The zero-based index of the channel in the output audio stream.",
          "format": "int32",
          "type": "integer"
        },
        "inputKey": {
          "description": "Required. The Input.key that identifies the input file.",
          "type": "string"
        },
        "gainDb": {
          "type": "number",
          "description": "Audio volume control in dB. Negative values decrease volume, positive values increase. The default is 0.",
          "format": "double"
        }
      }
    },
    "SegmentSettings": {
      "type": "object",
      "id": "SegmentSettings",
      "properties": {
        "individualSegments": {
          "description": "Required. Create an individual segment file. The default is `false`.",
          "type": "boolean"
        },
        "segmentDuration": {
          "description": "Duration of the segments in seconds. The default is `6.0s`. Note that `segmentDuration` must be greater than or equal to [`gopDuration`](#videostream), and `segmentDuration` must be divisible by [`gopDuration`](#videostream).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Segment settings for `ts`, `fmp4` and `vtt`."
    }
  },
  "id": "transcoder:v1",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://transcoder.googleapis.com/",
  "version_module": true,
  "protocol": "rest",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "jobs": {
              "methods": {
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "description": "Required. The name of the job to retrieve. Format: `projects/{project}/locations/{location}/jobs/{job}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "id": "transcoder.projects.locations.jobs.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the job data.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}"
                },
                "create": {
                  "request": {
                    "$ref": "Job"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a job in the specified region.",
                  "id": "transcoder.projects.locations.jobs.create",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The parent location to create and process this job. Format: `projects/{project}/locations/{location}`",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "Job"
                  },
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameters": {
                    "pageToken": {
                      "description": "The `next_page_token` value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. Format: `projects/{project}/locations/{location}`"
                    },
                    "pageSize": {
                      "description": "The maximum number of items to return.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160."
                    }
                  },
                  "response": {
                    "$ref": "ListJobsResponse"
                  },
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/jobs",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists jobs in the specified region.",
                  "id": "transcoder.projects.locations.jobs.list"
                },
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobs/{jobsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a job.",
                  "id": "transcoder.projects.locations.jobs.delete",
                  "parameters": {
                    "allowMissing": {
                      "location": "query",
                      "type": "boolean",
                      "description": "If set to true, and the job is not found, the request will succeed but no action will be taken on the server."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobs/[^/]+$",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "description": "Required. The name of the job to delete. Format: `projects/{project}/locations/{location}/jobs/{job}`"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "jobTemplates": {
              "methods": {
                "create": {
                  "request": {
                    "$ref": "JobTemplate"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Creates a job template in the specified region.",
                  "id": "transcoder.projects.locations.jobTemplates.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "httpMethod": "POST",
                  "path": "v1/{+parent}/jobTemplates",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent location to create this job template. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "jobTemplateId": {
                      "description": "Required. The ID to use for the job template, which will become the final component of the job template's resource name. This value should be 4-63 characters, and valid characters must match the regular expression `a-zA-Z*`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "id": "transcoder.projects.locations.jobTemplates.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Lists job templates in the specified region.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+parent}/jobTemplates",
                  "httpMethod": "GET",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "The filter expression, following the syntax outlined in https://google.aip.dev/160."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The `next_page_token` value returned from a previous List request, if any."
                    },
                    "orderBy": {
                      "description": "One or more fields to compare and use to sort the output. See https://google.aip.dev/132#ordering.",
                      "type": "string",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent location from which to retrieve the collection of job templates. Format: `projects/{project}/locations/{location}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The maximum number of items to return.",
                      "format": "int32"
                    }
                  },
                  "response": {
                    "$ref": "ListJobTemplatesResponse"
                  }
                },
                "delete": {
                  "parameters": {
                    "allowMissing": {
                      "description": "If set to true, and the job template is not found, the request will succeed but no action will be taken on the server.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. The name of the job template to delete. `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "id": "transcoder.projects.locations.jobTemplates.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Deletes a job template."
                },
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. The name of the job template to retrieve. Format: `projects/{project}/locations/{location}/jobTemplates/{job_template}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+/jobTemplates/[^/]+$",
                      "type": "string",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "JobTemplate"
                  },
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/jobTemplates/{jobTemplatesId}",
                  "id": "transcoder.projects.locations.jobTemplates.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Returns the job template data."
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://transcoder.mtls.googleapis.com/",
  "description": "This API converts video files into formats suitable for consumer distribution. For more information, see the Transcoder API overview. ",
  "version": "v1",
  "documentationLink": "https://cloud.google.com/transcoder/docs/"
}