{
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "parameters": {
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "pp": {
      "description": "Pretty-print response.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    }
  },
  "name": "translate",
  "ownerDomain": "google.com",
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html",
  "protocol": "rest",
  "batchPath": "batch/translate",
  "discoveryVersion": "v1",
  "schemas": {
    "GetSupportedLanguagesRequest": {
      "description": "The request message for discovering supported languages.",
      "type": "object",
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest"
    },
    "LanguagesListResponse": {
      "type": "object",
      "properties": {
        "languages": {
          "items": {
            "$ref": "LanguagesResource"
          },
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language."
        }
      },
      "id": "LanguagesListResponse"
    },
    "TranslateTextRequest": {
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object",
      "properties": {
        "model": {
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
          "type": "string"
        },
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "q": {
          "items": {
            "type": "string"
          },
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
          "type": "array"
        },
        "target": {
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
          "type": "string"
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        }
      }
    },
    "DetectLanguageRequest": {
      "description": "The request message for language detection.",
      "type": "object",
      "properties": {
        "q": {
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array"
        }
      },
      "id": "DetectLanguageRequest"
    },
    "TranslationsResource": {
      "id": "TranslationsResource",
      "type": "object",
      "properties": {
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "type": "string",
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty."
        },
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        }
      }
    },
    "DetectionsListResponse": {
      "type": "object",
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "type": "array",
          "description": "A detections contains detection results of several text"
        }
      },
      "id": "DetectionsListResponse"
    },
    "TranslationsListResponse": {
      "id": "TranslationsListResponse",
      "type": "object",
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "items": {
            "$ref": "TranslationsResource"
          },
          "type": "array",
          "description": "Translations contains list of translation results of given text"
        }
      }
    },
    "DetectionsResource": {
      "id": "DetectionsResource",
      "type": "array",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "confidence": {
            "type": "number",
            "description": "The confidence of the detection result of this language.",
            "format": "float"
          },
          "isReliable": {
            "type": "boolean",
            "description": "A boolean to indicate is the language detection result reliable."
          },
          "language": {
            "type": "string",
            "description": "The language we detected."
          }
        }
      }
    },
    "LanguagesResource": {
      "id": "LanguagesResource",
      "type": "object",
      "properties": {
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        },
        "name": {
          "type": "string",
          "description": "Human readable name of the language localized to the target language."
        }
      }
    }
  },
  "revision": "20170525",
  "version": "v2",
  "basePath": "/language/translate/",
  "ownerName": "Google",
  "canonicalName": "Translate",
  "title": "Google Cloud Translation API",
  "rootUrl": "https://translation.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "resources": {
    "languages": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "language.languages.list",
          "path": "v2/languages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "LanguagesListResponse"
          },
          "parameters": {
            "model": {
              "type": "string",
              "description": "The model type for which supported languages should be returned.",
              "location": "query"
            },
            "target": {
              "type": "string",
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "location": "query"
            }
          },
          "description": "Returns a list of supported languages for translation."
        }
      }
    },
    "detections": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "language.detections.list",
          "path": "v2/detect",
          "parameterOrder": [
            "q"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameters": {
            "q": {
              "type": "string",
              "repeated": true,
              "required": true,
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "location": "query"
            }
          },
          "description": "Detects the language of text within a request."
        },
        "detect": {
          "httpMethod": "POST",
          "id": "language.detections.detect",
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "path": "v2/detect",
          "parameters": {},
          "description": "Detects the language of text within a request.",
          "response": {
            "$ref": "DetectionsListResponse"
          }
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "parameters": {
            "model": {
              "type": "string",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation.",
              "location": "query"
            },
            "source": {
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query"
            },
            "cid": {
              "repeated": true,
              "type": "string",
              "description": "The customization id for translate",
              "location": "query"
            },
            "format": {
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query"
            },
            "target": {
              "type": "string",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "location": "query",
              "required": true
            },
            "q": {
              "required": true,
              "type": "string",
              "repeated": true,
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "location": "query"
            }
          },
          "description": "Translates input text, returning translated text.",
          "parameterOrder": [
            "q",
            "target"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "httpMethod": "GET",
          "id": "language.translations.list",
          "path": "v2"
        },
        "translate": {
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameterOrder": [],
          "id": "language.translations.translate",
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "httpMethod": "POST",
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "description": "Translates input text, returning translated text.",
          "parameters": {},
          "path": "v2"
        }
      }
    }
  },
  "id": "translate:v2",
  "features": [
    "dataWrapper"
  ],
  "servicePath": "language/translate/"
}