{
  "batchPath": "batch/translate",
  "icons": {
    "x16": "https://www.google.com/images/icons/product/translate-16.png",
    "x32": "https://www.google.com/images/icons/product/translate-32.png"
  },
  "name": "translate",
  "ownerDomain": "google.com",
  "version": "v2",
  "canonicalName": "Translate",
  "servicePath": "language/translate/",
  "schemas": {
    "DetectionsResource": {
      "type": "array",
      "id": "DetectionsResource",
      "description": "An array of languages which we detect for the given text The most likely language list first.",
      "items": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language we detected."
          },
          "confidence": {
            "description": "The confidence of the detection result of this language.",
            "type": "number",
            "format": "float"
          },
          "isReliable": {
            "description": "A boolean to indicate is the language detection result reliable.",
            "type": "boolean"
          }
        }
      }
    },
    "LanguagesResource": {
      "type": "object",
      "id": "LanguagesResource",
      "properties": {
        "name": {
          "description": "Human readable name of the language localized to the target language.",
          "type": "string"
        },
        "language": {
          "type": "string",
          "description": "Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')"
        }
      }
    },
    "DetectionsListResponse": {
      "properties": {
        "detections": {
          "items": {
            "$ref": "DetectionsResource"
          },
          "description": "A detections contains detection results of several text",
          "type": "array"
        }
      },
      "type": "object",
      "id": "DetectionsListResponse"
    },
    "TranslationsResource": {
      "properties": {
        "model": {
          "description": "The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.",
          "type": "string"
        },
        "translatedText": {
          "description": "Text translated into the target language.",
          "type": "string"
        },
        "detectedSourceLanguage": {
          "description": "The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TranslationsResource"
    },
    "TranslateTextRequest": {
      "properties": {
        "source": {
          "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
          "type": "string"
        },
        "target": {
          "type": "string",
          "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support."
        },
        "model": {
          "type": "string",
          "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
        },
        "format": {
          "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
          "type": "string"
        },
        "q": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs."
        }
      },
      "id": "TranslateTextRequest",
      "description": "The main translation request message for the Cloud Translation API.",
      "type": "object"
    },
    "LanguagesListResponse": {
      "properties": {
        "languages": {
          "type": "array",
          "description": "List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.",
          "items": {
            "$ref": "LanguagesResource"
          }
        }
      },
      "type": "object",
      "id": "LanguagesListResponse"
    },
    "DetectLanguageRequest": {
      "properties": {
        "q": {
          "items": {
            "type": "string"
          },
          "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
          "type": "array"
        }
      },
      "id": "DetectLanguageRequest",
      "description": "The request message for language detection.",
      "type": "object"
    },
    "GetSupportedLanguagesRequest": {
      "properties": {
        "target": {
          "description": "The language to use to return localized, human readable names of supported\nlanguages.",
          "type": "string"
        }
      },
      "id": "GetSupportedLanguagesRequest",
      "description": "The request message for discovering supported languages.",
      "type": "object"
    },
    "TranslationsListResponse": {
      "type": "object",
      "id": "TranslationsListResponse",
      "description": "The main language translation response message.",
      "properties": {
        "translations": {
          "items": {
            "$ref": "TranslationsResource"
          },
          "type": "array",
          "description": "Translations contains list of translation results of given text"
        }
      }
    }
  },
  "basePath": "/language/translate/",
  "protocol": "rest",
  "description": "The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.",
  "revision": "20170525",
  "kind": "discovery#restDescription",
  "id": "translate:v2",
  "discoveryVersion": "v1",
  "rootUrl": "https://translation.googleapis.com/",
  "features": [
    "dataWrapper"
  ],
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-translation": {
          "description": "Translate text from one language to another using Google Translate"
        },
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "View and manage your data across Google Cloud Platform services"
        }
      }
    }
  },
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "pp": {
      "default": "true",
      "location": "query",
      "description": "Pretty-print response.",
      "type": "boolean"
    },
    "bearer_token": {
      "description": "OAuth bearer token.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "title": "Google Cloud Translation API",
  "resources": {
    "detections": {
      "methods": {
        "list": {
          "description": "Detects the language of text within a request.",
          "parameterOrder": [
            "q"
          ],
          "id": "language.detections.list",
          "path": "v2/detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "q": {
              "type": "string",
              "description": "The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.",
              "repeated": true,
              "required": true,
              "location": "query"
            }
          },
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "httpMethod": "GET"
        },
        "detect": {
          "description": "Detects the language of text within a request.",
          "id": "language.detections.detect",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "DetectionsListResponse"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "DetectLanguageRequest"
          },
          "httpMethod": "POST",
          "path": "v2/detect",
          "parameters": {}
        }
      }
    },
    "languages": {
      "methods": {
        "list": {
          "description": "Returns a list of supported languages for translation.",
          "httpMethod": "GET",
          "id": "language.languages.list",
          "path": "v2/languages",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "target": {
              "description": "The language to use to return localized, human readable names of supported\nlanguages.",
              "type": "string",
              "location": "query"
            },
            "model": {
              "type": "string",
              "description": "The model type for which supported languages should be returned.",
              "location": "query"
            }
          },
          "response": {
            "$ref": "LanguagesListResponse"
          }
        }
      }
    },
    "translations": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "id": "language.translations.list",
          "path": "v2",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "parameters": {
            "source": {
              "type": "string",
              "description": "The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.",
              "location": "query"
            },
            "target": {
              "type": "string",
              "description": "The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.",
              "required": true,
              "location": "query"
            },
            "model": {
              "location": "query",
              "type": "string",
              "description": "The `model` type requested for this translation. Valid values are\nlisted in public documentation."
            },
            "format": {
              "description": "The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.",
              "type": "string",
              "enum": [
                "html",
                "text"
              ],
              "enumDescriptions": [
                "Specifies the input is in HTML",
                "Specifies the input is in plain textual format"
              ],
              "location": "query"
            },
            "cid": {
              "type": "string",
              "description": "The customization id for translate",
              "repeated": true,
              "location": "query"
            },
            "q": {
              "type": "string",
              "description": "The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.",
              "repeated": true,
              "required": true,
              "location": "query"
            }
          },
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameterOrder": [
            "q",
            "target"
          ],
          "description": "Translates input text, returning translated text."
        },
        "translate": {
          "description": "Translates input text, returning translated text.",
          "id": "language.translations.translate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-translation",
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "response": {
            "$ref": "TranslationsListResponse"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "TranslateTextRequest"
          },
          "httpMethod": "POST",
          "path": "v2",
          "parameters": {}
        }
      }
    }
  },
  "baseUrl": "https://translation.googleapis.com/language/translate/",
  "documentationLink": "https://code.google.com/apis/language/translate/v2/getting_started.html"
}