{
  "protocol": "rest",
  "basePath": "",
  "title": "Travel Impact Model API",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://travelimpactmodel.googleapis.com/",
  "name": "travelimpactmodel",
  "discoveryVersion": "v1",
  "resources": {
    "flights": {
      "methods": {
        "computeTypicalFlightEmissions": {
          "path": "v1/flights:computeTypicalFlightEmissions",
          "httpMethod": "POST",
          "flatPath": "v1/flights:computeTypicalFlightEmissions",
          "parameterOrder": [],
          "request": {
            "$ref": "ComputeTypicalFlightEmissionsRequest"
          },
          "response": {
            "$ref": "ComputeTypicalFlightEmissionsResponse"
          },
          "id": "travelimpactmodel.flights.computeTypicalFlightEmissions",
          "parameters": {},
          "description": "Retrieves typical flight emissions estimates between two airports, also known as a market. If there are no estimates available for a certain market, the response will return the market object with empty emission fields. The request will still be considered successful. Details on how the typical emissions estimates are computed are on [GitHub](https://github.com/google/travel-impact-model/blob/main/projects/typical_flight_emissions.md). The request can contain up to 1000 markets. If the request has more than 1000 markets, it will fail with an INVALID_ARGUMENT error."
        },
        "computeFlightEmissions": {
          "flatPath": "v1/flights:computeFlightEmissions",
          "parameterOrder": [],
          "request": {
            "$ref": "ComputeFlightEmissionsRequest"
          },
          "response": {
            "$ref": "ComputeFlightEmissionsResponse"
          },
          "path": "v1/flights:computeFlightEmissions",
          "httpMethod": "POST",
          "parameters": {},
          "description": "Stateless method to retrieve emission estimates. Details on how emission estimates are computed are in [GitHub](https://github.com/google/travel-impact-model) The response will contain all entries that match the input flight legs, in the same order. If there are no estimates available for a certain flight leg, the response will return the flight leg object with empty emission fields. The request will still be considered successful. Reasons for missing emission estimates include: * The flight is unknown to the server. * The input flight leg is missing one or more identifiers. * The flight date is in the past. * The aircraft type is not supported by the model. * Missing seat configuration. The request can contain up to 1000 flight legs. If the request has more than 1000 direct flights, if will fail with an INVALID_ARGUMENT error.",
          "id": "travelimpactmodel.flights.computeFlightEmissions"
        },
        "computeScope3FlightEmissions": {
          "description": "Stateless method to retrieve GHG emissions estimates for a set of flight segments for Scope 3 reporting. The response will contain all entries that match the input Scope3FlightSegment flight segments, in the same order provided. The estimates will be computed using the following cascading logic (using the first one that is available): 1. TIM-based emissions given origin, destination, carrier, flightNumber, departureDate, and cabinClass. 2. Typical flight emissions given origin, destination, year in departureDate, and cabinClass. 3. Distance-based emissions calculated using distanceKm, year in departureDate, and cabinClass. If there is a future flight requested in this calendar year, we do not support Tier 1 emissions and will fallback to Tier 2 or 3 emissions. If the requested future flight is in not in this calendar year, we will return an empty response. We recommend that for future flights, computeFlightEmissions API is used instead. If there are no estimates available for a certain flight with any of the three methods, the response will return a Scope3FlightEmissions object with empty emission fields. The request will still be considered successful. Generally, missing emissions estimates occur when the flight is unknown to the server (e.g. no specific flight exists, or typical flight emissions are not available for the requested pair). The request will fail with an `INVALID_ARGUMENT` error if: * The request contains more than 1,000 flight legs. * The input flight leg is missing one or more identifiers. For example, missing origin/destination without a valid distance for TIM_EMISSIONS or TYPICAL_FLIGHT_EMISSIONS type matching, or missing distance for a DISTANCE_BASED_EMISSIONS type matching (if you want to fallback to distance-based emissions or want a distance-based emissions estimate, you need to specify a distance). * The flight date is before 2019 (Scope 3 data is only available for 2019 and after). * The flight distance is 0 or lower. * Missing cabin class. Because the request is processed with fallback logic, it is possible that misconfigured requests return valid emissions estimates using fallback methods. For example, if a request has the wrong flight number but specifies the origin and destination, the request will still succeed, but the returned emissions will be based solely on the typical flight emissions. Similarly, if a request is missing the origin for a typical flight emissions request, but specifies a valid distance, the request could succeed based solely on the distance-based emissions. Consequently, one should check the source of the returned emissions (source) to confirm the results are as expected.",
          "parameters": {},
          "id": "travelimpactmodel.flights.computeScope3FlightEmissions",
          "flatPath": "v1/flights:computeScope3FlightEmissions",
          "parameterOrder": [],
          "request": {
            "$ref": "ComputeScope3FlightEmissionsRequest"
          },
          "response": {
            "$ref": "ComputeScope3FlightEmissionsResponse"
          },
          "path": "v1/flights:computeScope3FlightEmissions",
          "httpMethod": "POST"
        }
      }
    }
  },
  "servicePath": "",
  "baseUrl": "https://travelimpactmodel.googleapis.com/",
  "version": "v1",
  "mtlsRootUrl": "https://travelimpactmodel.mtls.googleapis.com/",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "id": "travelimpactmodel:v1",
  "kind": "discovery#restDescription",
  "revision": "20260311",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "schemas": {
    "ComputeTypicalFlightEmissionsRequest": {
      "id": "ComputeTypicalFlightEmissionsRequest",
      "properties": {
        "markets": {
          "description": "Required. Request the typical flight emissions estimates for this market pair. A maximum of 1000 markets can be requested.",
          "type": "array",
          "items": {
            "$ref": "Market"
          }
        }
      },
      "description": "A list of pair of airports (markets) to request the typical emissions for.",
      "type": "object"
    },
    "ComputeScope3FlightEmissionsRequest": {
      "type": "object",
      "description": "A list of flight segments to request the Scope 3 emissions for.",
      "id": "ComputeScope3FlightEmissionsRequest",
      "properties": {
        "modelVersion": {
          "$ref": "ModelVersion",
          "description": "Optional. The model version under which emission estimates for all flights in this request were computed."
        },
        "flights": {
          "type": "array",
          "items": {
            "$ref": "Scope3FlightSegment"
          },
          "description": "Required. Flights to return emission estimates for."
        }
      }
    },
    "Scope3FlightEmissions": {
      "type": "object",
      "description": "Scope 3 flight with emission estimates.",
      "id": "Scope3FlightEmissions",
      "properties": {
        "wtwEmissionsGramsPerPax": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Total flight emissions (sum of well-to-tank and tank-to-wake) per passenger based on the requested info. This is the total emissions and unless you have specific reasons for using TTW or WTT emissions, you should use this number."
        },
        "flight": {
          "$ref": "Scope3FlightSegment",
          "description": "Required. Matches the flight identifiers in the request."
        },
        "ttwEmissionsGramsPerPax": {
          "description": "Optional. Tank-to-wake flight emissions per passenger based on the requested info.",
          "type": "string",
          "format": "int64"
        },
        "source": {
          "enum": [
            "SCOPE3_DATA_TYPE_UNSPECIFIED",
            "TIM_EMISSIONS",
            "TYPICAL_FLIGHT_EMISSIONS",
            "DISTANCE_BASED_EMISSIONS"
          ],
          "enumDescriptions": [
            "Unspecified data type.",
            "TIM-based emissions given origin, destination, carrier, flight number, departure date, and year.",
            "Typical flight emissions given origin, destination, and year.",
            "Distance-based emissions based on the distance traveled and year."
          ],
          "description": "Optional. The source of the emissions data.",
          "type": "string"
        },
        "wttEmissionsGramsPerPax": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Well-to-tank flight emissions per passenger based on the requested info."
        }
      }
    },
    "ComputeFlightEmissionsRequest": {
      "description": "Input definition for the ComputeFlightEmissions request.",
      "type": "object",
      "id": "ComputeFlightEmissionsRequest",
      "properties": {
        "flights": {
          "type": "array",
          "items": {
            "$ref": "Flight"
          },
          "description": "Required. Direct flights to return emission estimates for."
        }
      }
    },
    "EasaLabelMetadata": {
      "id": "EasaLabelMetadata",
      "properties": {
        "labelIssueDate": {
          "description": "The date when the label was issued.",
          "$ref": "Date"
        },
        "safDiscountPercentage": {
          "description": "Sustainable Aviation Fuel (SAF) emissions discount percentage applied to the label. It is a percentage as a decimal. The values are in the interval [0,1]. For example, 0.0021 means 0.21%. This discount and reduction in emissions are reported by the EASA label but they are not included in the CO2e estimates distributed by this API.",
          "type": "number",
          "format": "double"
        },
        "labelVersion": {
          "type": "string",
          "description": "Version of the label."
        },
        "labelExpiryDate": {
          "description": "The date when the label expires. The label can be displayed until the end of this date.",
          "$ref": "Date"
        }
      },
      "description": "Metadata about the EASA Flight Emissions Label.",
      "type": "object"
    },
    "Date": {
      "id": "Date",
      "properties": {
        "year": {
          "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
          "type": "integer",
          "format": "int32"
        },
        "day": {
          "type": "integer",
          "format": "int32",
          "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant."
        },
        "month": {
          "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp"
    },
    "TypicalFlightEmissions": {
      "id": "TypicalFlightEmissions",
      "properties": {
        "emissionsGramsPerPax": {
          "$ref": "EmissionsGramsPerPax",
          "description": "Optional. Typical flight emissions per passenger for requested market. Will not be present if a typical emissions could not be computed. For the list of reasons why typical flight emissions could not be computed, see [GitHub](https://github.com/google/travel-impact-model/blob/main/projects/typical_flight_emissions.md#step-7-validate-dataset)."
        },
        "market": {
          "$ref": "Market",
          "description": "Required. Matches the flight identifiers in the request. Note: all IATA codes are capitalized."
        }
      },
      "description": "Typical flight emission estimates for a certain market",
      "type": "object"
    },
    "Scope3FlightSegment": {
      "id": "Scope3FlightSegment",
      "properties": {
        "origin": {
          "description": "Optional. 3-character [IATA airport code](https://www.iata.org/en/publications/directories/code-search/) for flight origin, e.g. `YVR`. This is used to match specific flight if provided alongside destination, carrier, and flight number. If there is no match, we will first try to match the flight to a typical flight between the provided origin and destination airports. Otherwise, we will use the distance-based emissions model if the flight distance is provided.",
          "type": "string"
        },
        "departureDate": {
          "description": "Required. Date of the flight in the time zone of the origin airport. Only year is required for typical flight and distance-based emissions models (month and day values are ignored and therefore, can be either omitted, set to 0, or set to a valid date for those cases). Correspondingly, if a specific date is not provided for TIM emissions, we will fallback to typical flight (or distance-based) emissions.",
          "$ref": "Date"
        },
        "cabinClass": {
          "enumDescriptions": [
            "Unspecified cabin class.",
            "Economy class.",
            "Premium economy class.",
            "Business class.",
            "First class."
          ],
          "enum": [
            "CABIN_CLASS_UNSPECIFIED",
            "ECONOMY",
            "PREMIUM_ECONOMY",
            "BUSINESS",
            "FIRST"
          ],
          "type": "string",
          "description": "Required. The cabin class of the flight."
        },
        "carrierCode": {
          "description": "Optional. 2-character [IATA carrier code](https://www.iata.org/en/publications/directories/code-search/), e.g. `KE`. This is required if specific flight matching is desired. Otherwise, this is unused for typical flight and distance-based emissions models. This could be both operating and marketing carrier code (i.e. codeshare is covered).",
          "type": "string"
        },
        "flightNumber": {
          "description": "Optional. Up to 4-digit [flight number](https://en.wikipedia.org/wiki/Flight_number), e.g. `71`, from [1, 9999]. This is first used to match a specific flight if a flight number is specified alongside origin, destination, and carrier. If a flight number is not specified, we will first try to match the flight to a typical flight between the provided origin and destination airports. If that fails and/or origin & destination are not provided, we will use the distance-based emissions model based on the flight distance provided.",
          "type": "integer",
          "format": "int32"
        },
        "destination": {
          "type": "string",
          "description": "Optional. 3-character [IATA airport code](https://www.iata.org/en/publications/directories/code-search/) for flight destination, e.g. `ICN`. This is used to match specific flight if provided alongside origin, carrier, and flight number. If there is no match, we will first try to match the flight to a typical flight between the provided origin and destination airports. Otherwise, we will use the distance-based emissions model if the flight distance is provided."
        },
        "distanceKm": {
          "type": "string",
          "format": "int64",
          "description": "Optional. Distance in kilometers, e.g. `2423`, from [1, 2.5e16) km. This is used to match a flight to distance-based emissions when origin and destination are not provided or there are no matching typical flights."
        }
      },
      "type": "object",
      "description": "Flight parameters with which the Scope 3 emissions are fetched."
    },
    "FlightWithEmissions": {
      "type": "object",
      "description": "Direct flight with emission estimates.",
      "id": "FlightWithEmissions",
      "properties": {
        "flight": {
          "$ref": "Flight",
          "description": "Required. Matches the flight identifiers in the request. Note: all IATA codes are capitalized."
        },
        "source": {
          "enumDescriptions": [
            "The source of the emissions data is unspecified.",
            "The emissions data is from the Travel Impact Model.",
            "The emissions data is from the EASA environmental labels."
          ],
          "enum": [
            "SOURCE_UNSPECIFIED",
            "TIM",
            "EASA"
          ],
          "type": "string",
          "description": "Optional. The source of the emissions data."
        },
        "emissionsGramsPerPax": {
          "description": "Optional. Per-passenger emission estimate numbers. Will not be present if emissions could not be computed. For the list of reasons why emissions could not be computed, see ComputeFlightEmissions.",
          "$ref": "EmissionsGramsPerPax"
        },
        "easaLabelMetadata": {
          "$ref": "EasaLabelMetadata",
          "description": "Optional. Metadata about the EASA Flight Emissions Label. Only set when the emissions data source is EASA."
        },
        "contrailsImpactBucket": {
          "enumDescriptions": [
            "The contrails impact is unspecified.",
            "The contrails impact is negligible compared to the total CO2e emissions.",
            "The contrails impact is comparable to the total CO2e emissions.",
            "The contrails impact is higher than the total CO2e emissions impact."
          ],
          "enum": [
            "CONTRAILS_IMPACT_UNSPECIFIED",
            "CONTRAILS_IMPACT_NEGLIGIBLE",
            "CONTRAILS_IMPACT_MODERATE",
            "CONTRAILS_IMPACT_SEVERE"
          ],
          "type": "string",
          "description": "Optional. The significance of contrails warming impact compared to the total CO2e emissions impact."
        }
      }
    },
    "ModelVersion": {
      "description": "Travel Impact Model version. For more information about the model versioning see [GitHub](https://github.com/google/travel-impact-model/#versioning).",
      "type": "object",
      "id": "ModelVersion",
      "properties": {
        "major": {
          "type": "integer",
          "format": "int32",
          "description": "Major versions: Major changes to methodology (e.g. adding new data sources to the model that lead to major output changes). Such changes will be infrequent and announced well in advance. Might involve API version changes, which will respect [Google Cloud API guidelines](https://cloud.google.com/endpoints/docs/openapi/versioning-an-api#backwards-incompatible)"
        },
        "patch": {
          "type": "integer",
          "format": "int32",
          "description": "Patch versions: Implementation changes meant to address bugs or inaccuracies in the model implementation."
        },
        "dated": {
          "description": "Dated versions: Model datasets are recreated with refreshed input data but no change to the algorithms regularly.",
          "type": "string"
        },
        "minor": {
          "description": "Minor versions: Changes to the model that, while being consistent across schema versions, change the model parameters or implementation.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "ComputeScope3FlightEmissionsResponse": {
      "type": "object",
      "description": "A list of flights with Scope 3 emission estimates.",
      "id": "ComputeScope3FlightEmissionsResponse",
      "properties": {
        "flightEmissions": {
          "description": "List of flight segments with emission estimates.",
          "type": "array",
          "items": {
            "$ref": "Scope3FlightEmissions"
          }
        },
        "modelVersion": {
          "$ref": "ModelVersion",
          "description": "The model version under which emission estimates for all flights in this response were computed."
        }
      }
    },
    "ComputeFlightEmissionsResponse": {
      "id": "ComputeFlightEmissionsResponse",
      "properties": {
        "flightEmissions": {
          "type": "array",
          "items": {
            "$ref": "FlightWithEmissions"
          },
          "description": "List of flight legs with emission estimates."
        },
        "modelVersion": {
          "description": "The model version under which emission estimates for all flights in this response were computed.",
          "$ref": "ModelVersion"
        }
      },
      "description": "Output definition for the ComputeFlightEmissions response.",
      "type": "object"
    },
    "Market": {
      "description": "A pair of airports.",
      "type": "object",
      "id": "Market",
      "properties": {
        "origin": {
          "type": "string",
          "description": "Required. IATA airport code for flight origin, e.g. \"LHR\"."
        },
        "destination": {
          "description": "Required. IATA airport code for flight destination, e.g. \"JFK\".",
          "type": "string"
        }
      }
    },
    "Flight": {
      "id": "Flight",
      "properties": {
        "operatingCarrierCode": {
          "type": "string",
          "description": "Required. IATA carrier code, e.g. \"AA\"."
        },
        "destination": {
          "description": "Required. IATA airport code for flight destination, e.g. \"JFK\".",
          "type": "string"
        },
        "departureDate": {
          "$ref": "Date",
          "description": "Required. Date of the flight in the time zone of the origin airport. Must be a date in the present or future."
        },
        "flightNumber": {
          "description": "Required. Flight number, e.g. 324.",
          "type": "integer",
          "format": "int32"
        },
        "origin": {
          "description": "Required. IATA airport code for flight origin, e.g. \"LHR\".",
          "type": "string"
        }
      },
      "description": "All details related to a single request item for a direct flight emission estimates.",
      "type": "object"
    },
    "ComputeTypicalFlightEmissionsResponse": {
      "id": "ComputeTypicalFlightEmissionsResponse",
      "properties": {
        "typicalFlightEmissions": {
          "description": "Market's Typical Flight Emissions requested.",
          "type": "array",
          "items": {
            "$ref": "TypicalFlightEmissions"
          }
        },
        "modelVersion": {
          "$ref": "ModelVersion",
          "description": "The model version under which typical flight emission estimates for all flights in this response were computed."
        }
      },
      "description": "The response includes the emissions but also the model version.",
      "type": "object"
    },
    "EmissionsGramsPerPax": {
      "type": "object",
      "description": "Grouped emissions per seating class results.",
      "id": "EmissionsGramsPerPax",
      "properties": {
        "business": {
          "type": "integer",
          "format": "int32",
          "description": "Emissions for one passenger in business class in grams. This field is always computed and populated, regardless of whether the aircraft has business class seats or not."
        },
        "first": {
          "description": "Emissions for one passenger in first class in grams. This field is always computed and populated, regardless of whether the aircraft has first class seats or not.",
          "type": "integer",
          "format": "int32"
        },
        "premiumEconomy": {
          "type": "integer",
          "format": "int32",
          "description": "Emissions for one passenger in premium economy class in grams. This field is always computed and populated, regardless of whether the aircraft has premium economy class seats or not."
        },
        "economy": {
          "type": "integer",
          "format": "int32",
          "description": "Emissions for one passenger in economy class in grams. This field is always computed and populated, regardless of whether the aircraft has economy class seats or not."
        }
      }
    }
  },
  "canonicalName": "Travel Impact Model",
  "batchPath": "batch",
  "description": "Travel Impact Model API lets you query travel carbon emission estimates.",
  "documentationLink": "https://developers.google.com/travel/impact-model"
}