{
  "discoveryVersion": "v1",
  "version": "v1",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "documentationLink": "https://developers.google.com/workspace/vault",
  "batchPath": "batch",
  "version_module": true,
  "resources": {
    "operations": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Operation"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameterOrder": [
            "name"
          ],
          "id": "vault.operations.get",
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "required": true,
              "type": "string",
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource."
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
        },
        "list": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "flatPath": "v1/operations",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "parameters": {
            "name": {
              "type": "string",
              "required": true,
              "description": "The name of the operation's parent resource.",
              "pattern": "^operations$",
              "location": "path"
            },
            "pageSize": {
              "format": "int32",
              "location": "query",
              "type": "integer",
              "description": "The standard list page size."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The standard list page token."
            },
            "filter": {
              "location": "query",
              "description": "The standard list filter.",
              "type": "string"
            },
            "returnPartialSuccess": {
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query"
            }
          },
          "path": "v1/{+name}",
          "httpMethod": "GET",
          "id": "vault.operations.list"
        },
        "delete": {
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "pattern": "^operations/.*$",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "flatPath": "v1/operations/{operationsId}",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "id": "vault.operations.delete",
          "path": "v1/{+name}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "name"
          ],
          "response": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ]
        },
        "cancel": {
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/operations/{operationsId}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource to be cancelled.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "path": "v1/{+name}:cancel",
          "httpMethod": "POST",
          "id": "vault.operations.cancel"
        }
      }
    },
    "matters": {
      "methods": {
        "undelete": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": [
            "matterId"
          ],
          "path": "v1/matters/{matterId}:undelete",
          "httpMethod": "POST",
          "id": "vault.matters.undelete",
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "flatPath": "v1/matters/{matterId}:undelete",
          "description": "Undeletes the specified matter. Returns the matter with updated state.",
          "parameters": {
            "matterId": {
              "type": "string",
              "description": "The matter ID.",
              "required": true,
              "location": "path"
            }
          }
        },
        "delete": {
          "parameters": {
            "matterId": {
              "type": "string",
              "description": "The matter ID",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/matters/{matterId}",
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "id": "vault.matters.delete",
          "path": "v1/matters/{matterId}",
          "httpMethod": "DELETE",
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "Matter"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ]
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "response": {
            "$ref": "ListMattersResponse"
          },
          "parameterOrder": [],
          "path": "v1/matters",
          "httpMethod": "GET",
          "id": "vault.matters.list",
          "flatPath": "v1/matters",
          "description": "Lists matters the requestor has access to.",
          "parameters": {
            "view": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "description": "Specifies how much information about the matter to return in response.",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ]
            },
            "state": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ]
            },
            "pageToken": {
              "description": "The pagination token as returned in the response.",
              "type": "string",
              "location": "query"
            },
            "pageSize": {
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            }
          }
        },
        "update": {
          "id": "vault.matters.update",
          "path": "v1/matters/{matterId}",
          "httpMethod": "PUT",
          "parameters": {
            "matterId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The matter ID."
            }
          },
          "flatPath": "v1/matters/{matterId}",
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter.",
          "request": {
            "$ref": "Matter"
          },
          "response": {
            "$ref": "Matter"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameterOrder": [
            "matterId"
          ]
        },
        "removePermissions": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "Empty"
          },
          "parameterOrder": [
            "matterId"
          ],
          "path": "v1/matters/{matterId}:removePermissions",
          "httpMethod": "POST",
          "id": "vault.matters.removePermissions",
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "flatPath": "v1/matters/{matterId}:removePermissions",
          "description": "Removes an account as a matter collaborator.",
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "type": "string",
              "location": "path",
              "required": true
            }
          }
        },
        "close": {
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "CloseMatterResponse"
          },
          "parameterOrder": [
            "matterId"
          ],
          "path": "v1/matters/{matterId}:close",
          "httpMethod": "POST",
          "id": "vault.matters.close",
          "flatPath": "v1/matters/{matterId}:close",
          "description": "Closes the specified matter. Returns the matter with updated state.",
          "parameters": {
            "matterId": {
              "location": "path",
              "required": true,
              "description": "The matter ID.",
              "type": "string"
            }
          },
          "request": {
            "$ref": "CloseMatterRequest"
          }
        },
        "reopen": {
          "parameterOrder": [
            "matterId"
          ],
          "response": {
            "$ref": "ReopenMatterResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "parameters": {
            "matterId": {
              "type": "string",
              "description": "The matter ID.",
              "required": true,
              "location": "path"
            }
          },
          "flatPath": "v1/matters/{matterId}:reopen",
          "description": "Reopens the specified matter. Returns the matter with updated state.",
          "id": "vault.matters.reopen",
          "path": "v1/matters/{matterId}:reopen",
          "httpMethod": "POST"
        },
        "get": {
          "response": {
            "$ref": "Matter"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameterOrder": [
            "matterId"
          ],
          "id": "vault.matters.get",
          "path": "v1/matters/{matterId}",
          "httpMethod": "GET",
          "parameters": {
            "matterId": {
              "location": "path",
              "required": true,
              "description": "The matter ID.",
              "type": "string"
            },
            "view": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "Specifies how much information about the matter to return in the response."
            }
          },
          "flatPath": "v1/matters/{matterId}",
          "description": "Gets the specified matter."
        },
        "addPermissions": {
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "description": "Adds an account as a matter collaborator.",
          "parameters": {
            "matterId": {
              "type": "string",
              "description": "The matter ID.",
              "required": true,
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          },
          "path": "v1/matters/{matterId}:addPermissions",
          "httpMethod": "POST",
          "id": "vault.matters.addPermissions",
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "MatterPermission"
          }
        },
        "count": {
          "path": "v1/matters/{matterId}:count",
          "httpMethod": "POST",
          "id": "vault.matters.count",
          "flatPath": "v1/matters/{matterId}:count",
          "description": "Counts the accounts processed by the specified query.",
          "parameters": {
            "matterId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The matter ID."
            }
          },
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "Operation"
          },
          "parameterOrder": [
            "matterId"
          ]
        },
        "create": {
          "path": "v1/matters",
          "httpMethod": "POST",
          "id": "vault.matters.create",
          "request": {
            "$ref": "Matter"
          },
          "flatPath": "v1/matters",
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "response": {
            "$ref": "Matter"
          },
          "parameterOrder": []
        }
      },
      "resources": {
        "savedQueries": {
          "methods": {
            "create": {
              "parameterOrder": [
                "matterId"
              ],
              "response": {
                "$ref": "SavedQuery"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "request": {
                "$ref": "SavedQuery"
              },
              "parameters": {
                "matterId": {
                  "description": "The ID of the matter to create the saved query in.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "description": "Creates a saved query.",
              "id": "vault.matters.savedQueries.create",
              "path": "v1/matters/{matterId}/savedQueries",
              "httpMethod": "POST"
            },
            "delete": {
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "description": "Deletes the specified saved query.",
              "parameters": {
                "matterId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the matter to delete the saved query from."
                },
                "savedQueryId": {
                  "type": "string",
                  "description": "ID of the saved query to delete.",
                  "required": true,
                  "location": "path"
                }
              },
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "DELETE",
              "id": "vault.matters.savedQueries.delete",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "list": {
              "id": "vault.matters.savedQueries.list",
              "path": "v1/matters/{matterId}/savedQueries",
              "httpMethod": "GET",
              "parameters": {
                "pageSize": {
                  "format": "int32",
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of saved queries to return."
                },
                "pageToken": {
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning.",
                  "type": "string",
                  "location": "query"
                },
                "matterId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The ID of the matter to get the saved queries for."
                }
              },
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "description": "Lists the saved queries in a matter.",
              "response": {
                "$ref": "ListSavedQueriesResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "parameterOrder": [
                "matterId"
              ]
            },
            "get": {
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "GET",
              "id": "vault.matters.savedQueries.get",
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "description": "Retrieves the specified saved query.",
              "parameters": {
                "matterId": {
                  "type": "string",
                  "description": "The ID of the matter to get the saved query from.",
                  "required": true,
                  "location": "path"
                },
                "savedQueryId": {
                  "location": "path",
                  "required": true,
                  "description": "ID of the saved query to retrieve.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "response": {
                "$ref": "SavedQuery"
              },
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ]
            }
          }
        },
        "exports": {
          "methods": {
            "create": {
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "Export"
              },
              "request": {
                "$ref": "Export"
              },
              "flatPath": "v1/matters/{matterId}/exports",
              "description": "Creates an export.",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                }
              },
              "path": "v1/matters/{matterId}/exports",
              "httpMethod": "POST",
              "id": "vault.matters.exports.create"
            },
            "delete": {
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "httpMethod": "DELETE",
              "id": "vault.matters.exports.delete",
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "description": "Deletes an export.",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                },
                "exportId": {
                  "location": "path",
                  "required": true,
                  "description": "The export ID.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "Empty"
              },
              "parameterOrder": [
                "matterId",
                "exportId"
              ]
            },
            "list": {
              "flatPath": "v1/matters/{matterId}/exports",
              "description": "Lists details about the exports in the specified matter.",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The pagination token as returned in the response.",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "description": "The number of exports to return in the response.",
                  "type": "integer"
                },
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                }
              },
              "path": "v1/matters/{matterId}/exports",
              "httpMethod": "GET",
              "id": "vault.matters.exports.list",
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "response": {
                "$ref": "ListExportsResponse"
              }
            },
            "get": {
              "parameterOrder": [
                "matterId",
                "exportId"
              ],
              "response": {
                "$ref": "Export"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "parameters": {
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                },
                "exportId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The export ID."
                }
              },
              "flatPath": "v1/matters/{matterId}/exports/{exportId}",
              "description": "Gets an export.",
              "id": "vault.matters.exports.get",
              "path": "v1/matters/{matterId}/exports/{exportId}",
              "httpMethod": "GET"
            }
          }
        },
        "holds": {
          "resources": {
            "accounts": {
              "methods": {
                "create": {
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "POST",
                  "id": "vault.matters.holds.accounts.create",
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned.",
                  "parameters": {
                    "matterId": {
                      "location": "path",
                      "required": true,
                      "description": "The matter ID.",
                      "type": "string"
                    },
                    "holdId": {
                      "location": "path",
                      "required": true,
                      "description": "The hold ID.",
                      "type": "string"
                    }
                  },
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "parameters": {
                    "matterId": {
                      "description": "The matter ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "accountId": {
                      "required": true,
                      "location": "path",
                      "type": "string",
                      "description": "The ID of the account to remove from the hold."
                    },
                    "holdId": {
                      "location": "path",
                      "required": true,
                      "description": "The hold ID.",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "description": "Removes an account from a hold.",
                  "id": "vault.matters.holds.accounts.delete",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "httpMethod": "DELETE"
                },
                "list": {
                  "id": "vault.matters.holds.accounts.list",
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "GET",
                  "parameters": {
                    "matterId": {
                      "description": "The matter ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "holdId": {
                      "description": "The hold ID.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold.",
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ]
                }
              }
            }
          },
          "methods": {
            "create": {
              "parameters": {
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                }
              },
              "flatPath": "v1/matters/{matterId}/holds",
              "description": "Creates a hold in the specified matter.",
              "request": {
                "$ref": "Hold"
              },
              "id": "vault.matters.holds.create",
              "path": "v1/matters/{matterId}/holds",
              "httpMethod": "POST",
              "parameterOrder": [
                "matterId"
              ],
              "response": {
                "$ref": "Hold"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "id": "vault.matters.holds.delete",
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "DELETE",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                },
                "holdId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The hold ID."
                }
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Removes the specified hold and releases the accounts or organizational unit covered by the hold. If the data is not preserved by another hold or retention rule, it might be purged."
            },
            "list": {
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "type": "string"
                },
                "pageSize": {
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100.",
                  "type": "integer",
                  "location": "query",
                  "format": "int32"
                },
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "description": "The amount of detail to return for a hold.",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ]
                }
              },
              "flatPath": "v1/matters/{matterId}/holds",
              "description": "Lists the holds in a matter.",
              "id": "vault.matters.holds.list",
              "path": "v1/matters/{matterId}/holds",
              "httpMethod": "GET",
              "parameterOrder": [
                "matterId"
              ],
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ]
            },
            "update": {
              "id": "vault.matters.holds.update",
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "PUT",
              "request": {
                "$ref": "Hold"
              },
              "parameters": {
                "matterId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The matter ID."
                },
                "holdId": {
                  "type": "string",
                  "description": "The ID of the hold.",
                  "required": true,
                  "location": "path"
                }
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Updates the scope (organizational unit or accounts) and query parameters of a hold. You cannot add accounts to a hold that covers an organizational unit, nor can you add organizational units to a hold that covers individual accounts. If you try, the unsupported values are ignored.",
              "response": {
                "$ref": "Hold"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameterOrder": [
                "matterId",
                "holdId"
              ]
            },
            "get": {
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "response": {
                "$ref": "Hold"
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "GET",
              "id": "vault.matters.holds.get",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Gets the specified hold.",
              "parameters": {
                "holdId": {
                  "description": "The hold ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "matterId": {
                  "location": "path",
                  "required": true,
                  "description": "The matter ID.",
                  "type": "string"
                },
                "view": {
                  "type": "string",
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "description": "The amount of detail to return for a hold."
                }
              }
            },
            "addHeldAccounts": {
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "holdId": {
                  "description": "The hold ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold.",
              "request": {
                "$ref": "AddHeldAccountsRequest"
              },
              "id": "vault.matters.holds.addHeldAccounts",
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "httpMethod": "POST",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "response": {
                "$ref": "AddHeldAccountsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ]
            },
            "removeHeldAccounts": {
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "response": {
                "$ref": "RemoveHeldAccountsResponse"
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "description": "Removes the specified accounts from a hold. Returns a list of statuses in the same order as the request.",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "holdId": {
                  "required": true,
                  "location": "path",
                  "type": "string",
                  "description": "The hold ID."
                }
              },
              "request": {
                "$ref": "RemoveHeldAccountsRequest"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "httpMethod": "POST",
              "id": "vault.matters.holds.removeHeldAccounts"
            }
          }
        }
      }
    }
  },
  "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them. ",
  "ownerName": "Google",
  "id": "vault:v1",
  "servicePath": "",
  "name": "vault",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    }
  },
  "baseUrl": "https://vault.googleapis.com/",
  "title": "Google Vault API",
  "schemas": {
    "RemoveHeldAccountsRequest": {
      "description": "Remove a list of accounts from a hold.",
      "properties": {
        "accountIds": {
          "items": {
            "type": "string"
          },
          "description": "The account IDs of the accounts to remove from the hold.",
          "type": "array"
        }
      },
      "id": "RemoveHeldAccountsRequest",
      "type": "object"
    },
    "ListHeldAccountsResponse": {
      "id": "ListHeldAccountsResponse",
      "type": "object",
      "description": "Returns a list of the accounts covered by a hold.",
      "properties": {
        "accounts": {
          "items": {
            "$ref": "HeldAccount"
          },
          "type": "array",
          "description": "The held accounts on a hold."
        }
      }
    },
    "CloudStorageFile": {
      "description": "The export file in Cloud Storage",
      "properties": {
        "size": {
          "format": "int64",
          "description": "The export file size.",
          "type": "string"
        },
        "md5Hash": {
          "description": "The md5 hash of the file.",
          "type": "string"
        },
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        },
        "objectName": {
          "type": "string",
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api)."
        }
      },
      "id": "CloudStorageFile",
      "type": "object"
    },
    "CalendarExportOptions": {
      "description": "The options for Calendar exports.",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported text messages.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ]
        }
      },
      "id": "CalendarExportOptions",
      "type": "object"
    },
    "RemoveHeldAccountsResponse": {
      "id": "RemoveHeldAccountsResponse",
      "type": "object",
      "description": "Response for batch delete held accounts.",
      "properties": {
        "statuses": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request."
        }
      }
    },
    "SharedDriveInfo": {
      "id": "SharedDriveInfo",
      "type": "object",
      "description": "The shared drives to search",
      "properties": {
        "sharedDriveIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of shared drive IDs, as provided by the [Drive API](https://developers.google.com/drive)."
        }
      }
    },
    "HeldAccount": {
      "id": "HeldAccount",
      "type": "object",
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "holdTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. When the account was put on hold."
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**."
        },
        "firstName": {
          "type": "string",
          "description": "Output only. The first name of the account holder."
        },
        "lastName": {
          "type": "string",
          "description": "Output only. The last name of the account holder."
        }
      }
    },
    "SitesUrlInfo": {
      "description": "The published site URLs of new Google Sites to search",
      "properties": {
        "urls": {
          "description": "A list of published site URLs.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SitesUrlInfo",
      "type": "object"
    },
    "Export": {
      "id": "Export",
      "type": "object",
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        },
        "exportOptions": {
          "$ref": "ExportOptions",
          "description": "Additional export options."
        },
        "cloudStorageSink": {
          "description": "Output only. The sink for export files in Cloud Storage.",
          "$ref": "CloudStorageSink"
        },
        "name": {
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports.",
          "type": "string"
        },
        "stats": {
          "$ref": "ExportStats",
          "description": "Output only. Details about the export progress and size."
        },
        "matterId": {
          "description": "Output only. The matter ID.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time when the export was created.",
          "format": "google-datetime"
        },
        "id": {
          "description": "Output only. The generated export ID.",
          "type": "string"
        },
        "parentExportId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifies the parent export that spawned this child export. This is only set on child exports."
        },
        "query": {
          "$ref": "Query",
          "description": "The query parameters used to create the export."
        },
        "status": {
          "description": "Output only. The status of the export.",
          "type": "string",
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ],
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ]
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GroupsCountResult": {
      "id": "GroupsCountResult",
      "type": "object",
      "description": "Groups specific count metrics.",
      "properties": {
        "accountCountErrors": {
          "type": "array",
          "description": "Error occurred when querying these accounts.",
          "items": {
            "$ref": "AccountCountError"
          }
        },
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        },
        "accountCounts": {
          "items": {
            "$ref": "AccountCount"
          },
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array"
        },
        "nonQueryableAccounts": {
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "DriveOptions": {
      "id": "DriveOptions",
      "type": "object",
      "description": "Additional options for Drive search.",
      "properties": {
        "includeTeamDrives": {
          "deprecated": true,
          "description": "Set to true to include Team Drive.",
          "type": "boolean"
        },
        "versionDate": {
          "format": "google-datetime",
          "type": "string",
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC."
        },
        "clientSideEncryptedOption": {
          "type": "string",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive.",
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ]
        },
        "includeSharedDrives": {
          "description": "Set to **true** to include shared drives.",
          "type": "boolean",
          "deprecated": true
        },
        "sharedDrivesOption": {
          "enumDescriptions": [
            "No shared drive option specified.",
            "If a resource is in a shared drive, it isn't included in the search.",
            "Shared drive resources are only included in instances where the account is a collaborator on a resource but they are not a member of the shared drive. This maps to the *\"Included only if documents shared directly (not due to shared drive membership)\"* option in the Vault UI. (Previously \"include_shared_drives\" off)",
            "Resources in shared drives are included in the search. (Previously \"include_shared_drives\" on)"
          ],
          "type": "string",
          "enum": [
            "SHARED_DRIVES_OPTION_UNSPECIFIED",
            "NOT_INCLUDED",
            "INCLUDED_IF_ACCOUNT_IS_NOT_A_MEMBER",
            "INCLUDED"
          ],
          "description": "Optional. Options to include or exclude documents in shared drives. We recommend using this field over include_shared_drives. This field overrides include_shared_drives and include_team_drives when set."
        }
      }
    },
    "CountArtifactsResponse": {
      "id": "CountArtifactsResponse",
      "type": "object",
      "description": "Definition of the response for method CountArtifacts.",
      "properties": {
        "groupsCountResult": {
          "description": "Count metrics for Groups.",
          "$ref": "GroupsCountResult"
        },
        "totalCount": {
          "type": "string",
          "description": "Total count of messages.",
          "format": "int64"
        },
        "mailCountResult": {
          "$ref": "MailCountResult",
          "description": "Count metrics for Gmail and classic Hangouts."
        }
      }
    },
    "AddHeldAccountResult": {
      "description": "The status of each account creation, and the **HeldAccount**, if successful.",
      "properties": {
        "account": {
          "description": "Returned when the account was successfully created.",
          "$ref": "HeldAccount"
        },
        "status": {
          "$ref": "Status",
          "description": "Reports the request status. If it failed, returns an error message."
        }
      },
      "id": "AddHeldAccountResult",
      "type": "object"
    },
    "CountArtifactsMetadata": {
      "id": "CountArtifactsMetadata",
      "type": "object",
      "description": "Long running operation metadata for CountArtifacts.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Creation time of count operation.",
          "type": "string"
        },
        "endTime": {
          "description": "End time of count operation. Available when operation is done.",
          "type": "string",
          "format": "google-datetime"
        },
        "matterId": {
          "type": "string",
          "description": "The matter ID of the associated matter."
        },
        "query": {
          "$ref": "Query",
          "description": "The search query from the request."
        }
      }
    },
    "GeminiExportOptions": {
      "id": "GeminiExportOptions",
      "type": "object",
      "description": "The options for Gemini exports.",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ]
        }
      }
    },
    "CalendarOptions": {
      "id": "CalendarOptions",
      "type": "object",
      "description": "Additional options for Calendar search",
      "properties": {
        "locationQuery": {
          "items": {
            "type": "string"
          },
          "description": "Matches only those events whose location contains all of the words in the given set. If the string contains quoted phrases, this method only matches those events whose location contain the exact phrase. Entries in the set are considered in \"and\". Word splitting example: [\"New Zealand\"] vs [\"New\",\"Zealand\"] \"New Zealand\": matched by both \"New and better Zealand\": only matched by the later",
          "type": "array"
        },
        "responseStatuses": {
          "type": "array",
          "description": "Matches only events for which the custodian gave one of these responses. If the set is empty or contains ATTENDEE_RESPONSE_UNSPECIFIED there will be no filtering on responses.",
          "items": {
            "type": "string",
            "enum": [
              "ATTENDEE_RESPONSE_UNSPECIFIED",
              "ATTENDEE_RESPONSE_NEEDS_ACTION",
              "ATTENDEE_RESPONSE_ACCEPTED",
              "ATTENDEE_RESPONSE_DECLINED",
              "ATTENDEE_RESPONSE_TENTATIVE"
            ],
            "enumDescriptions": [
              "Attendee response unspecified. If this is set no filtering on responses will be done, all other attendee responses that are part of the query options are ignored.",
              "The participant has been invited but has not responded yet.",
              "The participant plans to attend.",
              "The participant does not plan to attend.",
              "The participant expects to possibly attend."
            ]
          }
        },
        "versionDate": {
          "type": "string",
          "description": "Search the current version of the Calendar event, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "format": "google-datetime"
        },
        "minusWords": {
          "type": "array",
          "description": "Matches only those events that do not contain any of the words in the given set in title, description, location, or attendees. Entries in the set are considered in \"or\".",
          "items": {
            "type": "string"
          }
        },
        "peopleQuery": {
          "items": {
            "type": "string"
          },
          "description": "Matches only those events whose attendees contain all of the words in the given set. Entries in the set are considered in \"and\".",
          "type": "array"
        }
      }
    },
    "ReopenMatterResponse": {
      "description": "Response to a ReopenMatterRequest.",
      "properties": {
        "matter": {
          "description": "The updated matter, with state **OPEN**.",
          "$ref": "Matter"
        }
      },
      "id": "ReopenMatterResponse",
      "type": "object"
    },
    "HeldGroupsQuery": {
      "id": "HeldGroupsQuery",
      "type": "object",
      "description": "Query options for group holds.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        },
        "endTime": {
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ExportOptions": {
      "id": "ExportOptions",
      "type": "object",
      "description": "Additional options for exports",
      "properties": {
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatExportOptions",
          "description": "Options for Chat exports."
        },
        "geminiOptions": {
          "description": "Option available for Gemini export.",
          "$ref": "GeminiExportOptions"
        },
        "calendarOptions": {
          "description": "Option available for Calendar export.",
          "$ref": "CalendarExportOptions"
        },
        "groupsOptions": {
          "description": "Options for Groups exports.",
          "$ref": "GroupsExportOptions"
        },
        "region": {
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "description": "The requested data region for the export.",
          "type": "string",
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ]
        },
        "voiceOptions": {
          "$ref": "VoiceExportOptions",
          "description": "Options for Voice exports."
        },
        "mailOptions": {
          "$ref": "MailExportOptions",
          "description": "Options for Gmail exports."
        },
        "driveOptions": {
          "$ref": "DriveExportOptions",
          "description": "Options for Drive exports."
        }
      }
    },
    "VoiceOptions": {
      "description": "Additional options for Voice search",
      "properties": {
        "coveredData": {
          "description": "Datatypes to search",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ]
          }
        }
      },
      "id": "VoiceOptions",
      "type": "object"
    },
    "HeldVoiceQuery": {
      "description": "Options for Voice holds.",
      "properties": {
        "coveredData": {
          "type": "array",
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored.",
          "items": {
            "type": "string",
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ]
          }
        }
      },
      "id": "HeldVoiceQuery",
      "type": "object"
    },
    "AccountCount": {
      "description": "The results count for each account.",
      "properties": {
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        },
        "count": {
          "description": "The number of results (messages or files) found for this account.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "AccountCount",
      "type": "object"
    },
    "TeamDriveInfo": {
      "properties": {
        "teamDriveIds": {
          "type": "array",
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "deprecated": true,
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TeamDriveInfo",
      "type": "object",
      "deprecated": true,
      "description": "Team Drives to search"
    },
    "HeldDriveQuery": {
      "description": "Options for Drive holds.",
      "properties": {
        "includeTeamDriveFiles": {
          "type": "boolean",
          "description": "To include files in Team Drives in the hold, set to **true**.",
          "deprecated": true
        },
        "includeSharedDriveFiles": {
          "type": "boolean",
          "description": "To include files in shared drives in the hold, set to **true**."
        }
      },
      "id": "HeldDriveQuery",
      "type": "object"
    },
    "HangoutsChatExportOptions": {
      "description": "Options for Chat exports.",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ],
          "description": "The file format for exported messages.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ]
        }
      },
      "id": "HangoutsChatExportOptions",
      "type": "object"
    },
    "DriveExportOptions": {
      "description": "Options for Drive exports.",
      "properties": {
        "includeAccessInfo": {
          "type": "boolean",
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**."
        }
      },
      "id": "DriveExportOptions",
      "type": "object"
    },
    "Matter": {
      "id": "Matter",
      "type": "object",
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "name": {
          "description": "The name of the matter.",
          "type": "string"
        },
        "matterRegion": {
          "description": "Optional. The requested data region for the matter.",
          "type": "string",
          "enum": [
            "MATTER_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ]
        },
        "matterPermissions": {
          "type": "array",
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "items": {
            "$ref": "MatterPermission"
          }
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ],
          "description": "The state of the matter.",
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ]
        },
        "matterId": {
          "type": "string",
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "type": "object",
      "description": "User's information.",
      "properties": {
        "displayName": {
          "description": "The displayed name of the user.",
          "type": "string"
        },
        "email": {
          "type": "string",
          "description": "The email address of the user."
        }
      }
    },
    "Query": {
      "id": "Query",
      "type": "object",
      "description": "The query definition used for search and export.",
      "properties": {
        "dataScope": {
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ],
          "type": "string",
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ],
          "description": "The data source to search."
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatOptions",
          "description": "Set Chat search-specific options. (read-only)"
        },
        "geminiOptions": {
          "$ref": "GeminiOptions",
          "description": "Set Gemini search-specific options."
        },
        "timeZone": {
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time).",
          "type": "string"
        },
        "voiceOptions": {
          "$ref": "VoiceOptions",
          "description": "Set Voice search-specific options."
        },
        "hangoutsChatInfo": {
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)",
          "$ref": "HangoutsChatInfo"
        },
        "calendarOptions": {
          "$ref": "CalendarOptions",
          "description": "Set Calendar search-specific options."
        },
        "endTime": {
          "type": "string",
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "format": "google-datetime"
        },
        "mailOptions": {
          "description": "Set Gmail search-specific options.",
          "$ref": "MailOptions"
        },
        "terms": {
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results.",
          "type": "string"
        },
        "corpus": {
          "description": "The Google Workspace service to search.",
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "sitesUrlInfo": {
          "description": "Required when **SearchMethod** is **SITES_URL**.",
          "$ref": "SitesUrlInfo"
        },
        "orgUnitInfo": {
          "$ref": "OrgUnitInfo",
          "description": "Required when **SearchMethod** is **ORG_UNIT**."
        },
        "method": {
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "type": "string"
        },
        "driveOptions": {
          "description": "Set Drive search-specific options.",
          "$ref": "DriveOptions"
        },
        "accountInfo": {
          "$ref": "AccountInfo",
          "description": "Required when **SearchMethod** is **ACCOUNT**."
        },
        "searchMethod": {
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "description": "The search method to use.",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ],
          "deprecated": true,
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "type": "string"
        },
        "driveDocumentInfo": {
          "description": "Required when **SearchMethod** is **DRIVE_DOCUMENT**.",
          "$ref": "DriveDocumentInfo"
        },
        "teamDriveInfo": {
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**.",
          "$ref": "TeamDriveInfo",
          "deprecated": true
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "sharedDriveInfo": {
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**.",
          "$ref": "SharedDriveInfo"
        }
      }
    },
    "Hold": {
      "id": "Hold",
      "type": "object",
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The last time this hold was modified."
        },
        "orgUnit": {
          "$ref": "HeldOrgUnit",
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**."
        },
        "name": {
          "type": "string",
          "description": "The name of the hold."
        },
        "accounts": {
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty.",
          "type": "array",
          "items": {
            "$ref": "HeldAccount"
          }
        },
        "holdId": {
          "type": "string",
          "description": "The unique immutable ID of the hold. Assigned during creation."
        },
        "corpus": {
          "description": "The service to be searched.",
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "query": {
          "$ref": "CorpusQuery",
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**."
        }
      }
    },
    "DriveDocumentIds": {
      "description": "Specify Drive documents by document ID.",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "description": "Required. A list of Drive document IDs.",
          "type": "array"
        }
      },
      "id": "DriveDocumentIds",
      "type": "object"
    },
    "SavedQuery": {
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "properties": {
        "matterId": {
          "type": "string",
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The server-generated timestamp when the saved query was created.",
          "format": "google-datetime"
        },
        "query": {
          "description": "The search parameters of the saved query.",
          "$ref": "Query"
        },
        "savedQueryId": {
          "type": "string",
          "description": "A unique identifier for the saved query."
        },
        "displayName": {
          "description": "The name of the saved query.",
          "type": "string"
        }
      },
      "id": "SavedQuery",
      "type": "object"
    },
    "MailExportOptions": {
      "description": "Options for Gmail exports.",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ],
          "description": "The file format for exported messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ]
        },
        "showConfidentialModeContent": {
          "description": "To export confidential mode content, set to **true**.",
          "type": "boolean"
        },
        "useNewExport": {
          "description": "To use the new export system, set to **true**.",
          "type": "boolean"
        },
        "exportLinkedDriveFiles": {
          "description": "Optional. To enable exporting linked Drive files, set to **true**.",
          "type": "boolean"
        }
      },
      "id": "MailExportOptions",
      "type": "object"
    },
    "OrgUnitInfo": {
      "description": "The organizational unit to search",
      "properties": {
        "orgUnitId": {
          "type": "string",
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/)."
        }
      },
      "id": "OrgUnitInfo",
      "type": "object"
    },
    "CloseMatterRequest": {
      "description": "Close a matter by ID.",
      "properties": {},
      "id": "CloseMatterRequest",
      "type": "object"
    },
    "HangoutsChatInfo": {
      "id": "HangoutsChatInfo",
      "type": "object",
      "description": "The Chat spaces to search",
      "properties": {
        "roomId": {
          "type": "array",
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/workspace/chat). There is a limit of exporting from 500 Chat spaces per request.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AddHeldAccountsRequest": {
      "description": "Add a list of accounts to a hold.",
      "properties": {
        "emails": {
          "type": "array",
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both.",
          "items": {
            "type": "string"
          }
        },
        "accountIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both."
        }
      },
      "id": "AddHeldAccountsRequest",
      "type": "object"
    },
    "ListMattersResponse": {
      "description": "Provides the list of matters.",
      "properties": {
        "matters": {
          "description": "List of matters.",
          "type": "array",
          "items": {
            "$ref": "Matter"
          }
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "id": "ListMattersResponse",
      "type": "object"
    },
    "ExportStats": {
      "description": "Progress information for an export.",
      "properties": {
        "totalArtifactCount": {
          "description": "The number of messages or files to be exported.",
          "type": "string",
          "format": "int64"
        },
        "exportedArtifactCount": {
          "type": "string",
          "description": "The number of messages or files already processed for export.",
          "format": "int64"
        },
        "sizeInBytes": {
          "description": "The size of export in bytes.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "ExportStats",
      "type": "object"
    },
    "AddHeldAccountsResponse": {
      "id": "AddHeldAccountsResponse",
      "type": "object",
      "description": "Response for batch create held accounts.",
      "properties": {
        "responses": {
          "items": {
            "$ref": "AddHeldAccountResult"
          },
          "type": "array",
          "description": "The list of responses, in the same order as the batch request."
        }
      }
    },
    "GeminiOptions": {
      "description": "Additional options for Gemini search",
      "properties": {},
      "id": "GeminiOptions",
      "type": "object"
    },
    "RemoveMatterPermissionsRequest": {
      "description": "Remove an account as a matter collaborator.",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "The account ID."
        }
      },
      "id": "RemoveMatterPermissionsRequest",
      "type": "object"
    },
    "HeldMailQuery": {
      "description": "Query options for Gmail holds.",
      "properties": {
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "startTime": {
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string"
        }
      },
      "id": "HeldMailQuery",
      "type": "object"
    },
    "ListSavedQueriesResponse": {
      "id": "ListSavedQueriesResponse",
      "type": "object",
      "description": "Definition of the response for method ListSaveQuery.",
      "properties": {
        "savedQueries": {
          "items": {
            "$ref": "SavedQuery"
          },
          "description": "List of saved queries.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list."
        }
      }
    },
    "DriveDocumentInfo": {
      "id": "DriveDocumentInfo",
      "type": "object",
      "description": "The Drive documents to search.",
      "properties": {
        "documentIds": {
          "description": "Specify Drive documents by document ID.",
          "$ref": "DriveDocumentIds"
        }
      }
    },
    "AccountCountError": {
      "id": "AccountCountError",
      "type": "object",
      "description": "An error that occurred when querying a specific account",
      "properties": {
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        },
        "errorType": {
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ],
          "description": "Account query error.",
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ]
        }
      }
    },
    "HeldCalendarQuery": {
      "id": "HeldCalendarQuery",
      "type": "object",
      "description": "Options for Calendar holds.",
      "properties": {}
    },
    "MailCountResult": {
      "description": "Gmail and classic Hangouts-specific count metrics.",
      "properties": {
        "accountCounts": {
          "items": {
            "$ref": "AccountCount"
          },
          "description": "Subtotal count per matching account that have more than zero messages.",
          "type": "array"
        },
        "nonQueryableAccounts": {
          "type": "array",
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set.",
          "items": {
            "type": "string"
          }
        },
        "matchingAccountsCount": {
          "type": "string",
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "format": "int64"
        },
        "accountCountErrors": {
          "items": {
            "$ref": "AccountCountError"
          },
          "type": "array",
          "description": "Errors occurred when querying these accounts."
        },
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "MailCountResult",
      "type": "object"
    },
    "HangoutsChatOptions": {
      "id": "HangoutsChatOptions",
      "type": "object",
      "description": "Additional options for Google Chat search",
      "properties": {
        "includeRooms": {
          "description": "For searches by account or organizational unit, set to **true** to include rooms.",
          "type": "boolean"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "VoiceExportOptions": {
      "description": "The options for Voice exports.",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ],
          "description": "The file format for exported text messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ]
        }
      },
      "id": "VoiceExportOptions",
      "type": "object"
    },
    "HeldHangoutsChatQuery": {
      "id": "HeldHangoutsChatQuery",
      "type": "object",
      "description": "Options for Chat holds.",
      "properties": {
        "includeRooms": {
          "description": "To include messages in Chat spaces the user was a member of, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "MailOptions": {
      "id": "MailOptions",
      "type": "object",
      "description": "Additional options for Gmail search",
      "properties": {
        "excludeDrafts": {
          "type": "boolean",
          "description": "Set to **true** to exclude drafts."
        },
        "clientSideEncryptedOption": {
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "type": "string",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "description": "Specifies whether the results should include encrypted content, unencrypted content, or both. Defaults to including both."
        }
      }
    },
    "CloudStorageSink": {
      "id": "CloudStorageSink",
      "type": "object",
      "description": "Export sink for Cloud Storage files.",
      "properties": {
        "files": {
          "type": "array",
[...]
