{
  "canonicalName": "Vault",
  "name": "vault",
  "title": "Google Vault API",
  "documentationLink": "https://developers.google.com/workspace/vault",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/ediscovery": {
          "description": "Manage your eDiscovery data"
        },
        "https://www.googleapis.com/auth/ediscovery.readonly": {
          "description": "View your eDiscovery data"
        }
      }
    }
  },
  "description": "Retention and eDiscovery for Google Workspace. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege. For example, to download an export, an account needs the **Manage Exports** privilege and the matter shared with them. ",
  "version": "v1",
  "version_module": true,
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "id": "vault:v1",
  "discoveryVersion": "v1",
  "schemas": {
    "HangoutsChatExportOptions": {
      "id": "HangoutsChatExportOptions",
      "description": "Options for Chat exports.",
      "type": "object",
      "properties": {
        "exportFormat": {
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ],
          "description": "The file format for exported messages."
        }
      }
    },
    "CloudStorageSink": {
      "type": "object",
      "properties": {
        "files": {
          "items": {
            "$ref": "CloudStorageFile"
          },
          "type": "array",
          "description": "Output only. The exported files in Cloud Storage."
        }
      },
      "id": "CloudStorageSink",
      "description": "Export sink for Cloud Storage files."
    },
    "ListHeldAccountsResponse": {
      "id": "ListHeldAccountsResponse",
      "description": "Returns a list of the accounts covered by a hold.",
      "type": "object",
      "properties": {
        "accounts": {
          "description": "The held accounts on a hold.",
          "type": "array",
          "items": {
            "$ref": "HeldAccount"
          }
        }
      }
    },
    "CloseMatterResponse": {
      "id": "CloseMatterResponse",
      "description": "Response to a CloseMatterRequest.",
      "type": "object",
      "properties": {
        "matter": {
          "description": "The updated matter, with state **CLOSED**.",
          "$ref": "Matter"
        }
      }
    },
    "AddMatterPermissionsRequest": {
      "id": "AddMatterPermissionsRequest",
      "description": "Add an account with the permission specified. The role cannot be owner. If an account already has a role in the matter, the existing role is overwritten.",
      "type": "object",
      "properties": {
        "matterPermission": {
          "description": "The account and its role to add.",
          "$ref": "MatterPermission"
        },
        "sendEmails": {
          "description": "To send a notification email to the added account, set to **true**. To not send a notification email, set to **false**.",
          "type": "boolean"
        },
        "ccMe": {
          "description": "Only relevant if **sendEmails** is **true**. To CC the requestor in the email message, set to **true**. To not CC requestor, set to **false**.",
          "type": "boolean"
        }
      }
    },
    "ReopenMatterResponse": {
      "id": "ReopenMatterResponse",
      "description": "Response to a ReopenMatterRequest.",
      "type": "object",
      "properties": {
        "matter": {
          "description": "The updated matter, with state **OPEN**.",
          "$ref": "Matter"
        }
      }
    },
    "AddHeldAccountResult": {
      "type": "object",
      "properties": {
        "account": {
          "$ref": "HeldAccount",
          "description": "Returned when the account was successfully created."
        },
        "status": {
          "description": "Reports the request status. If it failed, returns an error message.",
          "$ref": "Status"
        }
      },
      "id": "AddHeldAccountResult",
      "description": "The status of each account creation, and the **HeldAccount**, if successful."
    },
    "HeldOrgUnit": {
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "The organizational unit's immutable ID as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        },
        "holdTime": {
          "description": "When the organizational unit was put on hold. This property is immutable.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "HeldOrgUnit",
      "description": "The organizational unit covered by a hold. This structure is immutable."
    },
    "ListMattersResponse": {
      "id": "ListMattersResponse",
      "description": "Provides the list of matters.",
      "type": "object",
      "properties": {
        "matters": {
          "description": "List of matters.",
          "items": {
            "$ref": "Matter"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      }
    },
    "ExportOptions": {
      "type": "object",
      "properties": {
        "groupsOptions": {
          "$ref": "GroupsExportOptions",
          "description": "Options for Groups exports."
        },
        "geminiOptions": {
          "description": "Option available for Gemini export.",
          "$ref": "GeminiExportOptions"
        },
        "region": {
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "type": "string",
          "enum": [
            "EXPORT_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ],
          "description": "The requested data region for the export."
        },
        "driveOptions": {
          "description": "Options for Drive exports.",
          "$ref": "DriveExportOptions"
        },
        "hangoutsChatOptions": {
          "$ref": "HangoutsChatExportOptions",
          "description": "Options for Chat exports."
        },
        "calendarOptions": {
          "$ref": "CalendarExportOptions",
          "description": "Option available for Calendar export."
        },
        "voiceOptions": {
          "$ref": "VoiceExportOptions",
          "description": "Options for Voice exports."
        },
        "mailOptions": {
          "$ref": "MailExportOptions",
          "description": "Options for Gmail exports."
        }
      },
      "id": "ExportOptions",
      "description": "Additional options for exports"
    },
    "VoiceExportOptions": {
      "id": "VoiceExportOptions",
      "description": "The options for Voice exports.",
      "type": "object",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported text messages.",
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ],
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ]
        }
      }
    },
    "SavedQuery": {
      "type": "object",
      "properties": {
        "query": {
          "$ref": "Query",
          "description": "The search parameters of the saved query."
        },
        "savedQueryId": {
          "description": "A unique identifier for the saved query.",
          "type": "string"
        },
        "matterId": {
          "description": "Output only. The matter ID of the matter the saved query is saved in. The server does not use this field during create and always uses matter ID in the URL.",
          "type": "string"
        },
        "displayName": {
          "description": "The name of the saved query.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The server-generated timestamp when the saved query was created."
        }
      },
      "id": "SavedQuery",
      "description": "The definition of a saved query. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "AccountCountError": {
      "id": "AccountCountError",
      "description": "An error that occurred when querying a specific account",
      "type": "object",
      "properties": {
        "account": {
          "$ref": "UserInfo",
          "description": "Account owner."
        },
        "errorType": {
          "type": "string",
          "enum": [
            "ERROR_TYPE_UNSPECIFIED",
            "WILDCARD_TOO_BROAD",
            "TOO_MANY_TERMS",
            "LOCATION_UNAVAILABLE",
            "UNKNOWN",
            "DEADLINE_EXCEEDED"
          ],
          "enumDescriptions": [
            "Default.",
            "Permanent - prefix terms expanded to too many query terms.",
            "Permanent - query contains too many terms.",
            "Transient - data in transit between storage replicas, temporarily unavailable.",
            "Unrecognized error.",
            "Deadline exceeded when querying the account."
          ],
          "description": "Account query error."
        }
      }
    },
    "VoiceOptions": {
      "type": "object",
      "properties": {
        "coveredData": {
          "items": {
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ],
            "type": "string",
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ]
          },
          "type": "array",
          "description": "Datatypes to search"
        }
      },
      "id": "VoiceOptions",
      "description": "Additional options for Voice search"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "properties": {}
    },
    "TeamDriveInfo": {
      "properties": {
        "teamDriveIds": {
          "description": "List of Team Drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "TeamDriveInfo",
      "description": "Team Drives to search",
      "deprecated": true,
      "type": "object"
    },
    "Export": {
      "id": "Export",
      "description": "An export. To work with Vault resources, the account must have the [required Vault privileges](https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time when the export was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "cloudStorageSink": {
          "description": "Output only. The sink for export files in Cloud Storage.",
          "$ref": "CloudStorageSink"
        },
        "name": {
          "description": "The export name. Don't use special characters (~!$'(),;@:/?) in the name, they can prevent you from downloading exports.",
          "type": "string"
        },
        "query": {
          "description": "The query parameters used to create the export.",
          "$ref": "Query"
        },
        "stats": {
          "$ref": "ExportStats",
          "description": "Output only. Details about the export progress and size."
        },
        "requester": {
          "description": "Output only. The requester of the export.",
          "$ref": "UserInfo"
        },
        "exportOptions": {
          "description": "Additional export options.",
          "$ref": "ExportOptions"
        },
        "parentExportId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifies the parent export that spawned this child export. This is only set on child exports."
        },
        "status": {
          "description": "Output only. The status of the export.",
          "enumDescriptions": [
            "The status is unspecified.",
            "The export completed.",
            "The export failed.",
            "The export is in progress."
          ],
          "type": "string",
          "enum": [
            "EXPORT_STATUS_UNSPECIFIED",
            "COMPLETED",
            "FAILED",
            "IN_PROGRESS"
          ]
        },
        "id": {
          "description": "Output only. The generated export ID.",
          "type": "string"
        },
        "matterId": {
          "description": "Output only. The matter ID.",
          "type": "string"
        }
      }
    },
    "MailCountResult": {
      "id": "MailCountResult",
      "description": "Gmail and classic Hangouts-specific count metrics.",
      "type": "object",
      "properties": {
        "nonQueryableAccounts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "When **DataScope** is **HELD_DATA** and when account emails are passed in explicitly, the list of accounts in the request that are not queried because they are not on hold in the matter. For other data scopes, this field is not set."
        },
        "accountCounts": {
          "description": "Subtotal count per matching account that have more than zero messages.",
          "items": {
            "$ref": "AccountCount"
          },
          "type": "array"
        },
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        },
        "accountCountErrors": {
          "type": "array",
          "items": {
            "$ref": "AccountCountError"
          },
          "description": "Errors occurred when querying these accounts."
        },
        "matchingAccountsCount": {
          "description": "Total number of accounts that can be queried and have more than zero messages.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "GroupsCountResult": {
      "id": "GroupsCountResult",
      "description": "Groups specific count metrics.",
      "type": "object",
      "properties": {
        "queriedAccountsCount": {
          "description": "Total number of accounts involved in this count operation.",
          "type": "string",
          "format": "int64"
        },
        "accountCountErrors": {
          "items": {
            "$ref": "AccountCountError"
          },
          "type": "array",
          "description": "Error occurred when querying these accounts."
        },
        "matchingAccountsCount": {
          "type": "string",
          "format": "int64",
          "description": "Total number of accounts that can be queried and have more than zero messages."
        },
        "nonQueryableAccounts": {
          "description": "When **DataScope** is **HELD_DATA**, these accounts in the request are not queried because they are not on hold. For other data scope, this field is not set.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "accountCounts": {
          "type": "array",
          "items": {
            "$ref": "AccountCount"
          },
          "description": "Subtotal count per matching account that have more than zero messages."
        }
      }
    },
    "GeminiOptions": {
      "id": "GeminiOptions",
      "description": "Additional options for Gemini search",
      "type": "object",
      "properties": {}
    },
    "DriveDocumentInfo": {
      "type": "object",
      "properties": {
        "documentIds": {
          "description": "Specify Drive documents by document ID.",
          "$ref": "DriveDocumentIds"
        }
      },
      "id": "DriveDocumentInfo",
      "description": "The Drive documents to search."
    },
    "DriveExportOptions": {
      "id": "DriveExportOptions",
      "description": "Options for Drive exports.",
      "type": "object",
      "properties": {
        "includeAccessInfo": {
          "description": "To include access level information for users with [indirect access](https://support.google.com/vault/answer/6099459#metadata) to files, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "Query": {
      "id": "Query",
      "description": "The query definition used for search and export.",
      "type": "object",
      "properties": {
        "teamDriveInfo": {
          "description": "Required when **SearchMethod** is **TEAM_DRIVE**.",
          "deprecated": true,
          "$ref": "TeamDriveInfo"
        },
        "startTime": {
          "description": "The start time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "voiceOptions": {
          "$ref": "VoiceOptions",
          "description": "Set Voice search-specific options."
        },
        "orgUnitInfo": {
          "description": "Required when **SearchMethod** is **ORG_UNIT**.",
          "$ref": "OrgUnitInfo"
        },
        "hangoutsChatInfo": {
          "$ref": "HangoutsChatInfo",
          "description": "Required when **SearchMethod** is **ROOM**. (read-only)"
        },
        "hangoutsChatOptions": {
          "description": "Set Chat search-specific options. (read-only)",
          "$ref": "HangoutsChatOptions"
        },
        "searchMethod": {
          "description": "The search method to use.",
          "deprecated": true,
          "type": "string",
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "mailOptions": {
          "$ref": "MailOptions",
          "description": "Set Gmail search-specific options."
        },
        "sitesUrlInfo": {
          "description": "Required when **SearchMethod** is **SITES_URL**.",
          "$ref": "SitesUrlInfo"
        },
        "calendarOptions": {
          "description": "Set Calendar search-specific options.",
          "$ref": "CalendarOptions"
        },
        "sharedDriveInfo": {
          "description": "Required when **SearchMethod** is **SHARED_DRIVE**.",
          "$ref": "SharedDriveInfo"
        },
        "terms": {
          "description": "Service-specific [search operators](https://support.google.com/vault/answer/2474474) to filter search results.",
          "type": "string"
        },
        "geminiOptions": {
          "description": "Set Gemini search-specific options.",
          "$ref": "GeminiOptions"
        },
        "method": {
          "description": "The entity to search. This field replaces **searchMethod** to support shared drives. When **searchMethod** is **TEAM_DRIVE**, the response of this field is **SHARED_DRIVE**.",
          "enumDescriptions": [
            "A search method must be specified or else it is rejected.",
            "Search the data of the accounts specified in [AccountInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#accountinfo).",
            "Search the data of all accounts in the organizational unit specified in [OrgUnitInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#orgunitinfo).",
            "Search the data in the Team Drive specified in **team_drive_info**.",
            "Search the data of all accounts in the organization. Supported only for Gmail. When specified, you don't need to specify **AccountInfo** or **OrgUnitInfo**.",
            "Search messages in the Chat spaces specified in [HangoutsChatInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#hangoutschatinfo).",
            "Search for sites by the published site URLs specified in [SitesUrlInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#sitesurlinfo).",
            "Search the files in the shared drives specified in [SharedDriveInfo](https://developers.google.com/workspace/vault/reference/rest/v1/Query#shareddriveinfo).",
            "Retrieve the documents specified in DriveDocumentInfo."
          ],
          "type": "string",
          "enum": [
            "SEARCH_METHOD_UNSPECIFIED",
            "ACCOUNT",
            "ORG_UNIT",
            "TEAM_DRIVE",
            "ENTIRE_ORG",
            "ROOM",
            "SITES_URL",
            "SHARED_DRIVE",
            "DRIVE_DOCUMENT"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            false,
            false,
            false,
            false
          ]
        },
        "accountInfo": {
          "description": "Required when **SearchMethod** is **ACCOUNT**.",
          "$ref": "AccountInfo"
        },
        "endTime": {
          "description": "The end time for the search query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "corpus": {
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ],
          "description": "The Google Workspace service to search."
        },
        "driveOptions": {
          "description": "Set Drive search-specific options.",
          "$ref": "DriveOptions"
        },
        "driveDocumentInfo": {
          "description": "Required when **SearchMethod** is **DRIVE_DOCUMENT**.",
          "$ref": "DriveDocumentInfo"
        },
        "dataScope": {
          "description": "The data source to search.",
          "enumDescriptions": [
            "No data source specified.",
            "All available data.",
            "Only data on hold.",
            "Only data not yet processed by Vault. (Gmail and Groups only)"
          ],
          "type": "string",
          "enum": [
            "DATA_SCOPE_UNSPECIFIED",
            "ALL_DATA",
            "HELD_DATA",
            "UNPROCESSED_DATA"
          ]
        },
        "timeZone": {
          "description": "The time zone name. It should be an IANA TZ name, such as \"America/Los_Angeles\". For a list of time zone names, see [Time Zone](https://en.wikipedia.org/wiki/List_of_tz_database_time_zones). For more information about how Vault uses time zones, see [the Vault help center](https://support.google.com/vault/answer/6092995#time).",
          "type": "string"
        }
      }
    },
    "UserInfo": {
      "id": "UserInfo",
      "description": "User's information.",
      "type": "object",
      "properties": {
        "email": {
          "description": "The email address of the user.",
          "type": "string"
        },
        "displayName": {
          "description": "The displayed name of the user.",
          "type": "string"
        }
      }
    },
    "MailOptions": {
      "id": "MailOptions",
      "description": "Additional options for Gmail search",
      "type": "object",
      "properties": {
        "excludeDrafts": {
          "description": "Set to **true** to exclude drafts.",
          "type": "boolean"
        },
        "clientSideEncryptedOption": {
          "description": "Specifies whether the results should include encrypted content, unencrypted content, or both. Defaults to including both.",
          "type": "string",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ]
        }
      }
    },
    "AccountInfo": {
      "id": "AccountInfo",
      "description": "The accounts to search",
      "type": "object",
      "properties": {
        "emails": {
          "description": "A set of accounts to search.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MatterPermission": {
      "id": "MatterPermission",
      "description": "Users can be matter owners or collaborators. Each matter has only one owner. All others users who can access the matter are collaborators. When an account is purged, its corresponding MatterPermission resources cease to exist.",
      "type": "object",
      "properties": {
        "role": {
          "description": "The user's role for the matter.",
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "COLLABORATOR",
            "OWNER"
          ],
          "enumDescriptions": [
            "No role assigned.",
            "A collaborator on the matter.",
            "The owner of the matter."
          ]
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        }
      }
    },
    "CalendarExportOptions": {
      "type": "object",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported text messages.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ]
        }
      },
      "id": "CalendarExportOptions",
      "description": "The options for Calendar exports."
    },
    "AddHeldAccountsRequest": {
      "id": "AddHeldAccountsRequest",
      "description": "Add a list of accounts to a hold.",
      "type": "object",
      "properties": {
        "emails": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A comma-separated list of the emails of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both."
        },
        "accountIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A comma-separated list of the account IDs of the accounts to add to the hold. Specify either **emails** or **account_ids**, but not both."
        }
      }
    },
    "GeminiExportOptions": {
      "id": "GeminiExportOptions",
      "description": "The options for Gemini exports.",
      "type": "object",
      "properties": {
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ]
        }
      }
    },
    "CountArtifactsMetadata": {
      "type": "object",
      "properties": {
        "endTime": {
          "description": "End time of count operation. Available when operation is done.",
          "type": "string",
          "format": "google-datetime"
        },
        "query": {
          "$ref": "Query",
          "description": "The search query from the request."
        },
        "matterId": {
          "description": "The matter ID of the associated matter.",
          "type": "string"
        },
        "startTime": {
          "description": "Creation time of count operation.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "CountArtifactsMetadata",
      "description": "Long running operation metadata for CountArtifacts."
    },
    "MailExportOptions": {
      "id": "MailExportOptions",
      "description": "Options for Gmail exports.",
      "type": "object",
      "properties": {
        "showConfidentialModeContent": {
          "description": "To export confidential mode content, set to **true**.",
          "type": "boolean"
        },
        "useNewExport": {
          "description": "To use the new export system, set to **true**.",
          "type": "boolean"
        },
        "exportFormat": {
          "description": "The file format for exported messages.",
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ],
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ]
        },
        "exportLinkedDriveFiles": {
          "description": "Optional. To enable exporting linked Drive files, set to **true**.",
          "type": "boolean"
        }
      }
    },
    "ReopenMatterRequest": {
      "id": "ReopenMatterRequest",
      "description": "Reopen a matter by ID.",
      "type": "object",
      "properties": {}
    },
    "CloudStorageFile": {
      "id": "CloudStorageFile",
      "description": "The export file in Cloud Storage",
      "type": "object",
      "properties": {
        "objectName": {
          "description": "The name of the Cloud Storage object for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api).",
          "type": "string"
        },
        "bucketName": {
          "description": "The name of the Cloud Storage bucket for the export file. You can use this value in the Cloud Storage [JSON API](https://cloud.google.com/storage/docs/json_api) or [XML API](https://cloud.google.com/storage/docs/xml-api), but not to list the bucket contents. Instead, you can [get individual export files](https://cloud.google.com/storage/docs/json_api/v1/objects/get) by object name.",
          "type": "string"
        },
        "md5Hash": {
          "description": "The md5 hash of the file.",
          "type": "string"
        },
        "size": {
          "type": "string",
          "format": "int64",
          "description": "The export file size."
        }
      }
    },
    "CalendarOptions": {
      "id": "CalendarOptions",
      "description": "Additional options for Calendar search",
      "type": "object",
      "properties": {
        "locationQuery": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Matches only those events whose location contains all of the words in the given set. If the string contains quoted phrases, this method only matches those events whose location contain the exact phrase. Entries in the set are considered in \"and\". Word splitting example: [\"New Zealand\"] vs [\"New\",\"Zealand\"] \"New Zealand\": matched by both \"New and better Zealand\": only matched by the later"
        },
        "minusWords": {
          "description": "Matches only those events that do not contain any of the words in the given set in title, description, location, or attendees. Entries in the set are considered in \"or\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "peopleQuery": {
          "description": "Matches only those events whose attendees contain all of the words in the given set. Entries in the set are considered in \"and\".",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "responseStatuses": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Attendee response unspecified. If this is set no filtering on responses will be done, all other attendee responses that are part of the query options are ignored.",
              "The participant has been invited but has not responded yet.",
              "The participant plans to attend.",
              "The participant does not plan to attend.",
              "The participant expects to possibly attend."
            ],
            "type": "string",
            "enum": [
              "ATTENDEE_RESPONSE_UNSPECIFIED",
              "ATTENDEE_RESPONSE_NEEDS_ACTION",
              "ATTENDEE_RESPONSE_ACCEPTED",
              "ATTENDEE_RESPONSE_DECLINED",
              "ATTENDEE_RESPONSE_TENTATIVE"
            ]
          },
          "description": "Matches only events for which the custodian gave one of these responses. If the set is empty or contains ATTENDEE_RESPONSE_UNSPECIFIED there will be no filtering on responses."
        },
        "versionDate": {
          "type": "string",
          "format": "google-datetime",
          "description": "Search the current version of the Calendar event, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC."
        }
      }
    },
    "UndeleteMatterRequest": {
      "id": "UndeleteMatterRequest",
      "description": "Undelete a matter by ID.",
      "type": "object",
      "properties": {}
    },
    "SharedDriveInfo": {
      "id": "SharedDriveInfo",
      "description": "The shared drives to search",
      "type": "object",
      "properties": {
        "sharedDriveIds": {
          "description": "A list of shared drive IDs, as provided by the [Drive API](https://developers.google.com/drive).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "CloseMatterRequest": {
      "id": "CloseMatterRequest",
      "description": "Close a matter by ID.",
      "type": "object",
      "properties": {}
    },
    "HangoutsChatInfo": {
      "type": "object",
      "properties": {
        "roomId": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of Chat spaces IDs, as provided by the [Chat API](https://developers.google.com/workspace/chat). There is a limit of exporting from 500 Chat spaces per request."
        }
      },
      "id": "HangoutsChatInfo",
      "description": "The Chat spaces to search"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ListExportsResponse": {
      "type": "object",
      "properties": {
        "exports": {
          "items": {
            "$ref": "Export"
          },
          "type": "array",
          "description": "The list of exports."
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list.",
          "type": "string"
        }
      },
      "id": "ListExportsResponse",
      "description": "The exports for a matter."
    },
    "HeldDriveQuery": {
      "type": "object",
      "properties": {
        "includeSharedDriveFiles": {
          "description": "To include files in shared drives in the hold, set to **true**.",
          "type": "boolean"
        },
        "includeTeamDriveFiles": {
          "type": "boolean",
          "description": "To include files in Team Drives in the hold, set to **true**.",
          "deprecated": true
        }
      },
      "id": "HeldDriveQuery",
      "description": "Options for Drive holds."
    },
    "CorpusQuery": {
      "type": "object",
      "properties": {
        "voiceQuery": {
          "description": "Service-specific options for Voice holds. If set, **CorpusType** must be **VOICE**.",
          "$ref": "HeldVoiceQuery"
        },
        "calendarQuery": {
          "description": "Service-specific options for Calendar holds. If set, **CorpusType** must be **CALENDAR**.",
          "$ref": "HeldCalendarQuery"
        },
        "driveQuery": {
          "description": "Service-specific options for Drive holds. If set, **CorpusType** must be **DRIVE**.",
          "$ref": "HeldDriveQuery"
        },
        "groupsQuery": {
          "$ref": "HeldGroupsQuery",
          "description": "Service-specific options for Groups holds. If set, **CorpusType** must be **GROUPS**."
        },
        "mailQuery": {
          "description": "Service-specific options for Gmail holds. If set, **CorpusType** must be **MAIL**.",
          "$ref": "HeldMailQuery"
        },
        "hangoutsChatQuery": {
          "description": "Service-specific options for Chat holds. If set, **CorpusType** must be **HANGOUTS_CHAT**.",
          "$ref": "HeldHangoutsChatQuery"
        }
      },
      "id": "CorpusQuery",
      "description": "Service-specific options for holds."
    },
    "HeldMailQuery": {
      "id": "HeldMailQuery",
      "description": "Query options for Gmail holds.",
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        },
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        }
      }
    },
    "GroupsExportOptions": {
      "id": "GroupsExportOptions",
      "description": "Options for Groups exports.",
      "type": "object",
      "properties": {
        "exportFormat": {
          "enumDescriptions": [
            "No export format specified.",
            "Export as MBOX. Only available for Gmail, Groups, Hangouts and Voice.",
            "Export as PST. Only available for Gmail, Groups, Hangouts, Voice and Calendar.",
            "Export as ICS. Only available for Calendar.",
            "Export as XML. Only available for Gemini."
          ],
          "type": "string",
          "enum": [
            "EXPORT_FORMAT_UNSPECIFIED",
            "MBOX",
            "PST",
            "ICS",
            "XML"
          ],
          "description": "The file format for exported messages."
        }
      }
    },
    "ListHoldsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more holds to list.",
          "type": "string"
        },
        "holds": {
          "description": "The list of holds.",
          "type": "array",
          "items": {
            "$ref": "Hold"
          }
        }
      },
      "id": "ListHoldsResponse",
      "description": "The holds for a matter."
    },
    "HangoutsChatOptions": {
      "id": "HangoutsChatOptions",
      "description": "Additional options for Google Chat search",
      "type": "object",
      "properties": {
        "includeRooms": {
          "description": "For searches by account or organizational unit, set to **true** to include rooms.",
          "type": "boolean"
        }
      }
    },
    "DriveOptions": {
      "id": "DriveOptions",
      "description": "Additional options for Drive search.",
      "type": "object",
      "properties": {
        "clientSideEncryptedOption": {
          "enumDescriptions": [
            "Encryption status unspecified. Results include both client-side encrypted and non-encrypted content.",
            "Include both client-side encrypted and unencrypted content in results.",
            "Include client-side encrypted content only.",
            "Include unencrypted content only."
          ],
          "type": "string",
          "enum": [
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNSPECIFIED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ANY",
            "CLIENT_SIDE_ENCRYPTED_OPTION_ENCRYPTED",
            "CLIENT_SIDE_ENCRYPTED_OPTION_UNENCRYPTED"
          ],
          "description": "Set whether the results include only content encrypted with [Google Workspace Client-side encryption](https://support.google.com/a?p=cse_ov) content, only unencrypted content, or both. Defaults to both. Currently supported for Drive."
        },
        "sharedDrivesOption": {
          "type": "string",
          "enum": [
            "SHARED_DRIVES_OPTION_UNSPECIFIED",
            "NOT_INCLUDED",
            "INCLUDED_IF_ACCOUNT_IS_NOT_A_MEMBER",
            "INCLUDED"
          ],
          "enumDescriptions": [
            "No shared drive option specified.",
            "If a resource is in a shared drive, it isn't included in the search.",
            "Shared drive resources are only included in instances where the account is a collaborator on a resource but they are not a member of the shared drive. This maps to the *\"Included only if documents shared directly (not due to shared drive membership)\"* option in the Vault UI. (Previously \"include_shared_drives\" off)",
            "Resources in shared drives are included in the search. (Previously \"include_shared_drives\" on)"
          ],
          "description": "Optional. Options to include or exclude documents in shared drives. We recommend using this field over include_shared_drives. This field overrides include_shared_drives and include_team_drives when set."
        },
        "includeTeamDrives": {
          "deprecated": true,
          "description": "Set to true to include Team Drive.",
          "type": "boolean"
        },
        "includeSharedDrives": {
          "type": "boolean",
          "description": "Set to **true** to include shared drives.",
          "deprecated": true
        },
        "versionDate": {
          "description": "Search the current version of the Drive file, but export the contents of the last version saved before 12:00 AM UTC on the specified date. Enter the date in UTC.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AddHeldAccountsResponse": {
      "type": "object",
      "properties": {
        "responses": {
          "description": "The list of responses, in the same order as the batch request.",
          "items": {
            "$ref": "AddHeldAccountResult"
          },
          "type": "array"
        }
      },
      "id": "AddHeldAccountsResponse",
      "description": "Response for batch create held accounts."
    },
    "HeldHangoutsChatQuery": {
      "type": "object",
      "properties": {
        "includeRooms": {
          "description": "To include messages in Chat spaces the user was a member of, set to **true**.",
          "type": "boolean"
        }
      },
      "id": "HeldHangoutsChatQuery",
      "description": "Options for Chat holds."
    },
    "Matter": {
      "type": "object",
      "properties": {
        "matterPermissions": {
          "description": "Lists the users and their permission for the matter. Currently there is no programmer defined limit on the number of permissions a matter can have.",
          "type": "array",
          "items": {
            "$ref": "MatterPermission"
          }
        },
        "state": {
          "enumDescriptions": [
            "The matter has no specified state.",
            "The matter is open.",
            "The matter is closed.",
            "The matter is deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "OPEN",
            "CLOSED",
            "DELETED"
          ],
          "description": "The state of the matter."
        },
        "name": {
          "description": "The name of the matter.",
          "type": "string"
        },
        "description": {
          "description": "An optional description for the matter.",
          "type": "string"
        },
        "matterId": {
          "description": "The matter ID, which is generated by the server. Leave blank when creating a matter.",
          "type": "string"
        },
        "matterRegion": {
          "description": "Optional. The requested data region for the matter.",
          "enumDescriptions": [
            "The region is unspecified. Defaults to ANY.",
            "Any region.",
            "United States region.",
            "Europe region."
          ],
          "type": "string",
          "enum": [
            "MATTER_REGION_UNSPECIFIED",
            "ANY",
            "US",
            "EUROPE"
          ]
        }
      },
      "id": "Matter",
      "description": "Represents a matter. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "ListSavedQueriesResponse": {
      "id": "ListSavedQueriesResponse",
      "description": "Definition of the response for method ListSaveQuery.",
      "type": "object",
      "properties": {
        "savedQueries": {
          "description": "List of saved queries.",
          "items": {
            "$ref": "SavedQuery"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Page token to retrieve the next page of results in the list. If this is empty, then there are no more saved queries to list.",
          "type": "string"
        }
      }
    },
    "CountArtifactsRequest": {
      "type": "object",
      "properties": {
        "query": {
          "description": "The search query.",
          "$ref": "Query"
        },
        "view": {
          "enumDescriptions": [
            "Default. Same as **TOTAL_COUNT**.",
            "Response includes counts of the total accounts, queried accounts, matching accounts, non-queryable accounts, and queried account errors.",
            "Response includes the same details as **TOTAL_COUNT**, plus additional account breakdown."
          ],
          "type": "string",
          "enum": [
            "COUNT_RESULT_VIEW_UNSPECIFIED",
            "TOTAL_COUNT",
            "ALL"
          ],
          "description": "Sets the granularity of the count results."
        }
      },
      "id": "CountArtifactsRequest",
      "description": "Count artifacts request."
    },
    "SitesUrlInfo": {
      "type": "object",
      "properties": {
        "urls": {
          "description": "A list of published site URLs.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SitesUrlInfo",
      "description": "The published site URLs of new Google Sites to search"
    },
    "AccountCount": {
      "id": "AccountCount",
      "description": "The results count for each account.",
      "type": "object",
      "properties": {
        "account": {
          "description": "Account owner.",
          "$ref": "UserInfo"
        },
        "count": {
          "description": "The number of results (messages or files) found for this account.",
          "type": "string",
          "format": "int64"
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      }
    },
    "CountArtifactsResponse": {
      "id": "CountArtifactsResponse",
      "description": "Definition of the response for method CountArtifacts.",
      "type": "object",
      "properties": {
        "mailCountResult": {
          "description": "Count metrics for Gmail and classic Hangouts.",
          "$ref": "MailCountResult"
        },
        "groupsCountResult": {
          "$ref": "GroupsCountResult",
          "description": "Count metrics for Groups."
        },
        "totalCount": {
          "type": "string",
          "format": "int64",
          "description": "Total count of messages."
        }
      }
    },
    "HeldAccount": {
      "type": "object",
      "properties": {
        "email": {
          "description": "The primary email address of the account. If used as an input, this takes precedence over **accountId**.",
          "type": "string"
        },
        "firstName": {
          "description": "Output only. The first name of the account holder.",
          "type": "string"
        },
        "lastName": {
          "description": "Output only. The last name of the account holder.",
          "type": "string"
        },
        "holdTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. When the account was put on hold."
        },
        "accountId": {
          "description": "The account ID, as provided by the [Admin SDK](https://developers.google.com/admin-sdk/).",
          "type": "string"
        }
      },
      "id": "HeldAccount",
      "description": "An account covered by a hold. This structure is immutable. It can be an individual account or a Google Group, depending on the service. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "HeldCalendarQuery": {
      "type": "object",
      "properties": {},
      "id": "HeldCalendarQuery",
      "description": "Options for Calendar holds."
    },
    "OrgUnitInfo": {
      "type": "object",
      "properties": {
        "orgUnitId": {
          "description": "The name of the organizational unit to search, as provided by the [Admin SDK Directory API](https://developers.google.com/admin-sdk/directory/).",
          "type": "string"
        }
      },
      "id": "OrgUnitInfo",
      "description": "The organizational unit to search"
    },
    "HeldVoiceQuery": {
      "type": "object",
      "properties": {
        "coveredData": {
          "items": {
            "type": "string",
            "enum": [
              "COVERED_DATA_UNSPECIFIED",
              "TEXT_MESSAGES",
              "VOICEMAILS",
              "CALL_LOGS"
            ],
            "enumDescriptions": [
              "Covered data unspecified.",
              "Voice text messages.",
              "Voicemails and their transcripts.",
              "Call logs."
            ]
          },
          "type": "array",
          "description": "A list of data types covered by the hold. Should be non-empty. Order does not matter and duplicates are ignored."
        }
      },
      "id": "HeldVoiceQuery",
      "description": "Options for Voice holds."
    },
    "ExportStats": {
      "id": "ExportStats",
      "description": "Progress information for an export.",
      "type": "object",
      "properties": {
        "sizeInBytes": {
          "type": "string",
          "format": "int64",
          "description": "The size of export in bytes."
        },
        "exportedArtifactCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of messages or files already processed for export."
        },
        "totalArtifactCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of messages or files to be exported."
        }
      }
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "RemoveHeldAccountsResponse": {
      "id": "RemoveHeldAccountsResponse",
      "description": "Response for batch delete held accounts.",
      "type": "object",
      "properties": {
        "statuses": {
          "description": "A list of statuses for the deleted accounts. Results have the same order as the request.",
          "items": {
            "$ref": "Status"
          },
          "type": "array"
        }
      }
    },
    "Operation": {
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      },
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "DriveDocumentIds": {
      "id": "DriveDocumentIds",
      "description": "Specify Drive documents by document ID.",
      "type": "object",
      "properties": {
        "ids": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. A list of Drive document IDs."
        }
      }
    },
    "Hold": {
      "type": "object",
      "properties": {
        "updateTime": {
          "description": "The last time this hold was modified.",
          "type": "string",
          "format": "google-datetime"
        },
        "accounts": {
          "description": "If set, the hold applies to the specified accounts and **orgUnit** must be empty.",
          "items": {
            "$ref": "HeldAccount"
          },
          "type": "array"
        },
        "corpus": {
          "description": "The service to be searched.",
          "type": "string",
          "enum": [
            "CORPUS_TYPE_UNSPECIFIED",
            "DRIVE",
            "MAIL",
            "GROUPS",
            "HANGOUTS_CHAT",
            "VOICE",
            "CALENDAR",
            "GEMINI"
          ],
          "enumDescriptions": [
            "No service specified.",
            "Drive, including Meet and Sites.",
            "For search, Gmail and classic Hangouts. For holds, Gmail only.",
            "Groups.",
            "For export, Google Chat only. For holds, Google Chat and classic Hangouts.",
            "Google Voice.",
            "Calendar.",
            "Gemini."
          ]
        },
        "orgUnit": {
          "$ref": "HeldOrgUnit",
          "description": "If set, the hold applies to all members of the organizational unit and **accounts** must be empty. This property is mutable. For Groups holds, set **accounts**."
        },
        "name": {
          "description": "The name of the hold.",
          "type": "string"
        },
        "query": {
          "description": "Service-specific options. If set, **CorpusQuery** must match **CorpusType**.",
          "$ref": "CorpusQuery"
        },
        "holdId": {
          "description": "The unique immutable ID of the hold. Assigned during creation.",
          "type": "string"
        }
      },
      "id": "Hold",
      "description": "A hold. A hold prevents the specified Google Workspace service from purging data for specific accounts or all members of an organizational unit. To work with Vault resources, the account must have the [required Vault privileges] (https://support.google.com/vault/answer/2799699) and access to the matter. To access a matter, the account must have created the matter, have the matter shared with them, or have the **View All Matters** privilege."
    },
    "RemoveMatterPermissionsRequest": {
      "type": "object",
      "properties": {
        "accountId": {
          "description": "The account ID.",
          "type": "string"
        }
      },
      "id": "RemoveMatterPermissionsRequest",
      "description": "Remove an account as a matter collaborator."
    },
    "HeldGroupsQuery": {
      "id": "HeldGroupsQuery",
      "description": "Query options for group holds.",
      "type": "object",
      "properties": {
        "terms": {
          "description": "The [search operators](https://support.google.com/vault/answer/2474474) used to refine the messages covered by the hold.",
          "type": "string"
        },
        "endTime": {
          "description": "The end time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The start time for the query. Specify in GMT. The value is rounded to 12 AM on the specified date."
        }
      }
    },
    "RemoveHeldAccountsRequest": {
      "type": "object",
      "properties": {
        "accountIds": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The account IDs of the accounts to remove from the hold."
        }
      },
      "id": "RemoveHeldAccountsRequest",
      "description": "Remove a list of accounts from a hold."
    }
  },
  "rootUrl": "https://vault.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "resources": {
    "operations": {
      "methods": {
        "list": {
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "id": "vault.operations.list",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameters": {
            "pageSize": {
              "description": "The standard list page size.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "name": {
              "pattern": "^operations$",
              "location": "path",
              "description": "The name of the operation's parent resource.",
              "required": true,
              "type": "string"
            },
            "returnPartialSuccess": {
              "location": "query",
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "The standard list filter."
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The standard list page token."
            }
          },
          "response": {
            "$ref": "ListOperationsResponse"
          },
          "path": "v1/{+name}",
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`."
        },
        "delete": {
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource to be deleted.",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/{+name}",
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "response": {
            "$ref": "Empty"
          },
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "id": "vault.operations.delete"
        },
        "get": {
          "id": "vault.operations.get",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "description": "The name of the operation resource.",
              "required": true,
              "type": "string"
            }
          }
        },
        "cancel": {
          "id": "vault.operations.cancel",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "httpMethod": "POST",
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}:cancel",
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "parameterOrder": [
            "name"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be cancelled.",
              "required": true,
              "type": "string",
              "pattern": "^operations/.*$",
              "location": "path"
            }
          }
        }
      }
    },
    "matters": {
      "methods": {
        "removePermissions": {
          "id": "vault.matters.removePermissions",
          "request": {
            "$ref": "RemoveMatterPermissionsRequest"
          },
          "flatPath": "v1/matters/{matterId}:removePermissions",
          "httpMethod": "POST",
          "path": "v1/matters/{matterId}:removePermissions",
          "description": "Removes an account as a matter collaborator.",
          "response": {
            "$ref": "Empty"
          },
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ]
        },
        "create": {
          "response": {
            "$ref": "Matter"
          },
          "path": "v1/matters",
          "description": "Creates a matter with the given name and description. The initial state is open, and the owner is the method caller. Returns the created matter with default view.",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {},
          "id": "vault.matters.create",
          "flatPath": "v1/matters",
          "httpMethod": "POST",
          "request": {
            "$ref": "Matter"
          }
        },
        "count": {
          "flatPath": "v1/matters/{matterId}:count",
          "httpMethod": "POST",
          "request": {
            "$ref": "CountArtifactsRequest"
          },
          "id": "vault.matters.count",
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "matterId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The matter ID."
            }
          },
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/matters/{matterId}:count",
          "description": "Counts the accounts processed by the specified query."
        },
        "close": {
          "flatPath": "v1/matters/{matterId}:close",
          "httpMethod": "POST",
          "request": {
            "$ref": "CloseMatterRequest"
          },
          "id": "vault.matters.close",
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "matterId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The matter ID."
            }
          },
          "response": {
            "$ref": "CloseMatterResponse"
          },
          "path": "v1/matters/{matterId}:close",
          "description": "Closes the specified matter. Returns the matter with updated state."
        },
        "addPermissions": {
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "MatterPermission"
          },
          "path": "v1/matters/{matterId}:addPermissions",
          "description": "Adds an account as a matter collaborator.",
          "flatPath": "v1/matters/{matterId}:addPermissions",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMatterPermissionsRequest"
          },
          "id": "vault.matters.addPermissions"
        },
        "update": {
          "id": "vault.matters.update",
          "flatPath": "v1/matters/{matterId}",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Matter"
          },
          "response": {
            "$ref": "Matter"
          },
          "path": "v1/matters/{matterId}",
          "description": "Updates the specified matter. This updates only the name and description of the matter, identified by matter ID. Changes to any other fields are ignored. Returns the default view of the matter.",
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          }
        },
        "delete": {
          "id": "vault.matters.delete",
          "flatPath": "v1/matters/{matterId}",
          "httpMethod": "DELETE",
          "response": {
            "$ref": "Matter"
          },
          "path": "v1/matters/{matterId}",
          "description": "Deletes the specified matter. Returns the matter with updated state.",
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "matterId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The matter ID"
            }
          }
        },
        "reopen": {
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "parameters": {
            "matterId": {
              "description": "The matter ID.",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "ReopenMatterResponse"
          },
          "path": "v1/matters/{matterId}:reopen",
          "description": "Reopens the specified matter. Returns the matter with updated state.",
          "flatPath": "v1/matters/{matterId}:reopen",
          "httpMethod": "POST",
          "request": {
            "$ref": "ReopenMatterRequest"
          },
          "id": "vault.matters.reopen"
        },
        "get": {
          "parameters": {
            "view": {
              "location": "query",
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ],
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "description": "Specifies how much information about the matter to return in the response."
            },
            "matterId": {
              "location": "path",
              "required": true,
              "type": "string",
              "description": "The matter ID."
            }
          },
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "path": "v1/matters/{matterId}",
          "description": "Gets the specified matter.",
          "response": {
            "$ref": "Matter"
          },
          "flatPath": "v1/matters/{matterId}",
          "httpMethod": "GET",
          "id": "vault.matters.get"
        },
        "undelete": {
          "request": {
            "$ref": "UndeleteMatterRequest"
          },
          "flatPath": "v1/matters/{matterId}:undelete",
          "httpMethod": "POST",
          "id": "vault.matters.undelete",
          "parameters": {
            "matterId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The matter ID."
            }
          },
          "parameterOrder": [
            "matterId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery"
          ],
          "path": "v1/matters/{matterId}:undelete",
          "description": "Undeletes the specified matter. Returns the matter with updated state.",
          "response": {
            "$ref": "Matter"
          }
        },
        "list": {
          "flatPath": "v1/matters",
          "httpMethod": "GET",
          "id": "vault.matters.list",
          "parameters": {
            "pageSize": {
              "description": "The number of matters to return in the response. Default and maximum are 100.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The pagination token as returned in the response."
            },
            "state": {
              "enumDescriptions": [
                "The matter has no specified state.",
                "The matter is open.",
                "The matter is closed.",
                "The matter is deleted."
              ],
              "type": "string",
              "enum": [
                "STATE_UNSPECIFIED",
                "OPEN",
                "CLOSED",
                "DELETED"
              ],
              "description": "If set, lists only matters with the specified state. The default lists matters of all states.",
              "location": "query"
            },
            "view": {
              "location": "query",
              "description": "Specifies how much information about the matter to return in response.",
              "type": "string",
              "enum": [
                "VIEW_UNSPECIFIED",
                "BASIC",
                "FULL"
              ],
              "enumDescriptions": [
                "The amount of detail is unspecified. Same as **BASIC**.",
                "Returns the matter ID, name, description, and state. Default choice.",
                "Returns the basic details and a list of matter owners and collaborators (see [MatterPermissions](https://developers.google.com/workspace/vault/reference/rest/v1/matters#matterpermission))."
              ]
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/ediscovery",
            "https://www.googleapis.com/auth/ediscovery.readonly"
          ],
          "path": "v1/matters",
          "description": "Lists matters the requestor has access to.",
          "response": {
            "$ref": "ListMattersResponse"
          }
        }
      },
      "resources": {
        "savedQueries": {
          "methods": {
            "get": {
              "id": "vault.matters.savedQueries.get",
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "GET",
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "description": "Retrieves the specified saved query.",
              "response": {
                "$ref": "SavedQuery"
              },
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The ID of the matter to get the saved query from."
                },
                "savedQueryId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "ID of the saved query to retrieve."
                }
              },
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ]
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "path": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "description": "Deletes the specified saved query.",
              "parameterOrder": [
                "matterId",
                "savedQueryId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "matterId": {
                  "description": "The ID of the matter to delete the saved query from.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "savedQueryId": {
                  "description": "ID of the saved query to delete.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "id": "vault.matters.savedQueries.delete",
              "flatPath": "v1/matters/{matterId}/savedQueries/{savedQueryId}",
              "httpMethod": "DELETE"
            },
            "create": {
              "id": "vault.matters.savedQueries.create",
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "httpMethod": "POST",
              "request": {
                "$ref": "SavedQuery"
              },
              "response": {
                "$ref": "SavedQuery"
              },
              "path": "v1/matters/{matterId}/savedQueries",
              "description": "Creates a saved query.",
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "matterId": {
                  "description": "The ID of the matter to create the saved query in.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              }
            },
            "list": {
              "flatPath": "v1/matters/{matterId}/savedQueries",
              "httpMethod": "GET",
              "id": "vault.matters.savedQueries.list",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "The pagination token as returned in the previous response. An empty token means start from the beginning."
                },
                "matterId": {
                  "description": "The ID of the matter to get the saved queries for.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The maximum number of saved queries to return.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "path": "v1/matters/{matterId}/savedQueries",
              "description": "Lists the saved queries in a matter.",
              "response": {
                "$ref": "ListSavedQueriesResponse"
              }
            }
          }
        },
        "holds": {
          "resources": {
            "accounts": {
              "methods": {
                "create": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "HeldAccount"
                  },
                  "id": "vault.matters.holds.accounts.create",
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "parameters": {
                    "matterId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The matter ID."
                    },
                    "holdId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The hold ID."
                    }
                  },
                  "response": {
                    "$ref": "HeldAccount"
                  },
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "description": "Adds an account to a hold. Accounts can be added only to a hold that does not have an organizational unit set. If you try to add an account to an organizational unit-based hold, an error is returned."
                },
                "list": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "httpMethod": "GET",
                  "id": "vault.matters.holds.accounts.list",
                  "parameters": {
                    "matterId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The matter ID."
                    },
                    "holdId": {
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "The hold ID."
                    }
                  },
                  "parameterOrder": [
                    "matterId",
                    "holdId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery",
                    "https://www.googleapis.com/auth/ediscovery.readonly"
                  ],
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts",
                  "description": "Lists the accounts covered by a hold. This can list only individually-specified accounts covered by the hold. If the hold covers an organizational unit, use the [Admin SDK](https://developers.google.com/admin-sdk/). to list the members of the organizational unit on hold.",
                  "response": {
                    "$ref": "ListHeldAccountsResponse"
                  }
                },
                "delete": {
                  "flatPath": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "httpMethod": "DELETE",
                  "id": "vault.matters.holds.accounts.delete",
                  "parameters": {
                    "holdId": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The hold ID."
                    },
                    "accountId": {
                      "description": "The ID of the account to remove from the hold.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "matterId": {
                      "description": "The matter ID.",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "matterId",
                    "holdId",
                    "accountId"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/ediscovery"
                  ],
                  "path": "v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}",
                  "description": "Removes an account from a hold.",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery",
                "https://www.googleapis.com/auth/ediscovery.readonly"
              ],
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                },
                "pageSize": {
                  "description": "The number of holds to return in the response, between 0 and 100 inclusive. Leaving this empty, or as 0, is the same as **page_size** = 100.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "The pagination token as returned in the response. An empty token means start from the beginning.",
                  "type": "string",
                  "location": "query"
                },
                "view": {
                  "location": "query",
                  "enumDescriptions": [
                    "Not specified. Defaults to **FULL_HOLD**.",
                    "Returns the hold ID, name, update time, service, and query.",
                    "Returns all details of **BASIC_HOLD** and the entities the hold applies to, such as accounts or organizational unit."
                  ],
                  "type": "string",
                  "enum": [
                    "HOLD_VIEW_UNSPECIFIED",
                    "BASIC_HOLD",
                    "FULL_HOLD"
                  ],
                  "description": "The amount of detail to return for a hold."
                }
              },
              "response": {
                "$ref": "ListHoldsResponse"
              },
              "path": "v1/matters/{matterId}/holds",
              "description": "Lists the holds in a matter.",
              "flatPath": "v1/matters/{matterId}/holds",
              "httpMethod": "GET",
              "id": "vault.matters.holds.list"
            },
            "removeHeldAccounts": {
              "request": {
                "$ref": "RemoveHeldAccountsRequest"
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "httpMethod": "POST",
              "id": "vault.matters.holds.removeHeldAccounts",
              "parameters": {
                "matterId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The matter ID."
                },
                "holdId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The hold ID."
                }
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}:removeHeldAccounts",
              "description": "Removes the specified accounts from a hold. Returns a list of statuses in the same order as the request.",
              "response": {
                "$ref": "RemoveHeldAccountsResponse"
              }
            },
            "addHeldAccounts": {
              "response": {
                "$ref": "AddHeldAccountsResponse"
              },
              "path": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "description": "Adds accounts to a hold. Returns a list of accounts that have been successfully added. Accounts can be added only to an existing account-based hold.",
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "matterId": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "description": "The matter ID."
                },
                "holdId": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The hold ID."
                }
              },
              "id": "vault.matters.holds.addHeldAccounts",
              "flatPath": "v1/matters/{matterId}/holds/{holdId}:addHeldAccounts",
              "httpMethod": "POST",
              "request": {
                "$ref": "AddHeldAccountsRequest"
              }
            },
            "update": {
              "request": {
                "$ref": "Hold"
              },
              "flatPath": "v1/matters/{matterId}/holds/{holdId}",
              "httpMethod": "PUT",
              "id": "vault.matters.holds.update",
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                },
                "holdId": {
                  "description": "The ID of the hold.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "path": "v1/matters/{matterId}/holds/{holdId}",
              "description": "Updates the scope (organizational unit or accounts) and query parameters of a hold. You cannot add accounts to a hold that covers an organizational unit, nor can you add organizational units to a hold that covers individual accounts. If you try, the unsupported values are ignored.",
              "response": {
                "$ref": "Hold"
              }
            },
            "create": {
              "flatPath": "v1/matters/{matterId}/holds",
              "httpMethod": "POST",
              "request": {
                "$ref": "Hold"
              },
              "id": "vault.matters.holds.create",
              "parameterOrder": [
                "matterId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
                "matterId": {
                  "description": "The matter ID.",
                  "required": true,
                  "type": "string",
                  "location": "path"
                }
              },
              "response": {
                "$ref": "Hold"
              },
              "path": "v1/matters/{matterId}/holds",
              "description": "Creates a hold in the specified matter."
            },
            "delete": {
              "parameterOrder": [
                "matterId",
                "holdId"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/ediscovery"
              ],
              "parameters": {
[...]
