{
  "id": "verifiedaccess:v1",
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "schemas": {
    "SignedData": {
      "id": "SignedData",
      "type": "object",
      "description": "The wrapper message of any data and its signature.",
      "properties": {
        "data": {
          "type": "string",
          "format": "byte",
          "description": "The data to be signed."
        },
        "signature": {
          "description": "The signature of the data field.",
          "format": "byte",
          "type": "string"
        }
      }
    },
    "VerifyChallengeResponseResult": {
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "properties": {
        "signedPublicKeyAndChallenge": {
          "type": "string",
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)"
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "deprecated": true,
          "type": "string"
        },
        "devicePermanentId": {
          "type": "string",
          "description": "Device permanent id is returned in this field (for the machine response only)."
        }
      },
      "id": "VerifyChallengeResponseResult",
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Challenge": {
      "type": "object",
      "id": "Challenge",
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      }
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "type": "object",
      "description": "signed ChallengeResponse",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "type": "string",
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match."
        }
      }
    }
  },
  "batchPath": "batch",
  "name": "verifiedaccess",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "revision": "20260310",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "parameters": {},
          "path": "v1/challenge",
          "response": {
            "$ref": "Challenge"
          },
          "httpMethod": "POST",
          "id": "verifiedaccess.challenge.create",
          "request": {
            "$ref": "Empty"
          },
          "description": "CreateChallenge API",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameterOrder": [],
          "flatPath": "v1/challenge"
        },
        "verify": {
          "path": "v1/challenge:verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "httpMethod": "POST",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameterOrder": [],
          "flatPath": "v1/challenge:verify",
          "id": "verifiedaccess.challenge.verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "description": "VerifyChallengeResponse API"
        }
      }
    }
  },
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "version": "v1",
  "title": "Chrome Verified Access API",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "servicePath": "",
  "version_module": true,
  "basePath": "",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "description": "V1 error format."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "canonicalName": "verifiedaccess",
  "ownerName": "Google",
  "protocol": "rest"
}