{
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "description": "CreateChallenge API",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "Empty"
          },
          "parameterOrder": [],
          "flatPath": "v1/challenge",
          "response": {
            "$ref": "Challenge"
          },
          "id": "verifiedaccess.challenge.create",
          "path": "v1/challenge",
          "parameters": {}
        },
        "verify": {
          "description": "VerifyChallengeResponse API",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "httpMethod": "POST",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "parameterOrder": [],
          "flatPath": "v1/challenge:verify",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "id": "verifiedaccess.challenge.verify",
          "path": "v1/challenge:verify",
          "parameters": {}
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "servicePath": "",
  "version": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "name": "verifiedaccess",
  "protocol": "rest",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "schemas": {
    "VerifyChallengeResponseResult": {
      "id": "VerifyChallengeResponseResult",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "type": "object",
      "properties": {
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "verificationOutput": {
          "deprecated": true,
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string"
        }
      }
    },
    "SignedData": {
      "description": "The wrapper message of any data and its signature.",
      "type": "object",
      "properties": {
        "data": {
          "description": "The data to be signed.",
          "type": "string",
          "format": "byte"
        },
        "signature": {
          "format": "byte",
          "description": "The signature of the data field.",
          "type": "string"
        }
      },
      "id": "SignedData"
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "description": "signed ChallengeResponse",
      "type": "object",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      }
    },
    "Challenge": {
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "type": "object",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "$ref": "SignedData",
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)"
        }
      },
      "id": "Challenge"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {},
      "id": "Empty"
    }
  },
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    }
  },
  "basePath": "",
  "ownerName": "Google",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "title": "Chrome Verified Access API",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "id": "verifiedaccess:v1",
  "revision": "20260310",
  "ownerDomain": "google.com",
  "version_module": true,
  "kind": "discovery#restDescription",
  "canonicalName": "verifiedaccess",
  "batchPath": "batch"
}