{
  "basePath": "",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "servicePath": "",
  "kind": "discovery#restDescription",
  "protocol": "rest",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "parameters": {
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    }
  },
  "ownerName": "Google",
  "version": "v1",
  "canonicalName": "verifiedaccess",
  "id": "verifiedaccess:v1",
  "title": "Chrome Verified Access API",
  "schemas": {
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "Challenge": {
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "type": "object",
      "id": "Challenge"
    },
    "VerifyChallengeResponseResult": {
      "id": "VerifyChallengeResponseResult",
      "properties": {
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string",
          "deprecated": true
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        }
      },
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "type": "object"
    },
    "SignedData": {
      "properties": {
        "data": {
          "format": "byte",
          "description": "The data to be signed.",
          "type": "string"
        },
        "signature": {
          "format": "byte",
          "description": "The signature of the data field.",
          "type": "string"
        }
      },
      "description": "The wrapper message of any data and its signature.",
      "type": "object",
      "id": "SignedData"
    },
    "VerifyChallengeResponseRequest": {
      "description": "signed ChallengeResponse",
      "type": "object",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "id": "VerifyChallengeResponseRequest"
    }
  },
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "name": "verifiedaccess",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "fullyEncodeReservedExpansion": true,
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "id": "verifiedaccess.challenge.create",
          "parameterOrder": [],
          "description": "CreateChallenge API",
          "request": {
            "$ref": "Empty"
          },
          "flatPath": "v1/challenge",
          "parameters": {},
          "response": {
            "$ref": "Challenge"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "httpMethod": "POST",
          "path": "v1/challenge"
        },
        "verify": {
          "parameterOrder": [],
          "description": "VerifyChallengeResponse API",
          "id": "verifiedaccess.challenge.verify",
          "flatPath": "v1/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "parameters": {},
          "httpMethod": "POST",
          "path": "v1/challenge:verify"
        }
      }
    }
  },
  "revision": "20260303",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "version_module": true
}