{
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "canonicalName": "verifiedaccess",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260428",
  "id": "verifiedaccess:v1",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "protocol": "rest",
  "schemas": {
    "Empty": {
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "VerifyChallengeResponseResult": {
      "id": "VerifyChallengeResponseResult",
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "type": "object",
      "properties": {
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "verificationOutput": {
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string",
          "deprecated": true
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        }
      }
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "description": "signed ChallengeResponse",
      "type": "object",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      }
    },
    "Challenge": {
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      },
      "id": "Challenge",
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "type": "object"
    },
    "SignedData": {
      "properties": {
        "data": {
          "description": "The data to be signed.",
          "type": "string",
          "format": "byte"
        },
        "signature": {
          "description": "The signature of the data field.",
          "type": "string",
          "format": "byte"
        }
      },
      "id": "SignedData",
      "description": "The wrapper message of any data and its signature.",
      "type": "object"
    }
  },
  "servicePath": "",
  "version_module": true,
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "ownerDomain": "google.com",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "title": "Chrome Verified Access API",
  "ownerName": "Google",
  "name": "verifiedaccess",
  "version": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "parameters": {
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "alt": {
      "type": "string",
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "resources": {
    "challenge": {
      "methods": {
        "verify": {
          "path": "v1/challenge:verify",
          "id": "verifiedaccess.challenge.verify",
          "flatPath": "v1/challenge:verify",
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "parameters": {},
          "description": "VerifyChallengeResponse API",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          }
        },
        "create": {
          "parameters": {},
          "request": {
            "$ref": "Empty"
          },
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ],
          "description": "CreateChallenge API",
          "httpMethod": "POST",
          "parameterOrder": [],
          "response": {
            "$ref": "Challenge"
          },
          "path": "v1/challenge",
          "id": "verifiedaccess.challenge.create",
          "flatPath": "v1/challenge"
        }
      }
    }
  }
}