{
  "canonicalName": "verifiedaccess",
  "version_module": true,
  "discoveryVersion": "v1",
  "title": "Chrome Verified Access API",
  "documentationLink": "https://developers.google.com/chrome/verified-access",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "revision": "20260428",
  "baseUrl": "https://verifiedaccess.googleapis.com/",
  "description": "API for Verified Access chrome extension to provide credential verification for chrome devices connecting to an enterprise network",
  "basePath": "",
  "id": "verifiedaccess:v1",
  "schemas": {
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty",
      "properties": {}
    },
    "VerifyChallengeResponseResult": {
      "id": "VerifyChallengeResponseResult",
      "properties": {
        "verificationOutput": {
          "deprecated": true,
          "description": "For EMCert check, device permanent id is returned here. For EUCert check, signed_public_key_and_challenge [base64 encoded] is returned if present, otherwise empty string is returned. This field is deprecated, please use device_permanent_id or signed_public_key_and_challenge fields.",
          "type": "string"
        },
        "signedPublicKeyAndChallenge": {
          "description": "Certificate Signing Request (in the SPKAC format, base64 encoded) is returned in this field. This field will be set only if device has included CSR in its challenge response. (the option to include CSR is now available for both user and machine responses)",
          "type": "string"
        },
        "deviceEnrollmentId": {
          "description": "Device enrollment id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "devicePermanentId": {
          "description": "Device permanent id is returned in this field (for the machine response only).",
          "type": "string"
        },
        "attestedDeviceId": {
          "description": "Attested device id (ADID) of the device, read from the verified data.",
          "type": "string"
        }
      },
      "description": "Result message for VerifiedAccess.VerifyChallengeResponse.",
      "type": "object"
    },
    "SignedData": {
      "id": "SignedData",
      "properties": {
        "signature": {
          "format": "byte",
          "description": "The signature of the data field.",
          "type": "string"
        },
        "data": {
          "format": "byte",
          "description": "The data to be signed.",
          "type": "string"
        }
      },
      "description": "The wrapper message of any data and its signature.",
      "type": "object"
    },
    "VerifyChallengeResponseRequest": {
      "id": "VerifyChallengeResponseRequest",
      "properties": {
        "challengeResponse": {
          "description": "The generated response to the challenge",
          "$ref": "SignedData"
        },
        "expectedIdentity": {
          "description": "Service can optionally provide identity information about the device or user associated with the key. For an EMK, this value is the enrolled domain. For an EUK, this value is the user's email address. If present, this value will be checked against contents of the response, and verification will fail if there is no match.",
          "type": "string"
        }
      },
      "description": "signed ChallengeResponse",
      "type": "object"
    },
    "Challenge": {
      "id": "Challenge",
      "properties": {
        "challenge": {
          "description": "Generated challenge",
          "$ref": "SignedData"
        },
        "alternativeChallenge": {
          "description": "Challenge generated with the old signing key (this will only be present during key rotation)",
          "$ref": "SignedData"
        }
      },
      "description": "Result message for VerifiedAccess.CreateChallenge.",
      "type": "object"
    }
  },
  "rootUrl": "https://verifiedaccess.googleapis.com/",
  "resources": {
    "challenge": {
      "methods": {
        "create": {
          "flatPath": "v1/challenge",
          "parameterOrder": [],
          "request": {
            "$ref": "Empty"
          },
          "description": "CreateChallenge API",
          "parameters": {},
          "id": "verifiedaccess.challenge.create",
          "response": {
            "$ref": "Challenge"
          },
          "path": "v1/challenge",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ]
        },
        "verify": {
          "flatPath": "v1/challenge:verify",
          "parameterOrder": [],
          "request": {
            "$ref": "VerifyChallengeResponseRequest"
          },
          "parameters": {},
          "description": "VerifyChallengeResponse API",
          "response": {
            "$ref": "VerifyChallengeResponseResult"
          },
          "id": "verifiedaccess.challenge.verify",
          "path": "v1/challenge:verify",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/verifiedaccess"
          ]
        }
      }
    }
  },
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/verifiedaccess": {
          "description": "Verify your enterprise credentials"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    }
  },
  "batchPath": "batch",
  "servicePath": "",
  "name": "verifiedaccess",
  "version": "v1",
  "mtlsRootUrl": "https://verifiedaccess.mtls.googleapis.com/",
  "ownerName": "Google"
}