{
  "name": "versionhistory",
  "canonicalName": "Version History",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "parameters": {
    "alt": {
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    }
  },
  "batchPath": "batch",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "protocol": "rest",
  "revision": "20260405",
  "discoveryVersion": "v1",
  "version_module": true,
  "resources": {
    "platforms": {
      "methods": {
        "list": {
          "flatPath": "v1/{v1Id}/platforms",
          "description": "Returns list of platforms that are available for a given product. The resource \"product\" has no resource name in its name.",
          "path": "v1/{+parent}/platforms",
          "response": {
            "$ref": "ListPlatformsResponse"
          },
          "id": "versionhistory.platforms.list",
          "parameters": {
            "parent": {
              "location": "path",
              "type": "string",
              "description": "Required. The product, which owns this collection of platforms. Format: {product}",
              "required": true,
              "pattern": "^[^/]+$"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page.",
              "location": "query",
              "type": "string"
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "description": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default.",
              "format": "int32"
            }
          },
          "httpMethod": "GET",
          "parameterOrder": [
            "parent"
          ]
        }
      },
      "resources": {
        "channels": {
          "resources": {
            "versions": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "versionhistory.platforms.channels.versions.list",
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A page token, received from a previous `ListVersions` call. Provide this to retrieve the subsequent page."
                    },
                    "parent": {
                      "pattern": "^[^/]+/platforms/[^/]+/channels/[^/]+$",
                      "required": true,
                      "description": "Required. The channel, which owns this collection of versions. Format: {product}/platforms/{platform}/channels/{channel}",
                      "location": "path",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", and \"channel\". Valid operators are \"<\", \"<=\", \"=\", \">=\", and \">\". Channel comparison is done by distance from stable. Ex) stable < beta, beta < dev, canary < canary_asan. Version comparison is done numerically. If version is not entirely written, the version will be appended with 0 in missing fields. Ex) version > 80 becoms version > 80.0.0.0 Name and platform are filtered by string comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex) \"...?filter=version > 80, version < 81"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Optional limit on the number of versions to include in the response. If unspecified, the server will pick an appropriate default."
                    },
                    "orderBy": {
                      "description": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"platform\", and \"channel\". Optionally, you can append \" desc\" or \" asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by version in descending order. Ex) \"...?order_by=version asc\" Ex) \"...?order_by=platform desc, channel, version\"",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels/{channelsId}/versions",
                  "description": "Returns list of version for the given platform/channel.",
                  "path": "v1/{+parent}/versions",
                  "response": {
                    "$ref": "ListVersionsResponse"
                  }
                }
              },
              "resources": {
                "releases": {
                  "methods": {
                    "list": {
                      "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels/{channelsId}/versions/{versionsId}/releases",
                      "description": "Returns list of releases of the given version.",
                      "path": "v1/{+parent}/releases",
                      "response": {
                        "$ref": "ListReleasesResponse"
                      },
                      "id": "versionhistory.platforms.channels.versions.releases.list",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "type": "string",
                          "description": "Required. The version, which owns this collection of releases. Format: {product}/platforms/{platform}/channels/{channel}/versions/{version}",
                          "required": true,
                          "pattern": "^[^/]+/platforms/[^/]+/channels/[^/]+/versions/[^/]+$"
                        },
                        "pageToken": {
                          "description": "Optional. A page token, received from a previous `ListReleases` call. Provide this to retrieve the subsequent page.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filter string. Format is a comma separated list of All comma separated filter clauses are conjoined with a logical \"and\". Valid field_names are \"version\", \"name\", \"platform\", \"channel\", \"fraction\" \"starttime\", and \"endtime\". Valid operators are \"<\", \"<=\", \"=\", \">=\", and \">\". Channel comparison is done by distance from stable. must be a valid channel when filtering by channel. Ex) stable < beta, beta < dev, canary < canary_asan. Version comparison is done numerically. Ex) 1.0.0.8 < 1.0.0.10. If version is not entirely written, the version will be appended with 0 for the missing fields. Ex) version > 80 becoms version > 80.0.0.0 When filtering by starttime or endtime, string must be in RFC 3339 date string format. Name and platform are filtered by string comparison. Ex) \"...?filter=channel<=beta, version >= 80 Ex) \"...?filter=version > 80, version < 81 Ex) \"...?filter=starttime>2020-01-01T00:00:00Z",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Optional limit on the number of releases to include in the response. If unspecified, the server will pick an appropriate default.",
                          "format": "int32",
                          "location": "query",
                          "type": "integer"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Ordering string. Valid order_by strings are \"version\", \"name\", \"starttime\", \"endtime\", \"platform\", \"channel\", and \"fraction\". Optionally, you can append \"desc\" or \"asc\" to specify the sorting order. Multiple order_by strings can be used in a comma separated list. Ordering by channel will sort by distance from the stable channel (not alphabetically). A list of channels sorted in this order is: stable, beta, dev, canary, and canary_asan. Sorting by name may cause unexpected behaviour as it is a naive string sort. For example, 1.0.0.8 will be before 1.0.0.10 in descending order. If order_by is not specified the response will be sorted by starttime in descending order. Ex) \"...?order_by=starttime asc\" Ex) \"...?order_by=platform desc, channel, startime desc\""
                        }
                      },
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "httpMethod": "GET",
              "parameterOrder": [
                "parent"
              ],
              "id": "versionhistory.platforms.channels.list",
              "parameters": {
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "Optional. Optional limit on the number of channels to include in the response. If unspecified, the server will pick an appropriate default."
                },
                "pageToken": {
                  "description": "Optional. A page token, received from a previous `ListChannels` call. Provide this to retrieve the subsequent page.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "required": true,
                  "pattern": "^[^/]+/platforms/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The platform, which owns this collection of channels. Format: {product}/platforms/{platform}"
                }
              },
              "path": "v1/{+parent}/channels",
              "response": {
                "$ref": "ListChannelsResponse"
              },
              "flatPath": "v1/{v1Id}/platforms/{platformsId}/channels",
              "description": "Returns list of channels that are available for a given platform."
            }
          }
        }
      }
    }
  },
  "description": "Version History API - Prod",
  "version": "v1",
  "fullyEncodeReservedExpansion": true,
  "baseUrl": "https://versionhistory.googleapis.com/",
  "schemas": {
    "ListVersionsResponse": {
      "description": "Response message for ListVersions.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "versions": {
          "description": "The list of versions.",
          "type": "array",
          "items": {
            "$ref": "Version"
          }
        }
      },
      "id": "ListVersionsResponse",
      "type": "object"
    },
    "Version": {
      "id": "Version",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Version name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}\" e.g. \"chrome/platforms/win/channels/beta/versions/84.0.4147.38\""
        },
        "version": {
          "description": "String containing just the version number. e.g. \"84.0.4147.38\"",
          "type": "string"
        }
      },
      "description": "Each Version is owned by a Channel. A Version only displays the Version number (e.g. 84.0.4147.38). A Version owns a collection of releases."
    },
    "Interval": {
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end."
        }
      },
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time."
    },
    "ListPlatformsResponse": {
      "properties": {
        "platforms": {
          "description": "The list of platforms.",
          "type": "array",
          "items": {
            "$ref": "Platform"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListPlatformsResponse",
      "type": "object",
      "description": "Response message for ListPlatforms."
    },
    "Release": {
      "id": "Release",
      "type": "object",
      "properties": {
        "fraction": {
          "format": "double",
          "description": "Rollout fraction. This fraction indicates the fraction of people that should receive this version in this release. If the fraction is not specified in ReleaseManager, the API will assume fraction is 1.",
          "type": "number"
        },
        "fractionGroup": {
          "type": "string",
          "description": "Rollout fraction group. Only fractions with the same fraction_group are statistically comparable: there may be non-fractional differences between different fraction groups.",
          "format": "int64"
        },
        "name": {
          "type": "string",
          "description": "Release name. Format is \"{product}/platforms/{platform}/channels/{channel}/versions/{version}/releases/{release}\""
        },
        "version": {
          "type": "string",
          "description": "String containing just the version number. e.g. \"84.0.4147.38\""
        },
        "rolloutData": {
          "type": "array",
          "items": {
            "$ref": "RolloutData"
          },
          "description": "Rollout-related metadata. Some releases are part of one or more A/B rollouts. This field contains the names and data describing this release's role in any rollouts."
        },
        "serving": {
          "description": "Timestamp interval of when the release was live. If end_time is unspecified, the release is currently live.",
          "$ref": "Interval"
        },
        "pinnable": {
          "description": "Whether or not the release was available for version pinning.",
          "type": "boolean"
        }
      },
      "description": "A Release is owned by a Version. A Release contains information about the release(s) of its parent version. This includes when the release began and ended, as well as what percentage it was released at. If the version is released again, or if the serving percentage changes, it will create another release under the version."
    },
    "Platform": {
      "properties": {
        "name": {
          "description": "Platform name. Format is \"{product}/platforms/{platform}\"",
          "type": "string"
        },
        "platformType": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Chrome Desktop for Windows (32-bit).",
            "Chrome Desktop for Windows (x86_64).",
            "Chrome Desktop for macOS (x86_64).",
            "Chrome Desktop for Linux.",
            "Chrome for Android.",
            "WebView for Android.",
            "Chrome for iOS.",
            "",
            "Chrome for macOS (ARM64).",
            "ChromeOS Lacros (x86_64).",
            "ChromeOS Lacros (ARM).",
            "ChromeOS.",
            "ChromeOS Lacros (ARM64).",
            "Chrome for Fuchsia.",
            "Chrome Desktop for Windows (ARM64)."
          ],
          "enum": [
            "PLATFORM_TYPE_UNSPECIFIED",
            "WIN",
            "WIN64",
            "MAC",
            "LINUX",
            "ANDROID",
            "WEBVIEW",
            "IOS",
            "ALL",
            "MAC_ARM64",
            "LACROS",
            "LACROS_ARM32",
            "CHROMEOS",
            "LACROS_ARM64",
            "FUCHSIA",
            "WIN_ARM64"
          ],
          "description": "Type of platform."
        }
      },
      "id": "Platform",
      "type": "object",
      "description": "Each Platform is owned by a Product and owns a collection of channels. Available platforms are listed in Platform enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX)."
    },
    "Channel": {
      "properties": {
        "channelType": {
          "description": "Type of channel.",
          "enum": [
            "CHANNEL_TYPE_UNSPECIFIED",
            "STABLE",
            "BETA",
            "DEV",
            "CANARY",
            "CANARY_ASAN",
            "ALL",
            "EXTENDED",
            "LTS",
            "LTC"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "The Stable channel.",
            "The Beta channel.",
            "The Dev channel.",
            "The Canary channel.",
            "The Canary channel for Chrome, with DCHECK/ASAN enabled.",
            "",
            "The Extended Stable channel for Chrome.",
            "The Long-term support channel for ChromeOS.",
            "The Long-term support candidate channel for ChromeOS."
          ]
        },
        "name": {
          "type": "string",
          "description": "Channel name. Format is \"{product}/platforms/{platform}/channels/{channel}\""
        }
      },
      "id": "Channel",
      "type": "object",
      "description": "Each Channel is owned by a Platform and owns a collection of versions. Possible Channels are listed in the Channel enum below. Not all Channels are available for every Platform (e.g. CANARY does not exist for LINUX)."
    },
    "ListReleasesResponse": {
      "description": "Response message for ListReleases.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "releases": {
          "type": "array",
          "items": {
            "$ref": "Release"
          },
          "description": "The list of releases."
        }
      },
      "id": "ListReleasesResponse",
      "type": "object"
    },
    "RolloutData": {
      "properties": {
        "tag": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Tags associated with a release's role in a rollout. Most rollouts will have at least one release with a \"rollout\" tag and another release with a \"control\" tag. Some rollouts may have additional named arms."
        },
        "rolloutName": {
          "type": "string",
          "description": "The name of the rollout."
        }
      },
      "id": "RolloutData",
      "type": "object",
      "description": "Rollout-related metadata for a release."
    },
    "ListChannelsResponse": {
      "description": "Response message for ListChannels.",
      "properties": {
        "channels": {
          "description": "The list of channels.",
          "type": "array",
          "items": {
            "$ref": "Channel"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListChannelsResponse",
      "type": "object"
    }
  },
  "rootUrl": "https://versionhistory.googleapis.com/",
  "title": "versionhistory.googleapis.com API",
  "mtlsRootUrl": "https://versionhistory.mtls.googleapis.com/",
  "servicePath": "",
  "ownerName": "Google",
  "id": "versionhistory:v1",
  "documentationLink": "https://developer.chrome.com/docs/web-platform/versionhistory/guide",
  "basePath": ""
}