{
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "protocol": "rest",
  "batchPath": "batch",
  "title": "Cloud Video Intelligence API",
  "version": "v1",
  "parameters": {
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation": {
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_Entity": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_Entity",
      "description": "Detected entity from video analysis.",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Textual description, e.g., `Fixed-gear bicycle`."
        },
        "languageCode": {
          "type": "string",
          "description": "Language code for `description` in BCP-47 format."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation",
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "trackId": {
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "format": "int64"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "confidence": {
          "type": "number",
          "description": "Object category's labeling confidence of this track.",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex": {
      "properties": {
        "x": {
          "format": "float",
          "type": "number",
          "description": "X coordinate."
        },
        "y": {
          "type": "number",
          "description": "Y coordinate.",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_FaceSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_FaceSegment",
      "description": "Video segment level annotation results for face detection."
    },
    "GoogleCloudVideointelligenceV1_SpeechContext": {
      "id": "GoogleCloudVideointelligenceV1_SpeechContext",
      "description": "Provides \"hints\" to the speech recognizer to favor specific words and phrases in the results.",
      "type": "object",
      "properties": {
        "phrases": {
          "description": "Optional. A list of strings containing words and phrases \"hints\" so that the speech recognition is more likely to recognize them. This can be used to improve the accuracy for specific words and phrases, for example, if specific commands are typically spoken by the user. This can also be used to add additional words to the vocabulary of the recognizer. See [usage limits](https://cloud.google.com/speech/limits#content).",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_Track": {
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          },
          "description": "Optional. Attributes in the track level."
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        },
        "confidence": {
          "format": "float",
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_Track",
      "description": "A track of an object instance."
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "properties": {
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "type": "number",
          "readOnly": true,
          "format": "float"
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "speakerLabel": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word."
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "speakerTag": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`."
    },
    "GoogleCloudVideointelligenceV1_TimestampedObject": {
      "properties": {
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedLandmark"
          }
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          }
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation",
      "description": "Label annotation.",
      "properties": {
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelSegment"
          },
          "description": "All video segments where a label was detected."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame"
          },
          "description": "All video frames where a label was detected."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "categoryEntities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelSegment",
      "description": "Video segment level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelAnnotation",
      "description": "Label annotation.",
      "type": "object",
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame"
          },
          "description": "All video frames where a label was detected."
        },
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "segments": {
          "description": "All video segments where a label was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment"
          }
        },
        "categoryEntities": {
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "description": "Label annotation.",
      "type": "object",
      "properties": {
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          },
          "description": "All video segments where a label was detected."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          },
          "description": "All video frames where a label was detected."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "categoryEntities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceFrame",
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "type": "object",
      "properties": {
        "normalizedBoundingBoxes": {
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
          }
        },
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration"
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          }
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
        },
        "landmarks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus",
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "description": "Output only. State of the `output_uri` export.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "$ref": "GoogleRpc_Status",
          "readOnly": true
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults",
      "description": "Streaming annotation results corresponding to a portion of the video that is currently being processed. Only ONE type of annotation will be specified in the response.",
      "properties": {
        "shotAnnotations": {
          "description": "Shot annotation results. Each shot is represented as a video segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          }
        },
        "objectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "description": "Object tracking results."
        },
        "labelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Label annotation results."
        },
        "frameTimestamp": {
          "type": "string",
          "description": "Timestamp of the processed frame in microseconds.",
          "format": "google-duration"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_SpeechTranscription": {
      "properties": {
        "languageCode": {
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "type": "string",
          "readOnly": true
        },
        "alternatives": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative"
          },
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_SpeechTranscription",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription": {
      "properties": {
        "languageCode": {
          "readOnly": true,
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "type": "string"
        },
        "alternatives": {
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechTranscription",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExportToOutputUriStatus": {
      "properties": {
        "status": {
          "readOnly": true,
          "description": "Output only. Only set if state is FAILED.",
          "$ref": "GoogleRpc_Status"
        },
        "state": {
          "description": "Output only. State of the `output_uri` export.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ExportToOutputUriStatus",
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_WordInfo": {
      "properties": {
        "speakerTag": {
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "format": "int32",
          "readOnly": true
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "startTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "endTime": {
          "format": "google-duration",
          "type": "string",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "speakerLabel": {
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "type": "string",
          "readOnly": true
        },
        "confidence": {
          "format": "float",
          "readOnly": true,
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_WordInfo",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextFrame"
          },
          "description": "Information related to the frames where OCR detected text appears."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextSegment",
      "description": "Video segment level annotation results for text detection."
    },
    "GoogleProtobuf_Empty": {
      "type": "object",
      "id": "GoogleProtobuf_Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "GoogleCloudVideointelligenceV1_LabelFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_LabelFrame",
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "type": "object",
      "properties": {
        "text": {
          "type": "string",
          "description": "The detected text."
        },
        "segments": {
          "description": "All video segments where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleLongrunning_CancelOperationRequest": {
      "type": "object",
      "id": "GoogleLongrunning_CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment",
      "description": "Video segment level annotation results for label detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextFrame",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Timestamp of this frame.",
          "format": "google-duration"
        },
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingPoly"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_PersonDetectionConfig": {
      "properties": {
        "includeAttributes": {
          "type": "boolean",
          "description": "Whether to enable person attributes detection, such as cloth color (black, blue, etc), type (coat, dress, etc), pattern (plain, floral, etc), hair, etc. Ignored if 'include_bounding_boxes' is set to false."
        },
        "includeBoundingBoxes": {
          "description": "Whether bounding boxes are included in the person detection annotation output.",
          "type": "boolean"
        },
        "includePoseLandmarks": {
          "description": "Whether to enable pose landmarks detection. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_PersonDetectionConfig",
      "description": "Config for PERSON_DETECTION.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1beta2_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
          }
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          }
        },
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "format": "google-duration"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame": {
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
        },
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingFrame",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LogoRecognitionAnnotation",
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "type": "object",
      "properties": {
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "tracks": {
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          }
        },
        "segments": {
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox": {
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object",
      "properties": {
        "right": {
          "format": "float",
          "description": "Right X coordinate.",
          "type": "number"
        },
        "bottom": {
          "format": "float",
          "description": "Bottom Y coordinate.",
          "type": "number"
        },
        "left": {
          "type": "number",
          "description": "Left X coordinate.",
          "format": "float"
        },
        "top": {
          "description": "Top Y coordinate.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation": {
      "properties": {
        "tracks": {
          "description": "The detected tracks of a person.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation",
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationProgress",
      "description": "Annotation progress for a single video.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time when the request was received."
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "feature": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Celebrity recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "CELEBRITY_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExportToOutputUriStatus"
        },
        "inputUri": {
          "type": "string",
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/)."
        },
        "updateTime": {
          "type": "string",
          "description": "Time of the most recent update.",
          "format": "google-datetime"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults",
      "description": "Annotation results for a single video.",
      "properties": {
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
          }
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video."
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "personDetectionAnnotations": {
          "description": "Person detection annotations.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation"
          }
        },
        "faceAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation"
          },
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "deprecated": true
        },
        "objectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video."
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "shotAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment."
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        },
        "speechTranscriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
          },
          "description": "Speech transcription."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
          }
        },
        "celebrityRecognitionAnnotations": {
          "description": "Celebrity recognition annotations.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation"
        },
        "shotLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label."
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoRequest": {
      "properties": {
        "outputUri": {
          "description": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints).",
          "type": "string"
        },
        "inputUri": {
          "type": "string",
          "description": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset."
        },
        "features": {
          "description": "Required. Requested video annotation features.",
          "type": "array",
          "items": {
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "EXPLICIT_CONTENT_DETECTION",
              "FACE_DETECTION",
              "SPEECH_TRANSCRIPTION",
              "TEXT_DETECTION",
              "OBJECT_TRACKING",
              "LOGO_RECOGNITION",
              "PERSON_DETECTION"
            ],
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Label detection. Detect objects, such as dog or flower.",
              "Shot change detection.",
              "Explicit content detection.",
              "Human face detection.",
              "Speech transcription.",
              "OCR text detection and tracking.",
              "Object detection and tracking.",
              "Logo detection, tracking, and recognition.",
              "Person detection."
            ]
          }
        },
        "inputContent": {
          "format": "byte",
          "type": "string",
          "description": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset."
        },
        "videoContext": {
          "description": "Additional video context and/or feature-specific parameters.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoContext"
        },
        "locationId": {
          "description": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoRequest",
      "description": "Video annotation request.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_Track": {
      "properties": {
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          }
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. The confidence score of the tracked object."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_Track",
      "description": "A track of an object instance.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_TextSegment": {
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextFrame"
          },
          "description": "Information related to the frames where OCR detected text appears."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextSegment",
      "description": "Video segment level annotation results for text detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_NormalizedVertex": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_NormalizedVertex",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "type": "number",
          "format": "float"
        },
        "y": {
          "format": "float",
          "description": "Y coordinate.",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LabelFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelFrame",
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark": {
      "properties": {
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedVertex"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark",
      "description": "A generic detected landmark represented by name in string format and a 2D location."
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute",
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "properties": {
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextFrame",
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Timestamp of this frame."
        },
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_SpeechRecognitionAlternative",
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "properties": {
        "confidence": {
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "format": "float",
          "readOnly": true
        },
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "words": {
          "readOnly": true,
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_WordInfo"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingAnnotation",
      "description": "Annotations corresponding to one tracked object.",
      "properties": {
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_Entity"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Object category's labeling confidence of this track."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame"
          },
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames."
        },
        "trackId": {
          "format": "int64",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame",
      "description": "Video frame level annotation results for explicit content.",
      "type": "object",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string"
        },
        "pornographyLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "description": "Likelihood of the pornography content..",
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        }
      }
    },
    "GoogleLongrunning_Operation": {
      "id": "GoogleLongrunning_Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "GoogleRpc_Status"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_VideoContext": {
      "properties": {
        "explicitContentDetectionConfig": {
          "description": "Config for EXPLICIT_CONTENT_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentDetectionConfig"
        },
        "textDetectionConfig": {
          "description": "Config for TEXT_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1_TextDetectionConfig"
        },
        "objectTrackingConfig": {
          "description": "Config for OBJECT_TRACKING.",
          "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingConfig"
        },
        "faceDetectionConfig": {
          "description": "Config for FACE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1_FaceDetectionConfig"
        },
        "speechTranscriptionConfig": {
          "description": "Config for SPEECH_TRANSCRIPTION.",
          "$ref": "GoogleCloudVideointelligenceV1_SpeechTranscriptionConfig"
        },
        "personDetectionConfig": {
          "description": "Config for PERSON_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1_PersonDetectionConfig"
        },
        "labelDetectionConfig": {
          "description": "Config for LABEL_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1_LabelDetectionConfig"
        },
        "segments": {
          "description": "Video segments to annotate. The segments may overlap and are not required to be contiguous or span the whole video. If unspecified, each video is treated as a single segment.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          }
        },
        "shotChangeDetectionConfig": {
          "description": "Config for SHOT_CHANGE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_VideoContext",
      "description": "Video context and/or feature-specific parameters."
    },
    "GoogleCloudVideointelligenceV1p2beta1_Track": {
      "properties": {
        "attributes": {
          "description": "Optional. Attributes in the track level.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          }
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject"
          }
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. The confidence score of the tracked object."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_Track",
      "description": "A track of an object instance.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_CelebrityTrack",
      "description": "The annotation result of a celebrity face track. RecognizedCelebrity field could be empty if the face track does not have any matched celebrities.",
      "properties": {
        "faceTrack": {
          "description": "A track of a person's face.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Track"
        },
        "celebrities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity"
          },
          "description": "Top N match of the celebrities for the face in this track."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "properties": {
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "type": "string",
          "format": "google-duration"
        },
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "description": "Video segment.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_Track": {
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          },
          "description": "Optional. Attributes in the track level."
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "timestampedObjects": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TimestampedObject"
          },
          "description": "The object with timestamp and attributes per frame in the track."
        },
        "confidence": {
          "format": "float",
          "description": "Optional. The confidence score of the tracked object.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_Track",
      "description": "A track of an object instance.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExportToOutputUriStatus",
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "properties": {
        "status": {
          "readOnly": true,
          "description": "Output only. Only set if state is FAILED.",
          "$ref": "GoogleRpc_Status"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the `output_uri` export.",
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation",
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "type": "object",
      "properties": {
        "frames": {
          "description": "All video frames where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceFrame"
          }
        },
        "thumbnail": {
          "format": "byte",
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "type": "string"
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceSegment"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextSegment": {
      "properties": {
        "frames": {
          "description": "Information related to the frames where OCR detected text appears.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextFrame"
          }
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextSegment",
      "description": "Video segment level annotation results for text detection.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "type": "object",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox"
        },
        "landmarks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_TimestampedObject",
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object."
        },
        "attributes": {
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute"
          }
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "landmarks": {
          "description": "Optional. The detected landmarks.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_DetectedLandmark"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress",
      "description": "Annotation progress for a single video.",
      "properties": {
        "startTime": {
          "description": "Time when the request was received.",
          "type": "string",
          "format": "google-datetime"
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature."
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExportToOutputUriStatus"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        },
        "progressPercent": {
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "format": "int32"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation": {
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentFrame"
          }
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox": {
      "properties": {
        "left": {
          "format": "float",
          "type": "number",
          "description": "Left X coordinate."
        },
        "top": {
          "format": "float",
          "type": "number",
          "description": "Top Y coordinate."
        },
        "bottom": {
          "format": "float",
          "type": "number",
          "description": "Bottom Y coordinate."
        },
        "right": {
          "description": "Right X coordinate.",
          "type": "number",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1]."
    },
    "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_AnnotateVideoResponse",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "properties": {
        "annotationResults": {
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoAnnotationResults"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame."
    },
    "GoogleCloudVideointelligenceV1_TextAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_TextAnnotation",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Feature version."
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextSegment"
          },
          "description": "All video segments where OCR detected text appears."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1_AnnotateVideoProgress",
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation": {
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "trackId": {
          "format": "int64",
          "type": "string",
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time."
        },
        "frames": {
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame"
          }
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        },
        "confidence": {
          "format": "float",
          "description": "Object category's labeling confidence of this track.",
          "type": "number"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation",
      "description": "Annotations corresponding to one tracked object."
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoSegment": {
      "properties": {
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        },
        "endTimeOffset": {
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1_DetectedLandmark": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_DetectedLandmark",
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "type": "number"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse",
      "description": "`StreamingAnnotateVideoResponse` is the only message returned to the client by `StreamingAnnotateVideo`. A series of zero or more `StreamingAnnotateVideoResponse` messages are streamed back to the client.",
      "properties": {
        "error": {
          "description": "If set, returns a google.rpc.Status message that specifies the error for the operation.",
          "$ref": "GoogleRpc_Status"
        },
        "annotationResults": {
          "description": "Streaming annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults"
        },
        "annotationResultsUri": {
          "type": "string",
          "description": "Google Cloud Storage URI that stores annotation results of one streaming session in JSON format. It is the annotation_result_storage_directory from the request followed by '/cloud_project_number-session_id'."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute": {
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document."
        },
        "confidence": {
          "description": "Detected attribute confidence. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "value": {
          "type": "string",
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute",
      "description": "A generic detected attribute represented by name in string format.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox": {
      "properties": {
        "left": {
          "description": "Left X coordinate.",
          "type": "number",
          "format": "float"
        },
        "top": {
          "format": "float",
          "type": "number",
          "description": "Top Y coordinate."
        },
        "bottom": {
          "description": "Bottom Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "right": {
          "type": "number",
          "description": "Right X coordinate.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1]."
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame",
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "properties": {
        "timeOffset": {
          "type": "string",
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration"
        },
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation": {
      "properties": {
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "type": "string",
          "format": "byte"
        },
        "segments": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment"
          },
          "description": "All video segments where a face was detected."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame"
          },
          "description": "All video frames where a face was detected."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation",
      "deprecated": true,
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress": {
      "properties": {
        "progressPercent": {
          "format": "int32",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed.",
          "type": "integer"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Time of the most recent update."
        },
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ]
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus"
        },
        "startTime": {
          "type": "string",
          "description": "Time when the request was received.",
          "format": "google-datetime"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress",
      "description": "Annotation progress for a single video.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_FaceAnnotation": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceAnnotation",
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "properties": {
        "thumbnail": {
          "format": "byte",
          "type": "string",
          "description": "Thumbnail of a representative face view (in JPEG format)."
        },
        "segments": {
          "description": "All video segments where a face was detected.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceSegment"
          }
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_FaceFrame"
          },
          "description": "All video frames where a face was detected."
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_LabelSegment": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelSegment",
      "description": "Video segment level annotation results for label detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1_TextDetectionConfig": {
      "properties": {
        "languageHints": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Language hint can be specified if the language to be detected is known a priori. It can increase the accuracy of the detection. Language hint must be language code in BCP-47 format. Automatic language detection is performed if no hint is provided."
        },
        "model": {
          "description": "Model to use for text detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_TextDetectionConfig",
      "description": "Config for TEXT_DETECTION."
    },
    "GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig": {
      "id": "GoogleCloudVideointelligenceV1_ShotChangeDetectionConfig",
      "description": "Config for SHOT_CHANGE_DETECTION.",
      "type": "object",
      "properties": {
        "model": {
          "type": "string",
          "description": "Model to use for shot change detection. Supported values: \"builtin/stable\" (the default if unset), \"builtin/latest\", and \"builtin/legacy\"."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation": {
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "tracks": {
          "description": "The face tracks with attributes.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          }
        },
        "thumbnail": {
          "format": "byte",
          "type": "string",
          "description": "The thumbnail of a person's face."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation",
      "description": "Face detection annotation."
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceFrame": {
      "properties": {
        "normalizedBoundingBoxes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceFrame",
      "deprecated": true,
      "description": "Deprecated. No effect."
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingBox",
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "type": "object",
      "properties": {
        "right": {
          "description": "Right X coordinate.",
          "type": "number",
          "format": "float"
        },
        "bottom": {
          "description": "Bottom Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "left": {
          "format": "float",
          "type": "number",
          "description": "Left X coordinate."
        },
        "top": {
          "description": "Top Y coordinate.",
          "type": "number",
          "format": "float"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation": {
      "properties": {
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "description": "The detected tracks of a person."
        },
        "version": {
          "type": "string",
          "description": "Feature version."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation",
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
      "properties": {
        "annotationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse",
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service."
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults": {
      "type": "object",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults",
      "description": "Annotation results for a single video.",
      "properties": {
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "shotLabelAnnotations": {
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "shotPresenceLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
          }
        },
        "frameLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "description": "Label annotations on frame level. There is exactly one element for each unique label."
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation"
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
          }
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
[...]
