{
  "title": "Cloud Video Intelligence API",
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerName": "Google",
  "description": "Detects objects, explicit content, and scene changes in videos. It also specifies the region for annotation and transcribes speech to text. Supports both asynchronous API and streaming API.",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "version": "v1beta2",
  "mtlsRootUrl": "https://videointelligence.mtls.googleapis.com/",
  "canonicalName": "Cloud Video Intelligence",
  "fullyEncodeReservedExpansion": true,
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "videointelligence:v1beta2",
  "kind": "discovery#restDescription",
  "documentationLink": "https://cloud.google.com/video-intelligence/docs/",
  "resources": {
    "videos": {
      "methods": {
        "annotate": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform"
          ],
          "id": "videointelligence.videos.annotate",
          "path": "v1beta2/videos:annotate",
          "response": {
            "$ref": "GoogleLongrunning_Operation"
          },
          "description": "Performs asynchronous video annotation. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `AnnotateVideoProgress` (progress). `Operation.response` contains `AnnotateVideoResponse` (results).",
          "httpMethod": "POST",
          "flatPath": "v1beta2/videos:annotate",
          "request": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoRequest"
          },
          "parameterOrder": []
        }
      }
    }
  },
  "batchPath": "batch",
  "revision": "20260304",
  "version_module": true,
  "baseUrl": "https://videointelligence.googleapis.com/",
  "servicePath": "",
  "ownerDomain": "google.com",
  "schemas": {
    "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_FaceDetectionAnnotation",
      "type": "object",
      "properties": {
        "tracks": {
          "description": "The face tracks with attributes.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "type": "array"
        },
        "thumbnail": {
          "description": "The thumbnail of a person's face.",
          "format": "byte",
          "type": "string"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Face detection annotation."
    },
    "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame": {
      "properties": {
        "pornographyLikelihood": {
          "description": "Likelihood of the pornography content..",
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ]
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location."
        }
      },
      "description": "Video frame level annotation results for explicit content.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_ExplicitContentFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative": {
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "words": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true
        }
      },
      "description": "Alternative hypotheses (a.k.a. n-best list).",
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_SpeechRecognitionAlternative",
      "type": "object",
      "properties": {
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true
        },
        "words": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true
        }
      },
      "description": "Alternative hypotheses (a.k.a. n-best list)."
    },
    "GoogleCloudVideointelligenceV1p2beta1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_WordInfo",
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "speakerTag": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true
        },
        "speakerLabel": {
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelFrame": {
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame": {
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "description": "The timestamp of the frame in microseconds.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p2beta1_ObjectTrackingFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_TimestampedObject": {
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
        },
        "attributes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box.",
          "type": "array"
        },
        "landmarks": {
          "type": "array",
          "description": "Optional. The detected landmarks.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_DetectedLandmark"
          }
        },
        "timeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TimestampedObject",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Detected attribute confidence. Range [0, 1]."
        }
      },
      "description": "A generic detected attribute represented by name in string format."
    },
    "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation": {
      "properties": {
        "tracks": {
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_Track"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Person detection annotation per video.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_PersonDetectionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoSegment": {
      "properties": {
        "endTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
        },
        "startTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        }
      },
      "description": "Video segment.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_FaceFrame": {
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "type": "object",
      "properties": {
        "normalizedBoundingBoxes": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame.",
          "type": "array"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceFrame"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextAnnotation",
      "type": "object",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextSegment"
          }
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        }
      },
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress": {
      "properties": {
        "updateTime": {
          "description": "Time of the most recent update.",
          "format": "google-datetime",
          "type": "string"
        },
        "startTime": {
          "description": "Time when the request was received.",
          "format": "google-datetime",
          "type": "string"
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExportToOutputUriStatus"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        },
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "feature": {
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ],
          "description": "Specifies which feature is being tracked if the request contains more than one feature."
        }
      },
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ObjectTrackingFrame": {
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_ObjectTrackingFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_VideoSegment": {
      "description": "Video segment.",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        },
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_VideoSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute": {
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Detected attribute confidence. Range [0, 1]."
        },
        "name": {
          "description": "The name of the attribute, for example, glasses, dark_glasses, mouth_open. A full list of supported type names will be provided in the document.",
          "type": "string"
        },
        "value": {
          "description": "Text value of the detection result. For example, the value for \"HairColor\" can be \"black\", \"blonde\", etc.",
          "type": "string"
        }
      },
      "description": "A generic detected attribute represented by name in string format.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_DetectedAttribute",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "properties": {
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          }
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "shotLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "frameLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "description": "Label annotations on frame level. There is exactly one element for each unique label."
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label."
        },
        "personDetectionAnnotations": {
          "type": "array",
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation"
          }
        },
        "objectAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video.",
          "type": "array"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "shotPresenceLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LabelAnnotation"
          },
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "type": "array"
        },
        "speechTranscriptions": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_SpeechTranscription"
          },
          "description": "Speech transcription.",
          "type": "array"
        },
        "logoRecognitionAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation"
          },
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "type": "array"
        },
        "textAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation"
          },
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "type": "array"
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceDetectionAnnotation"
          },
          "type": "array"
        },
        "shotAnnotations": {
          "type": "array",
          "description": "Shot annotations. Each shot is represented as a video segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          }
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation"
        },
        "faceAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_FaceAnnotation"
          },
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "deprecated": true,
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1_LabelFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "type": "string",
          "format": "google-duration"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      },
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject",
      "type": "object",
      "properties": {
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
        },
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box."
        },
        "landmarks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks.",
          "type": "array"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box."
    },
    "GoogleCloudVideointelligenceV1_DetectedLandmark": {
      "description": "A generic detected landmark represented by name in string format and a 2D location.",
      "properties": {
        "point": {
          "description": "The 2D point of the detected landmark using the normalized image coordinate system. The normalized coordinates have the range from 0 to 1.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
        },
        "confidence": {
          "description": "The confidence score of the detected landmark. Range [0, 1].",
          "format": "float",
          "type": "number"
        },
        "name": {
          "description": "The name of this landmark, for example, left_hand, right_shoulder.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_DetectedLandmark",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_Entity": {
      "properties": {
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        }
      },
      "description": "Detected entity from video analysis.",
      "id": "GoogleCloudVideointelligenceV1p2beta1_Entity",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_LabelSegment": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_LabelSegment",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      },
      "description": "Video segment level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation": {
      "properties": {
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          },
          "description": "The face tracks with attributes.",
          "type": "array"
        },
        "thumbnail": {
          "type": "string",
          "format": "byte",
          "description": "The thumbnail of a person's face."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Face detection annotation.",
      "id": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_TextFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_TextFrame",
      "type": "object",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Timestamp of this frame."
        }
      },
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets."
    },
    "GoogleCloudVideointelligenceV1beta2_FaceDetectionConfig": {
      "id": "GoogleCloudVideointelligenceV1beta2_FaceDetectionConfig",
      "type": "object",
      "description": "Config for FACE_DETECTION.",
      "properties": {
        "includeAttributes": {
          "description": "Whether to enable face attributes detection, such as glasses, dark_glasses, mouth_open etc. Ignored if 'include_bounding_boxes' is set to false.",
          "type": "boolean"
        },
        "model": {
          "description": "Model to use for face detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "includeBoundingBoxes": {
          "description": "Whether bounding boxes are included in the face annotation output.",
          "type": "boolean"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoAnnotationResults",
      "type": "object",
      "properties": {
        "faceAnnotations": {
          "type": "array",
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceAnnotation"
          }
        },
        "faceDetectionAnnotations": {
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_FaceDetectionAnnotation"
          },
          "type": "array"
        },
        "shotAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment."
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_ExplicitContentAnnotation"
        },
        "logoRecognitionAnnotations": {
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LogoRecognitionAnnotation"
          },
          "type": "array"
        },
        "textAnnotations": {
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation"
          },
          "type": "array"
        },
        "speechTranscriptions": {
          "description": "Speech transcription.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_SpeechTranscription"
          },
          "type": "array"
        },
        "personDetectionAnnotations": {
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_PersonDetectionAnnotation"
          },
          "type": "array"
        },
        "objectAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_ObjectTrackingAnnotation"
          },
          "description": "Annotations for list of objects detected and tracked in video."
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "shotPresenceLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request."
        },
        "frameLabelAnnotations": {
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array"
        },
        "segmentLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "celebrityRecognitionAnnotations": {
          "description": "Celebrity recognition annotations.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_CelebrityRecognitionAnnotation"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "shotLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "segmentPresenceLabelAnnotations": {
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_LabelAnnotation"
          },
          "type": "array"
        }
      },
      "description": "Annotation results for a single video."
    },
    "GoogleCloudVideointelligenceV1p3beta1_Track": {
      "description": "A track of an object instance.",
      "properties": {
        "timestampedObjects": {
          "type": "array",
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TimestampedObject"
          }
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_DetectedAttribute"
          }
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment"
        },
        "confidence": {
          "description": "Optional. The confidence score of the tracked object.",
          "format": "float",
          "type": "number"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_Track",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelDetectionConfig": {
      "properties": {
        "videoConfidenceThreshold": {
          "description": "The confidence threshold we perform filtering on the labels from video-level and shot-level detections. If not set, it's set to 0.3 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float",
          "type": "number"
        },
        "labelDetectionMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Detect shot-level labels.",
            "Detect frame-level labels.",
            "Detect both shot-level and frame-level labels."
          ],
          "enum": [
            "LABEL_DETECTION_MODE_UNSPECIFIED",
            "SHOT_MODE",
            "FRAME_MODE",
            "SHOT_AND_FRAME_MODE"
          ],
          "description": "What labels should be detected with LABEL_DETECTION, in addition to video-level labels or segment-level labels. If unspecified, defaults to `SHOT_MODE`."
        },
        "model": {
          "description": "Model to use for label detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        },
        "stationaryCamera": {
          "description": "Whether the video has been shot from a stationary (i.e., non-moving) camera. When set to true, might improve detection accuracy for moving objects. Should be used with `SHOT_AND_FRAME_MODE` enabled.",
          "type": "boolean"
        },
        "frameConfidenceThreshold": {
          "description": "The confidence threshold we perform filtering on the labels from frame-level detection. If not set, it is set to 0.4 by default. The valid range for this threshold is [0.1, 0.9]. Any value set outside of this range will be clipped. Note: For best results, follow the default threshold. We will update the default threshold everytime when we release a new model.",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Config for LABEL_DETECTION.",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelDetectionConfig",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p2beta1_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_TextSegment",
      "type": "object",
      "description": "Video segment level annotation results for text detection.",
      "properties": {
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p2beta1_TextFrame"
          }
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextSegment": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextSegment",
      "type": "object",
      "description": "Video segment level annotation results for text detection.",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears."
        },
        "frames": {
          "type": "array",
          "description": "Information related to the frames where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextFrame"
          }
        },
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_VideoContext": {
      "id": "GoogleCloudVideointelligenceV1beta2_VideoContext",
      "type": "object",
      "description": "Video context and/or feature-specific parameters.",
      "properties": {
        "faceDetectionConfig": {
          "description": "Config for FACE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_FaceDetectionConfig"
        },
        "personDetectionConfig": {
          "description": "Config for PERSON_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_PersonDetectionConfig"
        },
        "objectTrackingConfig": {
          "description": "Config for OBJECT_TRACKING.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ObjectTrackingConfig"
        },
        "speechTranscriptionConfig": {
          "description": "Config for SPEECH_TRANSCRIPTION.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechTranscriptionConfig"
        },
        "shotChangeDetectionConfig": {
          "description": "Config for SHOT_CHANGE_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ShotChangeDetectionConfig"
        },
        "explicitContentDetectionConfig": {
          "description": "Config for EXPLICIT_CONTENT_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentDetectionConfig"
        },
        "labelDetectionConfig": {
          "description": "Config for LABEL_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_LabelDetectionConfig"
        },
        "textDetectionConfig": {
          "description": "Config for TEXT_DETECTION.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_TextDetectionConfig"
        },
        "segments": {
          "description": "Video segments to annotate. The segments may overlap and are not required to be contiguous or span the whole video. If unspecified, each video is treated as a single segment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p2beta1_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1p2beta1_VideoSegment",
      "type": "object",
      "properties": {
        "endTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        },
        "startTimeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive).",
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "Video segment."
    },
    "GoogleCloudVideointelligenceV1beta2_FaceFrame": {
      "type": "object",
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "id": "GoogleCloudVideointelligenceV1beta2_FaceFrame",
      "properties": {
        "normalizedBoundingBoxes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingBox"
          },
          "description": "Normalized Bounding boxes in a frame. There can be more than one boxes if the same face is detected in multiple locations within the current frame."
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation": {
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "properties": {
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_ExportToOutputUriStatus": {
      "id": "GoogleCloudVideointelligenceV1beta2_ExportToOutputUriStatus",
      "type": "object",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. State of the `output_uri` export.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "readOnly": true,
          "$ref": "GoogleRpc_Status"
        }
      },
      "description": "Status of exporting annotation response to user specified `output_uri`."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame": {
      "properties": {
        "normalizedBoundingBox": {
          "description": "The normalized bounding box location of this object track for the frame.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "The timestamp of the frame in microseconds."
        }
      },
      "description": "Video frame level annotations for object detection and tracking. This field stores per frame location, time offset, and confidence.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_StreamingAnnotateVideoResponse",
      "type": "object",
      "properties": {
        "annotationResultsUri": {
          "description": "Google Cloud Storage URI that stores annotation results of one streaming session in JSON format. It is the annotation_result_storage_directory from the request followed by '/cloud_project_number-session_id'.",
          "type": "string"
        },
        "error": {
          "description": "If set, returns a google.rpc.Status message that specifies the error for the operation.",
          "$ref": "GoogleRpc_Status"
        },
        "annotationResults": {
          "description": "Streaming annotation results.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_StreamingVideoAnnotationResults"
        }
      },
      "description": "`StreamingAnnotateVideoResponse` is the only message returned to the client by `StreamingAnnotateVideo`. A series of zero or more `StreamingAnnotateVideoResponse` messages are streamed back to the client."
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentDetectionConfig": {
      "description": "Config for EXPLICIT_CONTENT_DETECTION.",
      "properties": {
        "model": {
          "description": "Model to use for explicit content detection. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\".",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_ExplicitContentDetectionConfig",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation": {
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "properties": {
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
          },
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "type": "array"
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        },
        "tracks": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          },
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_LogoRecognitionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_VideoSegment": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_VideoSegment",
      "type": "object",
      "description": "Video segment.",
      "properties": {
        "startTimeOffset": {
          "type": "string",
          "format": "google-duration",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the start of the segment (inclusive)."
        },
        "endTimeOffset": {
          "format": "google-duration",
          "type": "string",
          "description": "Time-offset, relative to the beginning of the video, corresponding to the end of the segment (inclusive)."
        }
      }
    },
    "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly",
      "type": "object",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array"
        }
      },
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box."
    },
    "GoogleCloudVideointelligenceV1_FaceAnnotation": {
      "properties": {
        "thumbnail": {
          "description": "Thumbnail of a representative face view (in JPEG format).",
          "type": "string",
          "format": "byte"
        },
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceFrame"
          },
          "description": "All video frames where a face was detected.",
          "type": "array"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where a face was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceSegment"
          }
        }
      },
      "id": "GoogleCloudVideointelligenceV1_FaceAnnotation",
      "deprecated": true,
      "description": "Deprecated. No effect.",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_Track": {
      "id": "GoogleCloudVideointelligenceV1_Track",
      "type": "object",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          },
          "description": "Optional. Attributes in the track level."
        },
        "timestampedObjects": {
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TimestampedObject"
          },
          "type": "array"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. The confidence score of the tracked object."
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "description": "A track of an object instance."
    },
    "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_PersonDetectionAnnotation",
      "type": "object",
      "properties": {
        "tracks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Track"
          },
          "description": "The detected tracks of a person."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Person detection annotation per video."
    },
    "GoogleCloudVideointelligenceV1p3beta1_WordInfo": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_WordInfo",
      "type": "object",
      "description": "Word-specific information for recognized words. Word information is only included in the response when certain request parameters are set, such as `enable_word_time_offsets`.",
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-duration",
          "description": "Time offset relative to the beginning of the audio, and corresponding to the start of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary."
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "format": "float",
          "type": "number"
        },
        "endTime": {
          "description": "Time offset relative to the beginning of the audio, and corresponding to the end of the spoken word. This field is only set if `enable_word_time_offsets=true` and only in the top hypothesis. This is an experimental feature and the accuracy of the time offset can vary.",
          "format": "google-duration",
          "type": "string"
        },
        "word": {
          "description": "The word corresponding to this set of information.",
          "type": "string"
        },
        "speakerTag": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. A distinct integer value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word. Value ranges from 1 up to diarization_speaker_count, and is only set if speaker diarization is enabled.",
          "readOnly": true
        },
        "speakerLabel": {
          "type": "string",
          "description": "Output only. A distinct string value is assigned for every speaker within the audio. This field specifies which one of those speakers was detected to have spoken this word.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingBox": {
      "properties": {
        "left": {
          "description": "Left X coordinate.",
          "format": "float",
          "type": "number"
        },
        "right": {
          "description": "Right X coordinate.",
          "format": "float",
          "type": "number"
        },
        "bottom": {
          "description": "Bottom Y coordinate.",
          "type": "number",
          "format": "float"
        },
        "top": {
          "format": "float",
          "type": "number",
          "description": "Top Y coordinate."
        }
      },
      "description": "Normalized bounding box. The normalized vertex coordinates are relative to the original image. Range: [0, 1].",
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentAnnotation",
      "type": "object",
      "properties": {
        "frames": {
          "description": "All video frames where explicit content was detected.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ExplicitContentFrame"
          },
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame."
    },
    "GoogleCloudVideointelligenceV1beta2_FaceSegment": {
      "id": "GoogleCloudVideointelligenceV1beta2_FaceSegment",
      "type": "object",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        }
      },
      "description": "Video segment level annotation results for face detection."
    },
    "GoogleCloudVideointelligenceV1beta2_TextSegment": {
      "description": "Video segment level annotation results for text detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a text snippet was detected.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoSegment"
        },
        "confidence": {
          "description": "Confidence for the track of detected text. It is calculated as the highest over all frames where OCR detected text appears.",
          "type": "number",
          "format": "float"
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextFrame"
          },
          "description": "Information related to the frames where OCR detected text appears."
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_TextSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation": {
      "properties": {
        "tracks": {
          "type": "array",
          "description": "All logo tracks where the recognized logo appears. Each track corresponds to one logo instance appearing in consecutive frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_Track"
          }
        },
        "entity": {
          "description": "Entity category information to specify the logo class that all the logo tracks within this LogoRecognitionAnnotation are recognized as.",
          "$ref": "GoogleCloudVideointelligenceV1_Entity"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where the recognized logo appears. There might be multiple instances of the same logo class appearing in one VideoSegment.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          }
        }
      },
      "description": "Annotation corresponding to one detected, tracked and recognized logo class.",
      "id": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse": {
      "properties": {
        "annotationResults": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationResults"
          },
          "description": "Annotation results for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "description": "Video annotation response. Included in the `response` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoResponse",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress": {
      "properties": {
        "annotationProgress": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoAnnotationProgress"
          },
          "description": "Progress metadata for all videos specified in `AnnotateVideoRequest`."
        }
      },
      "description": "Video annotation progress. Included in the `metadata` field of the `Operation` returned by the `GetOperation` call of the `google::longrunning::Operations` service.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_AnnotateVideoProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly": {
      "id": "GoogleCloudVideointelligenceV1_NormalizedBoundingPoly",
      "type": "object",
      "properties": {
        "vertices": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_NormalizedVertex"
          },
          "description": "Normalized vertices of the bounding polygon.",
          "type": "array"
        }
      },
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box."
    },
    "GoogleCloudVideointelligenceV1p3beta1_Entity": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_Entity",
      "type": "object",
      "properties": {
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        }
      },
      "description": "Detected entity from video analysis."
    },
    "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingAnnotation",
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Object category's labeling confidence of this track."
        },
        "frames": {
          "type": "array",
          "description": "Information corresponding to all frames where this object track appears. Non-streaming batch mode: it may be one or multiple ObjectTrackingFrame messages in frames. Streaming mode: it can only be one ObjectTrackingFrame message in frames.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_ObjectTrackingFrame"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "trackId": {
          "description": "Streaming mode ONLY. In streaming mode, we do not know the end time of a tracked object before it is completed. Hence, there is no VideoSegment info returned. Instead, we provide a unique identifiable integer track_id so that the customers can correlate the results of the ongoing ObjectTrackAnnotation of the same track_id over time.",
          "type": "string",
          "format": "int64"
        },
        "segment": {
          "description": "Non-streaming batch mode ONLY. Each object track corresponds to one video segment where it appears.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "entity": {
          "description": "Entity to specify the object category that this track is labeled as.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_Entity"
        }
      },
      "description": "Annotations corresponding to one tracked object."
    },
    "GoogleCloudVideointelligenceV1p1beta1_Track": {
      "properties": {
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Optional. The confidence score of the tracked object."
        },
        "segment": {
          "description": "Video segment of a track.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        },
        "attributes": {
          "type": "array",
          "description": "Optional. Attributes in the track level.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_DetectedAttribute"
          }
        },
        "timestampedObjects": {
          "type": "array",
          "description": "The object with timestamp and attributes per frame in the track.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TimestampedObject"
          }
        }
      },
      "description": "A track of an object instance.",
      "id": "GoogleCloudVideointelligenceV1p1beta1_Track",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_LabelSegment": {
      "properties": {
        "confidence": {
          "description": "Confidence that the label is accurate. Range: [0, 1].",
          "type": "number",
          "format": "float"
        },
        "segment": {
          "description": "Video segment where a label was detected.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        }
      },
      "description": "Video segment level annotation results for label detection.",
      "id": "GoogleCloudVideointelligenceV1_LabelSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationProgress": {
      "properties": {
        "segment": {
          "description": "Specifies which segment is being tracked if the request contains more than one segment.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "feature": {
          "description": "Specifies which feature is being tracked if the request contains more than one feature.",
          "enum": [
            "FEATURE_UNSPECIFIED",
            "LABEL_DETECTION",
            "SHOT_CHANGE_DETECTION",
            "EXPLICIT_CONTENT_DETECTION",
            "FACE_DETECTION",
            "SPEECH_TRANSCRIPTION",
            "TEXT_DETECTION",
            "OBJECT_TRACKING",
            "LOGO_RECOGNITION",
            "PERSON_DETECTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Label detection. Detect objects, such as dog or flower.",
            "Shot change detection.",
            "Explicit content detection.",
            "Human face detection.",
            "Speech transcription.",
            "OCR text detection and tracking.",
            "Object detection and tracking.",
            "Logo detection, tracking, and recognition.",
            "Person detection."
          ]
        },
        "updateTime": {
          "description": "Time of the most recent update.",
          "type": "string",
          "format": "google-datetime"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time when the request was received."
        },
        "exportStatus": {
          "description": "Status of exporting annotation response to user specified `output_uri`. Only set if `output_uri` is set in the request.",
          "$ref": "GoogleCloudVideointelligenceV1_ExportToOutputUriStatus"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Approximate percentage processed thus far. Guaranteed to be 100 when fully processed."
        }
      },
      "description": "Annotation progress for a single video.",
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationProgress",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly": {
      "properties": {
        "vertices": {
          "description": "Normalized vertices of the bounding polygon.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_NormalizedVertex"
          },
          "type": "array"
        }
      },
      "description": "Normalized bounding polygon for text (that might not be aligned with axis). Contains list of the corner points in clockwise order starting from top-left corner. For example, for a rectangular bounding box: When the text is horizontal it might look like: 0----1 | | 3----2 When it's clockwise rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3). Note that values can be less than 0, or greater than 1 due to trigonometric calculations for location of the box.",
      "id": "GoogleCloudVideointelligenceV1beta2_NormalizedBoundingPoly",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextFrame": {
      "description": "Video frame level annotation results for text annotation (OCR). Contains information regarding timestamp and bounding box locations for the frames containing detected OCR text snippets.",
      "properties": {
        "rotatedBoundingBox": {
          "description": "Bounding polygon of the detected text for this frame.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_NormalizedBoundingPoly"
        },
        "timeOffset": {
          "description": "Timestamp of this frame.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextFrame",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_RecognizedCelebrity",
      "type": "object",
      "properties": {
        "celebrity": {
          "description": "The recognized celebrity.",
          "$ref": "GoogleCloudVideointelligenceV1p3beta1_Celebrity"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Recognition confidence. Range [0, 1]."
        }
      },
      "description": "The recognized celebrity with confidence score."
    },
    "GoogleCloudVideointelligenceV1_SpeechTranscription": {
      "id": "GoogleCloudVideointelligenceV1_SpeechTranscription",
      "type": "object",
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "properties": {
        "alternatives": {
          "type": "array",
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true
        }
      }
    },
    "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative": {
      "id": "GoogleCloudVideointelligenceV1_SpeechRecognitionAlternative",
      "type": "object",
      "properties": {
        "words": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_WordInfo"
          },
          "description": "Output only. A list of word-specific information for each recognized word. Note: When `enable_speaker_diarization` is set to true, you will see all the words from the beginning of the audio.",
          "readOnly": true,
          "type": "array"
        },
        "transcript": {
          "description": "Transcript text representing the words that the user spoke.",
          "type": "string"
        },
        "confidence": {
          "description": "Output only. The confidence estimate between 0.0 and 1.0. A higher number indicates an estimated greater likelihood that the recognized words are correct. This field is set only for the top alternative. This field is not guaranteed to be accurate and users should not rely on it to be always provided. The default of 0.0 is a sentinel value indicating `confidence` was not set.",
          "readOnly": true,
          "type": "number",
          "format": "float"
        }
      },
      "description": "Alternative hypotheses (a.k.a. n-best list)."
    },
    "GoogleCloudVideointelligenceV1_TimestampedObject": {
      "description": "For tracking related features. An object at time_offset with attributes, and located with normalized_bounding_box.",
      "properties": {
        "attributes": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedAttribute"
          },
          "description": "Optional. The attributes of the object in the bounding box."
        },
        "landmarks": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_DetectedLandmark"
          },
          "description": "Optional. The detected landmarks."
        },
        "normalizedBoundingBox": {
          "description": "Normalized Bounding box in a frame, where the object is located.",
          "$ref": "GoogleCloudVideointelligenceV1_NormalizedBoundingBox"
        },
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this object.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_TimestampedObject",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelAnnotation": {
      "properties": {
        "entity": {
          "description": "Detected entity.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelSegment"
          },
          "description": "All video segments where a label was detected.",
          "type": "array"
        },
        "categoryEntities": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_Entity"
          },
          "description": "Common categories for the detected entity. For example, when the label is `Terrier`, the category is likely `dog`. And in some cases there might be more than one categories e.g., `Terrier` could also be a `pet`."
        },
        "frames": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_LabelFrame"
          },
          "description": "All video frames where a label was detected."
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Label annotation.",
      "id": "GoogleCloudVideointelligenceV1beta2_LabelAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation": {
      "description": "Person detection annotation per video.",
      "properties": {
        "tracks": {
          "type": "array",
          "description": "The detected tracks of a person.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_Track"
          }
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_PersonDetectionAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1beta2_LabelFrame",
      "type": "object",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      },
      "description": "Video frame level annotation results for label detection."
    },
    "GoogleCloudVideointelligenceV1beta2_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1beta2_TextAnnotation",
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_TextSegment"
          },
          "description": "All video segments where OCR detected text appears.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_FaceSegment": {
      "description": "Video segment level annotation results for face detection.",
      "properties": {
        "segment": {
          "description": "Video segment where a face was detected.",
          "$ref": "GoogleCloudVideointelligenceV1p1beta1_VideoSegment"
        }
      },
      "id": "GoogleCloudVideointelligenceV1p1beta1_FaceSegment",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_LabelFrame": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_LabelFrame",
      "type": "object",
      "description": "Video frame level annotation results for label detection.",
      "properties": {
        "timeOffset": {
          "description": "Time-offset, relative to the beginning of the video, corresponding to the video frame for this location.",
          "format": "google-duration",
          "type": "string"
        },
        "confidence": {
          "format": "float",
          "type": "number",
          "description": "Confidence that the label is accurate. Range: [0, 1]."
        }
      }
    },
    "GoogleCloudVideointelligenceV1_Entity": {
      "description": "Detected entity from video analysis.",
      "properties": {
        "description": {
          "description": "Textual description, e.g., `Fixed-gear bicycle`.",
          "type": "string"
        },
        "languageCode": {
          "description": "Language code for `description` in BCP-47 format.",
          "type": "string"
        },
        "entityId": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        }
      },
      "id": "GoogleCloudVideointelligenceV1_Entity",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_TextAnnotation",
      "type": "object",
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection.",
      "properties": {
        "version": {
          "description": "Feature version.",
          "type": "string"
        },
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "type": "array",
          "description": "All video segments where OCR detected text appears.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p1beta1_TextSegment"
          }
        }
      }
    },
    "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus": {
      "id": "GoogleCloudVideointelligenceV1p1beta1_ExportToOutputUriStatus",
      "type": "object",
      "description": "Status of exporting annotation response to user specified `output_uri`.",
      "properties": {
        "status": {
          "description": "Output only. Only set if state is FAILED.",
          "readOnly": true,
          "$ref": "GoogleRpc_Status"
        },
        "state": {
          "description": "Output only. State of the `output_uri` export.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Export succeeded.",
            "Export failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      }
    },
    "GoogleCloudVideointelligenceV1beta2_AnnotateVideoRequest": {
      "description": "Video annotation request.",
      "properties": {
        "inputUri": {
          "description": "Input video location. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. URIs must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints). To identify multiple videos, a video URI may include wildcards in the `object-id`. Supported wildcards: '*' to match 0 or more characters; '?' to match 1 character. If unset, the input video should be embedded in the request as `input_content`. If set, `input_content` must be unset.",
          "type": "string"
        },
        "inputContent": {
          "description": "The video data bytes. If unset, the input video(s) should be specified via the `input_uri`. If set, `input_uri` must be unset.",
          "format": "byte",
          "type": "string"
        },
        "videoContext": {
          "description": "Additional video context and/or feature-specific parameters.",
          "$ref": "GoogleCloudVideointelligenceV1beta2_VideoContext"
        },
        "locationId": {
          "description": "Optional. Cloud region where annotation should take place. Supported cloud regions are: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region is specified, the region will be determined based on video file location.",
          "type": "string"
        },
        "outputUri": {
          "description": "Optional. Location where the output (in JSON format) should be stored. Currently, only [Cloud Storage](https://cloud.google.com/storage/) URIs are supported. These must be specified in the following format: `gs://bucket-id/object-id` (other URI formats return google.rpc.Code.INVALID_ARGUMENT). For more information, see [Request URIs](https://cloud.google.com/storage/docs/request-endpoints).",
          "type": "string"
        },
        "features": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified.",
              "Label detection. Detect objects, such as dog or flower.",
              "Shot change detection.",
              "Explicit content detection.",
              "Human face detection.",
              "Speech transcription.",
              "OCR text detection and tracking.",
              "Object detection and tracking.",
              "Logo detection, tracking, and recognition.",
              "Person detection."
            ],
            "enum": [
              "FEATURE_UNSPECIFIED",
              "LABEL_DETECTION",
              "SHOT_CHANGE_DETECTION",
              "EXPLICIT_CONTENT_DETECTION",
              "FACE_DETECTION",
              "SPEECH_TRANSCRIPTION",
              "TEXT_DETECTION",
              "OBJECT_TRACKING",
              "LOGO_RECOGNITION",
              "PERSON_DETECTION"
            ]
          },
          "description": "Required. Requested video annotation features.",
          "type": "array"
        }
      },
      "id": "GoogleCloudVideointelligenceV1beta2_AnnotateVideoRequest",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation": {
      "properties": {
        "frames": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentFrame"
          },
          "description": "All video frames where explicit content was detected.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Explicit content annotation (based on per-frame visual signals only). If no explicit content has been detected in a frame, no annotations are present for that frame.",
      "id": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_Celebrity": {
      "properties": {
        "description": {
          "description": "Textual description of additional information about the celebrity, if applicable.",
          "type": "string"
        },
        "displayName": {
          "description": "The celebrity name.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the celebrity. Have the format `video-intelligence/kg-mid` indicates a celebrity from preloaded gallery. kg-mid is the id in Google knowledge graph, which is unique for the celebrity.",
          "type": "string"
        }
      },
      "description": "Celebrity definition.",
      "id": "GoogleCloudVideointelligenceV1p3beta1_Celebrity",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1beta2_SpeechTranscription": {
      "properties": {
        "alternatives": {
          "type": "array",
          "description": "May contain one or more recognition hypotheses (up to the maximum specified in `max_alternatives`). These alternatives are ordered in terms of accuracy, with the top (first) alternative being the most probable, as ranked by the recognizer.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1beta2_SpeechRecognitionAlternative"
          }
        },
        "languageCode": {
          "type": "string",
          "description": "Output only. The [BCP-47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt) language tag of the language in this result. This language code was detected to have the most likelihood of being spoken in the audio.",
          "readOnly": true
        }
      },
      "description": "A speech recognition result corresponding to a portion of the audio.",
      "id": "GoogleCloudVideointelligenceV1beta2_SpeechTranscription",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1_VideoAnnotationResults": {
      "description": "Annotation results for a single video.",
      "properties": {
        "objectAnnotations": {
          "description": "Annotations for list of objects detected and tracked in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_ObjectTrackingAnnotation"
          },
          "type": "array"
        },
        "personDetectionAnnotations": {
          "description": "Person detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_PersonDetectionAnnotation"
          },
          "type": "array"
        },
        "shotPresenceLabelAnnotations": {
          "description": "Presence label annotations on shot level. There is exactly one element for each unique label. Compared to the existing topical `shot_label_annotations`, this field presents more fine-grained, shot-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "type": "array"
        },
        "segment": {
          "description": "Video segment on which the annotation is run.",
          "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
        },
        "frameLabelAnnotations": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "description": "Label annotations on frame level. There is exactly one element for each unique label.",
          "type": "array"
        },
        "segmentLabelAnnotations": {
          "type": "array",
          "description": "Topical label annotations on video level or user-specified segment level. There is exactly one element for each unique label.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "error": {
          "description": "If set, indicates an error. Note that for a single `AnnotateVideoRequest` some videos may succeed and some may fail.",
          "$ref": "GoogleRpc_Status"
        },
        "inputUri": {
          "description": "Video file location in [Cloud Storage](https://cloud.google.com/storage/).",
          "type": "string"
        },
        "shotLabelAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          },
          "description": "Topical label annotations on shot level. There is exactly one element for each unique label."
        },
        "segmentPresenceLabelAnnotations": {
          "type": "array",
          "description": "Presence label annotations on video level or user-specified segment level. There is exactly one element for each unique label. Compared to the existing topical `segment_label_annotations`, this field presents more fine-grained, segment-level labels detected in video content and is made available only when the client sets `LabelDetectionConfig.model` to \"builtin/latest\" in the request.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LabelAnnotation"
          }
        },
        "faceAnnotations": {
          "type": "array",
          "description": "Deprecated. Please use `face_detection_annotations` instead.",
          "deprecated": true,
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceAnnotation"
          }
        },
        "faceDetectionAnnotations": {
          "type": "array",
          "description": "Face detection annotations.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_FaceDetectionAnnotation"
          }
        },
        "shotAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_VideoSegment"
          },
          "description": "Shot annotations. Each shot is represented as a video segment."
        },
        "explicitAnnotation": {
          "description": "Explicit content annotation.",
          "$ref": "GoogleCloudVideointelligenceV1_ExplicitContentAnnotation"
        },
        "logoRecognitionAnnotations": {
          "type": "array",
          "description": "Annotations for list of logos detected, tracked and recognized in video.",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_LogoRecognitionAnnotation"
          }
        },
        "textAnnotations": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_TextAnnotation"
          },
          "description": "OCR text detection and tracking. Annotations for list of detected text snippets. Each will have list of frame information associated with it."
        },
        "speechTranscriptions": {
          "type": "array",
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1_SpeechTranscription"
          },
          "description": "Speech transcription."
        }
      },
      "id": "GoogleCloudVideointelligenceV1_VideoAnnotationResults",
      "type": "object"
    },
    "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation": {
      "id": "GoogleCloudVideointelligenceV1p3beta1_TextAnnotation",
      "type": "object",
      "properties": {
        "text": {
          "description": "The detected text.",
          "type": "string"
        },
        "segments": {
          "items": {
            "$ref": "GoogleCloudVideointelligenceV1p3beta1_TextSegment"
          },
          "description": "All video segments where OCR detected text appears.",
          "type": "array"
        },
        "version": {
          "description": "Feature version.",
          "type": "string"
        }
      },
      "description": "Annotations related to one detected OCR text snippet. This will contain the corresponding text, confidence value, and frame level information for each detection."
    },
    "GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame": {
      "description": "Video frame level annotation results for explicit content.",
      "properties": {
        "pornographyLikelihood": {
          "enum": [
            "LIKELIHOOD_UNSPECIFIED",
            "VERY_UNLIKELY",
            "UNLIKELY",
            "POSSIBLE",
            "LIKELY",
            "VERY_LIKELY"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified likelihood.",
            "Very unlikely.",
            "Unlikely.",
            "Possible.",
            "Likely.",
            "Very likely."
          ],
          "description": "Likelihood of the pornography content.."
        },
        "timeOffset": {
[...]
