{
  "name": "vision",
  "basePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        },
        "https://www.googleapis.com/auth/cloud-vision": {
          "description": "Apply machine learning models to understand and label images"
        }
      }
    }
  },
  "servicePath": "",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "canonicalName": "Vision",
  "revision": "20260424",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "description": "Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.",
  "version": "v1",
  "mtlsRootUrl": "https://vision.mtls.googleapis.com/",
  "resources": {
    "files": {
      "methods": {
        "annotate": {
          "path": "v1/files:annotate",
          "flatPath": "v1/files:annotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "response": {
            "$ref": "BatchAnnotateFilesResponse"
          },
          "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
          "id": "vision.files.annotate",
          "parameterOrder": [],
          "request": {
            "$ref": "BatchAnnotateFilesRequest"
          },
          "httpMethod": "POST",
          "parameters": {}
        },
        "asyncBatchAnnotate": {
          "httpMethod": "POST",
          "parameters": {},
          "id": "vision.files.asyncBatchAnnotate",
          "parameterOrder": [],
          "request": {
            "$ref": "AsyncBatchAnnotateFilesRequest"
          },
          "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/files:asyncBatchAnnotate",
          "flatPath": "v1/files:asyncBatchAnnotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ]
        }
      }
    },
    "operations": {
      "methods": {
        "list": {
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "parameterOrder": [
            "name"
          ],
          "id": "vision.operations.list",
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "pattern": "^operations$",
              "location": "path",
              "required": true,
              "description": "The name of the operation's parent resource.",
              "type": "string"
            },
            "pageToken": {
              "type": "string",
              "location": "query",
              "description": "The standard list page token."
            },
            "returnPartialSuccess": {
              "location": "query",
              "type": "boolean",
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
            },
            "pageSize": {
              "location": "query",
              "type": "integer",
              "format": "int32",
              "description": "The standard list page size."
            },
            "filter": {
              "location": "query",
              "type": "string",
              "description": "The standard list filter."
            }
          },
          "path": "v1/{+name}",
          "flatPath": "v1/operations",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "response": {
            "$ref": "ListOperationsResponse"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "type": "string",
              "pattern": "^operations/[^/]+$",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "name"
          ],
          "id": "vision.operations.get",
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "response": {
            "$ref": "Operation"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ]
        },
        "cancel": {
          "path": "v1/{+name}:cancel",
          "flatPath": "v1/operations/{operationsId}:cancel",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "response": {
            "$ref": "Empty"
          },
          "id": "vision.operations.cancel",
          "parameterOrder": [
            "name"
          ],
          "request": {
            "$ref": "CancelOperationRequest"
          },
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "httpMethod": "POST",
          "parameters": {
            "name": {
              "pattern": "^operations/.*$",
              "location": "path",
              "required": true,
              "description": "The name of the operation resource to be cancelled.",
              "type": "string"
            }
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "parameters": {
            "name": {
              "location": "path",
              "required": true,
              "pattern": "^operations/.*$",
              "type": "string",
              "description": "The name of the operation resource to be deleted."
            }
          },
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "parameterOrder": [
            "name"
          ],
          "id": "vision.operations.delete",
          "response": {
            "$ref": "Empty"
          },
          "path": "v1/{+name}",
          "flatPath": "v1/operations/{operationsId}",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ]
        }
      }
    },
    "locations": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "type": "string",
                  "pattern": "^locations/[^/]+/operations/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "id": "vision.locations.operations.get",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+name}",
              "flatPath": "v1/locations/{locationsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ]
            }
          }
        }
      }
    },
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "images": {
              "methods": {
                "annotate": {
                  "response": {
                    "$ref": "BatchAnnotateImagesResponse"
                  },
                  "path": "v1/{+parent}/images:annotate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/images:annotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchAnnotateImagesRequest"
                  },
                  "id": "vision.projects.locations.images.annotate",
                  "description": "Run image detection and annotation for a batch of images."
                },
                "asyncBatchAnnotate": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/images:asyncBatchAnnotate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/images:asyncBatchAnnotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "type": "string"
                    }
                  },
                  "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
                  "id": "vision.projects.locations.images.asyncBatchAnnotate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AsyncBatchAnnotateImagesRequest"
                  }
                }
              }
            },
            "productSets": {
              "methods": {
                "create": {
                  "path": "v1/{+parent}/productSets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "ProductSet"
                  },
                  "description": "Creates and returns a new ProductSet resource. Possible errors: * Returns INVALID_ARGUMENT if display_name is missing, or is longer than 4096 characters.",
                  "id": "vision.projects.locations.productSets.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ProductSet"
                  },
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The project in which the ProductSet should be created. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "type": "string"
                    },
                    "productSetId": {
                      "description": "A user-supplied resource id for this ProductSet. If set, the server will attempt to use this value as the resource id. If it is already in use, an error is returned with code ALREADY_EXISTS. Must be at most 128 characters long. It cannot contain the character `/`.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListProductSetsResponse"
                  },
                  "path": "v1/{+parent}/productSets",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of items to return. Default 10, maximum 100."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The project from which ProductSets should be listed. Format is `projects/PROJECT_ID/locations/LOC_ID`."
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "The next_page_token returned from a previous List request, if any."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "vision.projects.locations.productSets.list",
                  "description": "Lists ProductSets in an unspecified order. Possible errors: * Returns INVALID_ARGUMENT if page_size is greater than 100, or less than 1."
                },
                "patch": {
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "ProductSet"
                  },
                  "id": "vision.projects.locations.productSets.patch",
                  "description": "Makes changes to a ProductSet resource. Only display_name can be updated currently. Possible errors: * Returns NOT_FOUND if the ProductSet does not exist. * Returns INVALID_ARGUMENT if display_name is present in update_mask but missing from the request or longer than 4096 characters.",
                  "httpMethod": "PATCH",
                  "parameters": {
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The FieldMask that specifies which fields to update. If update_mask isn't specified, all mutable fields are to be updated. Valid mask path is `display_name`."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "type": "string",
                      "description": "The resource name of the ProductSet. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`. This field is ignored when creating a ProductSet."
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "ProductSet"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the ProductSet to delete. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                      "type": "string"
                    }
                  },
                  "id": "vision.projects.locations.productSets.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Permanently deletes a ProductSet. Products and ReferenceImages in the ProductSet are not deleted. The actual image files are not deleted from Google Cloud Storage.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "vision.projects.locations.productSets.get",
                  "description": "Gets information associated with a ProductSet. Possible errors: * Returns NOT_FOUND if the ProductSet does not exist.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of the ProductSet to get. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "ProductSet"
                  }
                },
                "addProduct": {
                  "id": "vision.projects.locations.productSets.addProduct",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "AddProductToProductSetRequest"
                  },
                  "description": "Adds a Product to the specified ProductSet. If the Product is already present, no change is made. One Product can be added to at most 100 ProductSets. Possible errors: * Returns NOT_FOUND if the Product or the ProductSet doesn't exist.",
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name for the ProductSet to modify. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`"
                    }
                  },
                  "path": "v1/{+name}:addProduct",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}:addProduct",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "removeProduct": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}:removeProduct",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}:removeProduct",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "POST",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource name for the ProductSet to modify. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`"
                    }
                  },
                  "id": "vision.projects.locations.productSets.removeProduct",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "RemoveProductFromProductSetRequest"
                  },
                  "description": "Removes a Product from the specified ProductSet."
                },
                "import": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "ImportProductSetsRequest"
                  },
                  "id": "vision.projects.locations.productSets.import",
                  "description": "Asynchronous API that imports a list of reference images to specified product sets based on a list of image information. The google.longrunning.Operation API can be used to keep track of the progress and results of the request. `Operation.metadata` contains `BatchOperationMetadata`. (progress) `Operation.response` contains `ImportProductSetsResponse`. (results) The input source of this method is a csv file on Google Cloud Storage. For the format of the csv file please see ImportProductSetsGcsSource.csv_file_uri.",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. The project in which the ProductSets should be imported. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1/{+parent}/productSets:import",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets:import",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                }
              },
              "resources": {
                "products": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListProductsInProductSetResponse"
                      },
                      "path": "v1/{+name}/products",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/productSets/{productSetsId}/products",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of items to return. Default 10, maximum 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "pageToken": {
                          "description": "The next_page_token returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "description": "Required. The ProductSet resource for which to retrieve Products. Format is: `projects/PROJECT_ID/locations/LOC_ID/productSets/PRODUCT_SET_ID`",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/productSets/[^/]+$"
                        }
                      },
                      "id": "vision.projects.locations.productSets.products.list",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Lists the Products in a ProductSet, in an unspecified order. If the ProductSet does not exist, the products field of the response will be empty. Possible errors: * Returns INVALID_ARGUMENT if page_size is greater than 100 or less than 1."
                    }
                  }
                }
              }
            },
            "products": {
              "methods": {
                "create": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The project in which the Product should be created. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "type": "string"
                    },
                    "productId": {
                      "description": "A user-supplied resource id for this Product. If set, the server will attempt to use this value as the resource id. If it is already in use, an error is returned with code ALREADY_EXISTS. Must be at most 128 characters long. It cannot contain the character `/`.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Creates and returns a new product resource. Possible errors: * Returns INVALID_ARGUMENT if display_name is missing or longer than 4096 characters. * Returns INVALID_ARGUMENT if description is longer than 4096 characters. * Returns INVALID_ARGUMENT if product_category is missing or invalid.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "Product"
                  },
                  "id": "vision.projects.locations.products.create",
                  "response": {
                    "$ref": "Product"
                  },
                  "path": "v1/{+parent}/products",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The project OR ProductSet from which Products should be listed. Format: `projects/PROJECT_ID/locations/LOC_ID`"
                    },
                    "pageToken": {
                      "description": "The next_page_token returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "The maximum number of items to return. Default 10, maximum 100."
                    }
                  },
                  "description": "Lists products in an unspecified order. Possible errors: * Returns INVALID_ARGUMENT if page_size is greater than 100 or less than 1.",
                  "id": "vision.projects.locations.products.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListProductsResponse"
                  },
                  "path": "v1/{+parent}/products",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                },
                "get": {
                  "response": {
                    "$ref": "Product"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "Required. Resource name of the Product to get. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "vision.projects.locations.products.get",
                  "description": "Gets information associated with a Product. Possible errors: * Returns NOT_FOUND if the Product does not exist."
                },
                "patch": {
                  "httpMethod": "PATCH",
                  "parameters": {
                    "name": {
                      "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "updateMask": {
                      "location": "query",
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "The FieldMask that specifies which fields to update. If update_mask isn't specified, all mutable fields are to be updated. Valid mask paths include `product_labels`, `display_name`, and `description`."
                    }
                  },
                  "description": "Makes changes to a Product resource. Only the `display_name`, `description`, and `labels` fields can be updated right now. If labels are updated, the change will not be reflected in queries until the next index time. Possible errors: * Returns NOT_FOUND if the Product does not exist. * Returns INVALID_ARGUMENT if display_name is present in update_mask but is missing from the request or longer than 4096 characters. * Returns INVALID_ARGUMENT if description is present in update_mask but is longer than 4096 characters. * Returns INVALID_ARGUMENT if product_category is present in update_mask.",
                  "id": "vision.projects.locations.products.patch",
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "Product"
                  },
                  "response": {
                    "$ref": "Product"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                },
                "delete": {
                  "response": {
                    "$ref": "Empty"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. Resource name of product to delete. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "vision.projects.locations.products.delete",
                  "description": "Permanently deletes a product and its reference images. Metadata of the product and all its images will be deleted right away, but search queries against ProductSets containing the product may still work until all related caches are refreshed."
                },
                "purge": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "description": "Required. The project and location in which the Products should be deleted. Format is `projects/PROJECT_ID/locations/LOC_ID`.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "id": "vision.projects.locations.products.purge",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "PurgeProductsRequest"
                  },
                  "description": "Asynchronous API to delete all Products in a ProductSet or all Products that are in no ProductSet. If a Product is a member of the specified ProductSet in addition to other ProductSets, the Product will still be deleted. It is recommended to not delete the specified ProductSet until after this operation has completed. It is also recommended to not add any of the Products involved in the batch delete to a new ProductSet while this operation is running because those Products may still end up deleted. It's not possible to undo the PurgeProducts operation. Therefore, it is recommended to keep the csv files used in ImportProductSets (if that was how you originally built the Product Set) before starting PurgeProducts, in case you need to re-import the data after deletion. If the plan is to purge all of the Products from a ProductSet and then re-use the empty ProductSet to re-import new Products into the empty ProductSet, you must wait until the PurgeProducts operation has finished for that ProductSet. The google.longrunning.Operation API can be used to keep track of the progress and results of the request. `Operation.metadata` contains `BatchOperationMetadata`. (progress)",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/products:purge",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products:purge",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                }
              },
              "resources": {
                "referenceImages": {
                  "methods": {
                    "delete": {
                      "response": {
                        "$ref": "Empty"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages/{referenceImagesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "httpMethod": "DELETE",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/referenceImages/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the reference image to delete. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "vision.projects.locations.products.referenceImages.delete",
                      "description": "Permanently deletes a reference image. The image metadata will be deleted right away, but search queries against ProductSets containing the image may still work until all related caches are refreshed. The actual image files are not deleted from Google Cloud Storage."
                    },
                    "create": {
                      "description": "Creates and returns a new ReferenceImage resource. The `bounding_poly` field is optional. If `bounding_poly` is not specified, the system will try to detect regions of interest in the image that are compatible with the product_category on the parent product. If it is specified, detection is ALWAYS skipped. The system converts polygons into non-rotated rectangles. Note that the pipeline will resize the image if the image resolution is too large to process (above 50MP). Possible errors: * Returns INVALID_ARGUMENT if the image_uri is missing or longer than 4096 characters. * Returns INVALID_ARGUMENT if the product does not exist. * Returns INVALID_ARGUMENT if bounding_poly is not provided, and nothing compatible with the parent product's product_category is detected. * Returns INVALID_ARGUMENT if bounding_poly contains more than 10 polygons.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "request": {
                        "$ref": "ReferenceImage"
                      },
                      "id": "vision.projects.locations.products.referenceImages.create",
                      "httpMethod": "POST",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Resource name of the product in which to create the reference image. Format is `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                        },
                        "referenceImageId": {
                          "description": "A user-supplied resource id for the ReferenceImage to be added. If set, the server will attempt to use this value as the resource id. If it is already in use, an error is returned with code ALREADY_EXISTS. Must be at most 128 characters long. It cannot contain the character `/`.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+parent}/referenceImages",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "response": {
                        "$ref": "ReferenceImage"
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListReferenceImagesResponse"
                      },
                      "path": "v1/{+parent}/referenceImages",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "description": "Required. Resource name of the product containing the reference images. Format is `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+$"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results to be returned. This is the value of `nextPageToken` returned in a previous reference image list request. Defaults to the first page if not specified."
                        },
                        "pageSize": {
                          "description": "The maximum number of items to return. Default 10, maximum 100.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "vision.projects.locations.products.referenceImages.list",
                      "description": "Lists reference images. Possible errors: * Returns NOT_FOUND if the parent product does not exist. * Returns INVALID_ARGUMENT if the page_size is greater than 100, or less than 1."
                    },
                    "get": {
                      "response": {
                        "$ref": "ReferenceImage"
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/products/{productsId}/referenceImages/{referenceImagesId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform",
                        "https://www.googleapis.com/auth/cloud-vision"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the ReferenceImage to get. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID/referenceImages/IMAGE_ID`.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/products/[^/]+/referenceImages/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "vision.projects.locations.products.referenceImages.get",
                      "description": "Gets information associated with a ReferenceImage. Possible errors: * Returns NOT_FOUND if the specified image does not exist."
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "vision.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service."
                }
              }
            },
            "files": {
              "methods": {
                "asyncBatchAnnotate": {
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "type": "string"
                    }
                  },
                  "id": "vision.projects.locations.files.asyncBatchAnnotate",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "AsyncBatchAnnotateFilesRequest"
                  },
                  "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/files:asyncBatchAnnotate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/files:asyncBatchAnnotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ]
                },
                "annotate": {
                  "path": "v1/{+parent}/files:annotate",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/files:annotate",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform",
                    "https://www.googleapis.com/auth/cloud-vision"
                  ],
                  "response": {
                    "$ref": "BatchAnnotateFilesResponse"
                  },
                  "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "request": {
                    "$ref": "BatchAnnotateFilesRequest"
                  },
                  "id": "vision.projects.locations.files.annotate",
                  "httpMethod": "POST",
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "images": {
          "methods": {
            "annotate": {
              "response": {
                "$ref": "BatchAnnotateImagesResponse"
              },
              "path": "v1/{+parent}/images:annotate",
              "flatPath": "v1/projects/{projectsId}/images:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "type": "string"
                }
              },
              "id": "vision.projects.images.annotate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchAnnotateImagesRequest"
              },
              "description": "Run image detection and annotation for a batch of images."
            },
            "asyncBatchAnnotate": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+parent}/images:asyncBatchAnnotate",
              "flatPath": "v1/projects/{projectsId}/images:asyncBatchAnnotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "type": "string"
                }
              },
              "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
              "id": "vision.projects.images.asyncBatchAnnotate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AsyncBatchAnnotateImagesRequest"
              }
            }
          }
        },
        "files": {
          "methods": {
            "asyncBatchAnnotate": {
              "response": {
                "$ref": "Operation"
              },
              "path": "v1/{+parent}/files:asyncBatchAnnotate",
              "flatPath": "v1/projects/{projectsId}/files:asyncBatchAnnotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`."
                }
              },
              "description": "Run asynchronous image detection and annotation for a list of generic files, such as PDF files, which may contain multiple pages and multiple images per page. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateFilesResponse` (results).",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "AsyncBatchAnnotateFilesRequest"
              },
              "id": "vision.projects.files.asyncBatchAnnotate"
            },
            "annotate": {
              "path": "v1/{+parent}/files:annotate",
              "flatPath": "v1/projects/{projectsId}/files:annotate",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "response": {
                "$ref": "BatchAnnotateFilesResponse"
              },
              "description": "Service that performs image detection and annotation for a batch of files. Now only \"application/pdf\", \"image/tiff\" and \"image/gif\" are supported. This service will extract at most 5 (customers can specify which 5 in AnnotateFileRequest.pages) frames (gif) or pages (pdf or tiff) from each file provided and perform detection and annotation for each image extracted.",
              "id": "vision.projects.files.annotate",
              "parameterOrder": [
                "parent"
              ],
              "request": {
                "$ref": "BatchAnnotateFilesRequest"
              },
              "httpMethod": "POST",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "location": "path",
                  "required": true,
                  "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
                  "type": "string"
                }
              }
            }
          }
        },
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "parameterOrder": [
                "name"
              ],
              "id": "vision.projects.operations.get",
              "httpMethod": "GET",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/operations/[^/]+$"
                }
              },
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/operations/{operationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform",
                "https://www.googleapis.com/auth/cloud-vision"
              ],
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    },
    "images": {
      "methods": {
        "annotate": {
          "path": "v1/images:annotate",
          "flatPath": "v1/images:annotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "response": {
            "$ref": "BatchAnnotateImagesResponse"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "BatchAnnotateImagesRequest"
          },
          "id": "vision.images.annotate",
          "description": "Run image detection and annotation for a batch of images.",
          "httpMethod": "POST",
          "parameters": {}
        },
        "asyncBatchAnnotate": {
          "description": "Run asynchronous image detection and annotation for a list of images. Progress and results can be retrieved through the `google.longrunning.Operations` interface. `Operation.metadata` contains `OperationMetadata` (metadata). `Operation.response` contains `AsyncBatchAnnotateImagesResponse` (results). This service will write image annotation outputs to json files in customer GCS bucket, each json file containing BatchAnnotateImagesResponse proto.",
          "parameterOrder": [],
          "request": {
            "$ref": "AsyncBatchAnnotateImagesRequest"
          },
          "id": "vision.images.asyncBatchAnnotate",
          "httpMethod": "POST",
          "parameters": {},
          "path": "v1/images:asyncBatchAnnotate",
          "flatPath": "v1/images:asyncBatchAnnotate",
          "scopes": [
            "https://www.googleapis.com/auth/cloud-platform",
            "https://www.googleapis.com/auth/cloud-vision"
          ],
          "response": {
            "$ref": "Operation"
          }
        }
      }
    }
  },
  "title": "Cloud Vision API",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "GoogleCloudVisionV1p3beta1NormalizedVertex": {
      "id": "GoogleCloudVisionV1p3beta1NormalizedVertex",
      "type": "object",
      "description": "A vertex represents a 2D point in the image. NOTE: the normalized vertex coordinates are relative to the original image and range from 0 to 1.",
      "properties": {
        "x": {
          "description": "X coordinate.",
          "type": "number",
          "format": "float"
        },
        "y": {
          "type": "number",
          "format": "float",
          "description": "Y coordinate."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1EntityAnnotation": {
      "description": "Set of detected entity features.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "properties": {
          "type": "array",
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1Property"
          }
        },
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "GoogleCloudVisionV1p1beta1BoundingPoly"
        },
        "locations": {
          "type": "array",
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "items": {
            "$ref": "GoogleCloudVisionV1p1beta1LocationInfo"
          }
        },
        "topicality": {
          "type": "number",
          "format": "float",
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1]."
        },
        "mid": {
          "type": "string",
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/)."
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Overall score of the result. Range [0, 1]."
        },
        "confidence": {
          "deprecated": true,
          "type": "number",
          "format": "float",
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1]."
        },
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1EntityAnnotation",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1Property": {
      "id": "GoogleCloudVisionV1p2beta1Property",
      "type": "object",
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "properties": {
        "value": {
          "type": "string",
          "description": "Value of the property."
        },
        "name": {
          "description": "Name of the property.",
          "type": "string"
        },
        "uint64Value": {
          "description": "Value of numeric properties.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1BoundingPoly": {
      "description": "A bounding polygon for the detected image annotation.",
      "properties": {
        "vertices": {
          "description": "The bounding polygon vertices.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Vertex"
          },
          "type": "array"
        },
        "normalizedVertices": {
          "description": "The bounding polygon normalized vertices.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1NormalizedVertex"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1BoundingPoly",
      "type": "object"
    },
    "LatLng": {
      "id": "LatLng",
      "type": "object",
      "description": "An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.",
      "properties": {
        "latitude": {
          "description": "The latitude in degrees. It must be in the range [-90.0, +90.0].",
          "type": "number",
          "format": "double"
        },
        "longitude": {
          "type": "number",
          "format": "double",
          "description": "The longitude in degrees. It must be in the range [-180.0, +180.0]."
        }
      }
    },
    "GoogleCloudVisionV1p4beta1TextAnnotation": {
      "description": "TextAnnotation contains a structured representation of OCR extracted text. The hierarchy of an OCR extracted text structure is like this: TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol Each structural component, starting from Page, may further have their own properties. Properties describe detected languages, breaks etc.. Please refer to the TextAnnotation.TextProperty message definition below for more detail.",
      "properties": {
        "pages": {
          "description": "List of pages detected by OCR.",
          "items": {
            "$ref": "GoogleCloudVisionV1p4beta1Page"
          },
          "type": "array"
        },
        "text": {
          "description": "UTF-8 text detected on the pages.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p4beta1TextAnnotation",
      "type": "object"
    },
    "Feature": {
      "id": "Feature",
      "type": "object",
      "description": "The type of Google Cloud Vision API detection to perform, and the maximum number of results to return for that type. Multiple `Feature` objects can be specified in the `features` list.",
      "properties": {
        "maxResults": {
          "description": "Maximum number of results of this type. Does not apply to `TEXT_DETECTION`, `DOCUMENT_TEXT_DETECTION`, or `CROP_HINTS`.",
          "type": "integer",
          "format": "int32"
        },
        "type": {
          "type": "string",
          "description": "The feature type.",
          "enumDescriptions": [
            "Unspecified feature type.",
            "Run face detection.",
            "Run landmark detection.",
            "Run logo detection.",
            "Run label detection.",
            "Run text detection / optical character recognition (OCR). Text detection is optimized for areas of text within a larger image; if the image is a document, use `DOCUMENT_TEXT_DETECTION` instead.",
            "Run dense text document OCR. Takes precedence when both `DOCUMENT_TEXT_DETECTION` and `TEXT_DETECTION` are present.",
            "Run Safe Search to detect potentially unsafe or undesirable content.",
            "Compute a set of image properties, such as the image's dominant colors.",
            "Run crop hints.",
            "Run web detection.",
            "Run Product Search.",
            "Run localizer for object detection."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "FACE_DETECTION",
            "LANDMARK_DETECTION",
            "LOGO_DETECTION",
            "LABEL_DETECTION",
            "TEXT_DETECTION",
            "DOCUMENT_TEXT_DETECTION",
            "SAFE_SEARCH_DETECTION",
            "IMAGE_PROPERTIES",
            "CROP_HINTS",
            "WEB_DETECTION",
            "PRODUCT_SEARCH",
            "OBJECT_LOCALIZATION"
          ]
        },
        "model": {
          "description": "Model to use for the feature. Supported values: \"builtin/stable\" (the default if unset) and \"builtin/latest\". `DOCUMENT_TEXT_DETECTION` and `TEXT_DETECTION` also support \"builtin/rc\" for the latest release candidate.",
          "type": "string"
        }
      }
    },
    "Block": {
      "description": "Logical element on the page.",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results on the block. Range [0, 1]."
        },
        "property": {
          "$ref": "TextProperty",
          "description": "Additional information detected for the block."
        },
        "blockType": {
          "description": "Detected block type (text, image etc) for this block.",
          "enumDescriptions": [
            "Unknown block type.",
            "Regular text block.",
            "Table block.",
            "Image block.",
            "Horizontal/vertical line box.",
            "Barcode block."
          ],
          "enum": [
            "UNKNOWN",
            "TEXT",
            "TABLE",
            "PICTURE",
            "RULER",
            "BARCODE"
          ],
          "type": "string"
        },
        "boundingBox": {
          "$ref": "BoundingPoly",
          "description": "The bounding box for the block. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "paragraphs": {
          "description": "List of paragraphs in this block (if this blocks is of type text).",
          "items": {
            "$ref": "Paragraph"
          },
          "type": "array"
        }
      },
      "id": "Block",
      "type": "object"
    },
    "GoogleCloudVisionV1p1beta1ProductKeyValue": {
      "description": "A product label represented as a key-value pair.",
      "properties": {
        "key": {
          "type": "string",
          "description": "The key of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        },
        "value": {
          "type": "string",
          "description": "The value of the label attached to the product. Cannot be empty and cannot exceed 128 bytes."
        }
      },
      "id": "GoogleCloudVisionV1p1beta1ProductKeyValue",
      "type": "object"
    },
    "WebEntity": {
      "id": "WebEntity",
      "type": "object",
      "description": "Entity deduced from similar images on the Internet.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Canonical description of the entity, in English."
        },
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID."
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries."
        }
      }
    },
    "AnnotateImageResponse": {
      "description": "Response to an image annotation request.",
      "properties": {
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "items": {
            "$ref": "LocalizedObjectAnnotation"
          },
          "type": "array"
        },
        "imagePropertiesAnnotation": {
          "$ref": "ImageProperties",
          "description": "If present, image properties were extracted successfully."
        },
        "labelAnnotations": {
          "type": "array",
          "description": "If present, label detection has completed successfully.",
          "items": {
            "$ref": "EntityAnnotation"
          }
        },
        "logoAnnotations": {
          "description": "If present, logo detection has completed successfully.",
          "items": {
            "$ref": "EntityAnnotation"
          },
          "type": "array"
        },
        "fullTextAnnotation": {
          "$ref": "TextAnnotation",
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text."
        },
        "cropHintsAnnotation": {
          "$ref": "CropHintsAnnotation",
          "description": "If present, crop hints have completed successfully."
        },
        "webDetection": {
          "$ref": "WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "textAnnotations": {
          "type": "array",
          "description": "If present, text (OCR) detection has completed successfully.",
          "items": {
            "$ref": "EntityAnnotation"
          }
        },
        "error": {
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set.",
          "$ref": "Status"
        },
        "context": {
          "$ref": "ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        },
        "productSearchResults": {
          "description": "If present, product search has completed successfully.",
          "$ref": "ProductSearchResults"
        },
        "faceAnnotations": {
          "type": "array",
          "description": "If present, face detection has completed successfully.",
          "items": {
            "$ref": "FaceAnnotation"
          }
        },
        "landmarkAnnotations": {
          "description": "If present, landmark detection has completed successfully.",
          "items": {
            "$ref": "EntityAnnotation"
          },
          "type": "array"
        },
        "safeSearchAnnotation": {
          "$ref": "SafeSearchAnnotation",
          "description": "If present, safe-search annotation has completed successfully."
        }
      },
      "id": "AnnotateImageResponse",
      "type": "object"
    },
    "GoogleCloudVisionV1p4beta1ProductSearchResultsResult": {
      "id": "GoogleCloudVisionV1p4beta1ProductSearchResultsResult",
      "type": "object",
      "description": "Information about a product.",
      "properties": {
        "product": {
          "description": "The Product.",
          "$ref": "GoogleCloudVisionV1p4beta1Product"
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "A confidence level on the match, ranging from 0 (no confidence) to 1 (full confidence)."
        },
        "image": {
          "type": "string",
          "description": "The resource name of the image from the product that is the closest match to the query."
        }
      }
    },
    "GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak": {
      "description": "Detected start or end of a structural component.",
      "properties": {
        "type": {
          "type": "string",
          "description": "Detected break type.",
          "enumDescriptions": [
            "Unknown break label type.",
            "Regular space.",
            "Sure space (very wide).",
            "Line-wrapping break.",
            "End-line hyphen that is not present in text; does not co-occur with `SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.",
            "Line break that ends a paragraph."
          ],
          "enum": [
            "UNKNOWN",
            "SPACE",
            "SURE_SPACE",
            "EOL_SURE_SPACE",
            "HYPHEN",
            "LINE_BREAK"
          ]
        },
        "isPrefix": {
          "description": "True if break prepends the element.",
          "type": "boolean"
        }
      },
      "id": "GoogleCloudVisionV1p1beta1TextAnnotationDetectedBreak",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1GcsSource": {
      "id": "GoogleCloudVisionV1p3beta1GcsSource",
      "type": "object",
      "description": "The Google Cloud Storage location where the input will be read from.",
      "properties": {
        "uri": {
          "description": "Google Cloud Storage URI for the input file. This must only be a Google Cloud Storage object. Wildcards are not currently supported.",
          "type": "string"
        }
      }
    },
    "GcsDestination": {
      "description": "The Google Cloud Storage location where the output will be written to.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Google Cloud Storage URI prefix where the results will be stored. Results will be in JSON format and preceded by its corresponding input URI prefix. This field can either represent a gcs file prefix or gcs directory. In either case, the uri should be unique because in order to get all of the output files, you will need to do a wildcard gcs search on the uri prefix you provide. Examples: * File Prefix: gs://bucket-name/here/filenameprefix The output files will be created in gs://bucket-name/here/ and the names of the output files will begin with \"filenameprefix\". * Directory Prefix: gs://bucket-name/some/location/ The output files will be created in gs://bucket-name/some/location/ and the names of the output files could be anything because there was no filename prefix specified. If multiple outputs, each response is still AnnotateFileResponse, each of which contains some subset of the full list of AnnotateImageResponse. Multiple outputs can happen if, for example, the output JSON is too large and overflows into multiple sharded files."
        }
      },
      "id": "GcsDestination",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1Property": {
      "id": "GoogleCloudVisionV1p3beta1Property",
      "type": "object",
      "description": "A `Property` consists of a user-supplied name/value pair.",
      "properties": {
        "name": {
          "description": "Name of the property.",
          "type": "string"
        },
        "uint64Value": {
          "description": "Value of numeric properties.",
          "type": "string",
          "format": "uint64"
        },
        "value": {
          "description": "Value of the property.",
          "type": "string"
        }
      }
    },
    "BatchAnnotateImagesRequest": {
      "description": "Multiple image annotation requests are batched into a single service call.",
      "properties": {
        "requests": {
          "description": "Required. Individual image annotation requests for this batch.",
          "items": {
            "$ref": "AnnotateImageRequest"
          },
          "type": "array"
        },
        "parent": {
          "description": "Optional. Target project and location to make a call. Format: `projects/{project-id}/locations/{location-id}`. If no parent is specified, a region will be chosen automatically. Supported location-ids: `us`: USA country only, `asia`: East asia areas, like Japan, Taiwan, `eu`: The European Union. Example: `projects/project-A/locations/eu`.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels with user-defined metadata for the request. Label keys and values can be no longer than 63 characters (Unicode codepoints), can only contain lowercase letters, numeric characters, underscores and dashes. International characters are allowed. Label values are optional. Label keys must start with a letter."
        }
      },
      "id": "BatchAnnotateImagesRequest",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1Product": {
      "description": "A Product contains ReferenceImages.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The resource name of the product. Format is: `projects/PROJECT_ID/locations/LOC_ID/products/PRODUCT_ID`. This field is ignored when creating a product."
        },
        "productCategory": {
          "description": "Immutable. The category for the product identified by the reference image. This should be one of \"homegoods-v2\", \"apparel-v2\", \"toys-v2\", \"packagedgoods-v1\" or \"general-v1\". The legacy categories \"homegoods\", \"apparel\", and \"toys\" are still supported, but these should not be used for new products.",
          "type": "string"
        },
        "displayName": {
          "description": "The user-provided name for this Product. Must not be empty. Must be at most 4096 characters long.",
          "type": "string"
        },
        "productLabels": {
          "type": "array",
          "description": "Key-value pairs that can be attached to a product. At query time, constraints can be specified based on the product_labels. Note that integer values can be provided as strings, e.g. \"1199\". Only strings with integer values can match a range-based restriction which is to be supported soon. Multiple values can be assigned to the same key. One product may have up to 500 product_labels. Notice that the total number of distinct product_labels over all products in one ProductSet cannot exceed 1M, otherwise the product search pipeline will refuse to work for that ProductSet.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1ProductKeyValue"
          }
        },
        "description": {
          "description": "User-provided metadata to be stored with this product. Must be at most 4096 characters long.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1Product",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1EntityAnnotation": {
      "id": "GoogleCloudVisionV1p3beta1EntityAnnotation",
      "type": "object",
      "description": "Set of detected entity features.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Entity textual description, expressed in its `locale` language."
        },
        "properties": {
          "description": "Some entities may have optional user-supplied `Property` (name/value) fields, such a score or string that qualifies the entity.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1Property"
          },
          "type": "array"
        },
        "topicality": {
          "type": "number",
          "format": "float",
          "description": "The relevancy of the ICA (Image Content Annotation) label to the image. For example, the relevancy of \"tower\" is likely higher to an image containing the detected \"Eiffel Tower\" than to an image containing a detected distant towering building, even though the confidence that there is a tower in each image may be the same. Range [0, 1]."
        },
        "locations": {
          "type": "array",
          "description": "The location information for the detected entity. Multiple `LocationInfo` elements can be present because one location may indicate the location of the scene in the image, and another location may indicate the location of the place where the image was taken. Location information is usually present for landmarks.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1LocationInfo"
          }
        },
        "boundingPoly": {
          "description": "Image region to which this entity belongs. Not produced for `LABEL_DETECTION` features.",
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly"
        },
        "mid": {
          "description": "Opaque entity ID. Some IDs may be available in [Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).",
          "type": "string"
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "Overall score of the result. Range [0, 1]."
        },
        "confidence": {
          "description": "**Deprecated. Use `score` instead.** The accuracy of the entity detection in an image. For example, for an image in which the \"Eiffel Tower\" entity is detected, this field represents the confidence that there is a tower in the query image. Range [0, 1].",
          "type": "number",
          "format": "float",
          "deprecated": true
        },
        "locale": {
          "description": "The language code for the locale in which the entity textual `description` is expressed.",
          "type": "string"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1Symbol": {
      "description": "A single symbol representation.",
      "properties": {
        "confidence": {
          "description": "Confidence of the OCR results for the symbol. Range [0, 1].",
          "type": "number",
          "format": "float"
        },
        "property": {
          "$ref": "GoogleCloudVisionV1p3beta1TextAnnotationTextProperty",
          "description": "Additional information detected for the symbol."
        },
        "boundingBox": {
          "$ref": "GoogleCloudVisionV1p3beta1BoundingPoly",
          "description": "The bounding box for the symbol. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "text": {
          "description": "The actual UTF-8 representation of the symbol.",
          "type": "string"
        }
      },
      "id": "GoogleCloudVisionV1p3beta1Symbol",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1WebDetectionWebPage": {
      "id": "GoogleCloudVisionV1p3beta1WebDetectionWebPage",
      "type": "object",
      "description": "Metadata for web pages.",
      "properties": {
        "pageTitle": {
          "type": "string",
          "description": "Title for the web page, may contain HTML markups."
        },
        "score": {
          "type": "number",
          "format": "float",
          "description": "(Deprecated) Overall relevancy score for the web page."
        },
        "fullMatchingImages": {
          "description": "Fully matching images on the page. Can include resized copies of the query image.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          },
          "type": "array"
        },
        "url": {
          "type": "string",
          "description": "The result web page URL."
        },
        "partialMatchingImages": {
          "description": "Partial matching images on the page. Those images are similar enough to share some key-point features. For example an original image will likely have partial matching for its crops.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1WebDetectionWebImage"
          },
          "type": "array"
        }
      }
    },
    "GoogleCloudVisionV1p3beta1AnnotateFileResponse": {
      "id": "GoogleCloudVisionV1p3beta1AnnotateFileResponse",
      "type": "object",
      "description": "Response to a single file annotation request. A file may contain one or more images, which individually have their own responses.",
      "properties": {
        "responses": {
          "description": "Individual responses to images found within the file. This field will be empty if the `error` field is set.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1AnnotateImageResponse"
          },
          "type": "array"
        },
        "totalPages": {
          "description": "This field gives the total number of pages in the file.",
          "type": "integer",
          "format": "int32"
        },
        "inputConfig": {
          "$ref": "GoogleCloudVisionV1p3beta1InputConfig",
          "description": "Information about the file for which this response is generated."
        },
        "error": {
          "description": "If set, represents the error message for the failed request. The `responses` field will not be set in this case.",
          "$ref": "Status"
        }
      }
    },
    "Word": {
      "description": "A word representation.",
      "properties": {
        "property": {
          "description": "Additional information detected for the word.",
          "$ref": "TextProperty"
        },
        "confidence": {
          "type": "number",
          "format": "float",
          "description": "Confidence of the OCR results for the word. Range [0, 1]."
        },
        "boundingBox": {
          "$ref": "BoundingPoly",
          "description": "The bounding box for the word. The vertices are in the order of top-left, top-right, bottom-right, bottom-left. When a rotation of the bounding box is detected the rotation is represented as around the top-left corner as defined when the text is read in the 'natural' orientation. For example: * when the text is horizontal it might look like: 0----1 | | 3----2 * when it's rotated 180 degrees around the top-left corner it becomes: 2----3 | | 1----0 and the vertex order will still be (0, 1, 2, 3)."
        },
        "symbols": {
          "description": "List of symbols in the word. The order of the symbols follows the natural reading order.",
          "items": {
            "$ref": "Symbol"
          },
          "type": "array"
        }
      },
      "id": "Word",
      "type": "object"
    },
    "GoogleCloudVisionV1p2beta1WebDetectionWebEntity": {
      "id": "GoogleCloudVisionV1p2beta1WebDetectionWebEntity",
      "type": "object",
      "description": "Entity deduced from similar images on the Internet.",
      "properties": {
        "entityId": {
          "type": "string",
          "description": "Opaque entity ID."
        },
        "score": {
          "description": "Overall relevancy score for the entity. Not normalized and not comparable across different image queries.",
          "type": "number",
          "format": "float"
        },
        "description": {
          "type": "string",
          "description": "Canonical description of the entity, in English."
        }
      }
    },
    "ImageAnnotationContext": {
      "id": "ImageAnnotationContext",
      "type": "object",
      "description": "If an image was produced from a file (e.g. a PDF), this message gives information about the source of that image.",
      "properties": {
        "uri": {
          "type": "string",
          "description": "The URI of the file used to produce the image."
        },
        "pageNumber": {
          "type": "integer",
          "format": "int32",
          "description": "If the file was a PDF or TIFF, this field gives the page number within the file used to produce the image."
        }
      }
    },
    "GoogleCloudVisionV1p3beta1DominantColorsAnnotation": {
      "id": "GoogleCloudVisionV1p3beta1DominantColorsAnnotation",
      "type": "object",
      "description": "Set of dominant colors and their corresponding scores.",
      "properties": {
        "colors": {
          "type": "array",
          "description": "RGB color values with their score and pixel fraction.",
          "items": {
            "$ref": "GoogleCloudVisionV1p3beta1ColorInfo"
          }
        }
      }
    },
    "GoogleCloudVisionV1p2beta1AnnotateImageResponse": {
      "description": "Response to an image annotation request.",
      "properties": {
        "safeSearchAnnotation": {
          "$ref": "GoogleCloudVisionV1p2beta1SafeSearchAnnotation",
          "description": "If present, safe-search annotation has completed successfully."
        },
        "faceAnnotations": {
          "description": "If present, face detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1FaceAnnotation"
          },
          "type": "array"
        },
        "landmarkAnnotations": {
          "type": "array",
          "description": "If present, landmark detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          }
        },
        "productSearchResults": {
          "description": "If present, product search has completed successfully.",
          "$ref": "GoogleCloudVisionV1p2beta1ProductSearchResults"
        },
        "textAnnotations": {
          "description": "If present, text (OCR) detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          },
          "type": "array"
        },
        "error": {
          "$ref": "Status",
          "description": "If set, represents the error message for the operation. Note that filled-in image annotations are guaranteed to be correct, even when `error` is set."
        },
        "context": {
          "$ref": "GoogleCloudVisionV1p2beta1ImageAnnotationContext",
          "description": "If present, contextual information is needed to understand where this image comes from."
        },
        "webDetection": {
          "$ref": "GoogleCloudVisionV1p2beta1WebDetection",
          "description": "If present, web detection has completed successfully."
        },
        "fullTextAnnotation": {
          "$ref": "GoogleCloudVisionV1p2beta1TextAnnotation",
          "description": "If present, text (OCR) detection or document (OCR) text detection has completed successfully. This annotation provides the structural hierarchy for the OCR detected text."
        },
        "cropHintsAnnotation": {
          "description": "If present, crop hints have completed successfully.",
          "$ref": "GoogleCloudVisionV1p2beta1CropHintsAnnotation"
        },
        "labelAnnotations": {
          "description": "If present, label detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          },
          "type": "array"
        },
        "logoAnnotations": {
          "type": "array",
          "description": "If present, logo detection has completed successfully.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1EntityAnnotation"
          }
        },
        "imagePropertiesAnnotation": {
          "$ref": "GoogleCloudVisionV1p2beta1ImageProperties",
          "description": "If present, image properties were extracted successfully."
        },
        "localizedObjectAnnotations": {
          "description": "If present, localized object detection has completed successfully. This will be sorted descending by confidence score.",
          "items": {
            "$ref": "GoogleCloudVisionV1p2beta1LocalizedObjectAnnotation"
          },
          "type": "array"
        }
      },
      "id": "GoogleCloudVisionV1p2beta1AnnotateImageResponse",
      "type": "object"
    },
    "GoogleCloudVisionV1p3beta1ProductKeyValue": {
[...]
