{
  "parameters": {
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "alt": {
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    }
  },
  "version_module": true,
  "title": "VM Migration API",
  "basePath": "",
  "id": "vmmigration:v1alpha1",
  "canonicalName": "VM Migration Service",
  "name": "vmmigration",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "schemas": {
    "CancelCutoverJobRequest": {
      "description": "Request message for 'CancelCutoverJob' request.",
      "id": "CancelCutoverJobRequest",
      "properties": {},
      "type": "object"
    },
    "DiskImageDefaults": {
      "description": "Contains details about the image source used to create the disk.",
      "id": "DiskImageDefaults",
      "type": "object",
      "properties": {
        "sourceImage": {
          "type": "string",
          "description": "Required. The Image resource used when creating the disk."
        }
      }
    },
    "AzureSourceVmDetails": {
      "properties": {
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true,
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "type": "array"
        },
        "architecture": {
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The VM architecture."
        },
        "committedStorageBytes": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "firmware": {
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM."
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        }
      },
      "id": "AzureSourceVmDetails",
      "description": "Represent the source Azure VM details.",
      "type": "object"
    },
    "Expiration": {
      "id": "Expiration",
      "type": "object",
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "type": "string",
          "readOnly": true
        },
        "extendable": {
          "description": "Output only. Describes whether the expiration can be extended.",
          "readOnly": true,
          "type": "boolean"
        },
        "extensionCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of times expiration was extended."
        }
      }
    },
    "ComputeEngineTargetDetails": {
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDetails",
      "properties": {
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "bootConversion": {
          "type": "string",
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "project": {
          "type": "string",
          "description": "The Google Cloud target project ID or project name."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "description": "The license type to use in OS adaptation."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "The OS license returned from the adaptation module report."
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "diskReplicaZones": {
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "The VM Boot Option, as set in the source VM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ]
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
        },
        "networkTags": {
          "type": "array",
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array"
        }
      },
      "type": "object"
    },
    "VmUtilizationInfo": {
      "id": "VmUtilizationInfo",
      "description": "Utilization information of a single VM.",
      "properties": {
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        },
        "vmId": {
          "description": "The VM's ID in the source.",
          "type": "string"
        },
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        }
      },
      "type": "object"
    },
    "AzureVmsDetails": {
      "type": "object",
      "id": "AzureVmsDetails",
      "description": "AzureVmsDetails describes VMs in Azure.",
      "properties": {
        "details": {
          "items": {
            "$ref": "AzureVmDetails"
          },
          "description": "The details of the Azure VMs.",
          "type": "array"
        }
      }
    },
    "OSDescription": {
      "id": "OSDescription",
      "properties": {
        "type": {
          "description": "OS type.",
          "type": "string"
        },
        "publisher": {
          "type": "string",
          "description": "OS publisher."
        },
        "plan": {
          "type": "string",
          "description": "OS plan."
        },
        "offer": {
          "description": "OS offer.",
          "type": "string"
        }
      },
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable.",
      "type": "object"
    },
    "RunDiskMigrationJobRequest": {
      "id": "RunDiskMigrationJobRequest",
      "type": "object",
      "description": "Request message for 'RunDiskMigrationJobRequest' request.",
      "properties": {}
    },
    "ListTargetProjectsResponse": {
      "id": "ListTargetProjectsResponse",
      "type": "object",
      "description": "Response message for 'ListTargetProjects' call.",
      "properties": {
        "targetProjects": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "TargetProject"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      }
    },
    "MigratingVm": {
      "id": "MigratingVm",
      "type": "object",
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "properties": {
        "lastSync": {
          "$ref": "ReplicationSync",
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "The labels of the migrating VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sourceVmId": {
          "type": "string",
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-."
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "group": {
          "readOnly": true,
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "type": "string"
        },
        "computeEngineVmDefaults": {
          "deprecated": true,
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead.",
          "$ref": "TargetVMDetails"
        },
        "name": {
          "description": "Output only. The identifier of the MigratingVm.",
          "type": "string",
          "readOnly": true
        },
        "targetDefaults": {
          "description": "The default configuration of the target VM that will be created in Google Cloud as a result of the migration. Deprecated: Use compute_engine_target_defaults instead.",
          "deprecated": true,
          "$ref": "TargetVMDetails"
        },
        "azureSourceVmDetails": {
          "description": "Output only. Details of the VM from an Azure source.",
          "readOnly": true,
          "$ref": "AzureSourceVmDetails"
        },
        "awsSourceVmDetails": {
          "readOnly": true,
          "$ref": "AwsSourceVmDetails",
          "description": "Output only. Details of the VM from an AWS source."
        },
        "computeEngineDisksTargetDefaults": {
          "description": "Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDefaults"
        },
        "createTime": {
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "vmwareSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from a Vmware source.",
          "$ref": "VmwareSourceVmDetails"
        },
        "expiration": {
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "$ref": "Expiration",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "readOnly": true,
          "$ref": "Status"
        },
        "currentSyncInfo": {
          "$ref": "ReplicationCycle",
          "readOnly": true,
          "description": "Output only. Details of the current running replication cycle."
        },
        "lastReplicationCycle": {
          "readOnly": true,
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "$ref": "ReplicationCycle"
        },
        "policy": {
          "description": "The replication schedule policy.",
          "$ref": "SchedulePolicy"
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "recentCutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request."
        },
        "recentCloneJobs": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request."
        },
        "cutoverForecast": {
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable.",
          "$ref": "CutoverForecast",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the migrating VM resource was updated.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ],
          "description": "Output only. State of the MigratingVm.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ]
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        }
      }
    },
    "VmwareVmDetails": {
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "properties": {
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string",
          "description": "Output only. The CPU architecture.",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "memoryMb": {
          "type": "integer",
          "description": "The size of the memory of the VM in MB.",
          "format": "int32"
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "bootOption": {
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option.",
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "committedStorageMb": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ]
        },
        "cpuCount": {
          "format": "int32",
          "description": "The number of cpus in the VM.",
          "type": "integer"
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "vmId": {
          "type": "string",
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM."
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "committedStorage": {
          "type": "string",
          "deprecated": true,
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB."
        }
      },
      "id": "VmwareVmDetails",
      "type": "object"
    },
    "InitializingImageImportStep": {
      "description": "InitializingImageImportStep contains specific step details.",
      "properties": {},
      "type": "object",
      "id": "InitializingImageImportStep"
    },
    "ExtendMigrationRequest": {
      "id": "ExtendMigrationRequest",
      "properties": {},
      "description": "Request message for 'ExtendMigrationRequest' request.",
      "type": "object"
    },
    "CutoverForecast": {
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "type": "object",
      "id": "CutoverForecast",
      "properties": {
        "estimatedCutoverJobDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Estimation of the CutoverJob duration.",
          "readOnly": true
        }
      }
    },
    "ListCutoverJobsResponse": {
      "description": "Response message for 'ListCutoverJobs' request.",
      "id": "ListCutoverJobsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "cutoverJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of cutover jobs response.",
          "items": {
            "$ref": "CutoverJob"
          }
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "LocalizedMessage": {
      "id": "LocalizedMessage",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        },
        "message": {
          "type": "string",
          "description": "The localized error message in the above locale."
        }
      },
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "type": "object"
    },
    "CreatingSourceDiskSnapshotStep": {
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "properties": {},
      "id": "CreatingSourceDiskSnapshotStep",
      "type": "object"
    },
    "AdaptingOSStep": {
      "id": "AdaptingOSStep",
      "properties": {},
      "description": "AdaptingOSStep contains specific step details.",
      "type": "object"
    },
    "DatacenterConnector": {
      "type": "object",
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "properties": {
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "availableVersions": {
          "$ref": "AvailableUpdates",
          "readOnly": true,
          "description": "Output only. The available versions for updating this appliance."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "type": "string",
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ]
        },
        "name": {
          "description": "Output only. The connector's name.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "type": "string",
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified."
        },
        "applianceSoftwareVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance."
        },
        "applianceInfrastructureVersion": {
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "type": "string",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "readOnly": true
        },
        "bucket": {
          "readOnly": true,
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud.",
          "type": "string"
        },
        "upgradeStatus": {
          "readOnly": true,
          "$ref": "UpgradeStatus",
          "description": "Output only. The status of the current / last upgradeAppliance operation."
        },
        "stateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the state was last set.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status"
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the connector was updated with an API call.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "DatacenterConnector"
    },
    "ListReplicationCyclesResponse": {
      "id": "ListReplicationCyclesResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "replicationCycles": {
          "type": "array",
          "description": "Output only. The list of replication cycles response.",
          "readOnly": true,
          "items": {
            "$ref": "ReplicationCycle"
          }
        }
      },
      "description": "Response message for 'ListReplicationCycles' request.",
      "type": "object"
    },
    "PersistentDisk": {
      "id": "PersistentDisk",
      "properties": {
        "sourceDiskNumber": {
          "description": "The ordinal number of the source VM disk.",
          "format": "int32",
          "type": "integer"
        },
        "diskUri": {
          "description": "The URI of the Persistent Disk.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details of a created Persistent Disk."
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the replication cycle has ended."
        },
        "startTime": {
          "description": "The time the replication cycle has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the cycle in case of an error.",
          "$ref": "Status"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "State of the ReplicationCycle.",
          "type": "string"
        },
        "warnings": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the cycle."
        },
        "cycleNumber": {
          "description": "The cycle's ordinal number.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The identifier of the ReplicationCycle."
        },
        "totalPauseDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The accumulated duration the replication cycle was paused."
        },
        "progress": {
          "format": "int32",
          "deprecated": true,
          "type": "integer",
          "description": "The current progress in percentage of this cycle."
        },
        "steps": {
          "type": "array",
          "description": "The cycle's steps list representing its progress.",
          "items": {
            "$ref": "CycleStep"
          }
        },
        "progressPercent": {
          "deprecated": true,
          "format": "int32",
          "type": "integer",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately."
        }
      },
      "id": "ReplicationCycle"
    },
    "ImageImportOsAdaptationParameters": {
      "description": "Parameters affecting the OS adaptation process.",
      "properties": {
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array",
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "generalize": {
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID).",
          "type": "boolean"
        },
        "bootConversion": {
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion",
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        }
      },
      "type": "object",
      "id": "ImageImportOsAdaptationParameters"
    },
    "DiskMigrationJob": {
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "properties": {
        "awsSourceDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Details of the unattached AWS source disk."
        },
        "state": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the DiskMigrationJob.",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ]
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob.",
          "readOnly": true
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error."
        },
        "createTime": {
          "description": "Output only. The time the DiskMigrationJob resource was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "type": "string",
          "readOnly": true
        },
        "targetDetails": {
          "$ref": "DiskMigrationJobTargetDetails",
          "description": "Required. Details of the target Disk in Compute Engine."
        },
        "steps": {
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "description": "Output only. The disk migration steps list representing its progress.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "DiskMigrationJob"
    },
    "MachineImageParametersOverrides": {
      "type": "object",
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      },
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "id": "MachineImageParametersOverrides"
    },
    "OSDisk": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The disk's full name."
        },
        "type": {
          "type": "string",
          "description": "The disk's type."
        },
        "sizeGb": {
          "format": "int32",
          "type": "integer",
          "description": "The disk's size in GB."
        }
      },
      "id": "OSDisk",
      "description": "A message describing the OS disk."
    },
    "VmCapabilities": {
      "type": "object",
      "id": "VmCapabilities",
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "properties": {
        "osCapabilities": {
          "items": {
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ],
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "readOnly": true
        },
        "lastOsCapabilitiesUpdateTime": {
          "description": "Output only. The last time OS capabilities list was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "CutoverJob": {
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "type": "object",
      "id": "CutoverJob",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the cutover job had finished.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "$ref": "Status"
        },
        "steps": {
          "readOnly": true,
          "description": "Output only. The cutover steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          }
        },
        "computeEngineVmDetails": {
          "$ref": "TargetVMDetails",
          "readOnly": true,
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "stateTime": {
          "readOnly": true,
          "description": "Output only. The time the state was last updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "description": "Output only. State of the cutover job.",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "name": {
          "description": "Output only. The name of the cutover job.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "type": "string"
        },
        "targetDetails": {
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails"
        },
        "progressPercent": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "stateMessage": {
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true,
          "type": "string"
        },
        "progress": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true,
          "deprecated": true
        }
      }
    },
    "ProvisioningTargetDiskStep": {
      "description": "ProvisioningTargetDiskStep contains specific step details.",
      "type": "object",
      "id": "ProvisioningTargetDiskStep",
      "properties": {}
    },
    "UtilizationReport": {
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "type": "object",
      "id": "UtilizationReport",
      "properties": {
        "timeFrame": {
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "description": "Time frame of the report.",
          "type": "string"
        },
        "vmCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true
        },
        "stateTime": {
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "createTime": {
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "frameEndTime": {
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "vms": {
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          },
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored."
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The report unique name.",
          "type": "string"
        },
        "state": {
          "description": "Output only. Current state of the report.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "readOnly": true
        },
        "vmsCount": {
          "description": "Output only. Total number of VMs included in the report.",
          "format": "int32",
          "type": "integer",
          "deprecated": true,
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The report display name, as assigned by the user."
        }
      }
    },
    "FinalizeMigrationRequest": {
      "properties": {},
      "description": "Request message for 'FinalizeMigration' request.",
      "type": "object",
      "id": "FinalizeMigrationRequest"
    },
    "FetchInventoryResponse": {
      "properties": {
        "vmwareVms": {
          "$ref": "VmwareVmsDetails",
          "description": "The description of the VMs in a Source of type Vmware."
        },
        "azureVms": {
          "$ref": "AzureVmsDetails",
          "description": "The description of the VMs in a Source of type Azure."
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "type": "string"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        }
      },
      "type": "object",
      "description": "Response message for fetchInventory.",
      "id": "FetchInventoryResponse"
    },
    "DisksMigrationVmTargetDefaults": {
      "type": "object",
      "id": "DisksMigrationVmTargetDefaults",
      "properties": {
        "vmName": {
          "description": "Required. The name of the VM to create.",
          "type": "string"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. NICs to attach to the VM."
        },
        "metadata": {
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineTypeSeries": {
          "description": "Optional. The machine type series to create the VM with. For presentation only.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        },
        "networkTags": {
          "type": "array",
          "description": "Optional. A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "bootDiskDefaults": {
          "description": "Optional. Details of the boot disk of the VM.",
          "$ref": "BootDiskDefaults"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the VM."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Optional. Compute instance scheduling information (if empty default is used)."
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "hostname": {
          "description": "Optional. The hostname to assign to the VM.",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "Required. The machine type to create the VM with."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "secureBoot": {
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the VM."
        }
      },
      "description": "Details for creation of a VM that migrated data disks will be attached to."
    },
    "CutoverStep": {
      "description": "CutoverStep holds information about the cutover step progress.",
      "properties": {
        "shuttingDownSourceVm": {
          "$ref": "ShuttingDownSourceVMStep",
          "description": "Shutting down VM step."
        },
        "finalSync": {
          "description": "Final sync step.",
          "$ref": "ReplicationCycle"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "previousReplicationCycle": {
          "description": "A replication cycle prior cutover step.",
          "$ref": "ReplicationCycle"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the step has started.",
          "type": "string"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "endTime": {
          "type": "string",
          "description": "The time the step has ended.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "CutoverStep"
    },
    "SchedulingNodeAffinity": {
      "type": "object",
      "id": "SchedulingNodeAffinity",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "properties": {
        "values": {
          "description": "Corresponds to the label values of Node resource.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        },
        "operator": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "type": "string",
          "description": "The operator to use for the node resources specified in the `values` parameter."
        }
      }
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "type": "object",
      "description": "Request message for 'StartMigrationRequest' request.",
      "properties": {}
    },
    "UpgradeStatus": {
      "id": "UpgradeStatus",
      "type": "object",
      "properties": {
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error."
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        },
        "startTime": {
          "description": "The time the operation was started.",
          "format": "google-datetime",
          "type": "string"
        },
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "The state of the upgradeAppliance operation.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ]
        }
      },
      "description": "UpgradeStatus contains information about upgradeAppliance operation."
    },
    "AwsSourceDetails": {
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "properties": {
        "inventoryTagList": {
          "type": "array",
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "items": {
            "$ref": "Tag"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "readOnly": true
        },
        "awsRegion": {
          "description": "Immutable. The AWS region that the source VMs will be migrated from.",
          "type": "string"
        },
        "accessKeyCreds": {
          "description": "AWS Credentials using access key id and secret.",
          "$ref": "AccessKeyCredentials"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "inventorySecurityGroupNames": {
          "type": "array",
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          }
        },
        "publicIp": {
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "type": "string",
          "readOnly": true
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "AwsSourceDetails",
      "type": "object"
    },
    "ReplicatingStep": {
      "properties": {
        "replicatedBytes": {
          "description": "Replicated bytes in the step.",
          "format": "int64",
          "type": "string"
        },
        "lastTwoMinutesAverageBytesPerSecond": {
          "type": "string",
          "format": "int64",
          "description": "The source disks replication rate for the last 2 minutes in bytes per second."
        },
        "totalBytes": {
          "type": "string",
          "description": "Total bytes to be handled in the step.",
          "format": "int64"
        },
        "lastThirtyMinutesAverageBytesPerSecond": {
          "format": "int64",
          "description": "The source disks replication rate for the last 30 minutes in bytes per second.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ReplicatingStep contains specific step details.",
      "id": "ReplicatingStep"
    },
    "CloneJob": {
      "id": "CloneJob",
      "type": "object",
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "readOnly": true
        },
        "targetDetails": {
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "deprecated": true
        },
        "computeEngineVmDetails": {
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true
        },
        "stateTime": {
          "type": "string",
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "readOnly": true
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "description": "Output only. State of the clone job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the clone.",
          "readOnly": true,
          "type": "string"
        },
        "computeEngineTargetDetails": {
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "CloneStep"
          },
          "readOnly": true,
          "description": "Output only. The clone steps list representing its progress."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the clone job was ended.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "AwsVmDetails": {
      "description": "AwsVmDetails describes a VM in AWS.",
      "type": "object",
      "id": "AwsVmDetails",
      "properties": {
        "vcpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has."
        },
        "sourceId": {
          "type": "string",
          "description": "The id of the AWS's source this VM is connected to."
        },
        "virtualizationType": {
          "type": "string",
          "description": "The virtualization type.",
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ]
        },
        "cpuCount": {
          "description": "The number of CPU cores the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "instanceType": {
          "type": "string",
          "description": "The instance type of the VM."
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        },
        "powerState": {
          "type": "string",
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the VM. Note that this value is not necessarily unique."
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ],
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "description": "The CPU architecture."
        },
        "vmId": {
          "description": "The VM ID in AWS.",
          "type": "string"
        },
        "diskCount": {
          "format": "int32",
          "description": "The number of disks the VM has.",
          "type": "integer"
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        },
        "committedStorageMb": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "securityGroups": {
          "description": "The security groups the VM belongs to.",
          "items": {
            "$ref": "AwsSecurityGroup"
          },
          "type": "array"
        },
        "zone": {
          "type": "string",
          "description": "The AWS zone of the VM."
        }
      }
    },
    "AwsVmsDetails": {
      "description": "AWSVmsDetails describes VMs in AWS.",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          },
          "description": "The details of the AWS VMs."
        }
      },
      "id": "AwsVmsDetails"
    },
    "ListDatacenterConnectorsResponse": {
      "properties": {
        "datacenterConnectors": {
          "items": {
            "$ref": "DatacenterConnector"
          },
          "description": "Output only. The list of sources response.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListDatacenterConnectorsResponse",
      "description": "Response message for 'ListDatacenterConnectors' request."
    },
    "ListMigratingVmsResponse": {
      "id": "ListMigratingVmsResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "migratingVms": {
          "items": {
            "$ref": "MigratingVm"
          },
          "description": "Output only. The list of Migrating VMs response.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        }
      },
      "description": "Response message for 'ListMigratingVms' request."
    },
    "Tag": {
      "id": "Tag",
      "properties": {
        "value": {
          "type": "string",
          "description": "Required. Value of tag."
        },
        "key": {
          "type": "string",
          "description": "Required. Key of tag."
        }
      },
      "description": "Tag is an AWS tag representation.",
      "type": "object"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation"
    },
    "CycleStep": {
      "type": "object",
      "id": "CycleStep",
      "properties": {
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the cycle step has ended.",
          "type": "string"
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the cycle step has started."
        },
        "initializingReplication": {
          "$ref": "InitializingReplicationStep",
          "description": "Initializing replication step."
        }
      },
      "description": "CycleStep holds information about a step progress."
    },
    "AppliedLicense": {
      "type": "object",
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "id": "AppliedLicense",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type that was used in OS adaptation.",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      }
    },
    "ShuttingDownSourceVMStep": {
      "properties": {},
      "id": "ShuttingDownSourceVMStep",
      "type": "object",
      "description": "ShuttingDownSourceVMStep contains specific step details."
    },
    "CancelDiskMigrationJobRequest": {
      "id": "CancelDiskMigrationJobRequest",
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "type": "object",
      "properties": {}
    },
    "VmwareVmsDetails": {
      "id": "VmwareVmsDetails",
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "properties": {
        "details": {
          "description": "The details of the vmware VMs.",
          "type": "array",
          "items": {
            "$ref": "VmwareVmDetails"
          }
        }
      },
      "type": "object"
    },
    "TargetVMDetails": {
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "type": "object",
      "properties": {
        "appliedLicense": {
          "description": "Output only. The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense",
          "readOnly": true
        },
        "bootOption": {
          "readOnly": true,
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "subnetwork": {
          "description": "The subnetwork to connect the VM to.",
          "type": "string"
        },
        "name": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "project": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The project in which to create the VM.",
          "deprecated": true
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "externalIp": {
          "description": "The external IP to define in the VM.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI.",
          "type": "boolean"
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD",
            "HYPERDISK_BALANCED",
            "HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM."
        },
        "licenseType": {
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "network": {
          "description": "The network to connect the VM to.",
          "type": "string"
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "deprecated": true,
      "id": "TargetVMDetails"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "PersistentDiskDefaults": {
      "properties": {
        "diskType": {
          "description": "The disk type to use.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "vmAttachmentDetails": {
          "$ref": "VmAttachmentDetails",
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM."
        },
        "diskName": {
          "description": "Optional. The name of the Persistent Disk to create.",
          "type": "string"
        },
        "sourceDiskNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The ordinal number of the source VM disk."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk."
        },
        "additionalLabels": {
          "type": "object",
          "description": "A map of labels to associate with the Persistent Disk.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "PersistentDiskDefaults",
      "type": "object",
      "description": "Details for creation of a Persistent Disk."
    },
    "SourceStorageResource": {
      "id": "SourceStorageResource",
      "description": "SourceStorageResource describes a storage resource in the source.",
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      }
    },
    "ApplianceVersion": {
      "id": "ApplianceVersion",
      "description": "Describes an appliance version.",
      "properties": {
        "releaseNotesUri": {
          "type": "string",
          "description": "Link to a page that contains the version release notes."
        },
        "uri": {
          "type": "string",
          "description": "A link for downloading the version."
        },
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "version": {
          "description": "The appliance version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListCloneJobsResponse": {
      "description": "Response message for 'ListCloneJobs' request.",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "cloneJobs": {
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The list of clone jobs response.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "ListCloneJobsResponse"
    },
    "Disk": {
      "type": "object",
      "description": "A message describing a data disk.",
      "id": "Disk",
      "properties": {
        "sizeGb": {
          "format": "int32",
          "description": "The disk size in GB.",
          "type": "integer"
        },
        "lun": {
          "description": "The disk's Logical Unit Number (LUN).",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "description": "The disk name.",
          "type": "string"
        }
      }
    },
    "AccessKeyCredentials": {
      "type": "object",
      "description": "Message describing AWS Credentials using access key id and secret.",
      "properties": {
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        },
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "sessionToken": {
          "type": "string",
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials."
        }
      },
      "id": "AccessKeyCredentials"
    },
    "VmwareDiskDetails": {
      "properties": {
        "diskNumber": {
          "type": "integer",
          "description": "Output only. The ordinal number of the disk.",
          "readOnly": true,
          "format": "int32"
        },
        "label": {
          "type": "string",
          "description": "Output only. The disk label.",
          "readOnly": true
        },
        "sizeGb": {
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "VmwareDiskDetails",
      "description": "The details of a Vmware VM disk.",
      "type": "object"
    },
    "Status": {
      "properties": {
        "code": {
          "format": "int32",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status"
    },
    "ListSourcesResponse": {
      "description": "Response message for 'ListSources' request.",
      "id": "ListSourcesResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "Output only. The list of sources response.",
          "readOnly": true
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "VmwareSourceVmDetails": {
      "properties": {
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM."
        },
        "architecture": {
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The VM architecture."
        },
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "type": "array",
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "readOnly": true
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        }
      },
      "description": "Represent the source Vmware VM details.",
      "id": "VmwareSourceVmDetails",
      "type": "object"
    },
    "ImageImportJob": {
      "properties": {
        "cloudStorageUri": {
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported.",
          "readOnly": true,
          "type": "string"
        },
        "createdResources": {
          "readOnly": true,
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. Provides details on the error that led to the image import state in case of an error."
        },
        "steps": {
          "items": {
            "$ref": "ImageImportStep"
          },
          "type": "array",
          "description": "Output only. The image import steps list representing its progress.",
          "readOnly": true
        },
        "diskImageTargetDetails": {
          "description": "Output only. Target details used to import a disk image.",
          "$ref": "DiskImageTargetDetails",
          "readOnly": true
        },
        "machineImageTargetDetails": {
          "description": "Output only. Target details used to import a machine image.",
          "$ref": "MachineImageTargetDetails",
          "readOnly": true
        },
        "warnings": {
          "description": "Output only. Warnings that occurred during the image import.",
          "items": {
            "$ref": "MigrationWarning"
          },
          "type": "array",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the image import was ended.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
[...]
