{
  "discoveryVersion": "v1",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "id": "vmmigration:v1alpha1",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "version": "v1alpha1",
  "version_module": true,
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "ownerDomain": "google.com",
  "schemas": {
    "PostProcessingStep": {
      "description": "PostProcessingStep contains specific step details.",
      "properties": {},
      "type": "object",
      "id": "PostProcessingStep"
    },
    "RunDiskMigrationJobRequest": {
      "type": "object",
      "id": "RunDiskMigrationJobRequest",
      "properties": {},
      "description": "Request message for 'RunDiskMigrationJobRequest' request."
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ApplianceVersion": {
      "properties": {
        "releaseNotesUri": {
          "description": "Link to a page that contains the version release notes.",
          "type": "string"
        },
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "uri": {
          "description": "A link for downloading the version.",
          "type": "string"
        },
        "version": {
          "description": "The appliance version.",
          "type": "string"
        }
      },
      "id": "ApplianceVersion",
      "description": "Describes an appliance version.",
      "type": "object"
    },
    "DisksMigrationDisksTargetDetails": {
      "properties": {},
      "description": "Details for a disks-only migration.",
      "type": "object",
      "id": "DisksMigrationDisksTargetDetails"
    },
    "ImageImportOsAdaptationParameters": {
      "type": "object",
      "description": "Parameters affecting the OS adaptation process.",
      "id": "ImageImportOsAdaptationParameters",
      "properties": {
        "generalize": {
          "type": "boolean",
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID)."
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array"
        },
        "bootConversion": {
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion",
          "type": "string"
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "Optional. Choose which type of license to apply to the imported image."
        }
      }
    },
    "ShieldedInstanceConfig": {
      "id": "ShieldedInstanceConfig",
      "type": "object",
      "description": "Shielded instance configuration.",
      "properties": {
        "enableVtpm": {
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "secureBoot": {
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "type": "string"
        }
      }
    },
    "CancelCloneJobRequest": {
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object",
      "id": "CancelCloneJobRequest",
      "properties": {}
    },
    "InitializingImageImportStep": {
      "properties": {},
      "description": "InitializingImageImportStep contains specific step details.",
      "type": "object",
      "id": "InitializingImageImportStep"
    },
    "DiskMigrationJob": {
      "type": "object",
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "id": "DiskMigrationJob",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. State of the DiskMigrationJob.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob.",
          "readOnly": true
        },
        "awsSourceDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Details of the unattached AWS source disk."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the DiskMigrationJob resource was created."
        },
        "targetDetails": {
          "$ref": "DiskMigrationJobTargetDetails",
          "description": "Required. Details of the target Disk in Compute Engine."
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "items": {
            "$ref": "Status"
          }
        },
        "steps": {
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "type": "array",
          "description": "Output only. The disk migration steps list representing its progress.",
          "readOnly": true
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SchedulingNodeAffinity": {
      "id": "SchedulingNodeAffinity",
      "properties": {
        "operator": {
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "type": "string"
        },
        "values": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Corresponds to the label values of Node resource."
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling"
    },
    "MachineImageParametersOverrides": {
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      },
      "id": "MachineImageParametersOverrides",
      "type": "object",
      "description": "Parameters overriding decisions based on the source machine image configurations."
    },
    "TargetProject": {
      "type": "object",
      "id": "TargetProject",
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The target project's description."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the target project resource was updated."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the target project.",
          "readOnly": true,
          "type": "string"
        },
        "project": {
          "description": "Required. The target project ID (number) or project name.",
          "type": "string"
        }
      }
    },
    "StartMigrationRequest": {
      "description": "Request message for 'StartMigrationRequest' request.",
      "properties": {},
      "id": "StartMigrationRequest",
      "type": "object"
    },
    "DiskImageDefaults": {
      "properties": {
        "sourceImage": {
          "description": "Required. The Image resource used when creating the disk.",
          "type": "string"
        }
      },
      "description": "Contains details about the image source used to create the disk.",
      "id": "DiskImageDefaults",
      "type": "object"
    },
    "CloneJob": {
      "type": "object",
      "id": "CloneJob",
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the clone."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the clone job was ended.",
          "readOnly": true,
          "type": "string"
        },
        "stateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the state was last updated."
        },
        "createTime": {
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "computeEngineVmDetails": {
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true,
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "steps": {
          "description": "Output only. The clone steps list representing its progress.",
          "items": {
            "$ref": "CloneStep"
          },
          "type": "array",
          "readOnly": true
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "$ref": "Status"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "readOnly": true,
          "description": "Output only. State of the clone job.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ]
        },
        "targetDetails": {
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "deprecated": true
        }
      }
    },
    "VmCapabilities": {
      "type": "object",
      "properties": {
        "osCapabilities": {
          "items": {
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ],
            "type": "string",
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ]
          },
          "readOnly": true,
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "type": "array"
        },
        "lastOsCapabilitiesUpdateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The last time OS capabilities list was updated."
        }
      },
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "id": "VmCapabilities"
    },
    "PersistentDiskDefaults": {
      "properties": {
        "diskName": {
          "description": "Optional. The name of the Persistent Disk to create.",
          "type": "string"
        },
        "sourceDiskNumber": {
          "format": "int32",
          "description": "Required. The ordinal number of the source VM disk.",
          "type": "integer"
        },
        "additionalLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the Persistent Disk.",
          "type": "object"
        },
        "vmAttachmentDetails": {
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM.",
          "$ref": "VmAttachmentDetails"
        },
        "diskType": {
          "description": "The disk type to use.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk."
        }
      },
      "type": "object",
      "description": "Details for creation of a Persistent Disk.",
      "id": "PersistentDiskDefaults"
    },
    "CutoverForecast": {
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "id": "CutoverForecast",
      "type": "object",
      "properties": {
        "estimatedCutoverJobDuration": {
          "readOnly": true,
          "type": "string",
          "format": "google-duration",
          "description": "Output only. Estimation of the CutoverJob duration."
        }
      }
    },
    "ListGroupsResponse": {
      "description": "Response message for 'ListGroups' request.",
      "type": "object",
      "properties": {
        "groups": {
          "readOnly": true,
          "description": "Output only. The list of groups response.",
          "items": {
            "$ref": "Group"
          },
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "id": "ListGroupsResponse"
    },
    "AzureVmDetails": {
      "properties": {
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ],
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ],
          "type": "string"
        },
        "vmId": {
          "type": "string",
          "description": "The VM full path in Azure."
        },
        "committedStorageMb": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "osDisk": {
          "description": "Description of the OS disk.",
          "$ref": "OSDisk"
        },
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of cpus the VM has."
        },
        "vmSize": {
          "description": "VM size as configured in Azure. Determines the VM's hardware spec.",
          "type": "string"
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        },
        "computerName": {
          "description": "The VM's ComputerName.",
          "type": "string"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "disks": {
          "description": "Description of the data disks.",
          "type": "array",
          "items": {
            "$ref": "Disk"
          }
        },
        "bootOption": {
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ],
          "description": "The VM Boot Option."
        },
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has, including OS disk."
        },
        "osDescription": {
          "$ref": "OSDescription",
          "description": "Description of the OS."
        }
      },
      "type": "object",
      "description": "AzureVmDetails describes a VM in Azure.",
      "id": "AzureVmDetails"
    },
    "DiskMigrationJobTargetDetails": {
      "type": "object",
      "description": "Details of the target disk in Compute Engine.",
      "id": "DiskMigrationJobTargetDetails",
      "properties": {
        "encryption": {
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "targetDisk": {
          "description": "Required. The target disk.",
          "$ref": "ComputeEngineDisk"
        },
        "targetProject": {
          "type": "string",
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}"
        },
        "labels": {
          "description": "Optional. A map of labels to associate with the disk.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "MigrationWarning": {
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "properties": {
        "warningMessage": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. The localized warning message."
        },
        "code": {
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "type": "string",
          "description": "The warning code.",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ]
        },
        "helpLinks": {
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "items": {
            "$ref": "Link"
          },
          "type": "array"
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "warningTime": {
          "description": "The time the warning occurred.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "MigrationWarning",
      "type": "object"
    },
    "CutoverJob": {
      "id": "CutoverJob",
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "type": "object",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state."
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the cutover job.",
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ]
        },
        "computeEngineVmDetails": {
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true,
          "readOnly": true,
          "$ref": "TargetVMDetails"
        },
        "stateMessage": {
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true,
          "type": "string"
        },
        "progress": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true,
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "targetDetails": {
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true
        },
        "progressPercent": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "type": "integer",
          "format": "int32",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target)."
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime"
        },
        "steps": {
          "description": "Output only. The cutover steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          },
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "readOnly": true,
          "description": "Output only. The time the cutover job had finished."
        },
        "name": {
          "description": "Output only. The name of the cutover job.",
          "type": "string",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails"
        }
      }
    },
    "VmAttachmentDetails": {
      "description": "Details for attachment of the disk to a VM.",
      "type": "object",
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      },
      "id": "VmAttachmentDetails"
    },
    "MigrationError": {
      "id": "MigrationError",
      "properties": {
        "actionItem": {
          "$ref": "LocalizedMessage",
          "description": "Output only. Suggested action for solving the error.",
          "readOnly": true
        },
        "helpLinks": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current error."
        },
        "errorTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the error occurred.",
          "type": "string"
        },
        "code": {
          "description": "Output only. The error code.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "readOnly": true
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. The localized error message.",
          "$ref": "LocalizedMessage"
        }
      },
      "type": "object",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations."
    },
    "ImageImportStep": {
      "description": "ImageImportStep holds information about the image import step progress.",
      "properties": {
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "startTime": {
          "description": "Output only. The time the step has started.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "initializing": {
          "$ref": "InitializingImageImportStep",
          "description": "Initializing step."
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "creatingImage": {
          "description": "Creating image step.",
          "$ref": "CreatingImageStep"
        },
        "loadingSourceFiles": {
          "description": "Loading source files step.",
          "$ref": "LoadingImageSourceFilesStep"
        }
      },
      "type": "object",
      "id": "ImageImportStep"
    },
    "DisksMigrationVmTargetDetails": {
      "id": "DisksMigrationVmTargetDetails",
      "type": "object",
      "description": "Details for the VM created VM as part of disks migration.",
      "properties": {
        "vmUri": {
          "description": "Output only. The URI of the Compute Engine VM.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ListDiskMigrationJobsResponse": {
      "type": "object",
      "description": "Response message for 'ListDiskMigrationJobs' request.",
      "id": "ListDiskMigrationJobsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "diskMigrationJobs": {
          "items": {
            "$ref": "DiskMigrationJob"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of the disk migration jobs."
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        }
      }
    },
    "InstantiatingMigratedVMStep": {
      "type": "object",
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "properties": {},
      "id": "InstantiatingMigratedVMStep"
    },
    "Group": {
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "id": "Group",
      "type": "object",
      "properties": {
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The Group name.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The create time timestamp."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime",
          "readOnly": true
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "migrationTargetType": {
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "description": "Immutable. The target type of this group.",
          "type": "string"
        }
      }
    },
    "DatacenterConnector": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the connector was updated with an API call.",
          "format": "google-datetime",
          "readOnly": true
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status"
        },
        "applianceInfrastructureVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed)."
        },
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to use in the connector when communicating with the cloud."
        },
        "availableVersions": {
          "description": "Output only. The available versions for updating this appliance.",
          "readOnly": true,
          "$ref": "AvailableUpdates"
        },
        "stateTime": {
          "readOnly": true,
          "description": "Output only. The time the state was last set.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The connector's name.",
          "readOnly": true
        },
        "applianceSoftwareVersion": {
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "readOnly": true,
          "type": "string"
        },
        "upgradeStatus": {
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "$ref": "UpgradeStatus",
          "readOnly": true
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true
        }
      },
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "id": "DatacenterConnector",
      "type": "object"
    },
    "SchedulePolicy": {
      "properties": {
        "skipOsAdaptation": {
          "type": "boolean",
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine."
        },
        "idleDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The idle duration between replication stages."
        }
      },
      "description": "A policy for scheduling replications.",
      "type": "object",
      "id": "SchedulePolicy"
    },
    "ReplicationCycle": {
      "id": "ReplicationCycle",
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the cycle in case of an error."
        },
        "name": {
          "type": "string",
          "description": "The identifier of the ReplicationCycle."
        },
        "endTime": {
          "description": "The time the replication cycle has ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the cycle.",
          "readOnly": true
        },
        "steps": {
          "items": {
            "$ref": "CycleStep"
          },
          "description": "The cycle's steps list representing its progress.",
          "type": "array"
        },
        "progress": {
          "deprecated": true,
          "description": "The current progress in percentage of this cycle.",
          "format": "int32",
          "type": "integer"
        },
        "progressPercent": {
          "format": "int32",
          "deprecated": true,
          "type": "integer",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately."
        },
        "cycleNumber": {
          "format": "int32",
          "description": "The cycle's ordinal number.",
          "type": "integer"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ],
          "description": "State of the ReplicationCycle."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the replication cycle has started."
        },
        "totalPauseDuration": {
          "description": "The accumulated duration the replication cycle was paused.",
          "type": "string",
          "format": "google-duration"
        }
      },
      "type": "object"
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "type": "object",
      "description": "Represents the source AWS Disk details.",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Output only. A map of AWS volume tags.",
          "readOnly": true,
          "type": "object"
        },
        "sizeGib": {
          "type": "string",
          "description": "Output only. Size in GiB.",
          "format": "int64",
          "readOnly": true
        },
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "description": "Optional. Output only. Disk type."
        }
      }
    },
    "CycleStep": {
      "description": "CycleStep holds information about a step progress.",
      "id": "CycleStep",
      "type": "object",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the cycle step has ended."
        },
        "startTime": {
          "description": "The time the cycle step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "initializingReplication": {
          "$ref": "InitializingReplicationStep",
          "description": "Initializing replication step."
        },
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        }
      }
    },
    "VmwareVmsDetails": {
      "type": "object",
      "id": "VmwareVmsDetails",
      "properties": {
        "details": {
          "description": "The details of the vmware VMs.",
          "type": "array",
          "items": {
            "$ref": "VmwareVmDetails"
          }
        }
      },
      "description": "VmwareVmsDetails describes VMs in vCenter."
    },
    "AdaptingOSStep": {
      "id": "AdaptingOSStep",
      "properties": {},
      "description": "AdaptingOSStep contains specific step details.",
      "type": "object"
    },
    "SourceStorageResource": {
      "description": "SourceStorageResource describes a storage resource in the source.",
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      },
      "id": "SourceStorageResource",
      "type": "object"
    },
    "AwsVmDetails": {
      "type": "object",
      "properties": {
        "tags": {
          "description": "The tags of the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "vpcId": {
          "type": "string",
          "description": "The VPC ID the VM belongs to."
        },
        "sourceId": {
          "type": "string",
          "description": "The id of the AWS's source this VM is connected to."
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "cpuCount": {
          "format": "int32",
          "description": "The number of CPU cores the VM has.",
          "type": "integer"
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "zone": {
          "type": "string",
          "description": "The AWS zone of the VM."
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "securityGroups": {
          "type": "array",
          "description": "The security groups the VM belongs to.",
          "items": {
            "$ref": "AwsSecurityGroup"
          }
        },
        "virtualizationType": {
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ],
          "description": "The virtualization type.",
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "type": "string"
        },
        "bootOption": {
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ]
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ],
          "type": "string",
          "description": "The CPU architecture."
        },
        "vmId": {
          "type": "string",
          "description": "The VM ID in AWS."
        },
        "vcpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has."
        },
        "instanceType": {
          "type": "string",
          "description": "The instance type of the VM."
        },
        "memoryMb": {
          "format": "int32",
          "description": "The memory size of the VM in MB.",
          "type": "integer"
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "readOnly": true,
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "type": "string"
        },
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has."
        }
      },
      "id": "AwsVmDetails",
      "description": "AwsVmDetails describes a VM in AWS."
    },
    "DisksMigrationDisksTargetDefaults": {
      "description": "Details for a disk only migration.",
      "id": "DisksMigrationDisksTargetDefaults",
      "properties": {},
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "AdaptationModifier": {
      "id": "AdaptationModifier",
      "type": "object",
      "properties": {
        "value": {
          "type": "string",
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty."
        },
        "modifier": {
          "type": "string",
          "description": "Optional. The modifier name."
        }
      },
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process."
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations."
    },
    "CancelCutoverJobRequest": {
      "description": "Request message for 'CancelCutoverJob' request.",
      "type": "object",
      "properties": {},
      "id": "CancelCutoverJobRequest"
    },
    "AzureSourceVmDetails": {
      "id": "AzureSourceVmDetails",
      "properties": {
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        },
        "disks": {
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true,
          "type": "array"
        },
        "committedStorageBytes": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "format": "int64"
        },
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "architecture": {
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        }
      },
      "description": "Represent the source Azure VM details.",
      "type": "object"
    },
    "ListReplicationCyclesResponse": {
      "properties": {
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "replicationCycles": {
          "description": "Output only. The list of replication cycles response.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ReplicationCycle"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for 'ListReplicationCycles' request.",
      "id": "ListReplicationCyclesResponse"
    },
    "RemoveGroupMigrationRequest": {
      "type": "object",
      "id": "RemoveGroupMigrationRequest",
      "description": "Request message for 'RemoveMigration' request.",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The MigratingVm to remove."
        }
      }
    },
    "PauseMigrationRequest": {
      "type": "object",
      "description": "Request message for 'PauseMigration' request.",
      "id": "PauseMigrationRequest",
      "properties": {}
    },
    "ReplicationSync": {
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "properties": {
        "lastSyncTime": {
          "format": "google-datetime",
          "description": "The most updated snapshot created time in the source that finished replication.",
          "type": "string"
        }
      },
      "id": "ReplicationSync",
      "type": "object"
    },
    "ListDatacenterConnectorsResponse": {
      "type": "object",
      "id": "ListDatacenterConnectorsResponse",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "datacenterConnectors": {
          "items": {
            "$ref": "DatacenterConnector"
          },
          "readOnly": true,
          "description": "Output only. The list of sources response.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for 'ListDatacenterConnectors' request."
    },
    "UtilizationReport": {
      "properties": {
        "vmsCount": {
          "description": "Output only. Total number of VMs included in the report.",
          "format": "int32",
          "deprecated": true,
          "readOnly": true,
          "type": "integer"
        },
        "stateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the state was last set.",
          "readOnly": true,
          "type": "string"
        },
        "vmCount": {
          "type": "integer",
          "description": "Output only. Total number of VMs included in the report.",
          "format": "int32",
          "readOnly": true
        },
        "timeFrame": {
          "description": "Time frame of the report.",
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ],
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "type": "string",
          "description": "Output only. Current state of the report.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The report display name, as assigned by the user."
        },
        "name": {
          "description": "Output only. The report unique name.",
          "readOnly": true,
          "type": "string"
        },
        "frameEndTime": {
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          }
        },
        "error": {
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        }
      },
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "type": "object",
      "id": "UtilizationReport"
    },
    "Tag": {
      "properties": {
        "key": {
          "type": "string",
          "description": "Required. Key of tag."
        },
        "value": {
          "type": "string",
          "description": "Required. Value of tag."
        }
      },
      "description": "Tag is an AWS tag representation.",
      "id": "Tag",
      "type": "object"
    },
    "VmwareVmDetails": {
      "type": "object",
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "id": "VmwareVmDetails",
      "properties": {
        "memoryMb": {
          "description": "The size of the memory of the VM in MB.",
          "format": "int32",
          "type": "integer"
        },
        "committedStorage": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "deprecated": true,
          "format": "int64"
        },
        "cpuCount": {
          "description": "The number of cpus in the VM.",
          "format": "int32",
          "type": "integer"
        },
        "datacenterId": {
          "type": "string",
          "description": "The id of the vCenter's datacenter this VM is contained in."
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the VM. Note that this is not necessarily unique."
        },
        "vmId": {
          "type": "string",
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM."
        },
        "committedStorageMb": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "type": "string"
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "datacenterDescription": {
          "type": "string",
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in."
        },
        "architecture": {
          "readOnly": true,
          "description": "Output only. The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string"
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "type": "integer",
          "format": "int32"
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "type": "string"
        },
        "guestDescription": {
          "type": "string",
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold."
        }
      }
    },
    "ListMigratingVmsResponse": {
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "migratingVms": {
          "items": {
            "$ref": "MigratingVm"
          },
          "readOnly": true,
          "description": "Output only. The list of Migrating VMs response.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response message for 'ListMigratingVms' request.",
      "id": "ListMigratingVmsResponse"
    },
    "VmwareDiskDetails": {
      "description": "The details of a Vmware VM disk.",
      "id": "VmwareDiskDetails",
      "properties": {
        "diskNumber": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The ordinal number of the disk."
        },
        "label": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The disk label."
        },
        "sizeGb": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Size in GB."
        }
      },
      "type": "object"
    },
    "AccessKeyCredentials": {
      "id": "AccessKeyCredentials",
      "description": "Message describing AWS Credentials using access key id and secret.",
      "type": "object",
      "properties": {
        "sessionToken": {
          "type": "string",
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials."
        },
        "secretAccessKey": {
          "type": "string",
          "description": "Input only. AWS secret access key."
        },
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        }
      }
    },
    "NetworkInterface": {
      "type": "object",
      "id": "NetworkInterface",
      "description": "NetworkInterface represents a NIC of a VM.",
      "properties": {
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "internalIp": {
          "type": "string",
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "Optional. The network to connect the NIC to."
        },
        "networkTier": {
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ]
        }
      }
    },
    "AwsSourceDetails": {
      "properties": {
        "awsRegion": {
          "type": "string",
          "description": "Immutable. The AWS region that the source VMs will be migrated from."
        },
        "accessKeyCreds": {
          "description": "AWS Credentials using access key id and secret.",
          "$ref": "AccessKeyCredentials"
        },
        "publicIp": {
          "type": "string",
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "inventoryTagList": {
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "inventorySecurityGroupNames": {
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`."
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error."
        }
      },
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "type": "object",
      "id": "AwsSourceDetails"
    },
    "Expiration": {
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "type": "object",
      "id": "Expiration",
      "properties": {
        "extendable": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Describes whether the expiration can be extended."
        },
        "extensionCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The number of times expiration was extended.",
          "readOnly": true
        },
        "expireTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "readOnly": true
        }
      }
    },
    "MigratingVm": {
      "properties": {
        "computeEngineVmDefaults": {
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead.",
          "deprecated": true,
          "$ref": "TargetVMDetails"
        },
        "lastSync": {
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "$ref": "ReplicationSync",
          "readOnly": true
        },
        "recentCutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request."
        },
        "name": {
          "type": "string",
          "description": "Output only. The identifier of the MigratingVm.",
          "readOnly": true
        },
        "targetDefaults": {
          "deprecated": true,
          "$ref": "TargetVMDetails",
          "description": "The default configuration of the target VM that will be created in Google Cloud as a result of the migration. Deprecated: Use compute_engine_target_defaults instead."
        },
        "currentSyncInfo": {
          "readOnly": true,
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the current running replication cycle."
        },
        "azureSourceVmDetails": {
          "description": "Output only. Details of the VM from an Azure source.",
          "readOnly": true,
          "$ref": "AzureSourceVmDetails"
        },
        "updateTime": {
          "description": "Output only. The last time the migrating VM resource was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "The display name attached to the MigratingVm by the user."
        },
        "policy": {
          "description": "The replication schedule policy.",
          "$ref": "SchedulePolicy"
        },
        "vmwareSourceVmDetails": {
          "description": "Output only. Details of the VM from a Vmware source.",
          "readOnly": true,
          "$ref": "VmwareSourceVmDetails"
        },
        "awsSourceVmDetails": {
          "description": "Output only. Details of the VM from an AWS source.",
          "$ref": "AwsSourceVmDetails",
          "readOnly": true
        },
        "cutoverForecast": {
          "$ref": "CutoverForecast",
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable.",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels of the migrating VM."
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication."
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "computeEngineDisksTargetDefaults": {
          "$ref": "ComputeEngineDisksTargetDefaults",
          "description": "Details of the target Persistent Disks in Compute Engine."
        },
        "state": {
          "description": "Output only. State of the MigratingVm.",
          "type": "string",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ],
          "readOnly": true
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "group": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource."
        },
        "createTime": {
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "recentCloneJobs": {
          "readOnly": true,
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "expiration": {
          "readOnly": true,
          "$ref": "Expiration",
          "description": "Output only. Provides details about the expiration state of the migrating VM."
        },
        "lastReplicationCycle": {
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "readOnly": true,
          "$ref": "ReplicationCycle"
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        }
      },
      "type": "object",
      "id": "MigratingVm",
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state."
    },
    "ComputeEngineDisksTargetDetails": {
      "type": "object",
      "id": "ComputeEngineDisksTargetDetails",
      "properties": {
        "disks": {
          "description": "The details of each created Persistent Disk.",
          "items": {
            "$ref": "PersistentDisk"
          },
          "type": "array"
        },
        "vmTargetDetails": {
          "$ref": "DisksMigrationVmTargetDetails",
          "description": "Details for the VM the migrated data disks are attached to."
        },
        "disksTargetDetails": {
          "description": "Details of the disks-only migration target.",
          "$ref": "DisksMigrationDisksTargetDetails"
        }
      },
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details."
    },
    "CreatingSourceDiskSnapshotStep": {
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "id": "CreatingSourceDiskSnapshotStep",
      "properties": {},
      "type": "object"
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "properties": {
        "scopes": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account."
        },
        "email": {
          "description": "Required. The email address of the service account.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Service account to assign to the instance created by the machine image."
    },
    "UpgradeApplianceRequest": {
      "id": "UpgradeApplianceRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for 'UpgradeAppliance' request."
    },
    "OSDescription": {
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable.",
      "id": "OSDescription",
      "properties": {
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        },
        "offer": {
          "description": "OS offer.",
          "type": "string"
        },
        "plan": {
          "description": "OS plan.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "OS type."
        }
      },
      "type": "object"
    },
    "AvailableUpdates": {
      "properties": {
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        },
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        }
      },
      "type": "object",
      "description": "Holds information about the available versions for upgrade.",
      "id": "AvailableUpdates"
    },
    "AwsSecurityGroup": {
      "description": "AwsSecurityGroup describes a security group of an AWS VM.",
      "type": "object",
      "id": "AwsSecurityGroup",
      "properties": {
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        },
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        }
      }
    },
    "ListCloneJobsResponse": {
      "id": "ListCloneJobsResponse",
      "description": "Response message for 'ListCloneJobs' request.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "cloneJobs": {
          "readOnly": true,
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The list of clone jobs response.",
          "type": "array"
        }
      }
    },
    "SkipOsAdaptation": {
      "properties": {},
      "id": "SkipOsAdaptation",
      "description": "Mentions that the machine image import is not using OS adaptation process.",
      "type": "object"
    },
    "ClientSecretCredentials": {
      "id": "ClientSecretCredentials",
      "type": "object",
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Input only. Azure client secret."
        },
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "Azure tenant ID."
        }
      },
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret."
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "description": "AWSVmsDetails describes VMs in AWS.",
      "type": "object",
      "properties": {
        "details": {
          "items": {
            "$ref": "AwsVmDetails"
          },
          "description": "The details of the AWS VMs.",
          "type": "array"
        }
      }
    },
    "ResumeMigrationRequest": {
      "description": "Request message for 'ResumeMigration' request.",
      "type": "object",
      "properties": {},
      "id": "ResumeMigrationRequest"
    },
    "InitializingReplicationStep": {
      "type": "object",
      "description": "InitializingReplicationStep contains specific step details.",
      "properties": {},
      "id": "InitializingReplicationStep"
    },
    "ComputeEngineTargetDetails": {
      "properties": {
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "diskType": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of network tags to associate with the VM."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array"
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type to use in OS adaptation."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM.",
          "type": "array"
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "bootOption": {
          "description": "The VM Boot Option, as set in the source VM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM.",
          "type": "object"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "The OS license returned from the adaptation module report."
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "bootConversion": {
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "diskReplicaZones": {
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        }
      },
      "type": "object",
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDetails"
    },
    "LocalizedMessage": {
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "id": "LocalizedMessage",
      "type": "object",
      "properties": {
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        },
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        }
      }
    },
    "ExtendMigrationRequest": {
      "properties": {},
      "type": "object",
      "description": "Request message for 'ExtendMigrationRequest' request.",
[...]
