{
  "id": "vmmigration:v1",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    }
  },
  "title": "VM Migration API",
  "version": "v1",
  "canonicalName": "VM Migration Service",
  "ownerName": "Google",
  "batchPath": "batch",
  "version_module": true,
  "revision": "20260507",
  "discoveryVersion": "v1",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://vmmigration.googleapis.com/",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "schemas": {
    "ListGroupsResponse": {
      "type": "object",
      "id": "ListGroupsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "groups": {
          "description": "Output only. The list of groups response.",
          "readOnly": true,
          "items": {
            "$ref": "Group"
          },
          "type": "array"
        }
      },
      "description": "Response message for 'ListGroups' request."
    },
    "PersistentDisk": {
      "description": "Details of a created Persistent Disk.",
      "type": "object",
      "id": "PersistentDisk",
      "properties": {
        "diskUri": {
          "description": "The URI of the Persistent Disk.",
          "type": "string"
        },
        "sourceDiskNumber": {
          "type": "integer",
          "description": "The ordinal number of the source VM disk.",
          "format": "int32"
        }
      }
    },
    "CancelCutoverJobRequest": {
      "id": "CancelCutoverJobRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for 'CancelCutoverJob' request."
    },
    "DisksMigrationDisksTargetDetails": {
      "id": "DisksMigrationDisksTargetDetails",
      "properties": {},
      "type": "object",
      "description": "Details for a disks-only migration."
    },
    "ListCutoverJobsResponse": {
      "type": "object",
      "id": "ListCutoverJobsResponse",
      "properties": {
        "cutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The list of cutover jobs response.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListCutoverJobs' request."
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "id": "ReplicationCycle",
      "properties": {
        "warnings": {
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the cycle.",
          "readOnly": true,
          "type": "array"
        },
        "endTime": {
          "description": "The time the replication cycle has ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "progressPercent": {
          "type": "integer",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "format": "int32",
          "deprecated": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "description": "State of the ReplicationCycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "steps": {
          "items": {
            "$ref": "CycleStep"
          },
          "description": "The cycle's steps list representing its progress.",
          "type": "array"
        },
        "name": {
          "description": "The identifier of the ReplicationCycle.",
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "The time the replication cycle has started.",
          "format": "google-datetime"
        },
        "cycleNumber": {
          "type": "integer",
          "description": "The cycle's ordinal number.",
          "format": "int32"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the cycle in case of an error.",
          "readOnly": true
        },
        "totalPauseDuration": {
          "description": "The accumulated duration the replication cycle was paused.",
          "format": "google-duration",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MigrationError": {
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "id": "MigrationError",
      "properties": {
        "errorTime": {
          "type": "string",
          "description": "Output only. The time the error occurred.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "helpLinks": {
          "type": "array",
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "readOnly": true,
          "items": {
            "$ref": "Link"
          }
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the error.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "code": {
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "description": "Output only. The error code.",
          "readOnly": true,
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ]
        },
        "errorMessage": {
          "description": "Output only. The localized error message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        }
      },
      "type": "object"
    },
    "PauseMigrationRequest": {
      "id": "PauseMigrationRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for 'PauseMigration' request."
    },
    "FinalizeMigrationRequest": {
      "description": "Request message for 'FinalizeMigration' request.",
      "id": "FinalizeMigrationRequest",
      "properties": {},
      "type": "object"
    },
    "AppliedLicense": {
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "type": "object",
      "id": "AppliedLicense",
      "properties": {
        "type": {
          "description": "The license type that was used in OS adaptation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      }
    },
    "CycleStep": {
      "description": "CycleStep holds information about a step progress.",
      "id": "CycleStep",
      "properties": {
        "initializingReplication": {
          "$ref": "InitializingReplicationStep",
          "description": "Initializing replication step."
        },
        "endTime": {
          "type": "string",
          "description": "The time the cycle step has ended.",
          "format": "google-datetime"
        },
        "postProcessing": {
          "description": "Post processing step.",
          "$ref": "PostProcessingStep"
        },
        "startTime": {
          "description": "The time the cycle step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        }
      },
      "type": "object"
    },
    "ListSourcesResponse": {
      "description": "Response message for 'ListSources' request.",
      "id": "ListSourcesResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "description": "Output only. The list of sources response.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "ClientSecretCredentials": {
      "id": "ClientSecretCredentials",
      "properties": {
        "clientSecret": {
          "description": "Input only. Azure client secret.",
          "type": "string"
        },
        "tenantId": {
          "description": "Azure tenant ID.",
          "type": "string"
        },
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret."
    },
    "ImageImportJob": {
      "type": "object",
      "id": "ImageImportJob",
      "properties": {
        "cloudStorageUri": {
          "type": "string",
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported.",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the image import was ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "warnings": {
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the image import.",
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "description": "Output only. The state of the image import.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ]
        },
        "createdResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "readOnly": true
        },
        "errors": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Provides details on the error that led to the image import state in case of an error.",
          "readOnly": true,
          "type": "array"
        },
        "machineImageTargetDetails": {
          "description": "Output only. Target details used to import a machine image.",
          "readOnly": true,
          "$ref": "MachineImageTargetDetails"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "steps": {
          "type": "array",
          "description": "Output only. The image import steps list representing its progress.",
          "readOnly": true,
          "items": {
            "$ref": "ImageImportStep"
          }
        },
        "diskImageTargetDetails": {
          "description": "Output only. Target details used to import a disk image.",
          "readOnly": true,
          "$ref": "DiskImageTargetDetails"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource path of the ImageImportJob.",
          "readOnly": true
        }
      },
      "description": "ImageImportJob describes the progress and result of an image import."
    },
    "CancelImageImportJobRequest": {
      "description": "Request message for 'CancelImageImportJob' request.",
      "id": "CancelImageImportJobRequest",
      "properties": {},
      "type": "object"
    },
    "AzureSourceVmDetails": {
      "type": "object",
      "id": "AzureSourceVmDetails",
      "properties": {
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true,
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "type": "array"
        },
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The firmware type of the source VM.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "architecture": {
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        }
      },
      "description": "Represent the source Azure VM details."
    },
    "CutoverForecast": {
      "type": "object",
      "id": "CutoverForecast",
      "properties": {
        "estimatedCutoverJobDuration": {
          "description": "Output only. Estimation of the CutoverJob duration.",
          "readOnly": true,
          "format": "google-duration",
          "type": "string"
        }
      },
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm."
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for 'StartMigrationRequest' request."
    },
    "DiskImageDefaults": {
      "description": "Contains details about the image source used to create the disk.",
      "id": "DiskImageDefaults",
      "properties": {
        "sourceImage": {
          "description": "Required. The Image resource used when creating the disk.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Source": {
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "id": "Source",
      "properties": {
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "name": {
          "description": "Output only. The Source name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The update time timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "azure": {
          "$ref": "AzureSourceDetails",
          "description": "Azure type source details."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "labels": {
          "description": "The labels of the source.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "Encryption": {
      "description": "Encryption message describes the details of the applied encryption.",
      "id": "Encryption",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AdaptingOSStep": {
      "type": "object",
      "id": "AdaptingOSStep",
      "properties": {},
      "description": "AdaptingOSStep contains specific step details."
    },
    "MachineImageParametersOverrides": {
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "type": "object",
      "id": "MachineImageParametersOverrides",
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      }
    },
    "CreatingSourceDiskSnapshotStep": {
      "id": "CreatingSourceDiskSnapshotStep",
      "properties": {},
      "type": "object",
      "description": "CreatingSourceDiskSnapshotStep contains specific step details."
    },
    "CancelDiskMigrationJobRequest": {
      "type": "object",
      "id": "CancelDiskMigrationJobRequest",
      "properties": {},
      "description": "Request message for 'CancelDiskMigrationJob' request."
    },
    "ComputeEngineDisksTargetDetails": {
      "id": "ComputeEngineDisksTargetDetails",
      "properties": {
        "disksTargetDetails": {
          "$ref": "DisksMigrationDisksTargetDetails",
          "description": "Details of the disks-only migration target."
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "PersistentDisk"
          },
          "description": "The details of each created Persistent Disk."
        },
        "vmTargetDetails": {
          "$ref": "DisksMigrationVmTargetDetails",
          "description": "Details for the VM the migrated data disks are attached to."
        }
      },
      "type": "object",
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details."
    },
    "Status": {
      "type": "object",
      "id": "Status",
      "properties": {
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
    },
    "CloneJob": {
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "id": "CloneJob",
      "properties": {
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "steps": {
          "type": "array",
          "description": "Output only. The clone steps list representing its progress.",
          "readOnly": true,
          "items": {
            "$ref": "CloneStep"
          }
        },
        "name": {
          "description": "Output only. The name of the clone.",
          "readOnly": true,
          "type": "string"
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails"
        },
        "endTime": {
          "description": "Output only. The time the clone job was ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the clone job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ]
        }
      },
      "type": "object"
    },
    "ProvisioningTargetDiskStep": {
      "description": "ProvisioningTargetDiskStep contains specific step details.",
      "type": "object",
      "id": "ProvisioningTargetDiskStep",
      "properties": {}
    },
    "AwsVmDetails": {
      "id": "AwsVmDetails",
      "properties": {
        "cpuCount": {
          "description": "The number of CPU cores the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "vcpuCount": {
          "type": "integer",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has.",
          "format": "int32"
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "tags": {
          "type": "object",
          "description": "The tags of the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        },
        "bootOption": {
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "description": "The VM Boot Option.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "instanceType": {
          "description": "The instance type of the VM.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "description": "The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ]
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "securityGroups": {
          "type": "array",
          "description": "The security groups the VM belongs to.",
          "items": {
            "$ref": "AwsSecurityGroup"
          }
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "readOnly": true
        },
        "vmId": {
          "description": "The VM ID in AWS.",
          "type": "string"
        },
        "virtualizationType": {
          "description": "The virtualization type.",
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ]
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "description": "The memory size of the VM in MB.",
          "format": "int32"
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "AwsVmDetails describes a VM in AWS."
    },
    "Link": {
      "description": "Describes a URL link.",
      "id": "Link",
      "properties": {
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SkipOsAdaptation": {
      "type": "object",
      "id": "SkipOsAdaptation",
      "properties": {},
      "description": "Mentions that the machine image import is not using OS adaptation process."
    },
    "ListImageImportJobsResponse": {
      "description": "Response message for 'ListImageImportJobs' call.",
      "type": "object",
      "id": "ListImageImportJobsResponse",
      "properties": {
        "imageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The list of target response.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "DisksMigrationVmTargetDetails": {
      "id": "DisksMigrationVmTargetDetails",
      "properties": {
        "vmUri": {
          "type": "string",
          "description": "Output only. The URI of the Compute Engine VM.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Details for the VM created VM as part of disks migration."
    },
    "VmUtilizationMetrics": {
      "id": "VmUtilizationMetrics",
      "properties": {
        "cpuAveragePercent": {
          "description": "Average CPU usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "networkThroughputMaxKbps": {
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "networkThroughputAverageKbps": {
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "memoryMaxPercent": {
          "description": "Max memory usage, percent.",
          "format": "int32",
          "type": "integer"
        },
        "diskIoRateMaxKbps": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "cpuMaxPercent": {
          "type": "integer",
          "description": "Max CPU usage, percent.",
          "format": "int32"
        },
        "memoryAveragePercent": {
          "type": "integer",
          "description": "Average memory usage, percent.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "Utilization metrics values for a single VM."
    },
    "RemoveGroupMigrationRequest": {
      "description": "Request message for 'RemoveMigration' request.",
      "type": "object",
      "id": "RemoveGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "description": "The MigratingVm to remove.",
          "type": "string"
        }
      }
    },
    "ListUtilizationReportsResponse": {
      "id": "ListUtilizationReportsResponse",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "utilizationReports": {
          "type": "array",
          "description": "Output only. The list of reports.",
          "readOnly": true,
          "items": {
            "$ref": "UtilizationReport"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Response message for 'ListUtilizationReports' request."
    },
    "VmwareVmsDetails": {
      "type": "object",
      "id": "VmwareVmsDetails",
      "properties": {
        "details": {
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs.",
          "type": "array"
        }
      },
      "description": "VmwareVmsDetails describes VMs in vCenter."
    },
    "AccessKeyCredentials": {
      "description": "Message describing AWS Credentials using access key id and secret.",
      "id": "AccessKeyCredentials",
      "properties": {
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "sessionToken": {
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ComputeEngineDisksTargetDefaults": {
      "type": "object",
      "id": "ComputeEngineDisksTargetDefaults",
      "properties": {
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "zone": {
          "description": "The zone in which to create the Persistent Disks.",
          "type": "string"
        },
        "vmTargetDefaults": {
          "$ref": "DisksMigrationVmTargetDefaults",
          "description": "Details of the VM migration target."
        },
        "disks": {
          "description": "The details of each Persistent Disk to create.",
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "type": "array"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        }
      },
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project."
    },
    "InitializingImageImportStep": {
      "id": "InitializingImageImportStep",
      "properties": {},
      "type": "object",
      "description": "InitializingImageImportStep contains specific step details."
    },
    "NetworkInterface": {
      "type": "object",
      "id": "NetworkInterface",
      "properties": {
        "internalIp": {
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        },
        "networkTier": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ],
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ]
        },
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        }
      },
      "description": "NetworkInterface represents a NIC of a VM."
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VmCapabilities": {
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "type": "object",
      "id": "VmCapabilities",
      "properties": {
        "osCapabilities": {
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ]
          },
          "type": "array"
        },
        "lastOsCapabilitiesUpdateTime": {
          "type": "string",
          "description": "Output only. The last time OS capabilities list was updated.",
          "readOnly": true,
          "format": "google-datetime"
        }
      }
    },
    "CancelCloneJobRequest": {
      "id": "CancelCloneJobRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for 'CancelCloneJob' request."
    },
    "VmwareSourceVmDetails": {
      "id": "VmwareSourceVmDetails",
      "properties": {
        "firmware": {
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM.",
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "committedStorageBytes": {
          "type": "string",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "readOnly": true,
          "format": "int64"
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true,
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "type": "array"
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represent the source Vmware VM details."
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object",
      "description": "Represents the metadata of the long-running operation."
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      }
    },
    "TargetProject": {
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "type": "object",
      "id": "TargetProject",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the target project.",
          "readOnly": true,
          "type": "string"
        },
        "project": {
          "description": "Required. The target project ID (number) or project name.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last time the target project resource was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DatacenterConnector": {
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "type": "object",
      "id": "DatacenterConnector",
      "properties": {
        "stateTime": {
          "description": "Output only. The time the state was last set.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "availableVersions": {
          "description": "Output only. The available versions for updating this appliance.",
          "readOnly": true,
          "$ref": "AvailableUpdates"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The connector's name.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the connector was updated with an API call.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "readOnly": true,
          "format": "google-datetime"
        },
        "upgradeStatus": {
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "readOnly": true,
          "$ref": "UpgradeStatus"
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "bucket": {
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud.",
          "readOnly": true,
          "type": "string"
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "applianceInfrastructureVersion": {
          "type": "string",
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance.",
          "readOnly": true
        },
        "applianceSoftwareVersion": {
          "type": "string",
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "readOnly": true
        }
      }
    },
    "Tag": {
      "description": "Tag is an AWS tag representation.",
      "type": "object",
      "id": "Tag",
      "properties": {
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        },
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        }
      }
    },
    "ComputeEngineTargetDetails": {
      "type": "object",
      "id": "ComputeEngineTargetDetails",
      "properties": {
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "adaptationModifiers": {
          "type": "array",
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "items": {
            "$ref": "AdaptationModifier"
          }
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "The OS license returned from the adaptation module report."
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "diskReplicaZones": {
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          }
        },
        "bootOption": {
          "description": "The VM Boot Option, as set in the source VM.",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM.",
          "type": "array"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bootConversion": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        }
      },
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project."
    },
    "PreparingVMDisksStep": {
      "description": "PreparingVMDisksStep contains specific step details.",
      "type": "object",
      "id": "PreparingVMDisksStep",
      "properties": {}
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "InstantiatingMigratedVMStep": {
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object",
      "id": "InstantiatingMigratedVMStep",
      "properties": {}
    },
    "CreatingImageStep": {
      "id": "CreatingImageStep",
      "properties": {},
      "type": "object",
      "description": "CreatingImageStep contains specific step details."
    },
    "MigratingVm": {
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "id": "MigratingVm",
      "properties": {
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "readOnly": true
        },
        "recentCutoverJobs": {
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true
        },
        "computeEngineDisksTargetDefaults": {
          "$ref": "ComputeEngineDisksTargetDefaults",
          "description": "Details of the target Persistent Disks in Compute Engine."
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "lastSync": {
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "readOnly": true,
          "$ref": "ReplicationSync"
        },
        "currentSyncInfo": {
          "description": "Output only. Details of the current running replication cycle.",
          "readOnly": true,
          "$ref": "ReplicationCycle"
        },
        "expiration": {
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "readOnly": true,
          "$ref": "Expiration"
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "state": {
          "description": "Output only. State of the MigratingVm.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ]
        },
        "awsSourceVmDetails": {
          "description": "Output only. Details of the VM from an AWS source.",
          "readOnly": true,
          "$ref": "AwsSourceVmDetails"
        },
        "computeEngineTargetDefaults": {
          "$ref": "ComputeEngineTargetDefaults",
          "description": "Details of the target VM in Compute Engine."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the migrating VM."
        },
        "policy": {
          "$ref": "SchedulePolicy",
          "description": "The replication schedule policy."
        },
        "vmwareSourceVmDetails": {
          "description": "Output only. Details of the VM from a Vmware source.",
          "readOnly": true,
          "$ref": "VmwareSourceVmDetails"
        },
        "createTime": {
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "cutoverForecast": {
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable.",
          "readOnly": true,
          "$ref": "CutoverForecast"
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The identifier of the MigratingVm.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The last time the migrating VM resource was updated.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "azureSourceVmDetails": {
          "$ref": "AzureSourceVmDetails",
          "description": "Output only. Details of the VM from an Azure source.",
          "readOnly": true
        },
        "recentCloneJobs": {
          "type": "array",
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true,
          "items": {
            "$ref": "CloneJob"
          }
        },
        "lastReplicationCycle": {
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "readOnly": true,
          "$ref": "ReplicationCycle"
        },
        "group": {
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ExtendMigrationRequest": {
      "type": "object",
      "id": "ExtendMigrationRequest",
      "properties": {},
      "description": "Request message for 'ExtendMigrationRequest' request."
    },
    "ListImageImportsResponse": {
      "description": "Response message for 'ListImageImports' call.",
      "type": "object",
      "id": "ListImageImportsResponse",
      "properties": {
        "imageImports": {
          "type": "array",
          "items": {
            "$ref": "ImageImport"
          },
          "description": "Output only. The list of target response.",
          "readOnly": true
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AwsSourceVmDetails": {
      "description": "Represent the source AWS VM details.",
      "id": "AwsSourceVmDetails",
      "properties": {
        "firmware": {
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM.",
          "readOnly": true
        },
        "architecture": {
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "committedStorageBytes": {
          "type": "string",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "readOnly": true,
          "format": "int64"
        },
        "disks": {
          "type": "array",
          "items": {
            "$ref": "AwsDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Group": {
      "id": "Group",
      "properties": {
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The update time timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The Group name.",
          "readOnly": true
        },
        "migrationTargetType": {
          "description": "Immutable. The target type of this group.",
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ]
        },
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms."
    },
    "AdaptationModifier": {
      "id": "AdaptationModifier",
      "properties": {
        "value": {
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty.",
          "type": "string"
        },
        "modifier": {
          "description": "Optional. The modifier name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process."
    },
    "ListReplicationCyclesResponse": {
      "description": "Response message for 'ListReplicationCycles' request.",
      "id": "ListReplicationCyclesResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "replicationCycles": {
          "type": "array",
          "description": "Output only. The list of replication cycles response.",
          "readOnly": true,
          "items": {
            "$ref": "ReplicationCycle"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ApplianceVersion": {
      "description": "Describes an appliance version.",
      "id": "ApplianceVersion",
      "properties": {
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "releaseNotesUri": {
          "description": "Link to a page that contains the version release notes.",
          "type": "string"
        },
        "version": {
          "description": "The appliance version.",
          "type": "string"
        },
        "uri": {
          "description": "A link for downloading the version.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AvailableUpdates": {
      "description": "Holds information about the available versions for upgrade.",
      "type": "object",
      "id": "AvailableUpdates",
      "properties": {
        "newDeployableAppliance": {
          "$ref": "ApplianceVersion",
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance."
        },
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        }
      }
    },
    "UpgradeApplianceRequest": {
      "description": "Request message for 'UpgradeAppliance' request.",
      "type": "object",
      "id": "UpgradeApplianceRequest",
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "Disk": {
      "id": "Disk",
      "properties": {
        "lun": {
          "type": "integer",
          "description": "The disk's Logical Unit Number (LUN).",
          "format": "int32"
        },
        "sizeGb": {
          "type": "integer",
          "description": "The disk size in GB.",
          "format": "int32"
        },
        "name": {
          "description": "The disk name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A message describing a data disk."
    },
    "ListDatacenterConnectorsResponse": {
      "id": "ListDatacenterConnectorsResponse",
      "properties": {
        "datacenterConnectors": {
          "items": {
            "$ref": "DatacenterConnector"
          },
          "description": "Output only. The list of sources response.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Response message for 'ListDatacenterConnectors' request."
    },
    "ShuttingDownSourceVMStep": {
      "description": "ShuttingDownSourceVMStep contains specific step details.",
      "type": "object",
      "id": "ShuttingDownSourceVMStep",
      "properties": {}
    },
    "MigrationWarning": {
      "id": "MigrationWarning",
      "properties": {
        "helpLinks": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "readOnly": true
        },
        "warningTime": {
          "description": "The time the warning occurred.",
          "format": "google-datetime",
          "type": "string"
        },
        "code": {
          "description": "The warning code.",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ]
        },
        "warningMessage": {
          "description": "Output only. The localized warning message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "actionItem": {
          "$ref": "LocalizedMessage",
          "description": "Output only. Suggested action for solving the warning.",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations."
    },
    "LoadingImageSourceFilesStep": {
      "type": "object",
      "id": "LoadingImageSourceFilesStep",
      "properties": {},
      "description": "LoadingImageSourceFilesStep contains specific step details."
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "id": "Operation",
      "properties": {
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        }
      }
    },
    "LocalizedMessage": {
      "id": "LocalizedMessage",
      "properties": {
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        },
        "locale": {
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\"",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error."
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "properties": {},
      "description": "The request message for Operations.CancelOperation."
    },
    "UtilizationReport": {
      "id": "UtilizationReport",
      "properties": {
        "displayName": {
          "description": "The report display name, as assigned by the user.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The report unique name.",
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The time the state was last set.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "readOnly": true
        },
        "vmCount": {
          "type": "integer",
          "description": "Output only. Total number of VMs included in the report.",
          "readOnly": true,
          "format": "int32"
        },
        "vms": {
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          },
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored."
        },
        "timeFrame": {
          "description": "Time frame of the report.",
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "type": "string",
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ]
        },
        "createTime": {
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed).",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "frameEndTime": {
          "type": "string",
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ],
          "description": "Output only. Current state of the report.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      },
      "type": "object",
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs."
    },
    "ComputeEngineDisk": {
      "description": "Compute Engine disk target details.",
      "id": "ComputeEngineDisk",
      "properties": {
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported."
        },
        "diskId": {
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk.",
          "type": "string"
        },
        "zone": {
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "Required. The disk type to use.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        }
      },
      "type": "object"
    },
    "ImageImportOsAdaptationParameters": {
      "description": "Parameters affecting the OS adaptation process.",
      "type": "object",
      "id": "ImageImportOsAdaptationParameters",
      "properties": {
        "licenseType": {
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "type": "array"
        },
        "generalize": {
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID).",
          "type": "boolean"
        },
        "bootConversion": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        }
      }
    },
    "FetchInventoryResponse": {
      "type": "object",
      "id": "FetchInventoryResponse",
      "properties": {
        "azureVms": {
          "description": "The description of the VMs in a Source of type Azure.",
          "$ref": "AzureVmsDetails"
        },
        "vmwareVms": {
          "$ref": "VmwareVmsDetails",
          "description": "The description of the VMs in a Source of type Vmware."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "Response message for fetchInventory."
    },
    "ResumeMigrationRequest": {
      "type": "object",
      "id": "ResumeMigrationRequest",
      "properties": {},
      "description": "Request message for 'ResumeMigration' request."
    },
    "VmwareSourceDetails": {
      "id": "VmwareSourceDetails",
      "properties": {
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type."
    },
    "ReplicationSync": {
      "id": "ReplicationSync",
      "properties": {
        "lastSyncTime": {
          "description": "The most updated snapshot created time in the source that finished replication.",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object",
      "description": "ReplicationSync contain information about the last replica sync to the cloud."
    },
    "DiskImageTargetDetails": {
      "type": "object",
      "id": "DiskImageTargetDetails",
      "properties": {
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created.",
          "type": "string"
        },
        "encryption": {
          "description": "Immutable. The encryption to apply to the image.",
          "$ref": "Encryption"
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME",
          "type": "array"
        },
        "description": {
          "description": "Optional. An optional description of the image.",
          "type": "string"
        },
        "dataDiskImageImport": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "DataDiskImageImport"
        },
        "familyName": {
          "description": "Optional. The name of the image family to which the new image belongs.",
          "type": "string"
        },
        "imageName": {
          "description": "Required. The name of the image to be created.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. A map of labels to associate with the image.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "osAdaptationParameters": {
          "$ref": "ImageImportOsAdaptationParameters",
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process."
        }
      },
      "description": "The target details of the image resource that will be created by the import job."
    },
    "ListDiskMigrationJobsResponse": {
      "description": "Response message for 'ListDiskMigrationJobs' request.",
      "id": "ListDiskMigrationJobsResponse",
      "properties": {
        "diskMigrationJobs": {
          "description": "Output only. The list of the disk migration jobs.",
          "readOnly": true,
          "items": {
            "$ref": "DiskMigrationJob"
          },
          "type": "array"
        },
        "nextPageToken": {
[...]
