{
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "name": "vmmigration",
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "schemas": {
    "VmwareSourceDetails": {
      "type": "object",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "id": "VmwareSourceDetails",
      "properties": {
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        }
      }
    },
    "ComputeEngineDisksTargetDetails": {
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "id": "ComputeEngineDisksTargetDetails",
      "properties": {
        "disks": {
          "items": {
            "$ref": "PersistentDisk"
          },
          "description": "The details of each created Persistent Disk.",
          "type": "array"
        },
        "disksTargetDetails": {
          "description": "Details of the disks-only migration target.",
          "$ref": "DisksMigrationDisksTargetDetails"
        },
        "vmTargetDetails": {
          "description": "Details for the VM the migrated data disks are attached to.",
          "$ref": "DisksMigrationVmTargetDetails"
        }
      },
      "type": "object"
    },
    "VmwareVmsDetails": {
      "type": "object",
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "id": "VmwareVmsDetails",
      "properties": {
        "details": {
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs.",
          "type": "array"
        }
      }
    },
    "MigratingVm": {
      "type": "object",
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "id": "MigratingVm",
      "properties": {
        "group": {
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "readOnly": true,
          "type": "string"
        },
        "lastSync": {
          "readOnly": true,
          "$ref": "ReplicationSync",
          "description": "Output only. The most updated snapshot created time in the source that finished replication."
        },
        "computeEngineDisksTargetDefaults": {
          "description": "Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDefaults"
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "computeEngineVmDefaults": {
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead.",
          "deprecated": true,
          "$ref": "TargetVMDetails"
        },
        "updateTime": {
          "description": "Output only. The last time the migrating VM resource was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ],
          "description": "Output only. State of the MigratingVm.",
          "readOnly": true,
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the migrating VM."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the MigratingVm."
        },
        "expiration": {
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "readOnly": true,
          "$ref": "Expiration"
        },
        "azureSourceVmDetails": {
          "description": "Output only. Details of the VM from an Azure source.",
          "readOnly": true,
          "$ref": "AzureSourceVmDetails"
        },
        "currentSyncInfo": {
          "readOnly": true,
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the current running replication cycle."
        },
        "vmwareSourceVmDetails": {
          "description": "Output only. Details of the VM from a Vmware source.",
          "readOnly": true,
          "$ref": "VmwareSourceVmDetails"
        },
        "awsSourceVmDetails": {
          "description": "Output only. Details of the VM from an AWS source.",
          "readOnly": true,
          "$ref": "AwsSourceVmDetails"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "readOnly": true,
          "$ref": "Status"
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "recentCloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true,
          "type": "array"
        },
        "targetDefaults": {
          "$ref": "TargetVMDetails",
          "description": "The default configuration of the target VM that will be created in Google Cloud as a result of the migration. Deprecated: Use compute_engine_target_defaults instead.",
          "deprecated": true
        },
        "cutoverForecast": {
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable.",
          "readOnly": true,
          "$ref": "CutoverForecast"
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "recentCutoverJobs": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "items": {
            "$ref": "CutoverJob"
          }
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "lastReplicationCycle": {
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "readOnly": true,
          "$ref": "ReplicationCycle"
        },
        "policy": {
          "description": "The replication schedule policy.",
          "$ref": "SchedulePolicy"
        }
      }
    },
    "StartMigrationRequest": {
      "description": "Request message for 'StartMigrationRequest' request.",
      "id": "StartMigrationRequest",
      "properties": {},
      "type": "object"
    },
    "CutoverJob": {
      "type": "object",
      "id": "CutoverJob",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the cutover job."
        },
        "progress": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true,
          "type": "integer",
          "deprecated": true,
          "format": "int32"
        },
        "targetDetails": {
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "createTime": {
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the cutover job had finished.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. State of the cutover job.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ]
        },
        "stateMessage": {
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true,
          "type": "string"
        },
        "computeEngineVmDetails": {
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true,
          "readOnly": true,
          "$ref": "TargetVMDetails"
        },
        "progressPercent": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The current progress in percentage of the cutover job."
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          },
          "description": "Output only. The cutover steps list representing its progress."
        },
        "computeEngineDisksTargetDetails": {
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails"
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the state was last updated."
        }
      },
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot."
    },
    "VmUtilizationMetrics": {
      "id": "VmUtilizationMetrics",
      "properties": {
        "diskIoRateMax": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "diskIoRateAverage": {
          "type": "string",
          "format": "int64",
          "description": "Average disk IO rate, in kilobytes per second.",
          "deprecated": true
        },
        "cpuAveragePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Average CPU usage, percent."
        },
        "networkThroughputAverageKbps": {
          "type": "string",
          "format": "int64",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "networkThroughputMaxKbps": {
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "memoryMax": {
          "format": "int32",
          "type": "integer",
          "description": "Max memory usage, percent.",
          "deprecated": true
        },
        "networkThroughputAverage": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "cpuMax": {
          "format": "int32",
          "type": "integer",
          "description": "Max CPU usage, percent.",
          "deprecated": true
        },
        "diskIoRateMaxKbps": {
          "format": "int64",
          "type": "string",
          "description": "Max disk IO rate, in kilobytes per second."
        },
        "memoryAveragePercent": {
          "type": "integer",
          "format": "int32",
          "description": "Average memory usage, percent."
        },
        "cpuAverage": {
          "format": "int32",
          "type": "integer",
          "description": "Average CPU usage, percent.",
          "deprecated": true
        },
        "cpuMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max CPU usage, percent."
        },
        "memoryMaxPercent": {
          "description": "Max memory usage, percent.",
          "type": "integer",
          "format": "int32"
        },
        "memoryAverage": {
          "format": "int32",
          "type": "integer",
          "description": "Average memory usage, percent.",
          "deprecated": true
        },
        "diskIoRateAverageKbps": {
          "type": "string",
          "format": "int64",
          "description": "Average disk IO rate, in kilobytes per second."
        },
        "networkThroughputMax": {
          "type": "string",
          "format": "int64",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "deprecated": true
        }
      },
      "description": "Utilization metrics values for a single VM.",
      "type": "object"
    },
    "AzureSourceVmDetails": {
      "id": "AzureSourceVmDetails",
      "properties": {
        "committedStorageBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "firmware": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The firmware type of the source VM.",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "architecture": {
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Represent the source Azure VM details.",
      "type": "object"
    },
    "PostProcessingStep": {
      "id": "PostProcessingStep",
      "properties": {},
      "description": "PostProcessingStep contains specific step details.",
      "type": "object"
    },
    "DiskMigrationJob": {
      "id": "DiskMigrationJob",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the DiskMigrationJob.",
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ]
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the DiskMigrationJob resource was created."
        },
        "updateTime": {
          "description": "Output only. The last time the DiskMigrationJob resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "errors": {
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true,
          "type": "array"
        },
        "targetDetails": {
          "description": "Required. Details of the target Disk in Compute Engine.",
          "$ref": "DiskMigrationJobTargetDetails"
        },
        "steps": {
          "description": "Output only. The disk migration steps list representing its progress.",
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "readOnly": true,
          "type": "array"
        },
        "awsSourceDiskDetails": {
          "description": "Details of the unattached AWS source disk.",
          "$ref": "AwsSourceDiskDetails"
        },
        "name": {
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "type": "object"
    },
    "DiskImageDefaults": {
      "id": "DiskImageDefaults",
      "properties": {
        "sourceImage": {
          "description": "Required. The Image resource used when creating the disk.",
          "type": "string"
        }
      },
      "description": "Contains details about the image source used to create the disk.",
      "type": "object"
    },
    "VmCapabilities": {
      "type": "object",
      "id": "VmCapabilities",
      "properties": {
        "lastOsCapabilitiesUpdateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The last time OS capabilities list was updated."
        },
        "osCapabilities": {
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "items": {
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ],
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features."
    },
    "ResumeMigrationRequest": {
      "id": "ResumeMigrationRequest",
      "properties": {},
      "description": "Request message for 'ResumeMigration' request.",
      "type": "object"
    },
    "DataDiskImageImport": {
      "type": "object",
      "id": "DataDiskImageImport",
      "properties": {
        "guestOsFeatures": {
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Used when the image import is not using OS adaptation process."
    },
    "ListMigratingVmsResponse": {
      "description": "Response message for 'ListMigratingVms' request.",
      "id": "ListMigratingVmsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "migratingVms": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of Migrating VMs response.",
          "items": {
            "$ref": "MigratingVm"
          }
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "DiskMigrationJobTargetDetails": {
      "id": "DiskMigrationJobTargetDetails",
      "properties": {
        "targetProject": {
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "targetDisk": {
          "description": "Required. The target disk.",
          "$ref": "ComputeEngineDisk"
        },
        "labels": {
          "description": "Optional. A map of labels to associate with the disk.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "description": "Details of the target disk in Compute Engine.",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "type": "array"
        },
        "code": {
          "format": "int32",
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code."
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      },
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object"
    },
    "AwsSecurityGroup": {
      "type": "object",
      "id": "AwsSecurityGroup",
      "properties": {
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        },
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        }
      },
      "description": "AwsSecurityGroup describes a security group of an AWS VM."
    },
    "ImageImportStep": {
      "type": "object",
      "id": "ImageImportStep",
      "properties": {
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "creatingImage": {
          "description": "Creating image step.",
          "$ref": "CreatingImageStep"
        },
        "startTime": {
          "description": "Output only. The time the step has started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "loadingSourceFiles": {
          "description": "Loading source files step.",
          "$ref": "LoadingImageSourceFilesStep"
        },
        "initializing": {
          "description": "Initializing step.",
          "$ref": "InitializingImageImportStep"
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "ImageImportStep holds information about the image import step progress."
    },
    "AdaptingOSStep": {
      "type": "object",
      "description": "AdaptingOSStep contains specific step details.",
      "id": "AdaptingOSStep",
      "properties": {}
    },
    "RunDiskMigrationJobRequest": {
      "id": "RunDiskMigrationJobRequest",
      "properties": {},
      "description": "Request message for 'RunDiskMigrationJobRequest' request.",
      "type": "object"
    },
    "AwsVmDetails": {
      "type": "object",
      "id": "AwsVmDetails",
      "properties": {
        "instanceType": {
          "description": "The instance type of the VM.",
          "type": "string"
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ],
          "type": "string"
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "cpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of CPU cores the VM has."
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "vmId": {
          "description": "The VM ID in AWS.",
          "type": "string"
        },
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        },
        "tags": {
          "description": "The tags of the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "diskCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks the VM has."
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "readOnly": true,
          "type": "string"
        },
        "securityGroups": {
          "type": "array",
          "items": {
            "$ref": "AwsSecurityGroup"
          },
          "description": "The security groups the VM belongs to."
        },
        "virtualizationType": {
          "type": "string",
          "description": "The virtualization type.",
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ],
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ]
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "vcpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has."
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        }
      },
      "description": "AwsVmDetails describes a VM in AWS."
    },
    "PersistentDisk": {
      "type": "object",
      "id": "PersistentDisk",
      "properties": {
        "sourceDiskNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The ordinal number of the source VM disk."
        },
        "diskUri": {
          "description": "The URI of the Persistent Disk.",
          "type": "string"
        }
      },
      "description": "Details of a created Persistent Disk."
    },
    "VmAttachmentDetails": {
      "type": "object",
      "description": "Details for attachment of the disk to a VM.",
      "id": "VmAttachmentDetails",
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      }
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "properties": {
        "details": {
          "description": "The details of the AWS VMs.",
          "items": {
            "$ref": "AwsVmDetails"
          },
          "type": "array"
        }
      },
      "description": "AWSVmsDetails describes VMs in AWS.",
      "type": "object"
    },
    "PreparingVMDisksStep": {
      "id": "PreparingVMDisksStep",
      "properties": {},
      "description": "PreparingVMDisksStep contains specific step details.",
      "type": "object"
    },
    "VmwareSourceVmDetails": {
      "id": "VmwareSourceVmDetails",
      "properties": {
        "firmware": {
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The firmware type of the source VM."
        },
        "architecture": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "committedStorageBytes": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. The total size of the disks being migrated in bytes."
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        },
        "disks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM."
        }
      },
      "description": "Represent the source Vmware VM details.",
      "type": "object"
    },
    "OSDisk": {
      "description": "A message describing the OS disk.",
      "id": "OSDisk",
      "properties": {
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        },
        "sizeGb": {
          "description": "The disk's size in GB.",
          "format": "int32",
          "type": "integer"
        },
        "type": {
          "description": "The disk's type.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MachineImageParametersOverrides": {
      "id": "MachineImageParametersOverrides",
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      },
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "type": "object"
    },
    "CreatingImageStep": {
      "description": "CreatingImageStep contains specific step details.",
      "id": "CreatingImageStep",
      "properties": {},
      "type": "object"
    },
    "DiskMigrationStep": {
      "id": "DiskMigrationStep",
      "properties": {
        "provisioningTargetDisk": {
          "description": "Creating target disk step.",
          "$ref": "ProvisioningTargetDiskStep"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the step has ended."
        },
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        },
        "copyingSourceDiskSnapshot": {
          "description": "Copying source disk snapshot step.",
          "$ref": "CopyingSourceDiskSnapshotStep"
        },
        "startTime": {
          "description": "Output only. The time the step has started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "type": "object"
    },
    "AdaptationModifier": {
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process.",
      "id": "AdaptationModifier",
      "properties": {
        "modifier": {
          "description": "Optional. The modifier name.",
          "type": "string"
        },
        "value": {
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "NetworkInterface": {
      "description": "NetworkInterface represents a NIC of a VM.",
      "id": "NetworkInterface",
      "properties": {
        "networkTier": {
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ],
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "type": "string"
        },
        "internalIp": {
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        },
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "AppliedLicense": {
      "type": "object",
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "id": "AppliedLicense",
      "properties": {
        "type": {
          "type": "string",
          "description": "The license type that was used in OS adaptation.",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ]
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      }
    },
    "Link": {
      "type": "object",
      "description": "Describes a URL link.",
      "id": "Link",
      "properties": {
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        },
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        }
      }
    },
    "Tag": {
      "type": "object",
      "id": "Tag",
      "properties": {
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        },
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        }
      },
      "description": "Tag is an AWS tag representation."
    },
    "MigrationWarning": {
      "id": "MigrationWarning",
      "properties": {
        "warningMessage": {
          "description": "Output only. The localized warning message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "code": {
          "description": "The warning code.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "type": "string"
        },
        "actionItem": {
          "readOnly": true,
          "$ref": "LocalizedMessage",
          "description": "Output only. Suggested action for solving the warning."
        },
        "helpLinks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current warning."
        },
        "warningTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the warning occurred."
        }
      },
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "type": "object"
    },
    "AzureSourceDetails": {
      "type": "object",
      "id": "AzureSourceDetails",
      "properties": {
        "clientSecretCreds": {
          "description": "Azure Credentials using tenant ID, client ID and secret.",
          "$ref": "ClientSecretCredentials"
        },
        "azureLocation": {
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`."
        },
        "subscriptionId": {
          "description": "Immutable. Azure subscription ID.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "resourceGroupId": {
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type."
    },
    "ClientSecretCredentials": {
      "type": "object",
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "id": "ClientSecretCredentials",
      "properties": {
        "tenantId": {
          "description": "Azure tenant ID.",
          "type": "string"
        },
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        },
        "clientSecret": {
          "description": "Input only. Azure client secret.",
          "type": "string"
        }
      }
    },
    "AwsSourceDetails": {
      "id": "AwsSourceDetails",
      "properties": {
        "awsRegion": {
          "description": "Immutable. The AWS region that the source VMs will be migrated from.",
          "type": "string"
        },
        "publicIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the source as determined by the health check."
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`."
        },
        "inventorySecurityGroupNames": {
          "type": "array",
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          }
        },
        "accessKeyCreds": {
          "description": "AWS Credentials using access key id and secret.",
          "$ref": "AccessKeyCredentials"
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "inventoryTagList": {
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      },
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "type": "object"
    },
    "SkipOsAdaptation": {
      "description": "Mentions that the machine image import is not using OS adaptation process.",
      "id": "SkipOsAdaptation",
      "properties": {},
      "type": "object"
    },
    "AzureVmsDetails": {
      "type": "object",
      "id": "AzureVmsDetails",
      "properties": {
        "details": {
          "type": "array",
          "description": "The details of the Azure VMs.",
          "items": {
            "$ref": "AzureVmDetails"
          }
        }
      },
      "description": "AzureVmsDetails describes VMs in Azure."
    },
    "SchedulingNodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "id": "SchedulingNodeAffinity",
      "properties": {
        "values": {
          "items": {
            "type": "string"
          },
          "description": "Corresponds to the label values of Node resource.",
          "type": "array"
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        },
        "operator": {
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "VmwareDiskDetails": {
      "description": "The details of a Vmware VM disk.",
      "id": "VmwareDiskDetails",
      "properties": {
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "sizeGb": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Size in GB."
        },
        "label": {
          "description": "Output only. The disk label.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListDiskMigrationJobsResponse": {
      "type": "object",
      "id": "ListDiskMigrationJobsResponse",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "diskMigrationJobs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DiskMigrationJob"
          },
          "description": "Output only. The list of the disk migration jobs."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for 'ListDiskMigrationJobs' request."
    },
    "CopyingSourceDiskSnapshotStep": {
      "type": "object",
      "id": "CopyingSourceDiskSnapshotStep",
      "properties": {},
      "description": "CopyingSourceDiskSnapshotStep contains specific step details."
    },
    "ShieldedInstanceConfig": {
      "description": "Shielded instance configuration.",
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableVtpm": {
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI.",
          "type": "boolean"
        },
        "secureBoot": {
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "type": "string"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "FetchInventoryResponse": {
      "id": "FetchInventoryResponse",
      "properties": {
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "awsVms": {
          "description": "The description of the VMs in a Source of type AWS.",
          "$ref": "AwsVmsDetails"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache)."
        },
        "azureVms": {
          "description": "The description of the VMs in a Source of type Azure.",
          "$ref": "AzureVmsDetails"
        }
      },
      "description": "Response message for fetchInventory.",
      "type": "object"
    },
    "CancelDiskMigrationJobRequest": {
      "type": "object",
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "id": "CancelDiskMigrationJobRequest",
      "properties": {}
    },
    "UpgradeStatus": {
      "type": "object",
      "description": "UpgradeStatus contains information about upgradeAppliance operation.",
      "id": "UpgradeStatus",
      "properties": {
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the operation was started."
        },
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        },
        "state": {
          "description": "The state of the upgradeAppliance operation.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ],
          "type": "string"
        }
      }
    },
    "AccessKeyCredentials": {
      "description": "Message describing AWS Credentials using access key id and secret.",
      "id": "AccessKeyCredentials",
      "properties": {
        "sessionToken": {
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials.",
          "type": "string"
        },
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "accessKeyId": {
          "description": "AWS access key ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DisksMigrationDisksTargetDetails": {
      "description": "Details for a disks-only migration.",
      "id": "DisksMigrationDisksTargetDetails",
      "properties": {},
      "type": "object"
    },
    "InstantiatingMigratedVMStep": {
      "id": "InstantiatingMigratedVMStep",
      "properties": {},
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object"
    },
    "ServiceAccount": {
      "type": "object",
      "id": "ServiceAccount",
      "properties": {
        "email": {
          "description": "Required. The email address of the service account.",
          "type": "string"
        },
        "scopes": {
          "description": "Optional. The list of scopes to be made available for this service account.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Service account to assign to the instance created by the machine image."
    },
    "ListUtilizationReportsResponse": {
      "type": "object",
      "id": "ListUtilizationReportsResponse",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "utilizationReports": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of reports.",
          "items": {
            "$ref": "UtilizationReport"
          }
        }
      },
      "description": "Response message for 'ListUtilizationReports' request."
    },
    "SourceStorageResource": {
      "description": "SourceStorageResource describes a storage resource in the source.",
      "id": "SourceStorageResource",
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      },
      "type": "object"
    },
    "BootDiskDefaults": {
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "id": "BootDiskDefaults",
      "properties": {
        "image": {
          "description": "The image to use when creating the disk.",
          "$ref": "DiskImageDefaults"
        },
        "diskType": {
          "type": "string",
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "MigrationError": {
      "type": "object",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "id": "MigrationError",
      "properties": {
        "code": {
          "description": "Output only. The error code.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ]
        },
        "errorMessage": {
          "description": "Output only. The localized error message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "actionItem": {
          "readOnly": true,
          "$ref": "LocalizedMessage",
          "description": "Output only. Suggested action for solving the error."
        },
        "helpLinks": {
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "readOnly": true,
          "type": "array"
        },
        "errorTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the error occurred."
        }
      }
    },
    "ImageImport": {
      "type": "object",
      "description": "ImageImport describes the configuration of the image import to run.",
      "id": "ImageImport",
      "properties": {
        "createTime": {
          "description": "Output only. The time the image import was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        },
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource path of the ImageImport."
        },
        "recentImageImportJobs": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "items": {
            "$ref": "ImageImportJob"
          }
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "diskImageTargetDefaults": {
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob.",
          "$ref": "DiskImageTargetDetails"
        }
      }
    },
    "ApplianceVersion": {
      "type": "object",
      "description": "Describes an appliance version.",
      "id": "ApplianceVersion",
      "properties": {
        "critical": {
          "description": "Determine whether it's critical to upgrade the appliance to this version.",
          "type": "boolean"
        },
        "releaseNotesUri": {
          "description": "Link to a page that contains the version release notes.",
          "type": "string"
        },
        "version": {
          "description": "The appliance version.",
          "type": "string"
        },
        "uri": {
          "description": "A link for downloading the version.",
          "type": "string"
        }
      }
    },
    "ComputeEngineDisksTargetDefaults": {
      "type": "object",
      "id": "ComputeEngineDisksTargetDefaults",
      "properties": {
        "disks": {
          "type": "array",
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "description": "The details of each Persistent Disk to create."
        },
        "vmTargetDefaults": {
          "description": "Details of the VM migration target.",
          "$ref": "DisksMigrationVmTargetDefaults"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        },
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "zone": {
          "description": "The zone in which to create the Persistent Disks.",
          "type": "string"
        }
      },
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project."
    },
    "Encryption": {
      "description": "Encryption message describes the details of the applied encryption.",
      "id": "Encryption",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "FinalizeMigrationRequest": {
      "id": "FinalizeMigrationRequest",
      "properties": {},
      "description": "Request message for 'FinalizeMigration' request.",
      "type": "object"
    },
    "ComputeEngineTargetDefaults": {
      "id": "ComputeEngineTargetDefaults",
      "properties": {
        "appliedLicense": {
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true,
          "$ref": "AppliedLicense"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "storagePool": {
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The VM Boot Option, as set in the source VM."
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "adaptationModifiers": {
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation.",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array"
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "bootConversion": {
          "type": "string",
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "diskReplicaZones": {
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          }
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        }
      },
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "type": "object"
    },
    "AddGroupMigrationRequest": {
      "type": "object",
      "description": "Request message for 'AddGroupMigration' request.",
      "id": "AddGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      }
    },
    "ListImageImportJobsResponse": {
      "id": "ListImageImportJobsResponse",
      "properties": {
        "imageImportJobs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The list of target response."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Response message for 'ListImageImportJobs' call.",
      "type": "object"
    },
    "AvailableUpdates": {
      "id": "AvailableUpdates",
      "properties": {
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        },
        "inPlaceUpdate": {
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI.",
          "$ref": "ApplianceVersion"
        }
      },
      "description": "Holds information about the available versions for upgrade.",
      "type": "object"
    },
    "ComputeEngineDisk": {
      "id": "ComputeEngineDisk",
      "properties": {
        "replicaZones": {
          "type": "array",
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported.",
          "items": {
            "type": "string"
          }
        },
        "diskType": {
          "type": "string",
          "description": "Required. The disk type to use.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "zone": {
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}",
          "type": "string"
        },
        "diskId": {
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk.",
          "type": "string"
        }
      },
      "description": "Compute Engine disk target details.",
      "type": "object"
    },
    "LoadingImageSourceFilesStep": {
      "type": "object",
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "id": "LoadingImageSourceFilesStep",
      "properties": {}
    },
    "DisksMigrationVmTargetDetails": {
      "description": "Details for the VM created VM as part of disks migration.",
      "id": "DisksMigrationVmTargetDetails",
      "properties": {
        "vmUri": {
          "description": "Output only. The URI of the Compute Engine VM.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListReplicationCyclesResponse": {
      "description": "Response message for 'ListReplicationCycles' request.",
      "id": "ListReplicationCyclesResponse",
      "properties": {
        "replicationCycles": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReplicationCycle"
          },
          "description": "Output only. The list of replication cycles response."
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "PauseMigrationRequest": {
      "type": "object",
      "description": "Request message for 'PauseMigration' request.",
      "id": "PauseMigrationRequest",
      "properties": {}
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "id": "ReplicationCycle",
      "properties": {
        "warnings": {
          "description": "Output only. Warnings that occurred during the cycle.",
          "items": {
            "$ref": "MigrationWarning"
          },
          "readOnly": true,
          "type": "array"
        },
        "progress": {
          "description": "The current progress in percentage of this cycle.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The identifier of the ReplicationCycle.",
          "type": "string"
        },
        "cycleNumber": {
          "description": "The cycle's ordinal number.",
          "format": "int32",
          "type": "integer"
        },
        "steps": {
          "type": "array",
          "items": {
            "$ref": "CycleStep"
          },
          "description": "The cycle's steps list representing its progress."
        },
        "progressPercent": {
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the cycle in case of an error."
        },
        "endTime": {
          "description": "The time the replication cycle has ended.",
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "State of the ReplicationCycle.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the replication cycle has started."
        },
        "totalPauseDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The accumulated duration the replication cycle was paused."
        }
      },
      "type": "object"
    },
    "ImageImportOsAdaptationParameters": {
      "description": "Parameters affecting the OS adaptation process.",
      "id": "ImageImportOsAdaptationParameters",
      "properties": {
        "generalize": {
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID).",
          "type": "boolean"
        },
        "adaptationModifiers": {
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array"
        },
        "licenseType": {
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string"
        },
        "bootConversion": {
          "type": "string",
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        }
      },
      "type": "object"
    },
    "CloneStep": {
      "description": "CloneStep holds information about the clone step progress.",
      "id": "CloneStep",
      "properties": {
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        }
      },
      "type": "object"
    },
    "DisksMigrationDisksTargetDefaults": {
      "id": "DisksMigrationDisksTargetDefaults",
      "properties": {},
      "description": "Details for a disk only migration.",
      "type": "object"
    },
    "CycleStep": {
      "type": "object",
      "description": "CycleStep holds information about a step progress.",
      "id": "CycleStep",
      "properties": {
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the cycle step has ended."
        },
        "postProcessing": {
          "description": "Post processing step.",
          "$ref": "PostProcessingStep"
        },
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the cycle step has started."
        }
      }
    },
    "ListTargetProjectsResponse": {
      "id": "ListTargetProjectsResponse",
      "properties": {
        "targetProjects": {
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "TargetProject"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for 'ListTargetProjects' call.",
      "type": "object"
    },
    "MachineImageTargetDetails": {
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "id": "MachineImageTargetDetails",
      "properties": {
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "machineImageName": {
          "description": "Required. The name of the machine image to be created.",
          "type": "string"
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Optional. The labels to apply to the instance created by the machine image.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkInterfaces": {
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "machineImageParametersOverrides": {
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations.",
          "$ref": "MachineImageParametersOverrides"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded instance configuration.",
          "$ref": "ShieldedInstanceConfig"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        },
        "encryption": {
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "tags": {
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "serviceAccount": {
          "description": "Optional. The service account to assign to the instance created by the machine image.",
          "$ref": "ServiceAccount"
        }
      },
      "type": "object"
    },
    "AwsSourceDiskDetails": {
      "id": "AwsSourceDiskDetails",
      "properties": {
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        },
        "sizeGib": {
          "description": "Output only. Size in GiB.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "diskType": {
          "readOnly": true,
          "type": "string",
          "description": "Optional. Output only. Disk type.",
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ]
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Output only. A map of AWS volume tags."
        }
      },
      "description": "Represents the source AWS Disk details.",
      "type": "object"
    },
    "ImageImportJob": {
      "id": "ImageImportJob",
      "properties": {
        "cloudStorageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource path of the ImageImportJob."
        },
        "diskImageTargetDetails": {
          "readOnly": true,
          "$ref": "DiskImageTargetDetails",
          "description": "Output only. Target details used to import a disk image."
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImportStep"
          },
          "description": "Output only. The image import steps list representing its progress."
        },
        "machineImageTargetDetails": {
          "readOnly": true,
          "$ref": "MachineImageTargetDetails",
          "description": "Output only. Target details used to import a machine image."
        },
        "createdResources": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "items": {
            "type": "string"
          }
        },
        "warnings": {
[...]
