{
  "protocol": "rest",
  "canonicalName": "VM Migration Service",
  "id": "vmmigration:v1alpha1",
  "version_module": true,
  "discoveryVersion": "v1",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "fullyEncodeReservedExpansion": true,
  "batchPath": "batch",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "basePath": "",
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "rootUrl": "https://vmmigration.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "description": "V1 error format."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "name": "vmmigration",
  "ownerDomain": "google.com",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "AvailableUpdates": {
      "type": "object",
      "id": "AvailableUpdates",
      "description": "Holds information about the available versions for upgrade.",
      "properties": {
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        },
        "newDeployableAppliance": {
          "$ref": "ApplianceVersion",
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance."
        }
      }
    },
    "CutoverForecast": {
      "id": "CutoverForecast",
      "properties": {
        "estimatedCutoverJobDuration": {
          "description": "Output only. Estimation of the CutoverJob duration.",
          "type": "string",
          "format": "google-duration",
          "readOnly": true
        }
      },
      "type": "object",
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm."
    },
    "Group": {
      "properties": {
        "updateTime": {
          "description": "Output only. The update time timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "migrationTargetType": {
          "type": "string",
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "description": "Immutable. The target type of this group."
        },
        "displayName": {
          "type": "string",
          "description": "Display name is a user defined name for this group which can be updated."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The create time timestamp.",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. The Group name.",
          "readOnly": true
        }
      },
      "id": "Group",
      "type": "object",
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms."
    },
    "AwsVmsDetails": {
      "type": "object",
      "id": "AwsVmsDetails",
      "properties": {
        "details": {
          "description": "The details of the AWS VMs.",
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          }
        }
      },
      "description": "AWSVmsDetails describes VMs in AWS."
    },
    "DisksMigrationVmTargetDetails": {
      "description": "Details for the VM created VM as part of disks migration.",
      "id": "DisksMigrationVmTargetDetails",
      "properties": {
        "vmUri": {
          "description": "Output only. The URI of the Compute Engine VM.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "ImageImport": {
      "id": "ImageImport",
      "type": "object",
      "description": "ImageImport describes the configuration of the image import to run.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource path of the ImageImport."
        },
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "recentImageImportJobs": {
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "readOnly": true,
          "type": "array"
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The time the image import was created.",
          "type": "string",
          "readOnly": true
        },
        "diskImageTargetDefaults": {
          "$ref": "DiskImageTargetDetails",
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob."
        }
      }
    },
    "MachineImageTargetDetails": {
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "id": "MachineImageTargetDetails",
      "properties": {
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded instance configuration."
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "tags": {
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "machineImageParametersOverrides": {
          "$ref": "MachineImageParametersOverrides",
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations."
        },
        "machineImageName": {
          "type": "string",
          "description": "Required. The name of the machine image to be created."
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "networkInterfaces": {
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import."
        },
        "additionalLicenses": {
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Optional. The service account to assign to the instance created by the machine image."
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "labels": {
          "description": "Optional. The labels to apply to the instance created by the machine image.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key."
        }
      },
      "type": "object"
    },
    "ListCutoverJobsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "cutoverJobs": {
          "description": "Output only. The list of cutover jobs response.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CutoverJob"
          }
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true
        }
      },
      "id": "ListCutoverJobsResponse",
      "description": "Response message for 'ListCutoverJobs' request.",
      "type": "object"
    },
    "VmwareVmsDetails": {
      "id": "VmwareVmsDetails",
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "description": "The details of the vmware VMs.",
          "items": {
            "$ref": "VmwareVmDetails"
          }
        }
      }
    },
    "TargetProject": {
      "type": "object",
      "id": "TargetProject",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the target project."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created)."
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The last time the target project resource was updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "project": {
          "description": "Required. The target project ID (number) or project name.",
          "type": "string"
        }
      },
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone."
    },
    "CloneJob": {
      "id": "CloneJob",
      "type": "object",
      "properties": {
        "targetDetails": {
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "deprecated": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the clone."
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The clone steps list representing its progress.",
          "items": {
            "$ref": "CloneStep"
          }
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails"
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "description": "Output only. State of the clone job.",
          "readOnly": true
        },
        "computeEngineDisksTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDetails"
        },
        "createTime": {
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Clone Job's state."
        },
        "stateTime": {
          "format": "google-datetime",
          "description": "Output only. The time the state was last updated.",
          "readOnly": true,
          "type": "string"
        },
        "computeEngineVmDetails": {
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true,
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the clone job was ended.",
          "type": "string"
        }
      },
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone."
    },
    "ListTargetProjectsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "targetProjects": {
          "items": {
            "$ref": "TargetProject"
          },
          "type": "array",
          "description": "Output only. The list of target response.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListTargetProjectsResponse",
      "description": "Response message for 'ListTargetProjects' call."
    },
    "SchedulePolicy": {
      "properties": {
        "idleDuration": {
          "type": "string",
          "format": "google-duration",
          "description": "The idle duration between replication stages."
        },
        "skipOsAdaptation": {
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine.",
          "type": "boolean"
        }
      },
      "id": "SchedulePolicy",
      "description": "A policy for scheduling replications.",
      "type": "object"
    },
    "VmwareDiskDetails": {
      "description": "The details of a Vmware VM disk.",
      "type": "object",
      "properties": {
        "diskNumber": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32"
        },
        "label": {
          "readOnly": true,
          "description": "Output only. The disk label.",
          "type": "string"
        },
        "sizeGb": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Size in GB."
        }
      },
      "id": "VmwareDiskDetails"
    },
    "CancelOperationRequest": {
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "type": "object",
      "id": "CancelOperationRequest"
    },
    "MigratingVm": {
      "properties": {
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "format": "google-datetime",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "$ref": "Status"
        },
        "displayName": {
          "type": "string",
          "description": "The display name attached to the MigratingVm by the user."
        },
        "lastReplicationCycle": {
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "readOnly": true,
          "$ref": "ReplicationCycle"
        },
        "state": {
          "description": "Output only. State of the MigratingVm.",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ],
          "readOnly": true,
          "type": "string"
        },
        "policy": {
          "$ref": "SchedulePolicy",
          "description": "The replication schedule policy."
        },
        "recentCutoverJobs": {
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          },
          "readOnly": true,
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request."
        },
        "labels": {
          "description": "The labels of the migrating VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "expiration": {
          "readOnly": true,
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "$ref": "Expiration"
        },
        "currentSyncInfo": {
          "readOnly": true,
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the current running replication cycle."
        },
        "cutoverForecast": {
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable.",
          "readOnly": true,
          "$ref": "CutoverForecast"
        },
        "lastSync": {
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "readOnly": true,
          "$ref": "ReplicationSync"
        },
        "group": {
          "type": "string",
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "readOnly": true
        },
        "azureSourceVmDetails": {
          "$ref": "AzureSourceVmDetails",
          "description": "Output only. Details of the VM from an Azure source.",
          "readOnly": true
        },
        "computeEngineDisksTargetDefaults": {
          "description": "Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDefaults"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The last time the migrating VM resource was updated.",
          "format": "google-datetime"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The identifier of the MigratingVm."
        },
        "recentCloneJobs": {
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "items": {
            "$ref": "CloneJob"
          },
          "readOnly": true,
          "type": "array"
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "awsSourceVmDetails": {
          "$ref": "AwsSourceVmDetails",
          "description": "Output only. Details of the VM from an AWS source.",
          "readOnly": true
        },
        "targetDefaults": {
          "description": "The default configuration of the target VM that will be created in Google Cloud as a result of the migration. Deprecated: Use compute_engine_target_defaults instead.",
          "$ref": "TargetVMDetails",
          "deprecated": true
        },
        "description": {
          "type": "string",
          "description": "The description attached to the migrating VM by the user."
        },
        "vmwareSourceVmDetails": {
          "readOnly": true,
          "$ref": "VmwareSourceVmDetails",
          "description": "Output only. Details of the VM from a Vmware source."
        },
        "computeEngineVmDefaults": {
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead.",
          "$ref": "TargetVMDetails",
          "deprecated": true
        }
      },
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "type": "object",
      "id": "MigratingVm"
    },
    "CancelDiskMigrationJobRequest": {
      "id": "CancelDiskMigrationJobRequest",
      "properties": {},
      "type": "object",
      "description": "Request message for 'CancelDiskMigrationJob' request."
    },
    "AwsSourceDiskDetails": {
      "type": "object",
      "description": "Represents the source AWS Disk details.",
      "properties": {
        "sizeGib": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Size in GiB.",
          "readOnly": true
        },
        "diskType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "description": "Optional. Output only. Disk type."
        },
        "tags": {
          "readOnly": true,
          "description": "Optional. Output only. A map of AWS volume tags.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "volumeId": {
          "type": "string",
          "description": "Required. AWS volume ID."
        }
      },
      "id": "AwsSourceDiskDetails"
    },
    "CutoverStep": {
      "id": "CutoverStep",
      "description": "CutoverStep holds information about the cutover step progress.",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time the step has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "finalSync": {
          "description": "Final sync step.",
          "$ref": "ReplicationCycle"
        },
        "previousReplicationCycle": {
          "description": "A replication cycle prior cutover step.",
          "$ref": "ReplicationCycle"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the step has ended.",
          "type": "string"
        }
      }
    },
    "Location": {
      "type": "object",
      "id": "Location",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "OSDescription": {
      "properties": {
        "plan": {
          "type": "string",
          "description": "OS plan."
        },
        "type": {
          "type": "string",
          "description": "OS type."
        },
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        },
        "offer": {
          "description": "OS offer.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "OSDescription",
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable."
    },
    "ReplicationSync": {
      "type": "object",
      "properties": {
        "lastSyncTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The most updated snapshot created time in the source that finished replication."
        }
      },
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "id": "ReplicationSync"
    },
    "CopyingSourceDiskSnapshotStep": {
      "id": "CopyingSourceDiskSnapshotStep",
      "properties": {},
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "type": "object"
    },
    "Disk": {
      "properties": {
        "lun": {
          "format": "int32",
          "description": "The disk's Logical Unit Number (LUN).",
          "type": "integer"
        },
        "sizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "The disk size in GB."
        },
        "name": {
          "type": "string",
          "description": "The disk name."
        }
      },
      "description": "A message describing a data disk.",
      "type": "object",
      "id": "Disk"
    },
    "VmwareSourceVmDetails": {
      "type": "object",
      "id": "VmwareSourceVmDetails",
      "description": "Represent the source Vmware VM details.",
      "properties": {
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "$ref": "VmCapabilities",
          "readOnly": true
        },
        "firmware": {
          "readOnly": true,
          "description": "Output only. The firmware type of the source VM.",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "type": "array",
          "readOnly": true
        },
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "VmAttachmentDetails": {
      "id": "VmAttachmentDetails",
      "properties": {
        "deviceName": {
          "type": "string",
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        }
      },
      "description": "Details for attachment of the disk to a VM.",
      "type": "object"
    },
    "PauseMigrationRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for 'PauseMigration' request.",
      "id": "PauseMigrationRequest"
    },
    "CancelImageImportJobRequest": {
      "properties": {},
      "description": "Request message for 'CancelImageImportJob' request.",
      "id": "CancelImageImportJobRequest",
      "type": "object"
    },
    "LoadingImageSourceFilesStep": {
      "id": "LoadingImageSourceFilesStep",
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "type": "object",
      "properties": {}
    },
    "CreatingImageStep": {
      "type": "object",
      "properties": {},
      "id": "CreatingImageStep",
      "description": "CreatingImageStep contains specific step details."
    },
    "ListGroupsResponse": {
      "description": "Response message for 'ListGroups' request.",
      "type": "object",
      "id": "ListGroupsResponse",
      "properties": {
        "groups": {
          "type": "array",
          "items": {
            "$ref": "Group"
          },
          "description": "Output only. The list of groups response.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached."
        }
      }
    },
    "ShuttingDownSourceVMStep": {
      "description": "ShuttingDownSourceVMStep contains specific step details.",
      "id": "ShuttingDownSourceVMStep",
      "type": "object",
      "properties": {}
    },
    "ListOperationsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations.",
      "type": "object"
    },
    "ComputeEngineTargetDefaults": {
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "properties": {
        "diskType": {
          "description": "The disk type to use in the VM.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "appliedLicense": {
          "description": "Output only. The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense",
          "readOnly": true
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "bootOption": {
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "readOnly": true
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption to apply to the VM disks."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "bootConversion": {
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM."
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "diskReplicaZones": {
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "metadata": {
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM.",
          "type": "object"
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array",
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "Optional. The service account to associate the VM with."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Additional licenses to assign to the VM."
        }
      },
      "type": "object",
      "id": "ComputeEngineTargetDefaults"
    },
    "ListImageImportJobsResponse": {
      "type": "object",
      "description": "Response message for 'ListImageImportJobs' call.",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "imageImportJobs": {
          "description": "Output only. The list of target response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          }
        }
      },
      "id": "ListImageImportJobsResponse"
    },
    "AdaptingOSStep": {
      "id": "AdaptingOSStep",
      "description": "AdaptingOSStep contains specific step details.",
      "properties": {},
      "type": "object"
    },
    "DiskImageDefaults": {
      "description": "Contains details about the image source used to create the disk.",
      "type": "object",
      "properties": {
        "sourceImage": {
          "type": "string",
          "description": "Required. The Image resource used when creating the disk."
        }
      },
      "id": "DiskImageDefaults"
    },
    "AwsSourceDetails": {
      "type": "object",
      "properties": {
        "inventorySecurityGroupNames": {
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "migrationResourcesUserTags": {
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "accessKeyCreds": {
          "$ref": "AccessKeyCredentials",
          "description": "AWS Credentials using access key id and secret."
        },
        "awsRegion": {
          "type": "string",
          "description": "Immutable. The AWS region that the source VMs will be migrated from."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status"
        },
        "publicIp": {
          "readOnly": true,
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "inventoryTagList": {
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        }
      },
      "id": "AwsSourceDetails",
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type."
    },
    "AppliedLicense": {
      "properties": {
        "osLicense": {
          "type": "string",
          "description": "The OS license returned from the adaptation module's report."
        },
        "type": {
          "description": "The license type that was used in OS adaptation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        }
      },
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "type": "object",
      "id": "AppliedLicense"
    },
    "ClientSecretCredentials": {
      "properties": {
        "clientSecret": {
          "type": "string",
          "description": "Input only. Azure client secret."
        },
        "tenantId": {
          "type": "string",
          "description": "Azure tenant ID."
        },
        "clientId": {
          "type": "string",
          "description": "Azure client ID."
        }
      },
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "id": "ClientSecretCredentials",
      "type": "object"
    },
    "MigrationError": {
      "properties": {
        "code": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "description": "Output only. The error code."
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the error.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "errorMessage": {
          "$ref": "LocalizedMessage",
          "description": "Output only. The localized error message.",
          "readOnly": true
        },
        "errorTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the error occurred.",
          "type": "string"
        },
        "helpLinks": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "readOnly": true
        }
      },
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "type": "object",
      "id": "MigrationError"
    },
    "Source": {
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "properties": {
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The Source name.",
          "readOnly": true
        },
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The update time timestamp.",
          "type": "string",
          "format": "google-datetime"
        },
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The create time timestamp.",
          "type": "string"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        },
        "vmware": {
          "$ref": "VmwareSourceDetails",
          "description": "Vmware type source details."
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "deprecated": true,
          "readOnly": true
        },
        "azure": {
          "$ref": "AzureSourceDetails",
          "description": "Azure type source details."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels of the source."
        }
      },
      "type": "object",
      "id": "Source"
    },
    "ComputeScheduling": {
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance.",
      "type": "object",
      "properties": {
        "restartType": {
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "type": "string",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ]
        },
        "minNodeCpus": {
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured.",
          "format": "int32",
          "type": "integer"
        },
        "automaticRestart": {
          "deprecated": true,
          "type": "boolean"
        },
        "nodeAffinities": {
          "type": "array",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes."
        },
        "onHostMaintenance": {
          "type": "string",
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ]
        }
      },
      "id": "ComputeScheduling"
    },
    "BootDiskDefaults": {
      "type": "object",
      "properties": {
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "diskName": {
          "type": "string",
          "description": "Optional. The name of the disk."
        },
        "image": {
          "description": "The image to use when creating the disk.",
          "$ref": "DiskImageDefaults"
        },
        "deviceName": {
          "type": "string",
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks."
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "Optional. The type of disk provisioning to use for the VM."
        }
      },
      "id": "BootDiskDefaults",
      "description": "BootDiskDefaults hold information about the boot disk of a VM."
    },
    "ListDatacenterConnectorsResponse": {
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "datacenterConnectors": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DatacenterConnector"
          },
          "description": "Output only. The list of sources response."
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ListDatacenterConnectorsResponse"
    },
    "ComputeEngineDisksTargetDefaults": {
      "id": "ComputeEngineDisksTargetDefaults",
      "type": "object",
      "properties": {
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        },
        "disks": {
          "items": {
            "$ref": "PersistentDiskDefaults"
          },
          "type": "array",
          "description": "The details of each Persistent Disk to create."
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        },
        "vmTargetDefaults": {
          "$ref": "DisksMigrationVmTargetDefaults",
          "description": "Details of the VM migration target."
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the Persistent Disks."
        }
      },
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project."
    },
    "ExtendMigrationRequest": {
      "properties": {},
      "id": "ExtendMigrationRequest",
      "type": "object",
      "description": "Request message for 'ExtendMigrationRequest' request."
    },
    "CutoverJob": {
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "properties": {
        "name": {
          "description": "Output only. The name of the cutover job.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the cutover job."
        },
        "stateMessage": {
          "description": "Output only. A message providing possible extra details about the current state.",
          "type": "string",
          "readOnly": true
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails",
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "targetDetails": {
          "deprecated": true,
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "readOnly": true
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The cutover steps list representing its progress.",
          "items": {
            "$ref": "CutoverStep"
          }
        },
        "stateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the state was last updated.",
          "readOnly": true
        },
        "computeEngineDisksTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "progressPercent": {
          "type": "integer",
          "description": "Output only. The current progress in percentage of the cutover job.",
          "format": "int32",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the cutover job had finished."
        },
        "createTime": {
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "progress": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true,
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "computeEngineVmDetails": {
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "deprecated": true
        }
      },
      "id": "CutoverJob",
      "type": "object"
    },
    "ComputeEngineTargetDetails": {
      "properties": {
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "description": "The disk type to use in the VM."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM.",
          "type": "array"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "description": "The license type to use in OS adaptation.",
          "type": "string"
        },
        "bootConversion": {
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "project": {
          "type": "string",
          "description": "The Google Cloud target project ID or project name."
        },
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "description": "The VM Boot Option, as set in the source VM.",
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "additionalLicenses": {
          "description": "Additional licenses to assign to the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "diskReplicaZones": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "type": "array"
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "metadata": {
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM disks."
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array",
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM.",
          "type": "array"
        }
      },
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "type": "object",
      "id": "ComputeEngineTargetDetails"
    },
    "InstantiatingMigratedVMStep": {
      "properties": {},
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object",
      "id": "InstantiatingMigratedVMStep"
    },
    "ListUtilizationReportsResponse": {
      "id": "ListUtilizationReportsResponse",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "utilizationReports": {
          "items": {
            "$ref": "UtilizationReport"
          },
          "description": "Output only. The list of reports.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for 'ListUtilizationReports' request.",
      "type": "object"
    },
    "PostProcessingStep": {
      "description": "PostProcessingStep contains specific step details.",
      "type": "object",
      "id": "PostProcessingStep",
      "properties": {}
    },
    "CancelCloneJobRequest": {
      "properties": {},
      "description": "Request message for 'CancelCloneJob' request.",
      "type": "object",
      "id": "CancelCloneJobRequest"
    },
    "DatacenterConnector": {
      "type": "object",
      "id": "DatacenterConnector",
      "properties": {
        "applianceInfrastructureVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance."
        },
        "stateTime": {
          "readOnly": true,
          "description": "Output only. The time the state was last set.",
          "type": "string",
          "format": "google-datetime"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to use in the connector when communicating with the cloud."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ]
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The connector's name.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "type": "string"
        },
        "bucket": {
          "type": "string",
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud.",
          "readOnly": true
        },
        "version": {
          "type": "string",
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified."
        },
        "availableVersions": {
          "$ref": "AvailableUpdates",
          "description": "Output only. The available versions for updating this appliance.",
          "readOnly": true
        },
        "upgradeStatus": {
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "readOnly": true,
          "$ref": "UpgradeStatus"
        },
        "applianceSoftwareVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance."
        },
        "error": {
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time the connector was updated with an API call.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer."
    },
    "InitializingReplicationStep": {
      "id": "InitializingReplicationStep",
      "type": "object",
      "properties": {},
      "description": "InitializingReplicationStep contains specific step details."
    },
    "NetworkInterface": {
      "description": "NetworkInterface represents a NIC of a VM.",
      "type": "object",
      "id": "NetworkInterface",
      "properties": {
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        },
        "subnetwork": {
          "type": "string",
          "description": "Optional. The subnetwork to connect the NIC to."
        },
        "networkTier": {
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ],
          "type": "string",
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ]
        },
        "internalIp": {
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        }
      }
    },
    "ListSourcesResponse": {
      "type": "object",
      "description": "Response message for 'ListSources' request.",
      "id": "ListSourcesResponse",
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "Output only. The list of sources response.",
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "ListCloneJobsResponse": {
      "id": "ListCloneJobsResponse",
      "type": "object",
      "description": "Response message for 'ListCloneJobs' request.",
      "properties": {
        "cloneJobs": {
          "readOnly": true,
          "description": "Output only. The list of clone jobs response.",
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "id": "OperationMetadata"
    },
    "VmwareSourceDetails": {
      "id": "VmwareSourceDetails",
      "type": "object",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The credentials username."
        },
        "thumbprint": {
          "description": "The thumbprint representing the certificate for the vcenter.",
          "type": "string"
        },
        "vcenterIp": {
          "description": "The ip address of the vcenter this Source represents.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        }
      }
    },
    "AccessKeyCredentials": {
      "description": "Message describing AWS Credentials using access key id and secret.",
      "type": "object",
      "properties": {
        "sessionToken": {
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials.",
          "type": "string"
        },
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "accessKeyId": {
          "type": "string",
          "description": "AWS access key ID."
        }
      },
      "id": "AccessKeyCredentials"
    },
    "DiskImageTargetDetails": {
      "id": "DiskImageTargetDetails",
      "type": "object",
      "description": "The target details of the image resource that will be created by the import job.",
      "properties": {
        "dataDiskImageImport": {
          "$ref": "DataDiskImageImport",
          "description": "Optional. Use to skip OS adaptation process."
        },
        "imageName": {
          "description": "Required. The name of the image to be created.",
          "type": "string"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created.",
          "type": "string"
        },
        "familyName": {
          "type": "string",
          "description": "Optional. The name of the image family to which the new image belongs."
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the image."
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the image."
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the image."
        }
      }
    },
    "CloneStep": {
      "id": "CloneStep",
      "description": "CloneStep holds information about the clone step progress.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the step has ended."
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the step has started.",
          "type": "string"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        }
      },
      "type": "object"
    },
    "TargetVMDetails": {
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "deprecated": true,
      "id": "TargetVMDetails",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "internalIp": {
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "type": "string"
        },
        "network": {
          "type": "string",
          "description": "The network to connect the VM to."
        },
        "diskType": {
          "type": "string",
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD",
            "HYPERDISK_BALANCED",
            "HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array",
          "description": "List of NICs connected to this VM."
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "project": {
          "deprecated": true,
          "description": "Output only. The project in which to create the VM.",
          "readOnly": true,
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of network tags to associate with the VM."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "subnetwork": {
          "description": "The subnetwork to connect the VM to.",
          "type": "string"
        },
        "externalIp": {
          "type": "string",
          "description": "The external IP to define in the VM."
        },
        "labels": {
          "type": "object",
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "appliedLicense": {
          "readOnly": true,
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report."
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        }
      }
    },
    "InitializingImageImportStep": {
      "properties": {},
      "description": "InitializingImageImportStep contains specific step details.",
      "id": "InitializingImageImportStep",
      "type": "object"
    },
    "AwsDiskDetails": {
      "id": "AwsDiskDetails",
      "properties": {
        "sizeGb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "format": "int64"
        },
        "volumeId": {
          "description": "Output only. AWS volume ID.",
          "type": "string",
          "readOnly": true
        },
        "diskNumber": {
          "readOnly": true,
          "description": "Output only. The ordinal number of the disk.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The details of an AWS instance disk."
    },
    "ShieldedInstanceConfig": {
      "properties": {
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI."
        },
        "secureBoot": {
          "type": "string",
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        }
      },
      "type": "object",
      "id": "ShieldedInstanceConfig",
      "description": "Shielded instance configuration."
    },
    "ImageImportJob": {
      "properties": {
        "createdResources": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The resource paths of the resources created by the image import job."
        },
        "errors": {
          "type": "array",
          "description": "Output only. Provides details on the error that led to the image import state in case of an error.",
          "readOnly": true,
          "items": {
            "$ref": "Status"
          }
        },
        "warnings": {
          "type": "array",
          "description": "Output only. Warnings that occurred during the image import.",
[...]
