{
  "canonicalName": "VM Migration Service",
  "discoveryVersion": "v1",
  "revision": "20260312",
  "title": "VM Migration API",
  "fullyEncodeReservedExpansion": true,
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "schemas": {
    "VmwareVmDetails": {
      "type": "object",
      "properties": {
        "memoryMb": {
          "description": "The size of the memory of the VM in MB.",
          "type": "integer",
          "format": "int32"
        },
        "bootOption": {
          "type": "string",
          "description": "Output only. The VM Boot Option.",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true
        },
        "guestDescription": {
          "type": "string",
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold."
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "diskCount": {
          "type": "integer",
          "description": "The number of disks the VM has.",
          "format": "int32"
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "committedStorageMb": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64"
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ]
        },
        "cpuCount": {
          "description": "The number of cpus in the VM.",
          "type": "integer",
          "format": "int32"
        },
        "architecture": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        }
      },
      "id": "VmwareVmDetails",
      "description": "VmwareVmDetails describes a VM in vCenter."
    },
    "Operation": {
      "id": "Operation",
      "properties": {
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "CutoverForecast": {
      "id": "CutoverForecast",
      "type": "object",
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "properties": {
        "estimatedCutoverJobDuration": {
          "format": "google-duration",
          "type": "string",
          "readOnly": true,
          "description": "Output only. Estimation of the CutoverJob duration."
        }
      }
    },
    "PreparingVMDisksStep": {
      "description": "PreparingVMDisksStep contains specific step details.",
      "id": "PreparingVMDisksStep",
      "type": "object",
      "properties": {}
    },
    "ImageImport": {
      "properties": {
        "recentImageImportJobs": {
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          },
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource path of the ImageImport."
        },
        "diskImageTargetDefaults": {
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob.",
          "$ref": "DiskImageTargetDetails"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine."
        },
        "createTime": {
          "description": "Output only. The time the image import was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        },
        "cloudStorageUri": {
          "type": "string",
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported."
        }
      },
      "description": "ImageImport describes the configuration of the image import to run.",
      "id": "ImageImport",
      "type": "object"
    },
    "ListDatacenterConnectorsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "datacenterConnectors": {
          "readOnly": true,
          "description": "Output only. The list of sources response.",
          "items": {
            "$ref": "DatacenterConnector"
          },
          "type": "array"
        }
      },
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "id": "ListDatacenterConnectorsResponse"
    },
    "DisksMigrationVmTargetDetails": {
      "id": "DisksMigrationVmTargetDetails",
      "description": "Details for the VM created VM as part of disks migration.",
      "type": "object",
      "properties": {
        "vmUri": {
          "readOnly": true,
          "description": "Output only. The URI of the Compute Engine VM.",
          "type": "string"
        }
      }
    },
    "AddGroupMigrationRequest": {
      "description": "Request message for 'AddGroupMigration' request.",
      "id": "AddGroupMigrationRequest",
      "type": "object",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      }
    },
    "VmUtilizationMetrics": {
      "type": "object",
      "description": "Utilization metrics values for a single VM.",
      "properties": {
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "cpuMaxPercent": {
          "description": "Max CPU usage, percent.",
          "type": "integer",
          "format": "int32"
        },
        "cpuAveragePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Average CPU usage, percent."
        },
        "memoryAveragePercent": {
          "type": "integer",
          "description": "Average memory usage, percent.",
          "format": "int32"
        },
        "memoryMaxPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Max memory usage, percent."
        },
        "networkThroughputMaxKbps": {
          "format": "int64",
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "networkThroughputAverageKbps": {
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string",
          "format": "int64"
        },
        "diskIoRateMaxKbps": {
          "type": "string",
          "description": "Max disk IO rate, in kilobytes per second.",
          "format": "int64"
        }
      },
      "id": "VmUtilizationMetrics"
    },
    "MigratingVm": {
      "type": "object",
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "id": "MigratingVm",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "description": "Output only. The last time the migrating VM resource was updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "expiration": {
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "readOnly": true,
          "$ref": "Expiration"
        },
        "recentCloneJobs": {
          "readOnly": true,
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "vmwareSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from a Vmware source.",
          "$ref": "VmwareSourceVmDetails"
        },
        "policy": {
          "$ref": "SchedulePolicy",
          "description": "The replication schedule policy."
        },
        "labels": {
          "description": "The labels of the migrating VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "description": "Output only. State of the MigratingVm.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ]
        },
        "group": {
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "readOnly": true,
          "type": "string"
        },
        "currentSyncInfo": {
          "readOnly": true,
          "description": "Output only. Details of the current running replication cycle.",
          "$ref": "ReplicationCycle"
        },
        "name": {
          "type": "string",
          "description": "Output only. The identifier of the MigratingVm.",
          "readOnly": true
        },
        "sourceVmId": {
          "type": "string",
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-."
        },
        "lastReplicationCycle": {
          "$ref": "ReplicationCycle",
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "readOnly": true
        },
        "description": {
          "description": "The description attached to the migrating VM by the user.",
          "type": "string"
        },
        "cutoverForecast": {
          "readOnly": true,
          "$ref": "CutoverForecast",
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable."
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication."
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time the migrating VM state was updated."
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "type": "string",
          "format": "google-datetime"
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "recentCutoverJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "items": {
            "$ref": "CutoverJob"
          }
        },
        "computeEngineDisksTargetDefaults": {
          "$ref": "ComputeEngineDisksTargetDefaults",
          "description": "Details of the target Persistent Disks in Compute Engine."
        },
        "awsSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from an AWS source.",
          "$ref": "AwsSourceVmDetails"
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        },
        "lastSync": {
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "$ref": "ReplicationSync",
          "readOnly": true
        },
        "azureSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from an Azure source.",
          "$ref": "AzureSourceVmDetails"
        }
      }
    },
    "VmAttachmentDetails": {
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      },
      "id": "VmAttachmentDetails",
      "description": "Details for attachment of the disk to a VM.",
      "type": "object"
    },
    "AwsSourceDetails": {
      "id": "AwsSourceDetails",
      "type": "object",
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "properties": {
        "inventoryTagList": {
          "items": {
            "$ref": "Tag"
          },
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "type": "array"
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true
        },
        "publicIp": {
          "readOnly": true,
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "type": "string"
        },
        "inventorySecurityGroupNames": {
          "type": "array",
          "description": "AWS security group names to limit the scope of the source inventory.",
          "items": {
            "type": "string"
          }
        },
        "migrationResourcesUserTags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`."
        },
        "awsRegion": {
          "type": "string",
          "description": "Immutable. The AWS region that the source VMs will be migrated from."
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "accessKeyCreds": {
          "description": "AWS Credentials using access key id and secret.",
          "$ref": "AccessKeyCredentials"
        }
      }
    },
    "MachineImageTargetDetails": {
      "type": "object",
      "id": "MachineImageTargetDetails",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the machine image."
        },
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "type": "array"
        },
        "machineImageParametersOverrides": {
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations.",
          "$ref": "MachineImageParametersOverrides"
        },
        "encryption": {
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "osAdaptationParameters": {
          "$ref": "ImageImportOsAdaptationParameters",
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process."
        },
        "serviceAccount": {
          "description": "Optional. The service account to assign to the instance created by the machine image.",
          "$ref": "ServiceAccount"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "$ref": "ShieldedInstanceConfig",
          "description": "Optional. Shielded instance configuration."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "type": "array"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The labels to apply to the instance created by the machine image.",
          "type": "object"
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "machineImageName": {
          "type": "string",
          "description": "Required. The name of the machine image to be created."
        }
      },
      "description": "The target details of the machine image resource that will be created by the image import job."
    },
    "ImageImportJob": {
      "description": "ImageImportJob describes the progress and result of an image import.",
      "properties": {
        "createdResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The resource paths of the resources created by the image import job."
        },
        "name": {
          "description": "Output only. The resource path of the ImageImportJob.",
          "readOnly": true,
          "type": "string"
        },
        "steps": {
          "description": "Output only. The image import steps list representing its progress.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "ImageImportStep"
          }
        },
        "endTime": {
          "type": "string",
          "description": "Output only. The time the image import was ended.",
          "format": "google-datetime",
          "readOnly": true
        },
        "warnings": {
          "items": {
            "$ref": "MigrationWarning"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. Warnings that occurred during the image import."
        },
        "machineImageTargetDetails": {
          "description": "Output only. Target details used to import a machine image.",
          "readOnly": true,
          "$ref": "MachineImageTargetDetails"
        },
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target)."
        },
        "diskImageTargetDetails": {
          "readOnly": true,
          "description": "Output only. Target details used to import a disk image.",
          "$ref": "DiskImageTargetDetails"
        },
        "errors": {
          "readOnly": true,
          "description": "Output only. Provides details on the error that led to the image import state in case of an error.",
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The state of the image import."
        },
        "cloudStorageUri": {
          "type": "string",
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported.",
          "readOnly": true
        }
      },
      "id": "ImageImportJob",
      "type": "object"
    },
    "FetchInventoryResponse": {
      "properties": {
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        },
        "azureVms": {
          "description": "The description of the VMs in a Source of type Azure.",
          "$ref": "AzureVmsDetails"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache)."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        },
        "awsVms": {
          "$ref": "AwsVmsDetails",
          "description": "The description of the VMs in a Source of type AWS."
        }
      },
      "type": "object",
      "description": "Response message for fetchInventory.",
      "id": "FetchInventoryResponse"
    },
    "ServiceAccount": {
      "description": "Service account to assign to the instance created by the machine image.",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address of the service account."
        },
        "scopes": {
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of scopes to be made available for this service account.",
          "type": "array"
        }
      },
      "id": "ServiceAccount",
      "type": "object"
    },
    "ListImageImportJobsResponse": {
      "properties": {
        "imageImportJobs": {
          "readOnly": true,
          "description": "Output only. The list of target response.",
          "items": {
            "$ref": "ImageImportJob"
          },
          "type": "array"
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListImageImportJobs' call.",
      "id": "ListImageImportJobsResponse",
      "type": "object"
    },
    "CutoverStep": {
      "type": "object",
      "description": "CutoverStep holds information about the cutover step progress.",
      "id": "CutoverStep",
      "properties": {
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the step has started."
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the step has ended."
        },
        "previousReplicationCycle": {
          "$ref": "ReplicationCycle",
          "description": "A replication cycle prior cutover step."
        },
        "finalSync": {
          "description": "Final sync step.",
          "$ref": "ReplicationCycle"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        }
      }
    },
    "DisksMigrationDisksTargetDefaults": {
      "description": "Details for a disk only migration.",
      "properties": {},
      "id": "DisksMigrationDisksTargetDefaults",
      "type": "object"
    },
    "FetchStorageInventoryResponse": {
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "resources": {
          "items": {
            "$ref": "SourceStorageResource"
          },
          "description": "The list of storage resources in the source.",
          "type": "array"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "readOnly": true
        }
      },
      "id": "FetchStorageInventoryResponse",
      "type": "object",
      "description": "Response message for fetchStorageInventory."
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "description": "The details of the AWS VMs.",
          "items": {
            "$ref": "AwsVmDetails"
          },
          "type": "array"
        }
      },
      "description": "AWSVmsDetails describes VMs in AWS."
    },
    "FinalizeMigrationRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for 'FinalizeMigration' request.",
      "id": "FinalizeMigrationRequest"
    },
    "CancelImageImportJobRequest": {
      "description": "Request message for 'CancelImageImportJob' request.",
      "type": "object",
      "properties": {},
      "id": "CancelImageImportJobRequest"
    },
    "Expiration": {
      "id": "Expiration",
      "type": "object",
      "properties": {
        "expireTime": {
          "format": "google-datetime",
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "readOnly": true,
          "type": "string"
        },
        "extensionCount": {
          "format": "int32",
          "description": "Output only. The number of times expiration was extended.",
          "readOnly": true,
          "type": "integer"
        },
        "extendable": {
          "description": "Output only. Describes whether the expiration can be extended.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "Expiration holds information about the expiration of a MigratingVm."
    },
    "Group": {
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms.",
      "properties": {
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the group."
        },
        "updateTime": {
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The Group name.",
          "type": "string",
          "readOnly": true
        },
        "migrationTargetType": {
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "type": "string",
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "description": "Immutable. The target type of this group."
        }
      },
      "id": "Group",
      "type": "object"
    },
    "MigrationError": {
      "type": "object",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "id": "MigrationError",
      "properties": {
        "actionItem": {
          "description": "Output only. Suggested action for solving the error.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "errorMessage": {
          "description": "Output only. The localized error message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "code": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "type": "string",
          "description": "Output only. The error code.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ],
          "readOnly": true
        },
        "errorTime": {
          "type": "string",
          "description": "Output only. The time the error occurred.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "helpLinks": {
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Link"
          }
        }
      }
    },
    "CancelCloneJobRequest": {
      "properties": {},
      "description": "Request message for 'CancelCloneJob' request.",
      "id": "CancelCloneJobRequest",
      "type": "object"
    },
    "RemoveGroupMigrationRequest": {
      "id": "RemoveGroupMigrationRequest",
      "type": "object",
      "description": "Request message for 'RemoveMigration' request.",
      "properties": {
        "migratingVm": {
          "description": "The MigratingVm to remove.",
          "type": "string"
        }
      }
    },
    "DiskImageDefaults": {
      "id": "DiskImageDefaults",
      "type": "object",
      "description": "Contains details about the image source used to create the disk.",
      "properties": {
        "sourceImage": {
          "type": "string",
          "description": "Required. The Image resource used when creating the disk."
        }
      }
    },
    "CancelCutoverJobRequest": {
      "properties": {},
      "id": "CancelCutoverJobRequest",
      "description": "Request message for 'CancelCutoverJob' request.",
      "type": "object"
    },
    "MigrationWarning": {
      "properties": {
        "code": {
          "description": "The warning code.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ],
          "type": "string",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ]
        },
        "actionItem": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. Suggested action for solving the warning."
        },
        "helpLinks": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "readOnly": true
        },
        "warningTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the warning occurred."
        },
        "warningMessage": {
          "readOnly": true,
          "description": "Output only. The localized warning message.",
          "$ref": "LocalizedMessage"
        }
      },
      "id": "MigrationWarning",
      "type": "object",
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations."
    },
    "VmwareSourceVmDetails": {
      "type": "object",
      "properties": {
        "committedStorageBytes": {
          "format": "int64",
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "readOnly": true
        },
        "vmCapabilitiesInfo": {
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "$ref": "VmCapabilities"
        },
        "firmware": {
          "readOnly": true,
          "description": "Output only. The firmware type of the source VM.",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "architecture": {
          "type": "string",
          "readOnly": true,
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The VM architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "disks": {
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "type": "array",
          "description": "Output only. The disks attached to the source VM.",
          "readOnly": true
        }
      },
      "id": "VmwareSourceVmDetails",
      "description": "Represent the source Vmware VM details."
    },
    "TargetProject": {
      "description": "TargetProject message represents a target Compute Engine project for a migration or a clone.",
      "type": "object",
      "properties": {
        "createTime": {
          "description": "Output only. The time this target project resource was created (not related to when the Compute Engine project it points to was created).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. The last time the target project resource was updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "project": {
          "type": "string",
          "description": "Required. The target project ID (number) or project name."
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the target project.",
          "readOnly": true
        },
        "description": {
          "description": "The target project's description.",
          "type": "string"
        }
      },
      "id": "TargetProject"
    },
    "PersistentDisk": {
      "type": "object",
      "properties": {
        "diskUri": {
          "type": "string",
          "description": "The URI of the Persistent Disk."
        },
        "sourceDiskNumber": {
          "type": "integer",
          "format": "int32",
          "description": "The ordinal number of the source VM disk."
        }
      },
      "description": "Details of a created Persistent Disk.",
      "id": "PersistentDisk"
    },
    "ExtendMigrationRequest": {
      "properties": {},
      "id": "ExtendMigrationRequest",
      "type": "object",
      "description": "Request message for 'ExtendMigrationRequest' request."
    },
    "AzureSourceDetails": {
      "id": "AzureSourceDetails",
      "type": "object",
      "description": "AzureSourceDetails message describes a specific source details for the Azure source type.",
      "properties": {
        "azureLocation": {
          "description": "Immutable. The Azure location (region) that the source VMs will be migrated from.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "readOnly": true
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in Azure. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m4ce` or `m2vm`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "clientSecretCreds": {
          "description": "Azure Credentials using tenant ID, client ID and secret.",
          "$ref": "ClientSecretCredentials"
        },
        "resourceGroupId": {
          "readOnly": true,
          "description": "Output only. The ID of the Azure resource group that contains all resources related to the migration process of this source.",
          "type": "string"
        },
        "subscriptionId": {
          "description": "Immutable. Azure subscription ID.",
          "type": "string"
        }
      }
    },
    "ReplicationSync": {
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "id": "ReplicationSync",
      "type": "object",
      "properties": {
        "lastSyncTime": {
          "description": "The most updated snapshot created time in the source that finished replication.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'StartMigrationRequest' request."
    },
    "ComputeEngineTargetDefaults": {
      "id": "ComputeEngineTargetDefaults",
      "properties": {
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM.",
          "type": "object"
        },
        "bootConversion": {
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "readOnly": true,
          "type": "string"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string",
          "description": "The disk type to use in the VM."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "targetProject": {
          "type": "string",
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM."
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "diskReplicaZones": {
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "items": {
            "type": "string"
          }
        },
        "storagePool": {
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "Output only. The OS license returned from the adaptation module report.",
          "readOnly": true
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "licenseType": {
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation.",
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "adaptationModifiers": {
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array",
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation."
        },
        "additionalLicenses": {
          "type": "array",
          "description": "Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          }
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM."
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI."
        }
      },
      "type": "object",
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project."
    },
    "AwsSourceDiskDetails": {
      "description": "Represents the source AWS Disk details.",
      "type": "object",
      "properties": {
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Output only. A map of AWS volume tags.",
          "type": "object",
          "readOnly": true
        },
        "volumeId": {
          "type": "string",
          "description": "Required. AWS volume ID."
        },
        "sizeGib": {
          "type": "string",
          "readOnly": true,
          "format": "int64",
          "description": "Output only. Size in GiB."
        },
        "diskType": {
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "type": "string",
          "description": "Optional. Output only. Disk type."
        }
      },
      "id": "AwsSourceDiskDetails"
    },
    "ComputeEngineDisk": {
      "type": "object",
      "description": "Compute Engine disk target details.",
      "properties": {
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported."
        },
        "zone": {
          "type": "string",
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "Required. The disk type to use.",
          "type": "string"
        },
        "diskId": {
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk.",
          "type": "string"
        }
      },
      "id": "ComputeEngineDisk"
    },
    "ReplicationCycle": {
      "properties": {
        "state": {
          "description": "State of the ReplicationCycle.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the cycle in case of an error.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "The identifier of the ReplicationCycle."
        },
        "cycleNumber": {
          "description": "The cycle's ordinal number.",
          "type": "integer",
          "format": "int32"
        },
        "steps": {
          "items": {
            "$ref": "CycleStep"
          },
          "description": "The cycle's steps list representing its progress.",
          "type": "array"
        },
        "progressPercent": {
          "format": "int32",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "type": "integer",
          "deprecated": true
        },
        "startTime": {
          "description": "The time the replication cycle has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalPauseDuration": {
          "description": "The accumulated duration the replication cycle was paused.",
          "format": "google-duration",
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "MigrationWarning"
          },
          "description": "Output only. Warnings that occurred during the cycle."
        },
        "endTime": {
          "type": "string",
          "description": "The time the replication cycle has ended.",
          "format": "google-datetime"
        }
      },
      "id": "ReplicationCycle",
      "type": "object",
      "description": "ReplicationCycle contains information about the current replication cycle status."
    },
    "ListGroupsResponse": {
      "type": "object",
      "id": "ListGroupsResponse",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "groups": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Group"
          },
          "description": "Output only. The list of groups response."
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for 'ListGroups' request."
    },
    "AzureVmsDetails": {
      "id": "AzureVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "description": "The details of the Azure VMs.",
          "items": {
            "$ref": "AzureVmDetails"
          },
          "type": "array"
        }
      },
      "description": "AzureVmsDetails describes VMs in Azure."
    },
    "ListCutoverJobsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "cutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "description": "Output only. The list of cutover jobs response.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "Response message for 'ListCutoverJobs' request.",
      "type": "object",
      "id": "ListCutoverJobsResponse"
    },
    "ShieldedInstanceConfig": {
      "properties": {
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI."
        },
        "secureBoot": {
          "type": "string",
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ]
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        }
      },
      "description": "Shielded instance configuration.",
      "type": "object",
      "id": "ShieldedInstanceConfig"
    },
    "CancelOperationRequest": {
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "id": "CancelOperationRequest"
    },
    "CopyingSourceDiskSnapshotStep": {
      "properties": {},
      "type": "object",
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "id": "CopyingSourceDiskSnapshotStep"
    },
    "NetworkInterface": {
      "description": "NetworkInterface represents a NIC of a VM.",
      "type": "object",
      "properties": {
        "externalIp": {
          "type": "string",
          "description": "Optional. The external IP to define in the NIC."
        },
        "internalIp": {
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        },
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "networkTier": {
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ],
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ]
        }
      },
      "id": "NetworkInterface"
    },
    "OSDescription": {
      "properties": {
        "type": {
          "type": "string",
          "description": "OS type."
        },
        "plan": {
          "type": "string",
          "description": "OS plan."
        },
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        },
        "offer": {
          "description": "OS offer.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable.",
      "id": "OSDescription"
    },
    "LocalizedMessage": {
      "type": "object",
      "id": "LocalizedMessage",
      "description": "Provides a localized error message that is safe to return to the user which can be attached to an RPC error.",
      "properties": {
        "locale": {
          "type": "string",
          "description": "The locale used following the specification defined at https://www.rfc-editor.org/rfc/bcp/bcp47.txt. Examples are: \"en-US\", \"fr-CH\", \"es-MX\""
        },
        "message": {
          "description": "The localized error message in the above locale.",
          "type": "string"
        }
      }
    },
    "ClientSecretCredentials": {
      "id": "ClientSecretCredentials",
      "properties": {
        "tenantId": {
          "type": "string",
          "description": "Azure tenant ID."
        },
        "clientSecret": {
          "description": "Input only. Azure client secret.",
          "type": "string"
        },
        "clientId": {
          "type": "string",
          "description": "Azure client ID."
        }
      },
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "type": "object"
    },
    "VmCapabilities": {
      "properties": {
        "osCapabilities": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "items": {
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "type": "string",
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ]
          }
        },
        "lastOsCapabilitiesUpdateTime": {
          "description": "Output only. The last time OS capabilities list was updated.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "type": "object",
      "id": "VmCapabilities"
    },
    "InitializingReplicationStep": {
      "id": "InitializingReplicationStep",
      "description": "InitializingReplicationStep contains specific step details.",
      "properties": {},
      "type": "object"
    },
    "ListLocationsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "VmUtilizationInfo": {
      "description": "Utilization information of a single VM.",
      "properties": {
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        },
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        },
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        }
      },
      "id": "VmUtilizationInfo",
      "type": "object"
    },
    "AwsVmDetails": {
      "type": "object",
      "description": "AwsVmDetails describes a VM in AWS.",
      "properties": {
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "type": "string"
        },
        "osDescription": {
          "type": "string",
          "description": "The VM's OS."
        },
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The memory size of the VM in MB."
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "type": "string"
        },
        "virtualizationType": {
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ],
          "type": "string",
          "description": "The virtualization type.",
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ]
        },
        "displayName": {
          "type": "string",
          "description": "The display name of the VM. Note that this value is not necessarily unique."
        },
        "vmId": {
          "type": "string",
          "description": "The VM ID in AWS."
        },
        "committedStorageMb": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64"
        },
        "instanceType": {
          "description": "The instance type of the VM.",
          "type": "string"
        },
        "securityGroups": {
          "description": "The security groups the VM belongs to.",
          "type": "array",
          "items": {
            "$ref": "AwsSecurityGroup"
          }
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The tags of the VM."
        },
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has."
        },
        "vcpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has."
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ],
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "readOnly": true,
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "type": "string"
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of CPU cores the VM has.",
          "format": "int32"
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        }
      },
      "id": "AwsVmDetails"
    },
    "ComputeScheduling": {
      "properties": {
        "onHostMaintenance": {
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "type": "string"
        },
        "nodeAffinities": {
          "items": {
            "$ref": "SchedulingNodeAffinity"
          },
          "type": "array",
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes."
        },
        "restartType": {
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "type": "string",
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ]
        },
        "minNodeCpus": {
          "format": "int32",
          "type": "integer",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured."
        }
      },
      "id": "ComputeScheduling",
      "type": "object",
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance."
    },
    "AppliedLicense": {
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "properties": {
        "osLicense": {
          "type": "string",
          "description": "The OS license returned from the adaptation module's report."
        },
        "type": {
          "description": "The license type that was used in OS adaptation.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        }
      },
      "id": "AppliedLicense",
      "type": "object"
    },
    "AdaptingOSStep": {
      "description": "AdaptingOSStep contains specific step details.",
      "id": "AdaptingOSStep",
      "type": "object",
      "properties": {}
    },
    "SkipOsAdaptation": {
      "properties": {},
      "type": "object",
      "description": "Mentions that the machine image import is not using OS adaptation process.",
      "id": "SkipOsAdaptation"
    },
    "VmwareDiskDetails": {
      "properties": {
        "label": {
          "type": "string",
          "description": "Output only. The disk label.",
          "readOnly": true
        },
        "sizeGb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Size in GB.",
          "format": "int64"
        },
        "diskNumber": {
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "The details of a Vmware VM disk.",
      "id": "VmwareDiskDetails"
    },
    "CreatingSourceDiskSnapshotStep": {
      "id": "CreatingSourceDiskSnapshotStep",
      "type": "object",
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "properties": {}
    },
    "UpgradeApplianceRequest": {
      "id": "UpgradeApplianceRequest",
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Request message for 'UpgradeAppliance' request."
    },
    "CutoverJob": {
      "type": "object",
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "properties": {
        "computeEngineTargetDetails": {
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails",
          "description": "Output only. Details of the target VM in Compute Engine."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the cutover job had finished."
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "description": "Output only. State of the cutover job."
        },
        "steps": {
          "description": "Output only. The cutover steps list representing its progress.",
          "readOnly": true,
          "items": {
            "$ref": "CutoverStep"
          },
          "type": "array"
        },
        "progressPercent": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The current progress in percentage of the cutover job."
        },
        "stateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the state was last updated."
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "readOnly": true,
          "$ref": "Status"
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the cutover job."
        },
        "stateMessage": {
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "readOnly": true
        }
      },
      "id": "CutoverJob"
    },
    "PauseMigrationRequest": {
      "description": "Request message for 'PauseMigration' request.",
      "properties": {},
      "id": "PauseMigrationRequest",
      "type": "object"
    },
    "UtilizationReport": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The report unique name.",
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The time the state was last set.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "vms": {
          "description": "List of utilization information per VM. When sent as part of the request, the \"vm_id\" field is used in order to specify which VMs to include in the report. In that case all other fields are ignored.",
          "type": "array",
          "items": {
            "$ref": "VmUtilizationInfo"
          }
        },
        "displayName": {
          "type": "string",
          "description": "The report display name, as assigned by the user."
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the report was created (this refers to the time of the request, not the time the report creation completed)."
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the report.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unknown. This value is not in use.",
            "The report is in the making.",
            "Report creation completed successfully.",
            "Report creation failed."
          ]
        },
        "error": {
          "description": "Output only. Provides details on the state of the report in case of an error.",
          "readOnly": true,
          "$ref": "Status"
        },
        "frameEndTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The point in time when the time frame ends. Notice that the time frame is counted backwards. For instance if the \"frame_end_time\" value is 2021/01/20 and the time frame is WEEK then the report covers the week between 2021/01/20 and 2021/01/14."
        },
        "timeFrame": {
          "enum": [
            "TIME_FRAME_UNSPECIFIED",
            "WEEK",
            "MONTH",
            "YEAR"
          ],
          "description": "Time frame of the report.",
          "type": "string",
          "enumDescriptions": [
            "The time frame was not specified and will default to WEEK.",
            "One week.",
            "One month.",
            "One year."
          ]
        },
        "vmCount": {
          "type": "integer",
          "readOnly": true,
          "description": "Output only. Total number of VMs included in the report.",
          "format": "int32"
        }
      },
      "description": "Utilization report details the utilization (CPU, memory, etc.) of selected source VMs.",
      "id": "UtilizationReport",
      "type": "object"
    },
    "InstantiatingMigratedVMStep": {
      "type": "object",
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "id": "InstantiatingMigratedVMStep",
      "properties": {}
    },
    "ComputeEngineTargetDetails": {
      "id": "ComputeEngineTargetDetails",
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "type": "object",
      "properties": {
        "appliedLicense": {
          "$ref": "AppliedLicense",
          "description": "The OS license returned from the adaptation module report."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "zone": {
          "type": "string",
          "description": "The zone in which to create the VM."
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "diskReplicaZones": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "type": "array"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account to associate the VM with."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM.",
          "type": "array"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "description": "The VM Boot Option, as set in the source VM.",
          "type": "string"
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
        },
        "adaptationModifiers": {
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "bootConversion": {
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ]
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "description": "The disk type to use in the VM."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM.",
          "type": "array"
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled."
        },
        "additionalLicenses": {
          "type": "array",
          "description": "Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          }
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        }
      }
    },
    "ListReplicationCyclesResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "replicationCycles": {
          "type": "array",
          "items": {
            "$ref": "ReplicationCycle"
          },
          "description": "Output only. The list of replication cycles response.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListReplicationCycles' request.",
      "id": "ListReplicationCyclesResponse"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "Encryption": {
      "id": "Encryption",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      },
      "description": "Encryption message describes the details of the applied encryption.",
      "type": "object"
    },
    "ListSourcesResponse": {
      "type": "object",
      "id": "ListSourcesResponse",
      "description": "Response message for 'ListSources' request.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        },
        "sources": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "Source"
          },
          "description": "Output only. The list of sources response."
        }
      }
    },
    "PostProcessingStep": {
      "properties": {},
      "id": "PostProcessingStep",
      "type": "object",
[...]
