{
  "servicePath": "",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://vmmigration.mtls.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "rootUrl": "https://vmmigration.googleapis.com/",
  "revision": "20260305",
  "id": "vmmigration:v1alpha1",
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    }
  },
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "baseUrl": "https://vmmigration.googleapis.com/",
  "version_module": true,
  "title": "VM Migration API",
  "name": "vmmigration",
  "version": "v1alpha1",
  "batchPath": "batch",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "discoveryVersion": "v1",
  "schemas": {
    "CopyingSourceDiskSnapshotStep": {
      "id": "CopyingSourceDiskSnapshotStep",
      "type": "object",
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "properties": {}
    },
    "AzureDiskDetails": {
      "id": "AzureDiskDetails",
      "properties": {
        "sizeGb": {
          "type": "string",
          "description": "Output only. Size in GB.",
          "readOnly": true,
          "format": "int64"
        },
        "diskNumber": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. The ordinal number of the disk.",
          "readOnly": true
        },
        "diskId": {
          "readOnly": true,
          "description": "Output only. Azure disk ID.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "The details of an Azure VM disk."
    },
    "SchedulePolicy": {
      "properties": {
        "idleDuration": {
          "format": "google-duration",
          "type": "string",
          "description": "The idle duration between replication stages."
        },
        "skipOsAdaptation": {
          "type": "boolean",
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine."
        }
      },
      "id": "SchedulePolicy",
      "type": "object",
      "description": "A policy for scheduling replications."
    },
    "OSDescription": {
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable.",
      "id": "OSDescription",
      "type": "object",
      "properties": {
        "offer": {
          "description": "OS offer.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "OS type."
        },
        "plan": {
          "description": "OS plan.",
          "type": "string"
        },
        "publisher": {
          "type": "string",
          "description": "OS publisher."
        }
      }
    },
    "ListCutoverJobsResponse": {
      "type": "object",
      "properties": {
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "cutoverJobs": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of cutover jobs response.",
          "items": {
            "$ref": "CutoverJob"
          }
        }
      },
      "id": "ListCutoverJobsResponse",
      "description": "Response message for 'ListCutoverJobs' request."
    },
    "CancelOperationRequest": {
      "type": "object",
      "properties": {},
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest"
    },
    "UpgradeStatus": {
      "type": "object",
      "properties": {
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "description": "The state of the upgradeAppliance operation.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "previousVersion": {
          "type": "string",
          "description": "The version from which we upgraded."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the operation was started.",
          "type": "string"
        },
        "error": {
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error.",
          "$ref": "Status",
          "readOnly": true
        }
      },
      "id": "UpgradeStatus",
      "description": "UpgradeStatus contains information about upgradeAppliance operation."
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "properties": {
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "description": "A resource that represents a Google Cloud location."
    },
    "DiskImageTargetDetails": {
      "type": "object",
      "id": "DiskImageTargetDetails",
      "properties": {
        "encryption": {
          "description": "Immutable. The encryption to apply to the image.",
          "$ref": "Encryption"
        },
        "dataDiskImageImport": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "DataDiskImageImport"
        },
        "osAdaptationParameters": {
          "$ref": "ImageImportOsAdaptationParameters",
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process."
        },
        "imageName": {
          "description": "Required. The name of the image to be created.",
          "type": "string"
        },
        "targetProject": {
          "type": "string",
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created."
        },
        "familyName": {
          "description": "Optional. The name of the image family to which the new image belongs.",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the image."
        },
        "additionalLicenses": {
          "description": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "singleRegionStorage": {
          "type": "boolean",
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
        },
        "labels": {
          "description": "Optional. A map of labels to associate with the image.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "The target details of the image resource that will be created by the import job."
    },
    "AppliedLicense": {
      "properties": {
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "description": "The license type that was used in OS adaptation.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ]
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      },
      "description": "AppliedLicense holds the license data returned by adaptation module report.",
      "id": "AppliedLicense",
      "type": "object"
    },
    "VmUtilizationMetrics": {
      "type": "object",
      "description": "Utilization metrics values for a single VM.",
      "id": "VmUtilizationMetrics",
      "properties": {
        "diskIoRateMax": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "networkThroughputAverage": {
          "deprecated": true,
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "memoryAverage": {
          "deprecated": true,
          "type": "integer",
          "description": "Average memory usage, percent.",
          "format": "int32"
        },
        "diskIoRateMaxKbps": {
          "type": "string",
          "format": "int64",
          "description": "Max disk IO rate, in kilobytes per second."
        },
        "memoryMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max memory usage, percent."
        },
        "cpuAverage": {
          "description": "Average CPU usage, percent.",
          "deprecated": true,
          "format": "int32",
          "type": "integer"
        },
        "networkThroughputMaxKbps": {
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "cpuAveragePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Average CPU usage, percent."
        },
        "diskIoRateAverage": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "networkThroughputAverageKbps": {
          "format": "int64",
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second."
        },
        "diskIoRateAverageKbps": {
          "format": "int64",
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string"
        },
        "memoryMax": {
          "format": "int32",
          "description": "Max memory usage, percent.",
          "deprecated": true,
          "type": "integer"
        },
        "cpuMax": {
          "deprecated": true,
          "type": "integer",
          "description": "Max CPU usage, percent.",
          "format": "int32"
        },
        "networkThroughputMax": {
          "type": "string",
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "deprecated": true,
          "format": "int64"
        },
        "cpuMaxPercent": {
          "format": "int32",
          "description": "Max CPU usage, percent.",
          "type": "integer"
        },
        "memoryAveragePercent": {
          "format": "int32",
          "description": "Average memory usage, percent.",
          "type": "integer"
        }
      }
    },
    "VmwareDiskDetails": {
      "properties": {
        "diskNumber": {
          "type": "integer",
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "readOnly": true
        },
        "sizeGb": {
          "format": "int64",
          "description": "Output only. Size in GB.",
          "readOnly": true,
          "type": "string"
        },
        "label": {
          "readOnly": true,
          "description": "Output only. The disk label.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VmwareDiskDetails",
      "description": "The details of a Vmware VM disk."
    },
    "MachineImageParametersOverrides": {
      "type": "object",
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      },
      "id": "MachineImageParametersOverrides"
    },
    "AwsSecurityGroup": {
      "id": "AwsSecurityGroup",
      "description": "AwsSecurityGroup describes a security group of an AWS VM.",
      "properties": {
        "id": {
          "description": "The AWS security group id.",
          "type": "string"
        },
        "name": {
          "description": "The AWS security group name.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CutoverForecast": {
      "id": "CutoverForecast",
      "properties": {
        "estimatedCutoverJobDuration": {
          "readOnly": true,
          "format": "google-duration",
          "type": "string",
          "description": "Output only. Estimation of the CutoverJob duration."
        }
      },
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "type": "object"
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "description": "AWSVmsDetails describes VMs in AWS.",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          },
          "description": "The details of the AWS VMs."
        }
      }
    },
    "CancelDiskMigrationJobRequest": {
      "properties": {},
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "type": "object",
      "id": "CancelDiskMigrationJobRequest"
    },
    "InstantiatingMigratedVMStep": {
      "properties": {},
      "id": "InstantiatingMigratedVMStep",
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object"
    },
    "FinalizeMigrationRequest": {
      "id": "FinalizeMigrationRequest",
      "description": "Request message for 'FinalizeMigration' request.",
      "type": "object",
      "properties": {}
    },
    "ListDatacenterConnectorsResponse": {
      "type": "object",
      "description": "Response message for 'ListDatacenterConnectors' request.",
      "properties": {
        "datacenterConnectors": {
          "type": "array",
          "items": {
            "$ref": "DatacenterConnector"
          },
          "description": "Output only. The list of sources response.",
          "readOnly": true
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListDatacenterConnectorsResponse"
    },
    "SourceStorageResource": {
      "properties": {
        "awsDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Source AWS volume details."
        }
      },
      "description": "SourceStorageResource describes a storage resource in the source.",
      "id": "SourceStorageResource",
      "type": "object"
    },
    "AdaptationModifier": {
      "description": "AdaptationModifier a modifier to be used for configuration of the OS adaptation process.",
      "type": "object",
      "id": "AdaptationModifier",
      "properties": {
        "value": {
          "description": "Optional. The value of the modifier. The actual value depends on the modifier and can also be empty.",
          "type": "string"
        },
        "modifier": {
          "description": "Optional. The modifier name.",
          "type": "string"
        }
      }
    },
    "ListImageImportsResponse": {
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "imageImports": {
          "description": "Output only. The list of target response.",
          "type": "array",
          "items": {
            "$ref": "ImageImport"
          },
          "readOnly": true
        }
      },
      "description": "Response message for 'ListImageImports' call.",
      "id": "ListImageImportsResponse",
      "type": "object"
    },
    "CancelImageImportJobRequest": {
      "description": "Request message for 'CancelImageImportJob' request.",
      "properties": {},
      "id": "CancelImageImportJobRequest",
      "type": "object"
    },
    "ListDiskMigrationJobsResponse": {
      "type": "object",
      "properties": {
        "diskMigrationJobs": {
          "items": {
            "$ref": "DiskMigrationJob"
          },
          "type": "array",
          "description": "Output only. The list of the disk migration jobs.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Optional. Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        }
      },
      "description": "Response message for 'ListDiskMigrationJobs' request.",
      "id": "ListDiskMigrationJobsResponse"
    },
    "MachineImageTargetDetails": {
      "properties": {
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "serviceAccount": {
          "$ref": "ServiceAccount",
          "description": "Optional. The service account to assign to the instance created by the machine image."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array",
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import."
        },
        "additionalLicenses": {
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "machineImageName": {
          "type": "string",
          "description": "Required. The name of the machine image to be created."
        },
        "tags": {
          "type": "array",
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "items": {
            "type": "string"
          }
        },
        "machineImageParametersOverrides": {
          "$ref": "MachineImageParametersOverrides",
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations."
        },
        "labels": {
          "description": "Optional. The labels to apply to the instance created by the machine image.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created.",
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key."
        },
        "description": {
          "description": "Optional. An optional description of the machine image.",
          "type": "string"
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded instance configuration.",
          "$ref": "ShieldedInstanceConfig"
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        }
      },
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "id": "MachineImageTargetDetails",
      "type": "object"
    },
    "ResumeMigrationRequest": {
      "properties": {},
      "description": "Request message for 'ResumeMigration' request.",
      "type": "object",
      "id": "ResumeMigrationRequest"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "target": {
          "readOnly": true,
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "DataDiskImageImport": {
      "properties": {
        "guestOsFeatures": {
          "type": "array",
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "DataDiskImageImport",
      "description": "Used when the image import is not using OS adaptation process.",
      "type": "object"
    },
    "ListCloneJobsResponse": {
      "properties": {
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "cloneJobs": {
          "description": "Output only. The list of clone jobs response.",
          "items": {
            "$ref": "CloneJob"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListCloneJobsResponse",
      "description": "Response message for 'ListCloneJobs' request."
    },
    "ExtendMigrationRequest": {
      "id": "ExtendMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'ExtendMigrationRequest' request."
    },
    "ReplicatingStep": {
      "description": "ReplicatingStep contains specific step details.",
      "properties": {
        "lastTwoMinutesAverageBytesPerSecond": {
          "description": "The source disks replication rate for the last 2 minutes in bytes per second.",
          "type": "string",
          "format": "int64"
        },
        "lastThirtyMinutesAverageBytesPerSecond": {
          "format": "int64",
          "type": "string",
          "description": "The source disks replication rate for the last 30 minutes in bytes per second."
        },
        "totalBytes": {
          "description": "Total bytes to be handled in the step.",
          "type": "string",
          "format": "int64"
        },
        "replicatedBytes": {
          "format": "int64",
          "type": "string",
          "description": "Replicated bytes in the step."
        }
      },
      "id": "ReplicatingStep",
      "type": "object"
    },
    "DiskMigrationJob": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the DiskMigrationJob.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ]
        },
        "targetDetails": {
          "description": "Required. Details of the target Disk in Compute Engine.",
          "$ref": "DiskMigrationJobTargetDetails"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The last time the DiskMigrationJob resource was updated."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the DiskMigrationJob resource was created.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob."
        },
        "steps": {
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The disk migration steps list representing its progress."
        },
        "awsSourceDiskDetails": {
          "$ref": "AwsSourceDiskDetails",
          "description": "Details of the unattached AWS source disk."
        }
      },
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached.",
      "id": "DiskMigrationJob"
    },
    "CancelCutoverJobRequest": {
      "type": "object",
      "description": "Request message for 'CancelCutoverJob' request.",
      "id": "CancelCutoverJobRequest",
      "properties": {}
    },
    "MigrationError": {
      "id": "MigrationError",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "type": "object",
      "properties": {
        "code": {
          "type": "string",
          "description": "Output only. The error code.",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ]
        },
        "actionItem": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. Suggested action for solving the error."
        },
        "errorTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the error occurred.",
          "type": "string"
        },
        "errorMessage": {
          "$ref": "LocalizedMessage",
          "readOnly": true,
          "description": "Output only. The localized error message."
        },
        "helpLinks": {
          "readOnly": true,
          "items": {
            "$ref": "Link"
          },
          "type": "array",
          "description": "Output only. URL(s) pointing to additional information on handling the current error."
        }
      }
    },
    "CreatingSourceDiskSnapshotStep": {
      "type": "object",
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "properties": {},
      "id": "CreatingSourceDiskSnapshotStep"
    },
    "VmwareVmsDetails": {
      "description": "VmwareVmsDetails describes VMs in vCenter.",
      "id": "VmwareVmsDetails",
      "properties": {
        "details": {
          "description": "The details of the vmware VMs.",
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CutoverStep": {
      "id": "CutoverStep",
      "properties": {
        "finalSync": {
          "description": "Final sync step.",
          "$ref": "ReplicationCycle"
        },
        "previousReplicationCycle": {
          "$ref": "ReplicationCycle",
          "description": "A replication cycle prior cutover step."
        },
        "shuttingDownSourceVm": {
          "description": "Shutting down VM step.",
          "$ref": "ShuttingDownSourceVMStep"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "startTime": {
          "description": "The time the step has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "preparingVmDisks": {
          "$ref": "PreparingVMDisksStep",
          "description": "Preparing VM disks step."
        }
      },
      "type": "object",
      "description": "CutoverStep holds information about the cutover step progress."
    },
    "CloneStep": {
      "properties": {
        "adaptingOs": {
          "$ref": "AdaptingOSStep",
          "description": "Adapting OS step."
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time the step has ended.",
          "format": "google-datetime"
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "instantiatingMigratedVm": {
          "$ref": "InstantiatingMigratedVMStep",
          "description": "Instantiating migrated VM step."
        }
      },
      "description": "CloneStep holds information about the clone step progress.",
      "id": "CloneStep",
      "type": "object"
    },
    "ComputeScheduling": {
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance.",
      "id": "ComputeScheduling",
      "properties": {
        "onHostMaintenance": {
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance.",
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "type": "string"
        },
        "nodeAffinities": {
          "type": "array",
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes.",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          }
        },
        "automaticRestart": {
          "deprecated": true,
          "type": "boolean"
        },
        "minNodeCpus": {
          "type": "integer",
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured.",
          "format": "int32"
        },
        "restartType": {
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "type": "string",
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ]
        }
      },
      "type": "object"
    },
    "VmwareSourceDetails": {
      "type": "object",
      "id": "VmwareSourceDetails",
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "properties": {
        "username": {
          "type": "string",
          "description": "The credentials username."
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        },
        "password": {
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation.",
          "type": "string"
        },
        "thumbprint": {
          "type": "string",
          "description": "The thumbprint representing the certificate for the vcenter."
        },
        "vcenterIp": {
          "type": "string",
          "description": "The ip address of the vcenter this Source represents."
        }
      }
    },
    "Operation": {
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "done": {
          "type": "boolean",
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available."
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        }
      },
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "LoadingImageSourceFilesStep": {
      "id": "LoadingImageSourceFilesStep",
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "properties": {},
      "type": "object"
    },
    "ReplicationCycle": {
      "id": "ReplicationCycle",
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "type": "object",
      "properties": {
        "progress": {
          "type": "integer",
          "format": "int32",
          "deprecated": true,
          "description": "The current progress in percentage of this cycle."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the cycle in case of an error.",
          "$ref": "Status"
        },
        "cycleNumber": {
          "type": "integer",
          "description": "The cycle's ordinal number.",
          "format": "int32"
        },
        "steps": {
          "items": {
            "$ref": "CycleStep"
          },
          "type": "array",
          "description": "The cycle's steps list representing its progress."
        },
        "warnings": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Warnings that occurred during the cycle.",
          "items": {
            "$ref": "MigrationWarning"
          }
        },
        "startTime": {
          "type": "string",
          "description": "The time the replication cycle has started.",
          "format": "google-datetime"
        },
        "state": {
          "description": "State of the ReplicationCycle.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ],
          "type": "string"
        },
        "endTime": {
          "description": "The time the replication cycle has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "totalPauseDuration": {
          "description": "The accumulated duration the replication cycle was paused.",
          "format": "google-duration",
          "type": "string"
        },
        "progressPercent": {
          "format": "int32",
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "deprecated": true,
          "type": "integer"
        },
        "name": {
          "type": "string",
          "description": "The identifier of the ReplicationCycle."
        }
      }
    },
    "AvailableUpdates": {
      "properties": {
        "newDeployableAppliance": {
          "$ref": "ApplianceVersion",
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance."
        },
        "inPlaceUpdate": {
          "$ref": "ApplianceVersion",
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI."
        }
      },
      "type": "object",
      "id": "AvailableUpdates",
      "description": "Holds information about the available versions for upgrade."
    },
    "DiskMigrationStep": {
      "properties": {
        "provisioningTargetDisk": {
          "description": "Creating target disk step.",
          "$ref": "ProvisioningTargetDiskStep"
        },
        "startTime": {
          "description": "Output only. The time the step has started.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "copyingSourceDiskSnapshot": {
          "$ref": "CopyingSourceDiskSnapshotStep",
          "description": "Copying source disk snapshot step."
        },
        "creatingSourceDiskSnapshot": {
          "$ref": "CreatingSourceDiskSnapshotStep",
          "description": "Creating source disk snapshot step."
        },
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "type": "object",
      "id": "DiskMigrationStep"
    },
    "MigrationWarning": {
      "id": "MigrationWarning",
      "type": "object",
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "properties": {
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "code": {
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "description": "The warning code.",
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ]
        },
        "helpLinks": {
          "type": "array",
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "readOnly": true,
          "items": {
            "$ref": "Link"
          }
        },
        "warningMessage": {
          "description": "Output only. The localized warning message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "warningTime": {
          "format": "google-datetime",
          "description": "The time the warning occurred.",
          "type": "string"
        }
      }
    },
    "SchedulingNodeAffinity": {
      "description": "Node Affinity: the configuration of desired nodes onto which this Instance could be scheduled. Based on https://cloud.google.com/compute/docs/reference/rest/v1/instances/setScheduling",
      "id": "SchedulingNodeAffinity",
      "type": "object",
      "properties": {
        "values": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Corresponds to the label values of Node resource."
        },
        "operator": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "The node resource group should be in these resources affinity.",
            "The node resource group should not be in these resources affinity."
          ],
          "description": "The operator to use for the node resources specified in the `values` parameter.",
          "type": "string",
          "enum": [
            "OPERATOR_UNSPECIFIED",
            "IN",
            "NOT_IN"
          ]
        },
        "key": {
          "description": "The label key of Node resource to reference.",
          "type": "string"
        }
      }
    },
    "ImageImport": {
      "type": "object",
      "id": "ImageImport",
      "properties": {
        "diskImageTargetDefaults": {
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob.",
          "$ref": "DiskImageTargetDetails"
        },
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource path of the ImageImport."
        },
        "recentImageImportJobs": {
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          }
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the image import was created."
        },
        "machineImageTargetDefaults": {
          "$ref": "MachineImageTargetDetails",
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob."
        }
      },
      "description": "ImageImport describes the configuration of the image import to run."
    },
    "FetchInventoryResponse": {
      "id": "FetchInventoryResponse",
      "description": "Response message for fetchInventory.",
      "properties": {
        "awsVms": {
          "$ref": "AwsVmsDetails",
          "description": "The description of the VMs in a Source of type AWS."
        },
        "vmwareVms": {
          "description": "The description of the VMs in a Source of type Vmware.",
          "$ref": "VmwareVmsDetails"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache)."
        },
        "azureVms": {
          "$ref": "AzureVmsDetails",
          "description": "The description of the VMs in a Source of type Azure."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "type": "object"
    },
    "VmwareVmDetails": {
      "type": "object",
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "properties": {
        "bootOption": {
          "type": "string",
          "description": "Output only. The VM Boot Option.",
          "readOnly": true,
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "cpuCount": {
          "type": "integer",
          "description": "The number of cpus in the VM.",
          "format": "int32"
        },
        "memoryMb": {
          "description": "The size of the memory of the VM in MB.",
          "type": "integer",
          "format": "int32"
        },
        "committedStorage": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "deprecated": true,
          "format": "int64",
          "type": "string"
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "diskCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks the VM has."
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "committedStorageMb": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The CPU architecture.",
          "readOnly": true
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ]
        }
      },
      "id": "VmwareVmDetails"
    },
    "OSDisk": {
      "type": "object",
      "description": "A message describing the OS disk.",
      "properties": {
        "type": {
          "type": "string",
          "description": "The disk's type."
        },
        "name": {
          "description": "The disk's full name.",
          "type": "string"
        },
        "sizeGb": {
          "description": "The disk's size in GB.",
          "format": "int32",
          "type": "integer"
        }
      },
      "id": "OSDisk"
    },
    "ClientSecretCredentials": {
      "type": "object",
      "description": "Message describing Azure Credentials using tenant ID, client ID and secret.",
      "id": "ClientSecretCredentials",
      "properties": {
        "clientSecret": {
          "description": "Input only. Azure client secret.",
          "type": "string"
        },
        "tenantId": {
          "type": "string",
          "description": "Azure tenant ID."
        },
        "clientId": {
          "description": "Azure client ID.",
          "type": "string"
        }
      }
    },
    "AwsDiskDetails": {
      "type": "object",
      "properties": {
        "volumeId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. AWS volume ID."
        },
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "sizeGb": {
          "description": "Output only. Size in GB.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        }
      },
      "id": "AwsDiskDetails",
      "description": "The details of an AWS instance disk."
    },
    "PauseMigrationRequest": {
      "id": "PauseMigrationRequest",
      "properties": {},
      "description": "Request message for 'PauseMigration' request.",
      "type": "object"
    },
    "AddGroupMigrationRequest": {
      "type": "object",
      "description": "Request message for 'AddGroupMigration' request.",
      "id": "AddGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      }
    },
    "ListMigratingVmsResponse": {
      "id": "ListMigratingVmsResponse",
      "properties": {
        "migratingVms": {
          "items": {
            "$ref": "MigratingVm"
          },
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of Migrating VMs response."
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "description": "Response message for 'ListMigratingVms' request.",
      "type": "object"
    },
    "ComputeEngineDisksTargetDetails": {
      "type": "object",
      "id": "ComputeEngineDisksTargetDetails",
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "properties": {
        "disks": {
          "description": "The details of each created Persistent Disk.",
          "items": {
            "$ref": "PersistentDisk"
          },
          "type": "array"
        },
        "vmTargetDetails": {
          "description": "Details for the VM the migrated data disks are attached to.",
          "$ref": "DisksMigrationVmTargetDetails"
        },
        "disksTargetDetails": {
          "$ref": "DisksMigrationDisksTargetDetails",
          "description": "Details of the disks-only migration target."
        }
      }
    },
    "ShieldedInstanceConfig": {
      "properties": {
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI."
        },
        "secureBoot": {
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ],
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "type": "string"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        }
      },
      "description": "Shielded instance configuration.",
      "id": "ShieldedInstanceConfig",
      "type": "object"
    },
    "MigratingVm": {
      "id": "MigratingVm",
      "description": "MigratingVm describes the VM that will be migrated from a Source environment and its replication state.",
      "type": "object",
      "properties": {
        "policy": {
          "description": "The replication schedule policy.",
          "$ref": "SchedulePolicy"
        },
        "vmwareSourceVmDetails": {
          "description": "Output only. Details of the VM from a Vmware source.",
          "$ref": "VmwareSourceVmDetails",
          "readOnly": true
        },
        "targetDefaults": {
          "$ref": "TargetVMDetails",
          "description": "The default configuration of the target VM that will be created in Google Cloud as a result of the migration. Deprecated: Use compute_engine_target_defaults instead.",
          "deprecated": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the migrating VM was created (this refers to this resource and not to the time it was installed in the source).",
          "readOnly": true
        },
        "computeEngineVmDefaults": {
          "deprecated": true,
          "description": "Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_defaults instead.",
          "$ref": "TargetVMDetails"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ],
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "description": "Output only. State of the MigratingVm."
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        },
        "recentCloneJobs": {
          "items": {
            "$ref": "CloneJob"
          },
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true,
          "type": "array"
        },
        "currentSyncInfo": {
          "readOnly": true,
          "description": "Output only. Details of the current running replication cycle.",
          "$ref": "ReplicationCycle"
        },
        "description": {
          "type": "string",
          "description": "The description attached to the migrating VM by the user."
        },
        "lastReplicationCycle": {
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "readOnly": true,
          "$ref": "ReplicationCycle"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The last time the migrating VM resource was updated.",
          "readOnly": true
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "lastSync": {
          "readOnly": true,
          "description": "Output only. The most updated snapshot created time in the source that finished replication.",
          "$ref": "ReplicationSync"
        },
        "expiration": {
          "$ref": "Expiration",
          "readOnly": true,
          "description": "Output only. Provides details about the expiration state of the migrating VM."
        },
        "cutoverForecast": {
          "$ref": "CutoverForecast",
          "readOnly": true,
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable."
        },
        "group": {
          "type": "string",
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource.",
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "recentCutoverJobs": {
          "type": "array",
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true,
          "items": {
            "$ref": "CutoverJob"
          }
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Migrating VM in case of an error in replication.",
          "readOnly": true
        },
        "awsSourceVmDetails": {
          "$ref": "AwsSourceVmDetails",
          "description": "Output only. Details of the VM from an AWS source.",
          "readOnly": true
        },
        "azureSourceVmDetails": {
          "description": "Output only. Details of the VM from an Azure source.",
          "readOnly": true,
          "$ref": "AzureSourceVmDetails"
        },
        "name": {
          "description": "Output only. The identifier of the MigratingVm.",
          "readOnly": true,
          "type": "string"
        },
        "sourceVmId": {
          "type": "string",
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-."
        },
        "computeEngineDisksTargetDefaults": {
          "description": "Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDefaults"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels of the migrating VM."
        }
      }
    },
    "InitializingReplicationStep": {
      "description": "InitializingReplicationStep contains specific step details.",
      "type": "object",
      "properties": {},
      "id": "InitializingReplicationStep"
    },
    "Expiration": {
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "properties": {
        "extendable": {
          "readOnly": true,
          "description": "Output only. Describes whether the expiration can be extended.",
          "type": "boolean"
        },
        "extensionCount": {
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The number of times expiration was extended.",
          "type": "integer"
        },
        "expireTime": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Expiration"
    },
    "ListSourcesResponse": {
      "id": "ListSourcesResponse",
      "type": "object",
      "properties": {
        "sources": {
          "items": {
            "$ref": "Source"
          },
          "type": "array",
          "description": "Output only. The list of sources response.",
          "readOnly": true
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "readOnly": true
        }
      },
      "description": "Response message for 'ListSources' request."
    },
    "Disk": {
      "properties": {
        "name": {
          "description": "The disk name.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "description": "The disk size in GB.",
          "type": "integer"
        },
        "lun": {
          "type": "integer",
          "description": "The disk's Logical Unit Number (LUN).",
          "format": "int32"
        }
      },
      "id": "Disk",
      "type": "object",
      "description": "A message describing a data disk."
    },
    "Source": {
      "properties": {
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        },
        "error": {
          "deprecated": true,
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error."
        },
        "createTime": {
          "format": "google-datetime",
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption details of the source data stored by the service."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "The labels of the source."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The Source name."
        },
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "description": "Output only. The update time timestamp.",
          "readOnly": true,
          "type": "string"
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "azure": {
          "description": "Azure type source details.",
          "$ref": "AzureSourceDetails"
        }
      },
      "id": "Source",
      "type": "object",
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information."
    },
    "NetworkInterface": {
      "type": "object",
      "description": "NetworkInterface represents a NIC of a VM.",
      "properties": {
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "internalIp": {
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "networkTier": {
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ],
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "type": "string",
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM."
        },
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        }
      },
      "id": "NetworkInterface"
    },
    "ListTargetProjectsResponse": {
      "type": "object",
      "id": "ListTargetProjectsResponse",
      "description": "Response message for 'ListTargetProjects' call.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "targetProjects": {
          "items": {
            "$ref": "TargetProject"
          },
          "description": "Output only. The list of target response.",
          "readOnly": true,
          "type": "array"
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "CycleStep": {
      "properties": {
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time the cycle step has ended.",
          "type": "string"
        },
        "replicating": {
          "$ref": "ReplicatingStep",
          "description": "Replicating step."
        },
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time the cycle step has started.",
          "type": "string"
        }
      },
      "id": "CycleStep",
      "type": "object",
      "description": "CycleStep holds information about a step progress."
    },
    "RemoveGroupMigrationRequest": {
      "id": "RemoveGroupMigrationRequest",
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The MigratingVm to remove."
        }
      },
      "description": "Request message for 'RemoveMigration' request.",
      "type": "object"
    },
    "AwsSourceDiskDetails": {
      "description": "Represents the source AWS Disk details.",
      "id": "AwsSourceDiskDetails",
      "properties": {
        "diskType": {
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "type": "string",
          "description": "Optional. Output only. Disk type."
        },
        "tags": {
          "description": "Optional. Output only. A map of AWS volume tags.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "sizeGib": {
          "type": "string",
          "description": "Output only. Size in GiB.",
          "format": "int64",
          "readOnly": true
        },
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      },
      "type": "object"
    },
    "DiskMigrationJobTargetDetails": {
      "properties": {
        "targetDisk": {
          "$ref": "ComputeEngineDisk",
          "description": "Required. The target disk."
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the disk."
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the disk. If the DiskMigrationJob parent Source resource has an encryption, this field must be set to the same encryption key.",
          "$ref": "Encryption"
        },
        "targetProject": {
          "type": "string",
          "description": "Required. The name of the resource of type TargetProject which represents the Compute Engine project in which to create the disk. Should be of the form: projects/{project}/locations/global/targetProjects/{target-project}"
        }
      },
      "type": "object",
      "id": "DiskMigrationJobTargetDetails",
      "description": "Details of the target disk in Compute Engine."
    },
    "DisksMigrationDisksTargetDefaults": {
      "description": "Details for a disk only migration.",
      "type": "object",
      "properties": {},
      "id": "DisksMigrationDisksTargetDefaults"
    },
    "DisksMigrationVmTargetDetails": {
      "id": "DisksMigrationVmTargetDetails",
      "description": "Details for the VM created VM as part of disks migration.",
      "type": "object",
      "properties": {
        "vmUri": {
          "description": "Output only. The URI of the Compute Engine VM.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "PersistentDisk": {
      "description": "Details of a created Persistent Disk.",
      "id": "PersistentDisk",
      "properties": {
        "sourceDiskNumber": {
          "format": "int32",
          "description": "The ordinal number of the source VM disk.",
          "type": "integer"
        },
        "diskUri": {
          "description": "The URI of the Persistent Disk.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StartMigrationRequest": {
      "description": "Request message for 'StartMigrationRequest' request.",
      "properties": {},
      "id": "StartMigrationRequest",
      "type": "object"
    },
    "ReplicationSync": {
      "description": "ReplicationSync contain information about the last replica sync to the cloud.",
      "type": "object",
      "properties": {
        "lastSyncTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The most updated snapshot created time in the source that finished replication."
        }
      },
      "id": "ReplicationSync"
    },
    "AdaptingOSStep": {
      "description": "AdaptingOSStep contains specific step details.",
      "id": "AdaptingOSStep",
      "properties": {},
      "type": "object"
    },
    "CutoverJob": {
      "type": "object",
      "properties": {
        "steps": {
          "description": "Output only. The cutover steps list representing its progress.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          }
        },
        "stateMessage": {
          "description": "Output only. A message providing possible extra details about the current state.",
          "readOnly": true,
          "type": "string"
        },
        "progress": {
          "format": "int32",
          "readOnly": true,
          "deprecated": true,
          "description": "Output only. The current progress in percentage of the cutover job.",
          "type": "integer"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the cutover job."
        },
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. The time the cutover job had finished.",
          "type": "string",
          "format": "google-datetime"
        },
        "createTime": {
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target).",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "error": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state."
        },
        "state": {
          "description": "Output only. State of the cutover job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "type": "string",
          "readOnly": true
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "readOnly": true,
          "description": "Output only. The current progress in percentage of the cutover job."
        },
        "computeEngineTargetDetails": {
          "description": "Output only. Details of the target VM in Compute Engine.",
          "readOnly": true,
          "$ref": "ComputeEngineTargetDetails"
        },
        "computeEngineVmDetails": {
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "readOnly": true,
          "deprecated": true
        },
        "targetDetails": {
          "readOnly": true,
          "deprecated": true,
          "$ref": "TargetVMDetails",
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead."
        }
      },
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "id": "CutoverJob"
    },
    "DisksMigrationVmTargetDefaults": {
      "description": "Details for creation of a VM that migrated data disks will be attached to.",
      "type": "object",
      "id": "DisksMigrationVmTargetDefaults",
      "properties": {
        "machineTypeSeries": {
          "description": "Optional. The machine type series to create the VM with. For presentation only.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the VM."
        },
        "machineType": {
          "type": "string",
          "description": "Required. The machine type to create the VM with."
        },
        "bootDiskDefaults": {
          "description": "Optional. Details of the boot disk of the VM.",
          "$ref": "BootDiskDefaults"
        },
        "networkInterfaces": {
          "description": "Optional. NICs to attach to the VM.",
          "items": {
            "$ref": "NetworkInterface"
          },
          "type": "array"
        },
        "networkTags": {
          "type": "array",
          "description": "Optional. A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "vmName": {
          "description": "Required. The name of the VM to create.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "hostname": {
          "type": "string",
          "description": "Optional. The hostname to assign to the VM."
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the VM."
        },
        "computeScheduling": {
          "description": "Optional. Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the VM."
        }
      }
    },
    "ComputeEngineDisk": {
      "type": "object",
      "properties": {
        "diskId": {
          "type": "string",
          "description": "Optional. Target Compute Engine Disk ID. This is the resource ID segment of the Compute Engine Disk to create. In the resource name compute/v1/projects/{project}/zones/{zone}/disks/disk1 \"disk1\" is the resource ID for the disk."
        },
        "replicaZones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Replication zones of the regional disk. Should be of the form: projects/{target-project}/locations/{replica-zone} Currently only one replica zone is supported."
        },
        "zone": {
          "type": "string",
          "description": "Required. The Compute Engine zone in which to create the disk. Should be of the form: projects/{target-project}/locations/{zone}"
        },
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "description": "Required. The disk type to use.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string"
        }
      },
      "id": "ComputeEngineDisk",
      "description": "Compute Engine disk target details."
    },
    "ListGroupsResponse": {
      "description": "Response message for 'ListGroups' request.",
      "properties": {
        "groups": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. The list of groups response.",
          "items": {
            "$ref": "Group"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        }
      },
      "type": "object",
      "id": "ListGroupsResponse"
    },
    "AccessKeyCredentials": {
      "id": "AccessKeyCredentials",
      "description": "Message describing AWS Credentials using access key id and secret.",
      "properties": {
        "sessionToken": {
          "type": "string",
          "description": "Input only. AWS session token. Used only when AWS security token service (STS) is responsible for creating the temporary credentials."
        },
        "secretAccessKey": {
          "description": "Input only. AWS secret access key.",
          "type": "string"
        },
        "accessKeyId": {
          "type": "string",
          "description": "AWS access key ID."
        }
      },
      "type": "object"
    },
    "ComputeEngineTargetDetails": {
      "properties": {
        "networkTags": {
          "type": "array",
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "diskReplicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "type": "string",
          "description": "The VM Boot Option, as set in the source VM."
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "List of NICs connected to this VM.",
          "type": "array"
        },
        "storagePool": {
          "type": "string",
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type."
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
[...]
