{
  "id": "vmmigration:v1alpha1",
  "batchPath": "batch",
  "description": "Use the Migrate to Virtual Machines API to programmatically migrate workloads. ",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "servicePath": "",
  "name": "vmmigration",
  "schemas": {
    "ProvisioningTargetDiskStep": {
      "description": "ProvisioningTargetDiskStep contains specific step details.",
      "id": "ProvisioningTargetDiskStep",
      "type": "object",
      "properties": {}
    },
    "CreatingSourceDiskSnapshotStep": {
      "id": "CreatingSourceDiskSnapshotStep",
      "type": "object",
      "properties": {},
      "description": "CreatingSourceDiskSnapshotStep contains specific step details."
    },
    "ComputeScheduling": {
      "id": "ComputeScheduling",
      "type": "object",
      "properties": {
        "minNodeCpus": {
          "description": "The minimum number of virtual CPUs this instance will consume when running on a sole-tenant node. Ignored if no node_affinites are configured.",
          "type": "integer",
          "format": "int32"
        },
        "restartType": {
          "description": "Whether the Instance should be automatically restarted whenever it is terminated by Compute Engine (not terminated by user). This configuration is identical to `automaticRestart` field in Compute Engine create instance under scheduling. It was changed to an enum (instead of a boolean) to match the default value in Compute Engine which is automatic restart.",
          "enumDescriptions": [
            "Unspecified behavior. This will use the default.",
            "The Instance should be automatically restarted whenever it is terminated by Compute Engine.",
            "The Instance isn't automatically restarted whenever it is terminated by Compute Engine."
          ],
          "enum": [
            "RESTART_TYPE_UNSPECIFIED",
            "AUTOMATIC_RESTART",
            "NO_AUTOMATIC_RESTART"
          ],
          "type": "string"
        },
        "onHostMaintenance": {
          "enumDescriptions": [
            "An unknown, unexpected behavior.",
            "Terminate the instance when the host machine undergoes maintenance.",
            "Migrate the instance when the host machine undergoes maintenance."
          ],
          "enum": [
            "ON_HOST_MAINTENANCE_UNSPECIFIED",
            "TERMINATE",
            "MIGRATE"
          ],
          "type": "string",
          "description": "How the instance should behave when the host machine undergoes maintenance that may temporarily impact instance performance."
        },
        "automaticRestart": {
          "type": "boolean",
          "deprecated": true
        },
        "nodeAffinities": {
          "description": "A set of node affinity and anti-affinity configurations for sole tenant nodes.",
          "type": "array",
          "items": {
            "$ref": "SchedulingNodeAffinity"
          }
        }
      },
      "description": "Scheduling information for VM on maintenance/restart behaviour and node allocation in sole tenant nodes. Options for instance behavior when the host machine undergoes maintenance that may temporarily impact instance performance."
    },
    "ImageImport": {
      "description": "ImageImport describes the configuration of the image import to run.",
      "id": "ImageImport",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource path of the ImageImport."
        },
        "recentImageImportJobs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs."
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        },
        "diskImageTargetDefaults": {
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob.",
          "$ref": "DiskImageTargetDetails"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the image import was created."
        },
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        }
      }
    },
    "DiskMigrationJob": {
      "id": "DiskMigrationJob",
      "type": "object",
      "properties": {
        "errors": {
          "description": "Output only. Provides details on the errors that led to the disk migration job's state in case of an error.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "awsSourceDiskDetails": {
          "description": "Details of the unattached AWS source disk.",
          "$ref": "AwsSourceDiskDetails"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the DiskMigrationJob resource was created."
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified. This is not in use.",
            "The initial state of the disk migration. In this state the customers can update the target details.",
            "The migration is active, and it's running or scheduled to run.",
            "The migration completed successfully.",
            "Migration cancellation was initiated.",
            "The migration was cancelled.",
            "The migration process encountered an unrecoverable error and was aborted."
          ],
          "description": "Output only. State of the DiskMigrationJob.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "READY",
            "RUNNING",
            "SUCCEEDED",
            "CANCELLING",
            "CANCELLED",
            "FAILED"
          ]
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DiskMigrationStep"
          },
          "description": "Output only. The disk migration steps list representing its progress."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the DiskMigrationJob resource was updated."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The identifier of the DiskMigrationJob."
        },
        "targetDetails": {
          "description": "Required. Details of the target Disk in Compute Engine.",
          "$ref": "DiskMigrationJobTargetDetails"
        }
      },
      "description": "Describes the disk which will be migrated from the source environment. The source disk has to be unattached."
    },
    "LoadingImageSourceFilesStep": {
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "id": "LoadingImageSourceFilesStep",
      "type": "object",
      "properties": {}
    },
    "CycleStep": {
      "description": "CycleStep holds information about a step progress.",
      "id": "CycleStep",
      "type": "object",
      "properties": {
        "postProcessing": {
          "description": "Post processing step.",
          "$ref": "PostProcessingStep"
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "endTime": {
          "description": "The time the cycle step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "initializingReplication": {
          "description": "Initializing replication step.",
          "$ref": "InitializingReplicationStep"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the cycle step has started."
        }
      }
    },
    "ListMigratingVmsResponse": {
      "id": "ListMigratingVmsResponse",
      "type": "object",
      "properties": {
        "migratingVms": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "MigratingVm"
          },
          "description": "Output only. The list of Migrating VMs response."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        }
      },
      "description": "Response message for 'ListMigratingVms' request."
    },
    "CancelImageImportJobRequest": {
      "id": "CancelImageImportJobRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'CancelImageImportJob' request."
    },
    "ImageImportOsAdaptationParameters": {
      "description": "Parameters affecting the OS adaptation process.",
      "id": "ImageImportOsAdaptationParameters",
      "type": "object",
      "properties": {
        "adaptationModifiers": {
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "licenseType": {
          "description": "Optional. Choose which type of license to apply to the imported image.",
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "generalize": {
          "description": "Optional. Set to true in order to generalize the imported image. The generalization process enables co-existence of multiple VMs created from the same image. For Windows, generalizing the image removes computer-specific information such as installed drivers and the computer security identifier (SID).",
          "type": "boolean"
        },
        "bootConversion": {
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "type": "string",
          "description": "Optional. By default the image will keep its existing boot option. Setting this property will trigger an internal process which will convert the image from using the existing boot option to another. The size of the boot disk might be increased to allow the conversion"
        }
      }
    },
    "Source": {
      "id": "Source",
      "type": "object",
      "properties": {
        "description": {
          "description": "User-provided description of the source.",
          "type": "string"
        },
        "azure": {
          "description": "Azure type source details.",
          "$ref": "AzureSourceDetails"
        },
        "labels": {
          "type": "object",
          "description": "The labels of the source.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "vmware": {
          "description": "Vmware type source details.",
          "$ref": "VmwareSourceDetails"
        },
        "aws": {
          "description": "AWS type source details.",
          "$ref": "AwsSourceDetails"
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The update time timestamp."
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption details of the source data stored by the service.",
          "$ref": "Encryption"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Source name."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The create time timestamp."
        },
        "error": {
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status"
        }
      },
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information."
    },
    "PostProcessingStep": {
      "id": "PostProcessingStep",
      "type": "object",
      "properties": {},
      "description": "PostProcessingStep contains specific step details."
    },
    "DiskImageTargetDetails": {
      "id": "DiskImageTargetDetails",
      "type": "object",
      "properties": {
        "singleRegionStorage": {
          "description": "Optional. Set to true to set the image storageLocations to the single region of the import job. When false, the closest multi-region is selected.",
          "type": "boolean"
        },
        "encryption": {
          "description": "Immutable. The encryption to apply to the image.",
          "$ref": "Encryption"
        },
        "familyName": {
          "description": "Optional. The name of the image family to which the new image belongs.",
          "type": "string"
        },
        "targetProject": {
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported image will be created.",
          "type": "string"
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. A map of labels to associate with the image.",
          "type": "object"
        },
        "imageName": {
          "description": "Required. The name of the image to be created.",
          "type": "string"
        },
        "description": {
          "description": "Optional. An optional description of the image.",
          "type": "string"
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "dataDiskImageImport": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "DataDiskImageImport"
        }
      },
      "description": "The target details of the image resource that will be created by the import job."
    },
    "Encryption": {
      "description": "Encryption message describes the details of the applied encryption.",
      "id": "Encryption",
      "type": "object",
      "properties": {
        "kmsKey": {
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS.",
          "type": "string"
        }
      }
    },
    "VmUtilizationInfo": {
      "description": "Utilization information of a single VM.",
      "id": "VmUtilizationInfo",
      "type": "object",
      "properties": {
        "vmId": {
          "description": "The VM's ID in the source.",
          "type": "string"
        },
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        },
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ServiceAccount": {
      "description": "Service account to assign to the instance created by the machine image.",
      "id": "ServiceAccount",
      "type": "object",
      "properties": {
        "email": {
          "description": "Required. The email address of the service account.",
          "type": "string"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The list of scopes to be made available for this service account."
        }
      }
    },
    "UpgradeApplianceRequest": {
      "description": "Request message for 'UpgradeAppliance' request.",
      "id": "UpgradeApplianceRequest",
      "type": "object",
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "ListImageImportJobsResponse": {
      "id": "ListImageImportJobsResponse",
      "type": "object",
      "properties": {
        "imageImportJobs": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImportJob"
          },
          "description": "Output only. The list of target response."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Response message for 'ListImageImportJobs' call."
    },
    "OSDescription": {
      "description": "A message describing the VM's OS. Including OS, Publisher, Offer and Plan if applicable.",
      "id": "OSDescription",
      "type": "object",
      "properties": {
        "offer": {
          "description": "OS offer.",
          "type": "string"
        },
        "type": {
          "description": "OS type.",
          "type": "string"
        },
        "publisher": {
          "description": "OS publisher.",
          "type": "string"
        },
        "plan": {
          "description": "OS plan.",
          "type": "string"
        }
      }
    },
    "ImageImportStep": {
      "id": "ImageImportStep",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the step has ended.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "initializing": {
          "description": "Initializing step.",
          "$ref": "InitializingImageImportStep"
        },
        "loadingSourceFiles": {
          "description": "Loading source files step.",
          "$ref": "LoadingImageSourceFilesStep"
        },
        "creatingImage": {
          "description": "Creating image step.",
          "$ref": "CreatingImageStep"
        },
        "startTime": {
          "description": "Output only. The time the step has started.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "ImageImportStep holds information about the image import step progress."
    },
    "ComputeEngineDisksTargetDefaults": {
      "description": "ComputeEngineDisksTargetDefaults is a collection of details for creating Persistent Disks in a target Compute Engine project.",
      "id": "ComputeEngineDisksTargetDefaults",
      "type": "object",
      "properties": {
        "zone": {
          "description": "The zone in which to create the Persistent Disks.",
          "type": "string"
        },
        "vmTargetDefaults": {
          "description": "Details of the VM migration target.",
          "$ref": "DisksMigrationVmTargetDefaults"
        },
        "disks": {
          "description": "The details of each Persistent Disk to create.",
          "type": "array",
          "items": {
            "$ref": "PersistentDiskDefaults"
          }
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create the Persistent Disks.",
          "type": "string"
        },
        "disksTargetDefaults": {
          "description": "Details of the disk only migration target.",
          "$ref": "DisksMigrationDisksTargetDefaults"
        }
      }
    },
    "BootDiskDefaults": {
      "id": "BootDiskDefaults",
      "type": "object",
      "properties": {
        "image": {
          "description": "The image to use when creating the disk.",
          "$ref": "DiskImageDefaults"
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        },
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "diskType": {
          "description": "Optional. The type of disk provisioning to use for the VM.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        }
      },
      "description": "BootDiskDefaults hold information about the boot disk of a VM."
    },
    "ListImageImportsResponse": {
      "description": "Response message for 'ListImageImports' call.",
      "id": "ListImageImportsResponse",
      "type": "object",
      "properties": {
        "imageImports": {
          "description": "Output only. The list of target response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ImageImport"
          }
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "PersistentDisk": {
      "description": "Details of a created Persistent Disk.",
      "id": "PersistentDisk",
      "type": "object",
      "properties": {
        "sourceDiskNumber": {
          "description": "The ordinal number of the source VM disk.",
          "type": "integer",
          "format": "int32"
        },
        "diskUri": {
          "description": "The URI of the Persistent Disk.",
          "type": "string"
        }
      }
    },
    "ComputeEngineTargetDefaults": {
      "description": "ComputeEngineTargetDefaults is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "ComputeEngineTargetDefaults",
      "type": "object",
      "properties": {
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled. This can be set to true only if the VM boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "encryption": {
          "description": "Optional. Immutable. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "appliedLicense": {
          "description": "Output only. The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense",
          "readOnly": true
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "storagePool": {
          "description": "Optional. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "adaptationModifiers": {
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. AdaptationModifiers are the set of modifiers used during OS adaptation."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "bootConversion": {
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "type": "string",
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "licenseType": {
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "description": "The license type to use in OS adaptation."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM."
        },
        "additionalLicenses": {
          "description": "Additional licenses to assign to the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "diskReplicaZones": {
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        }
      }
    },
    "Disk": {
      "id": "Disk",
      "type": "object",
      "properties": {
        "name": {
          "description": "The disk name.",
          "type": "string"
        },
        "sizeGb": {
          "description": "The disk size in GB.",
          "type": "integer",
          "format": "int32"
        },
        "lun": {
          "description": "The disk's Logical Unit Number (LUN).",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A message describing a data disk."
    },
    "SchedulePolicy": {
      "description": "A policy for scheduling replications.",
      "id": "SchedulePolicy",
      "type": "object",
      "properties": {
        "idleDuration": {
          "description": "The idle duration between replication stages.",
          "type": "string",
          "format": "google-duration"
        },
        "skipOsAdaptation": {
          "description": "A flag to indicate whether to skip OS adaptation during the replication sync. OS adaptation is a process where the VM's operating system undergoes changes and adaptations to fully function on Compute Engine.",
          "type": "boolean"
        }
      }
    },
    "VmAttachmentDetails": {
      "description": "Details for attachment of the disk to a VM.",
      "id": "VmAttachmentDetails",
      "type": "object",
      "properties": {
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        }
      }
    },
    "AwsSourceDetails": {
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "id": "AwsSourceDetails",
      "type": "object",
      "properties": {
        "awsRegion": {
          "description": "Immutable. The AWS region that the source VMs will be migrated from.",
          "type": "string"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. State of the source as determined by the health check.",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ]
        },
        "error": {
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "accessKeyCreds": {
          "description": "AWS Credentials using access key id and secret.",
          "$ref": "AccessKeyCredentials"
        },
        "inventoryTagList": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "AWS resource tags to limit the scope of the source inventory."
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "inventorySecurityGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "AWS security group names to limit the scope of the source inventory."
        },
        "publicIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP."
        }
      }
    },
    "DatacenterConnector": {
      "id": "DatacenterConnector",
      "type": "object",
      "properties": {
        "applianceSoftwareVersion": {
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance.",
          "readOnly": true,
          "type": "string"
        },
        "bucket": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the connector was updated with an API call."
        },
        "name": {
          "description": "Output only. The connector's name.",
          "readOnly": true,
          "type": "string"
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "version": {
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified.",
          "type": "string"
        },
        "upgradeStatus": {
          "description": "Output only. The status of the current / last upgradeAppliance operation.",
          "$ref": "UpgradeStatus",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks."
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "applianceInfrastructureVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance."
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed)."
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the state was last set."
        },
        "error": {
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "$ref": "Status",
          "readOnly": true
        },
        "availableVersions": {
          "readOnly": true,
          "description": "Output only. The available versions for updating this appliance.",
          "$ref": "AvailableUpdates"
        }
      },
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer."
    },
    "TargetVMDetails": {
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "TargetVMDetails",
      "type": "object",
      "properties": {
        "appliedLicense": {
          "readOnly": true,
          "description": "Output only. The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI.",
          "type": "boolean"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "name": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "externalIp": {
          "description": "The external IP to define in the VM.",
          "type": "string"
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD",
            "HYPERDISK_BALANCED",
            "HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string"
        },
        "internalIp": {
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path.",
          "type": "string"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "network": {
          "description": "The network to connect the VM to.",
          "type": "string"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option, as set in the source VM."
        },
        "subnetwork": {
          "description": "The subnetwork to connect the VM to.",
          "type": "string"
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "type": "string",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ]
        },
        "project": {
          "readOnly": true,
          "type": "string",
          "deprecated": true,
          "description": "Output only. The project in which to create the VM."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM.",
          "type": "object"
        }
      },
      "deprecated": true
    },
    "CopyingSourceDiskSnapshotStep": {
      "description": "CopyingSourceDiskSnapshotStep contains specific step details.",
      "id": "CopyingSourceDiskSnapshotStep",
      "type": "object",
      "properties": {}
    },
    "FinalizeMigrationRequest": {
      "id": "FinalizeMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'FinalizeMigration' request."
    },
    "UpgradeStatus": {
      "id": "UpgradeStatus",
      "type": "object",
      "properties": {
        "startTime": {
          "description": "The time the operation was started.",
          "type": "string",
          "format": "google-datetime"
        },
        "previousVersion": {
          "description": "The version from which we upgraded.",
          "type": "string"
        },
        "state": {
          "description": "The state of the upgradeAppliance operation.",
          "type": "string",
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The upgrade has started.",
            "The upgrade failed.",
            "The upgrade finished successfully."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the upgrade operation in case of an error.",
          "$ref": "Status"
        },
        "version": {
          "description": "The version to upgrade to.",
          "type": "string"
        }
      },
      "description": "UpgradeStatus contains information about upgradeAppliance operation."
    },
    "CutoverForecast": {
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm.",
      "id": "CutoverForecast",
      "type": "object",
      "properties": {
        "estimatedCutoverJobDuration": {
          "description": "Output only. Estimation of the CutoverJob duration.",
          "readOnly": true,
          "type": "string",
          "format": "google-duration"
        }
      }
    },
    "DiskMigrationStep": {
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "id": "DiskMigrationStep",
      "type": "object",
      "properties": {
        "copyingSourceDiskSnapshot": {
          "description": "Copying source disk snapshot step.",
          "$ref": "CopyingSourceDiskSnapshotStep"
        },
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        },
        "provisioningTargetDisk": {
          "description": "Creating target disk step.",
          "$ref": "ProvisioningTargetDiskStep"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the step has ended."
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the step has started."
        }
      }
    },
    "Tag": {
      "description": "Tag is an AWS tag representation.",
      "id": "Tag",
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        },
        "key": {
          "description": "Required. Key of tag.",
          "type": "string"
        }
      }
    },
    "AwsDiskDetails": {
      "id": "AwsDiskDetails",
      "type": "object",
      "properties": {
        "sizeGb": {
          "description": "Output only. Size in GB.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "diskNumber": {
          "readOnly": true,
          "type": "integer",
          "format": "int32",
          "description": "Output only. The ordinal number of the disk."
        },
        "volumeId": {
          "description": "Output only. AWS volume ID.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The details of an AWS instance disk."
    },
    "VmwareVmDetails": {
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "id": "VmwareVmDetails",
      "type": "object",
      "properties": {
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "committedStorage": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of cpus in the VM."
        },
        "memoryMb": {
          "description": "The size of the memory of the VM in MB.",
          "type": "integer",
          "format": "int32"
        },
        "uuid": {
          "description": "The unique identifier of the VM in vCenter.",
          "type": "string"
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The CPU architecture.",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ]
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "type": "string",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ]
        },
        "datacenterId": {
          "description": "The id of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "datacenterDescription": {
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in.",
          "type": "string"
        },
        "diskCount": {
          "description": "The number of disks the VM has.",
          "type": "integer",
          "format": "int32"
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option.",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        }
      }
    },
    "ComputeEngineTargetDetails": {
      "id": "ComputeEngineTargetDetails",
      "type": "object",
      "properties": {
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "diskType": {
          "description": "The disk type to use in the VM.",
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "bootConversion": {
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ],
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "type": "string"
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM."
        },
        "adaptationModifiers": {
          "type": "array",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process."
        },
        "secureBoot": {
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI.",
          "type": "boolean"
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "bootOption": {
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "description": "The VM Boot Option, as set in the source VM."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "project": {
          "description": "The Google Cloud target project ID or project name.",
          "type": "string"
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ],
          "type": "string",
          "description": "The license type to use in OS adaptation."
        },
        "vmName": {
          "description": "The name of the VM to create.",
          "type": "string"
        },
        "networkTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of network tags to associate with the VM."
        },
        "additionalLicenses": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Additional licenses to assign to the VM."
        },
        "hostname": {
          "description": "The hostname to assign to the VM.",
          "type": "string"
        },
        "diskReplicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
        }
      },
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project."
    },
    "FetchStorageInventoryResponse": {
      "id": "FetchStorageInventoryResponse",
      "type": "object",
      "properties": {
        "resources": {
          "description": "The list of storage resources in the source.",
          "type": "array",
          "items": {
            "$ref": "SourceStorageResource"
          }
        },
        "updateTime": {
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Response message for fetchStorageInventory."
    },
    "InitializingReplicationStep": {
      "id": "InitializingReplicationStep",
      "type": "object",
      "properties": {},
      "description": "InitializingReplicationStep contains specific step details."
    },
    "VmCapabilities": {
      "description": "Migrating VM source information about the VM capabilities needed for some Compute Engine features.",
      "id": "VmCapabilities",
      "type": "object",
      "properties": {
        "osCapabilities": {
          "description": "Output only. Unordered list. List of certain VM OS capabilities needed for some Compute Engine features.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "This is for API compatibility only and is not in use.",
              "NVMe driver installed and the VM can use NVMe PD or local SSD.",
              "gVNIC virtual NIC driver supported.",
              "IDPF virtual NIC driver supported."
            ],
            "enum": [
              "OS_CAPABILITY_UNSPECIFIED",
              "OS_CAPABILITY_NVME_STORAGE_ACCESS",
              "OS_CAPABILITY_GVNIC_NETWORK_INTERFACE",
              "OS_CAPABILITY_IDPF_NETWORK_INTERFACE"
            ]
          }
        },
        "lastOsCapabilitiesUpdateTime": {
          "description": "Output only. The last time OS capabilities list was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "AzureVmsDetails": {
      "id": "AzureVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "AzureVmDetails"
          },
          "description": "The details of the Azure VMs."
        }
      },
      "description": "AzureVmsDetails describes VMs in Azure."
    },
    "DataDiskImageImport": {
      "description": "Used when the image import is not using OS adaptation process.",
      "id": "DataDiskImageImport",
      "type": "object",
      "properties": {
        "guestOsFeatures": {
          "description": "Optional. A list of guest OS features to apply to the imported image. These features are flags that are used by Compute Engine to enable certain capabilities for virtual machine instances that are created from the image. This field does not change the OS of the image; it only marks the image with the specified features. The user must ensure that the OS is compatible with the features. For a list of available features, see https://cloud.google.com/compute/docs/images/create-custom#guest-os-features.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AwsSourceDiskDetails": {
      "description": "Represents the source AWS Disk details.",
      "id": "AwsSourceDiskDetails",
      "type": "object",
      "properties": {
        "sizeGib": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Size in GiB."
        },
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        },
        "diskType": {
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "readOnly": true,
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "description": "Optional. Output only. Disk type."
        },
        "tags": {
          "readOnly": true,
          "type": "object",
          "description": "Optional. Output only. A map of AWS volume tags.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SourceStorageResource": {
      "description": "SourceStorageResource describes a storage resource in the source.",
      "id": "SourceStorageResource",
      "type": "object",
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "statusMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation."
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation."
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'StartMigrationRequest' request."
    },
    "RunDiskMigrationJobRequest": {
      "id": "RunDiskMigrationJobRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'RunDiskMigrationJobRequest' request."
    },
    "DisksMigrationDisksTargetDetails": {
      "id": "DisksMigrationDisksTargetDetails",
      "type": "object",
      "properties": {},
      "description": "Details for a disks-only migration."
    },
    "AzureSourceVmDetails": {
      "description": "Represent the source Azure VM details.",
      "id": "AzureSourceVmDetails",
      "type": "object",
      "properties": {
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features.",
          "$ref": "VmCapabilities"
        },
        "firmware": {
          "description": "Output only. The firmware type of the source VM.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ]
        },
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "disks": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM."
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The VM architecture."
        }
      }
    },
    "DisksMigrationDisksTargetDefaults": {
      "id": "DisksMigrationDisksTargetDefaults",
      "type": "object",
      "properties": {},
      "description": "Details for a disk only migration."
    },
    "MigrationError": {
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "id": "MigrationError",
      "type": "object",
      "properties": {
        "actionItem": {
          "description": "Output only. Suggested action for solving the error.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "errorTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the error occurred."
        },
        "code": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "description": "Output only. The error code.",
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ]
        },
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. The localized error message.",
          "$ref": "LocalizedMessage"
        },
        "helpLinks": {
          "description": "Output only. URL(s) pointing to additional information on handling the current error.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Link"
          }
        }
      }
    },
    "InstantiatingMigratedVMStep": {
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "id": "InstantiatingMigratedVMStep",
      "type": "object",
      "properties": {}
    },
    "AppliedLicense": {
      "id": "AppliedLicense",
      "type": "object",
      "properties": {
        "type": {
          "enumDescriptions": [
            "Unspecified license for the OS.",
            "No license available for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "NONE",
            "PAYG",
            "BYOL"
          ],
          "type": "string",
          "description": "The license type that was used in OS adaptation."
        },
        "osLicense": {
          "description": "The OS license returned from the adaptation module's report.",
          "type": "string"
        }
      },
      "description": "AppliedLicense holds the license data returned by adaptation module report."
    },
    "CutoverJob": {
      "description": "CutoverJob message describes a cutover of a migrating VM. The CutoverJob is the operation of shutting down the VM, creating a snapshot and cloning the VM using the replicated snapshot.",
      "id": "CutoverJob",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the cutover job was created (as an API call, not when it was actually created in the target)."
        },
        "stateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the state was last updated."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details for the errors that led to the Cutover Job's state.",
          "$ref": "Status"
        },
        "stateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A message providing possible extra details about the current state."
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CutoverStep"
          },
          "description": "Output only. The cutover steps list representing its progress."
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The cutover job has not yet started.",
            "The cutover job finished with errors.",
            "The cutover job finished successfully.",
            "The cutover job was cancelled.",
            "The cutover job is being cancelled.",
            "The cutover job is active and running.",
            "OS adaptation is running as part of the cutover job to generate license."
          ],
          "description": "Output only. State of the cutover job.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ACTIVE",
            "ADAPTING_OS"
          ],
          "readOnly": true,
          "type": "string"
        },
        "progressPercent": {
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "computeEngineDisksTargetDetails": {
          "description": "Output only. Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDetails",
          "readOnly": true
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the cutover job."
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the cutover job had finished."
        },
        "progress": {
          "format": "int32",
          "description": "Output only. The current progress in percentage of the cutover job.",
          "readOnly": true,
          "type": "integer",
          "deprecated": true
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails"
        },
        "targetDetails": {
          "description": "Output only. Details of the VM to create as the target of this cutover job. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "readOnly": true,
          "deprecated": true
        },
        "computeEngineVmDetails": {
          "deprecated": true,
          "readOnly": true,
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails"
        }
      }
    },
    "ExtendMigrationRequest": {
      "id": "ExtendMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'ExtendMigrationRequest' request."
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "The response message for Operations.ListOperations."
    },
    "AwsVmsDetails": {
      "id": "AwsVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          },
          "description": "The details of the AWS VMs."
        }
      },
      "description": "AWSVmsDetails describes VMs in AWS."
    },
    "AwsVmDetails": {
      "description": "AwsVmDetails describes a VM in AWS.",
      "id": "AwsVmDetails",
      "type": "object",
      "properties": {
        "sourceDescription": {
          "description": "The descriptive name of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this value is not necessarily unique.",
          "type": "string"
        },
        "instanceType": {
          "description": "The instance type of the VM.",
          "type": "string"
        },
        "virtualizationType": {
          "description": "The virtualization type.",
          "type": "string",
          "enumDescriptions": [
            "The virtualization type is unknown.",
            "The virtualziation type is HVM.",
            "The virtualziation type is PARAVIRTUAL."
          ],
          "enum": [
            "VM_VIRTUALIZATION_TYPE_UNSPECIFIED",
            "HVM",
            "PARAVIRTUAL"
          ]
        },
        "tags": {
          "description": "The tags of the VM.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "zone": {
          "description": "The AWS zone of the VM.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The memory size of the VM in MB."
        },
        "cpuCount": {
          "description": "The number of CPU cores the VM has.",
          "type": "integer",
          "format": "int32"
        },
        "osDescription": {
          "description": "The VM's OS.",
          "type": "string"
        },
        "securityGroups": {
          "type": "array",
          "items": {
            "$ref": "AwsSecurityGroup"
          },
          "description": "The security groups the VM belongs to."
        },
        "vmId": {
          "description": "The VM ID in AWS.",
          "type": "string"
        },
        "bootOption": {
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is LEGACY-BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "type": "string",
          "description": "The VM Boot Option."
        },
        "sourceId": {
          "description": "The id of the AWS's source this VM is connected to.",
          "type": "string"
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "type": "string",
          "format": "int64"
        },
        "diskCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks the VM has."
        },
        "powerState": {
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned on.",
            "The VM is turned off.",
            "The VM is suspended. This is similar to hibernation or sleep mode.",
            "The VM is starting."
          ],
          "description": "Output only. The power state of the VM at the moment list was taken.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED",
            "PENDING"
          ]
        },
        "vpcId": {
          "description": "The VPC ID the VM belongs to.",
          "type": "string"
        },
        "architecture": {
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is I386.",
            "The architecture is X86_64.",
            "The architecture is ARM64.",
            "The architecture is X86_64_MAC."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "I386",
            "X86_64",
            "ARM64",
            "X86_64_MAC"
          ],
          "description": "The CPU architecture."
        },
        "vcpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of vCPUs the VM has. It is calculated as the number of CPU cores * threads per CPU the VM has."
        }
      }
    },
    "CreatingImageStep": {
      "id": "CreatingImageStep",
      "type": "object",
      "properties": {},
      "description": "CreatingImageStep contains specific step details."
    },
    "AddGroupMigrationRequest": {
      "description": "Request message for 'AddGroupMigration' request.",
      "id": "AddGroupMigrationRequest",
      "type": "object",
      "properties": {
        "migratingVm": {
          "description": "The full path name of the MigratingVm to add.",
          "type": "string"
        }
      }
    },
    "CancelDiskMigrationJobRequest": {
      "description": "Request message for 'CancelDiskMigrationJob' request.",
      "id": "CancelDiskMigrationJobRequest",
      "type": "object",
      "properties": {}
    },
    "ReplicationSync": {
      "id": "ReplicationSync",
      "type": "object",
      "properties": {
        "lastSyncTime": {
          "description": "The most updated snapshot created time in the source that finished replication.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "ReplicationSync contain information about the last replica sync to the cloud."
    },
    "ListReplicationCyclesResponse": {
      "id": "ListReplicationCyclesResponse",
      "type": "object",
      "properties": {
        "replicationCycles": {
          "description": "Output only. The list of replication cycles response.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "ReplicationCycle"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true,
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        }
      },
      "description": "Response message for 'ListReplicationCycles' request."
    },
    "AzureVmDetails": {
      "id": "AzureVmDetails",
      "type": "object",
      "properties": {
        "disks": {
          "description": "Description of the data disks.",
          "type": "array",
          "items": {
            "$ref": "Disk"
          }
        },
        "architecture": {
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string",
          "description": "The CPU architecture."
        },
        "powerState": {
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ],
          "type": "string"
        },
        "osDisk": {
          "description": "Description of the OS disk.",
          "$ref": "OSDisk"
        },
        "vmSize": {
          "description": "VM size as configured in Azure. Determines the VM's hardware spec.",
          "type": "string"
        },
        "committedStorageMb": {
          "type": "string",
          "format": "int64",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "diskCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of disks the VM has, including OS disk."
        },
        "bootOption": {
          "description": "The VM Boot Option.",
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ],
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        },
        "memoryMb": {
          "type": "integer",
          "format": "int32",
          "description": "The memory size of the VM in MB."
        },
        "cpuCount": {
          "type": "integer",
          "format": "int32",
          "description": "The number of cpus the VM has."
        },
        "osDescription": {
          "description": "Description of the OS.",
          "$ref": "OSDescription"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        },
        "computerName": {
          "description": "The VM's ComputerName.",
          "type": "string"
        }
      },
      "description": "AzureVmDetails describes a VM in Azure."
    },
    "VmwareVmsDetails": {
      "id": "VmwareVmsDetails",
      "type": "object",
      "properties": {
        "details": {
          "type": "array",
          "items": {
            "$ref": "VmwareVmDetails"
          },
          "description": "The details of the vmware VMs."
        }
      },
      "description": "VmwareVmsDetails describes VMs in vCenter."
    },
    "MigratingVm": {
      "id": "MigratingVm",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the migrating VM resource was updated."
        },
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "cutoverForecast": {
          "description": "Output only. Provides details of future CutoverJobs of a MigratingVm. Set to empty when cutover forecast is unavailable.",
          "$ref": "CutoverForecast",
          "readOnly": true
        },
        "policy": {
          "description": "The replication schedule policy.",
          "$ref": "SchedulePolicy"
        },
        "lastReplicationCycle": {
          "description": "Output only. Details of the last replication cycle. This will be updated whenever a replication cycle is finished and is not to be confused with last_sync which is only updated on successful replication cycles.",
          "$ref": "ReplicationCycle",
          "readOnly": true
        },
        "sourceVmId": {
          "description": "The unique ID of the VM in the source. The VM's name in vSphere can be changed, so this is not the VM's name but rather its moRef id. This id is of the form vm-.",
          "type": "string"
        },
        "computeEngineTargetDefaults": {
          "description": "Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDefaults"
        },
        "currentSyncInfo": {
          "description": "Output only. Details of the current running replication cycle.",
          "$ref": "ReplicationCycle",
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The last time the migrating VM state was updated.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "group": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The group this migrating vm is included in, if any. The group is represented by the full path of the appropriate Group resource."
        },
        "recentCloneJobs": {
          "description": "Output only. The recent clone jobs performed on the migrating VM. This field holds the vm's last completed clone job and the vm's running clone job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "CloneJob"
          }
        },
        "vmwareSourceVmDetails": {
          "readOnly": true,
          "description": "Output only. Details of the VM from a Vmware source.",
          "$ref": "VmwareSourceVmDetails"
        },
        "labels": {
          "type": "object",
          "description": "The labels of the migrating VM.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "state": {
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
            "The replication is active, and it's running or scheduled to run.",
            "The source VM is being turned off, and a final replication is currently running.",
            "The source VM was stopped and replicated. The replication is currently paused.",
            "A cutover job is active and replication cycle is running the final sync.",
            "The replication was paused by the user and no cycles are scheduled to run.",
            "The migrating VM is being finalized and migration resources are being removed.",
            "The replication process is done. The migrating VM is finalized and no longer consumes billable resources.",
            "The replication process encountered an unrecoverable error and was aborted.",
            "The migrating VM has passed its expiration date. It might be possible to bring it back to \"Active\" state by updating the TTL field. For more information, see the documentation.",
            "The migrating VM's has been finalized and migration resources have been removed."
          ],
          "description": "Output only. State of the MigratingVm.",
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ]
        },
        "expiration": {
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "$ref": "Expiration",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The identifier of the MigratingVm.",
          "readOnly": true,
          "type": "string"
        },
        "awsSourceVmDetails": {
          "description": "Output only. Details of the VM from an AWS source.",
          "$ref": "AwsSourceVmDetails",
          "readOnly": true
        },
        "azureSourceVmDetails": {
          "description": "Output only. Details of the VM from an Azure source.",
          "$ref": "AzureSourceVmDetails",
          "readOnly": true
        },
        "lastSync": {
          "readOnly": true,
[...]
