{
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "discoveryVersion": "v1",
  "name": "vmmigration",
  "protocol": "rest",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/migrate/virtual-machines",
  "fullyEncodeReservedExpansion": true,
  "version": "v1alpha1",
  "servicePath": "",
  "schemas": {
    "SkipOsAdaptation": {
      "properties": {},
      "id": "SkipOsAdaptation",
      "description": "Mentions that the machine image import is not using OS adaptation process.",
      "type": "object"
    },
    "MachineImageParametersOverrides": {
      "type": "object",
      "description": "Parameters overriding decisions based on the source machine image configurations.",
      "properties": {
        "machineType": {
          "description": "Optional. The machine type to create the MachineImage with. If empty, the service will choose a relevant machine type based on the information from the source image. For more information about machine types, please refer to https://cloud.google.com/compute/docs/machine-resource.",
          "type": "string"
        }
      },
      "id": "MachineImageParametersOverrides"
    },
    "DisksMigrationVmTargetDefaults": {
      "type": "object",
      "properties": {
        "secureBoot": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "serviceAccount": {
          "description": "Optional. The service account to associate the VM with.",
          "type": "string"
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has vTPM enabled."
        },
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance has integrity monitoring enabled.",
          "type": "boolean"
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM.",
          "$ref": "Encryption"
        },
        "networkInterfaces": {
          "items": {
            "$ref": "NetworkInterface"
          },
          "description": "Optional. NICs to attach to the VM.",
          "type": "array"
        },
        "hostname": {
          "type": "string",
          "description": "Optional. The hostname to assign to the VM."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional licenses to assign to the VM.",
          "type": "array"
        },
        "bootDiskDefaults": {
          "description": "Optional. Details of the boot disk of the VM.",
          "$ref": "BootDiskDefaults"
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "networkTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of network tags to associate with the VM."
        },
        "machineType": {
          "description": "Required. The machine type to create the VM with.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Optional. A map of labels to associate with the VM."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "Optional. The machine type series to create the VM with. For presentation only."
        },
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Optional. Compute instance scheduling information (if empty default is used)."
        },
        "vmName": {
          "type": "string",
          "description": "Required. The name of the VM to create."
        }
      },
      "id": "DisksMigrationVmTargetDefaults",
      "description": "Details for creation of a VM that migrated data disks will be attached to."
    },
    "FetchStorageInventoryResponse": {
      "properties": {
        "updateTime": {
          "description": "Output only. The timestamp when the source was last queried (if the result is from the cache).",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "resources": {
          "items": {
            "$ref": "SourceStorageResource"
          },
          "type": "array",
          "description": "The list of storage resources in the source."
        }
      },
      "id": "FetchStorageInventoryResponse",
      "description": "Response message for fetchStorageInventory.",
      "type": "object"
    },
    "ImageImportJob": {
      "description": "ImageImportJob describes the progress and result of an image import.",
      "type": "object",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the image import was created (as an API call, not when it was actually created in the target).",
          "type": "string"
        },
        "cloudStorageUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to the Cloud Storage file from which the image should be imported."
        },
        "errors": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Provides details on the error that led to the image import state in case of an error."
        },
        "warnings": {
          "readOnly": true,
          "items": {
            "$ref": "MigrationWarning"
          },
          "type": "array",
          "description": "Output only. Warnings that occurred during the image import."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource path of the ImageImportJob."
        },
        "endTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The time the image import was ended."
        },
        "createdResources": {
          "description": "Output only. The resource paths of the resources created by the image import job.",
          "type": "array",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "RUNNING",
            "SUCCEEDED",
            "FAILED",
            "CANCELLING",
            "CANCELLED"
          ],
          "description": "Output only. The state of the image import.",
          "enumDescriptions": [
            "The state is unknown.",
            "The image import has not yet started.",
            "The image import is active and running.",
            "The image import has finished successfully.",
            "The image import has finished with errors.",
            "The image import is being cancelled.",
            "The image import was cancelled."
          ]
        },
        "machineImageTargetDetails": {
          "$ref": "MachineImageTargetDetails",
          "readOnly": true,
          "description": "Output only. Target details used to import a machine image."
        },
        "diskImageTargetDetails": {
          "description": "Output only. Target details used to import a disk image.",
          "$ref": "DiskImageTargetDetails",
          "readOnly": true
        },
        "steps": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The image import steps list representing its progress.",
          "items": {
            "$ref": "ImageImportStep"
          }
        }
      },
      "id": "ImageImportJob"
    },
    "Link": {
      "type": "object",
      "id": "Link",
      "properties": {
        "url": {
          "description": "The URL of the link.",
          "type": "string"
        },
        "description": {
          "description": "Describes what the link offers.",
          "type": "string"
        }
      },
      "description": "Describes a URL link."
    },
    "DisksMigrationVmTargetDetails": {
      "type": "object",
      "description": "Details for the VM created VM as part of disks migration.",
      "properties": {
        "vmUri": {
          "readOnly": true,
          "description": "Output only. The URI of the Compute Engine VM.",
          "type": "string"
        }
      },
      "id": "DisksMigrationVmTargetDetails"
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. The update time timestamp."
        },
        "displayName": {
          "description": "Display name is a user defined name for this group which can be updated.",
          "type": "string"
        },
        "description": {
          "description": "User-provided description of the group.",
          "type": "string"
        },
        "migrationTargetType": {
          "enum": [
            "MIGRATION_TARGET_TYPE_UNSPECIFIED",
            "MIGRATION_TARGET_TYPE_GCE",
            "MIGRATION_TARGET_TYPE_DISKS"
          ],
          "enumDescriptions": [
            "Group type is not specified. This defaults to Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine targets.",
            "All MigratingVMs in the group must have Compute Engine Disks targets."
          ],
          "description": "Immutable. The target type of this group.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The Group name."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. The create time timestamp.",
          "readOnly": true,
          "format": "google-datetime"
        }
      },
      "description": "Describes message for 'Group' resource. The Group is a collections of several MigratingVms."
    },
    "UpgradeApplianceRequest": {
      "description": "Request message for 'UpgradeAppliance' request.",
      "properties": {
        "requestId": {
          "description": "A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "UpgradeApplianceRequest",
      "type": "object"
    },
    "DatacenterConnector": {
      "id": "DatacenterConnector",
      "description": "DatacenterConnector message describes a connector between the Source and Google Cloud, which is installed on a vmware datacenter (an OVA vm installed by the user) to connect the Datacenter to Google Cloud and support vm migration data transfer.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "OFFLINE",
            "FAILED",
            "ACTIVE"
          ],
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source was sampled by health checks and is not available.",
            "The source is available but might not be usable yet due to unvalidated credentials or another reason. The credentials referred to are the ones to the Source. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "description": "Output only. State of the DatacenterConnector, as determined by the health checks.",
          "readOnly": true
        },
        "bucket": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The communication channel between the datacenter connector and Google Cloud."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The last time the connector was updated with an API call."
        },
        "availableVersions": {
          "readOnly": true,
          "description": "Output only. The available versions for updating this appliance.",
          "$ref": "AvailableUpdates"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Datacenter Connector in case of an error.",
          "readOnly": true
        },
        "serviceAccount": {
          "description": "The service account to use in the connector when communicating with the cloud.",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The connector's name.",
          "type": "string"
        },
        "registrationId": {
          "description": "Immutable. A unique key for this connector. This key is internal to the OVA connector and is supplied with its creation during the registration process and can not be modified.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The time the connector was created (as an API call, not when it was actually installed).",
          "format": "google-datetime"
        },
        "applianceSoftwareVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Appliance last installed update bundle version. This is the version of the automatically updatable components on the appliance."
        },
        "version": {
          "type": "string",
          "description": "The version running in the DatacenterConnector. This is supplied by the OVA connector during the registration process and can not be modified."
        },
        "upgradeStatus": {
          "readOnly": true,
          "$ref": "UpgradeStatus",
          "description": "Output only. The status of the current / last upgradeAppliance operation."
        },
        "stateTime": {
          "type": "string",
          "description": "Output only. The time the state was last set.",
          "format": "google-datetime",
          "readOnly": true
        },
        "applianceInfrastructureVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Appliance OVA version. This is the OVA which is manually installed by the user and contains the infrastructure for the automatically updatable components on the appliance."
        }
      },
      "type": "object"
    },
    "ListTargetProjectsResponse": {
      "properties": {
        "targetProjects": {
          "items": {
            "$ref": "TargetProject"
          },
          "description": "Output only. The list of target response.",
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "readOnly": true,
          "description": "Output only. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "readOnly": true
        }
      },
      "id": "ListTargetProjectsResponse",
      "description": "Response message for 'ListTargetProjects' call.",
      "type": "object"
    },
    "VmUtilizationInfo": {
      "properties": {
        "vmwareVmDetails": {
          "description": "The description of the VM in a Source of type Vmware.",
          "$ref": "VmwareVmDetails"
        },
        "utilization": {
          "description": "Utilization metrics for this VM.",
          "$ref": "VmUtilizationMetrics"
        },
        "vmId": {
          "type": "string",
          "description": "The VM's ID in the source."
        }
      },
      "type": "object",
      "id": "VmUtilizationInfo",
      "description": "Utilization information of a single VM."
    },
    "ListCloneJobsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached."
        },
        "cloneJobs": {
          "description": "Output only. The list of clone jobs response.",
          "items": {
            "$ref": "CloneJob"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "ListCloneJobsResponse",
      "description": "Response message for 'ListCloneJobs' request."
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        }
      },
      "description": "This resource represents a long-running operation that is the result of a network API call."
    },
    "ServiceAccount": {
      "id": "ServiceAccount",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "Required. The email address of the service account."
        },
        "scopes": {
          "type": "array",
          "description": "Optional. The list of scopes to be made available for this service account.",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Service account to assign to the instance created by the machine image."
    },
    "MigrationError": {
      "type": "object",
      "id": "MigrationError",
      "description": "Represents migration resource error information that can be used with google.rpc.Status message. MigrationError is used to present the user with error information in migration operations.",
      "properties": {
        "errorTime": {
          "format": "google-datetime",
          "description": "Output only. The time the error occurred.",
          "type": "string",
          "readOnly": true
        },
        "helpLinks": {
          "type": "array",
          "items": {
            "$ref": "Link"
          },
          "readOnly": true,
          "description": "Output only. URL(s) pointing to additional information on handling the current error."
        },
        "actionItem": {
          "readOnly": true,
          "$ref": "LocalizedMessage",
          "description": "Output only. Suggested action for solving the error."
        },
        "errorMessage": {
          "description": "Output only. The localized error message.",
          "readOnly": true,
          "$ref": "LocalizedMessage"
        },
        "code": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "UNKNOWN_ERROR",
            "SOURCE_VALIDATION_ERROR",
            "SOURCE_REPLICATION_ERROR",
            "TARGET_REPLICATION_ERROR",
            "OS_ADAPTATION_ERROR",
            "CLONE_ERROR",
            "CUTOVER_ERROR",
            "UTILIZATION_REPORT_ERROR",
            "APPLIANCE_UPGRADE_ERROR",
            "IMAGE_IMPORT_ERROR",
            "DISK_MIGRATION_ERROR"
          ],
          "type": "string",
          "description": "Output only. The error code.",
          "readOnly": true,
          "enumDescriptions": [
            "Default value. This value is not used.",
            "Migrate to Virtual Machines encountered an unknown error.",
            "Migrate to Virtual Machines encountered an error while validating replication source health.",
            "Migrate to Virtual Machines encountered an error during source data operation.",
            "Migrate to Virtual Machines encountered an error during target data operation.",
            "Migrate to Virtual Machines encountered an error during OS adaptation.",
            "Migrate to Virtual Machines encountered an error in clone operation.",
            "Migrate to Virtual Machines encountered an error in cutover operation.",
            "Migrate to Virtual Machines encountered an error during utilization report creation.",
            "Migrate to Virtual Machines encountered an error during appliance upgrade.",
            "Migrate to Virtual Machines encountered an error in image import operation.",
            "Migrate to Virtual Machines encountered an error in disk migration operation."
          ]
        }
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "value": {
          "description": "Required. Value of tag.",
          "type": "string"
        },
        "key": {
          "type": "string",
          "description": "Required. Key of tag."
        }
      },
      "id": "Tag",
      "description": "Tag is an AWS tag representation."
    },
    "NetworkInterface": {
      "type": "object",
      "properties": {
        "subnetwork": {
          "description": "Optional. The subnetwork to connect the NIC to.",
          "type": "string"
        },
        "networkTier": {
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_NETWORK_TIER_UNSPECIFIED",
            "NETWORK_TIER_STANDARD",
            "NETWORK_TIER_PREMIUM"
          ],
          "description": "Optional. The networking tier used for optimizing connectivity between instances and systems on the internet. Applies only for external ephemeral IP addresses. If left empty, will default to PREMIUM.",
          "enumDescriptions": [
            "An unspecified network tier. Will be used as PREMIUM.",
            "A standard network tier.",
            "A premium network tier."
          ]
        },
        "internalIp": {
          "type": "string",
          "description": "Optional. The internal IP to define in the NIC. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "externalIp": {
          "description": "Optional. The external IP to define in the NIC.",
          "type": "string"
        },
        "network": {
          "description": "Optional. The network to connect the NIC to.",
          "type": "string"
        }
      },
      "id": "NetworkInterface",
      "description": "NetworkInterface represents a NIC of a VM."
    },
    "PersistentDiskDefaults": {
      "description": "Details for creation of a Persistent Disk.",
      "type": "object",
      "id": "PersistentDiskDefaults",
      "properties": {
        "sourceDiskNumber": {
          "type": "integer",
          "description": "Required. The ordinal number of the source VM disk.",
          "format": "int32"
        },
        "additionalLabels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of labels to associate with the Persistent Disk."
        },
        "vmAttachmentDetails": {
          "$ref": "VmAttachmentDetails",
          "description": "Optional. Details for attachment of the disk to a VM. Used when the disk is set to be attached to a target VM."
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "type": "string",
          "description": "The disk type to use.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ]
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. The encryption to apply to the disk."
        },
        "diskName": {
          "type": "string",
          "description": "Optional. The name of the Persistent Disk to create."
        }
      }
    },
    "ListCutoverJobsResponse": {
      "type": "object",
      "properties": {
        "cutoverJobs": {
          "type": "array",
          "items": {
            "$ref": "CutoverJob"
          },
          "readOnly": true,
          "description": "Output only. The list of cutover jobs response."
        },
        "unreachable": {
          "type": "array",
          "description": "Output only. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListCutoverJobsResponse",
      "description": "Response message for 'ListCutoverJobs' request."
    },
    "CutoverForecast": {
      "id": "CutoverForecast",
      "properties": {
        "estimatedCutoverJobDuration": {
          "format": "google-duration",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Estimation of the CutoverJob duration."
        }
      },
      "type": "object",
      "description": "CutoverForecast holds information about future CutoverJobs of a MigratingVm."
    },
    "ImageImportStep": {
      "type": "object",
      "id": "ImageImportStep",
      "description": "ImageImportStep holds information about the image import step progress.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "description": "Output only. The time the step has started.",
          "readOnly": true,
          "type": "string"
        },
        "creatingImage": {
          "description": "Creating image step.",
          "$ref": "CreatingImageStep"
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the step has ended.",
          "type": "string"
        },
        "adaptingOs": {
          "description": "Adapting OS step.",
          "$ref": "AdaptingOSStep"
        },
        "loadingSourceFiles": {
          "$ref": "LoadingImageSourceFilesStep",
          "description": "Loading source files step."
        },
        "initializing": {
          "description": "Initializing step.",
          "$ref": "InitializingImageImportStep"
        }
      }
    },
    "ListUtilizationReportsResponse": {
      "description": "Response message for 'ListUtilizationReports' request.",
      "id": "ListUtilizationReportsResponse",
      "type": "object",
      "properties": {
        "utilizationReports": {
          "description": "Output only. The list of reports.",
          "readOnly": true,
          "items": {
            "$ref": "UtilizationReport"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "unreachable": {
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Locations that could not be reached."
        }
      }
    },
    "PersistentDisk": {
      "description": "Details of a created Persistent Disk.",
      "type": "object",
      "id": "PersistentDisk",
      "properties": {
        "sourceDiskNumber": {
          "format": "int32",
          "type": "integer",
          "description": "The ordinal number of the source VM disk."
        },
        "diskUri": {
          "description": "The URI of the Persistent Disk.",
          "type": "string"
        }
      }
    },
    "CutoverStep": {
      "id": "CutoverStep",
      "properties": {
        "previousReplicationCycle": {
          "$ref": "ReplicationCycle",
          "description": "A replication cycle prior cutover step."
        },
        "preparingVmDisks": {
          "description": "Preparing VM disks step.",
          "$ref": "PreparingVMDisksStep"
        },
        "startTime": {
          "description": "The time the step has started.",
          "format": "google-datetime",
          "type": "string"
        },
        "instantiatingMigratedVm": {
          "description": "Instantiating migrated VM step.",
          "$ref": "InstantiatingMigratedVMStep"
        },
        "endTime": {
          "description": "The time the step has ended.",
          "type": "string",
          "format": "google-datetime"
        },
        "finalSync": {
          "$ref": "ReplicationCycle",
          "description": "Final sync step."
        },
        "shuttingDownSourceVm": {
          "$ref": "ShuttingDownSourceVMStep",
          "description": "Shutting down VM step."
        }
      },
      "type": "object",
      "description": "CutoverStep holds information about the cutover step progress."
    },
    "RunDiskMigrationJobRequest": {
      "description": "Request message for 'RunDiskMigrationJobRequest' request.",
      "id": "RunDiskMigrationJobRequest",
      "type": "object",
      "properties": {}
    },
    "LoadingImageSourceFilesStep": {
      "properties": {},
      "description": "LoadingImageSourceFilesStep contains specific step details.",
      "type": "object",
      "id": "LoadingImageSourceFilesStep"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "properties": {
        "createTime": {
          "type": "string",
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "statusMessage": {
          "type": "string",
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true
        },
        "verb": {
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. API version used to start the operation."
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean",
          "readOnly": true
        },
        "endTime": {
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation finished running.",
          "type": "string"
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "Represents the metadata of the long-running operation.",
      "type": "object"
    },
    "ListMigratingVmsResponse": {
      "description": "Response message for 'ListMigratingVms' request.",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string",
          "readOnly": true
        },
        "migratingVms": {
          "description": "Output only. The list of Migrating VMs response.",
          "items": {
            "$ref": "MigratingVm"
          },
          "type": "array",
          "readOnly": true
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Locations that could not be reached.",
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListMigratingVmsResponse"
    },
    "ComputeEngineDisksTargetDetails": {
      "id": "ComputeEngineDisksTargetDetails",
      "description": "ComputeEngineDisksTargetDetails is a collection of created Persistent Disks details.",
      "type": "object",
      "properties": {
        "disks": {
          "description": "The details of each created Persistent Disk.",
          "items": {
            "$ref": "PersistentDisk"
          },
          "type": "array"
        },
        "disksTargetDetails": {
          "$ref": "DisksMigrationDisksTargetDetails",
          "description": "Details of the disks-only migration target."
        },
        "vmTargetDetails": {
          "description": "Details for the VM the migrated data disks are attached to.",
          "$ref": "DisksMigrationVmTargetDetails"
        }
      }
    },
    "CancelCloneJobRequest": {
      "type": "object",
      "id": "CancelCloneJobRequest",
      "description": "Request message for 'CancelCloneJob' request.",
      "properties": {}
    },
    "VmUtilizationMetrics": {
      "type": "object",
      "id": "VmUtilizationMetrics",
      "description": "Utilization metrics values for a single VM.",
      "properties": {
        "cpuAveragePercent": {
          "format": "int32",
          "type": "integer",
          "description": "Average CPU usage, percent."
        },
        "diskIoRateMax": {
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "diskIoRateMaxKbps": {
          "format": "int64",
          "description": "Max disk IO rate, in kilobytes per second.",
          "type": "string"
        },
        "cpuMaxPercent": {
          "format": "int32",
          "type": "integer",
          "description": "Max CPU usage, percent."
        },
        "networkThroughputMax": {
          "deprecated": true,
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "networkThroughputAverageKbps": {
          "type": "string",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64"
        },
        "cpuMax": {
          "deprecated": true,
          "format": "int32",
          "type": "integer",
          "description": "Max CPU usage, percent."
        },
        "memoryAverage": {
          "deprecated": true,
          "format": "int32",
          "description": "Average memory usage, percent.",
          "type": "integer"
        },
        "memoryMax": {
          "description": "Max memory usage, percent.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        },
        "memoryAveragePercent": {
          "format": "int32",
          "description": "Average memory usage, percent.",
          "type": "integer"
        },
        "networkThroughputAverage": {
          "deprecated": true,
          "format": "int64",
          "description": "Average network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "type": "string"
        },
        "networkThroughputMaxKbps": {
          "description": "Max network throughput (combined transmit-rates and receive-rates), in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "diskIoRateAverage": {
          "deprecated": true,
          "format": "int64",
          "description": "Average disk IO rate, in kilobytes per second.",
          "type": "string"
        },
        "diskIoRateAverageKbps": {
          "description": "Average disk IO rate, in kilobytes per second.",
          "format": "int64",
          "type": "string"
        },
        "memoryMaxPercent": {
          "type": "integer",
          "format": "int32",
          "description": "Max memory usage, percent."
        },
        "cpuAverage": {
          "description": "Average CPU usage, percent.",
          "type": "integer",
          "format": "int32",
          "deprecated": true
        }
      }
    },
    "CloneJob": {
      "description": "CloneJob describes the process of creating a clone of a MigratingVM to the requested target based on the latest successful uploaded snapshots. While the migration cycles of a MigratingVm take place, it is possible to verify the uploaded VM can be started in the cloud, by creating a clone. The clone can be created without any downtime, and it is created using the latest snapshots which are already in the cloud. The cloneJob is only responsible for its work, not its products, which means once it is finished, it will never touch the instance it created. It will only delete it in case of the CloneJob being cancelled or upon failure to clone.",
      "id": "CloneJob",
      "properties": {
        "computeEngineDisksTargetDetails": {
          "$ref": "ComputeEngineDisksTargetDetails",
          "readOnly": true,
          "description": "Output only. Details of the target Persistent Disks in Compute Engine."
        },
        "createTime": {
          "description": "Output only. The time the clone job was created (as an API call, not when it was actually created in the target).",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the clone."
        },
        "computeEngineTargetDetails": {
          "readOnly": true,
          "description": "Output only. Details of the target VM in Compute Engine.",
          "$ref": "ComputeEngineTargetDetails"
        },
        "steps": {
          "readOnly": true,
          "description": "Output only. The clone steps list representing its progress.",
          "type": "array",
          "items": {
            "$ref": "CloneStep"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "ACTIVE",
            "FAILED",
            "SUCCEEDED",
            "CANCELLED",
            "CANCELLING",
            "ADAPTING_OS"
          ],
          "description": "Output only. State of the clone job.",
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The clone job has not yet started.",
            "The clone job is active and running.",
            "The clone job finished with errors.",
            "The clone job finished successfully.",
            "The clone job was cancelled.",
            "The clone job is being cancelled.",
            "OS adaptation is running as part of the clone job to generate license."
          ],
          "readOnly": true
        },
        "error": {
          "description": "Output only. Provides details for the errors that led to the Clone Job's state.",
          "$ref": "Status",
          "readOnly": true
        },
        "targetDetails": {
          "description": "Output only. Details of the VM to create as the target of this clone job. Deprecated: Use compute_engine_target_details instead.",
          "readOnly": true,
          "$ref": "TargetVMDetails",
          "deprecated": true
        },
        "computeEngineVmDetails": {
          "description": "Output only. Details of the VM in Compute Engine. Deprecated: Use compute_engine_target_details instead.",
          "$ref": "TargetVMDetails",
          "deprecated": true,
          "readOnly": true
        },
        "stateTime": {
          "description": "Output only. The time the state was last updated.",
          "format": "google-datetime",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the clone job was ended.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object",
      "description": "The request message for Operations.CancelOperation."
    },
    "MigrationWarning": {
      "type": "object",
      "properties": {
        "code": {
          "description": "The warning code.",
          "type": "string",
          "enum": [
            "WARNING_CODE_UNSPECIFIED",
            "ADAPTATION_WARNING"
          ],
          "enumDescriptions": [
            "Default value. This value is not used.",
            "A warning originated from OS Adaptation."
          ]
        },
        "warningMessage": {
          "readOnly": true,
          "description": "Output only. The localized warning message.",
          "$ref": "LocalizedMessage"
        },
        "actionItem": {
          "description": "Output only. Suggested action for solving the warning.",
          "$ref": "LocalizedMessage",
          "readOnly": true
        },
        "helpLinks": {
          "type": "array",
          "description": "Output only. URL(s) pointing to additional information on handling the current warning.",
          "readOnly": true,
          "items": {
            "$ref": "Link"
          }
        },
        "warningTime": {
          "format": "google-datetime",
          "description": "The time the warning occurred.",
          "type": "string"
        }
      },
      "description": "Represents migration resource warning information that can be used with google.rpc.Status message. MigrationWarning is used to present the user with warning information in migration operations.",
      "id": "MigrationWarning"
    },
    "ReplicationCycle": {
      "description": "ReplicationCycle contains information about the current replication cycle status.",
      "properties": {
        "totalPauseDuration": {
          "description": "The accumulated duration the replication cycle was paused.",
          "type": "string",
          "format": "google-duration"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time the replication cycle has started."
        },
        "warnings": {
          "readOnly": true,
          "description": "Output only. Warnings that occurred during the cycle.",
          "type": "array",
          "items": {
            "$ref": "MigrationWarning"
          }
        },
        "state": {
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The replication cycle is running.",
            "The replication cycle is paused.",
            "The replication cycle finished with errors.",
            "The replication cycle finished successfully."
          ],
          "type": "string",
          "description": "State of the ReplicationCycle.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "FAILED",
            "SUCCEEDED"
          ]
        },
        "progressPercent": {
          "deprecated": true,
          "description": "The current progress in percentage of this cycle. Was replaced by 'steps' field, which breaks down the cycle progression more accurately.",
          "format": "int32",
          "type": "integer"
        },
        "name": {
          "description": "The identifier of the ReplicationCycle.",
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the cycle in case of an error."
        },
        "steps": {
          "type": "array",
          "description": "The cycle's steps list representing its progress.",
          "items": {
            "$ref": "CycleStep"
          }
        },
        "progress": {
          "format": "int32",
          "type": "integer",
          "description": "The current progress in percentage of this cycle.",
          "deprecated": true
        },
        "cycleNumber": {
          "format": "int32",
          "description": "The cycle's ordinal number.",
          "type": "integer"
        },
        "endTime": {
          "description": "The time the replication cycle has ended.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "ReplicationCycle"
    },
    "InstantiatingMigratedVMStep": {
      "description": "InstantiatingMigratedVMStep contains specific step details.",
      "type": "object",
      "id": "InstantiatingMigratedVMStep",
      "properties": {}
    },
    "TargetVMDetails": {
      "deprecated": true,
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "appliedLicense": {
          "readOnly": true,
          "description": "Output only. The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "network": {
          "type": "string",
          "description": "The network to connect the VM to."
        },
        "networkTags": {
          "type": "array",
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          }
        },
        "subnetwork": {
          "type": "string",
          "description": "The subnetwork to connect the VM to."
        },
        "licenseType": {
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "enum": [
            "DEFAULT",
            "PAYG",
            "BYOL"
          ],
          "type": "string",
          "description": "The license type to use in OS adaptation."
        },
        "externalIp": {
          "type": "string",
          "description": "The external IP to define in the VM."
        },
        "bootOption": {
          "description": "Output only. The VM Boot Option, as set in the source VM.",
          "type": "string",
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of labels to associate with the VM."
        },
        "machineTypeSeries": {
          "type": "string",
          "description": "The machine type series to create the VM with."
        },
        "computeScheduling": {
          "description": "Compute instance scheduling information (if empty default is used).",
          "$ref": "ComputeScheduling"
        },
        "networkInterfaces": {
          "description": "List of NICs connected to this VM.",
          "type": "array",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "targetProject": {
          "description": "The full path of the resource of type TargetProject which represents the Compute Engine project in which to create this VM.",
          "type": "string"
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP to define in the VM. The formats accepted are: `ephemeral` \\ ipv4 address \\ a named address resource full path."
        },
        "machineType": {
          "description": "The machine type to create the VM with.",
          "type": "string"
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the vm boot option is EFI."
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "project": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The project in which to create the VM.",
          "deprecated": true
        },
        "diskType": {
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "SSD hard disk type.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "The disk type to use in the VM.",
          "enum": [
            "DISK_TYPE_UNSPECIFIED",
            "STANDARD",
            "BALANCED",
            "SSD",
            "HYPERDISK_BALANCED",
            "HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        }
      },
      "description": "TargetVMDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "id": "TargetVMDetails"
    },
    "VmwareSourceDetails": {
      "description": "VmwareSourceDetails message describes a specific source details for the vmware source type.",
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "Input only. The credentials password. This is write only and can not be read in a GET operation."
        },
        "thumbprint": {
          "type": "string",
          "description": "The thumbprint representing the certificate for the vcenter."
        },
        "vcenterIp": {
          "type": "string",
          "description": "The ip address of the vcenter this Source represents."
        },
        "username": {
          "description": "The credentials username.",
          "type": "string"
        },
        "resolvedVcenterHost": {
          "description": "The hostname of the vcenter.",
          "type": "string"
        }
      },
      "id": "VmwareSourceDetails"
    },
    "SourceStorageResource": {
      "description": "SourceStorageResource describes a storage resource in the source.",
      "properties": {
        "awsDiskDetails": {
          "description": "Source AWS volume details.",
          "$ref": "AwsSourceDiskDetails"
        }
      },
      "type": "object",
      "id": "SourceStorageResource"
    },
    "MachineImageTargetDetails": {
      "description": "The target details of the machine image resource that will be created by the image import job.",
      "id": "MachineImageTargetDetails",
      "type": "object",
      "properties": {
        "description": {
          "type": "string",
          "description": "Optional. An optional description of the machine image."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "Optional. The network interfaces to create with the instance created by the machine image. Internal and external IP addresses, and network tiers are ignored for machine image import.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "singleRegionStorage": {
          "type": "boolean",
          "description": "Optional. Set to true to set the machine image storageLocations to the single region of the import job. When false, the closest multi-region is selected."
        },
        "additionalLicenses": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional licenses to assign to the instance created by the machine image. Format: https://www.googleapis.com/compute/v1/projects/PROJECT_ID/global/licenses/LICENSE_NAME Or https://www.googleapis.com/compute/beta/projects/PROJECT_ID/global/licenses/LICENSE_NAME"
        },
        "osAdaptationParameters": {
          "description": "Optional. Use to set the parameters relevant for the OS adaptation process.",
          "$ref": "ImageImportOsAdaptationParameters"
        },
        "machineImageName": {
          "type": "string",
          "description": "Required. The name of the machine image to be created."
        },
        "shieldedInstanceConfig": {
          "description": "Optional. Shielded instance configuration.",
          "$ref": "ShieldedInstanceConfig"
        },
        "targetProject": {
          "type": "string",
          "description": "Required. Reference to the TargetProject resource that represents the target project in which the imported machine image will be created."
        },
        "machineImageParametersOverrides": {
          "$ref": "MachineImageParametersOverrides",
          "description": "Optional. Parameters overriding decisions based on the source machine image configurations."
        },
        "skipOsAdaptation": {
          "description": "Optional. Use to skip OS adaptation process.",
          "$ref": "SkipOsAdaptation"
        },
        "labels": {
          "description": "Optional. The labels to apply to the instance created by the machine image.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceAccount": {
          "description": "Optional. The service account to assign to the instance created by the machine image.",
          "$ref": "ServiceAccount"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Immutable. The encryption to apply to the machine image. If the Image Import resource has an encryption, this field must be set to the same encryption key."
        },
        "tags": {
          "description": "Optional. The tags to apply to the instance created by the machine image.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "ComputeEngineTargetDetails": {
      "properties": {
        "computeScheduling": {
          "$ref": "ComputeScheduling",
          "description": "Compute instance scheduling information (if empty default is used)."
        },
        "enableVtpm": {
          "description": "Optional. Defines whether the instance has vTPM enabled.",
          "type": "boolean"
        },
        "appliedLicense": {
          "description": "The OS license returned from the adaptation module report.",
          "$ref": "AppliedLicense"
        },
        "adaptationModifiers": {
          "description": "Optional. Modifiers to be used as configuration of the OS adaptation process.",
          "items": {
            "$ref": "AdaptationModifier"
          },
          "type": "array"
        },
        "bootOption": {
          "enum": [
            "COMPUTE_ENGINE_BOOT_OPTION_UNSPECIFIED",
            "COMPUTE_ENGINE_BOOT_OPTION_EFI",
            "COMPUTE_ENGINE_BOOT_OPTION_BIOS"
          ],
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ],
          "type": "string",
          "description": "The VM Boot Option, as set in the source VM."
        },
        "bootConversion": {
          "description": "Optional. By default the virtual machine will keep its existing boot option. Setting this property will trigger an internal process which will convert the virtual machine from using the existing boot option to another.",
          "type": "string",
          "enum": [
            "BOOT_CONVERSION_UNSPECIFIED",
            "NONE",
            "BIOS_TO_EFI"
          ],
          "enumDescriptions": [
            "Unspecified conversion type.",
            "No conversion.",
            "Convert from BIOS to EFI."
          ]
        },
        "networkTags": {
          "description": "A list of network tags to associate with the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "zone": {
          "description": "The zone in which to create the VM.",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "The disk type to use in the VM.",
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ]
        },
        "project": {
          "type": "string",
          "description": "The Google Cloud target project ID or project name."
        },
        "secureBoot": {
          "type": "boolean",
          "description": "Defines whether the instance has Secure Boot enabled. This can be set to true only if the VM boot option is EFI."
        },
        "additionalLicenses": {
          "description": "Additional licenses to assign to the VM.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "storagePool": {
          "description": "Optional. The storage pool used for the VM disks. If specified this will be the storage pool in which the disk is created. This is the full path of the storage pool resource, for example: \"projects/my-project/zones/us-central1-a/storagePools/my-storage-pool\". The storage pool must be in the same project and zone as the target disks. The storage pool's type must match the disk type.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account to associate the VM with.",
          "type": "string"
        },
        "licenseType": {
          "description": "The license type to use in OS adaptation.",
          "enumDescriptions": [
            "The license type is the default for the OS.",
            "The license type is Pay As You Go license type.",
            "The license type is Bring Your Own License type."
          ],
          "type": "string",
          "enum": [
            "COMPUTE_ENGINE_LICENSE_TYPE_DEFAULT",
            "COMPUTE_ENGINE_LICENSE_TYPE_PAYG",
            "COMPUTE_ENGINE_LICENSE_TYPE_BYOL"
          ]
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The metadata key/value pairs to assign to the VM.",
          "type": "object"
        },
        "diskReplicaZones": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Additional replica zones of the target regional disks. If this list is not empty a regional disk will be created. The first supported zone would be the one stated in the zone field. The rest are taken from this list. Please refer to the [regional disk creation API](https://cloud.google.com/compute/docs/regions-zones/global-regional-zonal-resources) for further details about regional vs zonal disks. If not specified, a zonal disk will be created in the same zone the VM is created."
        },
        "hostname": {
          "type": "string",
          "description": "The hostname to assign to the VM."
        },
        "labels": {
          "description": "A map of labels to associate with the VM.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "machineTypeSeries": {
          "description": "The machine type series to create the VM with.",
          "type": "string"
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance has integrity monitoring enabled."
        },
        "networkInterfaces": {
          "type": "array",
          "description": "List of NICs connected to this VM.",
          "items": {
            "$ref": "NetworkInterface"
          }
        },
        "vmName": {
          "type": "string",
          "description": "The name of the VM to create."
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the VM disks.",
          "$ref": "Encryption"
        },
        "machineType": {
          "type": "string",
          "description": "The machine type to create the VM with."
        }
      },
      "id": "ComputeEngineTargetDetails",
      "description": "ComputeEngineTargetDetails is a collection of details for creating a VM in a target Compute Engine project.",
      "type": "object"
    },
    "CancelImageImportJobRequest": {
      "description": "Request message for 'CancelImageImportJob' request.",
      "type": "object",
      "properties": {},
      "id": "CancelImageImportJobRequest"
    },
    "AzureVmsDetails": {
      "id": "AzureVmsDetails",
      "type": "object",
      "description": "AzureVmsDetails describes VMs in Azure.",
      "properties": {
        "details": {
          "description": "The details of the Azure VMs.",
          "items": {
            "$ref": "AzureVmDetails"
          },
          "type": "array"
        }
      }
    },
    "ImageImport": {
      "description": "ImageImport describes the configuration of the image import to run.",
      "id": "ImageImport",
      "properties": {
        "recentImageImportJobs": {
          "description": "Output only. The result of the most recent runs for this ImageImport. All jobs for this ImageImport can be listed via ListImageImportJobs.",
          "items": {
            "$ref": "ImageImportJob"
          },
          "readOnly": true,
          "type": "array"
        },
        "diskImageTargetDefaults": {
          "description": "Immutable. Target details for importing a disk image, will be used by ImageImportJob.",
          "$ref": "DiskImageTargetDetails"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource path of the ImageImport.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the image import was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "machineImageTargetDefaults": {
          "description": "Immutable. Target details for importing a machine image, will be used by ImageImportJob.",
          "$ref": "MachineImageTargetDetails"
        },
        "cloudStorageUri": {
          "description": "Immutable. The path to the Cloud Storage file from which the image should be imported.",
          "type": "string"
        },
        "encryption": {
          "description": "Immutable. The encryption details used by the image import process during the image adaptation for Compute Engine.",
          "$ref": "Encryption"
        }
      },
      "type": "object"
    },
    "StartMigrationRequest": {
      "id": "StartMigrationRequest",
      "type": "object",
      "properties": {},
      "description": "Request message for 'StartMigrationRequest' request."
    },
    "BootDiskDefaults": {
      "type": "object",
      "properties": {
        "diskType": {
          "enum": [
            "COMPUTE_ENGINE_DISK_TYPE_UNSPECIFIED",
            "COMPUTE_ENGINE_DISK_TYPE_STANDARD",
            "COMPUTE_ENGINE_DISK_TYPE_SSD",
            "COMPUTE_ENGINE_DISK_TYPE_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED",
            "COMPUTE_ENGINE_DISK_TYPE_HYPERDISK_BALANCED_HIGH_AVAILABILITY"
          ],
          "type": "string",
          "enumDescriptions": [
            "An unspecified disk type. Will be used as STANDARD.",
            "A Standard disk type.",
            "SSD hard disk type.",
            "An alternative to SSD persistent disks that balance performance and cost.",
            "Hyperdisk balanced disk type.",
            "Hyperdisk balanced high availability disk type."
          ],
          "description": "Optional. The type of disk provisioning to use for the VM."
        },
        "encryption": {
          "description": "Optional. The encryption to apply to the boot disk.",
          "$ref": "Encryption"
        },
        "deviceName": {
          "description": "Optional. Specifies a unique device name of your choice that is reflected into the /dev/disk/by-id/google-* tree of a Linux operating system running within the instance. If not specified, the server chooses a default device name to apply to this disk, in the form persistent-disk-x, where x is a number assigned by Google Compute Engine. This field is only applicable for persistent disks.",
          "type": "string"
        },
        "image": {
          "description": "The image to use when creating the disk.",
          "$ref": "DiskImageDefaults"
        },
        "diskName": {
          "description": "Optional. The name of the disk.",
          "type": "string"
        }
      },
      "description": "BootDiskDefaults hold information about the boot disk of a VM.",
      "id": "BootDiskDefaults"
    },
    "ProvisioningTargetDiskStep": {
      "id": "ProvisioningTargetDiskStep",
      "description": "ProvisioningTargetDiskStep contains specific step details.",
      "type": "object",
      "properties": {}
    },
    "AddGroupMigrationRequest": {
      "properties": {
        "migratingVm": {
          "type": "string",
          "description": "The full path name of the MigratingVm to add."
        }
      },
      "type": "object",
      "description": "Request message for 'AddGroupMigration' request.",
      "id": "AddGroupMigrationRequest"
    },
    "DiskMigrationStep": {
      "id": "DiskMigrationStep",
      "type": "object",
      "description": "DiskMigrationStep holds information about the disk migration step progress.",
      "properties": {
        "provisioningTargetDisk": {
          "description": "Creating target disk step.",
          "$ref": "ProvisioningTargetDiskStep"
        },
        "copyingSourceDiskSnapshot": {
          "$ref": "CopyingSourceDiskSnapshotStep",
          "description": "Copying source disk snapshot step."
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the step has started."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "Output only. The time the step has ended.",
          "type": "string",
          "readOnly": true
        },
        "creatingSourceDiskSnapshot": {
          "description": "Creating source disk snapshot step.",
          "$ref": "CreatingSourceDiskSnapshotStep"
        }
      }
    },
    "CancelCutoverJobRequest": {
      "type": "object",
      "description": "Request message for 'CancelCutoverJob' request.",
      "properties": {},
      "id": "CancelCutoverJobRequest"
    },
    "CreatingImageStep": {
      "id": "CreatingImageStep",
      "type": "object",
      "description": "CreatingImageStep contains specific step details.",
      "properties": {}
    },
    "AwsVmsDetails": {
      "properties": {
        "details": {
          "description": "The details of the AWS VMs.",
          "type": "array",
          "items": {
            "$ref": "AwsVmDetails"
          }
        }
      },
      "description": "AWSVmsDetails describes VMs in AWS.",
      "id": "AwsVmsDetails",
      "type": "object"
    },
    "Encryption": {
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Required. The name of the encryption key that is stored in Google Cloud KMS."
        }
      },
      "id": "Encryption",
      "type": "object",
      "description": "Encryption message describes the details of the applied encryption."
    },
    "InitializingImageImportStep": {
      "type": "object",
      "id": "InitializingImageImportStep",
      "description": "InitializingImageImportStep contains specific step details.",
      "properties": {}
    },
    "Source": {
      "description": "Source message describes a specific vm migration Source resource. It contains the source environment information.",
      "type": "object",
      "id": "Source",
      "properties": {
        "aws": {
          "$ref": "AwsSourceDetails",
          "description": "AWS type source details."
        },
        "createTime": {
          "description": "Output only. The create time timestamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The labels of the source."
        },
        "name": {
          "description": "Output only. The Source name.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "$ref": "Status",
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "deprecated": true,
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "User-provided description of the source."
        },
        "azure": {
          "description": "Azure type source details.",
          "$ref": "AzureSourceDetails"
        },
        "encryption": {
          "$ref": "Encryption",
          "description": "Optional. Immutable. The encryption details of the source data stored by the service."
        },
        "vmware": {
          "$ref": "VmwareSourceDetails",
          "description": "Vmware type source details."
        },
        "updateTime": {
          "type": "string",
          "description": "Output only. The update time timestamp.",
          "format": "google-datetime",
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations."
    },
    "VmwareDiskDetails": {
      "id": "VmwareDiskDetails",
      "description": "The details of a Vmware VM disk.",
      "type": "object",
      "properties": {
        "diskNumber": {
          "description": "Output only. The ordinal number of the disk.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "sizeGb": {
          "readOnly": true,
          "format": "int64",
          "type": "string",
          "description": "Output only. Size in GB."
        },
        "label": {
          "description": "Output only. The disk label.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "CreatingSourceDiskSnapshotStep": {
      "description": "CreatingSourceDiskSnapshotStep contains specific step details.",
      "id": "CreatingSourceDiskSnapshotStep",
      "type": "object",
      "properties": {}
    },
    "AwsSourceDiskDetails": {
      "type": "object",
      "id": "AwsSourceDiskDetails",
      "properties": {
        "diskType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "GP2",
            "GP3",
            "IO1",
            "IO2",
            "ST1",
            "SC1",
            "STANDARD"
          ],
          "description": "Optional. Output only. Disk type.",
          "enumDescriptions": [
            "Unspecified AWS disk type. Should not be used.",
            "GP2 disk type.",
            "GP3 disk type.",
            "IO1 disk type.",
            "IO2 disk type.",
            "ST1 disk type.",
            "SC1 disk type.",
            "Standard disk type."
          ],
          "readOnly": true,
          "type": "string"
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "readOnly": true,
          "description": "Optional. Output only. A map of AWS volume tags."
        },
        "volumeId": {
          "description": "Required. AWS volume ID.",
          "type": "string"
        },
        "sizeGib": {
          "description": "Output only. Size in GiB.",
          "format": "int64",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "Represents the source AWS Disk details."
    },
    "Expiration": {
      "type": "object",
      "description": "Expiration holds information about the expiration of a MigratingVm.",
      "id": "Expiration",
      "properties": {
        "extendable": {
          "description": "Output only. Describes whether the expiration can be extended.",
          "readOnly": true,
          "type": "boolean"
        },
        "expireTime": {
          "description": "Output only. Timestamp of when this resource is considered expired.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "extensionCount": {
          "format": "int32",
          "readOnly": true,
          "type": "integer",
          "description": "Output only. The number of times expiration was extended."
        }
      }
    },
    "Location": {
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "description": "A resource that represents a Google Cloud location.",
      "type": "object"
    },
    "VmwareSourceVmDetails": {
      "id": "VmwareSourceVmDetails",
      "description": "Represent the source Vmware VM details.",
      "properties": {
        "committedStorageBytes": {
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string",
          "readOnly": true,
          "format": "int64"
        },
        "disks": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "VmwareDiskDetails"
          },
          "description": "Output only. The disks attached to the source VM."
        },
        "architecture": {
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "description": "Output only. The VM architecture.",
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string"
        },
        "vmCapabilitiesInfo": {
          "readOnly": true,
          "$ref": "VmCapabilities",
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "firmware": {
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        }
      },
      "type": "object"
    },
    "AwsSourceDetails": {
      "type": "object",
      "description": "AwsSourceDetails message describes a specific source details for the AWS source type.",
      "properties": {
        "inventoryTagList": {
          "type": "array",
          "description": "AWS resource tags to limit the scope of the source inventory.",
          "items": {
            "$ref": "Tag"
          }
        },
        "awsRegion": {
          "type": "string",
          "description": "Immutable. The AWS region that the source VMs will be migrated from."
        },
        "publicIp": {
          "type": "string",
          "description": "Output only. The source's public IP. All communication initiated by this source will originate from this IP.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "description": "Output only. State of the source as determined by the health check.",
          "type": "string",
          "enumDescriptions": [
            "The state is unknown. This is used for API compatibility only and is not used by the system.",
            "The state was not sampled by the health checks yet.",
            "The source is available but might not be usable yet due to invalid credentials or another reason. The error message will contain further details.",
            "The source exists and its credentials were verified."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "FAILED",
            "ACTIVE"
          ]
        },
        "accessKeyCreds": {
          "$ref": "AccessKeyCredentials",
          "description": "AWS Credentials using access key id and secret."
        },
        "migrationResourcesUserTags": {
          "type": "object",
          "description": "User specified tags to add to every M2VM generated resource in AWS. These tags will be set in addition to the default tags that are set as part of the migration process. The tags must not begin with the reserved prefix `m2vm`.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "error": {
          "readOnly": true,
          "description": "Output only. Provides details on the state of the Source in case of an error.",
          "$ref": "Status"
        },
        "inventorySecurityGroupNames": {
          "description": "AWS security group names to limit the scope of the source inventory.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AwsSourceDetails"
    },
    "AzureSourceVmDetails": {
      "description": "Represent the source Azure VM details.",
      "id": "AzureSourceVmDetails",
      "type": "object",
      "properties": {
        "committedStorageBytes": {
          "format": "int64",
          "readOnly": true,
          "description": "Output only. The total size of the disks being migrated in bytes.",
          "type": "string"
        },
        "firmware": {
          "type": "string",
          "enumDescriptions": [
            "The firmware is unknown.",
            "The firmware is EFI.",
            "The firmware is BIOS."
          ],
          "description": "Output only. The firmware type of the source VM.",
          "readOnly": true,
          "enum": [
            "FIRMWARE_UNSPECIFIED",
            "EFI",
            "BIOS"
          ]
        },
        "disks": {
          "description": "Output only. The disks attached to the source VM.",
          "type": "array",
          "items": {
            "$ref": "AzureDiskDetails"
          },
          "readOnly": true
        },
        "vmCapabilitiesInfo": {
          "$ref": "VmCapabilities",
          "readOnly": true,
          "description": "Output only. Information about VM capabilities needed for some Compute Engine features."
        },
        "architecture": {
          "readOnly": true,
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The VM architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "type": "string"
        }
      }
    },
    "PreparingVMDisksStep": {
      "type": "object",
      "properties": {},
      "description": "PreparingVMDisksStep contains specific step details.",
      "id": "PreparingVMDisksStep"
    },
    "ListOperationsResponse": {
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      }
    },
    "ShieldedInstanceConfig": {
      "description": "Shielded instance configuration.",
      "id": "ShieldedInstanceConfig",
      "properties": {
        "enableIntegrityMonitoring": {
          "description": "Optional. Defines whether the instance created by the machine image has integrity monitoring enabled. This can be set to true only if the image boot option is EFI, and vTPM is enabled.",
          "type": "boolean"
        },
        "enableVtpm": {
          "type": "boolean",
          "description": "Optional. Defines whether the instance created by the machine image has vTPM enabled. This can be set to true only if the image boot option is EFI."
        },
        "secureBoot": {
          "enumDescriptions": [
            "No explicit value is selected. Will use the configuration of the source (if exists, otherwise the default will be false).",
            "Use secure boot. This can be set to true only if the image boot option is EFI.",
            "Do not use secure boot."
          ],
          "type": "string",
          "description": "Optional. Defines whether the instance created by the machine image has Secure Boot enabled. This can be set to true only if the image boot option is EFI.",
          "enum": [
            "SECURE_BOOT_UNSPECIFIED",
            "TRUE",
            "FALSE"
          ]
        }
      },
      "type": "object"
    },
    "AzureVmDetails": {
      "type": "object",
      "id": "AzureVmDetails",
      "description": "AzureVmDetails describes a VM in Azure.",
      "properties": {
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has, including OS disk."
        },
        "computerName": {
          "type": "string",
          "description": "The VM's ComputerName."
        },
        "osDisk": {
          "description": "Description of the OS disk.",
          "$ref": "OSDisk"
        },
        "architecture": {
          "description": "The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ],
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "type": "string"
        },
        "memoryMb": {
          "description": "The memory size of the VM in MB.",
          "format": "int32",
          "type": "integer"
        },
        "cpuCount": {
          "description": "The number of cpus the VM has.",
          "format": "int32",
          "type": "integer"
        },
        "osDescription": {
          "description": "Description of the OS.",
          "$ref": "OSDescription"
        },
        "tags": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The tags of the VM."
        },
        "powerState": {
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "STARTING",
            "RUNNING",
            "STOPPING",
            "STOPPED",
            "DEALLOCATING",
            "DEALLOCATED",
            "UNKNOWN"
          ],
          "type": "string",
          "description": "The power state of the VM at the moment list was taken.",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is starting.",
            "The VM is running.",
            "The VM is stopping.",
            "The VM is stopped.",
            "The VM is deallocating.",
            "The VM is deallocated.",
            "The VM's power state is unknown."
          ]
        },
        "vmSize": {
          "type": "string",
          "description": "VM size as configured in Azure. Determines the VM's hardware spec."
        },
        "committedStorageMb": {
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "type": "string"
        },
        "bootOption": {
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "The VM Boot Option.",
          "type": "string",
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is UEFI.",
            "The boot option is BIOS."
          ]
        },
        "disks": {
          "items": {
            "$ref": "Disk"
          },
          "description": "Description of the data disks.",
          "type": "array"
        },
        "vmId": {
          "description": "The VM full path in Azure.",
          "type": "string"
        }
      }
    },
    "AvailableUpdates": {
      "type": "object",
      "properties": {
        "newDeployableAppliance": {
          "description": "The newest deployable version of the appliance. The current appliance can't be updated into this version, and the owner must manually deploy this OVA to a new appliance.",
          "$ref": "ApplianceVersion"
        },
        "inPlaceUpdate": {
          "description": "The latest version for in place update. The current appliance can be updated to this version using the API or m4c CLI.",
          "$ref": "ApplianceVersion"
        }
      },
      "description": "Holds information about the available versions for upgrade.",
      "id": "AvailableUpdates"
    },
    "CycleStep": {
      "type": "object",
      "description": "CycleStep holds information about a step progress.",
      "properties": {
        "postProcessing": {
          "$ref": "PostProcessingStep",
          "description": "Post processing step."
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time the cycle step has ended."
        },
        "replicating": {
          "description": "Replicating step.",
          "$ref": "ReplicatingStep"
        },
        "startTime": {
          "description": "The time the cycle step has started.",
          "type": "string",
          "format": "google-datetime"
        },
        "initializingReplication": {
          "$ref": "InitializingReplicationStep",
          "description": "Initializing replication step."
        }
      },
      "id": "CycleStep"
    },
    "VmwareVmDetails": {
      "properties": {
        "datacenterId": {
          "type": "string",
          "description": "The id of the vCenter's datacenter this VM is contained in."
        },
        "memoryMb": {
          "description": "The size of the memory of the VM in MB.",
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "description": "The display name of the VM. Note that this is not necessarily unique.",
          "type": "string"
        },
        "cpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of cpus in the VM."
        },
        "architecture": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The architecture is unknown.",
            "The architecture is one of the x86 architectures.",
            "The architecture is ARM64."
          ],
          "description": "Output only. The CPU architecture.",
          "enum": [
            "VM_ARCHITECTURE_UNSPECIFIED",
            "VM_ARCHITECTURE_X86_FAMILY",
            "VM_ARCHITECTURE_ARM64"
          ]
        },
        "powerState": {
          "type": "string",
          "enumDescriptions": [
            "Power state is not specified.",
            "The VM is turned ON.",
            "The VM is turned OFF.",
            "The VM is suspended. This is similar to hibernation or sleep mode."
          ],
          "enum": [
            "POWER_STATE_UNSPECIFIED",
            "ON",
            "OFF",
            "SUSPENDED"
          ],
          "description": "The power state of the VM at the moment list was taken."
        },
        "vmId": {
          "description": "The VM's id in the source (note that this is not the MigratingVm's id). This is the moref id of the VM.",
          "type": "string"
        },
        "committedStorageMb": {
          "format": "int64",
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB."
        },
        "guestDescription": {
          "description": "The VM's OS. See for example https://vdc-repo.vmware.com/vmwb-repository/dcr-public/da47f910-60ac-438b-8b9b-6122f4d14524/16b7274a-bf8b-4b4c-a05e-746f2aa93c8c/doc/vim.vm.GuestOsDescriptor.GuestOsIdentifier.html for types of strings this might hold.",
          "type": "string"
        },
        "datacenterDescription": {
          "type": "string",
          "description": "The descriptive name of the vCenter's datacenter this VM is contained in."
        },
        "uuid": {
          "type": "string",
          "description": "The unique identifier of the VM in vCenter."
        },
        "bootOption": {
          "enum": [
            "BOOT_OPTION_UNSPECIFIED",
            "EFI",
            "BIOS"
          ],
          "description": "Output only. The VM Boot Option.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "The boot option is unknown.",
            "The boot option is EFI.",
            "The boot option is BIOS."
          ]
        },
        "diskCount": {
          "format": "int32",
          "type": "integer",
          "description": "The number of disks the VM has."
        },
        "committedStorage": {
          "type": "string",
          "description": "The total size of the storage allocated to the VM in MB.",
          "format": "int64",
          "deprecated": true
        }
      },
      "id": "VmwareVmDetails",
      "description": "VmwareVmDetails describes a VM in vCenter.",
      "type": "object"
    },
    "MigratingVm": {
      "type": "object",
      "properties": {
        "displayName": {
          "description": "The display name attached to the MigratingVm by the user.",
          "type": "string"
        },
        "computeEngineDisksTargetDefaults": {
          "description": "Details of the target Persistent Disks in Compute Engine.",
          "$ref": "ComputeEngineDisksTargetDefaults"
        },
        "recentCutoverJobs": {
          "items": {
            "$ref": "CutoverJob"
          },
          "readOnly": true,
          "description": "Output only. The recent cutover jobs performed on the migrating VM. This field holds the vm's last completed cutover job and the vm's running cutover job, if one exists. Note: To have this field populated you need to explicitly request it via the \"view\" parameter of the Get/List request.",
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The identifier of the MigratingVm.",
          "type": "string"
        },
        "expiration": {
          "description": "Output only. Provides details about the expiration state of the migrating VM.",
          "$ref": "Expiration",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "description": "Output only. State of the MigratingVm.",
          "enum": [
            "STATE_UNSPECIFIED",
            "PENDING",
            "READY",
            "FIRST_SYNC",
            "ACTIVE",
            "CUTTING_OVER",
            "CUTOVER",
            "FINAL_SYNC",
            "PAUSED",
            "FINALIZING",
            "FINALIZED",
            "ERROR",
            "EXPIRED",
            "FINALIZED_EXPIRED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state was not sampled by the health checks yet.",
            "The VM in the source is being verified.",
            "The source VM was verified, and it's ready to start replication.",
            "Migration is going through the first sync cycle.",
[...]
