{
  "basePath": "",
  "ownerName": "Google",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "mtlsRootUrl": "https://vmwareengine.mtls.googleapis.com/",
  "version_module": true,
  "parameters": {
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "description": "The Google VMware Engine API lets you programmatically manage VMware environments.",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/solutions/vmware-as-a-service",
  "revision": "20260319",
  "batchPath": "batch",
  "baseUrl": "https://vmwareengine.googleapis.com/",
  "kind": "discovery#restDescription",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "canonicalName": "VMware Engine",
  "id": "vmwareengine:v1",
  "rootUrl": "https://vmwareengine.googleapis.com/",
  "name": "vmwareengine",
  "version": "v1",
  "title": "VMware Engine API",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "StretchedClusterConfig": {
      "description": "Configuration of a stretched cluster.",
      "properties": {
        "preferredLocation": {
          "description": "Required. Zone that will remain operational when connection between the two zones is lost. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-a` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "secondaryLocation": {
          "description": "Required. Additional zone for a higher level of availability and load balancing. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-b` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        }
      },
      "id": "StretchedClusterConfig",
      "type": "object"
    },
    "ListExternalAccessRulesResponse": {
      "description": "Response message for VmwareEngine.ListExternalAccessRules",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "externalAccessRules": {
          "type": "array",
          "items": {
            "$ref": "ExternalAccessRule"
          },
          "description": "A list of external access firewall rules."
        }
      },
      "id": "ListExternalAccessRulesResponse",
      "type": "object"
    },
    "ListUpgradesResponse": {
      "id": "ListUpgradesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListUpgrades.",
      "properties": {
        "upgrades": {
          "items": {
            "$ref": "Upgrade"
          },
          "description": "A list of `Upgrades`.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "List of unreachable resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Hcx": {
      "id": "Hcx",
      "type": "object",
      "description": "Details about a HCX Cloud Manager appliance.",
      "properties": {
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed.",
            "The appliance is being activated."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "ACTIVATING"
          ],
          "description": "Output only. The state of the appliance."
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ExternalAccessRule": {
      "id": "ExternalAccessRule",
      "type": "object",
      "description": "External access firewall rules for filtering incoming traffic destined to `ExternalAddress` resources.",
      "properties": {
        "name": {
          "description": "Output only. The resource name of this external access rule. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-policy/externalAccessRules/my-rule`",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The rule is ready.",
            "The rule is being created.",
            "The rule is being updated.",
            "The rule is being deleted."
          ]
        },
        "ipProtocol": {
          "description": "The IP protocol to which the external access rule applies. This value can be one of the following three protocol strings (not case-sensitive): `tcp`, `udp`, or `icmp`.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource."
        },
        "action": {
          "description": "The action that the external access rule performs.",
          "type": "string",
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "enumDescriptions": [
            "Defaults to allow.",
            "Allows connections that match the other specified components.",
            "Blocks connections that match the other specified components."
          ]
        },
        "description": {
          "description": "User-provided description for this external access rule.",
          "type": "string"
        },
        "destinationPorts": {
          "type": "array",
          "description": "A list of destination ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all destination ports, specify `[\"0-65535\"]`.",
          "items": {
            "type": "string"
          }
        },
        "priority": {
          "type": "integer",
          "format": "int32",
          "description": "External access rule priority, which determines the external access rule to use when multiple rules apply. If multiple rules have the same priority, their ordering is non-deterministic. If specific ordering is required, assign unique priorities to enforce such ordering. The external access rule priority is an integer from 100 to 4096, both inclusive. Lower integers indicate higher precedence. For example, a rule with priority `100` has higher precedence than a rule with priority `101`."
        },
        "sourceIpRanges": {
          "type": "array",
          "items": {
            "$ref": "IpRange"
          },
          "description": "If source ranges are specified, the external access rule applies only to traffic that has a source IP address in these ranges. These ranges can either be expressed in the CIDR format or as an IP address. As only inbound rules are supported, `ExternalAddress` resources cannot be the source IP addresses of an external access rule. To match all source addresses, specify `0.0.0.0/0`."
        },
        "sourcePorts": {
          "description": "A list of source ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all source ports, specify `[\"0-65535\"]`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "destinationIpRanges": {
          "items": {
            "$ref": "IpRange"
          },
          "description": "If destination ranges are specified, the external access rule applies only to the traffic that has a destination IP address in these ranges. The specified IP addresses must have reserved external IP addresses in the scope of the parent network policy. To match all external IP addresses in the scope of the parent network policy, specify `0.0.0.0/0`. To match a specific external IP address, specify it using the `IpRange.external_address` property.",
          "type": "array"
        }
      }
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Credentials": {
      "id": "Credentials",
      "type": "object",
      "description": "Credentials for a private cloud.",
      "properties": {
        "username": {
          "description": "Initial username.",
          "type": "string"
        },
        "password": {
          "description": "Initial password.",
          "type": "string"
        }
      }
    },
    "ForwardingRule": {
      "description": "A forwarding rule is a mapping of a `domain` to `name_servers`. This mapping allows VMware Engine to resolve domains for attached private clouds by forwarding DNS requests for a given domain to the specified nameservers.",
      "properties": {
        "domain": {
          "description": "Required. Domain used to resolve a `name_servers` list.",
          "type": "string"
        },
        "nameServers": {
          "type": "array",
          "description": "Required. List of DNS servers to use for domain resolution",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ForwardingRule",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "id": "TestIamPermissionsResponse",
      "type": "object",
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      }
    },
    "ExternalAddress": {
      "description": "Represents an allocated external IP address and its corresponding internal IP address in a private cloud.",
      "properties": {
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource."
        },
        "internalIp": {
          "description": "The internal IP address of a workload VM.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this external IP address. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The address is ready.",
            "The address is being created.",
            "The address is being updated.",
            "The address is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "description": "Output only. The state of the resource."
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "description": {
          "description": "User-provided description for this resource.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "externalIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The external IP address of a workload VM."
        }
      },
      "id": "ExternalAddress",
      "type": "object"
    },
    "GoogleFileService": {
      "id": "GoogleFileService",
      "type": "object",
      "description": "Google service file service configuration",
      "properties": {
        "netappVolume": {
          "description": "Google netapp volume resource name e.g. projects/my-project/locations/me-west1-b/volumes/my-volume",
          "type": "string"
        },
        "filestoreInstance": {
          "description": "Google filestore instance resource name e.g. projects/my-project/locations/me-west1-b/instances/my-instance",
          "type": "string"
        }
      }
    },
    "ListPrivateCloudsResponse": {
      "description": "Response message for VmwareEngine.ListPrivateClouds",
      "properties": {
        "privateClouds": {
          "description": "A list of private clouds.",
          "items": {
            "$ref": "PrivateCloud"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListPrivateCloudsResponse",
      "type": "object"
    },
    "NodeTypeConfig": {
      "id": "NodeTypeConfig",
      "type": "object",
      "description": "Information about the type and number of nodes associated with the cluster.",
      "properties": {
        "nodeCount": {
          "description": "Required. The number of nodes of this type in the cluster",
          "type": "integer",
          "format": "int32"
        },
        "customCoreCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Customized number of cores available to each node of the type. This number must always be one of `nodeType.availableCustomCoreCounts`. If zero is provided max value from `nodeType.availableCustomCoreCounts` will be used."
        }
      }
    },
    "NetworkPeering": {
      "id": "NetworkPeering",
      "type": "object",
      "description": "Details of a network peering.",
      "properties": {
        "name": {
          "description": "Output only. Identifier. The resource name of the network peering. NetworkPeering is a global resource and location can only be global. Resource names are scheme-less URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/networkPeerings/my-peering`",
          "type": "string",
          "readOnly": true
        },
        "exchangeSubnetRoutes": {
          "description": "Optional. True if full mesh connectivity is created and managed automatically between peered networks; false otherwise. Currently this field is always true because Google Compute Engine automatically creates and manages subnetwork routes between two VPC networks when peering state is 'ACTIVE'.",
          "type": "boolean"
        },
        "state": {
          "description": "Output only. State of the network peering. This field has a value of 'ACTIVE' when there's a matching configuration in the peer network. New values may be added to this enum when appropriate.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified network peering state. This is the default value.",
            "The peering is not active.",
            "The peering is active.",
            "The peering is being created.",
            "The peering is being deleted."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ]
        },
        "peerNetwork": {
          "description": "Required. The relative resource name of the network to peer with a standard VMware Engine network. The provided network can be a consumer VPC network or another standard VMware Engine network. If the `peer_network_type` is VMWARE_ENGINE_NETWORK, specify the name in the form: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. Otherwise specify the name in the form: `projects/{project}/global/networks/{network_id}`, where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "exportCustomRoutesWithPublicIp": {
          "description": "Optional. True if all subnet routes with a public IP address range are exported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always exported to peers and are not controlled by this field.",
          "type": "boolean"
        },
        "stateDetails": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Output Only. Details about the current state of the network peering."
        },
        "peerMtu": {
          "description": "Optional. Maximum transmission unit (MTU) in bytes. The default value is `1500`. If a value of `0` is provided for this field, VMware Engine uses the default value instead.",
          "type": "integer",
          "format": "int32"
        },
        "importCustomRoutes": {
          "description": "Optional. True if custom routes are imported from the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        },
        "description": {
          "description": "Optional. User-provided description for this network peering.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource."
        },
        "exportCustomRoutes": {
          "description": "Optional. True if custom routes are exported to the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        },
        "importCustomRoutesWithPublicIp": {
          "description": "Optional. True if all subnet routes with public IP address range are imported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always imported to peers and are not controlled by this field.",
          "type": "boolean"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "peerNetworkType": {
          "enumDescriptions": [
            "Unspecified",
            "Peering connection used for connecting to another VPC network established by the same user. For example, a peering connection to another VPC network in the same project or to an on-premises network.",
            "Peering connection used for connecting to another VMware Engine network.",
            "Peering connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Peering connection used for connecting to NetApp Cloud Volumes.",
            "Peering connection used for connecting to third-party services. Most third-party services require manual setup of reverse peering on the VPC network associated with the third-party service.",
            "Peering connection used for connecting to Dell PowerScale Filers",
            "Peering connection used for connecting to Google Cloud NetApp Volumes.",
            "Peering connection used for connecting to Google Cloud Filestore Instances."
          ],
          "type": "string",
          "enum": [
            "PEER_NETWORK_TYPE_UNSPECIFIED",
            "STANDARD",
            "VMWARE_ENGINE_NETWORK",
            "PRIVATE_SERVICES_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "THIRD_PARTY_SERVICE",
            "DELL_POWERSCALE",
            "GOOGLE_CLOUD_NETAPP_VOLUMES",
            "GOOGLE_CLOUD_FILESTORE_INSTANCES"
          ],
          "description": "Required. The type of the network to peer with the VMware Engine network."
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        }
      }
    },
    "ListVmwareEngineNetworksResponse": {
      "id": "ListVmwareEngineNetworksResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListVmwareEngineNetworks",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          }
        },
        "vmwareEngineNetworks": {
          "items": {
            "$ref": "VmwareEngineNetwork"
          },
          "description": "A list of VMware Engine networks.",
          "type": "array"
        }
      }
    },
    "Principal": {
      "id": "Principal",
      "type": "object",
      "description": "Users/Service accounts which have access for DNS binding on the intranet VPC corresponding to the consumer project.",
      "properties": {
        "user": {
          "description": "The user who needs to be granted permission.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account which needs to be granted the permission.",
          "type": "string"
        }
      }
    },
    "ListDatastoresResponse": {
      "id": "ListDatastoresResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListDatastores",
      "properties": {
        "datastores": {
          "description": "A list of Datastores.",
          "items": {
            "$ref": "Datastore"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        }
      }
    },
    "Vcenter": {
      "id": "Vcenter",
      "type": "object",
      "description": "Details about a vCenter Server management appliance.",
      "properties": {
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "description": "Output only. The state of the appliance."
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        }
      }
    },
    "GrantDnsBindPermissionRequest": {
      "description": "Request message for VmwareEngine.GrantDnsBindPermission",
      "properties": {
        "principal": {
          "$ref": "Principal",
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project."
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "GrantDnsBindPermissionRequest",
      "type": "object"
    },
    "Interval": {
      "id": "Interval",
      "type": "object",
      "description": "Represents a time interval, encoded as a Timestamp start (inclusive) and a Timestamp end (exclusive). The start must be less than or equal to the end. When the start equals the end, the interval is empty (matches no time). When both start and end are unspecified, the interval matches any time.",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Inclusive start of the interval. If specified, a Timestamp matching this interval will have to be the same or after the start."
        },
        "endTime": {
          "description": "Optional. Exclusive end of the interval. If specified, a Timestamp matching this interval will have to be before the end.",
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "ListClustersResponse": {
      "description": "Response message for VmwareEngine.ListClusters",
      "properties": {
        "clusters": {
          "items": {
            "$ref": "Cluster"
          },
          "description": "A list of private cloud clusters.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListClustersResponse",
      "type": "object"
    },
    "NetworkService": {
      "id": "NetworkService",
      "type": "object",
      "description": "Represents a network service that is managed by a `NetworkPolicy` resource. A network service provides a way to control an aspect of external access to VMware workloads. For example, whether the VMware workloads in the private clouds governed by a network policy can access or be accessed from the internet.",
      "properties": {
        "state": {
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified service state. This is the default value.",
            "Service is not provisioned.",
            "Service is in the process of being provisioned/deprovisioned.",
            "Service is active."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPROVISIONED",
            "RECONCILING",
            "ACTIVE"
          ],
          "description": "Output only. State of the service. New values may be added to this enum when appropriate."
        },
        "enabled": {
          "description": "True if the service is enabled; false otherwise.",
          "type": "boolean"
        }
      }
    },
    "Constraints": {
      "description": "Constraints to be applied while editing a schedule. These constraints ensure that `Upgrade` specific requirements are met.",
      "properties": {
        "minHoursWeek": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The minimum number of weekly hours must be allotted for the upgrade activities. This is just a minimum; the schedule can assign more weekly hours."
        },
        "minHoursDay": {
          "description": "Output only. Minimum number of hours must be allotted for the upgrade activities for each selected day. This is a minimum; the upgrade schedule can allot more hours for the given day.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "rescheduleDateRange": {
          "readOnly": true,
          "description": "Output only. Output Only. The user can only reschedule an upgrade that starts within this range.",
          "$ref": "Interval"
        },
        "disallowedIntervals": {
          "items": {
            "$ref": "WeeklyTimeInterval"
          },
          "description": "Output only. Output Only. A list of intervals in which maintenance windows are not allowed. Any time window that overlaps with any of these intervals will be considered invalid.",
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "Constraints",
      "type": "object"
    },
    "NetworkConfig": {
      "description": "Network configuration in the consumer project with which the peering has to be done.",
      "properties": {
        "dnsServerIp": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. DNS Server IP of the Private Cloud. All DNS queries can be forwarded to this address for name resolution of Private Cloud's management entities like vCenter, NSX-T Manager and ESXi hosts."
        },
        "vmwareEngineNetwork": {
          "description": "Optional. The relative resource name of the VMware Engine network attached to the private cloud. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "managementCidr": {
          "description": "Required. Management CIDR used by VMware management appliances.",
          "type": "string"
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
        },
        "managementIpAddressLayoutVersion": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The IP address layout version of the management IP address range. Possible versions include: * `managementIpAddressLayoutVersion=1`: Indicates the legacy IP address layout used by some existing private clouds. This is no longer supported for new private clouds as it does not support all features. * `managementIpAddressLayoutVersion=2`: Indicates the latest IP address layout used by all newly created private clouds. This version supports all current features."
        }
      },
      "id": "NetworkConfig",
      "type": "object"
    },
    "ListAnnouncementsResponse": {
      "id": "ListAnnouncementsResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListAnnouncements",
      "properties": {
        "announcements": {
          "type": "array",
          "description": "A list of announcement runs.",
          "items": {
            "$ref": "Announcement"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "list of unreachable locations",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListPeeringRoutesResponse": {
      "id": "ListPeeringRoutesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListPeeringRoutes",
      "properties": {
        "peeringRoutes": {
          "type": "array",
          "description": "A list of peering routes.",
          "items": {
            "$ref": "PeeringRoute"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ManagementDnsZoneBinding": {
      "id": "ManagementDnsZoneBinding",
      "type": "object",
      "description": "Represents a binding between a network and the management DNS zone. A management DNS zone is the Cloud DNS cross-project binding zone that VMware Engine creates for each private cloud. It contains FQDNs and corresponding IP addresses for the private cloud's ESXi hosts and management VM appliances like vCenter and NSX Manager.",
      "properties": {
        "description": {
          "description": "User-provided description for this resource.",
          "type": "string"
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of this binding. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/managementDnsZoneBindings/my-management-dns-zone-binding`"
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The binding is ready.",
            "The binding is being created.",
            "The binding is being updated.",
            "The binding is being deleted.",
            "The binding has failed."
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource."
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource."
        },
        "vpcNetwork": {
          "description": "Network to bind is a standard consumer VPC. Specify the name in the following form for consumer VPC network: `projects/{project}/global/networks/{network_id}`. `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Network to bind is a VMware Engine network. Specify the name in the following form for VMware engine network: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. `{project}` can either be a project number or a project ID.",
          "type": "string"
        }
      }
    },
    "UnmountDatastoreRequest": {
      "id": "UnmountDatastoreRequest",
      "type": "object",
      "description": "Unmount Datastore Request messag",
      "properties": {
        "datastore": {
          "description": "Required. The resource name of the datastore to unmount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request.",
          "type": "boolean"
        }
      }
    },
    "LoggingServer": {
      "description": "Logging server to receive vCenter or ESXi logs.",
      "properties": {
        "protocol": {
          "description": "Required. Protocol used by vCenter to send logs to a logging server.",
          "enumDescriptions": [
            "Unspecified communications protocol. This is the default value.",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ],
          "type": "string",
          "enum": [
            "PROTOCOL_UNSPECIFIED",
            "UDP",
            "TCP",
            "TLS",
            "SSL",
            "RELP"
          ]
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "type": "integer",
          "description": "Required. Port number at which the logging server receives logs."
        },
        "sourceType": {
          "type": "string",
          "enum": [
            "SOURCE_TYPE_UNSPECIFIED",
            "ESXI",
            "VCSA"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Logs produced by ESXI hosts",
            "Logs produced by vCenter server"
          ],
          "description": "Required. The type of component that produces logs that will be forwarded to this logging server."
        },
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of this logging server. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/loggingServers/my-logging-server`"
        },
        "hostname": {
          "description": "Required. Fully-qualified domain name (FQDN) or IP Address of the logging server.",
          "type": "string"
        }
      },
      "id": "LoggingServer",
      "type": "object"
    },
    "Subnet": {
      "description": "Subnet in a private cloud. Either `management` subnets (such as vMotion) that are read-only, or `userDefined`, which can also be updated.",
      "properties": {
        "type": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The type of the subnet. For example \"management\" or \"userDefined\"."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Identifier. The resource name of this subnet. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/subnets/my-subnet`"
        },
        "gatewayIp": {
          "description": "The IP address of the gateway of this subnet. Must fall within the IP prefix defined above.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "RECONCILING",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The subnet is ready.",
            "The subnet is being created.",
            "The subnet is being updated.",
            "The subnet is being deleted.",
            "Changes requested in the last operation are being propagated.",
            "Last operation on the subnet did not succeed. Subnet's payload is reverted back to its most recent working state."
          ]
        },
        "vlanId": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. VLAN ID of the VLAN on which the subnet is configured"
        },
        "ipCidrRange": {
          "description": "The IP address range of the subnet in CIDR format '10.0.0.0/24'.",
          "type": "string"
        }
      },
      "id": "Subnet",
      "type": "object"
    },
    "ListExternalAddressesResponse": {
      "id": "ListExternalAddressesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListExternalAddresses",
      "properties": {
        "externalAddresses": {
          "description": "A list of external IP addresses.",
          "items": {
            "$ref": "ExternalAddress"
          },
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ListNetworkPeeringsResponse": {
      "id": "ListNetworkPeeringsResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListNetworkPeerings",
      "properties": {
        "networkPeerings": {
          "items": {
            "$ref": "NetworkPeering"
          },
          "description": "A list of network peerings.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources."
        }
      }
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      }
    },
    "Nsx": {
      "description": "Details about a NSX Manager appliance.",
      "properties": {
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "description": "Output only. The state of the appliance."
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        }
      },
      "id": "Nsx",
      "type": "object"
    },
    "DnsBindPermission": {
      "description": "DnsBindPermission resource that contains the accounts having the consumer DNS bind permission on the corresponding intranet VPC of the consumer project.",
      "properties": {
        "name": {
          "description": "Required. Output only. The name of the resource which stores the users/service accounts having the permission to bind to the corresponding intranet VPC of the consumer project. DnsBindPermission is a global resource and location can only be global. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/dnsBindPermission`",
          "readOnly": true,
          "type": "string"
        },
        "principals": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Principal"
          },
          "description": "Output only. Users/Service accounts which have access for binding on the intranet VPC project corresponding to the consumer project."
        }
      },
      "id": "DnsBindPermission",
      "type": "object"
    },
    "Datastore": {
      "id": "Datastore",
      "type": "object",
      "description": "Represents a datastore resource.",
      "properties": {
        "nfsDatastore": {
          "description": "Required. Settings for the NFS datastore.",
          "$ref": "NfsDatastore"
        },
        "description": {
          "description": "Optional. User-provided description for this datastore",
          "type": "string"
        },
        "etag": {
          "description": "Optional. Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request.",
          "type": "string"
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this resource."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource."
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this datastore. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/datastore`",
          "type": "string",
          "readOnly": true
        },
        "clusters": {
          "items": {
            "type": "string"
          },
          "description": "Output only. Clusters to which the datastore is attached.",
          "readOnly": true,
          "type": "array"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The NFS volume is being created.",
            "The NFS volume is active.",
            "The NFS volume is being updated.",
            "The NFS volume is being deleted."
          ],
          "description": "Output only. The state of the Datastore."
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AcceleratePrivateCloudDeletionRequest": {
      "description": "Request message for VmwareEngine.AcceleratePrivateCloudDeletion",
      "properties": {
        "etag": {
          "description": "Optional. Checksum used to ensure that the user-provided value is up to date before the server processes the request. The server compares provided checksum with the current checksum of the resource. If the user-provided value is out of date, this request returns an `ABORTED` error.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "AcceleratePrivateCloudDeletionRequest",
      "type": "object"
    },
    "ResetVcenterCredentialsRequest": {
      "id": "ResetVcenterCredentialsRequest",
      "type": "object",
      "description": "Request message for VmwareEngine.ResetVcenterCredentials",
      "properties": {
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "username": {
          "description": "Optional. The username of the user to be to reset the credentials. The default value of this field is CloudOwner@gve.local. The provided value should be one of the following: solution-user-01@gve.local, solution-user-02@gve.local, solution-user-03@gve.local, solution-user-04@gve.local, solution-user-05@gve.local, zertoadmin@gve.local.",
          "type": "string"
        }
      }
    },
    "MountDatastoreRequest": {
      "id": "MountDatastoreRequest",
      "type": "object",
      "description": "Mount Datastore Request message",
      "properties": {
        "datastoreMountConfig": {
          "$ref": "DatastoreMountConfig",
          "description": "Required. The datastore mount configuration."
        },
        "requestId": {
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "validateOnly": {
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request.",
          "type": "boolean"
        },
        "ignoreColocation": {
          "description": "Optional. If set to true, the colocation requirement will be ignored. If set to false, the colocation requirement will be enforced. If not set, the colocation requirement will be enforced. Colocation requirement is the requirement that the cluster must be in the same region/zone of datastore(regional/zonal datastore).",
          "type": "boolean"
        }
      }
    },
    "ListPrivateConnectionPeeringRoutesResponse": {
      "id": "ListPrivateConnectionPeeringRoutesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListPrivateConnectionPeeringRoutes",
      "properties": {
        "peeringRoutes": {
          "items": {
            "$ref": "PeeringRoute"
          },
          "description": "A list of peering routes.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "etag": {
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost.",
          "type": "string",
          "format": "byte"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "bindings": {
          "items": {
            "$ref": "Binding"
          },
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "type": "array"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        }
      }
    },
    "TestIamPermissionsRequest": {
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).",
          "type": "array"
        }
      },
      "id": "TestIamPermissionsRequest",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "policy": {
          "$ref": "Policy",
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them."
        },
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "format": "google-fieldmask",
          "type": "string"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "WeeklyTimeInterval": {
      "description": "Represents a time interval, spanning across days of the week. Until local timezones are supported, this interval is in UTC.",
      "properties": {
        "startTime": {
          "readOnly": true,
          "$ref": "TimeOfDay",
          "description": "Output only. The time on the start day at which the interval starts."
        },
        "startDay": {
          "description": "Output only. The day on which the interval starts.",
          "readOnly": true,
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ],
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ]
        },
        "endDay": {
          "description": "Output only. The day on which the interval ends. Can be same as start day.",
          "type": "string",
          "enum": [
            "DAY_OF_WEEK_UNSPECIFIED",
            "MONDAY",
            "TUESDAY",
            "WEDNESDAY",
            "THURSDAY",
            "FRIDAY",
            "SATURDAY",
            "SUNDAY"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The day of the week is unspecified.",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
            "Sunday"
          ]
        },
        "endTime": {
          "readOnly": true,
          "$ref": "TimeOfDay",
          "description": "Output only. The time on the end day at which the interval ends."
        }
      },
      "id": "WeeklyTimeInterval",
      "type": "object"
    },
    "TimeOfDay": {
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        },
        "minutes": {
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59.",
          "format": "int32",
          "type": "integer"
        },
        "seconds": {
          "format": "int32",
          "type": "integer",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        }
      },
      "id": "TimeOfDay",
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "apiVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. API version used to start the operation."
        },
        "createTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. The time the operation was created."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. True if the user has requested cancellation of the operation; false otherwise. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        },
        "verb": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Name of the verb executed by the operation."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "FetchNetworkPolicyExternalAddressesResponse": {
      "id": "FetchNetworkPolicyExternalAddressesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.FetchNetworkPolicyExternalAddresses",
      "properties": {
        "externalAddresses": {
          "items": {
            "$ref": "ExternalAddress"
          },
          "description": "A list of external IP addresses assigned to VMware workload VMs within the scope of the given network policy.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "VmwareUpgradeComponent": {
      "description": "Per component upgrade resource",
      "properties": {
        "state": {
          "description": "Output only. Component's upgrade state.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Component's upgrade is in progress",
            "The component's upgrade is paused. Will be resumed when upgrade job is resumed",
            "The component's upgrade is successfully completed",
            "The component's upgrade has failed. This will move to resume if upgrade is resumed or stay as is",
            "Component's upgrade has not started yet",
            "Component's upgrade is not applicable in this upgrade. It will be skipped."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "NOT_STARTED",
            "NOT_APPLICABLE"
          ]
        },
        "componentType": {
          "description": "Output only. Type of component",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "vcenter",
            "esxi nodes + transport nodes",
            "nsxt upgrade coordinator",
            "nsxt edges cluster",
            "nsxt managers/management plane",
            "hcx",
            "VSAN cluster",
            "DVS switch",
            "Nameserver VMs",
            "KMS VM used for vsan encryption",
            "witness VM in case of stretch PC",
            "nsxt",
            "Cluster is used in case of BM",
            "VMware Tools."
          ],
          "type": "string",
          "enum": [
            "VMWARE_COMPONENT_TYPE_UNSPECIFIED",
            "VCENTER",
            "ESXI",
            "NSXT_UC",
            "NSXT_EDGE",
            "NSXT_MGR",
            "HCX",
            "VSAN",
            "DVS",
            "NAMESERVER_VM",
            "KMS_VM",
            "WITNESS_VM",
            "NSXT",
            "CLUSTER",
            "VM_TOOLS"
          ]
        }
      },
      "id": "VmwareUpgradeComponent",
      "type": "object"
    },
    "ListSubnetsResponse": {
      "description": "Response message for VmwareEngine.ListSubnets",
      "properties": {
        "subnets": {
          "type": "array",
          "items": {
            "$ref": "Subnet"
          },
          "description": "A list of subnets."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListSubnetsResponse",
      "type": "object"
    },
    "ListNetworkPoliciesResponse": {
      "description": "Response message for VmwareEngine.ListNetworkPolicies",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "networkPolicies": {
          "items": {
            "$ref": "NetworkPolicy"
          },
          "description": "A list of network policies.",
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListNetworkPoliciesResponse",
      "type": "object"
    },
    "DatastoreMountConfig": {
      "id": "DatastoreMountConfig",
      "type": "object",
      "description": "The Datastore Mount configuration",
      "properties": {
        "fileShare": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. File share name."
        },
        "accessMode": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS is accessed by hosts in read mode",
            "NFS is accessed by hosts in read and write mode"
          ],
          "type": "string",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "description": "Optional. The access mode of the NFS volume. Optional. Default value used will be READ_WRITE"
        },
        "servers": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Server IP addresses of the NFS volume. For NFS 3, you can only provide a single server IP address or DNS names."
        },
        "datastore": {
          "description": "Required. The resource name of the datastore to mount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`",
          "type": "string"
        },
        "datastoreNetwork": {
          "description": "Required. The network configuration for the datastore.",
          "$ref": "DatastoreNetwork"
        },
        "nfsVersion": {
          "description": "Optional. The NFS protocol supported by the NFS volume. Default value used will be NFS_V3",
          "type": "string",
          "enum": [
            "NFS_VERSION_UNSPECIFIED",
            "NFS_V3"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS 3"
          ]
        }
      }
    },
    "ListNodeTypesResponse": {
      "id": "ListNodeTypesResponse",
      "type": "object",
      "description": "Response message for VmwareEngine.ListNodeTypes",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "nodeTypes": {
          "type": "array",
          "items": {
            "$ref": "NodeType"
          },
          "description": "A list of Node Types."
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "RevokeDnsBindPermissionRequest": {
      "description": "Request message for VmwareEngine.RevokeDnsBindPermission",
      "properties": {
        "principal": {
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project.",
          "$ref": "Principal"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RevokeDnsBindPermissionRequest",
      "type": "object"
    },
    "ListPrivateConnectionsResponse": {
      "description": "Response message for VmwareEngine.ListPrivateConnections",
      "properties": {
        "privateConnections": {
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          },
          "description": "A list of private connections."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListPrivateConnectionsResponse",
      "type": "object"
    },
    "NodeType": {
      "id": "NodeType",
      "type": "object",
      "description": "Describes node type.",
      "properties": {
        "virtualCpuCount": {
          "description": "Output only. The total number of virtual CPUs in a single node.",
          "type": "integer",
          "readOnly": true,
          "format": "int32"
        },
        "capabilities": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "This node type supports stretch clusters."
            ]
          },
          "description": "Output only. Capabilities of this node type."
        },
        "totalCoreCount": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The total number of CPU cores in a single node."
        },
        "families": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Families of the node type. For node types to be in the same cluster they must share at least one element in the `families`.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Output only. The resource name of this node type. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-proj/locations/us-central1-a/nodeTypes/standard-72`",
          "type": "string",
          "readOnly": true
        },
        "displayName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The friendly name for this node type. For example: ve1-standard-72"
        },
        "memoryGb": {
          "readOnly": true,
          "format": "int32",
          "type": "integer",
          "description": "Output only. The amount of physical memory available, defined in GB."
        },
        "nodeTypeId": {
          "description": "Output only. The canonical identifier of the node type (corresponds to the `NodeType`). For example: standard-72.",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "description": "Output only. The type of the resource.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Standard HCI node.",
            "Storage only Node."
          ],
          "type": "string",
          "enum": [
            "KIND_UNSPECIFIED",
            "STANDARD",
            "STORAGE_ONLY"
          ]
        },
        "diskSizeGb": {
          "type": "integer",
          "readOnly": true,
          "format": "int32",
          "description": "Output only. The amount of storage available, defined in GB."
        },
        "availableCustomCoreCounts": {
          "description": "Output only. List of possible values of custom core count.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array",
          "readOnly": true
        }
      }
    },
    "PrivateConnection": {
      "id": "PrivateConnection",
      "type": "object",
      "description": "Private connection resource that provides connectivity for VMware Engine private clouds.",
      "properties": {
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of Legacy VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}`, `{location}` will be same as specified in private connection resource name and `{vmware_engine_network_id}` will be in the form of `{location}`-default e.g. projects/project/locations/us-central1/vmwareEngineNetworks/us-central1-default.",
          "type": "string"
        },
        "peeringId": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. VPC network peering id between given network VPC and VMwareEngineNetwork."
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "type": "string",
          "readOnly": true
        },
        "peeringState": {
          "description": "Output only. Peering state between service network and VMware Engine network.",
          "type": "string",
          "enum": [
            "PEERING_STATE_UNSPECIFIED",
            "PEERING_ACTIVE",
            "PEERING_INACTIVE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the peering state is omitted or unknown.",
            "The peering is in active state.",
            "The peering is in inactive state."
          ]
        },
        "routingMode": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Global Routing Mode",
            "Regional Routing Mode"
          ],
          "type": "string",
          "enum": [
            "ROUTING_MODE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL"
          ],
          "description": "Optional. Routing Mode. Default value is set to GLOBAL. For type = PRIVATE_SERVICE_ACCESS, this field can be set to GLOBAL or REGIONAL, for other types only GLOBAL is supported."
        },
        "description": {
          "description": "Optional. User-provided description for this private connection.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The resource name of the private connection. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateConnections/my-connection`",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of the private connection.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "UNPROVISIONED",
            "FAILED"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The private connection is being created.",
            "The private connection is ready.",
            "The private connection is being updated.",
            "The private connection is being deleted.",
            "The private connection is not provisioned, since no private cloud is present for which this private connection is needed.",
            "The private connection is in failed state."
          ]
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`"
        },
        "type": {
          "description": "Required. Private connection type.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Connection used for connecting to NetApp Cloud Volumes.",
            "Connection used for connecting to Dell PowerScale.",
            "Connection used for connecting to third-party services."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "DELL_POWERSCALE",
            "THIRD_PARTY_SERVICE"
          ]
        },
        "serviceNetwork": {
          "description": "Required. Service network to create private connection. Specify the name in the following form: `projects/{project}/global/networks/{network_id}` For type = PRIVATE_SERVICE_ACCESS, this field represents servicenetworking VPC, e.g. projects/project-tp/global/networks/servicenetworking. For type = NETAPP_CLOUD_VOLUME, this field represents NetApp service VPC, e.g. projects/project-tp/global/networks/netapp-tenant-vpc. For type = DELL_POWERSCALE, this field represent Dell service VPC, e.g. projects/project-tp/global/networks/dell-tenant-vpc. For type= THIRD_PARTY_SERVICE, this field could represent a consumer VPC or any other producer VPC to which the VMware Engine Network needs to be connected, e.g. projects/project/global/networks/vpc.",
          "type": "string"
        }
      }
    },
    "HcxActivationKey": {
      "id": "HcxActivationKey",
      "type": "object",
      "description": "HCX activation key. A default key is created during private cloud provisioning, but this behavior is subject to change and you should always verify active keys. Use VmwareEngine.ListHcxActivationKeys to retrieve existing keys and VmwareEngine.CreateHcxActivationKey to create new ones.",
      "properties": {
        "uid": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. System-generated unique identifier for the resource."
        },
        "name": {
          "description": "Output only. The resource name of this HcxActivationKey. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateClouds/my-cloud/hcxActivationKeys/my-key`",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "description": "Output only. State of HCX activation key.",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified state.",
            "State of a newly generated activation key.",
            "State of key when it has been used to activate HCX appliance.",
            "State of key when it is being created."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "AVAILABLE",
            "CONSUMED",
            "CREATING"
          ]
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of HCX activation key."
        },
        "activationKey": {
          "description": "Output only. HCX activation key.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "Cluster": {
      "description": "A cluster in a private cloud.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Identifier. The resource name of this cluster. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/clusters/my-cluster`"
        },
        "state": {
          "description": "Output only. State of the resource.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The Cluster is operational and can be used by the user.",
            "The Cluster is being deployed.",
            "Adding or removing of a node to the cluster, any other cluster specific updates.",
            "The Cluster is being deleted.",
            "The Cluster is undergoing maintenance, for example: a failed node is getting replaced."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "REPAIRING"
          ]
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "nodeTypeConfigs": {
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`).",
          "type": "object",
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          }
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource."
        },
        "autoscalingSettings": {
          "description": "Optional. Configuration of the autoscaling applied to this cluster.",
          "$ref": "AutoscalingSettings"
        },
        "datastoreMountConfig": {
          "items": {
            "$ref": "DatastoreMountConfig"
          },
          "description": "Output only. Configuration of a mounted datastore.",
          "readOnly": true,
          "type": "array"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "stretchedClusterConfig": {
          "description": "Optional. Configuration of a stretched cluster. Required for clusters that belong to a STRETCHED private cloud.",
          "$ref": "StretchedClusterConfig"
        },
        "management": {
          "description": "Output only. True if the cluster is a management cluster; false otherwise. There can only be one management cluster in a private cloud and it has to be the first one.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "Cluster",
      "type": "object"
    },
    "LocationMetadata": {
      "id": "LocationMetadata",
      "type": "object",
      "description": "VmwareEngine specific metadata for the given google.cloud.location.Location. It is returned as a content of the `google.cloud.location.Location.metadata` field.",
      "properties": {
        "capabilities": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "Stretch clusters are supported in this location."
            ]
          },
          "description": "Output only. Capabilities of this location."
        }
      }
    },
    "Thresholds": {
      "id": "Thresholds",
      "type": "object",
      "description": "Thresholds define the utilization of resources triggering scale-out and scale-in operations.",
      "properties": {
        "scaleIn": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The utilization triggering the scale-in operation in percent."
        },
        "scaleOut": {
          "format": "int32",
          "type": "integer",
          "description": "Required. The utilization triggering the scale-out operation in percent."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
[...]
