{
  "ownerName": "Google",
  "batchPath": "batch",
  "parameters": {
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    }
  },
  "baseUrl": "https://vmwareengine.googleapis.com/",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "id": "vmwareengine:v1",
  "discoveryVersion": "v1",
  "title": "VMware Engine API",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "ResetVcenterCredentialsRequest": {
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "username": {
          "description": "Optional. The username of the user to be to reset the credentials. The default value of this field is CloudOwner@gve.local. The provided value should be one of the following: solution-user-01@gve.local, solution-user-02@gve.local, solution-user-03@gve.local, solution-user-04@gve.local, solution-user-05@gve.local, zertoadmin@gve.local.",
          "type": "string"
        }
      },
      "description": "Request message for VmwareEngine.ResetVcenterCredentials",
      "type": "object",
      "id": "ResetVcenterCredentialsRequest"
    },
    "NetworkPeering": {
      "type": "object",
      "id": "NetworkPeering",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of the network peering. NetworkPeering is a global resource and location can only be global. Resource names are scheme-less URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/networkPeerings/my-peering`",
          "readOnly": true
        },
        "peerNetworkType": {
          "type": "string",
          "description": "Required. The type of the network to peer with the VMware Engine network.",
          "enumDescriptions": [
            "Unspecified",
            "Peering connection used for connecting to another VPC network established by the same user. For example, a peering connection to another VPC network in the same project or to an on-premises network.",
            "Peering connection used for connecting to another VMware Engine network.",
            "Peering connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Peering connection used for connecting to NetApp Cloud Volumes.",
            "Peering connection used for connecting to third-party services. Most third-party services require manual setup of reverse peering on the VPC network associated with the third-party service.",
            "Peering connection used for connecting to Dell PowerScale Filers",
            "Peering connection used for connecting to Google Cloud NetApp Volumes.",
            "Peering connection used for connecting to Google Cloud Filestore Instances."
          ],
          "enum": [
            "PEER_NETWORK_TYPE_UNSPECIFIED",
            "STANDARD",
            "VMWARE_ENGINE_NETWORK",
            "PRIVATE_SERVICES_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "THIRD_PARTY_SERVICE",
            "DELL_POWERSCALE",
            "GOOGLE_CLOUD_NETAPP_VOLUMES",
            "GOOGLE_CLOUD_FILESTORE_INSTANCES"
          ]
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this network peering."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "peerMtu": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. Maximum transmission unit (MTU) in bytes. The default value is `1500`. If a value of `0` is provided for this field, VMware Engine uses the default value instead."
        },
        "stateDetails": {
          "type": "string",
          "description": "Output only. Output Only. Details about the current state of the network peering.",
          "readOnly": true
        },
        "peerNetwork": {
          "description": "Required. The relative resource name of the network to peer with a standard VMware Engine network. The provided network can be a consumer VPC network or another standard VMware Engine network. If the `peer_network_type` is VMWARE_ENGINE_NETWORK, specify the name in the form: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. Otherwise specify the name in the form: `projects/{project}/global/networks/{network_id}`, where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "exportCustomRoutesWithPublicIp": {
          "description": "Optional. True if all subnet routes with a public IP address range are exported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always exported to peers and are not controlled by this field.",
          "type": "boolean"
        },
        "importCustomRoutes": {
          "description": "Optional. True if custom routes are imported from the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        },
        "importCustomRoutesWithPublicIp": {
          "type": "boolean",
          "description": "Optional. True if all subnet routes with public IP address range are imported; false otherwise. The default value is true. IPv4 special-use ranges (https://en.wikipedia.org/wiki/IPv4#Special_addresses) are always imported to peers and are not controlled by this field."
        },
        "exportCustomRoutes": {
          "description": "Optional. True if custom routes are exported to the peered network; false otherwise. The default value is true.",
          "type": "boolean"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified network peering state. This is the default value.",
            "The peering is not active.",
            "The peering is active.",
            "The peering is being created.",
            "The peering is being deleted."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INACTIVE",
            "ACTIVE",
            "CREATING",
            "DELETING"
          ],
          "description": "Output only. State of the network peering. This field has a value of 'ACTIVE' when there's a matching configuration in the peer network. New values may be added to this enum when appropriate.",
          "readOnly": true
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "exchangeSubnetRoutes": {
          "type": "boolean",
          "description": "Optional. True if full mesh connectivity is created and managed automatically between peered networks; false otherwise. Currently this field is always true because Google Compute Engine automatically creates and manages subnetwork routes between two VPC networks when peering state is 'ACTIVE'."
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        }
      },
      "description": "Details of a network peering."
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "ListVmwareEngineNetworksResponse": {
      "description": "Response message for VmwareEngine.ListVmwareEngineNetworks",
      "properties": {
        "vmwareEngineNetworks": {
          "items": {
            "$ref": "VmwareEngineNetwork"
          },
          "type": "array",
          "description": "A list of VMware Engine networks."
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListVmwareEngineNetworksResponse",
      "type": "object"
    },
    "UnmountDatastoreRequest": {
      "description": "Unmount Datastore Request messag",
      "properties": {
        "datastore": {
          "type": "string",
          "description": "Required. The resource name of the datastore to unmount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "validateOnly": {
          "description": "Optional. If set to `true`, only validates the request but doesn’t execute the request. If set to `false`, validates and executes the request.",
          "type": "boolean"
        }
      },
      "id": "UnmountDatastoreRequest",
      "type": "object"
    },
    "DnsForwarding": {
      "type": "object",
      "id": "DnsForwarding",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "forwardingRules": {
          "description": "Required. List of domain mappings to configure",
          "items": {
            "$ref": "ForwardingRule"
          },
          "type": "array"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of this DNS profile. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/dnsForwarding`",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        }
      },
      "description": "DNS forwarding config. This config defines a list of domain to name server mappings, and is attached to the private cloud for custom domain resolution."
    },
    "IpRange": {
      "description": "An IP range provided in any one of the supported formats.",
      "properties": {
        "ipAddressRange": {
          "type": "string",
          "description": "An IP address range in the CIDR format. For example: `10.0.0.0/24`."
        },
        "externalAddress": {
          "type": "string",
          "description": "The name of an `ExternalAddress` resource. The external address must have been reserved in the scope of this external access rule's parent network policy. Provide the external address name in the form of `projects/{project}/locations/{location}/privateClouds/{private_cloud}/externalAddresses/{external_address}`. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`."
        },
        "ipAddress": {
          "description": "A single IP address. For example: `10.0.0.5`.",
          "type": "string"
        }
      },
      "id": "IpRange",
      "type": "object"
    },
    "ResetNsxCredentialsRequest": {
      "description": "Request message for VmwareEngine.ResetNsxCredentials",
      "properties": {
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "ResetNsxCredentialsRequest",
      "type": "object"
    },
    "ListNetworkPoliciesResponse": {
      "description": "Response message for VmwareEngine.ListNetworkPolicies",
      "properties": {
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be send as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "networkPolicies": {
          "description": "A list of network policies.",
          "items": {
            "$ref": "NetworkPolicy"
          },
          "type": "array"
        }
      },
      "id": "ListNetworkPoliciesResponse",
      "type": "object"
    },
    "TimeOfDay": {
      "id": "TimeOfDay",
      "type": "object",
      "description": "Represents a time of day. The date and time zone are either not significant or are specified elsewhere. An API may choose to allow leap seconds. Related types are google.type.Date and `google.protobuf.Timestamp`.",
      "properties": {
        "seconds": {
          "type": "integer",
          "format": "int32",
          "description": "Seconds of a minute. Must be greater than or equal to 0 and typically must be less than or equal to 59. An API may allow the value 60 if it allows leap-seconds."
        },
        "minutes": {
          "type": "integer",
          "format": "int32",
          "description": "Minutes of an hour. Must be greater than or equal to 0 and less than or equal to 59."
        },
        "nanos": {
          "type": "integer",
          "format": "int32",
          "description": "Fractions of seconds, in nanoseconds. Must be greater than or equal to 0 and less than or equal to 999,999,999."
        },
        "hours": {
          "format": "int32",
          "type": "integer",
          "description": "Hours of a day in 24 hour format. Must be greater than or equal to 0 and typically must be less than or equal to 23. An API may choose to allow the value \"24:00:00\" for scenarios like business closing time."
        }
      }
    },
    "ListUpgradesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of unreachable resources."
        },
        "upgrades": {
          "description": "A list of `Upgrades`.",
          "items": {
            "$ref": "Upgrade"
          },
          "type": "array"
        }
      },
      "description": "Response message for VmwareEngine.ListUpgrades.",
      "type": "object",
      "id": "ListUpgradesResponse"
    },
    "Hcx": {
      "type": "object",
      "id": "Hcx",
      "properties": {
        "internalIp": {
          "type": "string",
          "description": "Internal IP address of the appliance."
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "ACTIVATING"
          ],
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed.",
            "The appliance is being activated."
          ],
          "type": "string"
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        }
      },
      "description": "Details about a HCX Cloud Manager appliance."
    },
    "TestIamPermissionsRequest": {
      "type": "object",
      "id": "TestIamPermissionsRequest",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      },
      "description": "Request message for `TestIamPermissions` method."
    },
    "PrivateConnection": {
      "description": "Private connection resource that provides connectivity for VMware Engine private clouds.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the private connection. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/privateConnections/my-connection`",
          "readOnly": true
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description for this private connection.",
          "type": "string"
        },
        "peeringId": {
          "description": "Output only. VPC network peering id between given network VPC and VMwareEngineNetwork.",
          "readOnly": true,
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "routingMode": {
          "type": "string",
          "enum": [
            "ROUTING_MODE_UNSPECIFIED",
            "GLOBAL",
            "REGIONAL"
          ],
          "description": "Optional. Routing Mode. Default value is set to GLOBAL. For type = PRIVATE_SERVICE_ACCESS, this field can be set to GLOBAL or REGIONAL, for other types only GLOBAL is supported.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Global Routing Mode",
            "Regional Routing Mode"
          ]
        },
        "serviceNetwork": {
          "description": "Required. Service network to create private connection. Specify the name in the following form: `projects/{project}/global/networks/{network_id}` For type = PRIVATE_SERVICE_ACCESS, this field represents servicenetworking VPC, e.g. projects/project-tp/global/networks/servicenetworking. For type = NETAPP_CLOUD_VOLUME, this field represents NetApp service VPC, e.g. projects/project-tp/global/networks/netapp-tenant-vpc. For type = DELL_POWERSCALE, this field represent Dell service VPC, e.g. projects/project-tp/global/networks/dell-tenant-vpc. For type= THIRD_PARTY_SERVICE, this field could represent a consumer VPC or any other producer VPC to which the VMware Engine Network needs to be connected, e.g. projects/project/global/networks/vpc.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The private connection is being created.",
            "The private connection is ready.",
            "The private connection is being updated.",
            "The private connection is being deleted.",
            "The private connection is not provisioned, since no private cloud is present for which this private connection is needed.",
            "The private connection is in failed state."
          ],
          "description": "Output only. State of the private connection.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "UNPROVISIONED",
            "FAILED"
          ]
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "peeringState": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the peering state is omitted or unknown.",
            "The peering is in active state.",
            "The peering is in inactive state."
          ],
          "enum": [
            "PEERING_STATE_UNSPECIFIED",
            "PEERING_ACTIVE",
            "PEERING_INACTIVE"
          ],
          "description": "Output only. Peering state between service network and VMware Engine network.",
          "readOnly": true
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "PRIVATE_SERVICE_ACCESS",
            "NETAPP_CLOUD_VOLUMES",
            "DELL_POWERSCALE",
            "THIRD_PARTY_SERVICE"
          ],
          "description": "Required. Private connection type.",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Connection used for establishing [private services access](https://cloud.google.com/vpc/docs/private-services-access).",
            "Connection used for connecting to NetApp Cloud Volumes.",
            "Connection used for connecting to Dell PowerScale.",
            "Connection used for connecting to third-party services."
          ],
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Required. The relative resource name of Legacy VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}`, `{location}` will be same as specified in private connection resource name and `{vmware_engine_network_id}` will be in the form of `{location}`-default e.g. projects/project/locations/us-central1/vmwareEngineNetworks/us-central1-default.",
          "type": "string"
        }
      },
      "id": "PrivateConnection",
      "type": "object"
    },
    "ListPeeringRoutesResponse": {
      "properties": {
        "peeringRoutes": {
          "type": "array",
          "items": {
            "$ref": "PeeringRoute"
          },
          "description": "A list of peering routes."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "description": "Response message for VmwareEngine.ListPeeringRoutes",
      "type": "object",
      "id": "ListPeeringRoutesResponse"
    },
    "NodeType": {
      "id": "NodeType",
      "type": "object",
      "description": "Describes node type.",
      "properties": {
        "displayName": {
          "description": "Output only. The friendly name for this node type. For example: ve1-standard-72",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "enum": [
            "KIND_UNSPECIFIED",
            "STANDARD",
            "STORAGE_ONLY"
          ],
          "description": "Output only. The type of the resource.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Standard HCI node.",
            "Storage only Node."
          ]
        },
        "name": {
          "description": "Output only. The resource name of this node type. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-proj/locations/us-central1-a/nodeTypes/standard-72`",
          "readOnly": true,
          "type": "string"
        },
        "virtualCpuCount": {
          "format": "int32",
          "type": "integer",
          "description": "Output only. The total number of virtual CPUs in a single node.",
          "readOnly": true
        },
        "capabilities": {
          "description": "Output only. Capabilities of this node type.",
          "readOnly": true,
          "items": {
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "This node type supports stretch clusters."
            ],
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "nodeTypeId": {
          "description": "Output only. The canonical identifier of the node type (corresponds to the `NodeType`). For example: standard-72.",
          "readOnly": true,
          "type": "string"
        },
        "diskSizeGb": {
          "description": "Output only. The amount of storage available, defined in GB.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "families": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Output only. Families of the node type. For node types to be in the same cluster they must share at least one element in the `families`.",
          "readOnly": true
        },
        "totalCoreCount": {
          "description": "Output only. The total number of CPU cores in a single node.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "availableCustomCoreCounts": {
          "description": "Output only. List of possible values of custom core count.",
          "readOnly": true,
          "items": {
            "type": "integer",
            "format": "int32"
          },
          "type": "array"
        },
        "memoryGb": {
          "description": "Output only. The amount of physical memory available, defined in GB.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "VmwareUpgradeComponent": {
      "properties": {
        "componentType": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "vcenter",
            "esxi nodes + transport nodes",
            "nsxt upgrade coordinator",
            "nsxt edges cluster",
            "nsxt managers/management plane",
            "hcx",
            "VSAN cluster",
            "DVS switch",
            "Nameserver VMs",
            "KMS VM used for vsan encryption",
            "witness VM in case of stretch PC",
            "nsxt",
            "Cluster is used in case of BM",
            "VMware Tools."
          ],
          "description": "Output only. Type of component",
          "readOnly": true,
          "enum": [
            "VMWARE_COMPONENT_TYPE_UNSPECIFIED",
            "VCENTER",
            "ESXI",
            "NSXT_UC",
            "NSXT_EDGE",
            "NSXT_MGR",
            "HCX",
            "VSAN",
            "DVS",
            "NAMESERVER_VM",
            "KMS_VM",
            "WITNESS_VM",
            "NSXT",
            "CLUSTER",
            "VM_TOOLS"
          ]
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "PAUSED",
            "SUCCEEDED",
            "FAILED",
            "NOT_STARTED",
            "NOT_APPLICABLE"
          ],
          "description": "Output only. Component's upgrade state.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "Component's upgrade is in progress",
            "The component's upgrade is paused. Will be resumed when upgrade job is resumed",
            "The component's upgrade is successfully completed",
            "The component's upgrade has failed. This will move to resume if upgrade is resumed or stay as is",
            "Component's upgrade has not started yet",
            "Component's upgrade is not applicable in this upgrade. It will be skipped."
          ],
          "type": "string"
        }
      },
      "description": "Per component upgrade resource",
      "type": "object",
      "id": "VmwareUpgradeComponent"
    },
    "DatastoreNetwork": {
      "properties": {
        "subnet": {
          "type": "string",
          "description": "Required. The resource name of the subnet Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/subnets/my-subnet"
        },
        "mtu": {
          "description": "Optional. MTU value is set on the VMKernel adapter for the NFS traffic. By default standard 1500 MTU size is set in MountDatastore API which is good for typical setups. However google VPC networks supports jumbo MTU 8896. We recommend to tune this value based on the NFS traffic performance. Performance can be determined using benchmarking I/O tools like fio (Flexible I/O Tester) utility.",
          "format": "int32",
          "type": "integer"
        },
        "networkPeering": {
          "description": "Output only. The resource name of the network peering, used to access the file share by clients on private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. e.g. projects/my-project/locations/us-central1/networkPeerings/my-network-peering",
          "readOnly": true,
          "type": "string"
        },
        "connectionCount": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. connection_count is used to set multiple connections from NFS client on ESXi host to NFS server. A higher number of connections results in better performance on datastores. In MountDatastore API by default max 4 connections are configured. User can set value of connection_count between 1 to 4. Connection_count is supported from vsphere 8.0u1 for earlier version 1 connection count is set on the ESXi hosts."
        }
      },
      "description": "The network configuration for the datastore.",
      "type": "object",
      "id": "DatastoreNetwork"
    },
    "Subnet": {
      "properties": {
        "vlanId": {
          "type": "integer",
          "format": "int32",
          "description": "Output only. VLAN ID of the VLAN on which the subnet is configured",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The subnet is ready.",
            "The subnet is being created.",
            "The subnet is being updated.",
            "The subnet is being deleted.",
            "Changes requested in the last operation are being propagated.",
            "Last operation on the subnet did not succeed. Subnet's payload is reverted back to its most recent working state."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "RECONCILING",
            "FAILED"
          ],
          "description": "Output only. The state of the resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of this subnet. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/subnets/my-subnet`",
          "readOnly": true
        },
        "ipCidrRange": {
          "description": "The IP address range of the subnet in CIDR format '10.0.0.0/24'.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Output only. The type of the subnet. For example \"management\" or \"userDefined\".",
          "readOnly": true
        },
        "gatewayIp": {
          "type": "string",
          "description": "The IP address of the gateway of this subnet. Must fall within the IP prefix defined above."
        }
      },
      "description": "Subnet in a private cloud. Either `management` subnets (such as vMotion) that are read-only, or `userDefined`, which can also be updated.",
      "type": "object",
      "id": "Subnet"
    },
    "NetworkConfig": {
      "properties": {
        "dnsServerIp": {
          "type": "string",
          "description": "Output only. DNS Server IP of the Private Cloud. All DNS queries can be forwarded to this address for name resolution of Private Cloud's management entities like vCenter, NSX-T Manager and ESXi hosts.",
          "readOnly": true
        },
        "vmwareEngineNetwork": {
          "description": "Optional. The relative resource name of the VMware Engine network attached to the private cloud. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "vmwareEngineNetworkCanonical": {
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true,
          "type": "string"
        },
        "managementIpAddressLayoutVersion": {
          "description": "Output only. The IP address layout version of the management IP address range. Possible versions include: * `managementIpAddressLayoutVersion=1`: Indicates the legacy IP address layout used by some existing private clouds. This is no longer supported for new private clouds as it does not support all features. * `managementIpAddressLayoutVersion=2`: Indicates the latest IP address layout used by all newly created private clouds. This version supports all current features.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "managementCidr": {
          "type": "string",
          "description": "Required. Management CIDR used by VMware management appliances."
        }
      },
      "description": "Network configuration in the consumer project with which the peering has to be done.",
      "type": "object",
      "id": "NetworkConfig"
    },
    "ManagementCluster": {
      "id": "ManagementCluster",
      "type": "object",
      "description": "Management cluster configuration.",
      "properties": {
        "nodeTypeConfigs": {
          "additionalProperties": {
            "$ref": "NodeTypeConfig"
          },
          "type": "object",
          "description": "Required. The map of cluster node types in this cluster, where the key is canonical identifier of the node type (corresponds to the `NodeType`)."
        },
        "clusterId": {
          "description": "Required. The user-provided identifier of the new `Cluster`. The identifier must meet the following requirements: * Only contains 1-63 alphanumeric characters and hyphens * Begins with an alphabetical character * Ends with a non-hyphen character * Not formatted as a UUID * Complies with [RFC 1034](https://datatracker.ietf.org/doc/html/rfc1034) (section 3.5)",
          "type": "string"
        },
        "stretchedClusterConfig": {
          "description": "Optional. Configuration of a stretched cluster. Required for STRETCHED private clouds.",
          "$ref": "StretchedClusterConfig"
        }
      }
    },
    "Principal": {
      "id": "Principal",
      "type": "object",
      "description": "Users/Service accounts which have access for DNS binding on the intranet VPC corresponding to the consumer project.",
      "properties": {
        "user": {
          "type": "string",
          "description": "The user who needs to be granted permission."
        },
        "serviceAccount": {
          "description": "The service account which needs to be granted the permission.",
          "type": "string"
        }
      }
    },
    "RevokeDnsBindPermissionRequest": {
      "type": "object",
      "id": "RevokeDnsBindPermissionRequest",
      "properties": {
        "principal": {
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project.",
          "$ref": "Principal"
        },
        "requestId": {
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "description": "Request message for VmwareEngine.RevokeDnsBindPermission"
    },
    "DnsBindPermission": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Required. Output only. The name of the resource which stores the users/service accounts having the permission to bind to the corresponding intranet VPC of the consumer project. DnsBindPermission is a global resource and location can only be global. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/global/dnsBindPermission`",
          "readOnly": true
        },
        "principals": {
          "description": "Output only. Users/Service accounts which have access for binding on the intranet VPC project corresponding to the consumer project.",
          "readOnly": true,
          "items": {
            "$ref": "Principal"
          },
          "type": "array"
        }
      },
      "description": "DnsBindPermission resource that contains the accounts having the consumer DNS bind permission on the corresponding intranet VPC of the consumer project.",
      "type": "object",
      "id": "DnsBindPermission"
    },
    "Constraints": {
      "description": "Constraints to be applied while editing a schedule. These constraints ensure that `Upgrade` specific requirements are met.",
      "properties": {
        "minHoursDay": {
          "description": "Output only. Minimum number of hours must be allotted for the upgrade activities for each selected day. This is a minimum; the upgrade schedule can allot more hours for the given day.",
          "readOnly": true,
          "format": "int32",
          "type": "integer"
        },
        "rescheduleDateRange": {
          "description": "Output only. Output Only. The user can only reschedule an upgrade that starts within this range.",
          "readOnly": true,
          "$ref": "Interval"
        },
        "minHoursWeek": {
          "description": "Output only. The minimum number of weekly hours must be allotted for the upgrade activities. This is just a minimum; the schedule can assign more weekly hours.",
          "readOnly": true,
          "type": "integer",
          "format": "int32"
        },
        "disallowedIntervals": {
          "description": "Output only. Output Only. A list of intervals in which maintenance windows are not allowed. Any time window that overlaps with any of these intervals will be considered invalid.",
          "readOnly": true,
          "items": {
            "$ref": "WeeklyTimeInterval"
          },
          "type": "array"
        }
      },
      "id": "Constraints",
      "type": "object"
    },
    "GrantDnsBindPermissionRequest": {
      "description": "Request message for VmwareEngine.GrantDnsBindPermission",
      "properties": {
        "principal": {
          "description": "Required. The consumer provided user/service account which needs to be granted permission to bind with the intranet VPC corresponding to the consumer project.",
          "$ref": "Principal"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. A request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server guarantees that a request doesn't result in creation of duplicate commitments for at least 60 minutes. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      },
      "id": "GrantDnsBindPermissionRequest",
      "type": "object"
    },
    "ListAnnouncementsResponse": {
      "properties": {
        "announcements": {
          "description": "A list of announcement runs.",
          "type": "array",
          "items": {
            "$ref": "Announcement"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "list of unreachable locations",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Response message for VmwareEngine.ListAnnouncements",
      "type": "object",
      "id": "ListAnnouncementsResponse"
    },
    "StretchedClusterConfig": {
      "type": "object",
      "id": "StretchedClusterConfig",
      "properties": {
        "preferredLocation": {
          "description": "Required. Zone that will remain operational when connection between the two zones is lost. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-a` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        },
        "secondaryLocation": {
          "description": "Required. Additional zone for a higher level of availability and load balancing. Specify the resource name of a zone that belongs to the region of the private cloud. For example: `projects/{project}/locations/europe-west3-b` where `{project}` can either be a project number or a project ID.",
          "type": "string"
        }
      },
      "description": "Configuration of a stretched cluster."
    },
    "Policy": {
      "id": "Policy",
      "type": "object",
      "description": "An Identity and Access Management (IAM) policy, which specifies access controls for Google Cloud resources. A `Policy` is a collection of `bindings`. A `binding` binds one or more `members`, or principals, to a single `role`. Principals can be user accounts, service accounts, Google groups, and domains (such as G Suite). A `role` is a named list of permissions; each `role` can be an IAM predefined role or a user-created custom role. For some types of Google Cloud resources, a `binding` can also specify a `condition`, which is a logical expression that allows access to a resource only if the expression evaluates to `true`. A condition can add constraints based on attributes of the request, the resource, or both. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies). **JSON example:** ``` { \"bindings\": [ { \"role\": \"roles/resourcemanager.organizationAdmin\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\", \"domain:google.com\", \"serviceAccount:my-project-id@appspot.gserviceaccount.com\" ] }, { \"role\": \"roles/resourcemanager.organizationViewer\", \"members\": [ \"user:eve@example.com\" ], \"condition\": { \"title\": \"expirable access\", \"description\": \"Does not grant access after Sep 2020\", \"expression\": \"request.time < timestamp('2020-10-01T00:00:00.000Z')\", } } ], \"etag\": \"BwWWja0YfJA=\", \"version\": 3 } ``` **YAML example:** ``` bindings: - members: - user:mike@example.com - group:admins@example.com - domain:google.com - serviceAccount:my-project-id@appspot.gserviceaccount.com role: roles/resourcemanager.organizationAdmin - members: - user:eve@example.com role: roles/resourcemanager.organizationViewer condition: title: expirable access description: Does not grant access after Sep 2020 expression: request.time < timestamp('2020-10-01T00:00:00.000Z') etag: BwWWja0YfJA= version: 3 ``` For a description of IAM and its features, see the [IAM documentation](https://cloud.google.com/iam/docs/).",
      "properties": {
        "bindings": {
          "description": "Associates a list of `members`, or principals, with a `role`. Optionally, may specify a `condition` that determines how and when the `bindings` are applied. Each of the `bindings` must contain at least one principal. The `bindings` in a `Policy` can refer to up to 1,500 principals; up to 250 of these principals can be Google groups. Each occurrence of a principal counts towards these limits. For example, if the `bindings` grant 50 different roles to `user:alice@example.com`, and not to any other principal, then you can add another 1,450 principals to the `bindings` in the `Policy`.",
          "items": {
            "$ref": "Binding"
          },
          "type": "array"
        },
        "version": {
          "description": "Specifies the format of the policy. Valid values are `0`, `1`, and `3`. Requests that specify an invalid value are rejected. Any operation that affects conditional role bindings must specify version `3`. This requirement applies to the following operations: * Getting a policy that includes a conditional role binding * Adding a conditional role binding to a policy * Changing a conditional role binding in a policy * Removing any role binding, with or without a condition, from a policy that includes conditions **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost. If a policy does not include any conditions, operations on that policy may specify any valid version or leave the field unset. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
          "type": "integer",
          "format": "int32"
        },
        "auditConfigs": {
          "description": "Specifies cloud audit logging configuration for this policy.",
          "items": {
            "$ref": "AuditConfig"
          },
          "type": "array"
        },
        "etag": {
          "type": "string",
          "format": "byte",
          "description": "`etag` is used for optimistic concurrency control as a way to help prevent simultaneous updates of a policy from overwriting each other. It is strongly suggested that systems make use of the `etag` in the read-modify-write cycle to perform policy updates in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`, and systems are expected to put that etag in the request to `setIamPolicy` to ensure that their change will be applied to the same version of the policy. **Important:** If you use IAM Conditions, you must include the `etag` field whenever you call `setIamPolicy`. If you omit this field, then IAM allows you to overwrite a version `3` policy with a version `1` policy, and all of the conditions in the version `3` policy are lost."
        }
      }
    },
    "ManagementDnsZoneBinding": {
      "id": "ManagementDnsZoneBinding",
      "type": "object",
      "description": "Represents a binding between a network and the management DNS zone. A management DNS zone is the Cloud DNS cross-project binding zone that VMware Engine creates for each private cloud. It contains FQDNs and corresponding IP addresses for the private cloud's ESXi hosts and management VM appliances like vCenter and NSX Manager.",
      "properties": {
        "description": {
          "description": "User-provided description for this resource.",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The binding is ready.",
            "The binding is being created.",
            "The binding is being updated.",
            "The binding is being deleted.",
            "The binding has failed."
          ],
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "description": "Output only. The state of the resource.",
          "readOnly": true
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "vpcNetwork": {
          "type": "string",
          "description": "Network to bind is a standard consumer VPC. Specify the name in the following form for consumer VPC network: `projects/{project}/global/networks/{network_id}`. `{project}` can either be a project number or a project ID."
        },
        "name": {
          "description": "Output only. The resource name of this binding. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/managementDnsZoneBindings/my-management-dns-zone-binding`",
          "readOnly": true,
          "type": "string"
        },
        "vmwareEngineNetwork": {
          "description": "Network to bind is a VMware Engine network. Specify the name in the following form for VMware engine network: `projects/{project}/locations/global/vmwareEngineNetworks/{vmware_engine_network_id}`. `{project}` can either be a project number or a project ID.",
          "type": "string"
        }
      }
    },
    "GoogleFileService": {
      "type": "object",
      "id": "GoogleFileService",
      "properties": {
        "filestoreInstance": {
          "description": "Google filestore instance resource name e.g. projects/my-project/locations/me-west1-b/instances/my-instance",
          "type": "string"
        },
        "netappVolume": {
          "description": "Google netapp volume resource name e.g. projects/my-project/locations/me-west1-b/volumes/my-volume",
          "type": "string"
        }
      },
      "description": "Google service file service configuration"
    },
    "Expr": {
      "id": "Expr",
      "type": "object",
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        }
      }
    },
    "NetworkService": {
      "description": "Represents a network service that is managed by a `NetworkPolicy` resource. A network service provides a way to control an aspect of external access to VMware workloads. For example, whether the VMware workloads in the private clouds governed by a network policy can access or be accessed from the internet.",
      "properties": {
        "enabled": {
          "description": "True if the service is enabled; false otherwise.",
          "type": "boolean"
        },
        "state": {
          "enumDescriptions": [
            "Unspecified service state. This is the default value.",
            "Service is not provisioned.",
            "Service is in the process of being provisioned/deprovisioned.",
            "Service is active."
          ],
          "type": "string",
          "description": "Output only. State of the service. New values may be added to this enum when appropriate.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "UNPROVISIONED",
            "RECONCILING",
            "ACTIVE"
          ]
        }
      },
      "id": "NetworkService",
      "type": "object"
    },
    "Credentials": {
      "properties": {
        "username": {
          "type": "string",
          "description": "Initial username."
        },
        "password": {
          "description": "Initial password.",
          "type": "string"
        }
      },
      "description": "Credentials for a private cloud.",
      "type": "object",
      "id": "Credentials"
    },
    "ListPrivateConnectionsResponse": {
      "type": "object",
      "id": "ListPrivateConnectionsResponse",
      "properties": {
        "privateConnections": {
          "description": "A list of private connections.",
          "type": "array",
          "items": {
            "$ref": "PrivateConnection"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources."
        }
      },
      "description": "Response message for VmwareEngine.ListPrivateConnections"
    },
    "DatastoreMountConfig": {
      "properties": {
        "datastoreNetwork": {
          "description": "Required. The network configuration for the datastore.",
          "$ref": "DatastoreNetwork"
        },
        "fileShare": {
          "type": "string",
          "description": "Output only. File share name.",
          "readOnly": true
        },
        "nfsVersion": {
          "description": "Optional. The NFS protocol supported by the NFS volume. Default value used will be NFS_V3",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS 3"
          ],
          "enum": [
            "NFS_VERSION_UNSPECIFIED",
            "NFS_V3"
          ],
          "type": "string"
        },
        "servers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. Server IP addresses of the NFS volume. For NFS 3, you can only provide a single server IP address or DNS names.",
          "readOnly": true
        },
        "accessMode": {
          "type": "string",
          "enum": [
            "ACCESS_MODE_UNSPECIFIED",
            "READ_ONLY",
            "READ_WRITE"
          ],
          "description": "Optional. The access mode of the NFS volume. Optional. Default value used will be READ_WRITE",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "NFS is accessed by hosts in read mode",
            "NFS is accessed by hosts in read and write mode"
          ]
        },
        "datastore": {
          "type": "string",
          "description": "Required. The resource name of the datastore to mount. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/my-datastore`"
        }
      },
      "description": "The Datastore Mount configuration",
      "type": "object",
      "id": "DatastoreMountConfig"
    },
    "ExternalAddress": {
      "type": "object",
      "id": "ExternalAddress",
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description for this resource."
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The address is ready.",
            "The address is being created.",
            "The address is being updated.",
            "The address is being deleted."
          ]
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of this external IP address. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud/externalAddresses/my-address`",
          "readOnly": true
        },
        "internalIp": {
          "type": "string",
          "description": "The internal IP address of a workload VM."
        },
        "externalIp": {
          "type": "string",
          "description": "Output only. The external IP address of a workload VM.",
          "readOnly": true
        }
      },
      "description": "Represents an allocated external IP address and its corresponding internal IP address in a private cloud."
    },
    "ForwardingRule": {
      "description": "A forwarding rule is a mapping of a `domain` to `name_servers`. This mapping allows VMware Engine to resolve domains for attached private clouds by forwarding DNS requests for a given domain to the specified nameservers.",
      "properties": {
        "domain": {
          "description": "Required. Domain used to resolve a `name_servers` list.",
          "type": "string"
        },
        "nameServers": {
          "description": "Required. List of DNS servers to use for domain resolution",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ForwardingRule",
      "type": "object"
    },
    "Schedule": {
      "description": "Schedule for the upgrade.",
      "properties": {
        "lastEditor": {
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The upgrade is scheduled by the System or internal service.",
            "The upgrade is scheduled by the end user."
          ],
          "type": "string",
          "enum": [
            "EDITOR_UNSPECIFIED",
            "SYSTEM",
            "USER"
          ],
          "description": "Output only. Output Only. Indicates who most recently edited the upgrade schedule. The value is updated whenever the upgrade is rescheduled.",
          "readOnly": true
        },
        "editWindow": {
          "description": "Output only. Output Only. The schedule is open for edits during this time interval or window.",
          "readOnly": true,
          "$ref": "Interval"
        },
        "constraints": {
          "description": "Output only. Output Only. Constraints applied to the schedule. These constraints should be applicable at the time of any rescheduling.",
          "readOnly": true,
          "$ref": "Constraints"
        },
        "startTime": {
          "description": "Required. The scheduled start time for the upgrade.",
          "type": "string",
          "format": "google-datetime"
        },
        "weeklyWindows": {
          "items": {
            "$ref": "TimeWindow"
          },
          "type": "array",
          "description": "Required. Weekly time windows for upgrade activities. The server performs upgrade activities during these time windows to minimize disruptions."
        }
      },
      "id": "Schedule",
      "type": "object"
    },
    "SetIamPolicyRequest": {
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`",
          "type": "string",
          "format": "google-fieldmask"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      },
      "id": "SetIamPolicyRequest",
      "type": "object"
    },
    "ListPrivateCloudsResponse": {
      "description": "Response message for VmwareEngine.ListPrivateClouds",
      "properties": {
        "privateClouds": {
          "description": "A list of private clouds.",
          "items": {
            "$ref": "PrivateCloud"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached when making an aggregated query using wildcards.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListPrivateCloudsResponse",
      "type": "object"
    },
    "TestIamPermissionsResponse": {
      "description": "Response message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A subset of `TestPermissionsRequest.permissions` that the caller is allowed."
        }
      },
      "id": "TestIamPermissionsResponse",
      "type": "object"
    },
    "PrivateCloud": {
      "properties": {
        "description": {
          "type": "string",
          "description": "User-provided description for this private cloud."
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "type": "string",
          "description": "Output only. Identifier. The resource name of this private cloud. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1-a/privateClouds/my-cloud`",
          "readOnly": true
        },
        "managementCluster": {
          "description": "Required. Input only. The management cluster for this private cloud. This field is required during creation of the private cloud to provide details for the default cluster. The following fields can't be changed after private cloud creation: `ManagementCluster.clusterId`, `ManagementCluster.nodeTypeId`.",
          "$ref": "ManagementCluster"
        },
        "networkConfig": {
          "description": "Required. Network configuration of the private cloud.",
          "$ref": "NetworkConfig"
        },
        "hcx": {
          "description": "Output only. HCX appliance.",
          "readOnly": true,
          "$ref": "Hcx"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "FAILED",
            "DELETED",
            "PURGING"
          ],
          "description": "Output only. State of the resource. New values may be added to this enum when appropriate.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The private cloud is ready.",
            "The private cloud is being created.",
            "The private cloud is being updated.",
            "The private cloud is in failed state.",
            "The private cloud is scheduled for deletion. The deletion process can be cancelled by using the corresponding undelete method.",
            "The private cloud is irreversibly deleted and is being removed from the system."
          ],
          "type": "string"
        },
        "vcenter": {
          "description": "Output only. Vcenter appliance.",
          "readOnly": true,
          "$ref": "Vcenter"
        },
        "expireTime": {
          "description": "Output only. Time when the resource will be irreversibly deleted.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "deleteTime": {
          "description": "Output only. Time when the resource was scheduled for deletion.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "nsx": {
          "description": "Output only. NSX appliance.",
          "readOnly": true,
          "$ref": "Nsx"
        },
        "type": {
          "description": "Optional. Type of the private cloud. Defaults to STANDARD.",
          "enumDescriptions": [
            "Standard private is a zonal resource, with 3+ nodes. Default type.",
            "Time limited private cloud is a zonal resource, can have only 1 node and has limited life span. Will be deleted after defined period of time, can be converted into standard private cloud by expanding it up to 3 or more nodes.",
            "Stretched private cloud is a regional resource with redundancy, with a minimum of 6 nodes, nodes count has to be even."
          ],
          "enum": [
            "STANDARD",
            "TIME_LIMITED",
            "STRETCHED"
          ],
          "type": "string"
        }
      },
      "description": "Represents a private cloud resource. Private clouds of type `STANDARD` and `TIME_LIMITED` are zonal resources, `STRETCHED` private clouds are regional.",
      "type": "object",
      "id": "PrivateCloud"
    },
    "ListExternalAccessRulesResponse": {
      "description": "Response message for VmwareEngine.ListExternalAccessRules",
      "properties": {
        "externalAccessRules": {
          "type": "array",
          "items": {
            "$ref": "ExternalAccessRule"
          },
          "description": "A list of external access firewall rules."
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        }
      },
      "id": "ListExternalAccessRulesResponse",
      "type": "object"
    },
    "Nsx": {
      "type": "object",
      "id": "Nsx",
      "properties": {
        "internalIp": {
          "type": "string",
          "description": "Internal IP address of the appliance."
        },
        "fqdn": {
          "description": "Fully qualified domain name of the appliance.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ],
          "type": "string"
        },
        "version": {
          "description": "Version of the appliance.",
          "type": "string"
        }
      },
      "description": "Details about a NSX Manager appliance."
    },
    "ListExternalAddressesResponse": {
      "properties": {
        "externalAddresses": {
          "description": "A list of external IP addresses.",
          "type": "array",
          "items": {
            "$ref": "ExternalAddress"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached when making an aggregated query using wildcards."
        }
      },
      "description": "Response message for VmwareEngine.ListExternalAddresses",
      "type": "object",
      "id": "ListExternalAddressesResponse"
    },
    "NfsDatastore": {
      "description": "The NFS datastore configuration.",
      "properties": {
        "googleFileService": {
          "description": "Google file service configuration",
          "$ref": "GoogleFileService"
        },
        "thirdPartyFileService": {
          "description": "Third party file service configuration",
          "$ref": "ThirdPartyFileService"
        },
        "googleVmwareFileService": {
          "description": "GCVE file service configuration",
          "$ref": "GoogleVmwareFileService"
        }
      },
      "id": "NfsDatastore",
      "type": "object"
    },
    "ExternalAccessRule": {
      "properties": {
        "action": {
          "enum": [
            "ACTION_UNSPECIFIED",
            "ALLOW",
            "DENY"
          ],
          "description": "The action that the external access rule performs.",
          "enumDescriptions": [
            "Defaults to allow.",
            "Allows connections that match the other specified components.",
            "Blocks connections that match the other specified components."
          ],
          "type": "string"
        },
        "destinationPorts": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "A list of destination ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all destination ports, specify `[\"0-65535\"]`."
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of this external access rule. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-policy/externalAccessRules/my-rule`",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "User-provided description for this external access rule."
        },
        "destinationIpRanges": {
          "description": "If destination ranges are specified, the external access rule applies only to the traffic that has a destination IP address in these ranges. The specified IP addresses must have reserved external IP addresses in the scope of the parent network policy. To match all external IP addresses in the scope of the parent network policy, specify `0.0.0.0/0`. To match a specific external IP address, specify it using the `IpRange.external_address` property.",
          "type": "array",
          "items": {
            "$ref": "IpRange"
          }
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "ipProtocol": {
          "description": "The IP protocol to which the external access rule applies. This value can be one of the following three protocol strings (not case-sensitive): `tcp`, `udp`, or `icmp`.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. Creation time of this resource.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sourceIpRanges": {
          "description": "If source ranges are specified, the external access rule applies only to traffic that has a source IP address in these ranges. These ranges can either be expressed in the CIDR format or as an IP address. As only inbound rules are supported, `ExternalAddress` resources cannot be the source IP addresses of an external access rule. To match all source addresses, specify `0.0.0.0/0`.",
          "items": {
            "$ref": "IpRange"
          },
          "type": "array"
        },
        "priority": {
          "description": "External access rule priority, which determines the external access rule to use when multiple rules apply. If multiple rules have the same priority, their ordering is non-deterministic. If specific ordering is required, assign unique priorities to enforce such ordering. The external access rule priority is an integer from 100 to 4096, both inclusive. Lower integers indicate higher precedence. For example, a rule with priority `100` has higher precedence than a rule with priority `101`.",
          "format": "int32",
          "type": "integer"
        },
        "sourcePorts": {
          "description": "A list of source ports to which the external access rule applies. This field is only applicable for the UDP or TCP protocol. Each entry must be either an integer or a range. For example: `[\"22\"]`, `[\"80\",\"443\"]`, or `[\"12345-12349\"]`. To match all source ports, specify `[\"0-65535\"]`.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "state": {
          "description": "Output only. The state of the resource.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING",
            "UPDATING",
            "DELETING"
          ],
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The rule is ready.",
            "The rule is being created.",
            "The rule is being updated.",
            "The rule is being deleted."
          ]
        }
      },
      "description": "External access firewall rules for filtering incoming traffic destined to `ExternalAddress` resources.",
      "type": "object",
      "id": "ExternalAccessRule"
    },
    "Vcenter": {
      "description": "Details about a vCenter Server management appliance.",
      "properties": {
        "version": {
          "type": "string",
          "description": "Version of the appliance."
        },
        "internalIp": {
          "description": "Internal IP address of the appliance.",
          "type": "string"
        },
        "fqdn": {
          "type": "string",
          "description": "Fully qualified domain name of the appliance."
        },
        "state": {
          "description": "Output only. The state of the appliance.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "CREATING"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified appliance state. This is the default value.",
            "The appliance is operational and can be used.",
            "The appliance is being deployed."
          ]
        }
      },
      "id": "Vcenter",
      "type": "object"
    },
    "NetworkPolicy": {
      "type": "object",
      "id": "NetworkPolicy",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "externalIp": {
          "description": "Network service that allows External IP addresses to be assigned to VMware workloads. This service can only be enabled when `internet_access` is also enabled.",
          "$ref": "NetworkService"
        },
        "vmwareEngineNetwork": {
          "type": "string",
          "description": "Optional. The relative resource name of the VMware Engine network. Specify the name in the following form: `projects/{project}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}` where `{project}` can either be a project number or a project ID."
        },
        "internetAccess": {
          "description": "Network service that allows VMware workloads to access the internet.",
          "$ref": "NetworkService"
        },
        "edgeServicesCidr": {
          "type": "string",
          "description": "Required. IP address range in CIDR notation used to create internet access and external IP access. An RFC 1918 CIDR block, with a \"/26\" prefix, is required. The range cannot overlap with any prefixes either in the consumer VPC network or in use by the private clouds attached to that VPC network."
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this network policy. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/networkPolicies/my-network-policy`",
          "readOnly": true,
          "type": "string"
        },
        "vmwareEngineNetworkCanonical": {
          "type": "string",
          "description": "Output only. The canonical name of the VMware Engine network in the form: `projects/{project_number}/locations/{location}/vmwareEngineNetworks/{vmware_engine_network_id}`",
          "readOnly": true
        },
        "description": {
          "description": "Optional. User-provided description for this network policy.",
          "type": "string"
        },
        "uid": {
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Last update time of this resource.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "description": "Represents a network policy resource. Network policies are regional resources. You can use a network policy to enable or disable internet access and external IP access. Network policies are associated with a VMware Engine network, which might span across regions. For a given region, a network policy applies to all private clouds in the VMware Engine network associated with the policy."
    },
    "LocationMetadata": {
      "properties": {
        "capabilities": {
          "description": "Output only. Capabilities of this location.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The default value. This value is used if the capability is omitted or unknown.",
              "Stretch clusters are supported in this location."
            ],
            "enum": [
              "CAPABILITY_UNSPECIFIED",
              "STRETCHED_CLUSTERS"
            ]
          }
        }
      },
      "description": "VmwareEngine specific metadata for the given google.cloud.location.Location. It is returned as a content of the `google.cloud.location.Location.metadata` field.",
      "type": "object",
      "id": "LocationMetadata"
    },
    "UndeletePrivateCloudRequest": {
      "id": "UndeletePrivateCloudRequest",
      "type": "object",
      "description": "Request message for VmwareEngine.UndeletePrivateCloud",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "Location": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        }
      },
      "description": "A resource that represents a Google Cloud location.",
      "type": "object",
      "id": "Location"
    },
    "VpcNetwork": {
      "description": "Represents a VMware Engine VPC network that is managed by a VMware Engine network resource.",
      "properties": {
        "network": {
          "description": "Output only. The relative resource name of the service VPC network this VMware Engine network is attached to. For example: `projects/123123/global/networks/my-network`",
          "readOnly": true,
          "type": "string"
        },
        "type": {
          "description": "Output only. Type of VPC network (INTRANET, INTERNET, or GOOGLE_CLOUD)",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "INTRANET",
            "INTERNET",
            "GOOGLE_CLOUD"
          ],
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "VPC network that will be peered with a consumer VPC network or the intranet VPC of another VMware Engine network. Access a private cloud through Compute Engine VMs on a peered VPC network or an on-premises resource connected to a peered consumer VPC network.",
            "VPC network used for internet access to and from a private cloud.",
            "VPC network used for access to Google Cloud services like Cloud Storage."
          ],
          "type": "string"
        }
      },
      "id": "VpcNetwork",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. True if the user has requested cancellation of the operation; false otherwise. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            },
            "type": "object"
          }
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        }
      }
    },
    "ListNetworkPeeringsResponse": {
      "description": "Response message for VmwareEngine.ListNetworkPeerings",
      "properties": {
        "networkPeerings": {
          "description": "A list of network peerings.",
          "type": "array",
          "items": {
            "$ref": "NetworkPeering"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unreachable resources.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListNetworkPeeringsResponse",
      "type": "object"
    },
    "Datastore": {
      "type": "object",
      "id": "Datastore",
      "properties": {
        "createTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Creation time of this resource.",
          "readOnly": true
        },
        "nfsDatastore": {
          "description": "Required. Settings for the NFS datastore.",
          "$ref": "NfsDatastore"
        },
        "etag": {
          "type": "string",
          "description": "Optional. Checksum that may be sent on update and delete requests to ensure that the user-provided value is up to date before the server processes a request. The server computes checksums based on the value of other fields in the request."
        },
        "name": {
          "description": "Output only. Identifier. The resource name of this datastore. Resource names are schemeless URIs that follow the conventions in https://cloud.google.com/apis/design/resource_names. For example: `projects/my-project/locations/us-central1/datastores/datastore`",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value should never be used.",
            "The NFS volume is being created.",
            "The NFS volume is active.",
            "The NFS volume is being updated.",
            "The NFS volume is being deleted."
          ],
          "description": "Output only. The state of the Datastore.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING"
          ]
        },
        "uid": {
          "type": "string",
          "description": "Output only. System-generated unique identifier for the resource.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Last update time of this resource.",
          "readOnly": true
        },
        "clusters": {
          "description": "Output only. Clusters to which the datastore is attached.",
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string",
          "description": "Optional. User-provided description for this datastore"
        }
      },
      "description": "Represents a datastore resource."
    },
    "ListLocationsResponse": {
      "type": "object",
      "id": "ListLocationsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "description": "The response message for Locations.ListLocations."
    },
    "ListManagementDnsZoneBindingsResponse": {
      "properties": {
        "managementDnsZoneBindings": {
          "type": "array",
          "items": {
            "$ref": "ManagementDnsZoneBinding"
          },
          "description": "A list of management DNS zone bindings."
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
[...]
