{
  "fullyEncodeReservedExpansion": true,
  "revision": "20260501",
  "documentationLink": "https://developers.google.com/pay/passes",
  "version": "v1",
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://walletobjects.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "title": "Google Wallet API",
  "kind": "discovery#restDescription",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "resources": {
    "loyaltyclass": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass",
          "path": "walletobjects/v1/loyaltyClass",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "httpMethod": "POST",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.insert"
        },
        "list": {
          "id": "walletobjects.loyaltyclass.list",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "path": "walletobjects/v1/loyaltyClass",
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            },
            "issuerId": {
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyclass.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "LoyaltyClass"
          }
        },
        "addmessage": {
          "id": "walletobjects.loyaltyclass.addmessage",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          }
        },
        "update": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyclass.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "LoyaltyClass"
          }
        },
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.loyaltyclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Returns the loyalty class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}"
        }
      }
    },
    "media": {
      "methods": {
        "download": {
          "id": "walletobjects.media.download",
          "useMediaDownloadService": true,
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Media"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "supportsMediaDownload": true,
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          }
        },
        "upload": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "mediaUpload": {
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            },
            "accept": [
              "*/*"
            ]
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "id": "walletobjects.media.upload",
          "supportsMediaUpload": true
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "parameters": {},
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "parameterOrder": [],
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "SmartTap"
          },
          "flatPath": "walletobjects/v1/smartTap",
          "path": "walletobjects/v1/smartTap",
          "description": "Inserts the smart tap.",
          "httpMethod": "POST",
          "request": {
            "$ref": "SmartTap"
          },
          "id": "walletobjects.smarttap.insert"
        }
      }
    },
    "flightclass": {
      "methods": {
        "update": {
          "id": "walletobjects.flightclass.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Updates the flight class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.flightclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Returns the flight class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightClass"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}"
        },
        "insert": {
          "flatPath": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass",
          "description": "Inserts an flight class with the given ID and properties.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "FlightClass"
          }
        },
        "list": {
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "path": "walletobjects/v1/flightClass",
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "httpMethod": "GET",
          "id": "walletobjects.flightclass.list"
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.patch"
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.flightclass.addmessage"
        }
      }
    },
    "genericclass": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.genericclass.get",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Returns the generic class with the given class ID."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Updates the Generic class referenced by the given class ID.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.update"
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.genericclass.addmessage"
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "GenericClass"
          },
          "id": "walletobjects.genericclass.insert",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/genericClass",
          "parameterOrder": [],
          "response": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass",
          "description": "Inserts a generic class with the given ID and properties."
        },
        "list": {
          "httpMethod": "GET",
          "id": "walletobjects.genericclass.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "issuerId": {
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "flatPath": "walletobjects/v1/genericClass",
          "path": "walletobjects/v1/genericClass",
          "description": "Returns a list of all generic classes for a given issuer ID."
        },
        "patch": {
          "id": "walletobjects.genericclass.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GenericClass"
          },
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "get": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Returns the loyalty object with the given object ID.",
          "httpMethod": "GET",
          "id": "walletobjects.loyaltyobject.get"
        },
        "update": {
          "httpMethod": "PUT",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.update",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}"
        },
        "addmessage": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.loyaltyobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage"
        },
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject",
          "path": "walletobjects/v1/loyaltyObject",
          "description": "Inserts an loyalty object with the given ID and properties."
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "flatPath": "walletobjects/v1/loyaltyObject",
          "path": "walletobjects/v1/loyaltyObject",
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyobject.list",
          "httpMethod": "GET"
        },
        "modifylinkedofferobjects": {
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "deprecated": true,
          "httpMethod": "POST",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "walletobjects.loyaltyobject.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "LoyaltyObject"
          }
        }
      }
    },
    "transitclass": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "request": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.insert",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "TransitClass"
          },
          "flatPath": "walletobjects/v1/transitClass",
          "path": "walletobjects/v1/transitClass",
          "description": "Inserts a transit class with the given ID and properties."
        },
        "list": {
          "id": "walletobjects.transitclass.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "flatPath": "walletobjects/v1/transitClass",
          "path": "walletobjects/v1/transitClass",
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            },
            "issuerId": {
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64"
            },
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            }
          }
        },
        "patch": {
          "id": "walletobjects.transitclass.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.transitclass.addmessage"
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.transitclass.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "TransitClass"
          }
        },
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.transitclass.get",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Returns the transit class with the given class ID."
        }
      }
    },
    "offerclass": {
      "methods": {
        "insert": {
          "flatPath": "walletobjects/v1/offerClass",
          "parameterOrder": [],
          "response": {
            "$ref": "OfferClass"
          },
          "path": "walletobjects/v1/offerClass",
          "description": "Inserts an offer class with the given ID and properties.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerclass.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "OfferClass"
          }
        },
        "list": {
          "id": "walletobjects.offerclass.list",
          "httpMethod": "GET",
          "path": "walletobjects/v1/offerClass",
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "parameterOrder": [],
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "flatPath": "walletobjects/v1/offerClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            }
          }
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "id": "walletobjects.offerclass.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "OfferClass"
          }
        },
        "addmessage": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.offerclass.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "description": "Adds a message to the offer class referenced by the given class ID."
        },
        "update": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.update"
        },
        "get": {
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Returns the offer class with the given class ID.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerclass.get",
          "httpMethod": "GET"
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.permissions.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Permissions"
          },
          "path": "walletobjects/v1/permissions/{resourceId}",
          "description": "Returns the permissions for the given issuer id."
        },
        "update": {
          "id": "walletobjects.permissions.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Permissions"
          },
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Permissions"
          },
          "path": "walletobjects/v1/permissions/{resourceId}",
          "description": "Updates the permissions for the given issuer.",
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "addmessage": {
          "id": "walletobjects.eventticketclass.addmessage",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          }
        },
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "path": "walletobjects/v1/eventTicketClass",
          "description": "Inserts an event ticket class with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "id": "walletobjects.eventticketclass.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "EventTicketClass"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64",
              "type": "string"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "flatPath": "walletobjects/v1/eventTicketClass",
          "path": "walletobjects/v1/eventTicketClass",
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "httpMethod": "GET",
          "id": "walletobjects.eventticketclass.list"
        },
        "patch": {
          "id": "walletobjects.eventticketclass.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "get": {
          "id": "walletobjects.eventticketclass.get",
          "httpMethod": "GET",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Returns the event ticket class with the given class ID.",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "id": "walletobjects.eventticketclass.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Updates the event ticket class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "addmessage": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.eventticketobject.addmessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          }
        },
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject",
          "path": "walletobjects/v1/eventTicketObject",
          "description": "Inserts an event ticket object with the given ID and properties.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "id": "walletobjects.eventticketobject.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "EventTicketObject"
          }
        },
        "list": {
          "httpMethod": "GET",
          "id": "walletobjects.eventticketobject.list",
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject",
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "path": "walletobjects/v1/eventTicketObject",
          "description": "Returns a list of all event ticket objects for a given issuer ID."
        },
        "modifylinkedofferobjects": {
          "httpMethod": "POST",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "deprecated": true,
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID."
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.patch",
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "get": {
          "httpMethod": "GET",
          "id": "walletobjects.eventticketobject.get",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Returns the event ticket object with the given object ID."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Updates the event ticket object referenced by the given object ID.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "EventTicketObject"
          },
          "id": "walletobjects.eventticketobject.update"
        }
      }
    },
    "genericobject": {
      "methods": {
        "insert": {
          "id": "walletobjects.genericobject.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject",
          "description": "Inserts a generic object with the given ID and properties.",
          "flatPath": "walletobjects/v1/genericObject",
          "parameterOrder": [],
          "response": {
            "$ref": "GenericObject"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "id": "walletobjects.genericobject.list",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "flatPath": "walletobjects/v1/genericObject",
          "parameterOrder": [],
          "response": {
            "$ref": "GenericObjectListResponse"
          }
        },
        "patch": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "required": true
            }
          },
          "id": "walletobjects.genericobject.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GenericObject"
          }
        },
        "addmessage": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.genericobject.addmessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          }
        },
        "update": {
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Updates the generic object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericObject"
          },
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "id": "walletobjects.genericobject.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "GenericObject"
          }
        },
        "get": {
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Returns the generic object with the given object ID.",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.get",
          "httpMethod": "GET"
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "id": "walletobjects.jwt.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "JwtResource"
          },
          "path": "walletobjects/v1/jwt",
          "description": "Inserts the resources in the JWT.",
          "flatPath": "walletobjects/v1/jwt",
          "parameterOrder": [],
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "offerobject": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject",
          "path": "walletobjects/v1/offerObject",
          "description": "Inserts an offer object with the given ID and properties.",
          "httpMethod": "POST",
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.insert"
        },
        "list": {
          "httpMethod": "GET",
          "id": "walletobjects.offerobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "parameterOrder": [],
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "flatPath": "walletobjects/v1/offerObject",
          "path": "walletobjects/v1/offerObject",
          "description": "Returns a list of all offer objects for a given issuer ID."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.patch"
        },
        "addmessage": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.offerobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage"
        },
        "update": {
          "id": "walletobjects.offerobject.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Updates the offer object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          }
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Returns the offer object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferObject"
          },
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "GET",
          "id": "walletobjects.offerobject.get"
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "addmessage": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.giftcardclass.addmessage"
        },
        "insert": {
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "flatPath": "walletobjects/v1/giftCardClass",
          "parameterOrder": [],
          "response": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass",
          "description": "Inserts an gift card class with the given ID and properties.",
          "httpMethod": "POST",
          "request": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.insert"
        },
        "list": {
          "id": "walletobjects.giftcardclass.list",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "GiftCardClassListResponse"
          },
          "flatPath": "walletobjects/v1/giftCardClass",
          "path": "walletobjects/v1/giftCardClass",
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "location": "query",
              "format": "int64",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          }
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics."
        },
        "get": {
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Returns the gift card class with the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardclass.get",
          "httpMethod": "GET"
        },
        "update": {
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "description": "Updates the gift card class referenced by the given class ID.",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "httpMethod": "PUT",
          "request": {
            "$ref": "GiftCardClass"
          },
          "id": "walletobjects.giftcardclass.update"
        }
      }
    },
    "flightobject": {
      "methods": {
        "addmessage": {
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "id": "walletobjects.flightobject.addmessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "description": "Adds a message to the flight object referenced by the given object ID."
        },
        "insert": {
          "id": "walletobjects.flightobject.insert",
          "httpMethod": "POST",
          "request": {
            "$ref": "FlightObject"
          },
          "path": "walletobjects/v1/flightObject",
          "description": "Inserts an flight object with the given ID and properties.",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {}
        },
        "list": {
          "httpMethod": "GET",
          "id": "walletobjects.flightobject.list",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query"
            },
            "classId": {
              "type": "string",
              "description": "The ID of the class whose objects will be listed.",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "location": "query",
              "format": "int32",
              "type": "integer"
            }
          },
          "path": "walletobjects/v1/flightObject",
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "flatPath": "walletobjects/v1/flightObject"
        },
        "patch": {
          "httpMethod": "PATCH",
          "request": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.patch",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics."
        },
        "get": {
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Returns the flight object with the given object ID.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "GET",
          "id": "walletobjects.flightobject.get"
        },
        "update": {
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID.",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightobject.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "FlightObject"
          }
        }
      }
    },
    "issuer": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "parameterOrder": [],
          "response": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer",
          "path": "walletobjects/v1/issuer",
          "description": "Inserts an issuer with the given ID and properties.",
          "httpMethod": "POST",
          "request": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.insert"
        },
        "list": {
          "id": "walletobjects.issuer.list",
          "httpMethod": "GET",
          "flatPath": "walletobjects/v1/issuer",
          "parameterOrder": [],
          "response": {
            "$ref": "IssuerListResponse"
          },
          "path": "walletobjects/v1/issuer",
          "description": "Returns a list of all issuers shared to the caller.",
          "parameters": {},
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "id": "walletobjects.issuer.patch",
          "httpMethod": "PATCH",
          "request": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.update"
        },
        "get": {
          "parameters": {
            "resourceId": {
              "type": "string",
              "location": "path",
              "required": true,
              "description": "The unique identifier for an issuer.",
              "format": "int64"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Returns the issuer with the given issuer ID.",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "httpMethod": "GET",
          "id": "walletobjects.issuer.get"
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "get": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Returns the gift card object with the given object ID.",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.giftcardobject.get",
          "httpMethod": "GET"
        },
        "update": {
          "id": "walletobjects.giftcardobject.update",
          "httpMethod": "PUT",
          "request": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Updates the gift card object referenced by the given object ID.",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "required": true
            }
          }
        },
        "addmessage": {
          "parameters": {
            "resourceId": {
              "type": "string",
[...]
