{
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "protocol": "rest",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/pay/passes",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "baseUrl": "https://walletobjects.googleapis.com/",
  "ownerName": "Google",
  "servicePath": "",
  "basePath": "",
  "id": "walletobjects:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "batchPath": "batch",
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "version": "v1",
  "resources": {
    "loyaltyobject": {
      "methods": {
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyobject.addmessage",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST"
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyobject.insert",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "parameters": {},
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject",
          "description": "Inserts an loyalty object with the given ID and properties.",
          "parameterOrder": [],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "POST"
        },
        "list": {
          "parameters": {
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "id": "walletobjects.loyaltyobject.list",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "walletobjects/v1/loyaltyObject",
          "description": "Returns a list of all loyalty objects for a given issuer ID."
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID.",
          "id": "walletobjects.loyaltyobject.update",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyobject.get",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Returns the loyalty object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET"
        },
        "modifylinkedofferobjects": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID.",
          "deprecated": true,
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "httpMethod": "POST"
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyObject"
          },
          "id": "walletobjects.loyaltyobject.patch",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics."
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "list": {
          "path": "walletobjects/v1/eventTicketObject",
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "id": "walletobjects.eventticketobject.list",
          "flatPath": "walletobjects/v1/eventTicketObject"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.update",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          },
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Updates the event ticket object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "PUT"
        },
        "modifylinkedofferobjects": {
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "httpMethod": "POST",
          "deprecated": true,
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "patch": {
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.patch",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "get": {
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "description": "Returns the event ticket object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketobject.get",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "insert": {
          "id": "walletobjects.eventticketobject.insert",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "parameters": {},
          "response": {
            "$ref": "EventTicketObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "request": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/eventTicketObject",
          "description": "Inserts an event ticket object with the given ID and properties."
        },
        "addmessage": {
          "id": "walletobjects.eventticketobject.addmessage",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket object referenced by the given object ID."
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "parameters": {},
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "id": "walletobjects.jwt.insert",
          "flatPath": "walletobjects/v1/jwt",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "JwtResource"
          },
          "path": "walletobjects/v1/jwt",
          "description": "Inserts the resources in the JWT."
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/giftCardObject",
          "description": "Inserts an gift card object with the given ID and properties.",
          "id": "walletobjects.giftcardobject.insert",
          "flatPath": "walletobjects/v1/giftCardObject",
          "parameters": {},
          "response": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "description": "Adds a message to the gift card object referenced by the given object ID.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "id": "walletobjects.giftcardobject.addmessage",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage"
        },
        "list": {
          "id": "walletobjects.giftcardobject.list",
          "flatPath": "walletobjects/v1/giftCardObject",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "walletobjects/v1/giftCardObject",
          "description": "Returns a list of all gift card objects for a given issuer ID."
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Updates the gift card object referenced by the given object ID.",
          "id": "walletobjects.giftcardobject.update",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "id": "walletobjects.giftcardobject.patch",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics."
        },
        "get": {
          "id": "walletobjects.giftcardobject.get",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GiftCardObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "description": "Returns the gift card object with the given object ID."
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyClass",
          "description": "Inserts an loyalty class with the given ID and properties.",
          "id": "walletobjects.loyaltyclass.insert",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "parameters": {},
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "id": "walletobjects.loyaltyclass.addmessage",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "id": "walletobjects.loyaltyclass.list",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "LoyaltyClassListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "httpMethod": "GET",
          "path": "walletobjects/v1/loyaltyClass",
          "description": "Returns a list of all loyalty classes for a given issuer ID."
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "id": "walletobjects.loyaltyclass.update",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyClass"
          }
        },
        "patch": {
          "id": "walletobjects.loyaltyclass.patch",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "LoyaltyClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics."
        },
        "get": {
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "description": "Returns the loyalty class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.loyaltyclass.get",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "LoyaltyClass"
          }
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "httpMethod": "POST",
                  "parameterOrder": [],
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "parameters": {},
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice"
                }
              }
            }
          }
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            }
          },
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "id": "walletobjects.media.upload",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "supportsMediaUpload": true,
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "download": {
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID.",
          "supportsMediaDownload": true,
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.media.download",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "useMediaDownloadService": true,
          "response": {
            "$ref": "Media"
          }
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "get": {
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Returns the event ticket class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketclass.get",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "patch": {
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "EventTicketClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.patch",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}"
        },
        "list": {
          "path": "walletobjects/v1/eventTicketClass",
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64",
              "location": "query",
              "type": "string"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "id": "walletobjects.eventticketclass.list",
          "flatPath": "walletobjects/v1/eventTicketClass"
        },
        "update": {
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "description": "Updates the event ticket class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "EventTicketClass"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.eventticketclass.update",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "addmessage": {
          "id": "walletobjects.eventticketclass.addmessage",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "description": "Adds a message to the event ticket class referenced by the given class ID."
        },
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "EventTicketClass"
          },
          "path": "walletobjects/v1/eventTicketClass",
          "description": "Inserts an event ticket class with the given ID and properties.",
          "parameters": {},
          "response": {
            "$ref": "EventTicketClass"
          },
          "id": "walletobjects.eventticketclass.insert",
          "flatPath": "walletobjects/v1/eventTicketClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "flightclass": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "response": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.insert",
          "flatPath": "walletobjects/v1/flightClass",
          "path": "walletobjects/v1/flightClass",
          "description": "Inserts an flight class with the given ID and properties.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "FlightClass"
          }
        },
        "addmessage": {
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.addmessage",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          }
        },
        "list": {
          "path": "walletobjects/v1/flightClass",
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "id": "walletobjects.flightclass.list",
          "flatPath": "walletobjects/v1/flightClass"
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Updates the flight class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "FlightClass"
          },
          "id": "walletobjects.flightclass.update",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "FlightClass"
          },
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.flightclass.patch",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FlightClass"
          }
        },
        "get": {
          "id": "walletobjects.flightclass.get",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "FlightClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "description": "Returns the flight class with the given class ID."
        }
      }
    },
    "offerclass": {
      "methods": {
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.patch",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferClass"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Returns the offer class with the given class ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.get",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "path": "walletobjects/v1/offerClass",
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "parameterOrder": [],
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerclass.list",
          "flatPath": "walletobjects/v1/offerClass",
          "parameters": {
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "OfferClassListResponse"
          }
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "OfferClass"
          },
          "id": "walletobjects.offerclass.update",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "description": "Updates the offer class referenced by the given class ID.",
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferClass"
          }
        },
        "insert": {
          "path": "walletobjects/v1/offerClass",
          "description": "Inserts an offer class with the given ID and properties.",
          "parameterOrder": [],
          "request": {
            "$ref": "OfferClass"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerclass.insert",
          "flatPath": "walletobjects/v1/offerClass",
          "parameters": {},
          "response": {
            "$ref": "OfferClass"
          }
        },
        "addmessage": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "id": "walletobjects.offerclass.addmessage",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "smarttap": {
      "methods": {
        "insert": {
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "SmartTap"
          },
          "path": "walletobjects/v1/smartTap",
          "description": "Inserts the smart tap.",
          "parameters": {},
          "response": {
            "$ref": "SmartTap"
          },
          "id": "walletobjects.smarttap.insert",
          "flatPath": "walletobjects/v1/smartTap",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "permissions": {
      "methods": {
        "update": {
          "id": "walletobjects.permissions.update",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Permissions"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "Permissions"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "description": "Updates the permissions for the given issuer."
        },
        "get": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "format": "int64",
              "required": true,
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "Permissions"
          },
          "id": "walletobjects.permissions.get",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "path": "walletobjects/v1/permissions/{resourceId}",
          "description": "Returns the permissions for the given issuer id.",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "flightobject": {
      "methods": {
        "list": {
          "path": "walletobjects/v1/flightObject",
          "description": "Returns a list of all flight objects for a given issuer ID.",
          "httpMethod": "GET",
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "id": "walletobjects.flightobject.list",
          "flatPath": "walletobjects/v1/flightObject"
        },
        "update": {
          "id": "walletobjects.flightobject.update",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FlightObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID."
        },
        "patch": {
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "FlightObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.patch",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}"
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "description": "Returns the flight object with the given object ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.get",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "response": {
            "$ref": "FlightObject"
          },
          "id": "walletobjects.flightobject.insert",
          "flatPath": "walletobjects/v1/flightObject",
          "path": "walletobjects/v1/flightObject",
          "description": "Inserts an flight object with the given ID and properties.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "FlightObject"
          }
        },
        "addmessage": {
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "description": "Adds a message to the flight object referenced by the given object ID.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "id": "walletobjects.flightobject.addmessage",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage"
        }
      }
    },
    "transitobject": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/transitObject",
          "description": "Inserts an transit object with the given ID and properties.",
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {},
          "response": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.insert",
          "flatPath": "walletobjects/v1/transitObject"
        },
        "addmessage": {
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "description": "Adds a message to the transit object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "id": "walletobjects.transitobject.addmessage",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.patch",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObject"
          }
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Returns the transit object with the given object ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "id": "walletobjects.transitobject.get",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "walletobjects/v1/transitObject",
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "parameters": {
            "classId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the class whose objects will be listed."
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "id": "walletobjects.transitobject.list",
          "flatPath": "walletobjects/v1/transitObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "id": "walletobjects.transitobject.update",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "TransitObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitObject"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "description": "Updates the transit object referenced by the given object ID."
        }
      }
    },
    "offerobject": {
      "methods": {
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "id": "walletobjects.offerobject.addmessage",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "insert": {
          "path": "walletobjects/v1/offerObject",
          "description": "Inserts an offer object with the given ID and properties.",
          "parameterOrder": [],
          "request": {
            "$ref": "OfferObject"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerobject.insert",
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {},
          "response": {
            "$ref": "OfferObject"
          }
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.offerobject.list",
          "flatPath": "walletobjects/v1/offerObject",
          "parameters": {
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            }
          },
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "path": "walletobjects/v1/offerObject",
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "update": {
          "httpMethod": "PUT",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferObject"
          },
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Updates the offer object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.update",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Returns the offer object with the given object ID.",
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.get",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "OfferObject"
          },
          "id": "walletobjects.offerobject.patch",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferObject"
          }
        }
      }
    },
    "genericobject": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.insert",
          "flatPath": "walletobjects/v1/genericObject",
          "parameters": {},
          "response": {
            "$ref": "GenericObject"
          },
          "path": "walletobjects/v1/genericObject",
          "description": "Inserts a generic object with the given ID and properties.",
          "parameterOrder": [],
          "request": {
            "$ref": "GenericObject"
          },
          "httpMethod": "POST"
        },
        "addmessage": {
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.genericobject.addmessage",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          }
        },
        "patch": {
          "id": "walletobjects.genericobject.patch",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "GenericObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics."
        },
        "get": {
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`."
            }
          },
          "response": {
            "$ref": "GenericObject"
          },
          "id": "walletobjects.genericobject.get",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Returns the generic object with the given object ID."
        },
        "list": {
          "httpMethod": "GET",
          "parameterOrder": [],
          "path": "walletobjects/v1/genericObject",
          "description": "Returns a list of all generic objects for a given issuer ID.",
          "parameters": {
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "location": "query",
              "type": "string"
            }
          },
          "response": {
            "$ref": "GenericObjectListResponse"
          },
          "id": "walletobjects.genericobject.list",
          "flatPath": "walletobjects/v1/genericObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "GenericObject"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "description": "Updates the generic object referenced by the given object ID.",
          "id": "walletobjects.genericobject.update",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true
            }
          },
          "response": {
            "$ref": "GenericObject"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        }
      }
    },
    "issuer": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.issuer.list",
          "flatPath": "walletobjects/v1/issuer",
          "parameters": {},
          "response": {
            "$ref": "IssuerListResponse"
          },
          "path": "walletobjects/v1/issuer",
          "description": "Returns a list of all issuers shared to the caller.",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "update": {
          "id": "walletobjects.issuer.update",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an issuer.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Issuer"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "Issuer"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID."
        },
        "patch": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "type": "string",
              "required": true,
              "description": "The unique identifier for an issuer.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.patch",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "Issuer"
          }
        },
        "get": {
          "path": "walletobjects/v1/issuer/{resourceId}",
          "description": "Returns the issuer with the given issuer ID.",
          "httpMethod": "GET",
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for an issuer.",
              "format": "int64"
            }
          },
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.get",
          "flatPath": "walletobjects/v1/issuer/{resourceId}"
        },
        "insert": {
          "path": "walletobjects/v1/issuer",
          "description": "Inserts an issuer with the given ID and properties.",
          "parameterOrder": [],
          "request": {
            "$ref": "Issuer"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.issuer.insert",
          "flatPath": "walletobjects/v1/issuer",
          "parameters": {},
          "response": {
            "$ref": "Issuer"
          }
        }
      }
    },
    "transitclass": {
      "methods": {
        "addmessage": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "TransitClassAddMessageResponse"
          },
          "id": "walletobjects.transitclass.addmessage",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "path": "walletobjects/v1/transitClass/{resourceId}/addMessage",
          "description": "Adds a message to the transit class referenced by the given class ID.",
          "httpMethod": "POST",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          }
        },
        "insert": {
          "parameters": {},
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.insert",
          "flatPath": "walletobjects/v1/transitClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "parameterOrder": [],
          "request": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass",
          "description": "Inserts a transit class with the given ID and properties."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitclass.list",
          "flatPath": "walletobjects/v1/transitClass",
          "parameters": {
            "issuerId": {
              "location": "query",
              "type": "string",
              "description": "The ID of the issuer authorized to list classes.",
              "format": "int64"
            },
            "token": {
              "location": "query",
              "type": "string",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes."
            },
            "maxResults": {
              "location": "query",
              "type": "integer",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "TransitClassListResponse"
          },
          "path": "walletobjects/v1/transitClass",
          "description": "Returns a list of all transit classes for a given issuer ID.",
          "parameterOrder": [],
          "httpMethod": "GET"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "id": "walletobjects.transitclass.update",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string",
              "required": true
            }
          },
          "response": {
            "$ref": "TransitClass"
          },
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitClass"
          },
          "httpMethod": "PUT"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Returns the transit class with the given class ID.",
          "id": "walletobjects.transitclass.get",
          "flatPath": "walletobjects/v1/transitClass/{resourceId}",
          "parameters": {
            "resourceId": {
              "required": true,
              "location": "path",
              "type": "string",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'."
            }
          },
          "response": {
            "$ref": "TransitClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "path": "walletobjects/v1/transitClass/{resourceId}",
          "description": "Updates the transit class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "TransitClass"
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "required": true,
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "location": "path",
              "type": "string"
            }
          },
          "response": {
            "$ref": "TransitClass"
          },
          "id": "walletobjects.transitclass.patch",
[...]
