{
  "ownerDomain": "google.com",
  "id": "walletobjects:v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/wallet_object.issuer": {
          "description": "Private Service: https://www.googleapis.com/auth/wallet_object.issuer"
        }
      }
    }
  },
  "description": "API for issuers to save and manage Google Wallet Objects.",
  "batchPath": "batch",
  "revision": "20260407",
  "fullyEncodeReservedExpansion": true,
  "mtlsRootUrl": "https://walletobjects.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.google.com/pay/passes",
  "name": "walletobjects",
  "title": "Google Wallet API",
  "ownerName": "Google",
  "basePath": "",
  "canonicalName": "Walletobjects",
  "protocol": "rest",
  "resources": {
    "flightclass": {
      "methods": {
        "addmessage": {
          "response": {
            "$ref": "FlightClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}/addMessage",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the flight class referenced by the given class ID.",
          "id": "walletobjects.flightclass.addmessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          }
        },
        "get": {
          "description": "Returns the flight class with the given class ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.flightclass.get",
          "response": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "id": "walletobjects.flightclass.patch",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "FlightClass"
          },
          "description": "Updates the flight class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightClass"
          }
        },
        "insert": {
          "parameters": {},
          "id": "walletobjects.flightclass.insert",
          "request": {
            "$ref": "FlightClass"
          },
          "description": "Inserts an flight class with the given ID and properties.",
          "parameterOrder": [],
          "response": {
            "$ref": "FlightClass"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightClass",
          "flatPath": "walletobjects/v1/flightClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "description": "Returns a list of all flight classes for a given issuer ID.",
          "id": "walletobjects.flightclass.list",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            },
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            }
          },
          "response": {
            "$ref": "FlightClassListResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass",
          "flatPath": "walletobjects/v1/flightClass",
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "FlightClass"
          },
          "description": "Updates the flight class referenced by the given class ID.",
          "id": "walletobjects.flightclass.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightClass/{resourceId}",
          "flatPath": "walletobjects/v1/flightClass/{resourceId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "FlightClass"
          },
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "offerclass": {
      "methods": {
        "insert": {
          "path": "walletobjects/v1/offerClass",
          "flatPath": "walletobjects/v1/offerClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "OfferClass"
          },
          "parameterOrder": [],
          "request": {
            "$ref": "OfferClass"
          },
          "description": "Inserts an offer class with the given ID and properties.",
          "parameters": {},
          "id": "walletobjects.offerclass.insert"
        },
        "list": {
          "description": "Returns a list of all offer classes for a given issuer ID.",
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            }
          },
          "id": "walletobjects.offerclass.list",
          "path": "walletobjects/v1/offerClass",
          "flatPath": "walletobjects/v1/offerClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "OfferClassListResponse"
          },
          "parameterOrder": []
        },
        "update": {
          "id": "walletobjects.offerclass.update",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "OfferClass"
          },
          "description": "Updates the offer class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}"
        },
        "addmessage": {
          "path": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "OfferClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the offer class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.offerclass.addmessage"
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferClass"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "id": "walletobjects.offerclass.get",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Returns the offer class with the given class ID."
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.offerclass.patch",
          "request": {
            "$ref": "OfferClass"
          },
          "description": "Updates the offer class referenced by the given class ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/offerClass/{resourceId}",
          "flatPath": "walletobjects/v1/offerClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferClass"
          }
        }
      }
    },
    "eventticketclass": {
      "methods": {
        "addmessage": {
          "id": "walletobjects.eventticketclass.addmessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the event ticket class referenced by the given class ID.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketClassAddMessageResponse"
          }
        },
        "get": {
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the event ticket class with the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.eventticketclass.get"
        },
        "patch": {
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "EventTicketClass"
          },
          "description": "Updates the event ticket class referenced by the given class ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.eventticketclass.patch"
        },
        "insert": {
          "parameters": {},
          "id": "walletobjects.eventticketclass.insert",
          "request": {
            "$ref": "EventTicketClass"
          },
          "description": "Inserts an event ticket class with the given ID and properties.",
          "httpMethod": "POST",
          "path": "walletobjects/v1/eventTicketClass",
          "flatPath": "walletobjects/v1/eventTicketClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketClass"
          }
        },
        "list": {
          "parameters": {
            "issuerId": {
              "location": "query",
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "id": "walletobjects.eventticketclass.list",
          "description": "Returns a list of all event ticket classes for a given issuer ID.",
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketClassListResponse"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/eventTicketClass",
          "flatPath": "walletobjects/v1/eventTicketClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "request": {
            "$ref": "EventTicketClass"
          },
          "description": "Updates the event ticket class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.eventticketclass.update",
          "response": {
            "$ref": "EventTicketClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/eventTicketClass/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT"
        }
      }
    },
    "loyaltyclass": {
      "methods": {
        "addmessage": {
          "id": "walletobjects.loyaltyclass.addmessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the loyalty class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClassAddMessageResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}/addMessage"
        },
        "get": {
          "id": "walletobjects.loyaltyclass.get",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "description": "Returns the loyalty class with the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}"
        },
        "patch": {
          "request": {
            "$ref": "LoyaltyClass"
          },
          "description": "Updates the loyalty class referenced by the given class ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.loyaltyclass.patch",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "request": {
            "$ref": "LoyaltyClass"
          },
          "description": "Inserts an loyalty class with the given ID and properties.",
          "id": "walletobjects.loyaltyclass.insert",
          "parameters": {},
          "response": {
            "$ref": "LoyaltyClass"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "httpMethod": "POST"
        },
        "list": {
          "id": "walletobjects.loyaltyclass.list",
          "parameters": {
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Returns a list of all loyalty classes for a given issuer ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyClass",
          "flatPath": "walletobjects/v1/loyaltyClass",
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyClassListResponse"
          }
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyClass"
          },
          "httpMethod": "PUT",
          "path": "walletobjects/v1/loyaltyClass/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyclass.update",
          "request": {
            "$ref": "LoyaltyClass"
          },
          "description": "Updates the loyalty class referenced by the given class ID."
        }
      }
    },
    "transitobject": {
      "methods": {
        "insert": {
          "id": "walletobjects.transitobject.insert",
          "parameters": {},
          "request": {
            "$ref": "TransitObject"
          },
          "description": "Inserts an transit object with the given ID and properties.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject",
          "flatPath": "walletobjects/v1/transitObject",
          "parameterOrder": [],
          "response": {
            "$ref": "TransitObject"
          }
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            }
          },
          "id": "walletobjects.transitobject.list",
          "description": "Returns a list of all transit objects for a given issuer ID.",
          "parameterOrder": [],
          "response": {
            "$ref": "TransitObjectListResponse"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitObject",
          "flatPath": "walletobjects/v1/transitObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.transitobject.update",
          "request": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID.",
          "httpMethod": "PUT",
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitObject"
          }
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.transitobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the transit object referenced by the given object ID."
        },
        "get": {
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "TransitObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the transit object with the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.transitobject.get"
        },
        "patch": {
          "id": "walletobjects.transitobject.patch",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "TransitObject"
          },
          "description": "Updates the transit object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/transitObject/{resourceId}",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "TransitObject"
          }
        }
      }
    },
    "walletobjects": {
      "resources": {
        "v1": {
          "resources": {
            "privateContent": {
              "methods": {
                "setPassUpdateNotice": {
                  "scopes": [
                    "https://www.googleapis.com/auth/wallet_object.issuer"
                  ],
                  "path": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "flatPath": "walletobjects/v1/privateContent/setPassUpdateNotice",
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "SetPassUpdateNoticeResponse"
                  },
                  "parameterOrder": [],
                  "request": {
                    "$ref": "SetPassUpdateNoticeRequest"
                  },
                  "description": "Provide Google with information about awaiting private pass update. This will allow Google to provide the update notification to the device that currently holds this pass.",
                  "id": "walletobjects.walletobjects.v1.privateContent.setPassUpdateNotice",
                  "parameters": {}
                }
              }
            }
          }
        }
      }
    },
    "flightobject": {
      "methods": {
        "insert": {
          "request": {
            "$ref": "FlightObject"
          },
          "description": "Inserts an flight object with the given ID and properties.",
          "id": "walletobjects.flightobject.insert",
          "parameters": {},
          "response": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject",
          "flatPath": "walletobjects/v1/flightObject",
          "httpMethod": "POST"
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "FlightObjectListResponse"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/flightObject",
          "flatPath": "walletobjects/v1/flightObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            }
          },
          "id": "walletobjects.flightobject.list",
          "description": "Returns a list of all flight objects for a given issuer ID."
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObject"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "id": "walletobjects.flightobject.update",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "FlightObject"
          },
          "description": "Updates the flight object referenced by the given object ID."
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "FlightObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.flightobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the flight object referenced by the given object ID."
        },
        "get": {
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the flight object with the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.flightobject.get"
        },
        "patch": {
          "response": {
            "$ref": "FlightObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/flightObject/{resourceId}",
          "flatPath": "walletobjects/v1/flightObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "request": {
            "$ref": "FlightObject"
          },
          "description": "Updates the flight object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.flightobject.patch"
        }
      }
    },
    "giftcardclass": {
      "methods": {
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the gift card class referenced by the given class ID.",
          "id": "walletobjects.giftcardclass.addmessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "response": {
            "$ref": "GiftCardClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}/addMessage",
          "httpMethod": "POST"
        },
        "get": {
          "description": "Returns the gift card class with the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.giftcardclass.get",
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "patch": {
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Updates the gift card class referenced by the given class ID. This method supports patch semantics.",
          "id": "walletobjects.giftcardclass.patch",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "response": {
            "$ref": "GiftCardClass"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass",
          "flatPath": "walletobjects/v1/giftCardClass",
          "httpMethod": "POST",
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Inserts an gift card class with the given ID and properties.",
          "id": "walletobjects.giftcardclass.insert",
          "parameters": {}
        },
        "list": {
          "id": "walletobjects.giftcardclass.list",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64",
              "location": "query"
            },
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            }
          },
          "description": "Returns a list of all gift card classes for a given issuer ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass",
          "flatPath": "walletobjects/v1/giftCardClass",
          "parameterOrder": [],
          "response": {
            "$ref": "GiftCardClassListResponse"
          }
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardClass"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardClass/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardClass/{resourceId}",
          "id": "walletobjects.giftcardclass.update",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GiftCardClass"
          },
          "description": "Updates the gift card class referenced by the given class ID."
        }
      }
    },
    "loyaltyobject": {
      "methods": {
        "modifylinkedofferobjects": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/modifyLinkedOfferObjects",
          "deprecated": true,
          "id": "walletobjects.loyaltyobject.modifylinkedofferobjects",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the loyalty object with the given ID."
        },
        "insert": {
          "httpMethod": "POST",
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameters": {},
          "id": "walletobjects.loyaltyobject.insert",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "description": "Inserts an loyalty object with the given ID and properties."
        },
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject",
          "flatPath": "walletobjects/v1/loyaltyObject",
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyObjectListResponse"
          },
          "parameterOrder": [],
          "description": "Returns a list of all loyalty objects for a given issuer ID.",
          "id": "walletobjects.loyaltyobject.list",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "classId": {
              "description": "The ID of the class whose objects will be listed.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "update": {
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PUT",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "LoyaltyObject"
          },
          "description": "Updates the loyalty object referenced by the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyobject.update"
        },
        "addmessage": {
          "id": "walletobjects.loyaltyobject.addmessage",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the loyalty object referenced by the given object ID.",
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}/addMessage",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObjectAddMessageResponse"
          }
        },
        "get": {
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "LoyaltyObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "description": "Returns the loyalty object with the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyobject.get"
        },
        "patch": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.loyaltyobject.patch",
          "request": {
            "$ref": "LoyaltyObject"
          },
          "description": "Updates the loyalty object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "path": "walletobjects/v1/loyaltyObject/{resourceId}",
          "flatPath": "walletobjects/v1/loyaltyObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "LoyaltyObject"
          }
        }
      }
    },
    "offerobject": {
      "methods": {
        "addmessage": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.offerobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the offer object referenced by the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "get": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.offerobject.get",
          "description": "Returns the offer object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "OfferObject"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "request": {
            "$ref": "OfferObject"
          },
          "description": "Updates the offer object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.offerobject.patch"
        },
        "insert": {
          "parameters": {},
          "id": "walletobjects.offerobject.insert",
          "request": {
            "$ref": "OfferObject"
          },
          "description": "Inserts an offer object with the given ID and properties.",
          "parameterOrder": [],
          "response": {
            "$ref": "OfferObject"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/offerObject",
          "flatPath": "walletobjects/v1/offerObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "list": {
          "description": "Returns a list of all offer objects for a given issuer ID.",
          "id": "walletobjects.offerobject.list",
          "parameters": {
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string",
              "location": "query"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            }
          },
          "response": {
            "$ref": "OfferObjectListResponse"
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject",
          "flatPath": "walletobjects/v1/offerObject",
          "httpMethod": "GET"
        },
        "update": {
          "request": {
            "$ref": "OfferObject"
          },
          "description": "Updates the offer object referenced by the given object ID.",
          "id": "walletobjects.offerobject.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "response": {
            "$ref": "OfferObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/offerObject/{resourceId}",
          "flatPath": "walletobjects/v1/offerObject/{resourceId}",
          "httpMethod": "PUT"
        }
      }
    },
    "giftcardobject": {
      "methods": {
        "insert": {
          "parameters": {},
          "id": "walletobjects.giftcardobject.insert",
          "request": {
            "$ref": "GiftCardObject"
          },
          "description": "Inserts an gift card object with the given ID and properties.",
          "httpMethod": "POST",
          "path": "walletobjects/v1/giftCardObject",
          "flatPath": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "list": {
          "path": "walletobjects/v1/giftCardObject",
          "flatPath": "walletobjects/v1/giftCardObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "response": {
            "$ref": "GiftCardObjectListResponse"
          },
          "parameterOrder": [],
          "description": "Returns a list of all gift card objects for a given issuer ID.",
          "parameters": {
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            }
          },
          "id": "walletobjects.giftcardobject.list"
        },
        "update": {
          "id": "walletobjects.giftcardobject.update",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GiftCardObject"
          },
          "description": "Updates the gift card object referenced by the given object ID.",
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObject"
          }
        },
        "addmessage": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObjectAddMessageResponse"
          },
          "httpMethod": "POST",
          "path": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.giftcardobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the gift card object referenced by the given object ID."
        },
        "get": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GiftCardObject"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "id": "walletobjects.giftcardobject.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "description": "Returns the gift card object with the given object ID."
        },
        "patch": {
          "request": {
            "$ref": "GiftCardObject"
          },
          "description": "Updates the gift card object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.giftcardobject.patch",
          "path": "walletobjects/v1/giftCardObject/{resourceId}",
          "flatPath": "walletobjects/v1/giftCardObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH",
          "response": {
            "$ref": "GiftCardObject"
          },
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "media": {
      "methods": {
        "upload": {
          "request": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesRequest"
          },
          "description": "Uploads rotating barcode values for the transit object referenced by the given object ID. Note the max upload size is specified in google3/production/config/cdd/apps-upload/customers/payments-consumer-passes/config.gcl and enforced by Scotty.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.media.upload",
          "supportsMediaUpload": true,
          "path": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues",
          "mediaUpload": {
            "accept": [
              "*/*"
            ],
            "protocols": {
              "simple": {
                "multipart": true,
                "path": "/upload/walletobjects/v1/transitObject/{resourceId}/uploadRotatingBarcodeValues"
              }
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST",
          "response": {
            "$ref": "TransitObjectUploadRotatingBarcodeValuesResponse"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "download": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Media"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "flatPath": "walletobjects/v1/transitObject/{resourceId}/downloadRotatingBarcodeValues",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "supportsMediaDownload": true,
          "useMediaDownloadService": true,
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.media.download",
          "description": "Downloads rotating barcode values for the transit object referenced by the given object ID."
        }
      }
    },
    "permissions": {
      "methods": {
        "get": {
          "response": {
            "$ref": "Permissions"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "httpMethod": "GET",
          "description": "Returns the permissions for the given issuer id.",
          "id": "walletobjects.permissions.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          }
        },
        "update": {
          "request": {
            "$ref": "Permissions"
          },
          "description": "Updates the permissions for the given issuer.",
          "id": "walletobjects.permissions.update",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an issuer. This ID must be unique across all issuers.",
              "format": "int64",
              "location": "path",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/permissions/{resourceId}",
          "flatPath": "walletobjects/v1/permissions/{resourceId}",
          "httpMethod": "PUT",
          "response": {
            "$ref": "Permissions"
          },
          "parameterOrder": [
            "resourceId"
          ]
        }
      }
    },
    "eventticketobject": {
      "methods": {
        "modifylinkedofferobjects": {
          "httpMethod": "POST",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/modifyLinkedOfferObjects",
          "deprecated": true,
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.eventticketobject.modifylinkedofferobjects",
          "request": {
            "$ref": "ModifyLinkedOfferObjectsRequest"
          },
          "description": "Deprecated: Use Auto Linked Passes instead. Modifies linked offer objects for the event ticket object with the given ID."
        },
        "insert": {
          "parameters": {},
          "id": "walletobjects.eventticketobject.insert",
          "request": {
            "$ref": "EventTicketObject"
          },
          "description": "Inserts an event ticket object with the given ID and properties.",
          "httpMethod": "POST",
          "path": "walletobjects/v1/eventTicketObject",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "EventTicketObject"
          }
        },
        "list": {
          "description": "Returns a list of all event ticket objects for a given issuer ID.",
          "parameters": {
            "maxResults": {
              "location": "query",
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32"
            },
            "classId": {
              "location": "query",
              "description": "The ID of the class whose objects will be listed.",
              "type": "string"
            },
            "token": {
              "location": "query",
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` objects are available in a list. For example, if you have a list of 200 objects and you call list with `maxResults` set to 20, list will return the first 20 objects and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 objects.",
              "type": "string"
            }
          },
          "id": "walletobjects.eventticketobject.list",
          "response": {
            "$ref": "EventTicketObjectListResponse"
          },
          "parameterOrder": [],
          "path": "walletobjects/v1/eventTicketObject",
          "flatPath": "walletobjects/v1/eventTicketObject",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET"
        },
        "update": {
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "id": "walletobjects.eventticketobject.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID."
        },
        "addmessage": {
          "response": {
            "$ref": "EventTicketObjectAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}/addMessage",
          "httpMethod": "POST",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the event ticket object referenced by the given object ID.",
          "id": "walletobjects.eventticketobject.addmessage",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          }
        },
        "get": {
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.eventticketobject.get",
          "description": "Returns the event ticket object with the given object ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "patch": {
          "id": "walletobjects.eventticketobject.patch",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "EventTicketObject"
          },
          "description": "Updates the event ticket object referenced by the given object ID. This method supports patch semantics.",
          "httpMethod": "PATCH",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/eventTicketObject/{resourceId}",
          "flatPath": "walletobjects/v1/eventTicketObject/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "EventTicketObject"
          }
        }
      }
    },
    "genericclass": {
      "methods": {
        "addmessage": {
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the generic class referenced by the given class ID.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.genericclass.addmessage",
          "response": {
            "$ref": "GenericClassAddMessageResponse"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "POST"
        },
        "get": {
          "description": "Returns the generic class with the given class ID.",
          "id": "walletobjects.genericclass.get",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "httpMethod": "GET",
          "response": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "patch": {
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Updates the generic class referenced by the given class ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.genericclass.patch",
          "response": {
            "$ref": "GenericClass"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "PATCH"
        },
        "insert": {
          "id": "walletobjects.genericclass.insert",
          "parameters": {},
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Inserts a generic class with the given ID and properties.",
          "parameterOrder": [],
          "response": {
            "$ref": "GenericClass"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass",
          "flatPath": "walletobjects/v1/genericClass"
        },
        "list": {
          "parameters": {
            "maxResults": {
              "description": "Identifies the max number of results returned by a list. All results are returned if `maxResults` isn't defined.",
              "type": "integer",
              "format": "int32",
              "location": "query"
            },
            "token": {
              "description": "Used to get the next set of results if `maxResults` is specified, but more than `maxResults` classes are available in a list. For example, if you have a list of 200 classes and you call list with `maxResults` set to 20, list will return the first 20 classes and a token. Call list again with `maxResults` set to 20 and the token to get the next 20 classes.",
              "type": "string",
              "location": "query"
            },
            "issuerId": {
              "description": "The ID of the issuer authorized to list classes.",
              "type": "string",
              "format": "int64",
              "location": "query"
            }
          },
          "id": "walletobjects.genericclass.list",
          "description": "Returns a list of all generic classes for a given issuer ID.",
          "parameterOrder": [],
          "response": {
            "$ref": "GenericClassListResponse"
          },
          "httpMethod": "GET",
          "path": "walletobjects/v1/genericClass",
          "flatPath": "walletobjects/v1/genericClass",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ]
        },
        "update": {
          "id": "walletobjects.genericclass.update",
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for a class. This ID must be unique across all classes from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "request": {
            "$ref": "GenericClass"
          },
          "description": "Updates the Generic class referenced by the given class ID.",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericClass"
          },
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/genericClass/{resourceId}",
          "flatPath": "walletobjects/v1/genericClass/{resourceId}"
        }
      }
    },
    "jwt": {
      "methods": {
        "insert": {
          "parameterOrder": [],
          "response": {
            "$ref": "JwtInsertResponse"
          },
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/jwt",
          "flatPath": "walletobjects/v1/jwt",
          "id": "walletobjects.jwt.insert",
          "parameters": {},
          "request": {
            "$ref": "JwtResource"
          },
          "description": "Inserts the resources in the JWT."
        }
      }
    },
    "issuer": {
      "methods": {
        "get": {
          "id": "walletobjects.issuer.get",
          "parameters": {
            "resourceId": {
              "required": true,
              "type": "string",
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "format": "int64"
            }
          },
          "description": "Returns the issuer with the given issuer ID.",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Issuer"
          }
        },
        "patch": {
          "request": {
            "$ref": "Issuer"
          },
          "description": "Updates the issuer referenced by the given issuer ID. This method supports patch semantics.",
          "id": "walletobjects.issuer.patch",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "httpMethod": "PATCH",
          "response": {
            "$ref": "Issuer"
          },
          "parameterOrder": [
            "resourceId"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "path": "walletobjects/v1/issuer",
          "flatPath": "walletobjects/v1/issuer",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [],
          "response": {
            "$ref": "Issuer"
          },
          "parameters": {},
          "id": "walletobjects.issuer.insert",
          "request": {
            "$ref": "Issuer"
          },
          "description": "Inserts an issuer with the given ID and properties."
        },
        "list": {
          "parameterOrder": [],
          "response": {
            "$ref": "IssuerListResponse"
          },
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer",
          "flatPath": "walletobjects/v1/issuer",
          "id": "walletobjects.issuer.list",
          "parameters": {},
          "description": "Returns a list of all issuers shared to the caller."
        },
        "update": {
          "httpMethod": "PUT",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "path": "walletobjects/v1/issuer/{resourceId}",
          "flatPath": "walletobjects/v1/issuer/{resourceId}",
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "Issuer"
          },
          "id": "walletobjects.issuer.update",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an issuer.",
              "format": "int64",
              "required": true,
              "type": "string"
            }
          },
          "request": {
            "$ref": "Issuer"
          },
          "description": "Updates the issuer referenced by the given issuer ID."
        }
      }
    },
    "genericobject": {
      "methods": {
        "addmessage": {
          "parameters": {
            "resourceId": {
              "description": "The unique identifier for an object. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
              "required": true,
              "type": "string",
              "location": "path"
            }
          },
          "id": "walletobjects.genericobject.addmessage",
          "request": {
            "$ref": "AddMessageRequest"
          },
          "description": "Adds a message to the generic object referenced by the given object ID.",
          "httpMethod": "POST",
          "path": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}/addMessage",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "parameterOrder": [
            "resourceId"
          ],
          "response": {
            "$ref": "GenericObjectAddMessageResponse"
          }
        },
        "get": {
          "response": {
            "$ref": "GenericObject"
          },
          "parameterOrder": [
            "resourceId"
          ],
          "path": "walletobjects/v1/genericObject/{resourceId}",
          "flatPath": "walletobjects/v1/genericObject/{resourceId}",
          "scopes": [
            "https://www.googleapis.com/auth/wallet_object.issuer"
          ],
          "httpMethod": "GET",
          "description": "Returns the generic object with the given object ID.",
          "parameters": {
            "resourceId": {
              "location": "path",
              "description": "The unique identifier for an object. This ID must be unique across all objects from an issuer. This value needs to follow the format `issuerID.identifier` where `issuerID` is issued by Google and `identifier` is chosen by you. The unique identifier can only include alphanumeric characters, `.`, `_`, or `-`.",
              "required": true,
              "type": "string"
            }
          },
          "id": "walletobjects.genericobject.get"
        },
        "patch": {
          "request": {
            "$ref": "GenericObject"
          },
          "description": "Updates the generic object referenced by the given object ID. This method supports patch semantics.",
          "parameters": {
            "resourceId": {
              "location": "path",
[...]
