{
  "rootUrl": "https://walletobjects.googleapis.com/",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "version": "v1",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "basePath": "",
  "schemas": {
    "Money": {
      "properties": {
        "currencyCode": {
          "description": "The currency code, such as \"USD\" or \"EUR.\"",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#money\"`.",
          "deprecated": true,
          "type": "string"
        },
        "micros": {
          "type": "string",
          "format": "int64",
          "description": "The unit of money amount in micros. For example, $1 USD would be represented as 1000000 micros."
        }
      },
      "id": "Money",
      "type": "object"
    },
    "CardRowTwoItems": {
      "id": "CardRowTwoItems",
      "properties": {
        "startItem": {
          "description": "The item to be displayed at the start of the row. This item will be aligned to the left.",
          "$ref": "TemplateItem"
        },
        "endItem": {
          "$ref": "TemplateItem",
          "description": "The item to be displayed at the end of the row. This item will be aligned to the right."
        }
      },
      "type": "object"
    },
    "ActivationOptions": {
      "id": "ActivationOptions",
      "description": "ActivationOptions for the class",
      "properties": {
        "activationUrl": {
          "description": "HTTPS URL that supports REST semantics. Would be used for requesting activation from partners for given valuable, triggered by the users.",
          "type": "string"
        },
        "allowReactivation": {
          "description": "Flag to allow users to make activation call from different device. This allows client to render the activation button enabled even if the activationStatus is ACTIVATED but the requested device is different than the current device.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AuthenticationKey": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int32",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        },
        "publicKeyPem": {
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "type": "string"
        }
      },
      "id": "AuthenticationKey"
    },
    "DiffUploadRequest": {
      "id": "DiffUploadRequest",
      "description": "A Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "checksumsInfo": {
          "$ref": "CompositeMedia",
          "description": "The location of the checksums for the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received. For details on the format of the checksums, see http://go/scotty-diff-protocol."
        },
        "objectVersion": {
          "description": "The object version of the object that is the base version the incoming diff script will be applied to. This field will always be filled in.",
          "type": "string"
        },
        "objectInfo": {
          "description": "The location of the new object. Agents must clone the object located here, as the upload server will delete the contents once a response is received.",
          "$ref": "CompositeMedia"
        }
      },
      "type": "object"
    },
    "BoardingAndSeatingInfo": {
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#boardingAndSeatingInfo\"`.",
          "deprecated": true
        },
        "sequenceNumber": {
          "description": "The sequence number on the boarding pass. This usually matches the sequence in which the passengers checked in. Airline might use the number for manual boarding and bag tags. eg: \"49\"",
          "type": "string"
        },
        "boardingDoor": {
          "enum": [
            "BOARDING_DOOR_UNSPECIFIED",
            "FRONT",
            "front",
            "BACK",
            "back"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `FRONT`. Deprecated.",
            "",
            "Legacy alias for `BACK`. Deprecated."
          ],
          "description": "Set this field only if this flight boards through more than one door or bridge and you want to explicitly print the door location on the boarding pass. Most airlines route their passengers to the right door or bridge by refering to doors/bridges by the `seatClass`. In those cases `boardingDoor` should not be set.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ]
        },
        "boardingPrivilegeImage": {
          "$ref": "Image",
          "description": "A small image shown above the boarding barcode. Airlines can use it to communicate any special boarding privileges. In the event the security program logo is also set, this image might be rendered alongside the logo for that security program."
        },
        "boardingPosition": {
          "description": "The value of boarding position. eg: \"76\"",
          "type": "string"
        },
        "seatAssignment": {
          "$ref": "LocalizedString",
          "description": "The passenger's seat assignment. To be used when there is no specific identifier to use in `seatNumber`. eg: \"assigned at gate\""
        },
        "boardingGroup": {
          "description": "The value of boarding group (or zone) this passenger shall board with. eg: \"B\" The label for this value will be determined by the `boardingPolicy` field in the `flightClass` referenced by this object.",
          "type": "string"
        },
        "seatClass": {
          "description": "The value of the seat class. eg: \"Economy\" or \"Economy Plus\"",
          "type": "string"
        },
        "seatNumber": {
          "description": "The value of passenger seat. If there is no specific identifier, use `seatAssignment` instead. eg: \"25A\"",
          "type": "string"
        }
      },
      "id": "BoardingAndSeatingInfo",
      "type": "object"
    },
    "JwtResource": {
      "properties": {
        "jwt": {
          "description": "Required. A string representing a JWT of the format described at https://developers.google.com/wallet/reference/rest/v1/Jwt",
          "type": "string"
        }
      },
      "id": "JwtResource",
      "description": "A JWT representation of a pass.",
      "type": "object"
    },
    "DiffUploadResponse": {
      "type": "object",
      "id": "DiffUploadResponse",
      "description": "Backend response for a Diff upload request. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol.",
      "properties": {
        "objectVersion": {
          "description": "The object version of the object at the server. Must be included in the end notification response. The version in the end notification response must correspond to the new version of the object that is now stored at the server, after the upload.",
          "type": "string"
        },
        "originalObject": {
          "description": "The location of the original file for a diff upload request. Must be filled in if responding to an upload start notification.",
          "$ref": "CompositeMedia"
        }
      }
    },
    "SaveRestrictions": {
      "type": "object",
      "id": "SaveRestrictions",
      "description": "Defines restrictions on the object that will be verified during save. Note: this is an advanced feature, please contact Google for implementation support.",
      "properties": {
        "restrictToEmailSha256": {
          "description": "Restrict the save of the referencing object to the given email address only. This is the hex output of SHA256 sum of the email address, all lowercase and without any notations like \".\" or \"+\", except \"@\". For example, for example@example.com, this value will be 31c5543c1734d25c7206f5fd591525d0295bec6fe84ff82f946a34fe970a1e66 and for Example@example.com, this value will be bc34f262c93ad7122763684ccea6f07fb7f5d8a2d11e60ce15a6f43fe70ce632 If email address of the logged-in user who tries to save this pass does not match with the defined value here, users won't be allowed to save this pass. They will instead be prompted with an error to contact the issuer. This information should be gathered from the user with an explicit consent via Sign in with Google integration https://developers.google.com/identity/authentication. Please contact with support before using Save Restrictions.",
          "type": "string"
        }
      }
    },
    "TransitClassListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "items": {
            "$ref": "TransitClass"
          },
          "description": "Resources corresponding to the list request.",
          "type": "array"
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      },
      "id": "TransitClassListResponse"
    },
    "Resources": {
      "type": "object",
      "id": "Resources",
      "properties": {
        "giftCardClasses": {
          "description": "A list of gift card classes.",
          "items": {
            "$ref": "GiftCardClass"
          },
          "type": "array"
        },
        "loyaltyObjects": {
          "type": "array",
          "description": "A list of loyalty objects.",
          "items": {
            "$ref": "LoyaltyObject"
          }
        },
        "offerClasses": {
          "items": {
            "$ref": "OfferClass"
          },
          "description": "A list of offer classes.",
          "type": "array"
        },
        "eventTicketObjects": {
          "type": "array",
          "items": {
            "$ref": "EventTicketObject"
          },
          "description": "A list of event ticket objects."
        },
        "genericObjects": {
          "type": "array",
          "items": {
            "$ref": "GenericObject"
          },
          "description": "A list of generic objects."
        },
        "genericClasses": {
          "type": "array",
          "description": "A list of generic classes.",
          "items": {
            "$ref": "GenericClass"
          }
        },
        "flightObjects": {
          "description": "A list of flight objects.",
          "items": {
            "$ref": "FlightObject"
          },
          "type": "array"
        },
        "transitClasses": {
          "items": {
            "$ref": "TransitClass"
          },
          "description": "A list of transit classes.",
          "type": "array"
        },
        "flightClasses": {
          "description": "A list of flight classes.",
          "items": {
            "$ref": "FlightClass"
          },
          "type": "array"
        },
        "transitObjects": {
          "items": {
            "$ref": "TransitObject"
          },
          "description": "A list of transit objects.",
          "type": "array"
        },
        "loyaltyClasses": {
          "type": "array",
          "items": {
            "$ref": "LoyaltyClass"
          },
          "description": "A list of loyalty classes."
        },
        "offerObjects": {
          "description": "A list of offer objects.",
          "items": {
            "$ref": "OfferObject"
          },
          "type": "array"
        },
        "giftCardObjects": {
          "type": "array",
          "items": {
            "$ref": "GiftCardObject"
          },
          "description": "A list of gift card objects."
        },
        "eventTicketClasses": {
          "type": "array",
          "items": {
            "$ref": "EventTicketClass"
          },
          "description": "A list of event ticket classes."
        }
      }
    },
    "EventTicketClass": {
      "id": "EventTicketClass",
      "properties": {
        "viewUnlockRequirement": {
          "description": "View Unlock Requirement options for the event ticket.",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ]
        },
        "rowLabel": {
          "description": "The label to use for the row value (`eventTicketObject.seatInfo.row`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `rowLabel` and `customRowLabel` may not be set. If neither is set, the label will default to \"Row\", localized. If the row field is unset, this label will not be used.",
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "enum": [
            "ROW_LABEL_UNSPECIFIED",
            "ROW",
            "row"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ROW`. Deprecated."
          ],
          "type": "string"
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated",
          "deprecated": true
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead.",
          "deprecated": true
        },
        "id": {
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "wordMark": {
          "$ref": "Image",
          "description": "Deprecated.",
          "deprecated": true
        },
        "valueAddedModuleData": {
          "type": "array",
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object.",
          "items": {
            "$ref": "ValueAddedModuleData"
          }
        },
        "eventName": {
          "$ref": "LocalizedString",
          "description": "Required. The name of the event, such as \"LA Dodgers at SF Giants\"."
        },
        "dateTime": {
          "$ref": "EventDateTime",
          "description": "The date & time information of the event."
        },
        "locations": {
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "deprecated": true,
          "items": {
            "$ref": "LatLongPoint"
          },
          "type": "array"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "customRowLabel": {
          "description": "A custom label to use for the row value (`eventTicketObject.seatInfo.row`) on the card detail view. This should only be used if the default \"Row\" label or one of the `rowLabel` options is not sufficient. Both `rowLabel` and `customRowLabel` may not be set. If neither is set, the label will default to \"Row\", localized. If the row field is unset, this label will not be used.",
          "$ref": "LocalizedString"
        },
        "issuerName": {
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "logo": {
          "$ref": "Image",
          "description": "The logo image of the ticket. This image is displayed in the card detail view of the app."
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ],
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "type": "string"
        },
        "confirmationCodeLabel": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "The label to use for the confirmation code value (`eventTicketObject.reservationInfo.confirmationCode`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `confirmationCodeLabel` and `customConfirmationCodeLabel` may not be set. If neither is set, the label will default to \"Confirmation Code\", localized. If the confirmation code field is unset, this label will not be used.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `CONFIRMATION_CODE`. Deprecated.",
            "",
            "Legacy alias for `CONFIRMATION_NUMBER`. Deprecated.",
            "",
            "Legacy alias for `ORDER_NUMBER`. Deprecated.",
            "",
            "Legacy alias for `RESERVATION_NUMBER`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "CONFIRMATION_CODE_LABEL_UNSPECIFIED",
            "CONFIRMATION_CODE",
            "confirmationCode",
            "CONFIRMATION_NUMBER",
            "confirmationNumber",
            "ORDER_NUMBER",
            "orderNumber",
            "RESERVATION_NUMBER",
            "reservationNumber"
          ]
        },
        "wideLogo": {
          "$ref": "Image",
          "description": "The wide logo of the ticket. When provided, this will be used in place of the logo in the top left of the card view."
        },
        "review": {
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`.",
          "$ref": "Review"
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "notifyPreference": {
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ]
        },
        "imageModulesData": {
          "type": "array",
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "items": {
            "$ref": "ImageModuleData"
          }
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventTicketClass\"`.",
          "deprecated": true,
          "type": "string"
        },
        "customSectionLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the section value (`eventTicketObject.seatInfo.section`) on the card detail view. This should only be used if the default \"Section\" label or one of the `sectionLabel` options is not sufficient. Both `sectionLabel` and `customSectionLabel` may not be set. If neither is set, the label will default to \"Section\", localized. If the section field is unset, this label will not be used."
        },
        "reviewStatus": {
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ]
        },
        "finePrint": {
          "description": "The fine print, terms, or conditions of the ticket.",
          "$ref": "LocalizedString"
        },
        "customGateLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the gate value (`eventTicketObject.seatInfo.gate`) on the card detail view. This should only be used if the default \"Gate\" label or one of the `gateLabel` options is not sufficient. Both `gateLabel` and `customGateLabel` may not be set. If neither is set, the label will default to \"Gate\", localized. If the gate field is unset, this label will not be used."
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "messages": {
          "type": "array",
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10."
        },
        "textModulesData": {
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          }
        },
        "callbackOptions": {
          "$ref": "CallbackOptions",
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback."
        },
        "eventId": {
          "description": "The ID of the event. This ID should be unique for every event in an account. It is used to group tickets together if the user has saved multiple tickets for the same event. It can be at most 64 characters. If provided, the grouping will be stable. Be wary of unintentional collision to avoid grouping tickets that should not be grouped. If you use only one class per event, you can simply set this to the `classId` (with or without the issuer ID portion). If not provided, the platform will attempt to use other data to group tickets (potentially unstable).",
          "type": "string"
        },
        "homepageUri": {
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object).",
          "$ref": "Uri"
        },
        "localizedIssuerName": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens."
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the object, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "gateLabel": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `GATE`. Deprecated.",
            "",
            "Legacy alias for `DOOR`. Deprecated.",
            "",
            "Legacy alias for `ENTRANCE`. Deprecated."
          ],
          "enum": [
            "GATE_LABEL_UNSPECIFIED",
            "GATE",
            "gate",
            "DOOR",
            "door",
            "ENTRANCE",
            "entrance"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "The label to use for the gate value (`eventTicketObject.seatInfo.gate`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `gateLabel` and `customGateLabel` may not be set. If neither is set, the label will default to \"Gate\", localized. If the gate field is unset, this label will not be used."
        },
        "seatLabel": {
          "enumDeprecated": [
            false,
            false,
            true
          ],
          "description": "The label to use for the seat value (`eventTicketObject.seatInfo.seat`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `seatLabel` and `customSeatLabel` may not be set. If neither is set, the label will default to \"Seat\", localized. If the seat field is unset, this label will not be used.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `SEAT`. Deprecated."
          ],
          "enum": [
            "SEAT_LABEL_UNSPECIFIED",
            "SEAT",
            "seat"
          ]
        },
        "redemptionIssuers": {
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "merchantLocations": {
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "type": "array"
        },
        "countryCode": {
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale.",
          "type": "string"
        },
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "customConfirmationCodeLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the confirmation code value (`eventTicketObject.reservationInfo.confirmationCode`) on the card detail view. This should only be used if the default \"Confirmation Code\" label or one of the `confirmationCodeLabel` options is not sufficient. Both `confirmationCodeLabel` and `customConfirmationCodeLabel` may not be set. If neither is set, the label will default to \"Confirmation Code\", localized. If the confirmation code field is unset, this label will not be used."
        },
        "heroImage": {
          "$ref": "Image",
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width."
        },
        "venue": {
          "$ref": "EventVenue",
          "description": "Event venue details."
        },
        "customSeatLabel": {
          "description": "A custom label to use for the seat value (`eventTicketObject.seatInfo.seat`) on the card detail view. This should only be used if the default \"Seat\" label or one of the `seatLabel` options is not sufficient. Both `seatLabel` and `customSeatLabel` may not be set. If neither is set, the label will default to \"Seat\", localized. If the seat field is unset, this label will not be used.",
          "$ref": "LocalizedString"
        },
        "allowMultipleUsersPerObject": {
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "sectionLabel": {
          "description": "The label to use for the section value (`eventTicketObject.seatInfo.section`) on the card detail view. Each available option maps to a set of localized strings, so that translations are shown to the user based on their locale. Both `sectionLabel` and `customSectionLabel` may not be set. If neither is set, the label will default to \"Section\", localized. If the section field is unset, this label will not be used.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "SECTION_LABEL_UNSPECIFIED",
            "SECTION",
            "section",
            "THEATER",
            "theater"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `SECTION`. Deprecated.",
            "",
            "Legacy alias for `THEATER`. Deprecated."
          ]
        }
      },
      "type": "object"
    },
    "Image": {
      "type": "object",
      "properties": {
        "sourceUri": {
          "description": "A URI for the image. Either this or private_image_id should be set. Requests setting both or neither will be rejected.",
          "$ref": "ImageUri"
        },
        "privateImageId": {
          "description": "An ID for an already uploaded private image. Either this or source_uri should be set. Requests setting both or neither will be rejected. Please contact support to use private images.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#image\"`.",
          "deprecated": true
        },
        "contentDescription": {
          "$ref": "LocalizedString",
          "description": "Description of the image used for accessibility."
        }
      },
      "id": "Image",
      "description": "Wrapping type for Google hosted images."
    },
    "SmartTapMerchantData": {
      "type": "object",
      "properties": {
        "authenticationKeys": {
          "type": "array",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance.",
          "items": {
            "$ref": "AuthenticationKey"
          }
        },
        "smartTapMerchantId": {
          "type": "string",
          "format": "int64",
          "description": "Available only to Smart Tap enabled partners. Contact support for additional guidance."
        }
      },
      "id": "SmartTapMerchantData"
    },
    "FlightObjectListResponse": {
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "FlightObject"
          },
          "description": "Resources corresponding to the list request."
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "id": "FlightObjectListResponse",
      "type": "object"
    },
    "CardTemplateOverride": {
      "type": "object",
      "properties": {
        "cardRowTemplateInfos": {
          "type": "array",
          "items": {
            "$ref": "CardRowTemplateInfo"
          },
          "description": "Template information for rows in the card view. At most three rows are allowed to be specified."
        }
      },
      "id": "CardTemplateOverride"
    },
    "Notifications": {
      "type": "object",
      "properties": {
        "upcomingNotification": {
          "description": "A notification would be triggered at a specific time before the card becomes usable.",
          "$ref": "UpcomingNotification"
        },
        "expiryNotification": {
          "description": "A notification would be triggered at a specific time before the card expires.",
          "$ref": "ExpiryNotification"
        }
      },
      "id": "Notifications",
      "description": "Indicates if the object needs to have notification enabled. We support only one of ExpiryNotification/UpcomingNotification. `expiryNotification` takes precedence over `upcomingNotification`. In other words if `expiryNotification` is set, we ignore the `upcomingNotification` field."
    },
    "LoyaltyPointsBalance": {
      "properties": {
        "string": {
          "description": "The string form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "type": "string"
        },
        "int": {
          "type": "integer",
          "format": "int32",
          "description": "The integer form of a balance. Only one of these subtypes (string, int, double, money) should be populated."
        },
        "money": {
          "$ref": "Money",
          "description": "The money form of a balance. Only one of these subtypes (string, int, double, money) should be populated."
        },
        "double": {
          "description": "The double form of a balance. Only one of these subtypes (string, int, double, money) should be populated.",
          "type": "number",
          "format": "double"
        }
      },
      "id": "LoyaltyPointsBalance",
      "type": "object"
    },
    "TransitObject": {
      "properties": {
        "validTimeInterval": {
          "description": "The time period this object will be `active` and object can be used. An object's state will be changed to `expired` when this time period has passed.",
          "$ref": "TimeInterval"
        },
        "passengerNames": {
          "description": "The name(s) of the passengers the ticket is assigned to. The above `passengerType` field is meant to give Google context on this field.",
          "type": "string"
        },
        "notifyPreference": {
          "type": "string",
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "description": "Whether or not field updates to this object should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ]
        },
        "activationStatus": {
          "$ref": "ActivationStatus",
          "description": "The activation status for the object. Required if the class has `activationOptions` set."
        },
        "imageModulesData": {
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "type": "array"
        },
        "messages": {
          "type": "array",
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "items": {
            "$ref": "Message"
          }
        },
        "saveRestrictions": {
          "$ref": "SaveRestrictions",
          "description": "Restrictions on the object that needs to be verified before the user tries to save the pass. Note that this restrictions will only be applied during save time. If the restrictions changed after a user saves the pass, the new restrictions will not be applied to an already saved pass."
        },
        "textModulesData": {
          "type": "array",
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "items": {
            "$ref": "TextModuleData"
          }
        },
        "customConcessionCategory": {
          "description": "A custom concession category to use when `concessionCategory` does not provide the right option. Both `concessionCategory` and `customConcessionCategory` may not be set.",
          "$ref": "LocalizedString"
        },
        "ticketLeg": {
          "description": "A single ticket leg contains departure and arrival information along with boarding and seating information. If more than one leg is to be specified then use the `ticketLegs` field instead. Both `ticketLeg` and `ticketLegs` may not be set.",
          "$ref": "TicketLeg"
        },
        "purchaseDetails": {
          "$ref": "PurchaseDetails",
          "description": "Purchase details for this ticket."
        },
        "linksModuleData": {
          "$ref": "LinksModuleData",
          "description": "Links module data. If links module data is also defined on the class, both will be displayed."
        },
        "passConstraints": {
          "description": "Pass constraints for the object. Includes limiting NFC and screenshot behaviors.",
          "$ref": "PassConstraints"
        },
        "smartTapRedemptionValue": {
          "description": "The value that will be transmitted to a Smart Tap certified terminal over NFC for this object. The class level fields `enableSmartTap` and `redemptionIssuers` must also be set up correctly in order for the pass to support Smart Tap. Only ASCII characters are supported.",
          "type": "string"
        },
        "merchantLocations": {
          "items": {
            "$ref": "MerchantLocation"
          },
          "description": "Merchant locations. There is a maximum of ten on the object. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "type": "array"
        },
        "ticketLegs": {
          "items": {
            "$ref": "TicketLeg"
          },
          "description": "Each ticket may contain one or more legs. Each leg contains departure and arrival information along with boarding and seating information. If only one leg is to be specified then use the `ticketLeg` field instead. Both `ticketLeg` and `ticketLegs` may not be set.",
          "type": "array"
        },
        "tripType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "description": "Required. The type of trip this transit object represents. Used to determine the pass title and/or which symbol to use between the origin and destination.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ROUND_TRIP`. Deprecated.",
            "",
            "Legacy alias for `ONE_WAY`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "TRIP_TYPE_UNSPECIFIED",
            "ROUND_TRIP",
            "roundTrip",
            "ONE_WAY",
            "oneWay"
          ]
        },
        "tripId": {
          "description": "This id is used to group tickets together if the user has saved multiple tickets for the same trip.",
          "type": "string"
        },
        "classId": {
          "description": "Required. The class associated with this object. The class must be of the same type as this object, must already exist, and must be approved. Class IDs should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you.",
          "type": "string"
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "barcode": {
          "description": "The barcode type and value.",
          "$ref": "Barcode"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, hero image of the class, if present, will be displayed. If hero image of the class is also not present, nothing will be displayed.",
          "$ref": "Image"
        },
        "customTicketStatus": {
          "$ref": "LocalizedString",
          "description": "A custom status to use for the ticket status value when `ticketStatus` does not provide the right option. Both `ticketStatus` and `customTicketStatus` may not be set."
        },
        "ticketNumber": {
          "description": "The number of the ticket. This is a unique identifier for the ticket in the transit operator's system.",
          "type": "string"
        },
        "version": {
          "description": "Deprecated",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "infoModuleData": {
          "$ref": "InfoModuleData",
          "description": "Deprecated. Use textModulesData instead."
        },
        "deviceContext": {
          "$ref": "DeviceContext",
          "description": "Device context associated with the object."
        },
        "groupingInfo": {
          "$ref": "GroupingInfo",
          "description": "Information that controls how passes are grouped together."
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Default value.",
            "Object is active and displayed to with other active objects.",
            "Legacy alias for `ACTIVE`. Deprecated.",
            "Object has completed it's lifecycle.",
            "Legacy alias for `COMPLETED`. Deprecated.",
            "Object is no longer valid (`validTimeInterval` passed).",
            "Legacy alias for `EXPIRED`. Deprecated.",
            "Object is no longer valid",
            "Legacy alias for `INACTIVE`. Deprecated."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "active",
            "COMPLETED",
            "completed",
            "EXPIRED",
            "expired",
            "INACTIVE",
            "inactive"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "Required. The state of the object. This field is used to determine how an object is displayed in the app. For example, an `inactive` object is moved to the \"Expired passes\" section."
        },
        "disableExpirationNotification": {
          "description": "Indicates if notifications should explicitly be suppressed. If this field is set to true, regardless of the `messages` field, expiration notifications to the user will be suppressed. By default, this field is set to false. Currently, this can only be set for offers.",
          "type": "boolean"
        },
        "concessionCategory": {
          "description": "The concession category for the ticket.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "CONCESSION_CATEGORY_UNSPECIFIED",
            "ADULT",
            "adult",
            "CHILD",
            "child",
            "SENIOR",
            "senior"
          ],
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `ADULT`. Deprecated.",
            "",
            "Legacy alias for `CHILD`. Deprecated.",
            "",
            "Legacy alias for `SENIOR`. Deprecated."
          ],
          "type": "string"
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the object. For a pass only fifteen will be displayed.",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array"
        },
        "id": {
          "description": "Required. The unique identifier for an object. This ID must be unique across all objects from an issuer. This value should follow the format issuer ID.identifier where the former is issued by Google and latter is chosen by you. The unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "appLinkData": {
          "$ref": "AppLinkData",
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding class only object AppLinkData will be displayed."
        },
        "rotatingBarcode": {
          "description": "The rotating barcode type and value.",
          "$ref": "RotatingBarcode"
        },
        "classReference": {
          "description": "A copy of the inherited fields of the parent class. These fields are retrieved during a GET.",
          "$ref": "TransitClass"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          },
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "deprecated": true
        },
        "ticketStatus": {
          "description": "The status of the ticket. For states which affect display, use the `state` field instead.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "enum": [
            "TICKET_STATUS_UNSPECIFIED",
            "USED",
            "used",
            "REFUNDED",
            "refunded",
            "EXCHANGED",
            "exchanged"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `USED`. Deprecated.",
            "",
            "Legacy alias for `REFUNDED`. Deprecated.",
            "",
            "Legacy alias for `EXCHANGED`. Deprecated."
          ]
        },
        "linkedObjectIds": {
          "items": {
            "type": "string"
          },
          "description": "linked_object_ids are a list of other objects such as event ticket, loyalty, offer, generic, giftcard, transit and boarding pass that should be automatically attached to this transit object. If a user had saved this transit card, then these linked_object_ids would be automatically pushed to the user's wallet (unless they turned off the setting to receive such linked passes). Make sure that objects present in linked_object_ids are already inserted - if not, calls would fail. Once linked, the linked objects cannot be unlinked. You cannot link objects belonging to another issuer. There is a limit to the number of objects that can be linked to a single object. After the limit is reached, new linked objects in the call will be ignored silently. Object IDs should follow the format issuer ID. identifier where the former is issued by Google and the latter is chosen by you.",
          "type": "array"
        },
        "hasUsers": {
          "description": "Indicates if the object has users. This field is set by the platform.",
          "type": "boolean"
        },
        "passengerType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "description": "The number of passengers.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `SINGLE_PASSENGER`. Deprecated.",
            "",
            "Legacy alias for `MULTIPLE_PASSENGERS`. Deprecated."
          ],
          "enum": [
            "PASSENGER_TYPE_UNSPECIFIED",
            "SINGLE_PASSENGER",
            "singlePassenger",
            "MULTIPLE_PASSENGERS",
            "multiplePassengers"
          ]
        },
        "ticketRestrictions": {
          "description": "Information about what kind of restrictions there are on using this ticket. For example, which days of the week it must be used, or which routes are allowed to be taken.",
          "$ref": "TicketRestrictions"
        },
        "hasLinkedDevice": {
          "description": "Whether this object is currently linked to a single device. This field is set by the platform when a user saves the object, linking it to their device. Intended for use by select partners. Contact support for additional information.",
          "type": "boolean"
        }
      },
      "id": "TransitObject",
      "type": "object"
    },
    "CompositeMedia": {
      "type": "object",
      "properties": {
        "blobRef": {
          "description": "Blobstore v1 reference, set if reference_type is BLOBSTORE_REF This should be the byte representation of a blobstore.BlobRef. Since Blobstore is deprecating v1, use blobstore2_info instead. For now, any v2 blob will also be represented in this field as v1 BlobRef.",
          "deprecated": true,
          "type": "string",
          "format": "byte"
        },
        "inline": {
          "type": "string",
          "format": "byte",
          "description": "Media data, set if reference_type is INLINE"
        },
        "cosmoBinaryReference": {
          "description": "A binary data reference for a media download. Serves as a technology-agnostic binary reference in some Google infrastructure. This value is a serialized storage_cosmo.BinaryReference proto. Storing it as bytes is a hack to get around the fact that the cosmo proto (as well as others it includes) doesn't support JavaScript. This prevents us from including the actual type of this field.",
          "type": "string",
          "format": "byte"
        },
        "blobstore2Info": {
          "description": "Blobstore v2 info, set if reference_type is BLOBSTORE_REF and it refers to a v2 blob.",
          "$ref": "Blobstore2Info"
        },
        "path": {
          "description": "Path to the data, set if reference_type is PATH",
          "type": "string"
        },
        "crc32cHash": {
          "type": "integer",
          "format": "uint32",
          "description": "crc32.c hash for the payload."
        },
        "referenceType": {
          "description": "Describes what the field reference contains.",
          "enum": [
            "PATH",
            "BLOB_REF",
            "INLINE",
            "BIGSTORE_REF",
            "COSMO_BINARY_REFERENCE"
          ],
          "enumDescriptions": [
            "Reference contains a GFS path or a local path.",
            "Reference points to a blobstore object. This could be either a v1 blob_ref or a v2 blobstore2_info. Clients should check blobstore2_info first, since v1 is being deprecated.",
            "Data is included into this proto buffer",
            "Reference points to a bigstore object",
            "Indicates the data is stored in cosmo_binary_reference."
          ],
          "type": "string"
        },
        "md5Hash": {
          "description": "MD5 hash for the payload.",
          "type": "string",
          "format": "byte"
        },
        "objectId": {
          "$ref": "ObjectId",
          "description": "Reference to a TI Blob, set if reference_type is BIGSTORE_REF."
        },
        "length": {
          "description": "Size of the data, in bytes",
          "type": "string",
          "format": "int64"
        },
        "sha1Hash": {
          "type": "string",
          "format": "byte",
          "description": "SHA-1 hash for the payload."
        }
      },
      "id": "CompositeMedia",
      "description": "A sequence of media data references representing composite data. Introduced to support Bigstore composite objects. For details, visit http://go/bigstore-composites."
    },
    "Uri": {
      "type": "object",
      "id": "Uri",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#uri\"`.",
          "deprecated": true
        },
        "description": {
          "description": "The URI's title appearing in the app as text. Recommended maximum is 20 characters to ensure full string is displayed on smaller screens. Note that in some contexts this text is not used, such as when `description` is part of an image.",
          "type": "string"
        },
        "localizedDescription": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the description. Recommended maximum is 20 characters to ensure full string is displayed on smaller screens."
        },
        "uri": {
          "description": "The location of a web page, image, or other resource. URIs in the `LinksModuleData` module can have different prefixes indicating the type of URI (a link to a web page, a link to a map, a telephone number, or an email address). URIs must have a scheme.",
          "type": "string"
        },
        "id": {
          "description": "The ID associated with a uri. This field is here to enable ease of management of uris.",
          "type": "string"
        }
      }
    },
    "TranslatedString": {
      "properties": {
        "language": {
          "description": "Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\".",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#translatedString\"`.",
          "deprecated": true,
          "type": "string"
        },
        "value": {
          "description": "The UTF-8 encoded translated string.",
          "type": "string"
        }
      },
      "id": "TranslatedString",
      "type": "object"
    },
    "LabelValue": {
      "type": "object",
      "properties": {
        "label": {
          "description": "The label for a specific row and column. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout.",
          "type": "string"
        },
        "localizedLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the label. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout."
        },
        "value": {
          "description": "The value for a specific row and column. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout.",
          "type": "string"
        },
        "localizedValue": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the value. Recommended maximum is 15 characters for a two-column layout and 30 characters for a one-column layout."
        }
      },
      "id": "LabelValue",
      "description": "A pair of text strings to be displayed in the details view. Note we no longer display LabelValue/LabelValueRow as a table, instead a list of items."
    },
    "EventVenue": {
      "id": "EventVenue",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#eventVenue\"`.",
          "deprecated": true
        },
        "name": {
          "$ref": "LocalizedString",
          "description": "The name of the venue, such as \"AT&T Park\". This is required."
        },
        "address": {
          "description": "The address of the venue, such as \"24 Willie Mays Plaza\\nSan Francisco, CA 94107\". Address lines are separated by line feed (`\\n`) characters. This is required.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object"
    },
    "FrequentFlyerInfo": {
      "type": "object",
      "id": "FrequentFlyerInfo",
      "properties": {
        "frequentFlyerNumber": {
          "description": "Frequent flyer number. Required for each nested object of kind `walletobjects#frequentFlyerInfo`.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#frequentFlyerInfo\"`.",
          "deprecated": true
        },
        "frequentFlyerProgramName": {
          "description": "Frequent flyer program name. eg: \"Lufthansa Miles & More\"",
          "$ref": "LocalizedString"
        }
      }
    },
    "LocalizedString": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#localizedString\"`.",
          "deprecated": true
        },
        "translatedValues": {
          "description": "Contains the translations for the string.",
          "items": {
            "$ref": "TranslatedString"
          },
          "type": "array"
        },
        "defaultValue": {
          "$ref": "TranslatedString",
          "description": "Contains the string to be displayed if no appropriate translation is available."
        }
      },
      "id": "LocalizedString"
    },
    "Permission": {
      "properties": {
        "emailAddress": {
          "description": "The email address of the user, group, or service account to which this permission refers to.",
          "type": "string"
        },
        "role": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "The role granted by this permission.",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `OWNER`. Deprecated.",
            "",
            "Legacy alias for `READER`. Deprecated.",
            "",
            "Legacy alias for `WRITER`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "ROLE_UNSPECIFIED",
            "OWNER",
            "owner",
            "READER",
            "reader",
            "WRITER",
            "writer"
          ]
        }
      },
      "id": "Permission",
      "type": "object"
    },
    "TransitObjectAddMessageResponse": {
      "properties": {
        "resource": {
          "$ref": "TransitObject",
          "description": "The updated TransitObject resource."
        }
      },
      "id": "TransitObjectAddMessageResponse",
      "type": "object"
    },
    "SetPassUpdateNoticeRequest": {
      "type": "object",
      "id": "SetPassUpdateNoticeRequest",
      "description": "Request to send a private pass update notice information to Google, so that devices can then fetch the notice prompting the user to update a pass.",
      "properties": {
        "updateUri": {
          "description": "Required. The issuer endpoint URI the pass holder needs to follow in order to receive an updated pass JWT. It can not contain any sensitive information. The endpoint needs to authenticate the user before giving the user the updated JWT. Example update URI https://someissuer.com/update/passId=someExternalPassId",
          "type": "string"
        },
        "externalPassId": {
          "description": "Required. A fully qualified identifier of the pass that the issuer wants to notify the pass holder(s) about. Formatted as .",
          "type": "string"
        },
        "updatedPassJwtSignature": {
          "description": "Required. The JWT signature of the updated pass that the issuer wants to notify Google about. Only devices that report a different JWT signature than this JWT signature will receive the update notification.",
          "type": "string"
        }
      }
    },
    "GroupingInfo": {
      "properties": {
        "groupingId": {
          "description": "Optional grouping ID for grouping the passes with the same ID visually together. Grouping with different types of passes is allowed.",
          "type": "string"
        },
        "sortIndex": {
          "description": "Optional index for sorting the passes when they are grouped with other passes. Passes with lower sort index are shown before passes with higher sort index. If unspecified, the value is assumed to be INT_MAX. For two passes with the same sort index, the sorting behavior is undefined.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "GroupingInfo",
      "type": "object"
    },
    "ClassTemplateInfo": {
      "type": "object",
      "properties": {
        "cardTemplateOverride": {
          "description": "Override for the card view.",
          "$ref": "CardTemplateOverride"
        },
        "detailsTemplateOverride": {
          "$ref": "DetailsTemplateOverride",
          "description": "Override for the details view (beneath the card view)."
        },
        "listTemplateOverride": {
          "description": "Override for the passes list view.",
          "$ref": "ListTemplateOverride"
        },
        "cardBarcodeSectionDetails": {
          "description": "Specifies extra information to be displayed above and below the barcode.",
          "$ref": "CardBarcodeSectionDetails"
        }
      },
      "id": "ClassTemplateInfo"
    },
    "Barcode": {
      "type": "object",
      "id": "Barcode",
      "properties": {
        "alternateText": {
          "description": "An optional text that will override the default text that shows under the barcode. This field is intended for a human readable equivalent of the barcode value, used when the barcode cannot be scanned.",
          "type": "string"
        },
        "renderEncoding": {
          "description": "The render encoding for the barcode. When specified, barcode is rendered in the given encoding. Otherwise best known encoding is chosen by Google.",
          "enum": [
            "RENDER_ENCODING_UNSPECIFIED",
            "UTF_8"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "UTF_8 encoding for barcodes. This is only supported for barcode type qrCode."
          ]
        },
        "showCodeText": {
          "description": "Optional text that will be shown when the barcode is hidden behind a click action. This happens in cases where a pass has Smart Tap enabled. If not specified, a default is chosen by Google.",
          "$ref": "LocalizedString"
        },
        "type": {
          "enum": [
            "BARCODE_TYPE_UNSPECIFIED",
            "AZTEC",
            "aztec",
            "CODE_39",
            "code39",
            "CODE_128",
            "code128",
            "CODABAR",
            "codabar",
            "DATA_MATRIX",
            "dataMatrix",
            "EAN_8",
            "ean8",
            "EAN_13",
            "ean13",
            "EAN13",
            "ITF_14",
            "itf14",
            "PDF_417",
            "pdf417",
            "PDF417",
            "QR_CODE",
            "qrCode",
            "qrcode",
            "UPC_A",
            "upcA",
            "TEXT_ONLY",
            "textOnly"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `AZTEC`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_39`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODE_128`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `CODABAR`. Deprecated. Not supported for Rotating Barcodes.",
            "A 2D matrix barcode consisting of black and white. Cells or modules are arranged in either a square or rectangle. Not supported for Rotating Barcodes.",
            "Legacy alias for `DATA_MATRIX`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_8`. Deprecated. Not supported for Rotating Barcodes.",
            "Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "Legacy alias for `EAN_13`. Deprecated. Not supported for Rotating Barcodes.",
            "14 digit ITF code Not supported for Rotating Barcodes.",
            "Legacy alias for `ITF_14`. Deprecated. Not supported for Rotating Barcodes.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Legacy alias for `PDF_417`. Deprecated.",
            "Supported for Rotating Barcodes.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "Legacy alias for `QR_CODE`. Deprecated.",
            "11 or 12 digit codes Not supported for Rotating Barcodes.",
            "Legacy alias for `UPC_A`. Deprecated. Not supported for Rotating Barcodes.",
            "Renders the field as a text field. The `alternateText` field may not be used with a barcode of type `textOnly`. Not supported for Rotating Barcodes.",
            "Legacy alias for `TEXT_ONLY`. Deprecated. Not supported for Rotating Barcodes."
          ],
          "description": "The type of barcode.",
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true,
            true,
            false,
            true,
            true,
            false,
            true,
            false,
            true
          ]
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#barcode\"`.",
          "deprecated": true,
          "type": "string"
        },
        "value": {
          "description": "The value encoded in the barcode.",
          "type": "string"
        }
      }
    },
    "OfferObjectAddMessageResponse": {
      "type": "object",
      "properties": {
        "resource": {
          "$ref": "OfferObject",
          "description": "The updated OfferObject resource."
        }
      },
      "id": "OfferObjectAddMessageResponse"
    },
    "DiffVersionResponse": {
      "type": "object",
      "properties": {
        "objectVersion": {
          "description": "The version of the object stored at the server.",
          "type": "string"
        },
        "objectSizeBytes": {
          "description": "The total size of the server object.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "DiffVersionResponse",
      "description": "Backend response for a Diff get version response. For details on the Scotty Diff protocol, visit http://go/scotty-diff-protocol."
    },
    "AddMessageRequest": {
      "id": "AddMessageRequest",
      "description": "Resource used when the AddMessage endpoints are called.",
      "properties": {
        "message": {
          "$ref": "Message"
        }
      },
      "type": "object"
    },
    "ModuleViewConstraints": {
      "type": "object",
      "id": "ModuleViewConstraints",
      "description": "Constraints that all must be met for the module to be shown.",
      "properties": {
        "displayInterval": {
          "description": "The period of time that the module will be displayed to users. Can define both a `startTime` and `endTime`. The module is displayed immediately after insertion unless a `startTime` is set. The module is displayed indefinitely if `endTime` is not set.",
          "$ref": "TimeInterval"
        }
      }
    },
    "EventTicketClassListResponse": {
      "type": "object",
      "properties": {
        "resources": {
          "type": "array",
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "EventTicketClass"
          }
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      },
      "id": "EventTicketClassListResponse"
    },
    "GiftCardClass": {
      "type": "object",
      "properties": {
        "homepageUri": {
          "$ref": "Uri",
          "description": "The URI of your application's home page. Populating the URI in this field results in the exact same behavior as populating an URI in linksModuleData (when an object is rendered, a link to the homepage is shown in what would usually be thought of as the linksModuleData section of the object)."
        },
        "localizedIssuerName": {
          "description": "Translated strings for the issuer_name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "linksModuleData": {
          "description": "Links module data. If links module data is also defined on the object, both will be displayed.",
          "$ref": "LinksModuleData"
        },
        "programLogo": {
          "$ref": "Image",
          "description": "The logo of the gift card program or company. This logo is displayed in both the details and list views of the app."
        },
        "cardNumberLabel": {
          "description": "The label to display for the card number, such as \"Card Number\".",
          "type": "string"
        },
        "redemptionIssuers": {
          "description": "Identifies which redemption issuers can redeem the pass over Smart Tap. Redemption issuers are identified by their issuer ID. Redemption issuers must have at least one Smart Tap key configured. The `enableSmartTap` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "items": {
            "type": "string",
            "format": "int64"
          },
          "type": "array"
        },
        "merchantLocations": {
          "type": "array",
          "description": "Merchant locations. There is a maximum of ten on the class. Any additional MerchantLocations added beyond the 10 will be rejected. These locations will trigger a notification when a user enters within a Google-set radius of the point. This field replaces the deprecated LatLongPoints.",
          "items": {
            "$ref": "MerchantLocation"
          }
        },
        "hexBackgroundColor": {
          "description": "The background color for the card. If not set the dominant color of the hero image is used, and if no hero image is set, the dominant color of the logo is used. The format is #rrggbb where rrggbb is a hex RGB triplet, such as `#ffcc00`. You can also use the shorthand version of the RGB triplet which is #rgb, such as `#fc0`.",
          "type": "string"
        },
        "countryCode": {
          "description": "Country code used to display the card's country (when the user is not in that country), as well as to display localized content when content is not available in the user's locale.",
          "type": "string"
        },
        "enableSmartTap": {
          "description": "Identifies whether this class supports Smart Tap. The `redemptionIssuers` and object level `smartTapRedemptionLevel` fields must also be set up correctly in order for a pass to support Smart Tap.",
          "type": "boolean"
        },
        "heroImage": {
          "description": "Optional banner image displayed on the front of the card. If none is present, nothing will be displayed. The image will display at 100% width.",
          "$ref": "Image"
        },
        "allowBarcodeRedemption": {
          "description": "Determines whether the merchant supports gift card redemption using barcode. If true, app displays a barcode for the gift card on the Gift card details screen. If false, a barcode is not displayed.",
          "type": "boolean"
        },
        "merchantName": {
          "description": "Merchant name, such as \"Adam's Apparel\". The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "allowMultipleUsersPerObject": {
          "description": "Deprecated. Use `multipleDevicesAndHoldersAllowedStatus` instead.",
          "deprecated": true,
          "type": "boolean"
        },
        "notifyPreference": {
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "type": "string",
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If not specified, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ]
        },
        "review": {
          "$ref": "Review",
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`."
        },
        "securityAnimation": {
          "$ref": "SecurityAnimation",
          "description": "Optional information about the security animation. If this is set a security animation will be rendered on pass details."
        },
        "imageModulesData": {
          "items": {
            "$ref": "ImageModuleData"
          },
          "description": "Image module data. The maximum number of these fields displayed is 1 from object level and 1 for class object level.",
          "type": "array"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#giftCardClass\"`.",
          "deprecated": true
        },
        "reviewStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `UNDER_REVIEW`. Deprecated.",
            "",
            "Legacy alias for `APPROVED`. Deprecated.",
            "",
            "Legacy alias for `REJECTED`. Deprecated.",
            "",
            "Legacy alias for `DRAFT`. Deprecated."
          ],
          "enum": [
            "REVIEW_STATUS_UNSPECIFIED",
            "UNDER_REVIEW",
            "underReview",
            "APPROVED",
            "approved",
            "REJECTED",
            "rejected",
            "DRAFT",
            "draft"
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "Required. The status of the class. This field can be set to `draft` or `underReview` using the insert, patch, or update API calls. Once the review state is changed from `draft` it may not be changed back to `draft`. You should keep this field to `draft` when the class is under development. A `draft` class cannot be used to create any object. You should set this field to `underReview` when you believe the class is ready for use. The platform will automatically set this field to `approved` and it can be immediately used to create or migrate objects. When updating an already `approved` class you should keep setting this field to `underReview`."
        },
        "classTemplateInfo": {
          "$ref": "ClassTemplateInfo",
          "description": "Template information about how the class should be displayed. If unset, Google will fallback to a default set of fields to display."
        },
        "messages": {
          "items": {
            "$ref": "Message"
          },
          "description": "An array of messages displayed in the app. All users of this object will receive its associated messages. The maximum number of these fields is 10.",
          "type": "array"
        },
        "eventNumberLabel": {
          "description": "The label to display for event number, such as \"Target Event #\".",
          "type": "string"
        },
        "localizedPinLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the pin_label."
        },
        "localizedEventNumberLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the event_number_label."
        },
        "textModulesData": {
          "items": {
            "$ref": "TextModuleData"
          },
          "description": "Text module data. If text module data is also defined on the class, both will be displayed. The maximum number of these fields displayed is 10 from the object and 10 from the class.",
          "type": "array"
        },
        "callbackOptions": {
          "description": "Callback options to be used to call the issuer back for every save/delete of an object for this class by the end-user. All objects of this class are eligible for the callback.",
          "$ref": "CallbackOptions"
        },
        "localizedMerchantName": {
          "description": "Translated strings for the merchant_name. The app may display an ellipsis after the first 20 characters to ensure full string is displayed on smaller screens.",
          "$ref": "LocalizedString"
        },
        "valueAddedModuleData": {
          "description": "Optional value added module data. Maximum of fifteen on the class. For a pass only fifteen will be displayed, prioritizing those from the object.",
          "items": {
            "$ref": "ValueAddedModuleData"
          },
          "type": "array"
        },
        "id": {
          "description": "Required. The unique identifier for a class. This ID must be unique across all classes from an issuer. This value should follow the format issuer ID. identifier where the former is issued by Google and latter is chosen by you. Your unique identifier should only include alphanumeric characters, '.', '_', or '-'.",
          "type": "string"
        },
        "wordMark": {
          "$ref": "Image",
          "description": "Deprecated.",
          "deprecated": true
        },
        "pinLabel": {
          "description": "The label to display for the PIN, such as \"4-digit PIN\".",
          "type": "string"
        },
        "appLinkData": {
          "description": "Optional app or website link that will be displayed as a button on the front of the pass. If AppLinkData is provided for the corresponding object that will be used instead.",
          "$ref": "AppLinkData"
        },
        "locations": {
          "items": {
            "$ref": "LatLongPoint"
          },
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "deprecated": true,
          "type": "array"
        },
        "issuerName": {
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "wideProgramLogo": {
          "description": "The wide logo of the gift card program or company. When provided, this will be used in place of the program logo in the top left of the card view.",
          "$ref": "Image"
        },
        "multipleDevicesAndHoldersAllowedStatus": {
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            true,
            true,
            true
          ],
          "description": "Identifies whether multiple users and devices will save the same object referencing this class.",
          "enumDescriptions": [
            "Unspecified preference.",
            "The Pass object is shareable by a user and can be saved by any number of different users, and on any number of devices. Partners typically use this setup for passes that do not need to be restricted to a single user or pinned to a single device.",
            "An object can only be saved by one user, but this user can view and use it on multiple of their devices. Once the first user saves the object, no other user will be allowed to view or save it.",
            "An object can only be saved by one user on a single device. Intended for use by select partners in limited circumstances. An example use case is a transit ticket that should be \"device pinned\", meaning it can be saved, viewed and used only by a single user on a single device. Contact support for additional information.",
            "Legacy alias for `MULTIPLE_HOLDERS`. Deprecated.",
            "Legacy alias for `ONE_USER_ALL_DEVICES`. Deprecated.",
            "Legacy alias for `ONE_USER_ONE_DEVICE`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "STATUS_UNSPECIFIED",
            "MULTIPLE_HOLDERS",
            "ONE_USER_ALL_DEVICES",
            "ONE_USER_ONE_DEVICE",
            "multipleHolders",
            "oneUserAllDevices",
            "oneUserOneDevice"
          ]
        },
        "localizedCardNumberLabel": {
          "$ref": "LocalizedString",
          "description": "Translated strings for the card_number_label."
        },
        "viewUnlockRequirement": {
          "type": "string",
          "enumDescriptions": [
            "Default value, same as UNLOCK_NOT_REQUIRED.",
            "Default behavior for all the existing Passes if ViewUnlockRequirement is not set.",
            "Requires the user to unlock their device each time the pass is viewed. If the user removes their device lock after saving the pass, then they will be prompted to create a device lock before the pass can be viewed."
          ],
          "description": "View Unlock Requirement options for the gift card.",
          "enum": [
            "VIEW_UNLOCK_REQUIREMENT_UNSPECIFIED",
            "UNLOCK_NOT_REQUIRED",
            "UNLOCK_REQUIRED_TO_VIEW"
          ]
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "Deprecated",
          "deprecated": true
        },
        "infoModuleData": {
          "description": "Deprecated. Use textModulesData instead.",
          "deprecated": true,
          "$ref": "InfoModuleData"
        }
      },
      "id": "GiftCardClass"
    },
    "FieldSelector": {
      "type": "object",
      "properties": {
        "fields": {
          "items": {
            "$ref": "FieldReference"
          },
          "description": "If more than one reference is supplied, then the first one that references a non-empty field will be displayed.",
          "type": "array"
        }
      },
      "id": "FieldSelector",
      "description": "Custom field selector to use with field overrides."
    },
    "ActivationStatus": {
      "type": "object",
      "properties": {
        "state": {
          "enumDescriptions": [
            "",
            "Not-Activated, this is the default status",
            "Legacy alias for `NOT_ACTIVATED`. Deprecated.",
            "Activated",
            "Legacy alias for `ACTIVATED`. Deprecated."
          ],
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_STATE",
            "NOT_ACTIVATED",
            "not_activated",
            "ACTIVATED",
            "activated"
          ]
        }
      },
      "id": "ActivationStatus",
      "description": "The activation status of the object. This field includes activation status if valuable supports activation."
    },
    "InfoModuleData": {
      "type": "object",
      "properties": {
        "labelValueRows": {
          "type": "array",
          "description": "A list of collections of labels and values. These will be displayed one after the other in a singular column.",
          "items": {
            "$ref": "LabelValueRow"
          }
        },
        "showLastUpdateTime": {
          "deprecated": true,
          "type": "boolean"
        }
      },
      "id": "InfoModuleData"
    },
    "ValueAddedModuleData": {
      "id": "ValueAddedModuleData",
      "description": "Data for Value Added module. Required fields are header and uri.",
      "properties": {
        "viewConstraints": {
          "$ref": "ModuleViewConstraints",
          "description": "Constraints that all must be met for the module to be shown."
        },
        "uri": {
          "description": "URI that the module leads to on click. This can be a web link or a deep link as mentioned in https://developer.android.com/training/app-links/deep-linking.",
          "type": "string"
        },
        "header": {
          "$ref": "LocalizedString",
          "description": "Header to be displayed on the module. Character limit is 60 and longer strings will be truncated."
        },
        "sortIndex": {
          "type": "integer",
          "format": "int32",
          "description": "The index for sorting the modules. Modules with a lower sort index are shown before modules with a higher sort index. If unspecified, the sort index is assumed to be INT_MAX. For two modules with the same index, the sorting behavior is undefined."
        },
        "image": {
          "$ref": "Image",
          "description": "Image to be displayed on the module. Recommended image ratio is 1:1. Images will be resized to fit this ratio."
        },
        "body": {
          "description": "Body to be displayed on the module. Character limit is 50 and longer strings will be truncated.",
          "$ref": "LocalizedString"
        }
      },
      "type": "object"
    },
    "AirportInfo": {
      "properties": {
        "terminal": {
          "description": "Terminal name. Eg: \"INTL\" or \"I\"",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"walletobjects#airportInfo\"`.",
          "deprecated": true,
          "type": "string"
        },
        "airportNameOverride": {
          "$ref": "LocalizedString",
          "description": "Optional field that overrides the airport city name defined by IATA. By default, Google takes the `airportIataCode` provided and maps it to the official airport city name defined by IATA. Official IATA airport city names can be found at IATA airport city names website. For example, for the airport IATA code \"LTN\", IATA website tells us that the corresponding airport city is \"London\". If this field is not populated, Google would display \"London\". However, populating this field with a custom name (eg: \"London Luton\") would override it."
        },
        "airportIataCode": {
          "description": "Three character IATA airport code. This is a required field for `origin` and `destination`. Eg: \"SFO\"",
          "type": "string"
        },
        "gate": {
          "description": "A name of the gate. Eg: \"B59\" or \"59\"",
          "type": "string"
        }
      },
      "id": "AirportInfo",
      "type": "object"
    },
    "GenericClassListResponse": {
      "id": "GenericClassListResponse",
      "description": "List response which contains the list of all generic classes for a given issuer ID.",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "GenericClass"
          },
          "description": "Resources corresponding to the list request."
        },
        "pagination": {
          "description": "Pagination of the response.",
          "$ref": "Pagination"
        }
      },
      "type": "object"
    },
    "GiftCardClassListResponse": {
      "id": "GiftCardClassListResponse",
      "properties": {
        "resources": {
          "type": "array",
          "description": "Resources corresponding to the list request.",
          "items": {
            "$ref": "GiftCardClass"
          }
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "type": "object"
    },
    "OfferClassListResponse": {
      "id": "OfferClassListResponse",
      "properties": {
        "resources": {
          "type": "array",
          "items": {
            "$ref": "OfferClass"
          },
          "description": "Resources corresponding to the list request."
        },
        "pagination": {
          "$ref": "Pagination",
          "description": "Pagination of the response."
        }
      },
      "type": "object"
    },
    "UploadPrivateImageRequest": {
      "id": "UploadPrivateImageRequest",
      "description": "Request to upload a private image to use in a pass.",
      "properties": {},
      "type": "object"
    },
    "UploadPrivateImageResponse": {
      "type": "object",
      "properties": {
        "privateImageId": {
          "description": "Unique ID of the uploaded image to be referenced later in Image.private_image_id.",
          "type": "string"
        }
      },
      "id": "UploadPrivateImageResponse",
      "description": "Response for uploading the private image."
    },
    "TransitClass": {
      "properties": {
        "languageOverride": {
          "description": "If this field is present, transit tickets served to a user's device will always be in this language. Represents the BCP 47 language tag. Example values are \"en-US\", \"en-GB\", \"de\", or \"de-AT\".",
          "type": "string"
        },
        "customOtherRestrictionsLabel": {
          "description": "A custom label to use for the other restrictions value (`transitObject.ticketRestrictions.otherRestrictions`).",
          "$ref": "LocalizedString"
        },
        "customRouteRestrictionsLabel": {
          "description": "A custom label to use for the route restrictions value (`transitObject.ticketRestrictions.routeRestrictions`).",
          "$ref": "LocalizedString"
        },
        "customRouteRestrictionsDetailsLabel": {
          "description": "A custom label to use for the route restrictions details value (`transitObject.ticketRestrictions.routeRestrictionsDetails`).",
          "$ref": "LocalizedString"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "LatLongPoint"
          },
          "description": "Note: This field is currently not supported to trigger geo notifications.",
          "deprecated": true
        },
        "issuerName": {
          "description": "Required. The issuer name. Recommended maximum length is 20 characters to ensure full string is displayed on smaller screens.",
          "type": "string"
        },
        "customConcessionCategoryLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the transit concession category value (`transitObject.concessionCategory`)."
        },
        "customDiscountMessageLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the transit discount message value (`transitObject.purchaseDetails.ticketCost.discountMessage`)."
        },
        "transitType": {
          "enumDeprecated": [
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ],
          "description": "Required. The type of transit this class represents, such as \"bus\".",
          "enumDescriptions": [
            "",
            "",
            "Legacy alias for `BUS`. Deprecated.",
            "",
            "Legacy alias for `RAIL`. Deprecated.",
            "",
            "Legacy alias for `TRAM`. Deprecated.",
            "",
            "Legacy alias for `FERRY`. Deprecated.",
            "",
            "Legacy alias for `OTHER`. Deprecated."
          ],
          "type": "string",
          "enum": [
            "TRANSIT_TYPE_UNSPECIFIED",
            "BUS",
            "bus",
            "RAIL",
            "rail",
            "TRAM",
            "tram",
            "FERRY",
            "ferry",
            "OTHER",
            "other"
          ]
        },
        "customPlatformLabel": {
          "$ref": "LocalizedString",
          "description": "A custom label to use for the boarding platform value (`transitObject.ticketLeg.platform`)."
        },
        "wideLogo": {
          "$ref": "Image",
          "description": "The wide logo of the ticket. When provided, this will be used in place of the logo in the top left of the card view."
        },
        "notifyPreference": {
          "enumDescriptions": [
            "Default behavior is no notifications sent.",
            "This value will result in a notification being sent, if the updated fields are part of an allowlist."
          ],
          "type": "string",
          "description": "Whether or not field updates to this class should trigger notifications. When set to NOTIFY, we will attempt to trigger a field update notification to users. These notifications will only be sent to users if the field is part of an allowlist. If set to DO_NOT_NOTIFY or NOTIFICATION_SETTINGS_UNSPECIFIED, no notification will be triggered. This setting is ephemeral and needs to be set with each PATCH or UPDATE request, otherwise a notification will not be triggered.",
          "enum": [
            "NOTIFICATION_SETTINGS_FOR_UPDATES_UNSPECIFIED",
            "NOTIFY_ON_UPDATE"
          ]
        },
        "review": {
          "$ref": "Review",
          "description": "The review comments set by the platform when a class is marked `approved` or `rejected`."
        },
[...]
