{
  "protocol": "rest",
  "name": "webfonts",
  "canonicalName": "Webfonts",
  "revision": "20260311",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameters": {
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "capability": {
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "repeated": true,
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "location": "query",
              "type": "string",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ]
            },
            "category": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            },
            "sort": {
              "location": "query",
              "type": "string",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "description": "Enables sorting of the list."
            },
            "subset": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families."
            }
          },
          "response": {
            "$ref": "WebfontList"
          },
          "flatPath": "v1/webfonts",
          "parameterOrder": [],
          "path": "v1/webfonts",
          "id": "webfonts.webfonts.list"
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "version": "v1",
  "batchPath": "batch",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "basePath": "",
  "servicePath": "",
  "rootUrl": "https://webfonts.googleapis.com/",
  "ownerDomain": "google.com",
  "schemas": {
    "WebfontList": {
      "id": "WebfontList",
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          }
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API."
    },
    "Axis": {
      "id": "Axis",
      "type": "object",
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        },
        "start": {
          "type": "number",
          "format": "float",
          "description": "minimum value"
        }
      },
      "description": "Metadata for a variable font axis."
    },
    "Tag": {
      "properties": {
        "weight": {
          "description": "The weight of the tag.",
          "type": "number",
          "format": "float"
        },
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        }
      },
      "description": "Metadata for a tag.",
      "id": "Tag",
      "type": "object"
    },
    "Webfont": {
      "properties": {
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "colorCapabilities": {
          "type": "array",
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          }
        },
        "files": {
          "type": "object",
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          },
          "type": "array"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "variants": {
          "type": "array",
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "subsets": {
          "type": "array",
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        }
      },
      "description": "Metadata describing a family of fonts.",
      "id": "Webfont",
      "type": "object"
    }
  },
  "baseUrl": "https://webfonts.googleapis.com/",
  "discoveryVersion": "v1",
  "kind": "discovery#restDescription",
  "id": "webfonts:v1",
  "ownerName": "Google",
  "title": "Web Fonts Developer API",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "parameters": {
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    }
  },
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google."
}