{
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "ownerName": "Google",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    }
  },
  "baseUrl": "https://webfonts.googleapis.com/",
  "title": "Web Fonts Developer API",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "version": "v1",
  "rootUrl": "https://webfonts.googleapis.com/",
  "servicePath": "",
  "batchPath": "batch",
  "protocol": "rest",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "path": "v1/webfonts",
          "httpMethod": "GET",
          "parameterOrder": [],
          "response": {
            "$ref": "WebfontList"
          },
          "id": "webfonts.webfonts.list",
          "flatPath": "v1/webfonts",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameters": {
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "sort": {
              "location": "query",
              "type": "string",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "description": "Enables sorting of the list.",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ]
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "location": "query",
              "type": "string",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "repeated": true
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query",
              "type": "string",
              "repeated": true
            }
          }
        }
      }
    }
  },
  "id": "webfonts:v1",
  "revision": "20260304",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "discoveryVersion": "v1",
  "basePath": "",
  "canonicalName": "Webfonts",
  "name": "webfonts",
  "kind": "discovery#restDescription",
  "schemas": {
    "Axis": {
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "start": {
          "description": "minimum value",
          "type": "number",
          "format": "float"
        },
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        }
      },
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "type": "object"
    },
    "WebfontList": {
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array",
          "items": {
            "$ref": "Webfont"
          }
        }
      },
      "id": "WebfontList",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object"
    },
    "Tag": {
      "id": "Tag",
      "description": "Metadata for a tag.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "format": "float",
          "description": "The weight of the tag.",
          "type": "number"
        }
      }
    },
    "Webfont": {
      "id": "Webfont",
      "description": "Metadata describing a family of fonts.",
      "type": "object",
      "properties": {
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "files": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object"
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "type": "array",
          "items": {
            "$ref": "Axis"
          }
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "variants": {
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font.",
          "type": "array"
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font.",
          "type": "array"
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        }
      }
    }
  },
  "ownerDomain": "google.com"
}