{
  "servicePath": "",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "rootUrl": "https://webfonts.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "default": "json"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "discoveryVersion": "v1",
  "canonicalName": "Webfonts",
  "protocol": "rest",
  "revision": "20260415",
  "batchPath": "batch",
  "name": "webfonts",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "ownerName": "Google",
  "ownerDomain": "google.com",
  "baseUrl": "https://webfonts.googleapis.com/",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "title": "Web Fonts Developer API",
  "basePath": "",
  "version": "v1",
  "kind": "discovery#restDescription",
  "id": "webfonts:v1",
  "schemas": {
    "Tag": {
      "description": "Metadata for a tag.",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the tag."
        },
        "weight": {
          "type": "number",
          "description": "The weight of the tag.",
          "format": "float"
        }
      },
      "type": "object",
      "id": "Tag"
    },
    "Webfont": {
      "id": "Webfont",
      "description": "Metadata describing a family of fonts.",
      "properties": {
        "category": {
          "type": "string",
          "description": "The category of the font."
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "axes": {
          "type": "array",
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts."
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "subsets": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font."
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "variants": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font."
        },
        "menu": {
          "type": "string",
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name"
        }
      },
      "type": "object"
    },
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "properties": {
        "start": {
          "type": "number",
          "description": "minimum value",
          "format": "float"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "type": "number",
          "description": "maximum value",
          "format": "float"
        }
      },
      "type": "object",
      "id": "Axis"
    },
    "WebfontList": {
      "type": "object",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Webfont"
          },
          "description": "The list of fonts currently served by the Google Fonts API."
        }
      },
      "id": "WebfontList"
    }
  },
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "response": {
            "$ref": "WebfontList"
          },
          "flatPath": "v1/webfonts",
          "id": "webfonts.webfonts.list",
          "path": "v1/webfonts",
          "parameterOrder": [],
          "httpMethod": "GET",
          "parameters": {
            "sort": {
              "type": "string",
              "description": "Enables sorting of the list.",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "location": "query"
            },
            "capability": {
              "repeated": true,
              "location": "query",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "type": "string",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent."
            },
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "family": {
              "repeated": true,
              "type": "string",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "location": "query"
            }
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API."
        }
      }
    }
  },
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api"
}