{
  "discoveryVersion": "v1",
  "title": "Web Fonts Developer API",
  "basePath": "",
  "name": "webfonts",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "batchPath": "batch",
  "version": "v1",
  "id": "webfonts:v1",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "ownerDomain": "google.com",
  "kind": "discovery#restDescription",
  "revision": "20260304",
  "canonicalName": "Webfonts",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "parameters": {
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    }
  },
  "schemas": {
    "Webfont": {
      "id": "Webfont",
      "properties": {
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          },
          "type": "array"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "variants": {
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "subsets": {
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "family": {
          "type": "string",
          "description": "The name of the font."
        },
        "kind": {
          "type": "string",
          "description": "This kind represents a webfont object in the webfonts service."
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "items": {
            "$ref": "Tag"
          },
          "type": "array"
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata describing a family of fonts."
    },
    "Axis": {
      "properties": {
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        },
        "start": {
          "type": "number",
          "format": "float",
          "description": "minimum value"
        },
        "tag": {
          "type": "string",
          "description": "tag name."
        }
      },
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "type": "object"
    },
    "WebfontList": {
      "type": "object",
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "id": "WebfontList",
      "properties": {
        "kind": {
          "type": "string",
          "description": "This kind represents a list of webfont objects in the webfonts service."
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          },
          "type": "array"
        }
      }
    },
    "Tag": {
      "type": "object",
      "description": "Metadata for a tag.",
      "id": "Tag",
      "properties": {
        "weight": {
          "description": "The weight of the tag.",
          "type": "number",
          "format": "float"
        },
        "name": {
          "type": "string",
          "description": "The name of the tag."
        }
      }
    }
  },
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "flatPath": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          },
          "parameters": {
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "type": "string",
              "location": "query"
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "capability": {
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "location": "query",
              "type": "string",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "repeated": true,
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ]
            },
            "subset": {
              "location": "query",
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "type": "string"
            },
            "sort": {
              "location": "query",
              "description": "Enables sorting of the list.",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ]
            }
          },
          "parameterOrder": [],
          "path": "v1/webfonts",
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "id": "webfonts.webfonts.list",
          "httpMethod": "GET"
        }
      }
    }
  },
  "rootUrl": "https://webfonts.googleapis.com/",
  "baseUrl": "https://webfonts.googleapis.com/",
  "servicePath": ""
}