{
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "rootUrl": "https://webfonts.googleapis.com/",
  "canonicalName": "Webfonts",
  "id": "webfonts:v1",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "revision": "20260415",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "basePath": "",
  "name": "webfonts",
  "batchPath": "batch",
  "protocol": "rest",
  "baseUrl": "https://webfonts.googleapis.com/",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerName": "Google",
  "version": "v1",
  "servicePath": "",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "parameters": {
            "family": {
              "location": "query",
              "repeated": true,
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "type": "string"
            },
            "category": {
              "location": "query",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "type": "string"
            },
            "capability": {
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "location": "query",
              "repeated": true,
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "type": "string"
            },
            "sort": {
              "description": "Enables sorting of the list.",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string",
              "location": "query",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ]
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "parameterOrder": [],
          "response": {
            "$ref": "WebfontList"
          },
          "path": "v1/webfonts",
          "flatPath": "v1/webfonts",
          "id": "webfonts.webfonts.list"
        }
      }
    }
  },
  "parameters": {
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    }
  },
  "schemas": {
    "Webfont": {
      "properties": {
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "type": "array",
          "items": {
            "$ref": "Axis"
          }
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "variants": {
          "description": "The available variants for the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "subsets": {
          "description": "The scripts supported by the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Metadata describing a family of fonts.",
      "type": "object",
      "id": "Webfont"
    },
    "WebfontList": {
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array",
          "items": {
            "$ref": "Webfont"
          }
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object",
      "id": "WebfontList"
    },
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "properties": {
        "end": {
          "description": "maximum value",
          "type": "number",
          "format": "float"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "start": {
          "format": "float",
          "description": "minimum value",
          "type": "number"
        }
      },
      "id": "Axis"
    },
    "Tag": {
      "id": "Tag",
      "properties": {
        "weight": {
          "format": "float",
          "description": "The weight of the tag.",
          "type": "number"
        },
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        }
      },
      "description": "Metadata for a tag.",
      "type": "object"
    }
  },
  "title": "Web Fonts Developer API"
}