{
  "name": "webfonts",
  "servicePath": "",
  "ownerName": "Google",
  "canonicalName": "Webfonts",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "revision": "20260311",
  "version": "v1",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "path": "v1/webfonts",
          "httpMethod": "GET",
          "parameters": {
            "sort": {
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string",
              "description": "Enables sorting of the list.",
              "location": "query",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ]
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "capability": {
              "repeated": true,
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "location": "query",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "type": "string",
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ]
            },
            "category": {
              "location": "query",
              "type": "string",
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families."
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true,
              "type": "string",
              "location": "query"
            }
          },
          "id": "webfonts.webfonts.list",
          "parameterOrder": [],
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "flatPath": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          }
        }
      }
    }
  },
  "basePath": "",
  "id": "webfonts:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "protocol": "rest",
  "batchPath": "batch",
  "title": "Web Fonts Developer API",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "parameters": {
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "location": "query",
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks."
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    }
  },
  "schemas": {
    "Webfont": {
      "id": "Webfont",
      "properties": {
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "variants": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font."
        },
        "tags": {
          "description": "The tags that apply to this family.",
          "type": "array",
          "items": {
            "$ref": "Tag"
          }
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "subsets": {
          "description": "The scripts supported by the font.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "axes": {
          "description": "Axis for variable fonts.",
          "type": "array",
          "items": {
            "$ref": "Axis"
          }
        },
        "files": {
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        }
      },
      "description": "Metadata describing a family of fonts.",
      "type": "object"
    },
    "Axis": {
      "id": "Axis",
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "description": "maximum value",
          "format": "float",
          "type": "number"
        },
        "start": {
          "description": "minimum value",
          "format": "float",
          "type": "number"
        }
      },
      "description": "Metadata for a variable font axis.",
      "type": "object"
    },
    "Tag": {
      "id": "Tag",
      "properties": {
        "weight": {
          "description": "The weight of the tag.",
          "format": "float",
          "type": "number"
        },
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        }
      },
      "description": "Metadata for a tag.",
      "type": "object"
    },
    "WebfontList": {
      "type": "object",
      "id": "WebfontList",
      "properties": {
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "type": "array",
          "items": {
            "$ref": "Webfont"
          }
        },
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API."
    }
  },
  "baseUrl": "https://webfonts.googleapis.com/",
  "rootUrl": "https://webfonts.googleapis.com/",
  "kind": "discovery#restDescription",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/"
}