{
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "version": "v1",
  "schemas": {
    "WebfontList": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        },
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          },
          "type": "array"
        }
      },
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "id": "WebfontList"
    },
    "Webfont": {
      "id": "Webfont",
      "description": "Metadata describing a family of fonts.",
      "type": "object",
      "properties": {
        "files": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map.",
          "type": "object"
        },
        "subsets": {
          "items": {
            "type": "string"
          },
          "description": "The scripts supported by the font.",
          "type": "array"
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "axes": {
          "items": {
            "$ref": "Axis"
          },
          "description": "Axis for variable fonts.",
          "type": "array"
        },
        "colorCapabilities": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The color format(s) available for this family."
        },
        "variants": {
          "type": "array",
          "description": "The available variants for the font.",
          "items": {
            "type": "string"
          }
        },
        "tags": {
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family.",
          "type": "array"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        }
      }
    },
    "Axis": {
      "id": "Axis",
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "properties": {
        "start": {
          "format": "float",
          "type": "number",
          "description": "minimum value"
        },
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "end": {
          "type": "number",
          "format": "float",
          "description": "maximum value"
        }
      }
    },
    "Tag": {
      "id": "Tag",
      "description": "Metadata for a tag.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "description": "The weight of the tag.",
          "type": "number",
          "format": "float"
        }
      }
    }
  },
  "ownerName": "Google",
  "discoveryVersion": "v1",
  "servicePath": "",
  "ownerDomain": "google.com",
  "rootUrl": "https://webfonts.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "id": "webfonts.webfonts.list",
          "httpMethod": "GET",
          "parameters": {
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "type": "string",
              "location": "query"
            },
            "capability": {
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ],
              "type": "string",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "location": "query",
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "repeated": true
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "family": {
              "type": "string",
              "location": "query",
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true
            },
            "sort": {
              "location": "query",
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "type": "string",
              "description": "Enables sorting of the list."
            }
          },
          "flatPath": "v1/webfonts",
          "parameterOrder": [],
          "path": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API."
        }
      }
    }
  },
  "name": "webfonts",
  "baseUrl": "https://webfonts.googleapis.com/",
  "canonicalName": "Webfonts",
  "batchPath": "batch",
  "basePath": "",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "kind": "discovery#restDescription",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    }
  },
  "id": "webfonts:v1",
  "protocol": "rest",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "title": "Web Fonts Developer API",
  "revision": "20260311"
}