{
  "canonicalName": "Webfonts",
  "protocol": "rest",
  "title": "Web Fonts Developer API",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "documentationLink": "https://developers.google.com/fonts/docs/developer_api",
  "name": "webfonts",
  "ownerDomain": "google.com",
  "basePath": "",
  "revision": "20260311",
  "parameters": {
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "location": "query",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    }
  },
  "mtlsRootUrl": "https://webfonts.mtls.googleapis.com/",
  "ownerName": "Google",
  "schemas": {
    "Axis": {
      "description": "Metadata for a variable font axis.",
      "type": "object",
      "id": "Axis",
      "properties": {
        "tag": {
          "description": "tag name.",
          "type": "string"
        },
        "start": {
          "type": "number",
          "description": "minimum value",
          "format": "float"
        },
        "end": {
          "description": "maximum value",
          "format": "float",
          "type": "number"
        }
      }
    },
    "WebfontList": {
      "description": "Response containing the list of fonts currently served by the Google Fonts API.",
      "type": "object",
      "id": "WebfontList",
      "properties": {
        "items": {
          "description": "The list of fonts currently served by the Google Fonts API.",
          "items": {
            "$ref": "Webfont"
          },
          "type": "array"
        },
        "kind": {
          "description": "This kind represents a list of webfont objects in the webfonts service.",
          "type": "string"
        }
      }
    },
    "Tag": {
      "description": "Metadata for a tag.",
      "id": "Tag",
      "properties": {
        "name": {
          "description": "The name of the tag.",
          "type": "string"
        },
        "weight": {
          "format": "float",
          "description": "The weight of the tag.",
          "type": "number"
        }
      },
      "type": "object"
    },
    "Webfont": {
      "type": "object",
      "id": "Webfont",
      "properties": {
        "axes": {
          "description": "Axis for variable fonts.",
          "items": {
            "$ref": "Axis"
          },
          "type": "array"
        },
        "lastModified": {
          "description": "The date (format \"yyyy-MM-dd\") the font was modified for the last time.",
          "type": "string"
        },
        "colorCapabilities": {
          "description": "The color format(s) available for this family.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "tags": {
          "type": "array",
          "items": {
            "$ref": "Tag"
          },
          "description": "The tags that apply to this family."
        },
        "family": {
          "description": "The name of the font.",
          "type": "string"
        },
        "subsets": {
          "description": "The scripts supported by the font.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "category": {
          "description": "The category of the font.",
          "type": "string"
        },
        "version": {
          "description": "The font version.",
          "type": "string"
        },
        "kind": {
          "description": "This kind represents a webfont object in the webfonts service.",
          "type": "string"
        },
        "files": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "The font files (with all supported scripts) for each one of the available variants, as a key : value map."
        },
        "menu": {
          "description": "Font URL for menu subset, a subset of the font that is enough to display the font name",
          "type": "string"
        },
        "variants": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The available variants for the font."
        }
      },
      "description": "Metadata describing a family of fonts."
    }
  },
  "rootUrl": "https://webfonts.googleapis.com/",
  "resources": {
    "webfonts": {
      "methods": {
        "list": {
          "id": "webfonts.webfonts.list",
          "parameterOrder": [],
          "flatPath": "v1/webfonts",
          "parameters": {
            "category": {
              "description": "Filters by Webfont.category, if category is found in Webfont.categories. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "family": {
              "description": "Filters by Webfont.family, using literal match. If not set, returns all families",
              "repeated": true,
              "location": "query",
              "type": "string"
            },
            "subset": {
              "description": "Filters by Webfont.subset, if subset is found in Webfont.subsets. If not set, returns all families.",
              "location": "query",
              "type": "string"
            },
            "sort": {
              "enum": [
                "SORT_UNDEFINED",
                "ALPHA",
                "DATE",
                "POPULARITY",
                "STYLE",
                "TRENDING"
              ],
              "description": "Enables sorting of the list.",
              "enumDescriptions": [
                "No sorting specified, use the default sorting method.",
                "Sort alphabetically",
                "Sort by date added",
                "Sort by popularity",
                "Sort by number of styles",
                "Sort by trending"
              ],
              "location": "query",
              "type": "string"
            },
            "capability": {
              "enum": [
                "CAPABILITY_UNSPECIFIED",
                "WOFF2",
                "VF",
                "FAMILY_TAGS"
              ],
              "location": "query",
              "type": "string",
              "description": "Controls the font urls in `Webfont.files`, by default, static ttf fonts are sent.",
              "repeated": true,
              "enumDescriptions": [
                "Default means static ttf fonts.",
                "Use WOFF2(Compressed)instead of ttf.",
                "Prefer variable font files instead of static fonts instantiated at standard weights.",
                "Include tags that apply to the entire family in the response."
              ]
            }
          },
          "description": "Retrieves the list of fonts currently served by the Google Fonts Developer API.",
          "httpMethod": "GET",
          "path": "v1/webfonts",
          "response": {
            "$ref": "WebfontList"
          }
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "version": "v1",
  "servicePath": "",
  "baseUrl": "https://webfonts.googleapis.com/",
  "description": "The Google Web Fonts Developer API lets you retrieve information about web fonts served by Google.",
  "id": "webfonts:v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  }
}