{
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "batchPath": "batch",
  "id": "websecurityscanner:v1beta",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "revision": "20251207",
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an existing ScanConfig and its child resources.",
              "path": "v1beta/{+name}",
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$"
                }
              },
              "httpMethod": "DELETE",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "websecurityscanner.projects.scanConfigs.delete"
            },
            "get": {
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta/{+name}",
              "id": "websecurityscanner.projects.scanConfigs.get",
              "response": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "name": {
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string",
                  "required": true
                }
              },
              "description": "Gets a ScanConfig.",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "start": {
              "response": {
                "$ref": "ScanRun"
              },
              "id": "websecurityscanner.projects.scanConfigs.start",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "required": true
                }
              },
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "description": "Start a ScanRun according to the given ScanConfig.",
              "path": "v1beta/{+name}:start",
              "httpMethod": "POST"
            },
            "list": {
              "id": "websecurityscanner.projects.scanConfigs.list",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists ScanConfigs under a given project.",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                },
                "parent": {
                  "description": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'.",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path",
                  "type": "string"
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value."
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs",
              "path": "v1beta/{+parent}/scanConfigs",
              "parameterOrder": [
                "parent"
              ]
            },
            "create": {
              "id": "websecurityscanner.projects.scanConfigs.create",
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$"
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "parent"
              ],
              "description": "Creates a new ScanConfig.",
              "path": "v1beta/{+parent}/scanConfigs",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs"
            },
            "patch": {
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                },
                "name": {
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true,
                  "location": "path",
                  "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
                  "type": "string"
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "path": "v1beta/{+name}",
              "httpMethod": "PATCH",
              "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "scanRuns": {
              "methods": {
                "list": {
                  "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "parameters": {
                    "pageSize": {
                      "description": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                      "location": "path",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                    }
                  },
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "path": "v1beta/{+parent}/scanRuns",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  }
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "description": "Gets a ScanRun.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                    }
                  },
                  "httpMethod": "GET",
                  "path": "v1beta/{+name}",
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "response": {
                    "$ref": "ScanRun"
                  }
                },
                "stop": {
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                  "path": "v1beta/{+name}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "httpMethod": "POST"
                }
              },
              "resources": {
                "findings": {
                  "methods": {
                    "get": {
                      "path": "v1beta/{+name}",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                      "response": {
                        "$ref": "Finding"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a Finding.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "description": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'."
                        }
                      }
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "parameters": {
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                      "path": "v1beta/{+parent}/findings",
                      "description": "List Findings under a given ScanRun."
                    }
                  }
                },
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "path": "v1beta/{+parent}/findingTypeStats",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "parent": {
                          "required": true,
                          "location": "path",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "description": "List all FindingTypeStats under a given ScanRun.",
                      "parameterOrder": [
                        "parent"
                      ]
                    }
                  }
                },
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                        },
                        "pageSize": {
                          "description": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "type": "string"
                        }
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/crawledUrls",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                      "httpMethod": "GET",
                      "description": "List CrawledUrls under a given ScanRun.",
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version_module": true,
  "basePath": "",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "servicePath": "",
  "canonicalName": "WebSecurityScanner",
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "schemas": {
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "StartScanRunRequest": {
      "id": "StartScanRunRequest",
      "type": "object",
      "description": "Request for the `StartScanRun` method.",
      "properties": {}
    },
    "Header": {
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Header value."
        }
      },
      "id": "Header",
      "type": "object",
      "description": "Describes a HTTP Header."
    },
    "Schedule": {
      "id": "Schedule",
      "properties": {
        "scheduleTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately."
        },
        "intervalDurationDays": {
          "description": "Required. The duration of time between executions in days.",
          "format": "int32",
          "type": "integer"
        }
      },
      "description": "Scan schedule configuration.",
      "type": "object"
    },
    "Authentication": {
      "id": "Authentication",
      "type": "object",
      "description": "Scan authentication configuration.",
      "properties": {
        "iapCredential": {
          "description": "Authentication using Identity-Aware-Proxy (IAP).",
          "$ref": "IapCredential"
        },
        "customAccount": {
          "$ref": "CustomAccount",
          "description": "Authentication using a custom account."
        },
        "googleAccount": {
          "description": "Authentication using a Google account.",
          "deprecated": true,
          "$ref": "GoogleAccount"
        }
      }
    },
    "IapTestServiceAccountInfo": {
      "description": "Describes authentication configuration when Web-Security-Scanner service account is added in Identity-Aware-Proxy (IAP) access policies.",
      "type": "object",
      "id": "IapTestServiceAccountInfo",
      "properties": {
        "targetAudienceClientId": {
          "description": "Required. Describes OAuth2 Client ID of resources protected by Identity-Aware-Proxy(IAP).",
          "type": "string"
        }
      }
    },
    "Xss": {
      "type": "object",
      "description": "Information reported for an XSS.",
      "properties": {
        "errorMessage": {
          "description": "An error message generated by a javascript breakage.",
          "type": "string"
        },
        "stackTraces": {
          "description": "Stack traces leading to the point where the XSS occurred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "Xss"
    },
    "Form": {
      "type": "object",
      "id": "Form",
      "description": "! Information about a vulnerability with an HTML.",
      "properties": {
        "actionUri": {
          "description": "! The URI where to send the form when it's submitted.",
          "type": "string"
        },
        "fields": {
          "description": "! The names of form fields related to the vulnerability.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "FindingTypeStats": {
      "properties": {
        "findingType": {
          "description": "The finding type associated with the stats.",
          "type": "string"
        },
        "findingCount": {
          "type": "integer",
          "description": "The count of findings belonging to this finding type.",
          "format": "int32"
        }
      },
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
      "type": "object",
      "id": "FindingTypeStats"
    },
    "GoogleAccount": {
      "description": "Describes authentication configuration that uses a Google account.",
      "id": "GoogleAccount",
      "deprecated": true,
      "properties": {
        "username": {
          "description": "Required. The user name of the Google account.",
          "type": "string"
        },
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs."
        }
      },
      "type": "object"
    },
    "ListFindingsResponse": {
      "type": "object",
      "description": "Response for the `ListFindings` method.",
      "id": "ListFindingsResponse",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "findings": {
          "description": "The list of Findings returned.",
          "items": {
            "$ref": "Finding"
          },
          "type": "array"
        }
      }
    },
    "StopScanRunRequest": {
      "properties": {},
      "description": "Request for the `StopScanRun` method.",
      "id": "StopScanRunRequest",
      "type": "object"
    },
    "Xxe": {
      "id": "Xxe",
      "description": "Information reported for an XXE.",
      "properties": {
        "payloadValue": {
          "type": "string",
          "description": "The XML string that triggered the XXE vulnerability. Non-payload values might be redacted."
        },
        "payloadLocation": {
          "enum": [
            "LOCATION_UNSPECIFIED",
            "COMPLETE_REQUEST_BODY"
          ],
          "enumDescriptions": [
            "Unknown Location.",
            "The XML payload replaced the complete request body."
          ],
          "description": "Location within the request where the payload was placed.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListCrawledUrlsResponse": {
      "properties": {
        "crawledUrls": {
          "type": "array",
          "description": "The list of CrawledUrls returned.",
          "items": {
            "$ref": "CrawledUrl"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "Response for the `ListCrawledUrls` method.",
      "type": "object",
      "id": "ListCrawledUrlsResponse"
    },
    "CustomAccount": {
      "id": "CustomAccount",
      "description": "Describes authentication configuration that uses a custom account.",
      "properties": {
        "password": {
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. The user name of the custom account."
        },
        "loginUrl": {
          "description": "Required. The login form URL of the website.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VulnerableParameters": {
      "properties": {
        "parameterNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The vulnerable parameter names."
        }
      },
      "type": "object",
      "description": "Information about vulnerable request parameters.",
      "id": "VulnerableParameters"
    },
    "ScanConfig": {
      "id": "ScanConfig",
      "properties": {
        "maxQps": {
          "type": "integer",
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error.",
          "format": "int32"
        },
        "schedule": {
          "description": "The schedule of the ScanConfig.",
          "$ref": "Schedule"
        },
        "displayName": {
          "type": "string",
          "description": "Required. The user provided display name of the ScanConfig."
        },
        "ignoreHttpStatusErrors": {
          "type": "boolean",
          "description": "Whether to keep scanning even if most requests return HTTP error codes."
        },
        "blacklistPatterns": {
          "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exportToSecurityCommandCenter": {
          "type": "string",
          "enumDescriptions": [
            "Use default, which is ENABLED.",
            "Export results of this scan to Security Command Center.",
            "Do not export results of this scan to Security Command Center."
          ],
          "enum": [
            "EXPORT_TO_SECURITY_COMMAND_CENTER_UNSPECIFIED",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Controls export of scan configurations and results to Security Command Center."
        },
        "staticIpScan": {
          "type": "boolean",
          "description": "Whether the scan configuration has enabled static IP address scan feature. If enabled, the scanner will access applications from static IP addresses."
        },
        "userAgent": {
          "description": "The user agent used during scanning.",
          "type": "string",
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ],
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ]
        },
        "targetPlatforms": {
          "type": "array",
          "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default.",
          "items": {
            "enumDescriptions": [
              "The target platform is unknown. Requests with this enum value will be rejected with INVALID_ARGUMENT error.",
              "Google App Engine service.",
              "Google Compute Engine service.",
              "Google Cloud Run service.",
              "Google Cloud Function service."
            ],
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE",
              "CLOUD_RUN",
              "CLOUD_FUNCTIONS"
            ],
            "type": "string"
          }
        },
        "riskLevel": {
          "enum": [
            "RISK_LEVEL_UNSPECIFIED",
            "NORMAL",
            "LOW"
          ],
          "description": "The risk level selected for the scan",
          "type": "string",
          "enumDescriptions": [
            "Use default, which is NORMAL.",
            "Normal scanning (Recommended)",
            "Lower impact scanning"
          ]
        },
        "latestRun": {
          "description": "Latest ScanRun if available.",
          "$ref": "ScanRun"
        },
        "managedScan": {
          "description": "Whether the scan config is managed by Web Security Scanner, output only.",
          "type": "boolean"
        },
        "startingUrls": {
          "description": "Required. The starting URLs from which the scanner finds site pages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "authentication": {
          "$ref": "Authentication",
          "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system."
        }
      },
      "description": "A ScanConfig resource contains the configurations to launch a scan.",
      "type": "object"
    },
    "CrawledUrl": {
      "id": "CrawledUrl",
      "properties": {
        "body": {
          "description": "The body of the request that was used to visit the URL.",
          "type": "string"
        },
        "url": {
          "type": "string",
          "description": "The URL that was crawled."
        },
        "httpMethod": {
          "description": "The http method of the request that was used to visit the URL, in uppercase.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against."
    },
    "OutdatedLibrary": {
      "description": "Information reported for an outdated library.",
      "type": "object",
      "properties": {
        "libraryName": {
          "description": "The name of the outdated library.",
          "type": "string"
        },
        "learnMoreUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "URLs to learn more information about the vulnerabilities in the library."
        },
        "version": {
          "description": "The version number.",
          "type": "string"
        }
      },
      "id": "OutdatedLibrary"
    },
    "ListScanRunsResponse": {
      "type": "object",
      "id": "ListScanRunsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "scanRuns": {
          "type": "array",
          "items": {
            "$ref": "ScanRun"
          },
          "description": "The list of ScanRuns returned."
        }
      },
      "description": "Response for the `ListScanRuns` method."
    },
    "IapCredential": {
      "description": "Describes authentication configuration for Identity-Aware-Proxy (IAP).",
      "type": "object",
      "id": "IapCredential",
      "properties": {
        "iapTestServiceAccountInfo": {
          "$ref": "IapTestServiceAccountInfo",
          "description": "Authentication configuration when Web-Security-Scanner service account is added in Identity-Aware-Proxy (IAP) access policies."
        }
      }
    },
    "ScanRun": {
      "description": "A ScanRun is a output-only resource representing an actual run of the scan. Next id: 12",
      "properties": {
        "urlsCrawledCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now."
        },
        "executionState": {
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value should never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ],
          "description": "The execution state of the ScanRun.",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ],
          "type": "string"
        },
        "resultState": {
          "type": "string",
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ],
          "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\".",
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet finished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ]
        },
        "errorTrace": {
          "$ref": "ScanRunErrorTrace",
          "description": "If result_state is an ERROR, this field provides the primary reason for scan's termination and more details, if such are available."
        },
        "progressPercent": {
          "format": "int32",
          "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100.",
          "type": "integer"
        },
        "hasVulnerabilities": {
          "description": "Whether the scan run has found any vulnerabilities.",
          "type": "boolean"
        },
        "name": {
          "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system.",
          "type": "string"
        },
        "urlsTestedCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads."
        },
        "endTime": {
          "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user.",
          "format": "google-datetime",
          "type": "string"
        },
        "warningTraces": {
          "type": "array",
          "items": {
            "$ref": "ScanRunWarningTrace"
          },
          "description": "A list of warnings, if such are encountered during this scan run."
        },
        "startTime": {
          "type": "string",
          "description": "The time at which the ScanRun started.",
          "format": "google-datetime"
        }
      },
      "id": "ScanRun",
      "type": "object"
    },
    "ListFindingTypeStatsResponse": {
      "properties": {
        "findingTypeStats": {
          "type": "array",
          "items": {
            "$ref": "FindingTypeStats"
          },
          "description": "The list of FindingTypeStats returned."
        }
      },
      "description": "Response for the `ListFindingTypeStats` method.",
      "id": "ListFindingTypeStatsResponse",
      "type": "object"
    },
    "ListScanConfigsResponse": {
      "description": "Response for the `ListScanConfigs` method.",
      "properties": {
        "scanConfigs": {
          "type": "array",
          "description": "The list of ScanConfigs returned.",
          "items": {
            "$ref": "ScanConfig"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "id": "ListScanConfigsResponse"
    },
    "ViolatingResource": {
      "type": "object",
      "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
      "id": "ViolatingResource",
      "properties": {
        "resourceUrl": {
          "description": "URL of this violating resource.",
          "type": "string"
        },
        "contentType": {
          "type": "string",
          "description": "The MIME type of this resource."
        }
      }
    },
    "Finding": {
      "id": "Finding",
      "description": "A Finding resource represents a vulnerability instance identified during a ScanRun.",
      "properties": {
        "violatingResource": {
          "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
          "$ref": "ViolatingResource"
        },
        "description": {
          "type": "string",
          "description": "The description of the vulnerability."
        },
        "outdatedLibrary": {
          "$ref": "OutdatedLibrary",
          "description": "An addon containing information about outdated libraries."
        },
        "name": {
          "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system.",
          "type": "string"
        },
        "xss": {
          "$ref": "Xss",
          "description": "An addon containing information reported for an XSS, if any."
        },
        "form": {
          "$ref": "Form",
          "description": "An addon containing information reported for a vulnerability with an HTML form, if any."
        },
        "severity": {
          "enumDescriptions": [
            "No severity specified. The default value.",
            "Critical severity.",
            "High severity.",
            "Medium severity.",
            "Low severity."
          ],
          "type": "string",
          "enum": [
            "SEVERITY_UNSPECIFIED",
            "CRITICAL",
            "HIGH",
            "MEDIUM",
            "LOW"
          ],
          "description": "The severity level of the reported vulnerability."
        },
        "vulnerableParameters": {
          "description": "An addon containing information about request parameters which were found to be vulnerable.",
          "$ref": "VulnerableParameters"
        },
        "xxe": {
          "description": "An addon containing information reported for an XXE, if any.",
          "$ref": "Xxe"
        },
        "trackingId": {
          "type": "string",
          "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns."
        },
        "httpMethod": {
          "description": "The http method of the request that triggered the vulnerability, in uppercase.",
          "type": "string"
        },
        "reproductionUrl": {
          "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability.",
          "type": "string"
        },
        "vulnerableHeaders": {
          "$ref": "VulnerableHeaders",
          "description": "An addon containing information about vulnerable or missing HTTP headers."
        },
        "body": {
          "type": "string",
          "description": "The body of the request that triggered the vulnerability."
        },
        "findingType": {
          "description": "The type of the Finding. Detailed and up-to-date information on findings can be found here: https://cloud.google.com/security-command-center/docs/how-to-remediate-web-security-scanner",
          "type": "string"
        },
        "finalUrl": {
          "description": "The URL where the browser lands when the vulnerability is detected.",
          "type": "string"
        },
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported.",
          "type": "string"
        },
        "fuzzedUrl": {
          "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VulnerableHeaders": {
      "id": "VulnerableHeaders",
      "description": "Information about vulnerable or missing HTTP Headers.",
      "properties": {
        "headers": {
          "description": "List of vulnerable headers.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        },
        "missingHeaders": {
          "type": "array",
          "items": {
            "$ref": "Header"
          },
          "description": "List of missing headers."
        }
      },
      "type": "object"
    },
    "ScanConfigError": {
      "properties": {
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "OK",
            "INTERNAL_ERROR",
            "APPENGINE_API_BACKEND_ERROR",
            "APPENGINE_API_NOT_ACCESSIBLE",
            "APPENGINE_DEFAULT_HOST_MISSING",
            "CANNOT_USE_GOOGLE_COM_ACCOUNT",
            "CANNOT_USE_OWNER_ACCOUNT",
            "COMPUTE_API_BACKEND_ERROR",
            "COMPUTE_API_NOT_ACCESSIBLE",
            "CUSTOM_LOGIN_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT",
            "CUSTOM_LOGIN_URL_MALFORMED",
            "CUSTOM_LOGIN_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS",
            "CUSTOM_LOGIN_URL_MAPPED_TO_UNRESERVED_ADDRESS",
            "CUSTOM_LOGIN_URL_HAS_NON_ROUTABLE_IP_ADDRESS",
            "CUSTOM_LOGIN_URL_HAS_UNRESERVED_IP_ADDRESS",
            "DUPLICATE_SCAN_NAME",
            "INVALID_FIELD_VALUE",
            "FAILED_TO_AUTHENTICATE_TO_TARGET",
            "FINDING_TYPE_UNSPECIFIED",
            "FORBIDDEN_TO_SCAN_COMPUTE",
            "FORBIDDEN_UPDATE_TO_MANAGED_SCAN",
            "MALFORMED_FILTER",
            "MALFORMED_RESOURCE_NAME",
            "PROJECT_INACTIVE",
            "REQUIRED_FIELD",
            "RESOURCE_NAME_INCONSISTENT",
            "SCAN_ALREADY_RUNNING",
            "SCAN_NOT_RUNNING",
            "SEED_URL_DOES_NOT_BELONG_TO_CURRENT_PROJECT",
            "SEED_URL_MALFORMED",
            "SEED_URL_MAPPED_TO_NON_ROUTABLE_ADDRESS",
            "SEED_URL_MAPPED_TO_UNRESERVED_ADDRESS",
            "SEED_URL_HAS_NON_ROUTABLE_IP_ADDRESS",
            "SEED_URL_HAS_UNRESERVED_IP_ADDRESS",
            "SERVICE_ACCOUNT_NOT_CONFIGURED",
            "TOO_MANY_SCANS",
            "UNABLE_TO_RESOLVE_PROJECT_INFO",
            "UNSUPPORTED_BLACKLIST_PATTERN_FORMAT",
            "UNSUPPORTED_FILTER",
            "UNSUPPORTED_FINDING_TYPE",
            "UNSUPPORTED_URL_SCHEME",
            "CLOUD_ASSET_INVENTORY_ASSET_NOT_FOUND"
          ],
          "enumDescriptions": [
            "There is no error.",
            "There is no error.",
            "Indicates an internal server error. Please DO NOT USE THIS ERROR CODE unless the root cause is truly unknown.",
            "One of the seed URLs is an App Engine URL but we cannot validate the scan settings due to an App Engine API backend error.",
            "One of the seed URLs is an App Engine URL but we cannot access the App Engine API to validate scan settings.",
            "One of the seed URLs is an App Engine URL but the Default Host of the App Engine is not set.",
            "Google corporate accounts can not be used for scanning.",
            "The account of the scan creator can not be used for scanning.",
            "This scan targets Compute Engine, but we cannot validate scan settings due to a Compute Engine API backend error.",
            "This scan targets Compute Engine, but we cannot access the Compute Engine API to validate the scan settings.",
            "The Custom Login URL does not belong to the current project.",
            "The Custom Login URL is malformed (can not be parsed).",
            "The Custom Login URL is mapped to a non-routable IP address in DNS.",
            "The Custom Login URL is mapped to an IP address which is not reserved for the current project.",
            "The Custom Login URL has a non-routable IP address.",
            "The Custom Login URL has an IP address which is not reserved for the current project.",
            "Another scan with the same name (case-sensitive) already exists.",
            "A field is set to an invalid value.",
            "There was an error trying to authenticate to the scan target.",
            "Finding type value is not specified in the list findings request.",
            "Scan targets Compute Engine, yet current project was not whitelisted for Google Compute Engine Scanning Alpha access.",
            "User tries to update managed scan",
            "The supplied filter is malformed. For example, it can not be parsed, does not have a filter type in expression, or the same filter type appears more than once.",
            "The supplied resource name is malformed (can not be parsed).",
            "The current project is not in an active state.",
            "A required field is not set.",
            "Project id, scanconfig id, scanrun id, or finding id are not consistent with each other in resource name.",
            "The scan being requested to start is already running.",
            "The scan that was requested to be stopped is not running.",
            "One of the seed URLs does not belong to the current project.",
            "One of the seed URLs is malformed (can not be parsed).",
            "One of the seed URLs is mapped to a non-routable IP address in DNS.",
            "One of the seed URLs is mapped to an IP address which is not reserved for the current project.",
            "One of the seed URLs has on-routable IP address.",
            "One of the seed URLs has an IP address that is not reserved for the current project.",
            "The Web Security Scanner service account is not configured under the project.",
            "A project has reached the maximum number of scans.",
            "Resolving the details of the current project fails.",
            "One or more blacklist patterns were in the wrong format.",
            "The supplied filter is not supported.",
            "The supplied finding type is not supported. For example, we do not provide findings of the given finding type.",
            "The URL scheme of one or more of the supplied URLs is not supported.",
            "CAI is not able to list assets."
          ],
          "description": "Indicates the reason code for a configuration failure."
        },
        "fieldName": {
          "description": "Indicates the full name of the ScanConfig field that triggers this error, for example \"scan_config.max_qps\". This field is provided for troubleshooting purposes only and its actual value can change in the future.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Defines a custom error message used by CreateScanConfig and UpdateScanConfig APIs when scan configuration validation fails. It is also reported as part of a ScanRunErrorTrace message if scan validation fails due to a scan configuration error.",
      "id": "ScanConfigError"
    },
    "ScanRunErrorTrace": {
      "description": "Output only. Defines an error trace message for a ScanRun.",
      "properties": {
        "mostCommonHttpErrorCode": {
          "description": "If the scan encounters TOO_MANY_HTTP_ERRORS, this field indicates the most common HTTP error code, if such is available. For example, if this code is 404, the scan has encountered too many NOT_FOUND responses.",
          "format": "int32",
          "type": "integer"
        },
        "scanConfigError": {
          "description": "If the scan encounters SCAN_CONFIG_ISSUE error, this field has the error message encountered during scan configuration validation that is performed before each scan run.",
          "$ref": "ScanConfigError"
        },
        "code": {
          "type": "string",
          "enum": [
            "CODE_UNSPECIFIED",
            "INTERNAL_ERROR",
            "SCAN_CONFIG_ISSUE",
            "AUTHENTICATION_CONFIG_ISSUE",
            "TIMED_OUT_WHILE_SCANNING",
            "TOO_MANY_REDIRECTS",
            "TOO_MANY_HTTP_ERRORS",
            "STARTING_URLS_CRAWL_HTTP_ERRORS"
          ],
          "description": "Indicates the error reason code.",
          "enumDescriptions": [
            "Default value is never used.",
            "Indicates that the scan run failed due to an internal server error.",
            "Indicates a scan configuration error, usually due to outdated ScanConfig settings, such as starting_urls or the DNS configuration.",
            "Indicates an authentication error, usually due to outdated ScanConfig authentication settings.",
            "Indicates a scan operation timeout, usually caused by a very large site.",
            "Indicates that a scan encountered excessive redirects, either to authentication or some other page outside of the scan scope.",
            "Indicates that a scan encountered numerous errors from the web site pages. When available, most_common_http_error_code field indicates the most common HTTP error code encountered during the scan.",
            "Indicates that some of the starting web urls returned HTTP errors during the scan."
          ]
        }
      },
      "id": "ScanRunErrorTrace",
      "type": "object"
    },
    "ScanRunWarningTrace": {
      "description": "Output only. Defines a warning trace message for ScanRun. Warning traces provide customers with useful information that helps make the scanning process more effective.",
      "properties": {
        "code": {
          "enum": [
            "CODE_UNSPECIFIED",
            "INSUFFICIENT_CRAWL_RESULTS",
            "TOO_MANY_CRAWL_RESULTS",
            "TOO_MANY_FUZZ_TASKS",
            "BLOCKED_BY_IAP",
            "NO_STARTING_URL_FOUND_FOR_MANAGED_SCAN"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value is never used.",
            "Indicates that a scan discovered an unexpectedly low number of URLs. This is sometimes caused by complex navigation features or by using a single URL for numerous pages.",
            "Indicates that a scan discovered too many URLs to test, or excessive redundant URLs.",
            "Indicates that too many tests have been generated for the scan. Customer should try reducing the number of starting URLs, increasing the QPS rate, or narrowing down the scope of the scan using the excluded patterns.",
            "Indicates that a scan is blocked by IAP.",
            "Indicates that no seed is found for a scan"
          ],
          "description": "Indicates the warning code."
        }
      },
      "id": "ScanRunWarningTrace",
      "type": "object"
    }
  },
  "ownerName": "Google",
  "name": "websecurityscanner",
  "title": "Web Security Scanner API",
  "documentationLink": "https://cloud.google.com/security-command-center/docs/concepts-web-security-scanner-overview/",
  "fullyEncodeReservedExpansion": true,
  "version": "v1beta",
  "parameters": {
    "alt": {
      "default": "json",
      "type": "string",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "location": "query",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "protocol": "rest"
}