{
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "ownerName": "Google",
  "name": "websecurityscanner",
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "documentationLink": "https://cloud.google.com/security-command-center/docs/concepts-web-security-scanner-overview/",
  "protocol": "rest",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version": "v1alpha",
  "revision": "20251207",
  "parameters": {
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "default": "json",
      "type": "string",
      "description": "Data format for response."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "location": "query"
    }
  },
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "canonicalName": "WebSecurityScanner",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "basePath": "",
  "version_module": true,
  "kind": "discovery#restDescription",
  "title": "Web Security Scanner API",
  "discoveryVersion": "v1",
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "schemas": {
    "Schedule": {
      "type": "object",
      "properties": {
        "intervalDurationDays": {
          "description": "Required. The duration of time between executions in days.",
          "type": "integer",
          "format": "int32"
        },
        "scheduleTime": {
          "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "Schedule",
      "description": "Scan schedule configuration."
    },
    "VulnerableParameters": {
      "description": "Information about vulnerable request parameters.",
      "type": "object",
      "properties": {
        "parameterNames": {
          "description": "The vulnerable parameter names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VulnerableParameters"
    },
    "ScanConfig": {
      "type": "object",
      "id": "ScanConfig",
      "properties": {
        "schedule": {
          "$ref": "Schedule",
          "description": "The schedule of the ScanConfig."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system."
        },
        "startingUrls": {
          "description": "Required. The starting URLs from which the scanner finds site pages.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "maxQps": {
          "type": "integer",
          "format": "int32",
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error."
        },
        "latestRun": {
          "$ref": "ScanRun",
          "description": "Latest ScanRun if available."
        },
        "targetPlatforms": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The target platform is unknown. Requests with this enum value will be rejected with INVALID_ARGUMENT error.",
              "Google App Engine service.",
              "Google Compute Engine service.",
              "Google Cloud Run service.",
              "Google Cloud Function service."
            ],
            "type": "string",
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE",
              "CLOUD_RUN",
              "CLOUD_FUNCTIONS"
            ]
          },
          "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default."
        },
        "userAgent": {
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ],
          "type": "string",
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ],
          "description": "The user agent used during scanning."
        },
        "blacklistPatterns": {
          "items": {
            "type": "string"
          },
          "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls",
          "type": "array"
        },
        "authentication": {
          "$ref": "Authentication",
          "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning."
        },
        "displayName": {
          "description": "Required. The user provided display name of the ScanConfig.",
          "type": "string"
        }
      },
      "description": "A ScanConfig resource contains the configurations to launch a scan. next id: 12"
    },
    "Authentication": {
      "id": "Authentication",
      "description": "Scan authentication configuration.",
      "type": "object",
      "properties": {
        "customAccount": {
          "$ref": "CustomAccount",
          "description": "Authentication using a custom account."
        },
        "googleAccount": {
          "description": "Authentication using a Google account.",
          "$ref": "GoogleAccount"
        }
      }
    },
    "VulnerableHeaders": {
      "type": "object",
      "description": "Information about vulnerable or missing HTTP Headers.",
      "id": "VulnerableHeaders",
      "properties": {
        "missingHeaders": {
          "type": "array",
          "items": {
            "$ref": "Header"
          },
          "description": "List of missing headers."
        },
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "description": "List of vulnerable headers.",
          "type": "array"
        }
      }
    },
    "CrawledUrl": {
      "type": "object",
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against.",
      "id": "CrawledUrl",
      "properties": {
        "body": {
          "type": "string",
          "description": "Output only. The body of the request that was used to visit the URL."
        },
        "httpMethod": {
          "type": "string",
          "description": "Output only. The http method of the request that was used to visit the URL, in uppercase."
        },
        "url": {
          "description": "Output only. The URL that was crawled.",
          "type": "string"
        }
      }
    },
    "ListScanConfigsResponse": {
      "type": "object",
      "description": "Response for the `ListScanConfigs` method.",
      "id": "ListScanConfigsResponse",
      "properties": {
        "scanConfigs": {
          "items": {
            "$ref": "ScanConfig"
          },
          "type": "array",
          "description": "The list of ScanConfigs returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "Header": {
      "type": "object",
      "description": "Describes a HTTP Header.",
      "id": "Header",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Header value."
        }
      }
    },
    "Empty": {
      "properties": {},
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "ListFindingTypeStatsResponse": {
      "id": "ListFindingTypeStatsResponse",
      "properties": {
        "findingTypeStats": {
          "items": {
            "$ref": "FindingTypeStats"
          },
          "description": "The list of FindingTypeStats returned.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response for the `ListFindingTypeStats` method."
    },
    "Xss": {
      "type": "object",
      "properties": {
        "stackTraces": {
          "description": "Stack traces leading to the point where the XSS occurred.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "errorMessage": {
          "description": "An error message generated by a javascript breakage.",
          "type": "string"
        }
      },
      "id": "Xss",
      "description": "Information reported for an XSS."
    },
    "CustomAccount": {
      "id": "CustomAccount",
      "description": "Describes authentication configuration that uses a custom account.",
      "properties": {
        "password": {
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. The user name of the custom account."
        },
        "loginUrl": {
          "description": "Required. The login form URL of the website.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "StopScanRunRequest": {
      "id": "StopScanRunRequest",
      "properties": {},
      "type": "object",
      "description": "Request for the `StopScanRun` method."
    },
    "StartScanRunRequest": {
      "type": "object",
      "description": "Request for the `StartScanRun` method.",
      "id": "StartScanRunRequest",
      "properties": {}
    },
    "FindingTypeStats": {
      "type": "object",
      "id": "FindingTypeStats",
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
      "properties": {
        "findingCount": {
          "format": "int32",
          "description": "The count of findings belonging to this finding type.",
          "type": "integer"
        },
        "findingType": {
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "description": "The finding type associated with the stats.",
          "type": "string"
        }
      }
    },
    "ListScanRunsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "scanRuns": {
          "description": "The list of ScanRuns returned.",
          "type": "array",
          "items": {
            "$ref": "ScanRun"
          }
        }
      },
      "description": "Response for the `ListScanRuns` method.",
      "id": "ListScanRunsResponse"
    },
    "ListCrawledUrlsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "crawledUrls": {
          "type": "array",
          "description": "The list of CrawledUrls returned.",
          "items": {
            "$ref": "CrawledUrl"
          }
        }
      },
      "type": "object",
      "description": "Response for the `ListCrawledUrls` method.",
      "id": "ListCrawledUrlsResponse"
    },
    "OutdatedLibrary": {
      "type": "object",
      "description": "Information reported for an outdated library.",
      "id": "OutdatedLibrary",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version number."
        },
        "learnMoreUrls": {
          "description": "URLs to learn more information about the vulnerabilities in the library.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "libraryName": {
          "description": "The name of the outdated library.",
          "type": "string"
        }
      }
    },
    "ViolatingResource": {
      "id": "ViolatingResource",
      "properties": {
        "resourceUrl": {
          "type": "string",
          "description": "URL of this violating resource."
        },
        "contentType": {
          "description": "The MIME type of this resource.",
          "type": "string"
        }
      },
      "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
      "type": "object"
    },
    "ScanRun": {
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
      "properties": {
        "startTime": {
          "description": "The time at which the ScanRun started.",
          "type": "string",
          "format": "google-datetime"
        },
        "name": {
          "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system.",
          "type": "string"
        },
        "endTime": {
          "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user.",
          "format": "google-datetime",
          "type": "string"
        },
        "resultState": {
          "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\".",
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet finished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ],
          "type": "string",
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ]
        },
        "hasVulnerabilities": {
          "description": "Whether the scan run has found any vulnerabilities.",
          "type": "boolean"
        },
        "executionState": {
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ],
          "description": "The execution state of the ScanRun.",
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value should never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ]
        },
        "urlsCrawledCount": {
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now.",
          "format": "int64",
          "type": "string"
        },
        "progressPercent": {
          "format": "int32",
          "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100.",
          "type": "integer"
        },
        "urlsTestedCount": {
          "format": "int64",
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ScanRun"
    },
    "ListFindingsResponse": {
      "properties": {
        "findings": {
          "type": "array",
          "description": "The list of Findings returned.",
          "items": {
            "$ref": "Finding"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "id": "ListFindingsResponse",
      "type": "object",
      "description": "Response for the `ListFindings` method."
    },
    "GoogleAccount": {
      "properties": {
        "username": {
          "description": "Required. The user name of the Google account.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Describes authentication configuration that uses a Google account.",
      "id": "GoogleAccount"
    },
    "Finding": {
      "id": "Finding",
      "type": "object",
      "properties": {
        "body": {
          "description": "The body of the request that triggered the vulnerability.",
          "type": "string"
        },
        "fuzzedUrl": {
          "type": "string",
          "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability."
        },
        "vulnerableParameters": {
          "description": "An addon containing information about request parameters which were found to be vulnerable.",
          "$ref": "VulnerableParameters"
        },
        "name": {
          "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system.",
          "type": "string"
        },
        "xss": {
          "description": "An addon containing information reported for an XSS, if any.",
          "$ref": "Xss"
        },
        "findingType": {
          "description": "The type of the Finding.",
          "type": "string",
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ]
        },
        "violatingResource": {
          "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
          "$ref": "ViolatingResource"
        },
        "httpMethod": {
          "description": "The http method of the request that triggered the vulnerability, in uppercase.",
          "type": "string"
        },
        "reproductionUrl": {
          "type": "string",
          "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability."
        },
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        },
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported.",
          "type": "string"
        },
        "vulnerableHeaders": {
          "description": "An addon containing information about vulnerable or missing HTTP headers.",
          "$ref": "VulnerableHeaders"
        },
        "trackingId": {
          "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns.",
          "type": "string"
        },
        "outdatedLibrary": {
          "$ref": "OutdatedLibrary",
          "description": "An addon containing information about outdated libraries."
        },
        "finalUrl": {
          "type": "string",
          "description": "The URL where the browser lands when the vulnerability is detected."
        }
      },
      "description": "A Finding resource represents a vulnerability instance identified during a ScanRun."
    }
  },
  "ownerDomain": "google.com",
  "servicePath": "",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "websecurityscanner:v1alpha",
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "list": {
              "description": "Lists ScanConfigs under a given project.",
              "id": "websecurityscanner.projects.scanConfigs.list",
              "parameters": {
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "description": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                  "format": "int32"
                },
                "parent": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'.",
                  "pattern": "^projects/[^/]+$",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/scanConfigs",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs"
            },
            "get": {
              "response": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "id": "websecurityscanner.projects.scanConfigs.get",
              "path": "v1alpha/{+name}",
              "description": "Gets a ScanConfig."
            },
            "patch": {
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "request": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "type": "string",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask"
                },
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system."
                }
              },
              "httpMethod": "PATCH",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}"
            },
            "create": {
              "request": {
                "$ref": "ScanConfig"
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "description": "Creates a new ScanConfig.",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "parameters": {
                "parent": {
                  "required": true,
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'."
                }
              },
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "POST",
              "path": "v1alpha/{+parent}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "websecurityscanner.projects.scanConfigs.create"
            },
            "delete": {
              "response": {
                "$ref": "Empty"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1alpha/{+name}",
              "description": "Deletes an existing ScanConfig and its child resources.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "parameterOrder": [
                "name"
              ]
            },
            "start": {
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "ScanRun"
              },
              "httpMethod": "POST",
              "id": "websecurityscanner.projects.scanConfigs.start",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "location": "path",
                  "type": "string"
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "description": "Start a ScanRun according to the given ScanConfig.",
              "path": "v1alpha/{+name}:start"
            }
          },
          "resources": {
            "scanRuns": {
              "resources": {
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                      "description": "List all FindingTypeStats under a given ScanRun.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/findingTypeStats"
                    }
                  }
                },
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "description": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "format": "int32"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query"
                        }
                      },
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/crawledUrls",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "description": "List CrawledUrls under a given ScanRun."
                    }
                  }
                },
                "findings": {
                  "methods": {
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "Finding"
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "description": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$"
                        }
                      },
                      "description": "Gets a Finding."
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "description": "List Findings under a given ScanRun.",
                      "path": "v1alpha/{+parent}/findings",
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "type": "string",
                          "location": "query",
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                        }
                      }
                    }
                  }
                }
              },
              "methods": {
                "stop": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "path": "v1alpha/{+name}:stop",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ScanRun"
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "type": "string",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "required": true
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "path": "v1alpha/{+name}",
                  "description": "Gets a ScanRun.",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "list": {
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "description": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                      "location": "path",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1alpha/{+parent}/scanRuns",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}