{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "canonicalName": "WebSecurityScanner",
  "version": "v1alpha",
  "id": "websecurityscanner:v1alpha",
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "resources": {
            "scanRuns": {
              "resources": {
                "findings": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "filter": {
                          "description": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "description": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "type": "string",
                          "required": true
                        }
                      },
                      "path": "v1alpha/{+parent}/findings",
                      "httpMethod": "GET",
                      "description": "List Findings under a given ScanRun.",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings"
                    },
                    "get": {
                      "response": {
                        "$ref": "Finding"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets a Finding.",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+name}"
                    }
                  }
                },
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "httpMethod": "GET",
                      "description": "List all FindingTypeStats under a given ScanRun.",
                      "path": "v1alpha/{+parent}/findingTypeStats",
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "location": "path",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                },
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/crawledUrls",
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      },
                      "description": "List CrawledUrls under a given ScanRun.",
                      "parameters": {
                        "pageSize": {
                          "format": "int32",
                          "description": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "type": "integer",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "type": "string"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true,
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                        }
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  },
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value."
                    },
                    "parent": {
                      "description": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                    }
                  },
                  "path": "v1alpha/{+parent}/scanRuns",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list"
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                    }
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "path": "v1alpha/{+name}",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "description": "Gets a ScanRun."
                },
                "stop": {
                  "httpMethod": "POST",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "location": "path",
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "type": "string"
                    }
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                  "path": "v1alpha/{+name}:stop"
                }
              }
            }
          },
          "methods": {
            "start": {
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'."
                }
              },
              "id": "websecurityscanner.projects.scanConfigs.start",
              "description": "Start a ScanRun according to the given ScanConfig.",
              "response": {
                "$ref": "ScanRun"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "path": "v1alpha/{+name}:start",
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}:start"
            },
            "create": {
              "description": "Creates a new ScanConfig.",
              "parameters": {
                "parent": {
                  "pattern": "^projects/[^/]+$",
                  "description": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
                  "location": "path",
                  "required": true,
                  "type": "string"
                }
              },
              "request": {
                "$ref": "ScanConfig"
              },
              "httpMethod": "POST",
              "response": {
                "$ref": "ScanConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "websecurityscanner.projects.scanConfigs.create",
              "parameterOrder": [
                "parent"
              ],
              "path": "v1alpha/{+parent}/scanConfigs"
            },
            "get": {
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "response": {
                "$ref": "ScanConfig"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Gets a ScanConfig.",
              "path": "v1alpha/{+name}",
              "id": "websecurityscanner.projects.scanConfigs.get",
              "parameters": {
                "name": {
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true,
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "list": {
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "path": "v1alpha/{+parent}/scanConfigs",
              "description": "Lists ScanConfigs under a given project.",
              "httpMethod": "GET",
              "parameters": {
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                },
                "pageSize": {
                  "location": "query",
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value."
                },
                "parent": {
                  "location": "path",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true,
                  "description": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'."
                }
              },
              "id": "websecurityscanner.projects.scanConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListScanConfigsResponse"
              }
            },
            "patch": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "PATCH",
              "response": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
                  "type": "string"
                },
                "updateMask": {
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query",
                  "type": "string",
                  "format": "google-fieldmask"
                }
              },
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "ScanConfig"
              },
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "delete": {
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "path": "v1alpha/{+name}",
              "response": {
                "$ref": "Empty"
              },
              "description": "Deletes an existing ScanConfig and its child resources."
            }
          }
        }
      }
    }
  },
  "title": "Web Security Scanner API",
  "name": "websecurityscanner",
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "protocol": "rest",
  "documentationLink": "https://cloud.google.com/security-command-center/docs/concepts-web-security-scanner-overview/",
  "servicePath": "",
  "batchPath": "batch",
  "schemas": {
    "ListFindingTypeStatsResponse": {
      "properties": {
        "findingTypeStats": {
          "items": {
            "$ref": "FindingTypeStats"
          },
          "description": "The list of FindingTypeStats returned.",
          "type": "array"
        }
      },
      "type": "object",
      "id": "ListFindingTypeStatsResponse",
      "description": "Response for the `ListFindingTypeStats` method."
    },
    "Header": {
      "id": "Header",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Header value."
        }
      },
      "type": "object",
      "description": "Describes a HTTP Header."
    },
    "Empty": {
      "type": "object",
      "properties": {},
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
    },
    "Xss": {
      "id": "Xss",
      "type": "object",
      "description": "Information reported for an XSS.",
      "properties": {
        "errorMessage": {
          "description": "An error message generated by a javascript breakage.",
          "type": "string"
        },
        "stackTraces": {
          "items": {
            "type": "string"
          },
          "description": "Stack traces leading to the point where the XSS occurred.",
          "type": "array"
        }
      }
    },
    "ListScanConfigsResponse": {
      "id": "ListScanConfigsResponse",
      "description": "Response for the `ListScanConfigs` method.",
      "type": "object",
      "properties": {
        "scanConfigs": {
          "type": "array",
          "items": {
            "$ref": "ScanConfig"
          },
          "description": "The list of ScanConfigs returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "StartScanRunRequest": {
      "type": "object",
      "description": "Request for the `StartScanRun` method.",
      "id": "StartScanRunRequest",
      "properties": {}
    },
    "StopScanRunRequest": {
      "properties": {},
      "description": "Request for the `StopScanRun` method.",
      "type": "object",
      "id": "StopScanRunRequest"
    },
    "GoogleAccount": {
      "description": "Describes authentication configuration that uses a Google account.",
      "type": "object",
      "properties": {
        "username": {
          "type": "string",
          "description": "Required. The user name of the Google account."
        },
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs."
        }
      },
      "id": "GoogleAccount"
    },
    "OutdatedLibrary": {
      "type": "object",
      "description": "Information reported for an outdated library.",
      "properties": {
        "libraryName": {
          "type": "string",
          "description": "The name of the outdated library."
        },
        "version": {
          "type": "string",
          "description": "The version number."
        },
        "learnMoreUrls": {
          "description": "URLs to learn more information about the vulnerabilities in the library.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "OutdatedLibrary"
    },
    "VulnerableHeaders": {
      "id": "VulnerableHeaders",
      "properties": {
        "missingHeaders": {
          "description": "List of missing headers.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        },
        "headers": {
          "items": {
            "$ref": "Header"
          },
          "type": "array",
          "description": "List of vulnerable headers."
        }
      },
      "type": "object",
      "description": "Information about vulnerable or missing HTTP Headers."
    },
    "Schedule": {
      "id": "Schedule",
      "properties": {
        "scheduleTime": {
          "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately.",
          "format": "google-datetime",
          "type": "string"
        },
        "intervalDurationDays": {
          "description": "Required. The duration of time between executions in days.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object",
      "description": "Scan schedule configuration."
    },
    "ListCrawledUrlsResponse": {
      "description": "Response for the `ListCrawledUrls` method.",
      "properties": {
        "crawledUrls": {
          "description": "The list of CrawledUrls returned.",
          "items": {
            "$ref": "CrawledUrl"
          },
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "type": "object",
      "id": "ListCrawledUrlsResponse"
    },
    "Authentication": {
      "properties": {
        "googleAccount": {
          "description": "Authentication using a Google account.",
          "$ref": "GoogleAccount"
        },
        "customAccount": {
          "description": "Authentication using a custom account.",
          "$ref": "CustomAccount"
        }
      },
      "id": "Authentication",
      "type": "object",
      "description": "Scan authentication configuration."
    },
    "Finding": {
      "properties": {
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported.",
          "type": "string"
        },
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        },
        "finalUrl": {
          "description": "The URL where the browser lands when the vulnerability is detected.",
          "type": "string"
        },
        "vulnerableParameters": {
          "$ref": "VulnerableParameters",
          "description": "An addon containing information about request parameters which were found to be vulnerable."
        },
        "findingType": {
          "description": "The type of the Finding.",
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "type": "string"
        },
        "trackingId": {
          "type": "string",
          "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns."
        },
        "httpMethod": {
          "type": "string",
          "description": "The http method of the request that triggered the vulnerability, in uppercase."
        },
        "fuzzedUrl": {
          "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability.",
          "type": "string"
        },
        "vulnerableHeaders": {
          "$ref": "VulnerableHeaders",
          "description": "An addon containing information about vulnerable or missing HTTP headers."
        },
        "outdatedLibrary": {
          "description": "An addon containing information about outdated libraries.",
          "$ref": "OutdatedLibrary"
        },
        "body": {
          "description": "The body of the request that triggered the vulnerability.",
          "type": "string"
        },
        "violatingResource": {
          "$ref": "ViolatingResource",
          "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
        },
        "reproductionUrl": {
          "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability.",
          "type": "string"
        },
        "name": {
          "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system.",
          "type": "string"
        },
        "xss": {
          "description": "An addon containing information reported for an XSS, if any.",
          "$ref": "Xss"
        }
      },
      "id": "Finding",
      "description": "A Finding resource represents a vulnerability instance identified during a ScanRun.",
      "type": "object"
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "type": "object",
      "description": "Response for the `ListFindings` method.",
      "properties": {
        "findings": {
          "type": "array",
          "items": {
            "$ref": "Finding"
          },
          "description": "The list of Findings returned."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      }
    },
    "ViolatingResource": {
      "id": "ViolatingResource",
      "type": "object",
      "properties": {
        "contentType": {
          "description": "The MIME type of this resource.",
          "type": "string"
        },
        "resourceUrl": {
          "description": "URL of this violating resource.",
          "type": "string"
        }
      },
      "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
    },
    "FindingTypeStats": {
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
      "type": "object",
      "properties": {
        "findingType": {
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "description": "The finding type associated with the stats.",
          "type": "string"
        },
        "findingCount": {
          "type": "integer",
          "description": "The count of findings belonging to this finding type.",
          "format": "int32"
        }
      },
      "id": "FindingTypeStats"
    },
    "VulnerableParameters": {
      "type": "object",
      "id": "VulnerableParameters",
      "properties": {
        "parameterNames": {
          "description": "The vulnerable parameter names.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Information about vulnerable request parameters."
    },
    "ScanRun": {
      "properties": {
        "executionState": {
          "description": "The execution state of the ScanRun.",
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value should never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ],
          "type": "string",
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ]
        },
        "startTime": {
          "description": "The time at which the ScanRun started.",
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system."
        },
        "urlsTestedCount": {
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads.",
          "type": "string",
          "format": "int64"
        },
        "hasVulnerabilities": {
          "type": "boolean",
          "description": "Whether the scan run has found any vulnerabilities."
        },
        "urlsCrawledCount": {
          "format": "int64",
          "type": "string",
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now."
        },
        "endTime": {
          "format": "google-datetime",
          "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user.",
          "type": "string"
        },
        "resultState": {
          "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\".",
          "type": "string",
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ],
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet finished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ]
        },
        "progressPercent": {
          "format": "int32",
          "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100.",
          "type": "integer"
        }
      },
      "id": "ScanRun",
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
      "type": "object"
    },
    "CustomAccount": {
      "description": "Describes authentication configuration that uses a custom account.",
      "properties": {
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs."
        },
        "loginUrl": {
          "description": "Required. The login form URL of the website.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. The user name of the custom account."
        }
      },
      "id": "CustomAccount",
      "type": "object"
    },
    "ScanConfig": {
      "type": "object",
      "properties": {
        "userAgent": {
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ],
          "description": "The user agent used during scanning.",
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ],
          "type": "string"
        },
        "latestRun": {
          "description": "Latest ScanRun if available.",
          "$ref": "ScanRun"
        },
        "name": {
          "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
          "type": "string"
        },
        "blacklistPatterns": {
          "items": {
            "type": "string"
          },
          "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls",
          "type": "array"
        },
        "targetPlatforms": {
          "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default.",
          "type": "array",
          "items": {
            "enumDescriptions": [
              "The target platform is unknown. Requests with this enum value will be rejected with INVALID_ARGUMENT error.",
              "Google App Engine service.",
              "Google Compute Engine service.",
              "Google Cloud Run service.",
              "Google Cloud Function service."
            ],
            "type": "string",
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE",
              "CLOUD_RUN",
              "CLOUD_FUNCTIONS"
            ]
          }
        },
        "startingUrls": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The starting URLs from which the scanner finds site pages."
        },
        "displayName": {
          "description": "Required. The user provided display name of the ScanConfig.",
          "type": "string"
        },
        "maxQps": {
          "type": "integer",
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error.",
          "format": "int32"
        },
        "authentication": {
          "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning.",
          "$ref": "Authentication"
        },
        "schedule": {
          "description": "The schedule of the ScanConfig.",
          "$ref": "Schedule"
        }
      },
      "description": "A ScanConfig resource contains the configurations to launch a scan. next id: 12",
      "id": "ScanConfig"
    },
    "CrawledUrl": {
      "id": "CrawledUrl",
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against.",
      "properties": {
        "body": {
          "type": "string",
          "description": "Output only. The body of the request that was used to visit the URL."
        },
        "httpMethod": {
          "type": "string",
          "description": "Output only. The http method of the request that was used to visit the URL, in uppercase."
        },
        "url": {
          "description": "Output only. The URL that was crawled.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListScanRunsResponse": {
      "type": "object",
      "properties": {
        "scanRuns": {
          "items": {
            "$ref": "ScanRun"
          },
          "description": "The list of ScanRuns returned.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "id": "ListScanRunsResponse",
      "description": "Response for the `ListScanRuns` method."
    }
  },
  "revision": "20251207",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "location": "query",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "prettyPrint": {
      "location": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "version_module": true,
  "kind": "discovery#restDescription"
}