{
  "batchPath": "batch",
  "servicePath": "",
  "ownerDomain": "google.com",
  "protocol": "rest",
  "id": "websecurityscanner:v1alpha",
  "revision": "20251207",
  "title": "Web Security Scanner API",
  "version": "v1alpha",
  "name": "websecurityscanner",
  "canonicalName": "WebSecurityScanner",
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    }
  },
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/security-command-center/docs/concepts-web-security-scanner-overview/",
  "ownerName": "Google",
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "version_module": true,
  "basePath": "",
  "fullyEncodeReservedExpansion": true,
  "kind": "discovery#restDescription",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "schemas": {
    "CustomAccount": {
      "description": "Describes authentication configuration that uses a custom account.",
      "id": "CustomAccount",
      "properties": {
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs."
        },
        "loginUrl": {
          "description": "Required. The login form URL of the website.",
          "type": "string"
        },
        "username": {
          "type": "string",
          "description": "Required. The user name of the custom account."
        }
      },
      "type": "object"
    },
    "StopScanRunRequest": {
      "type": "object",
      "id": "StopScanRunRequest",
      "properties": {},
      "description": "Request for the `StopScanRun` method."
    },
    "VulnerableHeaders": {
      "type": "object",
      "id": "VulnerableHeaders",
      "properties": {
        "headers": {
          "description": "List of vulnerable headers.",
          "items": {
            "$ref": "Header"
          },
          "type": "array"
        },
        "missingHeaders": {
          "items": {
            "$ref": "Header"
          },
          "description": "List of missing headers.",
          "type": "array"
        }
      },
      "description": "Information about vulnerable or missing HTTP Headers."
    },
    "GoogleAccount": {
      "properties": {
        "password": {
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        },
        "username": {
          "description": "Required. The user name of the Google account.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GoogleAccount",
      "description": "Describes authentication configuration that uses a Google account."
    },
    "ListFindingTypeStatsResponse": {
      "properties": {
        "findingTypeStats": {
          "description": "The list of FindingTypeStats returned.",
          "type": "array",
          "items": {
            "$ref": "FindingTypeStats"
          }
        }
      },
      "description": "Response for the `ListFindingTypeStats` method.",
      "type": "object",
      "id": "ListFindingTypeStatsResponse"
    },
    "ListScanConfigsResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "scanConfigs": {
          "description": "The list of ScanConfigs returned.",
          "items": {
            "$ref": "ScanConfig"
          },
          "type": "array"
        }
      },
      "id": "ListScanConfigsResponse",
      "description": "Response for the `ListScanConfigs` method.",
      "type": "object"
    },
    "VulnerableParameters": {
      "id": "VulnerableParameters",
      "type": "object",
      "description": "Information about vulnerable request parameters.",
      "properties": {
        "parameterNames": {
          "items": {
            "type": "string"
          },
          "description": "The vulnerable parameter names.",
          "type": "array"
        }
      }
    },
    "OutdatedLibrary": {
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version number."
        },
        "libraryName": {
          "type": "string",
          "description": "The name of the outdated library."
        },
        "learnMoreUrls": {
          "description": "URLs to learn more information about the vulnerabilities in the library.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "OutdatedLibrary",
      "description": "Information reported for an outdated library."
    },
    "ListFindingsResponse": {
      "id": "ListFindingsResponse",
      "type": "object",
      "description": "Response for the `ListFindings` method.",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "description": "The list of Findings returned.",
          "type": "array"
        }
      }
    },
    "ListCrawledUrlsResponse": {
      "description": "Response for the `ListCrawledUrls` method.",
      "id": "ListCrawledUrlsResponse",
      "type": "object",
      "properties": {
        "crawledUrls": {
          "items": {
            "$ref": "CrawledUrl"
          },
          "description": "The list of CrawledUrls returned.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Header": {
      "type": "object",
      "description": "Describes a HTTP Header.",
      "id": "Header",
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Header value."
        }
      }
    },
    "Xss": {
      "id": "Xss",
      "description": "Information reported for an XSS.",
      "type": "object",
      "properties": {
        "stackTraces": {
          "description": "Stack traces leading to the point where the XSS occurred.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "errorMessage": {
          "type": "string",
          "description": "An error message generated by a javascript breakage."
        }
      }
    },
    "StartScanRunRequest": {
      "type": "object",
      "id": "StartScanRunRequest",
      "properties": {},
      "description": "Request for the `StartScanRun` method."
    },
    "FindingTypeStats": {
      "id": "FindingTypeStats",
      "properties": {
        "findingType": {
          "type": "string",
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "description": "The finding type associated with the stats."
        },
        "findingCount": {
          "description": "The count of findings belonging to this finding type.",
          "type": "integer",
          "format": "int32"
        }
      },
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
      "type": "object"
    },
    "Finding": {
      "description": "A Finding resource represents a vulnerability instance identified during a ScanRun.",
      "type": "object",
      "properties": {
        "fuzzedUrl": {
          "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability.",
          "type": "string"
        },
        "outdatedLibrary": {
          "description": "An addon containing information about outdated libraries.",
          "$ref": "OutdatedLibrary"
        },
        "reproductionUrl": {
          "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability.",
          "type": "string"
        },
        "httpMethod": {
          "type": "string",
          "description": "The http method of the request that triggered the vulnerability, in uppercase."
        },
        "body": {
          "description": "The body of the request that triggered the vulnerability.",
          "type": "string"
        },
        "findingType": {
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ],
          "description": "The type of the Finding.",
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "type": "string"
        },
        "finalUrl": {
          "description": "The URL where the browser lands when the vulnerability is detected.",
          "type": "string"
        },
        "xss": {
          "$ref": "Xss",
          "description": "An addon containing information reported for an XSS, if any."
        },
        "violatingResource": {
          "$ref": "ViolatingResource",
          "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
        },
        "vulnerableParameters": {
          "description": "An addon containing information about request parameters which were found to be vulnerable.",
          "$ref": "VulnerableParameters"
        },
        "trackingId": {
          "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns.",
          "type": "string"
        },
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system."
        },
        "vulnerableHeaders": {
          "$ref": "VulnerableHeaders",
          "description": "An addon containing information about vulnerable or missing HTTP headers."
        },
        "description": {
          "type": "string",
          "description": "The description of the vulnerability."
        }
      },
      "id": "Finding"
    },
    "ScanRun": {
      "type": "object",
      "id": "ScanRun",
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
      "properties": {
        "urlsTestedCount": {
          "type": "string",
          "format": "int64",
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads."
        },
        "resultState": {
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ],
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet finished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ],
          "type": "string",
          "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\"."
        },
        "executionState": {
          "description": "The execution state of the ScanRun.",
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value should never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ],
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ],
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system."
        },
        "urlsCrawledCount": {
          "type": "string",
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now.",
          "format": "int64"
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which the ScanRun started.",
          "type": "string"
        },
        "endTime": {
          "type": "string",
          "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user.",
          "format": "google-datetime"
        },
        "hasVulnerabilities": {
          "description": "Whether the scan run has found any vulnerabilities.",
          "type": "boolean"
        },
        "progressPercent": {
          "format": "int32",
          "type": "integer",
          "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100."
        }
      }
    },
    "Authentication": {
      "id": "Authentication",
      "type": "object",
      "description": "Scan authentication configuration.",
      "properties": {
        "customAccount": {
          "description": "Authentication using a custom account.",
          "$ref": "CustomAccount"
        },
        "googleAccount": {
          "$ref": "GoogleAccount",
          "description": "Authentication using a Google account."
        }
      }
    },
    "ListScanRunsResponse": {
      "description": "Response for the `ListScanRuns` method.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "scanRuns": {
          "type": "array",
          "description": "The list of ScanRuns returned.",
          "items": {
            "$ref": "ScanRun"
          }
        }
      },
      "type": "object",
      "id": "ListScanRunsResponse"
    },
    "CrawledUrl": {
      "properties": {
        "body": {
          "type": "string",
          "description": "Output only. The body of the request that was used to visit the URL."
        },
        "url": {
          "description": "Output only. The URL that was crawled.",
          "type": "string"
        },
        "httpMethod": {
          "type": "string",
          "description": "Output only. The http method of the request that was used to visit the URL, in uppercase."
        }
      },
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against.",
      "id": "CrawledUrl",
      "type": "object"
    },
    "ViolatingResource": {
      "type": "object",
      "id": "ViolatingResource",
      "properties": {
        "contentType": {
          "description": "The MIME type of this resource.",
          "type": "string"
        },
        "resourceUrl": {
          "type": "string",
          "description": "URL of this violating resource."
        }
      },
      "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc."
    },
    "ScanConfig": {
      "id": "ScanConfig",
      "properties": {
        "targetPlatforms": {
          "items": {
            "type": "string",
            "enumDescriptions": [
              "The target platform is unknown. Requests with this enum value will be rejected with INVALID_ARGUMENT error.",
              "Google App Engine service.",
              "Google Compute Engine service.",
              "Google Cloud Run service.",
              "Google Cloud Function service."
            ],
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE",
              "CLOUD_RUN",
              "CLOUD_FUNCTIONS"
            ]
          },
          "type": "array",
          "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default."
        },
        "latestRun": {
          "description": "Latest ScanRun if available.",
          "$ref": "ScanRun"
        },
        "schedule": {
          "$ref": "Schedule",
          "description": "The schedule of the ScanConfig."
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system."
        },
        "authentication": {
          "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning.",
          "$ref": "Authentication"
        },
        "userAgent": {
          "type": "string",
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ],
          "description": "The user agent used during scanning.",
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ]
        },
        "maxQps": {
          "type": "integer",
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error.",
          "format": "int32"
        },
        "displayName": {
          "description": "Required. The user provided display name of the ScanConfig.",
          "type": "string"
        },
        "startingUrls": {
          "items": {
            "type": "string"
          },
          "description": "Required. The starting URLs from which the scanner finds site pages.",
          "type": "array"
        },
        "blacklistPatterns": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls"
        }
      },
      "type": "object",
      "description": "A ScanConfig resource contains the configurations to launch a scan. next id: 12"
    },
    "Schedule": {
      "properties": {
        "scheduleTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately."
        },
        "intervalDurationDays": {
          "type": "integer",
          "format": "int32",
          "description": "Required. The duration of time between executions in days."
        }
      },
      "id": "Schedule",
      "description": "Scan schedule configuration.",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "start": {
              "path": "v1alpha/{+name}:start",
              "parameterOrder": [
                "name"
              ],
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "httpMethod": "POST",
              "description": "Start a ScanRun according to the given ScanConfig.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "id": "websecurityscanner.projects.scanConfigs.start",
              "response": {
                "$ref": "ScanRun"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'."
                }
              }
            },
            "patch": {
              "request": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "location": "query",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "type": "string"
                },
                "name": {
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
                  "location": "path",
                  "type": "string",
                  "required": true
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "httpMethod": "PATCH",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "path": "v1alpha/{+name}"
            },
            "delete": {
              "parameterOrder": [
                "name"
              ],
              "description": "Deletes an existing ScanConfig and its child resources.",
              "parameters": {
                "name": {
                  "type": "string",
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "httpMethod": "DELETE",
              "response": {
                "$ref": "Empty"
              },
              "path": "v1alpha/{+name}"
            },
            "get": {
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "description": "Gets a ScanConfig.",
              "id": "websecurityscanner.projects.scanConfigs.get",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ScanConfig"
              }
            },
            "list": {
              "path": "v1alpha/{+parent}/scanConfigs",
              "description": "Lists ScanConfigs under a given project.",
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "parameters": {
                "pageToken": {
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                  "location": "query",
                  "type": "string"
                },
                "parent": {
                  "location": "path",
                  "description": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "required": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value."
                }
              },
              "id": "websecurityscanner.projects.scanConfigs.list",
              "parameterOrder": [
                "parent"
              ],
              "httpMethod": "GET",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            },
            "create": {
              "parameterOrder": [
                "parent"
              ],
              "id": "websecurityscanner.projects.scanConfigs.create",
              "path": "v1alpha/{+parent}/scanConfigs",
              "request": {
                "$ref": "ScanConfig"
              },
              "description": "Creates a new ScanConfig.",
              "httpMethod": "POST",
              "response": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+$",
                  "required": true,
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs"
            }
          },
          "resources": {
            "scanRuns": {
              "methods": {
                "get": {
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets a ScanRun.",
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$"
                    }
                  },
                  "path": "v1alpha/{+name}"
                },
                "stop": {
                  "httpMethod": "POST",
                  "path": "v1alpha/{+name}:stop",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Stops a ScanRun. The stopped ScanRun is returned."
                },
                "list": {
                  "path": "v1alpha/{+parent}/scanRuns",
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "parameters": {
                    "parent": {
                      "description": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                      "location": "query"
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value."
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time."
                }
              },
              "resources": {
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/crawledUrls",
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      },
                      "parameters": {
                        "parent": {
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "type": "string"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value."
                        }
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "List CrawledUrls under a given ScanRun.",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls"
                    }
                  }
                },
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1alpha/{+parent}/findingTypeStats",
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                        }
                      },
                      "httpMethod": "GET",
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats",
                      "description": "List all FindingTypeStats under a given ScanRun."
                    }
                  }
                },
                "findings": {
                  "methods": {
                    "list": {
                      "description": "List Findings under a given ScanRun.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "pageSize": {
                          "description": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "format": "int32",
                          "type": "integer",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
                          "location": "query"
                        },
                        "parent": {
                          "type": "string",
                          "required": true,
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "location": "path"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "location": "query"
                        }
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "httpMethod": "GET",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "path": "v1alpha/{+parent}/findings"
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
                          "required": true
                        }
                      },
                      "path": "v1alpha/{+name}",
                      "response": {
                        "$ref": "Finding"
                      },
                      "description": "Gets a Finding.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "httpMethod": "GET"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://websecurityscanner.googleapis.com/"
}