{
  "basePath": "",
  "documentationLink": "https://cloud.google.com/security-command-center/docs/concepts-web-security-scanner-overview/",
  "parameters": {
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true"
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    }
  },
  "batchPath": "batch",
  "protocol": "rest",
  "discoveryVersion": "v1",
  "title": "Web Security Scanner API",
  "schemas": {
    "OutdatedLibrary": {
      "description": "Information reported for an outdated library.",
      "id": "OutdatedLibrary",
      "type": "object",
      "properties": {
        "version": {
          "type": "string",
          "description": "The version number."
        },
        "libraryName": {
          "type": "string",
          "description": "The name of the outdated library."
        },
        "learnMoreUrls": {
          "description": "URLs to learn more information about the vulnerabilities in the library.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "VulnerableParameters": {
      "type": "object",
      "id": "VulnerableParameters",
      "properties": {
        "parameterNames": {
          "description": "The vulnerable parameter names.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "Information about vulnerable request parameters."
    },
    "ListScanRunsResponse": {
      "properties": {
        "scanRuns": {
          "items": {
            "$ref": "ScanRun"
          },
          "description": "The list of ScanRuns returned.",
          "type": "array"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        }
      },
      "description": "Response for the `ListScanRuns` method.",
      "type": "object",
      "id": "ListScanRunsResponse"
    },
    "Authentication": {
      "type": "object",
      "id": "Authentication",
      "description": "Scan authentication configuration.",
      "properties": {
        "googleAccount": {
          "description": "Authentication using a Google account.",
          "$ref": "GoogleAccount"
        },
        "customAccount": {
          "description": "Authentication using a custom account.",
          "$ref": "CustomAccount"
        }
      }
    },
    "ListFindingTypeStatsResponse": {
      "properties": {
        "findingTypeStats": {
          "items": {
            "$ref": "FindingTypeStats"
          },
          "description": "The list of FindingTypeStats returned.",
          "type": "array"
        }
      },
      "description": "Response for the `ListFindingTypeStats` method.",
      "id": "ListFindingTypeStatsResponse",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "ScanRun": {
      "description": "A ScanRun is a output-only resource representing an actual run of the scan.",
      "properties": {
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "The time at which the ScanRun reached termination state - that the ScanRun is either finished or stopped by user."
        },
        "executionState": {
          "enum": [
            "EXECUTION_STATE_UNSPECIFIED",
            "QUEUED",
            "SCANNING",
            "FINISHED"
          ],
          "type": "string",
          "description": "The execution state of the ScanRun.",
          "enumDescriptions": [
            "Represents an invalid state caused by internal server error. This value should never be returned.",
            "The scan is waiting in the queue.",
            "The scan is in progress.",
            "The scan is either finished or stopped by user."
          ]
        },
        "resultState": {
          "description": "The result state of the ScanRun. This field is only available after the execution state reaches \"FINISHED\".",
          "enum": [
            "RESULT_STATE_UNSPECIFIED",
            "SUCCESS",
            "ERROR",
            "KILLED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Default value. This value is returned when the ScanRun is not yet finished.",
            "The scan finished without errors.",
            "The scan finished with errors.",
            "The scan was terminated by user."
          ]
        },
        "hasVulnerabilities": {
          "type": "boolean",
          "description": "Whether the scan run has found any vulnerabilities."
        },
        "urlsTestedCount": {
          "description": "The number of URLs tested during this ScanRun. If the scan is in progress, the value represents the number of URLs tested up to now. The number of URLs tested is usually larger than the number URLS crawled because typically a crawled URL is tested with multiple test payloads.",
          "type": "string",
          "format": "int64"
        },
        "urlsCrawledCount": {
          "format": "int64",
          "description": "The number of URLs crawled during this ScanRun. If the scan is in progress, the value represents the number of URLs crawled up to now.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ScanRun. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'. The ScanRun IDs are generated by the system."
        },
        "startTime": {
          "format": "google-datetime",
          "description": "The time at which the ScanRun started.",
          "type": "string"
        },
        "progressPercent": {
          "description": "The percentage of total completion ranging from 0 to 100. If the scan is in queue, the value is 0. If the scan is running, the value ranges from 0 to 100. If the scan is finished, the value is 100.",
          "type": "integer",
          "format": "int32"
        }
      },
      "id": "ScanRun",
      "type": "object"
    },
    "ViolatingResource": {
      "description": "Information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
      "id": "ViolatingResource",
      "properties": {
        "contentType": {
          "description": "The MIME type of this resource.",
          "type": "string"
        },
        "resourceUrl": {
          "type": "string",
          "description": "URL of this violating resource."
        }
      },
      "type": "object"
    },
    "Finding": {
      "properties": {
        "findingType": {
          "description": "The type of the Finding.",
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "type": "string",
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ]
        },
        "vulnerableHeaders": {
          "description": "An addon containing information about vulnerable or missing HTTP headers.",
          "$ref": "VulnerableHeaders"
        },
        "reproductionUrl": {
          "type": "string",
          "description": "The URL containing human-readable payload that user can leverage to reproduce the vulnerability."
        },
        "fuzzedUrl": {
          "description": "The URL produced by the server-side fuzzer and used in the request that triggered the vulnerability.",
          "type": "string"
        },
        "xss": {
          "description": "An addon containing information reported for an XSS, if any.",
          "$ref": "Xss"
        },
        "name": {
          "description": "The resource name of the Finding. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanruns/{scanRunId}/findings/{findingId}'. The finding IDs are generated by the system.",
          "type": "string"
        },
        "violatingResource": {
          "description": "An addon containing detailed information regarding any resource causing the vulnerability such as JavaScript sources, image, audio files, etc.",
          "$ref": "ViolatingResource"
        },
        "vulnerableParameters": {
          "$ref": "VulnerableParameters",
          "description": "An addon containing information about request parameters which were found to be vulnerable."
        },
        "outdatedLibrary": {
          "$ref": "OutdatedLibrary",
          "description": "An addon containing information about outdated libraries."
        },
        "body": {
          "description": "The body of the request that triggered the vulnerability.",
          "type": "string"
        },
        "description": {
          "description": "The description of the vulnerability.",
          "type": "string"
        },
        "finalUrl": {
          "type": "string",
          "description": "The URL where the browser lands when the vulnerability is detected."
        },
        "httpMethod": {
          "description": "The http method of the request that triggered the vulnerability, in uppercase.",
          "type": "string"
        },
        "trackingId": {
          "description": "The tracking ID uniquely identifies a vulnerability instance across multiple ScanRuns.",
          "type": "string"
        },
        "frameUrl": {
          "description": "If the vulnerability was originated from nested IFrame, the immediate parent IFrame is reported.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "A Finding resource represents a vulnerability instance identified during a ScanRun.",
      "id": "Finding"
    },
    "CrawledUrl": {
      "description": "A CrawledUrl resource represents a URL that was crawled during a ScanRun. Web Security Scanner Service crawls the web applications, following all links within the scope of sites, to find the URLs to test against.",
      "type": "object",
      "id": "CrawledUrl",
      "properties": {
        "body": {
          "description": "Output only. The body of the request that was used to visit the URL.",
          "type": "string"
        },
        "httpMethod": {
          "description": "Output only. The http method of the request that was used to visit the URL, in uppercase.",
          "type": "string"
        },
        "url": {
          "description": "Output only. The URL that was crawled.",
          "type": "string"
        }
      }
    },
    "ListFindingsResponse": {
      "description": "Response for the `ListFindings` method.",
      "id": "ListFindingsResponse",
      "type": "object",
      "properties": {
        "findings": {
          "items": {
            "$ref": "Finding"
          },
          "type": "array",
          "description": "The list of Findings returned."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      }
    },
    "Schedule": {
      "properties": {
        "intervalDurationDays": {
          "description": "Required. The duration of time between executions in days.",
          "type": "integer",
          "format": "int32"
        },
        "scheduleTime": {
          "format": "google-datetime",
          "description": "A timestamp indicates when the next run will be scheduled. The value is refreshed by the server after each run. If unspecified, it will default to current server time, which means the scan will be scheduled to start immediately.",
          "type": "string"
        }
      },
      "description": "Scan schedule configuration.",
      "id": "Schedule",
      "type": "object"
    },
    "ListScanConfigsResponse": {
      "properties": {
        "scanConfigs": {
          "type": "array",
          "description": "The list of ScanConfigs returned.",
          "items": {
            "$ref": "ScanConfig"
          }
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListScanConfigsResponse",
      "description": "Response for the `ListScanConfigs` method."
    },
    "StopScanRunRequest": {
      "id": "StopScanRunRequest",
      "type": "object",
      "properties": {},
      "description": "Request for the `StopScanRun` method."
    },
    "ScanConfig": {
      "id": "ScanConfig",
      "properties": {
        "targetPlatforms": {
          "description": "Set of Google Cloud platforms targeted by the scan. If empty, APP_ENGINE will be used as a default.",
          "items": {
            "enumDescriptions": [
              "The target platform is unknown. Requests with this enum value will be rejected with INVALID_ARGUMENT error.",
              "Google App Engine service.",
              "Google Compute Engine service.",
              "Google Cloud Run service.",
              "Google Cloud Function service."
            ],
            "enum": [
              "TARGET_PLATFORM_UNSPECIFIED",
              "APP_ENGINE",
              "COMPUTE",
              "CLOUD_RUN",
              "CLOUD_FUNCTIONS"
            ],
            "type": "string"
          },
          "type": "array"
        },
        "userAgent": {
          "type": "string",
          "description": "The user agent used during scanning.",
          "enumDescriptions": [
            "The user agent is unknown. Service will default to CHROME_LINUX.",
            "Chrome on Linux. This is the service default if unspecified.",
            "Chrome on Android.",
            "Safari on IPhone."
          ],
          "enum": [
            "USER_AGENT_UNSPECIFIED",
            "CHROME_LINUX",
            "CHROME_ANDROID",
            "SAFARI_IPHONE"
          ]
        },
        "latestRun": {
          "description": "Latest ScanRun if available.",
          "$ref": "ScanRun"
        },
        "authentication": {
          "description": "The authentication configuration. If specified, service will use the authentication configuration during scanning.",
          "$ref": "Authentication"
        },
        "startingUrls": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Required. The starting URLs from which the scanner finds site pages."
        },
        "schedule": {
          "description": "The schedule of the ScanConfig.",
          "$ref": "Schedule"
        },
        "blacklistPatterns": {
          "description": "The excluded URL patterns as described in https://cloud.google.com/security-command-center/docs/how-to-use-web-security-scanner#excluding_urls",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "description": "Required. The user provided display name of the ScanConfig.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system."
        },
        "maxQps": {
          "description": "The maximum QPS during scanning. A valid value ranges from 5 to 20 inclusively. If the field is unspecified or its value is set 0, server will default to 15. Other values outside of [5, 20] range will be rejected with INVALID_ARGUMENT error.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "description": "A ScanConfig resource contains the configurations to launch a scan. next id: 12"
    },
    "FindingTypeStats": {
      "properties": {
        "findingCount": {
          "description": "The count of findings belonging to this finding type.",
          "format": "int32",
          "type": "integer"
        },
        "findingType": {
          "description": "The finding type associated with the stats.",
          "enumDescriptions": [
            "The invalid finding type.",
            "A page that was served over HTTPS also resources over HTTP. A man-in-the-middle attacker could tamper with the HTTP resource and gain full access to the website that loads the resource or to monitor the actions taken by the user.",
            "The version of an included library is known to contain a security issue. The scanner checks the version of library in use against a known list of vulnerable libraries. False positives are possible if the version detection fails or if the library has been manually patched.",
            "This type of vulnerability occurs when the value of a request parameter is reflected at the beginning of the response, for example, in requests using JSONP. Under certain circumstances, an attacker may be able to supply an alphanumeric-only Flash file in the vulnerable parameter causing the browser to execute the Flash file as if it originated on the vulnerable server.",
            "A cross-site scripting (XSS) bug is found via JavaScript callback. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "A potential cross-site scripting (XSS) bug due to JavaScript breakage. In some circumstances, the application under test might modify the test string before it is parsed by the browser. When the browser attempts to runs this modified test string, it will likely break and throw a JavaScript execution error, thus an injection issue is occurring. However, it may not be exploitable. Manual verification is needed to see if the test string modifications can be evaded and confirm that the issue is in fact an XSS vulnerability. For detailed explanations on XSS, see https://www.google.com/about/appsecurity/learning/xss/.",
            "An application appears to be transmitting a password field in clear text. An attacker can eavesdrop network traffic and sniff the password field.",
            "An application returns sensitive content with an invalid content type, or without an 'X-Content-Type-Options: nosniff' header.",
            "A cross-site scripting (XSS) vulnerability in AngularJS module that occurs when a user-provided string is interpolated by Angular.",
            "A malformed or invalid valued header.",
            "Misspelled security header name.",
            "Mismatching values in a duplicate security header.",
            "A world-readable git repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable subversion repository that potentially leaks source code, commit history or sensitive information such as credentials.",
            "A world-readable env file that potentially leaks source code, commit history or sensitive information such as credentials."
          ],
          "type": "string",
          "enum": [
            "FINDING_TYPE_UNSPECIFIED",
            "MIXED_CONTENT",
            "OUTDATED_LIBRARY",
            "ROSETTA_FLASH",
            "XSS_CALLBACK",
            "XSS_ERROR",
            "CLEAR_TEXT_PASSWORD",
            "INVALID_CONTENT_TYPE",
            "XSS_ANGULAR_CALLBACK",
            "INVALID_HEADER",
            "MISSPELLED_SECURITY_HEADER_NAME",
            "MISMATCHING_SECURITY_HEADER_VALUES",
            "ACCESSIBLE_GIT_REPOSITORY",
            "ACCESSIBLE_SVN_REPOSITORY",
            "ACCESSIBLE_ENV_FILE"
          ]
        }
      },
      "type": "object",
      "description": "A FindingTypeStats resource represents stats regarding a specific FindingType of Findings under a given ScanRun.",
      "id": "FindingTypeStats"
    },
    "GoogleAccount": {
      "properties": {
        "password": {
          "type": "string",
          "description": "Required. Input only. The password of the Google account. The credential is stored encrypted and not returned in any response nor included in audit logs."
        },
        "username": {
          "type": "string",
          "description": "Required. The user name of the Google account."
        }
      },
      "id": "GoogleAccount",
      "type": "object",
      "description": "Describes authentication configuration that uses a Google account."
    },
    "CustomAccount": {
      "properties": {
        "username": {
          "description": "Required. The user name of the custom account.",
          "type": "string"
        },
        "password": {
          "description": "Required. Input only. The password of the custom account. The credential is stored encrypted and not returned in any response nor included in audit logs.",
          "type": "string"
        },
        "loginUrl": {
          "type": "string",
          "description": "Required. The login form URL of the website."
        }
      },
      "description": "Describes authentication configuration that uses a custom account.",
      "type": "object",
      "id": "CustomAccount"
    },
    "StartScanRunRequest": {
      "properties": {},
      "description": "Request for the `StartScanRun` method.",
      "id": "StartScanRunRequest",
      "type": "object"
    },
    "Header": {
      "properties": {
        "name": {
          "description": "Header name.",
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Header value."
        }
      },
      "type": "object",
      "id": "Header",
      "description": "Describes a HTTP Header."
    },
    "VulnerableHeaders": {
      "type": "object",
      "id": "VulnerableHeaders",
      "properties": {
        "headers": {
          "description": "List of vulnerable headers.",
          "type": "array",
          "items": {
            "$ref": "Header"
          }
        },
        "missingHeaders": {
          "type": "array",
          "description": "List of missing headers.",
          "items": {
            "$ref": "Header"
          }
        }
      },
      "description": "Information about vulnerable or missing HTTP Headers."
    },
    "ListCrawledUrlsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "crawledUrls": {
          "type": "array",
          "items": {
            "$ref": "CrawledUrl"
          },
          "description": "The list of CrawledUrls returned."
        }
      },
      "description": "Response for the `ListCrawledUrls` method.",
      "type": "object",
      "id": "ListCrawledUrlsResponse"
    },
    "Xss": {
      "description": "Information reported for an XSS.",
      "type": "object",
      "id": "Xss",
      "properties": {
        "stackTraces": {
          "type": "array",
          "description": "Stack traces leading to the point where the XSS occurred.",
          "items": {
            "type": "string"
          }
        },
        "errorMessage": {
          "description": "An error message generated by a javascript breakage.",
          "type": "string"
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "revision": "20251207",
  "rootUrl": "https://websecurityscanner.googleapis.com/",
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "description": "Scans your Compute and App Engine apps for common web vulnerabilities.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "resources": {
    "projects": {
      "resources": {
        "scanConfigs": {
          "methods": {
            "list": {
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs",
              "path": "v1alpha/{+parent}/scanConfigs",
              "httpMethod": "GET",
              "id": "websecurityscanner.projects.scanConfigs.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "response": {
                "$ref": "ListScanConfigsResponse"
              },
              "parameters": {
                "parent": {
                  "description": "Required. The parent resource name, which should be a project resource name in the format 'projects/{projectId}'.",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "format": "int32",
                  "description": "The maximum number of ScanConfigs to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "type": "string",
                  "location": "query",
                  "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                }
              },
              "description": "Lists ScanConfigs under a given project."
            },
            "delete": {
              "description": "Deletes an existing ScanConfig and its child resources.",
              "path": "v1alpha/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "DELETE",
              "id": "websecurityscanner.projects.scanConfigs.delete",
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path",
                  "description": "Required. The resource name of the ScanConfig to be deleted. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true
                }
              },
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "Empty"
              }
            },
            "patch": {
              "parameters": {
                "updateMask": {
                  "format": "google-fieldmask",
                  "type": "string",
                  "description": "Required. The update mask applies to the resource. For the `FieldMask` definition, see https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "description": "The resource name of the ScanConfig. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'. The ScanConfig IDs are generated by the system.",
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$"
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "description": "Updates a ScanConfig. This method support partial update of a ScanConfig.",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1alpha/{+name}",
              "request": {
                "$ref": "ScanConfig"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "websecurityscanner.projects.scanConfigs.patch",
              "httpMethod": "PATCH"
            },
            "start": {
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}:start",
              "path": "v1alpha/{+name}:start",
              "response": {
                "$ref": "ScanRun"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "websecurityscanner.projects.scanConfigs.start",
              "request": {
                "$ref": "StartScanRunRequest"
              },
              "httpMethod": "POST",
              "description": "Start a ScanRun according to the given ScanConfig.",
              "parameters": {
                "name": {
                  "required": true,
                  "description": "Required. The resource name of the ScanConfig to be used. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "type": "string",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "location": "path"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "create": {
              "request": {
                "$ref": "ScanConfig"
              },
              "parameters": {
                "parent": {
                  "required": true,
                  "location": "path",
                  "description": "Required. The parent resource name where the scan is created, which should be a project resource name in the format 'projects/{projectId}'.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string"
                }
              },
              "path": "v1alpha/{+parent}/scanConfigs",
              "httpMethod": "POST",
              "response": {
                "$ref": "ScanConfig"
              },
              "description": "Creates a new ScanConfig.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameterOrder": [
                "parent"
              ],
              "id": "websecurityscanner.projects.scanConfigs.create",
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs"
            },
            "get": {
              "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}",
              "path": "v1alpha/{+name}",
              "id": "websecurityscanner.projects.scanConfigs.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                  "description": "Required. The resource name of the ScanConfig to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}'.",
                  "required": true
                }
              },
              "response": {
                "$ref": "ScanConfig"
              },
              "httpMethod": "GET",
              "description": "Gets a ScanConfig.",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ]
            }
          },
          "resources": {
            "scanRuns": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1alpha/{+parent}/scanRuns",
                  "description": "Lists ScanRuns under a given ScanConfig, in descending order of ScanRun stop time.",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns",
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.list",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListScanRunsResponse"
                  },
                  "parameters": {
                    "parent": {
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The parent resource name, which should be a scan resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}'."
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "description": "The maximum number of ScanRuns to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                      "location": "query"
                    }
                  }
                },
                "stop": {
                  "request": {
                    "$ref": "StopScanRunRequest"
                  },
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}:stop",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name of the ScanRun to be stopped. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                    }
                  },
                  "path": "v1alpha/{+name}:stop",
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Stops a ScanRun. The stopped ScanRun is returned.",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.stop",
                  "parameterOrder": [
                    "name"
                  ]
                },
                "get": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "websecurityscanner.projects.scanConfigs.scanRuns.get",
                  "response": {
                    "$ref": "ScanRun"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1alpha/{+name}",
                  "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "description": "Required. The resource name of the ScanRun to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                      "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Gets a ScanRun."
                }
              },
              "resources": {
                "findingTypeStats": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'.",
                          "required": true,
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$"
                        }
                      },
                      "description": "List all FindingTypeStats under a given ScanRun.",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1alpha/{+parent}/findingTypeStats",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findingTypeStats.list",
                      "response": {
                        "$ref": "ListFindingTypeStatsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findingTypeStats"
                    }
                  }
                },
                "crawledUrls": {
                  "methods": {
                    "list": {
                      "description": "List CrawledUrls under a given ScanRun.",
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.crawledUrls.list",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListCrawledUrlsResponse"
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/crawledUrls",
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "The maximum number of CrawledUrls to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned."
                        }
                      },
                      "path": "v1alpha/{+parent}/crawledUrls"
                    }
                  }
                },
                "findings": {
                  "methods": {
                    "list": {
                      "path": "v1alpha/{+parent}/findings",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.list",
                      "response": {
                        "$ref": "ListFindingsResponse"
                      },
                      "httpMethod": "GET",
                      "parameters": {
                        "filter": {
                          "description": "Required. The filter expression. The expression must be in the format: . Supported field: 'finding_type'. Supported operator: '='.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results to be returned. This should be a `next_page_token` value returned from a previous List request. If unspecified, the first page of results is returned.",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+$",
                          "description": "Required. The parent resource name, which should be a scan run resource name in the format 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}'."
                        },
                        "pageSize": {
                          "location": "query",
                          "description": "The maximum number of Findings to return, can be limited by server. If not specified or not positive, the implementation will select a reasonable value.",
                          "type": "integer",
                          "format": "int32"
                        }
                      },
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings",
                      "description": "List Findings under a given ScanRun.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "httpMethod": "GET",
                      "path": "v1alpha/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "type": "string",
                          "location": "path",
                          "description": "Required. The resource name of the Finding to be returned. The name follows the format of 'projects/{projectId}/scanConfigs/{scanConfigId}/scanRuns/{scanRunId}/findings/{findingId}'.",
                          "required": true,
                          "pattern": "^projects/[^/]+/scanConfigs/[^/]+/scanRuns/[^/]+/findings/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Finding"
                      },
                      "id": "websecurityscanner.projects.scanConfigs.scanRuns.findings.get",
                      "flatPath": "v1alpha/projects/{projectsId}/scanConfigs/{scanConfigsId}/scanRuns/{scanRunsId}/findings/{findingsId}",
                      "description": "Gets a Finding.",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://websecurityscanner.mtls.googleapis.com/",
  "name": "websecurityscanner",
  "baseUrl": "https://websecurityscanner.googleapis.com/",
  "version": "v1alpha",
  "servicePath": "",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "id": "websecurityscanner:v1alpha",
  "canonicalName": "WebSecurityScanner"
}