{
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "version_module": true,
  "version": "v1",
  "kind": "discovery#restDescription",
  "name": "workloadmanager",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "canonicalName": "Workload Manager",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "basePath": "",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "revision": "20260429",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "schemas": {
    "SqlserverValidationDetails": {
      "description": "Message containing collected data names and values.",
      "type": "object",
      "properties": {
        "fields": {
          "description": "Required. Collected data is in format.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "SqlserverValidationDetails"
    },
    "Database": {
      "description": "Database details",
      "type": "object",
      "properties": {
        "secondarySoleTenantNodeType": {
          "description": "Optional. the type of a secondary-sole-tenant node/node group e.g. compute.googleapis.com/node-name",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "tempdbOnSsd": {
          "description": "Required. whether to have TempDB on local SSD",
          "type": "boolean"
        },
        "secondarySoleTenantNode": {
          "description": "Optional. the name of a secondary-sole-tenant node/node group",
          "type": "string"
        },
        "soleTenantNode": {
          "description": "Optional. the name of a primary sole-tenant node/node group",
          "type": "string"
        },
        "diskType": {
          "description": "Required. disk_type",
          "type": "string"
        },
        "soleTenantNodeType": {
          "description": "Optional. the type of a primary sole-tenant node/node group e.g. compute.googleapis.com/node-name",
          "type": "string"
        },
        "floatingIpAddress": {
          "description": "Optional. only useful for Linux High Availability setup",
          "type": "string"
        },
        "tenancyModel": {
          "description": "Required. SHARED or SOLE_TENANT",
          "type": "string",
          "enumDescriptions": [
            "Unspecified tenancy model",
            "Shared tenancy model",
            "Sole Tenant tenancy model"
          ],
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ]
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "smt": {
          "description": "Required. whether simultaneous multithreading is enabled or not",
          "type": "boolean"
        }
      },
      "id": "Database"
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "description": "Response message for the ListEvaluations RPC.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations.",
          "type": "array"
        }
      }
    },
    "SapComponent": {
      "description": "The component of sap workload",
      "type": "object",
      "properties": {
        "sid": {
          "readOnly": true,
          "description": "Output only. sid is the sap component identificator",
          "type": "string"
        },
        "resources": {
          "description": "Output only. resources in the component",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "CloudResource"
          }
        },
        "topologyType": {
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "The detected topology of the component.",
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "databaseProperties": {
          "readOnly": true,
          "description": "Output only. All instance properties.",
          "$ref": "DatabaseProperties"
        }
      },
      "id": "SapComponent"
    },
    "CloudResource": {
      "id": "CloudResource",
      "description": "The resource on GCP",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "description": "Output only. ",
          "readOnly": true
        },
        "instanceProperties": {
          "readOnly": true,
          "description": "Output only. All instance properties.",
          "$ref": "InstanceProperties"
        }
      }
    },
    "AgentStatusReference": {
      "description": "The reference to public documentation.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Output only. The name of the reference.",
          "type": "string",
          "readOnly": true
        },
        "url": {
          "readOnly": true,
          "description": "Output only. The URL of the reference.",
          "type": "string"
        }
      },
      "id": "AgentStatusReference"
    },
    "Insight": {
      "description": "A presentation of host resource usage where the workload runs.",
      "type": "object",
      "properties": {
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "sapDiscovery": {
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes.",
          "$ref": "SapDiscovery"
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "sentTime": {
          "description": "Output only. [Output only] Create time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        }
      },
      "id": "Insight"
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "description": "Disk mount on the instance.",
      "type": "object",
      "properties": {
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "diskNames": {
          "description": "Optional. Names of the disks providing this mount point.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Notice": {
      "description": "Additional information generated by an execution.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Output only. Message of the notice.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "Notice"
    },
    "SapDiscoveryComponentReplicationSite": {
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "type": "object",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      },
      "id": "SapDiscoveryComponentReplicationSite"
    },
    "ListDiscoveredProfilesResponse": {
      "id": "ListDiscoveredProfilesResponse",
      "description": "List discovered profile Response returns discovered profiles from agents",
      "type": "object",
      "properties": {
        "workloadProfiles": {
          "description": "Output only. The list of workload profiles",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "WorkloadProfile"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "AgentStatusIAMPermission": {
      "description": "The IAM permission status.",
      "type": "object",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the permission.",
          "type": "string"
        },
        "granted": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true
        }
      },
      "id": "AgentStatusIAMPermission"
    },
    "SqlServerWorkload": {
      "description": "Message for MS SQL workload",
      "type": "object",
      "properties": {
        "haType": {
          "description": "Optional. AOAG or FCI, it is only needed for High Availability deployment mode",
          "type": "string",
          "enumDescriptions": [
            "Unspecified HA type",
            "AOAG HA type",
            "FCI HA type"
          ],
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ]
        },
        "database": {
          "description": "Required. database details",
          "$ref": "Database"
        },
        "operatingSystemType": {
          "description": "Required. type of the operating system the SQL server is going to run on top of",
          "type": "string",
          "enumDescriptions": [
            "Unspecified operating system type",
            "Windows operating system type",
            "Ubuntu operating system type",
            "Red Hat Enterprise Linux operating system type",
            "Suse operating system type"
          ],
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ]
        },
        "activeDirectory": {
          "description": "Required. active directory details",
          "$ref": "ActiveDirectory"
        },
        "mediaBucket": {
          "description": "Required. name of the media storing SQL server installation files",
          "type": "string"
        },
        "fciType": {
          "description": "Optional. SHARED_DISK or S2D",
          "type": "string",
          "enumDescriptions": [
            "Unspecified FCI type",
            "SHARED DISK FCI type",
            "S2D FCI type"
          ],
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ]
        },
        "sqlServerEdition": {
          "enumDescriptions": [
            "Unspecified type",
            "Developer type",
            "Enterprise type",
            "Standard type",
            "Web type"
          ],
          "description": "Optional. SQL Server Edition type, only applicable when Operating System is Linux",
          "type": "string",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ]
        },
        "location": {
          "description": "Required. location details",
          "$ref": "SqlLocationDetails"
        },
        "osImageType": {
          "enumDescriptions": [
            "Unspecified OS image type",
            "Public image",
            "Custom image"
          ],
          "description": "Optional. OS image type, it's used to create boot disks for VM instances When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and default to custom image",
          "type": "string",
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ]
        },
        "osImage": {
          "description": "Required. the image of the operating system",
          "type": "string"
        },
        "deploymentModel": {
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ],
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE",
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment model",
            "High Availability deployment model",
            "Single Instance deployment model"
          ]
        },
        "isSqlPayg": {
          "description": "Required. SQL licensing type",
          "type": "boolean"
        },
        "environmentType": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. deployment environment",
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ]
        },
        "pacemaker": {
          "description": "Optional. pacemaker configuration, only applicable for Linux HA deployments",
          "$ref": "Pacemaker"
        },
        "vmPrefix": {
          "description": "Required. should be unique in the project",
          "type": "string"
        },
        "computeEngineServiceAccount": {
          "description": "Compute engine service account - let customers bring their own SA for Compute engine",
          "type": "string"
        },
        "sqlServerVersion": {
          "description": "Optional. 2017 or 2019 or 2022",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type",
            "2017 type",
            "2019 type",
            "2022 type"
          ],
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ]
        }
      },
      "id": "SqlServerWorkload"
    },
    "Rule": {
      "description": "A rule to be evaluated.",
      "type": "object",
      "properties": {
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "tags": {
          "items": {
            "type": "string"
          },
          "description": "List of user-defined tags.",
          "type": "array"
        },
        "revisionId": {
          "description": "Output only. The version of the rule.",
          "type": "string",
          "readOnly": true
        },
        "remediation": {
          "description": "The remediation for the rule.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the rule.",
          "type": "string"
        },
        "uri": {
          "description": "The document url for the rule.",
          "type": "string"
        },
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
        "ruleType": {
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "description": "The type of the rule.",
          "type": "string",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ]
        },
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "description": {
          "description": "Describe rule in plain language.",
          "type": "string"
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        }
      },
      "id": "Rule"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Message for response to listing Deployments",
      "type": "object",
      "properties": {
        "deployments": {
          "description": "The list of Deployment",
          "type": "array",
          "items": {
            "$ref": "Deployment"
          }
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
        }
      }
    },
    "SqlLocationDetails": {
      "id": "SqlLocationDetails",
      "description": "Location and networking details for configuring SQL server workload",
      "type": "object",
      "properties": {
        "region": {
          "description": "Required. region name",
          "type": "string"
        },
        "network": {
          "description": "Required. network name",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. subnetwork name",
          "type": "string"
        },
        "tertiaryZone": {
          "description": "Optional. teriary zone can't be same as primary_zone and secondary zone, and it is only for High Availability deployment mode",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. the project that infrastructure deployed, currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. create a new DNS Zone when the field is empty, Only show for `Using an existing DNS` List of existing DNS Zones tf variable name: existing_dns_zone_name",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. secondary zone can't be same as primary_zone and is only for High Availability deployment mode",
          "type": "string"
        },
        "primaryZone": {
          "description": "Required. primary zone",
          "type": "string"
        },
        "internetAccess": {
          "enumDescriptions": [
            "Unspecified internet access",
            "Allow external IP",
            "Configure NAT"
          ],
          "description": "Required. Internet Access",
          "type": "string",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        }
      }
    },
    "ListActuationsResponse": {
      "id": "ListActuationsResponse",
      "description": "The response object from `ListActuations`.",
      "type": "object",
      "properties": {
        "actuations": {
          "items": {
            "$ref": "Actuation"
          },
          "description": "The list of Actuation",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "IAMPermission": {
      "id": "IAMPermission",
      "description": "The IAM permission status.",
      "type": "object",
      "properties": {
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "type": "boolean",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the permission.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "Resource": {
      "description": "Resource in execution result.",
      "type": "object",
      "properties": {
        "type": {
          "description": "The type of resource.",
          "type": "string"
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        }
      },
      "id": "Resource"
    },
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "type": "object",
      "properties": {
        "endTime": {
          "description": "Optional. End time",
          "type": "string",
          "format": "google-datetime"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. Start time",
          "type": "string",
          "format": "google-datetime"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        }
      },
      "id": "UpcomingMaintenanceEvent"
    },
    "ActuationOutput": {
      "id": "ActuationOutput",
      "description": "Message for output of Actuation",
      "type": "object",
      "properties": {
        "blueprintId": {
          "description": "reference to Blueprint Controller deployment and revision resource",
          "type": "string"
        },
        "actuateLogs": {
          "description": "A link to gcs file that store build logs",
          "type": "string"
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "errorCode": {
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No error code was specified.",
            "general terraform failure",
            "permission error in terraform",
            "quota related error in terraform",
            "general ansible failure",
            "constraint related error in terraform",
            "resource already exists error in terraform",
            "resource not found error in terraform",
            "permission denied error in ansible",
            "secret related error in ansible",
            "general terraform failure during deletion",
            "resource in use error in terraform deletion",
            "start up failure in ansible"
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ]
        },
        "ansibleError": {
          "description": "Output only. error message return from ansible.",
          "type": "string",
          "readOnly": true
        },
        "ansibleFailedTask": {
          "description": "Output only. failed task name return from ansible.",
          "type": "array",
          "readOnly": true,
          "items": {
            "type": "string"
          }
        },
        "terraformTemplate": {
          "description": "reference to terraform template used",
          "type": "string"
        },
        "hasUserFacingErrorMsg": {
          "description": "Output only. whether the error message is user facing. If true, the error message will be shown in the UI.",
          "type": "boolean",
          "readOnly": true
        },
        "terraformError": {
          "readOnly": true,
          "description": "Output only. error message return from terraform.",
          "type": "string"
        },
        "errorLogs": {
          "description": "A link to actuation cloud build log.",
          "type": "string"
        }
      }
    },
    "Evaluation": {
      "id": "Evaluation",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "type": "object",
      "properties": {
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "ruleNames": {
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation.",
          "type": "array"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs.",
          "type": "object"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "evaluationType": {
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "description": "Evaluation type.",
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ]
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "description": "A SAP software component name, version, and type.",
      "type": "object",
      "properties": {
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        }
      }
    },
    "InstanceProperties": {
      "id": "InstanceProperties",
      "description": "Instance Properties.",
      "type": "object",
      "properties": {
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "roles": {
          "description": "Optional. Instance roles.",
          "type": "array",
          "items": {
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "type": "string"
          }
        },
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListLocationsResponse"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object"
        }
      },
      "id": "Operation"
    },
    "SapDiscoveryComponent": {
      "id": "SapDiscoveryComponent",
      "description": "Message describing the system component.",
      "type": "object",
      "properties": {
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          }
        },
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "topologyType": {
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "Optional. The detected topology of the component.",
          "type": "string"
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "haHosts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array"
        },
        "resources": {
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "description": "Optional. The resources in a component.",
          "type": "array"
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        }
      }
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "description": "Message for sap system workload",
      "type": "object",
      "properties": {
        "database": {
          "description": "database details",
          "$ref": "DatabaseDetails"
        },
        "mediaBucketName": {
          "description": "Required. media_bucket_name",
          "type": "string"
        },
        "scalingMethod": {
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "description": "Required. support scale up and scale out",
          "type": "string",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing",
            "Scale out: Combines multiple independent computers into one system"
          ]
        },
        "version": {
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Required. sap hana version",
          "type": "string"
        },
        "app": {
          "description": "instance details",
          "$ref": "AppDetails"
        },
        "gcpProjectId": {
          "description": "the project that infrastructure deployed, current only support the same project where the deployment resource exist.",
          "type": "string"
        },
        "vmPrefix": {
          "description": "vm_prefix",
          "type": "string"
        },
        "environmentType": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. deployment environment",
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ]
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "sapBootDiskImage": {
          "description": "Optional. sap_boot_disk_image",
          "type": "string"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account - let custoemrs bring their own SA for Ansible runner",
          "type": "string"
        },
        "deploymentModel": {
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "description": "Required. two model non-HA and HA supported",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "location": {
          "description": "database details",
          "$ref": "LocationDetails"
        }
      }
    },
    "SapValidation": {
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "type": "object",
      "properties": {
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "description": "Optional. A list of SAP validation metrics data.",
          "type": "array"
        }
      },
      "id": "SapValidation"
    },
    "SapDiscovery": {
      "id": "SapDiscovery",
      "description": "The schema of SAP system discovery data.",
      "type": "object",
      "properties": {
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "databaseLayer": {
          "description": "Required. An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        },
        "systemId": {
          "readOnly": true,
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "type": "string"
        },
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        },
        "workloadProperties": {
          "description": "Optional. The properties of the workload.",
          "$ref": "SapDiscoveryWorkloadProperties"
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "updateTime": {
          "description": "Required. Unix timestamp this system has been updated last.",
          "type": "string",
          "format": "google-datetime"
        },
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        }
      }
    },
    "ExecutionResult": {
      "id": "ExecutionResult",
      "description": "The result of an execution.",
      "type": "object",
      "properties": {
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ],
          "description": "Execution result type of the scanned resource.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ]
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "type": "array",
          "items": {
            "$ref": "Command"
          }
        }
      }
    },
    "Pacemaker": {
      "id": "Pacemaker",
      "description": "pacemaker configuration",
      "type": "object",
      "properties": {
        "pacemakerCluster": {
          "description": "Required. pacemaker cluster name",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. sql pacemaker secret name",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. pacemaker cluster secret name",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. pacemaker cluster username",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "description": "Required. sql pacemaker username",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "description": "Required. bucket location for node certificates",
          "type": "string"
        }
      }
    },
    "BackupProperties": {
      "id": "BackupProperties",
      "description": "Backup properties.",
      "type": "object",
      "properties": {
        "latestBackupTime": {
          "description": "The time when the latest backup was performed.",
          "type": "string",
          "format": "google-datetime"
        },
        "latestBackupStatus": {
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "description": "Output only. The state of the latest backup.",
          "readOnly": true
        }
      }
    },
    "AgentStates": {
      "id": "AgentStates",
      "description": "Agent status.",
      "type": "object",
      "properties": {
        "isFullyEnabled": {
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues.",
          "type": "boolean"
        },
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        },
        "systemDiscovery": {
          "description": "Optional. The System discovery metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "availableVersion": {
          "description": "Optional. The available version of the agent in artifact registry.",
          "type": "string"
        }
      }
    },
    "TorsoValidation": {
      "id": "TorsoValidation",
      "description": "The schema of torso workload validation data.",
      "type": "object",
      "properties": {
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "description": "Required. workload_type specifies the type of torso workload.",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ]
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        }
      }
    },
    "LocationDetails": {
      "description": "Message for sap instant details",
      "type": "object",
      "properties": {
        "dnsZoneNameSuffix": {
          "description": "Optional. dns_zone_name_suffix",
          "type": "string"
        },
        "zone2Name": {
          "description": "Optional. zone2_name",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. when user skip DNS configuration from UI, deployment_dns_enabled=false otherwise deployment_dns_enabled=true",
          "type": "boolean"
        },
        "dnsZone": {
          "description": "Optional. dns zone name",
          "type": "string"
        },
        "createCommsFirewall": {
          "description": "Optional. create firewall, if true, create firewall for the deployment. This field provides an option to not always create firewall for the deployment.",
          "type": "boolean"
        },
        "regionName": {
          "description": "Required. region_name",
          "type": "string"
        },
        "subnetName": {
          "description": "Required. subnet_name",
          "type": "string"
        },
        "networkProject": {
          "description": "Optional. network project",
          "type": "string"
        },
        "zone1Name": {
          "description": "Required. zone1_name",
          "type": "string"
        },
        "vpcName": {
          "description": "Required. vpc_name",
          "type": "string"
        },
        "customTags": {
          "description": "Optional. network tags",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        }
      },
      "id": "LocationDetails"
    },
    "AgentCommand": {
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "type": "object",
      "properties": {
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        }
      },
      "id": "AgentCommand"
    },
    "Actuation": {
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "type": "object",
      "properties": {
        "actuationOutput": {
          "description": "Output only. [Output only] Actuation output",
          "$ref": "ActuationOutput",
          "readOnly": true
        },
        "deploymentOutput": {
          "readOnly": true,
          "items": {
            "$ref": "DeploymentOutput"
          },
          "description": "Output only. [Output only] Deployment output",
          "type": "array"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. [Output only] End time stamp",
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. [Output only] Actuation state",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "state unspecified",
            "creating infrastructure in backend (terraform applying)",
            "success",
            "failed either in infra creating, post infra configuring or infra destroying",
            "configure workload after infrastructure is ready (ansible running)",
            "destroying infrastructure in backend (terraform destroying)",
            "ansible is timeout due to losing heartbeat in post infra configuring"
          ]
        },
        "name": {
          "description": "The name of actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "Actuation"
    },
    "Product": {
      "description": "Contains the details of a product.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "id": "Product"
    },
    "ViolationDetails": {
      "description": "The violation in an evaluation result.",
      "type": "object",
      "properties": {
        "observed": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Details of the violation.",
          "type": "object"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "ruleOutput": {
          "description": "Output only. The rule output of the violation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RuleOutput"
          }
        }
      },
      "id": "ViolationDetails"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "properties": {}
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "description": "The body of sap workload",
      "type": "object",
      "properties": {
        "products": {
          "readOnly": true,
          "items": {
            "$ref": "Product"
          },
          "description": "Output only. The products on this workload.",
          "type": "array"
        },
        "application": {
          "description": "Output only. application component",
          "$ref": "SapComponent",
          "readOnly": true
        },
        "metadata": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "description": "Output only. The metadata for SAP workload.",
          "type": "object"
        },
        "database": {
          "description": "Output only. database component",
          "$ref": "SapComponent",
          "readOnly": true
        },
        "architecture": {
          "description": "Output only. The architecture.",
          "readOnly": true,
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ]
        }
      }
    },
    "SqlserverValidation": {
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "type": "object",
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "validationDetails": {
          "description": "Optional. A list of SqlServer validation metrics data.",
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          }
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        }
      },
      "id": "SqlserverValidation"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse"
    },
    "Command": {
      "id": "Command",
      "description": "Command specifies the type of command to execute.",
      "type": "object",
      "properties": {
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        },
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        }
      }
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "type": "object",
      "properties": {
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "WriteInsightRequest"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array"
        }
      },
      "id": "Status"
    },
    "AgentStatusConfigValue": {
      "description": "The configuration value.",
      "type": "object",
      "properties": {
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "type": "boolean",
          "readOnly": true
        },
        "value": {
          "readOnly": true,
          "description": "Output only. The value of the configuration value.",
          "type": "string"
        },
        "name": {
          "description": "Output only. The name of the configuration value.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "AgentStatusConfigValue"
    },
    "ServiceStates": {
      "id": "ServiceStates",
      "description": "The state of the service.",
      "type": "object",
      "properties": {
        "state": {
          "description": "Output only. The overall state of the service.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ]
        },
        "iamPermissions": {
          "readOnly": true,
          "items": {
            "$ref": "IAMPermission"
          },
          "description": "Optional. Output only. The IAM permissions for the service.",
          "type": "array"
        }
      }
    },
    "AgentStatus": {
      "description": "The schema of agent status data.",
      "type": "object",
      "properties": {
        "instanceUri": {
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "type": "string",
          "readOnly": true
        },
        "kernelVersion": {
          "readOnly": true,
          "description": "Output only. The kernel version of the system.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "services": {
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusServiceStatus"
          }
        },
        "availableVersion": {
          "description": "Output only. The available version of the agent in artifact registry.",
          "type": "string",
          "readOnly": true
        },
        "configurationValid": {
          "description": "Output only. Whether the agent configuration is valid.",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "systemdServiceEnabled": {
          "readOnly": true,
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "cloudApiAccessFullScopesGranted": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Whether the agent has full access to Cloud APIs."
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "type": "string",
          "readOnly": true
        },
        "agentName": {
          "readOnly": true,
          "description": "Output only. The name of the agent.",
          "type": "string"
        },
        "references": {
          "description": "Output only. Optional references to public documentation.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusReference"
          }
        },
        "configurationErrorMessage": {
          "description": "Output only. The error message for the agent configuration if invalid.",
          "type": "string",
          "readOnly": true
        },
        "installedVersion": {
          "readOnly": true,
          "description": "Output only. The installed version of the agent on the host.",
          "type": "string"
        },
        "systemdServiceRunning": {
          "readOnly": true,
          "description": "Output only. Whether the agent service is running in systemd.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        }
      },
      "id": "AgentStatus"
    },
    "SapDiscoveryComponentApplicationProperties": {
      "description": "A set of properties describing an SAP Application layer.",
      "type": "object",
      "properties": {
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "applicationType": {
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ],
          "description": "Required. Type of the application. Netweaver, etc.",
          "type": "string"
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "abap": {
          "deprecated": true,
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "type": "boolean"
        }
      },
      "id": "SapDiscoveryComponentApplicationProperties"
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "description": "A product name and version.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      }
    },
    "ResourceFilter": {
      "id": "ResourceFilter",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "type": "object",
      "properties": {
        "scopes": {
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inclusionLabels": {
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceIdPatterns": {
          "items": {
            "type": "string"
          },
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "type": "array"
        },
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        }
      }
    },
    "Execution": {
      "description": "Execution that represents a single run of an Evaluation.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. [Output only] State."
        },
        "engine": {
          "description": "Optional. Engine.",
          "type": "string",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ]
        },
        "runType": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "type": "string",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ]
        },
        "notices": {
          "readOnly": true,
          "items": {
            "$ref": "Notice"
          },
          "description": "Output only. Additional information generated by the execution.",
          "type": "array"
        },
        "externalDataSources": {
          "description": "Optional. External data sources.",
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          }
        },
        "evaluationId": {
          "readOnly": true,
          "description": "Output only. [Output only] Evaluation ID.",
          "type": "string"
        },
        "ruleResults": {
          "description": "Output only. Execution result summary per rule.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "RuleExecutionResult"
          }
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "resultSummary": {
          "readOnly": true,
          "description": "Output only. [Output only] Result summary for the execution.",
          "$ref": "Summary"
        },
        "endTime": {
          "description": "Output only. [Output only] End time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "inventoryTime": {
          "description": "Output only. [Output only] Inventory time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        }
      },
      "id": "Execution"
    },
    "SapValidationValidationDetail": {
      "description": "Message describing the SAP validation metrics.",
      "type": "object",
      "properties": {
        "sapValidationType": {
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "description": "Optional. The SAP system that the validation data is from.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ]
        },
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        }
      },
      "id": "SapValidationValidationDetail"
    },
    "ShellCommand": {
      "id": "ShellCommand",
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "type": "object",
      "properties": {
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        },
        "timeoutSeconds": {
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "type": "integer",
          "format": "int32"
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        }
      }
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "description": "Response message for the ListScannedResources RPC.",
      "type": "object",
      "properties": {
        "scannedResources": {
          "description": "All scanned resources in response.",
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "type": "object",
      "properties": {
        "createTime": {
          "readOnly": true,
          "description": "Output only. The time the operation was created.",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "type": "boolean"
        },
        "statusMessage": {
          "readOnly": true,
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResource": {
      "description": "Message describing a resource.",
      "type": "object",
      "properties": {
        "relatedResources": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of resource URIs related to this resource.",
          "type": "array"
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        },
        "updateTime": {
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "resourceKind": {
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "resourceType": {
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "description": "Required. The type of this resource.",
          "type": "string"
        },
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryResource"
    },
    "AgentStatusServiceStatus": {
      "id": "AgentStatusServiceStatus",
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "type": "object",
      "properties": {
        "errorMessage": {
          "readOnly": true,
          "description": "Output only. The error message for the service if it is not fully functional.",
          "type": "string"
        },
        "fullyFunctional": {
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "type": "string",
          "readOnly": true
        },
        "configValues": {
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "description": "Output only. The configuration values for the service.",
          "type": "array"
        },
        "name": {
          "readOnly": true,
          "description": "Output only. The name of the service.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          }
        }
      }
    },
    "HealthCheck": {
      "id": "HealthCheck",
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "type": "object",
      "properties": {
        "message": {
          "description": "Output only. The message of the health check.",
          "type": "string",
          "readOnly": true
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "type": "string",
          "readOnly": true
        },
        "source": {
          "description": "Output only. The source of the health check.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "$ref": "CloudResource",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the health check.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ]
        }
      }
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "description": "HealthCondition contains the detailed health check of each component.",
      "type": "object",
      "properties": {
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "componentHealthType": {
          "description": "Output only. The type of the component health.",
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ]
        },
        "state": {
          "description": "Output only. The health state of the component.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        },
        "componentHealthChecks": {
          "items": {
            "$ref": "HealthCheck"
          },
          "description": "The detailed health checks of the component.",
          "type": "array"
        },
        "subComponentsHealth": {
          "description": "Sub component health.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        }
      }
    },
    "ResourceStatus": {
      "description": "The lifecycle status of an Evaluation resource.",
      "type": "object",
      "properties": {
        "state": {
          "description": "State of the Evaluation resource.",
          "type": "string",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ]
        }
      },
      "id": "ResourceStatus"
    },
    "RuleExecutionResult": {
      "description": "Execution result summary per rule.",
      "type": "object",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The execution status."
        },
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "resultCount": {
          "description": "Number of violations.",
          "type": "string",
          "format": "int64"
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RuleExecutionResult"
    },
    "ExternalDataSources": {
      "id": "ExternalDataSources",
      "description": "External data sources for an execution.",
      "type": "object",
      "properties": {
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "type": {
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "description": "Required. Type of external data source.",
          "type": "string"
        }
      }
    },
    "WriteInsightResponse": {
      "id": "WriteInsightResponse",
      "description": "The response for write insights request.",
      "type": "object",
      "properties": {}
    },
    "SapDiscoveryResourceInstanceProperties": {
      "description": "A set of properties only present for an instance type resource",
      "type": "object",
      "properties": {
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "instanceRole": {
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ]
        },
        "appInstances": {
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "description": "Optional. App server instances on the host",
          "type": "array"
        },
        "clusterInstances": {
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "instanceNumber": {
          "description": "Optional. The VM's instance number.",
          "type": "string",
          "format": "int64",
          "deprecated": true
        },
        "diskMounts": {
          "description": "Optional. Disk mounts on the instance.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          }
        },
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        }
      },
      "id": "SapDiscoveryResourceInstanceProperties"
    },
    "GceInstanceFilter": {
      "description": "A filter for matching Compute Engine instances.",
      "type": "object",
      "properties": {
        "serviceAccounts": {
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GceInstanceFilter"
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "description": "Fields to describe an SAP application server instance.",
      "type": "object",
      "properties": {
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance"
    },
    "Summary": {
      "description": "Execution summary.",
      "type": "object",
      "properties": {
[...]
