{
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "id": "workflowexecutions:v1beta",
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "version_module": true,
  "description": "Execute workflows created with Workflows API.",
  "documentationLink": "https://cloud.google.com/workflows",
  "fullyEncodeReservedExpansion": true,
  "canonicalName": "Workflow Executions",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "oauth_token": {
      "location": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "description": "V1 error format."
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    }
  },
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "title": "Workflow Executions API",
  "discoveryVersion": "v1",
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "batchPath": "batch",
  "ownerName": "Google",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "list": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token.",
                          "location": "query"
                        },
                        "view": {
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "type": "string",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view."
                        },
                        "parent": {
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 10000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      }
                    },
                    "create": {
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "Execution"
                      },
                      "path": "v1beta/{+parent}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "description": "Creates a new execution using the latest revision of the given workflow.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions"
                    },
                    "get": {
                      "description": "Returns an execution of the given name.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "location": "path",
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        },
                        "view": {
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "type": "string",
                          "location": "query",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "httpMethod": "GET"
                    },
                    "cancel": {
                      "description": "Cancels an execution of the given name.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "path": "v1beta/{+name}:cancel",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Execution"
                      },
                      "parameters": {
                        "name": {
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
                        }
                      },
                      "httpMethod": "POST"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "version": "v1beta",
  "basePath": "",
  "ownerDomain": "google.com",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "revision": "20260421",
  "name": "workflowexecutions",
  "schemas": {
    "ListExecutionsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "executions": {
          "items": {
            "$ref": "Execution"
          },
          "description": "The executions which match the request.",
          "type": "array"
        }
      },
      "id": "ListExecutionsResponse",
      "type": "object",
      "description": "Response for the ListExecutions method."
    },
    "CancelExecutionRequest": {
      "id": "CancelExecutionRequest",
      "properties": {},
      "description": "Request for the CancelExecution method.",
      "type": "object"
    },
    "Step": {
      "type": "object",
      "description": "Represents a step of the workflow this execution is running.",
      "properties": {
        "routine": {
          "description": "Name of a routine within the workflow.",
          "type": "string"
        },
        "step": {
          "type": "string",
          "description": "Name of a step within the routine."
        }
      },
      "id": "Step"
    },
    "Status": {
      "id": "Status",
      "properties": {
        "currentSteps": {
          "type": "array",
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step.",
          "items": {
            "$ref": "Step"
          }
        }
      },
      "description": "Represents the current status of this execution.",
      "type": "object"
    },
    "Execution": {
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. Current state of the execution.",
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Reserved for future use.",
            "Request has been placed in the backlog for processing at a later time."
          ]
        },
        "callLogLevel": {
          "description": "The call logging level associated to this execution.",
          "type": "string",
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows."
          ],
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY"
          ]
        },
        "argument": {
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`",
          "type": "string"
        },
        "result": {
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "type": "string",
          "readOnly": true
        },
        "error": {
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`.",
          "$ref": "Error",
          "readOnly": true
        },
        "startTime": {
          "description": "Output only. Marks the beginning of execution.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. Marks the end of execution, successful or not.",
          "readOnly": true
        },
        "workflowRevisionId": {
          "description": "Output only. Revision of the workflow this execution is using.",
          "type": "string",
          "readOnly": true
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Status tracks the current steps and progress data of this execution.",
          "$ref": "Status"
        },
        "name": {
          "type": "string",
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
          "readOnly": true
        }
      },
      "id": "Execution",
      "type": "object",
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1beta/projects.locations.workflows)."
    },
    "Position": {
      "properties": {
        "line": {
          "description": "The source code line number the current instruction was generated from.",
          "type": "string",
          "format": "int64"
        },
        "length": {
          "type": "string",
          "format": "int64",
          "description": "The number of bytes of source code making up this stack trace element."
        },
        "column": {
          "type": "string",
          "format": "int64",
          "description": "The source code column position (of the line) the current instruction was generated from."
        }
      },
      "id": "Position",
      "type": "object",
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes."
    },
    "StackTrace": {
      "properties": {
        "elements": {
          "items": {
            "$ref": "StackTraceElement"
          },
          "description": "An array of stack elements.",
          "type": "array"
        }
      },
      "id": "StackTrace",
      "type": "object",
      "description": "A collection of stack elements (frames) where an error occurred."
    },
    "StackTraceElement": {
      "type": "object",
      "description": "A single stack element (frame) where an error occurred.",
      "properties": {
        "position": {
          "description": "The source position information of the stack trace element.",
          "$ref": "Position"
        },
        "step": {
          "description": "The step the error occurred at.",
          "type": "string"
        },
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        }
      },
      "id": "StackTraceElement"
    },
    "Error": {
      "type": "object",
      "description": "Error describes why the execution was abnormally terminated.",
      "properties": {
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        },
        "context": {
          "description": "Human-readable stack trace string.",
          "type": "string"
        },
        "stackTrace": {
          "description": "Stack trace with detailed information of where error was generated.",
          "$ref": "StackTrace"
        }
      },
      "id": "Error"
    }
  },
  "servicePath": ""
}