{
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "version_module": true,
  "revision": "20260318",
  "id": "workloadmanager:v1",
  "version": "v1",
  "canonicalName": "Workload Manager",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ]
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "location": "query",
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "callback": {
      "type": "string",
      "location": "query",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "alt": {
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json",
      "location": "query",
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    }
  },
  "name": "workloadmanager",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Workload Manager API",
  "basePath": "",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "ownerDomain": "google.com",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "fullyEncodeReservedExpansion": true,
  "ownerName": "Google",
  "kind": "discovery#restDescription",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "schemas": {
    "ListEvaluationsResponse": {
      "description": "Response message for the ListEvaluations RPC.",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations."
        }
      },
      "id": "ListEvaluationsResponse",
      "type": "object"
    },
    "AgentStatus": {
      "type": "object",
      "id": "AgentStatus",
      "properties": {
        "availableVersion": {
          "type": "string",
          "description": "Output only. The available version of the agent in artifact registry.",
          "readOnly": true
        },
        "cloudApiAccessFullScopesGranted": {
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        },
        "references": {
          "description": "Output only. Optional references to public documentation.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusReference"
          },
          "type": "array"
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "readOnly": true,
          "type": "string"
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "readOnly": true,
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "installedVersion": {
          "type": "string",
          "description": "Output only. The installed version of the agent on the host.",
          "readOnly": true
        },
        "configurationErrorMessage": {
          "type": "string",
          "description": "Output only. The error message for the agent configuration if invalid.",
          "readOnly": true
        },
        "agentName": {
          "type": "string",
          "description": "Output only. The name of the agent.",
          "readOnly": true
        },
        "instanceUri": {
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "readOnly": true,
          "type": "string"
        },
        "systemdServiceRunning": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent service is running in systemd.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "systemdServiceEnabled": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "configurationValid": {
          "description": "Output only. Whether the agent configuration is valid.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "AgentStatusServiceStatus"
          },
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "readOnly": true
        }
      },
      "description": "The schema of agent status data."
    },
    "ListExecutionResultsResponse": {
      "description": "Response message for the ListExecutionResults RPC.",
      "properties": {
        "executionResults": {
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListExecutionResultsResponse",
      "type": "object"
    },
    "Rule": {
      "id": "Rule",
      "type": "object",
      "description": "A rule to be evaluated.",
      "properties": {
        "severity": {
          "type": "string",
          "description": "The severity of the rule."
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The version of the rule.",
          "readOnly": true
        },
        "remediation": {
          "type": "string",
          "description": "The remediation for the rule."
        },
        "errorMessage": {
          "type": "string",
          "description": "The message template for rule."
        },
        "tags": {
          "type": "array",
          "description": "List of user-defined tags.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The name display in UI."
        },
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "description": {
          "description": "Describe rule in plain language.",
          "type": "string"
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "ruleType": {
          "type": "string",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ],
          "description": "The type of the rule.",
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ]
        },
        "assetType": {
          "type": "string",
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types."
        },
        "uri": {
          "description": "The document url for the rule.",
          "type": "string"
        }
      }
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "displayName": {
          "type": "string",
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\"."
        },
        "labels": {
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "properties": {
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        },
        "number": {
          "type": "string",
          "description": "Optional. Instance number of the SAP application instance."
        }
      },
      "description": "Fields to describe an SAP application server instance.",
      "type": "object",
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance"
    },
    "SqlLocationDetails": {
      "description": "Location and networking details for configuring SQL server workload",
      "properties": {
        "primaryZone": {
          "description": "Required. primary zone",
          "type": "string"
        },
        "secondaryZone": {
          "type": "string",
          "description": "Optional. secondary zone can't be same as primary_zone and is only for High Availability deployment mode"
        },
        "subnetwork": {
          "description": "Required. subnetwork name",
          "type": "string"
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. create a new DNS Zone when the field is empty, Only show for `Using an existing DNS` List of existing DNS Zones tf variable name: existing_dns_zone_name"
        },
        "gcpProjectId": {
          "description": "Required. the project that infrastructure deployed, currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "tertiaryZone": {
          "type": "string",
          "description": "Optional. teriary zone can't be same as primary_zone and secondary zone, and it is only for High Availability deployment mode"
        },
        "network": {
          "description": "Required. network name",
          "type": "string"
        },
        "region": {
          "description": "Required. region name",
          "type": "string"
        },
        "internetAccess": {
          "description": "Required. Internet Access",
          "enumDescriptions": [
            "Unspecified internet access",
            "Allow external IP",
            "Configure NAT"
          ],
          "type": "string",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        }
      },
      "id": "SqlLocationDetails",
      "type": "object"
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "type": "object",
      "description": "The lifecycle status of an Evaluation resource.",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "description": "State of the Evaluation resource.",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ]
        }
      }
    },
    "Command": {
      "type": "object",
      "id": "Command",
      "properties": {
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        },
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        }
      },
      "description": "Command specifies the type of command to execute."
    },
    "ListRulesResponse": {
      "description": "Response message for the ListRules RPC.",
      "properties": {
        "rules": {
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response.",
          "type": "array"
        }
      },
      "id": "ListRulesResponse",
      "type": "object"
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "description": "A SAP software component name, version, and type.",
      "properties": {
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the component."
        },
        "version": {
          "type": "string",
          "description": "Optional. The component's major version."
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "type": "object"
    },
    "CloudResource": {
      "id": "CloudResource",
      "type": "object",
      "description": "The resource on GCP",
      "properties": {
        "instanceProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "InstanceProperties"
        },
        "kind": {
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "readOnly": true,
          "description": "Output only. ",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ]
        },
        "name": {
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ExecutionResult": {
      "type": "object",
      "id": "ExecutionResult",
      "properties": {
        "severity": {
          "type": "string",
          "description": "The severity of violation."
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "items": {
            "$ref": "Command"
          },
          "type": "array"
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "violationMessage": {
          "type": "string",
          "description": "The violation message of an execution."
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "type": {
          "description": "Execution result type of the scanned resource.",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ]
        }
      },
      "description": "The result of an execution."
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "agentVersion": {
          "type": "string",
          "description": "Optional. The agent version collected this data point."
        },
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        }
      },
      "id": "WriteInsightRequest",
      "type": "object"
    },
    "Product": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the product."
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "description": "Contains the details of a product.",
      "type": "object",
      "id": "Product"
    },
    "Execution": {
      "type": "object",
      "id": "Execution",
      "properties": {
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true,
          "description": "Output only. [Output only] State.",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ]
        },
        "inventoryTime": {
          "type": "string",
          "description": "Output only. [Output only] Inventory time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "runType": {
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "ruleResults": {
          "type": "array",
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true
        },
        "notices": {
          "items": {
            "$ref": "Notice"
          },
          "description": "Output only. Additional information generated by the execution.",
          "readOnly": true,
          "type": "array"
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}."
        },
        "endTime": {
          "type": "string",
          "description": "Output only. [Output only] End time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "engine": {
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "description": "Optional. Engine.",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ]
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true,
          "$ref": "Summary"
        },
        "evaluationId": {
          "type": "string",
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "description": "Execution that represents a single run of an Evaluation."
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "type": "object",
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "description": "A product name and version."
    },
    "SapValidation": {
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Optional. The zone of the instance that the Insight data comes from."
        },
        "validationDetails": {
          "type": "array",
          "description": "Optional. A list of SAP validation metrics data.",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        }
      },
      "id": "SapValidation",
      "type": "object"
    },
    "SqlserverValidationDetails": {
      "description": "Message containing collected data names and values.",
      "properties": {
        "fields": {
          "type": "object",
          "description": "Required. Collected data is in format.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "SqlserverValidationDetails",
      "type": "object"
    },
    "ListDiscoveredProfilesResponse": {
      "type": "object",
      "id": "ListDiscoveredProfilesResponse",
      "properties": {
        "workloadProfiles": {
          "type": "array",
          "items": {
            "$ref": "WorkloadProfile"
          },
          "description": "Output only. The list of workload profiles",
          "readOnly": true
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Locations that could not be reached.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "List discovered profile Response returns discovered profiles from agents"
    },
    "ScannedResource": {
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "description": "A scanned resource.",
      "type": "object",
      "id": "ScannedResource"
    },
    "ExternalDataSources": {
      "description": "External data sources for an execution.",
      "properties": {
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "description": "Required. Type of external data source.",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ]
        },
        "assetType": {
          "type": "string",
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data."
        }
      },
      "id": "ExternalDataSources",
      "type": "object"
    },
    "ShellCommand": {
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "properties": {
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        },
        "timeoutSeconds": {
          "type": "integer",
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "format": "int32"
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        }
      },
      "id": "ShellCommand",
      "type": "object"
    },
    "BackupProperties": {
      "id": "BackupProperties",
      "type": "object",
      "description": "Backup properties.",
      "properties": {
        "latestBackupTime": {
          "type": "string",
          "description": "The time when the latest backup was performed.",
          "format": "google-datetime"
        },
        "latestBackupStatus": {
          "type": "string",
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "readOnly": true,
          "description": "Output only. The state of the latest backup.",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ]
        }
      }
    },
    "SqlServerWorkload": {
      "id": "SqlServerWorkload",
      "type": "object",
      "description": "Message for MS SQL workload",
      "properties": {
        "database": {
          "description": "Required. database details",
          "$ref": "Database"
        },
        "pacemaker": {
          "description": "Optional. pacemaker configuration, only applicable for Linux HA deployments",
          "$ref": "Pacemaker"
        },
        "computeEngineServiceAccount": {
          "type": "string",
          "description": "Compute engine service account - let customers bring their own SA for Compute engine"
        },
        "osImage": {
          "type": "string",
          "description": "Required. the image of the operating system"
        },
        "vmPrefix": {
          "type": "string",
          "description": "Required. should be unique in the project"
        },
        "mediaBucket": {
          "type": "string",
          "description": "Required. name of the media storing SQL server installation files"
        },
        "deploymentModel": {
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE",
          "enumDescriptions": [
            "Unspecified deployment model",
            "High Availability deployment model",
            "Single Instance deployment model"
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ]
        },
        "sqlServerVersion": {
          "description": "Optional. 2017 or 2019 or 2022",
          "enumDescriptions": [
            "Unspecified type",
            "2017 type",
            "2019 type",
            "2022 type"
          ],
          "type": "string",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ]
        },
        "sqlServerEdition": {
          "type": "string",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ],
          "description": "Optional. SQL Server Edition type, only applicable when Operating System is Linux",
          "enumDescriptions": [
            "Unspecified type",
            "Developer type",
            "Enterprise type",
            "Standard type",
            "Web type"
          ]
        },
        "location": {
          "description": "Required. location details",
          "$ref": "SqlLocationDetails"
        },
        "environmentType": {
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. deployment environment",
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ]
        },
        "osImageType": {
          "type": "string",
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ],
          "description": "Optional. OS image type, it's used to create boot disks for VM instances When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and default to custom image",
          "enumDescriptions": [
            "Unspecified OS image type",
            "Public image",
            "Custom image"
          ]
        },
        "activeDirectory": {
          "description": "Required. active directory details",
          "$ref": "ActiveDirectory"
        },
        "operatingSystemType": {
          "description": "Required. type of the operating system the SQL server is going to run on top of",
          "enumDescriptions": [
            "Unspecified operating system type",
            "Windows operating system type",
            "Ubuntu operating system type",
            "Red Hat Enterprise Linux operating system type",
            "Suse operating system type"
          ],
          "type": "string",
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ]
        },
        "haType": {
          "type": "string",
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ],
          "description": "Optional. AOAG or FCI, it is only needed for High Availability deployment mode",
          "enumDescriptions": [
            "Unspecified HA type",
            "AOAG HA type",
            "FCI HA type"
          ]
        },
        "fciType": {
          "type": "string",
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ],
          "description": "Optional. SHARED_DISK or S2D",
          "enumDescriptions": [
            "Unspecified FCI type",
            "SHARED DISK FCI type",
            "S2D FCI type"
          ]
        },
        "isSqlPayg": {
          "type": "boolean",
          "description": "Required. SQL licensing type"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "type": "object",
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "properties": {
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        },
        "build": {
          "description": "Optional. The build version number.",
          "format": "int32",
          "type": "integer"
        },
        "minor": {
          "description": "Optional. The minor version number.",
          "format": "int32",
          "type": "integer"
        },
        "major": {
          "description": "Optional. The major version number.",
          "format": "int32",
          "type": "integer"
        },
        "patch": {
          "description": "Optional. The patch version number.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "Pacemaker": {
      "description": "pacemaker configuration",
      "properties": {
        "pacemakerCluster": {
          "type": "string",
          "description": "Required. pacemaker cluster name"
        },
        "bucketNameNodeCertificates": {
          "type": "string",
          "description": "Required. bucket location for node certificates"
        },
        "pacemakerClusterSecret": {
          "description": "Required. pacemaker cluster secret name",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. sql pacemaker secret name",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "type": "string",
          "description": "Required. sql pacemaker username"
        },
        "pacemakerClusterUsername": {
          "type": "string",
          "description": "Required. pacemaker cluster username"
        }
      },
      "id": "Pacemaker",
      "type": "object"
    },
    "Database": {
      "description": "Database details",
      "properties": {
        "secondarySoleTenantNode": {
          "description": "Optional. the name of a secondary-sole-tenant node/node group",
          "type": "string"
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. secret_manager_secret"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "floatingIpAddress": {
          "type": "string",
          "description": "Optional. only useful for Linux High Availability setup"
        },
        "secondarySoleTenantNodeType": {
          "type": "string",
          "description": "Optional. the type of a secondary-sole-tenant node/node group e.g. compute.googleapis.com/node-name"
        },
        "smt": {
          "description": "Required. whether simultaneous multithreading is enabled or not",
          "type": "boolean"
        },
        "soleTenantNode": {
          "description": "Optional. the name of a primary sole-tenant node/node group",
          "type": "string"
        },
        "tempdbOnSsd": {
          "description": "Required. whether to have TempDB on local SSD",
          "type": "boolean"
        },
        "diskType": {
          "description": "Required. disk_type",
          "type": "string"
        },
        "tenancyModel": {
          "type": "string",
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "description": "Required. SHARED or SOLE_TENANT",
          "enumDescriptions": [
            "Unspecified tenancy model",
            "Shared tenancy model",
            "Sole Tenant tenancy model"
          ]
        },
        "soleTenantNodeType": {
          "description": "Optional. the type of a primary sole-tenant node/node group e.g. compute.googleapis.com/node-name",
          "type": "string"
        }
      },
      "id": "Database",
      "type": "object"
    },
    "Empty": {
      "properties": {},
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "type": "object",
      "id": "Empty"
    },
    "SqlserverValidationValidationDetail": {
      "type": "object",
      "id": "SqlserverValidationValidationDetail",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ]
        },
        "details": {
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "description": "Required. Details wraps map that represents collected data names and values.",
          "type": "array"
        }
      },
      "description": "Message describing the Sqlserver validation metrics."
    },
    "DeploymentOutput": {
      "description": "Message for output of deployment resource",
      "properties": {
        "name": {
          "description": "name of the resource",
          "type": "string"
        },
        "type": {
          "description": "type of the resource",
          "type": "string"
        }
      },
      "id": "DeploymentOutput",
      "type": "object"
    },
    "InstanceProperties": {
      "properties": {
        "instanceNumber": {
          "type": "string",
          "description": "Optional. Instance number."
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "status": {
          "type": "string",
          "description": "Optional. Instance status."
        },
        "roles": {
          "description": "Optional. Instance roles.",
          "items": {
            "type": "string",
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ]
          },
          "type": "array"
        }
      },
      "description": "Instance Properties.",
      "type": "object",
      "id": "InstanceProperties"
    },
    "AgentStatusReference": {
      "properties": {
        "name": {
          "description": "Output only. The name of the reference.",
          "readOnly": true,
          "type": "string"
        },
        "url": {
          "description": "Output only. The URL of the reference.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The reference to public documentation.",
      "type": "object",
      "id": "AgentStatusReference"
    },
    "OpenShiftValidation": {
      "id": "OpenShiftValidation",
      "type": "object",
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "properties": {
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object"
        }
      }
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "endTime": {
          "type": "string",
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "verb": {
          "type": "string",
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "ViolationDetails": {
      "type": "object",
      "id": "ViolationDetails",
      "properties": {
        "observed": {
          "type": "object",
          "description": "Details of the violation.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "asset": {
          "type": "string",
          "description": "The name of the asset."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the resource."
        },
        "ruleOutput": {
          "items": {
            "$ref": "RuleOutput"
          },
          "description": "Output only. The rule output of the violation.",
          "readOnly": true,
          "type": "array"
        }
      },
      "description": "The violation in an evaluation result."
    },
    "SapComponent": {
      "type": "object",
      "id": "SapComponent",
      "properties": {
        "topologyType": {
          "description": "The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "databaseProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "DatabaseProperties"
        },
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "readOnly": true,
          "type": "string"
        },
        "resources": {
          "type": "array",
          "description": "Output only. resources in the component",
          "readOnly": true,
          "items": {
            "$ref": "CloudResource"
          }
        },
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The component of sap workload"
    },
    "GceInstanceFilter": {
      "properties": {
        "serviceAccounts": {
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "A filter for matching Compute Engine instances.",
      "type": "object",
      "id": "GceInstanceFilter"
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "type": "object",
      "description": "Message for sap instant details",
      "properties": {
        "image": {
          "description": "Required. image for database server",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "Required. machine type"
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. secret_manager_secret"
        },
        "diskType": {
          "type": "string",
          "description": "Required. disk_type"
        },
        "instanceId": {
          "description": "Optional. instance id",
          "type": "string"
        },
        "primaryDbVm": {
          "type": "string",
          "description": "Optional. primary db vm name"
        },
        "databaseServiceAccount": {
          "type": "string",
          "description": "Database service account - let custoemrs bring their own SA for database"
        },
        "sid": {
          "type": "string",
          "description": "Required. The SID is a three-digit server-specific unique identification code."
        },
        "secondaryDbVm": {
          "type": "string",
          "description": "Optional. secondary db vm name"
        }
      }
    },
    "AgentStates": {
      "description": "Agent status.",
      "properties": {
        "availableVersion": {
          "type": "string",
          "description": "Optional. The available version of the agent in artifact registry."
        },
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "systemDiscovery": {
          "description": "Optional. The System discovery metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "isFullyEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues."
        },
        "installedVersion": {
          "type": "string",
          "description": "Optional. The installed version of the agent on the host."
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        }
      },
      "id": "AgentStates",
      "type": "object"
    },
    "SapDiscoveryMetadata": {
      "type": "object",
      "id": "SapDiscoveryMetadata",
      "properties": {
        "sapProduct": {
          "type": "string",
          "description": "Optional. This SAP product name"
        },
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        },
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        }
      },
      "description": "Message describing SAP discovery system metadata"
    },
    "TerraformVariable": {
      "description": "In order to align with Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest A Terraform input variable.",
      "properties": {
        "inputValue": {
          "type": "any",
          "description": "Optional. Input variable value."
        }
      },
      "id": "TerraformVariable",
      "type": "object"
    },
    "UpcomingMaintenanceEvent": {
      "id": "UpcomingMaintenanceEvent",
      "type": "object",
      "description": "Maintenance Event",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Start time",
          "format": "google-datetime"
        },
        "maintenanceStatus": {
          "type": "string",
          "description": "Optional. Maintenance status"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. End time",
          "format": "google-datetime",
          "type": "string"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ListOperationsResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "description": "The response message for Operations.ListOperations.",
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "AgentStatusConfigValue": {
      "properties": {
        "name": {
          "description": "Output only. The name of the configuration value.",
          "readOnly": true,
          "type": "string"
        },
        "value": {
          "type": "string",
          "description": "Output only. The value of the configuration value.",
          "readOnly": true
        },
        "isDefault": {
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true,
          "type": "boolean"
        }
      },
      "description": "The configuration value.",
      "type": "object",
      "id": "AgentStatusConfigValue"
    },
    "TorsoValidation": {
      "description": "The schema of torso workload validation data.",
      "properties": {
        "validationDetails": {
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from."
        },
        "workloadType": {
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ]
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        }
      },
      "id": "TorsoValidation",
      "type": "object"
    },
    "SapDiscovery": {
      "properties": {
        "updateTime": {
          "description": "Required. Unix timestamp this system has been updated last.",
          "format": "google-datetime",
          "type": "string"
        },
        "useDrReconciliation": {
          "type": "boolean",
          "description": "Optional. Whether to use DR reconciliation or not."
        },
        "systemId": {
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "readOnly": true,
          "type": "string"
        },
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        },
        "databaseLayer": {
          "description": "Required. An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "workloadProperties": {
          "description": "Optional. The properties of the workload.",
          "$ref": "SapDiscoveryWorkloadProperties"
        }
      },
      "description": "The schema of SAP system discovery data.",
      "type": "object",
      "id": "SapDiscovery"
    },
    "ListScannedResourcesResponse": {
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "scannedResources": {
          "type": "array",
          "description": "All scanned resources in response.",
          "items": {
            "$ref": "ScannedResource"
          }
        }
      },
      "description": "Response message for the ListScannedResources RPC.",
      "type": "object",
      "id": "ListScannedResourcesResponse"
    },
    "SapDiscoveryResourceInstanceProperties": {
      "properties": {
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "instanceRole": {
          "type": "string",
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ]
        },
        "appInstances": {
          "description": "Optional. App server instances on the host",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "type": "array"
        },
        "diskMounts": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "description": "Optional. Disk mounts on the instance."
        },
        "instanceNumber": {
          "description": "Optional. The VM's instance number.",
          "format": "int64",
          "deprecated": true,
          "type": "string"
        },
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "clusterInstances": {
          "type": "array",
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "items": {
            "type": "string"
          }
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        }
      },
      "description": "A set of properties only present for an instance type resource",
      "type": "object",
      "id": "SapDiscoveryResourceInstanceProperties"
    },
    "ActuationOutput": {
      "description": "Message for output of Actuation",
      "properties": {
        "hasUserFacingErrorMsg": {
          "type": "boolean",
          "description": "Output only. whether the error message is user facing. If true, the error message will be shown in the UI.",
          "readOnly": true
        },
        "errorCode": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "enumDescriptions": [
            "No error code was specified.",
            "general terraform failure",
            "permission error in terraform",
            "quota related error in terraform",
            "general ansible failure",
            "constraint related error in terraform",
            "resource already exists error in terraform",
            "resource not found error in terraform",
            "permission denied error in ansible",
            "secret related error in ansible",
            "general terraform failure during deletion",
            "resource in use error in terraform deletion",
            "start up failure in ansible"
          ]
        },
        "blueprintId": {
          "type": "string",
          "description": "reference to Blueprint Controller deployment and revision resource"
        },
        "actuateLogs": {
          "type": "string",
          "description": "A link to gcs file that store build logs"
        },
        "ansibleError": {
          "description": "Output only. error message return from ansible.",
          "readOnly": true,
          "type": "string"
        },
        "cloudbuildId": {
          "type": "string",
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix"
        },
        "errorLogs": {
          "description": "A link to actuation cloud build log.",
          "type": "string"
        },
        "terraformTemplate": {
          "type": "string",
          "description": "reference to terraform template used"
        },
        "ansibleFailedTask": {
          "description": "Output only. failed task name return from ansible.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "terraformError": {
          "description": "Output only. error message return from terraform.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "ActuationOutput",
      "type": "object"
    },
    "WorkloadProfileHealth": {
      "id": "WorkloadProfileHealth",
      "type": "object",
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "properties": {
        "componentsHealth": {
          "type": "array",
          "description": "The detailed condition reports of each component.",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the workload.",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ]
        },
        "checkTime": {
          "description": "The time when the health check was performed.",
          "format": "google-datetime",
          "type": "string"
        }
      }
    },
    "DatabaseProperties": {
      "description": "Database Properties.",
      "properties": {
        "backupProperties": {
          "description": "Output only. Backup properties.",
          "readOnly": true,
          "$ref": "BackupProperties"
        },
        "databaseType": {
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "readOnly": true,
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ]
        }
      },
      "id": "DatabaseProperties",
      "type": "object"
    },
    "AgentStatusServiceStatus": {
      "type": "object",
      "id": "AgentStatusServiceStatus",
      "properties": {
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "readOnly": true,
          "type": "string"
        },
        "fullyFunctional": {
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        },
        "errorMessage": {
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional.",
          "readOnly": true
        },
        "iamPermissions": {
          "type": "array",
          "description": "Output only. The permissions required for the service.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          }
        },
        "configValues": {
          "type": "array",
          "description": "Output only. The configuration values for the service.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusConfigValue"
          }
        },
        "name": {
          "description": "Output only. The name of the service.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        }
      },
      "description": "The status of a service (process metrics, host metrics, etc.)."
    },
    "IAMPermission": {
      "type": "object",
      "id": "IAMPermission",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the permission.",
          "readOnly": true
        },
        "granted": {
          "type": "boolean",
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true
        }
      },
      "description": "The IAM permission status."
    },
    "Evaluation": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "evaluationType": {
          "description": "Evaluation type.",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ]
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "name": {
          "type": "string",
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`."
        },
        "customRulesBucket": {
          "type": "string",
          "description": "The Cloud Storage bucket name for custom rules."
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "schedule": {
          "type": "string",
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly"
        },
        "ruleNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation."
        },
        "createTime": {
          "type": "string",
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        }
      },
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "type": "object",
      "id": "Evaluation"
    },
    "HealthCheck": {
      "type": "object",
      "id": "HealthCheck",
      "properties": {
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "readOnly": true,
          "$ref": "CloudResource"
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Output only. The message of the health check.",
          "readOnly": true
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "description": "Output only. The state of the health check.",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ]
        },
        "source": {
          "type": "string",
          "description": "Output only. The source of the health check.",
          "readOnly": true
        }
      },
      "description": "HealthCheck contains the detailed health check of a component based on asource."
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "type": "object",
      "description": "Disk mount on the instance.",
      "properties": {
        "mountPoint": {
          "type": "string",
          "description": "Optional. Filesystem mount point."
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "diskNames": {
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the disks providing this mount point.",
          "type": "array"
        }
      }
    },
    "SqlserverValidation": {
      "type": "object",
      "id": "SqlserverValidation",
      "properties": {
        "validationDetails": {
          "type": "array",
          "description": "Optional. A list of SqlServer validation metrics data.",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          }
        },
        "agentVersion": {
          "type": "string",
          "description": "Optional. The agent version collected this data point"
        },
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        }
      },
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data."
    },
    "Insight": {
      "id": "Insight",
      "type": "object",
      "description": "A presentation of host resource usage where the workload runs.",
      "properties": {
        "instanceId": {
          "type": "string",
          "description": "Optional. The instance id where the insight is generated from"
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "sentTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "sapDiscovery": {
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes.",
          "$ref": "SapDiscovery"
        }
      }
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "type": "object",
      "description": "HealthCondition contains the detailed health check of each component.",
      "properties": {
        "componentHealthChecks": {
          "items": {
            "$ref": "HealthCheck"
          },
          "description": "The detailed health checks of the component.",
          "type": "array"
        },
        "componentHealthType": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "readOnly": true,
          "description": "Output only. The type of the component health.",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ]
        },
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "state": {
          "description": "Output only. The health state of the component.",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "type": "string",
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "readOnly": true
        },
        "subComponentsHealth": {
          "items": {
            "$ref": "ComponentHealth"
          },
          "description": "Sub component health.",
          "type": "array"
        }
      }
    },
    "RuleExecutionResult": {
      "description": "Execution result summary per rule.",
      "properties": {
        "resultCount": {
          "description": "Number of violations.",
          "format": "int64",
          "type": "string"
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "format": "int64",
          "type": "string"
        },
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "readOnly": true,
          "description": "Output only. The execution status.",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ]
        }
      },
      "id": "RuleExecutionResult",
      "type": "object"
    },
    "Resource": {
      "properties": {
        "type": {
          "description": "The type of resource.",
          "type": "string"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the resource."
        },
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        }
      },
      "description": "Resource in execution result.",
      "type": "object",
      "id": "Resource"
    },
    "SapDiscoveryResource": {
      "properties": {
        "updateTime": {
          "type": "string",
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime"
        },
        "relatedResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of resource URIs related to this resource."
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. URI of the resource, includes project, location, and name."
        },
        "resourceKind": {
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "resourceType": {
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "description": "Required. The type of this resource.",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ]
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        }
      },
      "description": "Message describing a resource.",
      "type": "object",
      "id": "SapDiscoveryResource"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "description": "KernelVersion encapsulates the kernel version data for the system.",
      "properties": {
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "osKernel": {
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "distroKernel": {
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "type": "object"
    },
    "AgentStatusIAMPermission": {
      "type": "object",
      "id": "AgentStatusIAMPermission",
      "properties": {
        "granted": {
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "description": "Output only. Whether the permission is granted.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "name": {
          "description": "Output only. The name of the permission.",
          "readOnly": true,
          "type": "string"
        }
      },
      "description": "The IAM permission status."
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "type": "object",
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        }
      }
    },
    "AppDetails": {
      "id": "AppDetails",
      "type": "object",
      "description": "Message for sap instant details",
      "properties": {
        "ersInstanceId": {
          "type": "string",
          "description": "Optional. instance id for ers"
        },
        "ascsImage": {
          "description": "Required. image for ascs server",
          "type": "string"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. secret_manager_secret"
        },
        "ersVm": {
          "description": "Optional. ERS vm name",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS vm name",
          "type": "string"
        },
        "ascsServiceAccount": {
          "type": "string",
          "description": "ASCS service account - let custoemrs bring their own SA for ASCS"
        },
        "appServiceAccount": {
          "type": "string",
          "description": "Application service account - let custoemrs bring their own SA for application"
        },
        "appInstanceId": {
          "description": "Optional. instance id for app",
          "type": "string"
        },
        "ascsMachineType": {
          "type": "string",
          "description": "Required. ascs_machine_type"
        },
        "image": {
          "description": "Required. image for app server and ascs server",
          "type": "string"
        },
        "vmsMultiplier": {
          "type": "integer",
          "description": "Required. vms_multiplier",
          "format": "int32"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "sharedStorage": {
          "type": "string",
          "description": "Optional. Storage location"
        },
        "ascsInstanceId": {
          "type": "string",
          "description": "Optional. instance id for ascs"
        },
        "appVmNames": {
          "type": "array",
          "description": "Optional. Customized vm names",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "SapDiscoveryWorkloadProperties": {
      "type": "object",
      "id": "SapDiscoveryWorkloadProperties",
      "properties": {
        "productVersions": {
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "type": "array"
        },
        "softwareComponentVersions": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "description": "Optional. A list of SAP software components and their versions running on the system."
        }
      },
      "description": "A set of properties describing an SAP workload."
    },
    "ResourceFilter": {
      "id": "ResourceFilter",
      "type": "object",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "properties": {
        "resourceIdPatterns": {
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        },
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
        },
        "inclusionLabels": {
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "AgentCommand": {
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "AgentCommand",
      "type": "object"
    },
    "Notice": {
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. Message of the notice.",
          "readOnly": true
        }
      },
      "description": "Additional information generated by an execution.",
      "type": "object",
      "id": "Notice"
    },
    "SapDiscoveryComponent": {
      "properties": {
        "replicationSites": {
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "type": "array"
        },
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "topologyType": {
          "description": "Optional. The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "hostProject": {
          "type": "string",
          "description": "Required. Pantheon Project in which the resources reside."
        },
        "haHosts": {
          "type": "array",
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          }
        },
        "region": {
          "type": "string",
          "description": "Optional. The region this component's resources are primarily located in."
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "type": "array"
        },
        "sid": {
          "type": "string",
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers."
        }
      },
      "description": "Message describing the system component.",
      "type": "object",
      "id": "SapDiscoveryComponent"
    },
    "WriteInsightResponse": {
      "type": "object",
      "id": "WriteInsightResponse",
      "properties": {},
      "description": "The response for write insights request."
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "type": "object",
      "description": "Message for response to listing Deployments",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of Deployment"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array"
[...]
