{
  "canonicalName": "Workload Manager",
  "title": "Workload Manager API",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "discoveryVersion": "v1",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "workloadmanager.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "type": "integer",
                  "format": "int32",
                  "location": "query"
                },
                "pageToken": {
                  "location": "query",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "type": "string"
                },
                "filter": {
                  "location": "query",
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160)."
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                },
                "extraLocationTypes": {
                  "type": "string",
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "location": "query"
                }
              },
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "httpMethod": "GET"
            },
            "get": {
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "path": "v1/{+name}",
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "response": {
                "$ref": "Location"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "workloadmanager.projects.locations.get",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}"
            }
          },
          "resources": {
            "insights": {
              "methods": {
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insights/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "description": "Delete the data insights from workload manager data warehouse.",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.insights.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights/{insightsId}"
                },
                "writeInsight": {
                  "httpMethod": "POST",
                  "description": "Write the data insights to workload manager data warehouse.",
                  "path": "v1/{+location}/insights:writeInsight",
                  "parameters": {
                    "location": {
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "WriteInsightRequest"
                  },
                  "parameterOrder": [
                    "location"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight",
                  "id": "workloadmanager.projects.locations.insights.writeInsight",
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "discoveredprofiles": {
              "methods": {
                "list": {
                  "id": "workloadmanager.projects.locations.discoveredprofiles.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles",
                  "response": {
                    "$ref": "ListDiscoveredProfilesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "List discovered workload profiles",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/discoveredprofiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Parent value for ListDiscoveredProfilesRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "pageToken": {
                      "location": "query",
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results",
                      "type": "string"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a discovered workload profile.",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}",
                  "id": "workloadmanager.projects.locations.discoveredprofiles.get",
                  "response": {
                    "$ref": "WorkloadProfile"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "health": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "WorkloadProfileHealth"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}/health/{healthId}",
                      "id": "workloadmanager.projects.locations.discoveredprofiles.health.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "description": "Get the health of a discovered workload profile.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+/health/[^/]+$",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "evaluations": {
              "methods": {
                "list": {
                  "id": "workloadmanager.projects.locations.evaluations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "type": "string",
                      "description": "Hint for how to order the results."
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent value for ListEvaluationsRequest.",
                      "location": "path",
                      "required": true
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter to be applied when listing the evaluation results.",
                      "location": "query"
                    }
                  },
                  "description": "Lists Evaluations in a given project and location.",
                  "httpMethod": "GET",
                  "path": "v1/{+parent}/evaluations"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "id": "workloadmanager.projects.locations.evaluations.get",
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "description": "Gets details of a single Evaluation.",
                  "path": "v1/{+name}"
                },
                "patch": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.patch",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Evaluation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "path": "v1/{+name}",
                  "description": "Updates the parameters of a single Evaluation.",
                  "httpMethod": "PATCH"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "description": "Deletes a single Evaluation.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. Followed the best practice from https://aip.dev/135#cascading-delete.",
                      "location": "query"
                    },
                    "name": {
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "id": "workloadmanager.projects.locations.evaluations.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "create": {
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`."
                    },
                    "evaluationId": {
                      "location": "query",
                      "description": "Required. Id of the requesting object.",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "description": "Creates a new Evaluation in a given project and location.",
                  "path": "v1/{+parent}/evaluations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              },
              "resources": {
                "executions": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "orderBy": {
                          "location": "query",
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. The resource prefix of the Execution using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "filter": {
                          "description": "Filtering results.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "format": "int32",
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "A token identifying a page of results the server should return."
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists Executions in a given project and location.",
                      "path": "v1/{+parent}/executions",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "response": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets details of a single Execution.",
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the resource.",
                          "location": "path",
                          "required": true
                        }
                      }
                    },
                    "run": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.evaluations.executions.run",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "path": "v1/{+name}/executions:run",
                      "description": "Creates a new Execution in a given project and location.",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Evaluation using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      }
                    },
                    "delete": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "id": "workloadmanager.projects.locations.evaluations.executions.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the resource."
                        },
                        "requestId": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes a single Execution.",
                      "path": "v1/{+name}"
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "description": "Lists the result of a single evaluation.",
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/results",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results."
                            },
                            "pageSize": {
                              "location": "query",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "type": "integer",
                              "format": "int32"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "type": "string",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Filtering results.",
                              "location": "query"
                            }
                          },
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results",
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    },
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "path": "v1/{+parent}/scannedResources",
                          "httpMethod": "GET",
                          "description": "List all scanned resources for a single Execution.",
                          "parameters": {
                            "parent": {
                              "description": "Required. Parent for ListScannedResourcesRequest.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "filter": {
                              "location": "query",
                              "description": "Filtering results.",
                              "type": "string"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details."
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A token identifying a page of results the server should return.",
                              "location": "query"
                            },
                            "rule": {
                              "location": "query",
                              "type": "string",
                              "description": "Rule name."
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list"
                        }
                      }
                    }
                  }
                }
              }
            },
            "deployments": {
              "methods": {
                "list": {
                  "path": "v1/{+parent}/deployments",
                  "httpMethod": "GET",
                  "description": "Lists Deployments in a given project and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`"
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. Filter resource follow https://google.aip.dev/160"
                    },
                    "orderBy": {
                      "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "response": {
                    "$ref": "ListDeploymentsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "id": "workloadmanager.projects.locations.deployments.list"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.deployments.create",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "path": "v1/{+parent}/deployments",
                  "description": "Creates a new Deployment in a given project and location.",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "deploymentId": {
                      "description": "Required. Id of the deployment",
                      "type": "string",
                      "location": "query"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "parent": {
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "request": {
                    "$ref": "Deployment"
                  }
                },
                "delete": {
                  "id": "workloadmanager.projects.locations.deployments.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a single Deployment.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "required": true
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, any actuation will also be deleted. Followed the best practice from https://aip.dev/135#cascading-delete",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single Deployment.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the resource. The format will be 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Deployment"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "id": "workloadmanager.projects.locations.deployments.get"
                }
              },
              "resources": {
                "actuations": {
                  "methods": {
                    "list": {
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "format": "int32",
                          "location": "query"
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return."
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource prefix of the Actuation using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "type": "string"
                        },
                        "filter": {
                          "description": "Optional. Filtering results",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "description": "Lists Actuations in a given project, location and deployment.",
                      "path": "v1/{+parent}/actuations",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "id": "workloadmanager.projects.locations.deployments.actuations.list",
                      "response": {
                        "$ref": "ListActuationsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "response": {
                        "$ref": "Actuation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "id": "workloadmanager.projects.locations.deployments.actuations.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "description": "Gets details of a single Actuation.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the resource",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "create": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Actuation location using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Actuation"
                      },
                      "description": "Creates a new actuation for an existing Deployment.",
                      "httpMethod": "POST",
                      "path": "v1/{+parent}/actuations",
                      "id": "workloadmanager.projects.locations.deployments.actuations.create",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "type": "string",
                          "description": "Required. The name of the book to delete. project/{project_id}/locations/{location_id}/deployments/{deployment_id}/actuations/{actuation_id}",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "DELETE",
                      "description": "Deletes a single Actuation",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "id": "workloadmanager.projects.locations.deployments.actuations.delete",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "The standard list filter.",
                      "type": "string"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "pageSize": {
                      "description": "The standard list page size.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "httpMethod": "GET",
                  "path": "v1/{+name}/operations",
                  "id": "workloadmanager.projects.locations.operations.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "httpMethod": "GET",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "id": "workloadmanager.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "cancel": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "workloadmanager.projects.locations.operations.cancel"
                },
                "delete": {
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string"
                    }
                  },
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "rules": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "id": "workloadmanager.projects.locations.rules.list",
                  "parameters": {
                    "customRulesBucket": {
                      "description": "The Cloud Storage bucket name for custom rules.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter based on primary_category, secondary_category.",
                      "location": "query"
                    },
                    "evaluationType": {
                      "type": "string",
                      "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules.",
                      "location": "query",
                      "enum": [
                        "EVALUATION_TYPE_UNSPECIFIED",
                        "SAP",
                        "SQL_SERVER",
                        "OTHER"
                      ],
                      "enumDescriptions": [
                        "Not specified.",
                        "SAP best practices.",
                        "SQL best practices.",
                        "Customized best practices."
                      ]
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/rules",
                  "httpMethod": "GET",
                  "description": "Lists rules in a given project."
                }
              }
            }
          }
        }
      }
    }
  },
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "name": "workloadmanager",
  "parameters": {
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth access token."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    }
  },
  "kind": "discovery#restDescription",
  "schemas": {
    "SapDiscoveryComponentDatabaseProperties": {
      "id": "SapDiscoveryComponentDatabaseProperties",
      "description": "A set of properties describing an SAP Database layer.",
      "properties": {
        "primaryInstanceUri": {
          "type": "string",
          "description": "Required. URI of the recognized primary instance of the database."
        },
        "landscapeId": {
          "type": "string",
          "description": "Optional. Landscape ID from the HANA nameserver."
        },
        "databaseVersion": {
          "type": "string",
          "description": "Optional. The version of the database software running in the system."
        },
        "databaseType": {
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "type": "string"
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "databaseSid": {
          "type": "string",
          "description": "Optional. SID of the system database."
        }
      },
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "type": "object",
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "description": "Fields to describe an SAP application server instance.",
      "properties": {
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      }
    },
    "Actuation": {
      "id": "Actuation",
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "state unspecified",
            "creating infrastructure in backend (terraform applying)",
            "success",
            "failed either in infra creating, post infra configuring or infra destroying",
            "configure workload after infrastructure is ready (ansible running)",
            "destroying infrastructure in backend (terraform destroying)",
            "ansible is timeout due to losing heartbeat in post infra configuring"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "readOnly": true,
          "description": "Output only. [Output only] Actuation state",
          "type": "string"
        },
        "name": {
          "description": "The name of actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}",
          "type": "string"
        },
        "actuationOutput": {
          "readOnly": true,
          "description": "Output only. [Output only] Actuation output",
          "$ref": "ActuationOutput"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Start time stamp",
          "readOnly": true
        },
        "deploymentOutput": {
          "readOnly": true,
          "description": "Output only. [Output only] Deployment output",
          "type": "array",
          "items": {
            "$ref": "DeploymentOutput"
          }
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] End time stamp",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "HealthCheck": {
      "id": "HealthCheck",
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Output only. The source of the health check.",
          "readOnly": true
        },
        "state": {
          "description": "Output only. The state of the health check.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ]
        },
        "message": {
          "type": "string",
          "description": "Output only. The message of the health check.",
          "readOnly": true
        },
        "resource": {
          "readOnly": true,
          "description": "Output only. The resource the check performs on.",
          "$ref": "CloudResource"
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "type": "object"
    },
    "Rule": {
      "id": "Rule",
      "description": "A rule to be evaluated.",
      "properties": {
        "severity": {
          "type": "string",
          "description": "The severity of the rule."
        },
        "description": {
          "type": "string",
          "description": "Describe rule in plain language."
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of user-defined tags."
        },
        "remediation": {
          "description": "The remediation for the rule.",
          "type": "string"
        },
        "primaryCategory": {
          "type": "string",
          "description": "The primary category."
        },
        "revisionId": {
          "readOnly": true,
          "description": "Output only. The version of the rule.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The document url for the rule."
        },
        "assetType": {
          "type": "string",
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types."
        },
        "secondaryCategory": {
          "type": "string",
          "description": "The secondary category."
        },
        "displayName": {
          "type": "string",
          "description": "The name display in UI."
        },
        "ruleType": {
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "description": "The type of the rule.",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ],
          "type": "string"
        }
      },
      "type": "object"
    },
    "SapValidation": {
      "type": "object",
      "id": "SapValidation",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "properties": {
        "zone": {
          "type": "string",
          "description": "Optional. The zone of the instance that the Insight data comes from."
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "validationDetails": {
          "type": "array",
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "description": "Optional. A list of SAP validation metrics data."
        }
      }
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "description": "BigQuery destination for evaluation results.",
      "properties": {
        "destinationDataset": {
          "type": "string",
          "description": "Optional. Destination dataset to save evaluation results."
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "properties": {
        "build": {
          "description": "Optional. The build version number.",
          "type": "integer",
          "format": "int32"
        },
        "remainder": {
          "type": "string",
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4."
        },
        "major": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The major version number."
        },
        "patch": {
          "description": "Optional. The patch version number.",
          "type": "integer",
          "format": "int32"
        },
        "minor": {
          "description": "Optional. The minor version number.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AgentStatusConfigValue": {
      "type": "object",
      "id": "AgentStatusConfigValue",
      "description": "The configuration value.",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the configuration value."
        },
        "value": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The value of the configuration value."
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the configuration value is the default value or overridden."
        }
      }
    },
    "IAMPermission": {
      "type": "object",
      "id": "IAMPermission",
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "type": "string",
          "readOnly": true
        },
        "granted": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the permission is granted."
        }
      }
    },
    "WorkloadProfile": {
      "type": "object",
      "id": "WorkloadProfile",
      "description": "Workload resource.",
      "properties": {
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "labels": {
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "refreshedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. time when the workload data was refreshed"
        },
        "workloadType": {
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "type": "string",
          "description": "Required. The type of the workload",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ]
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        }
      }
    },
    "AgentStatusIAMPermission": {
      "type": "object",
      "id": "AgentStatusIAMPermission",
      "description": "The IAM permission status.",
      "properties": {
        "granted": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the permission is granted.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "name": {
          "description": "Output only. The name of the permission.",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SqlLocationDetails": {
      "id": "SqlLocationDetails",
      "description": "Location and networking details for configuring SQL server workload",
      "properties": {
        "network": {
          "type": "string",
          "description": "Required. network name"
        },
        "region": {
          "description": "Required. region name",
          "type": "string"
        },
        "primaryZone": {
          "type": "string",
          "description": "Required. primary zone"
        },
        "internetAccess": {
          "enumDescriptions": [
            "Unspecified internet access",
            "Allow external IP",
            "Configure NAT"
          ],
          "description": "Required. Internet Access",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "type": "string"
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. create a new DNS Zone when the field is empty, Only show for `Using an existing DNS` List of existing DNS Zones tf variable name: existing_dns_zone_name"
        },
        "tertiaryZone": {
          "description": "Optional. teriary zone can't be same as primary_zone and secondary zone, and it is only for High Availability deployment mode",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. the project that infrastructure deployed, currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "secondaryZone": {
          "type": "string",
          "description": "Optional. secondary zone can't be same as primary_zone and is only for High Availability deployment mode"
        },
        "subnetwork": {
          "type": "string",
          "description": "Required. subnetwork name"
        }
      },
      "type": "object"
    },
    "TorsoValidation": {
      "type": "object",
      "id": "TorsoValidation",
      "description": "The schema of torso workload validation data.",
      "properties": {
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        },
        "validationDetails": {
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "workloadType": {
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "type": "string",
          "description": "Required. workload_type specifies the type of torso workload.",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ]
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        }
      }
    },
    "ActiveDirectory": {
      "type": "object",
      "id": "ActiveDirectory",
      "description": "Active directory details",
      "properties": {
        "dnsAddress": {
          "description": "Optional. DNS IP address",
          "type": "string"
        },
        "domain": {
          "type": "string",
          "description": "Optional. human readable form of a domain such as “google.com”."
        },
        "type": {
          "type": "string",
          "description": "Required. active directory type",
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified active directory type",
            "GCP managed active directory type",
            "Self managed active directory type"
          ]
        },
        "domainUsername": {
          "type": "string",
          "description": "Optional. domain username"
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. secret_manager_secret"
        }
      }
    },
    "WorkloadProfileHealth": {
      "type": "object",
      "id": "WorkloadProfileHealth",
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "properties": {
        "checkTime": {
          "description": "The time when the health check was performed.",
          "type": "string",
          "format": "google-datetime"
        },
        "componentsHealth": {
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          },
          "description": "The detailed condition reports of each component."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "readOnly": true,
          "description": "Output only. The health state of the workload.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "description": "Disk mount on the instance.",
      "properties": {
        "mountPoint": {
          "type": "string",
          "description": "Optional. Filesystem mount point."
        },
        "name": {
          "type": "string",
          "description": "Optional. Name of the disk."
        },
        "diskNames": {
          "description": "Optional. Names of the disks providing this mount point.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AgentStatus": {
      "type": "object",
      "id": "AgentStatus",
      "description": "The schema of agent status data.",
      "properties": {
        "systemdServiceRunning": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the agent service is running in systemd."
        },
        "availableVersion": {
          "readOnly": true,
          "description": "Output only. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "services": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusServiceStatus"
          },
          "description": "Output only. The services (process metrics, host metrics, etc.)."
        },
        "references": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusReference"
          },
          "description": "Output only. Optional references to public documentation."
        },
        "kernelVersion": {
          "readOnly": true,
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Output only. The kernel version of the system."
        },
        "configurationFilePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to the agent configuration file."
        },
        "instanceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/"
        },
        "agentName": {
          "description": "Output only. The name of the agent.",
          "type": "string",
          "readOnly": true
        },
        "systemdServiceEnabled": {
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "configurationErrorMessage": {
          "type": "string",
          "description": "Output only. The error message for the agent configuration if invalid.",
          "readOnly": true
        },
        "installedVersion": {
          "description": "Output only. The installed version of the agent on the host.",
          "type": "string",
          "readOnly": true
        },
        "configurationValid": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Whether the agent configuration is valid."
        },
        "cloudApiAccessFullScopesGranted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "type": "string"
        }
      }
    },
    "RuleExecutionResult": {
      "id": "RuleExecutionResult",
      "description": "Execution result summary per rule.",
      "properties": {
        "rule": {
          "type": "string",
          "description": "Rule name as plain text like `sap-hana-configured`."
        },
        "state": {
          "description": "Output only. The execution status.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ]
        },
        "message": {
          "type": "string",
          "description": "Execution message, if any."
        },
        "resultCount": {
          "description": "Number of violations.",
          "type": "string",
          "format": "int64"
        },
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "description": "The body of sap workload",
      "properties": {
        "metadata": {
          "readOnly": true,
          "description": "Output only. The metadata for SAP workload.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "database": {
          "readOnly": true,
          "$ref": "SapComponent",
          "description": "Output only. database component"
        },
        "application": {
          "$ref": "SapComponent",
          "description": "Output only. application component",
          "readOnly": true
        },
        "architecture": {
          "readOnly": true,
          "description": "Output only. The architecture.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ]
        },
        "products": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Product"
          },
          "description": "Output only. The products on this workload."
        }
      },
      "type": "object"
    },
    "AgentCommand": {
      "type": "object",
      "id": "AgentCommand",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "TerraformVariable": {
      "id": "TerraformVariable",
      "description": "In order to align with Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest A Terraform input variable.",
      "properties": {
        "inputValue": {
          "type": "any",
          "description": "Optional. Input variable value."
        }
      },
      "type": "object"
    },
    "Evaluation": {
      "id": "Evaluation",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "properties": {
        "resourceFilter": {
          "$ref": "ResourceFilter",
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated."
        },
        "resourceStatus": {
          "$ref": "ResourceStatus",
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true
        },
        "ruleNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation."
        },
        "schedule": {
          "type": "string",
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "evaluationType": {
          "type": "string",
          "description": "Evaluation type.",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ]
        },
        "description": {
          "type": "string",
          "description": "Description of the Evaluation."
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination",
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery."
        },
        "updateTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp."
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "Pacemaker": {
      "id": "Pacemaker",
      "description": "pacemaker configuration",
      "properties": {
        "bucketNameNodeCertificates": {
          "description": "Required. bucket location for node certificates",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "type": "string",
          "description": "Required. sql pacemaker username"
        },
        "pacemakerClusterUsername": {
          "type": "string",
          "description": "Required. pacemaker cluster username"
        },
        "pacemakerClusterSecret": {
          "type": "string",
          "description": "Required. pacemaker cluster secret name"
        },
        "pacemakerCluster": {
          "description": "Required. pacemaker cluster name",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. sql pacemaker secret name",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SapDiscoveryResource": {
      "id": "SapDiscoveryResource",
      "description": "Message describing a resource.",
      "properties": {
        "instanceProperties": {
          "$ref": "SapDiscoveryResourceInstanceProperties",
          "description": "Optional. A set of properties only applying to instance type resources."
        },
        "resourceKind": {
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
[...]
