{
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "ownerName": "Google",
  "revision": "20260204",
  "name": "workloadmanager",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "version_module": true,
  "id": "workloadmanager:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "rules": {
              "methods": {
                "list": {
                  "description": "Lists rules in a given project.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter based on primary_category, secondary_category"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "evaluationType": {
                      "enumDescriptions": [
                        "Not specified",
                        "SAP best practices",
                        "SQL best practices",
                        "Customized best practices",
                        "SCC IaC (Infra as Code) best practices."
                      ],
                      "location": "query",
                      "enum": [
                        "EVALUATION_TYPE_UNSPECIFIED",
                        "SAP",
                        "SQL_SERVER",
                        "OTHER",
                        "SCC_IAC"
                      ],
                      "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules.",
                      "enumDeprecated": [
                        false,
                        false,
                        false,
                        false,
                        true
                      ],
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "format": "int32",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "customRulesBucket": {
                      "location": "query",
                      "description": "The Cloud Storage bucket name for custom rules.",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.rules.list",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "path": "v1/{+parent}/rules"
                }
              }
            },
            "evaluations": {
              "resources": {
                "executions": {
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "description": "Lists the result of a single evaluation.",
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results",
                              "required": true
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Filtering results"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "path": "v1/{+parent}/results"
                        }
                      }
                    },
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "description": "List all scanned resources for a single Execution.",
                          "httpMethod": "GET",
                          "parameters": {
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "type": "string",
                              "location": "path",
                              "description": "Required. parent for ListScannedResourcesRequest",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "required": true
                            },
                            "pageSize": {
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "type": "integer",
                              "location": "query",
                              "format": "int32"
                            },
                            "rule": {
                              "type": "string",
                              "description": "rule name",
                              "location": "query"
                            },
                            "orderBy": {
                              "location": "query",
                              "type": "string",
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details."
                            },
                            "filter": {
                              "description": "Filtering results",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list",
                          "path": "v1/{+parent}/scannedResources"
                        }
                      }
                    }
                  },
                  "methods": {
                    "run": {
                      "path": "v1/{+name}/executions:run",
                      "parameterOrder": [
                        "name"
                      ],
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.run",
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new Execution in a given project and location.",
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "description": "Required. The resource name of the Execution using the form: 'projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}'",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                        }
                      }
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "type": "string",
                          "description": "Required. Name of the resource",
                          "required": true,
                          "location": "path"
                        },
                        "requestId": {
                          "location": "query",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string"
                        }
                      },
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "httpMethod": "DELETE",
                      "id": "workloadmanager.projects.locations.evaluations.executions.delete",
                      "description": "Deletes a single Execution.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "get": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "path": "v1/{+name}",
                      "description": "Gets details of a single Execution.",
                      "response": {
                        "$ref": "Execution"
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "path": "v1/{+parent}/executions",
                      "parameters": {
                        "filter": {
                          "description": "Filtering results",
                          "type": "string",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "description": "Required. The resource prefix of the Execution using the form: 'projects/{project}/locations/{location}/evaluations/{evaluation}'"
                        },
                        "pageToken": {
                          "description": "A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        },
                        "orderBy": {
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "type": "string",
                          "location": "query"
                        },
                        "pageSize": {
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Executions in a given project and location."
                    }
                  }
                }
              },
              "methods": {
                "patch": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.patch",
                  "description": "Updates the parameters of a single Evaluation.",
                  "path": "v1/{+name}",
                  "parameters": {
                    "updateMask": {
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Evaluation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "format": "google-fieldmask",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "type": "string",
                      "required": true,
                      "description": "name of resource names have the form 'projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}'",
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "request": {
                    "$ref": "Evaluation"
                  }
                },
                "create": {
                  "path": "v1/{+parent}/evaluations",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "evaluationId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Id of the requesting object"
                    },
                    "parent": {
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`",
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "description": "Creates a new Evaluation in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    },
                    "force": {
                      "description": "Optional. Followed the best practice from https://aip.dev/135#cascading-delete",
                      "type": "boolean",
                      "location": "query"
                    }
                  },
                  "id": "workloadmanager.projects.locations.evaluations.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a single Evaluation.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "httpMethod": "GET",
                  "description": "Gets details of a single Evaluation.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                    }
                  },
                  "id": "workloadmanager.projects.locations.evaluations.get",
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "location": "query",
                      "description": "Filter to be applied when listing the evaluation results."
                    },
                    "parent": {
                      "description": "Required. Parent value for ListEvaluationsRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "A token identifying a page of results the server should return."
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Hint for how to order the results",
                      "type": "string"
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists Evaluations in a given project and location.",
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  },
                  "id": "workloadmanager.projects.locations.evaluations.list",
                  "path": "v1/{+parent}/evaluations"
                }
              }
            },
            "deployments": {
              "resources": {
                "actuations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$"
                        }
                      },
                      "path": "v1/{+name}",
                      "response": {
                        "$ref": "Actuation"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Gets details of a single Actuation.",
                      "id": "workloadmanager.projects.locations.deployments.actuations.get",
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}"
                    },
                    "list": {
                      "response": {
                        "$ref": "ListActuationsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1/{+parent}/actuations",
                      "parameters": {
                        "filter": {
                          "type": "string",
                          "location": "query",
                          "description": "Optional. Filtering results"
                        },
                        "orderBy": {
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "description": "Required. The resource prefix of the Actuation using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "description": "Lists Actuations in a given project, location and deployment.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.list",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations"
                    },
                    "create": {
                      "description": "Creates a new actuation for an existing Deployment.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "httpMethod": "POST",
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Actuation location using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "request": {
                        "$ref": "Actuation"
                      },
                      "id": "workloadmanager.projects.locations.deployments.actuations.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/actuations"
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.delete",
                      "path": "v1/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "required": true,
                          "location": "path",
                          "type": "string",
                          "description": "Required. The name of the book to delete. project/{project_id}/locations/{location_id}/deployments/{deployment_id}/actuations/{actuation_id}"
                        }
                      },
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "description": "Deletes a single Actuation"
                    }
                  }
                }
              },
              "methods": {
                "get": {
                  "httpMethod": "GET",
                  "response": {
                    "$ref": "Deployment"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the resource. The format will be 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'",
                      "required": true
                    }
                  },
                  "description": "Gets details of a single Deployment.",
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.deployments.get",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}"
                },
                "list": {
                  "response": {
                    "$ref": "ListDeploymentsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query",
                      "format": "int32"
                    },
                    "orderBy": {
                      "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter resource follow https://google.aip.dev/160",
                      "location": "query"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "workloadmanager.projects.locations.deployments.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "description": "Lists Deployments in a given project and location.",
                  "path": "v1/{+parent}/deployments"
                },
                "create": {
                  "description": "Creates a new Deployment in a given project and location.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.deployments.create",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/deployments",
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "Deployment"
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    },
                    "deploymentId": {
                      "type": "string",
                      "location": "query",
                      "description": "Required. Id of the deployment"
                    }
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "id": "workloadmanager.projects.locations.deployments.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Deletes a single Deployment.",
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set to true, any actuation will also be deleted. Followed the best practice from https://aip.dev/135#cascading-delete"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "description": "Required. Name of the resource"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "path": "v1/{+name}"
                }
              }
            },
            "discoveredprofiles": {
              "resources": {
                "health": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "WorkloadProfileHealth"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+/health/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name"
                        }
                      },
                      "id": "workloadmanager.projects.locations.discoveredprofiles.health.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}/health/{healthId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "path": "v1/{+name}",
                      "description": "Get the health of a discovered workload profile."
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles",
                  "id": "workloadmanager.projects.locations.discoveredprofiles.list",
                  "parameters": {
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results",
                      "type": "string"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "format": "int32",
                      "location": "query"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListDiscoveredProfilesRequest",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "description": "List discovered workload profiles",
                  "path": "v1/{+parent}/discoveredprofiles",
                  "response": {
                    "$ref": "ListDiscoveredProfilesResponse"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "WorkloadProfile"
                  },
                  "id": "workloadmanager.projects.locations.discoveredprofiles.get",
                  "httpMethod": "GET",
                  "description": "Gets details of a discovered workload profile.",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+$",
                      "description": "Required. Name of the resource"
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "delete": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource to be deleted."
                    }
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "response": {
                    "$ref": "Empty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "id": "workloadmanager.projects.locations.operations.list",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "The standard list page size.",
                      "format": "int32"
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "path": "v1/{+name}/operations"
                },
                "cancel": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "id": "workloadmanager.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled."
                    }
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  }
                },
                "get": {
                  "path": "v1/{+name}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.operations.get",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "GET",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "type": "string",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ]
                }
              }
            },
            "insights": {
              "methods": {
                "delete": {
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "required": true,
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insights/[^/]+$",
                      "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Empty"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights/{insightsId}",
                  "id": "workloadmanager.projects.locations.insights.delete",
                  "description": "Delete the data insights from workload manager data warehouse.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "writeInsight": {
                  "description": "Write the data insights to workload manager data warehouse.",
                  "parameters": {
                    "location": {
                      "required": true,
                      "type": "string",
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "WriteInsightRequest"
                  },
                  "path": "v1/{+location}/insights:writeInsight",
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight",
                  "id": "workloadmanager.projects.locations.insights.writeInsight",
                  "parameterOrder": [
                    "location"
                  ]
                }
              }
            }
          },
          "methods": {
            "list": {
              "id": "workloadmanager.projects.locations.list",
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "pageSize": {
                  "format": "int32",
                  "type": "integer",
                  "location": "query",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "name": {
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "location": "path"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method can be called in two ways: * **List all public locations:** Use the path `GET /v1/locations`. * **List project-visible locations:** Use the path `GET /v1/projects/{project_id}/locations`. This may include public locations as well as private or other locations specifically visible to the project."
            },
            "get": {
              "id": "workloadmanager.projects.locations.get",
              "parameterOrder": [
                "name"
              ],
              "description": "Gets information about a location.",
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "location": "path",
                  "type": "string",
                  "description": "Resource name for the location.",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "path": "v1/{+name}"
            }
          }
        }
      }
    }
  },
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "parameters": {
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "$.xgafv": {
      "type": "string",
      "description": "V1 error format.",
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ]
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "alt": {
      "type": "string",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    }
  },
  "canonicalName": "Workload Manager",
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "type": "object",
      "id": "Status",
      "properties": {
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "code": {
          "type": "integer",
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32"
        },
        "details": {
          "type": "array",
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          }
        }
      }
    },
    "AgentStatusIAMPermission": {
      "description": "The IAM permission status.",
      "properties": {
        "granted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the permission is granted.",
          "type": "string",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the permission."
        }
      },
      "id": "AgentStatusIAMPermission",
      "type": "object"
    },
    "AgentStatus": {
      "properties": {
        "installedVersion": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The installed version of the agent on the host."
        },
        "cloudApiAccessFullScopesGranted": {
          "type": "string",
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "configurationFilePath": {
          "readOnly": true,
          "description": "Output only. The path to the agent configuration file.",
          "type": "string"
        },
        "configurationErrorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message for the agent configuration if invalid."
        },
        "systemdServiceRunning": {
          "type": "string",
          "description": "Output only. Whether the agent service is running in systemd.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "configurationValid": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "description": "Output only. Whether the agent configuration is valid.",
          "type": "string"
        },
        "references": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Optional references to public documentation.",
          "items": {
            "$ref": "AgentStatusReference"
          }
        },
        "agentName": {
          "readOnly": true,
          "description": "Output only. The name of the agent.",
          "type": "string"
        },
        "systemdServiceEnabled": {
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "type": "string",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "instanceUri": {
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "type": "string",
          "readOnly": true
        },
        "services": {
          "items": {
            "$ref": "AgentStatusServiceStatus"
          },
          "readOnly": true,
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "type": "array"
        },
        "availableVersion": {
          "description": "Output only. The available version of the agent in artifact registry.",
          "readOnly": true,
          "type": "string"
        },
        "kernelVersion": {
          "readOnly": true,
          "description": "Output only. The kernel version of the system.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        }
      },
      "id": "AgentStatus",
      "description": "The schema of agent status data.",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "type": "object",
      "properties": {
        "minor": {
          "description": "Optional. The minor version number.",
          "type": "integer",
          "format": "int32"
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        },
        "patch": {
          "format": "int32",
          "description": "Optional. The patch version number.",
          "type": "integer"
        },
        "major": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The major version number."
        },
        "build": {
          "description": "Optional. The build version number.",
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "GceInstanceFilter": {
      "type": "object",
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Service account of compute engine"
        }
      },
      "description": "Message describing compute engine instance filter",
      "id": "GceInstanceFilter"
    },
    "SapDiscoveryComponent": {
      "type": "object",
      "description": "Message describing the system component.",
      "properties": {
        "topologyType": {
          "description": "Optional. The detected topology of the component.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "resources": {
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "description": "Optional. The resources in a component.",
          "type": "array"
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "replicationSites": {
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "type": "array",
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations."
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        },
        "region": {
          "type": "string",
          "description": "Optional. The region this component's resources are primarily located in."
        },
        "haHosts": {
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "type": "array"
        }
      },
      "id": "SapDiscoveryComponent"
    },
    "DeploymentOutput": {
      "properties": {
        "type": {
          "type": "string",
          "description": "type of the resource"
        },
        "name": {
          "description": "name of the resource",
          "type": "string"
        }
      },
      "description": "Message for output of deployment resource",
      "type": "object",
      "id": "DeploymentOutput"
    },
    "AgentStatusConfigValue": {
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the configuration value."
        },
        "isDefault": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Whether the configuration value is the default value or overridden."
        },
        "value": {
          "description": "Output only. The value of the configuration value.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AgentStatusConfigValue",
      "description": "The configuration value.",
      "type": "object"
    },
    "SqlLocationDetails": {
      "id": "SqlLocationDetails",
      "description": "Location and networking details for configuring SQL server workload",
      "type": "object",
      "properties": {
        "primaryZone": {
          "type": "string",
          "description": "Required. primary zone"
        },
        "dnsZone": {
          "description": "Optional. create a new DNS Zone when the field is empty, Only show for `Using an existing DNS` List of existing DNS Zones tf variable name: existing_dns_zone_name",
          "type": "string"
        },
        "tertiaryZone": {
          "description": "Optional. teriary zone can't be same as primary_zone and secondary zone, and it is only for High Availability deployment mode",
          "type": "string"
        },
        "region": {
          "description": "Required. region name",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. secondary zone can't be same as primary_zone and is only for High Availability deployment mode",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Required. the project that infrastructure deployed, currently only supports the same project where the deployment resource exists."
        },
        "subnetwork": {
          "description": "Required. subnetwork name",
          "type": "string"
        },
        "internetAccess": {
          "enumDescriptions": [
            "Unspecified internet access",
            "Allow external IP",
            "Configure NAT"
          ],
          "type": "string",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "description": "Required. Internet Access"
        },
        "network": {
          "description": "Required. network name",
          "type": "string"
        }
      }
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "description": "Message for sap system workload",
      "properties": {
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "vmPrefix": {
          "type": "string",
          "description": "vm_prefix"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "the project that infrastructure deployed, current only support the same project where the deployment resource exist."
        },
        "app": {
          "$ref": "AppDetails",
          "description": "instance details"
        },
        "environmentType": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ],
          "description": "Required. deployment environment"
        },
        "scalingMethod": {
          "type": "string",
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "description": "Required. support scale up and scale out",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing",
            "Scale out: Combines multiple independent computers into one system"
          ]
        },
        "location": {
          "description": "database details",
          "$ref": "LocationDetails"
        },
        "database": {
          "description": "database details",
          "$ref": "DatabaseDetails"
        },
        "deploymentModel": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "description": "Required. two model non-HA and HA supported"
        },
        "sapBootDiskImage": {
          "type": "string",
          "description": "Optional. sap_boot_disk_image"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account - let custoemrs bring their own SA for Ansible runner",
          "type": "string"
        },
        "mediaBucketName": {
          "type": "string",
          "description": "Required. media_bucket_name"
        },
        "version": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "type": "string",
          "description": "Required. sap hana version"
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "id": "ListLocationsResponse",
      "type": "object",
      "properties": {
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        }
      }
    },
    "SqlServerWorkload": {
      "description": "Message for MS SQL workload",
      "type": "object",
      "id": "SqlServerWorkload",
      "properties": {
        "osImage": {
          "description": "Required. the image of the operating system",
          "type": "string"
        },
        "isSqlPayg": {
          "type": "boolean",
          "description": "Required. SQL licensing type"
        },
        "computeEngineServiceAccount": {
          "type": "string",
          "description": "Compute engine service account - let customers bring their own SA for Compute engine"
        },
        "operatingSystemType": {
          "type": "string",
          "description": "Required. type of the operating system the SQL server is going to run on top of",
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ],
          "enumDescriptions": [
            "Unspecified operating system type",
            "Windows operating system type",
            "Ubuntu operating system type",
            "Red Hat Enterprise Linux operating system type",
            "Suse operating system type"
          ]
        },
        "sqlServerVersion": {
          "description": "Optional. 2017 or 2019 or 2022",
          "enumDescriptions": [
            "Unspecified type",
            "2017 type",
            "2019 type",
            "2022 type"
          ],
          "type": "string",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ]
        },
        "location": {
          "$ref": "SqlLocationDetails",
          "description": "Required. location details"
        },
        "sqlServerEdition": {
          "description": "Optional. SQL Server Edition type, only applicable when Operating System is Linux",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type",
            "Developer type",
            "Enterprise type",
            "Standard type",
            "Web type"
          ]
        },
        "environmentType": {
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ],
          "type": "string",
          "description": "Required. deployment environment",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "database": {
          "$ref": "Database",
          "description": "Required. database details"
        },
        "mediaBucket": {
          "type": "string",
          "description": "Required. name of the media storing SQL server installation files"
        },
        "osImageType": {
          "description": "Optional. OS image type, it's used to create boot disks for VM instances When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and default to custom image",
          "enumDescriptions": [
            "Unspecified OS image type",
            "Public image",
            "Custom image"
          ],
          "type": "string",
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ]
        },
        "haType": {
          "type": "string",
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ],
          "description": "Optional. AOAG or FCI, it is only needed for High Availability deployment mode",
          "enumDescriptions": [
            "Unspecified HA type",
            "AOAG HA type",
            "FCI HA type"
          ]
        },
        "activeDirectory": {
          "description": "Required. active directory details",
          "$ref": "ActiveDirectory"
        },
        "pacemaker": {
          "$ref": "Pacemaker",
          "description": "Optional. pacemaker configuration, only applicable for Linux HA deployments"
        },
        "vmPrefix": {
          "description": "Required. should be unique in the project",
          "type": "string"
        },
        "fciType": {
          "enumDescriptions": [
            "Unspecified FCI type",
            "SHARED DISK FCI type",
            "S2D FCI type"
          ],
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ],
          "description": "Optional. SHARED_DISK or S2D",
          "type": "string"
        },
        "deploymentModel": {
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ],
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE",
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment model",
            "High Availability deployment model",
            "Single Instance deployment model"
          ]
        }
      }
    },
    "AgentStates": {
      "id": "AgentStates",
      "properties": {
        "isFullyEnabled": {
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues.",
          "type": "boolean"
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "systemDiscovery": {
          "description": "Optional. The System discovery metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        },
        "availableVersion": {
          "type": "string",
          "description": "Optional. The available version of the agent in artifact registry."
        }
      },
      "type": "object",
      "description": "Agent status."
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}"
        },
        "metadata": {
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location"
    },
    "SapDiscoveryResourceInstanceProperties": {
      "description": "A set of properties only present for an instance type resource",
      "type": "object",
      "id": "SapDiscoveryResourceInstanceProperties",
      "properties": {
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "instanceNumber": {
          "type": "string",
          "deprecated": true,
          "format": "int64",
          "description": "Optional. The VM's instance number."
        },
        "virtualHostname": {
          "type": "string",
          "description": "Optional. A virtual hostname of the instance if it has one."
        },
        "instanceRole": {
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "type": "string",
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once."
        },
        "clusterInstances": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. A list of instance URIs that are part of a cluster with this one."
        },
        "appInstances": {
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "type": "array",
          "description": "Optional. App server instances on the host"
        },
        "diskMounts": {
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "description": "Optional. Disk mounts on the instance.",
          "type": "array"
        }
      }
    },
    "ListOperationsResponse": {
      "type": "object",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "ListOperationsResponse",
      "description": "The response message for Operations.ListOperations."
    },
    "Actuation": {
      "type": "object",
      "id": "Actuation",
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "state unspecified",
            "creating infrastructure in backend (terraform applying)",
            "success",
            "failed either in infra creating, post infra configuring or infra destroying",
            "configure workload after infrastructure is ready (ansible running)",
            "destroying infrastructure in backend (terraform destroying)",
            "ansible is timeout due to losing heartbeat in post infra configuring"
          ],
          "readOnly": true,
          "description": "Output only. [Output only] Actuation state",
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "description": "Output only. [Output only] Start time stamp",
          "format": "google-datetime",
          "readOnly": true
        },
        "actuationOutput": {
          "readOnly": true,
          "$ref": "ActuationOutput",
          "description": "Output only. [Output only] Actuation output"
        },
        "name": {
          "description": "The name of actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}",
          "type": "string"
        },
        "deploymentOutput": {
          "description": "Output only. [Output only] Deployment output",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "DeploymentOutput"
          }
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. [Output only] End time stamp",
          "readOnly": true
        }
      }
    },
    "SapValidation": {
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "id": "SapValidation",
      "type": "object",
      "properties": {
        "validationDetails": {
          "type": "array",
          "description": "Optional. A list of SAP validation metrics data.",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        }
      }
    },
    "ActuationOutput": {
      "description": "Message for output of Actuation",
      "properties": {
        "cloudbuildId": {
          "type": "string",
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix"
        },
        "actuateLogs": {
          "type": "string",
          "description": "A link to gcs file that store build logs"
        },
        "blueprintId": {
          "type": "string",
          "description": "reference to Blueprint Controller deployment and revision resource"
        },
        "hasUserFacingErrorMsg": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. whether the error message is user facing. If true, the error message will be shown in the UI."
        },
        "ansibleFailedTask": {
          "readOnly": true,
          "description": "Output only. failed task name return from ansible.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "enumDescriptions": [
            "No error code was specified.",
            "general terraform failure",
            "permission error in terraform",
            "quota related error in terraform",
            "general ansible failure",
            "constraint related error in terraform",
            "resource already exists error in terraform",
            "resource not found error in terraform",
            "permission denied error in ansible",
            "secret related error in ansible",
            "general terraform failure during deletion",
            "resource in use error in terraform deletion",
            "start up failure in ansible"
          ]
        },
        "ansibleError": {
          "type": "string",
          "description": "Output only. error message return from ansible.",
          "readOnly": true
        },
        "terraformError": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. error message return from terraform."
        },
        "terraformTemplate": {
          "description": "reference to terraform template used",
          "type": "string"
        },
        "errorLogs": {
          "description": "A link to actuation cloud build log.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ActuationOutput"
    },
    "Evaluation": {
      "id": "Evaluation",
      "properties": {
        "customRulesBucket": {
[...]
