{
  "discoveryVersion": "v1",
  "id": "workloadmanager:v1",
  "schemas": {
    "ActiveDirectory": {
      "type": "object",
      "description": "Active directory details",
      "properties": {
        "domainUsername": {
          "type": "string",
          "description": "Optional. domain username"
        },
        "dnsAddress": {
          "type": "string",
          "description": "Optional. DNS IP address"
        },
        "domain": {
          "description": "Optional. human readable form of a domain such as “google.com”.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "Required. active directory type",
          "enumDescriptions": [
            "Unspecified active directory type",
            "GCP managed active directory type",
            "Self managed active directory type"
          ],
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ]
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. secret_manager_secret"
        }
      },
      "id": "ActiveDirectory"
    },
    "SqlserverValidationDetails": {
      "type": "object",
      "id": "SqlserverValidationDetails",
      "description": "Message containing collected data names and values.",
      "properties": {
        "fields": {
          "type": "object",
          "description": "Required. Collected data is in format.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SqlserverValidation": {
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "properties": {
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        },
        "validationDetails": {
          "type": "array",
          "description": "Optional. A list of SqlServer validation metrics data.",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          }
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        }
      },
      "id": "SqlserverValidation",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "message": {
          "type": "string",
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."
        },
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "type": "object",
            "additionalProperties": {
              "description": "Properties of the object. Contains field @type with type URL.",
              "type": "any"
            }
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "description": "Message for sap system workload",
      "properties": {
        "gcpProjectId": {
          "type": "string",
          "description": "the project that infrastructure deployed, current only support the same project where the deployment resource exist."
        },
        "scalingMethod": {
          "type": "string",
          "description": "Required. support scale up and scale out",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing",
            "Scale out: Combines multiple independent computers into one system"
          ],
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ]
        },
        "app": {
          "$ref": "AppDetails",
          "description": "instance details"
        },
        "deploymentModel": {
          "description": "Required. two model non-HA and HA supported",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "type": "string"
        },
        "mediaBucketName": {
          "description": "Required. media_bucket_name",
          "type": "string"
        },
        "environmentType": {
          "type": "string",
          "description": "Required. deployment environment",
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "location": {
          "$ref": "LocationDetails",
          "description": "database details"
        },
        "version": {
          "type": "string",
          "description": "Required. sap hana version",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ]
        },
        "database": {
          "$ref": "DatabaseDetails",
          "description": "database details"
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account - let custoemrs bring their own SA for Ansible runner",
          "type": "string"
        },
        "vmPrefix": {
          "description": "vm_prefix",
          "type": "string"
        },
        "sapBootDiskImage": {
          "description": "Optional. sap_boot_disk_image",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Empty": {
      "type": "object",
      "id": "Empty",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "SapDiscoveryComponentReplicationSite": {
      "type": "object",
      "id": "SapDiscoveryComponentReplicationSite",
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "properties": {
        "sourceSite": {
          "type": "string",
          "description": "Optional. The name of the source site from which this one replicates."
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      }
    },
    "SqlLocationDetails": {
      "type": "object",
      "id": "SqlLocationDetails",
      "description": "Location and networking details for configuring SQL server workload",
      "properties": {
        "gcpProjectId": {
          "type": "string",
          "description": "Required. the project that infrastructure deployed, currently only supports the same project where the deployment resource exists."
        },
        "primaryZone": {
          "description": "Required. primary zone",
          "type": "string"
        },
        "internetAccess": {
          "type": "string",
          "description": "Required. Internet Access",
          "enumDescriptions": [
            "Unspecified internet access",
            "Allow external IP",
            "Configure NAT"
          ],
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "network": {
          "description": "Required. network name",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. subnetwork name",
          "type": "string"
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. create a new DNS Zone when the field is empty, Only show for `Using an existing DNS` List of existing DNS Zones tf variable name: existing_dns_zone_name"
        },
        "region": {
          "type": "string",
          "description": "Required. region name"
        },
        "tertiaryZone": {
          "description": "Optional. teriary zone can't be same as primary_zone and secondary zone, and it is only for High Availability deployment mode",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. secondary zone can't be same as primary_zone and is only for High Availability deployment mode",
          "type": "string"
        }
      }
    },
    "ListEvaluationsResponse": {
      "type": "object",
      "description": "Response message for the ListEvaluations RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "evaluations": {
          "description": "The list of evaluations.",
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array"
        }
      },
      "id": "ListEvaluationsResponse"
    },
    "Location": {
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata. For example the available capacity at the given location.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        },
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        }
      },
      "id": "Location"
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {},
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "description": "Disk mount on the instance.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the disk."
        },
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        },
        "diskNames": {
          "description": "Optional. Names of the disks providing this mount point.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CloudResource": {
      "id": "CloudResource",
      "description": "The resource on GCP",
      "properties": {
        "name": {
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "readOnly": true,
          "type": "string"
        },
        "kind": {
          "type": "string",
          "description": "Output only. ",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "instanceProperties": {
          "$ref": "InstanceProperties",
          "description": "Output only. All instance properties.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ServiceStates": {
      "id": "ServiceStates",
      "description": "The state of the service.",
      "properties": {
        "state": {
          "type": "string",
          "description": "Output only. The overall state of the service.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ]
        },
        "iamPermissions": {
          "type": "array",
          "description": "Optional. Output only. The IAM permissions for the service.",
          "readOnly": true,
          "items": {
            "$ref": "IAMPermission"
          }
        }
      },
      "type": "object"
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        }
      },
      "type": "object"
    },
    "Operation": {
      "type": "object",
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object"
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      }
    },
    "TerraformVariable": {
      "description": "In order to align with Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest A Terraform input variable.",
      "properties": {
        "inputValue": {
          "type": "any",
          "description": "Optional. Input variable value."
        }
      },
      "id": "TerraformVariable",
      "type": "object"
    },
    "ExecutionResult": {
      "description": "The result of an execution.",
      "properties": {
        "rule": {
          "type": "string",
          "description": "The rule that is violated in an evaluation."
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "type": {
          "description": "Execution result type of the scanned resource.",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ],
          "type": "string"
        },
        "severity": {
          "type": "string",
          "description": "The severity of violation."
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "violationDetails": {
          "$ref": "ViolationDetails",
          "description": "The details of violation in an evaluation result."
        },
        "violationMessage": {
          "type": "string",
          "description": "The violation message of an execution."
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "items": {
            "$ref": "Command"
          },
          "type": "array"
        }
      },
      "id": "ExecutionResult",
      "type": "object"
    },
    "SapDiscovery": {
      "type": "object",
      "id": "SapDiscovery",
      "description": "The schema of SAP system discovery data.",
      "properties": {
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "systemId": {
          "type": "string",
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "description": "Required. Unix timestamp this system has been updated last.",
          "format": "google-datetime"
        },
        "databaseLayer": {
          "$ref": "SapDiscoveryComponent",
          "description": "Required. An SAP System must have a database."
        },
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        },
        "projectNumber": {
          "type": "string",
          "description": "Optional. The GCP project number that this SapSystem belongs to."
        },
        "workloadProperties": {
          "$ref": "SapDiscoveryWorkloadProperties",
          "description": "Optional. The properties of the workload."
        }
      }
    },
    "Pacemaker": {
      "description": "pacemaker configuration",
      "properties": {
        "pacemakerCluster": {
          "description": "Required. pacemaker cluster name",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. pacemaker cluster username",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. sql pacemaker secret name",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "description": "Required. sql pacemaker username",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. pacemaker cluster secret name",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "type": "string",
          "description": "Required. bucket location for node certificates"
        }
      },
      "id": "Pacemaker",
      "type": "object"
    },
    "HealthCheck": {
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "metric": {
          "description": "Output only. The health check source metric name.",
          "readOnly": true,
          "type": "string"
        },
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "readOnly": true,
          "$ref": "CloudResource"
        },
        "source": {
          "type": "string",
          "description": "Output only. The source of the health check.",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "description": "Output only. The message of the health check.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "description": "Output only. The state of the health check.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "HealthCheck",
      "type": "object"
    },
    "Command": {
      "type": "object",
      "description": "Command specifies the type of command to execute.",
      "properties": {
        "shellCommand": {
          "$ref": "ShellCommand",
          "description": "ShellCommand is invoked via the agent's command line executor."
        },
        "agentCommand": {
          "$ref": "AgentCommand",
          "description": "AgentCommand specifies a one-time executable program for the agent to run."
        }
      },
      "id": "Command"
    },
    "SapDiscoveryMetadata": {
      "description": "Message describing SAP discovery system metadata",
      "properties": {
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        },
        "customerRegion": {
          "type": "string",
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region."
        },
        "sapProduct": {
          "type": "string",
          "description": "Optional. This SAP product name"
        },
        "environmentType": {
          "type": "string",
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc."
        }
      },
      "id": "SapDiscoveryMetadata",
      "type": "object"
    },
    "Deployment": {
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "properties": {
        "name": {
          "description": "The name of deployment resource. The format will be 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'",
          "type": "string"
        },
        "description": {
          "type": "string",
          "description": "Description of the Deployment"
        },
        "workloadType": {
          "type": "string",
          "description": "Optional. Workload type of the deployment",
          "enumDescriptions": [
            "Unspecified workload type",
            "SAP S/4HANA workload type",
            "SQL Server workload type",
            "Oracle workload type"
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ]
        },
        "createTime": {
          "type": "string",
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "format": "google-datetime"
        },
        "terraformVariables": {
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "type": "object"
        },
        "state": {
          "type": "string",
          "description": "Output only. Current state of the deployment.",
          "readOnly": true,
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ]
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "sqlServerWorkload": {
          "description": "MS SQL workload input",
          "$ref": "SqlServerWorkload"
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for cloud build Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation",
          "type": "string"
        },
        "workerPool": {
          "type": "string",
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used."
        },
        "sapSystemS4Config": {
          "$ref": "SapSystemS4Config",
          "description": "SAP system workload input"
        }
      },
      "id": "Deployment",
      "type": "object"
    },
    "SapDiscoveryResourceInstanceProperties": {
      "description": "A set of properties only present for an instance type resource",
      "properties": {
        "virtualHostname": {
          "type": "string",
          "description": "Optional. A virtual hostname of the instance if it has one."
        },
        "appInstances": {
          "type": "array",
          "description": "Optional. App server instances on the host",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          }
        },
        "diskMounts": {
          "type": "array",
          "description": "Optional. Disk mounts on the instance.",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          }
        },
        "instanceRole": {
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "type": "string"
        },
        "isDrSite": {
          "type": "boolean",
          "description": "Optional. Instance is part of a DR site."
        },
        "instanceNumber": {
          "type": "string",
          "description": "Optional. The VM's instance number.",
          "format": "int64",
          "deprecated": true
        },
        "osKernelVersion": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Optional. The kernel version of the instance."
        },
        "clusterInstances": {
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "id": "SapDiscoveryResourceInstanceProperties",
      "type": "object"
    },
    "LocationDetails": {
      "type": "object",
      "id": "LocationDetails",
      "description": "Message for sap instant details",
      "properties": {
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "zone1Name": {
          "description": "Required. zone1_name",
          "type": "string"
        },
        "vpcName": {
          "description": "Required. vpc_name",
          "type": "string"
        },
        "zone2Name": {
          "type": "string",
          "description": "Optional. zone2_name"
        },
        "regionName": {
          "type": "string",
          "description": "Required. region_name"
        },
        "subnetName": {
          "description": "Required. subnet_name",
          "type": "string"
        },
        "createCommsFirewall": {
          "type": "boolean",
          "description": "Optional. create firewall, if true, create firewall for the deployment. This field provides an option to not always create firewall for the deployment."
        },
        "deploymentDnsEnabled": {
          "description": "Optional. when user skip DNS configuration from UI, deployment_dns_enabled=false otherwise deployment_dns_enabled=true",
          "type": "boolean"
        },
        "networkProject": {
          "description": "Optional. network project",
          "type": "string"
        },
        "customTags": {
          "description": "Optional. network tags",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "dnsZoneNameSuffix": {
          "type": "string",
          "description": "Optional. dns_zone_name_suffix"
        },
        "dnsZone": {
          "description": "Optional. dns zone name",
          "type": "string"
        }
      }
    },
    "AppDetails": {
      "type": "object",
      "id": "AppDetails",
      "description": "Message for sap instant details",
      "properties": {
        "appInstanceId": {
          "type": "string",
          "description": "Optional. instance id for app"
        },
        "machineType": {
          "type": "string",
          "description": "Required. machine type"
        },
        "secretManagerSecret": {
          "type": "string",
          "description": "Required. secret_manager_secret"
        },
        "ascsVm": {
          "description": "Optional. ASCS vm name",
          "type": "string"
        },
        "ascsImage": {
          "type": "string",
          "description": "Required. image for ascs server"
        },
        "vmsMultiplier": {
          "description": "Required. vms_multiplier",
          "format": "int32",
          "type": "integer"
        },
        "image": {
          "description": "Required. image for app server and ascs server",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ascsInstanceId": {
          "type": "string",
          "description": "Optional. instance id for ascs"
        },
        "ersInstanceId": {
          "description": "Optional. instance id for ers",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account - let custoemrs bring their own SA for ASCS",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account - let custoemrs bring their own SA for application",
          "type": "string"
        },
        "ersVm": {
          "type": "string",
          "description": "Optional. ERS vm name"
        },
        "appVmNames": {
          "type": "array",
          "description": "Optional. Customized vm names",
          "items": {
            "type": "string"
          }
        },
        "ascsMachineType": {
          "type": "string",
          "description": "Required. ascs_machine_type"
        },
        "sharedStorage": {
          "description": "Optional. Storage location",
          "type": "string"
        }
      }
    },
    "ResourceFilter": {
      "id": "ResourceFilter",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "properties": {
        "gceInstanceFilter": {
          "$ref": "GceInstanceFilter",
          "description": "Filter compute engine resources."
        },
        "scopes": {
          "type": "array",
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "items": {
            "type": "string"
          }
        },
        "resourceIdPatterns": {
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "inclusionLabels": {
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "AgentStatusServiceStatus": {
      "type": "object",
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "properties": {
        "errorMessage": {
          "type": "string",
          "description": "Output only. The error message for the service if it is not fully functional.",
          "readOnly": true
        },
        "state": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "readOnly": true
        },
        "fullyFunctional": {
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "iamPermissions": {
          "type": "array",
          "description": "Output only. The permissions required for the service.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          }
        },
        "name": {
          "description": "Output only. The name of the service.",
          "readOnly": true,
          "type": "string"
        },
        "configValues": {
          "type": "array",
          "description": "Output only. The configuration values for the service.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusConfigValue"
          }
        },
        "unspecifiedStateMessage": {
          "description": "Output only. The message to display when the service state is unspecified.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "AgentStatusServiceStatus"
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "description": "BigQuery destination for evaluation results.",
      "properties": {
        "destinationDataset": {
          "type": "string",
          "description": "Optional. Destination dataset to save evaluation results."
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "AgentStatusReference": {
      "type": "object",
      "description": "The reference to public documentation.",
      "properties": {
        "url": {
          "description": "Output only. The URL of the reference.",
          "readOnly": true,
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Output only. The name of the reference.",
          "readOnly": true
        }
      },
      "id": "AgentStatusReference"
    },
    "GceInstanceFilter": {
      "description": "A filter for matching Compute Engine instances.",
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "GceInstanceFilter",
      "type": "object"
    },
    "WriteInsightRequest": {
      "type": "object",
      "id": "WriteInsightRequest",
      "description": "Request for sending the data insights.",
      "properties": {
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "agentVersion": {
          "type": "string",
          "description": "Optional. The agent version collected this data point."
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "type": "object",
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "description": "Fields to describe an SAP application server instance.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Instance name of the SAP application instance."
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      }
    },
    "AgentStates": {
      "type": "object",
      "description": "Agent status.",
      "properties": {
        "hanaMonitoring": {
          "$ref": "ServiceStates",
          "description": "Optional. HANA monitoring metrics of the agent."
        },
        "systemDiscovery": {
          "$ref": "ServiceStates",
          "description": "Optional. The System discovery metrics of the agent."
        },
        "availableVersion": {
          "description": "Optional. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        },
        "isFullyEnabled": {
          "type": "boolean",
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues."
        }
      },
      "id": "AgentStates"
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "type": "object",
      "description": "A set of properties describing an SAP Database layer.",
      "properties": {
        "primaryInstanceUri": {
          "type": "string",
          "description": "Required. URI of the recognized primary instance of the database."
        },
        "databaseSid": {
          "type": "string",
          "description": "Optional. SID of the system database."
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "databaseType": {
          "type": "string",
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryComponentDatabaseProperties"
    },
    "WorkloadProfile": {
      "id": "WorkloadProfile",
      "description": "Workload resource.",
      "properties": {
        "labels": {
          "type": "object",
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "additionalProperties": {
            "type": "string"
          }
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        },
        "name": {
          "type": "string",
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'"
        },
        "refreshedTime": {
          "type": "string",
          "description": "Required. time when the workload data was refreshed",
          "format": "google-datetime"
        },
        "workloadType": {
          "type": "string",
          "description": "Required. The type of the workload",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ]
        }
      },
      "type": "object"
    },
    "Notice": {
      "id": "Notice",
      "description": "Additional information generated by an execution.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. Message of the notice.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "ExternalDataSources": {
      "type": "object",
      "id": "ExternalDataSources",
      "description": "External data sources for an execution.",
      "properties": {
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "assetType": {
          "type": "string",
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user."
        },
        "type": {
          "description": "Required. Type of external data source.",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponent": {
      "description": "Message describing the system component.",
      "properties": {
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "type": "array"
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "haHosts": {
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "type": "array"
        },
        "sid": {
          "type": "string",
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers."
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "topologyType": {
          "type": "string",
          "description": "Optional. The detected topology of the component.",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ]
        }
      },
      "id": "SapDiscoveryComponent",
      "type": "object"
    },
    "ViolationDetails": {
      "id": "ViolationDetails",
      "description": "The violation in an evaluation result.",
      "properties": {
        "asset": {
          "type": "string",
          "description": "The name of the asset."
        },
        "ruleOutput": {
          "type": "array",
          "description": "Output only. The rule output of the violation.",
          "readOnly": true,
          "items": {
            "$ref": "RuleOutput"
          }
        },
        "observed": {
          "description": "Details of the violation.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the resource."
        }
      },
      "type": "object"
    },
    "ShellCommand": {
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "properties": {
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        },
        "timeoutSeconds": {
          "type": "integer",
          "description": "Optional. If not specified, the default timeout is 60 seconds.",
          "format": "int32"
        },
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        }
      },
      "id": "ShellCommand",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "description": "Message for response to listing Deployments",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "deployments": {
          "type": "array",
          "description": "The list of Deployment",
          "items": {
            "$ref": "Deployment"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "type": "object"
    },
    "AgentCommand": {
      "type": "object",
      "id": "AgentCommand",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "properties": {
        "command": {
          "type": "string",
          "description": "The name of the agent one-time executable that will be invoked."
        },
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "Summary": {
      "id": "Summary",
      "description": "Execution summary.",
      "properties": {
        "newFailures": {
          "description": "Output only. Number of new failures compared to the previous execution.",
          "readOnly": true,
          "format": "int64",
          "type": "string"
        },
        "newFixes": {
          "type": "string",
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "readOnly": true,
          "format": "int64"
        },
        "failures": {
          "type": "string",
          "description": "Output only. Number of failures.",
          "readOnly": true,
          "format": "int64"
        }
      },
      "type": "object"
    },
    "IAMPermission": {
      "type": "object",
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "readOnly": true,
          "type": "string"
        },
        "granted": {
          "type": "boolean",
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true
        }
      },
      "id": "IAMPermission"
    },
    "DatabaseDetails": {
      "type": "object",
      "id": "DatabaseDetails",
      "description": "Message for sap instant details",
      "properties": {
        "machineType": {
          "type": "string",
          "description": "Required. machine type"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. secondary db vm name",
          "type": "string"
        },
        "instanceId": {
          "type": "string",
          "description": "Optional. instance id"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. primary db vm name",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account - let custoemrs bring their own SA for database",
          "type": "string"
        },
        "image": {
          "description": "Required. image for database server",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Required. disk_type"
        }
      }
    },
    "ResourceStatus": {
      "type": "object",
      "id": "ResourceStatus",
      "description": "The lifecycle status of an Evaluation resource.",
      "properties": {
        "state": {
          "description": "State of the Evaluation resource.",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "type": "string"
        }
      }
    },
    "ScannedResource": {
      "description": "A scanned resource.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "type": "string",
          "description": "Resource type."
        }
      },
      "id": "ScannedResource",
      "type": "object"
    },
    "AgentStatusIAMPermission": {
      "type": "object",
      "id": "AgentStatusIAMPermission",
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "readOnly": true,
          "type": "string"
        },
        "granted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "type": "object",
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "properties": {
        "build": {
          "type": "integer",
          "description": "Optional. The build version number.",
          "format": "int32"
        },
        "patch": {
          "type": "integer",
          "description": "Optional. The patch version number.",
          "format": "int32"
        },
        "remainder": {
          "type": "string",
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4."
        },
        "major": {
          "type": "integer",
          "description": "Optional. The major version number.",
          "format": "int32"
        },
        "minor": {
          "type": "integer",
          "description": "Optional. The minor version number.",
          "format": "int32"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
    },
    "DeploymentOutput": {
      "description": "Message for output of deployment resource",
      "properties": {
        "type": {
          "description": "type of the resource",
          "type": "string"
        },
        "name": {
          "description": "name of the resource",
          "type": "string"
        }
      },
      "id": "DeploymentOutput",
      "type": "object"
    },
    "Execution": {
      "description": "Execution that represents a single run of an Evaluation.",
      "properties": {
        "externalDataSources": {
          "description": "Optional. External data sources.",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "type": "array"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "engine": {
          "description": "Optional. Engine.",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "type": "string"
        },
        "resultSummary": {
          "$ref": "Summary",
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}."
        },
        "startTime": {
          "type": "string",
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "notices": {
          "description": "Output only. Additional information generated by the execution.",
          "readOnly": true,
          "items": {
            "$ref": "Notice"
          },
          "type": "array"
        },
        "inventoryTime": {
          "type": "string",
          "description": "Output only. [Output only] Inventory time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "state": {
          "description": "Output only. [Output only] State.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        },
        "evaluationId": {
          "type": "string",
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true
        },
        "runType": {
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "type": "string"
        },
        "ruleResults": {
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true,
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "type": "array"
        },
        "endTime": {
          "description": "Output only. [Output only] End time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "Execution",
      "type": "object"
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "description": "The rule output of the violation.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Output only. The message generated by rule.",
          "readOnly": true
        },
        "details": {
          "description": "Output only. Violation details generated by rule.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "description": "The body of sap workload",
      "properties": {
        "database": {
          "description": "Output only. database component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "application": {
          "$ref": "SapComponent",
          "description": "Output only. application component",
          "readOnly": true
        },
        "products": {
          "type": "array",
          "description": "Output only. The products on this workload.",
          "readOnly": true,
          "items": {
            "$ref": "Product"
          }
        },
        "architecture": {
          "description": "Output only. The architecture.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ]
        },
        "metadata": {
          "description": "Output only. The metadata for SAP workload.",
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "type": "object"
    },
    "SapValidationValidationDetail": {
      "description": "Message describing the SAP validation metrics.",
      "properties": {
        "sapValidationType": {
          "description": "Optional. The SAP system that the validation data is from.",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "type": "string"
        },
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "isPresent": {
          "type": "boolean",
          "description": "Optional. Was there a SAP system detected for this validation type."
        }
      },
      "id": "SapValidationValidationDetail",
      "type": "object"
    },
    "ListScannedResourcesResponse": {
      "description": "Response message for the ListScannedResources RPC.",
      "properties": {
        "scannedResources": {
          "type": "array",
          "description": "All scanned resources in response.",
          "items": {
            "$ref": "ScannedResource"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListScannedResourcesResponse",
      "type": "object"
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "description": "The configuration value.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the configuration value.",
          "readOnly": true
        },
        "value": {
          "description": "Output only. The value of the configuration value.",
          "readOnly": true,
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "Insight": {
      "type": "object",
      "description": "A presentation of host resource usage where the workload runs.",
      "properties": {
        "agentStatus": {
          "$ref": "AgentStatus",
          "description": "The insights data for the agent status."
        },
        "sapValidation": {
          "$ref": "SapValidation",
          "description": "The insights data for the SAP workload validation."
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "sentTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        }
      },
      "id": "Insight"
    },
    "Evaluation": {
      "id": "Evaluation",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "properties": {
        "resourceFilter": {
          "$ref": "ResourceFilter",
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated."
        },
        "ruleNames": {
          "description": "The names of the rules used for this evaluation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "evaluationType": {
          "type": "string",
          "description": "Evaluation type.",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ]
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "createTime": {
          "type": "string",
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "bigQueryDestination": {
          "$ref": "BigQueryDestination",
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery."
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SapInstanceProperties": {
      "type": "object",
      "id": "SapInstanceProperties",
      "description": "SAP instance properties.",
      "properties": {
        "numbers": {
          "type": "array",
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'.",
          "items": {
            "type": "string"
          }
        },
        "agentStates": {
          "$ref": "AgentStates",
          "description": "Optional. Sap Instance Agent status."
        }
      }
    },
    "ListExecutionsResponse": {
      "type": "object",
      "description": "Response message for the ListExecutions RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "executions": {
          "type": "array",
          "description": "The list of Execution.",
          "items": {
            "$ref": "Execution"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListExecutionsResponse"
    },
    "Resource": {
      "id": "Resource",
      "description": "Resource in execution result.",
      "properties": {
        "type": {
          "description": "The type of resource.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "The name of the resource."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the resource."
        }
      },
      "type": "object"
    },
    "SapDiscoveryComponentApplicationProperties": {
      "type": "object",
      "id": "SapDiscoveryComponentApplicationProperties",
      "description": "A set of properties describing an SAP Application layer.",
      "properties": {
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "ersInstanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the ERS instance."
        },
        "applicationType": {
          "type": "string",
          "description": "Required. Type of the application. Netweaver, etc.",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ],
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ]
        },
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "deprecated": true,
          "type": "boolean"
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "nfsUri": {
          "type": "string",
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ListRulesResponse": {
      "description": "Response message for the ListRules RPC.",
      "properties": {
        "rules": {
          "description": "All rules in response.",
          "items": {
            "$ref": "Rule"
          },
          "type": "array"
        }
      },
      "id": "ListRulesResponse",
      "type": "object"
    },
    "AgentStatus": {
      "type": "object",
      "description": "The schema of agent status data.",
      "properties": {
        "kernelVersion": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Output only. The kernel version of the system.",
          "readOnly": true
        },
        "references": {
          "type": "array",
          "description": "Output only. Optional references to public documentation.",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusReference"
          }
        },
        "agentName": {
          "type": "string",
          "description": "Output only. The name of the agent.",
          "readOnly": true
        },
        "instanceUri": {
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "readOnly": true,
          "type": "string"
        },
        "services": {
          "type": "array",
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusServiceStatus"
          }
        },
        "availableVersion": {
          "description": "Output only. The available version of the agent in artifact registry.",
          "readOnly": true,
          "type": "string"
        },
        "systemdServiceRunning": {
          "type": "string",
          "description": "Output only. Whether the agent service is running in systemd.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "readOnly": true,
          "type": "string"
        },
        "cloudApiAccessFullScopesGranted": {
          "type": "string",
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "systemdServiceEnabled": {
          "type": "string",
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "installedVersion": {
          "description": "Output only. The installed version of the agent on the host.",
          "readOnly": true,
          "type": "string"
        },
        "configurationErrorMessage": {
          "description": "Output only. The error message for the agent configuration if invalid.",
          "readOnly": true,
          "type": "string"
        },
        "configurationValid": {
          "description": "Output only. Whether the agent configuration is valid.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        }
      },
      "id": "AgentStatus"
    },
    "ListActuationsResponse": {
      "type": "object",
      "id": "ListActuationsResponse",
      "description": "The response object from `ListActuations`.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "actuations": {
          "type": "array",
          "description": "The list of Actuation",
          "items": {
            "$ref": "Actuation"
          }
        },
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Optional. Start time",
          "format": "google-datetime"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "endTime": {
          "description": "Optional. End time",
          "format": "google-datetime",
          "type": "string"
        }
      },
      "id": "UpcomingMaintenanceEvent",
      "type": "object"
    },
    "SapDiscoveryResource": {
      "description": "Message describing a resource.",
      "properties": {
        "instanceProperties": {
          "$ref": "SapDiscoveryResourceInstanceProperties",
          "description": "Optional. A set of properties only applying to instance type resources."
        },
        "resourceType": {
          "type": "string",
          "description": "Required. The type of this resource.",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ]
        },
        "updateTime": {
          "type": "string",
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime"
        },
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        },
        "resourceKind": {
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "type": "string"
        },
        "relatedResources": {
          "type": "array",
          "description": "Optional. A list of resource URIs related to this resource.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "SapDiscoveryResource",
      "type": "object"
    },
    "TorsoValidation": {
      "id": "TorsoValidation",
      "description": "The schema of torso workload validation data.",
      "properties": {
        "workloadType": {
          "description": "Required. workload_type specifies the type of torso workload.",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "type": "string"
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from."
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. validation_details contains the pairs of validation data: field name & field value.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "agentVersion": {
          "type": "string",
          "description": "Required. agent_version lists the version of the agent that collected this data."
        }
      },
      "type": "object"
    },
    "ActuationOutput": {
      "type": "object",
      "id": "ActuationOutput",
      "description": "Message for output of Actuation",
      "properties": {
        "cloudbuildId": {
          "type": "string",
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix"
        },
        "blueprintId": {
          "type": "string",
          "description": "reference to Blueprint Controller deployment and revision resource"
        },
        "actuateLogs": {
          "description": "A link to gcs file that store build logs",
          "type": "string"
        },
        "errorCode": {
          "enumDescriptions": [
            "No error code was specified.",
            "general terraform failure",
            "permission error in terraform",
            "quota related error in terraform",
            "general ansible failure",
            "constraint related error in terraform",
            "resource already exists error in terraform",
            "resource not found error in terraform",
            "permission denied error in ansible",
            "secret related error in ansible",
            "general terraform failure during deletion",
            "resource in use error in terraform deletion",
            "start up failure in ansible"
          ],
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "readOnly": true,
          "type": "string"
        },
        "ansibleError": {
          "type": "string",
          "description": "Output only. error message return from ansible.",
          "readOnly": true
        },
        "terraformError": {
          "description": "Output only. error message return from terraform.",
          "readOnly": true,
          "type": "string"
        },
        "errorLogs": {
          "type": "string",
          "description": "A link to actuation cloud build log."
        },
        "hasUserFacingErrorMsg": {
          "type": "boolean",
          "description": "Output only. whether the error message is user facing. If true, the error message will be shown in the UI.",
          "readOnly": true
        },
        "ansibleFailedTask": {
          "description": "Output only. failed task name return from ansible.",
          "readOnly": true,
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "terraformTemplate": {
          "type": "string",
          "description": "reference to terraform template used"
        }
      }
    },
    "SapDiscoveryWorkloadProperties": {
      "type": "object",
      "description": "A set of properties describing an SAP workload.",
      "properties": {
        "productVersions": {
          "type": "array",
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          }
        },
        "softwareComponentVersions": {
          "type": "array",
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          }
        }
      },
      "id": "SapDiscoveryWorkloadProperties"
    },
    "WriteInsightResponse": {
      "id": "WriteInsightResponse",
      "description": "The response for write insights request.",
      "properties": {},
      "type": "object"
    },
    "Database": {
      "id": "Database",
      "description": "Database details",
      "properties": {
        "secondarySoleTenantNode": {
          "description": "Optional. the name of a secondary-sole-tenant node/node group",
          "type": "string"
        },
        "soleTenantNodeType": {
          "description": "Optional. the type of a primary sole-tenant node/node group e.g. compute.googleapis.com/node-name",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "machineType": {
          "type": "string",
          "description": "Required. machine type"
        },
        "smt": {
          "description": "Required. whether simultaneous multithreading is enabled or not",
          "type": "boolean"
        },
        "secondarySoleTenantNodeType": {
          "description": "Optional. the type of a secondary-sole-tenant node/node group e.g. compute.googleapis.com/node-name",
          "type": "string"
        },
        "floatingIpAddress": {
          "description": "Optional. only useful for Linux High Availability setup",
          "type": "string"
        },
        "tempdbOnSsd": {
          "type": "boolean",
          "description": "Required. whether to have TempDB on local SSD"
        },
        "tenancyModel": {
          "description": "Required. SHARED or SOLE_TENANT",
          "enumDescriptions": [
            "Unspecified tenancy model",
            "Shared tenancy model",
            "Sole Tenant tenancy model"
          ],
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "type": "string"
        },
        "soleTenantNode": {
          "description": "Optional. the name of a primary sole-tenant node/node group",
          "type": "string"
        },
        "diskType": {
          "type": "string",
          "description": "Required. disk_type"
        }
      },
      "type": "object"
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
[...]
