{
  "title": "Cloud Workstations API",
  "servicePath": "",
  "name": "workstations",
  "discoveryVersion": "v1",
  "batchPath": "batch",
  "mtlsRootUrl": "https://workstations.mtls.googleapis.com/",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "path": "v1/{+name}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "workstations.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "id": "workstations.projects.locations.operations.delete",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "required": true
                    }
                  },
                  "id": "workstations.projects.locations.operations.cancel",
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "workstations.projects.locations.operations.list",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "pageSize": {
                      "description": "The standard list page size.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "location": "query",
                      "type": "string"
                    },
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    }
                  }
                }
              }
            },
            "workstationClusters": {
              "methods": {
                "patch": {
                  "id": "workstations.projects.locations.workstationClusters.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "updateMask": {
                      "format": "google-fieldmask",
                      "description": "Required. Mask that specifies which fields in the workstation cluster should be updated.",
                      "location": "query",
                      "type": "string"
                    },
                    "allowMissing": {
                      "description": "Optional. If set, and the workstation cluster is not found, a new workstation cluster will be created. In this situation, update_mask is ignored.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "description": "Identifier. Full name of this workstation cluster.",
                      "location": "path",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "PATCH",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "description": "Updates an existing workstation cluster."
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "GET",
                  "path": "v1/{+name}",
                  "description": "Returns the requested workstation cluster.",
                  "response": {
                    "$ref": "WorkstationCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workstations.projects.locations.workstationClusters.get",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "required": true,
                      "description": "Required. Name of the requested resource.",
                      "location": "path",
                      "type": "string"
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "httpMethod": "DELETE",
                  "path": "v1/{+name}",
                  "description": "Deletes the specified workstation cluster.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workstations.projects.locations.workstationClusters.delete",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the workstation cluster to delete.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$"
                    },
                    "etag": {
                      "description": "Optional. If set, the request will be rejected if the latest version of the workstation cluster on the server does not have this ETag.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request and preview the result, but do not apply it.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "force": {
                      "description": "Optional. If set, any workstation configurations and workstations in the workstation cluster are also deleted. Otherwise, the request only works if the workstation cluster has no configurations or workstations.",
                      "location": "query",
                      "type": "boolean"
                    }
                  }
                },
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/workstationClusters",
                  "description": "Returns all workstation clusters in the specified location.",
                  "id": "workstations.projects.locations.workstationClusters.list",
                  "response": {
                    "$ref": "ListWorkstationClustersResponse"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "pageSize": {
                      "format": "int32",
                      "description": "Optional. Maximum number of items to return.",
                      "location": "query",
                      "type": "integer"
                    },
                    "filter": {
                      "description": "Optional. Filter the WorkstationClusters to be listed. Possible filters are described in https://google.aip.dev/160.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "description": "Required. Parent resource name.",
                      "location": "path",
                      "type": "string",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageToken": {
                      "description": "Optional. next_page_token value returned from a previous List request, if any.",
                      "location": "query",
                      "type": "string"
                    }
                  }
                },
                "create": {
                  "path": "v1/{+parent}/workstationClusters",
                  "description": "Creates a new workstation cluster.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent resource name.",
                      "location": "path",
                      "type": "string"
                    },
                    "workstationClusterId": {
                      "description": "Required. ID to use for the workstation cluster.",
                      "location": "query",
                      "type": "string"
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                      "location": "query",
                      "type": "boolean"
                    }
                  },
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "workstations.projects.locations.workstationClusters.create"
                }
              },
              "resources": {
                "workstationConfigs": {
                  "methods": {
                    "listUsable": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs:listUsable",
                      "path": "v1/{+parent}/workstationConfigs:listUsable",
                      "description": "Returns all workstation configurations in the specified cluster on which the caller has the \"workstations.workstation.create\" permission.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListUsableWorkstationConfigsResponse"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.listUsable",
                      "parameters": {
                        "parent": {
                          "description": "Required. Parent resource name.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "description": "Optional. Maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        }
                      }
                    },
                    "setIamPolicy": {
                      "path": "v1/{+resource}:setIamPolicy",
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:setIamPolicy",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ],
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.setIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Returns the requested workstation configuration.",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.get",
                      "response": {
                        "$ref": "WorkstationConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the requested resource.",
                          "location": "path",
                          "type": "string"
                        }
                      }
                    },
                    "list": {
                      "response": {
                        "$ref": "ListWorkstationConfigsResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.list",
                      "parameters": {
                        "pageSize": {
                          "description": "Optional. Maximum number of items to return.",
                          "location": "query",
                          "type": "integer",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter the WorkstationConfigs to be listed. Possible filters are described in https://google.aip.dev/160.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "description": "Required. Parent resource name.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "required": true
                        },
                        "pageToken": {
                          "description": "Optional. next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "httpMethod": "GET",
                      "path": "v1/{+parent}/workstationConfigs",
                      "description": "Returns all workstation configurations in the specified cluster."
                    },
                    "create": {
                      "parameters": {
                        "workstationConfigId": {
                          "description": "Required. ID to use for the workstation configuration.",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "parent": {
                          "description": "Required. Parent resource name.",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.create",
                      "path": "v1/{+parent}/workstationConfigs",
                      "description": "Creates a new workstation configuration.",
                      "parameterOrder": [
                        "parent"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs"
                    },
                    "getIamPolicy": {
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "type": "string"
                        },
                        "options.requestedPolicyVersion": {
                          "format": "int32",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                          "location": "query",
                          "type": "integer"
                        }
                      },
                      "response": {
                        "$ref": "Policy"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.getIamPolicy",
                      "path": "v1/{+resource}:getIamPolicy",
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:getIamPolicy",
                      "httpMethod": "GET"
                    },
                    "delete": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the workstation configuration to delete.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                        },
                        "etag": {
                          "description": "Optional. If set, the request is rejected if the latest version of the workstation configuration on the server does not have this ETag.",
                          "location": "query",
                          "type": "string"
                        },
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "force": {
                          "description": "Optional. If set, any workstations in the workstation configuration are also deleted. Otherwise, the request works only if the workstation configuration has no workstations.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.delete",
                      "path": "v1/{+name}",
                      "description": "Deletes the specified workstation configuration.",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "httpMethod": "DELETE"
                    },
                    "testIamPermissions": {
                      "parameters": {
                        "resource": {
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "location": "path",
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.testIamPermissions",
                      "path": "v1/{+resource}:testIamPermissions",
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "parameterOrder": [
                        "resource"
                      ],
                      "httpMethod": "POST",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:testIamPermissions"
                    },
                    "patch": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.patch",
                      "response": {
                        "$ref": "Operation"
                      },
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "name": {
                          "description": "Identifier. Full name of this workstation configuration.",
                          "location": "path",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                        },
                        "updateMask": {
                          "format": "google-fieldmask",
                          "description": "Required. Mask specifying which fields in the workstation configuration should be updated.",
                          "location": "query",
                          "type": "string"
                        },
                        "allowMissing": {
                          "description": "Optional. If set and the workstation configuration is not found, a new workstation configuration will be created. In this situation, update_mask is ignored.",
                          "location": "query",
                          "type": "boolean"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "description": "Updates an existing workstation configuration."
                    }
                  },
                  "resources": {
                    "workstations": {
                      "methods": {
                        "stop": {
                          "path": "v1/{+name}:stop",
                          "description": "Stops running a workstation, reducing costs.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:stop",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "name"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the workstation to stop.",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            }
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.stop",
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "StopWorkstationRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "testIamPermissions": {
                          "parameterOrder": [
                            "resource"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:testIamPermissions",
                          "path": "v1/{+resource}:testIamPermissions",
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.testIamPermissions",
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$"
                            }
                          }
                        },
                        "patch": {
                          "parameters": {
                            "validateOnly": {
                              "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            },
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Identifier. Full name of this workstation.",
                              "location": "path",
                              "type": "string"
                            },
                            "updateMask": {
                              "description": "Required. Mask specifying which fields in the workstation should be updated.",
                              "location": "query",
                              "type": "string",
                              "format": "google-fieldmask"
                            },
                            "allowMissing": {
                              "description": "Optional. If set and the workstation is not found, a new workstation is created. In this situation, update_mask is ignored.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.patch",
                          "response": {
                            "$ref": "Operation"
                          },
                          "request": {
                            "$ref": "Workstation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "path": "v1/{+name}",
                          "description": "Updates an existing workstation.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "list": {
                          "path": "v1/{+parent}/workstations",
                          "description": "Returns all Workstations using the specified workstation configuration.",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "httpMethod": "GET",
                          "parameters": {
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "required": true
                            },
                            "pageToken": {
                              "description": "Optional. next_page_token value returned from a previous List request, if any.",
                              "location": "query",
                              "type": "string"
                            },
                            "pageSize": {
                              "description": "Optional. Maximum number of items to return.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "filter": {
                              "description": "Optional. Filter the Workstations to be listed. Possible filters are described in https://google.aip.dev/160.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "ListWorkstationsResponse"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.list"
                        },
                        "create": {
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/workstations",
                          "description": "Creates a new workstation.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.create",
                          "request": {
                            "$ref": "Workstation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "parent": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "description": "Required. Parent resource name.",
                              "location": "path",
                              "type": "string"
                            },
                            "workstationId": {
                              "description": "Required. ID to use for the workstation.",
                              "location": "query",
                              "type": "string"
                            },
                            "validateOnly": {
                              "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            }
                          }
                        },
                        "generateAccessToken": {
                          "path": "v1/{+workstation}:generateAccessToken",
                          "description": "Returns a short-lived credential that can be used to send authenticated and authorized traffic to a workstation. Once generated this token cannot be revoked and is good for the lifetime of the token.",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:generateAccessToken",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "workstation"
                          ],
                          "parameters": {
                            "workstation": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true,
                              "description": "Required. Name of the workstation for which the access token should be generated.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.generateAccessToken",
                          "response": {
                            "$ref": "GenerateAccessTokenResponse"
                          },
                          "request": {
                            "$ref": "GenerateAccessTokenRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        },
                        "delete": {
                          "path": "v1/{+name}",
                          "description": "Deletes the specified workstation.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "DELETE",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "parameters": {
                            "etag": {
                              "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
                              "location": "query",
                              "type": "string"
                            },
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true,
                              "description": "Required. Name of the workstation to delete.",
                              "location": "path",
                              "type": "string"
                            },
                            "validateOnly": {
                              "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.delete"
                        },
                        "getIamPolicy": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:getIamPolicy",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "resource"
                          ],
                          "path": "v1/{+resource}:getIamPolicy",
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.getIamPolicy",
                          "response": {
                            "$ref": "Policy"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "options.requestedPolicyVersion": {
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true
                            }
                          }
                        },
                        "setIamPolicy": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:setIamPolicy",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "resource"
                          ],
                          "path": "v1/{+resource}:setIamPolicy",
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.setIamPolicy",
                          "response": {
                            "$ref": "Policy"
                          },
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "resource": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true,
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "type": "string"
                            }
                          }
                        },
                        "get": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "description": "Returns the requested workstation.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.get",
                          "response": {
                            "$ref": "Workstation"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the requested resource.",
                              "location": "path",
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "required": true
                            }
                          }
                        },
                        "start": {
                          "path": "v1/{+name}:start",
                          "description": "Starts running a workstation so that users can connect to it.",
                          "parameterOrder": [
                            "name"
                          ],
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:start",
                          "parameters": {
                            "name": {
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "description": "Required. Name of the workstation to start.",
                              "location": "path",
                              "type": "string"
                            }
                          },
                          "request": {
                            "$ref": "StartWorkstationRequest"
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "Operation"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.start"
                        },
                        "listUsable": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListUsableWorkstationsResponse"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.listUsable",
                          "parameters": {
                            "pageSize": {
                              "description": "Optional. Maximum number of items to return.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            },
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "location": "path",
                              "type": "string",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$"
                            },
                            "pageToken": {
                              "description": "Optional. next_page_token value returned from a previous List request, if any.",
                              "location": "query",
                              "type": "string"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations:listUsable",
                          "path": "v1/{+parent}/workstations:listUsable",
                          "description": "Returns all workstations using the specified workstation configuration on which the caller has the \"workstations.workstations.use\" permission."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "methods": {
            "list": {
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "id": "workstations.projects.locations.list",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "extraLocationTypes": {
                  "repeated": true,
                  "description": "Optional. Do not use this field unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^projects/[^/]+$"
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query",
                  "type": "integer",
                  "format": "int32"
                },
                "pageToken": {
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query",
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1/projects/{projectsId}/locations",
              "httpMethod": "GET",
              "path": "v1/{+name}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the ListLocationsRequest.name field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version."
            },
            "get": {
              "id": "workstations.projects.locations.get",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path",
                  "type": "string"
                }
              },
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "description": "Gets information about a location."
            }
          }
        }
      }
    }
  },
  "canonicalName": "Cloud Workstations",
  "documentationLink": "https://cloud.google.com/workstations",
  "baseUrl": "https://workstations.googleapis.com/",
  "fullyEncodeReservedExpansion": true,
  "schemas": {
    "Accelerator": {
      "properties": {
        "type": {
          "description": "Optional. Type of accelerator resource to attach to the instance, for example, `\"nvidia-tesla-p100\"`.",
          "type": "string"
        },
        "count": {
          "format": "int32",
          "description": "Optional. Number of accelerator cards exposed to the instance.",
          "type": "integer"
        }
      },
      "description": "An accelerator card attached to the instance.",
      "type": "object",
      "id": "Accelerator"
    },
    "GcePersistentDisk": {
      "properties": {
        "sourceSnapshot": {
          "description": "Optional. Name of the snapshot to use as the source for the disk. Must be empty if source_image is set. Must be empty if read_only is false. Updating source_snapshot will update content in the ephemeral directory after the workstation is restarted. Only file systems supported by Container-Optimized OS (COS) are explicitly supported. For a list of supported file systems, see [the filesystems available in Container-Optimized OS](https://cloud.google.com/container-optimized-os/docs/concepts/supported-filesystems). This field is mutable.",
          "type": "string"
        },
        "readOnly": {
          "description": "Optional. Whether the disk is read only. If true, the disk may be shared by multiple VMs and source_snapshot must be set.",
          "type": "boolean"
        },
        "diskType": {
          "description": "Optional. Type of the disk to use. Defaults to `\"pd-standard\"`.",
          "type": "string"
        },
        "sourceImage": {
          "description": "Optional. Name of the disk image to use as the source for the disk. Must be empty if source_snapshot is set. Updating source_image will update content in the ephemeral directory after the workstation is restarted. Only file systems supported by Container-Optimized OS (COS) are explicitly supported. For a list of supported file systems, please refer to the [COS documentation](https://cloud.google.com/container-optimized-os/docs/concepts/supported-filesystems). This field is mutable.",
          "type": "string"
        }
      },
      "description": "An EphemeralDirectory is backed by a Compute Engine persistent disk.",
      "type": "object",
      "id": "GcePersistentDisk"
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "type": "object",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        }
      },
      "id": "Operation"
    },
    "WorkstationCluster": {
      "id": "WorkstationCluster",
      "description": "A workstation cluster resource in the Cloud Workstations API. Defines a group of workstations in a particular region and the VPC network they're attached to.",
      "type": "object",
      "properties": {
        "workstationLaunchUrl": {
          "description": "Optional. Specifies the launch URL for workstations in this cluster. Requests sent to unstarted workstations will be redirected to this URL. Requests redirected to the launch endpoint will be sent with a `workstation` and `project` query parameter containing the full workstation resource name and project ID, respectively. The launch endpoint is responsible for starting the workstation, polling it until it reaches `STATE_RUNNING`, and then issuing a redirect to the workstation's host URL.",
          "type": "string"
        },
        "controlPlaneIp": {
          "readOnly": true,
          "description": "Output only. The private IP address of the control plane for this workstation cluster. Workstation VMs need access to this IP address to work with the service, so make sure that your firewall rules allow egress from the workstation VMs to this address.",
          "type": "string"
        },
        "workstationAuthorizationUrl": {
          "description": "Optional. Specifies the redirect URL for unauthorized requests received by workstation VMs in this cluster. Redirects to this endpoint will send a base64 encoded `state` query param containing the target workstation name and original request hostname. The endpoint is responsible for retrieving a token using `GenerateAccessToken` and redirecting back to the original hostname with the token.",
          "type": "string"
        },
        "name": {
          "description": "Identifier. Full name of this workstation cluster.",
          "type": "string"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation cluster and that are also propagated to the underlying Compute Engine resources.",
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. Time when this workstation cluster was most recently updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation cluster.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this workstation cluster was created.",
          "type": "string"
        },
        "privateClusterConfig": {
          "description": "Optional. Configuration for private workstation cluster.",
          "$ref": "PrivateClusterConfig"
        },
        "conditions": {
          "items": {
            "$ref": "Status"
          },
          "description": "Output only. Status conditions describing the workstation cluster's current state.",
          "type": "array",
          "readOnly": true
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client-specified annotations.",
          "type": "object"
        },
        "etag": {
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "degraded": {
          "description": "Output only. Whether this workstation cluster is in degraded mode, in which case it may require user action to restore full functionality. The conditions field contains detailed information about the status of the cluster.",
          "type": "boolean",
          "readOnly": true
        },
        "tags": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Input only. Immutable. Tag keys/values directly bound to this resource. For example: \"123/environment\": \"production\", \"123/costCenter\": \"marketing\"",
          "type": "object"
        },
        "gatewayConfig": {
          "description": "Optional. Configuration options for Cluster HTTP Gateway.",
          "$ref": "GatewayConfig"
        },
        "network": {
          "description": "Immutable. Name of the Compute Engine network in which instances associated with this workstation cluster will be created.",
          "type": "string"
        },
        "deleteTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this workstation cluster was soft-deleted.",
          "type": "string"
        },
        "domainConfig": {
          "description": "Optional. Configuration options for a custom domain.",
          "$ref": "DomainConfig"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for this workstation cluster.",
          "type": "string",
          "readOnly": true
        },
        "reconciling": {
          "description": "Output only. Indicates whether this workstation cluster is currently being updated to match its intended state.",
          "type": "boolean",
          "readOnly": true
        },
        "subnetwork": {
          "description": "Immutable. Name of the Compute Engine subnetwork in which instances associated with this workstation cluster will be created. Must be part of the subnetwork specified for this workstation cluster.",
          "type": "string"
        }
      }
    },
    "DomainConfig": {
      "id": "DomainConfig",
      "properties": {
        "domain": {
          "description": "Immutable. Domain used by Workstations for HTTP ingress.",
          "type": "string"
        }
      },
      "description": "Configuration options for a custom domain.",
      "type": "object"
    },
    "GceInstanceHost": {
      "id": "GceInstanceHost",
      "properties": {
        "name": {
          "readOnly": true,
          "description": "Optional. Output only. The name of the Compute Engine instance.",
          "type": "string"
        },
        "id": {
          "readOnly": true,
          "description": "Optional. Output only. The ID of the Compute Engine instance.",
          "type": "string"
        },
        "zone": {
          "readOnly": true,
          "description": "Optional. Output only. The zone of the Compute Engine instance.",
          "type": "string"
        }
      },
      "description": "The Compute Engine instance host.",
      "type": "object"
    },
    "GceHyperdiskBalancedHighAvailability": {
      "properties": {
        "sizeGb": {
          "format": "int32",
          "description": "Optional. The GB capacity of a persistent home directory for each workstation created with this configuration. Must be empty if source_snapshot is set. Valid values are `10`, `50`, `100`, `200`, `500`, or `1000`. Defaults to `200`.",
          "type": "integer"
        },
        "sourceSnapshot": {
          "description": "Optional. Name of the snapshot to use as the source for the disk. If set, size_gb must be empty. Must be formatted as ext4 file system with no partitions.",
          "type": "string"
        },
        "archiveTimeout": {
          "format": "google-duration",
          "description": "Optional. Number of seconds to wait after initially creating or subsequently shutting down the workstation before converting its disk into a snapshot. This generally saves costs at the expense of greater startup time on next workstation start, as the service will need to create a disk from the archival snapshot. A value of `\"0s\"` indicates that the disk will never be archived.",
          "type": "string"
        },
        "reclaimPolicy": {
          "enumDescriptions": [
            "Do not use.",
            "Delete the persistent disk when deleting the workstation.",
            "Keep the persistent disk when deleting the workstation. An administrator must manually delete the disk."
          ],
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ],
          "description": "Optional. Whether the persistent disk should be deleted when the workstation is deleted. Valid values are `DELETE` and `RETAIN`. Defaults to `DELETE`.",
          "type": "string"
        }
      },
      "description": "A Persistent Directory backed by a Compute Engine [Hyperdisk Balanced High Availability Disk](https://cloud.google.com/compute/docs/disks/hd-types/hyperdisk-balanced-ha). This is a high-availability block storage solution that offers a balance between performance and cost for most general-purpose workloads.",
      "type": "object",
      "id": "GceHyperdiskBalancedHighAvailability"
    },
    "EphemeralDirectory": {
      "properties": {
        "gcePd": {
          "description": "An EphemeralDirectory backed by a Compute Engine persistent disk.",
          "$ref": "GcePersistentDisk"
        },
        "mountPath": {
          "description": "Required. Location of this directory in the running workstation.",
          "type": "string"
        }
      },
      "description": "An ephemeral directory which won't persist across workstation sessions. It is freshly created on every workstation start operation.",
      "type": "object",
      "id": "EphemeralDirectory"
    },
    "RuntimeHost": {
      "description": "Runtime host for the workstation.",
      "type": "object",
      "properties": {
        "gceInstanceHost": {
          "description": "Specifies a Compute Engine instance as the host.",
          "$ref": "GceInstanceHost"
        }
      },
      "id": "RuntimeHost"
    },
    "StartWorkstationRequest": {
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
          "type": "string"
        },
        "boostConfig": {
          "description": "Optional. If set, the workstation starts using the boost configuration with the specified ID.",
          "type": "string"
        }
      },
      "description": "Request message for StartWorkstation.",
      "type": "object",
      "id": "StartWorkstationRequest"
    },
    "Host": {
      "properties": {
        "gceInstance": {
          "description": "Specifies a Compute Engine instance as the host.",
          "$ref": "GceInstance"
        }
      },
      "description": "Runtime host for a workstation.",
      "type": "object",
      "id": "Host"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "description": "The response message for Locations.ListLocations.",
      "type": "object",
      "properties": {
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "WorkstationConfig": {
      "properties": {
        "readinessChecks": {
          "items": {
            "$ref": "ReadinessCheck"
          },
          "description": "Optional. Readiness checks to perform when starting a workstation using this workstation configuration. Mark a workstation as running only after all specified readiness checks return 200 status codes.",
          "type": "array"
        },
        "grantWorkstationAdminRoleOnCreate": {
          "description": "Optional. Grant creator of a workstation `roles/workstations.policyAdmin` role along with `roles/workstations.user` role on the workstation created by them. This allows workstation users to share access to either their entire workstation, or individual ports. Defaults to false.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "reconciling": {
          "description": "Output only. Indicates whether this workstation configuration is currently being updated to match its intended state.",
          "type": "boolean",
          "readOnly": true
        },
        "labels": {
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation configuration and that are also propagated to the underlying Compute Engine resources.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "runningTimeout": {
          "format": "google-duration",
          "description": "Optional. Number of seconds that a workstation can run until it is automatically shut down. We recommend that workstations be shut down daily to reduce costs and so that security updates can be applied upon restart. The idle_timeout and running_timeout fields are independent of each other. Note that the running_timeout field shuts down VMs after the specified time, regardless of whether or not the VMs are idle. Provide duration terminated by `s` for seconds—for example, `\"54000s\"` (15 hours). Defaults to `\"43200s\"` (12 hours). A value of `\"0s\"` indicates that workstations using this configuration should never time out. If encryption_key is set, it must be greater than `\"0s\"` and less than `\"86400s\"` (24 hours). Warning: A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration have no maximum running time. This is strongly discouraged because you incur costs and will not pick up security updates.",
          "type": "string"
        },
        "disableTcpConnections": {
          "description": "Optional. Disables support for plain TCP connections in the workstation. By default the service supports TCP connections through a websocket relay. Setting this option to true disables that relay, which prevents the usage of services that require plain TCP connections, such as SSH. When enabled, all communication must occur over HTTPS or WSS.",
          "type": "boolean"
        },
        "createTime": {
          "description": "Output only. Time when this workstation configuration was created.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "maxUsableWorkstations": {
          "description": "Optional. Maximum number of workstations under this configuration a user can have `workstations.workstation.use` permission on. Only enforced on CreateWorkstation API calls on the user issuing the API request. Can be overridden by: - granting a user workstations.workstationConfigs.exemptMaxUsableWorkstationLimit permission, or - having a user with that permission create a workstation and granting another user `workstations.workstation.use` permission on that workstation. If not specified, defaults to `0`, which indicates unlimited.",
          "type": "integer",
          "format": "int32"
        },
        "deleteTime": {
          "description": "Output only. Time when this workstation configuration was soft-deleted.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "container": {
          "description": "Optional. Container that runs upon startup for each workstation using this workstation configuration.",
          "$ref": "Container"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client-specified annotations.",
          "type": "object"
        },
        "degraded": {
          "readOnly": true,
          "description": "Output only. Whether this workstation configuration is in degraded mode, in which case it may require user action to restore full functionality. The conditions field contains detailed information about the status of the configuration.",
          "type": "boolean"
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for this workstation configuration.",
          "type": "string",
          "readOnly": true
        },
        "ephemeralDirectories": {
          "items": {
            "$ref": "EphemeralDirectory"
          },
          "description": "Optional. Ephemeral directories which won't persist across workstation sessions.",
          "type": "array"
        },
        "replicaZones": {
          "description": "Optional. Immutable. Specifies the zones used to replicate the VM and disk resources within the region. If set, exactly two zones within the workstation cluster's region must be specified—for example, `['us-central1-a', 'us-central1-f']`. If this field is empty, two default zones within the region are used. Immutable after the workstation configuration is created.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Identifier. Full name of this workstation configuration.",
          "type": "string"
        },
        "idleTimeout": {
          "format": "google-duration",
          "description": "Optional. Number of seconds to wait before automatically stopping a workstation after it last received user traffic. A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration should never time out due to idleness. Provide [duration](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#duration) terminated by `s` for seconds—for example, `\"7200s\"` (2 hours). The default is `\"1200s\"` (20 minutes).",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. Time when this workstation configuration was most recently updated.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "enableAuditAgent": {
          "description": "Optional. Whether to enable Linux `auditd` logging on the workstation. When enabled, a service_account must also be specified that has `roles/logging.logWriter` and `roles/monitoring.metricWriter` on the project. Operating system audit logging is distinct from [Cloud Audit Logs](https://cloud.google.com/workstations/docs/audit-logging) and [Container output logging](https://cloud.google.com/workstations/docs/container-output-logging#overview). Operating system audit logs are available in the [Cloud Logging](https://cloud.google.com/logging/docs) console by querying: resource.type=\"gce_instance\" log_name:\"/logs/linux-auditd\"",
          "type": "boolean"
        },
        "host": {
          "description": "Optional. Runtime host for the workstation.",
          "$ref": "Host"
        },
        "encryptionKey": {
          "description": "Immutable. Encrypts resources of this workstation configuration using a customer-managed encryption key (CMEK). If specified, the boot disk of the Compute Engine instance and the persistent disk are encrypted using this encryption key. If this field is not set, the disks are encrypted using a generated key. Customer-managed encryption keys do not protect disk metadata. If the customer-managed encryption key is rotated, when the workstation instance is stopped, the system attempts to recreate the persistent disk with the new version of the key. Be sure to keep older versions of the key until the persistent disk is recreated. Otherwise, data on the persistent disk might be lost. If the encryption key is revoked, the workstation session automatically stops within 7 hours. Immutable after the workstation configuration is created.",
          "$ref": "CustomerEncryptionKey"
        },
        "conditions": {
          "description": "Output only. Status conditions describing the workstation configuration's current state.",
          "type": "array",
          "items": {
            "$ref": "Status"
          },
          "readOnly": true
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation configuration.",
          "type": "string"
        },
        "persistentDirectories": {
          "items": {
            "$ref": "PersistentDirectory"
          },
          "description": "Optional. Directories to persist across workstation sessions.",
          "type": "array"
        },
        "allowedPorts": {
          "description": "Optional. A list of PortRanges specifying single ports or ranges of ports that are externally accessible in the workstation. Allowed ports must be one of 22, 80, or within range 1024-65535. If not specified defaults to ports 22, 80, and ports 1024-65535.",
          "type": "array",
          "items": {
            "$ref": "PortRange"
          }
        }
      },
      "description": "A workstation configuration resource in the Cloud Workstations API. Workstation configurations act as templates for workstations. The workstation configuration defines details such as the workstation virtual machine (VM) instance type, persistent storage, container image defining environment, which IDE or Code Editor to use, and more. Administrators and platform teams can also use [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/overview) rules to grant access to teams or to individual developers.",
      "type": "object",
      "id": "WorkstationConfig"
    },
    "PersistentDirectory": {
      "properties": {
        "gceHd": {
          "description": "A PersistentDirectory backed by a Compute Engine hyperdisk high availability disk.",
          "$ref": "GceHyperdiskBalancedHighAvailability"
        },
        "mountPath": {
          "description": "Optional. Location of this directory in the running workstation.",
          "type": "string"
        },
        "gcePd": {
          "description": "A PersistentDirectory backed by a Compute Engine persistent disk.",
          "$ref": "GceRegionalPersistentDisk"
        }
      },
      "description": "A directory to persist across workstation sessions. Updates to this field will not update existing workstations and will only take effect on new workstations.",
      "type": "object",
      "id": "PersistentDirectory"
    },
    "Expr": {
      "id": "Expr",
      "properties": {
        "expression": {
          "description": "Textual representation of an expression in Common Expression Language syntax.",
          "type": "string"
        },
        "title": {
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.",
          "type": "string"
        },
        "description": {
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.",
          "type": "string"
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "type": "object"
    },
    "GceRegionalPersistentDisk": {
      "properties": {
        "diskType": {
          "description": "Optional. The [type of the persistent disk](https://cloud.google.com/compute/docs/disks#disk-types) for the home directory. Defaults to `\"pd-standard\"`.",
          "type": "string"
        },
        "sizeGb": {
          "format": "int32",
          "description": "Optional. The GB capacity of a persistent home directory for each workstation created with this configuration. Must be empty if source_snapshot is set. Valid values are `10`, `50`, `100`, `200`, `500`, or `1000`. Defaults to `200`. If less than `200` GB, the disk_type must be `\"pd-balanced\"` or `\"pd-ssd\"`.",
          "type": "integer"
        },
        "fsType": {
          "description": "Optional. Type of file system that the disk should be formatted with. The workstation image must support this file system type. Must be empty if source_snapshot is set. Defaults to `\"ext4\"`.",
          "type": "string"
        },
        "archiveTimeout": {
          "format": "google-duration",
          "description": "Optional. Number of seconds to wait after initially creating or subsequently shutting down the workstation before converting its disk into a snapshot. This generally saves costs at the expense of greater startup time on next workstation start, as the service will need to create a disk from the archival snapshot. A value of `\"0s\"` indicates that the disk will never be archived.",
          "type": "string"
        },
        "sourceSnapshot": {
          "description": "Optional. Name of the snapshot to use as the source for the disk. If set, size_gb and fs_type must be empty. Must be formatted as ext4 file system with no partitions.",
          "type": "string"
        },
        "reclaimPolicy": {
          "description": "Optional. Whether the persistent disk should be deleted when the workstation is deleted. Valid values are `DELETE` and `RETAIN`. Defaults to `DELETE`.",
          "type": "string",
          "enumDescriptions": [
            "Do not use.",
            "Delete the persistent disk when deleting the workstation.",
            "Keep the persistent disk when deleting the workstation. An administrator must manually delete the disk."
          ],
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ]
        }
      },
      "description": "A Persistent Directory backed by a Compute Engine regional persistent disk. The persistent_directories field is repeated, but it may contain only one entry. It creates a [persistent disk](https://cloud.google.com/compute/docs/disks/persistent-disks) that mounts to the workstation VM at `/home` when the session starts and detaches when the session ends. If this field is empty, workstations created with this configuration do not have a persistent home directory.",
      "type": "object",
      "id": "GceRegionalPersistentDisk"
    },
    "StopWorkstationRequest": {
      "description": "Request message for StopWorkstation.",
      "type": "object",
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
          "type": "string"
        }
      },
      "id": "StopWorkstationRequest"
    },
    "ListUsableWorkstationConfigsResponse": {
      "id": "ListUsableWorkstationConfigsResponse",
      "properties": {
        "workstationConfigs": {
          "items": {
            "$ref": "WorkstationConfig"
          },
          "description": "The requested configs.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        }
      },
      "description": "Response message for ListUsableWorkstationConfigs.",
      "type": "object"
    },
    "ListWorkstationClustersResponse": {
      "id": "ListWorkstationClustersResponse",
      "description": "Response message for ListWorkstationClusters.",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "workstationClusters": {
          "items": {
            "$ref": "WorkstationCluster"
          },
          "description": "The requested workstation clusters.",
          "type": "array"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources.",
          "type": "array"
        }
      }
    },
    "Workstation": {
      "properties": {
        "runtimeHost": {
          "description": "Optional. Output only. Runtime host for the workstation when in STATE_RUNNING.",
          "readOnly": true,
          "$ref": "RuntimeHost"
        },
        "host": {
          "readOnly": true,
          "description": "Output only. Host to which clients can send HTTPS traffic that will be received by the workstation. Authorized traffic will be received to the workstation as HTTP on port 80. To send traffic to a different port, clients may prefix the host with the destination port in the format `{port}-{host}`.",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this workstation was created.",
          "type": "string"
        },
        "displayName": {
          "description": "Optional. Human-readable name for this workstation.",
          "type": "string"
        },
        "kmsKey": {
[...]
