{
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "batchPath": "batch",
  "servicePath": "",
  "discoveryVersion": "v1",
  "protocol": "rest",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "id": "workloadmanager:v1",
  "canonicalName": "Workload Manager",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "title": "Workload Manager API",
  "kind": "discovery#restDescription",
  "fullyEncodeReservedExpansion": true,
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "location": "query",
      "default": "true"
    },
    "alt": {
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "location": "query"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "quotaUser": {
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "description": "Workload Manager is a service that provides tooling for enterprise workloads to automate the deployment and validation of your workloads against best practices and recommendations.",
  "ownerName": "Google",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "path": "v1/{+name}/locations",
              "id": "workloadmanager.projects.locations.list",
              "flatPath": "v1/projects/{projectsId}/locations",
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "type": "string",
                  "location": "query"
                },
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable."
                },
                "pageSize": {
                  "location": "query",
                  "format": "int32",
                  "type": "integer",
                  "description": "The maximum number of results to return. If not set, the service selects a default."
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "extraLocationTypes": {
                  "location": "query",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true,
                  "type": "string"
                }
              },
              "parameterOrder": [
                "name"
              ]
            },
            "get": {
              "response": {
                "$ref": "Location"
              },
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "parameters": {
                "name": {
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "description": "Gets information about a location.",
              "parameterOrder": [
                "name"
              ],
              "id": "workloadmanager.projects.locations.get",
              "path": "v1/{+name}"
            }
          },
          "resources": {
            "evaluations": {
              "methods": {
                "list": {
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. Parent value for ListEvaluationsRequest.",
                      "type": "string"
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "orderBy": {
                      "type": "string",
                      "description": "Hint for how to order the results.",
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter to be applied when listing the evaluation results.",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "description": "Lists Evaluations in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.list",
                  "path": "v1/{+parent}/evaluations"
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.evaluations.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "description": "Deletes a single Evaluation.",
                  "parameters": {
                    "force": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. Followed the best practice from https://aip.dev/135#cascading-delete."
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the resource.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    }
                  }
                },
                "patch": {
                  "id": "workloadmanager.projects.locations.evaluations.patch",
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "updateMask": {
                      "location": "query",
                      "format": "google-fieldmask",
                      "type": "string",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Evaluation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask."
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "description": "Updates the parameters of a single Evaluation.",
                  "httpMethod": "PATCH",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "get": {
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "description": "Gets details of a single Evaluation.",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.evaluations.get"
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameters": {
                    "requestId": {
                      "location": "query",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`.",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "evaluationId": {
                      "description": "Required. Id of the requesting object.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "description": "Creates a new Evaluation in a given project and location.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "path": "v1/{+parent}/evaluations"
                }
              },
              "resources": {
                "executions": {
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list",
                          "path": "v1/{+parent}/results",
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "parent": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "type": "string",
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results."
                            },
                            "pageSize": {
                              "location": "query",
                              "format": "int32",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "type": "integer"
                            },
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "type": "string",
                              "location": "query"
                            },
                            "filter": {
                              "description": "Filtering results.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results",
                          "description": "Lists the result of a single evaluation."
                        }
                      }
                    },
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "filter": {
                              "location": "query",
                              "type": "string",
                              "description": "Filtering results."
                            },
                            "orderBy": {
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                              "type": "string",
                              "location": "query"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Parent for ListScannedResourcesRequest.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$"
                            },
                            "rule": {
                              "location": "query",
                              "type": "string",
                              "description": "Rule name."
                            },
                            "pageSize": {
                              "type": "integer",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "location": "query",
                              "format": "int32"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "A token identifying a page of results the server should return."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "description": "List all scanned resources for a single Execution.",
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list",
                          "path": "v1/{+parent}/scannedResources",
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          },
                          "httpMethod": "GET",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  },
                  "methods": {
                    "run": {
                      "id": "workloadmanager.projects.locations.evaluations.executions.run",
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      },
                      "path": "v1/{+name}/executions:run",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "description": "Required. The resource name of the Evaluation using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "description": "Creates a new Execution in a given project and location.",
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "list": {
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "path": "v1/{+parent}/executions",
                      "parameters": {
                        "filter": {
                          "location": "query",
                          "description": "Filtering results.",
                          "type": "string"
                        },
                        "orderBy": {
                          "type": "string",
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query"
                        },
                        "parent": {
                          "description": "Required. The resource prefix of the Execution using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A token identifying a page of results the server should return.",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "description": "Lists Executions in a given project and location.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "get": {
                      "path": "v1/{+name}",
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "description": "Gets details of a single Execution.",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Execution"
                      }
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "path": "v1/{+name}",
                      "id": "workloadmanager.projects.locations.evaluations.executions.delete",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "description": "Deletes a single Execution.",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource.",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "required": true
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            },
            "rules": {
              "methods": {
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "description": "Lists rules in a given project.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions."
                    },
                    "pageSize": {
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "type": "integer",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "description": "A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    },
                    "customRulesBucket": {
                      "location": "query",
                      "type": "string",
                      "description": "The Cloud Storage bucket name for custom rules."
                    },
                    "filter": {
                      "description": "Filter based on primary_category, secondary_category.",
                      "type": "string",
                      "location": "query"
                    },
                    "evaluationType": {
                      "type": "string",
                      "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules.",
                      "enumDescriptions": [
                        "Not specified.",
                        "SAP best practices.",
                        "SQL best practices.",
                        "Customized best practices."
                      ],
                      "location": "query",
                      "enum": [
                        "EVALUATION_TYPE_UNSPECIFIED",
                        "SAP",
                        "SQL_SERVER",
                        "OTHER"
                      ]
                    }
                  },
                  "path": "v1/{+parent}/rules",
                  "id": "workloadmanager.projects.locations.rules.list",
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "insights": {
              "methods": {
                "writeInsight": {
                  "parameterOrder": [
                    "location"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight",
                  "description": "Write the data insights to workload manager data warehouse.",
                  "parameters": {
                    "location": {
                      "location": "path",
                      "required": true,
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    }
                  },
                  "path": "v1/{+location}/insights:writeInsight",
                  "id": "workloadmanager.projects.locations.insights.writeInsight",
                  "request": {
                    "$ref": "WriteInsightRequest"
                  },
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insights/[^/]+$"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights/{insightsId}",
                  "description": "Delete the data insights from workload manager data warehouse.",
                  "id": "workloadmanager.projects.locations.insights.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "path": "v1/{+name}/operations",
                  "id": "workloadmanager.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "parameters": {
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "description": "The standard list page token.",
                      "type": "string",
                      "location": "query"
                    },
                    "filter": {
                      "description": "The standard list filter.",
                      "type": "string",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation's parent resource."
                    },
                    "returnPartialSuccess": {
                      "location": "query",
                      "type": "boolean",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "id": "workloadmanager.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "parameters": {
                    "name": {
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be deleted.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "id": "workloadmanager.projects.locations.operations.cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "description": "The name of the operation resource to be cancelled.",
                      "location": "path",
                      "required": true
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "deployments": {
              "resources": {
                "actuations": {
                  "methods": {
                    "list": {
                      "response": {
                        "$ref": "ListActuationsResponse"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "filter": {
                          "description": "Optional. Filtering results",
                          "type": "string",
                          "location": "query"
                        },
                        "orderBy": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details."
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource prefix of the Actuation using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query",
                          "format": "int32"
                        },
                        "pageToken": {
                          "type": "string",
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "description": "Lists Actuations in a given project, location and deployment.",
                      "id": "workloadmanager.projects.locations.deployments.actuations.list",
                      "path": "v1/{+parent}/actuations"
                    },
                    "get": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "description": "Gets details of a single Actuation.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "id": "workloadmanager.projects.locations.deployments.actuations.get",
                      "response": {
                        "$ref": "Actuation"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "create": {
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workloadmanager.projects.locations.deployments.actuations.create",
                      "request": {
                        "$ref": "Actuation"
                      },
                      "path": "v1/{+parent}/actuations",
                      "parameters": {
                        "parent": {
                          "location": "path",
                          "required": true,
                          "description": "Required. The resource name of the Actuation location using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$"
                        },
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "description": "Creates a new actuation for an existing Deployment.",
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "delete": {
                      "httpMethod": "DELETE",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workloadmanager.projects.locations.deployments.actuations.delete",
                      "path": "v1/{+name}",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "description": "Required. The name of the book to delete. project/{project_id}/locations/{location_id}/deployments/{deployment_id}/actuations/{actuation_id}",
                          "type": "string"
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "description": "Deletes a single Actuation",
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "description": "Lists Deployments in a given project and location.",
                  "parameters": {
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filter resource follow https://google.aip.dev/160",
                      "location": "query"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                      "type": "string"
                    },
                    "parent": {
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/deployments",
                  "id": "workloadmanager.projects.locations.deployments.list",
                  "response": {
                    "$ref": "ListDeploymentsResponse"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "get": {
                  "id": "workloadmanager.projects.locations.deployments.get",
                  "path": "v1/{+name}",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "description": "Required. Name of the resource. The format will be 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "description": "Gets details of a single Deployment.",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Deployment"
                  }
                },
                "create": {
                  "httpMethod": "POST",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "path": "v1/{+parent}/deployments",
                  "id": "workloadmanager.projects.locations.deployments.create",
                  "request": {
                    "$ref": "Deployment"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "description": "Creates a new Deployment in a given project and location.",
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "type": "string"
                    },
                    "deploymentId": {
                      "location": "query",
                      "description": "Required. Id of the deployment",
                      "type": "string"
                    },
                    "requestId": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
                    }
                  }
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "description": "Deletes a single Deployment.",
                  "parameters": {
                    "force": {
                      "description": "Optional. If set to true, any actuation will also be deleted. Followed the best practice from https://aip.dev/135#cascading-delete",
                      "type": "boolean",
                      "location": "query"
                    },
                    "name": {
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the resource",
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$"
                    }
                  },
                  "path": "v1/{+name}",
                  "id": "workloadmanager.projects.locations.deployments.delete",
                  "response": {
                    "$ref": "Operation"
                  },
                  "httpMethod": "DELETE",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            },
            "discoveredprofiles": {
              "resources": {
                "health": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "WorkloadProfileHealth"
                      },
                      "httpMethod": "GET",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}/health/{healthId}",
                      "description": "Get the health of a discovered workload profile.",
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+/health/[^/]+$",
                          "type": "string",
                          "description": "Required. The resource name"
                        }
                      },
                      "path": "v1/{+name}",
                      "id": "workloadmanager.projects.locations.discoveredprofiles.health.get"
                    }
                  }
                }
              },
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "response": {
                    "$ref": "ListDiscoveredProfilesResponse"
                  },
                  "id": "workloadmanager.projects.locations.discoveredprofiles.list",
                  "path": "v1/{+parent}/discoveredprofiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "type": "string",
                      "description": "Required. Parent value for ListDiscoveredProfilesRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "format": "int32"
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "Optional. A token identifying a page of results the server should return."
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. Filtering results",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles",
                  "description": "List discovered workload profiles"
                },
                "get": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+$"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}",
                  "description": "Gets details of a discovered workload profile.",
                  "id": "workloadmanager.projects.locations.discoveredprofiles.get",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "WorkloadProfile"
                  },
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                }
              }
            }
          }
        }
      }
    }
  },
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "basePath": "",
  "name": "workloadmanager",
  "schemas": {
    "Rule": {
      "description": "A rule to be evaluated.",
      "properties": {
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The message template for rule."
        },
        "ruleType": {
          "description": "The type of the rule.",
          "type": "string",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ],
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ]
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        },
        "tags": {
          "type": "array",
          "description": "List of user-defined tags.",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The version of the rule.",
          "readOnly": true
        },
        "description": {
          "type": "string",
          "description": "Describe rule in plain language."
        },
        "remediation": {
          "type": "string",
          "description": "The remediation for the rule."
        },
        "severity": {
          "type": "string",
          "description": "The severity of the rule."
        },
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "uri": {
          "type": "string",
          "description": "The document url for the rule."
        }
      },
      "type": "object",
      "id": "Rule"
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "description": "The body of sap workload",
      "properties": {
        "products": {
          "type": "array",
          "description": "Output only. The products on this workload.",
          "items": {
            "$ref": "Product"
          },
          "readOnly": true
        },
        "database": {
          "description": "Output only. database component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "metadata": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "description": "Output only. The metadata for SAP workload.",
          "type": "object"
        },
        "application": {
          "description": "Output only. application component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The architecture."
        }
      },
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "SqlserverValidation": {
      "id": "SqlserverValidation",
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "properties": {
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Optional. A list of SqlServer validation metrics data.",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "type": "array"
        },
        "instance": {
          "type": "string",
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it."
        },
        "agentVersion": {
          "type": "string",
          "description": "Optional. The agent version collected this data point"
        }
      },
      "type": "object"
    },
    "AgentCommand": {
      "type": "object",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "AgentCommand"
    },
    "WriteInsightRequest": {
      "id": "WriteInsightRequest",
      "type": "object",
      "description": "Request for sending the data insights.",
      "properties": {
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        }
      }
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "description": "Message for sap system workload",
      "properties": {
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "sapBootDiskImage": {
          "type": "string",
          "description": "Optional. sap_boot_disk_image"
        },
        "location": {
          "description": "database details",
          "$ref": "LocationDetails"
        },
        "app": {
          "description": "instance details",
          "$ref": "AppDetails"
        },
        "deploymentModel": {
          "description": "Required. two model non-HA and HA supported",
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "gcpProjectId": {
          "type": "string",
          "description": "the project that infrastructure deployed, current only support the same project where the deployment resource exist."
        },
        "scalingMethod": {
          "description": "Required. support scale up and scale out",
          "type": "string",
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing",
            "Scale out: Combines multiple independent computers into one system"
          ]
        },
        "version": {
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Required. sap hana version",
          "type": "string"
        },
        "database": {
          "description": "database details",
          "$ref": "DatabaseDetails"
        },
        "mediaBucketName": {
          "type": "string",
          "description": "Required. media_bucket_name"
        },
        "environmentType": {
          "description": "Required. deployment environment",
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ]
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account - let custoemrs bring their own SA for Ansible runner",
          "type": "string"
        },
        "vmPrefix": {
          "type": "string",
          "description": "vm_prefix"
        }
      },
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "type": "object",
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "properties": {
        "minor": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The minor version number."
        },
        "major": {
          "description": "Optional. The major version number.",
          "type": "integer",
          "format": "int32"
        },
        "patch": {
          "format": "int32",
          "description": "Optional. The patch version number.",
          "type": "integer"
        },
        "build": {
          "format": "int32",
          "type": "integer",
          "description": "Optional. The build version number."
        },
        "remainder": {
          "type": "string",
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4."
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
    },
    "Evaluation": {
      "type": "object",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "properties": {
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "schedule": {
          "type": "string",
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly"
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "ruleNames": {
          "description": "The names of the rules used for this evaluation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "evaluationType": {
          "description": "Evaluation type.",
          "type": "string",
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`."
        },
        "kmsKey": {
          "type": "string",
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource."
        },
        "updateTime": {
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. [Output only] Update time stamp.",
          "type": "string"
        }
      },
      "id": "Evaluation"
    },
    "AgentStatusServiceStatus": {
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "properties": {
        "fullyFunctional": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "type": "string"
        },
        "errorMessage": {
          "description": "Output only. The error message for the service if it is not fully functional.",
          "type": "string",
          "readOnly": true
        },
        "state": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true
        },
        "configValues": {
          "type": "array",
          "description": "Output only. The configuration values for the service.",
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "readOnly": true
        },
        "unspecifiedStateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message to display when the service state is unspecified."
        },
        "name": {
          "description": "Output only. The name of the service.",
          "type": "string",
          "readOnly": true
        },
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "type": "array",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "AgentStatusServiceStatus"
    },
    "Operation": {
      "id": "Operation",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "name": {
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.",
          "type": "string"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "description": "The error result of the operation in case of failure or cancellation.",
          "$ref": "Status"
        },
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "response": {
          "type": "object",
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          }
        }
      },
      "type": "object"
    },
    "SapDiscoveryComponent": {
      "type": "object",
      "description": "Message describing the system component.",
      "properties": {
        "resources": {
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "type": "array"
        },
        "databaseProperties": {
          "description": "Optional. The component is a SAP database.",
          "$ref": "SapDiscoveryComponentDatabaseProperties"
        },
        "topologyType": {
          "description": "Optional. The detected topology of the component.",
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ]
        },
        "replicationSites": {
          "type": "array",
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          }
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        },
        "haHosts": {
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "applicationProperties": {
          "description": "Optional. The component is a SAP application.",
          "$ref": "SapDiscoveryComponentApplicationProperties"
        }
      },
      "id": "SapDiscoveryComponent"
    },
    "SapDiscoveryWorkloadProperties": {
      "type": "object",
      "description": "A set of properties describing an SAP workload.",
      "properties": {
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "type": "array"
        },
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "type": "array"
        }
      },
      "id": "SapDiscoveryWorkloadProperties"
    },
    "SapDiscoveryMetadata": {
      "type": "object",
      "description": "Message describing SAP discovery system metadata",
      "properties": {
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        },
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        },
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "environmentType": {
          "type": "string",
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc."
        }
      },
      "id": "SapDiscoveryMetadata"
    },
    "ResourceFilter": {
      "type": "object",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "properties": {
        "resourceIdPatterns": {
          "type": "array",
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "items": {
            "type": "string"
          }
        },
        "scopes": {
          "type": "array",
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "items": {
            "type": "string"
          }
        },
        "inclusionLabels": {
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        }
      },
      "id": "ResourceFilter"
    },
    "SapInstanceProperties": {
      "id": "SapInstanceProperties",
      "type": "object",
      "description": "SAP instance properties.",
      "properties": {
        "numbers": {
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "agentStates": {
          "description": "Optional. Sap Instance Agent status.",
          "$ref": "AgentStates"
        }
      }
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "type": "object",
      "description": "HealthCondition contains the detailed health check of each component.",
      "properties": {
        "state": {
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "type": "string",
          "description": "Output only. The health state of the component.",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "readOnly": true
        },
        "subComponentsHealth": {
          "description": "Sub component health.",
          "items": {
            "$ref": "ComponentHealth"
          },
          "type": "array"
        },
        "componentHealthType": {
          "type": "string",
          "description": "Output only. The type of the component health.",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ]
        },
        "componentHealthChecks": {
          "type": "array",
          "description": "The detailed health checks of the component.",
          "items": {
            "$ref": "HealthCheck"
          }
        },
        "component": {
          "type": "string",
          "description": "The component of a workload."
        }
      }
    },
    "InstanceProperties": {
      "id": "InstanceProperties",
      "description": "Instance Properties.",
      "properties": {
        "instanceNumber": {
          "type": "string",
          "description": "Optional. Instance number."
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        },
        "roles": {
          "type": "array",
          "description": "Optional. Instance roles.",
          "items": {
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ],
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "type": "string"
          }
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        }
      },
      "type": "object"
    },
    "HealthCheck": {
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "description": "Output only. The state of the health check.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ]
        },
        "metric": {
          "readOnly": true,
          "description": "Output only. The health check source metric name.",
          "type": "string"
        },
        "message": {
          "description": "Output only. The message of the health check.",
          "type": "string",
          "readOnly": true
        },
        "source": {
          "readOnly": true,
          "description": "Output only. The source of the health check.",
          "type": "string"
        },
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "readOnly": true,
          "$ref": "CloudResource"
        }
      },
      "type": "object",
      "id": "HealthCheck"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "items": {
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            },
            "type": "object"
          },
          "type": "array"
        }
      },
      "id": "Status"
    },
    "ActuationOutput": {
      "type": "object",
      "description": "Message for output of Actuation",
      "properties": {
        "terraformError": {
          "readOnly": true,
          "description": "Output only. error message return from terraform.",
          "type": "string"
        },
        "ansibleError": {
          "description": "Output only. error message return from ansible.",
          "type": "string",
          "readOnly": true
        },
        "ansibleFailedTask": {
          "readOnly": true,
          "description": "Output only. failed task name return from ansible.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "blueprintId": {
          "description": "reference to Blueprint Controller deployment and revision resource",
          "type": "string"
        },
        "actuateLogs": {
          "description": "A link to gcs file that store build logs",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "enumDescriptions": [
            "No error code was specified.",
            "general terraform failure",
            "permission error in terraform",
            "quota related error in terraform",
            "general ansible failure",
            "constraint related error in terraform",
            "resource already exists error in terraform",
            "resource not found error in terraform",
            "permission denied error in ansible",
            "secret related error in ansible",
            "general terraform failure during deletion",
            "resource in use error in terraform deletion",
            "start up failure in ansible"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation."
        },
        "terraformTemplate": {
          "type": "string",
          "description": "reference to terraform template used"
        },
        "errorLogs": {
          "type": "string",
          "description": "A link to actuation cloud build log."
        },
        "hasUserFacingErrorMsg": {
          "type": "boolean",
          "description": "Output only. whether the error message is user facing. If true, the error message will be shown in the UI.",
          "readOnly": true
        }
      },
      "id": "ActuationOutput"
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "type": "object",
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "requestId": {
          "type": "string",
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000)."
        },
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
[...]
