{
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "parameters": {
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "upload_protocol": {
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "quotaUser": {
      "type": "string",
      "location": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "access_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth access token."
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "location": "query",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "description": "V1 error format."
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    }
  },
  "protocol": "rest",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "discoveryVersion": "v1",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "canonicalName": "Workload Manager",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "schemas": {
    "ResourceFilter": {
      "type": "object",
      "id": "ResourceFilter",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "properties": {
        "scopes": {
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        },
        "resourceIdPatterns": {
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "inclusionLabels": {
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      }
    },
    "GceInstanceFilter": {
      "id": "GceInstanceFilter",
      "type": "object",
      "description": "A filter for matching Compute Engine instances.",
      "properties": {
        "serviceAccounts": {
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AgentStatusIAMPermission": {
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "description": "Output only. The name of the permission.",
          "readOnly": true,
          "type": "string"
        },
        "granted": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the permission is granted.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        }
      },
      "id": "AgentStatusIAMPermission",
      "type": "object"
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "description": "A set of properties describing an SAP Database layer.",
      "properties": {
        "landscapeId": {
          "type": "string",
          "description": "Optional. Landscape ID from the HANA nameserver."
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "databaseType": {
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "type": "string",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        },
        "instanceNumber": {
          "type": "string",
          "description": "Optional. Instance number of the SAP instance."
        }
      },
      "type": "object",
      "id": "SapDiscoveryComponentDatabaseProperties"
    },
    "ShellCommand": {
      "type": "object",
      "id": "ShellCommand",
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "properties": {
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        },
        "timeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If not specified, the default timeout is 60 seconds."
        },
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "description": "Disk mount on the instance.",
      "properties": {
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        },
        "diskNames": {
          "description": "Optional. Names of the disks providing this mount point.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount"
    },
    "TorsoValidation": {
      "type": "object",
      "id": "TorsoValidation",
      "description": "The schema of torso workload validation data.",
      "properties": {
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        },
        "instanceName": {
          "type": "string",
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from."
        },
        "validationDetails": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. validation_details contains the pairs of validation data: field name & field value."
        },
        "workloadType": {
          "description": "Required. workload_type specifies the type of torso workload.",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ]
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        }
      }
    },
    "DeploymentOutput": {
      "description": "Message for output of deployment resource",
      "properties": {
        "name": {
          "description": "name of the resource",
          "type": "string"
        },
        "type": {
          "type": "string",
          "description": "type of the resource"
        }
      },
      "id": "DeploymentOutput",
      "type": "object"
    },
    "RuleExecutionResult": {
      "type": "object",
      "id": "RuleExecutionResult",
      "description": "Execution result summary per rule.",
      "properties": {
        "message": {
          "type": "string",
          "description": "Execution message, if any."
        },
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "type": "string",
          "format": "int64"
        },
        "rule": {
          "type": "string",
          "description": "Rule name as plain text like `sap-hana-configured`."
        },
        "resultCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of violations."
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "description": "Output only. The execution status.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ]
        }
      }
    },
    "BackupProperties": {
      "id": "BackupProperties",
      "type": "object",
      "description": "Backup properties.",
      "properties": {
        "latestBackupTime": {
          "description": "The time when the latest backup was performed.",
          "type": "string",
          "format": "google-datetime"
        },
        "latestBackupStatus": {
          "description": "Output only. The state of the latest backup.",
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "readOnly": true,
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ]
        }
      }
    },
    "ListOperationsResponse": {
      "id": "ListOperationsResponse",
      "type": "object",
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "Operation"
          },
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "AgentStatus": {
      "description": "The schema of agent status data.",
      "properties": {
        "configurationErrorMessage": {
          "description": "Output only. The error message for the agent configuration if invalid.",
          "readOnly": true,
          "type": "string"
        },
        "agentName": {
          "description": "Output only. The name of the agent.",
          "readOnly": true,
          "type": "string"
        },
        "installedVersion": {
          "description": "Output only. The installed version of the agent on the host.",
          "readOnly": true,
          "type": "string"
        },
        "instanceUri": {
          "type": "string",
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/",
          "readOnly": true
        },
        "systemdServiceRunning": {
          "description": "Output only. Whether the agent service is running in systemd.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "services": {
          "type": "array",
          "items": {
            "$ref": "AgentStatusServiceStatus"
          },
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "readOnly": true
        },
        "references": {
          "description": "Output only. Optional references to public documentation.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusReference"
          }
        },
        "availableVersion": {
          "description": "Output only. The available version of the agent in artifact registry.",
          "readOnly": true,
          "type": "string"
        },
        "configurationFilePath": {
          "description": "Output only. The path to the agent configuration file.",
          "readOnly": true,
          "type": "string"
        },
        "kernelVersion": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Output only. The kernel version of the system.",
          "readOnly": true
        },
        "systemdServiceEnabled": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string"
        },
        "configurationValid": {
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent configuration is valid.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "cloudApiAccessFullScopesGranted": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "type": "string",
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true
        }
      },
      "id": "AgentStatus",
      "type": "object"
    },
    "ExecutionResult": {
      "description": "The result of an execution.",
      "properties": {
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "resource": {
          "$ref": "Resource",
          "description": "The resource that violates the rule."
        },
        "violationDetails": {
          "$ref": "ViolationDetails",
          "description": "The details of violation in an evaluation result."
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "type": "array",
          "items": {
            "$ref": "Command"
          }
        },
        "type": {
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ],
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "description": "Execution result type of the scanned resource."
        },
        "rule": {
          "type": "string",
          "description": "The rule that is violated in an evaluation."
        },
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "documentationUrl": {
          "type": "string",
          "description": "The URL for the documentation of the rule."
        }
      },
      "id": "ExecutionResult",
      "type": "object"
    },
    "ViolationDetails": {
      "description": "The violation in an evaluation result.",
      "properties": {
        "observed": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Details of the violation."
        },
        "serviceAccount": {
          "type": "string",
          "description": "The service account associated with the resource."
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "ruleOutput": {
          "type": "array",
          "items": {
            "$ref": "RuleOutput"
          },
          "description": "Output only. The rule output of the violation.",
          "readOnly": true
        }
      },
      "id": "ViolationDetails",
      "type": "object"
    },
    "ListScannedResourcesResponse": {
      "type": "object",
      "id": "ListScannedResourcesResponse",
      "description": "Response message for the ListScannedResources RPC.",
      "properties": {
        "scannedResources": {
          "type": "array",
          "items": {
            "$ref": "ScannedResource"
          },
          "description": "All scanned resources in response."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "SapWorkload": {
      "description": "The body of sap workload",
      "properties": {
        "application": {
          "description": "Output only. application component",
          "readOnly": true,
          "$ref": "SapComponent"
        },
        "database": {
          "$ref": "SapComponent",
          "description": "Output only. database component",
          "readOnly": true
        },
        "metadata": {
          "description": "Output only. The metadata for SAP workload.",
          "readOnly": true,
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "architecture": {
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "type": "string",
          "description": "Output only. The architecture.",
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "readOnly": true
        },
        "products": {
          "description": "Output only. The products on this workload.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      },
      "type": "object",
      "id": "SapWorkload"
    },
    "SqlLocationDetails": {
      "id": "SqlLocationDetails",
      "type": "object",
      "description": "Location and networking details for configuring SQL server workload",
      "properties": {
        "subnetwork": {
          "type": "string",
          "description": "Required. subnetwork name"
        },
        "tertiaryZone": {
          "description": "Optional. teriary zone can't be same as primary_zone and secondary zone, and it is only for High Availability deployment mode",
          "type": "string"
        },
        "gcpProjectId": {
          "type": "string",
          "description": "Required. the project that infrastructure deployed, currently only supports the same project where the deployment resource exists."
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. create a new DNS Zone when the field is empty, Only show for `Using an existing DNS` List of existing DNS Zones tf variable name: existing_dns_zone_name"
        },
        "primaryZone": {
          "description": "Required. primary zone",
          "type": "string"
        },
        "internetAccess": {
          "description": "Required. Internet Access",
          "enumDescriptions": [
            "Unspecified internet access",
            "Allow external IP",
            "Configure NAT"
          ],
          "type": "string",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "secondaryZone": {
          "description": "Optional. secondary zone can't be same as primary_zone and is only for High Availability deployment mode",
          "type": "string"
        },
        "region": {
          "description": "Required. region name",
          "type": "string"
        },
        "network": {
          "description": "Required. network name",
          "type": "string"
        }
      }
    },
    "Summary": {
      "description": "Execution summary.",
      "properties": {
        "failures": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of failures.",
          "readOnly": true
        },
        "newFailures": {
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of new failures compared to the previous execution.",
          "readOnly": true
        },
        "newFixes": {
          "description": "Output only. Number of new fixes compared to the previous execution.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "id": "Summary",
      "type": "object"
    },
    "ListActuationsResponse": {
      "type": "object",
      "id": "ListActuationsResponse",
      "description": "The response object from `ListActuations`.",
      "properties": {
        "actuations": {
          "description": "The list of Actuation",
          "type": "array",
          "items": {
            "$ref": "Actuation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Locations that could not be reached."
        }
      }
    },
    "WorkloadProfile": {
      "description": "Workload resource.",
      "properties": {
        "labels": {
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "workloadType": {
          "description": "Required. The type of the workload",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ],
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ]
        },
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "refreshedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. time when the workload data was refreshed"
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        }
      },
      "type": "object",
      "id": "WorkloadProfile"
    },
    "SapDiscoveryResourceInstanceProperties": {
      "type": "object",
      "id": "SapDiscoveryResourceInstanceProperties",
      "description": "A set of properties only present for an instance type resource",
      "properties": {
        "diskMounts": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "description": "Optional. Disk mounts on the instance."
        },
        "osKernelVersion": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Optional. The kernel version of the instance."
        },
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. The VM's instance number.",
          "deprecated": true,
          "type": "string",
          "format": "int64"
        },
        "instanceRole": {
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "type": "string",
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ]
        },
        "isDrSite": {
          "type": "boolean",
          "description": "Optional. Instance is part of a DR site."
        },
        "appInstances": {
          "description": "Optional. App server instances on the host",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          }
        },
        "clusterInstances": {
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ComponentHealth": {
      "id": "ComponentHealth",
      "type": "object",
      "description": "HealthCondition contains the detailed health check of each component.",
      "properties": {
        "component": {
          "type": "string",
          "description": "The component of a workload."
        },
        "subComponentsHealth": {
          "description": "Sub component health.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "componentHealthChecks": {
          "description": "The detailed health checks of the component.",
          "type": "array",
          "items": {
            "$ref": "HealthCheck"
          }
        },
        "componentHealthType": {
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "description": "Output only. The type of the component health.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ]
        },
        "state": {
          "description": "Output only. The health state of the component.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        }
      }
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "properties": {
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "agentVersion": {
          "type": "string",
          "description": "Optional. The agent version collected this data point."
        }
      },
      "id": "WriteInsightRequest",
      "type": "object"
    },
    "SapDiscoveryComponentReplicationSite": {
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. The system component for the site."
        }
      },
      "id": "SapDiscoveryComponentReplicationSite",
      "type": "object"
    },
    "HealthCheck": {
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "source": {
          "type": "string",
          "description": "Output only. The source of the health check.",
          "readOnly": true
        },
        "metric": {
          "description": "Output only. The health check source metric name.",
          "readOnly": true,
          "type": "string"
        },
        "message": {
          "type": "string",
          "description": "Output only. The message of the health check.",
          "readOnly": true
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "description": "Output only. The state of the health check."
        },
        "resource": {
          "$ref": "CloudResource",
          "description": "Output only. The resource the check performs on.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "HealthCheck"
    },
    "ListExecutionsResponse": {
      "type": "object",
      "id": "ListExecutionsResponse",
      "description": "Response message for the ListExecutions RPC.",
      "properties": {
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "executions": {
          "type": "array",
          "items": {
            "$ref": "Execution"
          },
          "description": "The list of Execution."
        }
      }
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "properties": {
        "serviceAccount": {
          "type": "string",
          "description": "User-specified Service Account (SA) credentials to be used for cloud build Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation"
        },
        "description": {
          "type": "string",
          "description": "Description of the Deployment"
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input",
          "$ref": "SapSystemS4Config"
        },
        "terraformVariables": {
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "type": "object",
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }"
        },
        "sqlServerWorkload": {
          "$ref": "SqlServerWorkload",
          "description": "MS SQL workload input"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "description": "Output only. Current state of the deployment.",
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ]
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "workloadType": {
          "description": "Optional. Workload type of the deployment",
          "type": "string",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ],
          "enumDescriptions": [
            "Unspecified workload type",
            "SAP S/4HANA workload type",
            "SQL Server workload type",
            "Oracle workload type"
          ]
        },
        "name": {
          "type": "string",
          "description": "The name of deployment resource. The format will be 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'"
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        }
      }
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "description": "Database details",
      "properties": {
        "soleTenantNodeType": {
          "type": "string",
          "description": "Optional. the type of a primary sole-tenant node/node group e.g. compute.googleapis.com/node-name"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "smt": {
          "description": "Required. whether simultaneous multithreading is enabled or not",
          "type": "boolean"
        },
        "tenancyModel": {
          "enumDescriptions": [
            "Unspecified tenancy model",
            "Shared tenancy model",
            "Sole Tenant tenancy model"
          ],
          "type": "string",
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "description": "Required. SHARED or SOLE_TENANT"
        },
        "tempdbOnSsd": {
          "type": "boolean",
          "description": "Required. whether to have TempDB on local SSD"
        },
        "secondarySoleTenantNodeType": {
          "type": "string",
          "description": "Optional. the type of a secondary-sole-tenant node/node group e.g. compute.googleapis.com/node-name"
        },
        "diskType": {
          "type": "string",
          "description": "Required. disk_type"
        },
        "floatingIpAddress": {
          "type": "string",
          "description": "Optional. only useful for Linux High Availability setup"
        },
        "secondarySoleTenantNode": {
          "description": "Optional. the name of a secondary-sole-tenant node/node group",
          "type": "string"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "soleTenantNode": {
          "type": "string",
          "description": "Optional. the name of a primary sole-tenant node/node group"
        }
      }
    },
    "IAMPermission": {
      "type": "object",
      "id": "IAMPermission",
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the permission.",
          "readOnly": true
        },
        "granted": {
          "type": "boolean",
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Location"
          }
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "Status": {
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use.",
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          }
        }
      },
      "type": "object",
      "id": "Status"
    },
    "Command": {
      "description": "Command specifies the type of command to execute.",
      "properties": {
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        },
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        }
      },
      "type": "object",
      "id": "Command"
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "type": "object",
      "description": "Message for sap system workload",
      "properties": {
        "sapBootDiskImage": {
          "type": "string",
          "description": "Optional. sap_boot_disk_image"
        },
        "app": {
          "description": "instance details",
          "$ref": "AppDetails"
        },
        "scalingMethod": {
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing",
            "Scale out: Combines multiple independent computers into one system"
          ],
          "type": "string",
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ],
          "description": "Required. support scale up and scale out"
        },
        "deploymentModel": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "description": "Required. two model non-HA and HA supported"
        },
        "location": {
          "description": "database details",
          "$ref": "LocationDetails"
        },
        "database": {
          "$ref": "DatabaseDetails",
          "description": "database details"
        },
        "version": {
          "description": "Required. sap hana version",
          "type": "string",
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "vmPrefix": {
          "description": "vm_prefix",
          "type": "string"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account - let custoemrs bring their own SA for Ansible runner",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "the project that infrastructure deployed, current only support the same project where the deployment resource exist.",
          "type": "string"
        },
        "environmentType": {
          "description": "Required. deployment environment",
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ],
          "type": "string",
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ]
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "mediaBucketName": {
          "description": "Required. media_bucket_name",
          "type": "string"
        }
      }
    },
    "BigQueryDestination": {
      "description": "BigQuery destination for evaluation results.",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "type": "boolean",
          "description": "Optional. Determines if a new results table will be created when an Execution is created."
        }
      },
      "id": "BigQueryDestination",
      "type": "object"
    },
    "ServiceStates": {
      "type": "object",
      "id": "ServiceStates",
      "description": "The state of the service.",
      "properties": {
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ],
          "description": "Output only. The overall state of the service.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ]
        },
        "iamPermissions": {
          "type": "array",
          "items": {
            "$ref": "IAMPermission"
          },
          "description": "Optional. Output only. The IAM permissions for the service.",
          "readOnly": true
        }
      }
    },
    "SapDiscovery": {
      "description": "The schema of SAP system discovery data.",
      "properties": {
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Unix timestamp this system has been updated last."
        },
        "applicationLayer": {
          "$ref": "SapDiscoveryComponent",
          "description": "Optional. An SAP system may run without an application layer."
        },
        "useDrReconciliation": {
          "type": "boolean",
          "description": "Optional. Whether to use DR reconciliation or not."
        },
        "databaseLayer": {
          "description": "Required. An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        },
        "workloadProperties": {
          "description": "Optional. The properties of the workload.",
          "$ref": "SapDiscoveryWorkloadProperties"
        },
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "systemId": {
          "type": "string",
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "SapDiscovery"
    },
    "AgentCommand": {
      "type": "object",
      "id": "AgentCommand",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "properties": {
        "command": {
          "type": "string",
          "description": "The name of the agent one-time executable that will be invoked."
        },
        "parameters": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings."
        }
      }
    },
    "SapValidationValidationDetail": {
      "description": "Message describing the SAP validation metrics.",
      "properties": {
        "sapValidationType": {
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "type": "string",
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "description": "Optional. The SAP system that the validation data is from."
        },
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        }
      },
      "id": "SapValidationValidationDetail",
      "type": "object"
    },
    "SapValidation": {
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "properties": {
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "validationDetails": {
          "description": "Optional. A list of SAP validation metrics data.",
          "type": "array",
          "items": {
            "$ref": "SapValidationValidationDetail"
          }
        },
        "zone": {
          "type": "string",
          "description": "Optional. The zone of the instance that the Insight data comes from."
        }
      },
      "id": "SapValidation",
      "type": "object"
    },
    "ListDiscoveredProfilesResponse": {
      "id": "ListDiscoveredProfilesResponse",
      "type": "object",
      "description": "List discovered profile Response returns discovered profiles from agents",
      "properties": {
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "readOnly": true,
          "type": "string"
        },
        "workloadProfiles": {
          "description": "Output only. The list of workload profiles",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "WorkloadProfile"
          }
        }
      }
    },
    "SapComponent": {
      "description": "The component of sap workload",
      "properties": {
        "topologyType": {
          "type": "string",
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "The detected topology of the component."
        },
        "haHosts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA."
        },
        "resources": {
          "type": "array",
          "items": {
            "$ref": "CloudResource"
          },
          "description": "Output only. resources in the component",
          "readOnly": true
        },
        "sid": {
          "type": "string",
          "description": "Output only. sid is the sap component identificator",
          "readOnly": true
        },
        "databaseProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "DatabaseProperties"
        }
      },
      "type": "object",
      "id": "SapComponent"
    },
    "ListExecutionResultsResponse": {
      "type": "object",
      "id": "ListExecutionResultsResponse",
      "description": "Response message for the ListExecutionResults RPC.",
      "properties": {
        "executionResults": {
          "type": "array",
          "items": {
            "$ref": "ExecutionResult"
          },
          "description": "The versions from the specified publisher."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "ScannedResource": {
      "id": "ScannedResource",
      "type": "object",
      "description": "A scanned resource.",
      "properties": {
        "resource": {
          "type": "string",
          "description": "Resource name."
        },
        "type": {
          "type": "string",
          "description": "Resource type."
        }
      }
    },
    "Insight": {
      "description": "A presentation of host resource usage where the workload runs.",
      "properties": {
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        },
        "sentTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "sqlserverValidation": {
          "$ref": "SqlserverValidation",
          "description": "The insights data for the sqlserver workload validation."
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        }
      },
      "id": "Insight",
      "type": "object"
    },
    "ListDeploymentsResponse": {
      "id": "ListDeploymentsResponse",
      "type": "object",
      "description": "Message for response to listing Deployments",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of Deployment"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token identifying a page of results the server should return."
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "ResourceStatus": {
      "description": "The lifecycle status of an Evaluation resource.",
      "properties": {
        "state": {
          "description": "State of the Evaluation resource.",
          "type": "string",
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ]
        }
      },
      "type": "object",
      "id": "ResourceStatus"
    },
    "Product": {
      "type": "object",
      "id": "Product",
      "description": "Contains the details of a product.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Optional. Name of the product."
        },
        "version": {
          "type": "string",
          "description": "Optional. Version of the product."
        }
      }
    },
    "ListEvaluationsResponse": {
      "description": "Response message for the ListEvaluations RPC.",
      "properties": {
        "evaluations": {
          "type": "array",
          "items": {
            "$ref": "Evaluation"
          },
          "description": "The list of evaluations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListEvaluationsResponse",
      "type": "object"
    },
    "Pacemaker": {
      "description": "pacemaker configuration",
      "properties": {
        "pacemakerCluster": {
          "description": "Required. pacemaker cluster name",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "type": "string",
          "description": "Required. pacemaker cluster secret name"
        },
        "sqlPacemakerUsername": {
          "type": "string",
          "description": "Required. sql pacemaker username"
        },
        "bucketNameNodeCertificates": {
          "type": "string",
          "description": "Required. bucket location for node certificates"
        },
        "pacemakerClusterUsername": {
          "description": "Required. pacemaker cluster username",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "type": "string",
          "description": "Required. sql pacemaker secret name"
        }
      },
      "id": "Pacemaker",
      "type": "object"
    },
    "OperationMetadata": {
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "readOnly": true,
          "type": "string"
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "requestedCancellation": {
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.",
          "readOnly": true,
          "type": "boolean"
        },
        "target": {
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "readOnly": true,
          "type": "string"
        },
        "apiVersion": {
          "type": "string",
          "description": "Output only. API version used to start the operation.",
          "readOnly": true
        }
      },
      "id": "OperationMetadata",
      "type": "object"
    },
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "properties": {
        "endTime": {
          "description": "Optional. End time",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "type": "string",
          "description": "Optional. Type"
        },
        "onHostMaintenance": {
          "type": "string",
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`."
        },
        "startTime": {
          "description": "Optional. Start time",
          "type": "string",
          "format": "google-datetime"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        }
      },
      "id": "UpcomingMaintenanceEvent",
      "type": "object"
    },
    "LocationDetails": {
      "type": "object",
      "id": "LocationDetails",
      "description": "Message for sap instant details",
      "properties": {
        "dnsZoneNameSuffix": {
          "type": "string",
          "description": "Optional. dns_zone_name_suffix"
        },
        "subnetName": {
          "type": "string",
          "description": "Required. subnet_name"
        },
        "dnsZone": {
          "type": "string",
          "description": "Optional. dns zone name"
        },
        "internetAccess": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "customTags": {
          "description": "Optional. network tags",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "zone1Name": {
          "type": "string",
          "description": "Required. zone1_name"
        },
        "vpcName": {
          "description": "Required. vpc_name",
          "type": "string"
        },
        "zone2Name": {
          "description": "Optional. zone2_name",
          "type": "string"
        },
        "createCommsFirewall": {
          "type": "boolean",
          "description": "Optional. create firewall, if true, create firewall for the deployment. This field provides an option to not always create firewall for the deployment."
        },
        "regionName": {
          "type": "string",
          "description": "Required. region_name"
        },
        "networkProject": {
          "description": "Optional. network project",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "type": "boolean",
          "description": "Optional. when user skip DNS configuration from UI, deployment_dns_enabled=false otherwise deployment_dns_enabled=true"
        }
      }
    },
    "SapDiscoveryWorkloadProperties": {
      "description": "A set of properties describing an SAP workload.",
      "properties": {
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          }
        },
        "productVersions": {
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          }
        }
      },
      "id": "SapDiscoveryWorkloadProperties",
      "type": "object"
    },
    "AgentStatusReference": {
      "description": "The reference to public documentation.",
      "properties": {
        "name": {
          "type": "string",
          "description": "Output only. The name of the reference.",
          "readOnly": true
        },
        "url": {
          "type": "string",
          "description": "Output only. The URL of the reference.",
          "readOnly": true
        }
      },
      "type": "object",
      "id": "AgentStatusReference"
    },
    "OpenShiftValidation": {
      "type": "object",
      "id": "OpenShiftValidation",
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "properties": {
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        },
        "validationDetails": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          },
          "type": "object",
          "description": "Required. The validation details of the OpenShift cluster in JSON format."
        }
      }
    },
    "WorkloadProfileHealth": {
      "id": "WorkloadProfileHealth",
      "type": "object",
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "properties": {
        "state": {
          "description": "Output only. The health state of the workload.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ]
        },
        "checkTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "The time when the health check was performed."
        },
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        }
      }
    },
    "SapDiscoveryMetadata": {
      "description": "Message describing SAP discovery system metadata",
      "properties": {
        "definedSystem": {
          "type": "string",
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\""
        },
        "customerRegion": {
          "type": "string",
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region."
        },
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "environmentType": {
          "type": "string",
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc."
        }
      },
      "type": "object",
      "id": "SapDiscoveryMetadata"
    },
    "SqlserverValidation": {
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "properties": {
        "validationDetails": {
          "description": "Optional. A list of SqlServer validation metrics data.",
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          }
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "projectId": {
          "type": "string",
          "description": "Required. The project_id of the cloud project that the Insight data comes from."
        },
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        }
      },
      "id": "SqlserverValidation",
      "type": "object"
    },
    "RunEvaluationRequest": {
      "type": "object",
      "id": "RunEvaluationRequest",
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "executionId": {
          "type": "string",
          "description": "Required. ID of the execution which will be created."
        },
        "execution": {
          "$ref": "Execution",
          "description": "Required. The resource being created."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      }
    },
    "InstanceProperties": {
      "description": "Instance Properties.",
      "properties": {
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "status": {
          "type": "string",
          "description": "Optional. Instance status."
        },
        "machineType": {
          "type": "string",
          "description": "Optional. Instance machine type."
        },
        "instanceNumber": {
          "type": "string",
          "description": "Optional. Instance number."
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "roles": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "type": "string",
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ]
          },
          "description": "Optional. Instance roles."
        }
      },
      "id": "InstanceProperties",
      "type": "object"
    },
    "Empty": {
      "id": "Empty",
      "type": "object",
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {}
    },
    "Location": {
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "type": "string",
          "description": "The canonical id for this location. For example: `\"us-east1\"`."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "type": "object",
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "name": {
          "type": "string",
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      },
      "id": "Location",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "type": "object",
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "properties": {
        "major": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The major version number."
        },
        "patch": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The patch version number."
        },
        "build": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The build version number."
        },
        "minor": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minor version number."
        },
        "remainder": {
          "type": "string",
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4."
        }
      }
    },
    "Actuation": {
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "properties": {
        "deploymentOutput": {
          "description": "Output only. [Output only] Deployment output",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "DeploymentOutput"
          }
        },
        "name": {
          "type": "string",
          "description": "The name of actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "description": "Output only. [Output only] Actuation state",
          "type": "string",
          "enumDescriptions": [
            "state unspecified",
            "creating infrastructure in backend (terraform applying)",
            "success",
            "failed either in infra creating, post infra configuring or infra destroying",
            "configure workload after infrastructure is ready (ansible running)",
            "destroying infrastructure in backend (terraform destroying)",
            "ansible is timeout due to losing heartbeat in post infra configuring"
          ]
        },
        "endTime": {
          "description": "Output only. [Output only] End time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "actuationOutput": {
          "description": "Output only. [Output only] Actuation output",
          "readOnly": true,
          "$ref": "ActuationOutput"
        },
        "startTime": {
          "description": "Output only. [Output only] Start time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "Actuation"
    },
    "AgentStatusConfigValue": {
      "type": "object",
      "id": "AgentStatusConfigValue",
      "description": "The configuration value.",
      "properties": {
        "value": {
          "description": "Output only. The value of the configuration value.",
          "readOnly": true,
          "type": "string"
        },
        "isDefault": {
          "type": "boolean",
          "description": "Output only. Whether the configuration value is the default value or overridden.",
          "readOnly": true
        },
        "name": {
          "description": "Output only. The name of the configuration value.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "AppDetails": {
      "id": "AppDetails",
      "type": "object",
      "description": "Message for sap instant details",
      "properties": {
        "ascsVm": {
          "type": "string",
          "description": "Optional. ASCS vm name"
        },
        "ersVm": {
          "description": "Optional. ERS vm name",
          "type": "string"
        },
        "ascsMachineType": {
          "type": "string",
          "description": "Required. ascs_machine_type"
        },
        "vmsMultiplier": {
          "description": "Required. vms_multiplier",
          "type": "integer",
          "format": "int32"
        },
        "appVmNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Customized vm names"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "appInstanceId": {
          "type": "string",
          "description": "Optional. instance id for app"
        },
        "sharedStorage": {
          "description": "Optional. Storage location",
          "type": "string"
        },
        "image": {
          "type": "string",
          "description": "Required. image for app server and ascs server"
        },
        "ascsInstanceId": {
          "description": "Optional. instance id for ascs",
          "type": "string"
        },
        "ersInstanceId": {
          "type": "string",
          "description": "Optional. instance id for ers"
        },
        "ascsServiceAccount": {
          "type": "string",
          "description": "ASCS service account - let custoemrs bring their own SA for ASCS"
        },
        "appServiceAccount": {
          "description": "Application service account - let custoemrs bring their own SA for application",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ascsImage": {
          "type": "string",
          "description": "Required. image for ascs server"
        }
      }
    },
    "Execution": {
      "description": "Execution that represents a single run of an Evaluation.",
      "properties": {
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] End time stamp.",
          "readOnly": true
        },
        "inventoryTime": {
          "description": "Output only. [Output only] Inventory time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "runType": {
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "type": "string",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ]
        },
        "evaluationId": {
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true,
          "type": "string"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Start time stamp.",
          "readOnly": true
        },
        "notices": {
          "type": "array",
          "items": {
            "$ref": "Notice"
          },
          "description": "Output only. Additional information generated by the execution.",
          "readOnly": true
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "description": "Output only. [Output only] State.",
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "readOnly": true
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "name": {
          "type": "string",
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}."
        },
        "engine": {
          "type": "string",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ],
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "description": "Optional. Engine."
        },
        "ruleResults": {
          "type": "array",
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true
        },
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "readOnly": true,
          "$ref": "Summary"
        }
      },
      "id": "Execution",
      "type": "object"
    },
    "Notice": {
      "description": "Additional information generated by an execution.",
      "properties": {
        "message": {
          "description": "Output only. Message of the notice.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "Notice",
      "type": "object"
    },
    "ActiveDirectory": {
      "description": "Active directory details",
      "properties": {
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "domainUsername": {
          "description": "Optional. domain username",
          "type": "string"
        },
        "dnsAddress": {
          "type": "string",
          "description": "Optional. DNS IP address"
        },
        "domain": {
          "type": "string",
          "description": "Optional. human readable form of a domain such as “google.com”."
        },
        "type": {
          "description": "Required. active directory type",
          "type": "string",
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ],
          "enumDescriptions": [
            "Unspecified active directory type",
            "GCP managed active directory type",
            "Self managed active directory type"
          ]
        }
      },
      "id": "ActiveDirectory",
      "type": "object"
    },
    "ListRulesResponse": {
      "description": "Response message for the ListRules RPC.",
      "properties": {
        "rules": {
          "description": "All rules in response.",
          "type": "array",
          "items": {
            "$ref": "Rule"
          }
        }
      },
      "type": "object",
      "id": "ListRulesResponse"
    },
    "DatabaseProperties": {
      "description": "Database Properties.",
      "properties": {
        "backupProperties": {
          "$ref": "BackupProperties",
          "description": "Output only. Backup properties.",
          "readOnly": true
        },
        "databaseType": {
          "readOnly": true,
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ]
        }
      },
      "type": "object",
      "id": "DatabaseProperties"
    },
    "SapDiscoveryResource": {
      "description": "Message describing a resource.",
      "properties": {
        "resourceKind": {
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "type": "string",
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ]
        },
        "resourceType": {
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "type": "string",
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "description": "Required. The type of this resource."
        },
        "updateTime": {
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "type": "string",
          "format": "google-datetime"
        },
        "relatedResources": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. A list of resource URIs related to this resource."
        },
        "instanceProperties": {
          "$ref": "SapDiscoveryResourceInstanceProperties",
          "description": "Optional. A set of properties only applying to instance type resources."
        },
        "resourceUri": {
          "type": "string",
          "description": "Required. URI of the resource, includes project, location, and name."
        }
      },
      "type": "object",
      "id": "SapDiscoveryResource"
    },
    "TerraformVariable": {
      "id": "TerraformVariable",
      "type": "object",
      "description": "In order to align with Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest A Terraform input variable.",
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      }
    },
    "Rule": {
      "description": "A rule to be evaluated.",
      "properties": {
        "uri": {
          "description": "The document url for the rule.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the rule.",
          "type": "string"
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        },
        "errorMessage": {
          "type": "string",
          "description": "The message template for rule."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of user-defined tags."
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "revisionId": {
          "type": "string",
          "description": "Output only. The version of the rule.",
          "readOnly": true
        },
        "description": {
          "description": "Describe rule in plain language.",
          "type": "string"
        },
        "ruleType": {
          "description": "The type of the rule.",
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "type": "string",
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ]
        },
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "remediation": {
          "type": "string",
          "description": "The remediation for the rule."
        },
        "name": {
          "type": "string",
          "description": "Rule name."
        }
      },
      "type": "object",
      "id": "Rule"
    },
    "SqlserverValidationValidationDetail": {
      "id": "SqlserverValidationValidationDetail",
      "type": "object",
      "description": "Message describing the Sqlserver validation metrics.",
      "properties": {
        "type": {
          "type": "string",
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "description": "Optional. The Sqlserver system that the validation data is from."
        },
        "details": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "description": "Required. Details wraps map that represents collected data names and values."
        }
      }
    },
    "Operation": {
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "done": {
          "description": "If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.",
          "type": "boolean"
        },
        "name": {
          "type": "string",
          "description": "The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`."
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "description": "Properties of the object. Contains field @type with type URL.",
            "type": "any"
          },
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any."
        },
        "error": {
          "$ref": "Status",
          "description": "The error result of the operation in case of failure or cancellation."
        },
        "response": {
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
[...]
