{
  "name": "workstations",
  "description": "Allows administrators to create managed developer environments in the cloud. ",
  "parameters": {
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "type": "string",
      "location": "query",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "type": "string",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "discoveryVersion": "v1",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "title": "Cloud Workstations API",
  "id": "workstations:v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "path": "v1/{+name}",
              "httpMethod": "GET",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "response": {
                "$ref": "Location"
              },
              "parameters": {
                "name": {
                  "description": "Resource name for the location.",
                  "location": "path",
                  "required": true,
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "type": "string"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Gets information about a location.",
              "id": "workstations.projects.locations.get"
            },
            "list": {
              "id": "workstations.projects.locations.list",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "parameters": {
                "extraLocationTypes": {
                  "type": "string",
                  "location": "query",
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "repeated": true
                },
                "filter": {
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query",
                  "type": "string"
                },
                "pageToken": {
                  "location": "query",
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page."
                },
                "pageSize": {
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "name": {
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$",
                  "type": "string",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "flatPath": "v1/projects/{projectsId}/locations",
              "path": "v1/{+name}/locations",
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ]
            }
          },
          "resources": {
            "operations": {
              "methods": {
                "cancel": {
                  "path": "v1/{+name}:cancel",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be cancelled.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "workstations.projects.locations.operations.cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`."
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "id": "workstations.projects.locations.operations.get",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  }
                },
                "list": {
                  "response": {
                    "$ref": "ListOperationsResponse"
                  },
                  "parameters": {
                    "name": {
                      "description": "The name of the operation's parent resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    },
                    "pageSize": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "The standard list page size."
                    },
                    "pageToken": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list page token."
                    },
                    "filter": {
                      "location": "query",
                      "type": "string",
                      "description": "The standard list filter."
                    },
                    "returnPartialSuccess": {
                      "type": "boolean",
                      "location": "query",
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation."
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "id": "workstations.projects.locations.operations.list",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}/operations",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations"
                },
                "delete": {
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource to be deleted.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true
                    }
                  },
                  "response": {
                    "$ref": "GoogleProtobufEmpty"
                  },
                  "id": "workstations.projects.locations.operations.delete",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`."
                }
              }
            },
            "workstationClusters": {
              "methods": {
                "get": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "type": "string",
                      "description": "Required. Name of the requested resource."
                    }
                  },
                  "response": {
                    "$ref": "WorkstationCluster"
                  },
                  "id": "workstations.projects.locations.workstationClusters.get",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns the requested workstation cluster.",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}"
                },
                "delete": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "force": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, any workstation configurations and workstations in the workstation cluster are also deleted. Otherwise, the request only works if the workstation cluster has no configurations or workstations."
                    },
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "type": "string",
                      "location": "path",
                      "required": true,
                      "description": "Required. Name of the workstation cluster to delete."
                    },
                    "validateOnly": {
                      "description": "Optional. If set, validate the request and preview the result, but do not apply it.",
                      "type": "boolean",
                      "location": "query"
                    },
                    "etag": {
                      "description": "Optional. If set, the request will be rejected if the latest version of the workstation cluster on the server does not have this ETag.",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Deletes the specified workstation cluster.",
                  "id": "workstations.projects.locations.workstationClusters.delete",
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}"
                },
                "create": {
                  "path": "v1/{+parent}/workstationClusters",
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters",
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "parameters": {
                    "parent": {
                      "description": "Required. Parent resource name.",
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string"
                    },
                    "workstationClusterId": {
                      "description": "Required. ID to use for the workstation cluster.",
                      "type": "string",
                      "location": "query"
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                    }
                  },
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "workstations.projects.locations.workstationClusters.create",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Creates a new workstation cluster."
                },
                "list": {
                  "response": {
                    "$ref": "ListWorkstationClustersResponse"
                  },
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "type": "string",
                      "description": "Required. Parent resource name."
                    },
                    "pageToken": {
                      "description": "Optional. next_page_token value returned from a previous List request, if any.",
                      "type": "string",
                      "location": "query"
                    },
                    "pageSize": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Maximum number of items to return.",
                      "format": "int32"
                    },
                    "filter": {
                      "description": "Optional. Filter the WorkstationClusters to be listed. Possible filters are described in https://google.aip.dev/160.",
                      "type": "string",
                      "location": "query"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Returns all workstation clusters in the specified location.",
                  "id": "workstations.projects.locations.workstationClusters.list",
                  "parameterOrder": [
                    "parent"
                  ],
                  "path": "v1/{+parent}/workstationClusters",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters"
                },
                "patch": {
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "description": "Updates an existing workstation cluster.",
                  "id": "workstations.projects.locations.workstationClusters.patch",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                      "type": "string",
                      "description": "Identifier. Full name of this workstation cluster."
                    },
                    "validateOnly": {
                      "location": "query",
                      "type": "boolean",
                      "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                    },
                    "allowMissing": {
                      "type": "boolean",
                      "location": "query",
                      "description": "Optional. If set, and the workstation cluster is not found, a new workstation cluster will be created. In this situation, update_mask is ignored."
                    },
                    "updateMask": {
                      "description": "Required. Mask that specifies which fields in the workstation cluster should be updated.",
                      "format": "google-fieldmask",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}",
                  "request": {
                    "$ref": "WorkstationCluster"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH"
                }
              },
              "resources": {
                "workstationConfigs": {
                  "methods": {
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameters": {
                        "force": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, any workstations in the workstation configuration are also deleted. Otherwise, the request works only if the workstation configuration has no workstations."
                        },
                        "etag": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. If set, the request is rejected if the latest version of the workstation configuration on the server does not have this ETag."
                        },
                        "name": {
                          "description": "Required. Name of the workstation configuration to delete.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "type": "string"
                        },
                        "validateOnly": {
                          "location": "query",
                          "type": "boolean",
                          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Deletes the specified workstation configuration.",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.delete"
                    },
                    "listUsable": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1/{+parent}/workstationConfigs:listUsable",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs:listUsable",
                      "response": {
                        "$ref": "ListUsableWorkstationConfigsResponse"
                      },
                      "parameters": {
                        "pageSize": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. Maximum number of items to return."
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Parent resource name."
                        },
                        "pageToken": {
                          "description": "Optional. next_page_token value returned from a previous List request, if any.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns all workstation configurations in the specified cluster on which the caller has the \"workstations.workstation.create\" permission.",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.listUsable"
                    },
                    "list": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "path": "v1/{+parent}/workstationConfigs",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.list",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns all workstation configurations in the specified cluster.",
                      "parameters": {
                        "pageSize": {
                          "location": "query",
                          "type": "integer",
                          "description": "Optional. Maximum number of items to return.",
                          "format": "int32"
                        },
                        "filter": {
                          "description": "Optional. Filter the WorkstationConfigs to be listed. Possible filters are described in https://google.aip.dev/160.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Parent resource name."
                        },
                        "pageToken": {
                          "location": "query",
                          "type": "string",
                          "description": "Optional. next_page_token value returned from a previous List request, if any."
                        }
                      },
                      "response": {
                        "$ref": "ListWorkstationConfigsResponse"
                      }
                    },
                    "patch": {
                      "parameters": {
                        "allowMissing": {
                          "description": "Optional. If set and the workstation configuration is not found, a new workstation configuration will be created. In this situation, update_mask is ignored.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "updateMask": {
                          "type": "string",
                          "location": "query",
                          "format": "google-fieldmask",
                          "description": "Required. Mask specifying which fields in the workstation configuration should be updated."
                        },
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Identifier. Full name of this workstation configuration."
                        },
                        "validateOnly": {
                          "type": "boolean",
                          "location": "query",
                          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.patch",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Updates an existing workstation configuration.",
                      "path": "v1/{+name}",
                      "httpMethod": "PATCH",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}",
                      "request": {
                        "$ref": "WorkstationConfig"
                      }
                    },
                    "testIamPermissions": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.testIamPermissions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                      "parameters": {
                        "resource": {
                          "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "TestIamPermissionsResponse"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:testIamPermissions",
                      "request": {
                        "$ref": "TestIamPermissionsRequest"
                      },
                      "path": "v1/{+resource}:testIamPermissions",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "create": {
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs",
                      "request": {
                        "$ref": "WorkstationConfig"
                      },
                      "path": "v1/{+parent}/workstationConfigs",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "parent"
                      ],
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.create",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new workstation configuration.",
                      "parameters": {
                        "validateOnly": {
                          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                          "location": "query",
                          "type": "boolean"
                        },
                        "parent": {
                          "description": "Required. Parent resource name.",
                          "location": "path",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+$",
                          "type": "string"
                        },
                        "workstationConfigId": {
                          "location": "query",
                          "type": "string",
                          "description": "Required. ID to use for the workstation configuration."
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      }
                    },
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the requested resource.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "response": {
                        "$ref": "WorkstationConfig"
                      },
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.get",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns the requested workstation configuration.",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}"
                    },
                    "setIamPolicy": {
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.setIamPolicy",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        }
                      },
                      "response": {
                        "$ref": "Policy"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:setIamPolicy",
                      "request": {
                        "$ref": "SetIamPolicyRequest"
                      },
                      "path": "v1/{+resource}:setIamPolicy",
                      "httpMethod": "POST",
                      "parameterOrder": [
                        "resource"
                      ]
                    },
                    "getIamPolicy": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                      "id": "workstations.projects.locations.workstationClusters.workstationConfigs.getIamPolicy",
                      "response": {
                        "$ref": "Policy"
                      },
                      "parameters": {
                        "resource": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                        },
                        "options.requestedPolicyVersion": {
                          "type": "integer",
                          "location": "query",
                          "format": "int32",
                          "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                        }
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}:getIamPolicy",
                      "parameterOrder": [
                        "resource"
                      ],
                      "path": "v1/{+resource}:getIamPolicy",
                      "httpMethod": "GET"
                    }
                  },
                  "resources": {
                    "workstations": {
                      "methods": {
                        "list": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns all Workstations using the specified workstation configuration.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.list",
                          "response": {
                            "$ref": "ListWorkstationsResponse"
                          },
                          "parameters": {
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. next_page_token value returned from a previous List request, if any."
                            },
                            "pageSize": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. Maximum number of items to return."
                            },
                            "filter": {
                              "type": "string",
                              "location": "query",
                              "description": "Optional. Filter the Workstations to be listed. Possible filters are described in https://google.aip.dev/160."
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "parameterOrder": [
                            "parent"
                          ],
                          "path": "v1/{+parent}/workstations",
                          "httpMethod": "GET"
                        },
                        "patch": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.patch",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Updates an existing workstation.",
                          "parameters": {
                            "name": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "description": "Identifier. Full name of this workstation."
                            },
                            "validateOnly": {
                              "type": "boolean",
                              "location": "query",
                              "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                            },
                            "allowMissing": {
                              "description": "Optional. If set and the workstation is not found, a new workstation is created. In this situation, update_mask is ignored.",
                              "type": "boolean",
                              "location": "query"
                            },
                            "updateMask": {
                              "format": "google-fieldmask",
                              "description": "Required. Mask specifying which fields in the workstation should be updated.",
                              "type": "string",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "request": {
                            "$ref": "Workstation"
                          },
                          "path": "v1/{+name}",
                          "httpMethod": "PATCH",
                          "parameterOrder": [
                            "name"
                          ]
                        },
                        "testIamPermissions": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:testIamPermissions",
                          "request": {
                            "$ref": "TestIamPermissionsRequest"
                          },
                          "parameterOrder": [
                            "resource"
                          ],
                          "path": "v1/{+resource}:testIamPermissions",
                          "httpMethod": "POST",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may \"fail open\" without warning.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.testIamPermissions",
                          "response": {
                            "$ref": "TestIamPermissionsResponse"
                          },
                          "parameters": {
                            "resource": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                            }
                          }
                        },
                        "create": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.create",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Creates a new workstation.",
                          "parameters": {
                            "validateOnly": {
                              "location": "query",
                              "type": "boolean",
                              "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
                            },
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "workstationId": {
                              "type": "string",
                              "location": "query",
                              "description": "Required. ID to use for the workstation."
                            }
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations",
                          "request": {
                            "$ref": "Workstation"
                          },
                          "path": "v1/{+parent}/workstations",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "parent"
                          ]
                        },
                        "generateAccessToken": {
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.generateAccessToken",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns a short-lived credential that can be used to send authenticated and authorized traffic to a workstation. Once generated this token cannot be revoked and is good for the lifetime of the token.",
                          "parameters": {
                            "workstation": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "description": "Required. Name of the workstation for which the access token should be generated."
                            }
                          },
                          "response": {
                            "$ref": "GenerateAccessTokenResponse"
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:generateAccessToken",
                          "request": {
                            "$ref": "GenerateAccessTokenRequest"
                          },
                          "path": "v1/{+workstation}:generateAccessToken",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "workstation"
                          ]
                        },
                        "delete": {
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Deletes the specified workstation.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.delete",
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "etag": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag."
                            },
                            "name": {
                              "description": "Required. Name of the workstation to delete.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            },
                            "validateOnly": {
                              "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
                              "location": "query",
                              "type": "boolean"
                            }
                          },
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "httpMethod": "DELETE"
                        },
                        "listUsable": {
                          "parameters": {
                            "parent": {
                              "description": "Required. Parent resource name.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+$",
                              "type": "string"
                            },
                            "pageToken": {
                              "location": "query",
                              "type": "string",
                              "description": "Optional. next_page_token value returned from a previous List request, if any."
                            },
                            "pageSize": {
                              "format": "int32",
                              "description": "Optional. Maximum number of items to return.",
                              "type": "integer",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "ListUsableWorkstationsResponse"
                          },
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.listUsable",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns all workstations using the specified workstation configuration on which the caller has the \"workstations.workstations.use\" permission.",
                          "path": "v1/{+parent}/workstations:listUsable",
                          "httpMethod": "GET",
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations:listUsable"
                        },
                        "stop": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}:stop",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:stop",
                          "request": {
                            "$ref": "StopWorkstationRequest"
                          },
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the workstation to stop.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Stops running a workstation, reducing costs.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.stop"
                        },
                        "getIamPolicy": {
                          "response": {
                            "$ref": "Policy"
                          },
                          "parameters": {
                            "resource": {
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "description": "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
                            },
                            "options.requestedPolicyVersion": {
                              "type": "integer",
                              "location": "query",
                              "format": "int32",
                              "description": "Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies)."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.getIamPolicy",
                          "parameterOrder": [
                            "resource"
                          ],
                          "path": "v1/{+resource}:getIamPolicy",
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:getIamPolicy"
                        },
                        "start": {
                          "response": {
                            "$ref": "Operation"
                          },
                          "parameters": {
                            "name": {
                              "description": "Required. Name of the workstation to start.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Starts running a workstation so that users can connect to it.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.start",
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}:start",
                          "httpMethod": "POST",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:start",
                          "request": {
                            "$ref": "StartWorkstationRequest"
                          }
                        },
                        "get": {
                          "parameterOrder": [
                            "name"
                          ],
                          "path": "v1/{+name}",
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}",
                          "response": {
                            "$ref": "Workstation"
                          },
                          "parameters": {
                            "name": {
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string",
                              "location": "path",
                              "required": true,
                              "description": "Required. Name of the requested resource."
                            }
                          },
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Returns the requested workstation.",
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.get"
                        },
                        "setIamPolicy": {
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/workstationClusters/{workstationClustersId}/workstationConfigs/{workstationConfigsId}/workstations/{workstationsId}:setIamPolicy",
                          "request": {
                            "$ref": "SetIamPolicyRequest"
                          },
                          "path": "v1/{+resource}:setIamPolicy",
                          "httpMethod": "POST",
                          "parameterOrder": [
                            "resource"
                          ],
                          "id": "workstations.projects.locations.workstationClusters.workstationConfigs.workstations.setIamPolicy",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "description": "Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.",
                          "parameters": {
                            "resource": {
                              "description": "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field.",
                              "location": "path",
                              "required": true,
                              "pattern": "^projects/[^/]+/locations/[^/]+/workstationClusters/[^/]+/workstationConfigs/[^/]+/workstations/[^/]+$",
                              "type": "string"
                            }
                          },
                          "response": {
                            "$ref": "Policy"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "version": "v1",
  "version_module": true,
  "schemas": {
    "TestIamPermissionsRequest": {
      "id": "TestIamPermissionsRequest",
      "type": "object",
      "description": "Request message for `TestIamPermissions` method.",
      "properties": {
        "permissions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The set of permissions to check for the `resource`. Permissions with wildcards (such as `*` or `storage.*`) are not allowed. For more information see [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions)."
        }
      }
    },
    "DomainConfig": {
      "description": "Configuration options for a custom domain.",
      "properties": {
        "domain": {
          "type": "string",
          "description": "Immutable. Domain used by Workstations for HTTP ingress."
        }
      },
      "type": "object",
      "id": "DomainConfig"
    },
    "EphemeralDirectory": {
      "id": "EphemeralDirectory",
      "type": "object",
      "description": "An ephemeral directory which won't persist across workstation sessions. It is freshly created on every workstation start operation.",
      "properties": {
        "gcePd": {
          "$ref": "GcePersistentDisk",
          "description": "An EphemeralDirectory backed by a Compute Engine persistent disk."
        },
        "mountPath": {
          "type": "string",
          "description": "Required. Location of this directory in the running workstation."
        }
      }
    },
    "StartWorkstationRequest": {
      "description": "Request message for StartWorkstation.",
      "properties": {
        "validateOnly": {
          "type": "boolean",
          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it."
        },
        "etag": {
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
          "type": "string"
        },
        "boostConfig": {
          "type": "string",
          "description": "Optional. If set, the workstation starts using the boost configuration with the specified ID."
        }
      },
      "type": "object",
      "id": "StartWorkstationRequest"
    },
    "ListWorkstationsResponse": {
      "description": "Response message for ListWorkstations.",
      "properties": {
        "workstations": {
          "description": "The requested workstations.",
          "type": "array",
          "items": {
            "$ref": "Workstation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "Optional. Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Unreachable resources."
        }
      },
      "id": "ListWorkstationsResponse",
      "type": "object"
    },
    "ListUsableWorkstationsResponse": {
      "description": "Response message for ListUsableWorkstations.",
      "properties": {
        "workstations": {
          "type": "array",
          "items": {
            "$ref": "Workstation"
          },
          "description": "The requested workstations."
        },
        "nextPageToken": {
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources."
        }
      },
      "type": "object",
      "id": "ListUsableWorkstationsResponse"
    },
    "SetIamPolicyRequest": {
      "type": "object",
      "id": "SetIamPolicyRequest",
      "description": "Request message for `SetIamPolicy` method.",
      "properties": {
        "updateMask": {
          "type": "string",
          "format": "google-fieldmask",
          "description": "OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only the fields in the mask will be modified. If no mask is provided, the following default mask is used: `paths: \"bindings, etag\"`"
        },
        "policy": {
          "description": "REQUIRED: The complete policy to be applied to the `resource`. The size of the policy is limited to a few 10s of KB. An empty policy is a valid policy but certain Google Cloud services (such as Projects) might reject them.",
          "$ref": "Policy"
        }
      }
    },
    "ListWorkstationClustersResponse": {
      "description": "Response message for ListWorkstationClusters.",
      "properties": {
        "workstationClusters": {
          "type": "array",
          "items": {
            "$ref": "WorkstationCluster"
          },
          "description": "The requested workstation clusters."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results, or empty if there are no more results in the list."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unreachable resources."
        }
      },
      "type": "object",
      "id": "ListWorkstationClustersResponse"
    },
    "GenerateAccessTokenResponse": {
      "type": "object",
      "id": "GenerateAccessTokenResponse",
      "description": "Response message for GenerateAccessToken.",
      "properties": {
        "accessToken": {
          "description": "The generated bearer access token. To use this token, include it in an Authorization header of an HTTP request sent to the associated workstation's hostname—for example, `Authorization: Bearer `.",
          "type": "string"
        },
        "expireTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Time at which the generated token will expire."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "type": "array",
          "items": {
            "$ref": "Location"
          },
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "type": "object",
      "id": "ListLocationsResponse"
    },
    "GceConfidentialInstanceConfig": {
      "id": "GceConfidentialInstanceConfig",
      "type": "object",
      "description": "A set of Compute Engine Confidential VM instance options.",
      "properties": {
        "enableConfidentialCompute": {
          "type": "boolean",
          "description": "Optional. Whether the instance has confidential compute enabled."
        }
      }
    },
    "GceRegionalPersistentDisk": {
      "description": "A Persistent Directory backed by a Compute Engine regional persistent disk. The persistent_directories field is repeated, but it may contain only one entry. It creates a [persistent disk](https://cloud.google.com/compute/docs/disks/persistent-disks) that mounts to the workstation VM at `/home` when the session starts and detaches when the session ends. If this field is empty, workstations created with this configuration do not have a persistent home directory.",
      "properties": {
        "sizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The GB capacity of a persistent home directory for each workstation created with this configuration. Must be empty if source_snapshot is set. Valid values are `10`, `50`, `100`, `200`, `500`, or `1000`. Defaults to `200`. If less than `200` GB, the disk_type must be `\"pd-balanced\"` or `\"pd-ssd\"`."
        },
        "sourceSnapshot": {
          "description": "Optional. Name of the snapshot to use as the source for the disk. If set, size_gb and fs_type must be empty. Must be formatted as ext4 file system with no partitions.",
          "type": "string"
        },
        "fsType": {
          "description": "Optional. Type of file system that the disk should be formatted with. The workstation image must support this file system type. Must be empty if source_snapshot is set. Defaults to `\"ext4\"`.",
          "type": "string"
        },
        "reclaimPolicy": {
          "type": "string",
          "enumDescriptions": [
            "Do not use.",
            "Delete the persistent disk when deleting the workstation.",
            "Keep the persistent disk when deleting the workstation. An administrator must manually delete the disk."
          ],
          "enum": [
            "RECLAIM_POLICY_UNSPECIFIED",
            "DELETE",
            "RETAIN"
          ],
          "description": "Optional. Whether the persistent disk should be deleted when the workstation is deleted. Valid values are `DELETE` and `RETAIN`. Defaults to `DELETE`."
        },
        "diskType": {
          "description": "Optional. The [type of the persistent disk](https://cloud.google.com/compute/docs/disks#disk-types) for the home directory. Defaults to `\"pd-standard\"`.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GceRegionalPersistentDisk"
    },
    "RuntimeHost": {
      "description": "Runtime host for the workstation.",
      "properties": {
        "gceInstanceHost": {
          "$ref": "GceInstanceHost",
          "description": "Specifies a Compute Engine instance as the host."
        }
      },
      "id": "RuntimeHost",
      "type": "object"
    },
    "PrivateClusterConfig": {
      "description": "Configuration options for private workstation clusters.",
      "properties": {
        "enablePrivateEndpoint": {
          "description": "Immutable. Whether Workstations endpoint is private.",
          "type": "boolean"
        },
        "clusterHostname": {
          "description": "Output only. Hostname for the workstation cluster. This field will be populated only when private endpoint is enabled. To access workstations in the workstation cluster, create a new DNS zone mapping this domain name to an internal IP address and a forwarding rule mapping that address to the service attachment.",
          "readOnly": true,
          "type": "string"
        },
        "serviceAttachmentUri": {
          "description": "Output only. Service attachment URI for the workstation cluster. The service attachment is created when private endpoint is enabled. To access workstations in the workstation cluster, configure access to the managed service using [Private Service Connect](https://cloud.google.com/vpc/docs/configure-private-service-connect-services).",
          "readOnly": true,
          "type": "string"
        },
        "allowedProjects": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Additional projects that are allowed to attach to the workstation cluster's service attachment. By default, the workstation cluster's project and the VPC host project (if different) are allowed."
        }
      },
      "type": "object",
      "id": "PrivateClusterConfig"
    },
    "BoostConfig": {
      "id": "BoostConfig",
      "type": "object",
      "description": "A boost configuration is a set of resources that a workstation can use to increase its performance. If you specify a boost configuration, upon startup, workstation users can choose to use a VM provisioned under the boost config by passing the boost config ID in the start request. If the workstation user does not provide a boost config ID in the start request, the system will choose a VM from the pool provisioned under the default config.",
      "properties": {
        "id": {
          "type": "string",
          "description": "Required. The ID to be used for the boost configuration."
        },
        "bootDiskSizeGb": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The size of the boot disk for the VM in gigabytes (GB). The minimum boot disk size is `30` GB. Defaults to `50` GB."
        },
        "accelerators": {
          "description": "Optional. A list of the type and count of accelerator cards attached to the boost instance. Defaults to `none`.",
          "type": "array",
          "items": {
            "$ref": "Accelerator"
          }
        },
        "enableNestedVirtualization": {
          "description": "Optional. Whether to enable nested virtualization on boosted Cloud Workstations VMs running using this boost configuration. Defaults to false. Nested virtualization lets you run virtual machine (VM) instances inside your workstation. Before enabling nested virtualization, consider the following important considerations. Cloud Workstations instances are subject to the [same restrictions as Compute Engine instances](https://cloud.google.com/compute/docs/instances/nested-virtualization/overview#restrictions): * **Organization policy**: projects, folders, or organizations may be restricted from creating nested VMs if the **Disable VM nested virtualization** constraint is enforced in the organization policy. For more information, see the Compute Engine section, [Checking whether nested virtualization is allowed](https://cloud.google.com/compute/docs/instances/nested-virtualization/managing-constraint#checking_whether_nested_virtualization_is_allowed). * **Performance**: nested VMs might experience a 10% or greater decrease in performance for workloads that are CPU-bound and possibly greater than a 10% decrease for workloads that are input/output bound. * **Machine Type**: nested virtualization can only be enabled on boost configurations that specify a machine_type in the N1 or N2 machine series.",
          "type": "boolean"
        },
        "poolSize": {
          "format": "int32",
          "description": "Optional. The number of boost VMs that the system should keep idle so that workstations can be boosted quickly. Defaults to `0`.",
          "type": "integer"
        },
        "machineType": {
          "description": "Optional. The type of machine that boosted VM instances will use—for example, `e2-standard-4`. For more information about machine types that Cloud Workstations supports, see the list of [available machine types](https://cloud.google.com/workstations/docs/available-machine-types). Defaults to `e2-standard-4`.",
          "type": "string"
        }
      }
    },
    "PortRange": {
      "id": "PortRange",
      "type": "object",
      "description": "A PortRange defines a range of ports. Both first and last are inclusive. To specify a single port, both first and last should be the same.",
      "properties": {
        "last": {
          "format": "int32",
          "description": "Required. Ending port number for the current range of ports. Valid ports are 22, 80, and ports within the range 1024-65535.",
          "type": "integer"
        },
        "first": {
          "type": "integer",
          "description": "Required. Starting port number for the current range of ports. Valid ports are 22, 80, and ports within the range 1024-65535.",
          "format": "int32"
        }
      }
    },
    "AuditLogConfig": {
      "description": "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging.",
      "properties": {
        "exemptedMembers": {
          "description": "Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "logType": {
          "enum": [
            "LOG_TYPE_UNSPECIFIED",
            "ADMIN_READ",
            "DATA_WRITE",
            "DATA_READ"
          ],
          "description": "The log type that this config enables.",
          "type": "string",
          "enumDescriptions": [
            "Default case. Should never be this.",
            "Admin reads. Example: CloudIAM getIamPolicy",
            "Data writes. Example: CloudSQL Users create",
            "Data reads. Example: CloudSQL Users list"
          ]
        }
      },
      "id": "AuditLogConfig",
      "type": "object"
    },
    "GceShieldedInstanceConfig": {
      "type": "object",
      "id": "GceShieldedInstanceConfig",
      "description": "A set of Compute Engine Shielded instance options.",
      "properties": {
        "enableSecureBoot": {
          "type": "boolean",
          "description": "Optional. Whether the instance has Secure Boot enabled."
        },
        "enableIntegrityMonitoring": {
          "type": "boolean",
          "description": "Optional. Whether the instance has integrity monitoring enabled."
        },
        "enableVtpm": {
          "description": "Optional. Whether the instance has the vTPM enabled.",
          "type": "boolean"
        }
      }
    },
    "CustomerEncryptionKey": {
      "id": "CustomerEncryptionKey",
      "type": "object",
      "description": "A customer-managed encryption key (CMEK) for the Compute Engine resources of the associated workstation configuration. Specify the name of your Cloud KMS encryption key and the default service account. We recommend that you use a separate service account and follow [Cloud KMS best practices](https://cloud.google.com/kms/docs/separation-of-duties).",
      "properties": {
        "kmsKey": {
          "type": "string",
          "description": "Immutable. The name of the Google Cloud KMS encryption key. For example, `\"projects/PROJECT_ID/locations/REGION/keyRings/KEY_RING/cryptoKeys/KEY_NAME\"`. The key must be in the same region as the workstation configuration."
        },
        "kmsKeyServiceAccount": {
          "type": "string",
          "description": "Immutable. The service account to use with the specified KMS key. We recommend that you use a separate service account and follow KMS best practices. For more information, see [Separation of duties](https://cloud.google.com/kms/docs/separation-of-duties) and `gcloud kms keys add-iam-policy-binding` [`--member`](https://cloud.google.com/sdk/gcloud/reference/kms/keys/add-iam-policy-binding#--member)."
        }
      }
    },
    "WorkstationConfig": {
      "description": "A workstation configuration resource in the Cloud Workstations API. Workstation configurations act as templates for workstations. The workstation configuration defines details such as the workstation virtual machine (VM) instance type, persistent storage, container image defining environment, which IDE or Code Editor to use, and more. Administrators and platform teams can also use [Identity and Access Management (IAM)](https://cloud.google.com/iam/docs/overview) rules to grant access to teams or to individual developers.",
      "properties": {
        "ephemeralDirectories": {
          "type": "array",
          "items": {
            "$ref": "EphemeralDirectory"
          },
          "description": "Optional. Ephemeral directories which won't persist across workstation sessions."
        },
        "idleTimeout": {
          "type": "string",
          "description": "Optional. Number of seconds to wait before automatically stopping a workstation after it last received user traffic. A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration should never time out due to idleness. Provide [duration](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#duration) terminated by `s` for seconds—for example, `\"7200s\"` (2 hours). The default is `\"1200s\"` (20 minutes).",
          "format": "google-duration"
        },
        "readinessChecks": {
          "description": "Optional. Readiness checks to perform when starting a workstation using this workstation configuration. Mark a workstation as running only after all specified readiness checks return 200 status codes.",
          "type": "array",
          "items": {
            "$ref": "ReadinessCheck"
          }
        },
        "maxUsableWorkstations": {
          "description": "Optional. Maximum number of workstations under this configuration a user can have `workstations.workstation.use` permission on. Only enforced on CreateWorkstation API calls on the user issuing the API request. Can be overridden by: - granting a user workstations.workstationConfigs.exemptMaxUsableWorkstationLimit permission, or - having a user with that permission create a workstation and granting another user `workstations.workstation.use` permission on that workstation. If not specified, defaults to `0`, which indicates unlimited.",
          "format": "int32",
          "type": "integer"
        },
        "reconciling": {
          "readOnly": true,
          "description": "Output only. Indicates whether this workstation configuration is currently being updated to match its intended state.",
          "type": "boolean"
        },
        "disableTcpConnections": {
          "description": "Optional. Disables support for plain TCP connections in the workstation. By default the service supports TCP connections through a websocket relay. Setting this option to true disables that relay, which prevents the usage of services that require plain TCP connections, such as SSH. When enabled, all communication must occur over HTTPS or WSS.",
          "type": "boolean"
        },
        "updateTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Time when this workstation configuration was most recently updated."
        },
        "enableAuditAgent": {
          "type": "boolean",
          "description": "Optional. Whether to enable Linux `auditd` logging on the workstation. When enabled, a service_account must also be specified that has `roles/logging.logWriter` and `roles/monitoring.metricWriter` on the project. Operating system audit logging is distinct from [Cloud Audit Logs](https://cloud.google.com/workstations/docs/audit-logging) and [Container output logging](https://cloud.google.com/workstations/docs/container-output-logging#overview). Operating system audit logs are available in the [Cloud Logging](https://cloud.google.com/logging/docs) console by querying: resource.type=\"gce_instance\" log_name:\"/logs/linux-auditd\""
        },
        "host": {
          "$ref": "Host",
          "description": "Optional. Runtime host for the workstation."
        },
        "encryptionKey": {
          "description": "Immutable. Encrypts resources of this workstation configuration using a customer-managed encryption key (CMEK). If specified, the boot disk of the Compute Engine instance and the persistent disk are encrypted using this encryption key. If this field is not set, the disks are encrypted using a generated key. Customer-managed encryption keys do not protect disk metadata. If the customer-managed encryption key is rotated, when the workstation instance is stopped, the system attempts to recreate the persistent disk with the new version of the key. Be sure to keep older versions of the key until the persistent disk is recreated. Otherwise, data on the persistent disk might be lost. If the encryption key is revoked, the workstation session automatically stops within 7 hours. Immutable after the workstation configuration is created.",
          "$ref": "CustomerEncryptionKey"
        },
        "grantWorkstationAdminRoleOnCreate": {
          "description": "Optional. Grant creator of a workstation `roles/workstations.policyAdmin` role along with `roles/workstations.user` role on the workstation created by them. This allows workstation users to share access to either their entire workstation, or individual ports. Defaults to false.",
          "type": "boolean"
        },
        "persistentDirectories": {
          "type": "array",
          "items": {
            "$ref": "PersistentDirectory"
          },
          "description": "Optional. Directories to persist across workstation sessions."
        },
        "name": {
          "type": "string",
          "description": "Identifier. Full name of this workstation configuration."
        },
        "displayName": {
          "type": "string",
          "description": "Optional. Human-readable name for this workstation configuration."
        },
        "deleteTime": {
          "type": "string",
          "description": "Output only. Time when this workstation configuration was soft-deleted.",
          "readOnly": true,
          "format": "google-datetime"
        },
        "conditions": {
          "description": "Output only. Status conditions describing the workstation configuration's current state.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Status"
          }
        },
        "uid": {
          "description": "Output only. A system-assigned unique identifier for this workstation configuration.",
          "readOnly": true,
          "type": "string"
        },
        "annotations": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. Client-specified annotations.",
          "type": "object"
        },
        "createTime": {
          "description": "Output only. Time when this workstation configuration was created.",
          "readOnly": true,
          "format": "google-datetime",
          "type": "string"
        },
        "container": {
          "description": "Optional. Container that runs upon startup for each workstation using this workstation configuration.",
          "$ref": "Container"
        },
        "labels": {
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. [Labels](https://cloud.google.com/workstations/docs/label-resources) that are applied to the workstation configuration and that are also propagated to the underlying Compute Engine resources.",
          "type": "object"
        },
        "runningTimeout": {
          "format": "google-duration",
          "description": "Optional. Number of seconds that a workstation can run until it is automatically shut down. This field applies to workstations in both STATE_RUNNING and STATE_SUSPENDED. We recommend that workstations be shut down daily to reduce costs and so that security updates can be applied upon restart. The idle_timeout and running_timeout fields are independent of each other. Note that the running_timeout field shuts down VMs after the specified time, regardless of whether or not the VMs are idle. Provide duration terminated by `s` for seconds—for example, `\"54000s\"` (15 hours). Defaults to `\"43200s\"` (12 hours). A value of `\"0s\"` indicates that workstations using this configuration should never time out. If encryption_key is set, it must be greater than `\"0s\"` and less than `\"86400s\"` (24 hours). Warning: A value of `\"0s\"` indicates that Cloud Workstations VMs created with this configuration have no maximum running time. This is strongly discouraged because you incur costs and will not pick up security updates.",
          "type": "string"
        },
        "replicaZones": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Immutable. Specifies the zones used to replicate the VM and disk resources within the region. If set, exactly two zones within the workstation cluster's region must be specified—for example, `['us-central1-a', 'us-central1-f']`. If this field is empty, two default zones within the region are used. Immutable after the workstation configuration is created."
        },
        "degraded": {
          "readOnly": true,
          "description": "Output only. Whether this workstation configuration is in degraded mode, in which case it may require user action to restore full functionality. The conditions field contains detailed information about the status of the configuration.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. Checksum computed by the server. May be sent on update and delete requests to make sure that the client has an up-to-date value before proceeding.",
          "type": "string"
        },
        "allowedPorts": {
          "type": "array",
          "items": {
            "$ref": "PortRange"
          },
          "description": "Optional. A list of PortRanges specifying single ports or ranges of ports that are externally accessible in the workstation. Allowed ports must be one of 22, 80, or within range 1024-65535. If not specified defaults to ports 22, 80, and ports 1024-65535."
        }
      },
      "type": "object",
      "id": "WorkstationConfig"
    },
    "Expr": {
      "description": "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information.",
      "properties": {
        "title": {
          "type": "string",
          "description": "Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression."
        },
        "description": {
          "type": "string",
          "description": "Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI."
        },
        "expression": {
          "type": "string",
          "description": "Textual representation of an expression in Common Expression Language syntax."
        },
        "location": {
          "description": "Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.",
          "type": "string"
        }
      },
      "id": "Expr",
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "type": "array",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The standard List next-page token."
        },
        "unreachable": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "type": "object",
      "id": "ListOperationsResponse"
    },
    "ReadinessCheck": {
      "description": "A readiness check to be performed on a workstation.",
      "properties": {
        "path": {
          "description": "Optional. Path to which the request should be sent.",
          "type": "string"
        },
        "port": {
          "format": "int32",
          "description": "Optional. Port to which the request should be sent.",
          "type": "integer"
        }
      },
      "type": "object",
      "id": "ReadinessCheck"
    },
    "StopWorkstationRequest": {
      "type": "object",
      "id": "StopWorkstationRequest",
      "description": "Request message for StopWorkstation.",
      "properties": {
        "validateOnly": {
          "description": "Optional. If set, validate the request and preview the result, but do not actually apply it.",
          "type": "boolean"
        },
        "etag": {
          "description": "Optional. If set, the request will be rejected if the latest version of the workstation on the server does not have this ETag.",
          "type": "string"
        }
      }
    },
[...]
