{
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "revision": "20260421",
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "parameters": {
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "description": "Data format for response.",
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "default": "true",
      "type": "boolean"
    },
    "uploadType": {
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query"
    }
  },
  "documentationLink": "https://cloud.google.com/workflows",
  "description": "Execute workflows created with Workflows API.",
  "id": "workflowexecutions:v1beta",
  "batchPath": "batch",
  "version": "v1beta",
  "name": "workflowexecutions",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "create": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Creates a new execution using the latest revision of the given workflow.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "response": {
                        "$ref": "Execution"
                      },
                      "path": "v1beta/{+parent}/executions",
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "required": true
                        }
                      },
                      "request": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST"
                    },
                    "cancel": {
                      "path": "v1beta/{+name}:cancel",
                      "parameters": {
                        "name": {
                          "type": "string",
                          "required": true,
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "response": {
                        "$ref": "Execution"
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Cancels an execution of the given name."
                    },
                    "list": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "path": "v1beta/{+parent}/executions",
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 10000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "location": "query",
                          "format": "int32",
                          "type": "integer"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "type": "string",
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view.",
                          "location": "query",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "httpMethod": "GET",
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      }
                    },
                    "get": {
                      "parameterOrder": [
                        "name"
                      ],
                      "description": "Returns an execution of the given name.",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "response": {
                        "$ref": "Execution"
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "httpMethod": "GET",
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "view": {
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "location": "query",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "type": "string"
                        },
                        "name": {
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "servicePath": "",
  "ownerName": "Google",
  "title": "Workflow Executions API",
  "protocol": "rest",
  "canonicalName": "Workflow Executions",
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "kind": "discovery#restDescription",
  "basePath": "",
  "schemas": {
    "ListExecutionsResponse": {
      "description": "Response for the ListExecutions method.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "executions": {
          "description": "The executions which match the request.",
          "type": "array",
          "items": {
            "$ref": "Execution"
          }
        }
      },
      "id": "ListExecutionsResponse",
      "type": "object"
    },
    "Position": {
      "id": "Position",
      "type": "object",
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "properties": {
        "line": {
          "description": "The source code line number the current instruction was generated from.",
          "format": "int64",
          "type": "string"
        },
        "column": {
          "type": "string",
          "format": "int64",
          "description": "The source code column position (of the line) the current instruction was generated from."
        },
        "length": {
          "description": "The number of bytes of source code making up this stack trace element.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "Represents the current status of this execution.",
      "properties": {
        "currentSteps": {
          "type": "array",
          "items": {
            "$ref": "Step"
          },
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step."
        }
      }
    },
    "Error": {
      "id": "Error",
      "type": "object",
      "description": "Error describes why the execution was abnormally terminated.",
      "properties": {
        "stackTrace": {
          "description": "Stack trace with detailed information of where error was generated.",
          "$ref": "StackTrace"
        },
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        },
        "context": {
          "type": "string",
          "description": "Human-readable stack trace string."
        }
      }
    },
    "Execution": {
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1beta/projects.locations.workflows).",
      "properties": {
        "result": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`."
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Status tracks the current steps and progress data of this execution.",
          "$ref": "Status"
        },
        "workflowRevisionId": {
          "readOnly": true,
          "description": "Output only. Revision of the workflow this execution is using.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Reserved for future use.",
            "Request has been placed in the backlog for processing at a later time."
          ],
          "type": "string",
          "description": "Output only. Current state of the execution.",
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ]
        },
        "callLogLevel": {
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY"
          ],
          "description": "The call logging level associated to this execution.",
          "type": "string",
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows."
          ]
        },
        "startTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Marks the beginning of execution."
        },
        "argument": {
          "type": "string",
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`"
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Marks the end of execution, successful or not."
        },
        "error": {
          "readOnly": true,
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`.",
          "$ref": "Error"
        }
      },
      "id": "Execution",
      "type": "object"
    },
    "Step": {
      "description": "Represents a step of the workflow this execution is running.",
      "properties": {
        "routine": {
          "type": "string",
          "description": "Name of a routine within the workflow."
        },
        "step": {
          "type": "string",
          "description": "Name of a step within the routine."
        }
      },
      "id": "Step",
      "type": "object"
    },
    "StackTrace": {
      "description": "A collection of stack elements (frames) where an error occurred.",
      "properties": {
        "elements": {
          "description": "An array of stack elements.",
          "type": "array",
          "items": {
            "$ref": "StackTraceElement"
          }
        }
      },
      "id": "StackTrace",
      "type": "object"
    },
    "StackTraceElement": {
      "description": "A single stack element (frame) where an error occurred.",
      "properties": {
        "routine": {
          "type": "string",
          "description": "The routine where the error occurred."
        },
        "position": {
          "description": "The source position information of the stack trace element.",
          "$ref": "Position"
        },
        "step": {
          "description": "The step the error occurred at.",
          "type": "string"
        }
      },
      "id": "StackTraceElement",
      "type": "object"
    },
    "CancelExecutionRequest": {
      "description": "Request for the CancelExecution method.",
      "properties": {},
      "id": "CancelExecutionRequest",
      "type": "object"
    }
  },
  "fullyEncodeReservedExpansion": true,
  "rootUrl": "https://workflowexecutions.googleapis.com/"
}