{
  "version_module": true,
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "documentationLink": "https://cloud.google.com/workflows",
  "discoveryVersion": "v1",
  "basePath": "",
  "ownerDomain": "google.com",
  "name": "workflowexecutions",
  "id": "workflowexecutions:v1beta",
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "title": "Workflow Executions API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "list": {
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "required": true,
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "type": "string",
                          "location": "path"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token.",
                          "type": "string"
                        },
                        "pageSize": {
                          "location": "query",
                          "format": "int32",
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 10000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "type": "integer"
                        },
                        "view": {
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view.",
                          "type": "string",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query"
                        }
                      },
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "path": "v1beta/{+parent}/executions",
                      "httpMethod": "GET"
                    },
                    "cancel": {
                      "description": "Cancels an execution of the given name.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        }
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "path": "v1beta/{+name}:cancel",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      }
                    },
                    "create": {
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Creates a new execution using the latest revision of the given workflow.",
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/executions",
                      "httpMethod": "POST",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "type": "string"
                        }
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "request": {
                        "$ref": "Execution"
                      }
                    },
                    "get": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns an execution of the given name.",
                      "path": "v1beta/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "type": "string",
                          "required": true,
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        },
                        "view": {
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "type": "string",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "location": "query",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "response": {
                        "$ref": "Execution"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "Execution": {
      "properties": {
        "endTime": {
          "description": "Output only. Marks the end of execution, successful or not.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "workflowRevisionId": {
          "readOnly": true,
          "description": "Output only. Revision of the workflow this execution is using.",
          "type": "string"
        },
        "callLogLevel": {
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY"
          ],
          "description": "The call logging level associated to this execution.",
          "type": "string",
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows."
          ]
        },
        "startTime": {
          "description": "Output only. Marks the beginning of execution.",
          "type": "string",
          "readOnly": true,
          "format": "google-datetime"
        },
        "status": {
          "readOnly": true,
          "description": "Output only. Status tracks the current steps and progress data of this execution.",
          "$ref": "Status"
        },
        "name": {
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
          "type": "string",
          "readOnly": true
        },
        "argument": {
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`",
          "type": "string"
        },
        "error": {
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`.",
          "$ref": "Error",
          "readOnly": true
        },
        "state": {
          "description": "Output only. Current state of the execution.",
          "type": "string",
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Reserved for future use.",
            "Request has been placed in the backlog for processing at a later time."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ],
          "readOnly": true
        },
        "result": {
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "type": "string",
          "readOnly": true
        }
      },
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1beta/projects.locations.workflows).",
      "type": "object",
      "id": "Execution"
    },
    "StackTrace": {
      "id": "StackTrace",
      "properties": {
        "elements": {
          "description": "An array of stack elements.",
          "type": "array",
          "items": {
            "$ref": "StackTraceElement"
          }
        }
      },
      "description": "A collection of stack elements (frames) where an error occurred.",
      "type": "object"
    },
    "Position": {
      "id": "Position",
      "properties": {
        "column": {
          "format": "int64",
          "description": "The source code column position (of the line) the current instruction was generated from.",
          "type": "string"
        },
        "length": {
          "format": "int64",
          "description": "The number of bytes of source code making up this stack trace element.",
          "type": "string"
        },
        "line": {
          "format": "int64",
          "description": "The source code line number the current instruction was generated from.",
          "type": "string"
        }
      },
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "type": "object"
    },
    "Step": {
      "id": "Step",
      "description": "Represents a step of the workflow this execution is running.",
      "type": "object",
      "properties": {
        "routine": {
          "description": "Name of a routine within the workflow.",
          "type": "string"
        },
        "step": {
          "description": "Name of a step within the routine.",
          "type": "string"
        }
      }
    },
    "StackTraceElement": {
      "id": "StackTraceElement",
      "description": "A single stack element (frame) where an error occurred.",
      "type": "object",
      "properties": {
        "step": {
          "description": "The step the error occurred at.",
          "type": "string"
        },
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        },
        "position": {
          "description": "The source position information of the stack trace element.",
          "$ref": "Position"
        }
      }
    },
    "ListExecutionsResponse": {
      "description": "Response for the ListExecutions method.",
      "type": "object",
      "properties": {
        "executions": {
          "items": {
            "$ref": "Execution"
          },
          "description": "The executions which match the request.",
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListExecutionsResponse"
    },
    "Status": {
      "description": "Represents the current status of this execution.",
      "type": "object",
      "properties": {
        "currentSteps": {
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        }
      },
      "id": "Status"
    },
    "Error": {
      "id": "Error",
      "properties": {
        "context": {
          "description": "Human-readable stack trace string.",
          "type": "string"
        },
        "stackTrace": {
          "description": "Stack trace with detailed information of where error was generated.",
          "$ref": "StackTrace"
        },
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        }
      },
      "description": "Error describes why the execution was abnormally terminated.",
      "type": "object"
    },
    "CancelExecutionRequest": {
      "properties": {},
      "description": "Request for the CancelExecution method.",
      "type": "object",
      "id": "CancelExecutionRequest"
    }
  },
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "ownerName": "Google",
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "protocol": "rest",
  "kind": "discovery#restDescription",
  "canonicalName": "Workflow Executions",
  "version": "v1beta",
  "parameters": {
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    },
    "upload_protocol": {
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query"
    },
    "$.xgafv": {
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "description": "V1 error format.",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "alt": {
      "type": "string",
      "description": "Data format for response.",
      "default": "json",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    },
    "prettyPrint": {
      "type": "boolean",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    }
  },
  "revision": "20260303",
  "description": "Execute workflows created with Workflows API.",
  "batchPath": "batch",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  }
}