{
  "id": "workloadmanager:v1",
  "discoveryVersion": "v1",
  "version": "v1",
  "rootUrl": "https://workloadmanager.googleapis.com/",
  "kind": "discovery#restDescription",
  "ownerDomain": "google.com",
  "baseUrl": "https://workloadmanager.googleapis.com/",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "batchPath": "batch",
  "title": "Workload Manager API",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "methods": {
            "list": {
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "type": "string",
                  "description": "The resource that owns the locations collection, if applicable.",
                  "pattern": "^projects/[^/]+$"
                },
                "filter": {
                  "type": "string",
                  "description": "A filter to narrow down results to a preferred subset. The filtering language accepts strings like `\"displayName=tokyo\"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).",
                  "location": "query"
                },
                "extraLocationTypes": {
                  "type": "string",
                  "repeated": true,
                  "description": "Optional. Do not use this field. It is unsupported and is ignored unless explicitly documented otherwise. This is primarily for internal usage.",
                  "location": "query"
                },
                "pageToken": {
                  "type": "string",
                  "description": "A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.",
                  "location": "query"
                },
                "pageSize": {
                  "type": "integer",
                  "format": "int32",
                  "description": "The maximum number of results to return. If not set, the service selects a default.",
                  "location": "query"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Lists information about the supported locations for this service. This method lists locations based on the resource scope provided in the [ListLocationsRequest.name] field: * **Global locations**: If `name` is empty, the method lists the public locations available to all projects. * **Project-specific locations**: If `name` follows the format `projects/{project}`, the method lists locations visible to that specific project. This includes public, private, or other project-specific locations enabled for the project. For gRPC and client library implementations, the resource name is passed as the `name` field. For direct service calls, the resource name is incorporated into the request path based on the specific service implementation and version.",
              "response": {
                "$ref": "ListLocationsResponse"
              },
              "id": "workloadmanager.projects.locations.list",
              "path": "v1/{+name}/locations",
              "flatPath": "v1/projects/{projectsId}/locations",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET"
            },
            "get": {
              "id": "workloadmanager.projects.locations.get",
              "path": "v1/{+name}",
              "flatPath": "v1/projects/{projectsId}/locations/{locationsId}",
              "scopes": [
                "https://www.googleapis.com/auth/cloud-platform"
              ],
              "httpMethod": "GET",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^projects/[^/]+/locations/[^/]+$",
                  "description": "Resource name for the location.",
                  "location": "path"
                }
              },
              "description": "Gets information about a location.",
              "response": {
                "$ref": "Location"
              }
            }
          },
          "resources": {
            "rules": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/rules",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.rules.list",
                  "path": "v1/{+parent}/rules",
                  "response": {
                    "$ref": "ListRulesResponse"
                  },
                  "description": "Lists rules in a given project.",
                  "parameters": {
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    },
                    "customRulesBucket": {
                      "description": "The Cloud Storage bucket name for custom rules.",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The [project] on which to execute the request. The format is: projects/{project_id}/locations/{location} Currently, the pre-defined rules are global available to all projects and all regions.",
                      "location": "path"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "evaluationType": {
                      "description": "Optional. The evaluation type of the rules will be applied to. The Cloud Storage bucket name for custom rules.",
                      "type": "string",
                      "enumDescriptions": [
                        "Not specified.",
                        "SAP best practices.",
                        "SQL best practices.",
                        "Customized best practices."
                      ],
                      "enum": [
                        "EVALUATION_TYPE_UNSPECIFIED",
                        "SAP",
                        "SQL_SERVER",
                        "OTHER"
                      ],
                      "location": "query"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter based on primary_category, secondary_category.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ]
                }
              }
            },
            "deployments": {
              "methods": {
                "delete": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "id": "workloadmanager.projects.locations.deployments.delete",
                  "path": "v1/{+name}",
                  "description": "Deletes a single Deployment.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "location": "path"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. If set to true, any actuation will also be deleted. Followed the best practice from https://aip.dev/135#cascading-delete",
                      "location": "query"
                    }
                  }
                },
                "get": {
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                      "description": "Required. Name of the resource. The format will be 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Deployment"
                  },
                  "description": "Gets details of a single Deployment.",
                  "id": "workloadmanager.projects.locations.deployments.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ]
                },
                "list": {
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`",
                      "pattern": "^projects/[^/]+/locations/[^/]+$"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Requested page size. Server may return fewer items than requested. The maximum value is 1000; values above 1000 will be coerced to 1000.",
                      "location": "query"
                    },
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "orderBy": {
                      "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "description": "Optional. Filter resource follow https://google.aip.dev/160",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "description": "Lists Deployments in a given project and location.",
                  "response": {
                    "$ref": "ListDeploymentsResponse"
                  },
                  "id": "workloadmanager.projects.locations.deployments.list",
                  "path": "v1/{+parent}/deployments",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET"
                },
                "create": {
                  "request": {
                    "$ref": "Deployment"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "id": "workloadmanager.projects.locations.deployments.create",
                  "path": "v1/{+parent}/deployments",
                  "description": "Creates a new Deployment in a given project and location.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    },
                    "parent": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource prefix of the Deployment using the form: `projects/{project_id}/locations/{location_id}`"
                    },
                    "deploymentId": {
                      "type": "string",
                      "description": "Required. Id of the deployment",
                      "location": "query"
                    }
                  }
                }
              },
              "resources": {
                "actuations": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the resource",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "required": true,
                          "type": "string",
                          "location": "path"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Actuation"
                      },
                      "description": "Gets details of a single Actuation.",
                      "id": "workloadmanager.projects.locations.deployments.actuations.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "delete": {
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+/actuations/[^/]+$",
                          "description": "Required. The name of the book to delete. project/{project_id}/locations/{location_id}/deployments/{deployment_id}/actuations/{actuation_id}",
                          "location": "path"
                        }
                      },
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a single Actuation",
                      "id": "workloadmanager.projects.locations.deployments.actuations.delete",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations/{actuationsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    },
                    "list": {
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.deployments.actuations.list",
                      "path": "v1/{+parent}/actuations",
                      "response": {
                        "$ref": "ListActuationsResponse"
                      },
                      "description": "Lists Actuations in a given project, location and deployment.",
                      "parameters": {
                        "orderBy": {
                          "description": "Optional. Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Optional. Filtering results",
                          "location": "query"
                        },
                        "parent": {
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource prefix of the Actuation using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "location": "path"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query"
                        },
                        "pageToken": {
                          "description": "Optional. A token identifying a page of results the server should return.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ]
                    },
                    "create": {
                      "description": "Creates a new actuation for an existing Deployment.",
                      "response": {
                        "$ref": "Operation"
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "requestId": {
                          "type": "string",
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/deployments/[^/]+$",
                          "description": "Required. The resource name of the Actuation location using the form: 'projects/{project_id}/locations/{location}/deployments/{deployment}'",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "request": {
                        "$ref": "Actuation"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/deployments/{deploymentsId}/actuations",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "POST",
                      "id": "workloadmanager.projects.locations.deployments.actuations.create",
                      "path": "v1/{+parent}/actuations"
                    }
                  }
                }
              }
            },
            "discoveredprofiles": {
              "methods": {
                "list": {
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.discoveredprofiles.list",
                  "path": "v1/{+parent}/discoveredprofiles",
                  "response": {
                    "$ref": "ListDiscoveredProfilesResponse"
                  },
                  "description": "List discovered workload profiles",
                  "parameterOrder": [
                    "parent"
                  ],
                  "parameters": {
                    "pageToken": {
                      "description": "Optional. A token identifying a page of results the server should return.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Optional. Filtering results",
                      "location": "query"
                    },
                    "parent": {
                      "description": "Required. Parent value for ListDiscoveredProfilesRequest",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    },
                    "pageSize": {
                      "description": "Optional. Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query",
                      "type": "integer",
                      "format": "int32"
                    }
                  }
                },
                "get": {
                  "id": "workloadmanager.projects.locations.discoveredprofiles.get",
                  "path": "v1/{+name}",
                  "httpMethod": "GET",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "required": true,
                      "type": "string",
                      "description": "Required. Name of the resource",
                      "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+$",
                      "location": "path"
                    }
                  },
                  "response": {
                    "$ref": "WorkloadProfile"
                  },
                  "description": "Gets details of a discovered workload profile."
                }
              },
              "resources": {
                "health": {
                  "methods": {
                    "get": {
                      "parameters": {
                        "name": {
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/discoveredprofiles/[^/]+/health/[^/]+$",
                          "description": "Required. The resource name",
                          "required": true,
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "WorkloadProfileHealth"
                      },
                      "description": "Get the health of a discovered workload profile.",
                      "id": "workloadmanager.projects.locations.discoveredprofiles.health.get",
                      "path": "v1/{+name}",
                      "httpMethod": "GET",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/discoveredprofiles/{discoveredprofilesId}/health/{healthId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ]
                    }
                  }
                }
              }
            },
            "operations": {
              "methods": {
                "list": {
                  "id": "workloadmanager.projects.locations.operations.list",
                  "path": "v1/{+name}/operations",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "The standard list page size.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "The standard list page token.",
                      "location": "query"
                    },
                    "returnPartialSuccess": {
                      "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                      "location": "query",
                      "type": "boolean"
                    },
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "The name of the operation's parent resource.",
                      "required": true,
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "The standard list filter.",
                      "location": "query"
                    }
                  },
                  "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
                  "response": {
                    "$ref": "ListOperationsResponse"
                  }
                },
                "get": {
                  "id": "workloadmanager.projects.locations.operations.get",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "The name of the operation resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$"
                    }
                  },
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "response": {
                    "$ref": "Operation"
                  }
                },
                "delete": {
                  "httpMethod": "DELETE",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.operations.delete",
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Empty"
                  },
                  "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be deleted.",
                      "required": true,
                      "type": "string",
                      "location": "path"
                    }
                  }
                },
                "cancel": {
                  "id": "workloadmanager.projects.locations.operations.cancel",
                  "path": "v1/{+name}:cancel",
                  "request": {
                    "$ref": "CancelOperationRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/operations/{operationsId}:cancel",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "POST",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "pattern": "^projects/[^/]+/locations/[^/]+/operations/[^/]+$",
                      "description": "The name of the operation resource to be cancelled.",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
                  "response": {
                    "$ref": "Empty"
                  }
                }
              }
            },
            "insights": {
              "methods": {
                "delete": {
                  "id": "workloadmanager.projects.locations.insights.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights/{insightsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE",
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+/insights/[^/]+$",
                      "description": "Required. The system id of the SAP system resource to delete. Formatted as projects/{project}/locations/{location}/sapSystems/{sap_system_id}"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "description": "Delete the data insights from workload manager data warehouse.",
                  "response": {
                    "$ref": "Empty"
                  }
                },
                "writeInsight": {
                  "httpMethod": "POST",
                  "request": {
                    "$ref": "WriteInsightRequest"
                  },
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/insights:writeInsight",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "id": "workloadmanager.projects.locations.insights.writeInsight",
                  "path": "v1/{+location}/insights:writeInsight",
                  "response": {
                    "$ref": "WriteInsightResponse"
                  },
                  "description": "Write the data insights to workload manager data warehouse.",
                  "parameterOrder": [
                    "location"
                  ],
                  "parameters": {
                    "location": {
                      "location": "path",
                      "description": "Required. The GCP location. The format is: projects/{project}/locations/{location}.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  }
                }
              }
            },
            "evaluations": {
              "methods": {
                "list": {
                  "description": "Lists Evaluations in a given project and location.",
                  "response": {
                    "$ref": "ListEvaluationsResponse"
                  },
                  "parameters": {
                    "orderBy": {
                      "description": "Hint for how to order the results.",
                      "location": "query",
                      "type": "string"
                    },
                    "filter": {
                      "type": "string",
                      "description": "Filter to be applied when listing the evaluation results.",
                      "location": "query"
                    },
                    "parent": {
                      "location": "path",
                      "description": "Required. Parent value for ListEvaluationsRequest.",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "pageSize": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "description": "A token identifying a page of results the server should return.",
                      "location": "query"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "workloadmanager.projects.locations.evaluations.list",
                  "path": "v1/{+parent}/evaluations"
                },
                "delete": {
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "force": {
                      "type": "boolean",
                      "description": "Optional. Followed the best practice from https://aip.dev/135#cascading-delete.",
                      "location": "query"
                    },
                    "requestId": {
                      "type": "string",
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query"
                    }
                  },
                  "description": "Deletes a single Evaluation.",
                  "response": {
                    "$ref": "Operation"
                  },
                  "id": "workloadmanager.projects.locations.evaluations.delete",
                  "path": "v1/{+name}",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "DELETE"
                },
                "get": {
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "httpMethod": "GET",
                  "id": "workloadmanager.projects.locations.evaluations.get",
                  "path": "v1/{+name}",
                  "description": "Gets details of a single Evaluation.",
                  "response": {
                    "$ref": "Evaluation"
                  },
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Required. Name of the resource.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ]
                },
                "create": {
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Creates a new Evaluation in a given project and location.",
                  "parameters": {
                    "parent": {
                      "required": true,
                      "type": "string",
                      "pattern": "^projects/[^/]+/locations/[^/]+$",
                      "description": "Required. The resource prefix of the evaluation location using the form: `projects/{project_id}/locations/{location_id}`.",
                      "location": "path"
                    },
                    "evaluationId": {
                      "description": "Required. Id of the requesting object.",
                      "location": "query",
                      "type": "string"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "parent"
                  ],
                  "httpMethod": "POST",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Evaluation"
                  },
                  "id": "workloadmanager.projects.locations.evaluations.create",
                  "path": "v1/{+parent}/evaluations"
                },
                "patch": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
                      "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$",
                      "required": true,
                      "type": "string"
                    },
                    "updateMask": {
                      "type": "string",
                      "format": "google-fieldmask",
                      "description": "Required. Field mask is used to specify the fields to be overwritten in the Evaluation resource by the update. The fields specified in the update_mask are relative to the resource, not the full request. A field will be overwritten if it is in the mask.",
                      "location": "query"
                    },
                    "requestId": {
                      "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                      "location": "query",
                      "type": "string"
                    }
                  },
                  "parameterOrder": [
                    "name"
                  ],
                  "response": {
                    "$ref": "Operation"
                  },
                  "description": "Updates the parameters of a single Evaluation.",
                  "id": "workloadmanager.projects.locations.evaluations.patch",
                  "path": "v1/{+name}",
                  "httpMethod": "PATCH",
                  "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}",
                  "scopes": [
                    "https://www.googleapis.com/auth/cloud-platform"
                  ],
                  "request": {
                    "$ref": "Evaluation"
                  }
                }
              },
              "resources": {
                "executions": {
                  "methods": {
                    "list": {
                      "id": "workloadmanager.projects.locations.evaluations.executions.list",
                      "path": "v1/{+parent}/executions",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameters": {
                        "pageToken": {
                          "type": "string",
                          "description": "A token identifying a page of results the server should return.",
                          "location": "query"
                        },
                        "parent": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource prefix of the Execution using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                        },
                        "pageSize": {
                          "type": "integer",
                          "format": "int32",
                          "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                          "location": "query"
                        },
                        "filter": {
                          "type": "string",
                          "description": "Filtering results.",
                          "location": "query"
                        },
                        "orderBy": {
                          "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "description": "Lists Executions in a given project and location.",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      }
                    },
                    "delete": {
                      "id": "workloadmanager.projects.locations.evaluations.executions.delete",
                      "path": "v1/{+name}",
                      "httpMethod": "DELETE",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "description": "Required. Name of the resource.",
                          "location": "path"
                        },
                        "requestId": {
                          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes after the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
                          "location": "query",
                          "type": "string"
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ],
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Deletes a single Execution."
                    },
                    "get": {
                      "id": "workloadmanager.projects.locations.evaluations.executions.get",
                      "path": "v1/{+name}",
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "httpMethod": "GET",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                          "description": "Required. Name of the resource.",
                          "location": "path"
                        }
                      },
                      "description": "Gets details of a single Execution.",
                      "response": {
                        "$ref": "Execution"
                      }
                    },
                    "run": {
                      "response": {
                        "$ref": "Operation"
                      },
                      "description": "Creates a new Execution in a given project and location.",
                      "parameterOrder": [
                        "name"
                      ],
                      "parameters": {
                        "name": {
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "description": "Required. The resource name of the Evaluation using the form: `projects/{project}/locations/{location}/evaluations/{evaluation}`.",
                          "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+$"
                        }
                      },
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "RunEvaluationRequest"
                      },
                      "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions:run",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "id": "workloadmanager.projects.locations.evaluations.executions.run",
                      "path": "v1/{+name}/executions:run"
                    }
                  },
                  "resources": {
                    "results": {
                      "methods": {
                        "list": {
                          "description": "Lists the result of a single evaluation.",
                          "response": {
                            "$ref": "ListExecutionResultsResponse"
                          },
                          "parameters": {
                            "filter": {
                              "type": "string",
                              "description": "Filtering results.",
                              "location": "query"
                            },
                            "pageToken": {
                              "type": "string",
                              "description": "A token identifying a page of results the server should return.",
                              "location": "query"
                            },
                            "parent": {
                              "required": true,
                              "type": "string",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$",
                              "description": "Required. The execution results. Format: {parent}/evaluations/*/executions/*/results.",
                              "location": "path"
                            },
                            "pageSize": {
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "location": "query",
                              "type": "integer",
                              "format": "int32"
                            }
                          },
                          "parameterOrder": [
                            "parent"
                          ],
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/results",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ],
                          "httpMethod": "GET",
                          "id": "workloadmanager.projects.locations.evaluations.executions.results.list",
                          "path": "v1/{+parent}/results"
                        }
                      }
                    },
                    "scannedResources": {
                      "methods": {
                        "list": {
                          "parameterOrder": [
                            "parent"
                          ],
                          "parameters": {
                            "pageToken": {
                              "description": "A token identifying a page of results the server should return.",
                              "location": "query",
                              "type": "string"
                            },
                            "rule": {
                              "description": "Rule name.",
                              "location": "query",
                              "type": "string"
                            },
                            "parent": {
                              "location": "path",
                              "required": true,
                              "type": "string",
                              "description": "Required. Parent for ListScannedResourcesRequest.",
                              "pattern": "^projects/[^/]+/locations/[^/]+/evaluations/[^/]+/executions/[^/]+$"
                            },
                            "pageSize": {
                              "type": "integer",
                              "format": "int32",
                              "description": "Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default.",
                              "location": "query"
                            },
                            "filter": {
                              "type": "string",
                              "description": "Filtering results.",
                              "location": "query"
                            },
                            "orderBy": {
                              "type": "string",
                              "description": "Field to sort by. See https://google.aip.dev/132#ordering for more details.",
                              "location": "query"
                            }
                          },
                          "response": {
                            "$ref": "ListScannedResourcesResponse"
                          },
                          "description": "List all scanned resources for a single Execution.",
                          "id": "workloadmanager.projects.locations.evaluations.executions.scannedResources.list",
                          "path": "v1/{+parent}/scannedResources",
                          "httpMethod": "GET",
                          "flatPath": "v1/projects/{projectsId}/locations/{locationsId}/evaluations/{evaluationsId}/executions/{executionsId}/scannedResources",
                          "scopes": [
                            "https://www.googleapis.com/auth/cloud-platform"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "schemas": {
    "UpcomingMaintenanceEvent": {
      "description": "Maintenance Event",
      "properties": {
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        },
        "startTime": {
          "description": "Optional. Start time",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Optional. End time"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        }
      },
      "id": "UpcomingMaintenanceEvent",
      "type": "object"
    },
    "ResourceFilter": {
      "type": "object",
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "properties": {
        "scopes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`"
        },
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        },
        "resourceIdPatterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID."
        },
        "inclusionLabels": {
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "ResourceFilter"
    },
    "BigQueryDestination": {
      "type": "object",
      "id": "BigQueryDestination",
      "description": "BigQuery destination for evaluation results.",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      }
    },
    "CancelOperationRequest": {
      "type": "object",
      "id": "CancelOperationRequest",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "GceInstanceFilter": {
      "type": "object",
      "description": "A filter for matching Compute Engine instances.",
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation."
        }
      },
      "id": "GceInstanceFilter"
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "properties": {
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        },
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "BackupProperties": {
      "type": "object",
      "id": "BackupProperties",
      "description": "Backup properties.",
      "properties": {
        "latestBackupTime": {
          "description": "The time when the latest backup was performed.",
          "type": "string",
          "format": "google-datetime"
        },
        "latestBackupStatus": {
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ],
          "description": "Output only. The state of the latest backup.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "ExternalDataSources": {
      "type": "object",
      "description": "External data sources for an execution.",
      "properties": {
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "description": "Required. Type of external data source."
        }
      },
      "id": "ExternalDataSources"
    },
    "ListDiscoveredProfilesResponse": {
      "type": "object",
      "description": "List discovered profile Response returns discovered profiles from agents",
      "properties": {
        "nextPageToken": {
          "description": "Output only. A token identifying a page of results the server should return",
          "type": "string",
          "readOnly": true
        },
        "workloadProfiles": {
          "description": "Output only. The list of workload profiles",
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "WorkloadProfile"
          }
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        }
      },
      "id": "ListDiscoveredProfilesResponse"
    },
    "Product": {
      "id": "Product",
      "description": "Contains the details of a product.",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "description": "Message for sap instant details",
      "properties": {
        "instanceId": {
          "description": "Optional. instance id",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account - let custoemrs bring their own SA for database",
          "type": "string"
        },
        "diskType": {
          "description": "Required. disk_type",
          "type": "string"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "image": {
          "description": "Required. image for database server",
          "type": "string"
        },
        "primaryDbVm": {
          "description": "Optional. primary db vm name",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. secondary db vm name",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "AppDetails": {
      "description": "Message for sap instant details",
      "properties": {
        "appServiceAccount": {
          "description": "Application service account - let custoemrs bring their own SA for application",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. instance id for ers",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ascsMachineType": {
          "description": "Required. ascs_machine_type",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS vm name",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account - let custoemrs bring their own SA for ASCS",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS vm name",
          "type": "string"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. image for ascs server",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. instance id for app",
          "type": "string"
        },
        "sharedStorage": {
          "description": "Optional. Storage location",
          "type": "string"
        },
        "vmsMultiplier": {
          "description": "Required. vms_multiplier",
          "type": "integer",
          "format": "int32"
        },
        "appVmNames": {
          "description": "Optional. Customized vm names",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "image": {
          "description": "Required. image for app server and ascs server",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. instance id for ascs",
          "type": "string"
        }
      },
      "id": "AppDetails",
      "type": "object"
    },
    "Resource": {
      "type": "object",
      "id": "Resource",
      "description": "Resource in execution result.",
      "properties": {
        "name": {
          "description": "The name of the resource.",
          "type": "string"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "type": {
          "description": "The type of resource.",
          "type": "string"
        }
      }
    },
    "ExecutionResult": {
      "description": "The result of an execution.",
      "properties": {
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "type": {
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ],
          "description": "Execution result type of the scanned resource.",
          "type": "string"
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "items": {
            "$ref": "Command"
          },
          "type": "array"
        }
      },
      "id": "ExecutionResult",
      "type": "object"
    },
    "Evaluation": {
      "id": "Evaluation",
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "properties": {
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          }
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "resourceStatus": {
          "readOnly": true,
          "$ref": "ResourceStatus",
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource."
        },
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Create time stamp."
        },
        "ruleNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "The names of the rules used for this evaluation."
        },
        "evaluationType": {
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "description": "Evaluation type."
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ShellCommand": {
      "type": "object",
      "description": "A ShellCommand is invoked via the agent's command line executor.",
      "properties": {
        "args": {
          "description": "Arguments to be passed to the command.",
          "type": "string"
        },
        "timeoutSeconds": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. If not specified, the default timeout is 60 seconds."
        },
        "command": {
          "description": "The name of the command to be executed.",
          "type": "string"
        }
      },
      "id": "ShellCommand"
    },
    "CloudResource": {
      "type": "object",
      "id": "CloudResource",
      "description": "The resource on GCP",
      "properties": {
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri"
        },
        "kind": {
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "description": "Output only. ",
          "readOnly": true,
          "type": "string"
        },
        "instanceProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "InstanceProperties"
        }
      }
    },
    "OperationMetadata": {
      "type": "object",
      "id": "OperationMetadata",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. The time the operation was created."
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "readOnly": true,
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "target": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Server-defined resource path for the target of the operation."
        },
        "requestedCancellation": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "AgentStatusConfigValue": {
      "id": "AgentStatusConfigValue",
      "description": "The configuration value.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the configuration value."
        },
        "isDefault": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Whether the configuration value is the default value or overridden."
        },
        "value": {
          "description": "Output only. The value of the configuration value.",
          "type": "string",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "RunEvaluationRequest": {
      "id": "RunEvaluationRequest",
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        }
      },
      "type": "object"
    },
    "RuleOutput": {
      "type": "object",
      "description": "The rule output of the violation.",
      "properties": {
        "message": {
          "description": "Output only. The message generated by rule.",
          "readOnly": true,
          "type": "string"
        },
        "details": {
          "type": "object",
          "readOnly": true,
          "description": "Output only. Violation details generated by rule.",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "id": "RuleOutput"
    },
    "Command": {
      "id": "Command",
      "description": "Command specifies the type of command to execute.",
      "properties": {
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        },
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        }
      },
      "type": "object"
    },
    "SapValidation": {
      "type": "object",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "properties": {
        "validationDetails": {
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "type": "array",
          "description": "Optional. A list of SAP validation metrics data."
        },
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        }
      },
      "id": "SapValidation"
    },
    "HealthCheck": {
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "metric": {
          "description": "Output only. The health check source metric name.",
          "type": "string",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The message of the health check."
        },
        "state": {
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "description": "Output only. The state of the health check.",
          "type": "string",
          "readOnly": true
        },
        "resource": {
          "description": "Output only. The resource the check performs on.",
          "$ref": "CloudResource",
          "readOnly": true
        },
        "source": {
          "description": "Output only. The source of the health check.",
          "type": "string",
          "readOnly": true
        }
      },
      "id": "HealthCheck",
      "type": "object"
    },
    "WorkloadProfileHealth": {
      "id": "WorkloadProfileHealth",
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "properties": {
        "state": {
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "readOnly": true,
          "type": "string",
          "description": "Output only. The health state of the workload."
        },
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "checkTime": {
          "description": "The time when the health check was performed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object"
    },
    "AgentStatusServiceStatus": {
      "type": "object",
      "id": "AgentStatusServiceStatus",
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "properties": {
        "state": {
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "type": "string",
          "readOnly": true
        },
        "fullyFunctional": {
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "errorMessage": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The error message for the service if it is not fully functional."
        },
        "configValues": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "description": "Output only. The configuration values for the service."
        },
        "unspecifiedStateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message to display when the service state is unspecified."
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the service."
        },
        "iamPermissions": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "description": "Output only. The permissions required for the service."
        }
      }
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "description": "Response message for the ListEvaluations RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array",
          "description": "The list of evaluations."
        }
      },
      "type": "object"
    },
    "Summary": {
      "id": "Summary",
      "description": "Execution summary.",
      "properties": {
        "failures": {
          "description": "Output only. Number of failures.",
          "type": "string",
          "format": "int64",
          "readOnly": true
        },
        "newFixes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of new fixes compared to the previous execution."
        },
        "newFailures": {
          "description": "Output only. Number of new failures compared to the previous execution.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        }
      },
      "type": "object"
    },
    "AgentCommand": {
      "type": "object",
      "id": "AgentCommand",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "RuleExecutionResult": {
      "type": "object",
      "description": "Execution result summary per rule.",
      "properties": {
        "resultCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of violations."
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "state": {
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "type": "string",
          "readOnly": true,
          "description": "Output only. The execution status."
        },
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RuleExecutionResult"
    },
    "LocationDetails": {
      "type": "object",
      "id": "LocationDetails",
      "description": "Message for sap instant details",
      "properties": {
        "customTags": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. network tags"
        },
        "zone1Name": {
          "description": "Required. zone1_name",
          "type": "string"
        },
        "createCommsFirewall": {
          "description": "Optional. create firewall, if true, create firewall for the deployment. This field provides an option to not always create firewall for the deployment.",
          "type": "boolean"
        },
        "zone2Name": {
          "description": "Optional. zone2_name",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. when user skip DNS configuration from UI, deployment_dns_enabled=false otherwise deployment_dns_enabled=true",
          "type": "boolean"
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. dns_zone_name_suffix",
          "type": "string"
        },
        "regionName": {
          "description": "Required. region_name",
          "type": "string"
        },
        "vpcName": {
          "description": "Required. vpc_name",
          "type": "string"
        },
        "networkProject": {
          "description": "Optional. network project",
          "type": "string"
        },
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "dnsZone": {
          "description": "Optional. dns zone name",
          "type": "string"
        },
        "subnetName": {
          "description": "Required. subnet_name",
          "type": "string"
        }
      }
    },
    "OpenShiftValidation": {
      "id": "OpenShiftValidation",
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "properties": {
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        },
        "validationDetails": {
          "type": "object",
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "type": "object"
    },
    "ListActuationsResponse": {
      "type": "object",
      "id": "ListActuationsResponse",
      "description": "The response object from `ListActuations`.",
      "properties": {
        "actuations": {
          "description": "The list of Actuation",
          "items": {
            "$ref": "Actuation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Locations that could not be reached.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "InstanceProperties": {
      "id": "InstanceProperties",
      "description": "Instance Properties.",
      "properties": {
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "roles": {
          "type": "array",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ]
          },
          "description": "Optional. Instance roles."
        }
      },
      "type": "object"
    },
    "Status": {
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "details": {
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
[...]
