{
  "batchPath": "batch",
  "servicePath": "",
  "protocol": "rest",
  "version": "v1beta",
  "parameters": {
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "type": "string",
      "description": "JSONP",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "default": "json",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "description": "Data format for response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "enum": [
        "1",
        "2"
      ],
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "type": "string",
      "location": "query",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "type": "boolean",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "key": {
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    }
  },
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "name": "workflowexecutions",
  "revision": "20260223",
  "documentationLink": "https://cloud.google.com/workflows",
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "kind": "discovery#restDescription",
  "id": "workflowexecutions:v1beta",
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "discoveryVersion": "v1",
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "get": {
                      "response": {
                        "$ref": "Execution"
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "httpMethod": "GET",
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "path": "v1beta/{+name}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "description": "Returns an execution of the given name.",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "location": "path",
                          "type": "string",
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "required": true
                        },
                        "view": {
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "type": "string",
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view.",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ]
                        }
                      },
                      "parameterOrder": [
                        "name"
                      ]
                    },
                    "list": {
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/executions",
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "parameters": {
                        "pageToken": {
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "pageSize": {
                          "format": "int32",
                          "type": "integer",
                          "location": "query",
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 10000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it."
                        },
                        "parent": {
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "location": "path",
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "required": true
                        },
                        "view": {
                          "location": "query",
                          "type": "string",
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view."
                        }
                      },
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first).",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "httpMethod": "GET",
                      "id": "workflowexecutions.projects.locations.workflows.executions.list"
                    },
                    "create": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "request": {
                        "$ref": "Execution"
                      },
                      "response": {
                        "$ref": "Execution"
                      },
                      "path": "v1beta/{+parent}/executions",
                      "description": "Creates a new execution using the latest revision of the given workflow.",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "parent"
                      ],
                      "parameters": {
                        "parent": {
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "type": "string",
                          "location": "path",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "required": true
                        }
                      },
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "httpMethod": "POST"
                    },
                    "cancel": {
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel",
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "path": "v1beta/{+name}:cancel",
                      "response": {
                        "$ref": "Execution"
                      },
                      "description": "Cancels an execution of the given name.",
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "type": "string",
                          "required": true,
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "location": "path"
                        }
                      },
                      "httpMethod": "POST",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "parameterOrder": [
                        "name"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "title": "Workflow Executions API",
  "ownerDomain": "google.com",
  "description": "Execute workflows created with Workflows API.",
  "version_module": true,
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerName": "Google",
  "basePath": "",
  "canonicalName": "Workflow Executions",
  "schemas": {
    "Position": {
      "id": "Position",
      "properties": {
        "line": {
          "type": "string",
          "description": "The source code line number the current instruction was generated from.",
          "format": "int64"
        },
        "length": {
          "format": "int64",
          "description": "The number of bytes of source code making up this stack trace element.",
          "type": "string"
        },
        "column": {
          "type": "string",
          "description": "The source code column position (of the line) the current instruction was generated from.",
          "format": "int64"
        }
      },
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "type": "object"
    },
    "Step": {
      "properties": {
        "step": {
          "description": "Name of a step within the routine.",
          "type": "string"
        },
        "routine": {
          "description": "Name of a routine within the workflow.",
          "type": "string"
        }
      },
      "description": "Represents a step of the workflow this execution is running.",
      "id": "Step",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "executions": {
          "items": {
            "$ref": "Execution"
          },
          "type": "array",
          "description": "The executions which match the request."
        }
      },
      "description": "Response for the ListExecutions method.",
      "type": "object"
    },
    "Error": {
      "description": "Error describes why the execution was abnormally terminated.",
      "id": "Error",
      "type": "object",
      "properties": {
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        },
        "stackTrace": {
          "description": "Stack trace with detailed information of where error was generated.",
          "$ref": "StackTrace"
        },
        "context": {
          "description": "Human-readable stack trace string.",
          "type": "string"
        }
      }
    },
    "Status": {
      "description": "Represents the current status of this execution.",
      "type": "object",
      "properties": {
        "currentSteps": {
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step.",
          "type": "array",
          "items": {
            "$ref": "Step"
          }
        }
      },
      "id": "Status"
    },
    "Execution": {
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1beta/projects.locations.workflows).",
      "type": "object",
      "properties": {
        "result": {
          "type": "string",
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "readOnly": true
        },
        "status": {
          "$ref": "Status",
          "readOnly": true,
          "description": "Output only. Status tracks the current steps and progress data of this execution."
        },
        "workflowRevisionId": {
          "description": "Output only. Revision of the workflow this execution is using.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "readOnly": true,
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`.",
          "$ref": "Error"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Marks the beginning of execution.",
          "format": "google-datetime"
        },
        "endTime": {
          "readOnly": true,
          "description": "Output only. Marks the end of execution, successful or not.",
          "format": "google-datetime",
          "type": "string"
        },
        "callLogLevel": {
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows."
          ],
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY"
          ],
          "type": "string",
          "description": "The call logging level associated to this execution."
        },
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
        },
        "argument": {
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "description": "Output only. Current state of the execution.",
          "type": "string",
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Reserved for future use.",
            "Request has been placed in the backlog for processing at a later time."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ]
        }
      },
      "id": "Execution"
    },
    "CancelExecutionRequest": {
      "type": "object",
      "id": "CancelExecutionRequest",
      "properties": {},
      "description": "Request for the CancelExecution method."
    },
    "StackTrace": {
      "id": "StackTrace",
      "properties": {
        "elements": {
          "items": {
            "$ref": "StackTraceElement"
          },
          "description": "An array of stack elements.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "A collection of stack elements (frames) where an error occurred."
    },
    "StackTraceElement": {
      "description": "A single stack element (frame) where an error occurred.",
      "properties": {
        "position": {
          "description": "The source position information of the stack trace element.",
          "$ref": "Position"
        },
        "step": {
          "description": "The step the error occurred at.",
          "type": "string"
        },
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StackTraceElement"
    }
  },
  "baseUrl": "https://workflowexecutions.googleapis.com/"
}