{
  "title": "Workload Manager API",
  "servicePath": "",
  "canonicalName": "Workload Manager",
  "version": "v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/workload-manager/docs",
  "kind": "discovery#restDescription",
  "discoveryVersion": "v1",
  "id": "workloadmanager:v1",
  "revision": "20260429",
  "mtlsRootUrl": "https://workloadmanager.mtls.googleapis.com/",
  "parameters": {
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "type": "string",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "enum": [
        "1",
        "2"
      ],
      "description": "V1 error format.",
      "location": "query"
    }
  },
  "name": "workloadmanager",
  "icons": {
    "x32": "http://www.google.com/images/icons/product/search-32.gif",
    "x16": "http://www.google.com/images/icons/product/search-16.gif"
  },
  "schemas": {
    "Database": {
      "id": "Database",
      "type": "object",
      "description": "Database details",
      "properties": {
        "soleTenantNodeType": {
          "description": "Optional. the type of a primary sole-tenant node/node group e.g. compute.googleapis.com/node-name",
          "type": "string"
        },
        "soleTenantNode": {
          "description": "Optional. the name of a primary sole-tenant node/node group",
          "type": "string"
        },
        "tenancyModel": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified tenancy model",
            "Shared tenancy model",
            "Sole Tenant tenancy model"
          ],
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "description": "Required. SHARED or SOLE_TENANT"
        },
        "smt": {
          "description": "Required. whether simultaneous multithreading is enabled or not",
          "type": "boolean"
        },
        "tempdbOnSsd": {
          "description": "Required. whether to have TempDB on local SSD",
          "type": "boolean"
        },
        "diskType": {
          "description": "Required. disk_type",
          "type": "string"
        },
        "floatingIpAddress": {
          "description": "Optional. only useful for Linux High Availability setup",
          "type": "string"
        },
        "secondarySoleTenantNode": {
          "description": "Optional. the name of a secondary-sole-tenant node/node group",
          "type": "string"
        },
        "secondarySoleTenantNodeType": {
          "description": "Optional. the type of a secondary-sole-tenant node/node group e.g. compute.googleapis.com/node-name",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "type": "object",
      "description": "KernelVersion encapsulates the kernel version data for the system.",
      "properties": {
        "osKernel": {
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        },
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "distroKernel": {
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        }
      }
    },
    "RuleExecutionResult": {
      "id": "RuleExecutionResult",
      "type": "object",
      "description": "Execution result summary per rule.",
      "properties": {
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "description": "Output only. The execution status."
        },
        "scannedResourceCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of total scanned resources."
        },
        "resultCount": {
          "type": "string",
          "format": "int64",
          "description": "Number of violations."
        },
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        }
      }
    },
    "ListExecutionResultsResponse": {
      "id": "ListExecutionResultsResponse",
      "type": "object",
      "description": "Response message for the ListExecutionResults RPC.",
      "properties": {
        "executionResults": {
          "description": "The versions from the specified publisher.",
          "items": {
            "$ref": "ExecutionResult"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "SapInstanceProperties": {
      "id": "SapInstanceProperties",
      "type": "object",
      "description": "SAP instance properties.",
      "properties": {
        "agentStates": {
          "description": "Optional. Sap Instance Agent status.",
          "$ref": "AgentStates"
        },
        "numbers": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'."
        }
      }
    },
    "ActuationOutput": {
      "id": "ActuationOutput",
      "type": "object",
      "description": "Message for output of Actuation",
      "properties": {
        "ansibleError": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. error message return from ansible."
        },
        "errorLogs": {
          "description": "A link to actuation cloud build log.",
          "type": "string"
        },
        "terraformError": {
          "description": "Output only. error message return from terraform.",
          "readOnly": true,
          "type": "string"
        },
        "blueprintId": {
          "description": "reference to Blueprint Controller deployment and revision resource",
          "type": "string"
        },
        "errorCode": {
          "enum": [
            "ERROR_CODE_UNSPECIFIED",
            "TERRAFORM_FAILED",
            "PERMISSION_DENIED_IN_TERRAFORM",
            "QUOTA_EXCEED_IN_TERRAFORM",
            "ANSIBLE_FAILED",
            "CONSTRAINT_VIOLATION_IN_TERRAFORM",
            "RESOURCE_ALREADY_EXISTS_IN_TERRAFORM",
            "RESOURCE_UNAVAILABLE_IN_TERRAFORM",
            "PERMISSION_DENIED_IN_ANSIBLE",
            "INVALID_SECRET_IN_ANSIBLE",
            "TERRAFORM_DELETION_FAILED",
            "RESOURCE_IN_USE_IN_TERRAFORM_DELETION",
            "ANSIBLE_START_FAILED"
          ],
          "description": "Output only. Code describing any errors that may have occurred. If not specified, there is no error in actuation.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "No error code was specified.",
            "general terraform failure",
            "permission error in terraform",
            "quota related error in terraform",
            "general ansible failure",
            "constraint related error in terraform",
            "resource already exists error in terraform",
            "resource not found error in terraform",
            "permission denied error in ansible",
            "secret related error in ansible",
            "general terraform failure during deletion",
            "resource in use error in terraform deletion",
            "start up failure in ansible"
          ]
        },
        "cloudbuildId": {
          "description": "Cloud Build instance UUID associated with this revision, without any suffix or prefix",
          "type": "string"
        },
        "hasUserFacingErrorMsg": {
          "readOnly": true,
          "type": "boolean",
          "description": "Output only. whether the error message is user facing. If true, the error message will be shown in the UI."
        },
        "terraformTemplate": {
          "description": "reference to terraform template used",
          "type": "string"
        },
        "actuateLogs": {
          "description": "A link to gcs file that store build logs",
          "type": "string"
        },
        "ansibleFailedTask": {
          "readOnly": true,
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Output only. failed task name return from ansible."
        }
      }
    },
    "ComponentHealth": {
      "description": "HealthCondition contains the detailed health check of each component.",
      "properties": {
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "componentHealthType": {
          "description": "Output only. The type of the component health.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ]
        },
        "componentHealthChecks": {
          "type": "array",
          "items": {
            "$ref": "HealthCheck"
          },
          "description": "The detailed health checks of the component."
        },
        "state": {
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the component.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ]
        },
        "subComponentsHealth": {
          "type": "array",
          "items": {
            "$ref": "ComponentHealth"
          },
          "description": "Sub component health."
        }
      },
      "id": "ComponentHealth",
      "type": "object"
    },
    "GceInstanceFilter": {
      "id": "GceInstanceFilter",
      "type": "object",
      "description": "A filter for matching Compute Engine instances.",
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation."
        }
      }
    },
    "Command": {
      "description": "Command specifies the type of command to execute.",
      "properties": {
        "agentCommand": {
          "description": "AgentCommand specifies a one-time executable program for the agent to run.",
          "$ref": "AgentCommand"
        },
        "shellCommand": {
          "description": "ShellCommand is invoked via the agent's command line executor.",
          "$ref": "ShellCommand"
        }
      },
      "id": "Command",
      "type": "object"
    },
    "TerraformVariable": {
      "description": "In order to align with Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest A Terraform input variable.",
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      },
      "id": "TerraformVariable",
      "type": "object"
    },
    "Execution": {
      "id": "Execution",
      "type": "object",
      "description": "Execution that represents a single run of an Evaluation.",
      "properties": {
        "externalDataSources": {
          "type": "array",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "description": "Optional. External data sources."
        },
        "engine": {
          "type": "string",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "description": "Optional. Engine.",
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ]
        },
        "inventoryTime": {
          "description": "Output only. [Output only] Inventory time stamp.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "ruleResults": {
          "description": "Output only. Execution result summary per rule.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "RuleExecutionResult"
          }
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] End time stamp."
        },
        "resultSummary": {
          "description": "Output only. [Output only] Result summary for the execution.",
          "$ref": "Summary",
          "readOnly": true
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "notices": {
          "description": "Output only. Additional information generated by the execution.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Notice"
          }
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ],
          "description": "Output only. [Output only] State.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ]
        },
        "evaluationId": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Evaluation ID."
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "runType": {
          "type": "string",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ],
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ]
        },
        "startTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Start time stamp."
        }
      }
    },
    "WorkloadProfile": {
      "id": "WorkloadProfile",
      "type": "object",
      "description": "Workload resource.",
      "properties": {
        "labels": {
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "description": "Required. The type of the workload",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ]
        },
        "refreshedTime": {
          "description": "Required. time when the workload data was refreshed",
          "format": "google-datetime",
          "type": "string"
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        },
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        }
      }
    },
    "RunEvaluationRequest": {
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "execution": {
          "description": "Required. The resource being created.",
          "$ref": "Execution"
        }
      },
      "id": "RunEvaluationRequest",
      "type": "object"
    },
    "SapDiscoveryComponentReplicationSite": {
      "id": "SapDiscoveryComponentReplicationSite",
      "type": "object",
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      }
    },
    "AgentStatusIAMPermission": {
      "id": "AgentStatusIAMPermission",
      "type": "object",
      "description": "The IAM permission status.",
      "properties": {
        "granted": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the permission is granted."
        },
        "name": {
          "description": "Output only. The name of the permission.",
          "readOnly": true,
          "type": "string"
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "type": "object",
      "description": "A SAP software component name, version, and type.",
      "properties": {
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstanceProperties": {
      "id": "SapDiscoveryResourceInstanceProperties",
      "type": "object",
      "description": "A set of properties only present for an instance type resource",
      "properties": {
        "clusterInstances": {
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "appInstances": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          },
          "description": "Optional. App server instances on the host"
        },
        "instanceNumber": {
          "deprecated": true,
          "description": "Optional. The VM's instance number.",
          "format": "int64",
          "type": "string"
        },
        "osKernelVersion": {
          "description": "Optional. The kernel version of the instance.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "diskMounts": {
          "type": "array",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "description": "Optional. Disk mounts on the instance."
        },
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "instanceRole": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once.",
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ]
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        }
      }
    },
    "ExecutionResult": {
      "id": "ExecutionResult",
      "type": "object",
      "description": "The result of an execution.",
      "properties": {
        "commands": {
          "description": "The commands to remediate the violation.",
          "type": "array",
          "items": {
            "$ref": "Command"
          }
        },
        "resource": {
          "description": "The resource that violates the rule.",
          "$ref": "Resource"
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "description": "Execution result type of the scanned resource.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ]
        },
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResource": {
      "description": "Message describing a resource.",
      "properties": {
        "resourceKind": {
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "description": "Required. ComputeInstance, ComputeDisk, VPC, Bare Metal server, etc.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ]
        },
        "updateTime": {
          "description": "Required. Unix timestamp of when this resource last had its discovery data updated.",
          "format": "google-datetime",
          "type": "string"
        },
        "resourceType": {
          "type": "string",
          "enumDescriptions": [
            "Undefined resource type.",
            "This is a compute resource.",
            "This a storage resource.",
            "This is a network resource."
          ],
          "enum": [
            "RESOURCE_TYPE_UNSPECIFIED",
            "RESOURCE_TYPE_COMPUTE",
            "RESOURCE_TYPE_STORAGE",
            "RESOURCE_TYPE_NETWORK"
          ],
          "description": "Required. The type of this resource."
        },
        "relatedResources": {
          "description": "Optional. A list of resource URIs related to this resource.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "instanceProperties": {
          "description": "Optional. A set of properties only applying to instance type resources.",
          "$ref": "SapDiscoveryResourceInstanceProperties"
        },
        "resourceUri": {
          "description": "Required. URI of the resource, includes project, location, and name.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryResource",
      "type": "object"
    },
    "HealthCheck": {
      "description": "HealthCheck contains the detailed health check of a component based on asource.",
      "properties": {
        "metric": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The health check source metric name."
        },
        "source": {
          "description": "Output only. The source of the health check.",
          "readOnly": true,
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "passed",
            "failed",
            "degraded",
            "skipped",
            "unsupported"
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "PASSED",
            "FAILED",
            "DEGRADED",
            "SKIPPED",
            "UNSUPPORTED"
          ],
          "description": "Output only. The state of the health check."
        },
        "resource": {
          "readOnly": true,
          "description": "Output only. The resource the check performs on.",
          "$ref": "CloudResource"
        },
        "message": {
          "description": "Output only. The message of the health check.",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "HealthCheck",
      "type": "object"
    },
    "DatabaseProperties": {
      "description": "Database Properties.",
      "properties": {
        "backupProperties": {
          "description": "Output only. Backup properties.",
          "$ref": "BackupProperties",
          "readOnly": true
        },
        "databaseType": {
          "description": "Output only. Type of the database. `HANA`, `DB2`, etc.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ]
        }
      },
      "id": "DatabaseProperties",
      "type": "object"
    },
    "ActiveDirectory": {
      "description": "Active directory details",
      "properties": {
        "type": {
          "description": "Required. active directory type",
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified active directory type",
            "GCP managed active directory type",
            "Self managed active directory type"
          ]
        },
        "dnsAddress": {
          "description": "Optional. DNS IP address",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "domainUsername": {
          "description": "Optional. domain username",
          "type": "string"
        },
        "domain": {
          "description": "Optional. human readable form of a domain such as “google.com”.",
          "type": "string"
        }
      },
      "id": "ActiveDirectory",
      "type": "object"
    },
    "Product": {
      "description": "Contains the details of a product.",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "id": "Product",
      "type": "object"
    },
    "Status": {
      "id": "Status",
      "type": "object",
      "description": "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).",
      "properties": {
        "code": {
          "description": "The status code, which should be an enum value of google.rpc.Code.",
          "format": "int32",
          "type": "integer"
        },
        "message": {
          "description": "A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.",
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "any",
              "description": "Properties of the object. Contains field @type with type URL."
            }
          },
          "description": "A list of messages that carry the error details. There is a common set of message types for APIs to use."
        }
      }
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "type": "object",
      "description": "A product name and version.",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      }
    },
    "DeploymentOutput": {
      "description": "Message for output of deployment resource",
      "properties": {
        "name": {
          "description": "name of the resource",
          "type": "string"
        },
        "type": {
          "description": "type of the resource",
          "type": "string"
        }
      },
      "id": "DeploymentOutput",
      "type": "object"
    },
    "LocationDetails": {
      "id": "LocationDetails",
      "type": "object",
      "description": "Message for sap instant details",
      "properties": {
        "customTags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. network tags"
        },
        "zone2Name": {
          "description": "Optional. zone2_name",
          "type": "string"
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. dns_zone_name_suffix",
          "type": "string"
        },
        "regionName": {
          "description": "Required. region_name",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. when user skip DNS configuration from UI, deployment_dns_enabled=false otherwise deployment_dns_enabled=true",
          "type": "boolean"
        },
        "subnetName": {
          "description": "Required. subnet_name",
          "type": "string"
        },
        "networkProject": {
          "description": "Optional. network project",
          "type": "string"
        },
        "vpcName": {
          "description": "Required. vpc_name",
          "type": "string"
        },
        "createCommsFirewall": {
          "description": "Optional. create firewall, if true, create firewall for the deployment. This field provides an option to not always create firewall for the deployment.",
          "type": "boolean"
        },
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "dnsZone": {
          "description": "Optional. dns zone name",
          "type": "string"
        },
        "zone1Name": {
          "description": "Required. zone1_name",
          "type": "string"
        }
      }
    },
    "ViolationDetails": {
      "description": "The violation in an evaluation result.",
      "properties": {
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "ruleOutput": {
          "description": "Output only. The rule output of the violation.",
          "items": {
            "$ref": "RuleOutput"
          },
          "readOnly": true,
          "type": "array"
        },
        "observed": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Details of the violation."
        },
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        }
      },
      "id": "ViolationDetails",
      "type": "object"
    },
    "Insight": {
      "description": "A presentation of host resource usage where the workload runs.",
      "properties": {
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "agentStatus": {
          "description": "The insights data for the agent status.",
          "$ref": "AgentStatus"
        },
        "openShiftValidation": {
          "description": "The insights data for the OpenShift workload validation.",
          "$ref": "OpenShiftValidation"
        },
        "sentTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp"
        },
        "sapDiscovery": {
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes.",
          "$ref": "SapDiscovery"
        },
        "sqlserverValidation": {
          "description": "The insights data for the sqlserver workload validation.",
          "$ref": "SqlserverValidation"
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        }
      },
      "id": "Insight",
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "description": "Fields to describe an SAP application server instance.",
      "properties": {
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "type": "object"
    },
    "BackupProperties": {
      "description": "Backup properties.",
      "properties": {
        "latestBackupTime": {
          "description": "The time when the latest backup was performed.",
          "format": "google-datetime",
          "type": "string"
        },
        "latestBackupStatus": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "unspecified",
            "SUCCESS state",
            "FAILURE state"
          ],
          "description": "Output only. The state of the latest backup.",
          "enum": [
            "BACKUP_STATE_UNSPECIFIED",
            "BACKUP_STATE_SUCCESS",
            "BACKUP_STATE_FAILURE"
          ]
        }
      },
      "id": "BackupProperties",
      "type": "object"
    },
    "ListEvaluationsResponse": {
      "description": "Response message for the ListEvaluations RPC.",
      "properties": {
        "evaluations": {
          "items": {
            "$ref": "Evaluation"
          },
          "type": "array",
          "description": "The list of evaluations."
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "description": "Locations that could not be reached.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListEvaluationsResponse",
      "type": "object"
    },
    "ListScannedResourcesResponse": {
      "id": "ListScannedResourcesResponse",
      "type": "object",
      "description": "Response message for the ListScannedResources RPC.",
      "properties": {
        "scannedResources": {
          "description": "All scanned resources in response.",
          "items": {
            "$ref": "ScannedResource"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "type": "object",
      "description": "Disk mount on the instance.",
      "properties": {
        "diskNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Names of the disks providing this mount point."
        },
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        }
      }
    },
    "ListDeploymentsResponse": {
      "description": "Message for response to listing Deployments",
      "properties": {
        "deployments": {
          "type": "array",
          "items": {
            "$ref": "Deployment"
          },
          "description": "The list of Deployment"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Locations that could not be reached."
        }
      },
      "id": "ListDeploymentsResponse",
      "type": "object"
    },
    "Evaluation": {
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "properties": {
        "ruleNames": {
          "description": "The names of the rules used for this evaluation.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "$ref": "ResourceStatus",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "labels": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Labels as key value pairs."
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "updateTime": {
          "format": "google-datetime",
          "readOnly": true,
          "type": "string",
          "description": "Output only. [Output only] Update time stamp."
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "resourceFilter": {
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
          "$ref": "ResourceFilter"
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "evaluationType": {
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ],
          "description": "Evaluation type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ]
        }
      },
      "id": "Evaluation",
      "type": "object"
    },
    "Summary": {
      "id": "Summary",
      "type": "object",
      "description": "Execution summary.",
      "properties": {
        "newFixes": {
          "format": "int64",
          "readOnly": true,
          "type": "string",
          "description": "Output only. Number of new fixes compared to the previous execution."
        },
        "newFailures": {
          "description": "Output only. Number of new failures compared to the previous execution.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "failures": {
          "readOnly": true,
          "type": "string",
          "format": "int64",
          "description": "Output only. Number of failures."
        }
      }
    },
    "BigQueryDestination": {
      "id": "BigQueryDestination",
      "type": "object",
      "description": "BigQuery destination for evaluation results.",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      }
    },
    "WriteInsightResponse": {
      "id": "WriteInsightResponse",
      "type": "object",
      "description": "The response for write insights request.",
      "properties": {}
    },
    "AgentCommand": {
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        }
      },
      "id": "AgentCommand",
      "type": "object"
    },
    "ListRulesResponse": {
      "id": "ListRulesResponse",
      "type": "object",
      "description": "Response message for the ListRules RPC.",
      "properties": {
        "rules": {
          "type": "array",
          "items": {
            "$ref": "Rule"
          },
          "description": "All rules in response."
        }
      }
    },
    "TorsoValidation": {
      "description": "The schema of torso workload validation data.",
      "properties": {
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "workloadType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ],
          "description": "Required. workload_type specifies the type of torso workload."
        },
        "validationDetails": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. validation_details contains the pairs of validation data: field name & field value."
        }
      },
      "id": "TorsoValidation",
      "type": "object"
    },
    "Deployment": {
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "properties": {
        "name": {
          "description": "The name of deployment resource. The format will be 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'",
          "type": "string"
        },
        "workloadType": {
          "description": "Optional. Workload type of the deployment",
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified workload type",
            "SAP S/4HANA workload type",
            "SQL Server workload type",
            "Oracle workload type"
          ]
        },
        "sqlServerWorkload": {
          "description": "MS SQL workload input",
          "$ref": "SqlServerWorkload"
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input",
          "$ref": "SapSystemS4Config"
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for cloud build Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation",
          "type": "string"
        },
        "description": {
          "description": "Description of the Deployment",
          "type": "string"
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp"
        },
        "terraformVariables": {
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "type": "object"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "description": "Output only. Current state of the deployment.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ]
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        }
      },
      "id": "Deployment",
      "type": "object"
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "id": "SapDiscoveryComponentDatabaseProperties",
      "type": "object",
      "description": "A set of properties describing an SAP Database layer.",
      "properties": {
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc.",
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ]
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        },
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        }
      }
    },
    "UpcomingMaintenanceEvent": {
      "id": "UpcomingMaintenanceEvent",
      "type": "object",
      "description": "Maintenance Event",
      "properties": {
        "startTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. Start time"
        },
        "endTime": {
          "format": "google-datetime",
          "type": "string",
          "description": "Optional. End time"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        }
      }
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "properties": {
        "insight": {
          "description": "Required. The metrics data details.",
          "$ref": "Insight"
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        }
      },
      "id": "WriteInsightRequest",
      "type": "object"
    },
    "SapDiscovery": {
      "id": "SapDiscovery",
      "type": "object",
      "description": "The schema of SAP system discovery data.",
      "properties": {
        "updateTime": {
          "description": "Required. Unix timestamp this system has been updated last.",
          "format": "google-datetime",
          "type": "string"
        },
        "systemId": {
          "description": "Output only. A combination of database SID, database instance URI and tenant DB name to make a unique identifier per-system.",
          "readOnly": true,
          "type": "string"
        },
        "workloadProperties": {
          "description": "Optional. The properties of the workload.",
          "$ref": "SapDiscoveryWorkloadProperties"
        },
        "useDrReconciliation": {
          "description": "Optional. Whether to use DR reconciliation or not.",
          "type": "boolean"
        },
        "applicationLayer": {
          "description": "Optional. An SAP system may run without an application layer.",
          "$ref": "SapDiscoveryComponent"
        },
        "metadata": {
          "description": "Optional. The metadata for SAP system discovery data.",
          "$ref": "SapDiscoveryMetadata"
        },
        "projectNumber": {
          "description": "Optional. The GCP project number that this SapSystem belongs to.",
          "type": "string"
        },
        "databaseLayer": {
          "description": "Required. An SAP System must have a database.",
          "$ref": "SapDiscoveryComponent"
        }
      }
    },
    "CloudResource": {
      "description": "The resource on GCP",
      "properties": {
        "kind": {
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ],
          "description": "Output only. ",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ]
        },
        "instanceProperties": {
          "readOnly": true,
          "description": "Output only. All instance properties.",
          "$ref": "InstanceProperties"
        },
        "name": {
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "readOnly": true,
          "type": "string"
        }
      },
      "id": "CloudResource",
      "type": "object"
    },
    "IAMPermission": {
      "description": "The IAM permission status.",
      "properties": {
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "readOnly": true,
          "type": "boolean"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the permission."
        }
      },
      "id": "IAMPermission",
      "type": "object"
    },
    "AgentStatus": {
      "id": "AgentStatus",
      "type": "object",
      "description": "The schema of agent status data.",
      "properties": {
        "installedVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The installed version of the agent on the host."
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "readOnly": true
        },
        "systemdServiceEnabled": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "cloudApiAccessFullScopesGranted": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "references": {
          "description": "Output only. Optional references to public documentation.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusReference"
          }
        },
        "configurationFilePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to the agent configuration file."
        },
        "services": {
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusServiceStatus"
          }
        },
        "instanceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/"
        },
        "systemdServiceRunning": {
          "description": "Output only. Whether the agent service is running in systemd.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "configurationValid": {
          "description": "Output only. Whether the agent configuration is valid.",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "agentName": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The name of the agent."
        },
        "availableVersion": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The available version of the agent in artifact registry."
        },
        "configurationErrorMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The error message for the agent configuration if invalid."
        }
      }
    },
    "SapSystemS4Config": {
      "id": "SapSystemS4Config",
      "type": "object",
      "description": "Message for sap system workload",
      "properties": {
        "environmentType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ],
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "description": "Required. deployment environment"
        },
        "vmPrefix": {
          "description": "vm_prefix",
          "type": "string"
        },
        "scalingMethod": {
          "type": "string",
          "enumDescriptions": [
            "",
            "Scale up: Increases the size of a physical machine by increasing the amount of RAM and CPU available for processing",
            "Scale out: Combines multiple independent computers into one system"
          ],
          "description": "Required. support scale up and scale out",
          "enum": [
            "SCALE_METHOD_UNSPECIFIED",
            "SCALE_UP",
            "SCALE_OUT"
          ]
        },
        "location": {
          "description": "database details",
          "$ref": "LocationDetails"
        },
        "allowStoppingForUpdate": {
          "type": "boolean"
        },
        "ansibleRunnerServiceAccount": {
          "description": "Ansible runner service account - let custoemrs bring their own SA for Ansible runner",
          "type": "string"
        },
        "mediaBucketName": {
          "description": "Required. media_bucket_name",
          "type": "string"
        },
        "sapBootDiskImage": {
          "description": "Optional. sap_boot_disk_image",
          "type": "string"
        },
        "deploymentModel": {
          "description": "Required. two model non-HA and HA supported",
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA"
          ],
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "version": {
          "enum": [
            "VERSION_UNSPECIFIED",
            "S4_HANA_2021",
            "S4_HANA_2022",
            "S4_HANA_2023"
          ],
          "description": "Required. sap hana version",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "app": {
          "description": "instance details",
          "$ref": "AppDetails"
        },
        "database": {
          "description": "database details",
          "$ref": "DatabaseDetails"
        },
        "gcpProjectId": {
          "description": "the project that infrastructure deployed, current only support the same project where the deployment resource exist.",
          "type": "string"
        }
      }
    },
    "SqlserverValidation": {
      "id": "SqlserverValidation",
      "type": "object",
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "properties": {
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "validationDetails": {
          "type": "array",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "description": "Optional. A list of SqlServer validation metrics data."
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        }
      }
    },
    "Pacemaker": {
      "id": "Pacemaker",
      "type": "object",
      "description": "pacemaker configuration",
      "properties": {
        "sqlPacemakerSecret": {
          "description": "Required. sql pacemaker secret name",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. pacemaker cluster username",
          "type": "string"
        },
        "pacemakerCluster": {
          "description": "Required. pacemaker cluster name",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. pacemaker cluster secret name",
          "type": "string"
        },
        "sqlPacemakerUsername": {
          "description": "Required. sql pacemaker username",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "description": "Required. bucket location for node certificates",
          "type": "string"
        }
      }
    },
    "AgentStates": {
      "description": "Agent status.",
      "properties": {
        "installedVersion": {
          "description": "Optional. The installed version of the agent on the host.",
          "type": "string"
        },
        "availableVersion": {
          "description": "Optional. The available version of the agent in artifact registry.",
          "type": "string"
        },
        "processMetrics": {
          "description": "Optional. The Process metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "hanaMonitoring": {
          "description": "Optional. HANA monitoring metrics of the agent.",
          "$ref": "ServiceStates"
        },
        "isFullyEnabled": {
          "description": "Optional. Whether the agent is fully enabled. If false, the agent is has some issues.",
          "type": "boolean"
        },
        "systemDiscovery": {
          "description": "Optional. The System discovery metrics of the agent.",
          "$ref": "ServiceStates"
        }
      },
      "id": "AgentStates",
      "type": "object"
    },
    "DatabaseDetails": {
      "id": "DatabaseDetails",
      "type": "object",
      "description": "Message for sap instant details",
      "properties": {
        "primaryDbVm": {
          "description": "Optional. primary db vm name",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account - let custoemrs bring their own SA for database",
          "type": "string"
        },
        "image": {
          "description": "Required. image for database server",
          "type": "string"
        },
        "instanceId": {
          "description": "Optional. instance id",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. secondary db vm name",
          "type": "string"
        },
        "diskType": {
          "description": "Required. disk_type",
          "type": "string"
        }
      }
    },
    "SqlLocationDetails": {
      "description": "Location and networking details for configuring SQL server workload",
      "properties": {
        "internetAccess": {
          "description": "Required. Internet Access",
          "enum": [
            "INTERNET_ACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified internet access",
            "Allow external IP",
            "Configure NAT"
          ]
        },
        "primaryZone": {
          "description": "Required. primary zone",
          "type": "string"
        },
        "dnsZone": {
          "description": "Optional. create a new DNS Zone when the field is empty, Only show for `Using an existing DNS` List of existing DNS Zones tf variable name: existing_dns_zone_name",
          "type": "string"
        },
        "secondaryZone": {
          "description": "Optional. secondary zone can't be same as primary_zone and is only for High Availability deployment mode",
          "type": "string"
        },
        "subnetwork": {
          "description": "Required. subnetwork name",
          "type": "string"
        },
        "gcpProjectId": {
          "description": "Required. the project that infrastructure deployed, currently only supports the same project where the deployment resource exists.",
          "type": "string"
        },
        "tertiaryZone": {
          "description": "Optional. teriary zone can't be same as primary_zone and secondary zone, and it is only for High Availability deployment mode",
          "type": "string"
        },
        "network": {
          "description": "Required. network name",
          "type": "string"
        },
        "region": {
          "description": "Required. region name",
          "type": "string"
        }
      },
      "id": "SqlLocationDetails",
      "type": "object"
    },
    "Notice": {
      "id": "Notice",
      "type": "object",
      "description": "Additional information generated by an execution.",
      "properties": {
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. Message of the notice."
        }
      }
    },
    "AgentStatusServiceStatus": {
      "description": "The status of a service (process metrics, host metrics, etc.).",
      "properties": {
        "iamPermissions": {
          "description": "Output only. The permissions required for the service.",
          "items": {
            "$ref": "AgentStatusIAMPermission"
          },
          "readOnly": true,
          "type": "array"
        },
        "configValues": {
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "AgentStatusConfigValue"
          },
          "description": "Output only. The configuration values for the service."
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "description": "Output only. The state of the service (enabled or disabled in the configuration).",
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "fullyFunctional": {
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the service is fully functional (all checks passed).",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "name": {
          "description": "Output only. The name of the service.",
          "readOnly": true,
          "type": "string"
        },
        "errorMessage": {
          "description": "Output only. The error message for the service if it is not fully functional.",
          "readOnly": true,
          "type": "string"
        },
        "unspecifiedStateMessage": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message to display when the service state is unspecified."
        }
      },
      "id": "AgentStatusServiceStatus",
      "type": "object"
    },
    "SapValidationValidationDetail": {
      "description": "Message describing the SAP validation metrics.",
      "properties": {
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        },
        "sapValidationType": {
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "description": "Optional. The SAP system that the validation data is from.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ]
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Optional. The pairs of metrics data: field name & field value."
        }
      },
      "id": "SapValidationValidationDetail",
      "type": "object"
    },
    "SapComponent": {
      "id": "SapComponent",
      "type": "object",
      "description": "The component of sap workload",
      "properties": {
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "readOnly": true,
          "type": "string"
        },
        "haHosts": {
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "resources": {
          "description": "Output only. resources in the component",
          "items": {
            "$ref": "CloudResource"
          },
          "readOnly": true,
          "type": "array"
        },
        "topologyType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "description": "The detected topology of the component."
        },
        "databaseProperties": {
          "description": "Output only. All instance properties.",
          "$ref": "DatabaseProperties",
          "readOnly": true
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "SapDiscoveryWorkloadProperties": {
      "description": "A set of properties describing an SAP workload.",
      "properties": {
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "type": "array"
        },
        "productVersions": {
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          },
          "type": "array",
          "description": "Optional. List of SAP Products and their versions running on the system."
        }
      },
      "id": "SapDiscoveryWorkloadProperties",
      "type": "object"
    },
    "SqlserverValidationValidationDetail": {
      "id": "SqlserverValidationValidationDetail",
      "type": "object",
      "description": "Message describing the Sqlserver validation metrics.",
      "properties": {
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ],
          "description": "Optional. The Sqlserver system that the validation data is from."
        },
        "details": {
          "items": {
            "$ref": "SqlserverValidationDetails"
          },
          "type": "array",
          "description": "Required. Details wraps map that represents collected data names and values."
        }
      }
    },
    "ListDiscoveredProfilesResponse": {
      "description": "List discovered profile Response returns discovered profiles from agents",
      "properties": {
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Locations that could not be reached."
        },
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return"
        },
        "workloadProfiles": {
          "items": {
            "$ref": "WorkloadProfile"
          },
          "readOnly": true,
          "type": "array",
          "description": "Output only. The list of workload profiles"
        }
      },
      "id": "ListDiscoveredProfilesResponse",
      "type": "object"
    },
    "ServiceStates": {
      "description": "The state of the service.",
      "properties": {
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified.",
            "The state means the service has config errors.",
            "The state means the service has IAM permission errors.",
            "The state means the service has functionality errors.",
            "The state means the service has no error.",
            "The state means the service disabled."
          ],
          "description": "Output only. The overall state of the service.",
          "enum": [
            "STATE_UNSPECIFIED",
            "CONFIG_FAILURE",
            "IAM_FAILURE",
            "FUNCTIONALITY_FAILURE",
            "ENABLED",
            "DISABLED"
          ]
        },
        "iamPermissions": {
          "description": "Optional. Output only. The IAM permissions for the service.",
          "items": {
            "$ref": "IAMPermission"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "id": "ServiceStates",
      "type": "object"
    },
    "AppDetails": {
      "id": "AppDetails",
      "type": "object",
      "description": "Message for sap instant details",
      "properties": {
        "ascsImage": {
          "description": "Required. image for ascs server",
          "type": "string"
        },
        "ascsMachineType": {
          "description": "Required. ascs_machine_type",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. instance id for app",
          "type": "string"
        },
        "vmsMultiplier": {
          "description": "Required. vms_multiplier",
          "format": "int32",
          "type": "integer"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "appVmNames": {
          "description": "Optional. Customized vm names",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "image": {
          "description": "Required. image for app server and ascs server",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account - let custoemrs bring their own SA for ASCS",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. instance id for ers",
          "type": "string"
        },
        "ersVm": {
          "description": "Optional. ERS vm name",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. instance id for ascs",
          "type": "string"
        },
        "sharedStorage": {
          "description": "Optional. Storage location",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account - let custoemrs bring their own SA for application",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS vm name",
          "type": "string"
        }
      }
    },
    "RuleOutput": {
      "id": "RuleOutput",
      "type": "object",
      "description": "The rule output of the violation.",
      "properties": {
        "details": {
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object",
          "description": "Output only. Violation details generated by rule."
        },
        "message": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The message generated by rule."
        }
      }
    },
    "ListLocationsResponse": {
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "locations": {
          "items": {
            "$ref": "Location"
          },
          "type": "array",
          "description": "A list of locations that matches the specified filter in the request."
        }
      },
      "id": "ListLocationsResponse",
      "type": "object"
    },
    "OpenShiftValidation": {
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "properties": {
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      },
      "id": "OpenShiftValidation",
      "type": "object"
    },
    "SapValidation": {
      "id": "SapValidation",
      "type": "object",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "properties": {
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Optional. A list of SAP validation metrics data.",
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "type": "array"
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        }
      }
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "type": "object",
      "description": "The body of sap workload",
      "properties": {
        "metadata": {
          "description": "Output only. The metadata for SAP workload.",
          "additionalProperties": {
            "type": "string"
          },
          "readOnly": true,
          "type": "object"
        },
        "application": {
          "readOnly": true,
          "description": "Output only. application component",
          "$ref": "SapComponent"
        },
        "database": {
          "readOnly": true,
          "description": "Output only. database component",
          "$ref": "SapComponent"
        },
        "architecture": {
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ],
          "description": "Output only. The architecture.",
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ]
        },
        "products": {
          "description": "Output only. The products on this workload.",
          "readOnly": true,
          "type": "array",
          "items": {
            "$ref": "Product"
          }
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "operations": {
          "items": {
            "$ref": "Operation"
          },
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request."
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "unreachable": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations."
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "ScannedResource": {
      "description": "A scanned resource.",
      "properties": {
        "type": {
          "description": "Resource type.",
          "type": "string"
        },
        "resource": {
          "description": "Resource name.",
          "type": "string"
        }
      },
      "id": "ScannedResource",
      "type": "object"
    },
    "Actuation": {
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "properties": {
        "deploymentOutput": {
          "description": "Output only. [Output only] Deployment output",
          "items": {
            "$ref": "DeploymentOutput"
          },
          "readOnly": true,
          "type": "array"
        },
        "actuationOutput": {
          "description": "Output only. [Output only] Actuation output",
          "$ref": "ActuationOutput",
          "readOnly": true
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] End time stamp"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Start time stamp"
        },
        "state": {
          "readOnly": true,
          "type": "string",
          "enumDescriptions": [
            "state unspecified",
            "creating infrastructure in backend (terraform applying)",
            "success",
            "failed either in infra creating, post infra configuring or infra destroying",
            "configure workload after infrastructure is ready (ansible running)",
[...]
