{
  "ownerName": "Google",
  "parameters": {
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string",
      "default": "json",
      "enum": [
        "json",
        "media",
        "proto"
      ]
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response."
    },
    "prettyPrint": {
      "default": "true",
      "location": "query",
      "type": "boolean",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    }
  },
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "rootUrl": "https://workflowexecutions.googleapis.com/",
  "discoveryVersion": "v1",
  "ownerDomain": "google.com",
  "documentationLink": "https://cloud.google.com/workflows",
  "fullyEncodeReservedExpansion": true,
  "servicePath": "",
  "version_module": true,
  "resources": {
    "projects": {
      "resources": {
        "locations": {
          "resources": {
            "workflows": {
              "resources": {
                "executions": {
                  "methods": {
                    "get": {
                      "httpMethod": "GET",
                      "id": "workflowexecutions.projects.locations.workflows.executions.get",
                      "parameterOrder": [
                        "name"
                      ],
                      "path": "v1beta/{+name}",
                      "parameters": {
                        "name": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$",
                          "description": "Required. Name of the execution to be retrieved. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "type": "string",
                          "location": "path",
                          "required": true
                        },
                        "view": {
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "type": "string",
                          "description": "Optional. A view defining which fields should be filled in the returned execution. The API will default to the FULL view."
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Execution"
                      },
                      "description": "Returns an execution of the given name."
                    },
                    "create": {
                      "id": "workflowexecutions.projects.locations.workflows.executions.create",
                      "httpMethod": "POST",
                      "path": "v1beta/{+parent}/executions",
                      "parameters": {
                        "parent": {
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$",
                          "description": "Required. Name of the workflow for which an execution should be created. Format: projects/{project}/locations/{location}/workflows/{workflow} The latest revision of the workflow will be used.",
                          "type": "string",
                          "location": "path",
                          "required": true
                        }
                      },
                      "parameterOrder": [
                        "parent"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "Execution"
                      },
                      "request": {
                        "$ref": "Execution"
                      },
                      "description": "Creates a new execution using the latest revision of the given workflow."
                    },
                    "cancel": {
                      "parameters": {
                        "name": {
                          "description": "Required. Name of the execution to be cancelled. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}",
                          "location": "path",
                          "required": true,
                          "type": "string",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+/executions/[^/]+$"
                        }
                      },
                      "path": "v1beta/{+name}:cancel",
                      "parameterOrder": [
                        "name"
                      ],
                      "id": "workflowexecutions.projects.locations.workflows.executions.cancel",
                      "httpMethod": "POST",
                      "request": {
                        "$ref": "CancelExecutionRequest"
                      },
                      "description": "Cancels an execution of the given name.",
                      "response": {
                        "$ref": "Execution"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions/{executionsId}:cancel"
                    },
                    "list": {
                      "httpMethod": "GET",
                      "id": "workflowexecutions.projects.locations.workflows.executions.list",
                      "parameterOrder": [
                        "parent"
                      ],
                      "path": "v1beta/{+parent}/executions",
                      "parameters": {
                        "pageSize": {
                          "description": "Maximum number of executions to return per call. Max supported value depends on the selected Execution view: it's 10000 for BASIC and 100 for FULL. The default value used if the field is not specified is 100, regardless of the selected view. Values greater than the max value will be coerced down to it.",
                          "type": "integer",
                          "location": "query",
                          "format": "int32"
                        },
                        "parent": {
                          "type": "string",
                          "location": "path",
                          "required": true,
                          "description": "Required. Name of the workflow for which the executions should be listed. Format: projects/{project}/locations/{location}/workflows/{workflow}",
                          "pattern": "^projects/[^/]+/locations/[^/]+/workflows/[^/]+$"
                        },
                        "pageToken": {
                          "description": "A page token, received from a previous `ListExecutions` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListExecutions` must match the call that provided the page token.",
                          "location": "query",
                          "type": "string"
                        },
                        "view": {
                          "enum": [
                            "EXECUTION_VIEW_UNSPECIFIED",
                            "BASIC",
                            "FULL"
                          ],
                          "description": "Optional. A view defining which fields should be filled in the returned executions. The API will default to the BASIC view.",
                          "location": "query",
                          "enumDescriptions": [
                            "The default / unset value.",
                            "Includes only basic metadata about the execution. Following fields are returned: name, start_time, end_time, state and workflow_revision_id.",
                            "Includes all data."
                          ],
                          "type": "string"
                        }
                      },
                      "flatPath": "v1beta/projects/{projectsId}/locations/{locationsId}/workflows/{workflowsId}/executions",
                      "scopes": [
                        "https://www.googleapis.com/auth/cloud-platform"
                      ],
                      "response": {
                        "$ref": "ListExecutionsResponse"
                      },
                      "description": "Returns a list of executions which belong to the workflow with the given name. The method returns executions of all workflow revisions. Returned executions are ordered by their start time (newest first)."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "basePath": "",
  "canonicalName": "Workflow Executions",
  "version": "v1beta",
  "revision": "20260310",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": {
          "description": "See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account."
        }
      }
    }
  },
  "schemas": {
    "Status": {
      "properties": {
        "currentSteps": {
          "description": "A list of currently executing or last executed step names for the workflow execution currently running. If the workflow has succeeded or failed, this is the last attempted or executed step. Presently, if the current step is inside a subworkflow, the list only includes that step. In the future, the list will contain items for each step in the call stack, starting with the outermost step in the `main` subworkflow, and ending with the most deeply nested step.",
          "items": {
            "$ref": "Step"
          },
          "type": "array"
        }
      },
      "description": "Represents the current status of this execution.",
      "id": "Status",
      "type": "object"
    },
    "Step": {
      "type": "object",
      "id": "Step",
      "description": "Represents a step of the workflow this execution is running.",
      "properties": {
        "routine": {
          "description": "Name of a routine within the workflow.",
          "type": "string"
        },
        "step": {
          "description": "Name of a step within the routine.",
          "type": "string"
        }
      }
    },
    "StackTrace": {
      "properties": {
        "elements": {
          "type": "array",
          "description": "An array of stack elements.",
          "items": {
            "$ref": "StackTraceElement"
          }
        }
      },
      "description": "A collection of stack elements (frames) where an error occurred.",
      "id": "StackTrace",
      "type": "object"
    },
    "Position": {
      "type": "object",
      "id": "Position",
      "description": "Position contains source position information about the stack trace element such as line number, column number and length of the code block in bytes.",
      "properties": {
        "column": {
          "type": "string",
          "format": "int64",
          "description": "The source code column position (of the line) the current instruction was generated from."
        },
        "line": {
          "description": "The source code line number the current instruction was generated from.",
          "type": "string",
          "format": "int64"
        },
        "length": {
          "type": "string",
          "format": "int64",
          "description": "The number of bytes of source code making up this stack trace element."
        }
      }
    },
    "Error": {
      "properties": {
        "context": {
          "description": "Human-readable stack trace string.",
          "type": "string"
        },
        "payload": {
          "description": "Error message and data returned represented as a JSON string.",
          "type": "string"
        },
        "stackTrace": {
          "description": "Stack trace with detailed information of where error was generated.",
          "$ref": "StackTrace"
        }
      },
      "description": "Error describes why the execution was abnormally terminated.",
      "id": "Error",
      "type": "object"
    },
    "StackTraceElement": {
      "description": "A single stack element (frame) where an error occurred.",
      "properties": {
        "position": {
          "description": "The source position information of the stack trace element.",
          "$ref": "Position"
        },
        "routine": {
          "description": "The routine where the error occurred.",
          "type": "string"
        },
        "step": {
          "description": "The step the error occurred at.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "StackTraceElement"
    },
    "ListExecutionsResponse": {
      "description": "Response for the ListExecutions method.",
      "properties": {
        "executions": {
          "type": "array",
          "items": {
            "$ref": "Execution"
          },
          "description": "The executions which match the request."
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ListExecutionsResponse"
    },
    "Execution": {
      "description": "A running instance of a [Workflow](/workflows/docs/reference/rest/v1beta/projects.locations.workflows).",
      "properties": {
        "workflowRevisionId": {
          "description": "Output only. Revision of the workflow this execution is using.",
          "readOnly": true,
          "type": "string"
        },
        "result": {
          "description": "Output only. Output of the execution represented as a JSON string. The value can only be present if the execution's state is `SUCCEEDED`.",
          "readOnly": true,
          "type": "string"
        },
        "error": {
          "description": "Output only. The error which caused the execution to finish prematurely. The value is only present if the execution's state is `FAILED` or `CANCELLED`.",
          "readOnly": true,
          "$ref": "Error"
        },
        "endTime": {
          "type": "string",
          "readOnly": true,
          "format": "google-datetime",
          "description": "Output only. Marks the end of execution, successful or not."
        },
        "argument": {
          "description": "Input parameters of the execution represented as a JSON string. The size limit is 32KB. *Note*: If you are using the REST API directly to run your workflow, you must escape any JSON string value of `argument`. Example: `'{\"argument\":\"{\\\"firstName\\\":\\\"FIRST\\\",\\\"lastName\\\":\\\"LAST\\\"}\"}'`",
          "type": "string"
        },
        "name": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The resource name of the execution. Format: projects/{project}/locations/{location}/workflows/{workflow}/executions/{execution}"
        },
        "callLogLevel": {
          "enumDescriptions": [
            "No call logging level specified.",
            "Log all call steps within workflows, all call returns, and all exceptions raised.",
            "Log only exceptions that are raised from call steps within workflows."
          ],
          "type": "string",
          "enum": [
            "CALL_LOG_LEVEL_UNSPECIFIED",
            "LOG_ALL_CALLS",
            "LOG_ERRORS_ONLY"
          ],
          "description": "The call logging level associated to this execution."
        },
        "state": {
          "enum": [
            "STATE_UNSPECIFIED",
            "ACTIVE",
            "SUCCEEDED",
            "FAILED",
            "CANCELLED",
            "UNAVAILABLE",
            "QUEUED"
          ],
          "description": "Output only. Current state of the execution.",
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Invalid state.",
            "The execution is in progress.",
            "The execution finished successfully.",
            "The execution failed with an error.",
            "The execution was stopped intentionally.",
            "Reserved for future use.",
            "Request has been placed in the backlog for processing at a later time."
          ]
        },
        "status": {
          "description": "Output only. Status tracks the current steps and progress data of this execution.",
          "$ref": "Status",
          "readOnly": true
        },
        "startTime": {
          "readOnly": true,
          "format": "google-datetime",
          "type": "string",
          "description": "Output only. Marks the beginning of execution."
        }
      },
      "type": "object",
      "id": "Execution"
    },
    "CancelExecutionRequest": {
      "description": "Request for the CancelExecution method.",
      "properties": {},
      "type": "object",
      "id": "CancelExecutionRequest"
    }
  },
  "batchPath": "batch",
  "baseUrl": "https://workflowexecutions.googleapis.com/",
  "id": "workflowexecutions:v1beta",
  "protocol": "rest",
  "mtlsRootUrl": "https://workflowexecutions.mtls.googleapis.com/",
  "title": "Workflow Executions API",
  "description": "Execute workflows created with Workflows API.",
  "kind": "discovery#restDescription",
  "name": "workflowexecutions"
}