{
  "canonicalName": "Workload Manager",
  "discoveryVersion": "v1",
  "title": "Workload Manager API",
  "schemas": {
    "AgentCommand": {
      "id": "AgentCommand",
      "type": "object",
      "description": "An AgentCommand specifies a one-time executable program for the agent to run.",
      "properties": {
        "command": {
          "description": "The name of the agent one-time executable that will be invoked.",
          "type": "string"
        },
        "parameters": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "A map of key/value pairs that can be used to specify additional one-time executable settings."
        }
      }
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          }
        },
        "operations": {
          "type": "array",
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          }
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      },
      "id": "ListOperationsResponse",
      "type": "object"
    },
    "SapValidation": {
      "id": "SapValidation",
      "type": "object",
      "description": "A presentation of SAP workload insight. The schema of SAP workloads validation related data.",
      "properties": {
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "validationDetails": {
          "description": "Optional. A list of SAP validation metrics data.",
          "items": {
            "$ref": "SapValidationValidationDetail"
          },
          "type": "array"
        },
        "zone": {
          "description": "Optional. The zone of the instance that the Insight data comes from.",
          "type": "string"
        }
      }
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "properties": {},
      "id": "Empty",
      "type": "object"
    },
    "RuleExecutionResult": {
      "description": "Execution result summary per rule.",
      "properties": {
        "message": {
          "description": "Execution message, if any.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "STATE_SUCCESS",
            "STATE_FAILURE",
            "STATE_SKIPPED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unknown state",
            "Execution completed successfully",
            "Execution completed with failures",
            "Execution was not executed"
          ],
          "description": "Output only. The execution status."
        },
        "resultCount": {
          "description": "Number of violations.",
          "type": "string",
          "format": "int64"
        },
        "rule": {
          "description": "Rule name as plain text like `sap-hana-configured`.",
          "type": "string"
        },
        "scannedResourceCount": {
          "description": "Number of total scanned resources.",
          "type": "string",
          "format": "int64"
        }
      },
      "id": "RuleExecutionResult",
      "type": "object"
    },
    "ComponentHealth": {
      "description": "HealthCondition contains the detailed health check of each component.",
      "properties": {
        "componentHealthType": {
          "description": "Output only. The type of the component health.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified",
            "required",
            "optional",
            "special"
          ],
          "readOnly": true,
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_REQUIRED",
            "TYPE_OPTIONAL",
            "TYPE_SPECIAL"
          ]
        },
        "subComponentsHealth": {
          "type": "array",
          "description": "Sub component health.",
          "items": {
            "$ref": "ComponentHealth"
          }
        },
        "component": {
          "description": "The component of a workload.",
          "type": "string"
        },
        "state": {
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "description": "Output only. The health state of the component."
        },
        "componentHealthChecks": {
          "description": "The detailed health checks of the component.",
          "items": {
            "$ref": "HealthCheck"
          },
          "type": "array"
        }
      },
      "id": "ComponentHealth",
      "type": "object"
    },
    "ListDiscoveredProfilesResponse": {
      "description": "List discovered profile Response returns discovered profiles from agents",
      "properties": {
        "nextPageToken": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. A token identifying a page of results the server should return"
        },
        "workloadProfiles": {
          "description": "Output only. The list of workload profiles",
          "items": {
            "$ref": "WorkloadProfile"
          },
          "readOnly": true,
          "type": "array"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "ListDiscoveredProfilesResponse",
      "type": "object"
    },
    "SqlserverValidationDetails": {
      "id": "SqlserverValidationDetails",
      "type": "object",
      "description": "Message containing collected data names and values.",
      "properties": {
        "fields": {
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Required. Collected data is in format."
        }
      }
    },
    "OperationMetadata": {
      "id": "OperationMetadata",
      "type": "object",
      "description": "Represents the metadata of the long-running operation.",
      "properties": {
        "target": {
          "description": "Output only. Server-defined resource path for the target of the operation.",
          "type": "string",
          "readOnly": true
        },
        "statusMessage": {
          "description": "Output only. Human-readable status of the operation, if any.",
          "type": "string",
          "readOnly": true
        },
        "endTime": {
          "description": "Output only. The time the operation finished running.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "verb": {
          "description": "Output only. Name of the verb executed by the operation.",
          "type": "string",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time the operation was created.",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "apiVersion": {
          "description": "Output only. API version used to start the operation.",
          "type": "string",
          "readOnly": true
        },
        "requestedCancellation": {
          "type": "boolean",
          "readOnly": true,
          "description": "Output only. Identifies whether the user has requested cancellation of the operation. Operations that have been cancelled successfully have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`."
        }
      }
    },
    "ListExecutionResultsResponse": {
      "id": "ListExecutionResultsResponse",
      "type": "object",
      "description": "Response message for the ListExecutionResults RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "executionResults": {
          "description": "The versions from the specified publisher.",
          "items": {
            "$ref": "ExecutionResult"
          },
          "type": "array"
        }
      }
    },
    "Summary": {
      "description": "Execution summary.",
      "properties": {
        "newFailures": {
          "description": "Output only. Number of new failures compared to the previous execution.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "failures": {
          "description": "Output only. Number of failures.",
          "readOnly": true,
          "type": "string",
          "format": "int64"
        },
        "newFixes": {
          "type": "string",
          "format": "int64",
          "readOnly": true,
          "description": "Output only. Number of new fixes compared to the previous execution."
        }
      },
      "id": "Summary",
      "type": "object"
    },
    "InstanceProperties": {
      "id": "InstanceProperties",
      "type": "object",
      "description": "Instance Properties.",
      "properties": {
        "status": {
          "description": "Optional. Instance status.",
          "type": "string"
        },
        "upcomingMaintenanceEvent": {
          "description": "Optional. the next maintenance event on VM",
          "$ref": "UpcomingMaintenanceEvent"
        },
        "roles": {
          "type": "array",
          "description": "Optional. Instance roles.",
          "items": {
            "type": "string",
            "enumDescriptions": [
              "Unspecified role.",
              "ASCS role.",
              "ERS role.",
              "APP server.",
              "HANA primary role.",
              "HANA secondary role."
            ],
            "enum": [
              "INSTANCE_ROLE_UNSPECIFIED",
              "INSTANCE_ROLE_ASCS",
              "INSTANCE_ROLE_ERS",
              "INSTANCE_ROLE_APP_SERVER",
              "INSTANCE_ROLE_HANA_PRIMARY",
              "INSTANCE_ROLE_HANA_SECONDARY"
            ]
          }
        },
        "sapInstanceProperties": {
          "description": "Optional. SAP Instance properties.",
          "$ref": "SapInstanceProperties"
        },
        "machineType": {
          "description": "Optional. Instance machine type.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number.",
          "type": "string"
        }
      }
    },
    "ScannedResource": {
      "description": "A scanned resource.",
      "properties": {
        "resource": {
          "description": "Resource name.",
          "type": "string"
        },
        "type": {
          "description": "Resource type.",
          "type": "string"
        }
      },
      "id": "ScannedResource",
      "type": "object"
    },
    "TorsoValidation": {
      "description": "The schema of torso workload validation data.",
      "properties": {
        "validationDetails": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Required. validation_details contains the pairs of validation data: field name & field value."
        },
        "agentVersion": {
          "description": "Required. agent_version lists the version of the agent that collected this data.",
          "type": "string"
        },
        "projectId": {
          "description": "Required. project_id lists the human readable cloud project that the data comes from.",
          "type": "string"
        },
        "instanceName": {
          "description": "Optional. instance_name lists the human readable name of the instance that the data comes from.",
          "type": "string"
        },
        "workloadType": {
          "description": "Required. workload_type specifies the type of torso workload.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified workload type.",
            "MySQL workload.",
            "Oracle workload.",
            "Redis workload."
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "MYSQL",
            "ORACLE",
            "REDIS"
          ]
        }
      },
      "id": "TorsoValidation",
      "type": "object"
    },
    "ListLocationsResponse": {
      "id": "ListLocationsResponse",
      "type": "object",
      "description": "The response message for Locations.ListLocations.",
      "properties": {
        "locations": {
          "description": "A list of locations that matches the specified filter in the request.",
          "items": {
            "$ref": "Location"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        }
      }
    },
    "WriteInsightRequest": {
      "description": "Request for sending the data insights.",
      "properties": {
        "insight": {
          "$ref": "Insight",
          "description": "Required. The metrics data details."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        },
        "agentVersion": {
          "description": "Optional. The agent version collected this data point.",
          "type": "string"
        }
      },
      "id": "WriteInsightRequest",
      "type": "object"
    },
    "Pacemaker": {
      "description": "pacemaker configuration",
      "properties": {
        "sqlPacemakerUsername": {
          "description": "Required. sql pacemaker username",
          "type": "string"
        },
        "sqlPacemakerSecret": {
          "description": "Required. sql pacemaker secret name",
          "type": "string"
        },
        "pacemakerCluster": {
          "description": "Required. pacemaker cluster name",
          "type": "string"
        },
        "pacemakerClusterUsername": {
          "description": "Required. pacemaker cluster username",
          "type": "string"
        },
        "pacemakerClusterSecret": {
          "description": "Required. pacemaker cluster secret name",
          "type": "string"
        },
        "bucketNameNodeCertificates": {
          "description": "Required. bucket location for node certificates",
          "type": "string"
        }
      },
      "id": "Pacemaker",
      "type": "object"
    },
    "ResourceFilter": {
      "description": "Resource filter for an evaluation defining the scope of resources to be evaluated.",
      "properties": {
        "scopes": {
          "type": "array",
          "description": "The scopes of evaluation resource. Format: * `projects/{project_id}` * `folders/{folder_id}` * `organizations/{organization_id}`",
          "items": {
            "type": "string"
          }
        },
        "resourceIdPatterns": {
          "type": "array",
          "description": "The pattern to filter resources by their id For example, a pattern of \".*prod-cluster.*\" will match all resources that contain \"prod-cluster\" in their ID.",
          "items": {
            "type": "string"
          }
        },
        "inclusionLabels": {
          "description": "Labels to filter resources by. Each key-value pair in the map must exist on the resource for it to be included (e.g. VM instance labels). For example, specifying `{ \"env\": \"prod\", \"database\": \"nosql\" }` will only include resources that have labels `env=prod` and `database=nosql`.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "gceInstanceFilter": {
          "description": "Filter compute engine resources.",
          "$ref": "GceInstanceFilter"
        }
      },
      "id": "ResourceFilter",
      "type": "object"
    },
    "DatabaseDetails": {
      "description": "Message for sap instant details",
      "properties": {
        "primaryDbVm": {
          "description": "Optional. primary db vm name",
          "type": "string"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "image": {
          "description": "Required. image for database server",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "secondaryDbVm": {
          "description": "Optional. secondary db vm name",
          "type": "string"
        },
        "databaseServiceAccount": {
          "description": "Database service account - let custoemrs bring their own SA for database",
          "type": "string"
        },
        "diskType": {
          "description": "Required. disk_type",
          "type": "string"
        },
        "instanceId": {
          "description": "Optional. instance id",
          "type": "string"
        }
      },
      "id": "DatabaseDetails",
      "type": "object"
    },
    "AgentStatusIAMPermission": {
      "id": "AgentStatusIAMPermission",
      "type": "object",
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the permission."
        },
        "granted": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the permission is granted."
        }
      }
    },
    "TerraformVariable": {
      "id": "TerraformVariable",
      "type": "object",
      "description": "In order to align with Infra Manager dependency, we create the same TerraformVariable message to represent a Terraform input variable, by following Infra Manager's API documentation: https://cloud.google.com/infrastructure-manager/docs/reference/rest A Terraform input variable.",
      "properties": {
        "inputValue": {
          "description": "Optional. Input variable value.",
          "type": "any"
        }
      }
    },
    "ExecutionResult": {
      "id": "ExecutionResult",
      "type": "object",
      "description": "The result of an execution.",
      "properties": {
        "documentationUrl": {
          "description": "The URL for the documentation of the rule.",
          "type": "string"
        },
        "violationDetails": {
          "description": "The details of violation in an evaluation result.",
          "$ref": "ViolationDetails"
        },
        "severity": {
          "description": "The severity of violation.",
          "type": "string"
        },
        "rule": {
          "description": "The rule that is violated in an evaluation.",
          "type": "string"
        },
        "type": {
          "description": "Execution result type of the scanned resource.",
          "type": "string",
          "enumDescriptions": [
            "Unknown state.",
            "Resource successfully passed the rule.",
            "Resource violated the rule."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "TYPE_PASSED",
            "TYPE_VIOLATED"
          ]
        },
        "violationMessage": {
          "description": "The violation message of an execution.",
          "type": "string"
        },
        "commands": {
          "description": "The commands to remediate the violation.",
          "items": {
            "$ref": "Command"
          },
          "type": "array"
        },
        "resource": {
          "$ref": "Resource",
          "description": "The resource that violates the rule."
        }
      }
    },
    "SqlserverValidation": {
      "description": "A presentation of SQLServer workload insight. The schema of SqlServer workloads validation related data.",
      "properties": {
        "agentVersion": {
          "description": "Optional. The agent version collected this data point",
          "type": "string"
        },
        "validationDetails": {
          "description": "Optional. A list of SqlServer validation metrics data.",
          "items": {
            "$ref": "SqlserverValidationValidationDetail"
          },
          "type": "array"
        },
        "projectId": {
          "description": "Required. The project_id of the cloud project that the Insight data comes from.",
          "type": "string"
        },
        "instance": {
          "description": "Required. The instance_name of the instance that the Insight data comes from. According to https://linter.aip.dev/122/name-suffix: field names should not use the _name suffix unless the field would be ambiguous without it.",
          "type": "string"
        }
      },
      "id": "SqlserverValidation",
      "type": "object"
    },
    "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties": {
      "description": "A SAP software component name, version, and type.",
      "properties": {
        "name": {
          "description": "Optional. Name of the component.",
          "type": "string"
        },
        "type": {
          "description": "Optional. The component's type.",
          "type": "string"
        },
        "extVersion": {
          "description": "Optional. The component's minor version.",
          "type": "string"
        },
        "version": {
          "description": "Optional. The component's major version.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties",
      "type": "object"
    },
    "AgentStatus": {
      "description": "The schema of agent status data.",
      "properties": {
        "services": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. The services (process metrics, host metrics, etc.).",
          "items": {
            "$ref": "AgentStatusServiceStatus"
          }
        },
        "references": {
          "type": "array",
          "readOnly": true,
          "description": "Output only. Optional references to public documentation.",
          "items": {
            "$ref": "AgentStatusReference"
          }
        },
        "configurationFilePath": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The path to the agent configuration file."
        },
        "kernelVersion": {
          "description": "Output only. The kernel version of the system.",
          "readOnly": true,
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion"
        },
        "cloudApiAccessFullScopesGranted": {
          "description": "Output only. Whether the agent has full access to Cloud APIs.",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "configurationErrorMessage": {
          "description": "Output only. The error message for the agent configuration if invalid.",
          "type": "string",
          "readOnly": true
        },
        "agentName": {
          "description": "Output only. The name of the agent.",
          "type": "string",
          "readOnly": true
        },
        "instanceUri": {
          "readOnly": true,
          "type": "string",
          "description": "Output only. The URI of the instance. Format: projects//zones//instances/"
        },
        "availableVersion": {
          "description": "Output only. The available version of the agent in artifact registry.",
          "type": "string",
          "readOnly": true
        },
        "installedVersion": {
          "description": "Output only. The installed version of the agent on the host.",
          "readOnly": true,
          "type": "string"
        },
        "systemdServiceEnabled": {
          "description": "Output only. Whether the agent service is enabled in systemd.",
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ]
        },
        "systemdServiceRunning": {
          "description": "Output only. Whether the agent service is running in systemd.",
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ]
        },
        "configurationValid": {
          "type": "string",
          "enumDescriptions": [
            "The state is unspecified and has not been checked yet.",
            "The state is successful (enabled, granted, fully functional).",
            "The state is failed (disabled, denied, not fully functional).",
            "There was an internal error while checking the state, state is unknown."
          ],
          "readOnly": true,
          "enum": [
            "UNSPECIFIED_STATE",
            "SUCCESS_STATE",
            "FAILURE_STATE",
            "ERROR_STATE"
          ],
          "description": "Output only. Whether the agent configuration is valid."
        }
      },
      "id": "AgentStatus",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesAppInstance": {
      "description": "Fields to describe an SAP application server instance.",
      "properties": {
        "name": {
          "description": "Optional. Instance name of the SAP application instance.",
          "type": "string"
        },
        "number": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesAppInstance",
      "type": "object"
    },
    "SapDiscoveryWorkloadPropertiesProductVersion": {
      "id": "SapDiscoveryWorkloadPropertiesProductVersion",
      "type": "object",
      "description": "A product name and version.",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      }
    },
    "CloudResource": {
      "id": "CloudResource",
      "type": "object",
      "description": "The resource on GCP",
      "properties": {
        "name": {
          "description": "Output only. resource name Example: compute.googleapis.com/projects/wlm-obs-dev/zones/us-central1-a/instances/sap-pri",
          "type": "string",
          "readOnly": true
        },
        "kind": {
          "description": "Output only. ",
          "type": "string",
          "enumDescriptions": [
            "Unspecified resource kind.",
            "This is a compute instance.",
            "This is a compute disk.",
            "This is a compute address.",
            "This is a filestore instance.",
            "This is a compute health check.",
            "This is a compute forwarding rule.",
            "This is a compute backend service.",
            "This is a compute subnetwork.",
            "This is a compute network.",
            "This is a public accessible IP Address.",
            "This is a compute instance group."
          ],
          "readOnly": true,
          "enum": [
            "RESOURCE_KIND_UNSPECIFIED",
            "RESOURCE_KIND_INSTANCE",
            "RESOURCE_KIND_DISK",
            "RESOURCE_KIND_ADDRESS",
            "RESOURCE_KIND_FILESTORE",
            "RESOURCE_KIND_HEALTH_CHECK",
            "RESOURCE_KIND_FORWARDING_RULE",
            "RESOURCE_KIND_BACKEND_SERVICE",
            "RESOURCE_KIND_SUBNETWORK",
            "RESOURCE_KIND_NETWORK",
            "RESOURCE_KIND_PUBLIC_ADDRESS",
            "RESOURCE_KIND_INSTANCE_GROUP"
          ]
        },
        "instanceProperties": {
          "readOnly": true,
          "$ref": "InstanceProperties",
          "description": "Output only. All instance properties."
        }
      }
    },
    "Database": {
      "id": "Database",
      "type": "object",
      "description": "Database details",
      "properties": {
        "secondarySoleTenantNodeType": {
          "description": "Optional. the type of a secondary-sole-tenant node/node group e.g. compute.googleapis.com/node-name",
          "type": "string"
        },
        "floatingIpAddress": {
          "description": "Optional. only useful for Linux High Availability setup",
          "type": "string"
        },
        "secondarySoleTenantNode": {
          "description": "Optional. the name of a secondary-sole-tenant node/node group",
          "type": "string"
        },
        "tenancyModel": {
          "description": "Required. SHARED or SOLE_TENANT",
          "enum": [
            "TENANCY_MODEL_UNSPECIFIED",
            "SHARED",
            "SOLE_TENANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified tenancy model",
            "Shared tenancy model",
            "Sole Tenant tenancy model"
          ]
        },
        "soleTenantNodeType": {
          "description": "Optional. the type of a primary sole-tenant node/node group e.g. compute.googleapis.com/node-name",
          "type": "string"
        },
        "tempdbOnSsd": {
          "description": "Required. whether to have TempDB on local SSD",
          "type": "boolean"
        },
        "diskType": {
          "description": "Required. disk_type",
          "type": "string"
        },
        "smt": {
          "description": "Required. whether simultaneous multithreading is enabled or not",
          "type": "boolean"
        },
        "soleTenantNode": {
          "description": "Optional. the name of a primary sole-tenant node/node group",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        }
      }
    },
    "ResourceStatus": {
      "id": "ResourceStatus",
      "type": "object",
      "description": "The lifecycle status of an Evaluation resource.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The state has not been populated in this message.",
            "Resource has an active Create operation.",
            "Resource has no outstanding operations on it or has active Update operations.",
            "Resource has an active Delete operation."
          ],
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "DELETING"
          ],
          "description": "State of the Evaluation resource."
        }
      }
    },
    "SapDiscoveryWorkloadProperties": {
      "id": "SapDiscoveryWorkloadProperties",
      "type": "object",
      "description": "A set of properties describing an SAP workload.",
      "properties": {
        "productVersions": {
          "type": "array",
          "description": "Optional. List of SAP Products and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesProductVersion"
          }
        },
        "softwareComponentVersions": {
          "description": "Optional. A list of SAP software components and their versions running on the system.",
          "items": {
            "$ref": "SapDiscoveryWorkloadPropertiesSoftwareComponentProperties"
          },
          "type": "array"
        }
      }
    },
    "Product": {
      "description": "Contains the details of a product.",
      "properties": {
        "name": {
          "description": "Optional. Name of the product.",
          "type": "string"
        },
        "version": {
          "description": "Optional. Version of the product.",
          "type": "string"
        }
      },
      "id": "Product",
      "type": "object"
    },
    "DeploymentOutput": {
      "id": "DeploymentOutput",
      "type": "object",
      "description": "Message for output of deployment resource",
      "properties": {
        "name": {
          "description": "name of the resource",
          "type": "string"
        },
        "type": {
          "description": "type of the resource",
          "type": "string"
        }
      }
    },
    "SapValidationValidationDetail": {
      "id": "SapValidationValidationDetail",
      "type": "object",
      "description": "Message describing the SAP validation metrics.",
      "properties": {
        "sapValidationType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The SYSTEM validation type collects underlying system data from the VM.",
            "The COROSYNC validation type collects Corosync configuration and runtime data. Corosync enables servers to interact as a HA cluster.",
            "The PACEMAKER validation type collects Pacemaker configuration data. Pacemaker is a high-availability cluster resource manager.",
            "The HANA validation type collects HANA configuration data. SAP HANA is an in-memory, column-oriented, relational database management system.",
            "The NETWEAVER validation type collects NetWeaver configuration data. SAP NetWeaver is a software stack for many of SAP SE's applications.",
            "The HANA_SECURITY validation type collects HANA configuration data as it relates to SAP security best practices.",
            "The CUSTOM validation type collects any customer-defined data that does not fall into any of the other categories of validations."
          ],
          "enum": [
            "SAP_VALIDATION_TYPE_UNSPECIFIED",
            "SYSTEM",
            "COROSYNC",
            "PACEMAKER",
            "HANA",
            "NETWEAVER",
            "HANA_SECURITY",
            "CUSTOM"
          ],
          "description": "Optional. The SAP system that the validation data is from."
        },
        "isPresent": {
          "description": "Optional. Was there a SAP system detected for this validation type.",
          "type": "boolean"
        },
        "details": {
          "description": "Optional. The pairs of metrics data: field name & field value.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      }
    },
    "SqlserverValidationValidationDetail": {
      "id": "SqlserverValidationValidationDetail",
      "type": "object",
      "description": "Message describing the Sqlserver validation metrics.",
      "properties": {
        "type": {
          "description": "Optional. The Sqlserver system that the validation data is from.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified type.",
            "The Sqlserver system named OS.",
            "The LOG_DISK_SEPARATION table.",
            "The MAX_PARALLELISM table.",
            "The CXPACKET_WAITS table.",
            "The TRANSACTION_LOG_HANDLING table.",
            "The VIRTUAL_LOG_FILE_COUNT table.",
            "The BUFFER_POOL_EXTENSION table.",
            "The MAX_SERVER_MEMORY table.",
            "The INSTANCE_METRICS table.",
            "The DB_INDEX_FRAGMENTATION table.",
            "The DB_TABLE_INDEX_COMPRESSION table.",
            "The DB_BACKUP_POLICY table."
          ],
          "enum": [
            "SQLSERVER_VALIDATION_TYPE_UNSPECIFIED",
            "OS",
            "DB_LOG_DISK_SEPARATION",
            "DB_MAX_PARALLELISM",
            "DB_CXPACKET_WAITS",
            "DB_TRANSACTION_LOG_HANDLING",
            "DB_VIRTUAL_LOG_FILE_COUNT",
            "DB_BUFFER_POOL_EXTENSION",
            "DB_MAX_SERVER_MEMORY",
            "INSTANCE_METRICS",
            "DB_INDEX_FRAGMENTATION",
            "DB_TABLE_INDEX_COMPRESSION",
            "DB_BACKUP_POLICY"
          ]
        },
        "details": {
          "type": "array",
          "description": "Required. Details wraps map that represents collected data names and values.",
          "items": {
            "$ref": "SqlserverValidationDetails"
          }
        }
      }
    },
    "WriteInsightResponse": {
      "description": "The response for write insights request.",
      "properties": {},
      "id": "WriteInsightResponse",
      "type": "object"
    },
    "LocationDetails": {
      "id": "LocationDetails",
      "type": "object",
      "description": "Message for sap instant details",
      "properties": {
        "zone2Name": {
          "description": "Optional. zone2_name",
          "type": "string"
        },
        "regionName": {
          "description": "Required. region_name",
          "type": "string"
        },
        "subnetName": {
          "description": "Required. subnet_name",
          "type": "string"
        },
        "internetAccess": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "INTERNETACCESS_UNSPECIFIED",
            "ALLOW_EXTERNAL_IP",
            "CONFIGURE_NAT"
          ]
        },
        "dnsZone": {
          "description": "Optional. dns zone name",
          "type": "string"
        },
        "createCommsFirewall": {
          "description": "Optional. create firewall, if true, create firewall for the deployment. This field provides an option to not always create firewall for the deployment.",
          "type": "boolean"
        },
        "zone1Name": {
          "description": "Required. zone1_name",
          "type": "string"
        },
        "dnsZoneNameSuffix": {
          "description": "Optional. dns_zone_name_suffix",
          "type": "string"
        },
        "networkProject": {
          "description": "Optional. network project",
          "type": "string"
        },
        "deploymentDnsEnabled": {
          "description": "Optional. when user skip DNS configuration from UI, deployment_dns_enabled=false otherwise deployment_dns_enabled=true",
          "type": "boolean"
        },
        "vpcName": {
          "description": "Required. vpc_name",
          "type": "string"
        },
        "customTags": {
          "description": "Optional. network tags",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersion": {
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersion",
      "type": "object",
      "description": "KernelVersion encapsulates the kernel version data for the system.",
      "properties": {
        "rawString": {
          "description": "Optional. Raw string of the kernel version.",
          "type": "string"
        },
        "distroKernel": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
          "description": "Optional. Captures the distro-specific kernel version, the portion of the string following the first dash."
        },
        "osKernel": {
          "description": "Optional. Captures the OS-specific kernel version, the portion of the string up to the first dash.",
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion"
        }
      }
    },
    "AppDetails": {
      "description": "Message for sap instant details",
      "properties": {
        "machineType": {
          "description": "Required. machine type",
          "type": "string"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        },
        "ascsVm": {
          "description": "Optional. ASCS vm name",
          "type": "string"
        },
        "ascsServiceAccount": {
          "description": "ASCS service account - let custoemrs bring their own SA for ASCS",
          "type": "string"
        },
        "ascsInstanceId": {
          "description": "Optional. instance id for ascs",
          "type": "string"
        },
        "vmsMultiplier": {
          "type": "integer",
          "format": "int32",
          "description": "Required. vms_multiplier"
        },
        "sharedStorage": {
          "description": "Optional. Storage location",
          "type": "string"
        },
        "appInstanceId": {
          "description": "Optional. instance id for app",
          "type": "string"
        },
        "ascsMachineType": {
          "description": "Required. ascs_machine_type",
          "type": "string"
        },
        "image": {
          "description": "Required. image for app server and ascs server",
          "type": "string"
        },
        "ascsImage": {
          "description": "Required. image for ascs server",
          "type": "string"
        },
        "sid": {
          "description": "Required. The SAP SID is a three-digit server-specific unique identification code.",
          "type": "string"
        },
        "ersInstanceId": {
          "description": "Optional. instance id for ers",
          "type": "string"
        },
        "appServiceAccount": {
          "description": "Application service account - let custoemrs bring their own SA for application",
          "type": "string"
        },
        "appVmNames": {
          "description": "Optional. Customized vm names",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "ersVm": {
          "description": "Optional. ERS vm name",
          "type": "string"
        }
      },
      "id": "AppDetails",
      "type": "object"
    },
    "Evaluation": {
      "description": "Represents a Workload Manager Evaluation configuration. An Evaluation defines a set of rules to be validated against a scope of Cloud resources.",
      "properties": {
        "resourceFilter": {
          "$ref": "ResourceFilter",
          "description": "Resource filter for an evaluation defining the scope of resources to be evaluated."
        },
        "customRulesBucket": {
          "description": "The Cloud Storage bucket name for custom rules.",
          "type": "string"
        },
        "schedule": {
          "description": "Crontab format schedule for scheduled evaluation, currently only supports the following fixed schedules: * `0 */1 * * *` # Hourly * `0 */6 * * *` # Every 6 hours * `0 */12 * * *` # Every 12 hours * `0 0 */1 * *` # Daily * `0 0 */7 * *` # Weekly * `0 0 */14 * *` # Every 14 days * `0 0 1 */1 *` # Monthly",
          "type": "string"
        },
        "evaluationType": {
          "description": "Evaluation type.",
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "SAP best practices.",
            "SQL best practices.",
            "Customized best practices."
          ],
          "enum": [
            "EVALUATION_TYPE_UNSPECIFIED",
            "SAP",
            "SQL_SERVER",
            "OTHER"
          ]
        },
        "bigQueryDestination": {
          "description": "Optional. The BigQuery destination for detailed evaluation results. If this field is specified, the results of each evaluation execution are exported to BigQuery.",
          "$ref": "BigQueryDestination"
        },
        "name": {
          "description": "Name of resource that has the form `projects/{project_id}/locations/{location_id}/evaluations/{evaluation_id}`.",
          "type": "string"
        },
        "kmsKey": {
          "description": "Optional. Immutable. Customer-managed encryption key name, in the format projects/*/locations/*/keyRings/*/cryptoKeys/*. The key will be used for CMEK encryption of the evaluation resource.",
          "type": "string"
        },
        "description": {
          "description": "Description of the Evaluation.",
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. [Output only] Update time stamp.",
          "type": "string",
          "format": "google-datetime",
          "readOnly": true
        },
        "createTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Create time stamp."
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "ruleNames": {
          "type": "array",
          "description": "The names of the rules used for this evaluation.",
          "items": {
            "type": "string"
          }
        },
        "resourceStatus": {
          "description": "Output only. [Output only] The current lifecycle state of the evaluation resource.",
          "readOnly": true,
          "$ref": "ResourceStatus"
        }
      },
      "id": "Evaluation",
      "type": "object"
    },
    "SapDiscoveryComponent": {
      "description": "Message describing the system component.",
      "properties": {
        "databaseProperties": {
          "$ref": "SapDiscoveryComponentDatabaseProperties",
          "description": "Optional. The component is a SAP database."
        },
        "haHosts": {
          "description": "Optional. A list of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "topologyType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "description": "Optional. The detected topology of the component."
        },
        "hostProject": {
          "description": "Required. Pantheon Project in which the resources reside.",
          "type": "string"
        },
        "replicationSites": {
          "description": "Optional. A list of replication sites used in Disaster Recovery (DR) configurations.",
          "items": {
            "$ref": "SapDiscoveryComponentReplicationSite"
          },
          "type": "array"
        },
        "region": {
          "description": "Optional. The region this component's resources are primarily located in.",
          "type": "string"
        },
        "resources": {
          "description": "Optional. The resources in a component.",
          "items": {
            "$ref": "SapDiscoveryResource"
          },
          "type": "array"
        },
        "applicationProperties": {
          "$ref": "SapDiscoveryComponentApplicationProperties",
          "description": "Optional. The component is a SAP application."
        },
        "sid": {
          "description": "Optional. The SAP identifier, used by the SAP software and helps differentiate systems for customers.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryComponent",
      "type": "object"
    },
    "IAMPermission": {
      "description": "The IAM permission status.",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true,
          "description": "Output only. The name of the permission."
        },
        "granted": {
          "description": "Output only. Whether the permission is granted.",
          "type": "boolean",
          "readOnly": true
        }
      },
      "id": "IAMPermission",
      "type": "object"
    },
    "SapDiscoveryResourceInstanceProperties": {
      "id": "SapDiscoveryResourceInstanceProperties",
      "type": "object",
      "description": "A set of properties only present for an instance type resource",
      "properties": {
        "virtualHostname": {
          "description": "Optional. A virtual hostname of the instance if it has one.",
          "type": "string"
        },
        "instanceRole": {
          "enum": [
            "INSTANCE_ROLE_UNSPECIFIED",
            "INSTANCE_ROLE_ASCS",
            "INSTANCE_ROLE_ERS",
            "INSTANCE_ROLE_APP_SERVER",
            "INSTANCE_ROLE_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS",
            "INSTANCE_ROLE_ASCS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER",
            "INSTANCE_ROLE_ERS_DATABASE",
            "INSTANCE_ROLE_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER",
            "INSTANCE_ROLE_ASCS_ERS_DATABASE",
            "INSTANCE_ROLE_ASCS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ERS_APP_SERVER_DATABASE",
            "INSTANCE_ROLE_ASCS_ERS_APP_SERVER_DATABASE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified instance role.",
            "Application central services.",
            "Enqueue replication server.",
            "Application server.",
            "Database node.",
            "Combinations of roles. Application central services and enqueue replication server.",
            "Application central services and application server.",
            "Application central services and database.",
            "Enqueue replication server and application server.",
            "Enqueue replication server and database.",
            "Application server and database.",
            "Application central services, enqueue replication server and application server.",
            "Application central services, enqueue replication server and database.",
            "Application central services, application server and database.",
            "Enqueue replication server, application server and database.",
            "Application central services, enqueue replication server, application server and database."
          ],
          "description": "Optional. Bitmask of instance role, a resource may have multiple roles at once."
        },
        "isDrSite": {
          "description": "Optional. Instance is part of a DR site.",
          "type": "boolean"
        },
        "clusterInstances": {
          "type": "array",
          "description": "Optional. A list of instance URIs that are part of a cluster with this one.",
          "items": {
            "type": "string"
          }
        },
        "osKernelVersion": {
          "$ref": "SapDiscoveryResourceInstancePropertiesKernelVersion",
          "description": "Optional. The kernel version of the instance."
        },
        "instanceNumber": {
          "type": "string",
          "format": "int64",
          "description": "Optional. The VM's instance number.",
          "deprecated": true
        },
        "appInstances": {
          "type": "array",
          "description": "Optional. App server instances on the host",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesAppInstance"
          }
        },
        "diskMounts": {
          "description": "Optional. Disk mounts on the instance.",
          "items": {
            "$ref": "SapDiscoveryResourceInstancePropertiesDiskMount"
          },
          "type": "array"
        }
      }
    },
    "CancelOperationRequest": {
      "id": "CancelOperationRequest",
      "type": "object",
      "description": "The request message for Operations.CancelOperation.",
      "properties": {}
    },
    "ViolationDetails": {
      "id": "ViolationDetails",
      "type": "object",
      "description": "The violation in an evaluation result.",
      "properties": {
        "asset": {
          "description": "The name of the asset.",
          "type": "string"
        },
        "ruleOutput": {
          "description": "Output only. The rule output of the violation.",
          "items": {
            "$ref": "RuleOutput"
          },
          "readOnly": true,
          "type": "array"
        },
        "serviceAccount": {
          "description": "The service account associated with the resource.",
          "type": "string"
        },
        "observed": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          },
          "description": "Details of the violation."
        }
      }
    },
    "Command": {
      "description": "Command specifies the type of command to execute.",
      "properties": {
        "agentCommand": {
          "$ref": "AgentCommand",
          "description": "AgentCommand specifies a one-time executable program for the agent to run."
        },
        "shellCommand": {
          "$ref": "ShellCommand",
          "description": "ShellCommand is invoked via the agent's command line executor."
        }
      },
      "id": "Command",
      "type": "object"
    },
    "ListExecutionsResponse": {
      "id": "ListExecutionsResponse",
      "type": "object",
      "description": "Response message for the ListExecutions RPC.",
      "properties": {
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "executions": {
          "description": "The list of Execution.",
          "items": {
            "$ref": "Execution"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        }
      }
    },
    "WorkloadProfileHealth": {
      "description": "WorkloadProfileHealth contains the detailed health check of workload.",
      "properties": {
        "state": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified.",
            "Healthy workload.",
            "Unhealthy workload.",
            "Has critical issues.",
            "Unsupported."
          ],
          "readOnly": true,
          "enum": [
            "HEALTH_STATE_UNSPECIFIED",
            "HEALTHY",
            "UNHEALTHY",
            "CRITICAL",
            "UNSUPPORTED"
          ],
          "description": "Output only. The health state of the workload."
        },
        "componentsHealth": {
          "description": "The detailed condition reports of each component.",
          "items": {
            "$ref": "ComponentHealth"
          },
          "type": "array"
        },
        "checkTime": {
          "description": "The time when the health check was performed.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "id": "WorkloadProfileHealth",
      "type": "object"
    },
    "SapDiscoveryMetadata": {
      "description": "Message describing SAP discovery system metadata",
      "properties": {
        "sapProduct": {
          "description": "Optional. This SAP product name",
          "type": "string"
        },
        "customerRegion": {
          "description": "Optional. Customer region string for customer's use. Does not represent GCP region.",
          "type": "string"
        },
        "definedSystem": {
          "description": "Optional. Customer defined, something like \"E-commerce pre prod\"",
          "type": "string"
        },
        "environmentType": {
          "description": "Optional. Should be \"prod\", \"QA\", \"dev\", \"staging\", etc.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryMetadata",
      "type": "object"
    },
    "SapComponent": {
      "id": "SapComponent",
      "type": "object",
      "description": "The component of sap workload",
      "properties": {
        "sid": {
          "description": "Output only. sid is the sap component identificator",
          "type": "string",
          "readOnly": true
        },
        "topologyType": {
          "enum": [
            "TOPOLOGY_TYPE_UNSPECIFIED",
            "TOPOLOGY_SCALE_UP",
            "TOPOLOGY_SCALE_OUT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified topology.",
            "A scale-up single node system.",
            "A scale-out multi-node system."
          ],
          "description": "The detected topology of the component."
        },
        "haHosts": {
          "type": "array",
          "description": "List of host URIs that are part of the HA configuration if present. An empty list indicates the component is not configured for HA.",
          "items": {
            "type": "string"
          }
        },
        "resources": {
          "description": "Output only. resources in the component",
          "items": {
            "$ref": "CloudResource"
          },
          "type": "array",
          "readOnly": true
        },
        "databaseProperties": {
          "description": "Output only. All instance properties.",
          "readOnly": true,
          "$ref": "DatabaseProperties"
        }
      }
    },
    "ActiveDirectory": {
      "id": "ActiveDirectory",
      "type": "object",
      "description": "Active directory details",
      "properties": {
        "dnsAddress": {
          "description": "Optional. DNS IP address",
          "type": "string"
        },
        "domainUsername": {
          "description": "Optional. domain username",
          "type": "string"
        },
        "domain": {
          "description": "Optional. human readable form of a domain such as “google.com”.",
          "type": "string"
        },
        "type": {
          "enum": [
            "ACTIVE_DIRECTORY_TYPE_UNSPECIFIED",
            "GCP_MANAGED",
            "SELF_MANAGED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified active directory type",
            "GCP managed active directory type",
            "Self managed active directory type"
          ],
          "description": "Required. active directory type"
        },
        "secretManagerSecret": {
          "description": "Required. secret_manager_secret",
          "type": "string"
        }
      }
    },
    "RunEvaluationRequest": {
      "description": "Request message for the RunEvaluation RPC.",
      "properties": {
        "executionId": {
          "description": "Required. ID of the execution which will be created.",
          "type": "string"
        },
        "execution": {
          "$ref": "Execution",
          "description": "Required. The resource being created."
        },
        "requestId": {
          "description": "Optional. An optional request ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).",
          "type": "string"
        }
      },
      "id": "RunEvaluationRequest",
      "type": "object"
    },
    "SapDiscoveryResourceInstancePropertiesKernelVersionVersion": {
      "description": "Version is reported as Major.Minor.Build.Patch.",
      "properties": {
        "major": {
          "description": "Optional. The major version number.",
          "type": "integer",
          "format": "int32"
        },
        "minor": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The minor version number."
        },
        "remainder": {
          "description": "Optional. A catch-all for any unparsed version components. This is in case the number of points in the version string exceeds the expected count of 4.",
          "type": "string"
        },
        "patch": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The patch version number."
        },
        "build": {
          "type": "integer",
          "format": "int32",
          "description": "Optional. The build version number."
        }
      },
      "id": "SapDiscoveryResourceInstancePropertiesKernelVersionVersion",
      "type": "object"
    },
    "SapDiscoveryComponentReplicationSite": {
      "description": "A replication site used in Disaster Recovery (DR) configurations.",
      "properties": {
        "sourceSite": {
          "description": "Optional. The name of the source site from which this one replicates.",
          "type": "string"
        },
        "component": {
          "description": "Optional. The system component for the site.",
          "$ref": "SapDiscoveryComponent"
        }
      },
      "id": "SapDiscoveryComponentReplicationSite",
      "type": "object"
    },
    "ListScannedResourcesResponse": {
      "description": "Response message for the ListScannedResources RPC.",
      "properties": {
        "scannedResources": {
          "type": "array",
          "description": "All scanned resources in response.",
          "items": {
            "$ref": "ScannedResource"
          }
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        }
      },
      "id": "ListScannedResourcesResponse",
      "type": "object"
    },
    "Location": {
      "id": "Location",
      "type": "object",
      "description": "A resource that represents a Google Cloud location.",
      "properties": {
        "locationId": {
          "description": "The canonical id for this location. For example: `\"us-east1\"`.",
          "type": "string"
        },
        "name": {
          "description": "Resource name for the location, which may vary between implementations. For example: `\"projects/example-project/locations/us-east1\"`",
          "type": "string"
        },
        "metadata": {
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "description": "Service-specific metadata. For example the available capacity at the given location."
        },
        "labels": {
          "description": "Cross-service attributes for the location. For example {\"cloud.googleapis.com/region\": \"us-east1\"}",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "displayName": {
          "description": "The friendly name for this location, typically a nearby city name. For example, \"Tokyo\".",
          "type": "string"
        }
      }
    },
    "SapDiscoveryComponentApplicationProperties": {
      "description": "A set of properties describing an SAP Application layer.",
      "properties": {
        "applicationType": {
          "description": "Required. Type of the application. Netweaver, etc.",
          "enum": [
            "APPLICATION_TYPE_UNSPECIFIED",
            "NETWEAVER",
            "NETWEAVER_ABAP",
            "NETWEAVER_JAVA"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified application type",
            "SAP Netweaver",
            "SAP Netweaver ABAP",
            "SAP Netweaver Java"
          ]
        },
        "appInstanceNumber": {
          "description": "Optional. Instance number of the SAP application instance.",
          "type": "string"
        },
        "ascsUri": {
          "description": "Optional. Resource URI of the recognized ASCS host of the application.",
          "type": "string"
        },
        "ascsInstanceNumber": {
          "description": "Optional. Instance number of the ASCS instance.",
          "type": "string"
        },
        "kernelVersion": {
          "description": "Optional. Kernel version for Netweaver running in the system.",
          "type": "string"
        },
        "abap": {
          "description": "Optional. Deprecated: ApplicationType now tells you whether this is ABAP or Java.",
          "deprecated": true,
          "type": "boolean"
        },
        "ersInstanceNumber": {
          "description": "Optional. Instance number of the ERS instance.",
          "type": "string"
        },
        "nfsUri": {
          "description": "Optional. Resource URI of the recognized shared NFS of the application. May be empty if the application server has only a single node.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryComponentApplicationProperties",
      "type": "object"
    },
    "RuleOutput": {
      "description": "The rule output of the violation.",
      "properties": {
        "message": {
          "description": "Output only. The message generated by rule.",
          "readOnly": true,
          "type": "string"
        },
        "details": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. Violation details generated by rule."
        }
      },
      "id": "RuleOutput",
      "type": "object"
    },
    "Actuation": {
      "description": "The Actuation object represents the bootstrap state and output results of deployed infrastructure and software.",
      "properties": {
        "name": {
          "description": "The name of actuation resource. The format is projects/{project}/locations/{location}/deployments/{deployment}/actuations/{actuation}",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] End time stamp"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "state unspecified",
            "creating infrastructure in backend (terraform applying)",
            "success",
            "failed either in infra creating, post infra configuring or infra destroying",
            "configure workload after infrastructure is ready (ansible running)",
            "destroying infrastructure in backend (terraform destroying)",
            "ansible is timeout due to losing heartbeat in post infra configuring"
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "INFRA_CREATING",
            "SUCCEEDED",
            "FAILED",
            "POST_INFRA_CONFIGURING",
            "INFRA_DESTROYING",
            "TIMEOUT"
          ],
          "description": "Output only. [Output only] Actuation state"
        },
        "actuationOutput": {
          "description": "Output only. [Output only] Actuation output",
          "readOnly": true,
          "$ref": "ActuationOutput"
        },
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Start time stamp"
        },
        "deploymentOutput": {
          "readOnly": true,
          "type": "array",
          "description": "Output only. [Output only] Deployment output",
          "items": {
            "$ref": "DeploymentOutput"
          }
        }
      },
      "id": "Actuation",
      "type": "object"
    },
    "UpcomingMaintenanceEvent": {
      "id": "UpcomingMaintenanceEvent",
      "type": "object",
      "description": "Maintenance Event",
      "properties": {
        "startTime": {
          "description": "Optional. Start time",
          "type": "string",
          "format": "google-datetime"
        },
        "endTime": {
          "description": "Optional. End time",
          "type": "string",
          "format": "google-datetime"
        },
        "type": {
          "description": "Optional. Type",
          "type": "string"
        },
        "onHostMaintenance": {
          "description": "Optional. Instance maintenance behavior. Could be `MIGRATE` or `TERMINATE`.",
          "type": "string"
        },
        "maintenanceStatus": {
          "description": "Optional. Maintenance status",
          "type": "string"
        }
      }
    },
    "WorkloadProfile": {
      "id": "WorkloadProfile",
      "type": "object",
      "description": "Workload resource.",
      "properties": {
        "refreshedTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. time when the workload data was refreshed"
        },
        "name": {
          "description": "Identifier. name of resource names have the form 'projects/{project_id}/locations/{location}/workloadProfiles/{workload_id}'",
          "type": "string"
        },
        "sapWorkload": {
          "description": "The sap workload content",
          "$ref": "SapWorkload"
        },
        "labels": {
          "description": "Optional. such as name, description, version. More example can be found in deployment",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "workloadType": {
          "description": "Required. The type of the workload",
          "type": "string",
          "enumDescriptions": [
            "unspecified workload type",
            "running sap workload s4/hana"
          ],
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "S4_HANA"
          ]
        }
      }
    },
    "BigQueryDestination": {
      "description": "BigQuery destination for evaluation results.",
      "properties": {
        "destinationDataset": {
          "description": "Optional. Destination dataset to save evaluation results.",
          "type": "string"
        },
        "createNewResultsTable": {
          "description": "Optional. Determines if a new results table will be created when an Execution is created.",
          "type": "boolean"
        }
      },
      "id": "BigQueryDestination",
      "type": "object"
    },
    "OpenShiftValidation": {
      "id": "OpenShiftValidation",
      "type": "object",
      "description": "A presentation of OpenShift workload insight. The schema of OpenShift workloads validation related data.",
      "properties": {
        "clusterId": {
          "description": "Required. The OpenShift cluster ID (e.g. 8371bb05-7cac-4d38-82c0-0f58c4f6f936).",
          "type": "string"
        },
        "validationDetails": {
          "description": "Required. The validation details of the OpenShift cluster in JSON format.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object."
          }
        }
      }
    },
    "Execution": {
      "description": "Execution that represents a single run of an Evaluation.",
      "properties": {
        "runType": {
          "description": "Type which represents whether the execution executed directly by user or scheduled according to the `Evaluation.schedule` field.",
          "enum": [
            "TYPE_UNSPECIFIED",
            "ONE_TIME",
            "SCHEDULED"
          ],
          "type": "string",
          "enumDescriptions": [
            "Type of execution is unspecified.",
            "Type of execution is one time.",
            "Type of execution is scheduled."
          ]
        },
        "labels": {
          "description": "Labels as key value pairs.",
          "additionalProperties": {
            "type": "string"
          },
          "type": "object"
        },
        "evaluationId": {
          "description": "Output only. [Output only] Evaluation ID.",
          "readOnly": true,
          "type": "string"
        },
        "resultSummary": {
          "readOnly": true,
          "$ref": "Summary",
          "description": "Output only. [Output only] Result summary for the execution."
        },
        "externalDataSources": {
          "description": "Optional. External data sources.",
          "items": {
            "$ref": "ExternalDataSources"
          },
          "type": "array"
        },
        "startTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] Start time stamp."
        },
        "inventoryTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Inventory time stamp."
        },
        "notices": {
          "description": "Output only. Additional information generated by the execution.",
          "items": {
            "$ref": "Notice"
          },
          "type": "array",
          "readOnly": true
        },
        "engine": {
          "description": "Optional. Engine.",
          "type": "string",
          "enumDescriptions": [
            "The original CG.",
            "SlimCG / Scanner.",
            "Evaluation Engine V2."
          ],
          "enum": [
            "ENGINE_UNSPECIFIED",
            "ENGINE_SCANNER",
            "V2"
          ]
        },
        "name": {
          "description": "The name of execution resource. The format is projects/{project}/locations/{location}/evaluations/{evaluation}/executions/{execution}.",
          "type": "string"
        },
        "endTime": {
          "readOnly": true,
          "type": "string",
          "format": "google-datetime",
          "description": "Output only. [Output only] End time stamp."
        },
        "ruleResults": {
          "description": "Output only. Execution result summary per rule.",
          "items": {
            "$ref": "RuleExecutionResult"
          },
          "type": "array",
          "readOnly": true
        },
        "state": {
          "description": "Output only. [Output only] State.",
          "type": "string",
          "enumDescriptions": [
            "State of execution is unspecified.",
            "The execution is running in backend service.",
            "The execution run succeeded.",
            "The execution run failed."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "RUNNING",
            "SUCCEEDED",
            "FAILED"
          ]
        }
      },
      "id": "Execution",
      "type": "object"
    },
    "Rule": {
      "description": "A rule to be evaluated.",
      "properties": {
        "tags": {
          "description": "List of user-defined tags.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "errorMessage": {
          "description": "The message template for rule.",
          "type": "string"
        },
        "description": {
          "description": "Describe rule in plain language.",
          "type": "string"
        },
        "secondaryCategory": {
          "description": "The secondary category.",
          "type": "string"
        },
        "uri": {
          "description": "The document url for the rule.",
          "type": "string"
        },
        "displayName": {
          "description": "The name display in UI.",
          "type": "string"
        },
        "ruleType": {
          "enum": [
            "RULE_TYPE_UNSPECIFIED",
            "BASELINE",
            "CUSTOM"
          ],
          "type": "string",
          "enumDescriptions": [
            "Not specified.",
            "Baseline rules.",
            "Custom rules."
          ],
          "description": "The type of the rule."
        },
        "revisionId": {
          "description": "Output only. The version of the rule.",
          "type": "string",
          "readOnly": true
        },
        "assetType": {
          "description": "The CAI asset type of the rule is evaluating, for joined asset types, it will be the corresponding primary asset types.",
          "type": "string"
        },
        "name": {
          "description": "Rule name.",
          "type": "string"
        },
        "remediation": {
          "description": "The remediation for the rule.",
          "type": "string"
        },
        "primaryCategory": {
          "description": "The primary category.",
          "type": "string"
        },
        "severity": {
          "description": "The severity of the rule.",
          "type": "string"
        }
      },
      "id": "Rule",
      "type": "object"
    },
    "SapDiscoveryComponentDatabaseProperties": {
      "description": "A set of properties describing an SAP Database layer.",
      "properties": {
        "primaryInstanceUri": {
          "description": "Required. URI of the recognized primary instance of the database.",
          "type": "string"
        },
        "databaseType": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified database type.",
            "SAP HANA",
            "SAP MAX_DB",
            "IBM DB2",
            "Oracle Database",
            "Microsoft SQL Server",
            "SAP Sybase ASE"
          ],
          "enum": [
            "DATABASE_TYPE_UNSPECIFIED",
            "HANA",
            "MAX_DB",
            "DB2",
            "ORACLE",
            "SQLSERVER",
            "ASE"
          ],
          "description": "Required. Type of the database. HANA, DB2, etc."
        },
        "databaseSid": {
          "description": "Optional. SID of the system database.",
          "type": "string"
        },
        "databaseVersion": {
          "description": "Optional. The version of the database software running in the system.",
          "type": "string"
        },
        "instanceNumber": {
          "description": "Optional. Instance number of the SAP instance.",
          "type": "string"
        },
        "sharedNfsUri": {
          "description": "Optional. URI of the recognized shared NFS of the database. May be empty if the database has only a single node.",
          "type": "string"
        },
        "landscapeId": {
          "description": "Optional. Landscape ID from the HANA nameserver.",
          "type": "string"
        }
      },
      "id": "SapDiscoveryComponentDatabaseProperties",
      "type": "object"
    },
    "SqlServerWorkload": {
      "description": "Message for MS SQL workload",
      "properties": {
        "isSqlPayg": {
          "description": "Required. SQL licensing type",
          "type": "boolean"
        },
        "computeEngineServiceAccount": {
          "description": "Compute engine service account - let customers bring their own SA for Compute engine",
          "type": "string"
        },
        "activeDirectory": {
          "description": "Required. active directory details",
          "$ref": "ActiveDirectory"
        },
        "operatingSystemType": {
          "enum": [
            "OPERATING_SYSTEM_TYPE_UNSPECIFIED",
            "WINDOWS",
            "UBUNTU",
            "RED_HAT_ENTERPRISE_LINUX",
            "SUSE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified operating system type",
            "Windows operating system type",
            "Ubuntu operating system type",
            "Red Hat Enterprise Linux operating system type",
            "Suse operating system type"
          ],
          "description": "Required. type of the operating system the SQL server is going to run on top of"
        },
        "database": {
          "description": "Required. database details",
          "$ref": "Database"
        },
        "sqlServerVersion": {
          "description": "Optional. 2017 or 2019 or 2022",
          "enum": [
            "SQL_SERVER_VERSION_TYPE_UNSPECIFIED",
            "SQL_SERVER_VERSION_TYPE_2017",
            "SQL_SERVER_VERSION_TYPE_2019",
            "SQL_SERVER_VERSION_TYPE_2022"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type",
            "2017 type",
            "2019 type",
            "2022 type"
          ]
        },
        "pacemaker": {
          "description": "Optional. pacemaker configuration, only applicable for Linux HA deployments",
          "$ref": "Pacemaker"
        },
        "deploymentModel": {
          "description": "Required. HIGH_AVAILABILITY or SINGLE_INSTANCE",
          "type": "string",
          "enumDescriptions": [
            "Unspecified deployment model",
            "High Availability deployment model",
            "Single Instance deployment model"
          ],
          "enum": [
            "DEPLOYMENT_MODEL_UNSPECIFIED",
            "HIGH_AVAILABILITY",
            "SINGLE_INSTANCE"
          ]
        },
        "location": {
          "$ref": "SqlLocationDetails",
          "description": "Required. location details"
        },
        "environmentType": {
          "enum": [
            "ENVIRONMENT_TYPE_UNSPECIFIED",
            "NON_PRODUCTION",
            "PRODUCTION"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified environment type",
            "Non-production environment type",
            "Production environment type"
          ],
          "description": "Required. deployment environment"
        },
        "mediaBucket": {
          "description": "Required. name of the media storing SQL server installation files",
          "type": "string"
        },
        "fciType": {
          "description": "Optional. SHARED_DISK or S2D",
          "enum": [
            "FCI_TYPE_UNSPECIFIED",
            "SHARED_DISK",
            "S2D"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified FCI type",
            "SHARED DISK FCI type",
            "S2D FCI type"
          ]
        },
        "sqlServerEdition": {
          "description": "Optional. SQL Server Edition type, only applicable when Operating System is Linux",
          "enum": [
            "SQL_SERVER_EDITION_TYPE_UNSPECIFIED",
            "SQL_SERVER_EDITION_TYPE_DEVELOPER",
            "SQL_SERVER_EDITION_TYPE_ENTERPRISE",
            "SQL_SERVER_EDITION_TYPE_STANDARD",
            "SQL_SERVER_EDITION_TYPE_WEB"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified type",
            "Developer type",
            "Enterprise type",
            "Standard type",
            "Web type"
          ]
        },
        "vmPrefix": {
          "description": "Required. should be unique in the project",
          "type": "string"
        },
        "osImage": {
          "description": "Required. the image of the operating system",
          "type": "string"
        },
        "osImageType": {
          "description": "Optional. OS image type, it's used to create boot disks for VM instances When either Windows licensing type or SQL licensing type is BYOL, this option is disabled and default to custom image",
          "type": "string",
          "enumDescriptions": [
            "Unspecified OS image type",
            "Public image",
            "Custom image"
          ],
          "enum": [
            "OS_IMAGE_TYPE_UNSPECIFIED",
            "PUBLIC_IMAGE",
            "CUSTOM_IMAGE"
          ]
        },
        "haType": {
          "enum": [
            "HA_TYPE_UNSPECIFIED",
            "AOAG",
            "FCI"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified HA type",
            "AOAG HA type",
            "FCI HA type"
          ],
          "description": "Optional. AOAG or FCI, it is only needed for High Availability deployment mode"
        }
      },
      "id": "SqlServerWorkload",
      "type": "object"
    },
    "Deployment": {
      "id": "Deployment",
      "type": "object",
      "description": "The Deployment object represents user intent for deploying a specific type of workload.",
      "properties": {
        "description": {
          "description": "Description of the Deployment",
          "type": "string"
        },
        "updateTime": {
          "type": "string",
          "format": "google-datetime",
          "readOnly": true,
          "description": "Output only. [Output only] Update time stamp"
        },
        "serviceAccount": {
          "description": "User-specified Service Account (SA) credentials to be used for cloud build Format: `projects/{projectID}/serviceAccounts/{serviceAccount}` The default Cloud Build SA will be used initially if this field is not set during deployment creation",
          "type": "string"
        },
        "workerPool": {
          "description": "Optional. The user-specified Cloud Build worker pool resource in which the Cloud Build job will execute. Format: `projects/{project}/locations/{location}/workerPools/{workerPoolId}`. If this field is unspecified, the default Cloud Build worker pool will be used.",
          "type": "string"
        },
        "sqlServerWorkload": {
          "description": "MS SQL workload input",
          "$ref": "SqlServerWorkload"
        },
        "createTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        },
        "sapSystemS4Config": {
          "description": "SAP system workload input",
          "$ref": "SapSystemS4Config"
        },
        "workloadType": {
          "enum": [
            "WORKLOAD_TYPE_UNSPECIFIED",
            "SAP_S4",
            "SQL_SERVER",
            "ORACLE"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified workload type",
            "SAP S/4HANA workload type",
            "SQL Server workload type",
            "Oracle workload type"
          ],
          "description": "Optional. Workload type of the deployment"
        },
        "terraformVariables": {
          "description": "Optional. terraform_variables represents all the Terraform variables for the deployment workload. The key is the name of the Terraform variable, and the value is the TerraformVariable. For example: { \"project_id\": { \"input_value\": { \"string_value\": \"my-project-id\" } }, \"zone\": { \"input_value\": { \"string_value\": \"us-central1-a\" } } }",
          "additionalProperties": {
            "$ref": "TerraformVariable"
          },
          "type": "object"
        },
        "name": {
          "description": "The name of deployment resource. The format will be 'projects/{project_id}/locations/{location_id}/deployments/{deployment_id}'",
          "type": "string"
        },
        "state": {
          "type": "string",
          "enumDescriptions": [
            "The default value. This value is used if the state is omitted.",
            "The deployment is being created.",
            "The deployment is healthy.",
            "The deployment is being updated.",
            "The deployment is being deleted.",
            "The deployment has encountered an unexpected error."
          ],
          "readOnly": true,
          "enum": [
            "STATE_UNSPECIFIED",
            "CREATING",
            "ACTIVE",
            "UPDATING",
            "DELETING",
            "FAILED"
          ],
          "description": "Output only. Current state of the deployment."
        }
      }
    },
    "SapDiscoveryResourceInstancePropertiesDiskMount": {
      "id": "SapDiscoveryResourceInstancePropertiesDiskMount",
      "type": "object",
      "description": "Disk mount on the instance.",
      "properties": {
        "name": {
          "description": "Optional. Name of the disk.",
          "type": "string"
        },
        "mountPoint": {
          "description": "Optional. Filesystem mount point.",
          "type": "string"
        },
        "diskNames": {
          "description": "Optional. Names of the disks providing this mount point.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      }
    },
    "SapWorkload": {
      "id": "SapWorkload",
      "type": "object",
      "description": "The body of sap workload",
      "properties": {
        "products": {
          "description": "Output only. The products on this workload.",
          "items": {
            "$ref": "Product"
          },
          "type": "array",
          "readOnly": true
        },
        "architecture": {
          "description": "Output only. The architecture.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified architecture.",
            "Invaliad architecture.",
            "A centralized system.",
            "A distributed system.",
            "A distributed with HA system.",
            "A standalone database system.",
            "A standalone database with HA system."
          ],
          "readOnly": true,
          "enum": [
            "ARCHITECTURE_UNSPECIFIED",
            "INVALID",
            "CENTRALIZED",
            "DISTRIBUTED",
            "DISTRIBUTED_HA",
            "STANDALONE_DATABASE",
            "STANDALONE_DATABASE_HA"
          ]
        },
        "application": {
          "readOnly": true,
          "$ref": "SapComponent",
          "description": "Output only. application component"
        },
        "metadata": {
          "readOnly": true,
          "additionalProperties": {
            "type": "string"
          },
          "type": "object",
          "description": "Output only. The metadata for SAP workload."
        },
        "database": {
          "readOnly": true,
          "$ref": "SapComponent",
          "description": "Output only. database component"
        }
      }
    },
    "ExternalDataSources": {
      "id": "ExternalDataSources",
      "type": "object",
      "description": "External data sources for an execution.",
      "properties": {
        "assetType": {
          "description": "Required. The asset type of the external data source. This can be a supported Cloud Asset Inventory asset type (see https://cloud.google.com/asset-inventory/docs/supported-asset-types) to override the default asset type, or it can be a custom type defined by the user.",
          "type": "string"
        },
        "uri": {
          "description": "Required. URI of external data source. example of bq table {project_ID}.{dataset_ID}.{table_ID}.",
          "type": "string"
        },
        "name": {
          "description": "Optional. Name of external data source. The name will be used inside the rego/sql to refer the external data.",
          "type": "string"
        },
        "type": {
          "type": "string",
          "enumDescriptions": [
            "Unknown type.",
            "BigQuery table."
          ],
          "enum": [
            "TYPE_UNSPECIFIED",
            "BIG_QUERY_TABLE"
          ],
          "description": "Required. Type of external data source."
        }
      }
    },
    "Insight": {
      "id": "Insight",
      "type": "object",
      "description": "A presentation of host resource usage where the workload runs.",
      "properties": {
        "sapValidation": {
          "description": "The insights data for the SAP workload validation.",
          "$ref": "SapValidation"
        },
        "sapDiscovery": {
          "$ref": "SapDiscovery",
          "description": "The insights data for SAP system discovery. This is a copy of SAP System proto and should get updated whenever that one changes."
        },
        "agentStatus": {
          "$ref": "AgentStatus",
          "description": "The insights data for the agent status."
        },
        "torsoValidation": {
          "description": "The insights data for workload validation of torso workloads.",
          "$ref": "TorsoValidation"
        },
        "instanceId": {
          "description": "Optional. The instance id where the insight is generated from",
          "type": "string"
        },
        "sqlserverValidation": {
          "$ref": "SqlserverValidation",
          "description": "The insights data for the sqlserver workload validation."
        },
        "openShiftValidation": {
          "$ref": "OpenShiftValidation",
          "description": "The insights data for the OpenShift workload validation."
        },
        "sentTime": {
          "description": "Output only. [Output only] Create time stamp",
          "readOnly": true,
          "type": "string",
          "format": "google-datetime"
        }
      }
    },
    "SapInstanceProperties": {
      "id": "SapInstanceProperties",
      "type": "object",
      "description": "SAP instance properties.",
      "properties": {
        "numbers": {
          "description": "Optional. SAP Instance numbers. They are from '00' to '99'.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "agentStates": {
          "$ref": "AgentStates",
          "description": "Optional. Sap Instance Agent status."
        }
      }
    },
    "ListEvaluationsResponse": {
      "id": "ListEvaluationsResponse",
      "type": "object",
      "description": "Response message for the ListEvaluations RPC.",
      "properties": {
        "nextPageToken": {
          "description": "A token identifying a page of results the server should return.",
          "type": "string"
        },
        "unreachable": {
          "type": "array",
          "description": "Locations that could not be reached.",
          "items": {
            "type": "string"
          }
        },
        "evaluations": {
          "type": "array",
          "description": "The list of evaluations.",
          "items": {
            "$ref": "Evaluation"
          }
        }
      }
    },
    "GceInstanceFilter": {
      "id": "GceInstanceFilter",
      "type": "object",
      "description": "A filter for matching Compute Engine instances.",
      "properties": {
        "serviceAccounts": {
          "type": "array",
          "description": "If non-empty, only Compute Engine instances associated with at least one of the provided service accounts will be included in the evaluation.",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "This resource represents a long-running operation that is the result of a network API call.",
      "properties": {
        "metadata": {
          "description": "Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.",
          "type": "object",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          }
        },
        "response": {
          "description": "The normal, successful response of the operation. If the original method returns no data on success, such as `Delete`, the response is `google.protobuf.Empty`. If the original method is standard `Get`/`Create`/`Update`, the response should be the resource. For other methods, the response should have the type `XxxResponse`, where `Xxx` is the original method name. For example, if the original method name is `TakeSnapshot()`, the inferred response type is `TakeSnapshotResponse`.",
          "additionalProperties": {
            "type": "any",
            "description": "Properties of the object. Contains field @type with type URL."
          },
          "type": "object"
        },
        "name": {
[...]
