{
  "protocol": "rest",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "canonicalName": "YouTube",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        }
      }
    }
  },
  "parameters": {
    "quotaUser": {
      "location": "query",
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters."
    },
    "uploadType": {
      "location": "query",
      "type": "string",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "oauth_token": {
      "type": "string",
      "description": "OAuth 2.0 token for the current user.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "type": "string",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "prettyPrint": {
      "description": "Returns response with indentations and line breaks.",
      "type": "boolean",
      "default": "true",
      "location": "query"
    },
    "alt": {
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "type": "string",
      "default": "json",
      "description": "Data format for response."
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "type": "string",
      "location": "query"
    },
    "fields": {
      "location": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "type": "string",
      "location": "query"
    },
    "callback": {
      "description": "JSONP",
      "type": "string",
      "location": "query"
    },
    "access_token": {
      "type": "string",
      "description": "OAuth access token.",
      "location": "query"
    }
  },
  "version": "v3",
  "baseUrl": "https://youtube.googleapis.com/",
  "discoveryVersion": "v1",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "batchPath": "batch",
  "basePath": "",
  "ownerName": "Google",
  "name": "youtube",
  "servicePath": "",
  "schemas": {
    "PlaylistImageListResponse": {
      "id": "PlaylistImageListResponse",
      "type": "object",
      "properties": {
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "PlaylistImage"
          }
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "default": "youtube#playlistImageListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImageListResponse\"."
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        }
      }
    },
    "ChannelSectionSnippet": {
      "type": "object",
      "description": "Basic details about a channel section, including title, style and position.",
      "properties": {
        "defaultLanguage": {
          "description": "The language of the channel section's default title and description.",
          "deprecated": true,
          "type": "string"
        },
        "localized": {
          "description": "Localized title, read-only.",
          "deprecated": true,
          "$ref": "ChannelSectionLocalization"
        },
        "type": {
          "description": "The type of the channel section.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "channelsectionTypeUndefined",
            "singlePlaylist",
            "multiplePlaylists",
            "popularUploads",
            "recentUploads",
            "likes",
            "allPlaylists",
            "likedPlaylists",
            "recentPosts",
            "recentActivity",
            "liveEvents",
            "upcomingEvents",
            "completedEvents",
            "multipleChannels",
            "postedVideos",
            "postedPlaylists",
            "subscriptions"
          ],
          "enumDeprecated": [
            false,
            false,
            false,
            false,
            false,
            true,
            false,
            true,
            true,
            true,
            false,
            false,
            false,
            false,
            true,
            true,
            false
          ]
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that published the channel section."
        },
        "position": {
          "type": "integer",
          "description": "The position of the channel section in the channel.",
          "format": "uint32"
        },
        "style": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "channelsectionStyleUnspecified",
            "horizontalRow",
            "verticalList"
          ],
          "type": "string",
          "description": "The style of the channel section.",
          "deprecated": true
        },
        "title": {
          "description": "The channel section's title for multiple_playlists and multiple_channels.",
          "type": "string"
        }
      },
      "id": "ChannelSectionSnippet"
    },
    "AbuseType": {
      "properties": {
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "AbuseType"
    },
    "VideoTopicDetails": {
      "type": "object",
      "description": "Freebase topic information related to the video.",
      "properties": {
        "relevantTopicIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Similar to topic_id, except that these topics are merely relevant to the video. These are topics that may be mentioned in, or appear in the video. You can retrieve information about each topic using Freebase Topic API."
        },
        "topicIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Freebase topic IDs that are centrally associated with the video. These are topics that are centrally featured in the video, and it can be said that the video is mainly about each of these. You can retrieve information about each topic using the < a href=\"http://wiki.freebase.com/wiki/Topic_API\">Freebase Topic API."
        },
        "topicCategories": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Wikipedia URLs that provide a high-level description of the video's content."
        }
      },
      "id": "VideoTopicDetails"
    },
    "VideoProcessingDetailsProcessingProgress": {
      "id": "VideoProcessingDetailsProcessingProgress",
      "type": "object",
      "description": "Video processing progress and completion time estimate.",
      "properties": {
        "partsProcessed": {
          "format": "uint64",
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video.",
          "type": "string"
        },
        "timeLeftMs": {
          "type": "string",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video.",
          "format": "uint64"
        },
        "partsTotal": {
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "IngestionInfo": {
      "description": "Describes information necessary for ingesting an RTMP, HTTP, or SRT stream.",
      "properties": {
        "ingestionAddress": {
          "type": "string",
          "description": "The primary ingestion URL that you should use to stream video to YouTube. You must stream video to this URL. Depending on which application or tool you use to encode your video stream, you may need to enter the stream URL and stream name separately or you may need to concatenate them in the following format: *STREAM_URL/STREAM_NAME* "
        },
        "streamName": {
          "type": "string",
          "description": "The stream name that YouTube assigns to the video stream."
        },
        "rtmpsIngestionAddress": {
          "description": "This ingestion url may be used instead of ingestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams.",
          "type": "string"
        },
        "backupIngestionAddress": {
          "type": "string",
          "description": "The backup ingestion URL that you should use to stream video to YouTube. You have the option of simultaneously streaming the content that you are sending to the ingestionAddress to this URL."
        },
        "rtmpsBackupIngestionAddress": {
          "type": "string",
          "description": "This ingestion url may be used instead of backupIngestionAddress in order to stream via RTMPS. Not applicable to non-RTMP streams."
        }
      },
      "type": "object",
      "id": "IngestionInfo"
    },
    "VideoAbuseReportReasonSnippet": {
      "id": "VideoAbuseReportReasonSnippet",
      "type": "object",
      "description": "Basic details about a video category, such as its localized title.",
      "properties": {
        "label": {
          "description": "The localized label belonging to this abuse report reason.",
          "type": "string"
        },
        "secondaryReasons": {
          "description": "The secondary reasons associated with this reason, if any are available. (There might be 0 or more.)",
          "type": "array",
          "items": {
            "$ref": "VideoAbuseReportSecondaryReason"
          }
        }
      }
    },
    "PlaylistImage": {
      "type": "object",
      "properties": {
        "snippet": {
          "$ref": "PlaylistImageSnippet"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistImages\".",
          "default": "youtube#playlistImage",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "Identifies this resource (playlist id and image type)."
        }
      },
      "id": "PlaylistImage"
    },
    "PlaylistListResponse": {
      "id": "PlaylistListResponse",
      "type": "object",
      "properties": {
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Playlist"
          },
          "description": "A list of playlists that match the request criteria"
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "kind": {
          "default": "youtube#playlistListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlistListResponse\"."
        },
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        }
      }
    },
    "VideoRating": {
      "description": "Basic details about rating of a video.",
      "properties": {
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video."
        },
        "rating": {
          "description": "Rating of a video.",
          "enumDescriptions": [
            "",
            "The entity is liked.",
            "The entity is disliked."
          ],
          "enum": [
            "none",
            "like",
            "dislike"
          ],
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoRating"
    },
    "LiveChatModeratorSnippet": {
      "type": "object",
      "properties": {
        "liveChatId": {
          "type": "string",
          "description": "The ID of the live chat this moderator can act on."
        },
        "moderatorDetails": {
          "description": "Details about the moderator.",
          "$ref": "ChannelProfileDetails"
        }
      },
      "id": "LiveChatModeratorSnippet"
    },
    "ChannelBrandingSettings": {
      "type": "object",
      "description": "Branding properties of a YouTube channel.",
      "properties": {
        "channel": {
          "description": "Branding properties for the channel view.",
          "$ref": "ChannelSettings"
        },
        "image": {
          "description": "Branding properties for branding images.",
          "$ref": "ImageSettings"
        },
        "watch": {
          "$ref": "WatchSettings",
          "description": "Branding properties for the watch page.",
          "deprecated": true
        },
        "hints": {
          "type": "array",
          "items": {
            "$ref": "PropertyValue"
          },
          "description": "Additional experimental branding properties.",
          "deprecated": true
        }
      },
      "id": "ChannelBrandingSettings"
    },
    "LanguageTag": {
      "type": "object",
      "properties": {
        "value": {
          "type": "string"
        }
      },
      "id": "LanguageTag"
    },
    "CommentListResponse": {
      "id": "CommentListResponse",
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentListResponse\".",
          "default": "youtube#commentListResponse",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "description": "A list of comments that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "Comment"
          }
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoSnippet": {
      "id": "VideoSnippet",
      "description": "Basic details about a video, including title, description, uploader, thumbnails and category.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The video's description. @mutable youtube.videos.insert youtube.videos.update"
        },
        "defaultAudioLanguage": {
          "type": "string",
          "description": "The default_audio_language property specifies the language spoken in the video's default audio track."
        },
        "defaultLanguage": {
          "description": "The language of the videos's default snippet.",
          "type": "string"
        },
        "localized": {
          "description": "Localized snippet selected with the hl parameter. If no such localization exists, this field is populated with the default snippet. (Read-only)",
          "$ref": "VideoLocalization"
        },
        "channelTitle": {
          "type": "string",
          "description": "Channel title for the channel that the video belongs to."
        },
        "tags": {
          "description": "A list of keyword tags associated with the video. Tags may contain spaces.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "categoryId": {
          "type": "string",
          "description": "The YouTube video category associated with the video."
        },
        "liveBroadcastContent": {
          "description": "Indicates if the video is an upcoming/active live broadcast. Or it's \"none\" if the video is not an upcoming/active live broadcast.",
          "enumDescriptions": [
            "",
            "The live broadcast is upcoming.",
            "The live broadcast is active.",
            "The live broadcast has been completed."
          ],
          "enum": [
            "none",
            "upcoming",
            "live",
            "completed"
          ],
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that the video was uploaded to."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "publishedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time when the video was uploaded."
        },
        "title": {
          "description": "The video's title. @mutable youtube.videos.insert youtube.videos.update",
          "type": "string"
        }
      },
      "type": "object"
    },
    "SuperStickerMetadata": {
      "properties": {
        "stickerId": {
          "type": "string",
          "description": "Unique identifier of the Super Sticker. This is a shorter form of the alt_text that includes pack name and a recognizable characteristic of the sticker."
        },
        "altText": {
          "description": "Internationalized alt text that describes the sticker image and any animation associated with it.",
          "type": "string"
        },
        "altTextLanguage": {
          "type": "string",
          "description": "Specifies the localization language in which the alt text is returned."
        }
      },
      "type": "object",
      "id": "SuperStickerMetadata"
    },
    "Video": {
      "description": "A *video* resource represents a YouTube video.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#video\".",
          "default": "youtube#video",
          "type": "string"
        },
        "statistics": {
          "description": "The statistics object contains statistics about the video.",
          "$ref": "VideoStatistics"
        },
        "paidProductPlacementDetails": {
          "$ref": "VideoPaidProductPlacementDetails"
        },
        "projectDetails": {
          "description": "The projectDetails object contains information about the project specific video metadata. b/157517979: This part was never populated after it was added. However, it sees non-zero traffic because there is generated client code in the wild that refers to it [1]. We keep this field and do NOT remove it because otherwise V3 would return an error when this part gets requested [2]. [1] https://developers.google.com/resources/api-libraries/documentation/youtube/v3/csharp/latest/classGoogle_1_1Apis_1_1YouTube_1_1v3_1_1Data_1_1VideoProjectDetails.html [2] http://google3/video/youtube/src/python/servers/data_api/common.py?l=1565-1569&rcl=344141677",
          "deprecated": true,
          "$ref": "VideoProjectDetails"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the video content, including the length of the video and its aspect ratio.",
          "$ref": "VideoContentDetails"
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "VideoLocalization"
          },
          "description": "The localizations object contains localized versions of the basic details about the video, such as its title and description.",
          "type": "object"
        },
        "ageGating": {
          "description": "Age restriction details related to a video. This data can only be retrieved by the video owner.",
          "$ref": "VideoAgeGating"
        },
        "snippet": {
          "description": "The snippet object contains basic details about the video, such as its title, description, and category.",
          "$ref": "VideoSnippet"
        },
        "monetizationDetails": {
          "$ref": "VideoMonetizationDetails",
          "description": "The monetizationDetails object encapsulates information about the monetization status of the video."
        },
        "suggestions": {
          "description": "The suggestions object encapsulates suggestions that identify opportunities to improve the video quality or the metadata for the uploaded video. This data can only be retrieved by the video owner.",
          "$ref": "VideoSuggestions"
        },
        "player": {
          "description": "The player object contains information that you would use to play the video in an embedded player.",
          "$ref": "VideoPlayer"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "processingDetails": {
          "$ref": "VideoProcessingDetails",
          "description": "The processingDetails object encapsulates information about YouTube's progress in processing the uploaded video file. The properties in the object identify the current processing status and an estimate of the time remaining until YouTube finishes processing the video. This part also indicates whether different types of data or content, such as file details or thumbnail images, are available for the video. The processingProgress object is designed to be polled so that the video uploaded can track the progress that YouTube has made in processing the uploaded video file. This data can only be retrieved by the video owner."
        },
        "id": {
          "annotations": {
            "required": [
              "youtube.videos.update"
            ]
          },
          "description": "The ID that YouTube uses to uniquely identify the video.",
          "type": "string"
        },
        "status": {
          "description": "The status object contains information about the video's uploading, processing, and privacy statuses.",
          "$ref": "VideoStatus"
        },
        "recordingDetails": {
          "description": "The recordingDetails object encapsulates information about the location, date and address where the video was recorded.",
          "$ref": "VideoRecordingDetails"
        },
        "liveStreamingDetails": {
          "$ref": "VideoLiveStreamingDetails",
          "description": "The liveStreamingDetails object contains metadata about a live video broadcast. The object will only be present in a video resource if the video is an upcoming, live, or completed live broadcast."
        },
        "topicDetails": {
          "$ref": "VideoTopicDetails",
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the video."
        },
        "fileDetails": {
          "$ref": "VideoFileDetails",
          "description": "The fileDetails object encapsulates information about the video file that was uploaded to YouTube, including the file's resolution, duration, audio and video codecs, stream bitrates, and more. This data can only be retrieved by the video owner."
        }
      },
      "type": "object",
      "id": "Video"
    },
    "LiveBroadcastListResponse": {
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveBroadcastListResponse\".",
          "default": "youtube#liveBroadcastListResponse",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "LiveBroadcast"
          },
          "description": "A list of broadcasts that match the request criteria."
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "LiveBroadcastListResponse"
    },
    "LiveBroadcastStatus": {
      "type": "object",
      "description": "Live broadcast state.",
      "properties": {
        "recordingStatus": {
          "description": "The broadcast's recording status.",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "The recording has not yet been started.",
            "The recording is currently on.",
            "The recording is completed, and cannot be started again."
          ],
          "enum": [
            "liveBroadcastRecordingStatusUnspecified",
            "notRecording",
            "recording",
            "recorded"
          ],
          "type": "string"
        },
        "privacyStatus": {
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "description": "The broadcast's privacy status. Note that the broadcast represents exactly one YouTube video, so the privacy settings are identical to those supported for videos. In addition, you can set this field by modifying the broadcast resource or by setting the privacyStatus field of the corresponding video resource.",
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ]
        },
        "liveBroadcastPriority": {
          "description": "Priority of the live broadcast event (internal state).",
          "enumDescriptions": [
            "",
            "Low priority broadcast: for low view count HoAs or other low priority broadcasts.",
            "Normal priority broadcast: for regular HoAs and broadcasts.",
            "High priority broadcast: for high profile HoAs, like PixelCorp ones."
          ],
          "enum": [
            "liveBroadcastPriorityUnspecified",
            "low",
            "normal",
            "high"
          ],
          "type": "string"
        },
        "madeForKids": {
          "description": "Whether the broadcast is made for kids or not, decided by YouTube instead of the creator. This field is read only.",
          "type": "boolean"
        },
        "lifeCycleStatus": {
          "type": "string",
          "description": "The broadcast's status. The status can be updated using the API's liveBroadcasts.transition method.",
          "enumDescriptions": [
            "No value or the value is unknown.",
            "Incomplete settings, but otherwise valid",
            "Complete settings",
            "Visible only to partner, may need special UI treatment",
            "Viper is recording; this means the \"clock\" is running",
            "The broadcast is finished.",
            "This broadcast was removed by admin action",
            "Transition into TESTING has been requested",
            "Transition into LIVE has been requested"
          ],
          "enum": [
            "lifeCycleStatusUnspecified",
            "created",
            "ready",
            "testing",
            "live",
            "complete",
            "revoked",
            "testStarting",
            "liveStarting"
          ]
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean",
          "description": "This field will be set to True if the creator declares the broadcast to be kids only: go/live-cw-work."
        }
      },
      "id": "LiveBroadcastStatus"
    },
    "Entity": {
      "properties": {
        "url": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "typeId": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "Entity"
    },
    "TestItemTestItemSnippet": {
      "id": "TestItemTestItemSnippet",
      "properties": {},
      "type": "object"
    },
    "LiveChatMessage": {
      "id": "LiveChatMessage",
      "type": "object",
      "description": "A *liveChatMessage* resource represents a chat message in a YouTube Live Chat.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "default": "youtube#liveChatMessage",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatMessage\"."
        },
        "id": {
          "description": "The ID that YouTube assigns to uniquely identify the message.",
          "type": "string"
        },
        "authorDetails": {
          "$ref": "LiveChatMessageAuthorDetails",
          "description": "The authorDetails object contains basic details about the user that posted this message."
        },
        "snippet": {
          "$ref": "LiveChatMessageSnippet",
          "description": "The snippet object contains basic details about the message."
        }
      }
    },
    "LiveChatGiftDetails": {
      "id": "LiveChatGiftDetails",
      "description": "Details about the gift event, this is only set if the type is 'giftEvent'.",
      "properties": {
        "language": {
          "type": "string",
          "description": "The BCP-47 language code of the gift."
        },
        "giftDuration": {
          "format": "google-duration",
          "description": "The duration of the gift.",
          "type": "string"
        },
        "altText": {
          "type": "string",
          "description": "The alternative text to be used for accessibility."
        },
        "giftName": {
          "type": "string",
          "description": "The name of the gift."
        },
        "hasVisualEffect": {
          "type": "boolean",
          "description": "Whether the gift involves a visual effect."
        },
        "jewelsAmount": {
          "type": "integer",
          "description": "The value of the gift in jewels.",
          "format": "int32"
        },
        "giftUrl": {
          "type": "string",
          "description": "The URL of the gift image."
        },
        "comboCount": {
          "type": "integer",
          "description": "The number of times the gift has been sent in a row.",
          "format": "int32"
        }
      },
      "type": "object"
    },
    "AccessPolicy": {
      "type": "object",
      "description": "Rights management policy for YouTube resources.",
      "properties": {
        "allowed": {
          "type": "boolean",
          "description": "The value of allowed indicates whether the access to the policy is allowed or denied by default."
        },
        "exception": {
          "description": "A list of region codes that identify countries where the default policy do not apply.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "AccessPolicy"
    },
    "LiveChatMessageRetractedDetails": {
      "id": "LiveChatMessageRetractedDetails",
      "properties": {
        "retractedMessageId": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "SubscriptionSnippet": {
      "description": "Basic details about a subscription, including title, description and thumbnails of the subscribed item.",
      "properties": {
        "description": {
          "description": "The subscription's details.",
          "type": "string"
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the subscription was created.",
          "type": "string"
        },
        "resourceId": {
          "$ref": "ResourceId",
          "description": "The id object contains information about the channel that the user subscribed to.",
          "annotations": {
            "required": [
              "youtube.subscriptions.insert"
            ]
          }
        },
        "title": {
          "description": "The subscription's title.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the subscriber's channel."
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the video. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        }
      },
      "type": "object",
      "id": "SubscriptionSnippet"
    },
    "SuperChatEvent": {
      "id": "SuperChatEvent",
      "description": "A `__superChatEvent__` resource represents a Super Chat purchase on a YouTube channel.",
      "properties": {
        "snippet": {
          "description": "The `snippet` object contains basic details about the Super Chat event.",
          "$ref": "SuperChatEventSnippet"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#superChatEvent\"`.",
          "default": "youtube#superChatEvent",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the Super Chat event."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "type": "object"
    },
    "LevelDetails": {
      "properties": {
        "displayName": {
          "type": "string",
          "description": "The name that should be used when referring to this level."
        }
      },
      "type": "object",
      "id": "LevelDetails"
    },
    "VideoContentDetails": {
      "description": "Details about the content of a YouTube Video.",
      "properties": {
        "licensedContent": {
          "type": "boolean",
          "description": "The value of is_license_content indicates whether the video is licensed content."
        },
        "dimension": {
          "description": "The value of dimension indicates whether the video is available in 3D or in 2D.",
          "type": "string"
        },
        "caption": {
          "type": "string",
          "description": "The value of captions indicates whether the video has captions or not.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "true",
            "false"
          ]
        },
        "contentRating": {
          "$ref": "ContentRating",
          "description": "Specifies the ratings that the video received under various rating schemes."
        },
        "hasCustomThumbnail": {
          "description": "Indicates whether the video uploader has provided a custom thumbnail image for the video. This property is only visible to the video uploader.",
          "type": "boolean"
        },
        "duration": {
          "description": "The length of the video. The tag value is an ISO 8601 duration in the format PT#M#S, in which the letters PT indicate that the value specifies a period of time, and the letters M and S refer to length in minutes and seconds, respectively. The # characters preceding the M and S letters are both integers that specify the number of minutes (or seconds) of the video. For example, a value of PT15M51S indicates that the video is 15 minutes and 51 seconds long.",
          "type": "string"
        },
        "countryRestriction": {
          "description": "The countryRestriction object contains information about the countries where a video is (or is not) viewable.",
          "$ref": "AccessPolicy"
        },
        "projection": {
          "description": "Specifies the projection format of the video.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "rectangular",
            "360"
          ],
          "type": "string"
        },
        "definition": {
          "type": "string",
          "description": "The value of definition indicates whether the video is available in high definition or only in standard definition.",
          "enumDescriptions": [
            "sd",
            "hd"
          ],
          "enum": [
            "sd",
            "hd"
          ]
        },
        "regionRestriction": {
          "$ref": "VideoContentDetailsRegionRestriction",
          "description": "The regionRestriction object contains information about the countries where a video is (or is not) viewable. The object will contain either the contentDetails.regionRestriction.allowed property or the contentDetails.regionRestriction.blocked property.",
          "deprecated": true
        }
      },
      "type": "object",
      "id": "VideoContentDetails"
    },
    "ChannelListResponse": {
      "id": "ChannelListResponse",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\".",
          "default": "youtube#channelListResponse",
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Channel"
          }
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "VideoCategory": {
      "description": "A *videoCategory* resource identifies a category that has been or could be associated with uploaded videos.",
      "properties": {
        "snippet": {
          "$ref": "VideoCategorySnippet",
          "description": "The snippet object contains basic details about the video category, including its title."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoCategory\".",
          "default": "youtube#videoCategory",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the video category."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "type": "object",
      "id": "VideoCategory"
    },
    "SuperChatEventListResponse": {
      "id": "SuperChatEventListResponse",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of Super Chat purchases that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "SuperChatEvent"
          }
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#superChatEventListResponse\".",
          "default": "youtube#superChatEventListResponse",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoListResponse": {
      "id": "VideoListResponse",
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoListResponse\".",
          "default": "youtube#videoListResponse",
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Video"
          }
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "CommentThreadListResponse": {
      "id": "CommentThreadListResponse",
      "type": "object",
      "properties": {
        "nextPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set.",
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#commentThreadListResponse\".",
          "default": "youtube#commentThreadListResponse",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "CommentThread"
          },
          "description": "A list of comment threads that match the request criteria."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        }
      }
    },
    "LiveChatMessageSnippet": {
      "type": "object",
      "description": "Next ID: 35",
      "properties": {
        "hasDisplayContent": {
          "description": "Whether the message has display content that should be displayed to users.",
          "type": "boolean"
        },
        "giftMembershipReceivedDetails": {
          "$ref": "LiveChatGiftMembershipReceivedDetails",
          "description": "Details about the Gift Membership Received event, this is only set if the type is 'giftMembershipReceivedEvent'."
        },
        "publishedAt": {
          "type": "string",
          "description": "The date and time when the message was orignally published.",
          "format": "date-time"
        },
        "liveChatId": {
          "type": "string"
        },
        "membershipGiftingDetails": {
          "description": "Details about the Membership Gifting event, this is only set if the type is 'membershipGiftingEvent'.",
          "$ref": "LiveChatMembershipGiftingDetails"
        },
        "textMessageDetails": {
          "$ref": "LiveChatTextMessageDetails",
          "description": "Details about the text message, this is only set if the type is 'textMessageEvent'."
        },
        "userBannedDetails": {
          "$ref": "LiveChatUserBannedMessageDetails"
        },
        "superChatDetails": {
          "description": "Details about the Super Chat event, this is only set if the type is 'superChatEvent'.",
          "$ref": "LiveChatSuperChatDetails"
        },
        "pollDetails": {
          "$ref": "LiveChatPollDetails",
          "description": "Details about the poll event, this is only set if the type is 'pollEvent'."
        },
        "authorChannelId": {
          "type": "string",
          "description": "The ID of the user that authored this message, this field is not always filled. textMessageEvent - the user that wrote the message fanFundingEvent - the user that funded the broadcast newSponsorEvent - the user that just became a sponsor memberMilestoneChatEvent - the member that sent the message membershipGiftingEvent - the user that made the purchase giftMembershipReceivedEvent - the user that received the gift membership messageDeletedEvent - the moderator that took the action messageRetractedEvent - the author that retracted their message userBannedEvent - the moderator that took the action superChatEvent - the user that made the purchase superStickerEvent - the user that made the purchase pollEvent - the user that created the poll"
        },
        "displayMessage": {
          "type": "string",
          "description": "Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent."
        },
        "newSponsorDetails": {
          "description": "Details about the New Member Announcement event, this is only set if the type is 'newSponsorEvent'. Please note that \"member\" is the new term for \"sponsor\".",
          "$ref": "LiveChatNewSponsorDetails"
        },
        "giftDetails": {
          "description": "Details about the gift event, this is only set if the type is 'giftEvent'.",
          "$ref": "LiveChatGiftDetails"
        },
        "fanFundingEventDetails": {
          "description": "Details about the funding event, this is only set if the type is 'fanFundingEvent'.",
          "deprecated": true,
          "$ref": "LiveChatFanFundingEventDetails"
        },
        "superStickerDetails": {
          "$ref": "LiveChatSuperStickerDetails",
          "description": "Details about the Super Sticker event, this is only set if the type is 'superStickerEvent'."
        },
        "messageRetractedDetails": {
          "$ref": "LiveChatMessageRetractedDetails"
        },
        "messageDeletedDetails": {
          "$ref": "LiveChatMessageDeletedDetails"
        },
        "memberMilestoneChatDetails": {
          "$ref": "LiveChatMemberMilestoneChatDetails",
          "description": "Details about the Member Milestone Chat event, this is only set if the type is 'memberMilestoneChatEvent'."
        },
        "type": {
          "type": "string",
          "description": "The type of message, this will always be present, it determines the contents of the message as well as which fields will be present.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "A virtual gift sent by a viewer to support a creator."
          ],
          "enum": [
            "invalidType",
            "textMessageEvent",
            "tombstone",
            "fanFundingEvent",
            "chatEndedEvent",
            "sponsorOnlyModeStartedEvent",
            "sponsorOnlyModeEndedEvent",
            "newSponsorEvent",
            "memberMilestoneChatEvent",
            "membershipGiftingEvent",
            "giftMembershipReceivedEvent",
            "messageDeletedEvent",
            "messageRetractedEvent",
            "userBannedEvent",
            "superChatEvent",
            "superStickerEvent",
            "pollEvent",
            "giftEvent"
          ]
        }
      },
      "id": "LiveChatMessageSnippet"
    },
    "Activity": {
      "id": "Activity",
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "properties": {
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        },
        "kind": {
          "default": "youtube#activity",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\"."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the activity."
        },
        "snippet": {
          "$ref": "ActivitySnippet",
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID."
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video.",
          "$ref": "ActivityContentDetails"
        }
      },
      "type": "object"
    },
    "InvideoTiming": {
      "id": "InvideoTiming",
      "type": "object",
      "description": "Describes a temporal position of a visual widget inside a video.",
      "properties": {
        "type": {
          "description": "Describes a timing type. If the value is offsetFromStart, then the offsetMs field represents an offset from the start of the video. If the value is offsetFromEnd, then the offsetMs field represents an offset from the end of the video.",
          "enumDescriptions": [
            "",
            ""
          ],
          "enum": [
            "offsetFromStart",
            "offsetFromEnd"
          ],
          "type": "string"
        },
        "durationMs": {
          "format": "uint64",
          "description": "Defines the duration in milliseconds for which the promotion should be displayed. If missing, the client should use the default.",
          "type": "string"
        },
        "offsetMs": {
          "description": "Defines the time at which the promotion will appear. Depending on the value of type the value of the offsetMs field will represent a time offset from the start or from the end of the video, expressed in milliseconds.",
          "type": "string",
          "format": "uint64"
        }
      }
    },
    "ChannelContentOwnerDetails": {
      "id": "ChannelContentOwnerDetails",
      "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel.",
      "properties": {
        "timeLinked": {
          "description": "The date and time when the channel was linked to the content owner.",
          "type": "string",
          "format": "date-time"
        },
        "contentOwner": {
          "type": "string",
          "description": "The ID of the content owner linked to the channel."
        }
      },
      "type": "object"
    },
    "PlaylistImageSnippet": {
      "description": "A *playlistImage* resource identifies another resource, such as a image, that is associated with a playlist. In addition, the playlistImage resource contains details about the included resource that pertain specifically to how that resource is used in that playlist. YouTube uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistImages.list method to retrieve image data for any of those playlists. You can also add or remove images from those lists by calling the playlistImages.insert and playlistImages.delete methods.",
      "properties": {
        "playlistId": {
          "description": "The Playlist ID of the playlist this image is associated with.",
          "type": "string"
        },
        "type": {
          "description": "The image type.",
          "enumDescriptions": [
            "The main image that will be used for this playlist."
          ],
          "enum": [
            "hero"
          ],
          "type": "string"
        },
        "width": {
          "description": "The image width.",
          "type": "integer",
          "format": "int32"
        },
        "height": {
          "description": "The image height.",
          "type": "integer",
          "format": "int32"
        }
      },
      "type": "object",
      "id": "PlaylistImageSnippet"
    },
    "ThirdPartyLinkSnippet": {
      "type": "object",
      "description": "Basic information about a third party account link, including its type and type-specific information.",
      "properties": {
        "type": {
          "description": "Type of the link named after the entities that are being linked.",
          "enumDescriptions": [
            "",
            "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
          ],
          "enum": [
            "linkUnspecified",
            "channelToStoreLink"
          ],
          "type": "string"
        },
        "channelToStoreLink": {
          "description": "Information specific to a link between a channel and a store on a merchandising platform.",
          "$ref": "ChannelToStoreLinkDetails"
        }
      },
      "id": "ThirdPartyLinkSnippet"
    },
    "LiveChatBan": {
      "description": "A `__liveChatBan__` resource represents a ban for a YouTube live chat.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "kind": {
          "default": "youtube#liveChatBan",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#liveChatBan\"`."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the ban."
        },
        "snippet": {
          "$ref": "LiveChatBanSnippet",
          "description": "The `snippet` object contains basic details about the ban."
        }
      },
      "type": "object",
      "id": "LiveChatBan"
    },
    "SubscriptionSubscriberSnippet": {
      "type": "object",
      "description": "Basic details about a subscription's subscriber including title, description, channel ID and thumbnails.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the subscriber."
        },
        "channelId": {
          "description": "The channel ID of the subscriber.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "Thumbnails for this subscriber."
        },
        "title": {
          "type": "string",
          "description": "The title of the subscriber."
        }
      },
      "id": "SubscriptionSubscriberSnippet"
    },
    "VideoAbuseReportReasonListResponse": {
      "id": "VideoAbuseReportReasonListResponse",
      "properties": {
        "kind": {
          "default": "youtube#videoAbuseReportReasonListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string `\"youtube#videoAbuseReportReasonListResponse\"`."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "items": {
          "description": "A list of valid abuse reasons that are used with `video.ReportAbuse`.",
          "type": "array",
          "items": {
            "$ref": "VideoAbuseReportReason"
          }
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "visitorId": {
          "type": "string",
          "description": "The `visitorId` identifies the visitor.",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "ThumbnailDetails": {
      "id": "ThumbnailDetails",
      "description": "Internal representation of thumbnails for a YouTube resource.",
      "properties": {
        "standard": {
          "$ref": "Thumbnail",
          "description": "The standard quality image for this resource."
        },
        "maxres": {
          "description": "The maximum resolution quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "default": {
          "$ref": "Thumbnail",
          "description": "The default image for this resource."
        },
        "medium": {
          "description": "The medium quality image for this resource.",
          "$ref": "Thumbnail"
        },
        "high": {
          "description": "The high quality image for this resource.",
          "$ref": "Thumbnail"
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsComment": {
      "id": "ActivityContentDetailsComment",
      "type": "object",
      "description": "Information about a resource that received a comment.",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the resource associated with the comment.",
          "$ref": "ResourceId"
        }
      }
    },
    "Channel": {
      "type": "object",
      "description": "A *channel* resource contains information about a YouTube channel.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "$ref": "ChannelSnippet",
          "description": "The snippet object contains basic details about the channel, such as its title, description, and thumbnail images."
        },
        "contentOwnerDetails": {
          "$ref": "ChannelContentOwnerDetails",
          "description": "The contentOwnerDetails object encapsulates channel data that is relevant for YouTube Partners linked with the channel."
        },
        "brandingSettings": {
          "$ref": "ChannelBrandingSettings",
          "description": "The brandingSettings object encapsulates information about the branding of the channel."
        },
        "topicDetails": {
          "$ref": "ChannelTopicDetails",
          "description": "The topicDetails object encapsulates information about Freebase topics associated with the channel."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel."
        },
        "auditDetails": {
          "$ref": "ChannelAuditDetails",
          "description": "The auditionDetails object encapsulates channel data that is relevant for YouTube Partners during the audition process."
        },
        "status": {
          "description": "The status object encapsulates information about the privacy status of the channel.",
          "$ref": "ChannelStatus"
        },
        "statistics": {
          "$ref": "ChannelStatistics",
          "description": "The statistics object encapsulates statistics for the channel."
        },
        "kind": {
          "default": "youtube#channel",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channel\"."
        },
        "conversionPings": {
          "$ref": "ChannelConversionPings",
          "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
          "deprecated": true
        },
        "contentDetails": {
          "description": "The contentDetails object encapsulates information about the channel's content.",
          "$ref": "ChannelContentDetails"
        },
        "localizations": {
          "description": "Localizations for different languages",
          "type": "object",
          "additionalProperties": {
            "$ref": "ChannelLocalization"
          }
        }
      },
      "id": "Channel"
    },
    "LiveStreamStatus": {
      "id": "LiveStreamStatus",
      "type": "object",
      "description": "Brief description of the live stream status.",
      "properties": {
        "streamStatus": {
          "type": "string",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "created",
            "ready",
            "active",
            "inactive",
            "error"
          ]
        },
        "healthStatus": {
          "$ref": "LiveStreamHealthStatus",
          "description": "The health status of the stream."
        }
      }
    },
    "VideoGetRatingResponse": {
      "id": "VideoGetRatingResponse",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "VideoRating"
          },
          "description": "A list of ratings that match the request criteria."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "default": "youtube#videoGetRatingResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoGetRatingResponse\"."
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "ChannelStatus": {
      "id": "ChannelStatus",
      "description": "JSON template for the status part of a channel.",
      "properties": {
        "isLinked": {
          "type": "boolean",
          "description": "If true, then the user is linked to either a YouTube username or G+ account. Otherwise, the user doesn't have a public YouTube identity."
        },
        "longUploadsStatus": {
          "description": "The long uploads status of this channel. See https://support.google.com/youtube/answer/71673 for more information.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "longUploadsUnspecified",
            "allowed",
            "eligible",
            "disallowed"
          ],
          "type": "string"
        },
        "isChannelMonetizationEnabled": {
          "description": "Whether the channel is considered ypp monetization enabled. See go/yppornot for more details.",
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "privacyStatus": {
          "description": "Privacy status of the channel.",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "type": "string"
        },
        "madeForKids": {
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "ChannelTopicDetails": {
      "id": "ChannelTopicDetails",
      "description": "Freebase topic information related to the channel.",
      "properties": {
        "topicCategories": {
          "description": "A list of Wikipedia URLs that describe the channel's content.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "topicIds": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "A list of Freebase topic IDs associated with the channel. You can retrieve information about each topic using the Freebase Topic API.",
          "deprecated": true
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsRecommendation": {
      "id": "ActivityContentDetailsRecommendation",
      "type": "object",
      "description": "Information that identifies the recommended resource.",
      "properties": {
        "seedResourceId": {
          "description": "The seedResourceId object contains information about the resource that caused the recommendation.",
          "$ref": "ResourceId"
        },
        "resourceId": {
          "description": "The resourceId object contains information that identifies the recommended resource.",
          "$ref": "ResourceId"
        },
        "reason": {
          "type": "string",
          "description": "The reason that the resource is recommended to the user.",
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ]
        }
      }
    },
    "PlaylistSnippet": {
      "id": "PlaylistSnippet",
      "type": "object",
      "description": "Basic details about a playlist, including title, description and thumbnails.",
      "properties": {
        "channelTitle": {
          "type": "string",
          "description": "The channel title of the channel that the video belongs to."
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Keyword tags associated with the playlist.",
          "deprecated": true
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the playlist's default title and description."
        },
        "localized": {
          "description": "Localized title and description, read-only.",
          "$ref": "PlaylistLocalization"
        },
        "description": {
          "description": "The playlist's description.",
          "type": "string"
        },
        "thumbnailVideoId": {
          "description": "Note: if the playlist has a custom thumbnail, this field will not be populated. The video id selected by the user that will be used as the thumbnail of this playlist. This field defaults to the first publicly viewable video in the playlist, if: 1. The user has never selected a video to be the thumbnail of the playlist. 2. The user selects a video to be the thumbnail, and then removes that video from the playlist. 3. The user selects a non-owned video to be the thumbnail, but that video becomes private, or gets deleted.",
          "type": "string"
        },
        "title": {
          "annotations": {
            "required": [
              "youtube.playlists.insert",
              "youtube.playlists.update"
            ]
          },
          "type": "string",
          "description": "The playlist's title."
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the playlist was created.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that published the playlist."
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the playlist. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail.",
          "$ref": "ThumbnailDetails"
        }
      }
    },
    "LiveChatTextMessageDetails": {
      "type": "object",
      "properties": {
        "messageText": {
          "description": "The user's message.",
          "type": "string"
        }
      },
      "id": "LiveChatTextMessageDetails"
    },
    "CommentSnippetAuthorChannelId": {
      "description": "Contains the id of the author's YouTube channel, if any.",
      "properties": {
        "value": {
          "description": "The id of the author's YouTube channel.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "CommentSnippetAuthorChannelId"
    },
    "ChannelSectionListResponse": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of ChannelSections that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "ChannelSection"
          }
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelSectionListResponse\".",
          "default": "youtube#channelSectionListResponse",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "ChannelSectionListResponse"
    },
    "VideoFileDetailsAudioStream": {
      "id": "VideoFileDetailsAudioStream",
      "description": "Information about an audio stream.",
      "properties": {
        "bitrateBps": {
          "type": "string",
          "description": "The audio stream's bitrate, in bits per second.",
          "format": "uint64"
        },
        "vendor": {
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code.",
          "type": "string"
        },
        "channelCount": {
          "format": "uint32",
          "type": "integer",
          "description": "The number of audio channels that the stream contains."
        },
        "codec": {
          "type": "string",
          "description": "The audio codec that the stream uses."
        }
      },
      "type": "object"
    },
    "VideoSuggestionsTagSuggestion": {
      "type": "object",
      "description": "A single tag suggestion with its relevance information.",
      "properties": {
        "tag": {
          "description": "The keyword tag suggested for the video.",
          "type": "string"
        },
        "categoryRestricts": {
          "description": "A set of video categories for which the tag is relevant. You can use this information to display appropriate tag suggestions based on the video category that the video uploader associates with the video. By default, tag suggestions are relevant for all categories if there are no restricts defined for the keyword.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "id": "VideoSuggestionsTagSuggestion"
    },
    "SuperChatEventSnippet": {
      "id": "SuperChatEventSnippet",
      "type": "object",
      "properties": {
        "isSuperStickerEvent": {
          "type": "boolean",
          "description": "True if this event is a Super Sticker event."
        },
        "displayString": {
          "description": "A rendered string that displays the purchase amount and currency (e.g., \"$1.00\"). The string is rendered for the given language.",
          "type": "string"
        },
        "supporterDetails": {
          "$ref": "ChannelProfileDetails",
          "description": "Details about the supporter."
        },
        "channelId": {
          "type": "string",
          "description": "Channel id where the event occurred."
        },
        "createdAt": {
          "description": "The date and time when the event occurred.",
          "type": "string",
          "format": "date-time"
        },
        "currency": {
          "description": "The currency in which the purchase was made. ISO 4217.",
          "type": "string"
        },
        "commentText": {
          "type": "string",
          "description": "The text contents of the comment left by the user."
        },
        "messageType": {
          "type": "integer",
          "description": "The tier for the paid message, which is based on the amount of money spent to purchase the message.",
          "format": "uint32"
        },
        "superStickerMetadata": {
          "description": "If this event is a Super Sticker event, this field will contain metadata about the Super Sticker.",
          "$ref": "SuperStickerMetadata"
        },
        "amountMicros": {
          "format": "uint64",
          "description": "The purchase amount, in micros of the purchase currency. e.g., 1 is represented as 1000000.",
          "type": "string"
        }
      }
    },
    "Subscription": {
      "description": "A *subscription* resource contains information about a YouTube user subscription. A subscription notifies a user when new videos are added to a channel or when another user takes one of several actions on YouTube, such as uploading a video, rating a video, or commenting on a video.",
      "properties": {
        "snippet": {
          "$ref": "SubscriptionSnippet",
          "description": "The snippet object contains basic details about the subscription, including its title and the channel that the user subscribed to."
        },
        "contentDetails": {
          "description": "The contentDetails object contains basic statistics about the subscription.",
          "$ref": "SubscriptionContentDetails"
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscription\".",
          "default": "youtube#subscription",
          "type": "string"
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the subscription.",
          "type": "string"
        },
        "subscriberSnippet": {
          "description": "The subscriberSnippet object contains basic details about the subscriber.",
          "$ref": "SubscriptionSubscriberSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "type": "object",
      "id": "Subscription"
    },
    "LiveChatNewSponsorDetails": {
      "properties": {
        "isUpgrade": {
          "description": "If the viewer just had upgraded from a lower level. For viewers that were not members at the time of purchase, this field is false.",
          "type": "boolean"
        },
        "memberLevelName": {
          "type": "string",
          "description": "The name of the Level that the viewer just had joined. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
        }
      },
      "type": "object",
      "id": "LiveChatNewSponsorDetails"
    },
    "PlaylistPlayer": {
      "id": "PlaylistPlayer",
      "properties": {
        "embedHtml": {
          "description": "An <iframe> tag that embeds a player that will play the playlist.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "LiveChatMembershipGiftingDetails": {
      "id": "LiveChatMembershipGiftingDetails",
      "properties": {
        "giftMembershipsCount": {
          "format": "int32",
          "description": "The number of gift memberships purchased by the user.",
          "type": "integer"
        },
        "giftMembershipsLevelName": {
          "type": "string",
          "description": "The name of the level of the gift memberships purchased by the user. The Level names are defined by the YouTube channel offering the Membership. In some situations this field isn't filled."
        }
      },
      "type": "object"
    },
    "LiveStreamHealthStatus": {
      "id": "LiveStreamHealthStatus",
      "properties": {
        "configurationIssues": {
          "type": "array",
          "items": {
            "$ref": "LiveStreamConfigurationIssue"
          },
          "description": "The configurations issues on this stream"
        },
        "lastUpdateTimeSeconds": {
          "description": "The last time this status was updated (in seconds)",
          "type": "string",
          "format": "uint64"
        },
        "status": {
          "type": "string",
          "description": "The status code of this stream",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "good",
            "ok",
            "bad",
            "noData",
            "revoked"
          ]
        }
      },
      "type": "object"
    },
    "LiveBroadcastSnippet": {
      "id": "LiveBroadcastSnippet",
      "description": "Basic broadcast information.",
      "properties": {
        "description": {
          "description": "The broadcast's description. As with the title, you can set this field by modifying the broadcast resource or by setting the description field of the corresponding video resource.",
          "type": "string"
        },
        "actualStartTime": {
          "format": "date-time",
          "description": "The date and time that the broadcast actually started. This information is only available once the broadcast's state is live.",
          "type": "string"
        },
        "actualEndTime": {
          "format": "date-time",
          "description": "The date and time that the broadcast actually ended. This information is only available once the broadcast's state is complete.",
          "type": "string"
        },
        "publishedAt": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time that the broadcast was added to YouTube's live broadcast schedule."
        },
        "scheduledEndTime": {
          "type": "string",
          "description": "The date and time that the broadcast is scheduled to end.",
          "format": "date-time"
        },
        "title": {
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "description": "The broadcast's title. Note that the broadcast represents exactly one YouTube video. You can set this field by modifying the broadcast resource or by setting the title field of the corresponding video resource.",
          "type": "string"
        },
        "channelId": {
          "description": "The ID that YouTube uses to uniquely identify the channel that is publishing the broadcast.",
          "type": "string"
        },
        "thumbnails": {
          "$ref": "ThumbnailDetails",
          "description": "A map of thumbnail images associated with the broadcast. For each nested object in this object, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail."
        },
        "liveChatId": {
          "description": "The id of the live chat for this broadcast.",
          "type": "string"
        },
        "scheduledStartTime": {
          "type": "string",
          "description": "The date and time that the broadcast is scheduled to start.",
          "annotations": {
            "required": [
              "youtube.liveBroadcasts.insert",
              "youtube.liveBroadcasts.update"
            ]
          },
          "format": "date-time"
        },
        "isDefaultBroadcast": {
          "description": "Indicates whether this broadcast is the default broadcast. Internal only.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "LiveChatModeratorListResponse": {
      "id": "LiveChatModeratorListResponse",
      "type": "object",
      "properties": {
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "description": "A list of moderators that match the request criteria.",
          "type": "array",
          "items": {
            "$ref": "LiveChatModerator"
          }
        },
        "tokenPagination": {
          "$ref": "TokenPagination",
          "deprecated": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "kind": {
          "default": "youtube#liveChatModeratorListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModeratorListResponse\"."
        }
      }
    },
    "SubscriptionListResponse": {
      "id": "SubscriptionListResponse",
      "properties": {
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        },
        "pageInfo": {
          "$ref": "PageInfo"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "Subscription"
          },
          "description": "A list of subscriptions that match the request criteria."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        },
        "kind": {
          "default": "youtube#subscriptionListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#subscriptionListResponse\"."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        }
      },
      "type": "object"
    },
    "SearchListResponse": {
      "id": "SearchListResponse",
      "type": "object",
      "properties": {
        "pageInfo": {
          "description": "General pagination information.",
          "$ref": "PageInfo"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "prevPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#searchListResponse\".",
          "default": "youtube#searchListResponse",
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "regionCode": {
          "type": "string"
        },
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "Pagination information for token pagination.",
          "type": "array",
          "items": {
            "$ref": "SearchResult"
          }
        },
        "tokenPagination": {
          "$ref": "TokenPagination"
        }
      }
    },
    "ActivityContentDetailsLike": {
      "type": "object",
      "description": "Information about a resource that received a positive (like) rating.",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the rated resource.",
          "$ref": "ResourceId"
        }
      },
      "id": "ActivityContentDetailsLike"
    },
    "ResourceId": {
      "id": "ResourceId",
      "type": "object",
      "description": "A resource id is a generic reference that points to another YouTube resource.",
      "properties": {
        "videoId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a video. This property is only present if the resourceId.kind value is youtube#video."
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a channel. This property is only present if the resourceId.kind value is youtube#channel."
        },
        "playlistId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a playlist. This property is only present if the resourceId.kind value is youtube#playlist."
        },
        "kind": {
          "type": "string",
          "description": "The type of the API resource."
        }
      }
    },
    "VideoFileDetailsVideoStream": {
      "id": "VideoFileDetailsVideoStream",
      "description": "Information about a video stream.",
      "properties": {
        "rotation": {
          "description": "The amount that YouTube needs to rotate the original source content to properly display the video.",
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            ""
          ],
          "enum": [
            "none",
            "clockwise",
            "upsideDown",
            "counterClockwise",
            "other"
          ],
          "type": "string"
        },
        "bitrateBps": {
          "description": "The video stream's bitrate, in bits per second.",
          "type": "string",
          "format": "uint64"
        },
        "vendor": {
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code.",
          "type": "string"
        },
        "heightPixels": {
          "type": "integer",
          "description": "The encoded video content's height in pixels.",
          "format": "uint32"
        },
        "aspectRatio": {
          "description": "The video content's display aspect ratio, which specifies the aspect ratio in which the video should be displayed.",
          "type": "number",
          "format": "double"
        },
        "widthPixels": {
          "format": "uint32",
          "description": "The encoded video content's width in pixels. You can calculate the video's encoding aspect ratio as width_pixels / height_pixels.",
          "type": "integer"
        },
        "frameRateFps": {
          "type": "number",
          "description": "The video stream's frame rate, in frames per second.",
          "format": "double"
        },
        "codec": {
          "description": "The video codec that the stream uses.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "VideoLiveStreamingDetails": {
      "id": "VideoLiveStreamingDetails",
      "type": "object",
      "description": "Details about the live streaming metadata.",
      "properties": {
        "concurrentViewers": {
          "format": "uint64",
          "type": "string",
          "description": "The number of viewers currently watching the broadcast. The property and its value will be present if the broadcast has current viewers and the broadcast owner has not hidden the viewcount for the video. Note that YouTube stops tracking the number of concurrent viewers for a broadcast when the broadcast ends. So, this property would not identify the number of viewers watching an archived video of a live broadcast that already ended."
        },
        "scheduledEndTime": {
          "format": "date-time",
          "description": "The time that the broadcast is scheduled to end. If the value is empty or the property is not present, then the broadcast is scheduled to continue indefinitely.",
          "type": "string"
        },
        "actualStartTime": {
          "format": "date-time",
          "description": "The time that the broadcast actually started. This value will not be available until the broadcast begins.",
          "type": "string"
        },
        "actualEndTime": {
          "format": "date-time",
          "description": "The time that the broadcast actually ended. This value will not be available until the broadcast is over.",
          "type": "string"
        },
        "scheduledStartTime": {
          "description": "The time that the broadcast is scheduled to begin.",
          "type": "string",
          "format": "date-time"
        },
        "activeLiveChatId": {
          "description": "The ID of the currently active live chat attached to this video. This field is filled only if the video is a currently live broadcast that has live chat. Once the broadcast transitions to complete this field will be removed and the live chat closed down. For persistent broadcasts that live chat id will no longer be tied to this video but rather to the new video being displayed at the persistent page.",
          "type": "string"
        }
      }
    },
    "LocalizedProperty": {
      "properties": {
        "localized": {
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        },
        "defaultLanguage": {
          "description": "The language of the default property.",
          "$ref": "LanguageTag"
        },
        "default": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "LocalizedProperty"
    },
    "MembershipsLevelListResponse": {
      "type": "object",
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "items": {
          "description": "A list of pricing levels offered by a creator to the fans.",
          "type": "array",
          "items": {
            "$ref": "MembershipsLevel"
          }
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor.",
          "deprecated": true
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "default": "youtube#membershipsLevelListResponse",
          "type": "string"
        },
        "eventId": {
          "type": "string",
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true
        }
      },
      "id": "MembershipsLevelListResponse"
    },
    "SubscriptionContentDetails": {
      "description": "Details about the content to witch a subscription refers.",
      "properties": {
        "activityType": {
          "description": "The type of activity this subscription is for (only uploads, everything).",
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "subscriptionActivityTypeUnspecified",
            "all",
            "uploads"
          ],
          "type": "string"
        },
        "totalItemCount": {
          "description": "The approximate number of items that the subscription points to.",
          "type": "integer",
          "format": "uint32"
        },
        "newItemCount": {
[...]
