{
  "servicePath": "",
  "discoveryVersion": "v1",
  "title": "YouTube Data API v3",
  "rootUrl": "https://youtube.googleapis.com/",
  "name": "youtube",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        }
      }
    }
  },
  "revision": "20260506",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "resources": {
    "youtube": {
      "resources": {
        "v3": {
          "methods": {
            "updateCommentThreads": {
              "path": "youtube/v3/commentThreads",
              "id": "youtube.youtube.v3.updateCommentThreads",
              "httpMethod": "PUT",
              "description": "Updates an existing resource.",
              "flatPath": "youtube/v3/commentThreads",
              "response": {
                "$ref": "CommentThread"
              },
              "request": {
                "$ref": "CommentThread"
              },
              "parameters": {
                "part": {
                  "location": "query",
                  "description": "The *part* parameter specifies a comma-separated list of commentThread resource properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
                  "repeated": true,
                  "type": "string"
                }
              },
              "parameterOrder": []
            }
          },
          "resources": {
            "liveChat": {
              "resources": {
                "messages": {
                  "methods": {
                    "stream": {
                      "response": {
                        "$ref": "LiveChatMessageListResponse"
                      },
                      "scopes": [
                        "https://www.googleapis.com/auth/youtube",
                        "https://www.googleapis.com/auth/youtube.force-ssl",
                        "https://www.googleapis.com/auth/youtube.readonly"
                      ],
                      "parameters": {
                        "liveChatId": {
                          "location": "query",
                          "description": "The id of the live chat for which comments should be returned.",
                          "type": "string"
                        },
                        "profileImageSize": {
                          "minimum": "16",
                          "maximum": "720",
                          "location": "query",
                          "description": "Specifies the size of the profile image that should be returned for each user.",
                          "format": "uint32",
                          "type": "integer"
                        },
                        "pageToken": {
                          "location": "query",
                          "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
                          "type": "string"
                        },
                        "part": {
                          "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.",
                          "repeated": true,
                          "type": "string",
                          "location": "query"
                        },
                        "maxResults": {
                          "minimum": "200",
                          "maximum": "2000",
                          "location": "query",
                          "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.",
                          "default": "500",
                          "format": "uint32",
                          "type": "integer"
                        },
                        "hl": {
                          "description": "Specifies the localization language in which the system messages should be returned.",
                          "type": "string",
                          "location": "query"
                        }
                      },
                      "parameterOrder": [],
                      "path": "youtube/v3/liveChat/messages/stream",
                      "id": "youtube.youtube.v3.liveChat.messages.stream",
                      "httpMethod": "GET",
                      "flatPath": "youtube/v3/liveChat/messages/stream",
                      "description": "Allows a user to load live chat through a server-streamed RPC."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "playlists": {
      "methods": {
        "list": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "id": {
              "description": "Return the playlists with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "type": "integer",
              "default": "5",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "location": "query",
              "minimum": "0"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "mine": {
              "description": "Return the playlists owned by the authenticated user.",
              "type": "boolean",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "channelId": {
              "location": "query",
              "description": "Return the playlists owned by the specified channel ID.",
              "type": "string"
            },
            "hl": {
              "location": "query",
              "description": "Return content in specified language",
              "type": "string"
            },
            "part": {
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "flatPath": "youtube/v3/playlists",
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.playlists.list",
          "httpMethod": "GET",
          "path": "youtube/v3/playlists"
        },
        "update": {
          "id": "youtube.playlists.update",
          "httpMethod": "PUT",
          "path": "youtube/v3/playlists",
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "request": {
            "$ref": "Playlist"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "delete": {
          "id": "youtube.playlists.delete",
          "httpMethod": "DELETE",
          "path": "youtube/v3/playlists",
          "flatPath": "youtube/v3/playlists",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Deletes a resource."
        },
        "insert": {
          "id": "youtube.playlists.insert",
          "httpMethod": "POST",
          "path": "youtube/v3/playlists",
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/playlists",
          "response": {
            "$ref": "Playlist"
          },
          "request": {
            "$ref": "Playlist"
          },
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "delete": {
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameters": {
            "part": {
              "location": "query",
              "description": "Do not use. Required for compatibility.",
              "repeated": true,
              "type": "string"
            },
            "linkingToken": {
              "location": "query",
              "description": "Delete the partner links with the given linking token.",
              "type": "string",
              "required": true
            },
            "type": {
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "required": true,
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "type": "string",
              "location": "query",
              "description": "Type of the link to be deleted."
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Deletes a resource.",
          "parameterOrder": [
            "linkingToken",
            "type"
          ],
          "path": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.delete",
          "httpMethod": "DELETE"
        },
        "insert": {
          "parameters": {
            "part": {
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "description": "Inserts a new resource into this collection.",
          "path": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.insert",
          "httpMethod": "POST"
        },
        "list": {
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "type": "string",
              "location": "query"
            },
            "linkingToken": {
              "location": "query",
              "description": "Get a third party link with the given linking token.",
              "type": "string"
            },
            "type": {
              "description": "Get a third party link of the given type.",
              "location": "query",
              "type": "string",
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ]
            },
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true,
              "location": "query"
            }
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "id": "youtube.thirdPartyLinks.list",
          "httpMethod": "GET",
          "path": "youtube/v3/thirdPartyLinks",
          "response": {
            "$ref": "ThirdPartyLinkListResponse"
          }
        },
        "update": {
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "path": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.update",
          "httpMethod": "PUT",
          "parameters": {
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true,
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "request": {
            "$ref": "ThirdPartyLink"
          }
        }
      }
    },
    "liveStreams": {
      "methods": {
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed.",
              "repeated": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "request": {
            "$ref": "LiveStream"
          },
          "response": {
            "$ref": "LiveStream"
          },
          "flatPath": "youtube/v3/liveStreams",
          "description": "Updates an existing stream for the authenticated user.",
          "path": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.update",
          "httpMethod": "PUT"
        },
        "list": {
          "flatPath": "youtube/v3/liveStreams",
          "description": "Retrieve the list of streams associated with the given channel. --",
          "path": "youtube/v3/liveStreams",
          "id": "youtube.liveStreams.list",
          "httpMethod": "GET",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "maxResults": {
              "default": "5",
              "format": "uint32",
              "type": "integer",
              "maximum": "50",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "part": {
              "type": "string",
              "required": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status.",
              "repeated": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "location": "query",
              "description": "Return LiveStreams with the given ids from Stubby or Apiary.",
              "repeated": true,
              "type": "string"
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveStreamListResponse"
          }
        },
        "insert": {
          "request": {
            "$ref": "LiveStream"
          },
          "response": {
            "$ref": "LiveStream"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "id": "youtube.liveStreams.insert",
          "httpMethod": "POST",
          "path": "youtube/v3/liveStreams",
          "flatPath": "youtube/v3/liveStreams",
          "description": "Inserts a new stream for the authenticated user."
        },
        "delete": {
          "id": "youtube.liveStreams.delete",
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveStreams",
          "flatPath": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Deletes an existing stream for the authenticated user."
        }
      }
    },
    "thumbnails": {
      "methods": {
        "set": {
          "response": {
            "$ref": "ThumbnailSetResponse"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "videoId": {
              "required": true,
              "location": "query",
              "description": "Returns the Thumbnail with the given video IDs for Stubby or Apiary.",
              "type": "string"
            }
          },
          "supportsMediaUpload": true,
          "parameterOrder": [
            "videoId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/thumbnails/set",
          "id": "youtube.thumbnails.set",
          "httpMethod": "POST",
          "mediaUpload": {
            "maxSize": "2097152",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/thumbnails/set"
              },
              "simple": {
                "path": "/upload/youtube/v3/thumbnails/set",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "description": "As this is not an insert in a strict sense (it supports uploading/setting of a thumbnail for multiple videos, which doesn't result in creation of a single resource), I use a custom verb here.",
          "flatPath": "youtube/v3/thumbnails/set"
        }
      }
    },
    "commentThreads": {
      "methods": {
        "list": {
          "response": {
            "$ref": "CommentThreadListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "channelId": {
              "location": "query",
              "description": "Returns the comment threads for all the channel comments (ie does not include comments left on videos).",
              "type": "string"
            },
            "moderationStatus": {
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "type": "string",
              "default": "published",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ],
              "description": "Limits the returned comment threads to those with the specified moderation status. Not compatible with the 'id' filter. Valid values: published, heldForReview, likelySpam.",
              "location": "query"
            },
            "allThreadsRelatedToChannelId": {
              "location": "query",
              "description": "Returns the comment threads of all videos of the channel and the channel comments as well.",
              "type": "string"
            },
            "searchTerms": {
              "location": "query",
              "description": "Limits the returned comment threads to those matching the specified key words. Not compatible with the 'id' filter.",
              "type": "string"
            },
            "part": {
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more commentThread resource properties that the API response will include.",
              "repeated": true,
              "location": "query"
            },
            "order": {
              "enumDescriptions": [
                "",
                "Order by time.",
                "Order by relevance."
              ],
              "type": "string",
              "default": "time",
              "enum": [
                "orderUnspecified",
                "time",
                "relevance"
              ],
              "location": "query"
            },
            "id": {
              "location": "query",
              "description": "Returns the comment threads with the given IDs for Stubby or Apiary.",
              "repeated": true,
              "type": "string"
            },
            "postId": {
              "description": "Returns the comment threads of the specified post.",
              "type": "string",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string"
            },
            "videoId": {
              "description": "Returns the comment threads of the specified video.",
              "type": "string",
              "location": "query"
            },
            "textFormat": {
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "type": "string",
              "default": "html",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "description": "The requested text format for the returned comments.",
              "location": "query"
            },
            "maxResults": {
              "default": "20",
              "format": "uint32",
              "type": "integer",
              "maximum": "100",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "1"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/commentThreads",
          "id": "youtube.commentThreads.list",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/commentThreads",
          "description": "Retrieves a list of resources, possibly filtered."
        },
        "insert": {
          "request": {
            "$ref": "CommentThread"
          },
          "response": {
            "$ref": "CommentThread"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/commentThreads",
          "id": "youtube.commentThreads.insert",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/commentThreads",
          "description": "Inserts a new resource into this collection."
        }
      }
    },
    "activities": {
      "methods": {
        "list": {
          "response": {
            "$ref": "ActivityListResponse"
          },
          "parameters": {
            "publishedBefore": {
              "location": "query",
              "format": "google-datetime",
              "type": "string"
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "publishedAfter": {
              "type": "string",
              "location": "query",
              "format": "google-datetime"
            },
            "channelId": {
              "location": "query",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more activity resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in an activity resource, the snippet property contains other properties that identify the type of activity, a display title for the activity, and so forth. If you set *part=snippet*, the API response will also contain all of those nested properties.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            },
            "home": {
              "location": "query",
              "deprecated": true,
              "type": "boolean"
            },
            "regionCode": {
              "location": "query",
              "type": "string"
            },
            "maxResults": {
              "default": "5",
              "format": "uint32",
              "type": "integer",
              "maximum": "50",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "path": "youtube/v3/activities",
          "id": "youtube.activities.list",
          "httpMethod": "GET",
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/activities"
        }
      }
    },
    "comments": {
      "methods": {
        "insert": {
          "path": "youtube/v3/comments",
          "id": "youtube.comments.insert",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/comments",
          "description": "Inserts a new resource into this collection.",
          "request": {
            "$ref": "Comment"
          },
          "response": {
            "$ref": "Comment"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. Set the parameter value to snippet. The snippet part has a quota cost of 2 units.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "part"
          ]
        },
        "markAsSpam": {
          "path": "youtube/v3/comments/markAsSpam",
          "id": "youtube.comments.markAsSpam",
          "httpMethod": "POST",
          "parameters": {
            "id": {
              "description": "Flags the comments with the given IDs as spam in the caller's opinion.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "description": "Expresses the caller's opinion that one or more comments should be flagged as spam.",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/comments/markAsSpam",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "delete": {
          "flatPath": "youtube/v3/comments",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "id"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "description": "Deletes a resource.",
          "id": "youtube.comments.delete",
          "httpMethod": "DELETE",
          "path": "youtube/v3/comments"
        },
        "update": {
          "path": "youtube/v3/comments",
          "id": "youtube.comments.update",
          "httpMethod": "PUT",
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/comments",
          "response": {
            "$ref": "Comment"
          },
          "request": {
            "$ref": "Comment"
          },
          "parameters": {
            "part": {
              "description": "The *part* parameter identifies the properties that the API response will include. You must at least include the snippet part in the parameter value since that part contains all of the properties that the API request can update.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "list": {
          "parameters": {
            "textFormat": {
              "type": "string",
              "default": "html",
              "enum": [
                "textFormatUnspecified",
                "html",
                "plainText"
              ],
              "enumDescriptions": [
                "",
                "Returns the comments in HTML format. This is the default value.",
                "Returns the comments in plain text format."
              ],
              "description": "The requested text format for the returned comments.",
              "location": "query"
            },
            "maxResults": {
              "maximum": "100",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "1",
              "default": "20",
              "format": "uint32",
              "type": "integer"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more comment resource properties that the API response will include.",
              "repeated": true,
              "location": "query"
            },
            "id": {
              "location": "query",
              "description": "Returns the comments with the given IDs for One Platform.",
              "repeated": true,
              "type": "string"
            },
            "parentId": {
              "description": "Returns replies to the specified comment. Note, currently YouTube features only one level of replies (ie replies to top level comments). However replies to replies may be supported in the future.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "CommentListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/comments",
          "path": "youtube/v3/comments",
          "id": "youtube.comments.list",
          "httpMethod": "GET"
        },
        "setModerationStatus": {
          "path": "youtube/v3/comments/setModerationStatus",
          "id": "youtube.comments.setModerationStatus",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/comments/setModerationStatus",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameters": {
            "moderationStatus": {
              "description": "Specifies the requested moderation status. Note, comments can be in statuses, which are not available through this call. For example, this call does not allow to mark a comment as 'likely spam'. Valid values: 'heldForReview', 'published' or 'rejected'.",
              "location": "query",
              "required": true,
              "enumDescriptions": [
                "The comment is available for public display.",
                "The comment is awaiting review by a moderator.",
                "",
                "The comment is unfit for display."
              ],
              "type": "string",
              "enum": [
                "published",
                "heldForReview",
                "likelySpam",
                "rejected"
              ]
            },
            "id": {
              "type": "string",
              "required": true,
              "description": "Modifies the moderation status of the comments with the given IDs",
              "repeated": true,
              "location": "query"
            },
            "banAuthor": {
              "default": "false",
              "location": "query",
              "description": "If set to true the author of the comment gets added to the ban list. This means all future comments of the author will autmomatically be rejected. Only valid in combination with STATUS_REJECTED.",
              "type": "boolean"
            }
          },
          "description": "Sets the moderation status of one or more comments.",
          "parameterOrder": [
            "id",
            "moderationStatus"
          ]
        }
      }
    },
    "tests": {
      "methods": {
        "insert": {
          "path": "youtube/v3/tests",
          "id": "youtube.tests.insert",
          "httpMethod": "POST",
          "flatPath": "youtube/v3/tests",
          "description": "POST method.",
          "request": {
            "$ref": "TestItem"
          },
          "response": {
            "$ref": "TestItem"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameters": {
            "externalChannelId": {
              "location": "query",
              "type": "string"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string"
            }
          },
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "playlistImages": {
      "methods": {
        "insert": {
          "path": "youtube/v3/playlistImages",
          "id": "youtube.playlistImages.insert",
          "httpMethod": "POST",
          "mediaUpload": {
            "maxSize": "2097152",
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/playlistImages",
                "multipart": true
              },
              "simple": {
                "path": "/upload/youtube/v3/playlistImages",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ]
          },
          "description": "Inserts a new resource into this collection.",
          "flatPath": "youtube/v3/playlistImages",
          "response": {
            "$ref": "PlaylistImage"
          },
          "request": {
            "$ref": "PlaylistImage"
          },
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies the properties that the API response will include.",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "supportsMediaUpload": true,
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "delete": {
          "path": "youtube/v3/playlistImages",
          "id": "youtube.playlistImages.delete",
          "httpMethod": "DELETE",
          "flatPath": "youtube/v3/playlistImages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "id": {
              "description": "Id to identify this image. This is returned from by the List method.",
              "type": "string",
              "location": "query"
            }
          },
          "description": "Deletes a resource.",
          "parameterOrder": []
        },
        "update": {
          "path": "youtube/v3/playlistImages",
          "id": "youtube.playlistImages.update",
          "httpMethod": "PUT",
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "path": "/resumable/upload/youtube/v3/playlistImages",
                "multipart": true
              },
              "simple": {
                "path": "/upload/youtube/v3/playlistImages",
                "multipart": true
              }
            },
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "2097152"
          },
          "description": "Updates an existing resource.",
          "flatPath": "youtube/v3/playlistImages",
          "response": {
            "$ref": "PlaylistImage"
          },
          "request": {
            "$ref": "PlaylistImage"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies the properties that the API response will include.",
              "repeated": true,
              "type": "string"
            }
          },
          "supportsMediaUpload": true,
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ]
        },
        "list": {
          "response": {
            "$ref": "PlaylistImageListResponse"
          },
          "parameterOrder": [],
          "parameters": {
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more playlistImage resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response.",
              "repeated": true,
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "maxResults": {
              "maximum": "50",
              "location": "query",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "default": "5",
              "format": "uint32",
              "type": "integer"
            },
            "parent": {
              "location": "query",
              "description": "Return PlaylistImages for this playlist id.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlistImages.list",
          "httpMethod": "GET",
          "path": "youtube/v3/playlistImages",
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/playlistImages"
        }
      }
    },
    "liveBroadcasts": {
      "methods": {
        "insert": {
          "description": "Inserts a new stream for the authenticated user.",
          "flatPath": "youtube/v3/liveBroadcasts",
          "path": "youtube/v3/liveBroadcasts",
          "id": "youtube.liveBroadcasts.insert",
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "location": "query",
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true,
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "request": {
            "$ref": "LiveBroadcast"
          }
        },
        "delete": {
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "location": "query",
              "description": "Broadcast to delete.",
              "type": "string",
              "required": true
            }
          },
          "description": "Delete a given broadcast.",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "path": "youtube/v3/liveBroadcasts",
          "id": "youtube.liveBroadcasts.delete",
          "httpMethod": "DELETE"
        },
        "bind": {
          "parameters": {
            "id": {
              "required": true,
              "description": "Broadcast to bind to the stream",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "streamId": {
              "location": "query",
              "description": "Stream to bind, if not set unbind the current one.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true,
              "location": "query",
              "required": true,
              "type": "string"
            }
          },
          "parameterOrder": [
            "id",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveBroadcast"
          },
          "description": "Bind a broadcast to a stream.",
          "flatPath": "youtube/v3/liveBroadcasts/bind",
          "path": "youtube/v3/liveBroadcasts/bind",
          "id": "youtube.liveBroadcasts.bind",
          "httpMethod": "POST"
        },
        "transition": {
          "id": "youtube.liveBroadcasts.transition",
          "httpMethod": "POST",
          "path": "youtube/v3/liveBroadcasts/transition",
          "description": "Transition a broadcast to a given status.",
          "flatPath": "youtube/v3/liveBroadcasts/transition",
          "response": {
            "$ref": "LiveBroadcast"
          },
          "parameterOrder": [
            "broadcastStatus",
            "id",
            "part"
          ],
          "parameters": {
            "id": {
              "required": true,
              "description": "Broadcast to transition.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "broadcastStatus": {
              "description": "The status to which the broadcast is going to transition.",
              "location": "query",
              "required": true,
              "enumDescriptions": [
                "",
                "Start testing the broadcast. YouTube transmits video to the broadcast's monitor stream. Note that you can only transition a broadcast to the testing state if its contentDetails.monitorStream.enableMonitorStream property is set to true.\",",
                "Return only persistent broadcasts.",
                "The broadcast is over. YouTube stops transmitting video."
              ],
              "type": "string",
              "enum": [
                "statusUnspecified",
                "testing",
                "live",
                "complete"
              ]
            },
            "part": {
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true,
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "update": {
          "id": "youtube.liveBroadcasts.update",
          "httpMethod": "PUT",
          "path": "youtube/v3/liveBroadcasts",
          "flatPath": "youtube/v3/liveBroadcasts",
          "description": "Updates an existing broadcast for the authenticated user.",
          "request": {
            "$ref": "LiveBroadcast"
          },
          "response": {
            "$ref": "LiveBroadcast"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, contentDetails, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a broadcast's privacy status is defined in the status part. As such, if your request is updating a private or unlisted broadcast, and the request's part parameter value includes the status part, the broadcast's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the broadcast will revert to the default privacy setting.",
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "list": {
          "flatPath": "youtube/v3/liveBroadcasts",
          "description": "Retrieve the list of broadcasts associated with the given channel.",
          "id": "youtube.liveBroadcasts.list",
          "httpMethod": "GET",
          "path": "youtube/v3/liveBroadcasts",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "broadcastStatus": {
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return current live broadcasts.",
                "Return broadcasts that have not yet started.",
                "Return broadcasts that have already ended."
              ],
              "enum": [
                "broadcastStatusFilterUnspecified",
                "all",
                "active",
                "upcoming",
                "completed"
              ],
              "type": "string",
              "location": "query",
              "description": "Return broadcasts with a certain status, e.g. active broadcasts."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "location": "query",
              "minimum": "0",
              "type": "integer",
              "default": "5",
              "format": "uint32"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "id": {
              "description": "Return broadcasts with the given ids from Stubby or Apiary.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "broadcastType": {
              "location": "query",
              "description": "Return only broadcasts with the selected type.",
              "default": "event",
              "enum": [
                "broadcastTypeFilterUnspecified",
                "all",
                "event",
                "persistent"
              ],
              "type": "string",
              "enumDescriptions": [
                "",
                "Return all broadcasts.",
                "Return only scheduled event broadcasts.",
                "Return only persistent broadcasts."
              ]
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, status and statistics.",
              "repeated": true,
              "location": "query"
            },
            "mine": {
              "type": "boolean",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            }
          },
          "response": {
            "$ref": "LiveBroadcastListResponse"
          }
        },
        "insertCuepoint": {
          "parameters": {
            "id": {
              "location": "query",
              "description": "Broadcast to insert ads to, or equivalently `external_video_id` for internal use.",
              "type": "string"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more liveBroadcast resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, contentDetails, and status.",
              "repeated": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            }
          },
          "parameterOrder": [],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "Cuepoint"
          },
          "request": {
            "$ref": "Cuepoint"
          },
          "description": "Insert cuepoints in a broadcast",
          "flatPath": "youtube/v3/liveBroadcasts/cuepoint",
          "path": "youtube/v3/liveBroadcasts/cuepoint",
          "id": "youtube.liveBroadcasts.insertCuepoint",
          "httpMethod": "POST"
        }
      }
    },
    "watermarks": {
      "methods": {
        "set": {
          "parameters": {
            "channelId": {
              "type": "string",
              "location": "query",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "supportsMediaUpload": true,
          "parameterOrder": [
            "channelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "InvideoBranding"
          },
          "mediaUpload": {
            "maxSize": "10485760",
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/watermarks/set"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/watermarks/set"
              }
            }
          },
          "description": "Allows upload of watermark image and setting it for a channel.",
          "flatPath": "youtube/v3/watermarks/set",
          "path": "youtube/v3/watermarks/set",
          "id": "youtube.watermarks.set",
          "httpMethod": "POST"
        },
        "unset": {
          "parameters": {
            "channelId": {
              "location": "query",
              "type": "string",
              "required": true
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "description": "Allows removal of channel watermark.",
          "parameterOrder": [
            "channelId"
          ],
          "flatPath": "youtube/v3/watermarks/unset",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
[...]
