{
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "fullyEncodeReservedExpansion": true,
  "discoveryVersion": "v1",
  "name": "youtube",
  "canonicalName": "YouTube",
  "basePath": "",
  "baseUrl": "https://youtube.googleapis.com/",
  "batchPath": "batch",
  "rootUrl": "https://youtube.googleapis.com/",
  "servicePath": "",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "ownerDomain": "google.com",
  "schemas": {
    "AbuseType": {
      "id": "AbuseType",
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "VideoProcessingDetailsProcessingProgress": {
      "type": "object",
      "description": "Video processing progress and completion time estimate.",
      "properties": {
        "partsProcessed": {
          "format": "uint64",
          "type": "string",
          "description": "The number of parts of the video that YouTube has already processed. You can estimate the percentage of the video that YouTube has already processed by calculating: 100 * parts_processed / parts_total Note that since the estimated number of parts could increase without a corresponding increase in the number of parts that have already been processed, it is possible that the calculated progress could periodically decrease while YouTube processes a video."
        },
        "timeLeftMs": {
          "format": "uint64",
          "type": "string",
          "description": "An estimate of the amount of time, in millseconds, that YouTube needs to finish processing the video."
        },
        "partsTotal": {
          "type": "string",
          "description": "An estimate of the total number of parts that need to be processed for the video. The number may be updated with more precise estimates while YouTube processes the video.",
          "format": "uint64"
        }
      },
      "id": "VideoProcessingDetailsProcessingProgress"
    },
    "LiveBroadcastContentDetails": {
      "type": "object",
      "description": "Detailed settings of a broadcast.",
      "properties": {
        "enableDvr": {
          "type": "boolean",
          "description": "This setting determines whether viewers can access DVR controls while watching the video. DVR controls enable the viewer to control the video playback experience by pausing, rewinding, or fast forwarding content. The default value for this property is true. *Important:* You must set the value to true and also set the enableArchive property's value to true if you want to make playback available immediately after the broadcast ends."
        },
        "stereoLayout": {
          "description": "The 3D stereo layout of this broadcast. This defaults to mono.",
          "type": "string",
          "enum": [
            "stereoLayoutUnspecified",
            "mono",
            "leftRight",
            "topBottom"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "boundStreamId": {
          "description": "This value uniquely identifies the live stream bound to the broadcast.",
          "type": "string"
        },
        "closedCaptionsType": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "closedCaptionsTypeUnspecified",
            "closedCaptionsDisabled",
            "closedCaptionsHttpPost",
            "closedCaptionsEmbedded"
          ]
        },
        "startWithSlate": {
          "deprecated": true,
          "type": "boolean",
          "description": "This setting indicates whether the broadcast should automatically begin with an in-stream slate when you update the broadcast's status to live. After updating the status, you then need to send a liveCuepoints.insert request that sets the cuepoint's eventState to end to remove the in-stream slate and make your broadcast stream visible to viewers."
        },
        "enableClosedCaptions": {
          "deprecated": true,
          "type": "boolean",
          "description": "This setting indicates whether HTTP POST closed captioning is enabled for this broadcast. The ingestion URL of the closed captions is returned through the liveStreams API. This is mutually exclusive with using the closed_captions_type property, and is equivalent to setting closed_captions_type to CLOSED_CAPTIONS_HTTP_POST."
        },
        "monitorStream": {
          "description": "The monitorStream object contains information about the monitor stream, which the broadcaster can use to review the event content before the broadcast stream is shown publicly.",
          "$ref": "MonitorStreamInfo"
        },
        "latencyPreference": {
          "type": "string",
          "enum": [
            "latencyPreferenceUnspecified",
            "normal",
            "low",
            "ultraLow"
          ],
          "description": "If both this and enable_low_latency are set, they must match. LATENCY_NORMAL should match enable_low_latency=false LATENCY_LOW should match enable_low_latency=true LATENCY_ULTRA_LOW should have enable_low_latency omitted.",
          "enumDescriptions": [
            "",
            "Best for: highest quality viewer playbacks and higher resolutions.",
            "Best for: near real-time interaction, with minimal playback buffering.",
            "Best for: real-time interaction Does not support: Closed captions, 1440p, and 4k resolutions"
          ]
        },
        "boundStreamLastUpdateTimeMs": {
          "format": "date-time",
          "type": "string",
          "description": "The date and time that the live stream referenced by boundStreamId was last updated."
        },
        "enableEmbed": {
          "description": "This setting indicates whether the broadcast video can be played in an embedded player. If you choose to archive the video (using the enableArchive property), this setting will also apply to the archived video.",
          "type": "boolean"
        },
        "enableLowLatency": {
          "deprecated": true,
          "type": "boolean",
          "description": "Indicates whether this broadcast has low latency enabled."
        },
        "recordFromStart": {
          "description": "Automatically start recording after the event goes live. The default value for this property is true. *Important:* You must also set the enableDvr property's value to true if you want the playback to be available immediately after the broadcast ends. If you set this property's value to true but do not also set the enableDvr property to true, there may be a delay of around one day before the archived video will be available for playback.",
          "type": "boolean"
        },
        "projection": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "projectionUnspecified",
            "rectangular",
            "360",
            "mesh"
          ],
          "description": "The projection format of this broadcast. This defaults to rectangular."
        },
        "enableAutoStart": {
          "description": "This setting indicates whether auto start is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events.",
          "type": "boolean"
        },
        "enableAutoStop": {
          "description": "This setting indicates whether auto stop is enabled for this broadcast. The default value for this property is false. This setting can only be used by Events.",
          "type": "boolean"
        },
        "enableContentEncryption": {
          "description": "This setting indicates whether YouTube should enable content encryption for the broadcast.",
          "type": "boolean"
        },
        "mesh": {
          "type": "string",
          "description": "The mesh for projecting the video if projection is mesh. The mesh value must be a UTF-8 string containing the base-64 encoding of 3D mesh data that follows the Spherical Video V2 RFC specification for an mshp box, excluding the box size and type but including the following four reserved zero bytes for the version and flags.",
          "format": "byte"
        }
      },
      "id": "LiveBroadcastContentDetails"
    },
    "Playlist": {
      "type": "object",
      "description": "A *playlist* resource represents a YouTube playlist. A playlist is a collection of videos that can be viewed sequentially and shared with other users. A playlist can contain up to 200 videos, and YouTube does not limit the number of playlists that each user creates. By default, playlists are publicly visible to other users, but playlists can be public or private. YouTube also uses playlists to identify special collections of videos for a channel, such as: - uploaded videos - favorite videos - positively rated (liked) videos - watch history - watch later To be more specific, these lists are associated with a channel, which is a collection of a person, group, or company's videos, playlists, and other YouTube information. You can retrieve the playlist IDs for each of these lists from the channel resource for a given channel. You can then use the playlistItems.list method to retrieve any of those lists. You can also add or remove items from those lists by calling the playlistItems.insert and playlistItems.delete methods.",
      "properties": {
        "player": {
          "description": "The player object contains information that you would use to play the playlist in an embedded player.",
          "$ref": "PlaylistPlayer"
        },
        "contentDetails": {
          "description": "The contentDetails object contains information like video count.",
          "$ref": "PlaylistContentDetails"
        },
        "localizations": {
          "additionalProperties": {
            "$ref": "PlaylistLocalization"
          },
          "type": "object",
          "description": "Localizations for different languages"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "snippet": {
          "description": "The snippet object contains basic details about the playlist, such as its title and description.",
          "$ref": "PlaylistSnippet"
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#playlist\".",
          "default": "youtube#playlist"
        },
        "status": {
          "$ref": "PlaylistStatus",
          "description": "The status object contains status information for the playlist."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the playlist."
        }
      },
      "id": "Playlist"
    },
    "VideoAgeGating": {
      "id": "VideoAgeGating",
      "properties": {
        "restricted": {
          "description": "Age-restricted trailers. For redband trailers and adult-rated video-games. Only users aged 18+ can view the content. The the field is true the content is restricted to viewers aged 18+. Otherwise The field won't be present.",
          "type": "boolean"
        },
        "alcoholContent": {
          "type": "boolean",
          "description": "Indicates whether or not the video has alcoholic beverage content. Only users of legal purchasing age in a particular country, as identified by ICAP, can view the content."
        },
        "videoGameRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ],
          "description": "Video game rating, if any.",
          "type": "string",
          "enum": [
            "anyone",
            "m15Plus",
            "m16Plus",
            "m17Plus"
          ]
        }
      },
      "type": "object"
    },
    "ActivityContentDetailsRecommendation": {
      "description": "Information that identifies the recommended resource.",
      "properties": {
        "resourceId": {
          "description": "The resourceId object contains information that identifies the recommended resource.",
          "$ref": "ResourceId"
        },
        "reason": {
          "description": "The reason that the resource is recommended to the user.",
          "type": "string",
          "enum": [
            "reasonUnspecified",
            "videoFavorited",
            "videoLiked",
            "videoWatched"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        },
        "seedResourceId": {
          "description": "The seedResourceId object contains information about the resource that caused the recommendation.",
          "$ref": "ResourceId"
        }
      },
      "type": "object",
      "id": "ActivityContentDetailsRecommendation"
    },
    "LiveStreamSnippet": {
      "id": "LiveStreamSnippet",
      "type": "object",
      "properties": {
        "isDefaultStream": {
          "type": "boolean"
        },
        "description": {
          "description": "The stream's description. The value cannot be longer than 10000 characters.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the channel that is transmitting the stream."
        },
        "publishedAt": {
          "description": "The date and time that the stream was created.",
          "type": "string",
          "format": "date-time"
        },
        "title": {
          "description": "The stream's title. The value must be between 1 and 128 characters long.",
          "annotations": {
            "required": [
              "youtube.liveStreams.insert",
              "youtube.liveStreams.update"
            ]
          },
          "type": "string"
        }
      }
    },
    "ThirdPartyLinkSnippet": {
      "description": "Basic information about a third party account link, including its type and type-specific information.",
      "properties": {
        "type": {
          "enumDescriptions": [
            "",
            "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
          ],
          "type": "string",
          "enum": [
            "linkUnspecified",
            "channelToStoreLink"
          ],
          "description": "Type of the link named after the entities that are being linked."
        },
        "channelToStoreLink": {
          "$ref": "ChannelToStoreLinkDetails",
          "description": "Information specific to a link between a channel and a store on a merchandising platform."
        }
      },
      "type": "object",
      "id": "ThirdPartyLinkSnippet"
    },
    "MembershipsLevelSnippet": {
      "type": "object",
      "properties": {
        "levelDetails": {
          "$ref": "LevelDetails",
          "description": "Details about the pricing level."
        },
        "creatorChannelId": {
          "description": "The id of the channel that's offering channel memberships.",
          "type": "string"
        }
      },
      "id": "MembershipsLevelSnippet"
    },
    "CommentThreadReplies": {
      "id": "CommentThreadReplies",
      "type": "object",
      "description": "Comments written in (direct or indirect) reply to the top level comment.",
      "properties": {
        "comments": {
          "type": "array",
          "items": {
            "$ref": "Comment"
          },
          "description": "A limited number of replies. Unless the number of replies returned equals total_reply_count in the snippet the returned replies are only a subset of the total number of replies."
        }
      }
    },
    "ContentRating": {
      "type": "object",
      "description": "Ratings schemes. The country-specific ratings are mostly for movies and shows. LINT.IfChange",
      "properties": {
        "rtcRating": {
          "description": "The video's General Directorate of Radio, Television and Cinematography (Mexico) rating.",
          "type": "string",
          "enum": [
            "rtcUnspecified",
            "rtcAa",
            "rtcA",
            "rtcB",
            "rtcB15",
            "rtcC",
            "rtcD",
            "rtcUnrated"
          ],
          "enumDescriptions": [
            "",
            "AA",
            "A",
            "B",
            "B15",
            "C",
            "D",
            ""
          ]
        },
        "medietilsynetRating": {
          "description": "The video's rating from Medietilsynet, the Norwegian Media Authority.",
          "type": "string",
          "enum": [
            "medietilsynetUnspecified",
            "medietilsynetA",
            "medietilsynet6",
            "medietilsynet7",
            "medietilsynet9",
            "medietilsynet11",
            "medietilsynet12",
            "medietilsynet15",
            "medietilsynet18",
            "medietilsynetUnrated"
          ],
          "enumDescriptions": [
            "",
            "A",
            "6",
            "7",
            "9",
            "11",
            "12",
            "15",
            "18",
            ""
          ]
        },
        "eirinRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG-12",
            "R15+",
            "R18+",
            ""
          ],
          "description": "The video's Eirin (映倫) rating. Eirin is the Japanese rating system.",
          "type": "string",
          "enum": [
            "eirinUnspecified",
            "eirinG",
            "eirinPg12",
            "eirinR15plus",
            "eirinR18plus",
            "eirinUnrated"
          ]
        },
        "chfilmRating": {
          "description": "The video's rating in Switzerland.",
          "type": "string",
          "enum": [
            "chfilmUnspecified",
            "chfilm0",
            "chfilm6",
            "chfilm12",
            "chfilm16",
            "chfilm18",
            "chfilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "0",
            "6",
            "12",
            "16",
            "18",
            ""
          ]
        },
        "mccypRating": {
          "description": "The video's rating from the Danish Film Institute's (Det Danske Filminstitut) Media Council for Children and Young People.",
          "type": "string",
          "enum": [
            "mccypUnspecified",
            "mccypA",
            "mccyp7",
            "mccyp11",
            "mccyp15",
            "mccypUnrated"
          ],
          "enumDescriptions": [
            "",
            "A",
            "7",
            "11",
            "15",
            ""
          ]
        },
        "mccaaRating": {
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "14 - this rating was removed from the new classification structure introduced in 2013.",
            "15",
            "16 - this rating was removed from the new classification structure introduced in 2013.",
            "18",
            ""
          ],
          "description": "The video's rating from Malta's Film Age-Classification Board.",
          "type": "string",
          "enum": [
            "mccaaUnspecified",
            "mccaaU",
            "mccaaPg",
            "mccaa12a",
            "mccaa12",
            "mccaa14",
            "mccaa15",
            "mccaa16",
            "mccaa18",
            "mccaaUnrated"
          ]
        },
        "pefilmRating": {
          "description": "The video's rating in Peru.",
          "type": "string",
          "enum": [
            "pefilmUnspecified",
            "pefilmPt",
            "pefilmPg",
            "pefilm14",
            "pefilm18",
            "pefilmUnrated"
          ],
          "enumDescriptions": [
            "",
            "PT",
            "PG",
            "14",
            "18",
            ""
          ]
        },
        "ytRating": {
          "enumDescriptions": [
            "",
            ""
          ],
          "description": "A rating that YouTube uses to identify age-restricted content.",
          "type": "string",
          "enum": [
            "ytUnspecified",
            "ytAgeRestricted"
          ]
        },
        "grfilmRating": {
          "enumDescriptions": [
            "",
            "K",
            "E",
            "K-12",
            "K-13",
            "K-15",
            "K-17",
            "K-18",
            ""
          ],
          "type": "string",
          "enum": [
            "grfilmUnspecified",
            "grfilmK",
            "grfilmE",
            "grfilmK12",
            "grfilmK13",
            "grfilmK15",
            "grfilmK17",
            "grfilmK18",
            "grfilmUnrated"
          ],
          "description": "The video's rating in Greece."
        },
        "rcnofRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The video's rating from the Hungarian Nemzeti Filmiroda, the Rating Committee of the National Office of Film.",
          "type": "string",
          "enum": [
            "rcnofUnspecified",
            "rcnofI",
            "rcnofIi",
            "rcnofIii",
            "rcnofIv",
            "rcnofV",
            "rcnofVi",
            "rcnofUnrated"
          ]
        },
        "fmocRating": {
          "deprecated": true,
          "type": "string",
          "description": "This property has been deprecated. Use the contentDetails.contentRating.cncRating instead.",
          "enum": [
            "fmocUnspecified",
            "fmocU",
            "fmoc10",
            "fmoc12",
            "fmoc16",
            "fmoc18",
            "fmocE",
            "fmocUnrated"
          ],
          "enumDescriptions": [
            "",
            "U",
            "10",
            "12",
            "16",
            "18",
            "E",
            ""
          ]
        },
        "agcomRating": {
          "type": "string",
          "enum": [
            "agcomUnspecified",
            "agcomT",
            "agcomVm14",
            "agcomVm18",
            "agcomUnrated"
          ],
          "description": "The video's rating from Italy's Autorità per le Garanzie nelle Comunicazioni (AGCOM).",
          "enumDescriptions": [
            "",
            "T",
            "VM14",
            "VM18",
            ""
          ]
        },
        "nfvcbRating": {
          "description": "The video's rating from Nigeria's National Film and Video Censors Board.",
          "type": "string",
          "enum": [
            "nfvcbUnspecified",
            "nfvcbG",
            "nfvcbPg",
            "nfvcb12",
            "nfvcb12a",
            "nfvcb15",
            "nfvcb18",
            "nfvcbRe",
            "nfvcbUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "18",
            "RE",
            ""
          ]
        },
        "kijkwijzerRating": {
          "enumDescriptions": [
            "",
            "AL",
            "6",
            "9",
            "12",
            "16",
            "",
            ""
          ],
          "description": "The video's NICAM/Kijkwijzer rating from the Nederlands Instituut voor de Classificatie van Audiovisuele Media (Netherlands).",
          "type": "string",
          "enum": [
            "kijkwijzerUnspecified",
            "kijkwijzerAl",
            "kijkwijzer6",
            "kijkwijzer9",
            "kijkwijzer12",
            "kijkwijzer16",
            "kijkwijzer18",
            "kijkwijzerUnrated"
          ]
        },
        "mcstRating": {
          "enumDescriptions": [
            "",
            "P",
            "0",
            "C13",
            "C16",
            "16+",
            "C18",
            "MCST_G_PG",
            ""
          ],
          "type": "string",
          "enum": [
            "mcstUnspecified",
            "mcstP",
            "mcst0",
            "mcstC13",
            "mcstC16",
            "mcst16plus",
            "mcstC18",
            "mcstGPg",
            "mcstUnrated"
          ],
          "description": "The video's rating system for Vietnam - MCST"
        },
        "lsfRating": {
          "enumDescriptions": [
            "",
            "SU",
            "A",
            "BO",
            "13",
            "R",
            "17",
            "D",
            "21",
            ""
          ],
          "enum": [
            "lsfUnspecified",
            "lsfSu",
            "lsfA",
            "lsfBo",
            "lsf13",
            "lsfR",
            "lsf17",
            "lsfD",
            "lsf21",
            "lsfUnrated"
          ],
          "description": "The video's rating from Indonesia's Lembaga Sensor Film.",
          "type": "string",
          "enumDeprecated": [
            false,
            false,
            false,
            true,
            false,
            true,
            false,
            true,
            false,
            true
          ]
        },
        "djctqRating": {
          "enumDescriptions": [
            "",
            "L",
            "10",
            "12",
            "14",
            "16",
            "18",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The video's Departamento de Justiça, Classificação, Qualificação e Títulos (DJCQT - Brazil) rating.",
          "type": "string",
          "enum": [
            "djctqUnspecified",
            "djctqL",
            "djctq10",
            "djctq12",
            "djctq14",
            "djctq16",
            "djctq18",
            "djctqEr",
            "djctqL10",
            "djctqL12",
            "djctqL14",
            "djctqL16",
            "djctqL18",
            "djctq1012",
            "djctq1014",
            "djctq1016",
            "djctq1018",
            "djctq1214",
            "djctq1216",
            "djctq1218",
            "djctq1416",
            "djctq1418",
            "djctq1618",
            "djctqUnrated"
          ]
        },
        "anatelRating": {
          "enumDescriptions": [
            "",
            "F",
            "I",
            "I-7",
            "I-10",
            "I-12",
            "R",
            "A",
            ""
          ],
          "type": "string",
          "enum": [
            "anatelUnspecified",
            "anatelF",
            "anatelI",
            "anatelI7",
            "anatelI10",
            "anatelI12",
            "anatelR",
            "anatelA",
            "anatelUnrated"
          ],
          "description": "The video's Anatel (Asociación Nacional de Televisión) rating for Chilean television."
        },
        "ecbmctRating": {
          "enumDescriptions": [
            "",
            "G",
            "7A",
            "7+",
            "13A",
            "13+",
            "15A",
            "15+",
            "18+",
            ""
          ],
          "type": "string",
          "enum": [
            "ecbmctUnspecified",
            "ecbmctG",
            "ecbmct7a",
            "ecbmct7plus",
            "ecbmct13a",
            "ecbmct13plus",
            "ecbmct15a",
            "ecbmct15plus",
            "ecbmct18plus",
            "ecbmctUnrated"
          ],
          "description": "Rating system in Turkey - Evaluation and Classification Board of the Ministry of Culture and Tourism"
        },
        "chvrsRating": {
          "type": "string",
          "enum": [
            "chvrsUnspecified",
            "chvrsG",
            "chvrsPg",
            "chvrs14a",
            "chvrs18a",
            "chvrsR",
            "chvrsE",
            "chvrsUnrated"
          ],
          "description": "The video's Canadian Home Video Rating System (CHVRS) rating.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "14A",
            "18A",
            "R",
            "E",
            ""
          ]
        },
        "czfilmRating": {
          "enumDescriptions": [
            "",
            "U",
            "12",
            "14",
            "18",
            ""
          ],
          "type": "string",
          "enum": [
            "czfilmUnspecified",
            "czfilmU",
            "czfilm12",
            "czfilm14",
            "czfilm18",
            "czfilmUnrated"
          ],
          "description": "The video's rating in the Czech Republic."
        },
        "cscfRating": {
          "enumDescriptions": [
            "",
            "AL",
            "A",
            "6",
            "9",
            "12",
            "16",
            "18",
            ""
          ],
          "type": "string",
          "enum": [
            "cscfUnspecified",
            "cscfAl",
            "cscfA",
            "cscf6",
            "cscf9",
            "cscf12",
            "cscf16",
            "cscf18",
            "cscfUnrated"
          ],
          "description": "The video's rating from Luxembourg's Commission de surveillance de la classification des films (CSCF)."
        },
        "mpaatRating": {
          "description": "The rating system for trailer, DVD, and Ad in the US. See http://movielabs.com/md/ratings/v2.3/html/US_MPAAT_Ratings.html.",
          "type": "string",
          "enum": [
            "mpaatUnspecified",
            "mpaatGb",
            "mpaatRb"
          ],
          "enumDescriptions": [
            "",
            "GB",
            "RB"
          ]
        },
        "icaaRating": {
          "enumDescriptions": [
            "",
            "APTA",
            "7",
            "12",
            "13",
            "16",
            "18",
            "X",
            ""
          ],
          "type": "string",
          "enum": [
            "icaaUnspecified",
            "icaaApta",
            "icaa7",
            "icaa12",
            "icaa13",
            "icaa16",
            "icaa18",
            "icaaX",
            "icaaUnrated"
          ],
          "description": "The video's Instituto de la Cinematografía y de las Artes Audiovisuales (ICAA - Spain) rating."
        },
        "nbcplRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "nbcplUnspecified",
            "nbcplI",
            "nbcplIi",
            "nbcplIii",
            "nbcplIv",
            "nbcpl18plus",
            "nbcplUnrated"
          ],
          "description": "The video's rating in Poland."
        },
        "rteRating": {
          "description": "The video's rating from Ireland's Raidió Teilifís Éireann.",
          "type": "string",
          "enum": [
            "rteUnspecified",
            "rteGa",
            "rteCh",
            "rtePs",
            "rteMa",
            "rteUnrated"
          ],
          "enumDescriptions": [
            "",
            "GA",
            "CH",
            "PS",
            "MA",
            ""
          ]
        },
        "fcbmRating": {
          "type": "string",
          "enum": [
            "fcbmUnspecified",
            "fcbmU",
            "fcbmPg13",
            "fcbmP13",
            "fcbm18",
            "fcbm18sx",
            "fcbm18pa",
            "fcbm18sg",
            "fcbm18pl",
            "fcbmUnrated"
          ],
          "description": "The video's rating from Malaysia's Film Censorship Board.",
          "enumDescriptions": [
            "",
            "U",
            "PG13",
            "P13",
            "18",
            "18SX",
            "18PA",
            "18SG",
            "18PL",
            ""
          ]
        },
        "smsaRating": {
          "description": "The video's rating from Statens medieråd (Sweden's National Media Council).",
          "type": "string",
          "enum": [
            "smsaUnspecified",
            "smsaA",
            "smsa7",
            "smsa11",
            "smsa15",
            "smsaUnrated"
          ],
          "enumDescriptions": [
            "",
            "All ages",
            "7",
            "11",
            "15",
            ""
          ]
        },
        "bmukkRating": {
          "enumDescriptions": [
            "",
            "Unrestricted",
            "6+",
            "8+",
            "10+",
            "12+",
            "14+",
            "16+",
            ""
          ],
          "description": "The video's rating from the Austrian Board of Media Classification (Bundesministerium für Unterricht, Kunst und Kultur).",
          "type": "string",
          "enum": [
            "bmukkUnspecified",
            "bmukkAa",
            "bmukk6",
            "bmukk8",
            "bmukk10",
            "bmukk12",
            "bmukk14",
            "bmukk16",
            "bmukkUnrated"
          ]
        },
        "bfvcRating": {
          "enumDescriptions": [
            "",
            "G",
            "E",
            "13",
            "15",
            "18",
            "20",
            "B",
            ""
          ],
          "type": "string",
          "enum": [
            "bfvcUnspecified",
            "bfvcG",
            "bfvcE",
            "bfvc13",
            "bfvc15",
            "bfvc18",
            "bfvc20",
            "bfvcB",
            "bfvcUnrated"
          ],
          "description": "The video's rating from Thailand's Board of Film and Video Censors."
        },
        "egfilmRating": {
          "enumDescriptions": [
            "",
            "GN",
            "18",
            "BN",
            ""
          ],
          "description": "The video's rating in Egypt.",
          "type": "string",
          "enum": [
            "egfilmUnspecified",
            "egfilmGn",
            "egfilm18",
            "egfilmBn",
            "egfilmUnrated"
          ]
        },
        "resorteviolenciaRating": {
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "E",
            ""
          ],
          "description": "The video's rating in Venezuela.",
          "type": "string",
          "enum": [
            "resorteviolenciaUnspecified",
            "resorteviolenciaA",
            "resorteviolenciaB",
            "resorteviolenciaC",
            "resorteviolenciaD",
            "resorteviolenciaE",
            "resorteviolenciaUnrated"
          ]
        },
        "oflcRating": {
          "description": "The video's Office of Film and Literature Classification (OFLC - New Zealand) rating.",
          "type": "string",
          "enum": [
            "oflcUnspecified",
            "oflcG",
            "oflcPg",
            "oflcM",
            "oflcR13",
            "oflcR15",
            "oflcR16",
            "oflcR18",
            "oflcUnrated",
            "oflcRp13",
            "oflcRp16",
            "oflcRp18"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "M",
            "R13",
            "R15",
            "R16",
            "R18",
            "",
            "RP13",
            "RP16",
            "RP18"
          ]
        },
        "acbRating": {
          "enumDescriptions": [
            "",
            "E",
            "Programs that have been given a P classification by the Australian Communications and Media Authority. These programs are intended for preschool children.",
            "Programs that have been given a C classification by the Australian Communications and Media Authority. These programs are intended for children (other than preschool children) who are younger than 14 years of age.",
            "G",
            "PG",
            "M",
            "MA15+",
            "R18+",
            ""
          ],
          "description": "The video's Australian Classification Board (ACB) or Australian Communications and Media Authority (ACMA) rating. ACMA ratings are used to classify children's television programming.",
          "type": "string",
          "enum": [
            "acbUnspecified",
            "acbE",
            "acbP",
            "acbC",
            "acbG",
            "acbPg",
            "acbM",
            "acbMa15plus",
            "acbR18plus",
            "acbUnrated"
          ]
        },
        "mtrcbRating": {
          "description": "The video's rating from the Movie and Television Review and Classification Board (Philippines).",
          "type": "string",
          "enum": [
            "mtrcbUnspecified",
            "mtrcbG",
            "mtrcbPg",
            "mtrcbR13",
            "mtrcbR16",
            "mtrcbR18",
            "mtrcbX",
            "mtrcbUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "R-13",
            "R-16",
            "R-18",
            "X",
            ""
          ]
        },
        "djctqRatingReasons": {
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "djctqRatingReasonUnspecified",
              "djctqViolence",
              "djctqExtremeViolence",
              "djctqSexualContent",
              "djctqNudity",
              "djctqSex",
              "djctqExplicitSex",
              "djctqDrugs",
              "djctqLegalDrugs",
              "djctqIllegalDrugs",
              "djctqInappropriateLanguage",
              "djctqCriminalActs",
              "djctqImpactingContent",
              "djctqFear",
              "djctqMedicalProcedures",
              "djctqSensitiveTopics",
              "djctqFantasyViolence"
            ],
            "enumDescriptions": [
              "",
              "Brazil rating content descriptors. See http://go/brazilratings section F. Violência (Violence)",
              "Violência extrema (Extreme violence)",
              "Conteúdo sexual (Sexual content)",
              "Nudez (Nudity)",
              "Sexo (Sex)",
              "Sexo Explícito (Explicit sex)",
              "Drogas (Drugs)",
              "Drogas Lícitas (Legal drugs)",
              "Drogas Ilícitas (Illegal drugs)",
              "Linguagem Imprópria (Inappropriate language)",
              "Atos Criminosos (Criminal Acts)",
              "Conteúdo Impactante (Impacting content)",
              "Temer (Fear)",
              "Procedimentos médicos (Medical Procedures)",
              "Tópicos sensíveis (Sensitive Topics)",
              "Fantasia Violência (Fantasy Violence)"
            ]
          },
          "description": "Reasons that explain why the video received its DJCQT (Brazil) rating."
        },
        "moctwRating": {
          "enumDescriptions": [
            "",
            "G",
            "P",
            "PG",
            "R",
            "",
            "R-12",
            "R-15"
          ],
          "type": "string",
          "enum": [
            "moctwUnspecified",
            "moctwG",
            "moctwP",
            "moctwPg",
            "moctwR",
            "moctwUnrated",
            "moctwR12",
            "moctwR15"
          ],
          "description": "The video's rating from Taiwan's Ministry of Culture (文化部)."
        },
        "bbfcRating": {
          "description": "The video's British Board of Film Classification (BBFC) rating.",
          "type": "string",
          "enum": [
            "bbfcUnspecified",
            "bbfcU",
            "bbfcPg",
            "bbfc12a",
            "bbfc12",
            "bbfc15",
            "bbfc18",
            "bbfcR18",
            "bbfcUnrated"
          ],
          "enumDescriptions": [
            "",
            "U",
            "PG",
            "12A",
            "12",
            "15",
            "18",
            "R18",
            ""
          ]
        },
        "fpbRatingReasons": {
          "type": "array",
          "items": {
            "enumDescriptions": [
              "",
              "South Africa rating content descriptors.",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              "",
              ""
            ],
            "type": "string",
            "enum": [
              "fpbRatingReasonUnspecified",
              "fpbBlasphemy",
              "fpbLanguage",
              "fpbNudity",
              "fpbPrejudice",
              "fpbSex",
              "fpbViolence",
              "fpbDrugs",
              "fpbSexualViolence",
              "fpbHorror",
              "fpbCriminalTechniques",
              "fpbImitativeActsTechniques"
            ]
          },
          "description": "Reasons that explain why the video received its FPB (South Africa) rating."
        },
        "cccRating": {
          "enumDescriptions": [
            "",
            "Todo espectador",
            "6+ - Inconveniente para menores de 7 años",
            "14+",
            "18+",
            "18+ - contenido excesivamente violento",
            "18+ - contenido pornográfico",
            ""
          ],
          "description": "The video's Consejo de Calificación Cinematográfica (Chile) rating.",
          "type": "string",
          "enum": [
            "cccUnspecified",
            "cccTe",
            "ccc6",
            "ccc14",
            "ccc18",
            "ccc18v",
            "ccc18s",
            "cccUnrated"
          ]
        },
        "cicfRating": {
          "enumDescriptions": [
            "",
            "E",
            "KT/EA",
            "KNT/ENA",
            ""
          ],
          "description": "The video's rating from the Commission de Contrôle des Films (Belgium).",
          "type": "string",
          "enum": [
            "cicfUnspecified",
            "cicfE",
            "cicfKtEa",
            "cicfKntEna",
            "cicfUnrated"
          ]
        },
        "kmrbRating": {
          "type": "string",
          "enum": [
            "kmrbUnspecified",
            "kmrbAll",
            "kmrb12plus",
            "kmrb15plus",
            "kmrbTeenr",
            "kmrbR",
            "kmrbUnrated"
          ],
          "description": "The video's Korea Media Rating Board (영상물등급위원회) rating. The KMRB rates videos in South Korea.",
          "enumDescriptions": [
            "",
            "전체관람가",
            "12세 이상 관람가",
            "15세 이상 관람가",
            "",
            "청소년 관람불가",
            ""
          ]
        },
        "fpbRating": {
          "type": "string",
          "enum": [
            "fpbUnspecified",
            "fpbA",
            "fpbPg",
            "fpb79Pg",
            "fpb1012Pg",
            "fpb13",
            "fpb16",
            "fpb18",
            "fpbX18",
            "fpbXx",
            "fpbUnrated",
            "fpb10"
          ],
          "description": "The video's rating from South Africa's Film and Publication Board.",
          "enumDescriptions": [
            "",
            "A",
            "PG",
            "7-9PG",
            "10-12PG",
            "13",
            "16",
            "18",
            "X18",
            "XX",
            "",
            "10"
          ]
        },
        "nbcRating": {
          "type": "string",
          "enum": [
            "nbcUnspecified",
            "nbcG",
            "nbcPg",
            "nbc12plus",
            "nbc15plus",
            "nbc18plus",
            "nbc18plusr",
            "nbcPu",
            "nbcUnrated"
          ],
          "description": "The video's rating from the Maldives National Bureau of Classification.",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12+",
            "15+",
            "18+",
            "18+R",
            "PU",
            ""
          ]
        },
        "mocRating": {
          "type": "string",
          "enum": [
            "mocUnspecified",
            "mocE",
            "mocT",
            "moc7",
            "moc12",
            "moc15",
            "moc18",
            "mocX",
            "mocBanned",
            "mocUnrated"
          ],
          "description": "The video's Ministerio de Cultura (Colombia) rating.",
          "enumDescriptions": [
            "",
            "E",
            "T",
            "7",
            "12",
            "15",
            "18",
            "X",
            "Banned",
            ""
          ]
        },
        "russiaRating": {
          "enumDescriptions": [
            "",
            "0+",
            "6+",
            "12+",
            "16+",
            "18+",
            ""
          ],
          "description": "The video's National Film Registry of the Russian Federation (MKRF - Russia) rating.",
          "type": "string",
          "enum": [
            "russiaUnspecified",
            "russia0",
            "russia6",
            "russia12",
            "russia16",
            "russia18",
            "russiaUnrated"
          ]
        },
        "eefilmRating": {
          "enumDescriptions": [
            "",
            "Pere",
            "L",
            "MS-6",
            "K-6",
            "MS-12",
            "K-12",
            "K-14",
            "K-16",
            ""
          ],
          "type": "string",
          "enum": [
            "eefilmUnspecified",
            "eefilmPere",
            "eefilmL",
            "eefilmMs6",
            "eefilmK6",
            "eefilmMs12",
            "eefilmK12",
            "eefilmK14",
            "eefilmK16",
            "eefilmUnrated"
          ],
          "description": "The video's rating in Estonia."
        },
        "fskRating": {
          "description": "The video's Freiwillige Selbstkontrolle der Filmwirtschaft (FSK - Germany) rating.",
          "type": "string",
          "enum": [
            "fskUnspecified",
            "fsk0",
            "fsk6",
            "fsk12",
            "fsk16",
            "fsk18",
            "fskUnrated"
          ],
          "enumDescriptions": [
            "",
            "FSK 0",
            "FSK 6",
            "FSK 12",
            "FSK 16",
            "FSK 18",
            ""
          ]
        },
        "skfilmRating": {
          "type": "string",
          "enum": [
            "skfilmUnspecified",
            "skfilmG",
            "skfilmP2",
            "skfilmP5",
            "skfilmP8",
            "skfilmUnrated"
          ],
          "description": "The video's rating in Slovakia.",
          "enumDescriptions": [
            "",
            "G",
            "P2",
            "P5",
            "P8",
            ""
          ]
        },
        "catvRating": {
          "enumDescriptions": [
            "",
            "C",
            "C8",
            "G",
            "PG",
            "14+",
            "18+",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "catvUnspecified",
            "catvC",
            "catvC8",
            "catvG",
            "catvPg",
            "catv14plus",
            "catv18plus",
            "catvUnrated",
            "catvE"
          ],
          "description": "Rating system for Canadian TV - Canadian TV Classification System The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian English-language broadcasts. For more information, see the Canadian Broadcast Standards Council website."
        },
        "cceRating": {
          "enumDescriptions": [
            "",
            "4",
            "6",
            "12",
            "16",
            "18",
            "",
            "14"
          ],
          "description": "The video's rating from Portugal's Comissão de Classificação de Espect´culos.",
          "type": "string",
          "enum": [
            "cceUnspecified",
            "cceM4",
            "cceM6",
            "cceM12",
            "cceM16",
            "cceM18",
            "cceUnrated",
            "cceM14"
          ]
        },
        "kfcbRating": {
          "enumDescriptions": [
            "",
            "GE",
            "PG",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating from the Kenya Film Classification Board.",
          "type": "string",
          "enum": [
            "kfcbUnspecified",
            "kfcbG",
            "kfcbPg",
            "kfcb16plus",
            "kfcbR",
            "kfcbUnrated"
          ]
        },
        "tvpgRating": {
          "type": "string",
          "enum": [
            "tvpgUnspecified",
            "tvpgY",
            "tvpgY7",
            "tvpgY7Fv",
            "tvpgG",
            "tvpgPg",
            "pg14",
            "tvpgMa",
            "tvpgUnrated"
          ],
          "description": "The video's TV Parental Guidelines (TVPG) rating.",
          "enumDescriptions": [
            "",
            "TV-Y",
            "TV-Y7",
            "TV-Y7-FV",
            "TV-G",
            "TV-PG",
            "TV-14",
            "TV-MA",
            ""
          ]
        },
        "catvfrRating": {
          "enumDescriptions": [
            "",
            "G",
            "8+",
            "13+",
            "16+",
            "18+",
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "catvfrUnspecified",
            "catvfrG",
            "catvfr8plus",
            "catvfr13plus",
            "catvfr16plus",
            "catvfr18plus",
            "catvfrUnrated",
            "catvfrE"
          ],
          "description": "The video's rating from the Canadian Radio-Television and Telecommunications Commission (CRTC) for Canadian French-language broadcasts. For more information, see the Canadian Broadcast Standards Council website."
        },
        "cnaRating": {
          "description": "The video's rating from Romania's CONSILIUL NATIONAL AL AUDIOVIZUALULUI (CNA).",
          "type": "string",
          "enum": [
            "cnaUnspecified",
            "cnaAp",
            "cna12",
            "cna15",
            "cna18",
            "cna18plus",
            "cnaUnrated"
          ],
          "enumDescriptions": [
            "",
            "AP",
            "12",
            "15",
            "18",
            "18+",
            ""
          ]
        },
        "nfrcRating": {
          "enumDescriptions": [
            "",
            "A",
            "B",
            "C",
            "D",
            "X",
            ""
          ],
          "type": "string",
          "enum": [
            "nfrcUnspecified",
            "nfrcA",
            "nfrcB",
            "nfrcC",
            "nfrcD",
            "nfrcX",
            "nfrcUnrated"
          ],
          "description": "The video's rating from the Bulgarian National Film Center."
        },
        "mdaRating": {
          "type": "string",
          "enum": [
            "mdaUnspecified",
            "mdaG",
            "mdaPg",
            "mdaPg13",
            "mdaNc16",
            "mdaM18",
            "mdaR21",
            "mdaUnrated"
          ],
          "description": "The video's rating from Singapore's Media Development Authority (MDA) and, specifically, it's Board of Film Censors (BFC).",
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG13",
            "NC16",
            "M18",
            "R21",
            ""
          ]
        },
        "fcoRating": {
          "type": "string",
          "enum": [
            "fcoUnspecified",
            "fcoI",
            "fcoIia",
            "fcoIib",
            "fcoIi",
            "fcoIii",
            "fcoUnrated"
          ],
          "description": "The video's rating from Hong Kong's Office for Film, Newspaper and Article Administration.",
          "enumDescriptions": [
            "",
            "I",
            "IIA",
            "IIB",
            "II",
            "III",
            ""
          ]
        },
        "smaisRating": {
          "enumDescriptions": [
            "",
            "L",
            "7",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "description": "The video's rating in Iceland.",
          "type": "string",
          "enum": [
            "smaisUnspecified",
            "smaisL",
            "smais7",
            "smais12",
            "smais14",
            "smais16",
            "smais18",
            "smaisUnrated"
          ]
        },
        "incaaRating": {
          "description": "The video's INCAA (Instituto Nacional de Cine y Artes Audiovisuales - Argentina) rating.",
          "type": "string",
          "enum": [
            "incaaUnspecified",
            "incaaAtp",
            "incaaSam13",
            "incaaSam16",
            "incaaSam18",
            "incaaC",
            "incaaUnrated"
          ],
          "enumDescriptions": [
            "",
            "ATP (Apta para todo publico)",
            "13 (Solo apta para mayores de 13 años)",
            "16 (Solo apta para mayores de 16 años)",
            "18 (Solo apta para mayores de 18 años)",
            "X (Solo apta para mayores de 18 años, de exhibición condicionada)",
            ""
          ]
        },
        "cncRating": {
          "type": "string",
          "enum": [
            "cncUnspecified",
            "cncT",
            "cnc10",
            "cnc12",
            "cnc16",
            "cnc18",
            "cncE",
            "cncInterdiction",
            "cncUnrated"
          ],
          "description": "Rating system in France - Commission de classification cinematographique",
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "E",
            "interdiction",
            ""
          ]
        },
        "cbfcRating": {
          "enumDescriptions": [
            "",
            "U",
            "U/A",
            "U/A 7+",
            "U/A 13+",
            "U/A 16+",
            "A",
            "S",
            ""
          ],
          "description": "The video's Central Board of Film Certification (CBFC - India) rating.",
          "type": "string",
          "enum": [
            "cbfcUnspecified",
            "cbfcU",
            "cbfcUA",
            "cbfcUA7plus",
            "cbfcUA13plus",
            "cbfcUA16plus",
            "cbfcA",
            "cbfcS",
            "cbfcUnrated"
          ]
        },
        "nkclvRating": {
          "enumDescriptions": [
            "",
            "U",
            "7+",
            "12+",
            "! 16+",
            "18+",
            ""
          ],
          "type": "string",
          "enum": [
            "nkclvUnspecified",
            "nkclvU",
            "nkclv7plus",
            "nkclv12plus",
            "nkclv16plus",
            "nkclv18plus",
            "nkclvUnrated"
          ],
          "description": "The video's rating from the Nacionãlais Kino centrs (National Film Centre of Latvia)."
        },
        "mekuRating": {
          "type": "string",
          "enum": [
            "mekuUnspecified",
            "mekuS",
            "meku7",
            "meku12",
            "meku16",
            "meku18",
            "mekuUnrated"
          ],
          "description": "The video's rating from Finland's Kansallinen Audiovisuaalinen Instituutti (National Audiovisual Institute).",
          "enumDescriptions": [
            "",
            "S",
            "7",
            "12",
            "16",
            "18",
            ""
          ]
        },
        "ifcoRating": {
          "description": "The video's Irish Film Classification Office (IFCO - Ireland) rating. See the IFCO website for more information.",
          "type": "string",
          "enum": [
            "ifcoUnspecified",
            "ifcoG",
            "ifcoPg",
            "ifco12",
            "ifco12a",
            "ifco15",
            "ifco15a",
            "ifco16",
            "ifco18",
            "ifcoUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "12",
            "12A",
            "15",
            "15A",
            "16",
            "18",
            ""
          ]
        },
        "mibacRating": {
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ],
          "description": "The video's rating from the Ministero dei Beni e delle Attività Culturali e del Turismo (Italy).",
          "type": "string",
          "enum": [
            "mibacUnspecified",
            "mibacT",
            "mibacVap",
            "mibacVm6",
            "mibacVm12",
            "mibacVm14",
            "mibacVm16",
            "mibacVm18",
            "mibacUnrated"
          ]
        },
        "mpaaRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "NC-17",
            "! X",
            ""
          ],
          "description": "The video's Motion Picture Association of America (MPAA) rating.",
          "type": "string",
          "enum": [
            "mpaaUnspecified",
            "mpaaG",
            "mpaaPg",
            "mpaaPg13",
            "mpaaR",
            "mpaaNc17",
            "mpaaX",
            "mpaaUnrated"
          ]
        },
        "menaMpaaRating": {
          "description": "The rating system for MENA countries, a clone of MPAA. It is needed to prevent titles go live w/o additional QC check, since some of them can be inappropriate for the countries at all. See b/33408548 for more details.",
          "type": "string",
          "enum": [
            "menaMpaaUnspecified",
            "menaMpaaG",
            "menaMpaaPg",
            "menaMpaaPg13",
            "menaMpaaR",
            "menaMpaaUnrated"
          ],
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "R",
            "To keep the same enum values as MPAA's items have, skip NC_17."
          ]
        },
        "csaRating": {
          "enumDescriptions": [
            "",
            "T",
            "10",
            "12",
            "16",
            "18",
            "Interdiction",
            ""
          ],
          "type": "string",
          "enum": [
            "csaUnspecified",
            "csaT",
            "csa10",
            "csa12",
            "csa16",
            "csa18",
            "csaInterdiction",
            "csaUnrated"
          ],
          "description": "The video's rating from France's Conseil supérieur de l’audiovisuel, which rates broadcast content."
        },
        "nmcRating": {
          "enumDescriptions": [
            "",
            "G",
            "PG",
            "PG-13",
            "PG-15",
            "15+",
            "18+",
            "18TC",
            ""
          ],
          "type": "string",
          "enum": [
            "nmcUnspecified",
            "nmcG",
            "nmcPg",
            "nmcPg13",
            "nmcPg15",
            "nmc15plus",
            "nmc18plus",
            "nmc18tc",
            "nmcUnrated"
          ],
          "description": "The National Media Council ratings system for United Arab Emirates."
        },
        "ilfilmRating": {
          "enumDescriptions": [
            "",
            "AA",
            "12",
            "14",
            "16",
            "18",
            ""
          ],
          "type": "string",
          "enum": [
            "ilfilmUnspecified",
            "ilfilmAa",
            "ilfilm12",
            "ilfilm14",
            "ilfilm16",
            "ilfilm18",
            "ilfilmUnrated"
          ],
          "description": "The video's rating in Israel."
        }
      },
      "id": "ContentRating"
    },
    "Cuepoint": {
      "type": "object",
      "description": "Note that there may be a 5-second end-point resolution issue. For instance, if a cuepoint comes in for 22:03:27, we may stuff the cuepoint into 22:03:25 or 22:03:30, depending. This is an artifact of HLS.",
      "properties": {
        "durationSecs": {
          "format": "uint32",
          "description": "The duration of this cuepoint.",
          "type": "integer"
        },
        "walltimeMs": {
          "format": "uint64",
          "description": "The wall clock time at which the cuepoint should be inserted. Only one of insertion_offset_time_ms and walltime_ms may be set at a time.",
          "type": "string"
        },
        "id": {
          "type": "string",
          "description": "The identifier for cuepoint resource."
        },
        "cueType": {
          "type": "string",
          "enum": [
            "cueTypeUnspecified",
            "cueTypeAd"
          ],
          "enumDescriptions": [
            "",
            ""
          ]
        },
        "insertionOffsetTimeMs": {
          "type": "string",
          "description": "The time when the cuepoint should be inserted by offset to the broadcast actual start time.",
          "format": "int64"
        },
        "etag": {
          "type": "string"
        }
      },
      "id": "Cuepoint"
    },
    "LocalizedProperty": {
      "id": "LocalizedProperty",
      "properties": {
        "default": {
          "type": "string"
        },
        "localized": {
          "type": "array",
          "items": {
            "$ref": "LocalizedString"
          }
        },
        "defaultLanguage": {
          "description": "The language of the default property.",
          "$ref": "LanguageTag"
        }
      },
      "type": "object"
    },
    "ChannelSettings": {
      "id": "ChannelSettings",
      "type": "object",
      "description": "Branding properties for the channel view.",
      "properties": {
        "description": {
          "type": "string",
          "description": "Specifies the channel description."
        },
        "profileColor": {
          "deprecated": true,
          "type": "string",
          "description": "A prominent color that can be rendered on this channel page."
        },
        "showBrowseView": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether the tab to browse the videos should be displayed."
        },
        "title": {
          "type": "string",
          "description": "Specifies the channel title."
        },
        "featuredChannelsUrls": {
          "description": "The list of featured channels.",
          "deprecated": true,
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "defaultLanguage": {
          "type": "string"
        },
        "showRelatedChannels": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether related channels should be proposed."
        },
        "moderateComments": {
          "deprecated": true,
          "type": "boolean",
          "description": "Whether user-submitted comments left on the channel page need to be approved by the channel owner to be publicly visible."
        },
        "defaultTab": {
          "deprecated": true,
          "type": "string",
          "description": "Which content tab users should see when viewing the channel."
        },
        "country": {
          "description": "The country of the channel.",
          "type": "string"
        },
        "keywords": {
          "type": "string",
          "description": "Lists keywords associated with the channel, comma-separated."
        },
        "featuredChannelsTitle": {
          "deprecated": true,
          "type": "string",
          "description": "Title for the featured channels tab."
        },
        "unsubscribedTrailer": {
          "description": "The trailer of the channel, for users that are not subscribers.",
          "type": "string"
        },
        "trackingAnalyticsAccountId": {
          "description": "The ID for a Google Analytics account to track and measure traffic to the channels.",
          "type": "string"
        }
      }
    },
    "I18nLanguageListResponse": {
      "id": "I18nLanguageListResponse",
      "properties": {
        "kind": {
          "default": "youtube#i18nLanguageListResponse",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#i18nLanguageListResponse\"."
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "I18nLanguage"
          },
          "description": "A list of supported i18n languages. In this map, the i18n language ID is the map key, and its value is the corresponding i18nLanguage resource."
        },
        "visitorId": {
          "type": "string",
          "description": "The visitorId identifies the visitor."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "type": "object"
    },
    "ChannelSnippet": {
      "id": "ChannelSnippet",
      "type": "object",
      "description": "Basic details about a channel, including title, description and thumbnails.",
      "properties": {
        "description": {
          "type": "string",
          "description": "The description of the channel."
        },
        "defaultLanguage": {
          "type": "string",
          "description": "The language of the channel's default title and description."
        },
        "localized": {
          "description": "Localized title and description, read-only.",
          "$ref": "ChannelLocalization"
        },
        "country": {
          "type": "string",
          "description": "The country of the channel."
        },
        "customUrl": {
          "type": "string",
          "description": "The custom url of the channel."
        },
        "title": {
          "type": "string",
          "description": "The channel's title."
        },
        "publishedAt": {
          "format": "date-time",
          "description": "The date and time that the channel was created.",
          "type": "string"
        },
        "thumbnails": {
          "description": "A map of thumbnail images associated with the channel. For each object in the map, the key is the name of the thumbnail image, and the value is an object that contains other information about the thumbnail. When displaying thumbnails in your application, make sure that your code uses the image URLs exactly as they are returned in API responses. For example, your application should not use the http domain instead of the https domain in a URL returned in an API response. Beginning in July 2018, channel thumbnail URLs will only be available in the https domain, which is how the URLs appear in API responses. After that time, you might see broken images in your application if it tries to load YouTube images from the http domain. Thumbnail images might be empty for newly created channels and might take up to one day to populate.",
          "$ref": "ThumbnailDetails"
        }
      }
    },
    "ChannelConversionPings": {
      "description": "The conversionPings object encapsulates information about conversion pings that need to be respected by the channel.",
      "properties": {
        "pings": {
          "type": "array",
          "items": {
            "$ref": "ChannelConversionPing"
          },
          "description": "Pings that the app shall fire (authenticated by biscotti cookie). Each ping has a context, in which the app must fire the ping, and a url identifying the ping."
        }
      },
      "type": "object",
      "id": "ChannelConversionPings"
    },
    "ThirdPartyLinkListResponse": {
      "properties": {
        "etag": {
          "description": "Etag of this resource.",
          "type": "string"
        },
        "kind": {
          "default": "youtube#thirdPartyLinkListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#thirdPartyLinkListResponse\".",
          "type": "string"
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "ThirdPartyLink"
          }
        }
      },
      "type": "object",
      "id": "ThirdPartyLinkListResponse"
    },
    "VideoFileDetails": {
      "description": "Describes original video file properties, including technical details about audio and video streams, but also metadata information like content length, digitization time, or geotagging information.",
      "properties": {
        "creationTime": {
          "type": "string",
          "description": "The date and time when the uploaded video file was created. The value is specified in ISO 8601 format. Currently, the following ISO 8601 formats are supported: - Date only: YYYY-MM-DD - Naive time: YYYY-MM-DDTHH:MM:SS - Time with timezone: YYYY-MM-DDTHH:MM:SS+HH:MM "
        },
        "audioStreams": {
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsAudioStream"
          },
          "description": "A list of audio streams contained in the uploaded video file. Each item in the list contains detailed metadata about an audio stream."
        },
        "fileType": {
          "description": "The uploaded file's type as detected by YouTube's video processing engine. Currently, YouTube only processes video files, but this field is present whether a video file or another type of file was uploaded.",
          "type": "string",
          "enum": [
            "video",
            "audio",
            "image",
            "archive",
            "document",
            "project",
            "other"
          ],
          "enumDescriptions": [
            "Known video file (e.g., an MP4 file).",
            "Audio only file (e.g., an MP3 file).",
            "Image file (e.g., a JPEG image).",
            "Archive file (e.g., a ZIP archive).",
            "Document or text file (e.g., MS Word document).",
            "Movie project file (e.g., Microsoft Windows Movie Maker project).",
            "Other non-video file type."
          ]
        },
        "videoStreams": {
          "type": "array",
          "items": {
            "$ref": "VideoFileDetailsVideoStream"
          },
          "description": "A list of video streams contained in the uploaded video file. Each item in the list contains detailed metadata about a video stream."
        },
        "durationMs": {
          "format": "uint64",
          "description": "The length of the uploaded video in milliseconds.",
          "type": "string"
        },
        "bitrateBps": {
          "format": "uint64",
          "description": "The uploaded video file's combined (video and audio) bitrate in bits per second.",
          "type": "string"
        },
        "fileSize": {
          "format": "uint64",
          "type": "string",
          "description": "The uploaded file's size in bytes. This field is present whether a video file or another type of file was uploaded."
        },
        "fileName": {
          "type": "string",
          "description": "The uploaded file's name. This field is present whether a video file or another type of file was uploaded."
        },
        "container": {
          "description": "The uploaded video file's container format.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoFileDetails"
    },
    "ThirdPartyLinkStatus": {
      "type": "object",
      "description": "The third-party link status object contains information about the status of the link.",
      "properties": {
        "linkStatus": {
          "type": "string",
          "enum": [
            "unknown",
            "failed",
            "pending",
            "linked"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "ThirdPartyLinkStatus"
    },
    "Activity": {
      "id": "Activity",
      "type": "object",
      "description": "An *activity* resource contains information about an action that a particular channel, or user, has taken on YouTube.The actions reported in activity feeds include rating a video, sharing a video, marking a video as a favorite, commenting on a video, uploading a video, and so forth. Each activity resource identifies the type of action, the channel associated with the action, and the resource(s) associated with the action, such as the video that was rated or uploaded.",
      "properties": {
        "kind": {
          "default": "youtube#activity",
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#activity\"."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the activity."
        },
        "contentDetails": {
          "description": "The contentDetails object contains information about the content associated with the activity. For example, if the snippet.type value is videoRated, then the contentDetails object's content identifies the rated video.",
          "$ref": "ActivityContentDetails"
        },
        "snippet": {
          "$ref": "ActivitySnippet",
          "description": "The snippet object contains basic details about the activity, including the activity's type and group ID."
        },
        "etag": {
          "description": "Etag of this resource",
          "type": "string"
        }
      }
    },
    "ResourceId": {
      "id": "ResourceId",
      "description": "A resource id is a generic reference that points to another YouTube resource.",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The type of the API resource."
        },
        "playlistId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a playlist. This property is only present if the resourceId.kind value is youtube#playlist."
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a video. This property is only present if the resourceId.kind value is youtube#video.",
          "type": "string"
        },
        "channelId": {
          "type": "string",
          "description": "The ID that YouTube uses to uniquely identify the referred resource, if that resource is a channel. This property is only present if the resourceId.kind value is youtube#channel."
        }
      },
      "type": "object"
    },
    "MembershipsLevelListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "default": "youtube#membershipsLevelListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#membershipsLevelListResponse\".",
          "type": "string"
        },
        "eventId": {
          "description": "Serialized EventId of the request which produced this response.",
          "deprecated": true,
          "type": "string"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "items": {
          "type": "array",
          "items": {
            "$ref": "MembershipsLevel"
          },
          "description": "A list of pricing levels offered by a creator to the fans."
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        }
      },
      "id": "MembershipsLevelListResponse"
    },
    "InvideoPosition": {
      "type": "object",
      "description": "Describes the spatial position of a visual widget inside a video. It is a union of various position types, out of which only will be set one.",
      "properties": {
        "type": {
          "enumDescriptions": [
            ""
          ],
          "type": "string",
          "enum": [
            "corner"
          ],
          "description": "Defines the position type."
        },
        "cornerPosition": {
          "type": "string",
          "enumDeprecated": [
            true,
            false,
            true,
            true
          ],
          "description": "Describes in which corner of the video the visual widget will appear.",
          "enum": [
            "topLeft",
            "topRight",
            "bottomLeft",
            "bottomRight"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "id": "InvideoPosition"
    },
    "Caption": {
      "description": "A *caption* resource represents a YouTube caption track. A caption track is associated with exactly one YouTube video.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "description": "The ID that YouTube uses to uniquely identify the caption track.",
          "annotations": {
            "required": [
              "youtube.captions.update"
            ]
          },
          "type": "string"
        },
        "snippet": {
          "$ref": "CaptionSnippet",
          "description": "The snippet object contains basic details about the caption."
        },
        "kind": {
          "type": "string",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#caption\".",
          "default": "youtube#caption"
        }
      },
      "type": "object",
      "id": "Caption"
    },
    "ChannelListResponse": {
      "type": "object",
      "properties": {
        "items": {
          "type": "array",
          "items": {
            "$ref": "Channel"
          }
        },
        "visitorId": {
          "description": "The visitorId identifies the visitor.",
          "deprecated": true,
          "type": "string"
        },
        "kind": {
          "default": "youtube#channelListResponse",
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#channelListResponse\".",
          "type": "string"
        },
        "prevPageToken": {
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the previous page in the result set.",
          "type": "string"
        },
        "pageInfo": {
          "$ref": "PageInfo",
          "description": "General pagination information."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "nextPageToken": {
          "type": "string",
          "description": "The token that can be used as the value of the pageToken parameter to retrieve the next page in the result set."
        },
        "eventId": {
          "deprecated": true,
          "type": "string",
          "description": "Serialized EventId of the request which produced this response."
        },
        "tokenPagination": {
          "deprecated": true,
          "$ref": "TokenPagination"
        }
      },
      "id": "ChannelListResponse"
    },
    "RelatedEntity": {
      "properties": {
        "entity": {
          "$ref": "Entity"
        }
      },
      "type": "object",
      "id": "RelatedEntity"
    },
    "LiveBroadcastMonetizationDetails": {
      "id": "LiveBroadcastMonetizationDetails",
      "description": "Monetization settings of a broadcast.",
      "properties": {
        "cuepointSchedule": {
          "$ref": "CuepointSchedule"
        }
      },
      "type": "object"
    },
    "VideoTrainability": {
      "id": "VideoTrainability",
      "description": "Specifies who is allowed to train on the video.",
      "properties": {
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#videoTrainability\".",
          "type": "string",
          "default": "youtube#videoTrainability"
        },
        "permitted": {
          "description": "Specifies who is allowed to train on the video. Valid values are: - a single string \"all\" - a single string \"none\" - a list of allowed parties",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "videoId": {
          "type": "string",
          "description": "The ID of the video."
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        }
      },
      "type": "object"
    },
    "LiveStreamConfigurationIssue": {
      "properties": {
        "description": {
          "description": "The long-form description of the issue and how to resolve it.",
          "type": "string"
        },
        "type": {
          "description": "The kind of error happening.",
          "type": "string",
          "enum": [
            "gopSizeOver",
            "gopSizeLong",
            "gopSizeShort",
            "openGop",
            "badContainer",
            "audioBitrateHigh",
            "audioBitrateLow",
            "audioSampleRate",
            "bitrateHigh",
            "bitrateLow",
            "audioCodec",
            "videoCodec",
            "noAudioStream",
            "noVideoStream",
            "multipleVideoStreams",
            "multipleAudioStreams",
            "audioTooManyChannels",
            "interlacedVideo",
            "frameRateHigh",
            "resolutionMismatch",
            "videoCodecMismatch",
            "videoInterlaceMismatch",
            "videoProfileMismatch",
            "videoBitrateMismatch",
            "framerateMismatch",
            "gopMismatch",
            "audioSampleRateMismatch",
            "audioStereoMismatch",
            "audioCodecMismatch",
            "audioBitrateMismatch",
            "videoResolutionSuboptimal",
            "videoResolutionUnsupported",
            "videoIngestionStarved",
            "videoIngestionFasterThanRealtime"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            "",
            ""
          ]
        },
        "reason": {
          "description": "The short-form reason for this issue.",
          "type": "string"
        },
        "severity": {
          "type": "string",
          "enum": [
            "info",
            "warning",
            "error"
          ],
          "description": "How severe this issue is to the stream.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        }
      },
      "type": "object",
      "id": "LiveStreamConfigurationIssue"
    },
    "MemberSnippet": {
      "type": "object",
      "properties": {
        "creatorChannelId": {
          "description": "The id of the channel that's offering memberships.",
          "type": "string"
        },
        "membershipsDetails": {
          "$ref": "MembershipsDetails",
          "description": "Details about the user's membership."
        },
        "memberDetails": {
          "description": "Details about the member.",
          "$ref": "ChannelProfileDetails"
        }
      },
      "id": "MemberSnippet"
    },
    "PlaylistContentDetails": {
      "type": "object",
      "properties": {
        "itemCount": {
          "type": "integer",
          "description": "The number of videos in the playlist.",
          "format": "uint32"
        }
      },
      "id": "PlaylistContentDetails"
    },
    "TestItem": {
      "properties": {
        "featuredPart": {
          "type": "boolean"
        },
        "etag": {
          "description": "Etag for the resource. See https://en.wikipedia.org/wiki/HTTP_ETag.",
          "type": "string"
        },
        "snippet": {
          "$ref": "TestItemTestItemSnippet"
        },
        "gaia": {
          "type": "string",
          "format": "int64"
        },
        "id": {
          "type": "string"
        }
      },
      "type": "object",
      "id": "TestItem"
    },
    "LiveChatModerator": {
      "id": "LiveChatModerator",
      "description": "A *liveChatModerator* resource represents a moderator for a YouTube live chat. A chat moderator has the ability to ban/unban users from a chat, remove message, etc.",
      "properties": {
        "snippet": {
          "description": "The snippet object contains basic details about the moderator.",
          "$ref": "LiveChatModeratorSnippet"
        },
        "etag": {
          "type": "string",
          "description": "Etag of this resource."
        },
        "id": {
          "type": "string",
          "description": "The ID that YouTube assigns to uniquely identify the moderator."
        },
        "kind": {
          "description": "Identifies what kind of resource this is. Value: the fixed string \"youtube#liveChatModerator\".",
          "type": "string",
          "default": "youtube#liveChatModerator"
        }
      },
      "type": "object"
    },
    "LiveChatBanSnippet": {
      "type": "object",
      "properties": {
        "bannedUserDetails": {
          "$ref": "ChannelProfileDetails"
        },
        "liveChatId": {
          "type": "string",
          "description": "The chat this ban is pertinent to."
        },
        "type": {
          "type": "string",
          "enum": [
            "liveChatBanTypeUnspecified",
            "permanent",
            "temporary"
          ],
          "description": "The type of ban.",
          "enumDescriptions": [
            "An invalid ban type.",
            "A permanent ban.",
            "A temporary ban."
          ]
        },
        "banDurationSeconds": {
          "format": "uint64",
          "type": "string",
          "description": "The duration of a ban, only filled if the ban has type TEMPORARY."
        }
      },
      "id": "LiveChatBanSnippet"
    },
    "CaptionSnippet": {
      "id": "CaptionSnippet",
      "description": "Basic details about a caption track, such as its language and name.",
      "properties": {
        "status": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The caption track's status.",
          "type": "string",
          "enum": [
            "serving",
            "syncing",
            "failed"
          ]
        },
        "isCC": {
          "description": "Indicates whether the track contains closed captions for the deaf and hard of hearing. The default value is false.",
          "type": "boolean"
        },
        "lastUpdated": {
          "format": "date-time",
          "description": "The date and time when the caption track was last updated.",
          "type": "string"
        },
        "videoId": {
          "description": "The ID that YouTube uses to uniquely identify the video associated with the caption track. @mutable youtube.captions.insert",
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string"
        },
        "isLarge": {
          "type": "boolean",
          "description": "Indicates whether the caption track uses large text for the vision-impaired. The default value is false."
        },
        "isDraft": {
          "type": "boolean",
          "description": "Indicates whether the caption track is a draft. If the value is true, then the track is not publicly visible. The default value is false. @mutable youtube.captions.insert youtube.captions.update"
        },
        "isAutoSynced": {
          "type": "boolean",
          "description": "Indicates whether YouTube synchronized the caption track to the audio track in the video. The value will be true if a sync was explicitly requested when the caption track was uploaded. For example, when calling the captions.insert or captions.update methods, you can set the sync parameter to true to instruct YouTube to sync the uploaded track to the video. If the value is false, YouTube uses the time codes in the uploaded caption track to determine when to display captions."
        },
        "isEasyReader": {
          "description": "Indicates whether caption track is formatted for \"easy reader,\" meaning it is at a third-grade level for language learners. The default value is false.",
          "type": "boolean"
        },
        "failureReason": {
          "type": "string",
          "enum": [
            "unknownFormat",
            "unsupportedFormat",
            "processingFailed"
          ],
          "description": "The reason that YouTube failed to process the caption track. This property is only present if the state property's value is failed.",
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "trackKind": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "description": "The caption track's type.",
          "type": "string",
          "enum": [
            "standard",
            "ASR",
            "forced"
          ]
        },
        "language": {
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string",
          "description": "The language of the caption track. The property value is a BCP-47 language tag."
        },
        "name": {
          "annotations": {
            "required": [
              "youtube.captions.insert"
            ]
          },
          "type": "string",
          "description": "The name of the caption track. The name is intended to be visible to the user as an option during playback."
        },
        "audioTrackType": {
          "description": "The type of audio track associated with the caption track.",
          "type": "string",
          "enum": [
            "unknown",
            "primary",
            "commentary",
            "descriptive"
          ],
          "enumDescriptions": [
            "",
            "",
            "",
            ""
          ]
        }
      },
      "type": "object"
    },
    "VideoStatus": {
      "id": "VideoStatus",
      "type": "object",
      "description": "Basic details about a video category, such as its localized title. Next Id: 19",
      "properties": {
        "rejectionReason": {
          "description": "This value explains why YouTube rejected an uploaded video. This property is only present if the uploadStatus property indicates that the upload was rejected.",
          "type": "string",
          "enum": [
            "copyright",
            "inappropriate",
            "duplicate",
            "termsOfUse",
            "uploaderAccountSuspended",
            "length",
            "claim",
            "uploaderAccountClosed",
            "trademark",
            "legal"
          ],
          "enumDescriptions": [
            "Copyright infringement.",
            "Inappropriate video content.",
            "Duplicate upload in the same channel.",
            "Terms of use violation.",
            "Uploader account was suspended.",
            "Video duration was too long.",
            "Blocked by content owner.",
            "Uploader closed his/her account.",
            "Trademark infringement.",
            "An unspecified legal reason."
          ]
        },
        "embeddable": {
          "type": "boolean",
          "description": "This value indicates if the video can be embedded on another website. @mutable youtube.videos.insert youtube.videos.update"
        },
        "publishAt": {
          "format": "date-time",
          "description": "The date and time when the video is scheduled to publish. It can be set only if the privacy status of the video is private..",
          "type": "string"
        },
        "publicStatsViewable": {
          "description": "This value indicates if the extended video statistics on the watch page can be viewed by everyone. Note that the view count, likes, etc will still be visible if this is disabled. @mutable youtube.videos.insert youtube.videos.update",
          "type": "boolean"
        },
        "selfDeclaredMadeForKids": {
          "type": "boolean"
        },
        "license": {
          "enumDescriptions": [
            "",
            ""
          ],
          "type": "string",
          "enum": [
            "youtube",
            "creativeCommon"
          ],
          "description": "The video's license. @mutable youtube.videos.insert youtube.videos.update"
        },
        "containsSyntheticMedia": {
          "description": "Indicates if the video contains altered or synthetic media.",
          "type": "boolean"
        },
        "failureReason": {
          "enumDescriptions": [
            "Unable to convert video content.",
            "Invalid file format.",
            "Empty file.",
            "File was too small.",
            "Unsupported codec.",
            "Upload wasn't finished."
          ],
          "type": "string",
          "enum": [
            "conversion",
            "invalidFile",
            "emptyFile",
            "tooSmall",
            "codec",
            "uploadAborted"
          ],
          "description": "This value explains why a video failed to upload. This property is only present if the uploadStatus property indicates that the upload failed."
        },
        "privacyStatus": {
          "description": "The video's privacy status.",
          "type": "string",
          "enum": [
            "public",
            "unlisted",
            "private"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "uploadStatus": {
          "enumDescriptions": [
            "Video has been uploaded but not processed yet.",
            "Video has been successfully processed.",
            "Processing has failed. See FailureReason.",
            "Video has been rejected. See RejectionReason.",
            "Video has been deleted."
          ],
          "description": "The status of the uploaded video.",
          "type": "string",
          "enum": [
            "uploaded",
            "processed",
            "failed",
            "rejected",
            "deleted"
          ]
        },
        "madeForKids": {
          "type": "boolean"
        }
      }
    },
    "VideoFileDetailsAudioStream": {
      "description": "Information about an audio stream.",
      "properties": {
        "codec": {
          "type": "string",
          "description": "The audio codec that the stream uses."
        },
        "vendor": {
          "description": "A value that uniquely identifies a video vendor. Typically, the value is a four-letter vendor code.",
          "type": "string"
        },
        "channelCount": {
          "description": "The number of audio channels that the stream contains.",
          "type": "integer",
          "format": "uint32"
        },
        "bitrateBps": {
          "format": "uint64",
          "description": "The audio stream's bitrate, in bits per second.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "VideoFileDetailsAudioStream"
    },
    "LiveChatMessageSnippet": {
      "type": "object",
      "description": "Next ID: 35",
      "properties": {
        "pollDetails": {
          "$ref": "LiveChatPollDetails",
          "description": "Details about the poll event, this is only set if the type is 'pollEvent'."
        },
        "userBannedDetails": {
          "$ref": "LiveChatUserBannedMessageDetails"
        },
        "superStickerDetails": {
          "$ref": "LiveChatSuperStickerDetails",
          "description": "Details about the Super Sticker event, this is only set if the type is 'superStickerEvent'."
        },
        "displayMessage": {
          "description": "Contains a string that can be displayed to the user. If this field is not present the message is silent, at the moment only messages of type TOMBSTONE and CHAT_ENDED_EVENT are silent.",
          "type": "string"
        },
        "textMessageDetails": {
          "$ref": "LiveChatTextMessageDetails",
          "description": "Details about the text message, this is only set if the type is 'textMessageEvent'."
        },
        "membershipGiftingDetails": {
          "$ref": "LiveChatMembershipGiftingDetails",
          "description": "Details about the Membership Gifting event, this is only set if the type is 'membershipGiftingEvent'."
        },
        "fanFundingEventDetails": {
          "deprecated": true,
          "$ref": "LiveChatFanFundingEventDetails",
          "description": "Details about the funding event, this is only set if the type is 'fanFundingEvent'."
        },
        "superChatDetails": {
          "$ref": "LiveChatSuperChatDetails",
          "description": "Details about the Super Chat event, this is only set if the type is 'superChatEvent'."
        },
        "liveChatId": {
          "type": "string"
        },
        "hasDisplayContent": {
          "description": "Whether the message has display content that should be displayed to users.",
          "type": "boolean"
        },
        "giftMembershipReceivedDetails": {
          "description": "Details about the Gift Membership Received event, this is only set if the type is 'giftMembershipReceivedEvent'.",
          "$ref": "LiveChatGiftMembershipReceivedDetails"
        },
        "newSponsorDetails": {
          "$ref": "LiveChatNewSponsorDetails",
[...]
