{
  "parameters": {
    "callback": {
      "location": "query",
      "type": "string",
      "description": "JSONP"
    },
    "oauth_token": {
      "location": "query",
      "type": "string",
      "description": "OAuth 2.0 token for the current user."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query"
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "key": {
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "type": "string",
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "enum": [
        "1",
        "2"
      ]
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "alt": {
      "description": "Data format for response.",
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "type": "string",
      "default": "json"
    },
    "access_token": {
      "description": "OAuth access token.",
      "type": "string",
      "location": "query"
    },
    "uploadType": {
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "type": "string"
    },
    "fields": {
      "type": "string",
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query"
    }
  },
  "title": "YouTube Data API v3",
  "revision": "20260430",
  "fullyEncodeReservedExpansion": true,
  "description": "The YouTube Data API v3 is an API that provides access to YouTube data, such as videos, playlists, and channels.",
  "baseUrl": "https://youtube.googleapis.com/",
  "protocol": "rest",
  "ownerName": "Google",
  "batchPath": "batch",
  "ownerDomain": "google.com",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/youtube.upload": {
          "description": "Manage your YouTube videos"
        },
        "https://www.googleapis.com/auth/youtubepartner-channel-audit": {
          "description": "View private information of your YouTube channel relevant during the audit process with a YouTube partner"
        },
        "https://www.googleapis.com/auth/youtube": {
          "description": "Manage your YouTube account"
        },
        "https://www.googleapis.com/auth/youtube.force-ssl": {
          "description": "See, edit, and permanently delete your YouTube videos, ratings, comments and captions"
        },
        "https://www.googleapis.com/auth/youtube.readonly": {
          "description": "View your YouTube account"
        },
        "https://www.googleapis.com/auth/youtubepartner": {
          "description": "View and manage your assets and associated content on YouTube"
        },
        "https://www.googleapis.com/auth/youtube.channel-memberships.creator": {
          "description": "See a list of your current active channel members, their current level, and when they became a member"
        }
      }
    }
  },
  "discoveryVersion": "v1",
  "name": "youtube",
  "servicePath": "",
  "mtlsRootUrl": "https://youtube.mtls.googleapis.com/",
  "kind": "discovery#restDescription",
  "version": "v3",
  "rootUrl": "https://youtube.googleapis.com/",
  "resources": {
    "liveChatModerators": {
      "methods": {
        "list": {
          "flatPath": "youtube/v3/liveChat/moderators",
          "response": {
            "$ref": "LiveChatModeratorListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "id": "youtube.liveChatModerators.list",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "parameters": {
            "liveChatId": {
              "description": "The id of the live chat for which moderators should be returned.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "location": "query",
              "default": "5",
              "type": "integer"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies the liveChatModerator resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "path": "youtube/v3/liveChat/moderators",
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET"
        },
        "delete": {
          "id": "youtube.liveChatModerators.delete",
          "parameterOrder": [
            "id"
          ],
          "flatPath": "youtube/v3/liveChat/moderators",
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "path": "youtube/v3/liveChat/moderators",
          "description": "Deletes a chat moderator.",
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ]
        },
        "insert": {
          "httpMethod": "POST",
          "path": "youtube/v3/liveChat/moderators",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet."
            }
          },
          "request": {
            "$ref": "LiveChatModerator"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveChatModerator"
          },
          "flatPath": "youtube/v3/liveChat/moderators",
          "id": "youtube.liveChatModerators.insert",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "videos": {
      "methods": {
        "rate": {
          "httpMethod": "POST",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos/rate",
          "parameters": {
            "rating": {
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "type": "string",
              "required": true
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "path": "youtube/v3/videos/rate",
          "description": "Adds a like or dislike rating to a video or removes a rating from a video.",
          "id": "youtube.videos.rate",
          "parameterOrder": [
            "id",
            "rating"
          ]
        },
        "reportAbuse": {
          "id": "youtube.videos.reportAbuse",
          "parameterOrder": [],
          "flatPath": "youtube/v3/videos/reportAbuse",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "request": {
            "$ref": "VideoAbuseReport"
          },
          "path": "youtube/v3/videos/reportAbuse",
          "description": "Report abuse for a video.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          },
          "httpMethod": "POST"
        },
        "list": {
          "id": "youtube.videos.list",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "VideoListResponse"
          },
          "flatPath": "youtube/v3/videos",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/videos",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter."
            },
            "regionCode": {
              "location": "query",
              "description": "Use a chart that is specific to the specified region",
              "type": "string"
            },
            "id": {
              "type": "string",
              "description": "Return videos with the given ids.",
              "repeated": true,
              "location": "query"
            },
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies a comma-separated list of one or more video resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a video resource, the snippet property contains the channelId, title, description, tags, and categoryId properties. As such, if you set *part=snippet*, the API response will contain all of those properties."
            },
            "locale": {
              "type": "string",
              "location": "query",
              "deprecated": true
            },
            "maxHeight": {
              "minimum": "72",
              "format": "int32",
              "location": "query",
              "maximum": "8192",
              "type": "integer"
            },
            "hl": {
              "location": "query",
              "type": "string",
              "description": "Stands for \"host language\". Specifies the localization language of the metadata to be filled into snippet.localized. The field is filled with the default metadata if there is no localization in the specified language. The parameter value must be a language code included in the list returned by the i18nLanguages.list method (e.g. en_US, es_MX)."
            },
            "maxWidth": {
              "minimum": "72",
              "format": "int32",
              "description": "Return the player with maximum height specified in",
              "maximum": "8192",
              "location": "query",
              "type": "integer"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "myRating": {
              "description": "Return videos liked/disliked by the authenticated user. Does not support RateType.RATED_TYPE_NONE.",
              "location": "query",
              "enumDescriptions": [
                "",
                "The entity is liked.",
                "The entity is disliked."
              ],
              "enum": [
                "none",
                "like",
                "dislike"
              ],
              "type": "string"
            },
            "videoCategoryId": {
              "default": "0",
              "type": "string",
              "description": "Use chart that is specific to the specified video category",
              "location": "query"
            },
            "chart": {
              "location": "query",
              "enumDescriptions": [
                "",
                "Return the most popular videos for the specified content region and video category."
              ],
              "enum": [
                "chartUnspecified",
                "mostPopular"
              ],
              "type": "string",
              "description": "Return the videos that are in the specified chart."
            },
            "maxResults": {
              "default": "5",
              "type": "integer",
              "maximum": "50",
              "location": "query",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. *Note:* This parameter is supported for use in conjunction with the myRating and chart parameters, but it is not supported for use in conjunction with the id parameter.",
              "minimum": "1"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos",
          "response": {
            "$ref": "Video"
          },
          "id": "youtube.videos.update",
          "parameterOrder": [
            "part"
          ],
          "httpMethod": "PUT",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. For example, a video's privacy setting is contained in the status part. As such, if your request is updating a private video, and the request's part parameter value includes the status part, the video's privacy setting will be updated to whatever value the request body specifies. If the request body does not specify a value, the existing privacy setting will be removed and the video will revert to the default privacy setting. In addition, not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response.",
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true
            }
          },
          "path": "youtube/v3/videos",
          "description": "Updates an existing resource.",
          "request": {
            "$ref": "Video"
          }
        },
        "delete": {
          "path": "youtube/v3/videos",
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/videos",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE",
          "id": "youtube.videos.delete",
          "parameterOrder": [
            "id"
          ]
        },
        "insert": {
          "id": "youtube.videos.insert",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "Video"
          },
          "flatPath": "youtube/v3/videos",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Video"
          },
          "httpMethod": "POST",
          "path": "youtube/v3/videos",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "autoLevels": {
              "type": "boolean",
              "description": "Should auto-levels be applied to the upload.",
              "location": "query"
            },
            "stabilize": {
              "location": "query",
              "description": "Should stabilize be applied to the upload.",
              "type": "boolean"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "notifySubscribers": {
              "location": "query",
              "default": "true",
              "type": "boolean",
              "description": "Notify the channel subscribers about the new video. As default, the notification is enabled."
            },
            "part": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that not all parts contain properties that can be set when inserting or updating a video. For example, the statistics object encapsulates statistics that YouTube calculates for a video and does not contain values that you can set or modify. If the parameter value specifies a part that does not contain mutable values, that part will still be included in the API response."
            }
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/videos"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/videos"
              }
            },
            "maxSize": "274877906944",
            "accept": [
              "video/*",
              "application/octet-stream"
            ]
          }
        },
        "getRating": {
          "httpMethod": "GET",
          "parameters": {
            "id": {
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/videos/getRating",
          "description": "Retrieves the ratings that the authorized user gave to a list of specified videos.",
          "id": "youtube.videos.getRating",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/videos/getRating",
          "response": {
            "$ref": "VideoGetRatingResponse"
          }
        }
      }
    },
    "captions": {
      "methods": {
        "download": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/captions/{id}",
          "id": "youtube.captions.download",
          "parameterOrder": [
            "id"
          ],
          "httpMethod": "GET",
          "path": "youtube/v3/captions/{id}",
          "description": "Downloads a caption track.",
          "parameters": {
            "id": {
              "description": "The ID of the caption track to download, required for One Platform.",
              "required": true,
              "type": "string",
              "location": "path"
            },
            "onBehalfOf": {
              "location": "query",
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
            },
            "tfmt": {
              "type": "string",
              "description": "Convert the captions into this format. Supported options are sbv, srt, and vtt.",
              "location": "query"
            },
            "tlang": {
              "description": "tlang is the language code; machine translate the captions into this language.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "supportsMediaDownload": true,
          "useMediaDownloadService": true
        },
        "list": {
          "id": "youtube.captions.list",
          "parameterOrder": [
            "part",
            "videoId"
          ],
          "flatPath": "youtube/v3/captions",
          "response": {
            "$ref": "CaptionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "repeated": true,
              "description": "Returns the captions with the given IDs for Stubby or Apiary.",
              "type": "string"
            },
            "onBehalfOf": {
              "location": "query",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "type": "string"
            },
            "videoId": {
              "location": "query",
              "description": "Returns the captions for the specified video.",
              "required": true,
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            }
          },
          "path": "youtube/v3/captions",
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET"
        },
        "update": {
          "id": "youtube.captions.update",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "Caption"
          },
          "flatPath": "youtube/v3/captions",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Caption"
          },
          "httpMethod": "PUT",
          "path": "youtube/v3/captions",
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true,
              "description": "The *part* parameter specifies a comma-separated list of one or more caption resource parts that the API response will include. The part names that you can include in the parameter value are id and snippet."
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is on behalf of.",
              "location": "query"
            },
            "sync": {
              "location": "query",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            }
          },
          "mediaUpload": {
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            },
            "maxSize": "104857600",
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ]
          }
        },
        "delete": {
          "id": "youtube.captions.delete",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "DELETE",
          "path": "youtube/v3/captions",
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/captions",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOf": {
              "location": "query",
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of"
            }
          }
        },
        "insert": {
          "id": "youtube.captions.insert",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "Caption"
          },
          "flatPath": "youtube/v3/captions",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "supportsMediaUpload": true,
          "request": {
            "$ref": "Caption"
          },
          "path": "youtube/v3/captions",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "sync": {
              "location": "query",
              "description": "Extra parameter to allow automatically syncing the uploaded caption/transcript with the audio.",
              "type": "boolean"
            },
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies the caption resource parts that the API response will include. Set the parameter value to snippet."
            },
            "onBehalfOf": {
              "type": "string",
              "description": "ID of the Google+ Page for the channel that the request is be on behalf of",
              "location": "query"
            }
          },
          "mediaUpload": {
            "accept": [
              "text/xml",
              "application/octet-stream",
              "*/*"
            ],
            "maxSize": "104857600",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/captions"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/captions"
              }
            }
          },
          "httpMethod": "POST"
        }
      }
    },
    "i18nRegions": {
      "methods": {
        "list": {
          "parameters": {
            "hl": {
              "location": "query",
              "default": "en_US",
              "type": "string"
            },
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies the i18nRegion resource properties that the API response will include. Set the parameter value to snippet."
            }
          },
          "path": "youtube/v3/i18nRegions",
          "description": "Retrieves a list of resources, possibly filtered.",
          "httpMethod": "GET",
          "flatPath": "youtube/v3/i18nRegions",
          "response": {
            "$ref": "I18nRegionListResponse"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.i18nRegions.list",
          "parameterOrder": [
            "part"
          ]
        }
      }
    },
    "liveChatMessages": {
      "methods": {
        "list": {
          "id": "youtube.liveChatMessages.list",
          "parameterOrder": [
            "liveChatId",
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ],
          "response": {
            "$ref": "LiveChatMessageListResponse"
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "httpMethod": "GET",
          "path": "youtube/v3/liveChat/messages",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "liveChatId": {
              "description": "The id of the live chat for which comments should be returned.",
              "required": true,
              "type": "string",
              "location": "query"
            },
            "profileImageSize": {
              "maximum": "720",
              "location": "query",
              "type": "integer",
              "minimum": "16",
              "format": "uint32",
              "description": "Specifies the size of the profile image that should be returned for each user."
            },
            "maxResults": {
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set. Not used in the streaming RPC.",
              "format": "uint32",
              "minimum": "200",
              "default": "500",
              "type": "integer",
              "location": "query",
              "maximum": "2000"
            },
            "hl": {
              "type": "string",
              "description": "Specifies the localization language in which the system messages should be returned.",
              "location": "query"
            },
            "pageToken": {
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken property identify other pages that could be retrieved.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the liveChatComment resource parts that the API response will include. Supported values are id, snippet, and authorDetails.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            }
          }
        },
        "insert": {
          "response": {
            "$ref": "LiveChatMessage"
          },
          "flatPath": "youtube/v3/liveChat/messages",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatMessages.insert",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/liveChat/messages",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes. It identifies the properties that the write operation will set as well as the properties that the API response will include. Set the parameter value to snippet."
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "LiveChatMessage"
          }
        },
        "delete": {
          "id": "youtube.liveChatMessages.delete",
          "parameterOrder": [
            "id"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "DELETE",
          "path": "youtube/v3/liveChat/messages",
          "description": "Deletes a chat message.",
          "flatPath": "youtube/v3/liveChat/messages",
          "parameters": {
            "id": {
              "location": "query",
              "required": true,
              "type": "string"
            }
          }
        },
        "transition": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "response": {
            "$ref": "LiveChatMessage"
          },
          "flatPath": "youtube/v3/liveChat/messages/transition",
          "id": "youtube.liveChatMessages.transition",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "youtube/v3/liveChat/messages/transition",
          "description": "Transition a durable chat event.",
          "parameters": {
            "id": {
              "description": "The ID that uniquely identify the chat message event to transition.",
              "type": "string",
              "location": "query"
            },
            "status": {
              "description": "The status to which the chat event is going to transition.",
              "enum": [
                "statusUnspecified",
                "closed"
              ],
              "location": "query",
              "enumDescriptions": [
                "Default unknown enum value.",
                "The durable chat event is over."
              ],
              "type": "string"
            }
          }
        }
      }
    },
    "liveStreams": {
      "methods": {
        "insert": {
          "path": "youtube/v3/liveStreams",
          "description": "Inserts a new stream for the authenticated user.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, content_details, and status.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "LiveStream"
          },
          "response": {
            "$ref": "LiveStream"
          },
          "flatPath": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveStreams.insert",
          "parameterOrder": [
            "part"
          ]
        },
        "delete": {
          "id": "youtube.liveStreams.delete",
          "parameterOrder": [
            "id"
          ],
          "path": "youtube/v3/liveStreams",
          "description": "Deletes an existing stream for the authenticated user.",
          "flatPath": "youtube/v3/liveStreams",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "id": {
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "httpMethod": "DELETE"
        },
        "list": {
          "path": "youtube/v3/liveStreams",
          "description": "Retrieve the list of streams associated with the given channel. --",
          "parameters": {
            "mine": {
              "location": "query",
              "type": "boolean"
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more liveStream resource properties that the API response will include. The part names that you can include in the parameter value are id, snippet, cdn, and status."
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "maxResults": {
              "minimum": "0",
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "maximum": "50",
              "location": "query",
              "default": "5",
              "type": "integer"
            },
            "id": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Return LiveStreams with the given ids from Stubby or Apiary."
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            }
          },
          "httpMethod": "GET",
          "id": "youtube.liveStreams.list",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "LiveStreamListResponse"
          },
          "flatPath": "youtube/v3/liveStreams",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly"
          ]
        },
        "update": {
          "id": "youtube.liveStreams.update",
          "parameterOrder": [
            "part"
          ],
          "flatPath": "youtube/v3/liveStreams",
          "response": {
            "$ref": "LiveStream"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "request": {
            "$ref": "LiveStream"
          },
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string"
            },
            "onBehalfOfContentOwnerChannel": {
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "location": "query"
            },
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. The part properties that you can include in the parameter value are id, snippet, cdn, and status. Note that this method will override the existing values for all of the mutable properties that are contained in any parts that the parameter value specifies. If the request body does not specify a value for a mutable property, the existing value for that property will be removed."
            }
          },
          "path": "youtube/v3/liveStreams",
          "description": "Updates an existing stream for the authenticated user.",
          "httpMethod": "PUT"
        }
      }
    },
    "liveChatBans": {
      "methods": {
        "insert": {
          "response": {
            "$ref": "LiveChatBan"
          },
          "flatPath": "youtube/v3/liveChat/bans",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "id": "youtube.liveChatBans.insert",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/liveChat/bans",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response returns. Set the parameter value to snippet.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "LiveChatBan"
          }
        },
        "delete": {
          "httpMethod": "DELETE",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/liveChat/bans",
          "parameters": {
            "id": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "path": "youtube/v3/liveChat/bans",
          "description": "Deletes a chat ban.",
          "id": "youtube.liveChatBans.delete",
          "parameterOrder": [
            "id"
          ]
        }
      }
    },
    "search": {
      "methods": {
        "list": {
          "id": "youtube.search.list",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "SearchListResponse"
          },
          "flatPath": "youtube/v3/search",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "path": "youtube/v3/search",
          "description": "Retrieves a list of search resources",
          "parameters": {
            "videoEmbeddable": {
              "type": "string",
              "enum": [
                "videoEmbeddableUnspecified",
                "any",
                "true"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all videos, embeddable or not.",
                "Only retrieve embeddable videos."
              ],
              "description": "Filter on embeddable videos."
            },
            "forMine": {
              "type": "boolean",
              "description": "Search for the private videos of the authenticated user.",
              "location": "query"
            },
            "channelType": {
              "description": "Add a filter on the channel search.",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all channels.",
                "Only retrieve shows."
              ],
              "enum": [
                "channelTypeUnspecified",
                "any",
                "show"
              ]
            },
            "videoCategoryId": {
              "type": "string",
              "description": "Filter on videos in a specific category.",
              "location": "query"
            },
            "videoSyndicated": {
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all videos, syndicated or not.",
                "Only retrieve syndicated videos."
              ],
              "enum": [
                "videoSyndicatedUnspecified",
                "any",
                "true"
              ],
              "type": "string",
              "description": "Filter on syndicated videos."
            },
            "maxResults": {
              "minimum": "0",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "format": "uint32",
              "location": "query",
              "maximum": "50",
              "default": "5",
              "type": "integer"
            },
            "topicId": {
              "type": "string",
              "description": "Restrict results to a particular topic.",
              "location": "query"
            },
            "videoDefinition": {
              "type": "string",
              "enum": [
                "any",
                "standard",
                "high"
              ],
              "location": "query",
              "enumDescriptions": [
                "Return all videos, regardless of their resolution.",
                "Only retrieve videos in standard definition.",
                "Only retrieve HD videos."
              ],
              "description": "Filter on the definition of the videos."
            },
            "locationRadius": {
              "type": "string",
              "description": "Filter on distance from the location (specified above).",
              "location": "query"
            },
            "publishedBefore": {
              "location": "query",
              "description": "Filter on resources published before this date.",
              "type": "string",
              "format": "google-datetime"
            },
            "regionCode": {
              "location": "query",
              "description": "Display the content as seen by viewers in this country.",
              "type": "string"
            },
            "forDeveloper": {
              "location": "query",
              "description": "Restrict the search to only retrieve videos uploaded using the project id of the authenticated user.",
              "type": "boolean"
            },
            "relevanceLanguage": {
              "type": "string",
              "description": "Return results relevant to this language.",
              "location": "query"
            },
            "part": {
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query",
              "description": "The *part* parameter specifies a comma-separated list of one or more search resource properties that the API response will include. Set the parameter value to snippet."
            },
            "videoLicense": {
              "description": "Filter on the license of the videos.",
              "location": "query",
              "enumDescriptions": [
                "Return all videos, regardless of which license they have, that match the query parameters.",
                "Only return videos that have the standard YouTube license.",
                "Only return videos that have a Creative Commons license. Users can reuse videos with this license in other videos that they create. Learn more."
              ],
              "enum": [
                "any",
                "youtube",
                "creativeCommon"
              ],
              "type": "string"
            },
            "order": {
              "default": "relevance",
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "Resources are sorted in reverse chronological order based on the date they were created.",
                "Resources are sorted from highest to lowest rating.",
                "Resources are sorted from highest to lowest number of views.",
                "Resources are sorted based on their relevance to the search query. This is the default value for this parameter.",
                "Resources are sorted alphabetically by title.",
                "Channels are sorted in descending order of their number of uploaded videos."
              ],
              "enum": [
                "searchSortUnspecified",
                "date",
                "rating",
                "viewCount",
                "relevance",
                "title",
                "videoCount"
              ],
              "description": "Sort order of the results."
            },
            "videoCaption": {
              "description": "Filter on the presence of captions on the videos.",
              "enum": [
                "videoCaptionUnspecified",
                "any",
                "closedCaption",
                "none"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Do not filter results based on caption availability.",
                "Only include videos that have captions.",
                "Only include videos that do not have captions."
              ],
              "type": "string"
            },
            "q": {
              "location": "query",
              "type": "string",
              "description": "Textual search terms to match."
            },
            "type": {
              "type": "string",
              "description": "Restrict results to a particular set of resource types from One Platform.",
              "repeated": true,
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "videoDuration": {
              "description": "Filter on the duration of the videos.",
              "type": "string",
              "enum": [
                "videoDurationUnspecified",
                "any",
                "short",
                "medium",
                "long"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Do not filter video search results based on their duration. This is the default value.",
                "Only include videos that are less than four minutes long.",
                "Only include videos that are between four and 20 minutes long (inclusive).",
                "Only include videos longer than 20 minutes."
              ]
            },
            "location": {
              "description": "Filter on location of the video",
              "type": "string",
              "location": "query"
            },
            "videoPaidProductPlacement": {
              "enum": [
                "videoPaidProductPlacementUnspecified",
                "any",
                "true"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all videos, paid product placement or not.",
                "Restrict results to only videos with paid product placement."
              ],
              "type": "string"
            },
            "safeSearch": {
              "enum": [
                "safeSearchSettingUnspecified",
                "none",
                "moderate",
                "strict"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "YouTube will not filter the search result set.",
                "YouTube will filter some content from search results and, at the least, will filter content that is restricted in your locale. Based on their content, search results could be removed from search results or demoted in search results. This is the default parameter value.",
                "YouTube will try to exclude all restricted content from the search result set. Based on their content, search results could be removed from search results or demoted in search results."
              ],
              "default": "moderate",
              "type": "string",
              "description": "Indicates whether the search results should include restricted content as well as standard content."
            },
            "channelId": {
              "type": "string",
              "description": "Filter on resources belonging to this channelId.",
              "location": "query"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved."
            },
            "videoType": {
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "Return all videos.",
                "Only retrieve movies.",
                "Only retrieve episodes of shows."
              ],
              "enum": [
                "videoTypeUnspecified",
                "any",
                "movie",
                "episode"
              ],
              "description": "Filter on videos of a specific type."
            },
            "videoDimension": {
              "description": "Filter on 3d videos.",
              "type": "string",
              "enum": [
                "any",
                "2d",
                "3d"
              ],
              "location": "query",
              "enumDescriptions": [
                "Include both 3D and non-3D videos in returned results. This is the default value.",
                "Restrict search results to exclude 3D videos.",
                "Restrict search results to only include 3D videos."
              ]
            },
            "eventType": {
              "enum": [
                "none",
                "upcoming",
                "live",
                "completed"
              ],
              "location": "query",
              "enumDescriptions": [
                "",
                "The live broadcast is upcoming.",
                "The live broadcast is active.",
                "The live broadcast has been completed."
              ],
              "type": "string",
              "description": "Filter on the livestream status of the videos."
            },
            "publishedAfter": {
              "location": "query",
              "type": "string",
              "format": "google-datetime",
              "description": "Filter on resources published after this date."
            },
            "forContentOwner": {
              "location": "query",
              "type": "boolean",
              "description": "Search owned by a content owner."
            }
          },
          "httpMethod": "GET"
        }
      }
    },
    "thirdPartyLinks": {
      "methods": {
        "delete": {
          "id": "youtube.thirdPartyLinks.delete",
          "parameterOrder": [
            "linkingToken",
            "type"
          ],
          "httpMethod": "DELETE",
          "path": "youtube/v3/thirdPartyLinks",
          "description": "Deletes a resource.",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameters": {
            "type": {
              "description": "Type of the link to be deleted.",
              "required": true,
              "type": "string",
              "location": "query",
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ]
            },
            "part": {
              "description": "Do not use. Required for compatibility.",
              "type": "string",
              "location": "query",
              "repeated": true
            },
            "linkingToken": {
              "type": "string",
              "description": "Delete the partner links with the given linking token.",
              "required": true,
              "location": "query"
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "type": "string",
              "location": "query"
            }
          }
        },
        "insert": {
          "path": "youtube/v3/thirdPartyLinks",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "externalChannelId": {
              "location": "query",
              "description": "Channel ID to which changes should be applied, for delegation.",
              "type": "string"
            },
            "part": {
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "POST",
          "request": {
            "$ref": "ThirdPartyLink"
          },
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "flatPath": "youtube/v3/thirdPartyLinks",
          "id": "youtube.thirdPartyLinks.insert",
          "parameterOrder": [
            "part"
          ]
        },
        "list": {
          "id": "youtube.thirdPartyLinks.list",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/thirdPartyLinks",
          "response": {
            "$ref": "ThirdPartyLinkListResponse"
          },
          "description": "Retrieves a list of resources, possibly filtered.",
          "flatPath": "youtube/v3/thirdPartyLinks",
          "parameters": {
            "type": {
              "location": "query",
              "enumDescriptions": [
                "",
                "A link that is connecting (or about to connect) a channel with a store on a merchandising platform in order to enable retail commerce capabilities for that channel on YouTube."
              ],
              "enum": [
                "linkUnspecified",
                "channelToStoreLink"
              ],
              "type": "string",
              "description": "Get a third party link of the given type."
            },
            "linkingToken": {
              "location": "query",
              "type": "string",
              "description": "Get a third party link with the given linking token."
            },
            "externalChannelId": {
              "description": "Channel ID to which changes should be applied, for delegation.",
              "type": "string",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API response will include. Supported values are linkingToken, status, and snippet.",
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string"
            }
          },
          "httpMethod": "GET"
        },
        "update": {
          "flatPath": "youtube/v3/thirdPartyLinks",
          "response": {
            "$ref": "ThirdPartyLink"
          },
          "id": "youtube.thirdPartyLinks.update",
          "parameterOrder": [
            "part"
          ],
          "parameters": {
            "externalChannelId": {
              "location": "query",
              "type": "string",
              "description": "Channel ID to which changes should be applied, for delegation."
            },
            "part": {
              "description": "The *part* parameter specifies the thirdPartyLink resource parts that the API request and response will include. Supported values are linkingToken, status, and snippet.",
              "repeated": true,
              "location": "query",
              "type": "string",
              "required": true
            }
          },
          "path": "youtube/v3/thirdPartyLinks",
          "description": "Updates an existing resource.",
          "httpMethod": "PUT",
          "request": {
            "$ref": "ThirdPartyLink"
          }
        }
      }
    },
    "membershipsLevels": {
      "methods": {
        "list": {
          "path": "youtube/v3/membershipsLevels",
          "description": "Retrieves a list of all pricing levels offered by a creator to the fans.",
          "parameters": {
            "part": {
              "location": "query",
              "repeated": true,
              "required": true,
              "type": "string",
              "description": "The *part* parameter specifies the membershipsLevel resource parts that the API response will include. Supported values are id and snippet."
            }
          },
          "httpMethod": "GET",
          "id": "youtube.membershipsLevels.list",
          "parameterOrder": [
            "part"
          ],
          "response": {
            "$ref": "MembershipsLevelListResponse"
          },
          "flatPath": "youtube/v3/membershipsLevels",
          "scopes": [
            "https://www.googleapis.com/auth/youtube.channel-memberships.creator"
          ]
        }
      }
    },
    "i18nLanguages": {
      "methods": {
        "list": {
          "id": "youtube.i18nLanguages.list",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "I18nLanguageListResponse"
          },
          "flatPath": "youtube/v3/i18nLanguages",
          "httpMethod": "GET",
          "path": "youtube/v3/i18nLanguages",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "hl": {
              "default": "en_US",
              "type": "string",
              "location": "query"
            },
            "part": {
              "required": true,
              "type": "string",
              "location": "query",
              "repeated": true,
              "description": "The *part* parameter specifies the i18nLanguage resource properties that the API response will include. Set the parameter value to snippet."
            }
          }
        }
      }
    },
    "watermarks": {
      "methods": {
        "set": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "flatPath": "youtube/v3/watermarks/set",
          "id": "youtube.watermarks.set",
          "parameterOrder": [
            "channelId"
          ],
          "httpMethod": "POST",
          "parameters": {
            "onBehalfOfContentOwner": {
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "location": "query"
            },
            "channelId": {
              "required": true,
              "type": "string",
              "location": "query"
            }
          },
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "10485760",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/watermarks/set"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/watermarks/set"
              }
            }
          },
          "path": "youtube/v3/watermarks/set",
          "description": "Allows upload of watermark image and setting it for a channel.",
          "supportsMediaUpload": true,
          "request": {
            "$ref": "InvideoBranding"
          }
        },
        "unset": {
          "id": "youtube.watermarks.unset",
          "parameterOrder": [
            "channelId"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "httpMethod": "POST",
          "path": "youtube/v3/watermarks/unset",
          "description": "Allows removal of channel watermark.",
          "flatPath": "youtube/v3/watermarks/unset",
          "parameters": {
            "channelId": {
              "required": true,
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            }
          }
        }
      }
    },
    "videoTrainability": {
      "methods": {
        "get": {
          "id": "youtube.videoTrainability.get",
          "parameterOrder": [],
          "flatPath": "youtube/v3/videoTrainability",
          "response": {
            "$ref": "VideoTrainability"
          },
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "parameters": {
            "id": {
              "location": "query",
              "type": "string",
              "description": "The ID of the video to retrieve."
            }
          },
          "path": "youtube/v3/videoTrainability",
          "description": "Returns the trainability status of a video.",
          "httpMethod": "GET"
        }
      }
    },
    "abuseReports": {
      "methods": {
        "insert": {
          "id": "youtube.abuseReports.insert",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl"
          ],
          "flatPath": "youtube/v3/abuseReports",
          "response": {
            "$ref": "AbuseReport"
          },
          "request": {
            "$ref": "AbuseReport"
          },
          "httpMethod": "POST",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            }
          },
          "path": "youtube/v3/abuseReports",
          "description": "Inserts a new resource into this collection."
        }
      }
    },
    "channelBanners": {
      "methods": {
        "insert": {
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.upload"
          ],
          "response": {
            "$ref": "ChannelBannerResource"
          },
          "flatPath": "youtube/v3/channelBanners/insert",
          "id": "youtube.channelBanners.insert",
          "parameterOrder": [],
          "httpMethod": "POST",
          "path": "youtube/v3/channelBanners/insert",
          "description": "Inserts a new resource into this collection.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The actual CMS account that the user authenticates with must be linked to the specified YouTube content owner.",
              "type": "string",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "type": "string",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel."
            },
            "channelId": {
              "description": "Unused, channel_id is currently derived from the security context of the requestor.",
              "type": "string",
              "location": "query"
            }
          },
          "mediaUpload": {
            "accept": [
              "image/jpeg",
              "image/png",
              "application/octet-stream"
            ],
            "maxSize": "6291456",
            "protocols": {
              "resumable": {
                "multipart": true,
                "path": "/resumable/upload/youtube/v3/channelBanners/insert"
              },
              "simple": {
                "multipart": true,
                "path": "/upload/youtube/v3/channelBanners/insert"
              }
            }
          },
          "supportsMediaUpload": true,
          "request": {
            "$ref": "ChannelBannerResource"
          }
        }
      }
    },
    "playlists": {
      "methods": {
        "list": {
          "httpMethod": "GET",
          "path": "youtube/v3/playlists",
          "description": "Retrieves a list of resources, possibly filtered.",
          "parameters": {
            "onBehalfOfContentOwner": {
              "location": "query",
              "type": "string",
              "description": "*Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwner* parameter indicates that the request's authorization credentials identify a YouTube CMS user who is acting on behalf of the content owner specified in the parameter value. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and get access to all their video and channel data, without having to provide authentication credentials for each individual channel. The CMS account that the user authenticates with must be linked to the specified YouTube content owner."
            },
            "channelId": {
              "location": "query",
              "type": "string",
              "description": "Return the playlists owned by the specified channel ID."
            },
            "pageToken": {
              "type": "string",
              "description": "The *pageToken* parameter identifies a specific page in the result set that should be returned. In an API response, the nextPageToken and prevPageToken properties identify other pages that could be retrieved.",
              "location": "query"
            },
            "hl": {
              "type": "string",
              "description": "Return content in specified language",
              "location": "query"
            },
            "onBehalfOfContentOwnerChannel": {
              "location": "query",
              "description": "This parameter can only be used in a properly authorized request. *Note:* This parameter is intended exclusively for YouTube content partners. The *onBehalfOfContentOwnerChannel* parameter specifies the YouTube channel ID of the channel to which a video is being added. This parameter is required when a request specifies a value for the onBehalfOfContentOwner parameter, and it can only be used in conjunction with that parameter. In addition, the request must be authorized using a CMS account that is linked to the content owner that the onBehalfOfContentOwner parameter specifies. Finally, the channel that the onBehalfOfContentOwnerChannel parameter value specifies must be linked to the content owner that the onBehalfOfContentOwner parameter specifies. This parameter is intended for YouTube content partners that own and manage many different YouTube channels. It allows content owners to authenticate once and perform actions on behalf of the channel specified in the parameter value, without having to provide authentication credentials for each separate channel.",
              "type": "string"
            },
            "maxResults": {
              "format": "uint32",
              "description": "The *maxResults* parameter specifies the maximum number of items that should be returned in the result set.",
              "minimum": "0",
              "default": "5",
              "type": "integer",
              "maximum": "50",
              "location": "query"
            },
            "mine": {
              "type": "boolean",
              "description": "Return the playlists owned by the authenticated user.",
              "location": "query"
            },
            "part": {
              "description": "The *part* parameter specifies a comma-separated list of one or more playlist resource properties that the API response will include. If the parameter identifies a property that contains child properties, the child properties will be included in the response. For example, in a playlist resource, the snippet property contains properties like author, title, description, tags, and timeCreated. As such, if you set *part=snippet*, the API response will contain all of those properties.",
              "type": "string",
              "required": true,
              "repeated": true,
              "location": "query"
            },
            "id": {
              "repeated": true,
              "location": "query",
              "type": "string",
              "description": "Return the playlists with the given IDs for Stubby or Apiary."
            }
          },
          "id": "youtube.playlists.list",
          "parameterOrder": [
            "part"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtube.readonly",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "response": {
            "$ref": "PlaylistListResponse"
          },
          "flatPath": "youtube/v3/playlists"
        },
        "update": {
          "response": {
            "$ref": "Playlist"
          },
          "flatPath": "youtube/v3/playlists",
          "scopes": [
            "https://www.googleapis.com/auth/youtube",
            "https://www.googleapis.com/auth/youtube.force-ssl",
            "https://www.googleapis.com/auth/youtubepartner"
          ],
          "id": "youtube.playlists.update",
          "parameterOrder": [
            "part"
          ],
          "path": "youtube/v3/playlists",
          "description": "Updates an existing resource.",
          "parameters": {
            "part": {
              "description": "The *part* parameter serves two purposes in this operation. It identifies the properties that the write operation will set as well as the properties that the API response will include. Note that this method will override the existing values for mutable properties that are contained in any parts that the request body specifies. For example, a playlist's description is contained in the snippet part, which must be included in the request body. If the request does not specify a value for the snippet.description property, the playlist's existing description will be deleted.",
              "location": "query",
              "repeated": true,
              "required": true,
[...]
